[2022-06-22 20:15] IPWright83 commented on #20524
I've got the same problem, I have no `tsconfig.json` as I'm not using TypeScript.

[2022-06-22 21:06] Maleckidd opened #22461 "Migration Helper loads endlessly"
### Current behavior

Hi! After update to latest version 10.2.0 (from 9.1.0) and run 'cypress open', I have clicked button 'Continue to Cypress 10', Migration Helper have been shown, but it's loading endlessly (screenshot).  There is no errors in terminal or cypress window
Here is my repo: https://github.com/Maleckidd/CypressExample-OWASPJuiceShop
![image](https://user-images.githubusercontent.com

[2022-06-22 21:11] #21962 closed

[2022-06-22 21:26] #22332 closed

[2022-06-22 22:07] mjhenkes commented on #22419
This may be fixed by #22460

[2022-06-22 22:26] DanielYang-AT opened #22463 "Search cannot find paths with filenames"
### Current behavior

When searching in the Cypres UI for a file, if the full path is used, Cypress cannot find the file. When just the folder is searched, Cypress can find the files. Also, if just the filename is used as a search parameter, then Cypress can find the test file.

For example

`cypress/e2e/spec.cy.js` -> will not be found

`cypress/e2e/` -> will not find any results

`cypress/e2e` -

[2022-06-22 22:33] tomdelahaba commented on #22352
Same problem on my side. I tried "all" possible solutions they advice everywhere, nothing worked. Tried multiple codes, nothing...

My particular problem (seems similar to yours) is that I have canvas in which I am rendering something and turning it all around based on mousemove actions. But the cypress mousemove is triggering just once so even if you set the locations by 12378123987px far away, i

[2022-06-22 22:35] chrisui commented on #22397
I may have jumped the gun on my fix that worked - possibly a version mismatch which would validate @smmccabe saying this has been a regression.

[2022-06-22 22:42] emilyrohrbough commented on #22416
@Deop Thanks you for opening this issues. The behavior you are describing is intended behavior for `cypress open` as it's intended to be used by developers to quickly make component/application changes and write tests to verify their component/app is working as intended.

If you'd prefer to by-pass this behavior, you can leverage `cypress run --headed --no-exit` to view your tests run without pick

[2022-06-22 22:42] #22416 closed

[2022-06-22 22:46] tomdelahaba commented on #6955
I have the same, trigger coordinates mismatch with option client coordinates. option coordinates seems to always be centered in the screen while trigger coordinates works.

Another problem is that if you will look into the options that cypress is showing, in your case the trigger mousedown, object{17}, if you pass just clientX, clientY, they are being transcripted into clientx clienty....

[2022-06-22 23:12] emilyrohrbough commented on #20897
@alyssa-glean Based on the information provided in this thread that the browser instance is running out of memory due to a build up of unresolved requests, I have a suspicion this open PR (#22460) will either resolve your issue and/or greatly reduce this problem. We are prioritizing this PR. Once released, would you mind trying it out to see if your issue has been fixed?

[2022-06-22 23:42] #21686 closed

[2022-06-22 23:47] lmiller1990 commented on #22352
Hi, just saw this issue. I worked on a drawing app using canvas and was able to test it using Cypress a long time ago and had some similar problems (in that it wasn't as simple as automating a regular website with Cypress).

I don't know if I still have access to the source, but I remember this was a bit painful to set up. I tried both Playwright and Nightwatch, and couldn't get either to work, ha

[2022-06-23 00:54] lmiller1990 commented on #22371
I talked to @astone123 and have assigned this one to him. We will fix it. In the meantime, installing react and react-dom in your project should let you progress (most react projects should have these already).

[2022-06-23 00:59] lmiller1990 commented on #22208
@gvocale can you see if the same thing happens in chrome?

There are some other issues that look like they'll be fixed when we update to Electron 19 - this might be one of them. If Chrome has the same problem, we will know it's not related to Electron, and can dig deeper.

[2022-06-23 01:04] OliverJAsh opened #22465 "@cypress/webpack-preprocessor: missing type dependencies and other type errors"
### Current behavior

Reduced test case: https://github.com/OliverJAsh/cypress-10-ts-errors

This is a brand new Cypress project using the latest version of all libraries.

Run `yarn` and then `tsc`.

Result:

[code]

I attempted to workaround these errors by installing some of the missing type dependencies: https://github.com/OliverJAsh/cypress-10-ts-errors/commit/0e602ffe9a4d89372e68c06e849d12fa

[2022-06-23 01:42] rockhold opened #22466 "Improve Cypress App error handling when the dashboard's recording service is unavailable"
### What would you like?

When the Cypress app runs, it reports errors to ```/exceptions``` in ```cypress-api```. When the recording service is unavailable, exceptions (in particular ```RangeError: Maximum call stack size exceeded```) gets POSTed so often that Sentry throttles us.

### Why is this needed?

If event quotas are exceeded and Sentry throttles us, we lose events that may be more valuab

[2022-06-23 01:44] rockhold commented on #22466
I'm logging this as an enhancement to our error handling with the intent of landing on an intelligent way to log errors in these situations without overwhelming the endpoint and our Sentry quotas. As this impacts our collective ability to respond to incidents, I'm also labeling it a high priority.

I'm not familiar with what options may have also been explored as far as error quota management is c

[2022-06-23 02:19] AtofStryker commented on #22380
We are going to work to get something together hopefully within the next few weeks that works on Electron v19 that may confirm that it fixes the issue. It does seem weird that the issue does happen intermittently, almost like a CI box has some stale dependencies. @emilyrohrbough has a bit of a hunch that openSSL (I guess in this case boringSSL) might be out of date, which is causing the buffer clo

[2022-06-23 02:21] AtofStryker commented on #22380
Even if it is an intermittent reproduction it could be really useful. As long as we can hopefully see the error 😄 . And it completely goes away when you are running Chrome? What version of chrome is being used that completely eliminates the problem?

[2022-06-23 02:31] lmiller1990 commented on #22235
I'd be careful using `self` as a variable name - it's already defined globally on `window`, see [here](https://developer.mozilla.org/en-US/docs/Web/API/Window/self).

I tried to reproduce by adding the code snippet to the test for our rewriter: https://github.com/cypress-io/cypress/blob/56234e52d6d1cbd292acdfd5f5d547f0c4706b51/packages/proxy/test/unit/http/util/regex-rewriter.spec.ts#L9 but no luc

[2022-06-23 02:44] #22370 closed

[2022-06-23 04:07] emilyrohrbough commented on #22401
@Rishyab Can you please provide more information? A small reproducible example would be helpful for investigation what setup you are working with and how it appears to have been impacted from 9.7 to 10.1.

[2022-06-23 04:21] emilyrohrbough commented on #22348
@kc2112 This appears to be a duplicate of #22081 which has been addressed in Cypress `v10.0.3` which was released on 6/3/2022. Please use a later Cypress version.

[2022-06-23 04:21] #22348 closed

[2022-06-23 04:23] Fgerthoffert commented on #17627
@mjhenkes The challenge with that particular issue is that it's very very difficult to get to the root of what's happening and get a reproducible scenario.

We ran into a bunch of dead ends when we tried to debug the issue on our codebase, I hope it's not becoming the same here.

Anyway, I did went and ran a bunch of tests, trying to pinpoint the culprit commit, here are the results (incl. links t

[2022-06-23 04:27] mschile commented on #22115
Hi @charnism, we are actively working on Microsoft login though I don't have an exact timeline of when it will be completed.

[2022-06-23 04:32] AaronMcCloskey opened #22467 "'JQuery' is not defined."
### Current behavior

In `commands.ts` trying to get the type `JQuery` returns an eslint error

[code]

<img width="1235" alt="Screenshot 2022-06-23 at 05 11 51" src="https://user-images.githubusercontent.com/20436343/175207467-60dcbdde-2e73-4227-8698-f7c6f59c18ea.png">

### Desired behavior

The `JQuery` type gets defined.

It definitely exists as a type as you can see from the screenshot above,

[2022-06-23 04:57] achs0 opened #22468 "cypress verify: Cypress failed to start. Command was killed with SIGABRT (Aborted)"
### Current behavior

Hello,
i am trying to install cypress on a VPS-Server (Strato V-Server linux) and get a SIGABRT error after installation on the cypress verify command. Also other cypress command get that error.
I installed all needed dependencies, but i still get always a SIGABRT error.
I tried it with cypress 9.7.0 and 10.1.0.

node version v16.15.1
npm version 8.11.0
os: Ubuntu 20.04.4 LTS

[2022-06-23 05:03] lmiller1990 commented on #22391
Right, I understand better now. When I suggested serving the extension locally, what I had in mind was that your extension is basically a mini web app (which it is, looks like a React app):

![image](https://user-images.githubusercontent.com/19196536/175200759-39aa675e-000f-4513-908c-9f80490528d1.png)

When I've made complex web extensions before, I've tested them by starting the dev server (eg `y

[2022-06-23 05:06] mschile commented on #21476
Hi @pedrocarloto, we have https://github.com/cypress-io/cypress/issues/21474 logged to solve Google Auth.

[2022-06-23 05:07] emilyrohrbough commented on #22396
@gajus Thank you for opening an issues in regards to `cy.session()`. I have worked in the session code for a bit now and have not seen the behavior with the tests. 😢  Could you provide more information on the code you provided to reproduce this issue? A fully reproducible example would be best.
- Can you share what the `cy.registerNewTestUser()` custom command does?
- Is `cy.visit('/me')` a placeh

[2022-06-23 05:22] lmiller1990 commented on #22422
Hi! 10/10 issue, very clear and reproduction works as expected, so thanks!

I created a PR showing you how to fix this: https://github.com/efossvold/cypress-component-vite-issue/pull/1

If you are importing files outside the root where Vite is running (eg, you want to reach up into `../utils`, you need to tell Vite it's okay to reach above the current working directory. Here's how: https://vitejs.

[2022-06-23 05:41] emilyrohrbough commented on #22408
@VacantFuture Can you try running `apt-get install libcups2` to see if you have a missing dependency on your system? We may need to update the documentation.

[2022-06-23 05:48] lmiller1990 commented on #22397
Interesting, I will dig into this one tomorrow. One thing we changed from 9.x to 10.x was adding the `exports` field in `package.json`, I wonder if this is related?

https://github.com/cypress-io/cypress/blob/develop/cli/package.json#L119-L143

Thanks for the info @smmccabe, I'll verify on my end if it's a regression just to be sure - if so, that narrows the surface area down quite a bit, which is

[2022-06-23 05:56] Jacek-fstack opened #22470 "Github actions won't run on cypress 10.2"
### Current behavior

[code]
This is what I'm getting - is it misconfig on my part or is the new cypress not working with GHactions?

### Desired behavior

_No response_

### Test code to reproduce

just can't run it

### Cypress Version

10.2

### Other

_No response_

[2022-06-23 06:14] hinogi commented on #22390
The path alias yes but the spec files are found by cypress itself, it is about spec files

[2022-06-23 06:34] verheyenkoen commented on #22380
I guess you could just fork [our repo](https://github.com/ugent-library/lludss-interface-tests/) then. It's public code and runs against a public website. Just create another Cypress dashboard project, change the projectId and configure the secure record token.

[2022-06-23 06:59] ferlopezcarr commented on #22297
Good solution, keep 10.0.3 at the latest stable version in Windows.

[2022-06-23 07:19] #22470 closed

[2022-06-23 07:28] MarvAmBass commented on #22064
Update from my side:

10.2.0 seems to have fixed it! I just ran into a verification timeout, which I was able to solve using the Timeout Environment Variable (increased the timeout)

thanks!

[2022-06-23 07:36] efossvold commented on #22422
Perfect! This fixed the issue. It's been a few weeks since I used Cypress so it may be that I upgrade in the meantime, and that, as you say, Vite has become more restrictive with file system access. Anyway, Cypress and Vite are running smoothly together now. Thank you!

[2022-06-23 07:36] #22422 closed, assigned to lmiller1990

[2022-06-23 08:37] i-bajrai opened #22472 "Ability to always see the HTML/page when a 500 or other failing status happens"
### Current behavior

An important part of TDD is being able to see the erro the test is causing, however this screen while it tells me there is an issue doesnt give me an immediate actionable item.

This is the display after `click`ing a broken page what I would like is the same display as `failOnStatusCode: false` when using `visit()`.

Is there a way to set this globally or on per spec basis?

[2022-06-23 08:41] laerteneto commented on #22086
I found a workaround for the open mode. If you copy your URL form other Chrome based browser when it opens (for example yourURL/__/#/specs) and paste it in Firefox while it is trying to connect, it will connect. Unfortunately, this workaround is restricted to the open mode.

[2022-06-23 08:55] Rishyab commented on #22401
We have automated react application using cypress.

While loading our application (using cy.visit()), we use option onBeforeLoad to set a property initialState on window object.

We use this initialState property to set initial state of page (ie. page is loaded with preloaded data in redux store).
This mean the page loads we pre-populated data provided in fixture.

Till Cypress 9.7 option onBefore

[2022-06-23 08:58] alyssa-glean commented on #20897
That's great, we'd be happy to try it out and report back. Note that something like this issue was affecting us back on 6.80 & 7.7.0, but it's possible that was something different with the same symptoms (we didn't have as many diagnostics back then to properly see what was happening).

Hopefully that memory leak fix will alleviate some of the problems we're seeing! :pray:

[2022-06-23 09:11] dmolin opened #22474 "Running multiple tests in the Cypress UI: we want this back!"
### What would you like?

With previous versions of Cypress (9.x) it was possible to open the UI, filter the tests we were interested in and then "run" all those tests with a single click of a button.

With the new interface there's no possibility to select, as an example, an entire folder (or just the result of the search) and ask Cypress to "run" all those tests. that feature seems to have gone.

[2022-06-23 09:28] kasbah commented on #22391
Hey, it is the right code base indeed. It can currently take 3 seconds to [register with the page](https://github.com/kitspace/1clickBOM/blob/12910e6dbfa46318b613ecfa8e0ee312b1f155bd/src/common/js/kitspace.js#L3-L6) which is why you aren't getting to the right page. You need to wait just over 3 seconds before clicking the button.

I realise that the way this extension currently works has some prob

[2022-06-23 09:43] FrancoisCamus commented on #22474
Yep! I just upgraded and that's the first thing I wanted to do. Where is the run all tests?

[2022-06-23 09:47] dmolin commented on #22474
For me it's not even the biggest issue @FrancoisCamus : did you notice the issue with the search? https://github.com/cypress-io/cypress/issues/22463

[2022-06-23 11:18] jesusmsr opened #22475 "Cypress freezes completely when an ajax request is called in the test"
### Current behavior

I have a button which calls a Javascript function, which launches an ajax request with async = false. When I call .click() on this button, the Cypress runner just completely freezes, I can't click anything on it and I have to close it and open it again.
Also, in my tests I have an interceptor which sets a header required in my application.

### Desired behavior

The Ajax call

[2022-06-23 11:26] baus opened #22476 "Investigate and document work to be done on Create from Vue Component"
### What would you like?

We started some work on create from Vue Component, but felt it was ready for the Beta release of CT. This feature will be needed for GA, so we should investigate and document the remaining work as a tech brief.

### Why is this needed?

Great simplify the onboarding experience of Component Testing users.

### Other

_No response_

[2022-06-23 13:08] jst1102 opened #22478 "BlockHosts Not Working In V10+"
### Current behavior

We are still getting xhr's from hosts in the blockHosts

### Desired behavior

BlockHosts should block hosts / not be in xhr sections of tests

### Test code to reproduce

const { defineConfig } = require("cypress");

module.exports = defineConfig({
  viewportWidth: 1920,
  viewportHeight: 1080,
  blockHosts: [
    "*.google-analytics.com",
    "*.googletagmanager.com",
    "

[2022-06-23 13:34] mjhenkes commented on #22453
Closing as duplicate of #2367

[2022-06-23 13:34] #22453 closed

[2022-06-23 13:36] emilyrohrbough commented on #22475
@jesusmsr Thank you for logging an issue. This appears to be a duplicate of #22394 so I am going to close this issue. Can you please add this information to that ticket so all the info is in one place?

[2022-06-23 13:36] #22475 closed

[2022-06-23 13:55] jesusmsr commented on #22394
This happens to me also. This is my ajax function:
[code]
And this is my interceptor:
[code]
As reported above, the request stays at pending and the test runner freezes completely, I cannot click anything and I have to close it.
I'm using Cypress v10.2.0

![imagen](https://user-images.githubusercontent.com/82810705/175316565-088e3621-5bf6-49fe-bf67-6fe2fc5febed.png)

[2022-06-23 14:25] pstakoun commented on #21387
@jwedel I'm curious to learn why you need both browsers in a single run, rather than using our provided [grouping mechanism](https://docs.cypress.io/guides/guides/parallelization#Grouping-test-runs) via `--group` to combine multiple runs on browsers into a single run. Alternatively, would it be suitable to simply run something like `cypress run --browser chrome && cypress run --browser firefox`?

[2022-06-23 14:28] muralinaidud commented on #22453
Hi @mjhenkes why did you close this defect ?

This is not a duplicate, #2367 is related to logon issue with cypress into Sales Force application

But my issue is, cypress runner pane is disappearing after logging on to sales force using cypress script

[2022-06-23 14:39] pcdavid commented on #8759
I just had the same error under Linux (node 16.10.0, cypress 9.4.1):

[code]

In my case this was because my test was importing '@testing-library/react' but it was not installed in my `node_modules`.
It seems the module resolution logic tries (recursively) all parent directories, up to the root  of the disk, but crashes badly when it finds a broken symbolic link somewhere during this search. The o

[2022-06-23 14:42] tbiethman commented on #22353
There is definitely a slowdown here. Running your `picasso` tests, I see that:

* CT tests on commit [f692ca02](https://github.com/toptal/picasso/commits/f692ca02) (with Cypress 10.1.0) take about **~200s**
  * Command used: `yarn test:setup cypress run --component`
* CT tests on commit [b90712743a](https://github.com/toptal/picasso/commits/b90712743a) (with Cypress 9.7.0) take about **~80s**
  *

[2022-06-23 14:46] Chili82 commented on #22419
Thanks, is this fix available in 10.2.0?

[2022-06-23 14:56] tbiethman commented on #22076
@PeerWitthoeft @rachelruderman had suggested this in a comment above:

Were you able to give that a try?

[2022-06-23 15:05] chrisbreiding opened #22479 "Handle cross-origin document.cookie"
The [cross-origin cookie handling](https://github.com/cypress-io/cypress/pull/22320) currently handles setting/getting cookies via http requests, but cookie setting/getting in-browser via `document.cookie` does not work if the AUT is on a different origin than top.

Need to monkey-patch `document.cookie` and override its setter and getter, so that it simulates what it would do if the AUT was run i

[2022-06-23 15:11] TatyCat commented on #18919
@JohnLukeBentley You're welcome.

[2022-06-23 15:26] webia1 commented on #14968
sorry, I've seen it now, no, no solutions yet,..

[2022-06-23 15:45] IlCallo commented on #22390
Adding a bit more context: @hinogi is trying to add support for Cypress 10 into our Cypress App Extension
You can find the draft PR here: https://github.com/quasarframework/quasar-testing/pull/259

[2022-06-23 15:48] Benedict-Lojewski commented on #22474
Same thing here. It's a pain to test if all tests are running. Especially if you have more than 50 tests. CI works too but sometime you won't go to the screenshots folder to see the error happen. I wan't it real time and see when some code is broken or the sites crashes.

[2022-06-23 15:57] chris-aeviator commented on #19337
for me this appears when my cypress compilation (due to a wrong import in a file that I'm not currently opening) contains an error. It disappears if I fix the error (cypress 9.6)

[2022-06-23 16:04] astone123 opened #22480 "Address skipped tests in run_plugins_spec and run_spec in server package"
All/most of the tests in the following files are disabled

https://github.com/cypress-io/cypress/blob/efede20d9ed1222139a68c4b6002d59abd872e8f/packages/server/test/unit/plugins/child/run_plugins_spec.js

https://github.com/cypress-io/cypress/blob/f669c101e13a40722b53e9556792b54dae9abbf2/packages/server/test/unit/modes/run_spec.js

We need to make sure that this coverage exists somewhere and if it

[2022-06-23 16:26] tbiethman commented on #22425
@phDoll thank you for the report. Can you confirm what your config looked like previously with 9.7?

With 10.x , `baseUrl` is no longer supported in the root of the config object; it must be provided under the individual testing type keys (`e2e` or `component`).

I'm curious if you see a difference with those entries moved outside of your setupNodeEvents function:

[code]

[2022-06-23 16:29] dmolin commented on #22474
don't tell me @Benedict-Lojewski ! We've more then 200 E2E tests here and we're just starting converting our old ones!

[2022-06-23 16:33] BlueWinds commented on #21124
Going to close as duplicate of https://github.com/cypress-io/cypress/issues/17853. We should hopefully have a patch release out to address it today or tomorrow.

[2022-06-23 16:33] #21124 closed

[2022-06-23 16:35] #17853 closed

[2022-06-23 16:50] nagash77 opened #22482 "UI icon to determine if testIsolation was on/off during test"

[2022-06-23 16:51] Izzy1127 commented on #9075
Hi
I am also having the issue when automating multiple text boxes in same page.however cy.get('selector').clear().type() did not work for me.can someone help me with this. Appreciate your response.

[2022-06-23 17:01] phDoll commented on #22425
@tbiethman thanks for your investigation. I changed the config as you proposed but it did not make a difference.

The 9.7 config.json looked like this:
[code]

[2022-06-23 17:02] nagash77 opened #22484 "Alias State Honors Isolation Flag Setting"

[2022-06-23 17:04] nagash77 opened #22485 "Persist Clock State"
Honor test isolation config setting to determine when/if to reset clock between each test

[2022-06-23 17:07] nagash77 opened #22486 "Persist Intercepts State (routes and intercept)"
Honor test isolation config setting to determine when/if to reset routes and intercepts between each test

[2022-06-23 17:18] astone123 opened #22487 "Address skipped tests in project_spec in server package"
All/most of the tests in the following file are disabled

https://github.com/cypress-io/cypress/blob/e7efc10aed0156ce48d85507f3c4f60063f069cb/packages/server/test/unit/project_spec.js#L25%7Csmart-link

We need to make sure that this coverage exists somewhere and if it doesn't create those tests and delete these ones. If the tests are completely irrelevant then they need to be deleted.

This issue

[2022-06-23 17:19] astone123 opened #22488 "Address skipped tests in server_spec in server package"
### What would you like?

All/most of the tests in the following file are disabled

https://github.com/cypress-io/cypress/blob/6f2bccebd59aa8d26b9b0ae3d3a5326e2feea467/packages/server/test/unit/server_spec.js#L42%7Csmart-link

We need to make sure that this coverage exists somewhere and if it doesn't create those tests and delete these ones. If the tests are completely irrelevant then they need to

[2022-06-23 17:40] astone123 opened #22490 "Address skipped tests in electron_spec in server package"
### What would you like?

There's a large test suite in the following file that is skipped

https://github.com/cypress-io/cypress/blob/f7e38c03e1b0372ba538698cef64a68f22a76b2e/packages/server/test/unit/browsers/electron_spec.js#L497%7Csmart-link

We need to make sure that this coverage exists somewhere and if it doesn't create those tests and delete these ones. If the tests are completely irreleva

[2022-06-23 17:45] #21470 closed

[2022-06-23 17:45] astone123 opened #22491 "Address skipped tests in plugins/index_spec in server package"
All/most of the tests in the following file are disabled

https://github.com/cypress-io/cypress/blob/47b1f38f621d50b914e1aa2cbce55f93413d85c6/packages/server/test/unit/plugins/index_spec.js#L19%7Csmart-link

We need to make sure that this coverage exists somewhere and if it doesn't create those tests and delete these ones. If the tests are completely irrelevant then they need to be deleted.

This

[2022-06-23 17:47] astone123 opened #22492 "Address skipped tests in preprocessor_spec in server package"
### What would you like?

All/most of the tests in the following file are disabled

https://github.com/cypress-io/cypress/blob/4626f7481c9904fec484aa167a02e0197a3095c4/packages/server/test/unit/plugins/child/preprocessor_spec.js#L9%7Csmart-link

We need to make sure that this coverage exists somewhere and if it doesn't create those tests and delete these ones. If the tests are completely irrelevan

[2022-06-23 17:49] astone123 opened #22493 "Address skipped tests in preprocessor_spec in server package"
### What would you like?

All/most of the tests in the following file are disabled

https://github.com/cypress-io/cypress/blob/110f8ae02dd2b6fd695856aaa77e3b9d96c939dc/packages/server/test/unit/util/settings_spec.js#L13%7Csmart-link

We need to make sure that this coverage exists somewhere and if it doesn't create those tests and delete these ones. If the tests are completely irrelevant then they

[2022-06-23 17:51] astone123 opened #22494 "Skipped tests in packages/server"
There were a bunch of tests that got marked as skipped in the server package during the unification effort. We need to audit these tests and make decisions around whether or not we need to fix them, write different tests, etc.

This epic captures all of the issues related to this effort.

[2022-06-23 17:57] gvocale opened #22495 "Component tests in v10 display only file name"
### Current behavior

In v.9, the table for component tests will show the full path of a file:
<img width="1078" alt="Screen Shot 2022-06-23 at 1 53 17 PM" src="https://user-images.githubusercontent.com/1319291/175363299-5cc17e70-dc41-48e9-a793-4616622582f1.png">

In v.10, the table shows only the file name:
<img width="854" alt="Screen Shot 2022-06-23 at 1 53 40 PM" src="https://user-images.githu

[2022-06-23 18:04] emilyrohrbough commented on #22305
@M-Jyothi Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please re-open this issue with a reproducible example if this persists.

[2022-06-23 18:04] #22305 closed

[2022-06-23 18:15] tbiethman commented on #22438
@nomsokheng thank you for the report. Executing `cypress run` will use your defined `specPattern` (or the default `cypress/e2e/**/*.cy.{js,jsx,ts,tsx}` for e2e tests). to find and queue up the tests to run. When I run tests using 10.2.0, I see that the globbed specs found generally matches the sorting order on the filesystem. What you might be running into is specs in directories, which seem to be

[2022-06-23 18:23] smmccabe commented on #22397
You are correct, the exports need to also specify types, see https://github.com/microsoft/TypeScript/issues/33079 and https://devblogs.microsoft.com/typescript/announcing-typescript-4-7-beta/#package-json-exports-imports-and-self-referencing

example:
[code]

I hacked that in and it worked

[2022-06-23 18:42] tbiethman commented on #22421
Your script is now failing to import what used to be your `cypress.json` file, as it is now named `cypress.config.js` with v10.

Give this a try instead:
[code]

[2022-06-23 18:55] mjhenkes commented on #17627
@Fgerthoffert, First off, thank you for the effort you've put in narrowing down the issue, I had suspected the yarn lock change once I saw it. At this point, what would help the most is if you could help me get my fork of your repo building in CI such that I can start debugging what dependencies in the yarn lock start causing this issue.

https://github.com/mjhenkes/jcontent
https://app.circleci.c

[2022-06-23 19:21] gvocale commented on #22208
@lmiller1990 running `cypress run --component --browser chrome` fixes it indeed! All tests run correctly!

[2022-06-23 19:25] emilyrohrbough commented on #22420
@annaFW123 To ensure I am looking into the same issue you are having, can you share your docker setup/command you are running in jenkins that produced this error?

[2022-06-23 19:32] Askarov5 commented on #1342
Hey, Is there any update on this issue?
Copying cookies leads to another open issue: #16856
Did any have issues after copying cookies, Cypress can't load the page?

[2022-06-23 19:38] Askarov5 commented on #1342
Add puppeteer login as a command and call it in the beforeEach. Cypress automatically[ clears all cookies](https://docs.cypress.io/api/commands/clearcookies) before each test to prevent state from being shared across tests.

[2022-06-23 19:44] ZofiaBajerska commented on #22064
@emilyrohrbough It works :)
Now everything works fine, cypress open and didn't close.
Thanks!

[2022-06-23 20:06] emilyrohrbough commented on #22064
@ZofiaBajerska That's great! I am going to close this. If you run into any other issues, please don't hesitate to open a new issue if one doesn't already exist!

[2022-06-23 20:06] #22064 closed

[2022-06-23 20:15] jscheinhorn commented on #5577
I have seen the on url:changed event handler be flaky.
I have two separate cypress runs of the same test where the video on dashboard shows success in one run (all URLs successfully collected from the "url:changed" event), and another run that fails because it does not gather one of the redirect URLs --even though I can see the redirect URL change in the dashboard video.

[2022-06-23 20:34] emilyrohrbough commented on #22447
@philkawakami Thanks for opening an issue. Based on the information you have shared, it appears your failure is happening because the 'hash' task has not been registered in the `setupNodeEvents` configuration. Please check out the documentation on how to configure this: https://docs.cypress.io/api/commands/task#Usage.

If you ran the Cypress migration workflow, you should have been prompted to upd

[2022-06-23 20:47] emilyrohrbough commented on #22436
@carol-oliveira Could you expand a bit on the steps to reproduce this issue? I don't fully understand the test flow you or what you are trying to achieve.

[2022-06-23 21:13] mjhenkes commented on #22324
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-23 21:13] #22324 closed

[2022-06-23 21:15] mjhenkes commented on #22113
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-23 21:16] mjhenkes commented on #22277
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-23 21:16] #22277 closed

[2022-06-23 21:26] mjhenkes commented on #18919
Closing as a duplicate of #22086

[2022-06-23 21:26] #18919 closed

[2022-06-23 21:27] Fgerthoffert commented on #17627
@mjhenkes To get the environment running on your CircleCI org:
 - Here's a PR with a simpler config: https://github.com/mjhenkes/jcontent/pull/1 This will run tests in the current branch every time you push a change.
 - In CircleCI, create a context, and give it the same name as the context detailed in the `manual-run` workflow. It's currently using `QA_ENVIRONMENT`. Contexts can be created by cli

[2022-06-23 21:58] mjhenkes commented on #22474
Hey all, we definitely hear you and have a open discussion about this issue here. https://github.com/cypress-io/cypress/discussions/21628

[2022-06-23 21:58] #22474 closed

[2022-06-23 22:22] manuelriveragax commented on #16884
Is there an update for this? Facing the same issue

[2022-06-23 22:24] Chili82 commented on #22419
Thank You!

[2022-06-23 23:20] tbiethman commented on #22394
@Donaab thank you for the report, I can reproduce this. The interception of synchronous requests seems to lock up cypress indefinitely. If I don't intercept the synchronous request, the app will hang while the request executes but continues functioning after the request completes. I can also safely intercept the request if I provide a stubbed response.

I also put together a small reproduction as

[2022-06-24 00:51] lmiller1990 commented on #22208
Good to know it's an electron issue. I wouldn't say chrome fixes it - it just avoids it, haha.

We have some work coming soon to update the electron version we use, maybe that will fix this issue. Until then, I'm going to hold off on looking into this. If the electron 19.x bump doesn't fix it, I'll take another look.

[2022-06-24 00:52] lmiller1990 commented on #22397
Nice job debugging this. Would you like to make a PR contributing a fix @smmccabe?

[2022-06-24 01:00] lmiller1990 commented on #22390
Hello @IlCallo! Long time no talk.

I looked at the draft PR but I think I'm still missing something.

Can you point me some code that doesn't work (or even make a minimal reproduction)? I looked at the draft PR but I do not see any obvious `@` alias that isn't working. Also, the initial post doesn't include enough:

What should I do to "and a path alias for src pointing to src"? I think I am miss

[2022-06-24 01:46] lmiller1990 commented on #22465
Hi!

I followed [the docs](https://docs.cypress.io/guides/tooling/typescript-support#Configure-tsconfig-json) and got it to compile:

1. `tsconfig.json` in `cypress`
2. Contents:

[code]

Then I ran `yarn tsc -p cypress` and it compiled successfully (into a directory called `cypress/target`.

I'm kind of surprised your demo isn't working though - even if I add `types` to the top level `tsconfig.js

[2022-06-24 01:56] lmiller1990 commented on #22467
This seems specific to something in your configuration - it seems okay for me:

![image](https://user-images.githubusercontent.com/19196536/175446783-67a40bb7-d374-4d55-a2d2-6685cab69851.png)

Are you able to provide a minimal reproduction (including your VS Code plugins, potentially)? This looks like an issue with some combination of tooling, types and IDE plugins.

[2022-06-24 02:51] lmiller1990 commented on #22398
Hi! Interesting, I haven't seen this problem, but all my projects are still on Lerna 3. I will try to reproduce.

As an aside, you might not need to install `@cypress/webpack-dev-server` anymore. As of v10, we ship it with our binary, so you don't need to install it manually. For example I can do this:

[code]

Which is where Cypress installs on linux (same idea, different location on other OSes.

[2022-06-24 03:01] lmiller1990 commented on #22398
I am having trouble reproduction this. Are you able to provide a minimal reproduction with a step-by-step one what to run? I tried to replicate your instructions but no luck - here's my repository: https://github.com/lmiller1990/cypress-issue-22398.

Can look to solve this, but if the alternative (use new configuration, do not install `@cypress/webpack-dev-server` works for you, we might not even

[2022-06-24 03:09] lmiller1990 commented on #22461
Thanks for the reproduction - I confirmed it's happening on linux, too. I will find out the problem and fix it.

[2022-06-24 05:00] sscotth commented on #6423
@[tux-rampage](https://github.com/tux-rampage) That is not accurate. You are referring to support under mainline consumer versions of Windows.

https://techcommunity.microsoft.com/t5/windows-it-pro-blog/internet-explorer-11-desktop-app-retirement-faq/ba-p/2366549

Enterprise channels have another year (May 2023) and LTSC/Server go until Jan 2029.

[2022-06-24 05:11] Dante-dan commented on #22398
Thanks for your answer.

I already remove the `@cypress/webpack-dev-server`, it works for me. And I create [mini repo  to reproduction this](https://github.com/Dante-dan/cypress-issue-22398).

I think that it will be caused by npm register.

[2022-06-24 06:09] lmiller1990 commented on #22403
Hi! Can you share your `cypress.json` please? It looks like a similar issue to https://github.com/cypress-io/cypress/issues/22461. The issue there is the `cypress.json` points to a directory which contains `index.js`, as opposed to the actual file. I'm patching this now, but if that is the problem, you might be able to solve it by just changing `cypress.json` to explicitly point to your `pluginsFi

[2022-06-24 06:12] lmiller1990 commented on #22461
I found the problem. The migration tool is not respecting when `pluginsFile` and `supportFile` point to directories containing `index.js`. I think `pluginsFile` and `supportFile` are supposed to point to files (thus the name) but it looks like, by Node.js default module resolution, directories with `index.js` also worked in Cypress 9.

I'm fixing the migration helper now. You can wait until the pa

[2022-06-24 06:25] lmiller1990 commented on #22065
I thought about this more - I don't see any `cypress.json` files in this issue. It's possible this is a similar issue to https://github.com/cypress-io/cypress/issues/22461 which is fixed https://github.com/cypress-io/cypress/pull/22501. I think both users have ended up finding a way to migrate?

If not, maybe include your `cypress.json`, or check the other issue to see if it's potentially related.

[2022-06-24 06:30] lmiller1990 commented on #22430
Hey, thanks for the bug report - I'll look into this one for you, first thing next week.

[2022-06-24 06:32] zbigniewkalinowski commented on #22421
I tried it before. Cypress migration changed this config file to `cypress.config.ts`
I chenged it to: const `cypressConfig = require('./cypress.config.ts')`
Now i'm getting this:
![obraz](https://user-images.githubusercontent.com/34089686/175476520-bb20d423-ba6e-4ea5-bc7e-b6b272f41d6d.png)

[2022-06-24 06:32] annaFW123 commented on #22420
Hi @emilyrohrbough
Here's the relevant piece of our configuration.

`stage('Loop Deploy and Cypress') {
         agent {
                    docker {
                        image 'pdmlab/jenkins-node-docker-agent:10.21.0'
                        args '-e MAVEN_CONFIG=/tmp/m2 -v /var/run/docker.sock:/var/run/docker.sock -v /etc/passwd:/etc/passwd'
                    }
                }

[2022-06-24 06:44] lmiller1990 commented on #22452
Hey, thanks for pointing this out. I will look into Vite 3 support first thing next week.

[2022-06-24 07:10] #22398 closed

[2022-06-24 07:28] varac opened #22502 "Cypress in docker fails to run with read-only project dir"
### Current behavior

Currently, when using the `cypress/included` docker image and mounting a project dir read-only, cypress fails to run.

### Desired behavior

It should not fail and run the tests. It could issue a warning that it is not able to save screenshots or videos.

### Test code to reproduce

[code]

### Cypress Version

10.2.0

### Other

These issues/PRs might be related, however I w

[2022-06-24 07:31] varac commented on #22502
Interestingly, this seems to only happen in docker. Running is locally (installed with npm) leads to the desired result:

[code]

[2022-06-24 07:33] varac commented on #22502
The use-case is that I want to run cypress in kubernetes, and the project dir is mounted from a readonly configmap.

[2022-06-24 07:38] lmiller1990 commented on #22398
Thanks for the reproduction. Just to clarify, everything is okay now?

I'll still look into it, but if my suggestion has unblocked you, that's great to hear.

[2022-06-24 08:20] kzahozhy commented on #20461
Have faced the same problem

[2022-06-24 08:50] gmashokkumargm opened #22504 "Migration issue - While trying to migrate V10"
### Current behavior

When I click on continue to cypress 10, it just keeps loading the migration helper page.

### Desired behavior

Cypress should let me know the changes in the config file.

### Test code to reproduce

Update cypress from V7 to V10
Run: npx cypress open
Click continue to cypress 10

### Cypress Version

10.2.0

### Other

_No response_

[2022-06-24 08:51] gmashokkumargm commented on #22504
<img width="1219" alt="Screenshot 2022-06-24 at 2 15 15 PM" src="https://user-images.githubusercontent.com/68268604/175500095-81cd7f12-09c7-4afd-af70-a93d01c00858.png">

[2022-06-24 08:52] jessevdp opened #22505 "Component spec file not found by runner (runner uses full path?) - GET /__cypress/iframes/... 404"
### Current behavior

When component testing, Cypress does not seem to be able to load the spec file contents. Cypress does list my spec file, but when I click to run it it keeps infinitely loading.

URL in my Cypress window:

[code]

What I see in my console:
[code]

Perhaps this has something to do with the fact that it seems to attempt to load a full path, starting from the root `/Users` direct

[2022-06-24 08:52] denieler commented on #22059
what about Cypress Component Tests? It doesn't seem that it can be solved as simple as adding `cypress.config.ts` to `tsconfig.json` `exclude` 🤔

[2022-06-24 09:47] larsk2009 commented on #22372
Sorry, you are right. I was not doing `cypress run` but `cypress open`. I have no issues with the `cypress run` variant as that indeed doesn't pass the URL. I could make a separate target like you suggested for component testing, but that would open the same UI as for e2e testing, but e2e testing just wouldn't work. I think that is a bit confusing, but if you consider that outside the scope of cyp

[2022-06-24 09:50] DlgSHi commented on #22375
@lmiller1990 will provide a feedback - I have everything migrated :) so will see

[2022-06-24 09:51] frontendflorian commented on #6518
I saw this issue in last 2 weeks twice with Cypress `v9.7.0` and Firefox `v101` in CI. Is this thread still up to date? Are there any other issues you can recommend for solving this issue? I already checked out #7450, but it seems to be mainly about Chrome.

[2022-06-24 10:30] robrich7 opened #22506 "Cypress 10.x.x hangs under Linux + Docker using cypress/included:10.2.0"
### Current behavior

Hello all,

we have the problem that Cypress local runs without problems. All tests are executed and the test run includes all test specs.
If we run the same code in a pipeline with the Docker image and Pipeline integration , it doesn't work anymore.
The problem is that Cypress doesn't do anything anymore except logging the CPU usage even though there are still test specs and

[2022-06-24 10:34] pontilicious commented on #19821
i've said that this issue is fixed with the above comment.
So i made a new Issue: https://github.com/cypress-io/cypress/issues/22506

[2022-06-24 10:35] #19821 closed

[2022-06-24 10:49] Qhristian commented on #22297
https://docs.cypress.io/guides/references/troubleshooting#Clear-Cypress-cache
This little fine guide worked for me on "restoring" the 10.2.0

I'm on windows 11

[2022-06-24 11:44] amartin1984 commented on #22065
I'm fine closing this as is.. I'm running into other problems but I think they are different already open issues.

[2022-06-24 11:44] #22065 closed

[2022-06-24 13:01] jljohnson001 commented on #21832
Hi @jennifer-shehane is this issue still open? If so, happy to take it on.

[2022-06-24 13:42] astone123 opened #22507 "Figure out whether specPattern config option should have default value"
In #22356 we added `specPattern` back to the list of options in `options.ts` so that we could validate that is the correct type. We figured that we should add a default value for the configuration option, but when I try adding it somehow the value ends up as `undefined` in some of our configuration tests.

Things seem to be working fine as in so we're going to leave the `defaultValue` property off

[2022-06-24 13:57] Ilonas1 opened #22509 "ERROR:gpu_init.cc(446)] Passthrough is not supported, GL is disabled, ANGLE is"
### Current behavior

describe('My first simple testy with cypress' () => {
    it('True should be true', () => {
        expect(true).to.equal(false)
    })
})

### Desired behavior

ERROR:gpu_init.cc(446)] Passthrough is not supported, GL is disabled, ANGLE is

### Test code to reproduce

ERROR:gpu_init.cc(446)] Passthrough is not supported, GL is disabled, ANGLE is

### Cypress Version

9.7.0

[2022-06-24 14:48] #22461 closed

[2022-06-24 14:53] pstakoun commented on #22482
I don't think we need this. We don't do anything like this for other config values, etc.

[2022-06-24 14:56] tbiethman commented on #22428
@jeremygiberson thank you very much for the report and the PR reproducing the issue. It is very much appreciated! I gave your branch a pull and verified your findings.

I will leave your PR open until this issue is prioritized so that we can ensure the work you did for us gets included. I am going to mark it as a draft, though, so it doesn't get merged prematurely.

[2022-06-24 15:16] AaronMcCloskey commented on #22467
@lmiller1990 So your response helped me debug this and where the issue is, but I'm unsure on a resolution.

I had created a new barebones project and was still getting the same issue.

So initially, I tried to reload the window extensions disabled and was still getting the error, but I also got as ts error on `global` stating

[code]

When I tried the same project in `VSCode Insiders` I wasn't get

[2022-06-24 15:25] astone123 commented on #22476
https://github.com/cypress-io/cypress/pull/20888

[2022-06-24 15:40] AaronMcCloskey commented on #22467
After a few web searches, I found the solution.

Added

[code]
'@typescript-eslint/no-namespace': ['error', { allowDeclarations: true }],
[code]
module.exports = {
  env: {
    browser: true,
    node: true,
    jest: true,
  },
  extends: [
    'airbnb',
    'airbnb/hooks',
    'eslint:recommended',
    'plugin:prettier/recommended',
    'plugin:cypress/recommended',
    'plugin:@typescript-eslin

[2022-06-24 16:07] rdogmartin opened #22512 "[Angular] Jest tests fail after updating to Cypress 10.2.0"
### Current behavior

After updating from Cypress 9.7.0 to Cypress 10.2.0 in my Angular app, my jest tests are unable to resolve interfaces defined in the cypress folder.

I created the simplest possible repo that shows the issue. It's an empty Angular 14 app with jest 28.1.1 and Cypress 9.7.0.  The jest tests work until you update to Cypress 10.2.0.

### Desired behavior

Upgrading to Cypress 10.

[2022-06-24 16:11] #22495 closed

[2022-06-24 16:19] Anshita-Bhasin commented on #21474
Hi @mjhenkes, Is there any update on Google Oath2 Login (SSO Login)?

[2022-06-24 16:24] smmccabe commented on #22397
already made one just before you posted that :P

[2022-06-24 16:59] emilyrohrbough commented on #21926
This was released in 10.2.0.

[2022-06-24 16:59] emilyrohrbough commented on #21880
This was released in 10.2.0.

[2022-06-24 17:55] Maleckidd commented on #22461
thx, workaround works!

[2022-06-24 18:58] AtofStryker commented on #22380
@verheyenkoen that sounds like a plan! When I get some availability, I am going to give it a shot with forking, setting up CI, and updating configurations. This should give us a reproducible example.

[2022-06-24 20:01] briggsge opened #22516 "Command Line Arguments --env and --config do not override config files"
### Current behavior

From Cypress 8.6.0 to 9.7.0, the following command line execution would override cypress.env.json and cypress.json variables

[code]

Since Cypress 10.x, the same command does not override the cypress.env.json file, but the config file is read in to the new Cypress.config.js file correctly since I set  ```config.env = JSON.parse(fs.readFileSync('./cypress.env.json'));``` in t

[2022-06-24 20:25] pontilicious commented on #22506
In my opinion, this is a really serious mistake. I have picked out tickets that describe the same or a similar problem: https://github.com/cypress-io/cypress/issues/18885

[2022-06-24 20:48] tbiethman commented on #22425
@phDoll That is interesting. Based on your screenshot, it looks like Cypress _is_ connecting to Firefox, but may be failing to load the app. Do you see any errors in the Firefox console log?

It would also be helpful if you launched cypress with the debug logs enabled and provide the output. You can set the `DEBUG=cypress:*` env to enable those.

[2022-06-24 21:08] mjhenkes commented on #22504
@gmashokkumargm, could you provide your cypress.json?

[2022-06-24 21:16] mjhenkes commented on #22338
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-24 21:16] #22338 closed

[2022-06-24 21:30] rklos opened #22518 "Component Testing - Option for loading plugins and modules in NuxtJS"
### What would you like?

For now, component testing in cypress doesn't load up plugins and modules listed in `nuxt.config.js` file when used with NuxtJS framework.

It will be nice if entire nuxt.config.js (or webpack configuration generated from it) is included in test with every (or selected) plugin and module.
If my tests are really "integration tests" then I must have all (or selected most im

[2022-06-24 21:33] mjhenkes commented on #22419
this might be next week.... sorry 😓

[2022-06-24 22:30] jb1mc commented on #789
The issue is present with Cypress v9.4.1 when using Git Bash with VS Code.
![image](https://user-images.githubusercontent.com/59422403/175713641-40e4b854-c986-4f29-aab3-6be327753a0c.png)

[2022-06-24 22:36] badeball commented on #3111
Christ, 3 years and there's still no way to make any meaningful editor extensions. Please, for the love of god, don't misinterpret the original issue as a request for Cypress to do it, you're merely asked to expose more fine-grained control over runner. It's literally a no-brainer and nothing to agonize over.

[2022-06-24 22:44] kc2112 commented on #22348
It's not a straight forward thing.  Our company does not trust anything we have not verified, so to just 'try' a later version takes a lot more time than me doing it on my own.  I submitted a download request through my company and we will get it.  I'm trying to increase adoption of Cypress, but little things like this will make it take a lot longer.

"Patriotism is supporting your country all of

[2022-06-24 22:45] kc2112 commented on #22348
I do appreciate the fast response to this item.....

"Patriotism is supporting your country all of the time, and your government when it deserves it." - Mark Twain
________________________________
From: Matt Henkes ***@***.***>
Sent: Tuesday, June 21, 2022 1:30 PM
To: cypress-io/cypress ***@***.***>
Cc: kc2112 ***@***.***>; Mention ***@***.***>
Subject: Re: [cypress-io/cypress] Cypress 10 attempti

[2022-06-24 23:08] emilyrohrbough commented on #22509
Hi @llonas1 This issue has been logged a few different times at various points. This should not impact Cypress running, rather it is a warning logged by Chromium due to your system setup. It seems like can occur when hardware acceleration is enabled. One suggest that has worked for some can be found [here](https://github.com/cypress-io/cypress/issues/18947#issuecomment-991901414). This appears to

[2022-06-24 23:08] #22509 closed

[2022-06-25 03:38] websitevirtuoso opened #22519 "graphql-tag loader for cypress"
### What would you like?

Hello.
I have problem with getting my gql object in cypress.
I have next setup
[code]

I have next test case
https://gist.github.com/websitevirtuoso/c39b6b817a930b99299d353b83a05afe
Command  - gqlRequest looks like
https://gist.github.com/websitevirtuoso/2c2146eaecae3631421c83633afcb7cc

On line 3 I import gql query
My gql file looks like
https://gist.github.com/websitevi

[2022-06-25 05:02] MiguelNiblock commented on #489
I was looking specifically for how to load yml files. Thank you @jennifer-shehane for documenting this use case. I might be able to create a custom cypress command to load yml files in a simplified manner. Please update this thread should you learn of a better practice/ plugin for reading yml files as fixtures in cypress.

[2022-06-25 05:07] Zach-Costa commented on #22152
I would also like to add on, and I don't know if this is an issue unique to me, but the UI is ridiculously unresponsive when I open it - I need to click the search bar several times for it to actually move focus to it and let me type. Even then, I usually need to click a spec several more times to get it to actually run. I can also pull up the browser window and click the "Focus" button to fix thi

[2022-06-25 10:03] huuminhnguyen1992 commented on #22361
Sorry for the late reply.
@szykov @AtofStryker running as admin does not seem to help unfortunately. However, I do not have problem anymore with cypress 10.2.0. When I downgrade to cypress 10.1.0, the problem returns. I think it is indeed the same problem as #22064 . This is the debug log if you still want to take a look.

`  cypress:cli:cli cli starts with arguments ["C:\\Program Files\\nodejs\\n

[2022-06-25 15:00] OliverJAsh opened #22520 "`cy.visit`: provide access to response"
### What would you like?

I want to write a test that visits a URL and checks two things:

1. Did the response have a specific status code?
1. Did the rendered page include some text?

Unfortunately it seems `cy.visit` doesn't provide access to the response so I can't check the status code. I would need to make another request using `cy.request`, meaning I'd be making 2 requests for the same URL:

[2022-06-25 15:25] MohoiNad commented on #9688
Does this situation changes after v10?
For now we have some different way to config cypress's webpack.

I have similar problem with my repo here: https://github.com/MohoiNad/cypress-issue

So my cypress test failed, but testing library not

[2022-06-25 15:39] MohoiNad opened #22521 "Cypress config with monorepo and rewired cra"
### Current behavior

I have a lerna monorepo with 2 cra's in my repo, where is one a customized by cra-customize and react-app-rewired.

`package-a` includes 2 tests.

One is cypress, second is @testing-library/react

I feel like config-overrides.js are not wotking with cypess, that's why test in red. Can i somehow override the wepback configuration from cypress to same way?
Maybe new cypress.con

[2022-06-25 16:47] ivanhara commented on #6646
@flotwig did you even _try_ your suggestion before closing the issue?
first: is doesn't even work
second: restricting one's browsers is not the same as choosing default browser.

[2022-06-25 18:16] Nazmin1982 opened #22522 "Cypress will not open on my Mac"
### Current behavior

I get this message
[code]
### Debug logs

_No response_

### Cypress Version

9.7

### Package Manager

npm

### Operating system

Mac

### Other

_No response_

[2022-06-25 20:03] lugosium commented on #22251
Keep freezing, about 7-8 times today :(

[2022-06-25 20:54] gvocale commented on #22208
Never mind... seems to fail again on CI....:

[code]

[2022-06-25 21:27] kurushimi0 commented on #7552
Others have mentioned excluding the contents of your cypress folder, in the tsconfig.json file. But if you use a "cypress.config.ts" file to configure recent versions of Cypress, then you need to exclude that file, too, since VS Code will reference the conflicting types via that file if you don't exclude it. So my own project's tsconfig.json file has these three entries in its "exclude" array to r

[2022-06-25 21:51] kaiyoma commented on #22231
@AtofStryker Here is our Dockerfile for e2e testing:

[code]

[2022-06-25 23:20] Songyu-Wang opened #22523 "Allow direct access to os level environment variable"
### What would you like?

I would like a way to directly look up os level environment variables without having to port them in one of the ways mentioned here https://docs.cypress.io/guides/guides/environment-variables#Setting

### Why is this needed?

Currently, our team heavily relies on environment variables to figure out how the test script should behave. A few examples can be: `branch tag`, `i

[2022-06-26 07:56] N1mi1 commented on #136
Hi Cypress team 🙋🏻‍♂️🙂, can you please kindly update about the status of this issue?
I got here from [the docs](https://docs.cypress.io/guides/guides/web-security#Same-superdomain-per-test) and saw it's pending for implementation since 2016.

In my case, I have Stripe Elements to work with, and unfortunately non of the suggested workarounds in this thread worked for me 😢.

In the meantime, if some

[2022-06-26 10:21] ThiloHettmer opened #22524 "Testing vuex store with vue 3 script setup sugar fails"
### Current behavior

When running a vuex test with vue 3 script setup sugar, the test will fail with the following message:

`Timed out retrying after 4000ms: cy.its() errored because the property: $store does not exist on your subject.

cy.its() waited for the specified property $store to exist, but it never did.

If you do not expect the property $store to exist, then add an assertion such as:

[2022-06-26 10:54] liverant commented on #19066
Following @noggin182 [noggin182](https://github.com/noggin182) workaround, the original error disappeared, but my test stuck on load.

I get this error in the terminal don't know if connected: (repeated)
GET /webstore/download/jmdpcpobgmgeffileekledbdphdngeee/package/main/crx/3 401 606.377 ms

I do see a GET request to my test file, but it's just loading forever.

[2022-06-26 12:03] yulev5 commented on #16310
Also here

[2022-06-26 16:30] Sayvai opened #22525 "Cypress 10 | SASS Global Style File Imports Within Next.js - Unable To Run Cypress Component Test"
### Current behavior

After launching Cypress Component Test application for the `Next.js` project, and importing multiple SASS (`.scss`) files from within the `cypress/component.ts` file, then i am unable to run a defined component test within the file `news-aggregator-article.cy.tsx` (link to [file](https://github.com/Sayvai/nextjs-playground/blob/cypress-integration/components/news-aggregator/n

[2022-06-26 20:41] FelipeLahti commented on #21681
Related to https://github.com/cypress-io/cypress/issues/20008 as well

[2022-06-26 22:54] Nazmin1982 commented on #9352
I am in a similar situation I have no idea what to do; nothing is working

Nazminaras-MacBook-Pro:Cypress_Automation-main nazminaraali$  npm install cypress --save-dev

up to date, audited 255 packages in 2s

40 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities
Nazminaras-MacBook-Pro:Cypress_Automation-main nazminaraali$ npm i

up to date, audited 255 packages

[2022-06-27 01:19] lmiller1990 commented on #22391
Thanks for clarifying. I'll try and take another look at this, sometime this week. It seems like there's a few other blockers? I'm not sure I can prioritize this one right now, but I'm definitely interested in the general "testing extensions with Cypress" problem, so I'll try and loop back around to this later this week. Let me know if you come up with anything in the meantime.

[2022-06-27 01:24] lmiller1990 commented on #22208
Can you try the latest Cypress (10.2.0)? This PR landed which might help with memory issues: https://github.com/cypress-io/cypress/pull/22460

[2022-06-27 01:43] lmiller1990 commented on #22465
I copied pasted the `tsconfig.json` from [here](https://github.com/cypress-io/cypress/issues/22465#issuecomment-1165089201) into `cypress` then ran `yarn tsc --project cyperss`. I just realized it was not compiling `cypress.config.ts`, though - so actually, it's not type checking `cypress.config.ts`. :-1:, so disregard my initial comment.

I wonder if `webpack-preprocessor` even needs the `webpack

[2022-06-27 01:53] lmiller1990 commented on #22372
I gave this one some more thought. There's another similar issue here: https://github.com/cypress-io/cypress/issues/22245 which suggest passing `--config baseUrl` is common. I am guessing we want to consider all CLI arguments w.r.t to the selected testing type, for both open and run mode.

If it's useful to you, another way you should be able to dynamically set config is like this:

[code]

Should

[2022-06-27 02:04] lmiller1990 commented on #22297
Seems 10.2.0 has solved this issue for at least one person - can anyone else still experiencing this try updating and doing the above step as recommended by @Qhristian?

Also, we had some issues with windows users with spaces in their username. If you are having this issue and have spaces in your username, please post - I thought this was solved, but perhaps not?

[2022-06-27 02:09] lmiller1990 commented on #22467
Nice job debugging this. I'm going to close this off, since there's no obvious action to be taken in the Cypress repo, but I hope this thread will help someone in the future. It's still not entirely clear what combination of plugins/config actually fixes this, and why it was broken in the first place. :man_shrugging:

[2022-06-27 02:09] #22467 closed

[2022-06-27 02:14] lmiller1990 commented on #22152
@Zach-Costa that sounds horrible, yet unrelated to this issue. It also sounds like a bigger problem than described here, that we should prioritize.

Can you share your browser/OS? I am on Ubuntu with a fairly basic processor + 16GB ram, and the app feels super fast - no problems here - but I have heard whispers of a macOS + chrome specific performance regression on a recently version of Chrome, it

[2022-06-27 02:25] lmiller1990 commented on #22505
Hi! I can help fix this, but I'll need a bit more info to reproduce and work through this.

Can you share your `vite.config.ts` and the versions of `vite` (ideally the entire `package.json`).

Also, it looks like you are importing from a `../../` path. It could be outside where Vite is allowed to serve from - I saw a similar issue here: https://github.com/cypress-io/cypress/issues/22422. You might

[2022-06-27 02:34] #21966 closed

[2022-06-27 02:50] hoguan commented on #22401
We are encountering the same issue on Cypress 10.0.3.

Here is a reproducible example if it helps.

[code]

**Current behavior:**
Produces this logs:
[code]

**Desired behavior:**
[code]

**Versions**
Cypress version: 10.0.3
Browser: Chrome 103
OS: macOS Monterey, Version 12.4

[2022-06-27 05:50] MiguelNiblock commented on #18435
I was having this issue with dynamic imports, and fixed it by using `require` instead

previous:
[code]

solution:
[code]

[2022-06-27 06:54] OliverJAsh commented on #22465
Note that once we fix the missing `bluebird` types I think we'll discover a different problem: https://github.com/cypress-io/cypress/issues/22465#:~:text=However%2C%20now%20I%20have%20a%20different%20error%3A

[2022-06-27 07:10] Quasarman commented on #9447
Hello,

I am facing the same issue as well. I am using cypress 9.0.0 and have currently no intention of downgrading just to solve the stripe problem as this will introduce just some other issues. Also downgrading 4 Major versions seems like a bad thing to do.
Are there any updates on this issue? Is there a way to really test the full checkout flow? like pressing a button to open the checkout windo

[2022-06-27 07:21] rkhomi opened #22529 "URI malformed"
### Current behavior

Getting randomly this error in CI env

URIError: The following error originated from your test code, not from Cypress.

When Cypress detects uncaught errors originating from your test code it will automatically fail the current test.

Cypress could not associate this error to any specific test.

We dynamically generated a new test to display this failure.
    at decodeURIComp

[2022-06-27 07:33] lmiller1990 commented on #22519
The error:

[code]

Did you accidentally type `#import` with a `#`?

I think this is a bug in your configuration. Are you able to share a repository reproducing the example?

We are using GraphQL in this repo actually, via the GraphQL codegen library: https://github.com/cypress-io/cypress/blob/develop/graphql-codegen.yml

I created an in-depth tutorial on GraphQL + Vite here: https://github.com/lm

[2022-06-27 07:37] lmiller1990 commented on #22525
Import scss definitely works, I do it in some projects. We also have tests with Next.js that do it, eg: https://github.com/cypress-io/cypress/tree/develop/system-tests/project-fixtures/next (there is `Home.module.scss`).

I will look into this. Thanks for sharing a reproduction, that's really useful.

[2022-06-27 07:46] lmiller1990 commented on #22521
I think you are right, it is not finding `config-overrides.js`. I haven't had a chance to try your repo yet, but one thing you might find useful is the ability to customise the dev server: https://docs.cypress.io/guides/component-testing/component-framework-configuration#Custom-Dev-Server

Eg:

[code]

Where I wrote "customize it here" you could import your config-overrides and do things there. Th

[2022-06-27 07:55] ninezero90hy commented on #21381
I've same happened. I need to React 18!

@mjhenkes Could you tell me about this issue release plans here?  🙏🏻

[2022-06-27 08:08] lmiller1990 commented on #22524
Hi! Thanks for the reproduction.

You are using E2E testing. We've also got [Component Testing](https://docs.cypress.io/guides/component-testing/writing-your-first-component-test) which might be of interest!

As for your actual observation: I think this is actually the intended behavior of `script setup`. It's "closed by default" and this means you cannot access component properties like this. [Se

[2022-06-27 08:14] jessevdp commented on #22505
Thanks for your quick response!

Unfortunately I can't share my full repo. I might have time to setup a minimal reproduction repo later this week. For now, here's the most important files:

`vite.config.ts`:

[code]

`config/vite.json`:

[code]

`package.json`:

[code]

### Debug output

For structure, I've cut the output into several sections, starting a new one every time I took another action /

[2022-06-27 08:16] ThiloHettmer commented on #22524
Hi,

thanks alot for your explanation and solution! I didn't know that, so I hope I didn't waste too much of your time ;)

[2022-06-27 08:28] salarhfz-fs commented on #419
Same here. Please support Alpine Linux. All of our organization pipelines are on Alpine. It's really necessary.

[2022-06-27 09:42] svelver commented on #22190
Any updates on this?

Please let me know if you need further information as the tag implies. However no further information was request.

[2022-06-27 09:49] kzahozhy opened #22533 "BeforeEach hook is executed several times (for each data set) before each test in the spec with data provider."
### Current behavior

I've noticed  that when I have spec file  with several data sets provided the beforeEach hook is executed several times - for each dataset - before each test in each data set run.
So if we have dataset 1 and dataset2 and test1 and test2 then we have following order of execution:
beforeEach for dataset1 -> beforeEach for dataset2 -> test1
beforeEach for dataset1 -> beforeEach

[2022-06-27 10:53] ginessan commented on #845
Any update? Have tried all the solutions posted here and not of them worked.

[2022-06-27 10:55] jablesyeah opened #24452 "Make grepFilterSpecs work when specPattern has been set in the config"
The grepFilterSpecs only appears to work correctly if the specPattern value is the default value. If the value is changed, by setting it within the config, the grepFilterSpecs no longer works.

example of config:

[code]

With specPattern in config:
Specs:          54 found

Without specPattern in config:
Specs:          17 found

[2022-06-27 11:12] phDoll commented on #22425
Firefox console shows no errors. When I reload the page the only error I get is the failed loading of the favicon.

[fullDebug.log](https://github.com/cypress-io/cypress/files/8991283/cypress.cli.cli.cli.starts.with.argument.log)

[2022-06-27 11:58] larsk2009 commented on #22372
Yeah as a workaround, I just pass anything on the command line that is a valid URL.

[2022-06-27 12:04] GrayVi02 opened #22534 ".crx files?"
### Current behavior

Hello, I package software for my organization. Recently members of one of our organizational units have been unable to use the cypress.io .crx chrome extension due to some workstation hardening policies we put in place recently. Our process now is to package these types of extensions and deploy to each user individually.

I have been unable to find much information about the

[2022-06-27 12:11] Maw-Jung commented on #19540
Thanks for your response @sainthkh !
From the .contains documentation i read that in order to achieve not getting the deepest element we have to pass the selector. In my example i passed the selector for the element i wanted to get, which is a .container. This container in my example is only specified by some text it contains deeper down the tree. This simplified, public example may have been miss

[2022-06-27 12:14] x-yuri commented on #419
@scott-f9 @salarhfz-fs The issue is with [Electron][a], not with Cypress. If you can provide step-by-step instructions on how to build Electron under Alpine Linux that would be a major push in this direction.

[a]: https://github.com/cypress-io/cypress/issues/419#issuecomment-661311049

[2022-06-27 12:43] larsk2009 commented on #22372
I tried your workaround, and it is actually better than I though! That is exactly the behavior I was looking for, thanks!

[2022-06-27 12:54] navdeepdevrepublic commented on #22349
Hi @tbiethman The solution link of Stack Overflow provided by you is of 'Google ReCaptcha' however I have issues with 'hCaptcha', any solution to handle 'hCaptcha'?

[2022-06-27 13:29] Benedict-Lojewski commented on #22522
run this command

`chmod 755 /Users/nazminaraali/Library/Caches/Cypress/9.7.0/Cypress.app/Contents/MacOS/Cypress`

You should be able to install after that.

[2022-06-27 13:38] akauppi commented on #419
To widen the envelope a bit, the browser engine doesn't need to be Electron, right? The original poster doesn't define which engine they want to run.

This comment [mentions}(https://github.com/cypress-io/cypress/issues/419#issuecomment-289461984) it in 2017:

[2022-06-27 13:40] Benedict-Lojewski commented on #22533
Just move the visit inside, because you create dynamic tests. Therefore you don't need a beforeEach.

[code]

[2022-06-27 13:45] baermathias commented on #8655
Was this solved with with version 9.1.1?
https://docs.cypress.io/guides/references/changelog#9-1-1

[2022-06-27 13:56] Fgerthoffert commented on #17627
@mjhenkes, my bad I forgot to replace the snapshot image (which is private) with the release. This should work: https://github.com/mjhenkes/jcontent/pull/2

[2022-06-27 14:35] boligolov commented on #22505
I have same error. First test in test's sequence done OK, but second fails always.

`<pre>Cannot GET /__cypress/iframes/cypress%2Fe2e%2Fapi%2FBlacklistHttpLayer.cy.ts</pre>`

BTW, why cypress encodes path to test? Originally must be 'cypress/e2e/api/BlacklistHttpLayer.cy.ts'.

Vue 2.16
Typescript 4.7.4
Cypress 8.7 | 9.7 | 10

[2022-06-27 14:46] gvocale commented on #22208
@lmiller1990 still running in the issue on electron with `"cypress": "^10.2.0",`

[2022-06-27 14:49] gustavobmichel commented on #22478
I am having a similar behaviour when running on Cypress 10.2 on Windows. As per the docs I can't find the header `x-cypress-matched-blacklisted-host` on my response header. This setting was working fine on Cypress 9+.

[2022-06-27 15:35] andi-dev commented on #8089
@jennifer-shehane I am facing the same issue, "waiting for new page to load" while the download has been visibly finished.

[2022-06-27 16:27] rachelruderman commented on #22190
Hi @svelver, thank you for your patience! We marked this issue as a bug and have forwarded it to be prioritized by the team 😸

[2022-06-27 17:10] darcyadams commented on #21615
I started seeing this warning after upgrading from 8.x to 10.1. Have not found a solution.

[2022-06-27 18:17] Craig1f commented on #22403
@lmiller1990 You got it. Good catch.

I'll close this issue and try to proceed with migration. Any other issues will be a separate ticket.

Thanks!

[2022-06-27 18:17] #22403 closed

[2022-06-27 18:45] Craig1f commented on #20787
Confirmed this is fixed by modifying the auto-generated `component-index..html`, line 10 from:

`<div data-cy-root></div>`
to
`<div data-cy-root id="__cy_root"></div>`

[2022-06-27 19:08] #22524 closed

[2022-06-27 19:10] websitevirtuoso commented on #22519
By documentation gql appol I can do this
https://www.apollographql.com/docs/react/data/fragments/#importing-fragments-when-using-webpack
This is how we import fragments. because this is not js file.
My configuration is good because app works. But I can't use this type of file in cypress.

I will do reproduction repo

[2022-06-27 19:35] muratkeremozcan commented on #9744
Sporadic issue, has been hard to reproduce internally, yet alone get an external repro so that the Cypress team can help. But, I tell you, you will not get help until it is reproduced in an open repo.

[2022-06-27 19:52] nagash77 opened #22539 "Write `cy.origin` integration tests for Paypal"

[2022-06-27 19:57] nagash77 opened #22540 "Write `cy.origin` integration tests for auth0"

[2022-06-27 20:28] nagash77 opened #22541 "Write `cy.origin` integration tests for okta"

[2022-06-27 20:29] nagash77 opened #22542 "Write `cy.origin` integration tests for GitHub"

[2022-06-27 20:31] nagash77 opened #22543 "Write `cy.origin` integration tests for Klarna"

[2022-06-27 20:39] kaiyoma opened #22544 "Cypress migration tool doesn't appear + stack trace in the console"
### Current behavior

I'm currently following the instructions in the migration video and even the simplest steps aren't working. I upgraded from version 9 to version 10.2.0 and ran `npx cypress open`, as instructed. The migration video says that the migration helper will appear in the window, but it does not. Instead, I see the "Configuration Files" screen.

Also, there is a stack trace in the co

[2022-06-27 20:57] hridyanshdugar commented on #2573
Hi am facing the same issue, any helpful workaround?

[2022-06-27 21:06] actionJacksonfv commented on #22297
Yeah I had spaces still come up - I'm on windows 11 and cleared my cache and I still have issues.

[2022-06-27 21:09] #22372 closed

[2022-06-27 21:31] jprealini commented on #1542
@claygriffiths @pabloleone @hhsissi Hi! I see you guys had good results with this (or these) approaches. I have been searching for a solution to this all day until I googled correclty :D and found this information
I am testing a web application built with PHP, and for some fields reordering it's using ui-sortable
Basically, it's a list of fields (divs) inside a main div, and the requirement is to

[2022-06-27 21:56] rockhold opened #22547 "ACI Phase One Fast-Follows"
### What would you like?

Following the release of the first phase of App & Cloud Integration (ACI) capabilities, this epic will encapsulate any fast-follow items that should be addressed shortly after release.

### Why is this needed?

We have some non-blocking but unresolved conversations within the PR for the feature branch which need to be further explored, broken down into issues, and priorit

[2022-06-27 22:11] rkhomi commented on #22529
That spec has correct name, just a regular patter my-featture.spec.ts (it's not exact name just example)
Also that spec passed on retry and failed only once for a long time

I run my testss insidee cypress/browsers:node14.17.6-chrome100-ff98

[2022-06-27 22:13] rkhomi commented on #22529
[code]

However I am using this in plugins.ts due to this issue https://davidwcai.medium.com/fix-cypress-invalid-or-unexpected-token-errors-in-parallel-runs-e887d7efa945

I guess that has smth to do with this error

[2022-06-27 22:20] splincode commented on #21615
fixed by 10.2

[2022-06-27 22:37] x-yuri commented on #419
@akauppi Correct me if I'm wrong, but in order to run Cypress you need Electron, even if you run your tests in Edge down the road.

By the way, I just noticed that there's a [`chromium`][a] package under Alpine Linux. Which makes me think that the hardest part is done. But it's been there at least since v3.3, which might suggest that there's more to it than that.

[a]: https://pkgs.alpinelinux.org

[2022-06-27 22:40] tbiethman commented on #22421
The javascript config file generated during migration uses ESM by default. Since you're requiring it into your node script, you'll need to convert the config file to use CommonJS requires/exports or execute your script with something like [ts-node](https://www.npmjs.com/package/ts-node#commonjs-vs-native-ecmascript-modules) instead.

[2022-06-27 23:22] #22308 closed

[2022-06-27 23:41] lmiller1990 commented on #22465
I think we should try to solve all the typing issues (bluebird, webpack-dev-server (seems not needed)) in one shot.

[2022-06-27 23:45] lmiller1990 commented on #21381
The plan is to support React 18 very soon once this lands: https://github.com/cypress-io/cypress/pull/22437 which from what I can see only has 1 legitimate failing test. I will fix this in the next day or two.

It's a bit more complex than I thought since we use a single lib, `cypress/react`, for all React versions, and we bundle it in with Cypress. Would anyone be interested in testing a pre-rele

[2022-06-28 00:27] lmiller1990 commented on #22208
Right, I thought it went out already. Let's wait for the next release. Thanks.

[2022-06-28 00:59] lmiller1990 commented on #22544
I thought we had resolved the "spaces in username" issue but apparently not.

I will fix this right now and hopefully this can get into the release in the next 24 hours. I'm sorry you encountered this problem.

Dup: https://github.com/cypress-io/cypress/issues/22297#issuecomment-1167898416

[2022-06-28 01:02] lmiller1990 commented on #22519
Interesting, I've not seen that syntax before. We use the `gql` tag an extract the types automatically with a tool.

If you can make a minimal repro, I can look at it. We grab your webpack config and use it internally, so we should be processing your code exactly the same.

[2022-06-28 01:14] #22072 closed

[2022-06-28 01:14] #22374 closed

[2022-06-28 03:18] websitevirtuoso commented on #22519
Sure. But I don't use webpack either. I am using vite

[2022-06-28 04:17] JohnLukeBentley commented on #18919
@emilyrohrbough the comment you point to is part of the thread, #18919, that I'd previously pointed to (as the more relevant thread). But good of you to tag me in any case. And indeed the current thread is now rightly close (at least there was no need to keep it open on my account).

[2022-06-28 04:25] TPHRyan commented on #22505
I am experiencing the same issue (as OP, not the above comment) but with Vue instead of React.

Conjecture follows that this issue is related to Vite specifically, and quite possibly serving from ../* directories.

(I believed that in my config, however, Vite was serving directly from /src which contained both the component tests and the components being loaded)

I am attempting a minimal repro no

[2022-06-28 04:30] kaiyoma commented on #22297
I'm on Windows 10 and I'm running into this with Cypress 10.2.0. Sounds like tomorrow I should try 10.0.3 instead.

[2022-06-28 04:51] Nazmin1982 commented on #22522
Thank you for the reply, now I get this error

Cypress failed to start.

This may be due to a missing library or dependency. https://on.cypress.io/required-dependencies

Please refer to the error below for more details.

----------

Command was killed with SIGKILL (Forced termination): /Users/nazminaraali/Library/Caches/Cypress/9.7.0/Cypress.app/Contents/MacOS/Cypress --no-sandbox --smoke-test --p

[2022-06-28 04:55] mm-dsibinski commented on #21654
Hi again, sorry for my late response. So far, I haven't reproduced this issue with Electron anymore. However, I also permanently switched to using Chrome, so not paying attention to Electron in this scenario on daily basis anymore.

[2022-06-28 05:17] dasDaniel opened #22548 "UI: Option to specify preferred attribute for playground's selector"
### What would you like?

![image](https://user-images.githubusercontent.com/466865/176096658-0ddc8bde-6b92-42f4-9bb2-625bd39b8a5b.png)

This selector is handy in theory, but in practice I _never_ use it because it uses preference in the order of `id`, `class` and then `data-` attributes.

I would like to customize this, and define what attribute should be preferred, like a  `"data-cy"` attribute

[2022-06-28 05:48] sheecegardezi commented on #21615
Hello,

I encountered same isssue will followign this tetorial https://medium.com/nerd-for-tech/setting-up-cypress-193166f85b33. Freshly install of Cypress version 10.2.0 on Mac:

[code]

Please do tell me if I can provide you further informations.

Thank you for your time!

[2022-06-28 05:52] lmiller1990 commented on #22297
Hello all, this was a regression (introduced be me) in this PR, specifically here: https://github.com/cypress-io/cypress/commit/abd986aa411af3ec358056a8458b74cb52952b01#diff-b0bd90502ad464c0d541a0e47822d15fec9ba5434dc4225d2993305e1ec7d30aR19. Apparently `fork` does not automatically escape `NODE_OPTIONS`, so when we pass `--require` with the `ts-node` loader, where the argument has a space, we err

[2022-06-28 05:55] id-dan commented on #21615
I got the same issue on macOS with cypress v10.2
<img width="1400" alt="Screenshot 2022-06-28 at 08 54 00" src="https://user-images.githubusercontent.com/52101871/176103676-752d3f02-13b0-44dd-a73b-6427061563a2.png">

[2022-06-28 05:59] lmiller1990 commented on #22297
@tester-at-bmi Yes, that looks like the previous version, prior to the regression. I've corrected my post.

[2022-06-28 06:02] TPHRyan commented on #22505
My first attempt as per the above comment did not go well (or rather, it did.)

Ruling out (in isolation) ../../* as inherently a problem, as I managed to reproduce that fine with a passing test. It's also not to do with the http(s) setting, and it is not inherently caused by Yarn PnP either (I have no information as to whether OP is using this or not).

The issue happens for me in a monorepo in a

[2022-06-28 06:29] njday commented on #21151
Im having the same problem with this on v9.7.0

Is there any update on this issue?

[2022-06-28 06:35] alice42 commented on #2752
My test to check the contents of the clipboard was flaky on Chrome, but it seems to do the trick.

[code]

from this [answser](https://stackoverflow.com/a/71254754)

[2022-06-28 06:39] M-Jyothi opened #22549 "Cypress 10 version : Unable to give the snapshots for failed test cases in mocha report folder: The report is getting successfully saved but the snapshots are not appended"
### Current behavior

Package.json
[12:06] Parimal Unde
"devDependencies": {
    "cypress": "^10.1.0",
    "cypress-file-upload": "^5.0.8",
    "cypress-mochawesome-reporter": "^3.1.0",
    "cypress-xpath": "^1.6.2",
    "mocha": "^10.0.0",
    "mochawesome": "^7.1.3",
    "mochawesome-merge": "^4.2.1"
  },
  "dependencies": {
    "cypress-multi-reporters": "^1.6.1",
    "mochawesome-report-genera

[2022-06-28 06:40] M-Jyothi commented on #22549
Screenshots are available at the location but not appended in the report

[2022-06-28 07:17] kzahozhy commented on #22533
This is is just an example code to reproduce the problem. The real project code needs separate beforeEach()

[2022-06-28 07:48] rsaleri opened #22551 "Cypress component test autoconfig issue with additionalIgnorePattern"
### Current behavior

Cypress is already configured to work as e2e testing tool and my cypress.config.ts override the default specPattern to include both cucumber and non cucumber specs:
[code]
Problem is that apparently, even though specPattern correctly recognize and accept a list of string, when you try to have cypress autoconfigure the component testing, this is what you get:
![image](https://

[2022-06-28 07:53] rsaleri commented on #22551
A workaround is to put the entire expanded list in a single string like:
[code]
But it's just that, a workaround.

[2022-06-28 08:07] lmiller1990 commented on #22544
Should be fixed in https://github.com/cypress-io/cypress/pull/22550

[2022-06-28 08:07] lmiller1990 commented on #22297
This will be fixed in https://github.com/cypress-io/cypress/pull/22550 which we are going to review and release asap. Thanks for the patience everyone.

[2022-06-28 08:17] AshMcConnell commented on #22470
@Jacek-fstack I have this exact error, did you manage to fix the problem?

[2022-06-28 08:21] rsaleri opened #22552 "Cypress component testing Unexpected Error after first configuration"
### Current behavior

Just after cypress self configured the component testing for a vue-cli 2 project, it crashes with "Unexpected Error"
[code]
![image](https://user-images.githubusercontent.com/33120404/176130126-cbe40b2a-70ca-48fc-9a86-65b41697ae6f.png)

I don't know if it's of any help, but I don't have cypress.config.js, I have (and cypress correctly compiled) a cypress.config.ts.

### Desir

[2022-06-28 09:42] wpplumber commented on #19337
@cailloumajor did you meet the following error with Quasar Vite project?

![image](https://user-images.githubusercontent.com/52907282/176147606-163484ad-633a-4c12-87b0-da620327d2cb.png)

[2022-06-28 09:54] cailloumajor commented on #19337
No

[2022-06-28 10:06] wpplumber commented on #19337
Did you manage the **cypress.config.ts** `viteConfig` section below?
[code]

[2022-06-28 10:21] abin53 opened #22554 "Cookies not set correctly by cypress"
### Current behavior

https://github.com/cypress-io/cypress/discussions/21509#discussioncomment-3009357

### Desired behavior

Cookies must be set correctly

### Test code to reproduce

Issue explained in https://github.com/cypress-io/cypress/discussions/21509#discussioncomment-3009357

### Cypress Version

7.1.0

### Other

_No response_

[2022-06-28 10:31] JenniferTactill commented on #22317
Any update ? Running into the same issue here

[2022-06-28 10:52] jurmous commented on #22217
I have the same issue with 10.1.0 and 10.2.0. Good to see there is a reproducible version. I hope the issue gets prioritised highly.

[2022-06-28 10:57] Threnos commented on #22304
When you have 100+ specs you eventually come to this method of organizing tests. Otherwise, you end up with ridiculously long spec names.

[2022-06-28 11:12] Fgerthoffert commented on #17627
@mjhenkes I see you did a bunch of runs that appeared to be successful on your CircleCI account, were you able to reproduce the issue and get an understanding of what could be the source?

[2022-06-28 12:15] splincode commented on #22451
I have the same issue

[2022-06-28 12:21] rsaleri commented on #22552
Fixed updating vue@cli-service and removing vue-cli-plugin-dll

[2022-06-28 12:27] hassannaseem opened #22556 "Websocket server not connecting"
### Current behavior

Hello,

I have two application

- Javascript Application
- Xaml C# Websocket server backend Application

I have configured the cypress with my Javascript application via npm and tried to open my web server page with a simple test. I run my Javascript application on a NodeJs server.

The page loads fine but after the page loads, my Javascript application tries to connect to th

[2022-06-28 12:35] nsbarsukov commented on #22451
Full logs if the same error:

https://github.com/Tinkoff/taiga-ui/runs/7092418750?check_suite_focus=true

[2022-06-28 12:59] emilyrohrbough commented on #22361
@marcosrjjunior @Strajk Can you try upgrading to 10.2.0 and see if this resolves the issue for you as well?

[2022-06-28 13:27] abin53 commented on #22479
Similar issue https://github.com/cypress-io/cypress/discussions/21509 But along with clearing cookie it takes other cookie attributes wrongly from other cookies present.

[2022-06-28 13:39] Craig1f opened #22557 "Component Test with Vite cold-start issue causes first test to fail"
### Current behavior

[code]

The other tests pass.

On the second run, tests pass.

First test always fails in CI pipeline on Github Actions.

Adding test retries does not help

### Desired behavior

Some way of preventing the first test from failing.

Some way of warming up Vite so that it doesn't have this cold-start problem (I'm also going to file a bug report there).

### Test code to reprodu

[2022-06-28 14:00] #22297 closed

[2022-06-28 14:00] #22544 closed

[2022-06-28 14:02] mjhenkes commented on #17627
@Fgerthoffert, I haven't been able to reproduce the issue 😭.

[2022-06-28 14:10] devhid commented on #22478
`blockHosts` option also not working for me.

But @jst1102, I see in your screenshots that you blocked `*.doubleclicknet.net`, but your actual request is from the domain, `doubleclick.net`. Was this just a typo and it still doesn't work?

[2022-06-28 14:16] yechezkela opened #22558 "Released in [`7.2.0`](https://on.cypress.io/changelog#7-2-0)."
I'm trying to change my headers with cy.intercept with cypress, when I enter English entries everything's fine, But when I try to enter Hebrew entries I get: **"> Error: socket hang up"**

For example:

**Working**`:headers:{ lastname:"shalom"}
`
**Not working**:` headers:{ lastname:'שלום'}`

The file is encoded by utf-8, I tried everything and nothing works, If anyone can help me I would be very

[2022-06-28 14:21] akamud commented on #21476
Hi, do we have any guide on how to write the `cy.origin` for a new SSO?

[2022-06-28 14:26] AurelienKun commented on #22478
We tried to migrate to the new v10.2 but this issue has a big impact on our CI building time. We had to rollback to v9.7.0.

[2022-06-28 14:39] vaban-ru commented on #7362
Hello, where can i paste this code to disable xhr logs in cypress?

[2022-06-28 14:44] Fgerthoffert commented on #17627
Weird, I just started a run in a scenario that was failing last week: https://app.circleci.com/pipelines/github/Jahia/jcontent/1684/workflows/66f39f56-de92-4617-a71f-840cfe427102

Using the codebase built from master and the `jahia/jahia-discovery:8` image. It should fail 😵‍💫

[2022-06-28 14:52] elijahstorm commented on #21381
@lmiller1990 I wouldn't mind testing it out if it would be helpful.

[2022-06-28 14:54] gvocale commented on #22304
+1 for old way displaying full path

[2022-06-28 15:27] mgmacdougall opened #22560 "Cypress 10.1.0 crashes after running npx cypress open with registry error"
### Current behavior

After installing 10.1.0 and then issuing the npx cypress open command the UI allows me to navigate through the introduction but then crashes.

In the crash stack trace it tells me I need admin privileges to run.

This is the exact same behaviour described in this issue:
https://github.com/cypress-io/cypress/issues/22110

There is no way for me to work around this issue if a r

[2022-06-28 15:40] Fgerthoffert commented on #17627
Which it did

<img width="1327" alt="Screen Shot 2022-06-28 at 11 40 35 AM" src="https://user-images.githubusercontent.com/5667028/176222038-f03663f0-e3fb-40e1-99ea-f67cd577a02b.png">

[2022-06-28 16:00] roshan521 commented on #21049
As instructed, cypress does not work after installation I guess we need to configure its config by ourselves look inot this configuration manage same at our project  [https://github.com/cypress-io/cra-template-cypress-typescript/tree/master/template](url)

[2022-06-28 16:04] samtsai commented on #7362
You can include that in your support file or wrap it in a function so you can call it on demand for specific tests.

Note, the code above only hides `fetch` calls. XHR calls flow through differently and you'll need to hide them via css, something like this:

[code]

[2022-06-28 16:32] wbolduc opened #22562 "Cypress hangs"
### Current behavior

cypress hangs after trying to configure E2E tests

![image](https://user-images.githubusercontent.com/16736623/176232617-f9a2bfda-df09-4acd-a535-f55c15b5d0f3.png)
Spins forever

(Terminal copy paste start)
npx cypress open

[29600:0628/122937.711:ERROR:gpu_init.cc(446)] Passthrough is not supported, GL is disabled, ANGLE is
node:internal/modules/cjs/loader:936
  throw err;

[2022-06-28 16:39] Hugo01 commented on #19337
Facing the exact same issue with Quasar/Vite/Vue3
What is weird is that it was working fine a few weeks ago

[2022-06-28 17:00] Craig1f commented on #22557
Note:

I fixed the CI pipeline in GitHub Actions by adding this before my actual test run:

[code]

[2022-06-28 17:11] malt-man commented on #9744
@choonkeat
This was a while ago but I seem to remember that there may have been an issue with how our GitHub action workflows were configured. What exactly that was I can't seem to recall.

Sorry I know this doesn't really help you 🙂

[2022-06-28 17:12] bademiya5306 commented on #22518
has anyone cracked this?

[2022-06-28 17:50] VaghasiyaKrupal opened #22565 "Cypress running different test file."
### Current behavior

I have one project where I have implemented the `cucumber framework`. but when I run the `HubActivity1.feature` file it will be using `ProjectProfile.spec.js` instead of `HubActivity1.spec.js`.

Please check out the below image for more reference.

![image](https://user-images.githubusercontent.com/45596703/176248732-5a5185c9-3c4b-42a4-b2ff-d85f7f9a0ffa.png)

### Desired beha

[2022-06-28 17:57] Rajesh-Kapur commented on #22376
Ok well is there a way of handling an uncaught exception that might get me around this ?

[2022-06-28 18:00] wpplumber commented on #19337
Did you try this?

[code]

[2022-06-28 18:18] Rajesh-Kapur commented on #22376
the bug is this ...
The following error originated from your application code, not from Cypress.

When Cypress detects uncaught errors originating from your application it will automatically fail the current test.

This behavior is configurable, and you can choose to turn this off by listening to the uncaught:exception event.[Learn more](https://on.cypress.io/uncaught-exception-from-application)
V

[2022-06-28 18:25] emilyrohrbough commented on #21966
This change has been completed. It's associated with the 10.3.0 release though there was no user-facing changes related to this change.

[2022-06-28 18:26] emilyrohrbough commented on #22308
This change has been completed. It's associated with the 10.3.0 release though there was no user-facing changes related to this change.

[2022-06-28 18:41] Zach-Costa commented on #21743
I can reproduce this consistently on my Macos Monterey with Intel chip!

[2022-06-28 18:42] Zach-Costa commented on #22152
I made a comment on that issue, thank you!

[2022-06-28 18:47] matthamil commented on #1496
@inaschmitz This solution worked perfectly for us :)

[2022-06-28 19:02] Rajesh-Kapur commented on #22376
ok setting something like this helps to overcome the uncaught exception ...
Cypress.on('uncaught:exception', (err, runnable) => {
    cy.log(`Uncaught Exception: ${JSON.stringify(err)}`);

    return false;
  });

however i now know why its failing cypress and iframes ---
![image](https://user-images.githubusercontent.com/107467792/176261697-e161a44b-e2b6-4a93-bfbf-fc11ca884756.png)

which is anot

[2022-06-28 19:05] emilyrohrbough commented on #20897
@alyssa-glean hmmmm interesting, the PR I tagged may not be the full solution to what you are experiencing then, however it might alleviate some issues like you said. FYI, 10.3.0 was just released earlier this afternoon.

[2022-06-28 19:22] Masvi commented on #2100
It works for me. This configfile is for the cypress v10 and the file  `cypress-mobile.config.js` has the mobile user-agent and the `cypress.config.js` has the desktop config.

[code]

[2022-06-28 19:25] tejasviSri opened #22570 "Cypress run fails on Integration Tests with Jenkins CI erroring SIGILL"
### Current behavior

Hi,

I'm trying to run Cypress in our CI pipeline and it fails on starting up the cypress

### Debug logs

_No response_

### Cypress Version

10.0.2

### Package Manager

npm

### Operating system

Linux

### Other

We tried with 10.0.0 or 10.2.0 and the error was same

[2022-06-28 19:40] emilyrohrbough commented on #22420
@annaFW123 Thank you for the additional information. It was helpful!

The issue you are seeing occurs when Node is looking for.a locally installed (per project-installed) node module and it does not exist. Unfortunately, Node.JS not resolve globally installed node modules by default. This is why the docker image can have Cypress installed globally and you can run into this error. The solution is t

[2022-06-28 20:10] kaiyoma opened #22573 "Migration helper is not renaming test files correctly"
### Current behavior

The migration tool claims it will rename `spec` to `cy`, but that is not appearing in the window. For starters, see that I've enabled that setting:

![image](https://user-images.githubusercontent.com/10719780/176275456-9d8783bd-9df4-49b9-b3f6-0a4449b0591a.png)

But when I scroll down, only the directory is being renamed, and the files are not:

![image](https://user-images.gi

[2022-06-28 20:10] kaiyoma commented on #22297
I can confirm that the issues are fixed in 10.3.0 on Windows 10. 🎉

[2022-06-28 20:55] mjhenkes commented on #22419
Could you try the 10.3.0 release? We fixed a memory leak that might be causing this issue.

[2022-06-28 21:14] #22312 closed

[2022-06-28 21:33] mjhenkes commented on #22208
@gvocale, could you try cypress 10.3.0 to see if it resolves your issue? A contributor recently fixed a memory leak.

[2022-06-28 21:44] mjhenkes commented on #22558
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

This issue will be closed as per our [contributing guidelines](https://github.com/cypress-io/cypress/blob/d

[2022-06-28 21:44] #22558 closed

[2022-06-28 22:30] mariecreel commented on #18671
+1 to this issue with cypress 9.5.4. Running `cy.request` on a 15.0 MB image file causes the following tests to never start.

[2022-06-28 22:32] ZachJW34 commented on #22059
@RafaPolit can you create another issue for what you are seeing? `tsc --noEmit` will use your tsconfig.json, so if you have it structured properly you should be able to exclude any Cypress configuration files and tests. For example, you could have
[code]
and it should work. You could add another `tsconfig.cypress.json` and include your Cypress files if you wanted to typecheck those as well.

@deni

[2022-06-28 22:39] canourrea23 opened #22576 "Cypress Dashboard be restricted to specific projects"
### What would you like?

Cypress Dashboard be restricted to specific projects

We have multiple teams in our organization, each with one or more projects.  Since you can execute destructive actions in the dashboard (eg. archive a run), ideally people outside a team would not have access to the project(s) of other teams at our organization.

### Why is this needed?

 dangerous hole for us since 1

[2022-06-28 22:41] websitevirtuoso commented on #22519
@lmiller1990 here repo with tests
https://github.com/websitevirtuoso/repo_cypress_gql

[2022-06-28 22:53] gvocale opened #22577 "ERR! Error: Cannot find module 'html-webpack-plugin' in Storybook after upgrading to Cypress v10"
### Current behavior

After upgrading to Cypress v.10 and `@cypress/webpack-dev-server@^2.0.0`, now Storybook throws the following error:
[code]

See cross issue here on Storybook repo https://github.com/storybookjs/storybook/issues/18564.

Manually adding `yarn add html-webpack-plugin` doesn't solve the issue.

I can see the following in yarn.lock:
[code]

While in my `node-modules` I have the fo

[2022-06-28 22:59] lmiller1990 commented on #21381
@elijahstorm excellent, thanks. I think all the major blockers are solved, going to get the PR (#22437) reviewed this week. In the meantime I will build a pre-release binary and post it here for some early testing - this will definitely help with getting this into production faster.

[2022-06-28 23:00] tbiethman opened #22578 "Cypress actionability validation does check the `aria-disabled` attribute"
### Current behavior

Cypress performs some [actionability](https://docs.cypress.io/guides/core-concepts/interacting-with-elements#Actionability) validation prior to interacting with elements. Part of this validation includes determining whether an element is [disabled](https://docs.cypress.io/guides/core-concepts/interacting-with-elements#Disability) or not, by checking for the presence and value

[2022-06-28 23:01] gvocale commented on #22208
@mjhenkes no luck, failing on cy when using electron
[code]

[2022-06-28 23:03] lmiller1990 commented on #22560
Can you guide me into reproducing this? I'm not super familiar with windows - how can I configure my user so I can encounter this error? I tried a few things but I'm not able to reproduce.

[2022-06-28 23:06] lmiller1990 commented on #22562
I think this issue should be solved by https://github.com/cypress-io/cypress/pull/22550 which was released in Cypress 10.3.0. It's caused by certain configurations on windows where the username has white space.

Can you give Cypress 10.3.0 a try?

[2022-06-28 23:23] lmiller1990 commented on #22505
@TPHRyan Did you see this comment? https://github.com/cypress-io/cypress/issues/22505#issuecomment-1166760494. It links to this issue: https://github.com/cypress-io/cypress/issues/22422#issuecomment-1163944770 which mentions Vite prevents serving content outside of where it is run (eg with `../../`). That might be your issue.

I am looking into this in more depth right now, but worth considering t

[2022-06-28 23:35] marcosrjjunior commented on #22361
hey @emilyrohrbough I don't use windows : /

[2022-06-29 00:09] lmiller1990 commented on #22557
Hi! We noticed something similar using Vite internally at Cypress. For now I'd recommend adding the main libraries to your `viteConfig`, like this:

https://github.com/cypress-io/cypress/blob/develop/packages/app/vite.config.ts#L8-L10

We can look tell Cypress to wait for pre-optimization, but this is likely the best way to get your tests running in a fast, deterministic fashion. Can you give this

[2022-06-29 00:12] lmiller1990 commented on #22573
Hi! Are you able to share your `cypress.json`? We do have some logic to not rename spec extensions if you've customized them via `testFiles`. In this case, we should not show a misleading message.

Please share your `cypress.json` (and any other relevant info) - I'll try to reproduce and look into this.

[2022-06-29 00:24] lmiller1990 commented on #22565
Hi! I was able to reproduce the bug. I looked into the preprocessor - you are on v4.3.1. I visited the repo: https://github.com/badeball/cypress-cucumber-preprocessor#readme and it says

I'm thinking you probably need to update to the latest version of the plugin, which has Cypress 10 support. If you are still having problems after migrating, we can dig it more.

[2022-06-29 00:37] lmiller1990 commented on #22208
Argh, no luck. I'll try to reproduce.

@JoaoTMDias I noticed you have `on("file:preprocessor", webpackPreprocessor(options));`. I don't think you need this with component testing - we automatically detect your webpack config when you do `bundler: 'webpack'` and apply the preprocessor.

[2022-06-29 03:04] tbiethman commented on #22349
@navdeepdevrepublic I'm not aware of any hCaptcha-specific integrations or workarounds with Cypress. You could try raising the issue in our [Discord](https://discord.com/invite/bkcR8bvUBZ) channel to see if other users may have worked with hCaptcha. But without a minimal reproduction or more technical details, it is hard for me to investigate further.

[2022-06-29 03:16] lmiller1990 commented on #22519
@websitevirtuoso I cloned your repository but it does not seem to have component testing configured. I configured it, but I don't see any Cypress tests (`cy.ts`). What should I run to reproduce the issue?

[2022-06-29 03:26] kaiyoma commented on #22573
@lmiller1990 Sure, here it is:

[code]

Should I drop `testFiles` from my config? Anything else in there that we should remove or modify?

[2022-06-29 04:00] tbiethman commented on #22551
@rsaleri thank you very much for the report. This is occurring because we set the internal config property `additionalIgnorePattern` to your defined e2e `specPattern` when you start component testing; we don't want to accidentally/incorrectly pull in your e2e test files as component test files. However, we're currently botching the validation [here](https://github.com/cypress-io/cypress/blob/devel

[2022-06-29 04:01] suncat18 commented on #14191
I am running into the same issue: I have a list to select from and it is not selecting since that element's opacity is set to 0.  Is there a way to make this interactable?  I tried invoke('show') but that is not doing anything.
![opacity](https://user-images.githubusercontent.com/26546371/176348744-2c803bb3-9bd1-4983-a029-2d5e28a6379f.jpg)

[2022-06-29 04:39] gvocale commented on #22577
Fixed for now by adding the following to package.json

[code]

[2022-06-29 04:42] gvocale commented on #22353
Same here. Almost double as slow.

On v9 my 200+ component tests would run on Github Actions in 8m 24s
On v10 the same number of component tests now runs in 14m 30s

Sometimes it even goes over 20min, so I had to increase the timeout from 20min to 30min for now...

[2022-06-29 04:45] tbiethman commented on #22414
@Loosetooth thank you very much for the report and the reproduction! We had another instance of this issue come in here (https://github.com/cypress-io/cypress/issues/22551). I've moved that issue to the appropriate feature team and will close this issue as a duplicate so we can track the work in one place. Thanks again!

[2022-06-29 04:45] #22414 closed

[2022-06-29 05:33] lmiller1990 commented on #22519
There's a few things going on here. E2E and Component Testing are configured separately, and have different uses. By default, we include webpack, which will handle TypeScript, babel etc automatically. [Documentation on preprocessors](https://docs.cypress.io/api/plugins/preprocessors-api#See-also).

You've only configured E2E:

[code]

Since we use `webpack-preprocessor` by default, it's trying to

[2022-06-29 05:40] lmiller1990 commented on #22573
Hi @kaiyoma!

Basically, if you have a custom `testFiles`, we assume you do **not** want our recommended `.cy.js` extension, so we leave it alone. We just migrate the `integration` -> `e2e` part. If you continue with the migration, it should create a new `cypress.config.js` automatically setting your `specPattern` to `cypress/e2e/**/*.spec.js`, which is the combination of the deprecated `integrati

[2022-06-29 05:52] lmiller1990 commented on #22430
A little late but I did look into this and confirm it's definitely a bug in how we are resolving configuration precedence. Seems like a regression. I'll fix it.

[2022-06-29 05:54] lmiller1990 commented on #22430
Related: https://github.com/cypress-io/cypress/issues/22245

[2022-06-29 05:55] lmiller1990 commented on #22245
Also: https://github.com/cypress-io/cypress/issues/22430 (same core issue around precedence).

[2022-06-29 05:57] Chili82 commented on #22419
Yes, I will try today and let you know more inforamtion.

[2022-06-29 06:15] lmiller1990 commented on #22450
Hi! I was unable to reproduce. You could try running `yarn DEBUG=cypress:* yarn cypress run`. This will print a huge amount of logs in your terminal, which you can paste here to help with debugging.

Here's my code.

## command:

`yarn cypress:run --e2e --spec cypress/e2e/blah.cy.ts`.

I started my server with `python3 -m http.server 9999`.

## cypress/e2e/blah.ts

[code]

## index.html

[code]

D

[2022-06-29 06:17] #22383 closed

[2022-06-29 06:20] denieler commented on #22059
@ZachJW34 this would not work, no doubts, at least for IDE it's impossible right now to apply one tsconfig file for one set of files and another tsconfig for another set of files

[2022-06-29 06:47] yechezkela commented on #22558
Hi,
The links of the issue template
<https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md>
   and contributing guidelines
<https://github.com/cypress-io/cypress/blob/develop/.github/CONTRIBUTING.md#does-the-issue-provide-all-the-information-from-our-issue-template>
are
broken.

‫בתאריך יום ד׳, 29 ביוני 2022 ב-0:45 מאת ‪Matt Henkes‬‏ <‪
***@***.***‬‏>:‬

[2022-06-29 07:36] Palman6 opened #22579 "Cypress Crashes"
### Current behavior

After upgrading to cypress 10 some of my tests run fine and I have a quite huge test case when I run those tests it hangs in the middle and I have to forcefully close. I have provided some errors I got in the console.

![Screenshot from 2022-06-29 13-17-00](https://user-images.githubusercontent.com/57383559/176377513-dbc38073-d74e-42c9-b0fb-f711213f988b.png)

![Screenshot fro

[2022-06-29 07:40] tho-masn commented on #19831
I'm experiencing the exact same issue in Cypress v10.2.
In our case we are starting the tests with devTools open.
When I close the devTools, the error doesn't appear.

[2022-06-29 07:45] mirobo commented on #22074
I am interested, but honestly I don't have enough time to contribute seriously and the Cypress dev environment is pretty much impossible to install inside a corporate network (on my private PC it just worked). And after all I'm "just" a user...

First I tried this https://github.com/bahmutov/cypress-esbuild-preprocessor , but I can't remember what didn't work, so I just tried the other one ever si

[2022-06-29 07:46] oliverlockwood opened #22580 "Docker image `cypress/included:10.3.0` has not been published"
### Current behavior

[code]

### Debug logs

_No response_

### Cypress Version

10.3.0

### Package Manager

other

### Operating system

Mac

### Other

https://hub.docker.com/r/cypress/included/tags shows `10.2.0` as the latest version.
https://www.npmjs.com/package/cypress shows `10.3.0` as the latest version.

Previous versions (e.g. `10.2.0`) had their corresponding `included` Docker image

[2022-06-29 08:02] cristiandiazcmp opened #22581 "cy.wait executing a POST from BaseRoutes fails in circle ci when better-audit package is added"
### Current behavior

When waiting for a route/response, including the better-audit package is failing in circle ci and we can't figure out why. Also there are two request executed, one (xhr) and another one (other)
This leads to an error: Cannot read properties of undefined (reading 'statusCode')
<img width="1066" alt="screenshot" src="https://user-images.githubusercontent.com/92723787/176383253-

[2022-06-29 08:03] cristiandiazcmp opened #22582 "cy.wait executing a POST from BaseRoutes fails in circle ci when better-audit package is added"
### Current behavior

When waiting for a route/response, including the better-audit package is failing in circle ci and we can't figure out why. Also there are two request executed, one (xhr) and another one (other)
This leads to an error: Cannot read properties of undefined (reading 'statusCode')
<img width="1066" alt="screenshot" src="https://user-images.githubusercontent.com/92723787/176383253-

[2022-06-29 08:14] Chili82 commented on #22419
I've run all tests with 10.3.0 version, and also I've migrated the solution but after each test, the application instance is killed and the next test has a problem with the state of the application. This is not case with previous versions 9 and 8.

[2022-06-29 08:20] TPHRyan commented on #22505
Just replying to clear any potential ambiguity in my original text: I have been able to create a project with the exact same directory structure that has passing tests, thus ruled it out as a problem in isolation.

[2022-06-29 08:39] mmonteiroc commented on #7552
Any update on this issue, we were not experiencing it before V10 of cypress.
We upgraded and got the same issue.

Some workarounds here work, but they break other features so cant use them.

![image](https://user-images.githubusercontent.com/28816737/176392235-46ec1094-ebf1-44b5-92d6-762bd0d92f51.png)
As shown above we would expect to have the type from jasmine, but comes from chai Cypress

![imag

[2022-06-29 08:42] alyssa-glean commented on #20897
Brilliant! I'll get us upgraded today and report back :smile:

[2022-06-29 09:04] larsk2009 commented on #18402
Any updates on this?

[2022-06-29 09:28] mdebowczyk opened #22584 "When closing Cypress 10.2.0 error report is shown on MacOS"
### Current behavior

When closing cypress window this error is shown in console
`The Test Runner unexpectedly exited via a exit event with signal SIGABRT

Please search Cypress documentation for possible solutions:

https://on.cypress.io

Check if there is a GitHub issue describing this crash:

https://github.com/cypress-io/cypress/issues

Consider opening a new issue.

----------

Platform: darw

[2022-06-29 09:41] Kremliovskyi commented on #22450
@lmiller1990 I am using windows and we do not use yarn. Your command does not work for windows.
![image](https://user-images.githubusercontent.com/12884831/176405483-2653d23b-bb59-4fa9-8418-8fc2fd672c20.png)
 Could you please give me the same command for windows ?

[2022-06-29 11:22] yechezkela opened #22585 "[9.5.0]Bug: cy.intercept does not accept Hebrew letters within headers values"
### Current behavior

The code includes GET request with Hebrew characters that i plant in req headers:

`cy.intercept({ url: '', middleware: true }, (req) => {
            req.headers['hebName'] = 'אא';
            req.headers['hebLastName'] = 'Cohen';
        }).as('headers');`

and falls in `cy.visit()`
with this error:

**
We attempted to make an http request to this URL but the request failed

[2022-06-29 11:23] yechezkela opened #22586 "[9.5.0]Bug: cy.intercept not accapting hebrew letters"
### Current behavior

The code includes GET request with Hebrew characters that i plant in req headers:

`cy.intercept({ url: '', middleware: true }, (req) => {
            req.headers['hebName'] = 'אא';
            req.headers['hebLastName'] = 'Cohen';
        }).as('headers');`

and falls in `cy.visit()`
with this error:

**
We attempted to make an http request to this URL but the request failed

[2022-06-29 11:24] #22586 closed

[2022-06-29 12:09] david-sabata opened #22587 "Callback form of should chained off cy.window receives null when retried"
### Current behavior

My goal is to have a retriable check of a `window` property that my app exposes. To achieve that, I'm using [the callback form](https://docs.cypress.io/guides/core-concepts/retry-ability#Use-should-with-a-callback) of `should`.

The window object is correctly passed into the callback only for the first time. If the assertions fail and trigger a retry, the callback argument is

[2022-06-29 12:55] Kremliovskyi commented on #22450
@lmiller1990 for some reason with debug variable cypress does not freezes. Here you may find the log
[cypress.log](https://github.com/cypress-io/cypress/files/9010659/cypress.log)

[2022-06-29 13:28] fikip opened #22589 "Adding a command for component mount to e2e support file causes an error"
### Current behavior

I'm having issues launching e2e tests if I include the custom `cy.mount` command used for component testing in the support file for e2e tests. I'm not sure if this is intentional or not.

Launching any e2e test with the custom `cy.mount` command included results in the following error:

![image](https://user-images.githubusercontent.com/19172849/176441677-c96acc11-d798-49b8-b

[2022-06-29 13:31] emilyrohrbough commented on #22533
@kzahozhy, the behavior you are describing is correct. This is a result of how you are trying to create your dynamic tests.

To break down the problem a little so you understand why this is happening, before the test execution starts, your spec file is parsed to determine what hooks and suites and tests exists in the file to determine what needs to be executed. For the example you provided, you ar

[2022-06-29 13:35] vergjor commented on #21721
honestly the lack of this feature is preventing me to migrate to version 10 of cypress, since it has a major influence on our test execution, I really hope this is implemented as soon as possible

[2022-06-29 13:41] emilyrohrbough commented on #22361
@marcosrjjunior Okay - thanks for clarifying. I am a little confused since you opened this issue titled as "Cypress crashes on Windows 11". Can you please share more details on your setup? Without these its a complete guess as to how you came across this error and we can't reproduce it to fix it. Could you answer these questions?
- OS you are using
- If you aren't on windows, is this error observe

[2022-06-29 13:43] tracymazelin commented on #22580
I had the same issue yesterday but it looks like the 10.3.0 image was just published: https://hub.docker.com/layers/included/cypress/included/10.3.0/images/sha256-942468cdb722c408607093f60eeb1b4ff098a384f9123bf2ded36f55d4c96352?context=explore

[2022-06-29 13:47] kzahozhy commented on #22533
@emilyrohrbough Thank you so much for your code example! This is what I need.

[2022-06-29 13:47] #22533 closed

[2022-06-29 13:49] gmashokkumargm commented on #22504
Hello @mjhenkes, Here it is

{
  "baseUrl": "http://localhost:8080/#/",
  "integrationFolder": "cypress/flows/",
  "pluginsFile": "cypress/tasks/",
  "fixturesFolder": "assets",
  "reporter": "list",
  "taskTimeout": 90000,
  "viewportWidth": 1280,
  "defaultCommandTimeout": 20000
}

[2022-06-29 13:58] mjhenkes commented on #17627
We have a recreation!
https://app.circleci.com/pipelines/github/mjhenkes/jcontent/36/workflows/98ba8b18-e3e1-4b0d-b584-6866e025d6e6/jobs/81

[2022-06-29 14:08] stychu opened #22590 "Azure pipeline + Docker + Cypress v10.3.0"
### Current behavior

After upgrading from version 8.1 to 10.3.0 Cypress doesn't work under Azure pipeline.
Locally all seems to work. Tests running both local on the machine and within the docker but once I want to run the docker setup in Azure pipelines I get some errors and process hangs infinitely until it reaches the timeout.

Docker image: cypress/base:14.17.0
Cypress: v10.3.0

[code]

`DEBU

[2022-06-29 14:31] tbiethman commented on #22478
@jst1102 @devhid @AurelienKun thank you for the report and the comments. I tried to reproduce this and failed to do so, which indicates to me that there's a difference in our dev environments. Can you provide me with:

* the platform (macOS/windows/linux) where you're seeing this issue
* the version of node being used

[2022-06-29 14:35] devhid commented on #22478
Hi @tbiethman,

Platform: MacOS Monterey v12.3

Node Version
[code]

NPM Version
[code]

[2022-06-29 14:38] cristiandiazcmp opened #22592 "cy.wait executed by a POST from BaseRoutes fails in circle ci when better-audit package is added"
### Current behavior

When waiting for a route/response, including the better-audit package is failing in circle ci and we can't figure out why. Also there are two request executed, one (xhr) and another one (other)
This leads to an error: Cannot read properties of undefined (reading 'statusCode')
<img width="1066" alt="screenshot" src="https://user-images.githubusercontent.com/92723787/176383253-

[2022-06-29 14:52] oliverlockwood commented on #22580
@tracymazelin thanks, I confirm that's now working for me.  Closing this issue accordingly.

[2022-06-29 14:52] #22580 closed

[2022-06-29 15:11] liuyafei0228 commented on #21615
<img width="821" alt="image" src="https://user-images.githubusercontent.com/59075395/176471620-a5b86a35-79b6-4962-8c42-558604cc4273.png">

<img width="763" alt="image" src="https://user-images.githubusercontent.com/59075395/176471852-51ba872b-5ed7-41c9-b429-878c634dd6fa.png">

[2022-06-29 15:21] villelahdenvuo commented on #21448
@mjhenkes I'm getting the same error with regular E2E tests, you can see my comment on the linked issue.

[2022-06-29 15:40] flotwig commented on #19654
Closing this issue - M1 support was added in Cypress 10.2.0 and no workaround is needed for it to work with `npm install`

[2022-06-29 15:40] #19654 closed

[2022-06-29 16:04] tbiethman commented on #22478
@devhid thanks for thorough set of data. Turns out our environments match, so something else must be going on here.

I noticed that your blockedHost value for `iaudienc.com` doesn't include a subdomain wildcard, but the requests are being made from the subdomain `s.iaudienc.com/...`. So a couple questions:

* Have you tried using a subdomain wildcard (`*iaudienc.com`) for that entry?
* Do you see

[2022-06-29 16:04] kaiyoma commented on #22573
Okay, it sounds like I should remove `integrationFolder` and `testFiles` from my Cypress config, since our values are the same as the default values. I tried that and opened the migration tool, and now I'm seeing a new bug: the tool is incorrectly applying the rename to all files, including non-test files. You can see the bug here:

![image](https://user-images.githubusercontent.com/10719780/17648

[2022-06-29 16:06] david-sabata commented on #22587
Possibly related to #8346 ?

[2022-06-29 16:12] Kremliovskyi commented on #22450
@lmiller1990 Unfortunately yes, when I removed DEBUG it still freezes

[2022-06-29 16:14] wbolduc commented on #22562
My username does in fact have whitespace

I didn't think for that because I actually have 2 users, one with and without my last name.

I'll take a look and report back

[2022-06-29 16:30] devhid commented on #22478
Hi @tbiethman, I was able to figure it out and it is now working for me.

You were right about needing the wildcard. When I used `*iaudienc.com`, the host is correctly blocked.

The issue was that my changes for `blockHosts` when I originally tried the wildcard didn't take place until I completely closed the Test Runner and restarted it. Usually, whenever I make changes in any file including the c

[2022-06-29 16:39] Songyu-Wang commented on #22523
Hello, @tbiethman yes, I understand this, but still, we have to port the envs using js instead of bash. It's the same procedure just in different code format. It doesn't really eliminate any intermediate steps

[2022-06-29 17:24] baus opened #22595 "Tooltip shows above overlays for login and switching testing type"
Tooltip shows above overlays for login and switching testing type

[2022-06-29 17:26] baus opened #22596 "Polling behavior refinement (increase polling frequency)"
Polling behavior refinement (increase polling frequency)

### Why is this needed?

Increase responsiveness of UI to server side changes

[2022-06-29 17:28] baus opened #22597 "'Request access' tooltip for average duration appears below header instead of above"
### Current behavior

'Request access' tooltip for average duration appears below header

### Desired behavior

'Request access' tooltip for average duration appears above header

### Test code to reproduce

None

### Cypress Version

10.3.0

### Other

_No response_

[2022-06-29 17:30] baus opened #22598 "'Latest run' tooltip looks a touch left of being centered over the dot"
### Current behavior

'Latest run' tooltip looks a touch left of being centered over the dot

### Desired behavior

Center over the dot

### Test code to reproduce

None

### Cypress Version

10.3.0

### Other

_No response_

[2022-06-29 17:34] Doomsby commented on #22304
An option for displaying the full path would be very helpful for us as well.

[2022-06-29 17:37] baus opened #22599 "Spec data request batching"
### What would you like?

Spec data request batching

Current behavior queries each spec row individually - this is the most responsive option (data shows up as quickly as possible for each individual row) but has potential load concerns on the backend (no opportunity to batch DB queries, lots of simultaneous small requests)

Ideally we can batch up the individual requests prior to dispatch in the

[2022-06-29 17:44] alexsch01 opened #22600 "Cypress doesn't like parenthesis () in foldername"
### Current behavior

When the parent of the "cypress" folder has parenthesis like the following: "INSERT (insert text)" in it, Cypress can't find my specs that are in this form: cypress\e2e\SPECNAME.cy.js and can't find my supportFile in cypress\support\e2e.js

### Desired behavior

_No response_

### Test code to reproduce

*Do all the steps to install and run cypress in "TEST" folder - it will

[2022-06-29 17:45] baus opened #22601 "Queued small status dot updates"
### What would you like?

* Standardize coloration of icons in "Latest Runs" section of Specs Explorer
* Update "small status dot" to use the same "queued" icon as the latest run icon for queued/pending runs

### Why is this needed?

![Screen Shot 2022-07-11 at 10 58 02 AM](https://user-images.githubusercontent.com/11482842/178307071-472aa381-23cf-48ce-a22d-2c500d720928.png)

There are some permut

[2022-06-29 17:58] JoaoTMDias commented on #22208
Thanks! That would be something that document would be helpful to read when I was migrating 🙂

[2022-06-29 17:59] chrisbreiding commented on #22554
Right now there doesn't seem to be enough information to reproduce the problem on our end. Please provide a reproducible example with test code. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

You're also using a relatively old version of Cypress. Is it possible to r

[2022-06-29 18:31] emilyrohrbough opened #22602 "(proxy) ignore requests from the clientRoute"
### What would you like?

We should ignore requests to the clientRoute, since we know they'll never make it to the proxy.

We are capturing/storing requests Cypress, which leads to numerous unmatched preRequests for urls like we know won't make it to the proxy. For a test with 0 requests, there are 19 unmatchedPreRequests loading our own code.. The recent timeout logic added in #22462 cleans these

[2022-06-29 18:35] emilyrohrbough commented on #22396
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-06-29 18:35] #22396 closed

[2022-06-29 18:54] Chili82 opened #22603 "Issue with headless mode in 10.3.0"
### Current behavior

How to set browser chrome in headless mode for version 10.3.0?

### Desired behavior

_No response_

### Test code to reproduce

How to set browser chrome in headless mode for version 10.3.0?

### Cypress Version

10.3.0

### Other

_No response_

[2022-06-29 19:21] kaiyoma opened #22604 "Project git branch reporting as '(no' when a rebase is in progress"
### Current behavior

In several places in the Cypress UI, I'm seeing the text `((no)`. What does this mean?

![image](https://user-images.githubusercontent.com/10719780/176518523-1cf89514-eb67-46e7-b988-a2d2589eb480.png)

![image](https://user-images.githubusercontent.com/10719780/176518682-71152464-ae69-40e1-94a4-3594bc036127.png)

### Desired behavior

_No response_

### Test code to reproduce

[2022-06-29 19:53] mike-plummer commented on #22031
Example code has since been removed, so this specific issue is no longer relevant. @ZachJW34 [just did some final cleanup](https://github.com/cypress-io/cypress/pull/22538) of the NPM package READMEs to remove dangling references to the examples

[2022-06-29 19:53] #22031 closed

[2022-06-29 20:15] michaelmdresser commented on #781
Is there a timeline for moving `cy.session` out of "experimental" status and into a more stable status?

[2022-06-29 20:26] restrin-extensis commented on #20697
I ran into the same issue (I'm on 9.7.) I discovered using server().route() rather than intercept() worked around the problem.

[2022-06-29 20:39] tbiethman commented on #22425
@phDoll thanks for the info 👍  I'll review the provided debug logs and get back to you soon.

[2022-06-29 20:49] tbiethman commented on #22446
@xtawfeeq7k Thanks for the report. Your video is interesting, the jittery scrolling in there stands out. Cypress has logic to detect whether an element is actionable prior to interacting with it, and I assume the persistent scroll jitter is preventing us from determining that we've reached an interactive state.

I wonder if you see any difference by calling [`focus()`](https://docs.cypress.io/api/

[2022-06-29 21:05] chrisbreiding commented on #22459
I can reproduce this with the given code or with other sites too:

[code]

In certain circumstances, I saw `login.ibm.com` hang even outside `cy.origin()`. It would always hang with `experimentalSessionAndOrigin: true`. If I turned that off, it would result in a cross-origin error unless I set the baseUrl to `https://login.ibm.com`.

[2022-06-29 21:06] tbiethman commented on #22407
@ztulic thank you for the report, I am able to reproduce this. This is likely related in some way to https://github.com/cypress-io/cypress/issues/22272. We need to make sure we're supporting extglob patterns appropriately within the spec pattern.

[2022-06-29 21:07] MohoiNad commented on #22521
Well, i don't wanna create a whole webpack config by myself, because it's too huge - that would be the whole repo of react-scripts.

i thing i have some variant's and some test's of them.
I can try to get rid of react-app-rewired with https://www.npmjs.com/package/patch-package which is one of variant's in github, i need to test it before i can say something.
That way cypress get it's new patched

[2022-06-29 21:11] #22408 closed

[2022-06-29 21:12] #22369 closed

[2022-06-29 21:13] mjhenkes commented on #22235
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-29 21:13] #22235 closed

[2022-06-29 21:13] mjhenkes commented on #22200
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-29 21:13] #22200 closed

[2022-06-29 21:17] actionJacksonfv commented on #22369
Thanks. I'm planning on trying out fixes related to #22071

[2022-06-29 21:29] Chili82 commented on #22419
Additional information: - seems that the test clears some flags from local storage during executing steps (usually the first step for login to application).

[2022-06-29 21:38] lmiller1990 commented on #22430
For ref, resolved order of config here: https://docs.cypress.io/guides/references/configuration#Resolved-Configuration

[2022-06-29 21:38] lmiller1990 commented on #22245
For ref, resolved order of config here: https://docs.cypress.io/guides/references/configuration#Resolved-Configuration

[2022-06-29 21:46] #22581 closed

[2022-06-29 21:56] #22584 closed

[2022-06-29 22:05] #22371 closed

[2022-06-29 22:13] kaiyoma opened #22608 "Sidebar scrollbar is really hard to use"
### Current behavior

Currently, you have to be a sniper to grab the scrollbar for scrolling. See the screencast:

https://user-images.githubusercontent.com/10719780/176554494-6fe9dc71-a5e3-428a-8d91-cbdb509b6c88.mp4

Only the very left of the scrollbar is usable for scrolling. The rest gets hijacked by east-west resizing.

### Desired behavior

Scrolling should work normally.

### Test code to re

[2022-06-29 23:05] lmiller1990 commented on #22074
TypeScript should work out of the box! You might need to configure `tsconfig.json` depending on what features you're using, but if you have TS in your code base already, it should "just work". You can see [the docs](https://docs.cypress.io/guides/tooling/typescript-support) for more info.

I agree should contribute to https://docs.cypress.io/guides/tooling/typescript-support, or just fork - the so

[2022-06-29 23:07] lmiller1990 commented on #22208
I'm trying to reproduce this by running a lot of CT specs: https://github.com/lmiller1990/cra-cypresss-lots-of-specs/runs/7121846709?check_suite_focus=true.

We need a reliable reproduction to debug this.

[2022-06-29 23:25] lmiller1990 commented on #22579
So this fails locally and CI? Or both?

What do `cy.btnName('checkFootprint').wait(2000)` do? Eg - what is supposed to happen at that point?

You could try running `DEBUG=cypress:* npx cypress run ...`. The `DEBUG` variable will split out lots more logs, which you could share here to help with debugging. Thanks!

[2022-06-30 00:11] lmiller1990 commented on #22590
Hi! Can you share the command(s) you are using to run Cypress? I'll need to reproduce the error in the meantime. Just doing a quick Google for "Failed to adjust OOM score of renderer with pid 202: Permission denied" points to a few interesting hits:

- https://groups.google.com/a/chromium.org/g/chromium-bugs/c/MU-CsFPPZ0A
- https://github.com/Zenika/alpine-chrome/issues/36

In the meantime, I'll n

[2022-06-30 00:30] lmiller1990 commented on #22450
I wonder if there's a race condition and `DEBUG` + all the console.logs slows things down enough to avoid it...

1. what OS?
2. can you reproduce this in Cypress 9? Let's see if we can isolate the problem - is it a regression, or a long standing bug

I cannot reproduce this, and the fact adding `DEBUG` (which just does console.log under the hood) fixes it is very weird. How are you making the requ

[2022-06-30 00:35] lmiller1990 commented on #22608
Thanks for the report. That looks really annoying. If you'd like to try and fix this problem, we'd be happy to accept a PR! Otherwise, someone from Cypress can take a look.

If you do decide to take a look, you should be able to clone the repo, `yarn`, `cd packages/app` and `yarn dev` should get you started.

[2022-06-30 00:56] kaiyoma opened #22609 "Filenames in the output in Cypress 10 are less useful than in version 9"
### Current behavior

In version 9, test filenames in the CLI output are relative to the base `integration` directory:

[code]

However, in version 10, the filenames are missing the directories:

[code]

### Desired behavior

Cypress should show the path relative to the base directory. We have lots of tests named `basic.cy.js` or `smoke.cy.js` and the directories are necessary for context.

### Te

[2022-06-30 01:11] lmiller1990 commented on #22504
@gmashokkumargm Hi! The issue might be how you are specifying `pluginsFile` in your config - it looks like your pointing to a folder with an `index.js`. This technically worked in Cypress 9, but it's ideal to point to a file - it's `pluginsFile`, as opposed to `pluginsFolder`.

I tried to patch this in 10.3.0, so you could try upgrading. An alternative would be to change your config to point to th

[2022-06-30 01:25] lmiller1990 commented on #22589
Hi! What a fantastic issue, thanks for all the feedback.

Agreed, but I think this is not necessary after we apply your two following recommendations.

This would also make sense, but we *know* if you are in CT or E2E. I think we could be smarter about it - see my next comment.

I'm thinking the same thing - if we are in E2E and we see someone is using mount, we should just swallow the error. My o

[2022-06-30 01:28] lmiller1990 commented on #22505
Are you able to share this? I was able to reproduce the original post issue, but not yours. Just trying to see if we actually have two separate issues, or just one.

[2022-06-30 01:37] lmiller1990 commented on #22419
90 minutes is one heck of a long run. Over that time, I'm guessing there's a memory leak somewhere that's eventually causing this issue, and it must have been introduced in Cypress 10.

Just to clarify; you run all tests specs, sequentially, on your local machine (as opposed to a CI machine)?

Your post says you are on 9.4.1 - can you confirm this issue is happening on 9.4.1, or only since migrati

[2022-06-30 01:50] lmiller1990 commented on #22353
I am looking into this - got a few calls lined up with some significantly large private code bases also exhibiting this issue. I care deeply about performance, fixing this is the highest priority.

[2022-06-30 01:54] lmiller1990 commented on #22353
Maybe dup/related? https://github.com/cypress-io/cypress/issues/22208

[2022-06-30 01:58] #21724 closed

[2022-06-30 02:00] lmiller1990 commented on #22577
I added Storybook in my project, then I added Cypress 10, but it seems okay: https://github.com/lmiller1990/cra-cypresss-lots-of-specs

Is this issue unique to upgrade from Cypress 9 -> 10? Stupid question, but what if you do `rm yarn.lock && rm -rf node_modules && yarn install`? Not ideal to delete the lockfile, but curious if something strange is happening there between upgrades.

[2022-06-30 02:03] lmiller1990 commented on #22609
Agreed, and dup: https://github.com/cypress-io/cypress/issues/22304

Let's talk about it there.

[2022-06-30 02:03] #22609 closed

[2022-06-30 02:07] lmiller1990 commented on #22304
This seems like a pretty nice feature. Just posting to let others know opinions posted here don't go into a void, we look, assess, and act on them - it just takes a bit of time, since any change should be carefully considered (this one was, too, but evidently it may not have been considered enough).

My personal use case: when a spec fails, I copy the path and paste to `cmd + p` in VS Code to go t

[2022-06-30 05:00] melsacramento opened #22610 "Firefox display bug"
### Current behavior

When running cypress 10 and using firefox(v102) as the browser. There is a problem with the display (see attached image)

This did not occur in cypress 9

One workaround to this is to minimize the browser display, but it can be very inconvenient as then its hard to see the test that are running

![image](https://user-images.githubusercontent.com/88633931/176597412-13041cd4-87

[2022-06-30 05:12] allen-beamry commented on #21058
@jennifer-shehane May I know the progress of investigating this issue?
I upgraded to Cypress v10+, and started seen flaky tests due to the `Element detached from the DOM`.

[2022-06-30 05:17] Chili82 commented on #22419
Yes sorry, on 9.4.1 I get an error without memory. After that, I installed version 10.3.0 and ran all the tests, but after a few tests my tests started to crash and I can't fully test if we still have out of memory.
The application we are testing works on the following principle:
- when the user logs in, we place the appropriate settings in localStorage. After each user action, we refresh the loca

[2022-06-30 05:56] navdeepdevrepublic commented on #22349
Hi @tbiethman
Regarding the hCaptcha integration with cypress, I have followed the below links
_https://www.npmjs.com/package/puppeteer-hcaptcha_
_https://github.com/aw1875/puppeteer-hcaptcha/blob/master/demos/solve.js_
_https://www.techtonic.com/puppeteer-can-fill-in-cypress-gaps/_
_https://jsoverson.medium.com/bypassing-captchas-with-headless-chrome-93f294518337_

I am installing the 'puppeteer

[2022-06-30 06:08] 0x009922 opened #22611 "`@cypress/vue@4.0.0` bundle is broken: `@vue/test-utils` is not externalized"
### Current behavior

Currently `@cypress/vue` (v4) has a dependency:

[code]

But if you explore actual `dist/cypress-vue.*.js` files, you will see that Vue Test Utils is not imported, but bundled. The only external import is `vue`.

### Desired behavior

`@cypress/vue` should import `@vue/test-utils`, not bundle it.

### Test code to reproduce

Bundle bug, not test code.

### Cypress Version

10

[2022-06-30 06:11] lmiller1990 commented on #22353
## Summary

Ok, I looked into it. It turns out creating a new tab (and associated processes) was killing the performance. Here's a branch with the 9.7.0 behavior, which is one tab -> run all specs in there.

- Branch: lmiller/22353-ct-single-session.
- [Diff](https://github.com/cypress-io/cypress/compare/lmiller/22353-ct-single-session?expand=1).
- [Test repo I created with 100 specs](https://gith

[2022-06-30 06:45] TPHRyan commented on #22505
@lmiller1990 My suspicion is now that we have two separate issues, as actually my problem does not include the error message on the same screen (I get it when requesting the .cy.ts file while testing) and I have run a profiling session to find no apparent network errors. I'll try to find some distinguishing factor in my issue so I can know for sure, but until then probably disregard the details I'

[2022-06-30 07:12] diogosantana2011 commented on #22444
Hi @emilyrohrbough,

Thank you for the reply and suggestion.

Regarding your question:
[code]
I am running on Jenkins node, without docker.

I've added `node_modules` folder within the project on Jenkins:

![image](https://user-images.githubusercontent.com/58599175/176613496-7e2f6b50-8371-46a1-bdd9-e025d87f2d88.png)

Upon running the job; the job ran without the error on Cypress Modules.

![image]

[2022-06-30 07:20] jessevdp commented on #22505
It seems `config/vite.json` is a file used by [Vite Ruby](https://vite-ruby.netlify.app) (see [configuration](https://vite-ruby.netlify.app/config/)).

I strongly suspect that the issue has something to do with the full paths being used by Cypress to attempt to fetch the component test code. Since this is different from the e2e setup.

I'll have time to look into this more later today 👍

[2022-06-30 08:16] efattal opened #22613 "Cypress 10 : intercepting POST requests gets 404 error when running in Jenkins CI"
### Current behavior

While it's running perfectly locally, since we migrated to Cypress 10.x.0, the tests that intercept POST request fail on our Jenkins CI with this error:

![image](https://user-images.githubusercontent.com/22234235/176626884-15868ec4-18e7-4bb1-a316-a17bd4d185ee.png)

Does anyone else have such an issue or found a workaround?

Thanks for helping

### Desired behavior

Cypress 1

[2022-06-30 08:17] gmashokkumargm commented on #22504
@lmiller1990 Thank you very much for your comment, By the way, I updated everything manually instead of going through the migration and it works perfectly fine with the new version.

[2022-06-30 09:35] skjnldsv opened #22614 "setupNodeEvents baseUrl config change is not used/saved"
### Current behavior

Maybe I'm doing something wrong in the `setupNodeEvents` usage.
I cannot succeed to edit the config baseUrl from the `before:run` event. Is it even possible?

![image](https://user-images.githubusercontent.com/14975046/176643043-dd4e00c5-4c62-4d49-8cbb-912b4a0be724.png)

### Desired behavior

`baseUrl` should be assigned with the proper value set during the `setupNodeEvents`

[2022-06-30 10:28] stychu commented on #22590
So I just did quick test to see if it will work on Azure.

I did setup fresh Cypress folder and checked it locally and  on Azure.
Worked on both.

But I can clearly see that there are some problems reported.

### Locally in docker
[code]
[code]

### Azure docker

[code]

[code]

There is definitely some problem

[code]

But despite that is seems to be working so I guess there is some problem with

[2022-06-30 10:29] stychu commented on #22590
@lmiller1990
Here is docker image im using

[code]

Maybe this is the problem with the image itself or some codecs/drivers are missing ?

[2022-06-30 12:32] SinghPramender opened #22616 "Showing a window pop-up while running commands in the headless (CLI) mode."
### Current behavior

As we know, cypress does not support other window or tab testing. I am testing a button on which a new window opens. But when i run the code in the command lines using "npx cypress run", a window pop-up and then disappear. But this should not be happened in the headless mode.

### Desired behavior

Pop-up window should not show in the screen.

### Test code to reproduce
[code

[2022-06-30 12:34] bilalSaidi opened #22617 "lunch firefox not working"
### Current behavior

while lunching firefox i got this message :
Still waiting to connect to Firefox, retrying in 1 second (attempt 56/62)
Still waiting to connect to Firefox, retrying in 1 second (attempt 57/62)
Still waiting to connect to Firefox, retrying in 1 second (attempt 58/62)
Still waiting to connect to Firefox, retrying in 1 second (attempt 59/62)
Still waiting to connect to Firefox, r

[2022-06-30 13:14] emilyrohrbough commented on #22444
@diogosantana2011 Glad you were able to resolve this issue. Sorry you have been struggling through this upgrade! We appreciate your patience! Since this issue is resolved, I'm going to close it.

[2022-06-30 13:14] #22444 closed

[2022-06-30 13:15] #22436 closed

[2022-06-30 13:15] mfernandezmad commented on #22581
Hello @mjhenkes,

I see the resolution as completed but nothing else.
Could we have any update? This is blocking us.

Thanks in advance

[2022-06-30 13:17] emilyrohrbough commented on #22447
@philkawakami The above suggestion should have resolved your issue. I am going to close this issue due to inactivity. If you experience any other issues, please open a new issue with the details.

[2022-06-30 13:50] gustavobmichel commented on #22478
I figured out what my issue was. I am using different config files for different environments and they don't inherit from the main `cypress.config.js` so I have to copy all settings into it. Hope that helps someone.

[2022-06-30 13:54] Fgerthoffert commented on #17627
@mjhenkes any clues on what is happening ?
I'm wondering if you still need historical data on the failure for that project, if not, we'll continue our migration (and lose previous runs data on CircleCI).

[2022-06-30 13:54] marktnoonan commented on #22610
Thanks for reporting @melsacramento, this looks like another manifestation of https://github.com/cypress-io/cypress/issues/21881, which I am actually testing a fix for right now, and expect it to be included in the next release of Cypress.

[2022-06-30 14:24] gvocale commented on #22577
@lmiller1990 yep, only applies to cypress 10. I have tried `rm yarn.lock && rm -rf node_modules && yarn install` few times, but didn't solve the issue.

[2022-06-30 14:32] emilyrohrbough opened #22622 "(chrome) disabled Optimization Guide Prediction models"
### What would you like?

While debugging chrome crashes yesterday, I saw some interesting requests from Google...after a bit of googling, looks like Google runs Optimization Guide Prediction models when it is opened. This is the [full list of optimization guide features.](https://source.chromium.org/chromium/chromium/src/+/main:components/optimization_guide/core/optimization_guide_features.cc;l=8

[2022-06-30 14:37] mike-plummer opened #22623 "Append UTM params to "Latest Runs" URL in Specs Explorer"
### Current behavior

URLs in `RunStatusDots.vue` do not contain UTM params

### Desired behavior

Update `RunStatusDots.vue` to append UTM params to the dashboard URL - needs to be done both for the row-level link and the tooltip-level link. Ideally this would use the `getUrlWithParams` utility, but this may need to be updated to work with prebuilt URLs that already contain params.

utm_source: t

[2022-06-30 15:47] tbiethman commented on #22399
@JessefSpecialisterren thank you for the report, and apologies for the late response. I've looked into this a bit, and I can't seem to reproduce the output you're seeing. I tried on both macOS and Windows.

<details>
<summary>Log</summary>

[code]

</details>

Are you seeing the incorrect output (with "It looks like you are running the binary directly...") every time the verification times out, or

[2022-06-30 15:58] emilyrohrbough commented on #22506
@pontilicious Thank you for logging an issue. To confirm this hanging is indeed related to the browser crashing or hanging, can you run `DEBUG=cypress*` to capture the debug & verbose debug logs and share them here?

I was able to produce the hang when Chrome crashes, but want to double-check this truly a Chrome issue.

[2022-06-30 16:06] jwedel commented on #21387
@pstakoun Also after reading the grouping mechanism, I am not sure how this can be leveraged to call Cypress once and have it output reports and videos for two browsers.

Cypress is executed from an image and gets things like which browser to run from the command line. So it's not that easy to do this in a configurable way. Also, wont it overwrite the the result videos e.g.?

[2022-06-30 16:18] tbiethman commented on #22600
@alexsch01 thank you for the report. We've had some issues with parentheses in paths getting into our glob patterns and causing problems. Can you provide the following data so we can investigate further?

* The OS you're using with cypress
* The full path to the cypress project exhibiting this issue (you can replace sensitive data here, just try to persist any spaces/special characters)
* The cypr

[2022-06-30 16:20] kaiyoma commented on #22604
@tbiethman Yes, we're using git, and the branch is named `trunk`. I'm running the git bash shell in Windows 10.

[2022-06-30 16:31] emilyrohrbough commented on #9350
If any of you are still experiencing this issue, can you please run with `DEBUG=cypress*` to gather the verbose logs to see if additional information can be uncovered?

[2022-06-30 16:50] emilyrohrbough commented on #20183
@marcandre Are you still experiencing this issue? If so, can you try running with our verbose debug logs enabled to determine if this a browser crash? `DEBUG=cypress* cypress run`

[2022-06-30 16:54] #16202 closed

[2022-06-30 16:55] tbiethman commented on #22410
@chaitanyarajugithub thank you for the report. Reading over your issue, I figured I knew why this was happening, and that we were detecting fixture changes as spec file changes incorrectly. I built a simple test case to verify, but as it turns out I don't see the same behavior that you are reporting.

[code]

The above spec in my environment generates 10 sets of unique data, one for each `it` exec

[2022-06-30 17:26] chrisbreiding commented on #22439
I've verified and reproduced this issue with the code provided. I noticed the following error is printed to the console when the submit button is clicked:

![Screen Shot 2022-06-30 at 1 16 29 PM](https://user-images.githubusercontent.com/1157043/176738517-ef6e6f2b-5f82-4424-b925-5ab175abc0a0.png)

[code]

I also verified that the form submission works when manually clicked or if it takes place on

[2022-06-30 17:38] baus opened #22626 "In the specs list the vertical alignment of Specs is incorrect"
### Current behavior

At smaller breakpoints row content is offset vertically

![175789330-562f6ef8-5a69-4791-b523-ed8539c916ab](https://user-images.githubusercontent.com/11482842/176761993-07354b5e-af6a-429b-89c9-61279b840eb2.png)

### Desired behavior

Spec row content should remain vertically centered regardless of screen width

### Test code to reproduce

None

### Cypress Version

10.3.0

###

[2022-06-30 17:53] baus opened #22627 "Spec list scrolling is janky as a result of virtualization"
### What would you like?

Remove virtualization from spec list.

The spec list currently virtualized, @marktnoonan's recommendation is to remove virtualized. There is agreement from Design to do this, but we do need to verify with the cloud team how loading more specs would affect them

### Why is this needed?

_No response_

### Other

_No response_

[2022-06-30 17:57] baus opened #22628 "Remove tabindex="0" from RunStatusDots.vue"
### Current behavior

Implementation currently contains tabindex="0"

### Desired behavior

_No response_

### Test code to reproduce

NOne

### Cypress Version

10.3.0

### Other

_No response_

[2022-06-30 17:59] baus opened #22629 "RunStatusDots refactor"
### Current behavior

runs.values.length === 1 is confusing

### Desired behavior

_No response_

### Test code to reproduce

NOne

### Cypress Version

10.3.0

### Other

_No response_

[2022-06-30 18:00] chrisbreiding commented on #22585
I was able to reproduce this with the following:

[code]

where `/html/post.html` is:

[code]

I didn't get a socket hangup since I can't completely reproduce your setup, but it resulted in a `Failed to fetch` error. The error no longer occurred if I changed the value to non-hebrew characters, so I feel fairly confident it's the same issue.

As far as I can tell, [only a limited number of characte

[2022-06-30 18:00] #22585 closed

[2022-06-30 18:03] #22479 closed

[2022-06-30 18:04] chrisbreiding commented on #22581
This was closed as a duplicate of #22592.

[2022-06-30 18:08] chrisbreiding commented on #22592
Right now there doesn't seem to be enough information to reproduce the problem on our end. Please provide a reproducible example with test code. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2022-06-30 18:18] rockhold commented on #22595
Screenshot and link to conversation in Slack: https://cypressio.slack.com/archives/C035VB3HVAL/p1656375090620839
![image](https://user-images.githubusercontent.com/4065848/176749293-8eb3a61f-dd88-4dfa-9830-f1d5ec950cd0.png)

[2022-06-30 18:28] pstakoun opened #22630 "Support shells other than bash-style shells for git info"

[2022-06-30 18:30] emilyrohrbough commented on #15124
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-30 18:30] #15124 closed

[2022-06-30 18:35] rockhold commented on #22597
![image](https://user-images.githubusercontent.com/4065848/176752615-4a929174-f05d-4879-b114-d1d1674c1474.png)

[2022-06-30 18:38] emilyrohrbough commented on #21549
Duplicate of #20846 and #22419

[2022-06-30 18:45] emilyrohrbough opened #22631 "Detect and Recover when Browser Hangs/Crashes/Dies"
### Current behavior

Cypress does not handle browser tab crashes, hanging browsers or issues related to browsers unexpectedly dying. This cause Cypress to hang indefinitely until the process is manually stopped or CI times out.

### Desired behavior

Cypress should handle tab crashes and timeout on browsers hangs.

- Tab Crash - Cypress should handle closing the tab, reopening a new tab and conti

[2022-06-30 18:45] saurabh021986 opened #22632 "cy.visit() "still" fails behind corporate proxy"
### Current behavior

I have gone through numerous previous issues explaining incorrect behavior of cy.visit() behind corporate proxy and have already tried all mentioned workarounds like setting http proxy variables. Still i am not able to open the webpage i want to test behind my company proxy. Using Cypress v10.1.10 on Mac OS v11.5

Relevant log:
at timedOutWaitingForPageLoad (http://<ip:port>/

[2022-06-30 19:13] #21676 closed

[2022-06-30 19:19] ZachJW34 commented on #22589
I've opened a [PR](https://github.com/cypress-io/cypress/pull/22633) to fix this. There are side effects from importing `mount` which are required for CT testing but cause issues when running e2e tests. Thanks @bozskejkaja for finding this!

[2022-06-30 19:22] AspireSytemsINC commented on #21549
We are yet to migrate the scripts to Cypress 10. But, with docker  image FROM cypress/included:9.5.1 execution is fine for 2-3 hours batch in headless chrome.

[2022-06-30 19:22] tbiethman commented on #22529
@rkhomi I know you reported this issue as being intermittent, but can you try putting together a minimal reproduction? It'd be helpful to see the cypress [debug logs](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs) around this error.

[2022-06-30 19:32] emilyrohrbough commented on #22409
@amad0005 Can you provided verbose debug logs by running with `DEBUG=cypress*`?

[2022-06-30 19:43] tbiethman commented on #22512
@rdogmartin thank you for the report. I can reproduce this using the repo you provided.

[2022-06-30 19:49] CrispinaRMuriel commented on #9447
using `cypress-plugin-stripe-elements` to get around this https://www.npmjs.com/package/cypress-plugin-stripe-elements

[2022-06-30 19:52] tbiethman commented on #22516
@briggsge thank you for the report. We have a [couple](https://github.com/cypress-io/cypress/issues/22245) [issues](https://github.com/cypress-io/cypress/issues/22430) logged around the cli/config precedence; I'm going close this en lieu of those.

[2022-06-30 19:52] #22516 closed

[2022-06-30 20:22] tbiethman opened #22634 "Changes to `blockHosts` config value should trigger restart"
### Current behavior

The `blockHosts` config value does not trigger a server restart on change, which results in those values not getting picked up in the current Cypress instance. This is inconsistent with our controls around other values and will lead to confusion.

### Desired behavior

Cypress restarts when the `blockHosts` config value changes so that the new value is used.

### Test code to

[2022-06-30 20:30] tbiethman commented on #22549
@M-Jyothi thank you for the report. I see that [cypress-mochawesome-reporter](https://github.com/LironEr/cypress-mochawesome-reporter) released a 3.2.0 version recently that included cypress v10 support. Can you confirm that you're installing that version and that you've gone through the updated setup steps on the README? Providing a minimal reproduction would also be helpful in determining any is

[2022-06-30 20:40] #22102 closed

[2022-06-30 20:41] tbiethman commented on #22076
@PeerWitthoeft I see, thanks for double checking that. Without more specifics, it is difficult to try and reproduce this issue. Is there any way for you to provide a minimal reproduction that exhibits the issues you're seeing?

For your screenshot above regarding "The browser only uses files in cypress path:", showing chrome.exe and the cypress cache paths, what application is that/how are your vi

[2022-06-30 21:04] daria-graf commented on #21443
@BlueWinds thank you for your comment, but i disagree that it is "a docker issue". It is just the way docker works. The documentation of the library you posted ([tini](https://github.com/krallin/tini) says it very good: "It **protects** you from **software that accidentally creates zombie processes**". So i believe cypress is not waiting and killing its child processes (browser, video recording et

[2022-06-30 21:09] mjhenkes commented on #22438
Closing, We do not guarantee the order of spec execution from globs.

[2022-06-30 21:09] #22438 closed

[2022-06-30 21:12] mjhenkes commented on #17627
@Fgerthoffert, i haven't been able to reproduce since that last run. I think you're ok to migrate since we haven enough to attempt a recreation in my forked repo.

Thanks so much for all the info and help you've provided thus far. I'll be out until the week after the 4th of july and attempt to re-create again.

[2022-06-30 21:14] pstakoun opened #22637 "Add banner treatments for incomplete connection states"

[2022-06-30 21:15] pstakoun opened #22638 "Make spec data headers more obviously hoverable"
### What would you like?

Update styling/content to make it more obvious that Specs Explorer headers provide tooltips with contextual actions (login, connect, request access buttons)

### Why is this needed?

Analytics indicates that users are not making use of contextual actions within Specs Explorer header tooltips (login, request access, connect project). We suspect that this is because users a

[2022-06-30 21:20] #22504 closed

[2022-06-30 21:41] BlueWinds commented on #21443
@daria-graf - I stand corrected, you are absolutely right. I wasn't reading your sample script correctly, and thought it was leaving the zombies `Cypress` processes itself, which is not the case.

With that said, I'm not sure this is going to be easy to prioritize for the team. I'm reopening, but doubt we'll have time to take a look - if you or another contributor wants to take a crack at auditing

[2022-06-30 21:51] emilyrohrbough commented on #22608
@kaiyoma It looks like there is an existing contributor PR to fix this behavior! #22473

[2022-06-30 22:06] melsacramento commented on #22610
Thank you very much, looking forward to the fix

[2022-06-30 23:17] lmiller1990 commented on #22556
Hi! I've got some basic apps working fine w/ web sockets (using Node). Are you able to create a minimal repo with your setup? I am not familar enough w/ C# to re-create it, but I don't know of any generic reason web sockets wouldn't be working w/ Cypress.

[2022-06-30 23:37] #21615 closed

[2022-07-01 00:08] lmiller1990 commented on #22589
That was quick. Looks like this will land in the next release.

[2022-07-01 00:23] lmiller1990 commented on #22419
Thanks for the reply. Let's start with the latter issue, around localStorage in Cypress 10. We generally don't patch older versions, like 9.4.1, so I think it's best to focus on the 10.x issue first, and go from there.

So to clarify, when you say a step you are referring to a command, eg `cy.get`, `cy.click` etc (functions on the `cy` object)? We do [clear local storage](https://docs.cypress.io/a

[2022-07-01 00:31] vallme2003 opened #22642 "Support for Markojs Component Testing"
### What would you like?

For component tests, cypress currently supports the list in https://docs.cypress.io/guides/component-testing/component-framework-configuration#Automatic-Configuration-Recommended  and would like to get support for Markojs(https://markojs.com/) framework components.

### Why is this needed?

There is a wide variety of applications using Markojs for js size (https://markojs

[2022-07-01 00:41] lmiller1990 commented on #22590
@stychu potentially... just to clarify, your original message:

Is that your main production project hangs, but the basic one you tried does not? Also - you mentioned going from 8.x to 10.x - in line with your divide and conquer strategy, what if you go to 9.7.0 (latest version of 9.x). I wonder if that will work? At least, it'll minimize the surface area for the code we need to audit to find what

[2022-07-01 00:47] lmiller1990 commented on #22577
Posted here: https://github.com/storybookjs/storybook/issues/18564#issuecomment-1171806604

Seems `yarn` does not want to let you add `html-webpack-plugin` if you've got `html-webpack-plugin-4`  and ``html-webpack-plugin-5`. How about `npm`?

[2022-07-01 01:15] marcosrjjunior commented on #22361
maybe it was another Marcos? haha I really don't remember this
are you really talking to the correct person here?

[2022-07-01 01:24] lmiller1990 commented on #22505
I will post a minimal repro soon. I can only reproduce it with the vite-ruby plugin so far. I am trying to figure out what the config options end up mapping to inside of Vite. It's ending up assigning to `outDir`, which is a `build` option in Vite, so it shouldn't do anything here.

https://github.com/ElMassimo/vite_ruby/blob/d1ff3c6532aea5bc8b6b80d6aebcd5e813c70c4e/vite-plugin-ruby/src/config.ts#

[2022-07-01 01:51] lmiller1990 commented on #22505
I cannot reproduce without Vite Ruby.

Repro: https://github.com/lmiller1990/issue-22505

[2022-07-01 04:07] lmiller1990 commented on #22353
If anyone is following this and wants to give me some feedback, that'd be great. For the next 48 hours you can grab a pre-release for linux and mac here: https://github.com/cypress-io/cypress/commit/6e4d8cd1b3c1c4f3a32e002ea03ca77cb49bb191 (scroll down to the comments). It's possible E2E is a bit bugged in this build; I only tested it on component testing thoroughly, since the main goal is to fix

[2022-07-01 04:34] lmiller1990 commented on #21381
Ok, PR is good to go, will get it reviewed and shipped: https://github.com/cypress-io/cypress/pull/22437

[2022-07-01 04:37] elijahstorm commented on #21381
Sorry for the extra work, but I'm on a MacOS. Thank you for the work. I look forward to testing it.

[2022-07-01 04:46] lmiller1990 commented on #22611
Hi! Good point. If we import it, though, it's an additional peer dependency, which isn't really ideal.

We've got two options:

1. try to import it, then defer to bundled version.
2. bundle it and re-export it

I think 2 is the best option - this way, you just need to update to the latest `cypress` version, and you'll get all the updates for free. `cypress/vue` is generally running against the lat

[2022-07-01 04:57] lmiller1990 commented on #22642
Hi!

Sounds like a fun project, I've been wanting to try Marko for a while. I cannot commit to a time frame for support in core (eg, `import { mount } from 'cypress/marko'` but we can definitely work on this... we expose some useful internals in `@cypress/mount-utils`: https://github.com/cypress-io/cypress/tree/develop/npm/mount-utils that can let us build this as a third party library, that we ca

[2022-07-01 05:02] Chili82 commented on #22419
Yes, I know that cypress clear localStorage aftet each test but if I have one test with few steps (login, open custom form, customize form - add new inupt or checkbox on form, set some values on form and save for example) This is one gherkin scenario.
 When I say "refresh" localStorage, I mean update localStorage with new applicationState. After login, we get state from DB and save this data in lo

[2022-07-01 05:27] phDoll commented on #22425
@tbiethman maybe some additional Information. A colleague of mine had no troubles with firefox running the same code as me.

He is working with Ubuntu 18.04.6 LTS, node v14.19.3.

After that i tried it using the same Node Version as him but i got the same results as before

[2022-07-01 05:28] rajendran-k commented on #2667
After upgrading to cypress 10.3.0 am seeing this issue in Windows. It does open but window is laying somewhere else and cant focus to it. Current hack am using is Shift+ Right click and then maximize.

[2022-07-01 06:03] lmiller1990 commented on #21381
@elijahstorm you can get Darwin and arm64 macOS builds here: https://github.com/cypress-io/cypress/commit/61843096cda803da8212a0a4f95d5298b70036fd#comments

I tested it out on my m1 (under darwin) with React 18, working for me. Let me know how it goes for you. 🙏

[2022-07-01 06:12] yuyic opened #22643 "Custom command contains ReactElement will throw error"
### Current behavior

If the custom command in support file contains ReactElement, then I get "CypressError: Cypress cannot execute commands outside a running test.", is this a bug?

### Desired behavior

_No response_

### Test code to reproduce

https://github.com/yuyic/cypress-custom-mount-demo

### Cypress Version

10.3.0

### Other

_No response_

[2022-07-01 06:32] jholmes-seek commented on #18014
Is there anything we can do to help get this through?

[2022-07-01 06:40] dante01yoon commented on #22273
I'm facing this issue too. I build docker image based on `cypress/browsers:node14.17.6-slim-chrome100-ff99-edge`, error ccured right after print cypress report, my pipeline assumes whole process is failed.

[2022-07-01 08:39] chrisrhymes opened #22644 "yarn audit fails after updating @cypress/webpack-dev-server to v2"
### Current behavior

When I upgrade @cypress/webpack-dev-server to "^2" (which installs v2.0.0) I get the following error when running `yarn audit`.

[code]

If I rollback to the previous version constraint `"@cypress/webpack-dev-server": "^1.8.0",` then `yarn audit` works as expected.

### Desired behavior

yarn audit should work as expected

### Test code to reproduce

Here are the Cypress depe

[2022-07-01 09:12] JessefSpecialisterren commented on #22399
Spent some time trying to reproduce this issue today with Cypress 10.3.0. Initially, all my attempts looked like the log you posted, no confusing error message to be seen. I finally got the confusing error message again by triggering the first run smoke test on a very slow Windows 10 VM and with `CYPRESS_VERIFY_TIMEOUT` unset (setting `CYPRESS_VERIFY_TIMEOUT` to a low value actually seems to _prev

[2022-07-01 09:29] pontilicious commented on #22506
@emilyrohrbough I have an older log file here. Since the problem seems to occur since Cypress 4.2, it should still be a reference.
you said it was a problem in Chrome. I suspect it affects all Chromium browsers because we also have the problem in the Electron browser.
[log.txt](https://github.com/cypress-io/cypress/files/9027770/log.txt)

[2022-07-01 09:52] zawiasam commented on #5240
Just keep in mind that this will not work in case when you need to return value like in case of "before:browser:launch"
You will have to adjust this code for your needs

[2022-07-01 10:37] alyssa-glean commented on #20897
Apologies - the upgrade to Cypress 10 hasn't been as straightforward as I'd hoped so it's taking a little longer. Will hopefully have it rolled out next week and can update you then.

[2022-07-01 10:56] fazo96 commented on #22525
We are having what I think is the same issue. Same error message inside cypress, and the terminal output shows this:

[code]

Repeated for every component that is loaded. We don't use SASS, but we have a couple global css imports in the style of `import './file.css'` plus Next.js CSS modules.

Currently we are using Cypress 9 and @cypress/react version 5 which are working correctly. Upgrading to C

[2022-07-01 11:13] fazo96 commented on #22525
Not sure what I did, but now all of a sudden it works again

[2022-07-01 11:27] fazo96 opened #22645 "cypress run --spec only runs the first spec if multiple specs are passed"
### Current behavior

`cypress run --spec file_a.tsx file_b.tsx` and also `cypress run --spec file_a.tsx,file_b.tsx` both end up running only the specs in `file_a.tsx`

### Desired behavior

`cypress run --spec file_a.tsx file_b.tsx` and also `cypress run --spec file_a.tsx,file_b.tsx` both result in `test_a.tsx` and `test_b.tsx` both being executed by cypress

### Test code to reproduce

Any test

[2022-07-01 11:29] juliomrc commented on #19831
@tnrich It has been a while. Do you have any update on this?
We recently updated Cypress and we are facing the exact same issue.

[2022-07-01 11:34] westwardharbor0 opened #22646 "Output valid JSON to stdout when using --json argument"
### What would you like?

It would be nice to have a valid JSON output to the stdout when using the `--json` argument.

Right know the output of each test is printed separately as a JSON making the output impossible to parse as JSON.
Another problem is that the output can be disrupted with other messages like
[code]

The current output can look like this

[code]

 The expected output format could

[2022-07-01 11:36] marktnoonan commented on #21721
@pmcochrane @vergjor I ran across the skipped test for this yesterday which led me to this issue, I've opened a PR and it should make it in to a release pretty soon.

[2022-07-01 13:49] emilyrohrbough commented on #22644
@chrisrhymes I was unable to reproduce this issue when installing `@cypress/webpack-dev-server` in [cypress-test-tiny](https://github.com/cypress-io/cypress-test-tiny) using yarn v1.22.17.

This [yarn issue](https://github.com/yarnpkg/yarn/issues/6607) was logged a while back for v1.22.10. Please check your yarn version.

[2022-07-01 13:49] #22644 closed

[2022-07-01 13:54] marktnoonan opened #22649 "Network request URLs appear in AUT address bar when hovered/pinned in the command log"
### Current behavior

Currently the URL in the in address bar gets updated on hover/pinning for any command that has a `url` property. Network requests logged in the reporter have a `url` property, so the AUT incorrectly shows this as the location of the Application Under Test

<img width="1790" alt="url with network snapshot" src="https://user-images.githubusercontent.com/8340719/176907378-f720a1

[2022-07-01 14:02] emilyrohrbough commented on #22645
@fazo96 Thank you for opening an issue.  I took a look at the examples you provided and this does not seem to be an issue. I am able to successfully run multiple specs using the `--spec` flag once.

What I am noticing though is if I provide an incorrect spec pattern or file path, only one test runs and Cypress does not provide an error to indicate it didn't find a spec matching that pattern. It wo

[2022-07-01 14:14] #21785 closed

[2022-07-01 14:14] #22389 closed

[2022-07-01 14:17] jprealini commented on #1542
Oh my.. I solved the issue... I know @sturichardson posted his scenario long ago, but I was seeing the exact same behavior (with the placeholder div) but none of these solutions were working... After going through cypress docs, started looking in the .trigger documentation to understand exactly what that "which" option was about, and reading through found the line that says:
[code]
That made my br

[2022-07-01 14:17] jljohnson001 commented on #21858
Hi @jennifer-shehane, is this issue still open? Happy to submit a PR for it.

[2022-07-01 14:21] KyorCode commented on #20541
Same here `v10.3.0`. Running Electron in headless does work locally, but hangs on the CI. Can't connect to electron.. times out.. :/

[2022-07-01 14:23] tbiethman commented on #22617
@bilalSaidi thanks for the report. We are currently tracking some Firefox connection issues on Windows with Firefox 101: #22086. Can you confirm your OS and FF version?

[2022-07-01 16:12] mike-plummer opened #22653 "ACI: Flaky Annotation"
App/Cloud Integration - Display "Flaky" indicator in Specs Explorer with actionable tooltip

PRD: https://docs.google.com/document/d/1u5cyqB6uDcGnhDnex49XKODJzZKdBpYr1xbgovS-bC8/edit#heading=h.shvspemfqn1w

Figma: https://www.figma.com/file/PAOozuCxtfetqP8fUVvg0y/branch/DgeFrhaX8N9ufrzvxzLnPg/Cypress-App?node-id=15539%3A191387

[2022-07-01 16:12] mike-plummer opened #22654 "Create Flaky badge component"
https://www.figma.com/file/DgeFrhaX8N9ufrzvxzLnPg/app-cloud-int%3A-flake-tooltip?node-id=16539%3A146227

![Screen Shot 2022-07-01 at 11 28 41 AM](https://user-images.githubusercontent.com/11482842/176934210-d4738103-d4f5-4ee8-9a09-de8574b97588.png)

Badge will display if a spec retrieves data from the cloud indicating it is flaky. It will provide a tooltip on hover/focus (tracked separately under

[2022-07-01 16:13] mike-plummer opened #22655 "Create Flaky data tooltip component"
https://www.figma.com/file/DgeFrhaX8N9ufrzvxzLnPg/app-cloud-int%3A-flake-tooltip?node-id=16635%3A148374

![Screen Shot 2022-07-01 at 11 31 35 AM](https://user-images.githubusercontent.com/11482842/176934667-90627335-49ac-42a0-aa91-85525a5f55a5.png)

**Work Items**
1. Create tooltip content layout (similar to existing layout in `SpecRunSummary.vue` for Latest Runs data)
2. Integrate "graph" icons f

[2022-07-01 16:14] karlhorky commented on #20753
@lmiller1990 @ZachJW34 any chance of supporting `es2020`, `es2021`, `es2022`, `esnext` and other newer values?

[2022-07-01 16:14] karlhorky commented on #16914
@lmiller1990 @ZachJW34 any chance of supporting `es2020`, `es2021`, `es2022`, `esnext` and other newer values?

[2022-07-01 16:14] mike-plummer opened #22656 "Integrate new Flaky API data via GQL"
**CLOUD dependencies to provide the following data**

Data for indicator: [CLOUD-691](https://cypress-io.atlassian.net/browse/CLOUD-691)
* "isFlaky" attribute for spec

Data for tooltip: [CLOUD-692](https://cypress-io.atlassian.net/browse/CLOUD-692)
* "Flaky Rate" - low, medium, high and percentage
* "Flaky vs total runs" totals (2 flaky runs / 50 total)
* "Last Flaky" (Last flaky 2 runs ago)
* UR

[2022-07-01 16:15] rishabhjn321 commented on #6562
How can we destructure url from hrefValue that we have stored and use it to visit a new site

[2022-07-01 16:15] rishabhjn321 commented on #6562
How can we destructure url from hrefValue that we have stored and use it to visit a new site

[2022-07-01 16:37] mike-plummer opened #22657 "Integrate Flaky Badge & Tooltip into Specs List"
https://www.figma.com/file/DgeFrhaX8N9ufrzvxzLnPg/app-cloud-int%3A-flake-tooltip?node-id=2456%3A49923

Display Flaky Badge & Tooltip as inline row data within Specs Explorer list

**Work Items**
1. Combine Flaky Badge and Flaky Badge tooltip content into a component that can be rendered as an actionable popper
2. Update Spec List props & data flow to determine whether to render flaky indicator (se

[2022-07-01 16:55] ZachJW34 commented on #16914
@karlhorky we've done a pretty significant overhaul of CT testing in Cypress 10, can you verify if this is still an issue when trying CT + Next with the latest version of Cypress?

[2022-07-01 17:10] michaelhays commented on #16914
The issue is still occurring for me for any `target` higher than `es2019`, but with E2E testing. Component testing works fine.

[2022-07-01 17:10] emilyrohrbough commented on #22616
@SinghPramender Can you provide additional information like browser, os as well as a reproducible example using https://github.com/cypress-io/cypress-test-tiny?

[2022-07-01 17:21] emilyrohrbough commented on #22616
Are you referencing the face Cypress is [auto-accepting an alert](https://cypress-documentation-h2l08ulip-cypress-io.vercel.app/api/events/catalog-of-events#Window-Alert)?

[2022-07-01 17:23] emilyrohrbough commented on #22401
@hoguan I am checking the code you provided against 10.3.0 and I am seeing the correct logs in the devtools console:
[code]
I have set `baseUrl: "https://www.cypress.io"`. Can you try upgraded to 10.3.0?

[2022-07-01 17:52] #21050 closed

[2022-07-01 17:55] kc2112 opened #22658 "Browser URL does not change when application redirects."
### Current behavior

In e2e testing, when the application redirects using the following code, the browser redirects, but the url remains the same.

`window.location.href = 'https://myAwesomePage.com';`

This was not the same behavior in 9.5.1 or previous versions

### Desired behavior

Upon redirect, the browser url should change as directed.
We use this to validate that redirects work in the man

[2022-07-01 18:19] emilyrohrbough commented on #22522
@Nazmin1982 Can you run with `DEBUG=cypress*`?

[2022-07-01 18:20] tbiethman commented on #22425
@phDoll thanks for the additional info, it does help. I looked through the logs and didn't notice anything troublesome, the errors that are in there are expected and recoverable as the browser launches.

One thing that sticks out to me is the log you originally reported:
![image](https://user-images.githubusercontent.com/1711637/176948791-e5c3a885-147a-4c47-be1f-e45294b54a1a.png)

There should be

[2022-07-01 18:25] gonjavi commented on #16395
I have this issue, I am using act :https://github.com/nektos/act/issues, to test the pull request locally, I start running the cypress actions it completes all the created tests but continue testing them again as a circle and never stops, I think is the same case as the person above

[2022-07-01 18:34] karlhorky commented on #16914
Yep, just ran into it with the latest Cypress `10.3.0`. When I specify my `compilerOptions.target` to be `es2022`, compiling the tests with webpack fails (fails on the optional chaining operator):

[code]

[2022-07-01 19:11] karlhorky commented on #16914
## Workaround

What I did for now is keep my `cypress/tsconfig.json` configured with `compilerOptions.target` of `es2022` (which keeps my editor happy) and then edit this value in GitHub Actions using `yq` directly before running Cypress:

[code]

[2022-07-01 19:36] emilyrohrbough commented on #22570
@tejasviSri Can you provide more information to help us understand your setup and how to reproduce the issue? Providing the debug logs by use `DEBUG=cypress:*` would be helpful.

[2022-07-01 19:37] kaiyoma commented on #14863
@TomaszG Thank you so much for posting your solution! It was a real life saver for our project and now we can actually test all our file downloads that have random names. 🙏

[2022-07-01 19:40] tbiethman commented on #22604
@kaiyoma gotcha, I'd expect that to work just fine. Let's see what the logs tell us. Could you try running Cypress with the DEBUG env set like below?

[code]

That should output the detected git settings for your project. If you see '(no' in the logs, then we have a detection problem. If you see 'trunk', then we have a processing problem.

[2022-07-01 20:03] emilyrohrbough commented on #22587
@david-sabata The issue you have logged is indeed a duplicate of #8346 (thank you for linking!) The `cy.log()` has a bug because it logs twice.

With the example you linked out, because the `.then()` command fails, it won't actually trigger a retry.

I assume your example is a rough high-level example of the behavior you are trying to accomplish? For the `cy.window()` command to re-poll when the `

[2022-07-01 20:09] ZachJW34 commented on #16914
Ahh I see, I didn't have all the context around this issue and was assuming this was a problem with CT. There should be a solution by importing and modifying the options for `@cypress/webpack-preprocessor`, you should be able to configure `ts-loader` to point to a custom tsconfig file. Haven't tried it and would need to dig into it but I'll try and find time to get something running.

[2022-07-01 20:10] kaiyoma commented on #22604
@tbiethman

[code]

[2022-07-01 20:10] tbiethman commented on #22600
Thanks @alexsch01 ! I tried to reproduce a problem using a project in a similarly named directory, however cypress@10.3.0 was able to find the support file and specs within that project.

You said that specs can't be found; is Cypress presenting you with an error in this state, or just not finding your specs? In either case, can you try running cypress with the DEBUG logs enabled and providing the

[2022-07-01 20:10] mike-plummer commented on #22454
Just to provide more context, it looks like this was added to work around issues with the default shell (`/bin/sh`) used by `execa`. The current shell selection logic was [added here](https://github.com/cypress-io/cypress/pull/20744) - I imagine @lmiller1990 ran into a situation where some Linux flavors don't include Bash necessitating the use of `process.env.SHELL`.

We could look into a custom `

[2022-07-01 20:42] karlhorky commented on #16914
Great, thanks for taking a look!

Interesting that it may be related to the config file location 🤔 because the webpack preprocessor seems to be already reading the `cypress/tsconfig.json` file (that's why the `es2019` config value fixes the error when used in the file). However, using anything newer than `es2019` fails (eg. `es2020`, `es2022`, `esnext`), which feels like a very unusual behavior.

[2022-07-01 20:44] emilyrohrbough commented on #22658
@kc2112 I was unable to reproduce using the following setup https://github.com/cypress-io/cypress-test-tiny/tree/issue-22658. This appears to be working as expected.

Can you share a reproducible example?

[2022-07-01 20:52] ZachJW34 commented on #16914
Toying around with a fresh next-app and Cypress 10 and was able to get a project with `esnext` working. You can check out the repo here: https://github.com/ZachJW34/next-app-webpack-preprocessor

The second commit has all of the Cypress tweaks I added. I had to add the
[code]
referenced in the original webpack issue to get around the optional access error. There is an [npm equivalent](https://docs

[2022-07-01 21:07] tbiethman commented on #22604
Thanks @kaiyoma , that appears to be a parsing issue from simple-git, the dependency we use within Cypress to retrieve your project's git info.

My guess here is that it's parsing some sort of error message that git outputs when we call the `branch` command. `(no` doesn't give us much to work with, though.

I wrote a [small isolation script](https://gist.github.com/tbiethman/0ac97501002bcd0f1475c8

[2022-07-01 21:10] tbiethman commented on #22399
That's good info to have, thanks @JessefSpecialisterren! We'll try to repro under those conditions as well.

[2022-07-01 21:28] alexsch01 commented on #22600
@tbiethman Ahhh ok, I understand the difference....my command I am testing is this:

**npx cypress run --spec .\cypress\e2e\spec.cy.js**

![image](https://user-images.githubusercontent.com/5721147/176968123-3bbc1f17-250a-42fe-88bb-f886446a0dde.png)

![image](https://user-images.githubusercontent.com/5721147/176968253-d175b64b-0410-4d88-ad36-b8b1d9f43a7f.png)

I'm attaching a log file below, the on

[2022-07-01 21:50] papb commented on #2448
Hello everyone, in my case the problem was as follows:

- Visit a page normally using Cypress
- Click a button that submits an HTML form (method post)
- The form returns a redirect response that redirects to another URL
  - This URL was in the same protocol, host and port
  - However, this URL was returning a JSON response instead of HTML response. After fixing this to have a redirect into a norma

[2022-07-01 21:51] papb commented on #2448
I suspect @lpyfm's situation may be similar, maybe the error message was misleading too and the actual problem was something else.

[2022-07-01 22:12] #21860 closed

[2022-07-01 22:43] marco-globality opened #22662 "Making 'flaky' tests appear as 'failures'"
### What would you like?

Hello all,

Currently, our team looks at our automation results daily. Whenever the team looks at something that looks like this:

<img width="291" alt="Screen Shot 2022-07-01 at 3 17 48 PM" src="https://user-images.githubusercontent.com/105667664/176973591-edd2a456-1ce9-4abc-a862-4b470999607c.png">

Then the team concludes that everything is fine and we have a "100% pass

[2022-07-01 23:14] kaiyoma commented on #22604
@tbiethman Here you go:

<details>
  <summary>Click to expand full console output</summary>

[code]
</details>

[2022-07-02 01:47] lmiller1990 commented on #16914
Here's some context on what's actually happening under the hood, for anyone landing here from Google etc.

Using `target: esnext` is generally **not** what you want. That means you are targeting a platform that supports all the latest ES features - like optional chaining. You'll need to run it through something else, like babel, to target all modern browsers.

Example from TS playground - left is

[2022-07-02 01:58] lmiller1990 commented on #22353
@TomasSlama cool, thanks for the support and help testing!!

@wopian can you confirm your table info a bit? When you say 10.3.0 you are referring to my build (not the live 10.3.0 on npm?)

Those are some huge improvements, good to see!

_____

Just to clarify a bit more here - it's not really as simple as "just ship these changes". Opening a new tab clears a lot of things and better isolates the s

[2022-07-02 02:28] jst1102 commented on #22478
Reading over this thread, I've now got it working. As the others indicated, they just had to update their URLs. Specifically, I know I tried just doubleclicknet.net, which didn't work. Doing as purposed and doing *doubleclicknet.net, and adding * in front of the others blocked as desired! Thank you all for the great assistance.

[2022-07-02 02:28] #22478 closed

[2022-07-02 02:28] jst1102 commented on #22478
Seems we are all set! Great work and communication all!

[2022-07-02 03:07] wopian commented on #22353
10.3.0 on npm

One listed as Circle CI is the 10.3.0 from your build (used the ARM build linked in my comment). I can double check if it did correctly install and use your build tomorrow 🙏

[2022-07-02 09:43] karlhorky commented on #16914
Thanks for the background and reproduction!

However, it still doesn't really address the `es2019` part of my comment above:

I'll play around with the reproduction to show you a concrete version of it failing with `es2022` but succeeding with `es2019` - all without any usage of `@cypress/webpack-preprocessor` or configuration of `ts-loader`.

Would still be super interested to get to the bottom o

[2022-07-02 10:39] csvan commented on #21387
You can configure where results are written, or have a simple script move them between runs

[2022-07-02 10:46] karlhorky commented on #16914
Ok, I have created a new repo with a reproduction of the problem: https://github.com/karlhorky/next-app-cypress-es2019-es2022

Guide with Commits:

1. [Run Create Next App using the --typescript flag](https://github.com/karlhorky/next-app-cypress-es2019-es2022/commit/09a3913582404af6f5b25f17cf7eedeb24383930)
2. [Add Cypress (tests pass, target="es5")](https://github.com/karlhorky/next-app-cypress-

[2022-07-02 13:25] alexsch01 commented on #22600
Hope the information helps in figuring out the underlying issue

[2022-07-02 15:45] karlhorky commented on #16914
## Workaround

Interesting, this leads to another workaround for `"lib"` related typechecking failures.

Although a maximum `compilerOptions.target` of `es2019` is supported, higher values for `"lib"` are still supported (not sure why this is).

So if you change your `cypress/tsconfig.json` to the following, you can avoid some problems (such as [the unsupported readonly array `.at()` syntax here](

[2022-07-02 20:21] bilalSaidi commented on #22617
Hi
Windows 10
Firefox latest version

[2022-07-02 21:44] johncrim commented on #18435
I'm still seeing the same issue (both cypress 9 and cypress 10). Adding `output.publicPath=' '` to webpack-preprocessor fixed the issue; I'll see if any of the other hacky but at least useable fixes work.

We're not using mini-css-extract-plugin, just ts-loader.

It's crazy to me that this hasn't been fixed previously.

[2022-07-02 22:34] johncrim commented on #18435
The `defineProperty(webpackConfig, 'output')` hack worked for me. My implementation was different enough from [the prior example](https://github.com/cypress-io/cypress/issues/18435#issuecomment-1077491487) that I'll include it here to help others.

Here's a generic `plugins/index.ts` that should work with an external webpack config file:

[code]

[2022-07-03 02:08] glomotion opened #22663 "10.3.0 regression - test runner randomly fails when running electron locally"
### Current behavior

So when running COMPONENT tests specs locally, the test runner randomly crashes out at varying specs. 🤔

[code]

Sometimes it fails at other specs. I have tested every single spec where it has crashed using cypress open - and all specs pass when run manually. I think there's something up with the test runner inside of MACOS `12.4 (21F79)`

Sometimes the test runner gets as fa

[2022-07-03 02:35] glomotion opened #22664 "10.3.0 regression - istanbul babel plugin no longer outputs coverage"
### Current behavior

when running:

[code]

we no longer get any `.nyc_output`. We have upgraded `"@cypress/code-coverage": "^3.10.0",` as suggested in the migration docs.

we have configured our babelrc file:
[code]

### Desired behavior

.nyc_output should be populated with coverage info, when running the cypress test runner with the env setting coverage: true

### Test code to reproduce

just

[2022-07-03 02:57] choonkeat commented on #9744
My solution was https://github.com/cypress-io/cypress/issues/7199#issuecomment-1143628102

[2022-07-03 04:27] mdarif commented on #1152
Even in it does exist in June 2022 after setting it up correctly.

[2022-07-03 04:30] mdarif commented on #1152
One has to follow the below step after making the necessary config changes:

You may have to restart your IDE's TypeScript server if the setup above does not appear to work. For example:

VS Code (within a .ts or .js file):

- Open the command palette (Mac: cmd+shift+p, Windows: ctrl+shift+p)

- Type "restart ts" and select the "TypeScript: Restart TS server." option

If that does not work, try re

[2022-07-03 08:35] littlejon85 commented on #22262
Could we please get a cypress/* docker images with node ^16.15.1? We really don't want to move to node 17 yet and this problem crashes our component tests in CI with cypress/base:16.14.2 image. Thanks in advance.

[2022-07-03 10:23] glomotion commented on #22664
it seems im mistaken. :P just found this: https://github.com/cypress-io/code-coverage/blob/master/test-apps/new-cypress-config/unit-tests-js/cypress.config.js

[2022-07-03 10:25] #22664 closed

[2022-07-03 10:30] glomotion commented on #22663
whats very strange, is that running the tests with coverage turned on, the test runner gets through all tests, without crashing. So weird.

[2022-07-03 19:19] threehook opened #22668 "Cypress dashboard does not show all repos in dropdown box after integration with Gitlab"
### Current behavior

When I try to setup my Cypress project to integrate with Gitlab I am using the Application ID and Secret that I configured in Gitlab.
Then in the Cypress dashboard I want to link my Cypress project to the right repo.
In the Cypress dashboard it shows me that there are 54 repos to choose from.
![image](https://user-images.githubusercontent.com/442604/177053685-eba139b5-82ae-4b

[2022-07-04 02:59] AbrahamBrookes opened #22669 "Cypress web runner"
### What would you like?

I'd like to be able to install cypress on a project running on a remote web server (like AWS or Vultr) and access the test runner using a web browser interface.

Tools like Vue-cli and Jenkins allow this and it is really handy for portability and ease of use.

### Why is this needed?

I want this because I run my local projects in docker containers and staging sites on ub

[2022-07-04 04:10] murtukov commented on #19791
@jennifer-shehane this is not a duplicate of https://github.com/cypress-io/cypress/issues/7306. Here it was asked why tests fail, despite `Cypress.dom.isAttached` returns true. The other issue requests a feature to automatically re-query DOM elements if they are detached. Even if you implement the requested feature, it still won't answer the question why the mentioned above tests fail.

I was look

[2022-07-04 04:44] ganeshac123 opened #22670 ""Cookies are disabled" issue with Epic Hyperspace in Cypress 10.3.0"
### Current behavior

Cookies are disabled. Please enable cookies to log in to Hyperspace with a browser.

Note: take a look at the screenshot for reference.

<img width="1792" alt="Screenshot 2022-07-04 at 9 58 43 AM" src="https://user-images.githubusercontent.com/89897004/177082760-356cdbb2-75f7-4289-9ddd-aef0be7bae22.png">
<img width="1792" alt="Screenshot 2022-07-04 at 9 58 56 AM" src="https:/

[2022-07-04 08:22] felixbarten commented on #22276
Cypress release 10.3.0 seems to have resolved this issue. I haven't seen any tests get stuck since and we migrated to using Cypress 10.

[2022-07-04 08:53] PetMou commented on #19791
The (crude) workaround that we use is ".click({force: true})". Still waiting for a proper fix, but in the mean time this works for us.

[2022-07-04 09:46] lmiller1990 commented on #22669
This is something that's definitely been discussed/explored (internally and externally) in the past, at least, if I understand what you are asking for, or at least, partially. The idea of caching results then allowing them to be "replayed" is something I'd like to see.

As for running on a remote server - just to clarify - you'd be running Cypress on a server somewhere, but have the Cypress 10 UI

[2022-07-04 09:49] lmiller1990 commented on #22663
Hi Tim - thanks for the bug report, your issues are always informative.

Normally the issue is the opposite - CI fails, local passes. Disabling code coverage -> success is even more weird. What plugins/libs/versions are you using for code coverage?

Does this happen in the previous version of Cypress? If it really was introduced 10.3.0, that's a small surface area, it should be easy to fix - can y

[2022-07-04 13:30] adi518 opened #22672 "Craco Webpack config not working with Component Testing"
### Current behavior

I'm using Craco to override CRA Webpack config and while Craco provides API to extract the overridden Webpack config, Cypress throws with the following:

[code]

### Desired behavior

Boot Component Testing successfully.

### Test code to reproduce

Extract Craco config and pass it to Cypress config:

[code]

### Cypress Version

^10.3.0

### Other

_No response_

[2022-07-04 14:10] huwwatkins commented on #9572
Also, on upgrading to 10.3, the migration tool tries to run a job in a GUI window which hangs, so the migration cannot be completed.

[2022-07-04 15:35] olgamicollier opened #22673 "CYPRESS_NO_COMMAND_LOG=1 doesn't hide command logs in Cypress 10"
### Current behavior

In Cypress 10 passing environment variable  CYPRESS_NO_COMMAND_LOG=1 during 'cypress open' or 'cypress run' doesn't hide the command log

### Desired behavior

According to the documentation https://docs.cypress.io/guides/references/troubleshooting#Disable-the-Command-Log passing environment variable  CYPRESS_NO_COMMAND_LOG=1 during 'cypress open' or 'cypress run' should hide

[2022-07-04 17:59] hinogi commented on #22390
That problem also covers imports in spec files because those paths get used in dynamic imports as is disregarding present path aliases.

[2022-07-04 18:03] hassannaseem commented on #22556
Okay, I have set up a small code so that you can test it on your machine. You can access the code from the following link.

https://drive.google.com/drive/folders/18mnc-4WwJqsS9PA3SF__IPQOjdEvBfem?usp=sharing

1. wpf_websocket_test.zip is a wpf .Net 4.8 framework project which uses the super sockets. Just compile and run the project in Visual Studio.
2. websocket_client.zip is a client-side JS cod