[2022-11-21 14:30] #24735 closed, assigned to marktnoonan

[2022-11-21 14:44] emilyrohrbough opened #24754 "CI Improvements"
### What would you like?

## Part 1
Update Cirlce CI pipelines to:
- only run on PRs ready-for-review and protected branched by default
- allow CI on any branch run when explicitly opt'd into when  commit message includes "run CI"
- allow CI when pipeline is manually triggered from CircleCI UI

## Part 2
Update to always run windows tests on PRs.

## Part 3
Evaluate Workflow jobs and define a patt

[2022-11-21 14:44] marktnoonan commented on #24608
Thanks. Looks like the rendered font is Courier New in this case. I'll forward this feedback to design team to get a recommendation.

[2022-11-21 14:46] marktnoonan commented on #24648
Since there has been a week without a response, I'll close this issue to help keep our backlog under control. If you do have more information to share, you can comment below and we can re-open this issue.

[2022-11-21 14:46] #24648 closed, assigned to nobody

[2022-11-21 14:53] AtofStryker commented on #18779
@JDansercoer that is disappointing to hear, but very understandable considering this issue has been open for a little over a year with little to no feedback. If you are ever interested in trying Cypress again with the new features we have added, please let us know. We'd love to have you back in the community!

[2022-11-21 14:53] #18779 closed

[2022-11-21 15:14] samtsai commented on #24741
Are you looking for native support with Cypress? Otherwise, you can easily use a library like https://www.npmjs.com/package/js-yaml and create a `cy.task` to load the file.

[2022-11-21 15:23] AtofStryker commented on #22670
@ganeshac123 this just means you need to change this:
[code]

to this:

[code]

can you try that and report back to let us know if it fixed your issue?

[2022-11-21 15:28] marktnoonan commented on #24564
Thanks for this report @jnarowski - I had trouble reproducing the before/after, turned out I needed to also remove the `basicSsl()` plugin for the tests to begin to work (at least, locally for me). Routing to the CT team to take a closer look.

[2022-11-21 15:46] marktnoonan commented on #24710
Hi @GeetaD09 thanks for reporting. Please provide a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide. You can also use https://github.com/cypress-io/cypress-test-tiny as a template to get started.

What you've descr

[2022-11-21 15:48] ganeshac123 commented on #22670
Now it's working. This issue is resolved now, it was pending from long long time.. Thanks for fixing this @AtofStryker 👍

[2022-11-21 15:55] AtofStryker commented on #944
@nbcarey I am taking a look into `nordstrom` with `cy.origin()`. I have given a simple test a try, such as:
[code]

But seem to be running into possible request/cookie issues with the shopping cart. Have you given `cy.origin()` a try and experienced the same? This doesn't seem to happen with a first `cy.visit` to `nordstromrack`, which makes me think its a cookie issue.

[2022-11-21 16:07] AtofStryker commented on #22670
That's great to hear! Thank you for patience and helping us get this working. Let us know if you run into other trouble!

[2022-11-21 16:07] #22670 closed

[2022-11-21 16:13] marktnoonan commented on #24700
Thanks for reporting this @rsouthgate. I've made a reproduction [here](https://github.com/marktnoonan/formdata-test/blob/marktnoonan/redirect/cypress/e2e/spec.cy.js) so will forward this to the e2e team to consider.

To reproduce on that branch, run `node server.js` and open spec.cy.js.

We can see the `/to` request pending in the command log before `Finished waiting for xhr` is logged there.

![I

[2022-11-21 16:20] AtofStryker commented on #24732
So in this case, that dynamic test won’t work because the redirect has already happened and you cannot access with window object, so the assertion fails. However, you can do the technique you are describing with cy.then if you are able to dynamically get the origin url and then declare a cy.origin block with that origin.

The error message presented is terrible, which I am guessing has to do with

[2022-11-21 16:20] nagash77 commented on #24737
@ramicohen303 can you please try using 11.1.  There was a fix to this problem in that release that I think will address your problem.  If not please comment here and I will reopen this issue.

[2022-11-21 16:25] nagash77 commented on #24671
I am closing this issue due to inactivity.  Please comment if anything should change and we can reopen.

[2022-11-21 16:25] #24671 closed, assigned to nagash77

[2022-11-21 16:25] ryanthemanuel commented on #24693
Thank you so much for the example @lucoelho. I can verify that this fails on my machine and will route this to the e2e team for further investigation/work.

Code to reproduce is:

[code]

Note that this works on firefox 101, but it does not work on firefox 107.

[2022-11-21 16:37] nickbreaton commented on #23962
Looks like there is an outstanding issue that is similar to this – https://github.com/cypress-io/cypress/issues/7045

[2022-11-21 16:44] MikeMcC399 commented on #22273
@segevfiner

Do you know what the minimum version of [tsconfig-paths](https://www.npmjs.com/package/tsconfig-paths) would be needed to resolve the issue in Cypress? I can see that the latest version is 4.1.0 whereas for instance Cypress seems to be using 3.10.1:

https://github.com/cypress-io/cypress/blob/bf6a52ab3d6b674985042c2871be4f36ade7652a/packages/server/package.json#L188

[2022-11-21 16:54] kaiyoma commented on #24430
@marktnoonan Do you know if these kinds of messages are related to this issue? We see these sometimes at the start of a test run (again, randomly and non-deterministically):

[code]

Our first test suite after these messages were printed had a bunch of failures today, and it seems too much of a coincidence.

[2022-11-21 17:01] jnarowski commented on #24564
Thanks! Yeah, we need the basicSsl plugin to serve vite locally via https, but adding it breaks the cypress tests as it looks like component tests start on HTTP, and there is no way to configure them to start on https like vite.

[2022-11-21 17:07] ryanthemanuel commented on #24713
Hi @firmanserdana. Thank you for logging this issue. I confirmed this is happening and will route this to the e2e team for further prioritization and work.

Specifically I could recreate this by creating a task:

[code]

and then in a test called `cy.task('errorLog')`. On my mac I could see the log. On my linux vm I could not. Note that console.log works on both platforms.

[2022-11-21 17:09] nagash77 commented on #22948
@symn can you please open a new issue with details on how to reproduce the issue you are seeing.  Please be sure to try and replicate on the latest version of Cypress as well 11.1.

[2022-11-21 17:09] #22948 closed

[2022-11-21 17:11] bahmutov commented on #20813
@AtofStryker in your comment to https://github.com/cypress-io/cypress/issues/944#issuecomment-1322276443 you are using `cy.origin` incorrectly, but I cannot even post that the site is refusing to load since that issue has been closed
<img width="1140" alt="Screen Shot 2022-11-21 at 12 08 17" src="https://user-images.githubusercontent.com/2212006/203117907-d6420119-250c-445c-aa11-059354537e5c.png">

[2022-11-21 17:12] jnarowski commented on #24564
I was able to get it to work by disabling the basicSsl plugin and setting vite config (server.https) to false. A temporary workaround at least.

On a separate note - does this start a separate vite server (from the one running from `yarn dev`) to power the component tests? Should it use the same vite server that is already running? Just trying to understand the workflow so I can verify that it's w

[2022-11-21 17:30] AtofStryker commented on #944
You could also do an example that is less contrived. Same issues are present. I created #24756 to track this issue separately from the closed meta issue
[code]

[2022-11-21 17:31] vijaykumar59694 commented on #24622
Hello Ryan,
After making the above changes, I am able to load the product. But the above scenario isn't working for the Signup testcase.
it('Makes a Password Reset request', () => {
        cy.visit('https://esolution-citizenportal2.dev.esolg.ca/')
        const sentArgs = { username: 'VijayKumar.Chinthalapudi@ghd.com', password: 'Amstrong@66' }
        cy.origin('https://vulcantestfedration.b2clo

[2022-11-21 17:32] vijaykumar59694 commented on #24622
The above code is all about the sign up testcase. It is able to click the signup button but it's not able to find the email selectors to fill the details and failing with the above error.

[2022-11-21 17:35] AtofStryker opened #24756 "Cy.origin() navigations to nordstromrack fail"
### Current behavior

cy.origin navigations to nordstromrack seem to be running into possible request/cookie issues with the shopping cart.This doesn't seem to happen with a first cy.visit to nordstromrack. This is likely a cookie issue.

<img width="1785" alt="Screen Shot 2022-11-21 at 12 33 23 PM" src="https://user-images.githubusercontent.com/3980464/203122414-9f7684bd-4193-4db1-915c-8cb4d686f0

[2022-11-21 17:37] AtofStryker commented on #20813
@bahmutov I created #24756 to track that issue, which is open and you should be able to comment. On the issue, could you elaborate what is wrong with the usage of `cy.origin`? It's a very contrived example but should work the same. Going to move over to that thread.

[2022-11-21 17:46] ioannisNoukakis commented on #24403
@emilyrohrbough If no one has started to fix this I'm willing to contribute

[2022-11-21 17:51] segevfiner commented on #22273
4.0.0+ but 4.1.0 fixed some bugs. They published a changelog.

[2022-11-21 17:53] onthespotqa commented on #24648
@marktnoonan sorry i'll try to reproduce. I missed the first comment. But i'm not sure how i'm supposed to reproduce a component test problem using a repo that's setup for e2e tests.

we are using node 16.14.2.

using cypress 11 if happens when run in ci but not locally. my team will try to see if we can get you more info.

[2022-11-21 18:00] Luandersonalmeida commented on #24719
I have the same problem, but with a different error.

**The Test Runner unexpectedly exited via a exit event with signal SIGABRT

Please search Cypress documentation for possible solutions:

https://on.cypress.io

Check if there is a GitHub issue describing this crash:

https://github.com/cypress-io/cypress/issues

Consider opening a new issue.

----------

Platform: darwin-x64 (20.5.0)
Cypress Ve

[2022-11-21 18:05] ryanthemanuel commented on #24622
Is your `cy.get('#email` code inside of `cy.origin`? I can get it to type in the email with this code:

[code]

![Image](https://user-images.githubusercontent.com/4873279/203128316-74ab6703-aa96-4598-a16e-21dcf9c66505.png)

[2022-11-21 18:13] ryanthemanuel commented on #24704
Hi @bennymeade. Thank you for logging this issue. I was unable to recreate this with our cypress realworld app. To try and narrow things down, I'll need some more information. How are you spinning up your server that's running at localhost?

[2022-11-21 18:16] emilyrohrbough commented on #24752
@alessandrostassalpitour Can you share more information on the issue you are having? Is it that cookies and local storage are persisting from other domains? I am unable to use the example provided given the private URL. It seems like you are trying to mimic the Test Isolation behavior which will be introduced in our upcoming v12 release. Have you tried leveraging the `experiementalSessionAndOrigin

[2022-11-21 18:46] emilyrohrbough commented on #24403
@ioannisNoukakis We would love your contribution!

[2022-11-21 18:51] GeetaD09 commented on #24710
Hi Mark,

So here is an example:

I have ran my test cases in the test runner - all passed but some will fail.
I used to be able to go BACK into each test cases and open and trace all watching on the right hand side... fields being populated
As I trace through.  With 10.3.1 version of Cypress, I am unable to trace through the test cases.

***@***.***

Clicking on 'Canadian citizen' - should take m

[2022-11-21 19:29] ryanthemanuel commented on #24740
Hi @shwarcu. Thank you for logging this issue. The screenshot you listed shows `get @video`. Are you sure your `cy.get` is referencing `video` and not `@video`. I couldn't get this to fail with something like `@body` and `body`

[2022-11-21 19:32] ryanthemanuel commented on #24739
Hi @HeshamMoneer. Thank you for logging this issue. This does seem to be breaking but only when you have exact same values on each option. Are there any unique values on the objects that you are using, that can be used for the `value` property instead? ids or keys or something?

[2022-11-21 19:39] nagash77 commented on #408
@chrisbreiding does your cookie work address this issue?

[2022-11-21 19:46] HeshamMoneer commented on #24739
Hi @ryanthemanuel , I am afraid not. The only unique values they have are the objects they contain, and all these objects are converted unfortunately to an identical string in the HTML. I tried to overwrite select method as follows
[code]
and it is working perfectly in other cases. However, my new command fails in this case as well since I have 2 options with the same string value (cairo). So I wa

[2022-11-21 19:53] lmiller1990 opened #24759 "Allow running all specs without root directory"
### What would you like?

The new Run All Specs works on a directory level. If you haven't got a single root directory, you cannot truly "Run All Specs.

The fix is an additional button at the top, like this. The text changes to "Run N Specs" when using the text search.

<img width="384" alt="Screen Shot 2022-11-22 at 5 50 37 am" src="https://user-images.githubusercontent.com/19196536/203146139-53

[2022-11-21 19:57] marktnoonan commented on #24710
@GeetaD09 something is not coming through in your comment, are there supposed to be screenshots? All I see is `***@***.***`.

[2022-11-21 20:00] #24748 closed, assigned to nobody

[2022-11-21 20:12] nagash77 commented on #24197
@zecarrera iframes currently are not supported for any browsers in Cypress.  Please follow this issue for updates https://github.com/cypress-io/cypress/issues/136.  I am closing this issue as expected behavior at this point.

[2022-11-21 20:12] #24197 closed, assigned to nobody

[2022-11-21 20:14] nagash77 commented on #24193
Hi @elevatebart does this only happen in detail HTML nodes?

[2022-11-21 20:30] emilyrohrbough commented on #686
Closing this issue as done for what we are wanting to address at this time and tagging for the v12.0.0 release.

The main idea this issue captured was the idea of providing clearer insights into what Cypress handles for users between tests to ensure users write independent tests.

In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/co

[2022-11-21 20:30] #686 closed

[2022-11-21 20:40] tommy-anderson commented on #24721
hey Brian, closing this.
My bad, I misunderstood what was going on.

[2022-11-21 20:40] #24721 closed, assigned to nagash77

[2022-11-21 20:40] marktnoonan commented on #24564
Got it 👍

Cypress is running its own development server for component testing - you can actually give it a completely different vite config, so you should be able to keep your app's config the same, and not use HTTPS/basicSsl for Cypress (which seems fine in a component test situation?). You don't need to have `yarn dev` for your vite app running to test it with Cypress CT.

Something you can cons

[2022-11-21 20:46] elevatebart commented on #24193
It's the only place I have seen it.

[2022-11-21 20:50] malachit-sekady commented on #7516
Not that this will help most people who comes across it, but in case it does - we were running into this error. During `npx cypress run --component` it would give this error. But during `npx cypress open` on the same tests, it would pass and do the tests, but the command log would stop working and display "No Tests Found"

Our specific problem was that PDFTron's Webviewer wasn't set up to work. We

[2022-11-21 20:54] vijaykumar59694 commented on #24622
[code]
    It's throwing the below error while trying to use the API to generate the random user for the sign up testcase.
    testEmail is not defined
![error](https://user-images.githubusercontent.com/29042046/203156329-96aab3f8-2915-46ca-8ee5-5deaca039ace.JPG)

[2022-11-21 20:57] vijaykumar59694 commented on #24622
i am using mailosaur api here.

[2022-11-21 21:11] jnarowski commented on #24564
Appreciate the explanation.  Now that I understand the internals a  bit more it does seem like one of those options will suffice. I don't need SSL to run the components unless I need to do an ajax request (which I think I will stub).

Any chance you'd have an example of the vite config override? I am using vite config as a function currently.

export default ({ command, mode }) => {
  ...
}

I jus

[2022-11-21 21:11] GeetaD09 commented on #24710
Attaching the screenshots.

[2022-11-21 21:34] marktnoonan commented on #24710
Hi @GeetaD09 This is not working, please click through to the github issue and edit your comments to add the screenshots. It seems that you are sending them by email and they are getting stripped out.

[2022-11-21 21:54] GeetaD09 commented on #24710
![screenshot1](https://user-images.githubusercontent.com/114174283/203165669-0e5ae19f-102a-4f7e-8d6d-fed391e3f377.jpg)
![screenshot2](https://user-images.githubusercontent.com/114174283/203165685-e96e953f-2e38-4ce9-83a3-63e2315030f2.jpg)

[2022-11-21 22:16] lmiller1990 commented on #21743
This is going to come up more when people use the new Run All Specs experiment, we should look at solving this soon.

[2022-11-21 22:22] shwarcu commented on #24740
Hi @ryanthemanuel , I am literally running the test I presented in the test with reproduction https://github.com/shwarcu/cypress-alias-bug-repro/blob/main/cypress/e2e/example.spec.cy.ts
Failling command is
[code]
![Screenshot 2022-11-21 at 23 21 15](https://user-images.githubusercontent.com/58426925/203169837-55ad1a2a-a463-4362-bcd6-624054371c9a.png)

Not sure if I explained the problem clearly en

[2022-11-21 23:02] lmiller1990 opened #24762 "Make inline spec list more a11y with Run All Specs experiment"
### What would you like?

When using Run All Specs, on the right hand side of the directories in the inline spec list, we should a "Play" button. Right now, you ca tab there, but hitting enter doesn't do anything. It's not a11y.

![image](https://user-images.githubusercontent.com/19196536/203175243-cec791d6-d1b1-4d49-84ce-204fd508f706.png)

You should be able to tab there and hit enter to Run All

[2022-11-21 23:33] kaiyoma commented on #24430
@marktnoonan Is there some way to send all Cypress debug logs to a file instead of stdout? The amount of output is going to overwhelm our CI system and make the job logs unreadable.

[2022-11-21 23:41] ramicohen303 commented on #24737
It is still an issue in 11.1. I just tested it again according to the script above.

[2022-11-22 00:21] kaiyoma commented on #24430
Lol, never mind, I completely forgot that I went down this path two years ago (https://github.com/cypress-io/cypress/issues/7995). 🤣

[2022-11-22 01:55] chrisbreiding commented on #408
@nagash77 This will be addressed when we add [`cy.clearAllCookies()`](https://github.com/cypress-io/cypress/issues/24265).

[2022-11-22 02:23] ryanthemanuel commented on #24633
@fappaz, we have a policy to close non-reproducible issues within 7 days of inactivity. Unfortunately, if we cannot reproduce an issue there isn't a whole lot that we can do, and in an effort to keep our issue backlog manageable we will be closing the issue.

[2022-11-22 02:23] #24633 closed, assigned to ryanthemanuel

[2022-11-22 02:23] ryanthemanuel commented on #24589
@GeryDuComptoirDesPharmacies, we have a policy to close non-reproducible issues within 7 days of inactivity. Unfortunately, if we cannot reproduce an issue there isn't a whole lot that we can do, and in an effort to keep our issue backlog manageable we will be closing the issue.

[2022-11-22 02:23] #24589 closed, assigned to ryanthemanuel

[2022-11-22 02:24] ryanthemanuel commented on #24561
@NabeelFz, we have a policy to close non-reproducible issues within 7 days of inactivity. Unfortunately, if we cannot reproduce an issue there isn't a whole lot that we can do, and in an effort to keep our issue backlog manageable we will be closing the issue.

[2022-11-22 02:24] #24561 closed, assigned to nobody

[2022-11-22 02:29] ryanthemanuel commented on #24629
@whydoievenneedthis I updated this to be a feature request. I think the experience we've seen thus far is for JS files to return JS objects; however, I could see a use case for specifying the type for a given fixture in a more first class fashion. Routing this to the e2e team for prioritization.

[2022-11-22 02:47] AtofStryker commented on #21478
written and supported in 11.1.0

[2022-11-22 02:47] #21478 closed

[2022-11-22 02:58] ryanthemanuel commented on #24740
Apologies @shwarcu. I think I completely skipped over your link to your reproduction and consequently was trying to set up something myself. I can confirm that your reproduction at https://github.com/shwarcu/cypress-alias-bug-repro/blob/main/cypress/e2e/example.spec.cy.ts reproduces this issue and I will route this to the e2e team for prioritization.

[2022-11-22 03:03] ryanthemanuel commented on #24617
Thanks @jaime1702. Is there a minimal test case that can reproduce this? Is the toast component something open source that can be utilized in a reproduction? Do the WiseLinks errors in your debug logs show up when things are working in 10.10.0?

[2022-11-22 03:31] firmanserdana commented on #24713
Thank you @ryanthemanuel 👍

[2022-11-22 04:59] VaghasiyaKrupal opened #24764 "Receiving cy.xpath is not a function"
### Current behavior

Receiving `cy.xpath` is not a function

I have my `pakage.json` file like below
[code]
And my `support/e2e.js` file is
[code]
And in my test I have used like that
`cy.xpath(//h6[normalize-space()='Competitors']).click()`

### Desired behavior

_No response_

### Test code to reproduce

Install cypress/x[ath plugin using `npm i cypress-xpath`

Put the below line into `support/

[2022-11-22 06:47] shwarcu commented on #24740
No problem! Thanks a lot for taking a look at it so quickly 🎉 Let me know once there is anything else I can do to help with that bug 🐛

[2022-11-22 08:10] UserName1339 commented on #22052
Can confirm; making an new folder in C:/USERNAME/cypress fixes the issue... I had it too... So the folders; fixtures, support and a newly created folder (already init Cypress before, using Windows 11)

[2022-11-22 08:57] jogelin commented on #1260
https://j1000.github.io/blog/2022/10/27/enhanced_cypress_logging.html

[2022-11-22 10:02] LorenzoAlu opened #24766 "Cypress and DDEV doesn't work on GitHub Action Test with multiple domain"
### Current behavior

Hello, everyone.
I am working on an existing project that already had Cypress tests running via GitHub action.

My problem is as follows:
Due to application updates, currently the same application responds to three different domains. Since this change was introduced, the tests on GitHub have stopped working.

I have tried logging the output of the tests, and the tests fail be

[2022-11-22 10:06] manoj-fd opened #24767 "Cypress spec window not showing in experiment webkit, resulting in blank page"
### Current behavior

I have an existing cypress test suite which runs fine in Chrome and Electron, i have experimented with webkit , when the cypress open command runs and selected with Webkit, it resulting to blank page.

playwright-webkit added with command : yarn add --dev playwright-webkit

Engine:
node : v18.0.0
yarn : 1.22.18

Specification :
"cypress": "~10.11.0"
"playwright-webkit": "~1.2

[2022-11-22 10:20] public commented on #22868
@lmiller1990 We don't do a tremendous amount of XHRs or other requests within the page but we do quite a lot of tasks to setup specific test data in our backend.

Our test suite is very site specific so I can't tell you if it affects other sites or not. It is also somewhat difficult to really narrow down the problem as when running locally I only have Apple Silicon hardware to run on which is not

[2022-11-22 10:25] uklimaschewski commented on #22243
I am experiencing this now too at our docker CI builds, I agree with @johansatge - it would be nice to be able to disable this verification for certain jobs.

[2022-11-22 10:26] khoden commented on #24564
My "solution":

[code]

But what I can do to start over https for components, which doing real XHR requests over HTTPS?

[2022-11-22 10:27] iomedico-beyer opened #24768 "dependency issue after webpack-preprocessor 5.12.2"
### Current behavior

After updating @cypress/webpack-preprocessor@5.12.2 to any newer version, Cypress 11.1.0 won't run anymore.

I am using yarn 3.2.3, by the way.

### Desired behavior

I desire Cypress to run together with latest webpack-preprocessor (and yarn 3).

### Test code to reproduce

[My `cypress.config.js` looks like this.](https://github.com/badeball/cypress-cucumber-preprocessor/bl

[2022-11-22 11:20] ilibilibom commented on #8560
+1

[2022-11-22 13:19] alexsch01 commented on #24720
Any update on this @marktnoonan ?

Functionally, this ugly code (https://github.com/cypress-io/cypress/issues/24720#issuecomment-1320269694) works - just doesn't look that great

Thank you for your time

[2022-11-22 14:22] ryanthemanuel commented on #24716
Hi @ckoncz-hwx. Thank you for logging this issue. What browser are you using for these tests? We made a [change](https://github.com/cypress-io/cypress/pull/19161) about a year ago that prevents issues going through the proxy from retrying as chrome itself changed to also retry failures. This caused a large number of retries and it caused various issues.

[2022-11-22 14:44] ckoncz-hwx commented on #24716
Hi @ryanthemanuel , thank you for looking into this!
I only use Chrome for running the tests.
The version is the one included into the "cypress/included:10.11.0" Docker image: Chrome 100 (headless).

[2022-11-22 14:47] #24442 closed, assigned to amehta265

[2022-11-22 14:56] chezwicker opened #24772 "Types for `nextUntil` are missing the `filter` parameter"
### Current behavior

Providing a filter works, but is shown as invalid.

### Desired behavior

Types should be updated to match `prevUntil`, `parentUntil`

### Test code to reproduce

n/a

### Cypress Version

11.0.1

### Node version

16.15.1

### Operating System

macOS 13.0.1

### Debug Logs

_No response_

### Other

_No response_

[2022-11-22 15:06] baus commented on #24564
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24564?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-22 15:06] baus commented on #24239
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24239?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-22 15:07] baus commented on #23492
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/23492?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-22 15:07] baus commented on #24392
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24392?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-22 15:13] alessandrostassalpitour commented on #24752
Hi, I have to create a test that controls if it's already logged in our business website (www.alpit*ur.it) and then do a specific navigation. If not, the test makes the log-in and continue with the navigation. It works correctly every time but when i start the test at the first time from cypress console, after i have opened it with "npx cypress console", i landed in the webpage and when i click th

[2022-11-22 15:15] astone123 opened #24773 "Build 'create from React component' UI"
Create from React Component requires a slightly different user flow from Create from Vue Component. This is because we need to parse the selected file to determine whether there are any React components defined in the file that we can create a spec for.

Create all of the UI necessary to match the designs [in Figma](https://www.figma.com/file/gq6zQUQ1bx2uqfnF64lwX9/Create-from-React-Component?node

[2022-11-22 15:25] ZachJW34 commented on #24239
Hey @Sjeiti, have you tried using the official Nx schematics for Angular CT testing?

https://nx.dev/packages/angular/generators/cypress-component-configuration

[2022-11-22 15:32] astone123 opened #24774 "Implement 'create from React component' logic"
Implement all of the server-side logic that we need for Create from React Component feature. This should include

- React component spec file template (see `packages/data-context/src/codegen/templates/vue-component/vue-component.ejs` for example)
- Query that takes a path to a file and returns a list of React components in that file, using [react-docgen](https://github.com/reactjs/react-docgen) to

[2022-11-22 15:36] Sjeiti commented on #24239
@marktnoonan Good to know... I'll try and see if I have time this week to upgrade and test.

@ZachJW34 I think we did, I'll doublecheck when I test v11

[2022-11-22 15:45] #24515 closed, assigned to nobody

[2022-11-22 15:51] rockindahizzy commented on #21743
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/21743?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @warrensplayer @ZachJW34

[2022-11-22 15:53] Pradyyy-rgb commented on #19924
Hello everyone, I have been facing the exact same issue as mentioned above,

Spec:  Laptop:Microsoft surface and with every browser it has shown different kind of error,
          Cypress 9.5.3 installed not from web
          **Env variable**: Name: ELECTRON_EXTRA_LAUNCH_ARGS, Value: --disable-gpu-sandbox npx cypress run
                                     Name: NVM_HOME, Value: c:/users/usernam

[2022-11-22 15:53] #24586 closed, assigned to nobody

[2022-11-22 15:58] #24210 closed, assigned to marktnoonan, rockindahizzy

[2022-11-22 16:26] KirIgor opened #24775 "Fix electron deprecated new-window event"
### Current behavior

[code]

### Desired behavior

No error.

### Test code to reproduce

In specs:

[code]

In code:

[code]

### Cypress Version

11.1.0

### Node version

16.14.0

### Operating System

macOS 12.0

### Debug Logs

_No response_

### Other

https://www.electronjs.org/docs/latest/breaking-changes#deprecated-webcontents-new-window-event

[2022-11-22 16:34] rnovosad commented on #2100
we figured out how to fix it for Cypress 10 and basically 11
[code]
that should help

but the problem that was solved for us in Cypress 10 with `cy.origin()` was broken again in 11
we had a mobile portal on a different subdomain and it stopped working with the error:
[code]
how can we allow using `cy.origin()` on the same domain?

[2022-11-22 16:43] 123elias opened #24776 "after:spec no longer fired after end of test in open mode"
### Current behavior

When running a test in open mode the after:spec event is not fired when a test is completed. It is fired when you close the browser.

### Desired behavior

Before it was fired. This event is used by us to trigger cleanup code.

### Test code to reproduce

on('after:spec', async (spec) => {
    console.log('event fired');
});

### Cypress Version

10.11.0

### Node version

v1

[2022-11-22 17:15] irensoltan commented on #24165
We are facing the same issue. First of all looks like on/off options are not available, it is either legacy/strict.
We are not able to make it work.

[2022-11-22 17:29] ps37 opened #24778 "SSL error code 1, net_error -100 - The tests intermittently fail with SIGSEGV event"
### Current behavior

We recently upgraded our cypress from `8.7.0` to `10.11.0` and started seeing the following error in our Jenkins build pipelines. Some of the tests are intermittently failing in the very beginning in the Mocha `before` hook with:
[code]
However, this was not the case previously on the `8.7.0` version.

### Desired behavior

The tests should not fail intermittently and continu

[2022-11-22 17:42] AtofStryker commented on #24756
@bahmutov reposting your thread here:

@AtofStryker in your comment to https://github.com/cypress-io/cypress/issues/944#issuecomment-1322276443 you are using `cy.origin` incorrectly, but I cannot even post that the site is refusing to load since that issue has been closed
<img width="1140" alt="Screen Shot 2022-11-21 at 12 08 17" src="https://user-images.githubusercontent.com/2212006/203117907-d64

[2022-11-22 17:42] AtofStryker commented on #24756
I created https://github.com/cypress-io/cypress/issues/24756 to track that issue, which is open and you should be able to comment. On the issue, could you elaborate what is wrong with the usage of cy.origin? It's a very contrived example but should work the same. Going to move over to that thread.

[2022-11-22 18:16] GeetaD09 commented on #24710
Hi Mark,

I attached the screenshots too the issue.

thanks

[2022-11-22 18:44] baus commented on #24773
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24773?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-22 18:44] baus commented on #24774
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24774?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-22 19:16] ZachJW34 commented on #24564
Would the outcome of this ticket be documentation? I don't think https support will land anytime soon: https://github.com/cypress-io/cypress/issues/3708

[2022-11-22 19:46] nagash77 commented on #24768
~~this is likely related to V8 snapshots.~~. @ryanthemanuel has looked a bit and does not believe it is related to snapshots.

[2022-11-22 20:02] dqiubread opened #24781 "When running cypress against a docker image on CI pipeline(using Codefresh) the image hangs for quite a while if using prettier-eslint cli without typescript installed on the detect Resolved typescript step"
### Current behavior

When Typescript is not installed as a dev dependency in package.json. The image hangs in codefresh stuck on the detect detect for a few minutes before continuing.
`cypress:scaffold-config:detect Resolved typescript from /node_modules/typescript/lib/typescript.js +0ms`
After removing the prettier-eslint library we noticed that the message changed and the CI Pipeline continues

[2022-11-22 20:09] jnarowski commented on #24564
On my side updating the documentation should be enough for now.

[2022-11-22 20:31] mschile commented on #24552
@BenShelton, could you try [`cypress/browsers:node18.12.0-chrome103-ff107`](https://hub.docker.com/layers/cypress/browsers/node18.12.0-chrome103-ff107/images/sha256-bac10e0650032de0b27a52a11cb1a21e7ba071f0b960766673e909cee2c0b377?context=explore) instead? I know there have been some chrome memory issues with v104+.

You could also try this [suggestion](https://github.com/cypress-io/cypress/issues/

[2022-11-22 20:34] Keysox commented on #4771
We're using:
[code]

[2022-11-22 20:36] mschile commented on #24552
Closing as a duplicate of https://github.com/cypress-io/cypress/issues/23391

[2022-11-22 20:36] #24552 closed, assigned to mschile

[2022-11-22 21:20] mschile commented on #23391
All, we are continuing to investigate this issue and I logged a [Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1392601) to hopefully understand what changed between v103 and v104+.

In the meantime, you can try this [suggestion](https://github.com/cypress-io/cypress/issues/8525#issue-696149834) by @CoryDanielson to force garbage collection.

[2022-11-22 21:35] baus commented on #24773
As part of this issue, update the user docs to explain this feature. Should be similar to the work for Create from Vue Component

[2022-11-22 21:36] baus opened #24782 "Update Docs to correctly show mount behavior CT"
Docs PR: https://github.com/cypress-io/cypress-documentation/pull/4872

[2022-11-22 21:45] nogwater commented on #22394
Is there any way to skip interception of async:false requests?  I'm trying to follow this sample code for throttling all requests, but I keep getting stuck with pending requests and Cypress frozen. https://docs.cypress.io/api/commands/intercept#Throttle-or-delay-response-all-incoming-responses

[2022-11-22 21:50] dpage-mdsol commented on #18934
I'm seeing a similar issue. When `chunks: 'initial'` or `chunks: 'all'` is set then Cypress can't find any of the custom cy commands like `cy.login`. It looks like `cy.react` in the example code above is also a custom command and this may be breaking it.

[2022-11-22 21:59] sniperadmin commented on #16914
@lmiller1990 Can we do the same with jest + Nuxt?
I've tried the workarounds above, but jest is still angry 😆

[2022-11-22 22:07] bbansalWolfPack commented on #16955
seeing same issues. Any solutions yet?

[2022-11-22 22:17] funktionalsystems commented on #20647
This is apparently a side-effect of how [#383](https://github.com/cypress-io/cypress/issues/383) was originally implemented: https://github.com/cypress-io/cypress/blame/547b700331c251410a1d17872d2a19c2009dec42/packages/server/lib/server-e2e.ts#L103-L125

Perhaps instead of just `if (baseUrl)` this should be something like `if (baseUrl && configWaitForBaseUrl)` (hypothetical config var)

If/when #2

[2022-11-22 22:32] lmiller1990 commented on #21743
Word on the street is that @brian-mann has a fix, let's follow that up before anyone does any additional work here.

[2022-11-22 22:41] NorseGaud commented on #1965
Wow, this is an old thread... I have a need to "visit" a `chrome-extension://` URL and load the extension in the current window. I don't need anything else and can run all of my tests once it's loaded. Nothing more, nothing less.

[2022-11-22 23:11] lmiller1990 commented on #22868
Hmm I had a similar problem on my M1, but my colleagues did **not**. I have a feeling my problem was something in the Rosetta compat layer (I am not sure if I messed something up during configuration). I was specifically seeing this problem when using Chrome, but it was nice and quick with Firefox. Are you seeing this problem on other browsers?

I am in the process of reformatting my M1 to see if

[2022-11-22 23:13] lmiller1990 commented on #16914
@sniperadmin what are you asking for?

If there is a Next + Jest issue, please log the issue in vue-jest (unrelated to this project).

[2022-11-22 23:23] mschile commented on #23391
Some other configuration options that may help with memory:

* Reducing the [`numTestsKeptInMemory`](https://docs.cypress.io/guides/references/legacy-configuration#Global)
* Disabling the [command log](https://docs.cypress.io/guides/references/troubleshooting#Disable-the-Command-Log)

[2022-11-22 23:27] onthespotqa commented on #22868
@lmiller1990 so i don't think we have an unreasonable amount of requests in our app. But we do frontload a lot of data when you initially log in. We do use apis to create test data during the test.

i've noticed that the app is slow to load when running locally. Like on initial run the app takes over 30s to load the first page. Not on an M1  chip and generally using chrome/electron.

Where i notic

[2022-11-22 23:39] JasonLandbridge commented on #22518
Bump!

I'm having the same issue where [@nuxtjs/i18n](https://v8.i18n.nuxtjs.org/) isn't loaded which messes up components that use translations

[2022-11-22 23:42] CoryDanielson commented on #23391
@mschile if you read through some of the chrome bugs linked in this GitHub issue, you'll find your way to this one. You can follow the related bug that it was merged into, too. This issue is related to a reduction in oilpan memory capacity

https://bugs.chromium.org/p/chromium/issues/detail?id=1352649

**Edit**: is the command log written using a `<table>` element? This bug could be related, if so

[2022-11-23 00:12] NorseGaud commented on #1965
The more I dig in the code, it looks like this may be a change to https://www.npmjs.com/package/@cypress/request which seems to do the request and throw the error.

Furthermore, it seems like the maintainer wants people moving away from it https://github.com/request/request/issues/3142

[2022-11-23 01:02] NorseGaud commented on #19435
@mjhenkes, Cypress 11.x is out and this is still an issue.

[2022-11-23 01:51] NorseGaud commented on #1965
. . .

This doesn't work. Even with the tweaks to get it to work with the latest puppeteer,`await theFrame.goto` never completes and all you see is the following with an eventual timeout
<img width="360" alt="Screen Shot 2022-11-22 at 8 51 01 PM" src="https://user-images.githubusercontent.com/5896030/203455076-83876cdc-8446-4ca1-b1e2-1f9067c2344d.png">

[2022-11-23 02:07] lmiller1990 commented on #24160
I will pick this up.

Things to consider
- ensure onboarding is all updated and working as expected
- no dead ends - -react18 should still work, react should throw an error "This library works with React 18. If you have an older version, use cypress/react17"
- npm major version bump for cypress/react
- ???

[2022-11-23 07:05] tomoyachen opened #24788 "Gitlab CI Job does not end properly when `cypress run` contains a specific page that was visited"
### Current behavior

When running the `cypress run` command on Gitlab CI, there is a probability that after a specific page is visited in a test case, the CI job does not end after running all the cases.

I tested different pages of my test subjects individually, and a specific page causes this problem, while all other pages end normally.

The page with the problem has a Service Worker, so I trie

[2022-11-23 07:46] HafizGhulamAbbas opened #24790 "Range Error - Maximum call stack size exceeded"
### Current behavior

When I am trying to traverse the DOM using cypress recursively, it is giving Range Error - Maximum call stack size exceeded.

### Desired behavior

When I traverse any website's DOM, it should work fine without any complain. As I am doing it recursively, I've added the base condition to avoid the infinite loops.

### Test code to reproduce

- In a test case, call a function w

[2022-11-23 08:24] alessandrostassalpitour opened #24791 "Cypress console suddenly crashed"
### Current behavior

During the execution of Cypress test, after almost 2 minute, the test crashed suddenly.

### Desired behavior

The test should complete the code until the end of the test (only one it block)

### Test code to reproduce

Console log errror:

This is the equivalent to seeing the 'sad face' when chrome dies

This can happen for a number of different reasons:

-You wrote an endle

[2022-11-23 08:40] gutisalex commented on #3887
this works for me but has some typescript issues which I ignore with @ts-ignore. Anyone know how to add the proper types to this?

And when will there be an official solution to this? I encountered that issue testing the headline of a site!

Having this in one line in my IDE

[code]

and test it with the following cypress command

[code]

its all working so far...

But my editor tends to break tha

[2022-11-23 08:48] sniperadmin commented on #16914
@lmiller1990
I've created this sandbox:
[Optional chaining with Jest / Nuxt](https://codesandbox.io/p/sandbox/optional-chaining-with-jest-nuxt-n0y9bo?selection=%5B%7B%22endColumn%22%3A1%2C%22endLineNumber%22%3A22%2C%22startColumn%22%3A1%2C%22startLineNumber%22%3A22%7D%5D&file=%2Ftsconfig.json&workspace=%257B%2522activeFileId%2522%253A%2522cl9zkslmo000jlsgzcca61fcs%2522%252C%2522openFiles%2522%253A

[2022-11-23 09:01] ShanikaWickramasinghe opened #24792 "Cypress do not support group (folder) wise parallelization"
### Current behavior

We have grouped our specs into several folders. The reason for that is specs inside one folder is not independent from each other. (The first spec creates the resources for the group and the last spec delete them while other specs using those resources. This is also done to reduce time for repeatedly recreating resources for each spec in that group).

Now we have to integrate

[2022-11-23 09:03] lmiller1990 commented on #22868
Ok, if it is in CI it's definitely not related to M1 or Rosetta emulation.

Other thing to debug would be running both 9.x and 10.x side by side with `DEBUG=cypress:*`. You can narrow down the logs with more specific debugs, eg `DEBUG=cypress:network*` etc... I'm not really sure how much else I can help without access to your app, but the best advice I can offer is trying to figure out what part o

[2022-11-23 09:34] hchenxa commented on #18434
same for me

[2022-11-23 09:58] anchelotti opened #24795 "Long opening time for e2e tests using Electron"
### Current behavior

After selecting Electron for e2e tests, loading takes about 5 minutes. No such issue with Chrome and Firefox. Persistent on 11.0 - 11.2.

![Screenshot_20221123_114758](https://user-images.githubusercontent.com/46111941/203516176-79ab7073-2659-4c72-b1f1-efcb3e7bade6.png)

### Desired behavior

Loading e2e tests with Electron happens faster.

### Test code to reproduce

Any e2e

[2022-11-23 10:35] StephaneColson commented on #24622
Hi I'm also having issues with `cy.origin`, headers and cookies (CSRF): sometimes XSRF cookie is correctly set but cannot be used inside the `cy.origin` code (XSRF security on the target page is blocking everything), sometimes it's not set at all. So, with the exact same code, I can have different behavior and it's driving me crazy!

I subscribe to this ticket to see if you find something. Not sur

[2022-11-23 10:35] dani8art commented on #20647
@funktionalsystems you are right, we should keep it

However, this case is a bit special because we want the check to be performed. The issue here is that the `$.hosts` property is not taken into account to do this check.

Additionally, it only happens for Linux environments, so it shouldn't be because of the piece of code you attached.

[2022-11-23 10:51] symn opened #24796 "`window.__tcfapi` is undefined in Cypress' testing iframe for sites with Quantcast Consent Modal"
### Current behavior

Follow-up from here: https://github.com/cypress-io/cypress/issues/22948#issuecomment-1322388915

We test a site that contains a Quantcast consent modal and receive an error which says that `window.__tcfapi` is undefined.

This comment sums up the problem (https://github.com/cypress-io/cypress/issues/22948#issuecomment-1197375703):

Before the update to `cypress@11.1.0` on `cy

[2022-11-23 12:35] michael-schantin opened #24797 "Studio: [Lifecycle] Improve the saving experience in studio to avoid having to rerun the entire spec with every save"
### What would you like?

I love to use Cypress **Studio** to add commands to my tests (see https://docs.cypress.io/guides/references/cypress-studio#Extending-a-Test).

What I miss, however, is an option to not (!) execute the newly recorded commands immediately after saving. Is it possible to introduce such an option?

### Why is this needed?

It would save time on lengthy test cases.

### Other

[2022-11-23 14:19] mjhenkes commented on #24377
@lidiagc, given that you're seeing this less frequently on 11.0.1 would you be ok with us closing this issue?

[2022-11-23 14:25] mjhenkes commented on #24602
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment or open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Con

[2022-11-23 14:25] #24602 closed, assigned to mjhenkes

[2022-11-23 14:29] mjhenkes commented on #24620
@kodriscollics, is the issue specific to your website or can you recreate it elsewhere? Is the website that causes this problem public?

[2022-11-23 14:31] mjhenkes commented on #24622
@StephaneColson, could you log a separate issue for this? I'd be interested if you could give us a reproducible example, Cookie handling is tricky.

[2022-11-23 14:52] CoryDanielson commented on #23391
Anecdotal evidence from this morning:

**Cypress 11.2.0, Chrome 107.0.5304.110 (Official Build) (x86_64)**
All of these runs were with the command log enabled.
- **crashed** `numTestsKeptInMemory: 1, no gc` OOM on the 5th test. Memory ran up to 5GB and crashed.
- **crashed** `numTestsKeptInMemory: 1, with window.gc() calls`. Memory >2gb after 7 tests. 2.8gb after 10. OOM crash soon after
- **suite

[2022-11-23 14:56] Rahuifcnja4 commented on #24741
Please help me out how to yae yml data in cypress

[2022-11-23 14:57] #363 closed

[2022-11-23 14:57] #5723 closed

[2022-11-23 14:57] #24526 closed, assigned to chrisbreiding

[2022-11-23 15:01] ShanikaWickramasinghe commented on #24792
@nagash77 Is running cypress parallelization group wise not supported at the moment ? Can you please confirm. Is this new feature included in Cypress Road-map ? Any ETA for delivering this as a feature. Highly appreciate your input on this.

[2022-11-23 15:11] Rahuifcnja4 commented on #24741
Please help me how can we read yml by cy. task not getting any solution

[2022-11-23 15:11] Rahuifcnja4 commented on #24741
Hi

[2022-11-23 15:23] CY-Ronald opened #24798 "test"
### What would you like?

test

### Why is this needed?

test

### Other

test

[2022-11-23 15:24] #24798 closed, assigned to nobody

[2022-11-23 15:37] Pa6kewi4 commented on #9378
Hi, I'm new to use cypress, so please don't be hard on me.

The issue is that I can't select Yes or No value in an element, which is hidden until the other element is chosen.

In my image attached, you can see that:
1- If I choose Law Firms, appear next Yes/No element with Id=CompanyDerive_0_0,
2- below is a script to use a class for choosing the Yes/No value of an element (true or false).
![2022-

[2022-11-23 15:57] dsheng123 commented on #970
Any updates on this? Would love to be able to set pointer media query in addition to viewport size in the cypress config.

Issue is also the Material Date picker as mentioned by @pganster

[2022-11-23 16:08] mschile commented on #23391
Thanks @CoryDanielson, I would also be curious what happens on Chromium 103. If you have time, would you mind running against 103? You can download previous versions here: https://chromium.cypress.io/

[2022-11-23 16:16] hegeds commented on #23391
@CoryDanielson I have to disagree unfortunately, setting the `numTestsKeptInMemory` will only help a little (especially when we are seeing the problem in the pipeline, where the value of the `numTestsKeptInMemory` is forced to be 0). The same goes for calling the garbage collector. These are just bandaids on an open wound.

These solution might help someone just enough, that their current test wil

[2022-11-23 16:34] CoryDanielson commented on #23391
@hegeds If you're running in a pipeline why are you even using `cypress open`? This issue is specific to cypress open.

I'd argue that the codebase I work on has "complex" tests. If I reached an OOM after 5 `it` blocks, it's a pretty decent indicator of how massive the app is that we're testing against. Running with `numTestsKeptInMemory: 0` allowed me to run 31 tests without OOM and low memory us

[2022-11-23 16:49] hegeds commented on #23391
@CoryDanielson sorry for not being specific, but I execute `cypress run` and I'm seeing this issue there as well. The result I just posted was also executed with `cypress run`.

[2022-11-23 16:51] CoryDanielson commented on #23391
@hegeds do you get OOM issues with `cypress run`?

[2022-11-23 16:54] hegeds commented on #23391
@CoryDanielson yes

[2022-11-23 16:54] pavelloz commented on #136
Any progress on making iframe support more user friendly?

Im trying for the past couple of days to click a button inside an iframe and, i think, i tried everything from the 6 years history of this issue, `cypress-iframe` and its forks, and some blog posts recommendations.

Im running out of ideas very rapidly :)

[2022-11-23 16:56] CoryDanielson commented on #23391
Honestly you might want to open a separate issue for that - the conversation could drown everything else here. I'm running `cypress run` now across like 190 test files, and what I see is that the Chrome Helper process gets killed and a new one is spun up between test files.

We avoid this issue where I work by keeping our test files somewhat small, so that they can be parallelized easier too.

[2022-11-23 17:54] mjhenkes commented on #24767
Hi @manoj-fd, to try and set a baseline, i put together a super simple repo with webkit setup: https://github.com/mjhenkes/simple-webkit-example

With that repo, the webkit browser opened up for me and i was able to run the generated test. Could you pull down that repo and see if webkit opens for you?

[2022-11-23 18:36] rockindahizzy commented on #24581
Hey @ibrahimsTailorMed thanks for reporting this issue! Could you provide the error logs you are seeing when this happens?

[2022-11-23 18:58] rockindahizzy commented on #24209
Hey @munkinugget we have a few issues related to `pnp`. This one is the current 'main' issue https://github.com/cypress-io/cypress/issues/22747. I'm going to close this for now. Feel free to re-open if you think they aren't related!

[2022-11-23 18:58] #24209 closed, assigned to nobody

[2022-11-23 18:59] rockindahizzy commented on #24597
Hey @briggsge, thanks for opening this issue! I am closing this as a duplicate of https://github.com/cypress-io/cypress/issues/22747. If there are additional details you'd like to point out, feel free to reopen this issue!

[2022-11-23 18:59] #24597 closed, assigned to nobody

[2022-11-23 19:14] nagash77 commented on #24790
@HafizGhulamAbbas Im sorry to hear you are having issues using Cypress.  Can you provide the HTML for the page you are running against?  Or even better a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2022-11-23 19:14] nagash77 commented on #24791
Hi @alessandrostassalpitour I am sorry to hear you are having issues running Cypress.

Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward

[2022-11-23 19:16] nagash77 commented on #24795
Hi @anchelotti .  I am sorry to hear you are having issues running Cypress.

Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.  Can you

[2022-11-23 20:55] brian-mann commented on #24292
You can currently get a list of aliases using `cy.state('aliases')` although this is an internal API and it's not documented, so we can't guarantee that it's not going to change.

However I think there should be an official, public API for acquiring these, and we'll internally reference your request as we revisit modifications to the public API at a later time.

It would also be helpful if you cou

[2022-11-23 20:57] brian-mann commented on #24292
@BlueWinds labeling this issue as `topic: cy api` as an input for exploring future cy API enhancements. Just putting it on your radar.

[2022-11-23 21:22] garyantoriano commented on #16856
Hi @Kazathur92, you can find more information about the document.cookie api at the following link: _https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie_
Basically if you use: **document.cookie = "cookieName=cookieValue"**, it will set a cookie with its name as 'cookieName' and its value as 'cookieValue', and the **domain name** will be the host portion of the current document location

[2022-11-23 21:27] marktnoonan commented on #24213
I've scoped this down to just the first post in the series, let's get that done and do the rest as separate tickets in upcoming sprints.

Internal slack link for review discussion: https://cypressio.slack.com/archives/C011BAPC614/p1669233631031209

[2022-11-23 21:52] BlueWinds commented on #3109
Hello! I just wanted to let you all know that we're adding this in Cypress 12.0.0. It turns out that "ability to retry commands" was pretty central to resolving #7306 , and as part of that effort, we're exposing the `addQuery` interface publicly.

This will be going out in a couple of weeks with Cypress 12, but if you want a bit of a preview, here's the PR we have open with cypress-testing-library

[2022-11-23 23:53] jeanabanto commented on #24290
Any updates on this issue?

[2022-11-24 01:56] sumit-s1 opened #24803 "snowflake-sdk: Module not found: Error: Can't resolve 'async_hooks' in 'C:\projectname\node_modules\vm2\lib'"
### Current behavior

I am trying to integrate Snowflake in my Cypress tests but it keeps on throwing errors while compiling.

[code]

Tried the following simple steps:

1. Installed Cypress
2. Installed snowflake-sdk through npm
3. Created a spec file and imported:
`const snowflake = require("snowflake-sdk");`

When I run the spec file, I am getting the error as above.
If I trace the error to the

[2022-11-24 01:58] haipinggong opened #24804 "cypress/grep throws error when used together with .only"
### Current behavior

1. Install @cypress/grep plugin.
2. Configure cypress to use @cypress/grep plugin to filter out cases.
3. Create some cases with different tags.
4. Add .only for one of the case.
5. Run the spec file with --env grepTags=tag

Cypress throws an error when I add .only in one of the test cases and use --env grepTags=@tag2 filter out the cases.

### Desired behavior

Cypress can f

[2022-11-24 04:26] colcherica commented on #21022
I have the same issue and I'm running locally my jenkins:
![image](https://user-images.githubusercontent.com/20081012/203694131-ac84e84e-6481-4fa9-bfbb-2a66dc130939.png)

[2022-11-24 04:42] #24803 closed, assigned to nobody

[2022-11-24 04:48] spiltcoffee commented on #24695
@flotwig I assume you meant this issue? https://github.com/mochajs/mocha/issues/3559

Anyway, a related exit code issue due to this practice is that if you have a multiple of 256 failed tests, then Cypress inappropriately exits with an exit code of `0` in contexts where the exit code is only 8 bits (i.e. unix).

Mocha faced this issue previously (https://github.com/mochajs/mocha/issues/2438) and r

[2022-11-24 04:58] shishir-dwivedi-ethos commented on #24756
I am facing the same issue. I have a use case where I need to perform some action on one host and then open a different host to verify. For opening a different host I am using `cy.origin()` but the problem is in the header of the API call CSRF token is going as undefined which breaks the flow and the page doesn't load. Whereas when I open the first Host with `cy.visit()` CSRF token goes in the hea

[2022-11-24 05:26] HafizGhulamAbbas commented on #24790
You can try any website but I am using https://www.drupal.org/project/dummyimage

[2022-11-24 06:56] webInRoad opened #24805 "Cypress Docker The Test Runner unexpectedly exited via a exit event with signal SIGKILL"
### Current behavior

The Test Runner unexpectedly exited via a exit event with signal SIGKILL

Please search Cypress documentation for possible solutions:

https://on.cypress.io

Check if there is a GitHub issue describing this crash:

https://github.com/cypress-io/cypress/issues

Consider opening a new issue.

----------

Platform: linux-x64 (Debian - 11.3)
Cypress Version: 10.7.0

### Desired b

[2022-11-24 07:33] rehdie commented on #19066
In my case this weird error was caused by a "wrong" import-statement in the e2e.spec-File (Error: Webpack Compilation Error
./node_modules/@angular/cdk/fesm2015/tree.mjs Module not found: Error: Can't resolve '@angular/cdk/bidi'....)

I have an Angular-workspace with a library + a test-application which uses the library and is used for the e2e-Tests.

The problematic import-statement in the e2e.sp

[2022-11-24 07:57] fjf2002 opened #24806 "TypeError: Cannot set properties of undefined (setting 'onFail')"
### Current behavior

In some (yet to me unknown) circumstances I get this error, see below.
I suspect this is a bug inside cypress, at least a cryptic error message you could improve.

Thank You.

[code]

### Desired behavior

The error should not occur, or at least contain a message meaningful to the user.

### Test code to reproduce

unknown

### Cypress Version

10.11.0

### Node version

18.8

[2022-11-24 08:28] StefanTegeltija opened #24807 "Cypress is reading <iframe> tag as text"
### Current behavior

Cypress is reading <iframe> tag as text

### Desired behavior

<iframe> doesn't suppose to be read as text

### Test code to reproduce
so if you have something like this
[code]
and if you have assertions for eg.
[code]
You will get error I already tried the following: should(have.text, 'Some title dummy text'), (include.text, 'Some title dummy text') and cy.get('[data-testid=

[2022-11-24 08:45] chaitanyak-bidgely commented on #21403
Hi @mjhenkes ,

The issue mentioned by @mmitchell3590 [mmitchell3590] seems still seen with latest Cypress version. 11.2.0

I tried enabling experimentalSessionAndOrigin at Suite level and still getting the same error -> The experimentalSessionAndOrigin configuration can never be overridden because it is a read-only configuration option.

Is there any other way to handle it as my other testSuites

[2022-11-24 08:47] BillSchumacher commented on #3324
The fix that was implemented to not need the launch options did not actually fix the problem and the work-around is still needed but no longer works.

When I set the viewport and then call the screenshot command with viewport specified, it should take a screenshot with the exact viewport size I specified and not limit it to my monitor's resolution/scaling on axis that exceeds that value.

Even if

[2022-11-24 09:31] hegeds commented on #23391
but that's my point, that they are the same issue, for some reason there is a memory leak in the cypress process. Most people saw the problem when running with cypress open, having snapshot stored etc because those require extra memory, and with those you can more easily get over the limit, but the underlying issue can be seen running the test in headless mode.

I know, that I could separate the t

[2022-11-24 09:51] Binayad opened #24934 "Uncaught DOMException: Failed to set the 'domain' property on 'Document': Assignment is forbidden for sandboxed iframes."
Can someone help me regarding the redirect issue inside the iframe in cypress?

I have a form inside an iframe where I can insert text on the input field and in the next step, I click on the next button and it should respond to the next page but redirect is not performing on the cypress chrome browser.

I tried via cypress studio also but the button will be clicked and an alert will show but the r

[2022-11-24 10:41] manoj-fd commented on #24767
Hi @mjhenkes , I have already tried similar sample project set up and works fine, however when i tried with my existing project, it shows blank page and below is the error in debug mode

[code]

We are using couple of features in our project along with cypress.

-  Applitools dependencies installed - @applitools/eyes-cypress": "3.27.1",
-  Cypress axe installed -
   -     "cypress-axe": "~1.0.0",

[2022-11-24 10:50] vinoth5261 opened #24808 "Applet Error while Clicking on hyperlink in Siebel application"
### Current behavior

Does Cypress supports automating Siebel application? I can login to application & navigate different pages. When clicking on hyperlink, it shows Applet error

Error: The applet field with name "s_1_1_76_0" doesn't exist.(SBL-UIF-00289)

While manually, I can click on the hyperlink and navigate

### Desired behavior

Clicking on hyperlink should navigate or drilldown further

[2022-11-24 11:40] richardszanyi-kasa commented on #23391
@CoryDanielson I agree with @hegeds that this might be the same memory problem both with `cypress run` and `cypress open`.

We were seeing failures due to that in local runs as well as CI runs. (open, and run) Of course, the latter is less frequent.
One thing I noticed, this is directly proportional to the HTML elements cypress gets for each `cy.get()`.. The more we wanted to "find" an element and

[2022-11-24 11:49] masciugo commented on #16469
I am experiencing the same problem. Thanks for the workaround but it I hope it will fixed

[2022-11-24 11:49] richardszanyi-kasa commented on #21135
@dwjohnston
We've been seeing these errors with a lot of `cy.get()` on a page. (For example a table with many values)
Try to play around `.each()` and `.get()` functions for reproduction.

[2022-11-24 12:42] snefa commented on #17723
We were also going offline and online in tests and are missing it... +1 here.

[2022-11-24 14:51] Englishman-in-newYork commented on #23196
@DarynaMinko
I faced with same issue and i think it caused by Google API limimits per day, if you look at console you should see something like this
![image](https://user-images.githubusercontent.com/75856971/203810502-4f532ab6-2777-4591-b1d6-adef3dc85a4f.png)

[2022-11-24 15:05] dvkuenssberg opened #24809 "Testing services"
### What would you like?

Hello,

in my Angular project I am looking to replace existing Karma tests with Cypress tests, which works for components. However, is there a way to test the logic of services (e.g. a service which performs backend calls) in a similar isolated manner? If not, is this something which may be provided in the future?

Thanks!

### Why is this needed?

Having Cypress as an al

[2022-11-24 15:54] itsdela commented on #8222
I have the same issue using the [cypress-parallel](https://www.npmjs.com/package/cypress-parallel) library

[2022-11-24 16:30] SMenigat opened #24810 "chrome was not found within cypress/included:11.2.0"
### Current behavior

When running cypress within an container built using the `cypress/included:11.2.0` image, cypress fails to locate the chrome browser:

[code]

### Desired behavior

Cypress being executed within `cypress/included` images should be able to find `chrome`  and run it.

### Test code to reproduce

We have the following Docker image:

[code]

We execute the follwing command within

[2022-11-24 18:03] bvandrc commented on #24292
Example use case:

[code]

[2022-11-24 19:32] simondrabble opened #24811 "cypress open just quits, no error message, after a few minutes idle"
### Current behavior

If I leave `cypress open` idle for a few minutes (varies) it will just exit without any kind of error message. This occurs in the cypress/included:11.2.0 docker image and was also present in 10.10.x

Often, I will be adjusting tests or code and thus not actively executing tests. To have to restart cypress, resize windows, disable network cache, open the console* etc because I

[2022-11-24 19:36] simondrabble commented on #24811
Update: also I have left other X apps running for long periods with no issue.

[2022-11-24 20:56] gagneet commented on #22181
Hi, has there been any update on this? We are still waiting for this to be resolved, so that we can upgrade to the latest Cypress.

[2022-11-25 03:16] Mike3o8 opened #24814 "@cypress/grep TS linter displays errors when using tags in "describe" but not "it""
### Current behavior

As per the docs we have added the types to the tsconfig.json file like so:

`"types": ["cypress", "@cypress/grep", "node"],`

However, when using the tags in describe blocks, the Typescript linter displays errors e.g:

`describe('Test file', { tags: ['@tag1', '@tag2'] }, () => {`
_Argument of type '{ tags: string[]; }' is not assignable to parameter of type 'SuiteConfigOverri

[2022-11-25 07:20] david-garcia-garcia commented on #21260
Same here, our case is a huge corporate SPA, where initial loading takes several seconds. Going to blank after each spec makes tests execution time unbearable.

[2022-11-25 07:25] anchelotti commented on #24795
Hi, unfortunately I don't have possibility to reproduce on different OS at the moment. Maybe providing my package.json and package-lock.json might be useful?

[2022-11-25 07:28] 220usamaahmed commented on #20083
I am having the same issue with cypress ```ng e2e app1```. The tests inside app1 are not found. Instead it tries to run tests in the root of the workspace. Any way to only run the tests which correspond to app1?

[2022-11-25 08:52] verdeimparat opened #24815 "selectFile() on WebKit"
### Current behavior

Hello everyone,

I am new to Cypress and I am doing some tryouts for file upload in my project by using the built in file upload feature of Cypress over WebKit.

`  "devDependencies": {
    "cypress": "^11.2.0",
    "playwright-webkit": "^1.28.0"
  },`

I know that WebKit is experimental but I didn't find anything regarding that selectFile() is not supported yet.
I want to me

[2022-11-25 09:43] MounikaBodicherla commented on #22987
@AtofStryker I upgraded to cypress 10.10.0 to use cy.origin() for google authentication (accounts.google.com). I am able to proceed with entering my email id and password. After that, the main application is not loading. Again, it is showing the page with the Google Login button. Could you please help me with the solution?

I used the below code:
[code]

[2022-11-25 10:19] JoostKersjes opened #24818 "Vue mount type definitions error on SFCs with only one `define` API used"
### Current behavior

Upgrading to Cypress v11 (any minor version) has resulted in TypeScript errors appearing in my component test files, specifically when using mount with an SFC that has only one of the `defineProps`, `defineEmits` and `defineExpose` API's used in its `setup`.

[code]

[code]

[code]

Changing the component definition code to the follow will make the error disappear:

[code]

#

[2022-11-25 11:29] sisou commented on #14600
I just had the same problem, `crypto.subtle` not being available on localhost.

I found that the `about:config` setting `network.proxy.allow_hijacking_localhost` was set to **true**, but default is **false**. Resetting it to **false** made it work on localhost!

[2022-11-25 11:33] gyh2016 commented on #14920
Hi @flotwig, thanks for explaining the two sources of the `Host` header(actually only one from req.url).

But in my test case, I really need to modify the `Host` header to a different host. For example:

[code]

When visit aaa.com, it only works when the `Host` header is equal to "bbb.com".

`curl` can help me do that. It supports set `Host` header by `-H` parameter such as `curl "aaa.com" -H "hos

[2022-11-25 12:16] mauchacon99 commented on #1152
My solution was to install the package

`yarn add eslint-plugin-cypress --dev`

and in my configuration file .eslintrc.json

[code]

[2022-11-25 13:02] estefafdez commented on #349
any update on this issue? we are experiencing it on version 11.2.0. Thanks!

[2022-11-25 14:26] ChristofFritz opened #24820 ".origin() doesn't differentiate subdomains as individual origins"
### Current behavior

The .origin() command doesn't accept new origin that haves the same domain but a different subdomain.

This worked in cypress 10, but stopped working after the upgrade to 11.

### Desired behavior

Being able to use new origin with different subdomain but the same domain.

### Test code to reproduce

https://github.com/ChristofFritz/cypress-test-tiny

Downgrade to 10.3.0 and

[2022-11-25 14:38] simondrabble commented on #24795
I see this same behaviour on Mac OS 12.1 (host) using the cypress/included:11.2.0 docker container. However it only occurs on the first run after `cypress open`.

[2022-11-25 14:53] #18544 closed

[2022-11-25 15:25] karlhorky opened #24822 "macOS: "Cypress" is damaged and can't be opened. You should move it to the Trash."
### Current behavior

Hi there! 👋 Thanks for your continued effort on Cypress, really helpful for testing!

The Cypress binary with `cypress@11.2.0` (11.2.0.1936146) causes an error on macOS 13.0.1 (22A400) (with M1 Apple Silicon):

[code]

<img width="257" alt="Screenshot 2022-11-25 at 16 17 58" src="https://user-images.githubusercontent.com/1935696/204015209-56a8db23-3076-4d19-80d7-32cf108d9196.

[2022-11-25 15:44] CSchulz commented on #23141
After some digging I can confirm the issue is similar to the node-fetch import with most recent version. As long an imported library is ESM, it is not supported yet.

[2022-11-25 15:57] jueinin commented on #22868
i have this problems too。
when using cypress open local vite based page. It has about 200 js requests. in Chrome it takes about 5s to load. With cypress v11 it takes about 1 minute

[2022-11-25 16:13] CSchulz opened #24823 "Property 'request' does not exist on type 'HTMLElement'. during request aliasing"
### Current behavior

cy.get with an alias for requests returns a JQuery<HTMLElement> instead of a http response interface.

There was also no notice in the change log about a behavior change.

### Desired behavior

cy.get should return Cypress.Response type to enable response status checks and similar like in the code example.

### Test code to reproduce

    cy.request('https://jsonplaceholder.c

[2022-11-25 17:58] tester-at-bmi commented on #24512
@samtsai you're just so wrong here! 😄

**SuiteConfigOverrides** is used to override describe blocks.
[code]

[2022-11-25 18:00] eXpertise7 opened #24824 "Cypress configuration error for "e2e" on Cypress 10.8.0 on Angular 14"
### Current behavior

I've an issue on updating to Cypress10.8.0 from  Cypress 9 on Angular 14 project.

I was following instructions and I've read the docs, and after the migration setup has succeeded, I've Cypress configuration error for "e2e". Literally, what ever I do I always get this Error: An invalid configuration value was set. Expected e2e to be a plain object. Instead the value was: true

[2022-11-25 19:43] PavloPoimanov commented on #22521
Hi,
I have resolved issues for me with next
[code]
The general idea was to extend what @marktnoonan did with the config from cra. I just replaced webpack config with required because it have overrides. Then I was figting with the errors in console, not 100% that this config is correct but at least it work
It works for me
![image](https://user-images.githubusercontent.com/86358178/204048822-9c17af6

[2022-11-26 06:32] shao1 commented on #7062
Have you solved it yet?

[2022-11-26 06:38] shao1 commented on #7062
Have you solved it yet?

[2022-11-26 11:12] Manuel-Suarez-Abascal commented on #21908
@sainthkh I have opened a PR for the requested change [here](https://github.com/cypress-io/cypress/pull/24825). Let me know your thoughts on it.

[2022-11-26 14:11] Dragas opened #24826 "Incorrect/misleading error messages when passing wrong arguments"
### Current behavior

Cypress schedules actions that would be executed later during actual testing. This in turn causes an issue where the parameters for those actions are validated only during the execution step, rather than the scheduling step. As a result, when passing invalid argument types (object for a string, ex.) cypress outputs internal stacktrace, rather than pointing to the user written

[2022-11-26 14:13] Dragas commented on #24826
Same issue can be reproduced by moving fixture action to the test out of beforeEach block.

[2022-11-26 16:05] Manuel-Suarez-Abascal commented on #21929
I'm assuming this issue is no longer relevant since as of right now it's an error message with different style & message? If so, can we go ahead & close it?

**Current UI:**
<img width="815" alt="Screenshot 2022-11-26 at 11 04 10 AM" src="https://user-images.githubusercontent.com/32891808/204097927-6ae1260b-8e98-41f2-8484-22a179dc416f.png">

[2022-11-26 17:19] eXpertise7 commented on #24824
Hey, just an update on cypress error at my side - I've figured it out. I was opening Cypress tests with command: cypress open --browser --e2e (which I've seen in some of videos, or in the docs I think), and that was the problem. When I entered: npx cypress open , everything has worked well. I'm closing out the task, since this is not an issue. Kind regards, Robert

[2022-11-26 17:19] #24824 closed, assigned to nobody

[2022-11-26 17:49] webInRoad commented on #24554
+1

[2022-11-26 20:26] funktionalsystems commented on #20647
@dani8art I agree that fixing hosts resolution is a much better solution that disabling the check.
For now, I've reformulated your workaround above for the new v10+ config system.
It works for me, and I wonder if it would also solve the issues @ManuelLR was having?

cypress/support/e2e.js:
[code]

[2022-11-27 04:42] mikelhamer commented on #1750
yes please

[2022-11-27 05:56] colcherica commented on #21022
I manage to fix this issue by adding the npm cypress install as first build step into project config and after add the second build step in order to start your build
![image](https://user-images.githubusercontent.com/20081012/204121463-c4905dd5-3252-4a63-b889-e9a590606439.png)

[2022-11-27 13:57] vivekbaskaran24021 commented on #23751
@chrisbreiding  When is the issue is planned to fix

[2022-11-27 17:04] kpayson opened #24827 "Unable to change the source root"
### Current behavior

There is an error opening cypress component testing if the source root folder is not called "src"

In my case the "src" folder is named "ui"
The sourceRoot folder setting is updated in angular.json to reflect the folder name.

`      "root": "",
      "sourceRoot": "ui",
      "prefix": "app",`

When I open cypress and go to component testing, I get the following error.  I ca

[2022-11-27 18:28] 0303vikas commented on #19711
I had the same issue, fixed it by Running the front-end before running cypress. if you are using gitlab ci, check if your front end server is running and if its running on correct port.

[2022-11-27 22:35] Manuel-Suarez-Abascal commented on #21755
@jennifer-shehane I have added a PR addressing this issue [here](https://github.com/cypress-io/cypress/issues/21755). Let me know your thoughts. Cheers.

[2022-11-27 23:12] lmiller1990 commented on #22868
Thanks for posting @jueinin - can you try running your tests against the built version of your Vite app (not development) and see if the problem persists?

If so -- I think we are narrowing down on the issue, a bottleneck in the network layer when requesting JS modules. I do not know the network layer very well, but my understanding is we do some rewriting of JS modules [in the rewriter package](h

[2022-11-27 23:19] lmiller1990 commented on #24818
I wonder why adding `defineEmits` fixes it?

Either way, let's fix this - I have no idea why an empty mounting options arg triggers this. Vue core changed their types a bunch recently, I wonder if that's related. Also, I wonder if Test Utils has the same issue.

[2022-11-27 23:22] lmiller1990 commented on #23141
If you are using `type: module` and your tsconfig is set to consume `esnext`, I think it should work? The thing we don't handle well is ESM only mixed with CJS.

[2022-11-28 00:46] zinckiwi commented on #22317
@ZachJW34's suggestion worked for me. Didn't realise it was supposed to be a configuration object instead of a path, but that's just an assumption I made without realising it.

[2022-11-28 01:56] jueinin commented on #22868
@lmiller1990 I have build this project to a index.esm.js. about 900KB, when load this file from vite in chrome disable cache mode, it takes about 60ms, when load this js from cypress it takes 150ms to 400ms. when enable cache(return 304 status code), in chrome it takes about 2-30ms, in cypress it takes about 60ms

[2022-11-28 03:48] lmiller1990 commented on #22868
Right - I think Vite relies heavily on caching. I am fairly sure Cypress clears the cache each test to ensure a fresh, deterministic run, resulting in 2x-3x slowdown -- I guess this is the problem. I *think* that happens [here](https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/chrome.ts#L667). This only happens between **specs** - not **tests** - once your tests start

[2022-11-28 04:09] SMenigat commented on #24810
When digging down into the [node16.16.0-chrome105-ff104-edge](https://github.com/cypress-io/cypress-docker-images/tree/master/browsers/node16.16.0-chrome105-ff104-edge) Dockerfile that `cypress/included:11.2.0` is based on, we find the following:

[code]

This means: when building and executing the image on M1 Mac (arm64), no chrome browser is installed and actually "included" into the image. Ther

[2022-11-28 05:25] lmiller1990 commented on #22868
@SadiqRahim sorry to bump this so late, I tried your example (again).

I'm having the same problem on Cypress 9 - it never loads. Weirdly, the number of request resources is also vastly different when loading in Cypress vs a regular browser:

800+ resources

![image](https://user-images.githubusercontent.com/19196536/204200404-1b36472a-eb36-4c3b-86ea-52c4cf1f9243.png)

~300 resources
![image](http

[2022-11-28 05:33] lmiller1990 commented on #22868
I am fairly sure this is a caching issue. @SadiqRahim - I tried the original reproduction again - it's VERY slow (times out) on the first try. Subsequent loads are nice and quick. This is the same across Cy 9 and Cy 10, though.

Also I noticed the website constantly makes ongoing requests for lots of tiny CSS files - is that correct? Probably unrelated, but I let it sit there for a while and the n

[2022-11-28 06:59] jueinin commented on #22868
@lmiller1990 it seems not cache to blame, when i click rerun, it's almost no different times to load. I am just running one test. it seems cypress will proxy and rewrite all js files? may be the problem is here? i noticed the CPU is about 30% when i refresh page in cypress, while in browser is about 8%.

[2022-11-28 07:04] jueinin commented on #22868
by the way, do you know how to set timeout of mocha testcase?  in [here](https://github.com/cypress-io/cypress/blob/b04f9a1143095bf859c9352e93921bedae8e0f8e/packages/driver/src/cypress/mocha.ts#L170)  it was set to false?

[2022-11-28 08:43] nikepol commented on #24822
Hi, simply go to Privacy settings on macOS and allow Cypress to start

[2022-11-28 09:14] markbrockhoff opened #24834 "Files are not watched when running cypress open with --component or --e2e"
### Current behavior

When starting cypress version 11.2.0 using `npx cypress open`, selecting a testing type and running a test, changes to the tests source file will trigger a new test run. When opening cypress using `npx cypress open --e2e` or `npx cypress open --component` changes to the test file will not trigger a rerun.

### Desired behavior

Changes to the test file should automatically tr

[2022-11-28 09:24] karlhorky commented on #24822
Thanks for this workaround, I've added full instructions below and linked to it to my post above.

## Workaround

Open **System Settings** (**System Preferences** on pre-Ventura macOS versions) and navigate to **Privacy & Security** (**Security & Privacy** on pre-Ventura macOS versions).

Here you will see a button to allow Cypress to open anyway, even though it was not signed by a verified develo

[2022-11-28 09:34] karlhorky commented on #24822
This is still a problem that should still be fixed by the Cypress team though - probably the signing needs to be updated on the binary, similarly to the process @bahmutov was referring to in #8299 . (although it is probably not the same cause - I'm assuming binary signing isn't completely broken like it was in #8299)

[2022-11-28 09:44] MounikaBodicherla opened #24836 "Not able to redirect to application on test after google authentication using cy.origin() on cypress 10.10.0"
### Current behavior

 I upgraded to cypress 10.10.0 to use cy.origin() for google authentication (accounts.google.com). I am able to proceed with entering my email id and password. After that, the main application is not loading. Again, it is showing the page with the Google Login button. Could you please help me with the solution?

### Desired behavior

_No response_

### Test code to reproduce

[2022-11-28 10:15] richardszanyi-kasa commented on #24814
Hey,

Afaik the official documentation for the `tsconfig.json` is still
[code]

Other than that, we've upgraded to cypress 11, and @cypress/grep as well, but it throws me type error as well. Everything is configured the way it is in the new readme file.

[code]
Although for me `it()` blocks do not work for me either.

I confirmed that on Cypress 10.x with the new package it does work.

[2022-11-28 10:24] richardszanyi-kasa commented on #24512
Before migration it worked for me without any type override with `SuiteConfigOverrides` or `TestConfigOverrides`

[2022-11-28 10:24] Mike3o8 commented on #24814
Yeah I think the official documentation needs updating too as including 'cypress-grep' in tsconfig does nothing for me

[2022-11-28 10:43] cuadllop commented on #24820
Same scenario happens also for me, having node v16 and 11.2

[2022-11-28 10:44] ChristofFritz commented on #24820
It works if you just remove the .origin(). But that can't be the solution... right?

[2022-11-28 11:22] nitinchalopadho opened #24839 "How to pass variables from cypress to github actions?"
### Current behavior

I have some tests written in cypress and i'm running them with script like this
`cypress:run-level": "cypress run --spec cypress/e2e/end-to-end/end-to-end.cy.js --env program='lower-level'"`

I want my program variable when running from Github actions and my Github actions workflow file look like this
[code]

My cypress.config.js is down below. I defined the env inside it as

[2022-11-28 11:50] ghost commented on #14857
hi all, we've been struggling with this issue and seems like we finally found a working solution that doesn't include arbitrary timeouts and works consistently. There're alternative ways to do this involving using `cy.state` but we decided to avoid using that non-documented method as it might be removed/changed in the future. This piece of code should be inserted before the action triggering your

[2022-11-28 14:17] AtofStryker commented on #24756
@shishir-dwivedi-ethos could be related. Would you be able to provide a small reproduction that I can run on my end to reproduce?

[2022-11-28 14:26] mjhenkes commented on #24767
@manoj-fd, could you attach your config files? If the simple example works there must be something in either a dependency or your config files that is causing the issue.

[2022-11-28 15:05] nagash77 commented on #24826
Hi @Dragas I see you are using an older version of Cypress.  Do you see the same issues on the latest version of Cypress?

[2022-11-28 15:08] AtofStryker commented on #24290
no updates currently, but we will comment on the issue when we have news.

[2022-11-28 15:12] antsfiles commented on #17127
Hi
I'm having the same error with `session` when the restore:

[code]

[2022-11-28 15:12] nagash77 commented on #24839
Hi @nitinchalopadho , Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://discord.gg/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), re

[2022-11-28 15:12] #24839 closed, assigned to nobody

[2022-11-28 15:13] AtofStryker commented on #2100
@rnovosad since the [super domains](https://docs.cypress.io/guides/guides/web-security#Limitations) are the same same, are you able to just perform the visit without using `cy.origin`, like:

[code]

[2022-11-28 15:15] rnovosad commented on #2100
@AtofStryker tried this, but it doesn't help...

[2022-11-28 15:18] AtofStryker commented on #22987
@MounikaBodicherla would you be able to provide a small reproduction repository that we could clone and run to reproduce the issue?

[2022-11-28 15:19] AtofStryker commented on #2100
in other words the user agent fails to update?

[2022-11-28 15:34] mjhenkes commented on #24768
This should be fixed by declaring the dependencies in the package.json for the webpack-preprocessor package. I put up a PR for it.

[2022-11-28 15:41] flotwig commented on #24822
From CI logs, it does look like the 11.2.0 build was signed correctly for `darwin-arm64`: https://app.circleci.com/pipelines/github/cypress-io/cypress/46080/workflows/c926334b-600d-4d64-af67-475c67796662/jobs/1937444?invite=true#step-112-2997

The Cypress code signing cert is still valid through `2024/12/11`, so it's not a cert expiration issue.

@chrisbreiding tried reproducing this on Monterey w

[2022-11-28 15:45] idanElitzur commented on #22987
Recently I got CAPTCHA (questions about my email and my security questions) when  trying to login by google connect with Cypress (v11.1.0).
Any solution for this use case?

@AtofStryker

[2022-11-28 16:01] mjhenkes commented on #24610
@GeorgeXCV, could you put together a simplified example repo? The test code you provided seems to rely on your specific project. I'm unclear on how you're loading the json file on your page. Is it as simple as loading the page once or is it related visiting the page for each 'wallet' and loading the page? How many times is the test able to be run?

This may be related to #23391

[2022-11-28 16:18] mjhenkes commented on #24269
Closing this issue as not reproducible

[2022-11-28 16:19] #24269 closed, assigned to nobody

[2022-11-28 16:24] mjhenkes commented on #24546
I wonder if you're running into chrome rendering crashes, in 10.11.0 we are now catching the crashes and continuing the tests where as before it would cause a hang. https://github.com/cypress-io/cypress/issues/6170

Large tests with many snapshots seem to be causing rendering crashes more often since chrome 103 (ish)

Also related #23391

[2022-11-28 16:25] mjhenkes commented on #24546
You could try chrome 10.11.0 and see if your hangs continue (to be replaced with crashes 😕)

[2022-11-28 16:28] Dragas commented on #24826
I'm afraid I can't upgrade cypress in our current project, but i'll try
reproducing in the newer versions.

On Mon, Nov 28, 2022, 17:05 Ben M ***@***.***> wrote:

[2022-11-28 16:58] BlueWinds commented on #20813
This looks suspiciously like another manifestation of the same underlaying bug as https://github.com/cypress-io/cypress/issues/7306. We've spent a lot of work looking into that for Cypress 12.0.0 - my hope is that this issue will be resolved in Cy12, which should come out next week.

Going to assign myself so I remember to follow up here after release.

[2022-11-28 17:10] CSchulz commented on #24823
After some research by my collegue it should be `Cypress.WaitXHR` instead of HTMLElement.

[2022-11-28 17:42] flotwig commented on #24822
Hmm, I am not able to reproduce on M1 with macOS 13.0.1 and Cypress 11.2.0. `codesign -dv --verbose=4` shows the App as appropriately signed:
![image](https://user-images.githubusercontent.com/1151760/204344836-063c16dd-dbdc-441e-916b-a1e322429ce8.png)

@karlhorky Can you try running `codesign -dv --verbose=4 /path/to/Cypress.app` and sharing the output here?

[2022-11-28 18:16] RonNewcomb commented on #18064
I'm having the same issue with a plain img tag under nextjs.  Using

`import logoRectangle from 'assets/images/logo-rectangle.svg';`

in

`<img src={logoRectangle.src} height={32} alt={name} />`

  But in tests it still tries rendering from
/_next/static/media/logoRectangle.asdfasdf.svg
  instead of
/__cypress/src/static/media/logoRectangle.asdfasdf.svg

Any ideas?   I'm on version 11.2.0

[2022-11-28 18:43] warrensplayer opened #24847 "[IATR](M1.0) Empty States"
### Enhance the empty states for the Debug page

Each empty state will have an image at the top, a title, a description, and a CTA.  All CTAs that open external links to the Cypress Cloud should pass UTM parameters defined [here](https://docs.google.com/spreadsheets/d/1Cs933TLXcS63PmMlXA4wKLJtQSFH90dProvzI9oyEB4/edit#gid=0).

* Not logged in
	* Title: Debug failed CI runs directly in Cypress
	* De

[2022-11-28 18:45] karlhorky commented on #24822
Sure - keep in mind that this is after I performed [the workaround above](https://github.com/cypress-io/cypress/issues/24822#issuecomment-1328773166).

[code]

[2022-11-28 18:46] warrensplayer opened #24848 "[IATR](M1.0) Non-failure Run Statuses"
Add support for all the other run statuses other than FAILED

* Passed
    * Message: All green!
    * Show failures: N/A
<img width="1041" alt="Screen Shot 2022-12-04 at 7 29 59 PM" src="https://user-images.githubusercontent.com/1702361/205525984-c58af1a3-dad3-4a02-9d39-7ea61ad96f9c.png">

* Errored
	* Message: <Error message>
	* Show failures: Yes
<img width="1041" alt="Screen Shot 2022-12-04 at

[2022-11-28 18:47] warrensplayer opened #24849 "[IATR](M1.0) Failed Test Component Enhancements"
### Updates to `DebugSpec` and `DebugFailedTest` components

These updates follow the same visual treatment and structure as "Tests for review" in the Cypress Cloud Run Overview, except only show groups that failed (do not show any other statuses). [Example](https://cloud.cypress.io/projects/ypt4pf/runs/41735/overview)

* `DebugSpec`
	* Add "text" icon to the left of the spec path
    * Add the fo

[2022-11-28 18:50] warrensplayer opened #24850 "[IATR](M1.1) Open In IDE button for debug spec component header"
Update Spec header on the Debug page to include an option to click the icon and open the spec in the user's IDE.

* Icon in front of Spec name should be a link that calls the existing function to open the spec in the user's IDE
  * Should show tooltip on hover that says "Open in IDE"
* If Spec cannot be found in the local project
  *  Icon should be the one shown in the Figma
  *  The user should

[2022-11-28 18:52] warrensplayer opened #24851 "[IATR](M1.0) Debug page run header updates"
### Debug page header should match new M1 designs

* Updates include
  * The run status on the second row has the status name removed and followed by the run number to be colored the same
    * Make sure all run statuses are accounted for
  * Run number is removed from the first row following the commit description
  * Test counts no longer have the status icon and name
  * Flaky count is shown af

[2022-11-28 18:53] AtofStryker commented on #22987
@idanElitzur likely not since bot detection is outside of scope. Once our docs are updated for v12 I can point a reference here as to what our recommendations are. Have you tried [programmatic login](https://docs.cypress.io/guides/end-to-end-testing/google-authentication)?

[2022-11-28 18:53] warrensplayer opened #24852 "[IATR](M1.0) Debug sidebar status count"
Update the sidebar nav to show a count of failed tests from the cloud

### New icon
* Update the icon for the Debug page to be the new "bug" icon

_Before_
<img width="180" alt="Screen Shot 2022-12-06 at 12 15 19 PM" src="https://user-images.githubusercontent.com/1702361/205978441-f21ebf3e-9d40-443c-897e-d229f464be6c.png">
 _After_
<img width="187" alt="Screen Shot 2022-12-06 at 12 15 39 PM" src="

[2022-11-28 18:55] warrensplayer opened #24853 "[IATR](M1.0) Running/completed build banner for debug page"
Add support to show that a run is currently in progress to a developer and allow them to view the failed tests for a new run once it is complete.

There are three scenarios to support:

* There are no completed relevant runs found for the current commit history for a branch, but an in-progress run is found.
  * The Debug will show the run header with an animated running status icon.
  * The body o

[2022-11-28 18:57] warrensplayer opened #24854 "[IATR](M1.0) "Run Failures" button enhancements"
Updates to the behavior of the "Run Failures" button in the `DebugSpec` component

* Add a tooltip when the button is disabled that says "Spec was not found locally"
<img width="691" alt="image" src="https://user-images.githubusercontent.com/1702361/205528214-9ec9d5cd-bbfa-4968-a32d-5a043e6e2a85.png">
* Update disabled/enabled based on local polling
	* the existing logic that is being used to moni

[2022-11-28 18:58] warrensplayer opened #24855 "[IATR](M1.0) Test runner filtering"
Add ability to filter tests for a spec in the runner to only the specs that failed in the cloud

### Solution for filtering tests in the runner

To filter the tests in a way that will allow for the most flexibility with the developer experience, the following pattern should be followed:
* A `runId` will be passed to the spec runner that will indicate which Cloud run should be used to filter the te

[2022-11-28 18:58] ZachJW34 opened #24856 "experimentalRunAllSpecs: File watching is not cleaned up properly"
### Current behavior

When clicking "Run All Specs", the files are watched and trigger Cypress reloads when changed even after a different subset of files is chosen.

### Desired behavior

The file watchers for specs chosen with "Run All Specs" should be cleaned up properly. Changing a file that is not a subset of the chosen "Run All Specs" should not rigger a recompilation/reload.

### Test code

[2022-11-28 19:00] warrensplayer opened #24857 "[IATR](M1.1) Empty state tour for Debug page"
TODO
Clickup: https://app.clickup.com/t/18033298/PM-2546

[2022-11-28 19:01] funktionalsystems commented on #20647
@dani8art  I am also on Linux (only) - I don't have a good way to test other platforms, but very odd if it doesn't happen elsewhere.

It seems like it HAS to be that chunk of code - That's the only place that emits CANNOT_CONNECT_BASE_URL ("Cypress could not verify that this server is running")

DNS overrides appear to be correctly checked by getAddress in packages/network/lib/connect.ts (last tou

[2022-11-28 19:01] warrensplayer opened #24858 "[IATR](M1.1) Specs list query update to sync logic with debug page"
TODO
Clickup: https://app.clickup.com/t/18033298/PM-2546

[2022-11-28 19:25] flotwig commented on #24822
Hmm. I found this issue on Electron's repo: https://github.com/electron/electron/issues/35524 Seems related, a user is indicating that it only happens on arm64 for some reason. But apparently not all arm64 machines, since it worked fine for me...

Is this your first time using Cypress on this machine?

Is there any special security config on your machine? MDM, anti-virus...?

I'm not super familia

[2022-11-28 19:40] nagash77 commented on #24807
Hi @StefanTegeltija,  Can you help me understand what behavior you are seeing that is incorrect?  From what I see in the ticket you have a ```div``` that has an ```iframe```within it and a ```<p>dummy text</p>```  tag.  You are looking for ```Some title dummy text``` which does not exist in the example you provided so it should be failing.  Am I missing something?

[2022-11-28 19:44] nagash77 commented on #24820
Hi @ChristofFritz , in this use case you would not use cy.origin.  We have a couple of [discussions](https://github.com/cypress-io/cypress/pull/24569#discussion_r1030919537) and a [thread on an issue](https://github.com/cypress-io/cypress/issues/2100#issuecomment-1323948786) related to this topic.  This is a topic we will be following how real world utilization goes for cy.origin and see if this i

[2022-11-28 19:44] #24820 closed, assigned to nobody

[2022-11-28 20:03] idanElitzur commented on #22987
Yes I did, didn't success for me, it's too complex maybe I missed something over there.
do you maybe have a  git repo with a full reference for this?
v12 is too far 😞

[2022-11-28 20:15] mjhenkes commented on #24719
@vergjor, This seems like a duplicate of #23391. I think that the CTX error is a byproduct of the chrome rendering crashing.

Closing as a duplicate.

@Luandersonalmeida, This is likely a separate issue, Could you log a new ticket with steps to reproduce?

[2022-11-28 20:15] #24719 closed, assigned to mjhenkes

[2022-11-28 20:23] mjhenkes commented on #24764
@VaghasiyaKrupal, I setup a simple repo setting up xpath but was unable to recreate the issue.

https://github.com/mjhenkes/xpath

Does this repo run for you?

[2022-11-28 20:27] bennymeade commented on #24704
Hi @ryanthemanuel & @mjhenkes I've been unable to reproduce this error outside of our mono-repo. Even a small example repo I put together on a Netlify stack works fine.

Our project stack is based on Netlify and Vite, the `build` commands looks like this:
[code]
I think I'll just run the webkit tests on a GH Actions `macos-latest` OS instead and this ticket can be closed.

[2022-11-28 20:27] #24704 closed, assigned to mjhenkes

[2022-11-28 20:48] nagash77 commented on #24795
@anchelotti can you try forking this repo [cypress-test-tiny](https://github.com/cypress-io/cypress-test-tiny) and creating an example in there and linking to it for ease of debugging on our end?  This will help narrow down configuration issues.

[2022-11-28 20:50] nagash77 commented on #24826
@Dragas Would you mind elaborating on why you are unable to upgrade your version of Cypress?  Community usage feedback can help us identify impediments to regular upgrading of Cypress which is something we want to encourage.  Our thinking being if it is easy and smooth, then more folks will upgrade to the latest and greatest.

[2022-11-28 20:51] mjhenkes commented on #24776
Based on our documentation, this is the expected behaviour.

https://docs.cypress.io/api/plugins/after-spec-api#Syntax

Can you use the 'after' hook to trigger clean up code instead?

[2022-11-28 20:56] kodriscollics commented on #24620
@ryanthemanuel I have discovered the cause. I had installed:

npm install --save-dev `@alexmagnus/cypress-full-dark-mode

which added the entry:

require('@alexmagnus/cypress-full-dark-mode')

to the e2e.ts file. After commenting this out, the dashboard behaves as it should.

[2022-11-28 21:31] pstakoun opened #24865 "Add UTM tracking to Runs page"

[2022-11-28 21:58] LeohsPaixao commented on #18152
No. In the Spec itself, however, this is considered an error, as it is disappearing with some errors, leaving the tests not covering the entire system within this Spec.

[2022-11-28 22:16] karlhorky commented on #24822
Not first time, I've used about 10 or 15 different versions before this with no issues. And no special security config...

[2022-11-28 23:32] tnrich commented on #24834
I'm also seeing this behavior, very unfortunate

[2022-11-28 23:46] lmiller1990 commented on #22868
There is some rewriting - I need to look into this part of the code base more, and find out exactly why.

There's a few ways to change the timeout, how about:

[code]

You can also set them globally in your `cypress.config.js`.

Timeout is set to false - a test times out when a command fails to complete. There is a few different timeouts you can control, see [here](https://docs.cypress.io/guides/r

[2022-11-29 00:05] funktionalsystems commented on #20647
Actually, it looks like dns is resolving `hosts` ok in all cases. - Perhaps this is somehow a bug in [isListening (ensure-url.ts)](https://github.com/cypress-io/cypress/blob/29841f32b9672d92264873cf97ede50cb923a768/packages/server/lib/util/ensure-url.ts#L51-L74)

Here's (sanitized) what I get when running with `--config baseUrl=https://my.redacted.example.com,hosts={\"*.redacted.example.com\":\"$M

[2022-11-29 03:58] JohnLukeBentley commented on #24711
I'm closing this as my specific problem was solved and it is not possible to reproduce the original problem (using code to demonstrate the problem in general).

My specific problem was solved by moving a custom function to clear/reset saved form data: from `beforeEach()` to `afterEach()`.

[code]

Apparently having this at the beginning of each test run caused some kind of conflict on load of the

[2022-11-29 03:58] #24711 closed, assigned to mjhenkes

[2022-11-29 04:15] VaghasiyaKrupal commented on #24764
@mjhenkes can you please follow the below repo for reproduction? Please run `brain.feature` file
`https://github.com/VaghasiyaKrupal/cucumber-issue`

[2022-11-29 05:05] DiwanD03 commented on #24583
Hi @rockindahizzy are there any updates on this issue?

[2022-11-29 07:36] Wilt commented on #4611
Seems this got lots of comments and thumbs up, please consider scheduling this feature for some future release? I understand it may not have highest priority for the development team, but there clearly seems to be interest from the community.

[2022-11-29 08:30] sakhrNab opened #24869 "Integrating Cypress with Bamboo without Docker Containers"
### What would you like?

Hi,

We are building a project currently and we're using Bamboo for CI. I know that we can integrate Cypress to Bamboo using the documentation in the Cypress webpage, however, only using Docker Containers. Since we're not allowed to use Dockers in THE current project, is there a way to make this integration possible without Docker Containers?

### Why is this needed?

_No

[2022-11-29 09:05] StefanTegeltija commented on #24807
Hey @nagash77

No. This assertion has to be true
[code]
but cannot be because cypress is reading iframe as text , so in this case cypress will return something like
[code]
instead

Some title dummy text

https://ibb.co/hBF8whJ
https://ibb.co/QYcp7Cf

Please check this 2 images. On them you can see that cypress is reading video as text.

Please contact me again if you'd need more information.

[2022-11-29 09:39] nicoladl commented on #16469
The workaround works because the `Content-Length` is now part of the response headers.

![Screenshot 2022-11-29 at 10 37 46](https://user-images.githubusercontent.com/2022727/204493523-63f44dc6-a7e2-4fc3-b4f9-7740945defef.png)

The issue now is that I receive this: `SyntaxError: Unexpected end of JSON input`
![Screenshot 2022-11-29 at 10 37 51](https://user-images.githubusercontent.com/2022727/204

[2022-11-29 11:28] dvkuenssberg opened #24870 "Access component functions when testing components"
### What would you like?

When writing Angular component tests, it is possible to access the instance of the rendered component as described [here](https://docs.cypress.io/guides/component-testing/angular/examples#Accessing-the-Component-Instance). However, using this approach I cannot access any functions that the component provides (using `cy.spy(wrapper.component, 'function')`). I am only able

[2022-11-29 11:30] max-nextcloud commented on #20840
I'm seeing something similar but for me it looks more like the styles would not be applied at all.

- Browser: Chromium
- Testing: [nextcloud text](https://github.com/nextcloud/text) current master - but happens for a while.
- Cypress current (11.2.0) but also happens for a while.
- Also happens with other nextcloud apps.

**Screenshots**

<details>
<summary>
After the test test everything is stil

[2022-11-29 12:07] nitinchalopadho opened #24872 "Running cypress on GitHub actions will run test twice"
### Current behavior

I am running a test using Cypress 9.5.7 and GitHub actions and every time I run an action GH will run the test twice one on Chrome and the other on Electron. Second test always fails on Electron. Electron browser seems to be a default browser for Cypress. The intersting thing is that when I run on Cypress Dashboard the test runs only once on Chrome. But twice on GitHub action

[2022-11-29 12:25] priyeshshrivastava opened #24873 "Unable to run Cypress test cases on Chrome browser."
### Current behavior

Unable to run Cypress test cases on Chrome browser, While running test cases on Chrome browser getting following error.

Still waiting to connect to Chrome, retrying in 1 second (attempt 62/62)
Cypress failed to make a connection to the Chrome DevTools Protocol after retrying for 50 seconds.

This usually indicates there was a problem opening the Chrome browser.

The CDP port

[2022-11-29 12:45] hanna-becker commented on #23343
In case it helps anyone: For me this issue appeared after updating the WSL2 (I am using cypress v10.10.0). I emptied the Cypress cache and reinstalled the binary. This didn't help. I then removed cypress from my local repo's packages, deleted the Cypress folder under ~/.cache, and reinstalled it. This fixed it!

[2022-11-29 13:34] stepanroznik commented on #18799
Same - this used only used to cause crashes in headed Electron in Cypress 9.7 but since upgrading to 10.11 it also crashes in headless.

[2022-11-29 13:35] kasper573 commented on #23824
I have also experienced this bug. Here's some findings from my debugging:

Changing from 10.7.0 to 11.2.0 introduced this issue for me. 10.7.0 was fast, 11.2.0 became slow, and reverting fixed the issue consistently. I was using electron in both versions.

Side note: Switching to using headless chrome in CI for 11.2.0 seemed to also fix the issue, so I'm thinking this could be related to electron

[2022-11-29 13:40] patricio-ezequiel-hondagneu-roig commented on #7552
This worked for me, running Angular 15.0.0 and Cypress 11.2.0.

I still can't colocate the `x.component.cy.ts` component testing files with their corresponding `x.component.ts` files because this config excludes the Cypress types from the `/src` folder, but it works like a charm when placing them in the `/cypress` folder.

Thanks for sharing!

[2022-11-29 13:42] cuixiaorui opened #24874 "the style update is failing after In the Vue3 component test"
### Current behavior

I used tailwind CSS for my project

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/12064746/204542979-72374bbf-6483-4af5-a771-639bc0d0cd7a.png">

The first time you enter the cypress component test it's fine

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/12064746/204543047-571badbd-5c59-45a7-ad75-b392157bf234.png">

[2022-11-29 13:51] cuixiaorui commented on #24874
@lmiller1990
hi, guy
One more piece of information
I refreshed the whole cypress window (cmd+r) and it didn't work, the style still doesn't come out
It only takes effect when it is initialized for the first time

[2022-11-29 13:53] vikingair commented on #23824
This ticket is related to this one: https://github.com/cypress-io/cypress/issues/23830

In here we have already feedback from several engineers that a bigger refactoring of the video recording has caused this issue. Turning off the video recording will bring back old speed.

This was introduced in version 10.8.0 and from what I've heard, it wasn't fixed yet. Don't know why this issue still has not

[2022-11-29 14:30] #23093 closed

[2022-11-29 14:30] #24596 closed, assigned to emilyrohrbough

[2022-11-29 14:31] chrisbreiding opened #24875 "Raise minimum TypeScript version to 3.7"
### What would you like?

Raise the minimum TypeScript version to 3.7.

### Why is this needed?

This would allow certain TypeScript features like recursive types, useful for typing things like JSON.

### Other

This would be a breaking change.

Would need to document this and update the dtslint config to not check version less than 3.7.

[2022-11-29 14:32] doelgonzo commented on #17798
+1

[2022-11-29 14:35] mjhenkes commented on #24620
@kodriscollics, I'm glad you found the issue. Maybe some day we'll get our own dark theme 😅

[2022-11-29 14:35] #24620 closed, assigned to nobody

[2022-11-29 14:38] nagash77 commented on #24869
Hi @sakhrNab , I'm sorry you are are having difficulties.  Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://discord.gg/cypress). Also try searching our [existing GitHub issues](https://git

[2022-11-29 14:38] #24869 closed, assigned to nobody

[2022-11-29 15:17] mschaefer-gresham opened #24876 "Cypress Component Tests Not Working after macOS Ventura Upgrade"
### Current behavior

After upgrading to Ventura, Cypress component testing has stopped working. I've seen other related posts. I tried givng iTerm Full Disk Access, App Management rights, and added it to Developer Tools (all under Privacy and Security).

Cypress hangs here (```yarn cypress open --component```):

<img width="634" alt="image" src="https://user-images.githubusercontent.com/94627216/

[2022-11-29 16:16] joeczucha opened #24879 "Cypress spy not being called when VueJS component emits event"
### Test code to reproduce

Vue SFC:

    <script setup>
    </script>

    <template>
      <button data-testid="credits" @click="$emit('onCredits')">Click</button>
    </template>

Cypress test:

    import { createTestingPinia } from '@pinia/testing';

    import Button from './Button.vue';

    describe('<Button />', () => {
      it('renders', () => {
        const pinia = createTestingPinia(

[2022-11-29 17:41] kodriscollics commented on #24620
I have opened the following issue on the cypress-full-dark-mode github site:

https://github.com/AlexTheMagnus/cypress-full-dark-mode/issues/8

[2022-11-29 17:45] hidaviddong opened #24880 "replace ComponentName.cy.ts to ComponentName.cy.tsx in component test"
### What would you like?

Replace the default provided`ComponentName.cy.ts` with `ComponentName.cy.tsx`
<img width="718" alt="image" src="https://user-images.githubusercontent.com/73568310/204601089-01f93f9d-2bfb-4674-bc4a-ab41ece41fff.png">

### Why is this needed?

Using Next.js + TypeScript , component test default provided  spec `ComponentName.cy.ts`

When we import a component, it will report

[2022-11-29 17:48] alexsch01 commented on #24775
Hope this gets fixed soon

[2022-11-29 18:04] manoj-fd commented on #24767
Hi @mjhenkes ,Please refer the cypress.config.js and index.js config mentioned below , if you can use that with your example project, the issue can be replicated.

As a summary, whenever we try to change the Baseurl to a different local host , webkit is not launching the spec grid and its blank,  but the same works fine with chrome and electron.

**Cypress.config.js**

[code]

**Index.js**

[code]

[2022-11-29 18:09] max-nextcloud commented on #16066
That bug was marked as a duplicate of https://bugs.chromium.org/p/chromium/issues/detail?id=1303968 which should be fixed in chromium101.

But my understanding is that this only applies to the `grid-` issue which has also been reported here: https://github.com/cypress-io/cypress/issues/20840.

I'm still seeing the original issue with media attributes.

[2022-11-29 18:55] max-nextcloud commented on #20840
I thought i was seeing the same issue but actually we're affected by https://github.com/cypress-io/cypress/issues/16066.

However that issue also has a bunch of info around the grid problem.
Turns out that that's an issue in Chromium that should have been fixed wihttps://bugs.chromium.org/p/chromium/issues/detail?id=1303968 which should be fixed in chromium101.th the release of chrome 101:
https:/

[2022-11-29 19:21] oaktree4 opened #24882 "Snapshot is missing. Displaying current state of the dom."
### Current behavior

Hello everyone, getting into cypress and stumbling upon the following issue.

Im tryng to run this simple test (visit a webapp which uses a third party identification servicr)
[code]
Although, what happens in cypress is the following. The screen is blank and when I hover over the test body I get the following error message "The snapshot is missing. Displaying current state of

[2022-11-29 21:38] avirajBoxture commented on #5996
cy.get('h3').should('include.text', 'I am an example') -PASS
cy.get('h3').should('includes.text', 'I am an example') -PASS

what is the difference here....?

[2022-11-29 22:55] lmiller1990 commented on #24874
Hmm interesting, I guess this is related to how Tailwind does a JIT compilation and injects the latest stylesheet. I notice:

- `style.css`: https://github.com/cuixiaorui/cypress-issue-for-vue3-compoment-test-hot-update/blob/main/src/style.css
- imported [here](https://github.com/cuixiaorui/cypress-issue-for-vue3-compoment-test-hot-update/blob/main/cypress/support/component.ts#L20) in `component.t

[2022-11-29 23:03] lmiller1990 commented on #24874
Right, I see it injects during development like this:

![image](https://user-images.githubusercontent.com/19196536/204667375-394fde3c-5fd1-43c8-adda-49cf92addc24.png)

Let's find out why that isn't working in Cypress. Also, I don't see how this is injected in the regular Vite development environment, either... let's find out.

Ok, so this is the line that does injection:  `@tailwind utilities;`. L

[2022-11-29 23:03] originalhat commented on #24663
_Posting for posterity._ Running into the same issue with `app` and cypress/include 11.2.0.

We have two separate docker-compose files and optionally wish to run the docker-compose-e2e.yml file when developing locally. We've been using `app` to reference the running web application in our E2E docker-compose file since the IP address is likely to change. Maybe there's a better way to network these

[2022-11-29 23:07] defeated commented on #24663
@mjhenkes the problem is the host name is being parsed by the Public Suffix domain validator, but it has no “.” notation so it should never make it to domain validation (it’s just a local host name)

this regression was introduced sometime around 10.10+ (10.9 worked fine)

[2022-11-29 23:33] lmiller1990 commented on #24874
I think the problem is related to importing the style in the `component.ts` file. If I do

[code]

Inside of `App.vue`, it's fine. It does NOT work in `App.cy.ts`, though. It looks like the bug is related to "importing dynamically generated CSS in JS (or TS) files". I will need to spend some more time to find out exactly how the Tailwind CSS update happens, and why it's getting the stale values he

[2022-11-30 00:41] lmiller1990 commented on #24874
Ah, @marktnoonan offers this work around:

[code]

I think vite (or our integration) has some caching that we need to bust somehow - it's not realizing that the stylesheet has been updated.

Can you test that out @cuixiaorui ?

[2022-11-30 03:26] lmiller1990 commented on #21743
I found out Cypress 9 has the same problem. Notice I need to spam click to get the browser to focus. I think this bug must be related to a recent MacOS version. Too bad it's impossible to downgrade MacOS versions and find out exactly when this was introduced.

Video:

https://user-images.githubusercontent.com/19196536/204700366-7d52099f-efa9-4eed-ad98-667a7340e7d0.mov

[2022-11-30 04:11] priyankvadaliya753 opened #24895 "[Cypress-Dashboard-AnalyticsTab]The last column popup in the run status chart flickers when you hover over it."
### Current behavior

When the user hovers over the last column of the Run Status chart, the popup flickers, and the status is not clearly visible.

https://user-images.githubusercontent.com/82139164/204705503-21766ab8-97d3-4a5c-8ca8-371ae0c43e8e.mov

### Desired behavior

_No response_

### Test code to reproduce

1) log in to Cypress Dashboard
2) click on Analytics - >Run status
3) on the run st

[2022-11-30 07:31] cuixiaorui commented on #24874
cool  It's working now

That's an interesting solution

Looking forward to finding the real problem

thx @lmiller1990 @marktnoonan

[2022-11-30 09:30] ChristofFritz commented on #24239
This exact error appears for us when I tried to add component testing. We don't have an NX monorepo though.

[2022-11-30 09:34] ChristofFritz commented on #24239
But what we have is: Multiple angular projects in one. So I set the sourceRoot in the devServer options in the cypress.config.ts to the "newProjectRoot" of the angular.json and now it seems to work.

[2022-11-30 09:36] TomdeHaan opened #24896 "[Cypress Webkit Ci Run] Test stuck during Ci run"
### Current behavior

We are currently experimenting with cross browser testing within the CiCd pipeline. Our main goal is to run Cypress with Webkit and Chrome and run it in multiple viewports.

We run Cypress on multiple machines within Gitlab, adding the --parallel to connect to the Cypress Dashboard. We found out that with every run the Webkit tests got stuck and eventually timed out.

Example

[2022-11-30 10:09] thomsa commented on #1489
I might be a bit late to the party, but you can try `experimentalSessionAndOrigin` in cypress.config.

This is for v11.x

[code]

I almost moved to TestCafe I must say 😆

[2022-11-30 11:03] insistedMarin commented on #21280
I get the same problem at version 11.2.0.

[2022-11-30 13:26] mauriciabad commented on #7890
This issue is very annoying for me, because my laptop is in `en-GB` and my CI runtime uses `en-US`, but my code supports `en` (both).
So when I test the code in my laptop the dates have a different format than I the CI, and making the test impossible to pass in both.

Plis, add a way to configure `navigator.locale` or make sure it's the same always.

[2022-11-30 14:08] DavesPlanet commented on #23835
we are experiencing this same error with electron (apparently not chrome) on a simple
[code]
when the thing being clicked causes a pop-up window to download a pdf

[2022-11-30 14:09] ZainabArbisoft commented on #2610
I am facing this issue, everytime I open project, it says cypress is not installed. Here is the screenshot
<img width="852" alt="image" src="https://user-images.githubusercontent.com/119425179/204817350-9872968c-8222-4dcb-91c0-55fd24017cc0.png">

[2022-11-30 14:18] #23492 closed

[2022-11-30 14:36] zzzorgo commented on #22059
For me only this config worked. All my cypress tests are in `*.cy.jsx` files, so I explicitly excluded them too
[code]

[2022-11-30 15:44] j-maddo opened #24900 "Detached DOM issues in Firefox headless not headed"
### Current behavior

In Cypress versions 10-12, Firefox appears to execute differently between headed and headless versions. Using Firefox 107, all Cypress tests pass in open mode but fail with an assertion error: `"AssertionError: Timed out retrying after 4000ms: Expected to find element: `[data-testid=video-overflow-share]`, but never found it."`  in run mode.

### Desired behavior

In this sit

[2022-11-30 15:53] flotwig commented on #24896
@TomdeHaan can you share the full DEBUG logs please? The tail end shared here doesn't contain much info about what could be causing Cypress to hang.

[2022-11-30 16:55] BlueWinds opened #24903 "Reduce attributes stored on $Command objects"
### What would you like?

The $Command object has a variety of `attributes`, storing references that we probably don't need. Cleaning these up could help reduce memory usage - or at least reduce code complexity and duplication, making it more clear where developers should be pulling properties from. One canonical source makes it less likely for bugs to creep in over time, and `$Command` objects ar

[2022-11-30 16:59] BlueWinds opened #24904 "Refactor .should()/.and() to be "standalone" commands"
### What would you like?

The way assertions execute - as part of the command they chain after - is one of the most unintuitive parts of Cypress, both for developers dealing with `verifyUpcomingAssertions` and for users running into sharp edges around the subject.

With the work on queries and subject chains, and some of the UI changes in Cy12 (assertions and commands no longer 'pend' together), w

[2022-11-30 17:16] rockindahizzy commented on #22521
@this-miguel, can you confirm if the suggested steps from @marktnoonan help at all?

[2022-11-30 17:23] mi4i0 commented on #24873
Have the same problem on Cypress 11.2.0

[2022-11-30 17:25] marktnoonan commented on #23069
I feel like as we improve this we should also look at typings for aliases: https://github.com/cypress-io/cypress/issues/8762

[2022-11-30 17:54] mjhenkes commented on #24509
@cubanx do you have 'experimentalSessionAndOrigin' enabled?

[2022-11-30 17:59] HeshamMoneer opened #24905 "We detected that the Chromium Renderer process just crashed Cypress CI error"
### Current behavior

I get this error when I run my Cypress test scripts on Azure CI server.
[code]
I tried adding the option **--browser chrome** to the **cypress run** command, but it makes the tests fail many assertions (assertions that would not fail if I run without the browser chrome option) unexpectedly.

PS. the same test scripts would run fine in cypress 10.7.0, electron 102. But now, th

[2022-11-30 18:34] originalhat commented on #24663
Managed a workaround for now, grabbing the IP and passing that into the container:

**cypress-run.sh**
[code]

**docker-compose-cypress.yml**
[code]

[2022-11-30 18:34] srkrish opened #24906 "Cypress Google Authentication doesn't return consistent result across different browsers"
### Current behavior

Followed the setup prescribed in [https://docs.cypress.io/guides/end-to-end-testing/google-authentication](url) and executed the test in Electron (v106) and after setting up the `window.localStorage.setItem('googleCypress', JSON.stringify(userItem))` and executing `cy.visit('/')` the following chain of requests is performed,

[code]
And displayed the default Google login page

[2022-11-30 18:37] srkrish commented on #24906
I can supply the Debug Logs but they're really verbose and long. Please let me know the specific Log Source and I can supply here. Thanks

[2022-11-30 19:17] cubanx commented on #24509
Yes we do!

Do you think that's it?

[2022-11-30 19:22] lmiller1990 opened #24907 "Migrate from WindiCSS to mainline TailwindCSS"
### What would you like?

Migrate from WindiCSS to TailwindCSS in the main repo.

### Why is this needed?

- WindiCSS looks dead https://github.com/windicss/windicss/issues
- docs are quite a bit worse
- Tailwind has some new features like named groups that aren't supported in Windi
- Windi will eventually slow us down, using a non maintained library isn't ideal when better, updated version exists

[2022-11-30 19:57] BlueWinds commented on #24900
I signed up for a free account on Vidyard, but wasn't able to get the test running - there's no element `[data-testid=video-overflow]` on the page, even after I recorded a sample video.

If you want to email me the demo username and password at blue@cypress.io, I'll keep taking a look - you're right that the test looks correct at a glance, and the error certainly doesn't fit with the situation, so

[2022-11-30 19:59] BlueWinds commented on #24900
Or if you'd prefer not to share the login info, a simple set of steps to get the `[data-testid=video-overflow]` / `[data-testid=video-overflow-share]` elements showing up on the free account I signed up with (I'm not sure what on the page they're supposed to correspond to) would also work (as long as I don't need to link a social media account to it, I don't have any handy for testing).

Thanks fo

[2022-11-30 20:09] marktnoonan commented on #24648
@onthespotqa you would need to add your framework and the related code then set up component testing, it's just a starting point that's easy to copy & pull down, then modify and push back up.

Definitely interested in fixing this if we can figure out how to reproduce, I'll wait for an update before re-opening but I'll keep myself assigned.

[2022-11-30 20:48] marktnoonan commented on #24720
I did look into this a bit more, I was surprised when I saw your comment about the `before` block. And somebody shared this issue with me: https://github.com/cypress-io/cypress/issues/2777

This confirms it's currently the expected behavior for Cypress to behave this way, I'll close this issue in favor of continuing to track in that main issue. I do agree this is not intuitive.

There are some oth

[2022-11-30 20:48] #24720 closed, assigned to nobody

[2022-11-30 21:15] texpatnyc commented on #21022
I'm having this same exact issue trying to build from my M1 mac.  When trying to run this from an Intel Mac, everything works just fine.  Is there something different that needs to be done for the arm version?  I've tried everything in the documentation for this and even tried using buildx to do a multi-platform build like I do for all our other internal images.

[2022-11-30 21:29] lmiller1990 commented on #24874
We should see if webpack based projects have a similar problem. The solution might be as simple as appending a query string, like this workaround, but somewhere inside our `{webpack|vite}-dev-server` packages.

[2022-11-30 21:31] HeshamMoneer commented on #24905
@nagash77 I noticed that I had such a failing run in Cypress 10. The difference I think (which might have caused the error) is the electron browser version. In the successful runs, the electron browser version was 102, but in the failing runs, the version was 106.

[2022-11-30 21:33] HeshamMoneer commented on #24905
I still have an issue, running the scripts headed in chrome works fine, but running them headlessly has a lot of assertions failing unjustifiably. The same assertions that would pass in electron or headed chrome runs, would fail in headless chrome runs.

[2022-11-30 21:51] mjhenkes commented on #24509
Yes, it's related. We added a webpack loader to the webpack preprocessor (for loading dependencies in cy.origin) that appears to be causing memory spikes when specs require a large amount of dependencies.

If you disable 'experimentalSessionAndOrigin' this problem should go away, though then you have the additional problem of not having cy.session or cy.origin

In our upcomming 12.0 release (where

[2022-11-30 21:52] mjhenkes commented on #24509
We can re-create this problem running tests against the cypress-realworld-app repo.

[2022-11-30 21:57] dadagama commented on #22451
have similar issue:

[code]

Using
`"cypress": "^10.10.0",`

in case this stack trace helps someone :)

[2022-11-30 22:02] mjhenkes commented on #24617
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-11-30 22:02] #24617 closed, assigned to nobody

[2022-11-30 22:02] lmiller1990 commented on #21743
Ok - this is not Cypress specific, I reproduced in a bare-bones electron app:

https://user-images.githubusercontent.com/19196536/204917681-569f4a22-382f-4334-b589-9048c036c857.mov

[2022-11-30 22:28] mjhenkes commented on #24622
@vijaykumar59694 are you trying to use cy.origin to test an iframe? unfortunately that functionality is not yet available.

https://github.com/cypress-io/cypress/issues/136

[2022-11-30 22:35] lmiller1990 commented on #21743
Electron issue: https://github.com/electron/electron/issues/36506

[2022-11-30 22:35] mjhenkes commented on #24767
I can confirm that this causes webkit to open blank.

Though i'm curious why you don't just set baseurl config directly in the cypress config

[code]

[2022-11-30 22:36] mjhenkes commented on #24767
Thanks for providing the reproduction!

[2022-11-30 22:44] lmiller1990 commented on #21743
Actually... maybe nothing to do with Electron, but a MacOS bug. I reproduced with a regular Node.js program. It's more obvious with Cypress - basically, the longer you wait and the more you spam move your mouse, the worse the delay gets.

[code]

[code]

https://user-images.githubusercontent.com/19196536/204924265-8a776010-99c7-497b-b86c-354fa49918af.mov

[2022-11-30 23:06] lmiller1990 commented on #24160
After the initial implementation in https://github.com/cypress-io/cypress/pull/24832 we found that there isn't a good way to error and inform users to move from `cypress/react` to `cypress/react17` - the bundler will error, and we can't catch it. Once updating to Cy 12, React users will hit https://user-images.githubusercontent.com/19196536/204223887-21a00218-491c-48a0-bd90-000edcb41ff0.png which

[2022-11-30 23:10] lmiller1990 commented on #21743
I'm moving this to blocked until we decide how we want to progress. A work-around is possible - that would be programatically change to the electron app and back to the browser after launching, but you get a flicker of the electron app, which looks a bit unpolished. The core bug is not in Cypress, but in MacOS Monterey and above, but I don't think Apple will be fixing this any time soon.

[2022-11-30 23:19] manoj-fd commented on #24767
Hi @mjhenkes , We are using multiple cypress config files based on test environment, ideally the logic to return the base url is handled in index.js and cypress config files driven based on that.

[2022-11-30 23:30] bmanubolu commented on #24814
Do we have a work around for this issue. I am facing the same issue in cypress 11.2 version with "@cypress/grep": "^3.1.0",

[2022-11-30 23:35] SamuelPinho opened #24911 "Unrecognized expression"
### Current behavior

I have an Input field that can have a label with any characters. An example would be: `This is a custom label ~!@#$%^&*()_+=-[]{}\|:",./? UID`.

I'm trying to find this label by doing something like this:

[code]

But this code is unable to locate the label giving me the following error:
<img width="527" alt="image" src="https://user-images.githubusercontent.com/20033265/2046

[2022-11-30 23:39] tnrich opened #24912 "cypress run not respecting specPattern config"
### Current behavior

I've got a head scratcher here. I think a screenshot is worth a 1000 words:
![image](https://user-images.githubusercontent.com/2730609/204930123-58d1641d-236d-4961-b2e7-fff0a3a065e0.png)

As you can see I'm passing:
[code]

But for some reason the test runner is running a completely different test

### Desired behavior

_No response_

### Test code to reproduce

[code]

It ru