[2022-10-26 02:57] danielvianna commented on #23830
It does on Electron and Chrome

MacOS Monterrey, Version 12.2.1 (21D62)
Mac mini (M1, 2020)
Memory 16GB

[2022-10-26 08:11] Ihtisham-Khattak commented on #6195
I had the same problem. That is what you are facing now. I think you should delete the `baseurl` from `cypress.json` with `ctrl+a,` with it you also delete the braces {} in which your whole `baseurl` is. In the `cypress.js `type the braces and your problem will be solved

[2022-10-26 10:01] Bohdan-Kalynovskyi commented on #24395
Agree that normally json responses shouldn't have `content-type: text-html`, but what's the point of injecting into XHR responses?

[2022-10-26 10:24] khanh-le-otsv commented on #7183
Still facing this with even cypress 10 and it fails randomly so I cannot create a reproduction for this, but it fails on both local and CI

[2022-10-26 10:32] paulgrant commented on #24093
With the latest upgrade of 10.11.0 - we are now seeing extra lines in the error.

A search of the error being displayed would suggest that there is an issue with the teardown of the test with Electron.   I was under the impression that nothing explicit needed to be done to team them down.
Interestingly - I reduced the tests to just 7 -
```specPattern: 'src/**/Manage*.spec.{js,jsx,ts,tsx}'```
And t

[2022-10-26 13:08] jordanpowell88 commented on #23427
This is solved in #24394

[2022-10-26 13:34] ioannisNoukakis opened #24403 "[setupNodeEvents] on("before:spec", ()=>...) doesn't await the promise returned by the event handler"
### Current behavior

The promise returned by the event handler of `before:spec` is not awaited but is run concurrently, alongside the spec.

### Desired behavior

As specified in the docs here: https://docs.cypress.io/api/plugins/before-spec-api#Syntax, `before:spec` is supposed to await the completion of the promise returned by it before running the spec.

### Test code to reproduce

See https:/

[2022-10-26 13:44] #24224 closed, assigned to jordanpowell88

[2022-10-26 14:06] ddukic commented on #21135
I have the same problem, it fails on longer tests especially if I keep running more tests in the same Cypress gui.
To debug the issue I added this in my `setupNodeEvents()` function

[code]
I'm using Ubuntu v22 and my Chrome logs are on this location:

`~/.config/Cypress/cy/production/browsers/chrome-stable/interactive/chrome_debug.log`

At the moment of the Chrome crash I see this message:

`ERRO

[2022-10-26 14:44] Olivier-Vromans opened #24406 "Cypress executable not found at (on Vercel installation)"
### Current behavior

When I try to download cypress as npm package on Vercel I get that installation success but when I try to open Cypress with the api (Can only use that) it says: "Cypress executable not found"

[code]

### Debug logs

_No response_

### Cypress Version

10.10.0

### Node version

v16.x

### Package Manager

npm

### Package Manager Version

v7 (found that online)

### Operatin

[2022-10-26 14:48] chrisbreiding commented on #22670
@ganeshac123, thanks for your patience as we've worked through this. Cypress 10.11.0 is now out, which should resolve your issue. Please let us know if you can confirm that you no longer encounter the `Browser cookies were cleared` alert.

[2022-10-26 15:13] denke8 commented on #23165
Reproduction updated to Cypress v10.11, unfortunately it did not fix the issue

@AtofStryker
Did you happen to have a chance to take a look?

[2022-10-26 15:18] Bourg opened #24407 "Using cy.intercept to spy adds a "Content-Length: 0" request header"
### Current behavior

If an API route is spied on using `cy.intercept` (e.g. `cy.intercept('/api')` with no stub), an additional `Content-Length: 0` header will be sent to the server, despite the original request from the application code not including a `Content-Length` header at all.

Without `cy.intercept`, the headers are left unchanged and there is no bug.

When using `cy.intercept` to stub (

[2022-10-26 15:18] amehta265 commented on #23680
@snake-py Thank you for putting something together. I can confirm that I can reproduce this problem on my end.

Upon further investigation, the problem stems from `tslib` setup in the `tsconfig.json` file specifically declaring a particular path (`"tslib": ["node_modules/tslib/tslib.d.ts"]`) for `tslib` as you have done in your config file.

A simple workaround would be to remove this `tslib` path

[2022-10-26 15:30] Neoxrus86 commented on #19826
The problem is relevant for me as well. It is reproduced randomly, then everything is fine, then half of the tests fall. Enabling/disabling --headless doesn't help. The problem was discovered after migrating tests to Docker

[2022-10-26 15:40] danadajian commented on #24131
@ncknuna Thanks for the suggestion! Unfortunately, that doesn't actually work. Even when explicitly navigating to the URL from the beginning of the previous test, the subsequent test cannot reset its state once it has navigated to another path.

Basically once you navigate to any URL within a test, the component test runner is "stuck" at that URL and cannot test anything else.

[2022-10-26 15:41] chrisbreiding commented on #21492
This was completed in https://github.com/cypress-io/cypress/pull/24340

[2022-10-26 15:41] #21492 closed

[2022-10-26 15:44] #2064 closed

[2022-10-26 15:55] marktnoonan commented on #24398
Hi @will-weiss, we will try to reproduce this on our side.

In the mean time, a bit of a guess: in my personal experience with Mac upgrades recently, I have seen file and folder permissions get weirdly messed up. Since you are hitting `Error: EPERM: operation not permitted` I wonder if that could be related.

Curious if running `cypress cache clear` https://docs.cypress.io/guides/guides/command-li

[2022-10-26 16:23] amehta265 commented on #24335
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-26 17:10] amehta265 commented on #24182
@alecmestroni Thank you for the information you have provided. I think the issue may stem from the fact that the `baseUrl` provided in the config file is being prepended to the url in the `cy.visit()` within your test files. This may be causing an incorrect url to be accessed leading to the inability to access the webcam. This is why removing the `baseUrl` from the cypress config file prevents thi

[2022-10-26 17:15] mschile commented on #24081
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 17:15] #24081 closed, assigned to mschile

[2022-10-26 17:17] mschile commented on #24225
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 17:17] #24225 closed, assigned to mschile

[2022-10-26 17:17] mschile commented on #24202
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 17:17] #24202 closed, assigned to mschile

[2022-10-26 17:18] #24199 closed, assigned to mschile

[2022-10-26 17:33] Neoxrus86 commented on #19826
Perhaps someone will help this solution. I've trimmed all the different metrics and statistics query. I left only requests on the site itself and the service from which data is needed.
Options in cypress.config.js:
chromeWebSecurity: false
defaultCommandTimeout: 15000
[code]

[2022-10-26 17:36] mschile commented on #24167
Thanks @chrispepper1989! Instead of using just electron, the [Sophos advisory](https://support.sophos.com/support/s/article/KB-000044041?language=en_US) states the following:

`Please add 127.0.0.1 as a website exclusion in the Threat Protection policy which will resolve the issue.`

@arvind-nadimpally, does this also solve your issue?

[2022-10-26 17:37] #21495 closed

[2022-10-26 17:38] mschile commented on #24126
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 17:38] #24126 closed, assigned to mschile

[2022-10-26 17:39] mschile commented on #24242
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 17:47] mschile commented on #24269
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 18:17] Incarnation commented on #23830
My issue is only on Electron
runtime increased from 15 min to 30 min after upgrade to v10.10.0 from v.10.6.0 running on Buildkite pipeline and docker container

after switch the browser to Chrome
the runtime drop from 30 min to 17 min

[2022-10-26 18:27] AtofStryker commented on #23165
@denke8 Thank you for being patience with us. Sorry I haven't been able to take a look. But I do have some bandwidth available in the coming days so I might be able to take a look and since if I can run again on my ubuntu machine. You deserve an answer and I'm going to work through getting you one.

[2022-10-26 18:50] bahmutov opened #24410 "Cannot register multiple "after:spec" callbacks"
### Current behavior

[code]

Only shows `after spec 2` message

### Desired behavior

Every attached callback should be called

### Test code to reproduce

See above

### Cypress Version

9.7.0, 10.11.0

### Node version

v16

### Operating System

Mac

### Debug Logs

_No response_

### Other

I wonder if the plugin data context is correct and keeps multiple callbacks in the list to call... http

[2022-10-26 18:53] bahmutov commented on #24410
Running with `DEBUG=cypress:server:run npx cypress run`

[code]

Running with `DEBUG=cypress:data-context npx cypress run`

[code]

and nothing else

[2022-10-26 19:46] amehta265 commented on #24246
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-26 19:46] #24246 closed, assigned to nobody

[2022-10-26 21:21] mschile commented on #24327
Thanks @alecmestroni! We use [minimatch](https://docs.cypress.io/api/utilities/minimatch) for our [route matching](https://docs.cypress.io/api/commands/intercept#routeMatcher-RouteMatcher) which has a max pattern length of [65536](https://github.com/isaacs/minimatch/blob/6410ef32f59e4842121ca13eefacdf0b3da8533c/minimatch.js#L122). The image you are trying to load has a length of 110274. You could

[2022-10-26 21:25] AtofStryker commented on #24395
related to #24297 and should be fixed by #24414. I think we might need to also check the request content-type as well to make sure they are both html-like

[2022-10-26 21:33] #24133 closed, assigned to ZachJW34

[2022-10-26 21:34] #24382 closed, assigned to astone123

[2022-10-26 22:03] jamesarosen opened #24416 "prevSubject: 'element' is disallowed by current types"
### Current behavior

The [TypeScript guide](https://docs.cypress.io/guides/tooling/typescript-support#Types-for-Custom-Commands) gives this example:
[code]

That gives the following TypeScript error:

[code]

The available types for `add` are
[code]
Of those, every use of `CommandOptions` includes the `&` intersection operator to further limit `prevSubject` and none of them allows `'element'`.

#

[2022-10-26 22:10] jamesarosen commented on #24416
This is the closest I could get to the code in the guide while making TypeScript happy:

[code]

[2022-10-26 22:14] JessicaSachs commented on #24131
Unfortunately you cannot navigate between pages in Cy component tests unless you're using an in-memory router that doesn't change top's URL. That's the moment where you'll want to write an end-to-end test.

I've tried many "workarounds" to prevent this top-level navigation, but we decided at the time of building Cypress CT that it was out of scope and that most people can get what they need from u

[2022-10-26 22:50] mschile commented on #24376
@DevPerers, I believe you are using a no longer supported version of the cucumber preprocessor. Can you try using this one https://github.com/badeball/cypress-cucumber-preprocessor.

[2022-10-26 23:00] hraichonaky opened #24418 "Cypress loads blank page on attempt to open test app url in Chromium-based browsers"
### Current behavior

On attempt to open simple app url in primitive Cypress (10.11) test (via Chrome browser) - blank page is loaded.
Use following URL http://power-inspiration-1088-dev-ed.scratch.my.site.com/ebikes for reproduction
In Chrome
![image](https://user-images.githubusercontent.com/116178405/198154272-5351f8d5-41d8-4954-b634-2141d5a8ec5f.png)

In Firefox
![image](https://user-images.gi

[2022-10-26 23:01] hraichonaky commented on #24418
[debug.log](https://github.com/cypress-io/cypress/files/9874328/debug.log)

[2022-10-27 05:52] ncknuna commented on #24131
Hmmm, interesting. I don't know why what I did works for me then. The two things I can think of are:
1. My code is changing the URL programmatically via `history`, using the `history` package
2. I'm not changing the path, just the query params and hash

Not sure if that's helpful, but regardless, best of luck finding something that will work!

[2022-10-27 06:27] DevPerers commented on #24376
@mschile thanks for the reply. I tried with the solution you mention, but issue still exist. In my project I am using JavaScript only, not typescript.

[2022-10-27 06:39] dovh-me commented on #7546
Any updates on this?

[2022-10-27 06:45] divyagupta301 commented on #21447
@dhakalsamundra - Hi, do you have any update on this issue? Is this issue fixed in the latest version of cypress. I am using following versions:

 "cypress-file-upload": "^5.0.8",
 "cypress": "9.4.1",

[2022-10-27 06:51] liambutler commented on #24418
I also saw this on the https version of the above url

[2022-10-27 07:31] GrayedFox commented on #14911
I actually really like being able to submit forms that fail client-side validation via `cy.submit(). The docs [aren't correct](https://docs.cypress.io/api/commands/submit#Submit-will-fail-if-there-are-form-validation-errors) in this case but I would ask that when you do introduce this change, could you also make it backwards compatible by either:

1. introduce the change as non-breaking, instead e

[2022-10-27 07:47] alecmestroni commented on #24182
Hello @amehta265 thanks for your answer.
I have tried your solution, but this doesn't solve my issue...
I tried also running it with the command line:
`npx cypress run --config baseUrl='' --headed -s 'cypress/e2e/cypress-issue.cy.js' `
neither this solved my problem..

[2022-10-27 07:53] NikitaSheff commented on #24269
Some new information, on cypress 10.11 in electron browser I still can't visit my site page, but in chrome browser I'm able to do it.

[2022-10-27 09:34] JoshWhiteTTD commented on #18470
I'm having the same issue - trying to debug my mocha reporter in the context of `cypress run`.
The reporter is definitely executed, but I can't get VS Code pause on my breakpoints.

[2022-10-27 09:49] arunkumar741 commented on #24335
addings logs here

[code]

[2022-10-27 09:55] arunkumar741 commented on #24335
similar to #20487 , but this is happening in react app (create-react-app)

[2022-10-27 09:58] alecmestroni commented on #24327
Hello @mschile, thanks for the answer.
the solution you have provided is not working for my purpose.
Is this the correct way to intercept a base64 img?
Is cypress able to do that?
If it isn't clear I'm tring to intercept this req
![image](https://user-images.githubusercontent.com/62354989/198253791-564b36b8-6c6c-4120-8a7c-a14ef1c5dc7f.png)
but I dont see it in the cypress log on the left pane, so

[2022-10-27 11:20] jhmartins0x1 commented on #20527
Hello @nishant994
did you find a solution?

[2022-10-27 12:05] Olivier-Vromans commented on #24406
I have also tried installing it as a dev-dependecie but than the build fails and using these methodes:
[code]

[code]

[2022-10-27 12:57] Jaroslav004 commented on #21135
I've tested it on Cypress 10.4.0 (although I've since upgraded it to newer version but it did not help. I'm experiencing problems only when I run it in UI. I use a laptop with Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz   1.50 GHz and 16GB RAM and Windows 11.
The script that I mentioned earlier that ran without failing contained originally no loops. Later on when I added a few for loops to my code i

[2022-10-27 13:25] snake-py commented on #23680
@amehta265 thank you for pointing out the workaround. This seems sufficient enough for me.

[2022-10-27 13:25] #23680 closed

[2022-10-27 14:11] alexniculae opened #24420 "before:spec - spec path - backslash instead of slash on Windows (not normalized)"
### Current behavior

[Issue # 23426](https://github.com/cypress-io/cypress/issues/23426) fixed the search in the Cypress Tests Runner (Interactive mode) for Windows machines.

But in case we want to grab the spec path from the before:spec event, for Windows, we still have a backslash instead of the normal slash were expecting on Mac or Linux machines.'

Can you do a replace here as well, please,

[2022-10-27 14:16] R-Schoe opened #24421 "Cypress failed to make a connection to Firefox. Error: could not find CRI target"
### Current behavior

Eynning Cypress 9.7.0 / Firefox 106 and our tests in out Gitlab CI Pipeline will intermittently fail as unable to connect to Firefox. Sometimes it will take several reruns of the pipeline job for the tests to connect to Firefox and pass.

It looks like this is your first time using Cypress: 9.7.0
[STARTED] Task without title.
✔ Browser application bundle generation complete.

[2022-10-27 14:29] kamilmoskal commented on #21151
bump

[2022-10-27 14:33] Narretz commented on #24373
I'm also having the  exact same problem. It still worked in Cypress 10.8. We should try to isolate the exact version where this happens, i.e. if it starts in 10.9 or 10.10

[2022-10-27 14:47] amehta265 commented on #24323
@yihuineng Thank you for your posting this issue.
I suspect the reason for the header bar not loading has to do with [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) through the use of [nonce](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/nonce) on the www.yuque.com website. Upon further investigation, the content served on the website is a rea

[2022-10-27 14:47] Aleff13 commented on #23846
@keremh did u work on it?

[2022-10-27 16:11] mschile commented on #24327
Ah yes, sorry for the confusion, intercept is designed for intercepting http/https network requests and not data urls.

[2022-10-27 16:11] mschile commented on #24315
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-27 16:11] #24315 closed, assigned to mschile

[2022-10-27 16:23] amehta265 commented on #24361
@lydemann Thank you for posting this issue.
Upon further investigation, I am able to mount `svg` icons located within my `assets/**` directory in my `angular project`.

This is what my test looks like:
![Image](https://user-images.githubusercontent.com/65267668/198344105-8e197030-e51c-4a13-b9a4-937c94979dcd.png)

This is what Cypress looks like when I run the test:
![Image](https://user-images.git

[2022-10-27 17:01] mschile commented on #24376
@DevPerers, I successfully setup a project using the cucumber preprocessor with JavaScript if you want to take a look at it: https://github.com/mschile/issue-24376

[2022-10-27 17:09] amehta265 commented on #24227
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-27 17:09] #24227 closed, assigned to amehta265

[2022-10-27 17:11] aomaryus commented on #24353
Please let me know if you need any further details.
We need this feature. It will make our work much simpler.
Please also note that cacheAcrossSpecs option is only available in 10.2 so I cannot make use of that in any other release.

Thank you.

[2022-10-27 17:19] BlueWinds commented on #23902
Completed in https://github.com/cypress-io/cypress/pull/24203

[2022-10-27 17:19] #23902 closed, assigned to BlueWinds

[2022-10-27 17:19] BlueWinds commented on #24044
Cancelling; This work was done as part of https://github.com/cypress-io/cypress/issues/23901, turned out not to need a separate PR.

[2022-10-27 17:19] #24044 closed, assigned to BlueWinds

[2022-10-27 17:58] amehta265 commented on #24406
@Olivier-Vromans Thank you for posting this issue.

I was able to start a simple `vercel` project and use the Cypress `module api` to run a simple e2e test.
It would be more helpful if you can provide your current `cypress.config` file, your `package.json` and maybe a screenshot of the test you are trying to run so that I can more closely mimic your set up and reproduce this error.

If you can pro

[2022-10-27 18:00] nagash77 commented on #24326
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-27 18:00] #24326 closed, assigned to nobody

[2022-10-27 18:01] Bannikova77 opened #24422 "Blank page opened in browser after Cypress installation"
### Current behavior

That was the first installation of the Cypress, the following commands were executed:

1. npm init
2. npm install cypress --save-dev
3. npx cypress open
4. Cypress windows opened > clicked on E2E testing > Configuration files windows opened > clicked on Continue > Chrome browser v107 was chosen > Start E2E testing in Chrome :
Actual result : The blank screen is presented, not

[2022-10-27 18:20] amehta265 commented on #24093
@paulgrant Thank you for the update and stack traces.
I was wondering if you could share the tests you are running so that we can try running them on our end?

[2022-10-27 18:22] nagash77 commented on #24269
@NikitaSheff Can you help us reproduce this by folloing @AtofStryker 's instructions [here](https://github.com/cypress-io/cypress/issues/24269#issuecomment-1282739551)

[2022-10-27 18:30] michielswaanen commented on #781
![afbeelding](https://user-images.githubusercontent.com/32015956/198370368-86e1a7ef-3df9-46a6-85c4-a879e9bab8fa.png)

[2022-10-27 18:45] astone123 opened #24423 "Decide what to do with npm/vue example tests"
We have a bunch of example Vue component tests in `npm/vue`. We don't run these in CI and a lot of them don't pass anymore. We need to decide what to do with these

- If we decide to keep these tests, then we need to make them pass again and remove usages of injecting styles and `mountCallback` and whatever else.
- If we remove them, we should update the `package.json` file to match `npm/vue2` whe

[2022-10-27 18:47] muhammad-st commented on #8222
I'm having the same issue since a while. Are you sure it got resolved only by setting a different port? I tried to do so, no difference.

[2022-10-27 18:51] laradiaz commented on #20813
Hi Bill and Matt, how are you? As Steve mentioned, we have been encountering this `doc.createTreeWalker` error in the tests since August. We didn’t have the `includeShadowDom` option set to true at the time, when we ran into this error we tried setting it to true and for a while it worked and the error disappeared although with flakiness.
Currently the error `createTreeWalker is not a function` pe

[2022-10-27 19:16] amehta265 commented on #24284
@Hangochung81 Thank you for providing access to the website as well as the test script for reproduction!
I am able to replicate this error on my end and am hoping to find a solution concerning this as soon as possible. Thank you for your patience.

[2022-10-27 19:24] weilu commented on #17723
Can we please get this working? None of the workarounds above works anymore. I hate to be stuck with version 6.9 because of this

[2022-10-27 19:32] NikitaSheff commented on #24269
@nagash77 Hi! I work on my own PC and I have tried to run cypress as administrator - but the issue is still reproduceable

![image](https://user-images.githubusercontent.com/99482593/198381716-dbebb43a-f7c2-413a-81d2-bfbfc01763ec.png)
Thanks!

[2022-10-27 20:16] mschile commented on #23801
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-27 20:16] #23801 closed

[2022-10-27 21:02] mschile commented on #24359
@minopica, I am able to successfully access an iframe twice in this [example project](https://github.com/mschile/issue-24359). Do you have a project I can look at? You may also want to check out this community [iframe plugin](https://gitlab.com/kgroat/cypress-iframe).

[2022-10-27 21:29] aaron-qa commented on #24354
@mschile sorry the reproduce code was private. It's public now if it helps... https://github.com/aaron-qa/cy-error-repoduce

[2022-10-27 22:11] JessicaSachs commented on #7362
Yeah, at my new job we're using a library that makes around ~200 XHR requests to handle zooming in-and-out of a 5GB image. I need `cy.intercept` to support `log: false`.

@flotwig any chance of that happening? I was about to put a PR up, it's only a few lines, right?

**Edit**
I ended up going with a modified version of the JQuery hack. I think there should be user options to hide/show:
1. all req

[2022-10-27 22:18] mschile commented on #24353
@aomaryus, unfortunately, I was unable to replicate your issue using an [example project](https://github.com/mschile/issue-24353). Do you have a project I could look at?

[2022-10-27 22:24] MarcSeebold commented on #7290
We have the same problem. Cypress sends `proxy-connection: keep-alive` to our grpcwebproxy instance. Since grpc requires HTTP/2, we get

    ERRO[15232] finished streaming call with code Internal    error="rpc error: code = Internal desc = Bad Request: HTTP status code 400; transport: received the unexpected content-type \"text/plain; charset=utf-8\"" grpc.code=Internal grpc.method=SomeFunc grpc.s

[2022-10-27 22:28] jamesarosen commented on #7306
I'm working with a server-side rendered React 18 application and I find that *most* of these errors are caused by the initial hydration. I did this to work around it:
[code]

This has the added benefit of giving you insight into how long React-DOM takes to hydrate. But if you prefer, you could use an attribute on `<body>` or a global variable to the same effect.

This is _not_ a perfect general so

[2022-10-27 22:40] amehta265 commented on #24177
@787681277 Thank you for providing the code snippet above. I have been able to replicate the test.

As you mentioned, the button that is mounted does not contain an accessibility border in its styles.
Cypress ensures that certain styles such as `ring-color` (which is responsible for the border around the button) are common across specific components irrespective of the browser the component is mou

[2022-10-27 22:42] amehta265 commented on #24177
Using the test block you provided above, the tests pass on every instance on my end. If this is not the case on your end and  If the test on your end is still [flaky](https://docs.cypress.io/guides/dashboard/flaky-test-management) kindly provide a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) a

[2022-10-27 22:50] mschile commented on #24354
@aaron-qa, thanks for the reproduction! I was also able to reproduce the issue and traced it down to being caused by this commit https://github.com/cypress-io/cypress/commit/bcd7548d74fdb5dab4790f10f158bb4f3e9387bc.

The test did run successfully in other browsers (I tried chrome and edge) if that's an option for you.

I'm going to route your issue onto the appropriate team.

[2022-10-27 23:03] amehta265 commented on #23898
@fionnachan Thank you for opening this issue and providing a link to your repository for reproducing the code.
I am glad you have found a workaround for now.

In order to investigate this further, could you provide more information explaining how I would go about running the [deposit.cy.ts](https://github.com/OffchainLabs/arb-token-bridge/blob/master/packages/arb-token-bridge-ui/tests/e2e/specs/de

[2022-10-27 23:05] mschile commented on #24269
@NikitaSheff, could you run Cypress in [debug mode](https://on.cypress.io/troubleshooting#Print-DEBUG-logs) mode and print the entire set of logs here?

If you run @AtofStryker's [reproduction repository](https://github.com/AtofStryker/cypress-issue-24269) does it also fail for you? He was running MacOS and Windows 10 with Chrome 106 and Node 18.11.0.

[2022-10-27 23:22] sherryysj commented on #2667
Thanks! This is really helpful!!

[2022-10-27 23:27] BlueWinds commented on #7306
If anyone wants to try out the solution we're working on, feel free to test this branch: https://github.com/cypress-io/cypress/pull/24417

Be warned that this is still a WIP, and contains a couple of breaking changes around `.invoke()`. In addition, if you're using `cypress-testing-library`, you'll also want to try out this fork: https://github.com/BlueWinds/cypress-testing-library (also a WIP, wi

[2022-10-27 23:45] amehta265 commented on #24209
@munkinugget Thank you for posting this issue and attaching a reproducible project.

After cloning your project and following your setup instructions, I was able to obtain the same error as you posted.
Upon further investigation, it seems like the `packages/cypress-tests` folder contained a `cypress.config.ts` file which was the file that was causing this error.
What was irregular in the repositor

[2022-10-28 00:26] yjaaidi opened #24429 "Angular Component Testing: provide access to DI"
### What would you like?

Angular's CT `mount` function should return an `inject` function that allows  DI.

e.g.:
[code]

where `inject` is nothing more than a wrapper of `TestBed.inject` just to hide the implementation detail which is `TesBed`.
we might also provide a `cy.inject` command, that does something like this to provide a better DX:
[code]

What do you think?

cc. @jordanpowell88

### W

[2022-10-28 01:19] Ralkage commented on #24242
Sorry about that @mschile, notifications were turned off for me for this issue for whatever reason.

@AtofStryker I tried using http://demo.guru99.com/test/drag_drop.html with drag and drop and it works.

The error occurs after double-clicking as well and I've included the stacktrace below if that helps. I don't really understand the error as it only shows up after moving an item from the right pa

[2022-10-28 02:17] kaiyoma opened #24430 "Browser: chrome was not found on your system or is not supported by Cypress"
### Current behavior

[code]

### Desired behavior

Chrome is installed, so Cypress should find it.

### Test code to reproduce

I'm using the `cypress/base:16.17.0` Docker image, with Chrome 107 installed, and Cypress 10.11.0.

### Cypress Version

10.11.0

### Node version

16.17.0

### Operating System

Debian 11

### Debug Logs

_No response_

### Other

_No response_

[2022-10-28 02:26] MehdiSv commented on #14924
Same issue here. Any reason why Cypress removes the Origin header if chromeWebSecurity is set to false?
Is there a way to keep the Origin header without touching the chromeWebSecurity option?

[2022-10-28 02:29] mschile commented on #24306
I was able to reproduce the reload in Chrome and Edge but not in Electron or Firefox. I'm not aware of anything we are specifically doing to cause a reload but we may need to look into it further.

[2022-10-28 02:36] hilmanski commented on #867
I write a blog post about this https://onebite.dev/disable-video-recording-when-running-cypress/ with other information regarding video recording

TLDR;
[code]
in your cypress setting

[2022-10-28 02:46] mschile commented on #24421
Possibly related to #23897. @R-Schoe, could you please try updating to Cypress 10.10.0 and see if the issue still persists.

[2022-10-28 03:11] hilmanski opened #24431 "Tailwind hidden class but change on group-hover"
### Current behavior

I have a child element that has a [group-hover](https://tailwindcss.com/docs/hover-focus-and-other-states) class.
Which basically, it detect if the parent is hovered, then the child should change the value based on what we put.

In this child element, my manual class is "hidden" , but change /overwritten when the parent is on hover.

But in cypress, it always detect this tail

[2022-10-28 04:25] mschile commented on #24407
@Bourg, thanks for logging this issue and including the reproduction. It appears we are incorrectly comparing the `content-length` of the headers without actually verifying the header is populated. https://github.com/cypress-io/cypress/blob/9ceb95d3c0c680a680d21d2ed765462e0b526436/packages/net-stubbing/lib/server/middleware/request.ts#L124-L127

I am going to route this issue to the appropriate te

[2022-10-28 06:35] kgalushchak commented on #1542
@sturichardson I know it's been a long time, but did you manage to solve your issue?
The solution posted by @jprealini doesn't work for me unfortunately 😿

[2022-10-28 07:08] Develliot commented on #20309
It is for me

[2022-10-28 07:32] JohnnyDevNull commented on #2024
Push... running in the same problem here. We need to take a look at the log's in CI run, but that seems not easy to handle
Does anyone have a stable solution for this?

[2022-10-28 07:48] NikitaSheff commented on #24269
Here is my logs :

[logs.txt](https://github.com/cypress-io/cypress/files/9886366/logs.txt)

@mschile Yes, I run @AtofStryker repository on win11

[2022-10-28 08:30] Olivier-Vromans commented on #24406
@amehta265 Thank you for responding, I tried to start a simple Vercel project with cypress with a simple e2e test too but no luck. These were my steps:

I created a new Nextjs project in Vercel by using the template. Then I cloned the project to my computer and openend it with VSCode. I added cypress by using the `npm install cypress --save-dev` command and added the `cypress:open/run` scripts to

[2022-10-28 09:22] TapaiBalazs commented on #24398
Hi @marktnoonan

I encountered the same issue. I did what you suggested and ran the following commands:
`cypress cache clear` and then installing it again with `cypress install && cypress verify`

I get the same error:
[code]

I checked the premissions for that exact file running `ls -la`:

[code]

Trying to change the permissions of that file does not work either. I tried it with sudo as well doi

[2022-10-28 09:30] Hangochung81 commented on #24284
Thank you so much! please let me know if you need any supporting.

[2022-10-28 09:42] JessefSpecialisterren opened #24434 "Should callback error message is ignored when element is not found"
### Current behavior

When you throw an Error with a custom message from a `.should` callback, the custom message is only shown if the preceding `.get` finds at least one element:
![image](https://user-images.githubusercontent.com/36038882/198555018-62dda333-422b-4d27-aa18-1957e5587c62.png)

### Desired behavior

Cypress should always show the custom error message.

### Test code to reproduce

[co

[2022-10-28 10:32] dobladov opened #24435 "Upgrade webpack-preprocessor for babel-loader 9"
### Current behavior

After the new release of `babel-loader` `9.0.0` the installation on a project with `webpack-preprocessor` produces a dependency error.

![Screenshot 2022-10-28 at 12 14 16](https://user-images.githubusercontent.com/1938043/198566548-f8b23e2d-99f6-4c7a-9d52-b6436e52f7aa.png)

https://github.com/cypress-io/cypress/blob/develop/npm/webpack-preprocessor/package.json#L40

### Desi

[2022-10-28 10:52] arunvenkat1911 opened #24436 "cypress API not working from .Net --> {"status":"failed","failures":1,"message":"Could not find Cypress test run results"}"
### Current behavior

Hi Team,

We are trying to run the cypress test from .NET using NodeService.
When we are running the same test from node js command prompt, we are getting the proper response.

Below is the code..

[code]
I am running like this on cmd:
node [FilePath]
And I am the proper response.

When I try to convert this for .NET like this.
[code]
And when I am running this from .NET node

[2022-10-28 10:59] fionnachan commented on #23898
@amehta265 https://github.com/fionnachan/sscce-cypress-scroll-overflow
here's a sscce, let me know if you need anything more! thanks!!

[2022-10-28 11:56] zzzorgo commented on #24093
Faced the issue, apparently the problem is with code on the screenshot. `indents` counter somehow is negative when we run `Array(indents)` and it triggers `RangeError`.

<img width="904" alt="image" src="https://user-images.githubusercontent.com/17454987/198577013-bce51b82-cf6a-4253-92f8-312eeacc27ef.png">

**You can work around it** by explicitly setting your reporter to `spec` (don't know why).

[2022-10-28 12:00] yjaaidi commented on #24429
cc. @rainerhahnekamp

[2022-10-28 12:01] preetibellad commented on #5016
I am getting same error with Cypress version 10.11.0:
CypressError: `cy.screenshot()` timed out waiting `30000ms` to complete.
with Webkit run.

Stacktrace:
     CypressError: `cy.screenshot()` timed out waiting `30000ms` to complete.

Because this error occurred during a `after each` hook we are skipping the remaining tests in the current suite: `User should be able to chec...`
  tryCatcher@http:

[2022-10-28 12:19] rainerhahnekamp commented on #24429
This is very much needed.

A popular example might be the injection of the `HttpTestingController`... I know the usage of it is questionable in Cypres. But I think it serves as a good example that most Angular developers are familiar with.

[2022-10-28 12:20] irving-ventura-shift commented on #24093
@zzzorgo hero. How did you manage to debug this ? or was it just a guess based on the error message and the line ?

[2022-10-28 12:22] amar0120 commented on #23772
Thanks @mschile  - Issue resolved at my end using suggested changes. Shall I close this ticket now or Is there something at cypress end to be handle.
Please confirm.

[2022-10-28 12:29] yjaaidi opened #24437 "Angular Component Testing: Allow standalone shallow testing by overriding component imports"
### What would you like?

Add `componentImports` option to override component's imports.
[code]

or better `overrides` to override any component's imports no matter how deep it is.
[code]

or a functional approach:

[code]

or anything similar.

### Why is this needed?

This is needed for shallow testing standalone components.

[code]

If we want to test `MyCmp` and load everything except `MyChild

[2022-10-28 12:45] warrensplayer opened #24438 "Debug Page - M0 and M1.0"
Enable users to see the results of a cloud recorded run directly in the app and interact with those results.

**NOTE**  Previously known as In App Test Results (IATR)

M0 (Milestone 0) will not be released to the customers and held in a feature branch

M1.0 released on 01/31/2023

Clickup: https://app.clickup.com/t/18033298/PM-2546

[2022-10-28 12:47] warrensplayer opened #24439 "[IATR](V0) "Relevant runs" API client"

[2022-10-28 12:51] szykov commented on #22430
@lmiller1990
I know you're super-duper busy.
But it would be nice to hear some news or possible release where this bug fix goes.
Sorry to disturb, your work is important.

[2022-10-28 12:54] warrensplayer opened #24440 "[IATR](M0) Fetch run data with failed tests from Cloud"
Use the new GraphQL queries from the Cloud to fetch the data to populate the new "Failures" page

### Description
The failures page will show test failures from the "most relevant" run to the current local environment.  This will be determined by sending the last 100 git commit hashes to request related `CloudRun` information with the cloud GraphQL field `relatedRunsForGitCommits` developed [here]

[2022-10-28 12:59] warrensplayer opened #24441 "[IATR](M0) Debug Page and Tab in left nav"
Add a new navigation item in the app left nav for "Debug" which will navigate to a new page

**NOTE:** M0 issues will be committed against a feature branch and not released

### UI Design

* Left nav will have new item below Runs and above Settings for "Debug" that will have a corresponding icon
* The page component will render the [header component](https://github.com/cypress-io/cypress/issues/24

[2022-10-28 12:59] mazhuga commented on #20050
any updates here?

[2022-10-28 13:00] warrensplayer opened #24442 "[IATR](M0) Failures page header component"
Create a component to be the header of the new [failures page](https://github.com/cypress-io/cypress/issues/24441) that represents the chosen run and its metadata.

**NOTE:** M0 issues will be committed against a feature branch and not released

### UI Design
* Will mimic the same header design as used on the Runs page in the app and a Run in the Cloud
* Element that will appear in header
  * Comm

[2022-10-28 13:00] warrensplayer opened #24443 "[IATR](M0) Failures page spec component"
Create a component to represent a spec file that has test failures during a cloud recorded run.

**NOTE:** M0 issues will be committed against a feature branch and not released

### UI Design

* Container that contain a header and a body that will contain a list of [Test](https://github.com/cypress-io/cypress/issues/24444) components
* Header will contain spec file name, relative path to test with

[2022-10-28 13:00] warrensplayer opened #24444 "[IATR](M0) Failures page test component"
Create a component to represent the test within a spec that failed during a recorded run.

**NOTE:** M0 issues will be committed against a feature branch and not released

### UI Design
* Row that contains the test title fragments separated by `>` signs

<img width="790" alt="image" src="https://user-images.githubusercontent.com/1702361/198610414-771b039c-ed81-4986-bd40-40f38a43e705.png">

_Wirefr

[2022-10-28 13:06] nagash77 commented on #24436
Hello @arunvenkat1911 .  Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [Discord server](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypres

[2022-10-28 13:06] #24436 closed, assigned to nobody

[2022-10-28 13:10] yjaaidi opened #24445 "Angular Component Testing: autoSpyOutputs should work with any observable (not just EventEmitters)"
### What would you like?

`autoSpyOutputs` should subscribe to outputs instead of spying `emit`.

It could be done this way (Angular >= 14.1):
[code]

cc. @jordanpowell88 @ZachJW34  @rainerhahnekamp

### Why is this needed?

Some outputs are not event emitters. In fact, Angular is expecting any observable.

A common use case is emitting form's changes.

[code]

[2022-10-28 13:14] nagash77 commented on #24430
@kaiyoma I'm sorry to hear you are having problems.  We have not received any other reports of this problem and I am unable to reproduce this issue myself given the information provided.  Can you provide more detailed steps to recreate the issue please?

I would also recommend questions relating to how to use Cypress be asked in our [Discord server](https://gitter.im/cypress-io/cypress).  This wil

[2022-10-28 13:28] jordanpowell88 commented on #24429
You should be able to reference `TestBed.inject(MyService)` as a workaround for the time being

[2022-10-28 13:45] AtofStryker commented on #24395
@Bohdan-Kalynovskyi are you able to share the request URL? I wonder if we need to do an additional check to make sure the request came from the Application Under Test frame which should fix the XHR injection problem

[2022-10-28 13:46] binginsin commented on #9688
I had the same issue, my solution was the following cypress.config.js file:
Note: the project structure is:
Project
-- cypress
---- tsconfig.json
-- src
-- tsconfig.json
-- config-overrides.js
-- cypress.config.js

[code]

Note that I only tested the component config as I didn't have any e2e tests setup

[2022-10-28 13:48] #21838 closed

[2022-10-28 13:51] QuentinFarizon commented on #7306
Thanks for your work @BlueWinds , I'm impatient to test this !

I'm having trouble with npm while installing your branch. I already have several dependencies on which I configured github commits, without issues

But for the cypress repo, npm hangs indefinitely.

I tried with
`npm i --save-dev "github:cypress-io/cypress#e77565978e3e24b4b12b06f1afad5d342112f4c0" --verbose`
Last ouptut :
`npm http fe

[2022-10-28 14:03] zzzorgo commented on #24093
@irving-ventura-shift Yep, just a very informed guess 😌

[2022-10-28 14:11] camiloesub commented on #17938
I'm seeing this in the latest version of cypress

[2022-10-28 14:19] mschile commented on #20813
Thanks @laradiaz, unfortunately, I haven't been able to recreate the issue. If anyone has a project I can look at and debug or if you are able to create the issue using the [cypress-test-tiny](https://github.com/cypress-io/cypress-test-tiny) project that would be great.

[2022-10-28 14:26] mschile commented on #24403
@ioannisNoukakis, thanks for logging this issue and providing the reproduction! I was able to reproduce the issue.

I am going to route this issue to the appropriate team.

Related to: https://github.com/cypress-io/cypress/issues/23627, https://github.com/cypress-io/cypress/issues/22360

[2022-10-28 14:31] redtailryan commented on #19696
We could really use this feature too!

[2022-10-28 14:59] amehta265 commented on #24398
@will-weiss Thank you for providing the update and error logs.
I have upgraded to MacOS Ventura and have tried to reproduce this issue on my end. Unfortunately all the tests and hot reloading works just as expected.  This does not mean that your issue is not happening, but just means that there may be unaccounted factors playing a role in producing this error.
Would you be able to provide a [Short

[2022-10-28 15:02] chrisbreiding commented on #23444
Fixed by https://github.com/cypress-io/cypress/pull/23442

[2022-10-28 15:02] #23444 closed

[2022-10-28 15:31] amehta265 commented on #24335
@arunkumar741 Thank you for providing the error logs.
Upon further investigation, looks like `webpack` is complaining about the `browser` field. If you have a client side application, webpack requires the `resolve.aliasFields` argument in your `webpack.config` to contain a browser element as explained [here](https://webpack.js.org/configuration/resolve/). The `browser` helps tell the bundler (in t

[2022-10-28 16:06] amehta265 commented on #24093
@zzzorgo thank you for providing a work around. We will be investigating this further as I don't believe the indents counter should become negative.

@irving-ventura-shift does this potential solution work on your end?

[2022-10-28 16:07] amehta265 commented on #24322
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-28 16:07] #24322 closed, assigned to amehta265

[2022-10-28 16:23] kschmarr commented on #19696
We are also in search of this feature. <3 Cypress plzzzzzzz!!

[2022-10-28 16:25] amehta265 commented on #24392
@miglesiasit12 Thank you for opening this issue and providing error logs and your webpack config.

While I investigate this would it be possible to provide a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/). This would greatly help me debug this issue.
From a quick look,  your `webpack config` seems to be c

[2022-10-28 16:31] amehta265 commented on #24270
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-28 16:31] #24270 closed, assigned to amehta265

[2022-10-28 16:34] AtofStryker opened #24446 "Explore X-Cypress-Is-AUT-Frame over __cypress.initial cookie"
### What would you like?

Explore leveraging `X-Cypress-Is-AUT-Frame` over `__cypress.initial` cookie when injecting into the AUT.

### Why is this needed?

Using `__cypress.initial` when determining injection has been a bit buggy when injecting into datatypes that are not html like. We can likely reduce this and make this more deterministic with checking the  `X-Cypress-Is-AUT-Frame` header so we

[2022-10-28 16:47] Deop commented on #4062
Is there any update on this issue? Having the same problem with undefined elements in after methods after test fail

[2022-10-28 16:48] kaiyoma commented on #24430
It's not reliably reproducible, but simply running Cypress with the above mentioned environment was enough to do it. I've seen this problem infrequently in our CI over the years, but I thought the new version of Cypress was supposed to fix this? After upgrading to 10.11.0, I ran into this almost immediately.

[2022-10-28 16:53] AtofStryker commented on #24446
Related to #24395

[2022-10-28 16:54] AtofStryker commented on #24395
@Bohdan-Kalynovskyi I don't believe we are going to be able to address this #24414 since the response type comes back with `text/html`, but I strongly feel that #24446 will solve this issue and we should be spiking into it in the next few weeks

[2022-10-28 16:55] amehta265 commented on #24319
@irenetang1993 Thank you for opening this issue.

I have been able to create a very basic `react-vite-ts` application with the same dependencies provided in your `package.json` screenshot. On my end, when running `npx cypress open` Cypress was able to detect both the framework and bundler correctly.

![Image](https://user-images.githubusercontent.com/65267668/198690921-c72aff90-9d4b-4868-8b67-4f31

[2022-10-28 16:55] #24319 closed, assigned to amehta265

[2022-10-28 16:55] AtofStryker commented on #24446
Related to #2599

[2022-10-28 17:02] aomaryus commented on #24353
OK
I will put together a sample project
Thank you

[2022-10-28 17:37] amehta265 commented on #24209
Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2022-10-28 19:35] danadajian commented on #24131
After giving it some thought, I think I found a decent workaround for links at least.

[code]

Since this is using testing-library, we know the link is clickable and accessible, and we don't really need to test that clicking a link with an `href` will navigate to that URL. But we can still test that clicking the click achieves a certain side effect, which is the only reason to click a link in a co

[2022-10-28 21:16] amehta265 commented on #24406
@Olivier-Vromans Thank you for providing detailed steps for creating a NextJS project in Vercel using the template as well as providing your reproducible example.
I managed to clone your repository and run cypress successfully locally (as you mentioned). I was also able to `npm run buid` on your project and the build was successful and no errors were thrown.

I have gone a step further and have cr

[2022-10-28 21:24] amehta265 commented on #24182
@alecmestroni I am unable to run the test anymore as I am running into an `httpErrorResponse` "The address of the requested web page does not contain the correct parameters. Use the link received via SMS to launch the required evidence submission process correctly."

Could you kindly provided updated tests so I can replicate this once again on my end?

[2022-10-28 21:51] #23365 closed

[2022-10-28 23:37] ohrlando commented on #21095
Same here. I am studying alternatives to run cypress at wsl without x server (I'm not able to install a X Server because i have not Admin priviligies)

chokidar lib cannot handle with wsl directories apparently

[code]

I tried to disable watch with `"watchForFileChanges": false` but did not work

I have Windows 10 but Windows 11 apparently can run GUI with WSLg
https://github.com/microsoft/wslg
h

[2022-10-29 01:14] munkinugget commented on #24209
Dang, I did not catch this before you closed it. I cannot replicate your solution. Would you be willing to share the working tsconfig.json? I'm not sure what I'm doing wrong.

[2022-10-29 01:21] MehdiSv commented on #23772
@mschile Thanks a lot for the amazing suggestion!

It solved the issue for me when I run cypress with `yarn run cypress open` then select Chrome.

It does not seem to work if I launch in headless mode with `yarn run cypress run --browser chrome`.
It goes in an infinite loop, which is the behavior I had before adding the intercept.

Any idea what could be happening there?

**EDIT**: I added some lo

[2022-10-29 07:13] ezekel opened #24458 "Cannot visit virtual domain"
### Current behavior

I'm using this

image
cypress/included:10.11.0

O.S
windows 10

Node LTS

v18.12.0

when running this command below via Powershell

docker run -it -v ${PWD}:/cypress -w /cypress cypress/included:10.11.0

it shows me these errors

Common situations why this would fail:
  - you don't have internet access
  - you forgot to run / boot your web server
  - your web server isn't acc

[2022-10-29 07:54] paulgrant commented on #24093
@zzzorgo - which version of cypress are you running?
This fix did not work for me -
`Invalid array length
RangeError: Invalid array length
    at indent (C:\Users\paulg\AppData\Local\Cypress\Cache\10.11.0\Cypress\resources\app\node_modules\mocha-7.0.1\lib\reporters\spec.js:45:12)
`

@amehta265 - putting a null check in the _indent_ function did work :
`if(isNaN(indents)) {
      indents = 0;
 }`

[2022-10-29 09:28] 787681277 commented on #24177
I cannot share the project's code, so choose simple code snippet above.When testing is running and there is no app cover the tested browser at the same time, the issue cannot be reproduced.

When testing is running and put an app cover the tested browser at the same time, the issue can be reproduced.
<img width="1309" alt="1" src="https://user-images.githubusercontent.com/26969223/198824229-4a0c5a

[2022-10-29 10:23] ezekel commented on #24269
still same  cypress/included:10.11.0

cannot visit to virtual domain

[code]

[2022-10-29 10:50] ezekel commented on #24269
But using host machine IP , it works fine
[code]

![image](https://user-images.githubusercontent.com/6830057/198827803-5b5f0331-7c92-4662-9c49-7e54a0a0248f.png)

[2022-10-29 12:20] TapaiBalazs commented on #24398
Hi @amehta265

I tried to create a small reproduction, but if I create a new project with the same setup (for me it is an NX angular project with component testing enabled), then I cannot reproduce the issue, so I started debugging the differences.

For reference:
old repository === the one that encounters the issue almost every time when a test file changes
new repository === the one I created a

[2022-10-29 14:17] myrjola opened #24459 "Radix-UI Select component breaks in Firefox tests"
### Current behavior

Issuing `.click()` on a Radix-UI Select Trigger inside a Cypress test running on Firefox will throw the following error:

[code]

<img width="1256" alt="image" src="https://user-images.githubusercontent.com/36122/198835949-f5c30724-380e-4bb2-9772-9b3ef6c94a91.png">

### Desired behavior

The `.click()` should open the select component's dropdown menu as in the following scree

[2022-10-29 14:41] myrjola commented on #24459
Relevant code in the problematic component https://github.com/radix-ui/primitives/blob/19f8bf4/packages/react/select/src/Select.tsx#L248-L273

[code]

Adding a debug print gives `event.pointerId` as `1` when triggering with Cypress `.click()`. Clicking the button manually gives pointerId as `0`. Calling `releasePointerCapture` with `0` makes the test pass.

[code]

Could it be that Cypress sets th

[2022-10-29 15:30] zzzorgo commented on #24093
@paulgrant Cypress version was 10.11.0. You can try using completely different reporter, since the issue is `spec` specific.

[2022-10-29 15:42] rlyttle commented on #3566
Hi all, I can repeatedly trigger this error, but it's even stranger than it may seem: **the same laptop will experience the issue on one wifi network, but NOT on another.**

### My test scenario:
An angular webapp running on `https://localhost/route?params=123` redirects the user to `https://subdomain.localhost/route?params=123` by way of a javascript call (i.e. this is not a 302 redirect, it is i

[2022-10-29 21:08] Bohdan-Kalynovskyi commented on #24395
The request URL is http://localhost:3000/login/api/config/acceptance01 , it has the same domain as the main page.

Further thinking: I've seen weird techniques when js downloaded html file via XHR, and then did `document.write(stringContainingHTML)` (killing Cypress scripts inside the page which is not desirable, so I guess injecting into XHR body fixes exactly such issue). But the best way to han

[2022-10-30 08:23] lydemann commented on #24361
Hi @amehta265

Thank you, can you share your repo on Github?

[2022-10-30 08:25] lydemann commented on #24361
And I'm talking about using "addSvgIcon" from Angular Material, which is triggering an HTTP request.

[2022-10-30 08:54] alexanderg1982 commented on #24290
Hi
Any news regarding these issues?

[2022-10-30 17:53] jonascarlbaum opened #24460 "Support turbopack"
### What would you like?

Support turbopack build projects

### Why is this needed?

I want to be able to build and test projects using the promising turbopack build tool

### Other

_No response_

[2022-10-31 00:36] lmiller1990 commented on #23141
Sorry for the slow reply, I was out of office in October. We don't ship a TypeScript version - we use the one you've got installed (if there is one).

Right, so you changed from CJS to ESM, and the built version is in ESM (JS extension) so it's trying to consume a ESM package using a CJS loader, I think?

Can you provide a minimal reproduction by any chance? It sounds like this is the problem. Mos

[2022-10-31 00:39] lmiller1990 commented on #23636
Hi @RobertBleyl, sorry for the slow reply, was out of office in Oct.

We should fix this, there's a bit of info here, but looks like it still needs some work. As an aside, do you mind sharing your use case for this variable? Maybe there's a better way to work around this.

If you are interested in trying to fix it, happy to help guide you around the code base. Otherwise, it'll need to wait for som

[2022-10-31 00:40] lmiller1990 commented on #24146
Thanks @muratkeremozcan. I was OOO for Oct, but now I'm back - I'd like to fix this during November.

[2022-10-31 01:41] lmiller1990 commented on #22353
Hi @vision2divinity. I was out of office, sorry for the slow reply. I don't think your issue is related to this issue. It looks like the entire app is freezing?

Are you experiencing this on a fresh project too, or just one particular project?

I'd recommend filing a new, separate issue to get more eyes on this.

[2022-10-31 01:45] #22390 closed

[2022-10-31 01:49] lmiller1990 commented on #22087
It looks fine to me, https://github.com/cypress-io/cypress/pull/22757 seems to have done the job.

Can re-open if there is ongoing issues.

[2022-10-31 01:49] #22087 closed

[2022-10-31 01:54] lmiller1990 commented on #18544
Thanks for clarifying this is still an issue. If it's an issue in the latest Cypress, we should definitely prioritize fixing this.

Just to clarify; does this break any tests, or is it just a visual bug (this is my understanding based on what I've seen - which is still a problem, obviously, but not as much as something that changes the pass/fail status of tests).

[2022-10-31 02:01] lmiller1990 commented on #23590
Is this something we can even solve in this code base? There is no connection between type definitions and the implementation, so unless we bundled some kind of plugin to generate the maps, I don't see what we can do about this in core.

Has anyone tried any of the plugins such as https://github.com/ExpediaGroup/cypress-codegen? How did it go?

[2022-10-31 02:04] lmiller1990 commented on #22505
Wow, great debugging!

Is this something we can access? It looks like it's resolved internally in Vite **after** the plugins execute (like our Cypress plugin for Vite).

If we can, that'd be great - this seems the most attractive solution.

[2022-10-31 02:46] lmiller1990 commented on #24341
I agree it's hard to understand - but this is the unfortunate reality of Vue components, there is a lot of ways to define them, so this type is accurate (albeit confusing).

The only way to make it easier would be something like

[code]

I don't think you get type safety when doing

[code]

Anyway... I wonder if we should make this `any` (or `DefineComponent`)? If you want type safety, you need to

[2022-10-31 03:16] lmiller1990 commented on #22430
Hi @szykov, I've been away for 1 month, but now I am back in action. Regarding this bug: has not been fixed yet. Is this something you'd like to try patching? If so, happy to link you some places in the code base to look at.

Also - any specific use case? I'm asking since there might be another way to work around it. Since `cypress.config` is a JS module now, you can do something like

[code]

Not

[2022-10-31 06:53] zaq42 commented on #22885
I came here to raise this issue, but instead I'll add my +1 here.

Hovering over the runtime provides the duration to the nearest milli-second, but the dashboard remains very secretive about when it ran:
![image](https://user-images.githubusercontent.com/24503523/198948613-c80b45fa-2192-4f39-91a3-97090c981a08.png)

Even in the list of latest runs, millisecond accuracy is available on duration:
![i

[2022-10-31 06:54] zaq42 commented on #22885
@jebbench: My workaround for this is to use the [cypress-timestamps](https://glebbahmutov.com/blog/cypress-timestamps/) plugin.  Timestamps are visible in screenshots on failure, making it trivial to match up with the logs.

[2022-10-31 08:01] caozijian666 opened #24463 "How to start cypress source code"
### Current behavior

I wanted to do some research on the cypress source Code, so I downloaded and unpacked the project's source code and put it in the E:\ code \JavaScript\cypress-develop\cypress-develop directory. On Windows, I use Webstorm to open the project folder and use the yarn and yarn start commands to try to start cypress, but the program displays the following error:
windows_yanr_start

[2022-10-31 08:53] #24327 closed, assigned to mschile

[2022-10-31 09:00] alecmestroni commented on #24182
[code]
For me this is still working.
retry one more time @amehta265

[2022-10-31 09:30] Olivier-Vromans commented on #24406
Unfortunately is that also not working in vercel for me. I also tried the methodes from the related issue but that isn't working for me either. Vercel keeps saying cypress isn't installed but I found out that it is getting installed in `/vercel/.cache/Cypress/10.11.0` and try to run it from `/home/sbx_user1051/.cache/Cypress/10.11.0/Cypress/Cypress` so maybe that is the issue but I have no Idea ho

[2022-10-31 10:13] kenobi-io opened #24466 "Failure during cypress verify step Cypress --no-sandbox --smoke-test"
### Current behavior

npx cypress verify

### Desired behavior

_No response_

### Test code to reproduce

[code]

### Cypress Version

10.10.0

### Node version

v16.14.2

### Operating System

linux-x64 (Ubuntu - 20.04)

### Debug Logs

[code]

### Other
[code]

[2022-10-31 13:24] aliaksei-liauchuk-incountry commented on #24290
Are there any news this issue?

[2022-10-31 13:46] #24131 closed, assigned to nobody

[2022-10-31 13:52] nagash77 commented on #24334
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-31 13:52] #24334 closed, assigned to nobody

[2022-10-31 13:57] nagash77 commented on #24430
@kaiyoma Can you provide more context such as the commands you are using to run Cypress?  Can you include debug logs?  As  this bug currently stands there is not enough information for us to go off of to investigate your particular issue.

[2022-10-31 13:58] AtofStryker commented on #24395
@Bohdan-Kalynovskyi thank you for sharing that. My guess is this is one of the initial requests that your application makes and cypress thinks it's the initial html load, so it tries to inject. Would you be able to make a quick reproduction repository that I can reproduce on my end to see if the fix I am proposing would solve the issue?

It's a bit more complicated than this unfortunately. The goa

[2022-10-31 13:58] kleinfreund commented on #22059
Why was this issue closed?

The docs at https://docs.cypress.io/guides/component-testing/component-test-troubleshooting#Cypress-Types-Conflict-with-Jest don’t address the problem sufficiently. This is especially notable when trying to colocate test files with source files. I really don’t want my test files in other directories for component testing.

* The guidance to use `/// <reference types="cy

[2022-10-31 14:00] amehta265 commented on #24195
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-31 14:00] #24195 closed, assigned to nobody

[2022-10-31 14:06] AtofStryker commented on #24290
@alexanderg1982 @aliaksei-liauchuk-incountry no updates on this currently, but we hope to look into this soon and will provide updates once we have something more to report.

[2022-10-31 14:08] kleinfreund commented on #2773
_All_ of these globals should be _required_ to be imported. It would remove pretty much all the weird hoops one has to jump through to get a (still incomplete!) hybrid setup running like it is outlined in https://github.com/cypress-io/cypress/issues/22059. Then it wouldn’t be necessary to catch-all override `describe`, `it`, `expect`, `cy`, etc., etc. via ambient type declarations **that aren’t pa

[2022-10-31 14:09] amehta265 commented on #24406
@Olivier-Vromans I have changed the visibility settings for the repository. You should be able to access it now. Kindly let me know if this is not the case: https://github.com/amehta265/nextjs

I am looking further into this and hopefully will have a workaround for you soon

[2022-10-31 14:12] BenShelton opened #24696 "@cypress/grep readme references previous cypress-grep package"
### Subject

readme

### Description

The documentation at https://github.com/cypress-io/cypress/tree/develop/npm/grep has mostly been copied from the previous `cypress-grep` repo. Apart from the initial installation instructions a lot of references to the older package still exist so are confusing. For example:

- Support File installation instructions are wrong, commands should be `import cypres

[2022-10-31 14:15] mschile commented on #24463
@caozijian666, unfortunately, none of your images with the errors are shown.

You can find information about how to run Cypress here: https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md#writing-code

[2022-10-31 14:15] amehta265 commented on #24398
@TapaiBalazs Thank you for trying to make a reproduction and sharing the differences in the old and new repositories.
I am glad you have found a work around for now!
As mentioned before, it is difficult to resolve this problem permanently without a reproduction. However, based on your findings and differences,  I will be looking into why `utimeSync` maybe causing your tests to fail.

[2022-10-31 14:26] amehta265 commented on #24422
@Bannikova77 Thank you for opening this issue. As you have mentioned, this should not be the intended behavior.
I have tried to replicate this issue on my end, however, I have been unable to do so. Cypress works as intended after I install it for the first time in the repository.

Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliabl

[2022-10-31 14:28] bijojoseph99 commented on #2951
Hi René Lux,
 @renelux
 Could you please guide me on the way you did the work to reduce the time taken from 1-12 mins to 4-5 Mins?
 I'm in such a situation where the tests take 5-6 mins but the whole stage takes around 20 mins.
 Thanks

[2022-10-31 14:30] amehta265 commented on #24288
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-31 14:33] ll-vvolodko commented on #24176
We experience same issue with Cypress 10.7. and Node 16.17

When running tests using --spec parameter the screenshots are being generated like this -> `screenshots-folder/spec-file-name/screenshot-name`

When running tests without --spec parameter then the folder structure reflects the folder structure for tests themself -> `screenshots-folder/sub-folder-1/sub-folder-2/spec-file-name/screenshot-na

[2022-10-31 14:37] lmiller1990 commented on #24328
It looks like we didn't share the final conclusion to the question in the post above by @rockindahizzy.

We will deprecate `styles`,`stylesheets`, `mountCallback` and `unmount`. Those will throw **errors** in Cypress 11. The error will explain the deprecation, and link to the migration guide.

[2022-10-31 14:48] amehta265 commented on #24431
@hilmanski Thank you for opening this issue.
Unfortunately, the information you have provided is not sufficient enough to reproduce this issue on my end. I do not know what your parent element `wrapper-pdf-page1` is and therefore I am unable to assert a trigger on the parent element which would then render the child element as explained in the issue.

Unless we receive a reliable reproduction, we'

[2022-10-31 15:03] caozijian666 commented on #24463
Sorry about the copy and paste format.
I wanted to do some research on the cypress source Code, so I downloaded and unpacked the project's source code and put it in the E:\ code \JavaScript\cypress-develop\cypress-develop directory. On Windows, I use Webstorm to open the project folder and use the yarn and yarn start commands to try to start cypress, but the program displays the following error:
<

[2022-10-31 15:07] caozijian666 commented on #24463
（The meaning in Figure 1 is that '.' is not an internal or external command, nor is it a runnable program or batch file.）<img alt="image1" width="525" src="https://user-images.githubusercontent.com/53038115/199039921-85b172ee-bdf0-44a4-8041-daad48892997.png"> Then I use PS E:\Code\JavaScript\cypress-develop\cypress-develop> yarn dev --run-project /cypress-develop/cypress-develop/ The --record --ke

[2022-10-31 15:08] caozijian666 commented on #24463
Then I use PS E:\Code\JavaScript\cypress-develop\cypress-develop> **_yarn dev --run-project /cypress-develop/cypress-develop --record --key <key>_** command, where the program eventually stops： ![image2](https://user-images.githubusercontent.com/53038115/199039973-855d330a-12b5-4cd6-9400-628a243a7605.png) Using the **_yarn dev_** command, you get the same result. ![image3](https://user-images.gith

[2022-10-31 15:20] szykov commented on #22430
@lmiller1990
Thanks for the update. I wish I could help but no time for now.
We use it in DevOps pipelines as env variables when running CLI.
Thanks.

[2022-10-31 15:27] Olivier-Vromans commented on #24406
Yes I can see it, I just cloned it and executed `npm i` than I used `npm run dev` I clicked on test all and everything worked. I went over to Vercel and Deployed it there It build just fine:

[code]

 but still this error:
[code]

[2022-10-31 15:55] marktnoonan opened #24467 "[Run All Specs] - Spec Explorer - Add "run N specs" button to folder rows"
### Summary
Currently, users can filter specs and choose a single one to run in open mode. They need the ability to run the currently-filtered list of specs, which replicates the functionality of Run All in 9.x. This implementation adds an extra ability not possible in 9.x: to further select only a specific folder, to run the subset of specs _currently matching the filter_ in that folder (child fo

[2022-10-31 15:56] marktnoonan opened #24468 "[Run All Specs] - Inline Spec Explorer - Add "run N specs" button to folder rows"
### Summary

Currently, users can filter specs and choose a single one to run in open mode. They need the ability to run the currently-filtered list of specs, which replicates the functionality of Run All in 9.x. This implementation adds an extra ability not possible in 9.x: to further select only a specific folder, to run the subset of specs _currently matching the filter_ in that folder (child f

[2022-10-31 15:58] marktnoonan opened #24469 "[Run all specs] restore legacy "run all" behavior and add "folder level" filter"
### Summary

In the [Run All Specs spike](https://github.com/cypress-io/cypress/issues/23471) @lmiller1990 discussed several options for restoring this behavior. We've chosen Option 1, "Port the exact implementation from Cypress 9." - with one extra wrinkle, the ability to narrow the filtered specs to just those contained underneath a particular folder. So this feature needs to understand "filter

[2022-10-31 16:07] BlueWinds commented on #24434
This is an unfortunate side effect of the way Cypress tries to display helpful error messages. Basically, if a .should() fails, we perform an existence check on the incoming element, and if *that* fails, display that error instead of the original one. This is usually helpful! For example,

`cy.get('#does-not-exist').should('have.class', 'foo')`

fails with `Expected to find element #does-not-exist

[2022-10-31 16:09] kaiyoma commented on #24430
I'm running Cypress like this:

[code]

I don't have debug logs, but if I see this happen again, I'll try to figure out how to get them.

[2022-10-31 16:13] amehta265 commented on #24182
@alecmestroni thank you for providing the updated tests.

[code]

The code attached above has been able to successfully override the `baseUrl` specified in the `cypress.config` file on my system. By introducing the options object and specifying a separate baseUrl for this test suite `{baseUrl: 'https://mobilecapture-test.infocert.it/home?companyId=Demo&dossierId=q3jGE4mr86P1Jv9RXagY' }` we ignore

[2022-10-31 16:22] amehta265 commented on #24361
@lydemann It would be very helpful if you provide a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

Currently, I don't have enough information to go off of. My best guess is that in your `angular.json` file, you

[2022-10-31 16:42] joesobo commented on #23619
Hey @ZachJW34! Was wondering if we could make the `tech-brief` you mentioned public? Would be nice to see your findings in the meantime

[2022-10-31 16:55] mschile commented on #24242
@Ralkage, thanks for the stack trace. The error appears to be coming from this line when `win` is null:

https://github.com/cypress-io/cypress/blob/8547f61029108c005901f9b04a0a41a1e514f245/packages/driver/src/dom/coordinates.ts#L171

Unfortunately, I haven't been able to reproduce the issue. Would you be able to try and setup a reproduction with the [cypress-tiny-test](https://github.com/cypress-i

[2022-10-31 16:58] amehta265 commented on #24406
@Olivier-Vromans I don't understand where the error is stemming from. As you mentioned the build on Vercel was successful. So when is this error thrown? Is it thrown in Vercel or on your local machine?

Have you tried to install cypress from the folder you mentioned. Something like this: `./node_modules/vercel/.cache/Cypress install`

It is very difficult to debug this issue as I am unable to repr

[2022-10-31 16:58] aquanow-rtran commented on #20813
Hi everyone, would just like to leave my two cents on this issue as I am also experiencing it. I have noticed in my tests that the `createTreeWalker is not a function` error occurs when the tests are trying to `get` an element that is currently being loaded in. Have seen two different instances where it has happened. Once when I'm performing a `cy.get().contains()` and another where my table hasn'

[2022-10-31 17:08] amehta265 commented on #24177
@787681277 Could you help me by explaining what you mean by "app cover"?
I am unfortunately not able to understand the issue here. Is the same test file [flaky](https://docs.cypress.io/guides/dashboard/flaky-test-management) i.e. it passes sometimes and fails sometimes? If this is the case, I have not been able to reproduce this on my end. Please provide a reproducible example of the issue you're

[2022-10-31 17:36] nagash77 commented on #24460
Hello @jonascarlbaum , thank for you for submitting your feature request.  Unfortunately I do not think this will make it into our internal teams' prioritized work any time soon.  I will route it to our core team backlog for the time being.

[2022-10-31 17:56] nagash77 commented on #24463
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [Discord server](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2022-10-31 17:56] #24463 closed, assigned to nobody

[2022-10-31 17:57] pstakoun opened #24472 "Conclude Smart Prompt A/B tests"
Remove A/B testing from Smart Prompts and replace with permanent versions that use the content from the following cohorts:
Specs Login Banner: B
Specs Create Organization Banner: A
Specs Create Project Banner: B

There should be no `utm_content` sent on the "viewed" event or any subsequent events (e.g. login, org create, project create). Whereas now we set the content to "A"/"B", we should leave i

[2022-10-31 18:00] yarmakR commented on #20813
@mschile @aquanow-rtran we have it repeated in this and the following runs as well https://dashboard.cypress.io/projects/zz1ryi/runs/3684/overview/411c1463-3742-46aa-9ff7-1c200c3a9363
any thoughts?

[2022-10-31 18:20] emilyrohrbough commented on #24273
I'm not sure I am completely following your use-case. Can you expand a bit more? Maybe share pseudo code on how you have this setup? The sessions command should be clearing the current session and re-applying the saves sessions state at the beginning of each test, so a unique session id shouldn't be needed. Is this action to move an item to the basket happening during validation? Or is your test a

[2022-10-31 18:40] zack-pronto commented on #24093
I too have been running into this issue after upgrading to `10.10.0`. The runs fail about ~70% of the time immediately after the first test file complete its run:

![CleanShot 2022-10-31 at 12 36 41](https://user-images.githubusercontent.com/63250712/199084000-7b00649e-2a1f-40a4-93b0-ac3934221bee.png)

However, I've been able to execute ~8 consecutive successful suite runs after making the `report

[2022-10-31 19:22] mschile commented on #23772
Thanks for the update @MehdiSv, I'll try to take a look at this later today.

[2022-10-31 19:24] mschile commented on #24373
@Hawxy, @Narretz, do either of you have a reproduction I could look at and debug?

[2022-10-31 19:26] myrjola commented on #24459
I found the following workaround by triggering the pointerdown event:

[code]

This makes the test pass both on Firefox and Chrome.

[2022-10-31 19:39] mschile commented on #24305
Possibly related to #23832. Could you please upgrade to Cypress 10.11.0 to see if that fixes the issue.

[2022-10-31 20:09] JessicaSachs commented on #24131
I’m going to use this in my workshop tomorrow :-)

Great workaround. Should find it’s way into the docs.

On Fri, Oct 28, 2022 at 3:36 PM Dan Adajian ***@***.***>
wrote:

[2022-10-31 20:14] AtofStryker commented on #24274
Going to try and gather my thoughts here. I created a revert of the [same-origin-spec-bridges commit](https://github.com/cypress-io/cypress/compare/spike/super-domain-origin-spec-bridges?expand=1) to give this a test to see how the two compare against each other.

Below are some bulletpoints discovered with some differences, from what I believe to be least important to most important

### devtools

[2022-10-31 21:28] mschile commented on #24466
Hey @kenobi-io 👋 , thanks for logging an issue. Following your provided steps, I was unable to reproduce the issue on:

Ubuntu 20.04.4
Node 16.4.2
Cypress 10.10.0

I was able to successfully run both `npx cypress open` and `npx cypress verify`.

Are you behind a proxy? If so, make sure to setup the [proxy configuration](https://docs.cypress.io/guides/references/proxy-configuration).

You may also

[2022-10-31 21:31] hilmanski commented on #24431
Hi sorry for missing the proper reproducable test. I just add the parent div for this case

[2022-10-31 21:48] RolandBurrows opened #24477 "Specs json-reported 'pending' in Cypress 10.10.0 are now json-reported 'pending AND skipped' in Cypress 10.11.0"
### Current behavior

CONTEXT

- https://github.com/cypress-io/cypress/issues/3092

- https://glebbahmutov.com/blog/cypress-test-statuses/

- `pending` - Slightly confusingly, if the user does not want an existing test to run, they can use the it.skip or xit syntax to skip the test or a block of tests. Cypress marks all these tests pending.

- `skipped` - The last test status is for tests that the

[2022-10-31 21:55] myrjola commented on #24459
Unfortunately, the workaround does not work for headless Firefox.

```npx cypress run --headless --browser firefox --spec cypress/e2e/Select.cy.ts```

Will give the following error:

[code]

I tried triggering pointerdown with the following pointerId values: -1, 0, and 1. Nothing seems to work for headless Firefox.

[2022-10-31 21:56] Seth10001 commented on #20286
Setting this environment variable worked for me:

[code]

[2022-10-31 22:17] mschile commented on #24458
Hi @ezekel 👋 , thanks for logging an issue. Are you able to run cypress outside of the `cypress/included` docker image and connect to `http://myapp.local`?

Are you able to provide a reproducible example of the issue you're encountering? Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubl

[2022-10-31 22:26] #24330 closed, assigned to ZachJW34

[2022-10-31 22:53] mschile commented on #24377
Hi @lidiagc 👋 , thanks for logging this issue.

Yes, it does look like that though I can't think of anything that would cause this type of behavior.

Does this happen on all browsers or just Chrome? If you run just a single spec does it happen? Does it also happen in Cypress 10.0.3?

[2022-10-31 22:54] lmiller1990 commented on #2951
He is just doing something like

[code]

[code]

Making 1 spec file that imports the others, so Cypress only launches once (for the 1 spec file).

Not sure this is ideal, but it answers the question you are asking (what did the user do). Most likely you'll want a different `specPattern` for development (so you don't need to run every single spec in open mode, which would make iterating on specs sl

[2022-10-31 23:03] lmiller1990 commented on #22430
In that case the work-around in my above post should be fine - instead of passing the config like you are doing, you can just do a conditional inside `cypress.config.js` with `process.env`. Not ideal, but it will unblock you until we fix the bug.

[2022-11-01 00:22] jinncoder commented on #2681
# cypress.config.js
[code]

Thanks @dr-itz - that worked for me :man_shrugging: (using chrome)

[2022-11-01 01:20] #18480 closed

[2022-11-01 02:20] mschile commented on #23772
@MehdiSv, @amar0120, I'm receiving an "Invalid confirmation code." error when using the codes from [above](https://github.com/cypress-io/cypress/issues/23772#issuecomment-1259677383). Could you create new codes for me?

[2022-11-01 02:26] MehdiSv commented on #23772
Hi @mschile! Thanks for looking into this!
I don't work with Amar. Just happened to have the same issue 😁

I tried to create a sample repo to test with Stripe, and I don't have the issue when I run in headless mode.

I'm guessing the issue must be from our end. We do an additional redirect, after Stripe's redirect and it must cause some issues with Cypress.

[2022-11-01 02:50] mschile commented on #23772
@MehdiSv, thanks for clearing that up for me 😄. I'm not sure why the intercepts wouldn't run when you are in headless mode. If you are able to create a sample repo I'd be happy to look at it though.

[2022-11-01 03:11] amar0120 commented on #23772
Hi @mschile ,
Actually we have restored the db, so the above keys will not work now. I will share the new keys today. Thanks

[2022-11-01 05:22] mschile commented on #24269
@NikitaSheff, thanks for the debug logs. Unfortunately, I didn't notice anything in the logs as being incorrect. You could try running the test with the [`cypress/included`](https://github.com/cypress-io/cypress-docker-images/blob/master/included/README.md) docker image.

`docker run -it -v ${PWD}:/test -w /test cypress/included:10.11.0`

[2022-11-01 07:24] blessanm86 opened #24481 "(Cypress Component Testing + NX) defineConfig is not a function"
### Current behavior

Im trying to setup component testing in an NX project.
I am using a custom webpack config. So after setting that up in the `cypress.config.ts` I get the error `TypeError: (0 , cypress_1.defineConfig) is not a function
`

When I try to log the cypress import, it's just an empty object. Im not sure what to do?
I noticed [this issue](https://github.com/cypress-io/cypress/issues/

[2022-11-01 09:47] robrich7 commented on #22506
in the last update to 10.11.0 a bugfix was included:

![image](https://user-images.githubusercontent.com/70799178/199205426-8b74f55f-11f4-400e-a53e-73bc8d61e792.png)
[#6170](https://github.com/cypress-io/cypress/issues/6170)

this now shows when the browser crashes and then continues with the next test spec. This is a good temporary solution, but it crashes every time I run a test spec, which is j

[2022-11-01 09:48] Olivier-Vromans commented on #24406
I get the error after the build on Vercel when I try to use the button that calls upon the execute.js file. Here in do i use the `cypress.run()` function. As for if I tried to install it from the cypress folder, yes I tried that and it was saying it was installed but when I called it afterwards it said No version of Cypress is installed. For my Vercel account I am using a Hobby account I don't kno

[2022-11-01 09:49] lchhieu commented on #22186
@obajaddi what is your solution to solve this issue ? I'm using cypress v9.x so cannot use experimentalModifyObstructiveThirdPartyCode in version 10.x

[2022-11-01 10:01] lucasdonato commented on #24305
show

[2022-11-01 10:21] JessefSpecialisterren commented on #24434
@BlueWinds Thank you for the response! I agree that, for non-callback assertions, this logic makes sense 🙂. However, for callback assertions, it may actually be confusing. Getting `Expected to find element` seems to imply that Cypress checks for existence, where it actually only does that when your callback throws. This confused me a great deal when I first ran into it, with a callback like this:

[2022-11-01 10:37] Narretz commented on #24373
@mschile That's a bit difficult because the error is caused only with auth0 as it looks right now. Does the Cypress team have an auth0 setup we could use for a repro?

[2022-11-01 10:43] NikitaSheff commented on #24269
Interestingly, I'm not the only one having difficulty logging into the site..

[2022-11-01 10:52] Giacomo-Papaluca commented on #24305
Yes, version 10.11.0 seems to fix it. Thank you @mschile 👍

[2022-11-01 10:52] #24305 closed, assigned to mschile

[2022-11-01 10:59] mudit94 opened #24482 "enable typing in browser console"
### What would you like?

to be able to execute commands which we run in browser console, and use assertions on the output

### Why is this needed?

to be able to run browser console commands in cypress

### Other

_No response_

[2022-11-01 11:01] NikitaSheff commented on #24269
![image](https://user-images.githubusercontent.com/99482593/199219088-328aa1ba-fcd6-40a5-bb99-08fdabe059b4.png)

@mschile

[2022-11-01 11:03] mudit94 commented on #300
how can we type into cypress browser console and assert on the returned value using cypress

[2022-11-01 12:30] CypressBeginer05 opened #24485 "cy.origin() feature for cross domain not working"
### Current behavior

Hi Everyone,
I am trying to use Cypress v10.11.0 for one of my application.
I am trying to use cy.origin() feature , but it simply gets timeout. I have gone through many existing related issues, but they are at least using login button when they gets landed to their application home page.
But here in my case i want to internally redirect to  microsoftonline for authentication

[2022-11-01 13:04] MichaelPote commented on #21530
This is still an issue, @jarrodpan it would be good if you could get that pull request going again?

[2022-11-01 13:09] wilsonpage commented on #20476
I had a similar issue with `cy.visit()`, here's my workaround 👇

[code]

[2022-11-01 13:18] annaswan0001 opened #24486 "Webpack compilation error"
### Current behavior

Writing e2e tests with cypress 9.7.0 (with CRA 17), it's been fine for a half a year. I has been not creating new tests for 1 month. But few days ago only wrote command cypress open  and now I have this Error: Webpack Compilation Error - Unexpected сharacter.
![WP compilation error](https://user-images.githubusercontent.com/42541919/199240585-66be6d78-3bfa-4095-aceb-505034c9d

[2022-11-01 13:48] extracker-ppetrov commented on #21135
Here is a video, with dev tools open so you can see the memory spike once a test fails:
https://www.loom.com/share/922e1a78c4a24abe8c5c68d08af861a3

[2022-11-01 13:58] extracker-ppetrov commented on #21135
Here is a video so you can see the spike in memory once a test fails and how it crashes the runner afterwards:
https://www.loom.com/share/0f4c387b11964f57a4c4ddf90ec5547e
The test suite has 21 test in it. It crashes at usually between the 5th and the 7th.
What I noticed by separating the test in separate suites is that the memory consumption raises super fast when doing assertions and when enterin

[2022-11-01 14:14] viktorgogulenko commented on #5842
Any updates here? Seems making screenshots with Cypress is a big mess - we are trying to use it for our snapshot testing and with each build we are receiving different image sizes even if nothing was changed in code and the same Docker container was used.

[2022-11-01 14:17] ZachJW34 commented on #23619
It is a private document but contains no sensitive information so I'll copy and paste the contents below

----------------------------------------------------------------------------------------------------------------------------

Our current implementation of Nuxt 2 relies on accessing Nuxt's webpack config via an exposed getWebpackConfig function. Not only does this function no longer exist, bu

[2022-11-01 14:29] ricardostaudt commented on #24418
Just to give a little more context to the problem: this is a Salesforce page and even though it doesn't require authentication it may have something to do with the salesforce authentication process, I've had similar problems running Salesforce tests with Selenium in environments that had security features/monitors enabled. My guess is that the way Cypress captures traffic interferes with Salesforc

[2022-11-01 14:30] mschile commented on #24269
@NikitaSheff, are you running the command from the folder with your `cypress.config.js` file?

[2022-11-01 15:08] RohithQualiT opened #24487 "Performance issue with the cypress"
### Current behavior

Tool is taking very much longer time than usual to run the test cases on both locally & dashboard. Tool is making much irritation with lots of flaky tests that are caused due to cypress. Please go through the video once: https://www.loom.com/share/04324e2221034e24819e7401ca168048

### Desired behavior

_No response_

### Test code to reproduce

 enterSearchTerm(searchText) {

[2022-11-01 15:45] #23427 closed

[2022-11-01 15:49] amehta265 commented on #24431
@hilmanski Thank you for updating the test!

Unfortunately I still do not have enough information to accurately reproduce this issue. I do not know what your tailwind configurations and classes look like and therefore I cannot accurately mimic the `group-hover` styles on your elements. Secondly, I do not have the logic behind "...if the parent is hovered, then the child should change the value bas

[2022-11-01 15:52] BlueWinds commented on #24434
That all plays into some work I've been considering around how `.should()` works in general (did you know assertions run *as part of* the previous command? Weird, I know) - but that's a longer-term project, probably won't happen in the next couple months.

As a more immediate solution, we'd absolutely welcome a docs PR to explain it more clearly.

https://github.com/cypress-io/cypress/blob/a451d17

[2022-11-01 16:10] mrttrifork commented on #8787
We are also experiencing this error in the time travel. Our issue is that Cypress tries to initiate the custom element without any arguments

We get this error

![image](https://user-images.githubusercontent.com/36661752/199278233-bed509da-c154-4f7a-8785-2e0102960fe7.png)!

I assume it's because Cypress tries to set `innerHTML` or using `document.createElement` with the custom element inside of it

[2022-11-01 16:11] BlueWinds commented on #24434
Oh, or you could do something like `isCypressErr(err) || isAssertionErr(err)`, to check if it's a cypress-generated error message - that's probably better than looking specifically for cmds (`.should()`s) with callbacks. I haven't played with it to be sure, but that'd be a more general solution to try out first.

[2022-11-01 16:13] amehta265 commented on #24416
@jamesarosen Thank you for opening this issue as well as providing a work around to this issue. I have been able to replicate this on my end and will be investigating this further.

[2022-11-01 16:39] cgraham-rs commented on #3485
Another vote.

I would personally use this to replay IFRAME-based tests since time travel is entirely useless in this scenario.

[2022-11-01 16:40] cgraham-rs commented on #23824
Have been experiencing this issue for a while and have been ignoring it. But lately have been chasing flake and test failures and the fact the video freezes for long periods of time makes debugging impossible.

* Github Actions
* Cypress 10.10.0 (and at least some versions prior)
* Cypress Dashboard
* Chrome videos (since Firefox videos still do not work at all for the past year)

[The Cypress Das

[2022-11-01 18:00] jordanpowell88 commented on #24481
Do you have a `cypress.json` file in the root of your workspace?

[2022-11-01 18:02] #24297 closed, assigned to AtofStryker

[2022-11-01 18:23] EandrewJones commented on #23761
I know this is closed but there's another aspect of the relationship between components and pages that adds a wrinkle to the E2E/Component distinction in NextJS.

You note:

In theory, there's a clean separation of components and pages, but in some cases components' dependency trees extend all the way back to `pageProps`. Is it great practice to have this coupling, no. But it's more common in Next

[2022-11-01 18:27] NikitaSheff commented on #24269
@mschile Well, with this way it works!
![image](https://user-images.githubusercontent.com/99482593/199310045-dfbd21e2-965c-47a2-8170-6cb962162bcf.png)

[2022-11-01 18:31] NikitaSheff commented on #24269
[code]

Nevertheless, this is what I see when I'm trying to visit my site in terminal

[2022-11-01 18:39] rodrigosantosbh commented on #15020
Eu estava com um problema parecido e funcionou a solucao acima.

Meu problema era este:
cy.get('#loginForm\:username')

Entao inseri 2 barras antes e o erro sumiu.
cy.get('#loginForm\\\:username')

[2022-11-01 18:53] blessanm86 commented on #24481
@jordanpowell88 oh I deleted it and it works. 🙌

The `cypress.json` file only had `{}` in it. Not sure if its required.
We are actually currently on Cypress 9.x. I just updated it to 10 to try out component testing in our app.
Will need to see if the existing cypress tests in other apps work.

I believe some updates are needed on NX cypress generator for it to work with apps using custom webpack c

[2022-11-01 18:55] jordanpowell88 commented on #24481
You're welcome!

[2022-11-01 18:55] #24481 closed, assigned to jordanpowell88

[2022-11-01 19:20] mschile commented on #24418
Thanks for the update. I'm going to try and take a look at this today to see if I can determine what's going on.

[2022-11-01 19:22] mschile commented on #24482
@mudit94, I'm not sure I am following your request. Could you please go into more detail about your request and possibly provide code examples of what you are trying to do. Thanks!

[2022-11-01 19:54] #24138 closed, assigned to amehta265

[2022-11-01 19:59] amehta265 commented on #24375
@LaurynasCiapas Thank you for opening an issue.
After further investigation, I am unable to replicate your issue. This is what my config file looks like:
[code]
I followed the steps you listed in the issue.
1. I launched cypress and ran some tests with the basic config (as shown above) without a host object just loading the localhost.
![Image](https://user-images.githubusercontent.com/65267668/199

[2022-11-01 20:06] mschile commented on #24485
Hi @CypressBeginer05 👋 , yes, you should be able to login to microsoft even when the application redirects. Before you optimize with `cy.session` and the custom login command, I would suggest getting the microsoft login to work first.

Here is some sample code to try. I'm also setting [`experimentalModifyObstructiveThirdPartyCode`](https://docs.cypress.io/guides/references/experiments#Configuratio

[2022-11-01 20:22] jps commented on #7251
I don't see why this is closed when this is clearly still an issue, it just too me 18mins, I'm on WSL also
![image](https://user-images.githubusercontent.com/350953/199333002-0d120c4d-3fb4-4360-b63e-b3c226bbe35b.png)

For reference I can download a 3.6gb ubuntu iso is 1min 30secs

[2022-11-01 20:36] mjhenkes opened #24492 "When Intercepted, aborted XHR requests do not resolve the cy.wait command."
### Current behavior

cy.wait will timeout when waiting on an intercepted aborted xhr call. (See test code)

### Desired behavior

The wait should resolve when the xhr request is aborted by the browser.

### Test code to reproduce

[code]

### Cypress Version

10.11.0

### Node version

16.16.0

### Operating System

MacOs

### Debug Logs

_No response_

### Other

_No response_

[2022-11-01 21:00] amehta265 commented on #24209
@munkinugget After going over this issue again it seems as though my solution does not entirely solve the typescript errors associated with cypress in your Yarn 3 project.

For the time being it seems as though Yarn 3 is not correctly handling `tsconfig` types correctly as you will see in this [issue](https://github.com/yarnpkg/berry/issues/3117) and [here](https://stackoverflow.com/questions/7157

[2022-11-01 21:12] hilmanski commented on #24431
Hi @amehta265
I think the tailwind configuration not necessary in this case. It's all in tailwind.
A group and group-hover is a default behavior on tailwind https://tailwindcss.com/docs/hover-focus-and-other-states#styling-based-on-parent-state

[2022-11-01 22:12] irving-ventura-shift commented on #24093
@amehta265 I haven't tested it out yet, I was skeptical of it as it didn't feel it would do anything, the code is failing inside the code block dedicated to the `spec` reporter, the constructor for the reporter is already defaulting to `spec`, not sure why forcing it to `spec` once more would solve the issue, but after @zack-pronto report, I will give it a shot and report back.

Ideally I'd love t

[2022-11-01 22:18] amehta265 commented on #24209
Related issue: [issue-19229](https://github.com/cypress-io/cypress/issues/19229)

[2022-11-01 22:33] amehta265 commented on #24486
@annaswan0001 Thank you for opening this issue.
Based on the screenshot and `webpack config` it looks like the correct loaders may not have been configured to handle certain file extensions in your `webpack config` file. Based on your first screenshot you may need to declared `css-loaders` and `style-loaders` in your `webpack config` to handle the `.css` files.

Have you tried upgrading to to cypr

[2022-11-01 22:41] archfz commented on #20911
I am getting this issue on cypress 10.10.0. I was before on 9.5.3 and it wasn't reproducing. The whole cypress process dies. Removing target blank only improves this by not crashing cypress, but download still doesn't work.

[2022-11-01 22:48] amehta265 commented on #24459
@myrjola Thank you for opening this issue and providing a reproduction!
I have been able to reproduce this on my end and I am working on providing some resolution to this issue

[2022-11-01 23:04] lmiller1990 commented on #24487
That looks painful, quick question:

Suggests this was not always the case, do you know when this was introduced (eg, did you update Cypress version, update some dependency, something changed)?

Also any way we can access the test instance you are using (if we cannot reproduce, hard to debug).

[2022-11-01 23:14] archfz commented on #18547
The alternative proposed is far from ideal, as it only covers simple cases. In my case the URL is generated dynamically on JS side for the download file. I cannot assert on anything unless I click the button, which in turn breaks cypress or hangs it on 10.10.0

[2022-11-01 23:14] lmiller1990 commented on #24398
I wonder if you launch Cypress with sudo does it make a difference? Obviously not a real solution, but it would be one way to verify it's definitely a permissions issue.

We need `utimeSync` to force webpack to re-compile when a new spec file is added or removed. By commenting this out, you would need to restart Cypress every time you add a new spec (when using webpack dev server).

If someone who

[2022-11-01 23:41] lmiller1990 commented on #23761
@EandrewJones great comment... I have been running into a similar issue (not with Next.js, but testing components that have a server dependency). `cy.intercept` is pretty nice, but I agree it introduces a lot of boilerplate and doesn't scale very well.

I also found a similar problem testing components using GraphQL with `useQuery`. I don't really want to stub the API call, but I also don't want t

[2022-11-02 00:35] danielvianna commented on #23830
@AtofStryker . I'm not sure if you checked, but we bumped up the version of Node and tests became slower or didn't improve at all

[2022-11-02 00:43] Brayxeh commented on #23640
@rodriguesgio did you find a workaround?

[2022-11-02 00:52] Ralkage commented on #24242
@mschile I think we are good here, looks to be a change we made in our product when introducing a new feature; you can go ahead and close this issue :)

Thank you for your time and patience!

[2022-11-02 01:03] dream2023 opened #24494 "SolidJS component test"
### What would you like?

Add the component testing function of solidjs.

### Why is this needed?

[solidjs](https://github.com/solidjs/solid) is a new frontend framework, and it has a high retention rate and interest. I think more and more people will use it

![image](https://user-images.githubusercontent.com/19297757/199370107-5ef31e15-da20-43f0-be6c-1d2bb58e0968.png)

[https://2021.stateofjs.co

[2022-11-02 03:25] #24242 closed, assigned to mschile

[2022-11-02 04:57] lmiller1990 opened #24495 "Scaffolds TS file for TSX project"
### Current behavior

I followed the quickstart https://cypress-documentation-git-react-ct-guide-rework-cypress-io.vercel.app/guides/component-testing/react/quickstart#Install-Cypress

I made a new test with the "create new test" button. It made `cypress/component/ComponentName.cy.ts`. That's not very useful for React, I need a TSX file. I had to rename it manually.

### Desired behavior

Give me

[2022-11-02 05:54] Hawxy commented on #24373
@Narretz Are you also using a custom auth0 domain for logins? I've been testing this and it appears to be the cause. Using the auth0.com domain works fine.

[2022-11-02 06:13] Hawxy commented on #24373
@mschile I've been able to reproduce this against auth0's lab environment which uses a custom domain. Updating to 10.11.0 fixed the error being thrown (maybe it's being caught internally?) but the origin is still not working:

https://github.com/Hawxy/auth0-cypress-reproduction

`npm i` & `npx cypress open`.

[2022-11-02 06:15] lmiller1990 commented on #22642
Here's a simple example showing how to make a mount function for Web Components: https://github.com/lmiller1990/cypress-web-components-example

We can no doubt do something similar for Marko!

[2022-11-02 06:15] lmiller1990 commented on #24054
Here's a simple example showing how to make a mount function for Web Components: https://github.com/lmiller1990/cypress-web-components-example

We can no doubt do something similar for Stencil!

[2022-11-02 06:16] lmiller1990 commented on #24494
Hi, I have had my eye on Solid for a while, let's collaborate.

As we learned from https://github.com/cypress-io/cypress/pull/24250 adding a new library is a bit too involved right now. We are thinking about a better public API so third party contributors don't have to figure out how to wire it all up.

Here's what I think we should do right now:

## 1. Create the `mount` function

Do this in a **

[2022-11-02 06:43] MuhtasimMusfiqZarab commented on #136
Thanks a lot... brother.

[2022-11-02 07:35] TapaiBalazs commented on #24398
@lmiller1990 Thank you for your input! Based on that I was able to create a reproduction:

See the video:
https://user-images.githubusercontent.com/13385210/199425420-1725de39-ba00-4c3d-8f4a-95adcd73e1c3.mov

Which I also uploaded to this reproduction repository: https://github.com/TapaiBalazs/cypress_24398_repro

Please let me  know if I can help you further

---

So, in my opinion, there are two

[2022-11-02 08:31] Narretz commented on #24373
@Hawxy yes, I'm also using a custom domain.

Cool that you've created a repo. My setup looks much the same, but without cy.session. Is it necessary for the failure to occur?

[2022-11-02 08:50] AlienLifeForm-UMA commented on #6081
I have the same issue and have to add "source ~/.zshrc" to all exec commands for nvm/Node to work. So it seems that Cypress doesn't actually run the zshrc file even when using zsh? I checked using echo $0 and it is using zsh.

[2022-11-02 09:39] tzioprodly commented on #24290
Hey guys, I am also experiencing this issue...

[2022-11-02 10:02] alecmestroni commented on #24182
Neither this solution is working..
Hope with the reliable reproduction the proposed solution will be better next time..
https://github.com/alecmestroni/cypress-webcam

[2022-11-02 10:23] Hawxy commented on #24373
No, it's not. The issue is specifically with `cy.origin` it seems.

[2022-11-02 10:44] rasmusrim opened #24496 "Cypress crashes in Docker in servercore:ltsc2022"
### Current behavior

The tests do not run.

This problem will turn up:

    cypress:server:browsers:browser-cri-client error finding browser target, maybe retrying { delay: 100, err: Error: connect ECONNREFUSED 127.0.0.1:49191 at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1187:16) { errno: -4078, code: 'ECONNREFUSED', syscall: 'connect', address: '127.0.0.1', port: 49191 } }

And then

[2022-11-02 10:59] oatsoda opened #24497 "Incorrect Configuration error with testIsolation setting when experimentalSessionAndOrigin is true"
### Current behavior

If you have a config like this:

[code]

Then running Cypress _works just fine_.

*However, if you make _ANY_ change to the config, then you'll get an error:

[code]

You have to restart Cypress for it to work again.

### Desired behavior

The error is incorrect as `experimentalSessionAndOrigin` *is* `true`.  So it just shouldn't error.

### Test code to reproduce

[code]

##

[2022-11-02 11:41] aruns05 commented on #16262
I am getting this even having the cypress 10.2. The browser is chrome. Can @jennifer-shehane please help

[2022-11-02 12:25] Lukasz-Debiec commented on #8232
I got stuck for 2 days on this and in my case I had to explicitly tell the API what type of encoding I'm expecting to get:

`cy.request({
            url: 'your-url',
            encoding: 'binary'
          }).then((res) => {
            cy.writeFile('cypress/downloads/whatever.pdf', res.body, {
                encoding: 'binary'
              })
        })`

Check the request object, I'm explici

[2022-11-02 12:41] 787681277 commented on #24177
How to understand "app cover"? I am sorry to make you confused.
For original baseline image,When testing is running in targeted browser Chrome, I don't do anything until testing is over ====>There is border border when executing cy.click()
For current image,When testing is running in targeted browser Chrome, I am doing something else: use mouse to click another app A, that means another app A is b

[2022-11-02 14:01] CypressBeginer05 commented on #24485
Thank you @mschile for quick suggestion. After your suggestions now I am able to login to my application after microsoft authentication.
I have used cy.session here as I want to keep my session live and this login will get called only once, and not required for other test scripts of my application.
Here is code
**cypress.Config.js**

` export default defineConfig({`
  ` e2e: {`
`    baseUrl: 'http

[2022-11-02 14:02] #24485 closed, assigned to mschile

[2022-11-02 14:14] mschile commented on #24373
@Hawxy, thanks a lot for taking the time to create a reproduction! I'm hoping to get some time today to take a look at it.

[2022-11-02 14:31] mschile commented on #24497
Hi @oatsoda 👋 , thanks for logging this issue! I was able to reproduce the issue and will route it to the appropriate team.

[2022-11-02 14:54] kevin-tst opened #24500 "Jira Cloud integration is broken"
### Current behavior

Step 5 of your instructions doesn't work.
https://docs.cypress.io/guides/dashboard/jira-integration#Installing-the-Jira-integration

### Debug logs

_No response_

### Cypress Version

10.3.1

### Node version

16.16.0

### Package Manager

npm

### Package Manager Version

5.0

### Operating system

Mac

### Operating System Version

5.0

### Other

_No response_

[2022-11-02 15:11] emilyrohrbough opened #24501 "(fix) when `testIsolation=on`, always clear page before session command finishes"

[2022-11-02 15:12] emilyrohrbough commented on #24501
Duplicate of https://github.com/cypress-io/cypress/issues/21397

[2022-11-02 15:12] #24501 closed, assigned to nobody

[2022-11-02 15:14] amehta265 commented on #24182
@alecmestroni  Thank you for providing a reproduction
I had a couple questions:
When running `cypress open` do you also receive the following error message as I receive in the reproduction before you run the e2e tests?

![Image](https://user-images.githubusercontent.com/65267668/199520383-7f2665fa-4a50-478b-b4db-6331491baccd.png)

If you do, Cypress is giving you that error because at the time tha

[2022-11-02 15:14] jeffscottward opened #24502 "Mismatch of function signatrues for `.each` method between cypress and jQuery"
### Current behavior

Flip flopping back and fourth between return value types depending on if you are working on a Cypress object or a JQuery object caused major confusion for me.

<img width="1022" alt="Screenshot 2022-11-02 at 11 05 59 AM" src="https://user-images.githubusercontent.com/1263486/199526806-9c50f6d5-a5fe-486c-a4b7-6c9b059c4d16.png">
<img width="999" alt="Screenshot 2022-11-02 at 11

[2022-11-02 15:19] #24342 closed, assigned to lmiller1990

[2022-11-02 15:25] dream2023 commented on #24494
I finished the work, see [cypress-solidjs](https://github.com/dream2023/cypress-solidjs).

 And I wrote some [test cases](https://github.com/dream2023/cypress-solidjs/tree/main/cypress/component), It works very well.

[2022-11-02 15:27] dream2023 commented on #24494
Next, I will use some real projects to verify this package.

[2022-11-02 16:15] alecmestroni commented on #24182
As I told in a message 13 days ago, my baseUrl is the problem..
So i tried different baseUrl:
_If I remove the base URL or change it with another one (could be fake and not reachable):
reachable
e2e: { baseUrl: 'https://learn.cypress.io/', },
unreachable
e2e: { baseUrl: 'https://test', },
the webcam simulation works fine.
I need my baseUrl to be configured for other tests, so I can't remove it or

[2022-11-02 17:28] mschile commented on #24418
@hraichonaky, fyi, it looks like https://power-inspiration-1088-dev-ed.scratch.my.site.com/ebikes/s/ is currently down.

![Image](https://user-images.githubusercontent.com/2002044/199559685-2e45d696-516a-4760-9797-f073d8d20646.png)

[2022-11-02 17:52] SalahAdDin commented on #19651
[code]

This one is an example.

[2022-11-02 18:06] AtofStryker commented on #24446
Spike branch is [spike/cy_initial](https://github.com/cypress-io/cypress/tree/spike/cy_initial) and [CI](https://app.circleci.com/pipelines/github/cypress-io/cypress?branch=spike%2Fcy_initial). Looks like we can leverage isAUTFrame in Cypress 12 and likely should be able to get rid of the initial cypress cookie. Some of the injection rules need to be tweaked in the branch, especially partial as e2

[2022-11-02 18:07] #24274 closed, assigned to AtofStryker

[2022-11-02 18:11] AtofStryker opened #24506 "Improve cy.origin time travel snapshots"
### What would you like?

Since Cypress 10.9.0, the implementation for cy.origin snapshots needs to be revisited. Currently, in transitionary states, the snapshots do not provide a lot of value and show a cypress-in-cypress snapshot. Ideally, a snapshot of the transition should be shown, and if not available, no snapshot should be taken.

### Why is this needed?

This is important for cy.origin us

[2022-11-02 18:15] AtofStryker opened #24507 "Build out permutation chart for simulated cookies"
### What would you like?

Build out a list of combinations of when top needs to be simulated for cookie behavior, similar to the table in the description of #23872 but also including what top is in the diagram. This diagram should live within the cross-origin doc, like a MD file, for developers to view.

### Why is this needed?

So cookie simulation is documented to allow for it to be somewhat und

[2022-11-02 18:44] AtofStryker commented on #24446
@mjhenkes I don't think we can add this to the initial 12.0.0 scope with the fear we might break injection with already a large list of changes, but this shouldn't be a breaking change but might cause side effects. Maybe a minor release in 12 along the way?

[2022-11-02 19:23] GrumpyMeow commented on #18569
I'm also having this issue. I've extended the cypress/included:10.11.0 container as a devcontainer. When running `npx cypress info` i get the same error.   Running `cypress info` (without npx) doesn't give error.
I just noticed that if i "cd" out of my repository folder (which is a mapped container volume), the command "npx cypress info" runs without an error :-S.
In my workspace folder: `
`/works

[2022-11-02 19:33] kaiyoma commented on #24430
Just ran into this again:

[code]

This is definitely still a problem. @nagash77 @amehta265 What kind of logs do you want me to try to get?

[2022-11-02 20:02] robrich7 commented on #22506
tested it with the `cypress/browsers:node16.18.0-chrome107-ff106-edge` image and `cypress 10.11.0`. At the first Testspec the chrome browser crashed. it would have been too good to be true :grinning:

[2022-11-02 20:07] AtofStryker commented on #24373
Hi @Hawxy and @Narretz. @mschile and I spent some time investigating today and saw the code worked in `10.9.0` and `10.10.0`, but stopped working in `10.11.0`. The behavior in `10.11.0` is actually the correct behavior, but the error message isn't helpful. I'll try to explain.

Cypress allows users to use `cy.visit` without `experimentalSessionAndOrigin` to urls that are otherwise the same, but th

[2022-11-02 20:15] cubanx opened #24509 "Reached heap limit Allocation failed - JavaScript heap out of memory"
### Current behavior

When we run our test suite with Cypress 10.9.0 or greater (I've tried them all, 9, 10, 11), we get an error similar to below.

If we run 10.8.0 this error does not occur.

We've tried increasing the node memory with `NODE_OPTIONS=--max-old-space-size=8192` and it still happens. It happens about 5 to 6 spec files later, but still runs out of memory.

It is SUPER consistent tho

[2022-11-02 20:37] mschile commented on #23937
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward. You may also want to try upgrading to Cypress 10.11.0 which has a few additional fixes in `cy.origin`.

Please open a new issue with a repr

[2022-11-02 20:56] conversayShawn commented on #24500
Hi @kevin-tst
Thanks for getting the requested information.

[2022-11-02 20:57] mschile commented on #24269
@nikolalsvk, since you're able to successfully run the test using the docker image, there appears to be a difference with your specific system setup. Here are some details about the [docker image](https://github.com/cypress-io/cypress-docker-images/blob/master/included/10.11.0/Dockerfile#L8) that you used.

Unfortunately, if we cannot reproduce an issue there isn't a whole lot that we can do, and

[2022-11-02 20:58] mschile commented on #24167
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-02 20:58] #24167 closed, assigned to mschile

[2022-11-02 21:00] mschile commented on #20813
@yarmakR, unfortunately, I don't have access to view your project. Do you have a link to your project code that I could debug?

[2022-11-02 21:12] hraichonaky commented on #24418
@mschile
Seems that Salesforce playground environments are temporary (flushed in few days). Just deployed a new on  - please use that https://customer-force-8778-dev-ed.my.site.com/ebikes/s/

[2022-11-02 21:13] archfz commented on #18972
For me it hangs when I remove the target blank attribute. In cypress 10.10.0

[2022-11-02 21:38] clazette opened #24512 "@cypress/grep cannot find module cypress-grep or it's corresponding type declarations"
### Current behavior

Support file, Config file, and the tsconfig file installation instructions are incorrect.

Module names and paths are incorrect.

Support file: I am getting a _could not find a declaration file for module @cypress/grep/src/support_ as that's what I have at the moment. Following the readme, the error is _Cannot find module 'cypress-grep'_. Additionally, the function appears to

[2022-11-02 22:12] amehta265 commented on #24398
@TapaiBalazs Thank you for providing a reproducible example.
After further investigation it seems as though this is a permissions issue.
As @lmiller1990 explained, when you create a new spec file,  `uTimesSync` updates the timestamp for `browser.js` file thereby 'tricking' webpack to re-bundle - in the process adding the newly created spec file to the new bundled `browser.js` file.

The issue on m

[2022-11-02 22:18] AtofStryker commented on #22541
Done in `cypress-origin-providers` with auth0 integration test and okta SPA test. runs in CI

[2022-11-02 22:18] #22541 closed

[2022-11-02 22:23] MohanVallivedu opened #24513 "setupNodeEvents does not trigger for components in cypress.config.js"
### Current behavior

Hello team,
It seems that the setupNodeEvents, especially on('file:preprocessor') event is not getting triggered for component testing. It is working for e2e tests (when I run a test, I can see the event is triggered and I can print the filePath) but not for the component tests

My cypress.config.js:
[code]

I expect to see the file object in my console, which is not happenin

[2022-11-02 22:45] amehta265 commented on #24182
@alecmestroni I am once again getting this error accessing the url:

![Image](https://user-images.githubusercontent.com/65267668/199614889-c4e76eb9-63a5-442a-893f-50ba1ad09617.png)

[2022-11-02 22:47] danielvianna commented on #23830
I see @mschile is assigned for this task, I can invite you to our repository if you want

[2022-11-02 23:08] mschile commented on #23830
@danielvianna, yes, you can invite [me](https://gitlab.com/mschile) to your repository. I see you are upgrading from Cypress 8 to 10 so your issue may not be the same as described by the OP since they are upgrading from 10.7 to 10.8. If you run version 10.7 do you still see the performance issues?

Has anyone upgrading from 10.7 been able to create a reproduction that they can share?

[2022-11-02 23:13] #21768 closed

[2022-11-02 23:22] brianharman commented on #24512
I actually stumbled across this today as well. @clazette Thanks for reporting!

[2022-11-02 23:56] amehta265 commented on #24459
@myrjola Looks like the `invalid pointer ID` is thrown If the pointerId does not match any the active pointers and so returns void and throws a DOMException with the name InvalidPointerId . I believe this is happening because the captured pointer is being automatically released by firefox a fraction earlier, so by the time the `pointerdown` listener is called, the component no longer has a valid p

[2022-11-03 00:21] lmiller1990 commented on #24494
Nice, looking good so far. I will try it out, too.

In Cypress 11 we are removing the `unmount` function from React, and just recommending people use the native ReactDOM.unmountNodeAt... API. Is there something simiilar for Solid? Cypress 11 will be out soon - minor changes, but we are trying to standardize the `mount` API across frameworks.

[2022-11-03 00:40] dream2023 commented on #24494
Solid not like React, but more like Vue or Svelte. for example:

[code]

[code]

`@cypress/vue` and `@cypress/svelte`  have not been exported to `unmount`. Do I need to remove `unmount` ?

[2022-11-03 00:53] clazette commented on #24512
You bet, @brianharman.

[2022-11-03 01:42] Hawxy commented on #24373
Thanks for the investigation, I've tested it and that was the issue. It also explains why it would work fine when running on localhost but not against our cloud environment running on a subdomain. I've updated our implementation with a check to only use `origin` when running against localhost and we appear to be back in business.

[2022-11-03 01:42] #24373 closed, assigned to nobody

[2022-11-03 03:00] AtofStryker commented on #24373
@Hawxy glad to know that resolved your issue! If you run into any other trouble please let us know and hopefully some of the messaging changes we make in the near future help avoid this type of stuff from coming up 🙂

[2022-11-03 03:11] glomotion opened #24514 "Parallel cypress test run failures now much more often"
### Current behavior

We have configured our cypress/react tests setup to run parallel in github actions across 6 different machines.

Just recently (after upgrading to 10.10.0) - we are now often seeing our test runs in cicd fail with the following response (> 50% of the time):
[code]

Until 10.10 - all of these tests were passing 100% in parallel in cicd. We are also seeing the same thing happen

[2022-11-03 04:42] lmiller1990 commented on #24494
Yeah I'd recommend removing unmount for now, until we figure out if we want to have it. If we do, ideally, we'd implement it for all frameworks at once.

Any good open source apps using Solid we could add Cypress to and give it a try against some more complex components?

[2022-11-03 05:19] lmiller1990 commented on #24513
Component Testing serves all the files via your dev server (Vite/webpack). I don't think they run through the file:preprocessor lifecycle hook.

In your example you do:

[code]

But you don't actually do anything with `report`. In your real code base, what happens next? Do you write that to a file somewhere? Or do you want the linting to show up in the runner when you tests executes?

I am not sur

[2022-11-03 05:32] lmiller1990 opened #24515 "Implement Create from React Component"
### What would you like?

Implement Create from React Component based on designs and [tech brief](https://github.com/cypress-io/cypress/issues/23525).

[2022-11-03 05:45] myrjola commented on #24459
Thanks for looking into this. With your fix, the Firefox test is working. However, the headless Firefox test still fails. It seems the dropdown menu does not appear after `cy.findByLabelText(/choose a size/).click();`.

![image](https://user-images.githubusercontent.com/36122/199654914-1efe281f-2891-4f8a-87e3-740bda20049c.png)

[code]

[2022-11-03 06:51] Hypenate commented on #6350
Running into the same issue.
Using `compat` of AngularFire

[2022-11-03 07:37] Bohdan-Kalynovskyi commented on #24395
Couldn't create a simple repo to reproduce yet.

Good news is that adding `Content-Type: application-json`. Fixed the issue for me, and hopefully, this thread would help others if similar things occur in future

[2022-11-03 07:44] jwedel commented on #23617
Hi @emilyrohrbough , were you able to look at my FR? Is it feasible to implement or is it maybe already possible and I just didn't find it in the docs?

Thx, Jan

[2022-11-03 07:53] TapaiBalazs commented on #24398
@amehta265 I use Webstorm, but I can confirm that when I added it to the full disk access list in the settings, the issue is not present anymore.

Although, I do wonder how good of an idea it is to give full disk access to an IDE. 🤔

[2022-11-03 08:54] alecmestroni commented on #24182
@amehta265 I fixed the link in the repo now should be up 24/24h.
Try again please

[2022-11-03 08:58] lydemann commented on #24361
@amehta265

You are right, seems to work.

<img width="1551" alt="image" src="https://user-images.githubusercontent.com/9210691/199681165-8104595c-9237-4feb-bf99-961554b0bd22.png">

[2022-11-03 09:42] SalahAdDin commented on #10
I couldn't make it work.

[2022-11-03 09:58] dmtrKovalenko commented on #10
You can use cypress-real-events to test css as well.

[2022-11-03 10:26] gofr opened #24518 "@cypress/grep grepTags syntax is not expressive enough"
### What would you like?

Allow `grepTags` syntax to have logic expressions. That is, support *parentheses*, so you can do something like this:

    (@feature1 @feature2 @feature3)+@smoke

to run all the smoke tests, but only for features 1, 2 and 3.

### Why is this needed?

cypress-io/cypress-grep#119 had a similar request as I described above and implemented this by adding an extra NOT operator

[2022-11-03 10:38] gofr commented on #24514
I've run into this issue before.

Your failures are caused by this change: https://github.com/actions/runner-images/commit/0c8b93e28a4076a77df756bbb3f69ac72bceca9f

GitHub periodically updates Chrome to the latest version on their action runners. The runners aren't all updated at the same time. They are upgraded over a period of a few days. You can't control which action runner versions your workf

[2022-11-03 10:53] glomotion commented on #24514
I see! That's very good to know. Thank you kindly @gofr.

[2022-11-03 11:31] Narretz commented on #24373
@AtofStryker thanks for the update, that makes a lot of sense. Is there a ticket for that message improvement? If not, I have the feeling this will be forgotten ...

[2022-11-03 11:52] mike-mccormick commented on #22152
Just adding another user to the list who'd really like to see some of the lost v9 features returned and some shortcuts.

We don't currently use Cypress for component tests, but I do miss the 'Run all specs' feature.

It'd also be nice to go straight into the browser without the second window just awkwardly hanging around.

I generally use `npx cypress open --e2e --browser=chromium`, and as I think

[2022-11-03 12:03] dream2023 commented on #24494
Okay, I have removed it.

Here are some good open source apps that we can try:

- https://github.com/nolimits4web/swiper
- https://github.com/TanStack/query/tree/main/packages/solid-query/src
- https://github.com/ag-grid/ag-grid/tree/latest/grid-packages/ag-grid-solid

[2022-11-03 12:49] mjhenkes commented on #24373
@Narretz, the ticket is https://github.com/cypress-io/cypress/issues/24169. I'm currently working on it and it likely will be in the release next week.

[2022-11-03 12:50] benpatterson commented on #20923
This issue is resolved; let us know if it's still an issue (or distinctly different than the other referenced ticket below).

Also see #20506

[2022-11-03 12:50] #20923 closed

[2022-11-03 13:07] Coder-VooOoo commented on #6918
I also encountered the problem of stuck in 100%, because I used other mirror source downloads. When I restored the NPM default source code, there was no such problem.

[2022-11-03 14:09] lidiagc commented on #24377
Hi @mschile, thank you for replying!

We have in total 4 jobs that run our end-to-end tests:
* (1/4): runs only one spec file (the one I mentioned in the issue)
* (2/4): runs two spec files
* (3/4): runs two spec files
* (4/4): runs four spec files

First, I tested with version `10.10.0` and browser Electron:

* **(1/4)**
The same issue happened at least once

* **(2/4)**
The flicker happened on t

[2022-11-03 14:11] amehta265 commented on #24361
I am glad it is working!
Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2022-11-03 14:11] #24361 closed, assigned to nobody

[2022-11-03 14:15] amehta265 commented on #24398
@TapaiBalazs I agree with you that giving full disk access to an IDE is definitely not a permanent solution and is merely a workaround. Cypress needs access to folders and files in this path `/Users/btapai/Library/Caches/Cypress/10.11.0/Cypress.app/Contents/Resources/app/packages/server/node_modules/@cypress/webpack-dev-server/dist/` in order to read and write to the Cypress files in cache. Provid

[2022-11-03 14:18] MohanVallivedu commented on #24513
Oh, we do some reporting internally, calling a method something like this with cypress version 6.9.1
[code]
I've tried dev-server:spec:changed as well and cypress threw error as it's not supported
It seems all other events in cypress documentation [link](https://docs.cypress.io/api/plugins/writing-a-plugin#List-of-events) only supports for e2e? Is there something I could replicate similar to our c

[2022-11-03 14:20] Narretz commented on #24373
That's great to hear @mjhenkes!

[2022-11-03 14:21] shirai91 commented on #3708
+1. I have a project with multiple EventSources connection. Currently we have to pending the automation scripts due to this issue.

[2022-11-03 14:44] phistuck opened #24523 "Promises and chainables behave differently"
### Current behavior

[code]

### Desired behavior

`// cy what? undefined`

### Test code to reproduce

^

### Cypress Version

9.5.3

### Node version

16.15.1

### Operating System

macOS 11.3.1

### Debug Logs

_No response_

### Other

Might not be a bug, but using `.then` makes it look like a `Promise`, so you expect it to behave the same way.

[2022-11-03 14:46] marktnoonan commented on #22152
@Michel73 Just catching up on this, what you've described sounds like a bug, I wasn't able to reproduce that behavior. Its default setting should be `true`. If you're still experiencing it being inactive by default would you mind making an issue with some more details?

@mike-mccormick the good news is "Run all specs" functionality will return - it's one of the planned items on our [priorities boa

[2022-11-03 15:03] TapaiBalazs commented on #24398
@amehta265

Yes I understand, thank you very much for everything! :)

[2022-11-03 15:05] mgrynk opened #24524 "Cy.task registered"
### Current behavior

![2022-11-03_15h50_50](https://user-images.githubusercontent.com/95285193/199754359-28582933-ff34-46a4-9bbf-ce603d36217e.png)
Following the connection "snapshot" guide, I did everything as it was written there. Now, this error pops up. What piece of code do I need to add to the method?

### Desired behavior

Want cypress tasks to be registered and working

### Test code to re

[2022-11-03 15:15] sw-tracker commented on #24512
Hi there, did you guys manage to get this working? If yes, how?

[2022-11-03 15:27] sharandaa commented on #27
I still have an issue with this. If I let the user type in a date in the preformatted final value, I still get this error when I use should(): expected '<tr#opening_date_level_1..opening_date_container>' to have value '01-12-2022', but the value was ''.

[2022-11-03 15:46] MikeMcC399 opened #24525 "it.skip fails with soft assertions monkey-patch"
### Current behavior

Attempting to run a test spec, which includes `it.skip`, results in an error message "Cannot set properties of undefined (setting 'body')".

This only happens when the monkey-patch from [Stackoverflow: Does cypress support soft assertion?](https://stackoverflow.com/questions/55868107/does-cypress-support-soft-assertionis) is applied to `cypress/support/e2e.js` and with Cypres

[2022-11-03 15:47] clazette commented on #24512
I've tried several things to no avail.

[2022-11-03 15:51] GrumpyMeow commented on #7045
The reason that "cypress info" worked the second time, probably is because you didn't run "npx cypress info".
This worked for me:

.vscode/devcontainer.json:
[code]

.vscode/Dockerfile:
[code]

If it doesnt work for you. You should run `id` in your container and on your host. You'll probably see that different uid/gid are used.

[2022-11-03 16:07] AtofStryker opened #24526 "Default cookie APIs domain to hostname instead of superdomain"
### What would you like?

`setCookie(s)`, `getCookie(s)`, and `clearCookie(s)` should default to AUT `hostname` instead of AUT superdomain.

### Why is this needed?

To keep consistency with the cookie spec and not force users to specify the exact domain of the AUT

### Other

_No response_

[2022-11-03 16:32] MikeMcC399 commented on #24525
- Regression is possibly related to changes made through PR https://github.com/cypress-io/cypress/pull/24217

[2022-11-03 16:50] taylorjellsworth commented on #21619
@flotwig @mjhenkes @jennifer-shehane @mschile bump.  We are close to moving off of Cypress if this is not addressed

[2022-11-03 17:04] amehta265 commented on #24459
@myrjola Upon further investigation looks like there happens to be some variability in the runtime between cypress open and cypress run. This may perhaps be leading to some rerendering so the `<option>` is gone by the time the `cy.findByRole()` runs. Or perhaps there may be an issue obtaining the hidden `<select>` using `findByRole`

I'd like to bring your attention to the [Cypress Docs concerning

[2022-11-03 17:20] #24329 closed, assigned to ZachJW34

[2022-11-03 17:33] yvesmatta-kernls commented on #9447
Removing the `experimentalModifyObstructiveThirdPartyCode: true` config property from `cypress.config.ts` worked for me.

[2022-11-03 18:12] rodriguesgio commented on #23640
@Brayxeh no. We've been running in Firefox, the only browser that we don't face this issue.

[2022-11-03 18:20] nagash77 commented on #24514
This seems to be an outside issue causing your problems.  I am going to close this issue.  If new information comes to light that suggests something on the Cypress end feel free to comment on this issue and we can reopen.

[2022-11-03 18:20] #24514 closed, assigned to nobody

[2022-11-03 18:22] nagash77 commented on #24524
@mgrynk I am sorry to hear you are having problems with your Cypress install.  Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [Discord server](https://gitter.im/cypress-io/cypress). Also try searching our [exist

[2022-11-03 18:22] #24524 closed, assigned to nobody

[2022-11-03 18:24] AtofStryker commented on #24274
Also need to discuss scenario D, if a user's navigation is `same-site / cross origin` in CI/local, but on local/CI their navigation is `cross-site / cross-origin`. How do we make this experience seamless?

see #24373

[2022-11-03 18:35] Brayxeh commented on #23640
The left panel also closes running on firefox. Do you use a request method and then goto any salesforce page?

[2022-11-03 19:02] BlueWinds opened #24529 "Update cypress-testing-library dependency back to upstream after they update to queries"

[2022-11-03 19:03] BlueWinds opened #24530 "Contribute updates to cypress-testing-library to use queries upstream"

[2022-11-03 19:25] stclairdaniel commented on #22132
Any updates here? This is a minor issue but gets pretty frustrating having to see this multiple times a day.

[2022-11-03 19:39] pmattj commented on #4934
We're seeing this several times per day in a couple of our specs on Cypress 10.3.1.

The specific error we encounter is `Cannot read properties of undefined (reading 'body')`, and the relevant lines are:
[code]

One common strand seems to be that these specs both use an approach where they repeatedly intercept the same URL pattern (although not always with the same alias name). For example, one of

[2022-11-03 19:49] BlueWinds commented on #7306
Due to the way Cypress builds, you unfortunately can't point to arbitrary commits / branches as dependencies; it requires a built binary, which my branch isn't currently doing. We usually only do fer `develop` or for release branches. For the moment, the only way to test it is to clone cypress and build the branch locally.

I'll have a build artifact you can install as a dependency sometime next w

[2022-11-03 20:41] warrensplayer commented on #24439
Closing to handle fetching new data from Cloud in one issue here https://github.com/cypress-io/cypress/issues/24440

[2022-11-03 20:41] #24439 closed, assigned to nobody

[2022-11-03 20:58] amehta265 opened #24532 "Implement CT Nightly Builds Spike"
Related: [spike documentation](https://github.com/cypress-io/tech-briefs/tree/main/briefs/ct-automated-nightly-builds)

To do:
1. Create testing repository with single framework/bundler projects and basic component tests
2. Update the [spike implementation](https://github.com/cypress-io/cypress-component-testing-apps/tree/spike-nightly-frameworks)

Note: The branch name for this spike is `spike-ni

[2022-11-03 21:00] amehta265 commented on #24323
@yihuineng I am wondering if somehow you can disable Content Security Policy for [www.yuque.com](http://www.yuque.com/) to see if that solves the issue?

[2022-11-03 21:17] SalahAdDin commented on #2752
It seems this feature is not available in **Cypress** in any way.

[2022-11-03 21:21] lmiller1990 commented on #24356
You mentioned it works against a pre-prod env but not locally. What are you running locally? It is something like Vite?

I seem to recall something similar happening on a project that loaded hundreds and hundreds of JS modules in development mode on the first page visit, which was cause massive network slowdown, since Cypress blows away the cache for each spec, and does lots of network inspection

[2022-11-03 21:35] MolotovCherry commented on #4582
Using https://github.com/javierbrea/cypress-localstorage-commands , and this is happening in our system.

We're using the recommended methods, and it intermittently fails
[code]

I also tested using the direct cypress provided mechanisms for localStorage, and the problem still happened. Seems to not be an issue with that plugin at all. This needs to be re-opened

Using Cypress 10.10.0

[2022-11-03 21:45] AtofStryker commented on #21473
Facebook social authentication tests work in CI and in open mode in any browser. We are testing these via integration with Auth0, which should serve as a close enough benchmark. closing this issue and tagging it to GA milestone as it is should now be supported

[2022-11-03 21:45] #21473 closed

[2022-11-03 21:50] AtofStryker commented on #22542
Github social authentication tests work, but require email verification in CI. This can be worked around by sending an app auth request from the CI machine. Besides this, github auth works in open mode in any browser. We are testing these via integration with Auth0, which should serve as a close enough benchmark. closing this issue and tagging it to GA milestone as it is should now be supported.

[2022-11-03 21:50] #22542 closed

[2022-11-03 21:52] AtofStryker opened #24533 "Write cy.origin integration tests for Twitter"
### What would you like?

I'd like to be able to log into twitter and have an integration test catch possible regressions when this no longer works

### Why is this needed?

_No response_

### Other

_No response_

[2022-11-03 21:53] AtofStryker commented on #24533
Twitter social authentication tests work in CI and in open mode in any browser. We are testing these via integration with Auth0, which should serve as a close enough benchmark. closing this issue and tagging it to GA milestone as it is should now be supported

[2022-11-03 21:53] #24533 closed, assigned to AtofStryker

[2022-11-03 21:55] AtofStryker opened #24534 "write cy.origin tests for linkedin social authentication"
### What would you like?

I'd like to be able to log into linked in social and have a regression test in case this for some reason no longer works

### Why is this needed?

_No response_

### Other

_No response_

[2022-11-03 21:56] AtofStryker commented on #24534
LinkedIn social authentication tests work, but require verification. This can be worked around by logging in manually to the CI machine and authenticating via the browser. This is not a limitation of Cypress, rather a security feature of Linkedin. Besides this, LinkedIn auth works in open mode in any browser. We are testing these via integration with Auth0, which should serve as a close enough ben

[2022-11-03 21:56] #24534 closed, assigned to AtofStryker

[2022-11-03 22:06] dnordahl1 commented on #19970
Has anyone figured out how to get cypress-ntlm to be invoked as part of the ng e2e call?

[2022-11-03 23:16] mschile commented on #24377
Thanks for the update @lidiagc! I would love to narrow in on which Cypress version caused the regression. My initial guess is Cypress 10.8.0 may have broke it. Would you be able to try 10.7.0 and 10.8.0?

[2022-11-04 00:13] mschile commented on #24525
Hi @MikeMcC399 👋, thanks for taking the time to open this issue. Unfortunately, we don't offer support for monkey patches. As such, I will be closing this issue.

I would recommend responding to the Stack Overflow question or asking your question in our [Discord server](https://on.cypress.io/chat).

[2022-11-04 00:13] #24525 closed, assigned to mschile

[2022-11-04 04:36] lmiller1990 commented on #24513
Ah I see, I didn't realize we guarded against certain events:

https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/plugins/child/validate_event.js#L26-L37

We do expose `dev-server:start`. What about adding `dev-server:specs:changed`,` dev-server:compile:success` to that list?

[2022-11-04 04:40] Hayden-isitt commented on #3161
God I'd love to be able to handle all of these errors I'm receiving

[2022-11-04 05:19] mugioka commented on #15418
Same problem for me with cypress version v10.11.0.
I run the e2e test using [testkube cypress executor](https://kubeshop.github.io/testkube/test-types/executor-cypress/). But k8s job is failed to run the test following error.
[code]

[2022-11-04 05:41] myrjola commented on #24459
Thank you for the workaround! I verified it works for me. The drawback is that it doesn't simulate the way a user interacts with the element. Instead, the test interacts with the hidden HTML `<select>` element. Regardless, I think this is fine since we should have quite high confidence that the manual interactions work.

Haven't looked into component testing yet, but thanks for the tip.

Closing t

[2022-11-04 05:41] #24459 closed, assigned to amehta265

[2022-11-04 06:30] #24328 closed, assigned to astone123, lmiller1990

[2022-11-04 06:40] vm commented on #24514
Is there a way to force a specific version of Chrome to be run? I think this is a very hard issue for cypress users to debug as is. I googled for a while before finding this thread.

[2022-11-04 06:56] MikeMcC399 commented on #24525
Hi @mschile

Thank you for looking at the issue and your recommendations. (I understand about not supporting monkey-patches.)

[2022-11-04 08:58] vladmykol commented on #9447
It seems like folks doing some progress here [ #21603](https://github.com/cypress-io/cypress/issues/21603) but it's still not working

[2022-11-04 10:05] souravsaraf123 commented on #17244
I am also facing this issue , any fix to this ?

[2022-11-04 10:09] mauroSoloLearn commented on #4164
Also have the same issue on 10.11.0 and chrome 107

[2022-11-04 10:26] Narretz commented on #24523
I mean the introduction to Cypress tells us that cypress commands don't return promises: https://docs.cypress.io/guides/core-concepts/introduction-to-cypress#The-Cypress-Command-Queue

[2022-11-04 10:31] lydemann commented on #24361
So realised it the problem is coming from Nx and it's Cypress runner + component test configuration:

Repo:
https://github.com/lydemann/cypress-assets-bug/tree/nx

<img width="1696" alt="image" src="https://user-images.githubusercontent.com/9210691/199951805-493f86f5-8a5f-4b74-af69-dafd3c3d79a9.png">

Will create an Issue on Nx instead

[2022-11-04 12:14] Gjodim commented on #8089
I have the same or similar issue as well.
I am trying to click an element (regular button), but i am stuck on loading the page on which that button is located.
The button itself is visible and loaded but i get an error that the page is not loaded (i wait 60s which is more than enough)... any solution or workaround for this?

[2022-11-04 12:16] jgarcia1095 commented on #17244
I have had no response so far, I had to work with version 5.

[2022-11-04 13:23] cgraham-rs commented on #24514
Some additional debug in case anyone hits this issue in the future.

As @gofr mentioned the Github hosted runners apparently do not get updated at the same time. I hit the failed parallelization error logged here and it took me a lot of digging and logging support requests to figure out why.

My setup:
* Cypress 10.10.0
* Cypress Dashboard (love it)
* CI runs everything on Github hosted runners us

[2022-11-04 13:30] cgraham-rs opened #24540 "Provide more detailed debug when parallelization fails"
### What would you like?

As a user of Github workflow for CI, and of Cypress Dashboard for parallelization, when parallelization fails I want more detailed debug presented.

See additional comments in this ticket: https://github.com/cypress-io/cypress/issues/24514#issuecomment-1303535203

### Why is this needed?

When parallelization fails there is not enough detail to figure out the root cause.

[2022-11-04 13:52] MohanVallivedu commented on #24513
I'm wondering if this event before:spec would be useful for my scenario. I would expect a file object to return every time I run a spec file (ex: flexbox.cy.js), so that I can run eslint on it (as shown in previous comment)?

[2022-11-04 13:59] rajakvk commented on #23239
@grzech1991 Fix worked for me as well.
ie., `chmod 777` on the target directory.

[2022-11-04 14:02] mschile commented on #24418
This issue appears to be related to #24290. We hope to investigate it soon to find a solution.
<img width="1492" alt="Screen Shot 2022-11-04 at 8 02 11 AM" src="https://user-images.githubusercontent.com/2002044/199991154-341046e1-f13e-4361-802c-b7e39af2ab29.png">

[2022-11-04 14:16] amehta265 commented on #24335
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-04 14:16] #24335 closed, assigned to amehta265

[2022-11-04 14:16] #24343 closed, assigned to rockindahizzy

[2022-11-04 14:17] amehta265 commented on #24392
Unfortunately we have to close this issue due to inactivity and a lack of a reproducible example. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-04 14:55] mschile commented on #24376
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-04 14:55] #24376 closed, assigned to mschile

[2022-11-04 14:55] mschile commented on #24359
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-04 14:55] #24359 closed, assigned to mschile

[2022-11-04 14:55] mschile commented on #24421
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-04 14:55] #24421 closed, assigned to mschile

[2022-11-04 15:08] ricardostaudt commented on #24418
More information that might be helpful: I tried to access this same page with playwright's webkit browser and got this error:

[code]

This error doesn't happen with other browsers with playwright. By googling this error message it seems to be related to HTTP/2 authentication and in some cases people have had success after disabling HTTP/2 when such option is available (curl has it).

[2022-11-04 15:10] mschile commented on #23962
@michaelkaye, were you able to resolve this issue by changing the privs?

[2022-11-04 15:34] irving-ventura-shift commented on #24093
@amehta265 pushed changes in my codebase forcing the reporter to spec, still encountering the same issue, any chance we can have a patch with a null check ?

[2022-11-04 15:51] liam102 commented on #20239
I got the same
[code]
Running in container with image `cypress/base:16`

[2022-11-04 16:13] alexniculae commented on #24403
@mschile,
- can you easily tell on which version this issue was introduced?
  - is it affecting all Cypress version 10 releases so far?
- are there any news or an ETA for the fix?

[2022-11-04 16:34] alexniculae commented on #24403
@emilyrohrbough, just for your information, as I've seen you previously fixed a similar issue https://github.com/cypress-io/cypress/issues/22360

[2022-11-04 16:39] amehta265 commented on #24182
After discussion and guidance from @emilyrohrbough we have a work around:
[code]
Seems like the issue was occurring because the top URL in the Cypress app was not being updated to `'https://mobilecapture-stage.infocert.it/home?companyId=Demo&dossierId=lGj1aw8XrNa4k6M74YDq'` during the tests and was remaining at `https://iqp.eu-west-1.tsaws.infocert.it/` because Cypress does not update the topURL w

[2022-11-04 16:49] amehta265 commented on #24284
@Hangochung81 Looks like the issue is stems from the way `EventSource` communicates with the server to maintain connection. On the Cypress browser, it looks as though in the `main.js` file the  `EventSource` tries to obtain all the devices for the webpage to load and is successful in doing that. However the `EventSource` may also be emitting a "heartbeat" to the server to keep the connection alive

[2022-11-04 16:53] alecmestroni commented on #24182
The solution is working, on monday I'll update my tests.
For now, thanks for the solution (to u both)
Hope cypress will fix this bug in the next update!

[2022-11-04 17:04] efraimpc commented on #14968
hello, we are dealing with same issue as we started using cypress, unfortunately, this is causing the application to detect it and try to handle it into a 404 error page and making the test fail because of that.

[2022-11-04 17:04] lidiagc commented on #24377
I tried versions `10.7.0` and `10.8.0` and the flicker never happened. Then, I upgraded to version `10.9.0` and it occurred. I suppose something in that version caused the regression?

[2022-11-04 17:10] amehta265 opened #24545 "Investigate Memory Leak Issues"
Related Issues:
https://github.com/cypress-io/cypress/issues/24509
https://github.com/cypress-io/cypress/issues/24356
https://github.com/cypress-io/cypress/issues/23391

[2022-11-04 17:11] gofr commented on #24514
@cgraham-rs You may definitely be _installing_ the latest version of _Chromium_ (109 there), but are you sure Cypress is actually using it? Because your Cypress logs still show your tests using _Chrome_ 106 and 107. Don't you need to specify your browser to be `chromium` or the full path to the browser you installed?

One way of working around this problem is to not let your CI depend on the resul

[2022-11-04 17:55] amehta265 commented on #24299
@ifoster-21 Thank you for opening an issue and providing debug logs.
It seems as though Cypress is having a hard time detecting browsers on your system as well.
Without a reproducible example it is difficult to debug this.
Would you be able to provide your `cypress.config` file?
Maybe something you can try out: I noticed you mentioned that " I have copied the folder containing all the cypress file

[2022-11-04 17:59] amehta265 commented on #24182
I'm glad this is working on your end!

Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2022-11-04 18:08] amehta265 commented on #24093
@irving-ventura-shift the current issue has been routed to the appropriate team at Cypress and it will be prioritized accordingly.

[2022-11-04 18:13] marco-globality opened #24546 "Long running tests get stuck unless we split up the test in multiple 'it' blocks"
### Current behavior

Hello all,

We have some tests that take 5+ minutes to run. These tests are intermittently getting stuck at a very high rate.

By stuck, I mean that the CI shows this test **running** until CI kills the node (at the 1hr mark)

We have found a workaround:

To avoid the issue we split up these tests into multiple 'it' blocks: Basically we have the exact same test running but in

[2022-11-04 18:27] cgraham-rs commented on #24514
@gofr Thank you for QA'ing my workflow. 🥇 Off to fix stuff...

[2022-11-04 18:33] #24264 closed, assigned to chrisbreiding

[2022-11-04 18:42] mschile commented on #24403
@alexniculae, I believe all versions of Cypress 10 are affected as there were architectural changes that didn't account for the `experimentalInteractiveRunEvents` functionality. Unfortunately, I do not have an ETA on the fix at this time.

[2022-11-04 19:11] marktnoonan opened #24548 "[Run All Specs] implement experimentalRunAllSpecs config flag"
We need an `experimentalRunAllSpecs` Boolean property in the config. Its default value should be `false`. When configured, by users, as `true` it will allow the UI features for running groups of specs to be displayed.

## Acceptance Criteria

`experimentalRunAllSpecs` is a valid top-level boolean config option. The experiment might not support component testing at the outset but it's the kind of o

[2022-11-04 19:17] mschile commented on #24496
Hi @rasmusrim 👋, thanks for taking the time to log this issue. Unfortunately, we don't offer support for `servercore:ltsc2022` images. We do offer linux based images in our [cypress-docker-images](https://github.com/cypress-io/cypress-docker-images) repo if you are able to use those.

Otherwise, you may want to check out [community chat](https://on.cypress.io/chat) to see if anyone has been succes

[2022-11-04 19:17] #24496 closed, assigned to mschile

[2022-11-04 19:21] mschile commented on #24546
Hi @marco-globality 👋, sorry to hear that Cypress is hanging in your CI pipeline but I'm glad you have a workaround (though definitely not ideal).

Unfortunately, it's going to be very hard for us to investigate this issue without some kind of reproduction. Are you able to share a link to your code or could you try and replicate the issue using the [cypress-test-tiny](https://github.com/cypress-io

[2022-11-04 19:48] astone123 opened #24549 "Re-enable 'Open in IDE' hook for Component Testing"
As a result of #24366 we removed the "Open in IDE" button from the command log for Component Testing because it wasn't working. The result of this issue should be that the "Open in IDE" button appears in the CT command log once again and works correctly.

It seems like we need to "clean up" the stack trace that we get in `packages/driver/src/cypress/stack_utils.ts`. After we call `getStackLines`,

[2022-11-04 20:21] modern-sapien commented on #9350
A hang regarding this may have been handled in Cypress 10.11.0

https://github.com/cypress-io/cypress/pull/24338

[2022-11-04 20:27] #23980 closed, assigned to ryanthemanuel

[2022-11-04 21:09] #24381 closed, assigned to marktnoonan

[2022-11-04 21:09] #24380 closed, assigned to marktnoonan

[2022-11-04 21:25] Sanjusakithyan commented on #21013
same issue happened with mine, could you please help

[2022-11-04 21:28] #24366 closed, assigned to astone123

[2022-11-04 21:37] danielvianna commented on #23830
@mschile invited

[2022-11-04 21:39] austinbradshaw commented on #16822
Having the same issue here

[2022-11-04 21:39] estrada9166 opened #24552 "After upgrading Docker image with chrome 107 tests started crashing"
### Current behavior

I was trying to upgrade Node version to v16.18.0 using the docker image `cypress/browsers:node16.18.0-chrome107-ff106-edge` but, the tests started crashing with

[code]

After updating the code and removing some `beforeEach` it has improved, but randomly it fails, I have not been able to identify the reason of it.

When I was using chrome 99 it seems to work fine

### Desired

[2022-11-04 22:14] marco-globality commented on #24546
Hey @mschile

I understand. Well, I don't think there will be a simple way for us to provide a method of reproducing it. The thing is, our app is internal to my company along with our code.

I was wondering if anyone could speculate as to what may be causing an issue like this.

[2022-11-05 01:44] geromegrignon commented on #21013
Hi @Sanjusakithyan, please relate to previous link. That's purely a Windows issue, occuring with Cypress but nothing the library can help with.

[2022-11-05 04:20] 0618 commented on #24356
Thanks for following up. I found it was `cy.request` takes a lot of memory. So I reduced `cy.request` usage and also use `HEAD` instead of `GET`, which helped.

My Mac has 16GB memory and the pre-prod build environment is on a Docker image on a host with 4 vCPU, 7GB memory 😂

[2022-11-05 11:54] yousuftelus opened #24554 "Debug log for module api"
### What would you like?

I'd like to have the feature that we currently have when running cypress in command line **[Enable debug logs](https://docs.cypress.io/guides/guides/command-line#Enable-Debug-Logs)**  : `DEBUG=cypress:* cypress run` in the module api meaning when running cypress via code base ( `cypress.run` or `cypress.open` ). So basically to be able to add a config option like this:
[c

[2022-11-05 22:47] vukobrat commented on #24168
Hello fellas, no pushing just asking, any updates about this one? Cheers

[2022-11-06 06:22] shashi123664 opened #24555 "Cypress runner is hanging"
### Current behavior

Cypress runner is not responding/hanging when performing any activity i.e logging to the dashboard ,running the specs.js in chrome,edge

### Desired behavior

Cypress runner should not hang when performing any activity i.e logging to the dashboard ,running the specs.js in chrome,edge

### Test code to reproduce

1)Open the cypress test runner
2)Select E2E testing
3)Select chr

[2022-11-06 11:41] abcfy2 opened #24556 "Support lowercase environment variables to make `npm config` working."
### Current behavior

`npm config set CYPRESS_DOWNLOAD_PATH_TEMPLATE 'https://cdn.npmmirror.com/binaries/cypress/${version}/${platform}-${arch}/cypress.zip'` not working in current behavior.

[code]

You can see download is still `https://download.cypress.io/desktop/10.11.0?platform=linux&arch=x64`

### Desired behavior

`npm config set` will inject lowercase environment variables.

E.g: `npm conf

[2022-11-06 14:08] rodriguesgio commented on #23640
@Brayxeh we login using the Salesforce Connected Apps configuration (https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_oauth_and_connected_apps.htm) and then we visit any page just to access the global search field and go from there.

[2022-11-06 16:36] panwenhua commented on #23830
The same problem happens with version 10.11.0

10.7.0 doesn't have these issues

[2022-11-06 20:02] XiaolongLyft commented on #23636
@lmiller1990 please take a look at this PR: #24557.
It doesn't do much, but should unblock users from running `ELECTRON_RUN_AS_NODE=1` with some browsers.

[2022-11-07 02:48] lmiller1990 commented on #24356
It sounds like you should have plenty of memory to spare, if you are only running Cypress locally against a remote machine. I wonder why `cy.request` is taking so much memory?

Also, how did you reduce `cy.request` usage? What are you doing instead? I wonder if there's another way to write your tests. That said, if there's a memory leak, it'd be great to isolate and fix it.

[2022-11-07 03:41] lmiller1990 commented on #24513
Good idea. The argument you get in the callback is a spec with lots of useful information:

[code]

On caveat is the `before:run` event is still experimental. You can read more [here](https://docs.cypress.io/guides/references/experiments#Configuration). I enabled it with `experimentalInteractiveRunEvents: true`. It works for both CT and E2E testing types.

We might want to change the issue title?

[2022-11-07 04:10] MohanVallivedu commented on #24513
Oh, I see. When I add the experimentalInteractiveRunEvents option to the component, before:spec event works. But it seems I cannot use before:spec as well, because browserify preprocessor expects a file object parameter something like this (Printed from e2e file:preprocessor event)
[code]

And yes sure, we can update the title. I think it would be beneficial to have file:preprocessor event for com

[2022-11-07 04:26] lmiller1990 commented on #23636
Took a look @XiaolongLyft, thanks.
Posted a comment, if anyone else is interested in this patch please follow the PR or post the OS/env you want a binary for, I can build it and we can give it a test.

[2022-11-07 05:25] lmiller1990 commented on #24513
It looks like the properties from `file:preprocessor` and `before:spec` are pretty similar. Are you looking for something specific, like a particular property that isn't available? Do you need an `EventEmitter`, or just the `outputPath` or `filePath`? In your example you do `const report = eslint.lintFiles([file.filePath]);` - so could you perhaps do:

[code]

The main difference with the End to E

[2022-11-07 05:31] lmiller1990 commented on #16467
I think we are now working with type: module. Is this still an issue?
If it is, please post a reproduction and I will fix it.

[2022-11-07 05:33] lmiller1990 commented on #17959
I am not sure how much sense this makes, but in Cypress 10 you can do

[code]

Cypress 11 changes the yielded value to an object:

[code]

If there's still something you cannot do, post and we will look into it.

[2022-11-07 05:39] lmiller1990 commented on #24523
I think this is probably a duplicate of https://github.com/cypress-io/cypress/issues/1417.

Once you know about the command queue, it makes sense. Admittedly, I used Cypress for about 2-3 years before I read that page, maybe it needs more emphasis in the docs.

Other than #1417 (actually reworking things to support `async/await` which is very difficult, since lots of Cypress feature like retry-abi

[2022-11-07 06:24] ezekel commented on #24269
I tried,

[code]

[code]

[2022-11-07 07:18] K4r1it0 commented on #9440
is this problem fixed?

[2022-11-07 07:29] Hangochung81 commented on #24284
Hi @amehta265 , I have followed some of the options mentioned in the issue above but it doesn't work, when I don't use EventSource, it works (the website can load the list). Since the EventSource in the project can not be removed, do you have any plan in the future to fix this issue?

[2022-11-07 07:55] yelhouti opened #24560 "cypress request with FormData not parsed to json"
### Current behavior

When sending a request with FormData even if the server retrun `application/json` cypress keeps the response as ArrayBuffer

### Desired behavior

It should parse it and have body as json

### Test code to reproduce

[code]

### Cypress Version

10.8.0

### Node version

16.13.0

### Operating System

Fedora 36

### Debug Logs

_No response_

### Other

Workaround
[code]

[2022-11-07 08:44] ckocyigit opened #24695 "Exit codes for cli"
https://docs.cypress.io/guides/guides/command-line#Exit-code documents that cypress basically has three exit behaviours.

Cypress succeeds means exit code 0

Cypress fails (complete run failure) exit code 1

Cypress: Specs are failing means exit code is amount of specs failed

But what if just one spec failed.

You could not **differentiate** if the whole run just failed or just one spec based on

[2022-11-07 09:15] alexanderg1982 commented on #24418
Hi, this is similar to a ticket that I opened #24303 that was merged to #24290

[2022-11-07 09:17] alexniculae commented on #24403
Thank you for the details @mschile
- just to add the detail here, this time the return of the promise is not awaited even in `Run mode`
  - so not sure if it's still related to the `experimentalInteractiveRunEvents`
- maybe related to something introduced in the fix of https://github.com/cypress-io/cypress/issues/22360
  - or along the way with new features / other fixes

[2022-11-07 10:31] amar0120 commented on #23772
Hi @mschile - Please find the new keys below:
DD3859B60763425AA9DF2DC231D496C3
0660E80352FC404AB3F5F04C0F5C2B70

[2022-11-07 10:45] irving-ventura-shift commented on #24093
@paulgrant have you found any way to workaround this issue ?

[2022-11-07 11:23] NabeelFz opened #24561 "App crash with no explanation during Quick configuration"
### Current behavior

After clicking "continue" on the "Configuration files" page, the application closes and the following message is displayed:

Opening Cypress...

UNKNOWN: unknown error, watch
Error: UNKNOWN: unknown error, watch
    at FSEvent.FSWatcher._handle.onchange (node:internal/fs/watchers:204:21)
If I reopen the application, I return to the "Welcome to Cypress!" page and I have a lot

[2022-11-07 11:46] ckocyigit commented on #24695
![image](https://user-images.githubusercontent.com/60385015/200302424-3990ad45-283e-4729-9d8b-fccbf2249dc2.png)

[2022-11-07 11:57] moizahmedtuc commented on #845
Try this. It works for me

[code]

[2022-11-07 11:59] paulgrant commented on #24093
@irving-ventura-shift - not presently - I have upgraded to 10.11 and still getting the same issue.  I am unfortunatley tied to the spec and the spec format because of the use of SonarCloud.

[2022-11-07 12:03] zbigniewkalinowski opened #24562 "Cypress recognizes disabled element as enabled"
### Current behavior

My element looks like this:
![obraz](https://user-images.githubusercontent.com/34089686/200304694-d9c18655-a76c-4bcc-a3ff-2995f103ad0e.png)

I'm checking it with this code:
![obraz](https://user-images.githubusercontent.com/34089686/200304844-5446ad14-f094-4cb7-8e57-26b136fa1ca9.png)

Response from cypress:
![obraz](https://user-images.githubusercontent.com/34089686/200305177

[2022-11-07 13:00] irving-ventura-shift commented on #24093
I'm thinking of adding your changes by using https://www.npmjs.com/package/patch-package I've hundreds of builds a day and plenty of them failing on this issue... first time using that one, I'll let you know how it went if you are interested.

[2022-11-07 13:10] paulgrant commented on #24093
I will do the same - looks like I had already installed the package!

[2022-11-07 13:17] paulgrant commented on #24093
I couldn't get this to work - the package is not in the cypress node_modules folder of my build:

`Invalid array length
RangeError: Invalid array length
    at indent (C:\Users\paulg\AppData\Local\Cypress\Cache\10.11.0\Cypress\resources\app\node_modules\mocha-7.0.1\lib\reporters\spec.js:48:12)`

It is in my local appdata folder - which the patch-package doesn't review.

[2022-11-07 13:26] nagash77 commented on #24269
@ezekel Unfortunately this does not provide us with any further information to help us track down this issue.  If you can provide a reproducible example please do share it here.  Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2022-11-07 13:45] irving-ventura-shift commented on #24093
@paulgrant I'm a tiny bit confused, did you get it to work ? in the issue you created in mocha it says that it solved your issue ?

[2022-11-07 14:02] MohanVallivedu commented on #24513
Sorry, I should have been clear. eslint is working when I send spec.relative
But the preprocessor method expects the file object to have filePath, outputPath, shouldWatch which are not available for before:spec object.
@cypress/browserify-preprocessor version 3.0.2 expects we send the file object with those attributes, and that is the reason my e2e is working good, because file:preprocessor event

[2022-11-07 14:09] GarrisonD commented on #8413
The same issue is on Cypress 10.3.1 😢

[2022-11-07 14:39] amehta265 commented on #24284
Thank you for your response. We are looking into a work around and hopefully should find some resolution soon

[2022-11-07 14:39] amehta265 commented on #24288
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-07 14:39] #24288 closed, assigned to amehta265

[2022-11-07 14:40] amehta265 commented on #24422
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-07 14:40] #24422 closed, assigned to amehta265

[2022-11-07 15:25] amehta265 commented on #24177
@787681277 I believe I understand the issue you have raised. The blue border exists on `cy.click()`. However, when focus in removed from the button and set to another target (e.g. another app "A"), there is no border on the button.

My explanation would be that this is not inconsistent behavior rather, it speaks to the defaults exercised by the chrome browser. Browsers often have defaults for spec

[2022-11-07 15:28] emilyrohrbough commented on #22484
We no longer plan to do this work after recent discussions on how test isolation is defined.

[2022-11-07 15:28] #22484 closed

[2022-11-07 15:29] jnarowski opened #24564 "Component tests do not load with Vite + HTTPs"
### Current behavior

When vite.config `server.https` is set to true. Cypress component tests do not load. It's stuck on "Your tests are loading" but without any error messages in console or in browser.

See
https://jmp.sh/A9CSdBtl

### Desired behavior

Component tests should run successfully. Commenting out HTTPS in server.https and restarting Cypress allows the tests to pass.

### Test code to

[2022-11-07 15:30] mschile commented on #24458
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-07 15:30] mschile commented on #24466
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-07 15:30] #24466 closed, assigned to mschile

[2022-11-07 15:31] mschile commented on #24353
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-07 15:31] #24353 closed, assigned to mschile

[2022-11-07 15:32] emilyrohrbough commented on #413
This behavior will be enabled by default via [test isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation) when the `experimentalSessionAndOrigin` is released as GA.

In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation). There will b

[2022-11-07 15:35] rzorzos commented on #24290
Is there a workaround on this at least? Or should we just wait for the resolve?

[2022-11-07 15:46] amehta265 commented on #24371
@diggabyte Thank you for opening an issue and providing your tests.
Unfortunately I have been unable to reproduce this issue on my end. After inserting the link in my `index.js` file, I first ran my application on my `localhost`.
While running the application, I started `npx cypress:open` on another terminal and ran my test.
[code]
Because my application was served on `localhost:3000` I have to vi

[2022-11-07 15:52] #16996 closed

[2022-11-07 17:03] tit commented on #24290
Found Workaround. Use Firefox (not Chrome).
In Firefox Salesforce login is worked.

[2022-11-07 17:08] flotwig opened #24566 "Migrate Cypress WebExtension to use Manifest v3"
Chrome will begin disabling Manifest v2 extensions by June 2023: https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/

The Cypress WebExtension currently uses Manifest v2, so we need to migrate it to v3. We shouldn't wait until the last minute to do this since many users use old versions of Cypress with newer versions of Chrome.

If Manifest v3 breaks our use case for the WebExtension in F

[2022-11-07 17:46] mschile commented on #22587
The code for this is done in https://github.com/cypress-io/cypress/pull/23734, but has yet to be released.
We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2022-11-07 17:46] #22587 closed

[2022-11-07 17:51] gofr opened #24568 "@cypress/grep prints warning if nothing is being grepped"
### Current behavior

1. Install the plugin and enable the `grepFilterSpecs` feature (as described in the README).
2. Run Cypress without doing any grepping at all.

Cypress prints the warning:

    grep and/or grepTags has eliminated all specs

### Desired behavior

Cypress does not print any warning.

Cause of the bug:
1. The `greppedSpecs` variable is initialized to an empty array here: https:/

[2022-11-07 18:33] ryanthemanuel commented on #23121
Closing this as the remaining issues won't be bunched into a single release.

[2022-11-07 18:33] #23121 closed

[2022-11-07 18:33] ryanthemanuel commented on #22978
Closing this as https://github.com/cypress-io/cypress/issues/18480 ended up being the main tracker.

[2022-11-07 18:33] #22978 closed

[2022-11-07 18:37] #24506 closed, assigned to AtofStryker

[2022-11-07 19:30] conversayShawn commented on #7099
**Update if you are experiencing this issue in v10.0.0+:**

In Cypress versions [10.0.0+](https://docs.cypress.io/guides/references/changelog#10-0-0), the default test location for end-to-end testing has been moved to `cypress/e2e` folder: https://docs.cypress.io/guides/references/migration-guide#Migrating-to-Cypress-version-10-0

That being said, I would like to provide two options:

- The easies

[2022-11-07 19:44] Kname80 opened #24570 "White screen after running large set of test cases in cypress test runner"
### Current behavior

Im running 150 test cases locally in cypress test runner but when the test get close to finish the test runner turn into white page as displayed in the image. I could not find any information that can help with the issue.
![image](https://user-images.githubusercontent.com/41926411/200399447-f2e469b0-bc87-4db4-858c-384aa5e6e2dc.png)

### Desired behavior

_No response_

### Te

[2022-11-07 20:35] ZachJW34 opened #24572 ""Learn more" link in reporter opens tab in Cypress browser rather than an external browser"
### Current behavior

"Learn more" link in reporter opens tab/window in Cypress browser

### Desired behavior

"Learn more" link in reporter should open up a tab in an external browser

### Test code to reproduce

`cy.viewport('foo')` in an e2e test.

https://user-images.githubusercontent.com/25158820/200409845-ff70bd4e-53f2-42f5-843e-7a8f346ee441.mov

### Cypress Version

10.11.0

### Node versio

[2022-11-07 21:15] ZachJW34 opened #24573 "CT: Sync/non-chained errors within mount functions do not show code-frame"
### Current behavior

Errors thrown from within `mount(...)` do not show a code-frame (or any other exported function such as `import { unmount } from 'cypress/react'`

![Screen Shot 2022-11-07 at 3 22 08 PM](https://user-images.githubusercontent.com/25158820/200418207-5be9788d-50d0-49ff-85ed-6fe1bc15d0c4.png)

### Desired behavior

Code-frame should be visible

![Screen Shot 2022-11-07 at 3 13 02

[2022-11-07 22:36] #24344 closed, assigned to ZachJW34

[2022-11-07 23:12] jraigosaOC opened #24574 "Cypress 10 throws error reading js config file: SyntaxError: /frontend/cypress.config.js: Unexpected token c in JSON at position 0"
### Current behavior

Hello, I'm trying to transition our CI e2e runs to run Cypress 10.x.  It runs on a Docker container via BuildKite and it's currently loading 10.11.0.  It was previously complaining that it couldn't find the config file (using js format cypress.config.js).  I pointed the cypress run CLI to the file using --config-file param and now the file is being found but I'm getting an er

[2022-11-07 23:24] lmiller1990 commented on #24513
Right, now I see your snippet, it makes more sense. So you want to do this workflow:

1. Hit save in IDE
2. Event runs
3. Get file
4. Apply processing
5. Send **processed file** to the browser?

So the goal is **lint your files** as part of the workflow? But the `preprocessor` won't actually write the linted source files to your project, but to a temp directory. Sorry if I'm completely missing som

[2022-11-08 00:02] mschile commented on #24377
@lidiagc, thanks for determining which version caused the regression. Unfortunately, I haven't been able to reproduce the flickering. I know you aren't able to provide a link to your private repository, but are you able to recreate the issue in a public one or possibly using the [cypress-test-tiny](https://github.com/cypress-io/cypress-test-tiny) project?

[2022-11-08 02:13] 787681277 commented on #7677
I updated to Cypress 10.9.0 already with Firefox v106 and I'm still having some issues. Do we have an alternative for "chromeWebSecurity": false, in Firefox? In Chrome, it works fine.

[2022-11-08 02:24] 787681277 commented on #24177
1) Not just **chrome**, the border also exists when using cy.click() on **Electron**.
2) Is there any way/config setting to remove the redundant border when using cy.click()?Because we need to test keyboard function accessibility.The blue border should be displayed when using keyboard operation. But the The blue border is also displayed when using cy.click(),this is incorrect UI,which will make us

[2022-11-08 02:29] lmiller1990 opened #24575 "Flaky test: "App: should re-query for executing runs" (windows mainly)"
### Link to dashboard or CircleCI failure

https://app.circleci.com/pipelines/github/cypress-io/cypress/45562/workflows/8510305c-0f92-41d6-b8fb-2abaa50db11a/jobs/1914521/tests#failed-test-2

### Link to failing test in GitHub

https://github.com/cypress-io/cypress/blob/963e184446dffe627c7c412c72c428be0da388b0/packages/app/cypress/e2e/runs.cy.ts#L888-L955

These two are flaky on windows.

Edit: Fir

[2022-11-08 02:55] lmiller1990 commented on #24575
Works great in linux! :linux master race:

![image](https://user-images.githubusercontent.com/19196536/200463947-3bc4b91d-a256-4207-895f-aad2b5595211.png)

[2022-11-08 06:51] lmiller1990 commented on #23525
Note: I have updated this ticket to just be concerned with **writing** the tech brief. Previous estimates were for the entire feature.

Epic: https://github.com/cypress-io/cypress/issues/24008

[2022-11-08 06:55] lmiller1990 commented on #24141
- userland work around https://github.com/vuejs/vue-jest/issues/430#issuecomment-1305364141
- issue in nuxt w/ some info https://github.com/nuxt/nuxt.js/issues/14534

I do not think we should spend a ton of time here, Nuxt is not very popular, but worth seeing if we can offer a work around at least. I think we should time box it to 1.5 days max.

[2022-11-08 06:57] lmiller1990 commented on #24140
Worth noting we spent time/effort in test utils already to solve the problem of "what is this component named", see https://github.com/vuejs/test-utils/blob/864e9e2b3a1e65d19b9e748c0af5d4b26698d99c/src/utils/componentName.ts.

[2022-11-08 07:02] manuelkroiss opened #24577 "Component Test only works once in UI mode if component routes to other page"
### Current behavior

We are testing an Angular component (`npx cypress open`) that contains a button where a click should lead the router to route to a specific link.

The test works fine asserting `cy.url().should('include', 'http://localhost:8080/__/#/settings');` running the first time. But trying to run the test again (without reloading the page) does not work and this test (and also all othe

[2022-11-08 07:02] CypressBeginer05 opened #24578 "Cypress typescript custom command not working v10.11.0"
### Current behavior

Hi Cypress Team,
I am trying to create a simple test using typescript along with Command.ts .But its giving me error as **typeLogin(my command)is not a function** as mentioned in below.
![typescript_not_working](https://user-images.githubusercontent.com/117148580/200493728-20f6067c-5cbe-486a-9fda-f86b1c117087.png)

**Basically I am also looking for all required configuration

[2022-11-08 07:04] lmiller1990 commented on #24153
Agreed with Mark, a bit ambiguous, I'll try to consider that in my vote. You need to find all the common templates that have eslint, see what the DX is like, and then figure out what to do.

If this is too expensive, maybe a generic solution with some docs is more appropriate?

[2022-11-08 07:07] lmiller1990 commented on #22350
Some interesting info and thoughts on testing Next.js, specifically pages: https://github.com/cypress-io/cypress/issues/23761#issuecomment-1298934168

Worth considering. This might be a bigger win than just individual components. I'm not sure on the outcome of this ticket - we may have a combination of examples, as well as a blog post around known limitations and how to solve them?

[2022-11-08 08:14] lmiller1990 opened #24579 "Flaky test: CT Mount - While hovering on Mount(), shows component on AUT"
### Link to dashboard or CircleCI failure

https://app.circleci.com/pipelines/github/cypress-io/cypress/45565/workflows/abe7cf02-299f-4ad0-bbe4-e45b72ce0a87/jobs/1914661/tests#failed-test-0

### Link to failing test in GitHub

https://github.com/cypress-io/cypress/blob/aa5c5faf7fc96e84dcd5c956f5c036595b0238be/packages/app/cypress/e2e/runner/reporter-ct-mount-hover.cy.ts#L20

### Analysis

Not sure

[2022-11-08 08:26] robrich7 commented on #22506
i have found a solution that works for me.
I use a Docker image [(Docker Images)](https://github.com/cypress-io/cypress-docker-images) with an installed Chrome under Chrome version 100. In my case I use the `Chrome 99` with the image: `cypress/browsers:node16.14.0-chrome99-ff97`
For this I install Cypress `10.11.0` for the test run via pipeline. I have also tried Docker images with Chrome 100-103

[2022-11-08 08:57] ibrahimsTailorMed opened #24581 "cy.request is not able to handle response with large size"
### Current behavior

I'm working on backend code coverage, the node module @cypress/code-coverage sends a cy.request to the coverage API in order to get the JSON object that represents the code coverage.
The file size is 16 MB, I tried manually with POSTMAN and I was able to retrieve the file. Also I tried using CURL in the terminal and dump the output to a file and it works.
I saw other people h

[2022-11-08 10:25] ganeshac123 commented on #22670
Hi @chrisbreiding @AtofStryker  downloaded Cypress 10.11.0 from cypress website, tested browser cookies issue. Looks like issue is not resolved yet.

<img width="1792" alt="Screenshot 2022-11-08 at 10 25 44 AM" src="https://user-images.githubusercontent.com/89897004/200540887-2071633c-a7a0-43f2-836a-775caa865261.png">

[2022-11-08 10:27] lmiller1990 commented on #24577
Hi!

The reason this happens is you navigate away from the dev-server URL. Unlike E2E where there is two iframes ("spec" frame for the test, "app" frame for the webpage), Component Testing only has one - which points to a dev server.

I haven't got a one size fits all solution, but in general, here's some of the things I've done around routing:

1) avoid testing routing in CT - it's kind of an End

[2022-11-08 10:30] lmiller1990 commented on #24578
Your code looks fine. Can you post a repository with the exact code?

The default in Cypress 10 for commands is `cypress/support/e2e.js` (or `ts`). Can you try renaming your commands file?

[2022-11-08 10:46] Medmj commented on #3119
Hello I had the same issue,
Cypress is able to see the cookies, I even tried getting them and force setting them just after the login and before every test but still acts as if there are no cookies.

The actual message I am getting from the app I'm testing is "Cookie not found. Please make sure cookies are enabled in your browser."

Weirdly enough, I changed the Cypress browser to use for from Chr

[2022-11-08 10:46] paulgrant commented on #24093
@irving-ventura-shift I had a fix that would work locally as I was amending the local appData version of the file - but nothing that would be achieveable in a CI environment.

[2022-11-08 10:51] Moumouls opened #24582 "Trash fail Apple Sillicon"
### Current behavior

It seems that a Cypress package is not compatible with Apple Sillicon. Cypress does not exit, but an error is raised.

### Desired behavior

To trash old results correctly

### Test code to reproduce

Install `"cypress": "10.11.0"` run test, wait tests to finish and re run tests.

using `cypress run`

### Cypress Version

10.11.0

### Node version

16.18.1

### Operating Syst

[2022-11-08 11:06] irving-ventura-shift commented on #24093
Well, I have left the boat, I swapped reporters to teamcity 😐

[2022-11-08 11:17] RoopaShivakumar commented on #7306
Facing issue with env variables passed through CLI when the values have space in it...Cypress ignore the value after space
Multiple environments passed by comma but if value has a space, it cannot be accessed in the script it shows undefined
Ex: npx cypress run --env var1=AAA-BBB,var2=Test Check,var3=xyz

only var1 can be accessed and since var2 has space var2 will give only Test and var3 will be

[2022-11-08 12:18] DiwanD03 opened #24583 "Cypress 11.2.0: selectFile command to upload a huge sized file is failing in Electron browser but works fine in Chrome and Firefox"
### Current behavior

I am trying to upload a large file in a web application using 'selectFile' command in cypress. Though the code works fine in chrome and firefox browser, if I select electron the browser crashes with below error:

[7898:1108/172752.248261:ERROR:[node_bindings.cc](http://node_bindings.cc/)(143)] Fatal error in V8: v8::ToLocalChecked Empty MaybeLocal.
The Test Runner unexpectedl

[2022-11-08 12:37] ezekel commented on #24458
@mschile . I forgot to mention my site http://myapp.local is running inside the docker container . I did not use xamp or wampserver in my local development.

First  - I spin up my container for my website so that I can access http:://myapp.local

Second I run this command to my folder

[code]

the cypress.config.js is in the root of my project folder

and this is my cypress folder structure

![ima

[2022-11-08 12:45] DiwanD03 commented on #24583
The file being uploaded is huge in size - 422957367

If I upload a small sized file, it goes through fine in electron browser too.

[2022-11-08 12:56] SalahAdDin commented on #7306
Here still waiting for a solution.

[2022-11-08 13:14] marktnoonan opened #24585 "[Run All Specs] Spike: Handle "Run All Specs" for Component Testing"
### What would you like?

This was not a feature of Cypress 9 and below. Once https://github.com/cypress-io/cypress/issues/24469 is implemented and working for e2e we should see what the level of effort is to get "Run All" working for component testing.

### Outcome of the spike

Create an issue detailing the changes needed to support "run all" for CT that can be estimated.

### Why is this needed

[2022-11-08 13:16] cuixiaorui opened #24586 "Solid Mount Support For Component Test"
### What would you like?

New library for supporting Solid component testing in npm/solid

### Why is this needed?

To support Cypress Svelte Component Testing

### Other

_No response_

[2022-11-08 13:49] NikitaSheff commented on #24269
ERR_FAILED (-2) loading 'https://ant.bc-servers.me/advertiser/'
Error: ERR_FAILED (-2) loading 'https://ant.bc-servers.me/advertiser/'
    at rejectAndCleanup (node:electron/js2c/browser_init:165:7500)
    at EventEmitter.stopLoadingListener (node:electron/js2c/browser_init:165:7875)
    at EventEmitter.emit (node:events:527:28)
    at EventEmitter.emit (node:domain:475:12)

 I've also can see the

[2022-11-08 13:54] CSchulz commented on #23141
I can try to setup a small reproduction repo.

I have tried 16.15.0, 16.17.1 and 16.18.1. All have the same error.
Even an update to cypress 10.11 doesn't change anything.

[2022-11-08 14:07] mbbillz commented on #21603
@tlolkema I'm having this same issue and it's preventing fully testing my whole checkout flow 🙈. Hoping for a fix soon! 🤞

[2022-11-08 14:08] marktnoonan commented on #24168
@vukobrat we expect to start the development work in the next couple of sprints, this epic will move to "in progress" when that work starts.

[2022-11-08 14:11] aubincc commented on #24497
Damn, I knew it wasn't me 😸

[2022-11-08 14:12] amehta265 commented on #24486
Unfortunately we have to close this issue due to inactivity and a lack of a reproducible example.
Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2022-11-08 14:12] #24486 closed, assigned to amehta265

[2022-11-08 14:13] amehta265 commented on #24375
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-11-08 14:13] #24375 closed, assigned to amehta265

[2022-11-08 14:15] skjnldsv commented on #24497
Ahaha, same here, it drove me crazy for a couple of days 🥲

[2022-11-08 14:20] warrensplayer commented on #24440
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24440?planning-poker) with Zenhub @rockindahizzy @lmiller1990 @ZachJW34 @marktnoonan @amehta265 @astone123

[2022-11-08 14:20] warrensplayer commented on #24441
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24441?planning-poker) with Zenhub @rockindahizzy @lmiller1990 @ZachJW34 @marktnoonan @amehta265 @astone123

[2022-11-08 14:20] warrensplayer commented on #24442
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24442?planning-poker) with Zenhub @rockindahizzy @lmiller1990 @ZachJW34 @marktnoonan @amehta265 @astone123

[2022-11-08 14:20] warrensplayer commented on #24443
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24443?planning-poker) with Zenhub @rockindahizzy @lmiller1990 @ZachJW34 @marktnoonan @amehta265 @astone123

[2022-11-08 14:20] warrensplayer commented on #24444
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24444?planning-poker) with Zenhub @rockindahizzy @lmiller1990 @ZachJW34 @marktnoonan @amehta265 @astone123

[2022-11-08 14:45] levaleks opened #24588 "No tests found when directory name has [] (Component Testing with Next.js)"
### Current behavior

Hello, I encountered a similar issue previously reported here https://github.com/cypress-io/cypress/issues/20573
Running tests inside a square-bracket folder lead to a "No tests found." error.
![Screenshot 2022-11-08 at 16 28 23](https://user-images.githubusercontent.com/16807233/200591937-cac1b1fe-9d27-46ba-b1cc-b5cd52a24e7c.png)

### Desired behavior

Tests inside square-br

[2022-11-08 14:47] Regaddi commented on #21619
I'd like to add that not being able to use retries also increases costs.
In our app there is always some network flakiness to expect, so tests can sporadically fail without a corresponding change to the application.
We currently have a test suite of 120 Cypress tests.
Every time a test fails due to some flakiness that could otherwise be covered with the retries option, we'd have to re-run the test

[2022-11-08 14:58] GeryDuComptoirDesPharmacies opened #24589 "Regression with cy.origin ?"
### Current behavior

Hi,

I got a test case who pass in cypress 10.9.0 and now failed in cypress 10.10.0 and above.

I try to validate payment information from my payment provider and I got the payment provider API return an error 500 only for cypress 10.10.0 and above and my test failed.

The snippet I'm running in both version 10.9.0 and 10.10.0 :
[code]

`url = /public/mandates/xxxxxx/xxxxxxxx

[2022-11-08 15:24] liambutler commented on #5191
I also encounter this issue when `videoCompression` is set to 0. Though its still mentioned in the Cypress docs:

https://docs.cypress.io/guides/references/configuration#Videos

<img width="249" alt="Screenshot 2022-11-08 at 16 22 44" src="https://user-images.githubusercontent.com/24389501/200606969-03db676c-ee5c-44d4-8c58-4ae19854b2ba.png">

Also results in an error on the Cypress dashboard when

[2022-11-08 15:25] nagash77 commented on #24570
Hi @Karim10k .  Im sorry you are having difficulties.  Unfortunately, with the provided information we will not be able to provide much assistance.  I would also suggest you try running on the latest Cypress to see if the problem resolves itself by upgrading.  In the mean time I am going to close this issue until you can provide us more information that would enable us to recreate your problem int

[2022-11-08 15:25] #24570 closed, assigned to nobody

[2022-11-08 15:32] emilyrohrbough commented on #24593
Looks like there are incorrect Types for validate

[2022-11-08 15:33] nagash77 commented on #24555
Hi @shashi123664 , I am sorry to hear you are having issues while running your tests.  Unfortunately with the information provided we will not be able to assist you in debugging your problem.  I am going to close this issue since Cypress developers don't have enough information to go off of.

Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our ow

[2022-11-08 15:33] #24555 closed, assigned to nobody

[2022-11-08 15:37] liambutler commented on #20468
Experiencing the same with default GHA runners. Disabling video helps with execution time, but then we lose one of the biggest benefits of Cypress

[2022-11-08 15:40] emilyrohrbough commented on #24033
@rkhomi / @romankhomitskyi We have taken this feedback and as at team we evaluated the test isolation behavior and found it wasn't behaving how users expected and have made adjustments.

In [Cypress 10.11.0](https://docs.cypress.io/guides/references/changelog#10-11-0), the way that Cypress handles [test isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isola

[2022-11-08 15:40] #24033 closed, assigned to nobody

[2022-11-08 15:57] liambutler opened #24595 "Videos not viewable on Cypress Dashboard when videoCompression is set to 0"
### Current behavior

I imagine that this is related to [this issue](https://github.com/cypress-io/cypress/issues/5191)

I've been trying to debug video frame skip issues when running Cypress via GitHub Actions ([issue here](https://github.com/cypress-io/cypress/issues/20468)). One thing that was suggested to me was to set the `videoCompression` to `0` in `cypress.config.ts`.

According to the Git

[2022-11-08 16:48] mschile opened #24596 "selectFile test failure with testIsolation on"
Investigate why this test fails with testIsolation on:

https://github.com/cypress-io/cypress/blob/d7e148f8cde4f74300bec3a3e2fa55ed3139d6fd/system-tests/projects/selectFile/cypress/e2e/index.cy.js#L6

[2022-11-08 16:51] josh803316 commented on #20468
I agree @liambutler and it's extremely frustrating not being able to use it.  Just FYI: I was able to get this working again by using self-hosted runners and switching to the amazon linux 2022 image, although that is likely not an option for most.