[2019-01-18 21:05] jetrii commented on #3095
Huge +1 on this. Cypress is currently unusable by companies that work with highly confidential data.

[2019-01-18 21:08] flotwig commented on #3151
To see if this is still happening, I pushed up a test commit with `--disable-background-networking` re-enabled and re-ran the tests a bunch of times in CI. Here are the results:

https://circleci.com/gh/cypress-io/cypress/tree/issue-3151

There was only 1 failure out of all those re-runs, and that failure doesn't look like it was caused by a timeout within Chromium. @brian-mann does this look like

[2019-01-18 21:12] fr0 commented on #3172
If you use `cy.wrap` instead, things become happy:

[code]

Perhaps this is a documentation/training issue. Although if that is the case, then using `done()` in this way is really a trap, and should be flagged with a warning.

[2019-01-18 21:48] fr0 opened #3173 "cy.wrap times out when wrapping a completed promise that was already wrapped"
### Current behavior:

Wrapping a completed promise that has already been wrapped should just pass the value along, but instead it seems to time out. e.g.

[code]

### Desired behavior:

In general, I think `cy.wrap` should be able to be called with a promise that was already wrapped. There is no good reason to do this; however, if the caller and callee are in different places in the code and they

[2019-01-18 21:59] fr0 commented on #3139
Based on what I saw in #3172, I am now wondering if both cases should generate a warning.

[2019-01-18 22:00] WesleySSmith commented on #1987
I've found a similar issue, and I'm not sure if it's fully explained by @brian-mann 's comment above, so adding it here in case this is a different variation.

My spec file:

[code]

The output:

[code]

Note that after we move on the the "part 2" block and call cy.visit() in the 'B' test, the test runner restarts, (as explained above) but then, for some reason, the beforeEach from the _"Part 1"_

[2019-01-18 22:12] bahmutov commented on #3172
can I ask why you are wrapping `cy.visit` in a promise? Why not simply
[code]

[2019-01-18 22:15] fr0 commented on #3172
the `timer(1000)` is a contrived example; in my real-world case, this is actually a call that sends a message to the back-end to put it in a specific state, then waits for a response.  So it's really more like:

[code]

[2019-01-18 22:20] bahmutov commented on #3172
ok, so then just do cypress promise
[code]

[2019-01-18 22:22] bahmutov commented on #3172
how do you bootstrap the backend? Maybe use `cy.request` or `cy.task`?

[2019-01-18 22:32] brian-mann commented on #3172
`cy.then()` exists only for legacy purposes, and it'll get removed at some point as a breaking change. It should be `cy.wrap().then()` to match other valid promise signatures.

The correct behavior here is `cy.wrap(otherPromise)` because cypress needs to be in control of the `cy` chain.

We actually **detect** that you've incorrectly returned a non-cy Promise and then invoked `cy.*` commands withi

[2019-01-18 22:32] bahmutov commented on #3172
maybe even put your promise returning scaffolding code into separate `beforeEach` like this (Mocha understands that if you return a promise, it needs to wait)
[code]

[2019-01-18 22:34] fr0 commented on #3172
Yes, exactly. Once I got past this issue (and started using `cy.wrap`), I find that works very well.

I didn't know you could do this in Mocha - that's a good idea. Thanks!

[2019-01-18 22:36] brian-mann commented on #3172
@fr0 	it may also be worth mentioning that while you share the same JS lib as your application - you could possibly move this behavior off to the background node process via `cy.task()` to not pollute your specs. However it would depend on your JS lib, whether it works only in a browser environment, and it does sometimes make debugging a bit harder without using chrome devtools.

[2019-01-18 22:38] brian-mann commented on #3172
@bahmutov 	i think it's worth noting that in the warning we provide we should reference wrapping the outer promise in `cy.wrap()`. now that i think about it... we could actually **force** this to happen under the hood, but it's possible that may create situations you don't expect because the interop between promises + cy commands is not identical.

@bahmutov 	if you simply do `return Promise.resol

[2019-01-18 22:40] bahmutov commented on #3172
I pretty much never wrap anything

On Fri, Jan 18, 2019 at 5:38 PM Brian Mann <notifications@github.com> wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter.com/@bahmutov>
https://glebbahmutov.com/ https://glebbahmutov.com/blog
https://github.com/bahmutov

[2019-01-19 04:35] zhengbli commented on #2834
I made symbol link `/usr/bin/google-chrome` to `/usr/bin/google-chrome-beta` now it works.

[2019-01-19 06:34] robert-king commented on #210
I'm having a similar problem:

let stuff = [];
    cy.get('mat-select').each((select) => {
      stuff.push(select);
    }).then(()=>{
      stuff[1].click();
      cy.get('mat-option').first().click();
    });

this works with stuff[1] or stuff[0]. However if I do:

      stuff[0].click();
      cy.get('mat-option').first().click();

      stuff[1].click();
      cy.get('mat-option').first().clic

[2019-01-19 08:03] achimkoellner commented on #1727
In my case the charset-part in the header string was invalid saying:

[code]
Maybe this is helpful for somebody.

[2019-01-19 14:41] bahmutov commented on #1859
would this step by step instruction webpack + Cypress help? https://glebbahmutov.com/blog/use-typescript-with-cypress/

[2019-01-19 15:19] SeriousM commented on #1859
This guide should be on the cypress.io docs!

[2019-01-19 23:13] #2617 closed

[2019-01-20 13:22] rogeralsing opened #3174 "Commercial Support?"
This is neither a bug or feature request, but rather a question about commercial support.
Our internal apps are tested via Cypress, which initially worked very well.
Now we are seeing tests fail 2 out of 3 times, at random. and we have no real way of going forward with this..

So, is there any official commercial support, anyone on the core team doing consulting on the topic?

[2019-01-20 13:36] Saibamen commented on #3174
Please copy and paste:

- Cypress version
- error message
- test code

[2019-01-20 14:13] echav opened #3175 "Bootstrap modal support seems to have regressed"
### Current behavior:

Execute the following script; it fails unless you uncomment the cy.wait line
[code]
Error message:
`
CypressError: Timed out retrying: expected '<div#exampleModalLive.modal.fade.show>' not to be 'visible'
`

### Desired behavior:

I would have expected this script to run successfully without the need to add a cy.wait

### Steps to reproduce: (app code and test code)

Execute

[2019-01-20 20:45] kabukki commented on #2069
In my case, I transpiled everything correctly, the "..." syntax came from a vendor bundle.

[2019-01-20 21:31] MCTaylor17 commented on #2113
It seems like the challenge is waiting for `/chat/<id>` despite an intermediate call to `/chat/create`.
I'm curious if this would this work:

[code]
I'm new to Cypress and don't use negated globbing patterns very often, so I could be missing something.

If the above does work, you could make it more robust by aliasing a route using the specific `<id>` or a regex pattern to avoid the negation.  Tha

[2019-01-21 07:02] godban commented on #2069
How hard Cypress coupled to this version of Electron?

Because web always moves on and sticking with this version will bring more and more issues in future.

[2019-01-21 07:36] jean-moldovan commented on #3172
@bahmutov , I'm having a somewhat similar problem in my use case.
Basically I need to retrieve some data from the server to generate the tests from. In Mocha this can be achieved by using --delay flag. What would be the Cypress way of doing this? Can't seem to find working solution.

https://github.com/cypress-io/cypress/issues/3114

Thanks!

[2019-01-21 10:44] mgrybyk commented on #2102
any updates on how to set screen size to desired value instead of hardcoded  1280x720 ?

[2019-01-21 10:46] chodorowicz commented on #2983
I have exactly same problem with my project.

[2019-01-21 10:50] itanhduy commented on #3156
Same issue +1

[2019-01-21 16:08] meinaart commented on #3090
I think you are right. Is there an ETA?

[2019-01-21 16:13] Bkucera commented on #210
@robert-king I'm not sure I understand. Can you provide some screenshots or a reproducible?

[2019-01-21 16:23] hellfireSteve commented on #3116
I am having this problem too. Started suddenly today. Prior to this it was working ok.

[2019-01-21 16:40] Bkucera commented on #3174
@rogeralsing Hi, please see this section of the cypress.io website. https://www.cypress.io/support/

[2019-01-21 16:40] #3174 closed

[2019-01-21 16:58] hellfireSteve opened #3176 "New error: It looks like this is your first time using Cypress: 3.1.4"
A new error appeared today, when running `npm run test:e2e`

The error says:

[code]

This is entirely erroneous.
I have been using Cypress without a problem up until today.
There is a line which says 'The error below should indicate which dependency is missing.' - it doesn't.
I followed the link, & it is unconnected.

How do I restore this to working order?

[2019-01-21 18:03] egucciar opened #3177 "localStorage being set on wrong domain"
### Current behavior:

We use the following code to set `baseUrl`:

[code]
Which demonstrates that the `baseUrl` of Cypress is set as follows:

![image](https://user-images.githubusercontent.com/2848185/51491381-32fb7000-1d7c-11e9-85c1-f367a83b5815.png)

Shortly after, we set some stuff in the localStorage.

we use something like this:

[code]

This then is updating the wrong Domain/Origin.

![ima

[2019-01-21 18:16] egucciar commented on #3177
I was able to do some debugging with `window.location`. What i found was the `ancestorOrigins` was actually controlling where the `localStorage` was set. What i believe is happening is when Cypress reloads the window, it doesn't completely respect subdomains in the `reload` so it actually does not populate the `ancestorOrigins` correctly. This means if you have a test which switches baseUrls betwe

[2019-01-21 18:53] Joelasaur commented on #807
Yes, the idea is to test submitting empty strings. Perhaps the user clicked on the box but entered nothing, not even a space, and then hit submit.

[2019-01-21 19:11] bahmutov commented on #807
Would it be the same as using cy.focus().blur() and then submit?

Sent from my iPhone

[2019-01-21 19:18] Joelasaur commented on #807
That probably would work. Just thought it was strange behavior to not allow empty strings.

[2019-01-21 19:18] maccurt commented on #1171
Thank you. I was getting frustrated with my decimals not typing in and just by upgrading I got past it..

[2019-01-21 19:58] ericghlee commented on #136
I care

[2019-01-21 20:21] egucciar opened #3178 "Support multiple `env` passing in CLI"
### Current behavior:

Seems as though it's impossible to pass in more than one `env` variable.

Test Code:

[code]

**GOOD**: Observation 1: `--env` works as expected when passing 1 argument

[code]

Expect 1 spec to be found, 1 test to pass, 1 test to fail

![image](https://user-images.githubusercontent.com/2848185/51496752-eb321400-1d8e-11e9-8af5-890867b8476b.png)

**BAD 1** Try to pass in seco

[2019-01-21 21:56] bahmutov commented on #3178
@egucciar can you double check how you pass arguments? They should be a single argument, comma-separated. I am showing how to pass:

[code]

See commits

- strings in https://github.com/cypress-io/cypress-test-tiny/commit/9566fd84abfe19fa394552919c9b7d0cf97b7f9d
- numbers in https://github.com/cypress-io/cypress-test-tiny/commit/0696ab468bf7ab97f33fca371d2fca62d3263147

BTW, whenever you have a pr

[2019-01-21 23:08] milkman4 commented on #1366
@Bkucera Thank you so much for that!

[2019-01-22 00:02] egucciar commented on #3178
@bahmutov great, thanks so much for the assistance. I tried comma separated but left in the space. Now with comma separated without space, it works perfectly. Thank you so much! i was worried I'd need to refactor my code to not rely on my second argument i hadn't thought to test until after i implemented everything.

Maybe a 1 line example in the docs for `--env` could clear up this confusion for

[2019-01-22 01:30] yuanyuanlimaggie opened #3179 "Got install error from cypress install"
Hi, my cypress tests were all good in gitlab. But started 1 week ago, it has cypress install error and always install failed now.

### Current behavior:

Gitlab cypress tests fail at the first step: installation:
[code]

### Desired behavior:

Cypress install successfully in gitlab like it did before.

### Steps to reproduce: (app code and test code)

### Versions

npm package: "cypress": "^3.1.0"

[2019-01-22 03:07] bahmutov commented on #3178
Agree, that's why I have opened https://github.com/cypress-io/cypress-documentation/issues/1329 to document this.

[2019-01-22 03:07] #3178 closed

[2019-01-22 06:38] benyamini opened #3180 "INDETERMINATE_CI_BUILD_ID error on Buildkite but suite appears to run fine"
### Current behavior:

The cypress runner throws the below error when starting new run in Buildkite
[code]
We're running with the following command:
`cypress run --record --parallel --group Regressions --ci-build-id ${BUILDKITE_BUILD_ID}`

And exposing the following env variables to Cypress in the docker pipeline:
[code]

Despite this error, the tests all appear to be split up correctly and appear

[2019-01-22 06:40] #3180 closed

[2019-01-22 06:45] benyamini commented on #3180
False alarm - cypress run was being called twice with incorrect values on the first call 🤦‍♂️

[2019-01-22 08:14] jennifer-shehane commented on #3179
Hey @yuanyuanlimaggie, could you verify that this is happening on a specific version of Cypress? So, update your npm package.json to describe a specific version like `3.1.4` - run, then go down to `3.1.3`, etc. After doing this, can you specify which versions throw the error and which don't? Thanks.

[2019-01-22 08:43] quany opened #3181 "end of central directory record signature not found"
Platform: darwin (18.2.0)
Cypress Version: 3.1.4
The Cypress App could not be unzipped.

[2019-01-22 10:32] jennifer-shehane commented on #3181
This may be due to a temporary network or file disk hiccup. We will need a reproducible example in order to address the issue. Can you provide it? Thanks!

[2019-01-22 11:10] Studio384 opened #3182 "GitLab CI fails on cy.visit()"
### Current behavior:

On opening tests in GitLab's CI, Cypress will fail the `beforeAll()` hook on its `cy.visit()`-command with a 404 error. This only seems to happen if the visit-url isn't `/`. For example this will work fine and will properly navigate to `/`:

[code]

But this example crashes with a 404 error despite `/queues` being a valid URL. When `/` and `/queues` are put together in the s

[2019-01-22 14:18] TheSerg commented on #53
Workaround

Example of triggering contextmenu event

cy.get('#nav').first().trigger('contextmenu')
Example of right clicking on an element using jQuery

cy.get('#nav').first().invoke('trigger', 'contextmenu')

[2019-01-22 14:35] bahmutov commented on #3175
This is the same issue as #3135

The Cypress click happens _before_ the modal is ready to handle clicks. You can either do the `cy.wait` or use something like `cypress-pipe` to keep clicking until the modal closes

[code]

We are working on a blog post that describes this race condition, keep an eye on https://www.cypress.io/blog/ when it comes out

[2019-01-22 14:35] #3175 closed

[2019-01-22 14:54] flotwig opened #3183 "Chromium installed via snap is not available in Cypress"
### Current behavior:

If Chromium is installed as a snap (`snap install chromium`), Cypress won't auto-detect it as a supported browser for testing:

![image](https://user-images.githubusercontent.com/1151760/51543360-60ebbd80-1e2b-11e9-9b1c-4832a372e465.png)

### Desired behavior:

Make Chromium installed as a snap available for testing without additional configuration, like the docs say: "[Cypr

[2019-01-22 15:36] Bkucera commented on #2610
@hellfireSteve I see where you're coming from, however without a reproducible or further feedback on the issue, we can't be certain this actually _is_ a problem with cypress.

[2019-01-22 15:38] #3052 closed

[2019-01-22 16:43] fr0 opened #3184 "Clarify in documentation: confusion regarding chaining + existence"
I'm a bit confused on the interaction between `.should('exist')`/`.should('not.exist')` and chaining.

For example, the following is pretty straightforward:

[code]

However, things get confusing when you start chaining, e.g.

[code]

* What should happen if `.foo` exists but `.bar` doesn't?

The [documentation says](https://docs.cypress.io/guides/core-concepts/introduction-to-cypress.html#Default

[2019-01-22 16:49] #2283 closed

[2019-01-22 17:03] ethernal commented on #3124
When testing with Electron (builtin setup) then everything works. I still think this might be an issue with my configuration of webpack/babel. Are there some settings that look incorrect from Cypress perspective that would make the code work with Electron but not Chrome?

[2019-01-22 17:12] flotwig commented on #1727
Closing this issue for now as wontfix since Cypress is (correctly) expecting a Content-Type header to be sent along with the request, instead of attempting to parse the response body for a Content-Type which we don't currently support.

@achimkoellner the confusing error message there has been fixed and will be released in 3.1.5 (today!)

[2019-01-22 17:26] lilaconlee opened #3185 "Cherry pick alias UI work from v4.0 branch to develop"
Alias UI work was done on the v4.0 branch as it was brought up during 4.0 discussions. Nothing about this work is specific to 4.0, so we'll cherry pick that into develop to be released with 3.2.

[2019-01-22 17:44] ethernal commented on #3124
When testing with Electron (builtin setup) then everything works. I just now tested with Chrome 71 on my desktop PC and it seems there are settings in Chrome managed via GPO that make Cypress fail.

So this is an issue with my configuration of Chrome as Electron will use engine that is not managed by admins. Is there a way to check which setting(s) is/are affecting Cypress or is there a way to use

[2019-01-22 17:48] flotwig commented on #3124
@ethernal I'm glad you commented with an update, I was having trouble reproducing this behavior under Chrome 71. If it's localized to your group policy then I can press pause on that.

Re: installing other versions of Chrome - You can install Chromium (the open source side of Chrome), and we support that. You can also install Chrome Canary, which is the nightly build of Chrome. Both of these will

[2019-01-22 18:43] devopsOCL commented on #1244
Any resolution to this ? I am seeing an exact issue but with a different directly listing ....

![image](https://user-images.githubusercontent.com/45436702/51557733-5c330380-1e43-11e9-88e6-e17007e6678b.png)

[2019-01-22 18:59] phillipoertel commented on #1534
Same here.

[2019-01-22 19:49] fr0 opened #3187 "trigger('mousemove', ...) yields undefined values for screenX and screenY in event handler"
### Current behavior:

Triggering `mousemove` via `.trigger` correctly fills in `pageX`, `pageY`, `clientX`, and `clientY`. However, Cypress fails to fill in the `screenX` and `screenY` values.
This can cause erroneous behavior if the application depends on them.

### Desired behavior:

`screenX` and `screenY` should probably just have the same values as `clientX` and `clientY`.

### Versions

3.1

[2019-01-22 19:52] jennifer-shehane commented on #1244
Hey @tanuj-vishnoi, you mentioned you are using Cypress Version 1.4.1, could you verify the issue by running `cypress version`? Because this is a very old version.

Also, can anyone provide a way to reproduce this? That would be the fastest way to get your issue directly addressed.

[2019-01-22 20:23] lebull commented on #2181
Same thing here.  Behavior is reproduced on windows 10, but not mac.

[2019-01-22 21:22] Bkucera commented on #3187
@fr0 thanks for pointing this out, I'll put it in the mix for synthetic mouse fixes

[2019-01-22 23:16] lilaconlee commented on #2869
First pass at design:

![screen shot 2019-01-22 at 4 58 41 pm](https://user-images.githubusercontent.com/7514489/51571216-99989080-1e45-11e9-8e91-dcf1c80caaf2.png)
![screen shot 2019-01-22 at 4 49 57 pm](https://user-images.githubusercontent.com/7514489/51570919-93ee7b00-1e44-11e9-9238-03234619bdd1.png)

Some considerations:
- Should users be able to dismiss warning? (I think no)
- Is it clear wha

[2019-01-22 23:33] Phillipe-Bojorquez commented on #170
@tricoder42 That solution worked well for me.  I had to change it somewhat since our upload attached to the document window instead of a chained element.

[code]
[code]

[2019-01-23 01:40] #3008 closed

[2019-01-23 01:57] #2376 closed

[2019-01-23 02:18] jfbrennan commented on #832
Is Chrome headless support happening? If so, is there an approx. date of availability?

[2019-01-23 02:44] brian-mann commented on #2869
1. I don't believe dismissal is necessary either
2. It's definitely not clear, and I would like to provide to the user which file changed. It'll need to be intelligently truncated though - and ideally you could click the file and open it up in your IDE via the same mechanisms we've discussed recently. You might be able to get away with a message like:
[code]
3. We could use like a notification or

[2019-01-23 02:46] brian-mann commented on #2869
@chrisbreiding 	and @jennifer-shehane 	and @Bkucera 	and @flotwig 	thoughts?

[2019-01-23 03:03] sahithya commented on #630
I'm using the cy.get('element).invoke('text') to get the text of an h2 element in a test. The text of the element is **Event 4 Spans Several Days** instead the Cypress invoke call yields **Event 4 spans Several Days** and leading to some false positive assertions. Does anyone know why this would be?

[2019-01-23 03:05] brian-mann commented on #2955
@lilaconlee 	in order for github to show you the number of outstanding tasks for issues the tasks must be listed in the first comment. same goes for PR's too.

[2019-01-23 04:40] yanshiyason opened #3189 "Support for Early Hints (103 response code)"
### Current behavior:

`cy.visit` crashes when accessing a page which uses Early Hints.

[code]

![image](https://user-images.githubusercontent.com/11358371/51582551-cf09b080-1f0f-11e9-9d31-7953706a441b.png)

Here is after adding the `failOnStatusCode: false` option.

![image](https://user-images.githubusercontent.com/11358371/51582710-97e7cf00-1f10-11e9-890d-a7f36ea86b40.png)

Here is a curl dump

[2019-01-23 06:50] #2954 closed

[2019-01-23 06:52] #2704 closed

[2019-01-23 06:53] ethernal commented on #1026
I am also interested in this.. how can I for example use Chrom Beta that is installed side by side with stable version?

[2019-01-23 07:10] jennifer-shehane commented on #2869
- I like the yellow color.
- It's not clear why you need to reload. It should say something like, "We noticed changes from your cypress.json file that may require you restart the browser."
- Is it 'restart' or 'reload'?

[2019-01-23 07:11] jennifer-shehane commented on #1997
Closing. We decided not to go this route.

[2019-01-23 07:11] #1997 closed

[2019-01-23 07:21] jennifer-shehane commented on #3153
Checking that the value if `undefined` may be a legitimate test case, if we always error on `undefined` value then one would never be able to assert that a value is in fact `undefined`. We think that the printed error is enough to debug the issue if `undefined` was not intentional.

[2019-01-23 07:21] #3153 closed

[2019-01-23 07:41] verheyenkoen commented on #630
Sounds like a (unrelated) bug. Maybe Cypress is trying to lowercase HTML tags (span in this case) where it shoudn't? I'd open a separate issue for this.

[2019-01-23 07:43] tlpbu opened #3190 "Stubbing not working for 3xx redirect situations due to "Location" header"
### Current behavior:

When "Location" header is stubbed (common case for 301 and 302 redirects), cypress actually does not set stubbed response status code and header.

[code]

While Chrome devtools network tab shows response status as it was stubbed, application under test and Cypress itself interprets response with status code 200 and without "Location" header.
![See image](https://user-images.

[2019-01-23 07:47] itanhduy commented on #3156
@jennifer-shehane,

I will provide the issue information soon. Thanks ;)

[2019-01-23 07:52] jennifer-shehane commented on #3176
Hey @hellfireSteve, could you provide any more information on how you are running the cypress command? Also, what may have changed in the last week regarding your build process, CI, os settings, cypress settings, anything?

This should not fail all of a sudden one day with no changes. Do you have loose version matching Cypress (like `^3.1.0`), did it update to `3.1.4` from a previous version?

[2019-01-23 08:06] jennifer-shehane commented on #3177
Hey @egucciar, can you provide the full test code? Include where you call the `cy.visit()` and where you invoke `setMoverDemoBaseUrl`. I've been unable to replicate this behavior with another multi-level subdomain example I have.

[2019-01-23 08:08] gabbersepp commented on #695
Hi, I have the same issues. using should("be.visible") also fails because of this problem. It would be good if one can make a clear statement whether or not this will be fixed. Otherwise we also do not know if we should handle this in our code or not.

[2019-01-23 08:52] jennifer-shehane commented on #3182
Hey @Studio384, how are you setting the baseUrl for your project? Is there anything unusual about the baseUrl - like multi-level subdomains or anything?

Could you run the project locally where this is failing and select 'Electron', open devtools and see if there is anything unusual there?

<img width="281" alt="screen shot 2019-01-23 at 3 22 11 pm" src="https://user-images.githubusercontent.com/1

[2019-01-23 08:55] jennifer-shehane commented on #3184
Moving this issue to the [cypress-documentation](https://github.com/cypress-io/cypress-documentation) repo. Our documentation is open source and contributions are welcome. 😄

There is also an open PR hoping to address some of the 'retry' questions - https://github.com/cypress-io/cypress-documentation/pull/1314

[2019-01-23 09:05] EmmanuelDemey commented on #1946
@Antontelesh Do we have the same kind of merge tool for jUnit reports ?

[2019-01-23 09:11] danielschwartz85 opened #3191 "Allow network access not via proxy - slow download speed"
As a plugin (Applitools) we need to use the browser to download many resources, apx 70 per page.
The download speed seems very slow and I guess it's because of the Cypress proxy.

Reproduction:
https://github.com/danielschwartz85/cypress-proxy-speed

### Current behavior:

All network traffic (from all frames) is passed to the Cypress proxy and is then slow.

### Desired behavior:

Allow webpages

[2019-01-23 09:21] jennifer-shehane commented on #3189
Related issue involving content-type https://github.com/cypress-io/cypress/issues/3101 going out in 3.1.5 This error should only display `null` if the `Content-Type` is indeed `null` or the `Content-Type` header is missing or invalid, which seems to be the case when the response is 103 - it has no `Content-Type` header.

Early Hints are [still in the 'Experimental' stage](https://tools.ietf.org/ht

[2019-01-23 09:21] #3191 closed

[2019-01-23 09:23] Studio384 commented on #3182
The BaseUrl is being set in `cypress.json` like this:

[code]

[2019-01-23 09:36] jennifer-shehane commented on #3190
It doesn't seem to matter whether you set the 'Location' in the headers, stubbing the response as 302 response responds with 200 status code.

**Reproducible code**
[code]

<img width="559" alt="screen shot 2019-01-23 at 4 03 14 pm" src="https://user-images.githubusercontent.com/1271364/51597044-b5c12e00-1f28-11e9-9a58-0f8662a5c5bb.png">

[2019-01-23 09:36] danielschwartz85 opened #3192 "Multiple fetch requests are slow."
Hi,

As a plugin (Applitools) we need to use the browser to download many resources, apx 70 per page.
The download speed seems very slow compared to a regular browser.

* My reproduction gave resulted of **5.5 seconds in Cypress vs  300ms** in regular browser

### Current behavior:

Fetch requests seem very slow for fetching many resources (compared to regular browser).

(the fetch "slowness" is e

[2019-01-23 09:49] hellfireSteve commented on #3176
Thanks @jennifer-shehane - the issue has now been solved. It had been updated from a previous version, 3.1.3. Ended up having to delete all versions of cypress in the cache & then re-installing Cypress 3.1.3

[2019-01-23 10:03] kashifali00 commented on #3119
Hi @jennifer-shehane is there any update on that issue?

[2019-01-23 10:17] jennifer-shehane commented on #3192
Thank you so much for the detailed issue! I was indeed able to reproduce this. We'll have the team look into what could be causing this issue.

**Local run outside of Cypress**
<img width="433" alt="screen shot 2019-01-23 at 4 46 06 pm" src="https://user-images.githubusercontent.com/1271364/51599607-6e3da080-1f2e-11e9-9199-2374ba7e3bdd.png">

**Visit in Cypress (even in new tab) - it's noticeably

[2019-01-23 10:37] jennifer-shehane commented on #887
Closing. Was not approved. Hopefully these doc improvements help https://github.com/cypress-io/cypress-documentation/pull/1314

[2019-01-23 10:40] tlpbu commented on #3190
Essentially stubbing works with any other header set in route options:
[code]
and same scenario fails with fails with "location" header in route options:
[code]

[2019-01-23 11:20] leepowellcouk commented on #2295
Any movement on this? Currently it's blocking us adopting in house for a number of projects.

[2019-01-23 11:57] Astridax commented on #1534
Yep, I too have come across this issue.

If cy.viewport is set within a `before` block of a `describe`, it does it once before all the `its` as expected.

But each it resets it back to the default meaning the only way I can get it to persist is to do it in a before each. It still resets after each `it` block, but the `beforeEach` sets it back again.

It results in a very annoying flickering betwee

[2019-01-23 13:38] DmitryBaldinTutu opened #3193 "Error: error:0906D06C:PEM routines:PEM_read_bio:no start line"
Hello!
I have a very strange problem. After starting tests in my second project by Cypress I have strange error.

[code]

But my colleges don't have this problem. And I didn't have with problem with my first project.
The error appears on a specific url. Another urls work correct.

I have macOS High Sierra 10.13.4

[2019-01-23 15:00] chrisbreiding opened #3194 "Remove @cypress/releaser dep"

[2019-01-23 15:01] chrisbreiding opened #3195 "Update @cypress/core-socket to packages/socket, remove dep"

[2019-01-23 15:37] #2891 closed

[2019-01-23 15:44] swiftzor commented on #3116
I'm running into the same issue on windows as well off of a fresh install.

**How to repeat**

1) create new folder anywhere on desktop
2) navigate there in cmd admin mode
3) run `npm init`, fill out scripts
4) install cypress with `npm install cypress --save-dev`
5) add the cypress:run command to the package.json file
6) open cypress in cmd with `npm run cypress:open`
7) Get the following results

[2019-01-23 15:49] #3195 closed

[2019-01-23 15:59] lilaconlee commented on #2869
Going to rework the design to get the file path in there and move around the browser warning placements. Some quick things before updating:
* I think the yellow works well to draw attention to something that requires action, we use the blue for the "Update your version" banner which seems kinda optional.
* I was using the "reload" wording that VS Code uses with extensions, but I've been waffling.

[2019-01-23 16:17] bahmutov commented on #3135
Described the problem in blog post https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/

[2019-01-23 16:17] bahmutov commented on #3175
Take a look at blog post https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/

[2019-01-23 16:22] maksimkarpov opened #3198 "Error: The 'task' event has not been registered in the plugins file. You must register it before using cy.task()"
### Current behavior:

I copied steps from https://github.com/cypress-io/cypress/issues/2284 with slight modification.

in my spec:

[code]

in index.js:

[code]

When I run my tests, getting error:

[code]

### Desired behavior:

want to be able to proceed without an error

[2019-01-23 16:25] echav commented on #3175
yes already read it, very clear - thanks a lot!

[2019-01-23 16:44] lsnape commented on #1232
Also keen to run Cypress tests on AWS Lambda, although I don't see how installing the binary precludes the tests from running?

[2019-01-23 16:44] raduflp commented on #1492
@efdknittlfrank did you ever managed to find a solution?

@Bkucera it doesn't look like its related to TS or a specific selectors. It looks like regardless of what it is returned from `eq`, `first`, `then` etc, it will always wrap the returned value in jQuery before passing it on.

I set up a new project with this minimal test to confirm the behavior
[code]
so basically even if you chain `eq(0)` l

[2019-01-23 16:59] chrisbreiding commented on #3198
You've registered `task:requested`. The event should be `task`:

[code]

[2019-01-23 16:59] #3198 closed

[2019-01-23 17:02] chrisbreiding commented on #3198
Missed this in my original comment, but looks like you based this off an older version of the API. The `task` event also should receive an object instead of a function. I edited the code example in that comment to reflect the right API.

[2019-01-23 17:22] lgandecki commented on #1232
I don't fully remember. I think the "headful" chrome makes it so the whole thing doesn't fit in the lambda limit of 50 mb? So you have to download and install chrome which makes it slow and expensive (long running?)

[2019-01-23 17:37] lsnape commented on #1232
FWIW you can skirt around the 50mb limit by uploading the Lambda package as a zip to S3 first: https://hackernoon.com/exploring-the-aws-lambda-deployment-limits-9a8384b0bec3

If that is the issue then my feeling is 250mb should be enough?

[2019-01-23 17:49] fr0 opened #3199 "console.log output doesn't get printed when running from module API"
### Current behavior:

If a test uses `console.log` to print output, it doesn't show up when running from the Cypress Module API (`cypress.run`).
I also tried `cy.log` and this didn't work either.

### Desired behavior:

Redirect `console.log` to print to the node console?

### Versions

3.1.4

[2019-01-23 17:54] nicklemmon opened #3200 "CSS `scroll-behavior: smooth;` on the `html` el breaks actionability"
### Current behavior:
* Multiple tests when attempting to leverage the `.click()` and `.check()` methods with the following error:

### Desired behavior:
* Ideally this CSS would not impact Cypress' ability to view elements appropriately
* Not a showstopper for our project as we can remove the styles and keep on trucking!

### Steps to reproduce: (app code and test code)
1. Add the following CSS:

[2019-01-23 17:57] mi-mazouz opened #3201 "Tests fail on circleci but success locally"
### Current behavior:

- circle-ci config:

[code]

- package.json's scripts:
[code]

- test:
![screen shot 2019-01-23 at 18 51 38](https://user-images.githubusercontent.com/24244248/51626532-085a1480-1f40-11e9-9c2f-18d74eaaa545.png)

- circle-ci error:
![screen shot 2019-01-23 at 18 52 00](https://user-images.githubusercontent.com/24244248/51626553-1445d680-1f40-11e9-99cb-c3ce7a1f08b5.png)

### V

[2019-01-23 18:02] fr0 commented on #488
Is this possible yet? I've seen people mention headless chrome in other issues. Is there an example of how to do it?

[2019-01-23 18:05] bahmutov commented on #3201
Can I ask you - can you get the saved screenshot and video from the test? On circle you can save them as test artifacts https://circleci.com/docs/2.0/configuration-reference/#store_artifacts

[2019-01-23 18:06] bahmutov commented on #3201
or record the tests on Cypress dashboard and you will see what is going on https://on.cypress.io/dashboard-service

[2019-01-23 18:49] fr0 commented on #1227
This is probably due to two things that combine to create the problem:
1. `@types/lodash` is in cypress's `dependencies` list; typically, type def packages should be in `devDependencies`. They are needed for compilation of the code, but not needed at runtime. (Things like `@types/mocha` and `@types/chai` might be a weird exception to this rule specifically in Cypress's use case; although, you coul

[2019-01-23 18:52] flotwig opened #3202 "Improve browser detection"
For fixing/changing a variety of things relating to how browser detection is done.

## Improve existing browser detection
* [x] #1400 - PR: #3209 Linux browser detection doesn't work for Chromium
* [x] #3183 - PR: ~#3186~ #3225  - Linux browser detection doesn't work for Chromium as a snap (snap)
* [x] #3217 - PR: #3225 Manjaro binary names for Chromium, Chrome are not included
* [x] ~Include goog

[2019-01-23 19:21] mogwaipr commented on #2938
I think that you should start your tests after you assert that a word is showing (a word that would show after loading the whole thing).  cy.get('#identifier').should('contain', "theword").

[2019-01-23 19:44] kellyprankin commented on #310
Can anyone elaborate on this statement:

Why isn't it a priority? This is super important!

    We disagree, cross browser testing is not as important as you think it is.

If I want to convince people to adopt this tool, I feel like they are going to scoff at that statement. Can you give any ammo?

[2019-01-23 20:15] lilaconlee commented on #2869
Second pass, also totally down to update the message to be something more friendly like "You should restart.."
<img width="1236" alt="screen shot 2019-01-23 at 2 09 54 pm" src="https://user-images.githubusercontent.com/7514489/51634188-b392ab80-1ef7-11e9-8943-d378b09c19a9.png">
<img width="691" alt="screen shot 2019-01-23 at 1 58 40 pm" src="https://user-images.githubusercontent.com/7514489/516342

[2019-01-23 20:22] EduardoAlarconU commented on #170
hi everyone i have a question about how can upload a pdf file to that, please help me 👍
![captura de pantalla 2019-01-23 a la s 17 17 40](https://user-images.githubusercontent.com/10190257/51634618-73511e80-1f33-11e9-9daf-d56990ff64ae.png)

[2019-01-23 20:32] brian-mann commented on #2869
The wording doesn't make sense now as it's basically telling me to go make changes in `the file`, but that's what I just did.

[code]

I like the placement of the message in the desktop gui - but for the test runner, i don't think it should extend into the AUT area. I would see what it looks like isolating it to **only** be above the tests. Like displacing the same width as the tests currently do.

[2019-01-23 20:42] bahmutov opened #3203 "Changelog generation and release notifications"
Currently we write the Changelog file (in cypress-documentation repo) manually based on releases in ZenHub. It would be nice to automate this work. The generated Changelog file can be then manually edited and added to our documentation and to GitHub releases in this repo.

First, write it as CLI tool, maybe a bot is not necessary. Also, huge bonus if there are tools that can do this already.

[2019-01-23 20:42] bahmutov opened #3204 "Find all issues that went into the release X.Y.Z"
Based on `release` in ZenHub (how to query its API). For example all issues with release `3.1.5` will become part of the release v3.1.5.

- query ZenHub
- generate Markdown

[2019-01-23 20:46] bahmutov opened #3205 "Comment on each issue that went into the release after publishing Cypress version"
We need to comment on each issue that was closed for release with a comment that says "Version X.Y.Z has been published" and maybe links to the Changelog and any other information.

Inspiration: semantic release bot here:
- comment and label `release` https://github.com/bahmutov/cypress-dark/issues/29

<img width="723" alt="screen shot 2019-01-23 at 3 46 34 pm" src="https://user-images.githubuserc

[2019-01-23 20:49] bahmutov commented on #3205
bonus: comment on all pull requests that went into release

[2019-01-23 20:49] bahmutov commented on #3204
Bonus: collect issues AND pull requests labeled

[2019-01-23 20:51] bahmutov opened #3206 "Collect all dependencies updated by Renovate Bot that went into release"
And include as a section in the generated Changelog

- top level in NPM package? Or all packages?

[2019-01-23 20:57] Bkucera opened #3207 "Cross Browser issue tracker"
Tracking issue for progress on #310

### Firefox _in progress_:
- [x] firefox support PR:#1359
- [x] [post-release candidate] capture video with extension API/screencast API

### Microsoft Edge _in progress_:

- [x] Edge support PR https://github.com/cypress-io/cypress/pull/6181

### Chrome-headless _done_:
- [x] support chrome headless issue:#832
- [x] capture video with screencast API #4791

[2019-01-23 21:04] bahmutov opened #3208 "Changing ZenHub pipeline should change label on the GitHub issue"
If we start working on the issue and move it in the pipeline

<img width="440" alt="screen shot 2019-01-23 at 4 03 05 pm" src="https://user-images.githubusercontent.com/2212006/51636950-7abefa80-1f28-11e9-8cef-c70d1654f1e2.png">

it should change the "state: ..." label on that GitHub issue.

[2019-01-23 21:12] flotwig commented on #1400
`chromium-browser` won't be detected because Chrome and Chromium have the exact same version number at the time of this writing:

[code]

Due to a bug in Cypress, it thinks that they're two copies of the same browser (based off the version number) and discards the Chromium entry.

I have an open PR to address this issue, so expect this behavior to be fixed soon: #3209

@x-yuri's solution will work

[2019-01-23 21:13] MCTaylor17 commented on #2970
Funny, I just wrote an article about it: https://www.linkedin.com/pulse/creating-hyper-realistic-ux-simulations-using-cypressio-taylor/

I didn't actually see this issue before writing that so it's nice to see I'm not alone in my thinking.  I did come across issue #181 where Brian suggested:

From a test automation perspective, I fully agree.  Those videos are currently designed for investigating

[2019-01-23 21:14] lilaconlee commented on #2869
Think we've got to direct folks to actually click the restart button, maybe something like this?

<img width="527" alt="screen shot 2019-01-23 at 3 09 26 pm" src="https://user-images.githubusercontent.com/7514489/51637358-a7125100-1eff-11e9-9219-19dd83855cca.png">
<img width="504" alt="screen shot 2019-01-23 at 2 59 43 pm" src="https://user-images.githubusercontent.com/7514489/51636799-3585d300-1e

[2019-01-23 21:32] flotwig commented on #3208
Looks like ZenHub exposes a nice webhook for when an issue changes pipelines:

https://github.com/ZenHubIO/API#issue-transfer

And then we could use webtask to POST that change to GitHub using a personal access token.

[2019-01-23 22:53] #1400 closed

[2019-01-23 23:01] flotwig commented on #3183
Seems to be a side-effect of being named `chromium` instead of `chromium-browser`. I'll think up a nice way to add lists of binary aliases to the launcher tomorrow.

[2019-01-24 00:38] yknx4 commented on #1953
👍 facing same issue

[2019-01-24 05:01] brian-mann commented on #3204
As long as the PR isn't connected to the issue. We don't set the release on both PR's AND issues - but if we are merging in a PR from an outside contributor, sometimes there isn't an associated issue - and in those cases, we would need to reference the PR only.

[2019-01-24 05:02] brian-mann commented on #3205
same rules as my comment here: https://github.com/cypress-io/cypress/issues/3204#issuecomment-457067802

[2019-01-24 05:04] brian-mann commented on #3205
@bahmutov 	whenever i leave a final comment on closed issues I just write this - short and sweet: https://github.com/cypress-io/cypress/issues/562#issuecomment-393025705

[2019-01-24 05:04] brian-mann commented on #3206
all packages i suppose - else its not really even valuable to give at all

[2019-01-24 05:05] brian-mann commented on #3206
we could likely just scan the commits for any changes to `package.json` that were part of `dependencies`... now that i think about it, it's only relevant to users if its part of the binary

[2019-01-24 05:07] brian-mann commented on #3208
We also need to do the REVERSE way. when updating a label in github, it needs to automatically update zenhub.

That would make it bi-directional and obviously we would first reconcile if the state already matches to be a no-op.

this would allow both @jennifer-shehane 	doing support through zenhub and for issues to be labeled inside of github and it naturally synchronize.

we'd also get the bonus

[2019-01-24 06:53] jennifer-shehane commented on #3206
I only add dependency updates from `dependencies` and ignore anything in `devDependencies` when writing the changelog currently. A typical example of this section in the [Changelog](https://on.cypress.io/changelog):

[code]

Issue url may go to an actual issue or just the PR.

[2019-01-24 07:55] #2980 closed

[2019-01-24 08:08] jennifer-shehane commented on #310
@kellyprankin @sbasinger The comment on the importance of cross browser testing is an older comment. Our new stance:

We're working on support. It is a major undertaking and dependent on implementing [Native Events](https://github.com/cypress-io/cypress/issues/311) first, which is making progress every day.

[2019-01-24 09:04] chuchu1313 commented on #3157
@flotwig @jennifer-shehane Thanks for your reply.
I use Module API, and looks like below, which works and can do what I want.

    // cypress_run.js

    const env = process.argv[2]
    const country = process.argv[3]

    fs.readFile('cypress/config/' + env + '.json', 'utf8', function (err, data) {

      const configs = JSON.parse(data)

        cypress.run({
            spec: runFiles,

[2019-01-24 09:05] jennifer-shehane commented on #3126
Hey @techieshark, can you provide the normal css styles applied to the iframe and also to the spinner element? I've been unable to replicate this exactly just playing with some standard css styles.

[2019-01-24 09:07] #3157 closed

[2019-01-24 09:10] maksimkarpov commented on #3198
Hi Chris, thanks for your reply. I've moved  cy.task('seedRisks',{"model": "delete"}) into under "beforeEach" clause and the error is not given anymore. I'm now trying to understand if this is doing anything at all.

Now in my spec it is:

describe('trying to do db stuff', () => {

	it('query db', () => {

  beforeEach(() => {
    cy.fixture("bsa.json").as("user");

    cy.task('seedRisks',{"model

[2019-01-24 09:10] jennifer-shehane commented on #3199
Hey @fr0, could you give an example of the exact code you are running and where you wrote the code so I can see what you mean? Thanks!

[2019-01-24 09:11] jennifer-shehane commented on #3194
Closed in https://github.com/cypress-io/cypress/pull/3197

[2019-01-24 09:11] #3194 closed

[2019-01-24 09:16] jennifer-shehane commented on #3193
Hey @DmitryBaldinTutu, can you provide the specific url that is causing the issue? If you do not want to make public, you can email to support@cypress.io

Googling this issue seems to indicate there is some kind of certificate issue.

[2019-01-24 09:38] maksimkarpov commented on #3198
Okay, it seems beforeEach doesn't do anything (((
Sorry, its my first week with cypress, looks like i'm doing all wrong

[2019-01-24 09:44] ggcaponetto opened #3212 "Unable to open cypress v.3.1.4 on windows"
### Current behavior:
Cypress doesn't open.

### Steps to reproduce: (app code and test code)

1. Update cypress to v3.1.4 on a windows host via ``npm i cypress@3.1.4``
2. run ``./node_modules/.bin/cypress open``

[code]
### Desired behavior:
cypress opens

### Versions

Platform: win32 (10.0.17134)
Cypress Version: 3.1.4

[2019-01-24 09:52] stefanshepin commented on #2525
Very important feature for me too, it make no sense to pay for service that can fail your production CI pipeline when dashboard is down.

[2019-01-24 09:56] maksimkarpov commented on #3198
Thanks, Chris

So, now in index.js I have:

    module.exports = (on) => {
      on('task', {
        'seedRisks' () {
           console.log('sdjdsj'); //just a placeholder
         }
      })
    }

and in my spec:

    beforeEach(() => {

        cy.visit('http://google.com')
        cy.task('seedRisks',{"model": "delete"})

      })

Getting the same error

[2019-01-24 10:43] jennifer-shehane commented on #3200
Hey @nicklemmon, I've opened a PR for this - writing a failing test for this behavior here: https://github.com/cypress-io/cypress/pull/3213

Now someone will need to look into why this failure occurs and fix Cypress calculations. Just from watching the test run, it looks as if the scroll is happening after the `.click` command has errored.

The error is being thrown at this line of code: https://g

[2019-01-24 10:47] #3176 closed

[2019-01-24 10:50] jennifer-shehane commented on #3212
Can you try [clearing your Cypress cache](https://on.cypress.io/command-line#cypress-cache-clear) then rerunning the command (suggesting based on https://github.com/cypress-io/cypress/issues/3176#issuecomment-456737411).

[code]

[2019-01-24 10:56] maksimkarpov commented on #3198
sorted, thanks

[2019-01-24 11:04] ggcaponetto commented on #3212
Solved clearing the cypress cache as described in the link provided by @jennifer-shehane . Thanks

[2019-01-24 11:04] #3212 closed

[2019-01-24 11:04] jennifer-shehane commented on #3139
@fr0 I'm sorry if I've misread, but I'm unsure exactly what behavior you want Cypress to do in this situation. Could you outline what you would like to happen in Cypress when running this code?

  static setup() {
     // set the back-end into a specific state, e.g. with HTTP POST or websocket
     // returns a Promise
     // this code is framework-agnostic and doesn't necessarily even need to be

[2019-01-24 11:05] jennifer-shehane commented on #3172
@brian-mann @bahmutov Is there anything actionable to be done from this issue? Could you create a checklist of the tasks required?

[2019-01-24 11:06] jennifer-shehane commented on #3090
No

[2019-01-24 11:13] jennifer-shehane commented on #210
Hey @robert-king, this original issue was involving inline elements issuing the error `cy.click() failed because this element is being covered by another element`, this doesn't look to be the error you are getting.

Could you open a new issue outlining an example that we can reproduce locally including the application code and test code.

You can also try asking questions relating to how to use Cy

[2019-01-24 11:19] jennifer-shehane commented on #3182
I notice the test title is called "Should set up a first voicemail 410", does this url have anything to do with a `410` status code?

Aside from this - I don't really see anything wrong with what you've provided so far. We would need more information. Ideally a reproducible example that we could run - app code + test code.

[2019-01-24 11:23] jennifer-shehane commented on #3116
Can you try [clearing your Cypress cache](https://on.cypress.io/command-line#cypress-cache-clear) then rerunning the command (suggesting based on https://github.com/cypress-io/cypress/issues/3176, https://github.com/cypress-io/cypress/issues/3212).

[code]

[2019-01-24 11:34] frassinier commented on #3116
Already done without any solution :(

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Jennifer Shehane <notifications@github.com>
Sent: Thursday, January 24, 2019 12:23:34 PM
To: cypress-io/cypress
Cc: Fabien Rassinier; Manual
Subject: Re: [cypress-io/cypress] Failure to start Cypress on a fresh install nvm (#3116)

Can you try clearing your Cypress

[2019-01-24 12:01] jennifer-shehane commented on #987
Thanks so much @mgrybyk for providing a reproducible example.

**Failing example**

[code]

[2019-01-24 12:50] dwelle commented on #881
If anyone ends up implementing my [workaround from above](https://github.com/cypress-io/cypress/issues/881#issuecomment-342308529), you might want to add this to your `plugins/index.js`:

[code]

So that babel uses `retainLines` to make your stack trace more close to the source.

and install:

[code]

[2019-01-24 14:58] sahithya opened #3214 "cy.get('element').invoke('text') changes case of text"
### Current behavior:

I'm using the `cy.get('element).invoke('text')` to get the text of an `h2` element in a test.
The text of the element is **"My Cool Text"**.
The Cypress invoke call yields **"My cool text"** making some of the text lower case and leading to some false positive assertions.

### Desired behavior:

`cy.get('element).invoke('text')`  yields the text of the HTML element as is wit

[2019-01-24 15:17] EduardoAlarconU commented on #170
If someone has the problem of uploading a  **pdf**, simply include these lines in your project
const fileName = 'pdfArchive.pdf';
const fileType = 'application/pdf';
const fileInput = 'input[type=file]';
cy.upload_file(fileName, fileType, fileInput)

and in the command.js include these lines
Cypress.Commands.add('upload_file', (fileName, fileType = ' ', selector) => {
    return cy.get(selector).t

[2019-01-24 15:30] dobromir-hristov commented on #170
I think this issue should have been locked long ago... shall we extract the most sensible solution, call it user land implementation and call it a day?

[2019-01-24 16:04] fr0 commented on #3139
After discovering the behavior in #3172, I think the warning is appropriate, and in fact should also be issued in the case where the `done()` function is used in `beforeEach`, since that seems to break things with no obvious indication to the user that that is what's causing it.

[2019-01-24 16:08] kommen commented on #2559
This is a real blocker for us since we're using RegExp lookbehind assertions, which were implemented in Chrome 62: https://www.chromestatus.com/feature/5668726032564224

Via Electron 1.8.2 cypress uses Chromium 59, where those regexes are just resulting in a syntax error.

[2019-01-24 16:11] fr0 commented on #3199
I was having trouble with a case where my test was failing under electron (timing out) and working fine under chrome. I was trying to use `console.log` to see how far it was getting, since it was running in headless mode. The timeout was in my setup code, so it was something like this:

[code]

[2019-01-24 16:30] Yaowenjie commented on #2370
I have similar issue, but it only happens in Linux, not for Mac.
Actually it is not only incomplete, but also intermittent. You can see the video runs fine in first 3 to 5 seconds, then the video stay there for about 10 seconds, in the end of the video you might see one second view of moment of next steps. Videos becomes useless if they are always like this. But it works very well in Mac. Does any

[2019-01-24 16:32] Bkucera commented on #3214
@sahithya you most likely have `text-transform: capitalize` on the element. Can you verify this? In that case, getting the text should return the lowercased text

[2019-01-24 16:40] Bkucera commented on #3158
@alexmonteirocastro could you put your reproducible in a jsfiddle or codepin? I want to be sure we can reproduce this error. Thanks!

[2019-01-24 16:45] calvinballing commented on #2528
Note that an additional issue that this will solve is that '.only' currently works based on string matching, so if multiple tests have the same description, they both run if .only is applied to only one.   The same occurs if you have multiple tests that share the same starting description. If the first is called 'Admin' and the second is called 'Admin - Page 2', then applying only to the first wil

[2019-01-24 17:12] Bkucera commented on #1492
As for cypress yielding a `jquery` instance after a `.eq(..)` this is normal and inline with how the rest of our apis work in relation to jquery. (in jquery, `.eq(0)` still returns you a `jquery` instance).

@efdknittlfrank @raduflp however, you are rightfully confused about chaining `.then`'s resulting in the subject being re-wrapped. This is unfortunately expected behavior, albiet not optimal fo

[2019-01-24 17:12] #1492 closed

[2019-01-24 17:30] jahvi opened #3215 "Is it possible to pass string as a `spec`?"
### Is this a Feature or Bug?

Question.

### Current behavior:

As it is now you can pass file locations as a string to the `spec` parameter to run tests in that file(s).

### Desired behavior:

My use case is that I'm using cypress to run some tests with dynamic options, these options are stored in a DB and the way that I'm doing it now is by creating a `.js` file with the contents of the DB, ru

[2019-01-24 17:59] flotwig commented on #3183
With support for binary aliases comes the possibility that we'll encounter multiple versions of the same binary. So now the launcher needs to support launching a specific version, at least internally.

[2019-01-24 18:02] ethernal commented on #3124
Yes it does. I did check earlier and that config changed nothing as you said. Although first change made the internal browser use Electron so that was misleading. I think we can close the issue. PS is there a way to check what settings make Chrome act so strange? It would be useful for troubleshooting I believe.

[2019-01-24 18:10] flotwig commented on #3124
@ethernal You can visit `chrome://policy` in Chrome and click "export to JSON", then share that file with us here. Thanks for offering, that will be helpful for us to debug issues for enterprise users down the road.

[2019-01-24 19:42] jennifer-shehane commented on #1302
Need to make sure this works for cy.route() and cy.request()

[2019-01-24 20:06] NicholasBoll opened #3216 "Module API doesn't fail the promise with Cypress failure messages"
Forgive me if this issue exists, I wasn't able to find it.

### Current behavior:

If using the Module API and Cypress fails for various reasons (`baseUrl` isn't reachable, `spec` isn't found) the module API resolves with a shape of `{ failures: 1, message: "Cypress error message" }` instead of rejecting.

### Desired behavior:

The module API should reject the promise with an error message. This

[2019-01-24 20:30] bhaidar commented on #1743
Any update on this?

[2019-01-24 20:59] tobyweston commented on #1239
If my system admins prevent the installation of extensions in my basic Chrome install, will it affect the cypress "profile" / cause this issue?

[2019-01-24 21:10] jahvi commented on #3215
I didn't really think of that, in my case I'm not using any imports but you're right that'd be complicated.

In my case I have a list of apps to run tests on, these have different elements with different IDs, names, etc. To make it easier to setup we have a UI were you can specify the selectors so then tests can be run using them against each app so these selectors are stored in a DB.

However as

[2019-01-24 21:10] #3215 closed

[2019-01-24 21:25] marinakuranda opened #3217 "Doesn't start Chrome and Chromium on Linux Manjaro"
Hello, thanks for working on Cypress!

I might be missing some trivial solution, please help me out.

### Current behavior:

I have a fresh local installation of Cypress for my project on my computer, no custom configuration just the default stuff user gets from opening Cypress.

It runs in Electron as expected out of the box, but if I specify a different browser I get the error:

[code]

### Desi

[2019-01-24 22:12] flotwig commented on #3183
I think that, in order to do this, we need to be passing the Browser objects from the launcher around internally. I did some digging and the server pretty much only identifies the current browser by "name" (`chrome`, `chromium`, etc...) and this won't do, especially if we want to eventually support arbitrary browser paths being passed in.

[2019-01-24 22:17] bahmutov commented on #3183
Yeah we need to pass more info, like the entire object if possible

Sent from my iPhone

[2019-01-24 22:21] flotwig opened #3218 "Represent browsers as `Browser` objects internally"
### Current behavior:

Inside the launcher package, browser is treated as an object with a name, a version, a path to the browser...

[packages/launcher/lib/types.ts](https://github.com/cypress-io/cypress/blob/develop/packages/launcher/lib/types.ts#L6)

Inside the server package, the browser is treated as an object (at first), but is quickly reduced to just the name (`chrome`, `chromium`, ...)

Th

[2019-01-24 22:49] Bkucera commented on #97
Hi, after this PR #3219 , you will be able to do the following assertions:

[code]

[2019-01-24 23:08] yknx4 commented on #1953
@jennifer-shehane I'm not even using '--spec' arguments.

Plugins files
[code]

I can give you a copy of the debug log given a more private channel, like email or IM, I don't want to have the log public on Github ~

[2019-01-24 23:11] Bkucera commented on #752
@henrykuzmick what version of cypress are you on? cy.focused() should yield the same as document.activeElement or null if the body is focused

[2019-01-24 23:29] jennliacl opened #3220 "--spec doesn't recursively find all matching files in the entire folder hierarchy"
### Current behavior:
I added `"integrationFolder": "./app",` in `cypress.json`
and in the `app` folder i have
`app/folder1/test1.spec.js`
`app/folder1/folder2/test2.spec.js`
`app/folder1/folder2/folder3/test3.spec.js`

when running `cypress run --browser chrome --spec ./app/**/*.cyp.js`
the resulting run only includes tests from `test1.spec.js`, and test2 and test3 are ignored.

### Desired behav

[2019-01-24 23:41] Bkucera commented on #3220
@jennliacl can you try setting `integrationFolder:'./app'` in `cypress.json`? By default cypress looks in `cypress/integration`

[2019-01-24 23:43] Bkucera commented on #3220
@jennliacl can you try `--spec '**/*.cyp.js'` with quotes around the argument?

[2019-01-24 23:44] alcfeoh commented on #630
You can also create your own command if you think invoke('text') is too verbose:

` Cypress.Commands.add("text", { prevSubject: true}, (subject, options) => {
     return subject.text();
 });`

and then use it like this:
`cy.get('._19odbsb1')**.text()**.then(value => results.yearlyTotal = value);`

[2019-01-25 00:15] Bkucera commented on #630
@sahithya most likely you have `text-transform:capitalize` on that element. So the text content in the dom is lowercase, but you think it's capitalized

[2019-01-25 00:15] jennliacl commented on #3220
Oh! IT WORKED. also I found the documentation where it says `quotes required`. Thanks very much!

[2019-01-25 00:47] lorensr commented on #433
This workaround prevents Chrome from trying to download the file:

[code]

[2019-01-25 00:53] #3220 closed

[2019-01-25 05:34] #2589 closed

[2019-01-25 06:05] tlpbu commented on #3190
@jennifer-shehane please let me know if some additional info is required from me in order get past `needs investigating` stage.

[2019-01-25 07:20] jennifer-shehane commented on #1351
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-25 07:33] jennifer-shehane commented on #623
I've been unable to recreate this issue. Please reopen this issue and give a reproducible example if this is still occurring.

[2019-01-25 07:33] #623 closed

[2019-01-25 07:33] #660 closed

[2019-01-25 07:39] jennifer-shehane commented on #786
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-25 07:42] jennifer-shehane commented on #954
I am unable to reproduce this issue from the test code provided above on version 3.1.4 of Cypress.

We'll have to close this issue as resolved if no reproducible example is provided. Can anyone provide a way to reproduce this in >3.1.4?

[2019-01-25 07:47] jennifer-shehane commented on #1032
Closing in favor of https://github.com/cypress-io/cypress/issues/76

[2019-01-25 07:47] #1032 closed

[2019-01-25 07:55] jennifer-shehane commented on #1179
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-25 07:57] jennifer-shehane commented on #1189
Closing as delivered. Please see [--spec argument docs](https://on.cypress.io/command-line#cypress-run-spec-lt-spec-gt)

[2019-01-25 07:57] #1189 closed

[2019-01-25 07:59] nLight commented on #1185
There are quite some issues that have one common thing among them: `Transfer-Encoding: chunked`. In our case we have a persistent connection that never closes. Looks like there's a some kind of buffer. We never get the last chunk of data. I assume there's a proxy that waits for another chunk or the connection to be closed by the server to flush the buffer.

[2019-01-25 08:00] nLight commented on #1185
@jennifer-shehane I wouldn't call it a feature though.

[2019-01-25 08:03] jennifer-shehane commented on #1764
Duplicate of #1265

[2019-01-25 08:03] #1764 closed

[2019-01-25 08:04] jennifer-shehane commented on #1265
Duplicate of https://github.com/cypress-io/cypress/issues/944

[2019-01-25 08:04] #1265 closed

[2019-01-25 08:06] jennifer-shehane commented on #1267
Duplicate of https://github.com/cypress-io/cypress/issues/944

[2019-01-25 08:06] #1267 closed

[2019-01-25 08:39] nLight commented on #1185
I updated description as I got some insights.

[2019-01-25 08:42] jennifer-shehane commented on #1268
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-25 08:47] jennifer-shehane commented on #1389
Hi, it's been a few months since this issue has had comments. Any updates?

[2019-01-25 08:54] jennifer-shehane commented on #1425
Hey @Maxiiimus, I am unable to reproduce the behavior you described. I will close as being resolved in a previous issue. Please comment here if you are still experiencing issue - and leave a reproducible example.

[2019-01-25 08:54] #1425 closed

[2019-01-25 08:57] jennifer-shehane commented on #1426
Closing as we do not intend to support. Running multiple instances of Cypress is preferably done in isolated containers, not on the same machine.

[2019-01-25 08:57] #1426 closed

[2019-01-25 09:14] jennifer-shehane commented on #1617
Closing since there is a suggested workaround available.

[2019-01-25 09:14] #1617 closed

[2019-01-25 09:17] jennifer-shehane commented on #1678
Unfortunately we'll have to close this issue if no reproducible example is provided. Can anyone provide a way to reproduce this?

[2019-01-25 09:34] dwelle commented on #2528
@calvinballing yep, see https://github.com/cypress-io/cypress/issues/2828

[2019-01-25 09:40] mussrya commented on #73
Would love this as a feature. It would make such a difference to perform quick tests and really make cypress stand out from the range of other testing frameworks out there as they all seem to lack this capability

[2019-01-25 10:35] jennifer-shehane commented on #1693
Hey @paulpruteanu, unfortunately we'll have to close this issue since no reproducible example was provided.

[2019-01-25 10:35] #1693 closed

[2019-01-25 10:44] jennifer-shehane commented on #1710
Closing as resolved. Please comment if there is still an problem with the issue specified here.

[2019-01-25 10:44] #1710 closed

[2019-01-25 10:49] jennifer-shehane commented on #1744
Some related work here: https://github.com/cypress-io/cypress/issues/2433

[2019-01-25 10:57] jennifer-shehane commented on #1950
Closing. Please see #1859 for comments and updates on better handling TS files.

[2019-01-25 10:57] #1950 closed

[2019-01-25 11:14] seromenho opened #3221 "cy.request doesn't set cookie with specific domain"
### Current behavior:
`baseURL`is set to: http://localhost:3000
`cy.request()` is not setting cookies that comes with a domain.

![screenshot from 2019-01-25 11-13-18](https://user-images.githubusercontent.com/476673/51742631-40716c80-2092-11e9-8947-88e461737b75.png)

### Desired behavior:
`cy.request()` should set cookies with specific domain.

### Steps to reproduce: (app code and test code)

[c

[2019-01-25 11:58] vzaidman commented on #857
hey!
this might be useful to you:
https://github.com/PowToon/html-dnd

[2019-01-25 13:35] vcamposs commented on #1313
Hello, @debrisapron . I'm sorry about a dumb question, but to use your script, i just need put in .js and run switch like "npm run e2e-test CYPRESS_RETRIES=true" ?

[2019-01-25 13:42] GraceAgony opened #3222 "Events like mouseover don't trigger hover state on element inside an SVG"
### Current behavior:
Tried to simulate hover state using the trigger('mouseover') on the element inside an SVG, cypress doesn't simulate this.

The line must become red when it's hover, but it's still green:

![image](https://user-images.githubusercontent.com/20641225/51748929-893b1c80-20b6-11e9-808c-13dcc439fa8a.png)

 It correctly found the element but didn't force hover state

![image](https:/

[2019-01-25 13:59] mhjmaas commented on #136
I would like to see this issue / feature request implemented on short term as well. I am trying to test an Angular 7 application which integrates with a PDF viewer and CKEditor which are both rendered in same-origin iframes. The testing has been an absolute blast up until now.

So I would like to +1 this as well. :)

[2019-01-25 14:20] bahmutov commented on #3204
ZenHub API https://github.com/ZenHubIO/API

[2019-01-25 14:23] bahmutov commented on #3204
Wat

<img width="1124" alt="screen shot 2019-01-25 at 9 22 21 am" src="https://user-images.githubusercontent.com/2212006/51751412-d00f1f00-2082-11e9-8d72-6fae4fbe168e.png">

<img width="695" alt="screen shot 2019-01-25 at 9 22 28 am" src="https://user-images.githubusercontent.com/2212006/51751421-d43b3c80-2082-11e9-9ae4-2d5edf3b24a3.png">

[2019-01-25 14:56] bahmutov commented on #3204
this repo has GitHub repo id 31629751

[2019-01-25 15:06] bahmutov commented on #3204
We can find all releases in the repo
[code]
returns long list, including
[code]

[2019-01-25 15:08] jm2242 commented on #1313
@vcamposs we are using the script and works great. We adding this to our `Cypress.json`:

[code]

then your script that you copy pasted into your `index.js` can start like this:
[code]

[2019-01-25 15:12] developer239 commented on #2363
Almost one year later this is still an issue. 🙂

[2019-01-25 15:16] bahmutov commented on #3204
Great, seems pretty straightforward to query ZenHub API to get all release issues and pull requests and then we can use GitHub API to comment on each with a release message. I had code to post GitHub comment in https://github.com/bahmutov/github-post-release

[2019-01-25 15:30] chrisbreiding commented on #1014
We decided in our discussions of 4.0 that we do not want `command:*` events to block tests from running or add any asynchrony, so we will not be implementing this.

[2019-01-25 15:30] #1014 closed

[2019-01-25 15:53] fr0 opened #3223 "Feature request: test sections"
When I first started writing tests, I originally organized them like unit tests. This meant each test was small and contained, and only tested one simple thing.
I've learned that it's better to have larger tests that test an entire feature, since this speeds up test execution and reduces duplicated actions.
However, I still want to be able to "group" actions within a test, so I know what part of t

[2019-01-25 16:14] Bkucera commented on #3222
Hi @GraceAgony, please see our docs on `hover` https://docs.cypress.io/api/commands/hover.html

we do not currently respect css hover pseudo-selectors, but it is on out roadmap

see #10

[2019-01-25 16:14] #3222 closed

[2019-01-25 16:19] Bkucera commented on #3221
@seromenho you are currently not on a domain when you used `cy.getCookie()`, since you never used `cy.visit()` in that test.

can you try adding `cy.visit('/')` above the calls to cy.request?

[2019-01-25 16:34] benjamingr commented on #3116
@jennifer-shehane I tried this, I got the same error.

[2019-01-25 16:35] seromenho commented on #3221
@Bkucera I found this because on my tests when I was visiting a page the cookie was not set.
But still you can see that the second test passes and I've also never used `cy.visit()` on that test.
I've added this to the tests and theres new screen shot and tests:
![screenshot from 2019-01-25 16-32-07](https://user-images.githubusercontent.com/476673/51758973-ff438180-20be-11e9-8bc3-2107122f62a9.png)

[2019-01-25 16:36] bahmutov commented on #3204
Created a tiny private repo for now https://github.com/cypress-io/issues-in-release that fetches all issue numbers. Can make it into a CLI tool to
- bulk set labels like `released`
- generate markdown file with changelog. Probably would require for each issue in the release finding the commit that closed it or PR and grabbing subject from it. Or maybe having a special section in the issue or commi

[2019-01-25 16:38] vcamposs commented on #1313
Great @jm2242 ! Run here! I Tks bro.

[2019-01-25 17:26] bahmutov commented on #3204
Ok, will generate a markdown with all issues that went into release

[2019-01-25 17:38] calvinballing opened #3224 "Cypress's dblclick does not function the same way as a user double clicking"
### Current behavior:
Firing Cypress's `dblclick()` does not behave the same way as a user double clicking an element.  Specifically, if there is no special meaning for a double click, then when a user double clicks, the first `click` event triggers a `click` action.  However, with `dblclick()`, if nothing is defined specifically for a double click, then the element is put in focus, but the action

[2019-01-25 17:49] fr0 commented on #3223
I wasn't aware that plugins could tweak the styling of the log - do you have an example of one that does this? I'd be glad to take a shot at implementing it.

[2019-01-25 17:52] Bkucera commented on #205
Hi, this is due to a bug fixed in this PR #3219

[2019-01-25 18:20] fr0 commented on #3223
Alright, I've implemented something - here's what I've got (in `cypress/support/section.ts`):
[code]

It would take more work to get collapsible sections, but I'll save that for a later time.

[2019-01-25 18:25] bahmutov commented on #3223
Nice! Cypress UI is a web app itself so you have full power ;)

Sent from my iPhone

[2019-01-25 18:37] Bkucera commented on #3109
@alexkrolick can you provide the code for `customGetById`? I'm not able reproduce this issue

[2019-01-25 18:38] alexkrolick commented on #3109
See https://github.com/kentcdodds/cypress-testing-library/issues/30 - there are a number of custom commands

[2019-01-25 18:50] Bkucera commented on #3109
@alexkrolick I see, you're asking for plugin authors to have access to the retry mechanism, custom commands using `cy.get` under the hood will still work fine

[2019-01-25 18:57] Bkucera commented on #3223
@fr0 possibly [proposal](#1581) is a super-set of this issue. And it has a great idea, where assertions will continue to run after other failed assertions.

I'm going to close this as duplicate so we can consolidate these proposals

[2019-01-25 18:57] #3223 closed

[2019-01-25 19:03] alexkrolick commented on #3109
Yes exactly

[2019-01-25 19:05] fr0 commented on #1581
I agree this would be valuable. I expect my `it` cases to be self-contained and to not depend on the state left behind by previous tests. Your `checkpoint`s would be part of a single `it` and thus could depend on state from before, while still providing a meaningful way to group assertions or portions of a test.

[2019-01-25 19:06] calvinballing commented on #3224
Also, for context, the reason I was trying to test this is I want to ensure that a particular button will only trigger the associated action once, rather than twice.  Right now we have a button that will trigger it's associated event multiple times if rapidly clicked in succession, but which should be locking out the user immediately after it is used the first time.  I've also tried .click().click

[2019-01-25 19:08] calvinballing commented on #3224
Possible consideration, what if .click() could take an argument telling it to click _x_ number of times on the same element repeatedly, separated by delays of _y_ milliseconds?

[2019-01-25 20:19] bahmutov commented on #3201
@mi-mazouz that's interesting, thanks for getting the screenshot image. I am not sure why the page is blank on CI. can I ask you to do something like - start the server, curl the localhost:3000 to see what the page HTML is returned?

[2019-01-25 21:37] Bkucera commented on #3224
as a workaround, you can try this:

[code]

[2019-01-25 22:10] jdoubleu opened #3228 "Cypress-to-electron version mapping"
### Current behavior:
It is not straightforward to find out which electron version is used by Cypress.

There are also some issues with the current electron version (see #2559, #2069, 2516).
These errors can be resolved e.g. by using `babel-preset-env` and transpile the code to work with older versions of Chrome (as part of Electron).

### Proposal
It would be nice if Cypress could provide a tool

[2019-01-25 23:32] Bkucera opened #3229 "add Cypress.log.groupEnd() and Cypress.log.groupCollapsed()"
It would be nice `Cypress.log.groupEnd()` and `Cypress.log.groupCollapsed()` APIs similar to those of `console.groupCollapsed()` `console.groupEnd()` but **for the command log**

Cypress.log.groupEnd() and Cypress.log.groupCollapsed() similar to

https://developer.mozilla.org/en-US/docs/Web/API/Console/groupCollapsed

This would help users make plugins like this proposal #1581

- [ ] groupCollapse

[2019-01-26 01:14] kuceb opened #3230 ".should chained off .then does not retry"
[code]

also causes issue here: https://github.com/cypress-io/cypress/issues/627

<img width="653" alt="Screen Shot 2021-01-05 at 4 01 09 PM" src="https://user-images.githubusercontent.com/1271364/103629858-40ad5e80-4f6f-11eb-8011-0431096f44e1.png">

[2019-01-26 11:49] mi-mazouz commented on #3201
This is what curl returned:

[code]

exactly like my index.html

[2019-01-26 12:54] bahmutov commented on #3201
Interesting! Can you give us the repo you are running? Something throws an error there I bet and the page does not load properly

Sent from my iPhone

[2019-01-26 20:50] ethernal commented on #3124
I removed the domain names and internal addresses but it is all. No real data/options are removed::

[code]

[2019-01-27 00:35] dayvidwhy commented on #944
Is there a reason cypress suggests changing this config property but it doesn't work?

My current workaround is to have separate tests visit the different domains. It works because during dev I have a dummy server keeping up with requests made from the different origins.

[code]
Test names and descriptions are vague on purpose.

It's not best practices since my tests have to be run sequentially an

[2019-01-27 06:10] agoldis opened #3231 "Parallel execution requests to https://api.cypress.io/runs are compared to a foreign project"
### Is this a Feature or Bug?

BUG

### Current behavior:

A call to `https://api.cypress.io/runs` returns specs from completely different, foreign project.

I enabled debug mode to see api request and response. Here's the request, **note the specs list**:

[code]

[code]

And here's the response with error code `422`:

[code]

To make it clear - the specs from response are **not** test belonging

[2019-01-27 14:11] bahmutov commented on #3231
Thank you @agoldis for detailed report, we are investigating

[2019-01-27 15:02] rsumith89 commented on #2034
In subscribe

On 27-Jan-2019 8:29 PM, "Loïc Salou" <notifications@github.com> wrote:

just found a workaround which seems to work in any case (at least for all
of my cases).
never call cy.screenshot('file') directly, always use some dom element and
chain with .root().screenshot('file')

   - simple ex. *cy.get('[data-cy=myTag]').root().screenshot('file')*
   - different use case, to see the result

[2019-01-27 16:11] zhDmitry opened #3232 "Api for plugins for ui customization."
I wanted to add plugin for coverage ui right within cypress ui. But there is not simple way to modify that ui. So I suggest to add some api for ui customisation using plugin api. Thanks.

[2019-01-27 16:33] lukeapage commented on #3230
Its basically the reason for https://github.com/NicholasBoll/cypress-pipe having to exist.

[2019-01-27 17:12] amirrustam commented on #3231
@agoldis thanks again for reporting this issue. This should be resolved now. Closing this issue for now, but feel free to re-open it if the problem persists for you.

[2019-01-27 17:12] #3231 closed

[2019-01-27 17:19] lukeapage commented on #3109
This workaround works:

[code]

[2019-01-27 17:50] alexkrolick commented on #3109
The custom queries we are trying to support aren't wrappers around jQuery attribute selectors; some of them use multiple DOM traversals to match labels to inputs, for example. `cy.get` isn't a workaround unfortunately. See linked issues.

[2019-01-27 18:33] marinakuranda commented on #3217
Doing ln `which chrome` /usr/local/bin/google-chrome` helped, thanks a lot!

[2019-01-27 18:33] #3217 closed

[2019-01-27 20:55] janhjordie opened #3233 "Cypress fail event not able to make http post from Docker"
### Current behavior:

It fails using http post in cypress fail event

### Desired behavior:
I want to capture the `fail` event, and when that happens I want to post a message to my API endpoint with the result.

It works just fine when using the UI/Cypress open. But when run in a docker, the http post is never fired.

If the http post happens, the test post will be visible on this endpoint https:

[2019-01-27 23:56] SLOBYYYY commented on #1271
Any news about this? It's really hard to maintain our fixtures since they are quite big with only slight changes here and there. One change in any of them and you have to update all of them.

[2019-01-28 00:09] bahmutov commented on #1271
Take a look at cy.task - it can be used to generate any object in node context, including fixture json files that you could load later. Or use cy.writeFile to do the same.  Or even JavaScript right from the tests and instead of fixture stub in cy.route use the created object.

Sent from my iPhone

[2019-01-28 05:11] jennifer-shehane commented on #3233
Do you have anything within your `cypress.json` file?

If you want to replicate the environment during `cypress run` locally, as close as you can, run with `cypress open`, then select Electron from the dropdown. Open your dev tools and look for errors there.

[2019-01-28 05:20] jennifer-shehane commented on #1717
Hey @hlb-schmidt, did this solution work for you?

[2019-01-28 05:33] jennifer-shehane commented on #2112
Other 'invalid regular expression' issue: https://github.com/cypress-io/cypress/issues/1746

[2019-01-28 05:34] jennifer-shehane commented on #2112
Could you try setting `"modifyObstructiveCode": false` in your `cypress.json` to see if this resolves your issue?

[2019-01-28 05:44] #2195 closed

[2019-01-28 05:48] jennifer-shehane commented on #2197
We'll really need a reproducible example in order to investigate this. Can you provide a way to reproduce this?

[2019-01-28 05:49] jennifer-shehane commented on #2216
Closing due to not enough information provided. Please comment if you have test code + application code that can reproduce your issue.

[2019-01-28 05:49] #2216 closed

[2019-01-28 05:50] maksimkarpov opened #3234 "cypress shows "waiting for page to load' forever when alert popped up"
### Current behavior:
Hi, I have an issue when clicking on a link that is popping up an alert, like <a href='tel: 437293223823823'> - after it cypress shows 'waiting for page to load' forever and nothing else happening. It looks like it starts waiting when a link is clicked and if page is not reloading then this is what happens.
When not run with cypress the link just pops up an alert and not tryi

[2019-01-28 05:54] jennifer-shehane commented on #2248
Hey @sembel, I have been unable to reproduce this issue on Cypress 3.1.4 within macOS.

- Can you verify this behavior is still happening with the newest version of Cypress?
- Can you verify if this is only an issue on Windows?

[2019-01-28 06:12] jennifer-shehane commented on #2279
Closing since no DEBUG logs were provided. Please comment with the debug logs in order to consider reopening this issue.

[2019-01-28 06:12] #2279 closed

[2019-01-28 06:16] jennifer-shehane commented on #2293
I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document adding custom command support to intelligent code completion here: https://github.com/cypress-io/cypress-documentation/issues/1354. Our documentation is open source and contributions are welcome. 😄

[2019-01-28 06:16] #2293 closed

[2019-01-28 06:20] jennifer-shehane commented on #2313
Closing this issue as resolved. @sharmarahul please comment if these suggested flags did not resolved your issue.

[2019-01-28 06:20] #2313 closed

[2019-01-28 06:22] jennifer-shehane commented on #2332
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-28 06:49] #2336 closed

[2019-01-28 06:50] jennifer-shehane commented on #2372
Hey @RikBoeykens, I was able to recreate this issue. The actual request does not go out from within the Cypress test runner on click of the button. Furthermore, the actual request *does* go out in a separate tab from within the Cypress browser.

I've also confirmed that removing the single `%` character from the AJAX request fixed the issue.

This is quite weird and is definitely a bug.

**JS Code

[2019-01-28 07:10] hlb-schmidt commented on #1717
nope.

[2019-01-28 07:10] #1717 closed

[2019-01-28 07:11] jennifer-shehane commented on #712
This was released in [3.1.1](https://on.cypress.io/changelog#3-1-1)

[2019-01-28 07:15] jennifer-shehane commented on #2385
Duplicate of https://github.com/cypress-io/cypress/issues/73

[2019-01-28 07:15] #2385 closed

[2019-01-28 07:18] jennifer-shehane commented on #2388
Closing as we have been unable to reproduce this issue.

[2019-01-28 07:18] #2388 closed

[2019-01-28 07:21] jennifer-shehane commented on #2416
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-28 07:38] jennifer-shehane commented on #2452
Closing this issue since no reproducible example was provided. Please comment with an example that we can reproduce locally - test code + app code in order to reopen.

[2019-01-28 07:38] #2452 closed

[2019-01-28 07:39] #2462 closed

[2019-01-28 07:42] jennifer-shehane commented on #2464
Closing this issue as resolved. Please reopen with a reproducible example if you are still encountering.

[2019-01-28 07:42] #2464 closed

[2019-01-28 07:45] jennifer-shehane commented on #2473
Unfortunately we'll have to close this issue unless a complete reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-28 07:49] jennifer-shehane commented on #2479
Hey @egucciar, did `blacklistHosts` help your problem here?

[2019-01-28 07:50] jennifer-shehane commented on #2178
Closing as resolved.

[2019-01-28 07:50] #2178 closed

[2019-01-28 07:56] ndf commented on #2429
Yes Jennifer, the change on drupal has solved this issue.

[2019-01-28 07:56] #2429 closed

[2019-01-28 07:59] jennifer-shehane commented on #2518
I'm not able to reproduce this. How are you using the ``npm-lifecycle` module? Since I see that's where this error is being thrown from.

[2019-01-28 08:10] jennifer-shehane commented on #2527
I'm actually unable to reproduce this on Cypress 3.1.4. Can you verify if this is fixed for you?

<img width="553" alt="screen shot 2019-01-28 at 2 39 47 pm" src="https://user-images.githubusercontent.com/1271364/51822423-ac5e0a00-230a-11e9-87e5-183a55e25181.png">

[2019-01-28 08:12] jennifer-shehane commented on #2544
Closing as resolved. Please comment to reopen if this is still happening.

[2019-01-28 08:12] #2544 closed

[2019-01-28 08:13] jennifer-shehane commented on #2549
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-01-28 09:00] jennifer-shehane commented on #2711
This feature would roll into this issue: https://github.com/cypress-io/cypress/issues/1369

[2019-01-28 09:00] #2711 closed

[2019-01-28 09:04] jennifer-shehane commented on #2739
I'm not able to reproduce this at all.

You are doing this copy/paste manually right? Not writing tests for cypress to do this? Could you record a video/gif of what you mean? Perhaps I'm not doing exactly what you're doing.

[2019-01-28 09:05] jennifer-shehane commented on #2741
Hey, could you provide the test code you are running exactly and remove sensitive information?

[2019-01-28 09:07] #2843 closed

[2019-01-28 09:09] jennifer-shehane commented on #2897
Hey @tnrich, I think this blog may be useful for this situation. In your situation it is typing, but in the blog the situation is clicking - but the problem may be the same, that the event listeners are not ready yet. https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/

[2019-01-28 09:15] markelog commented on #2711
How this will be resolved with #1369? Are you going to implement it with provision of the new flag, or?

[2019-01-28 09:19] jennifer-shehane commented on #2920
@nlarche You are using Chrome version 66+?

Also, how are you verifying that the flag is not being passed exactly?

[2019-01-28 09:36] sog01 commented on #2680
Sorry, this https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/util/ci_provider.coffee#L31 is not found

[2019-01-28 11:03] alioguzhan commented on #1946
@EmmanuelDemey  and for others looking for merging multiple JUnit reports, this looks promising -> https://www.npmjs.com/package/junit-report-merger

[2019-01-28 11:33] wralitera commented on #2427
Hi, What can be the usage of puppeteer into cypress? Puppeteer is a test framework and cypress is an other too.

[2019-01-28 13:21] Bkucera commented on #2451
You should use underscores as mentioned here https://github.com/cypress-io/cypress/issues/1399

I opened an issue to add this to the docs

[2019-01-28 13:21] #2451 closed

[2019-01-28 14:12] Bkucera commented on #2478
I believe this bug is caused by Cypress clearing the timeout erroneously, so the test hangs forever.

[2019-01-28 14:15] parostatkiem commented on #1433
[We](https://github.com/kyma-project/luigi) would also love to see iframe snapshots. Our app is based on one main `<iframe>` where all the magic happens and sometimes it's impossible to identify errors via Cypress :(

If it was a big problem for you to make iframe snapshot working, a temporary workaround with saving iframe content to an image and displaying it instead of `<iframe> placeholder for.

[2019-01-28 14:55] leberknecht opened #3236 "Provide Docker image with cypress installed"
### Current behavior:

Ahoi! Atm we have 2 offical images on dockerhub: `cypress/base` and `cypress/browsers`. So to create an docker image to actually run cypress, we still need to derive from one of these images and install cypress. So something like this:

[code]
While this is not hard to accomplish or anything, it still requires to have an additional step somewhere.

### Desired behavior:
It w

[2019-01-28 14:56] leberknecht commented on #3236
Uh, i was just pointed to https://github.com/cypress-io/cypress-docker-images/issues/41#issuecomment-401018815

[2019-01-28 14:56] #3236 closed

[2019-01-28 15:18] #2332 closed

[2019-01-28 15:25] tzachs commented on #2741
@jennifer-shehane No, I'm sorry, I can't.

[2019-01-28 15:30] #2991 closed, assigned to nobody

[2019-01-28 15:35] jennifer-shehane commented on #2611
Closing as resolved.

[2019-01-28 15:35] #2611 closed

[2019-01-28 15:36] jennifer-shehane commented on #2720
Hey @nobuttsseb, did you have the assertions in an after hook? Or could you provide the test code you wrote for this? We will have to close this otherwise.

[2019-01-28 15:38] jennifer-shehane commented on #2811
Closing as resolved. Please comment if you are still having trouble and we can reopen.

[2019-01-28 15:38] #2811 closed

[2019-01-28 15:43] jennifer-shehane commented on #2858
Could you provide a reproducible example of this crash? Unfortunately we'll have to close this issue if no reproducible example is provided.

[2019-01-28 15:47] calvinballing commented on #3224
@Bkucera Using multiple instances of .trigger('click') was successful for me as a workaround for simulating a double click.  Since I'm on the QA side, while I know what the current issue is, I'm not certain what method our dev team will implement to ensure it behaves as expected going forward. In similar instances we have had in the past the solutions we've used have worked fine though.

[2019-01-28 16:00] Bkucera commented on #3230
@lukeapage the functionality proposed here is basically making this:

(doesn't retry)
[code]

act like this:

(does retry)
[code]

[2019-01-28 16:31] aldocd4 commented on #2664
Thanks, setting this key to false fixed the problem for me.

Cypress was replacing `window.parent` by `window.self`.

[2019-01-28 16:31] jennifer-shehane commented on #2923
I am able to verify this seems like a bug.

**Reproducible example**

[code]

[2019-01-28 17:00] Bkucera commented on #3221
@seromenho can you try running those tests independently of one another? you can put a `.only` on them like this:

`it.only('some test', ()=>{ ...`

thanks for the screenshots

[2019-01-28 17:02] Bkucera commented on #1693
@paulpruteanu feel free to leave a comment here if you've got more information or want this re-opened :+1:

[2019-01-28 17:04] jennifer-shehane commented on #542
@trydionel Can you open an issue for this on our Services board - or make sure there is an existing issue for this?

[2019-01-28 17:32] Bkucera opened #3237 "arrow keys to select specs in desktop-gui"
it would be nice to select specs with arrow keys in this view:

![image](https://user-images.githubusercontent.com/14625260/51854318-8596d800-22f8-11e9-8d69-b9490a4852fb.png)

if I'm typing in the search box, and hit `arrow down`, I would like it to highlight the first spec

[2019-01-28 17:33] tnrich commented on #2897
Hmm thanks Jennifer, makes sense, I'll try that out!

[2019-01-28 17:35] brian-mann commented on #1309
Related to #2132

[2019-01-28 17:49] trydionel commented on #542
Done! Thanks for the heads up.

[2019-01-28 18:39] fr0 opened #3239 "Cypress is using a very old version of Electron"
### Current behavior:

I discovered that my tests are failing on Electron and passing on Chrome because my app code relies on `Promise.finally`, which was added in Chrome 63. Cypress uses Electron 59, which is very old (April 2017).

### Desired behavior:

Please upgrade to the latest Electron. Or, even better, let users decide which version to use.

### Versions

3.1.4

[2019-01-28 18:44] bielcapanema commented on #3008
Any plans to release the fix?

[2019-01-28 18:46] brian-mann commented on #3239
Duplicate of https://github.com/cypress-io/cypress/issues/2559

It's specifically on our tracking issue for 4.0 here: https://github.com/cypress-io/cypress/issues/2840

[2019-01-28 18:46] #3239 closed

[2019-01-28 19:45] rgroetz opened #3240 "cypress run opens the gui instead of executing the spec"
### Current behavior:

I try to execute a dedicated spec via

cypress run –spec ‘/Users/xxxxx/05_Development/cypress/cypress/integration/examples/login.spec.js’

and the Cypress GUI will be opened and shows an overview of the specs.

### Desired behavior:

Spec should be executed and at the end a report should be displayed

### Steps to reproduce: (app code and test code)

### Versions

Cypress CL

[2019-01-28 21:30] Bkucera opened #3241 "cy.wrap(undefined).should does not retry"
[code]

should timeout the same way that `cy.wrap(null).should('eq', true)` does. Currently it will not retry, and only make the assertion once

this is due to us using [bluebird's `Promise.reduce`](http://bluebirdjs.com/docs/api/promise.reduce.html) under the hood to apply assertions, and it will not invoke a callback with `undefined`

![image](https://user-images.githubusercontent.com/14625260/5

[2019-01-28 22:24] Bkucera commented on #627
the code mentioned in the original comment is failing due to this bug #3230

[2019-01-28 22:33] roccoluke commented on #136
We care <3

[2019-01-28 23:19] fr0 opened #3242 "Extraneous messages printed in console during cypress run"
### Current behavior:

[code]

These messages aren't useful to me and are just noise.

### Versions

Cypress 3.1.4
macOS 10.13.6

I have verified that the messages are not printed in Windows.

[2019-01-29 02:12] Bkucera commented on #3240
@rgroetz the cypress cli version you have is not compatible with the newer cypress versions. Can you try running `npm i cypress@latest` ?

[2019-01-29 03:49] jennifer-shehane commented on #2680
Yes! We have been converting our coffeescript files to js 🙌

[2019-01-29 04:21] jennifer-shehane commented on #248
Some work has been done on this issue, but requires being handed off to someone else, so this is free to be picked up and finished.

[2019-01-29 04:40] jennifer-shehane commented on #1099
I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document that you need to execute the CLI commands from the same directory that your `package.json` is located here: https://github.com/cypress-io/cypress-documentation/issues/1364. Our documentation is open source and contributions are welcome. 😄

[2019-01-29 05:02] jennifer-shehane commented on #1676
Electron is set to be upgraded during our 4.0 release https://github.com/cypress-io/cypress/issues/2840

[2019-01-29 07:21] jennifer-shehane commented on #3242
Is this during `cypress open` / `cypress run`? Any particular browser running?

[2019-01-29 07:35] jennifer-shehane commented on #807
@RangerMauve Are you getting an error when running that test code? What is the error that is printed?

[2019-01-29 07:36] jennifer-shehane commented on #2741
We really won't be able to look into the issue if we cannot reproduce the behavior locally. Could you provide any screenshots or videos of the error occurring?

You could also contact our support team in a non-public forum by emailing us at support@cypress.io

[2019-01-29 08:01] markelog commented on #2711
Awesome :)

[2019-01-29 08:36] Tarjei400 commented on #1495
Would be nice to have it, especially beacouse we are using cypress-run to re run failed tests, and we have failed reports collected by Jenkins due to that

[2019-01-29 09:19] rasmusvhansen commented on #1477
I am also seeing this. `.click()` simply seems to stop working in afterEach if a test has failed.
This is kind of a showstopper, as it prevents cleanup after failing tests...

[2019-01-29 10:56] mi-mazouz commented on #3201
@bahmutov any news?

[2019-01-29 11:53] erik-johansson-bokus opened #3243 "::1"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-01-29 11:54] #3243 closed

[2019-01-29 13:40] bahmutov commented on #3201
@mi-mazouz  I appreciate the invitation to the repo, but I hoped you could give us a public minimal reproduction. Otherwise, this is one-on-one support that we do not have time to do for free. If you cannot make the minimal repo public (literally fork the current one and start removing everything while the problem still persists), then you can only debug the problem on Circle using `DEBUG` environ

[2019-01-29 13:54] mi-mazouz commented on #3201
I'll make the minimal repo public soon, thanks for your time I let you know when it's good.

[2019-01-29 13:56] bahmutov commented on #3201
Yes if you could do that - then we can run it on circle in any way we want to see what’s happening

Sent from my iPhone

[2019-01-29 14:31] dwelle commented on #915
Summing up several solutions:

1. Note that @brian-mann's [solution](https://github.com/cypress-io/cypress/issues/915#issuecomment-379024765) isn't correct due to how late-chaining of `.then` callbacks currently works in cypress, as can be tested below:

    :x:

[code]

2. @bahmutov's [solution](https://github.com/cypress-io/cypress/issues/915#issuecomment-344389511) is correct, but disadvantage

[2019-01-29 15:00] RangerMauve commented on #807
@jennifer-shehane There's no error, it just doesn't type the empty space. I was in a bit of a rush so I put further investigation on hold. It might be a problem with the code we have around the input itself. I'll look into it more this week.

[2019-01-29 15:09] fr0 commented on #3242
This is with `cypress run` using electron. It also happens with chrome.

[2019-01-29 15:59] Bkucera commented on #3221
i.e the "domain-cookie" vs the cookie without domain? That way we can hopefully reproduce this

[2019-01-29 16:09] seromenho commented on #3221
@Bkucera
1st
[code]

2nd:
[code]

[2019-01-29 17:10] jennifer-shehane commented on #2877
The test runner when run using `cypress run` runs in Electron, and an older version of Chrome. This may be the reason for failure, or there may be some variability in the speed in which things are run. Do you have the screenshot or video of the test failure during `cypress run`? That should give some better insights into the issue.

[2019-01-29 17:10] Bkucera commented on #3221
thanks @seromenho, doesn't seem like a very high priority for us ATM, but I think this will get looked at along with https://github.com/cypress-io/cypress/issues/687

[2019-01-29 17:13] #2917 closed

[2019-01-29 17:19] jennifer-shehane commented on #2979
@Dan195 Are you using any custom commands anywhere within your test suite?

[2019-01-29 17:24] jennifer-shehane commented on #2995
Closing as we don’t want to do document or window level proxying from the spec frame

[2019-01-29 17:24] #2995 closed

[2019-01-29 17:35] jennifer-shehane commented on #2961
Hey @aloifolia, I am seeing this behavior also. It seems we disable time travel when running tests through `cypress run`. I thought this may be easily fixed by passed `--config numTestsKeptInMemory=50`, assuming that this number was set to `0` during `cypress run`, but this made no difference to allowing time travel snapshots.

I think it is actually hard assigning the value to `0` even after we p

[2019-01-29 17:39] jennifer-shehane commented on #3081
Hey @Decntdefalt, any update on this? Were you able to get the permissions sorted?

[2019-01-29 17:46] fr0 commented on #3242
It also happens in `cypress open`. So basically, every situation (run/open, electron/chrome).

[2019-01-29 17:47] TanvirAlam opened #3245 "Server is running but 404s on visit to application during cypress run"
### Current behavior:

Circle config.yml:

[code]

Package.json:

[code]

cypress:json:

[code]

webpack.config.js:

[code]

### GETTING ERROR:

![circlecieror](https://user-images.githubusercontent.com/3250040/51928387-1c958a00-23f6-11e9-80f8-2ed8f2a6c760.gif)

### Desired behavior:

it says:

[code]

I have been trying this past 4 days, I don't know what is wrong, please help

The front-end is v

[2019-01-29 17:59] Bkucera commented on #2986
@robmoore-i cy.type should cause window.onkeydown to be called.

possibly your cypress test code is running before that method is set on window.

this works fine for me
[code]

[2019-01-29 18:02] Bkucera commented on #2986
I'm going to close this, but if you still believe this is a bug in cypress, feel free to leave a comment

[2019-01-29 18:02] #2986 closed

[2019-01-29 18:19] Phillipe-Bojorquez commented on #1637
The issue that causes this is that you have both a session and a cookie.  Removing or expiring the login cookie does not negate the session.  removing cookies from cypress does not remove your authentication from auth0.  you have to first remove the session than the cookie.  I'm encountering this issue as well. Its clear what the problem is but not how to solve it @LawJolla

[2019-01-29 19:41] danhaasalert commented on #2979
Yes I am. None should be overwriting original commands. Am I missing
unintended side effects by utilizing them?

On Tue, Jan 29, 2019 at 11:19 AM Jennifer Shehane <notifications@github.com>
wrote:

[2019-01-29 20:14] javiayala commented on #1925
Same here! I need to filter some files out of the folder structure that gets shown with `cypress open`.
Running all specs from a folder would also be a great addition.

[2019-01-29 21:19] Bkucera commented on #2556
@haf try using [Cypress.log](https://docs.cypress.io/api/cypress-api/cypress-log.html#Syntax)

[2019-01-29 21:22] Bkucera commented on #1925
@javiayala you can try setting the `testFiles` pattern in the cypress config https://docs.cypress.io/guides/references/configuration.html#Global

[2019-01-29 23:03] rodrigovolkmer commented on #2639
I wonder if there is a way to retry the commands once or twice before failing? that way we wound't need to bump the timeout too high because if the page randomly got stuck on loading, it doesn't matter how long the wait it, because it just makes the whole testing suite to be very slow.

[2019-01-30 03:41] manphannvg commented on #3051
Hi @jennifer-shehane,
CC @brian-mann

Do you have any update for this issue?

Thanks,
Man Phan

[2019-01-30 03:47] DylanVann commented on #3245
I'm also having an issue similar to this.

<img width="265" alt="screen shot 2019-01-29 at 10 46 37 pm" src="https://user-images.githubusercontent.com/1537615/51956988-c9ccca00-2417-11e9-893e-80e4b45a548f.png">

[2019-01-30 04:31] jennifer-shehane commented on #2394
Hey @itaykotler-fundbox, were you successful in getting your environment variables into the Dashboard?

@bahmutov Is there any more action required for this issue?

[2019-01-30 04:53] jennifer-shehane commented on #2752
Also related to `document.execCommand()` copy to clipboard: https://github.com/cypress-io/cypress/issues/2851

[2019-01-30 04:54] jennifer-shehane commented on #2386
Related to
- `document.execCommand()` copy to clipboard: https://github.com/cypress-io/cypress/issues/2851
- Enable access to clipboard contents: https://github.com/cypress-io/cypress/issues/2752

[2019-01-30 04:55] jennifer-shehane commented on #2851
Related to
- Using modifier keys for copy + paste: https://github.com/cypress-io/cypress/issues/2386
- Enable access to clipboard contents: https://github.com/cypress-io/cypress/issues/2752

[2019-01-30 05:05] jennifer-shehane commented on #3245
Hey @TanvirAlam, have you been able to look at the screenshots or video of the test failure?

@DylanVann Be sure you are not experiencing this issue which has a fix pending release. https://github.com/cypress-io/cypress/issues/3045

[2019-01-30 05:12] DylanVann commented on #3245
@jennifer-shehane Yes that was actually my issue, thanks for the help 🙏 .

[2019-01-30 05:39] jennifer-shehane commented on #3051
Hey @manphannvg, could you please double check the tests you provided? I am getting a timeout when running these tests locally in Electron & Chrome.

Also, you may want to look through our workarounds when behind corporate proxy is you are behind a corporate proxy: https://github.com/cypress-io/cypress/issues/1469

**My failure**

<img width="556" alt="screen shot 2019-01-30 at 12 09 12 pm" src="h

[2019-01-30 06:41] jennifer-shehane commented on #2639
@rodrigovolkmer There is an issue open regarding retrying tests / commands here: https://github.com/cypress-io/cypress/issues/1313 with some current workarounds to implement this.

[2019-01-30 06:48] jennifer-shehane commented on #1343
@podarok This issue involved a similar error message: https://github.com/cypress-io/cypress/issues/1669

Unfortunately, I am unable to run the test code provided locally and track this down, since there is no base url to visit provided.

[2019-01-30 06:51] jennifer-shehane commented on #2218
@mabedan I agree! We definitely want to fix these issues, especially one as strange sounding as this, but we need a reproducible example to begin tracking it down.

We are also always willing to reopen issues after closing if someone provides an example. We just have to clean up the issues eventually for our sanity. 🙃

[2019-01-30 07:31] jennifer-shehane commented on #918
Can you attempt to follow these directions? May be related to Jenkins permissions issues https://stackoverflow.com/a/21028195/5878476

[2019-01-30 07:37] blaszczakphoto commented on #2877
I just updated cypress to newest version:
[code]
And it once worked in the visual test runner and in the command line runner.

So I thought that new version of cypress fixed something that was causing this issue.

But I when I run it second time it failed in visual test runner and in command line. I tried to run it few more times and it was failing randomly.

The failing test stacktrace:
[code]

T

[2019-01-30 07:39] jennifer-shehane commented on #1777
Can any of you experiencing this issue, try to add the code below and respond whether it fixes the issue or not?

Add the code below to your `cypress/plugins/index.js` file:

[code]

[2019-01-30 07:43] jennifer-shehane commented on #2777
@dirtyhenry Sorry for not being clear. If you want code to run only once before each spec file as opposed to before each test, make sure to place the `before` hook within your support file.

[2019-01-30 07:46] jennifer-shehane commented on #299
There is an issue with an open PR slated for release in 3.2.0 providing `end` and `home` key support here: https://github.com/cypress-io/cypress/issues/2033

[2019-01-30 07:47] jennifer-shehane commented on #387
@nazar There has been no work currently done on this feature.

[2019-01-30 07:58] jennifer-shehane commented on #2877
I wonder if this has anything to do with a recent blog post we published, involving the button's `click` event handler not being ready when it is clicked. 🤔 	https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/

[2019-01-30 08:11] jennifer-shehane commented on #3122
Could you possibly provide a screenshot / video / gif of what is happening when you click. I'd like to see what you mean by 'buffering'.

Also, could you run Cypress in [debug mode](https://docs.cypress.io/guides/guides/debugging.html#Debug-the-Command-Line) mode and print the logs here?

[2019-01-30 08:13] jennifer-shehane commented on #3214
Closing due to no followup response. Please comment if you are still experiencing this issue and it is not related to css styling properties.

[2019-01-30 08:13] #3214 closed

[2019-01-30 08:21] #2394 closed

[2019-01-30 08:35] jennifer-shehane commented on #2556
Hey @haf were you able to solve your issue?

[2019-01-30 08:36] jennifer-shehane commented on #2979
Could you provide the code within your custom commands?

[2019-01-30 08:38] jennifer-shehane commented on #700
This may help some of you as a temporary fix for now: https://github.com/bahmutov/cypress-failed-log

[2019-01-30 08:43] haf commented on #2556
How is this awaiting a response?

[2019-01-30 08:46] jennifer-shehane commented on #2695
No work has been done on this issue.

[2019-01-30 08:51] jennifer-shehane commented on #2556
Awaiting hearing if changing code to `Cypress.log` resolves the issue - or testing this ourselves.

[2019-01-30 08:51] nhhockeyplayer commented on #2879
koa 2 is flattening case on all headers

and I do not know what to code now

so whats the safe option... expect our serves to break anytime

have they made up their mind yet?

which case should we be operating?

[2019-01-30 08:52] TanvirAlam commented on #3245
@jennifer-shehane Kindly look at the following screenshots:
![login page -- see the login page -- before each hook failed](https://user-images.githubusercontent.com/3250040/51969463-c3b90680-2474-11e9-8cc7-0c845c3860f1.png)

[2019-01-30 08:53] jennifer-shehane commented on #2879
Cypress currently transforms all headers to be lowercase when testing using `cy.request()`, so if you are willing to update your server, ensure it does not care about casing of headers.

[2019-01-30 08:54] nhhockeyplayer commented on #2879
Ok since Im a programmer I will have to code logic because someone enjoying being lead of something is spending too much time enjoying being lead of something
const authHeader = ctx.req.headers['Authorization']
if ( typeof authHeader === 'undefined' )
authHeader = ctx.req.headers['authorization']
if ( typeof authHeader === 'undefined' )

[2019-01-30 08:54] nhhockeyplayer commented on #2879
wow your up late jen babe whats doin?

[2019-01-30 08:55] jennifer-shehane commented on #3245
@TanvirAlam Hmm, do you have a video of this test run? It doesn't look like this captured before `cy.visit()` resolved.

[2019-01-30 08:57] nitzansan opened #3248 "Cypress doesn't match the newest route stub when url matches previous route"
### Current behavior:
When having multiple routes with paths that match a request, the newest one assigned does not match and a different stub is used.
E.g - (with the following endpoint: `mysite.com/entitiesCollection`)

[code]

### Desired behavior:
When matching routes, newer should take precedence over older.

### Steps to reproduce: (app code and test code)
See the example above

### Versions

[2019-01-30 08:58] nhhockeyplayer commented on #2879
Well Im using koa2, no cypress here

and its turning into a case sensitive coding mess wrecking my code

I think its an http thing... im on http2 SSL

[2019-01-30 08:59] jennifer-shehane commented on #2333
@agentHoover Yes, please try to update as @lukeapage suggests and let us know if this is resolved. Like:

[code]

[2019-01-30 08:59] nhhockeyplayer commented on #2879
I dont even know what cypress is... the npm module docs dont say

[2019-01-30 09:00] TanvirAlam commented on #3245
@jennifer-shehane yes I got the video but its `mp4` git doesn't support to upload

[2019-01-30 09:01] nhhockeyplayer commented on #2879
My apologies, its part of the project I inherited.
Are there docs for cypress as to why we want cypress with typescript?

Thank you

[2019-01-30 09:02] TanvirAlam commented on #3245
@jennifer-shehane
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3250040/51969996-15ae5c00-2476-11e9-81a7-573e5a4dcf1b.gif)

[2019-01-30 09:02] nhhockeyplayer commented on #2879
Why would I want to integrate cypress with all my typescript

[2019-01-30 09:02] jennifer-shehane commented on #2879
Hey @nhhockeyplayer, please see our main documentation here: https://docs.cypress.io

Cypress is a front end testing tool built for the modern web. We address the key pain points developers and QA engineers face when testing modern applications.

TypeScript doc: https://on.cypress.io/typescript-support

[2019-01-30 09:05] nhhockeyplayer commented on #2879
well since its a test tool, I hadn't expected it to alter the landscape to make cypress happy

it should be leaving the headers alone

i will check my project to see if its turned on or something

[2019-01-30 09:06] nhhockeyplayer commented on #2879
Im just debuggin my back end... koa2

and all my server headers case flattened

so is this done for the sake of cypress?
its
unexpected

[2019-01-30 09:07] jennifer-shehane commented on #3248
The alias does indeed match the first route found that it matches. We would have to think about changing this behavior.

For now, you should likely update your route `url` to something more specific for each route. Perhaps use REGEXP to match the first one with `/mysite.com\/entitiesCollection$/` or something similar depending on what you are matching against, so that it does not match both routes

[2019-01-30 09:07] nhhockeyplayer commented on #2879
How can I shut cypress off... I will dig thru docs

if you know how I can shut this off that would be kind

thanks

[2019-01-30 09:08] haf commented on #2556
That said; perhaps Cypress.log does what it says on the tin, perhaps it doesn't. I've only received a comment to try Cypress.log but no reason or indication as to why I should expect it to work any better than with my window.Cypress.cy.log.

[2019-01-30 09:11] jennifer-shehane commented on #2879
@nhhockeyplayer I'm sorry, I don't understand completely. What is happening that you want to stop happening? Where are you seeing behavior from Cypress exactly?

[2019-01-30 09:14] haf commented on #2556
Just to be clear; no this is not the solution @jennifer-shehane because you don't have access to `Cypress.log` from your browser-JS code, only from the unit test code. So you can kindly remove the `awaiting response` label.

[2019-01-30 09:14] nhhockeyplayer commented on #2879
[code]

[2019-01-30 09:16] nhhockeyplayer commented on #2879
thats my middleware in my koa

server.ts

I can put middlewares everywhere

by app.use() like express

and Im being taken out here to try and resolve a case EXPECTATION issue because something altered the landscape

all the headers on the http request are flattened to lower case

i followed the issues people are having with this and it led me to this thread

[2019-01-30 09:17] nhhockeyplayer commented on #2879
cypress is part of the package.json for my angular app

but my code for this problem is separate in my server sub folder

so im confused if thsi is http standard

or if koa is doing it

of cypress

or even what the standard calls for and why its currently an issue for developers

[2019-01-30 09:20] nhhockeyplayer commented on #2879
"cypress": "3.1.4",

        "prettier": "prettier {src,e2e,cypress}/**/*.{ts,json,md,scss} --write",
        "prettier:ci": "prettier {src,e2e,cypress}/**/*.{ts,json,md,scss} --list-different",

        "cy:open": "cypress open",
        "cy:run": "cypress run",

        "@bahmutov/add-typescript-to-cypress": "^2.0.0",

these are part of my package.json

i apologize for not having checked all thi

[2019-01-30 09:22] nhhockeyplayer commented on #2879
ok so according to http speceverythign should be lowercase

I will go with that

thank you Jen

[2019-01-30 09:24] nhhockeyplayer commented on #2879
you must be coding 7x24

like me :1st_place_medal:

[2019-01-30 09:25] nhhockeyplayer commented on #2879
track me down if you want to go corporate with typescript
Im a free agent now

[2019-01-30 09:42] nitzansan commented on #3248
There are several workarounds that I can do indeed, just that the behavior that would seem more intuitive is that the newest route matching the path would be triggered and not the oldest (aka "first").
This is more intuitive for several reasons:
1. Currently you support overriding a route with identical paths, for example:
[code]
This kind of behavior implies precedence of newer over older
2. The

[2019-01-30 09:46] nitzansan commented on #3248
Also related to this issue - I was looking for a way to cancel/remove a cy.route assignment.
Is such a thing possible?

[2019-01-30 10:08] renefs commented on #1777
Hi @jennifer-shehane, I confirm that adding these lines fixes the issue :D

[2019-01-30 10:10] embiem commented on #3245
We're experiencing a similar issue right now. It looks like cypress reloads the whole page with the baseUrl of the site we want to test instead of cypress's baseUrl. In more detail:

When no baseUrl is set, we see the test page (where the tests are listed on the left side) at the url `http://localhost:56113/__/#/tests/integration\myTestFolder\myTest.spec.js` and once we go into the first test and

[2019-01-30 10:12] mattvb91 commented on #1039
Just to add some more info this issue is not restricted to docker/jenkins. Just attempted to install a new gitlab-runner as "shell" executor and have cypress running on the host system without docker and still getting timeouts (albeit less)

[2019-01-30 10:22] abramenal commented on #170
While waiting for the built-in support, we can stop copy-pasting the hack and create a reusable package out of it.
Feel free to open issues so we can make it suitable for the most popular use cases.

https://www.npmjs.com/package/cypress-file-upload

[2019-01-30 10:49] OussamaBaybay commented on #3245
@embiem

https://github.com/cypress-io/cypress/issues/1872#issuecomment-450807452

[2019-01-30 10:50] loicsalou commented on #2034
unfortunately my workaround does not seem to always work. Some of my screenshots which were working 2 days ago are crashing today, no change on my side.
This feature is really important for my users, we intend to deliver them a "book" for each release so they can check small issues with desing like CSS bugs etc.

Thanks for not letting this down !

[2019-01-30 10:51] StormPooper commented on #1777
@jennifer-shehane yes, that seems to fix it for me.

[2019-01-30 11:05] embiem commented on #3245
@OussamaBaybay thanks, that fixes our issue!

[2019-01-30 11:06] TanvirAlam commented on #3245
@embiem should I remove the `baseURL` from cypress.json?

[2019-01-30 11:07] beagleknight commented on #3245
I am experiencing the same issue @embiem today but yesterday was working fine. I tried @OussamaBaybay suggestion but now it doesn't work during the first run because the full page reload is killing the cookies (I think). If I reload the Cypress chrome instance when using `cypress open` it works thought.

[2019-01-30 11:07] embiem commented on #3245
@TanvirAlam no, it works for us now with baseUrl in cypress.json

[2019-01-30 11:46] jennifer-shehane commented on #1777
This PR will automatically pass these flags through to Chrome and should resolve this issue when released: https://github.com/cypress-io/cypress/pull/3049

[2019-01-30 11:59] embiem commented on #3245
As far as I understood #1872 it has to do with a chromium update. So if your Chrome browser was updated between yesterday and today, this might be the reason.

[2019-01-30 12:06] MikeHopley opened #3249 "The UI is "jumpy""
I love Cypress, but the UI is extremely frustrating because it jumps all over the place.

Even with auto-scrolling disabled, mousing over the left-hand panel (test command history) frequently  makes the list jump to a different point, so it's difficult or impossible to select what you want. Sometimes you can position the mouse so the left panel continuously jumps between two spots, even though the

[2019-01-30 12:56] rastislavkucera opened #3250 "Cypress app crash: "port" option should be a number or string"
### Current behavior:

After login into one app, it redirects to different, when `CONNECT request from %7Balgolia_application_id%7D-dsn.algolia.net:443 ` occurs, it crashes cypress.

[code]

### Desired behavior:

Should not crash cypress

### Steps to reproduce: (app code and test code)

test code:
[code]

App code:
[code]

It is fixed if i add `if(port === null){port = 443}` on line 100 of `~/.c

[2019-01-30 13:05] rastislavkucera opened #3251 "Cypress "blockHosts" does not ignore host when visiting 2 unique domains"
### Is this a Feature or Bug?

Bug

### Current behavior:

Adding `*.algolia.net` (I tried different formulation too) into `"blacklistHosts" : []` will still result in line `cypress:server:server HTTPS request https://%7Balgolia_application_id%7D-dsn.algolia.net:443 matches blacklist? undefined +1ms`.

[code]

### Desired behavior:

`cypress:server:server HTTPS request https://%7Balgolia_applicati

[2019-01-30 13:31] nazar commented on #387
Thank you for the update @jennifer-shehane

I've been able to find a work-around that provides me with the required functionality. I feel it's a bit hacky but it works for now.

My `support/index.js` contains:

[code]

And the following in my `support/commands.js`

[code]

The above can be used as follows:

[code]

HTH anybody with the same requirements.

[2019-01-30 13:52] Lakitna commented on #3109
I've been looking at this for a bit now and digging into the source code gave me the command `verifyUpcomingAssertions`. That's how you can wait for an upcoming assertion.

However, this command is not documented and can, therefore, be a bit iffy to work with at the moment.

The way I was able to figure out how to use it was again by looking to the source of the default commands found here: https:

[2019-01-30 14:03] danhaasalert commented on #2979
module.exports = (lat, lng) => {
cy.window().then(window => {
cy.checkCorrectMapCoords(window.map, lat, lng);
});

Cypress.Commands.add('checkCorrectMapCoords', (mapWindow, lat, lng) => {
const screenToGeo = mapWindow.screenToGeo(0, 0);

expect(screenToGeo.lat.toString().substring(0, 4)).to.be.within(
Number(lat) - 2,
Number(lat) + 2
);

expect(screenToGeo.lng.toString().substring(0, 4)).to.be.wit

[2019-01-30 15:52] Bkucera commented on #2556
@haf you have access via `window.Cypress.log`. using that, you should be able to log messages without getting the error you originally posted.

Thanks for your patience!

[2019-01-30 15:52] #2556 closed

[2019-01-30 16:04] fr0 opened #3252 "Chrome 72 loads my UI instead of cypress UI"
### Current behavior:

On Chrome 72, running tests with `cypress open` launches the browser, and then goes straight to my URL (`http://localhost:4200`) instead of opening cypress's page and then loading my page in an iframe.

### Versions

Cypress 3.1.4, Windows 10

[2019-01-30 16:05] jennifer-shehane commented on #3251
Does this error occur when you only visit one url / same port? Or does it only occur when visiting 2 app urls?

[2019-01-30 16:11] rastislavkucera commented on #3251
@jennifer-shehane after `cy.get('[type="submit"]').click()` , which redirects to second app. It also occurs when visiting 2 app directly.

[2019-01-30 16:14] jennifer-shehane commented on #3249
I think you're referring to the 'time travel' [feature when hovering over the lefthand side commands](https://on.cypress.io/test-runner#Hovering-on-Commands), but let me know if I have misunderstood. When hovering over each command on the lefthand side, your application is reverted back to the exact state it was in when the command ran. Clicking on the command "pins" it in that state and disables

[2019-01-30 16:21] haf commented on #2556
Finally a real answer @Bkucera ! Awesome. Thanks.

[2019-01-30 16:22] jennifer-shehane commented on #3252
Hey @fr0 can you try this workaround for Chrome 72? https://github.com/cypress-io/cypress/issues/1872#issuecomment-450807452

This fix will be released shortly in 3.1.5.

[2019-01-30 16:27] fr0 commented on #3252
Thanks for the response - I just tried the workaround and it does work.
Glad to know you have a fix. You probably want to fast track that since this results in a really terrible startup experience for new users.

[2019-01-30 16:38] fr0 commented on #3252
The workaround fixes the main issue but I noticed one other thing that still occurs with the workaround: if the test log gets too long, the scrollbar appears for the entire page instead of just the test log. This is the weird side effect of scrolling my app off the screen, and then when cypress tries to scroll an element in view, it seems like it's fighting with myself.

I'll see if I can take scr

[2019-01-30 16:41] pkamath123 commented on #3122
When i use the DEBUG=cypress:* cypress open command , i get the error : -bash: cypress: command not found. Please see the screenshot for the . issue where the chrome doesnt open
![screen shot 2019-01-30 at 9 35 59 am](https://user-images.githubusercontent.com/46544250/51996768-a84cfc00-2472-11e9-9096-394e5fd3f58f.png)

screenshot for chrome not opening is below.
![screen shot 2019-01-30 at 9 35 59

[2019-01-30 16:41] fr0 commented on #3252
![electron](https://user-images.githubusercontent.com/435418/51997054-fcaca780-2483-11e9-8b5f-594b94f5673b.png)
![chrome](https://user-images.githubusercontent.com/435418/51997066-01715b80-2484-11e9-9ea6-a2afcb5d9bde.png)

[2019-01-30 16:42] fr0 commented on #3252
If this is just an issue that occurs with the workaround and not with 3.1.5 then it's not worth worrying about, but I thought I'd report it anyway.

[2019-01-30 16:44] khawajaumarfarooq commented on #582
The behaviour implemented by Cypress of clearing state between tests forces repetition of steps.

Imagine a test composed of 20 ordered steps.

NB: This is the overwhelming majority of use cases in most applications because the user has to have done something, in order for the user to do something else.

With this behaviour, if one wants to verify the state of the application after each step of th

[2019-01-30 16:46] jennifer-shehane commented on #2979
Yeah, I'm not seeing anything from the examples provided that could be causing the error you provided unfortunately. You'd likely have to simplify the code some to find the smallest reproducible example that causes the error.

[2019-01-30 17:04] jennifer-shehane commented on #3252
@fr0 Yes, this is a new bug. I will open a new issue.

[2019-01-30 17:06] fr0 commented on #3252
Thank you! I appreciate your hard work!

[2019-01-30 17:08] jennifer-shehane opened #3253 "Chrome 72 - Scrollbar for Test Runner aligns with AUT instead of Command Log"
### Current behavior:

From @fr0 after using workaround for Chrome 72 proxy issue: https://github.com/cypress-io/cypress/issues/3252#issuecomment-459014297

**With Electron / Chrome 70**
![electron](https://user-images.githubusercontent.com/435418/51997054-fcaca780-2483-11e9-8b5f-594b94f5673b.png)

**With Chrome 72/73 + workaround:**

![chrome](https://user-images.githubusercontent.com/435418/5199

[2019-01-30 17:32] IRCraziestTaxi opened #3254 "cypress open yields "bad option: --project""
### Current behavior:

Running the command `cypress open` yields output `bad option: --project`; cypress does not start.

Note also that I am not providing the `--project` flag; I do not know where that is coming from. I looked at the `cypress` and `cypress.cmd` files in `node_modules`, but I don't see it in there.

Note also that completely removing all traces of cypress from my system and doing

[2019-01-30 17:40] jennifer-shehane commented on #3253
The scrollbar goes back to the way it was if I remove `flex-direction: column` from the `.reporter-wrap` element.

[2019-01-30 17:43] frattaro commented on #687
Is sendBeacon in scope for this? I was testing to ensure Sentry (error tracking) fires errors appropriately, and saw that the calls to sendBeacon weren't intercepted by the route-stub I had created.

[2019-01-30 17:49] c32hedge commented on #1969
Any thoughts on this? I see it's still in "awaiting response"--the OP hasn't been around in a while but I tried what Brian last suggested as described above...

[2019-01-30 17:57] #1777 closed

[2019-01-30 17:57] #1872 closed

[2019-01-30 19:23] dwelle commented on #687
@frattaro yea, I was discussing this over on chat with someone the other day, and it seems that it's not, which is understandable, considering.

[2019-01-30 19:48] hinfaits opened #3256 "Application exceptions not firing uncaught:exception binding"
### Current behavior:

Some uncaught exceptions thrown from my application do not fire the `uncaught:exception` event. It looks like this is happening when the application throws exceptions in callbacks from XHR requests (we're using Backbone.js to make these requests).

It looks like Cypress thinks these exceptions originate from my test code. For application exceptions there should be a small bl

[2019-01-30 19:57] ajcann commented on #349
Hi, we're also experiencing this issue in Kubernetes (using Jenkins as our CI engine). Would be happy to provide additional information if helpful.

[2019-01-30 19:57] chrisbreiding opened #3257 "Add tests for Reporter UI"
To mitigate regressions related to its responsive design and scrolling, like [this one caused by a new version](https://github.com/cypress-io/cypress/issues/3253).

The tests could be similar to [this one](https://github.com/cypress-io/cypress/pull/3255/files).

[2019-01-30 19:58] frattaro commented on #687
@dwelle The use case was to ensure a client's website using Sentry (or not) didn't interfere with our own SDK's implementation of Sentry. I tried removing `sendBeacon` and polyfilling with XHR (like is suggested for fetch), but it wasn't successful for whatever reason.

[2019-01-30 20:06] #3253 closed

[2019-01-30 20:06] dwelle commented on #687
Wasn't successful in what way?

[2019-01-30 20:20] Bkucera commented on #1969
Hi everyone, I'm currently working on this. Should simple to implement!

[2019-01-30 20:33] IRCraziestTaxi commented on #3254
Update: re-installing always fixed it before, but now it blows up when running after re-installing.

[code]

[2019-01-30 20:35] alexch commented on #1969
"the OP hasn't been around in a while" -- sorry, I'm still here, just
lurking. Thanks for all the activity on my behalf! :-)

--
Alex Chaffee - alexch@gmail.com
http://burlingtoncodeacademy.com
http://alexchaffee.com
http://codelikethis.com
http://twitter.com/alexch

[2019-01-30 20:43] niffin commented on #3249
I noticed the same thing today when my chrome version updated to 72. It looks like the left hand panel isn't scrollable anymore and causes the entire page to jump around.

if i set a height on `.reporter-wrap .reporter .container` it seems to fix the issue.

[2019-01-30 20:46] frattaro commented on #687
The call wasn't even showing up in the network tab of chrome's dev tools. I was using this package: https://www.npmjs.com/package/navigator.sendbeacon

Otherwise mimicked the fetch workaround with the `Cypress.on('window:before:load', win => { win.navigator.sendBeacon = null; });`

[2019-01-30 20:50] dwelle commented on #687
Yea, that's because of how that lib checks for native support. You won't be able to go around it, unless it's fixed https://github.com/miguelmota/Navigator.sendBeacon/issues/17

For now, you can inline it:

`cypress/plugins/index.js`

[code]

[2019-01-30 21:16] G1itcher commented on #925
100% putting my vote behind being able to run a single test. If I'm trying to edit a single test, it doesn't make sense to run all of the tests in that spec

[2019-01-30 21:29] bahmutov opened #3258 "Type conflict when filtering detected browsers"
in packages/launcher/lib/detect.ts

I had to add `@ts-ignore` to get around TypeScript error - the `uniqBy(props(['name', 'version']))` would not work because "version" property on the Browser type is optional.

<img width="1318" alt="screen shot 2019-01-30 at 4 07 51 pm" src="https://user-images.githubusercontent.com/2212006/52013782-f500f900-24ab-11e9-9489-0728bda7b00d.png">

We probably need to

[2019-01-30 22:07] Bkucera commented on #1969
PR open here #3259

[2019-01-30 22:10] bahmutov opened #3260 "Automatically retry signing Mac build"
Occasionally, signing Mac binary fails. We need to wrap the command in a timeout and retry

[2019-01-30 22:17] frattaro commented on #687
Got everything working - thanks so much! I had to make some changes:
1) remove the `cy.window().then` wrapper, (lengthy error)
2) remove the `withCredentials = true;` (error with CORS)
3) change `xhr.responseType = "text/plain"` to `xhr.responseType = "text"` to resolve a warning

[2019-01-30 22:48] Bkucera commented on #988
Partial value,html,text,and id matchers are in #3259

[2019-01-30 22:50] Saibamen commented on #3000
Please retest with Cypress 3.1.5

[2019-01-30 22:53] Darkensses commented on #2704
wow, that's was fast! Thanks 👍

[2019-01-30 22:58] flotwig commented on #3258
[code]
This coerces all the errors away but it feels dirty casting to unknown then casting to FoundBrowser[]... though that's the workaround the warning suggests

[2019-01-30 23:01] bahmutov commented on #3258
or you can make it explicit and instead of `props...` do your own explicit
function

uniqBy(nameAndVersion, ...)
const nameAndVersion = (browser: Browser) => `${browser.name
}-${browser.version!}`

I think this will get rid of the error

On Wed, Jan 30, 2019 at 5:58 PM Zach Bloomquist <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me v

[2019-01-30 23:18] MikeHopley commented on #3249
Thanks for the response!

Actually this is what happens when I'm trying to use the time travel feature. Time travel is utterly brilliant and literally made my jaw drop the first time I saw it, which is why I'm sad about the broken UI.

I think it might help if I make a video so you can see what's happening. I'll try to do that tomorrow.

[2019-01-31 00:18] #3205 closed

[2019-01-31 06:15] jennifer-shehane commented on #3256
Can you provide an example of test code + application code that produces this error? We'll need to reproduce this locally to look into it.

[2019-01-31 06:17] jennifer-shehane commented on #3122
Hey @pkamath123, try running the command below:

[code]

[2019-01-31 06:36] jennifer-shehane commented on #1040
I will be closing this issue, since we have TypeScript definitions now.

I know there is some discussion in this thread for improvements. If there are features/enhancements regarding TypeScript in the comments that are left to be completed, please open them in a new issue.

[2019-01-31 06:36] #1040 closed

[2019-01-31 06:38] jennifer-shehane commented on #1211
Hey @brian-mann, could you update on how to achieve this today please?

[2019-01-31 06:42] jennifer-shehane commented on #3248
@nitzansan 	Thanks for the thorough explanation for this feature. We'll have to discuss this proposal and the potential impact of these changes as a team.

This is a good question. You want to remove the alias `.as()` assignment right? I can't think of a way to do this. 🤔

[2019-01-31 07:16] jennifer-shehane commented on #2069
Electron upgrade is planned to be released in [version 4.0](https://github.com/cypress-io/cypress/issues/2840)

[2019-01-31 07:38] bojaniv opened #3261 "Can't start server"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-01-31 08:21] jennifer-shehane commented on #3261
Closing as not enough information. Please comment with more information about the issue you are having following the issue template if you are having a problem.

[2019-01-31 08:21] #3261 closed

[2019-01-31 09:06] jennifer-shehane commented on #2181
The failure is being thrown from the [`readable-stream`](https://github.com/nodejs/readable-stream) package on [this line of code](https://github.com/nodejs/readable-stream/blob/master/lib/_stream_readable.js#L604). This is included in core Node as `stream`

Our Node version:
- 8.2.1

Your original comment seems to indicate this was introduced in version 3.0.0 of Cypress which was released on May

[2019-01-31 09:09] #3156 closed

[2019-01-31 09:09] jennifer-shehane commented on #3156
Please comment if you experience this problem in the future and we'll consider reopening.

[2019-01-31 09:10] jennifer-shehane commented on #695
No work has been done specifically on this issue.

[2019-01-31 09:20] StormPooper commented on #1777
@jennifer-shehane interestingly, this doesn't work for every machine I have. It worked on my home machine yesterday, but when I try it on my work machine I'm still getting this. I've tried with and without your code snippet and tried 3.1.5 too, but no luck. I've also upgraded to Chrome 72.0.3626.81 (Official Build) (64-bit), reinstalled it from scratch and completely wiped Chrome's settings, but n

[2019-01-31 09:36] jennifer-shehane commented on #1534
Hi, I can see room for improvement here when it comes to wanting to test a set of tests with a specific viewport size. We'll have to discuss and determine the best implementation as a team to support this.

Currently the `before` hook is behaving as intended - running only once before all other tests within the spec file.

[2019-01-31 09:39] jennifer-shehane commented on #2912
The video recording and uploading *does* add time to the end of each test file that is ran when `video: true` is set. You should see the timing this step took within the `stdout` of the run. Does this account for the extra time during `cypress run`?

[2019-01-31 09:55] chuchu1313 opened #3262 "Use config to define absolute paths"
### Current behavior:
I want to use absolute paths for module imports. Thus I set `cypress/tsconfig.json` like below

[code]

And in my test code, the profile_api is in `cypress/support/api/profile_api,` so the first import line:

[code]

But always got the error:

[code]

### Desired behavior:

Should be able to use absolute paths from `tsconfig.json`

### Versions

Cypress@3.1.0

[2019-01-31 10:53] leepowellcouk commented on #2295
Seems odd that the current logic is to not respect the proxy on direct connections. I would suggest this could be decided by the user with the `NO_PROXY` environment variable if they wanted that to happen.

[2019-01-31 10:58] amiral-jion commented on #1297
I'm having the same issue, the tests passed correctly in the with `open` and it fails sometimes (in an indeterministic way) with `run`

[2019-01-31 10:59] NetaceaMattR commented on #3116
Getting the exact same issue,

npm init
npm i cypress
npx cypress open

results in:

'It looks like this is your first time using Cypress: 3.1.5
Verifying Cypress can run'

And hangs

[2019-01-31 11:20] ivan-kleshnin commented on #1302
My APIs use `SEARCH` method which is a part of the current HTTP standard. Not even a custom verb. And I'm getting the same error. Not good 😞

[2019-01-31 11:33] jennifer-shehane commented on #1777
Hey @StormPooper, can you try setting `"modifyObstructiveCode": false` in your `cypress.json`? Does that fix the issue?

[2019-01-31 11:44] jennifer-shehane commented on #3116
If you're commenting in this issue, please provide your Operating System, browser name & version - any special configuration.

[2019-01-31 11:46] StormPooper commented on #1777
@jennifer-shehane just tried it, no difference.

[2019-01-31 12:33] nitzansan commented on #3248
I want to remove the entire cy.route() assignment based on it's alias or exact path.
I think having the ability to do this can help mitigate the problem I've described before.

[2019-01-31 12:39] ivan-kleshnin opened #3265 "dll_52339ab353c8e0db40da is not defined"
### Current behavior:

Without any obvious reason, I've started to receive the following message in Cypress' Chrome instance:

[code]

### Desired behavior:

Not having this bug.

### Steps to reproduce: (app code and test code)

No idea. The day before it worked and now the same code doesn't run 😞
I've updated from 3.1.4 to 3.1.5 – didn't help

### Versions

OSx: 10.13.6
Cypress: 3.1.4, 3.1.5

[2019-01-31 12:45] LVCarnevalli commented on #1910
Actually, onfail does not return the context of the current test.
Alternative, use:

[code]

Also remember to configure the screenshot (https://docs.cypress.io/guides/references/configuration.html#Screenshots) in cypress and run a rename linux command in the file (`mv screenshots/*.feature/* screenshots/`).

Observation:
This code did not work for me, because it always came undefined.

[code]

[2019-01-31 12:55] mchapman commented on #2805
FWIW I just tried 3.1.5 and it works fine on (essentially) the same tests, so my problem is gone.  @L-four may not find it fixes their problem though, so leaving open.

[2019-01-31 13:43] nitzansan commented on #3248
Another find regarding this issue - apparently when passing a regex to cy.route it has precedence over glob patterns and they indeed regex patterns match in the expected behavior (newer beats older).
e.g:
[code]

[2019-01-31 14:40] flotwig commented on #2834
Hi everyone, we're working on a fix for the "browser not found" issue. In the meantime, try using the workaround in this comment, linking your binaries to google-chrome for Chrome or chromium-browser for Chromium:

https://github.com/cypress-io/cypress/issues/3217#issuecomment-45738211

The issue mentioned in the OP is a different problem, I'll investigate it as part of the ongoing browser detecti

[2019-01-31 14:43] flotwig commented on #3151
Won't fix, I think. Brian and I talked about it and although it looks like the issue hasn't cropped up in the test runs I did, the benefits of allowing background networking vs the potential consequences of disabling it again are small.

[2019-01-31 14:43] #3151 closed

[2019-01-31 15:25] chrisbreiding opened #3266 "Proposal: Add messaging capability between app code and Cypress"
This would allow the user to insert seems into their app code to aid with testing.

For example, currently in the desktop-gui, we do [this in the code](https://github.com/cypress-io/cypress/blob/develop/packages/desktop-gui/src/main.jsx#L20):

[code]

and [this in the test](https://github.com/cypress-io/cypress/blob/develop/packages/desktop-gui/cypress/integration/app_spec.coffee#L3):

[code]

Thi

[2019-01-31 15:36] alexch commented on #1969
On a related note, these assertions behave inconsistently during multiple matches too. I wrote it up in these two slides:  http://codelikethis.com/lessons/javascript/cypress#anchor/multiple_matches

I wonder how much of @Bkucera 's patch will fix or change multiple-element string-match behavior...

[2019-01-31 15:43] harpet06 commented on #687
Does anyone know if it's possible to test service workers prior to this change going in?

Anyone had any joy mocking responses?

[2019-01-31 15:54] Bkucera commented on #3265
@ivan-kleshnin can you try `cypress install --force`?

[2019-01-31 15:59] brian-mann commented on #3265
Try doing:

[code]

Make sure dev tools are open, and that will hit the breakpoint. Then look at the stack to see where this is coming from. That error means it's coming from your application code, and for us to investigate we'd need more information or a reproducible repo/url.

[2019-01-31 16:04] ivan-kleshnin commented on #3265
Error disappeared after I restarted my machine. Can't see it anymore. I'll observe how things will go further and follow your recommendations. Maybe it was some rare OS bug or something.

[2019-01-31 16:19] StormPooper commented on #1910
@LVCarnevalli nice one, able to do what I needed from your snippet. Oddly, I wasn't getting an undefined back when I logged this, not sure if something has changed. Either way, job done, thanks.

[2019-01-31 16:19] #1910 closed

[2019-01-31 16:34] IRCraziestTaxi commented on #3254
Thanks for the reply, @jennifer-shehane.

I am running that command in the root folder of the project where the node_modules folder is located.

No, ProjectName/project-name are what I replaced the actual name of the project using cypress with. So
[code]
just means that cypress is running for my project, which I dubbed project-name for this discussion.

The only reason I was using 3.1.0 was becaus

[2019-01-31 16:38] jennifer-shehane commented on #3254
yes, you then run `node_modules\.bin\cypress open` again after set DEBUG like you mentioned.

[2019-01-31 16:46] Bkucera commented on #1969
@alexch the assertions today need to be re-worked for sure. those PR changes won't fix anything but allow matching a partial value using `.includes` or `contains`, as mentioned in the PR description.

we are thinking about adding `should(all.have.text)` and friends, which would be similar to your `.each` workaround

[2019-01-31 16:48] jennifer-shehane commented on #3248
Yes, it does appear that routes that match RegExp would have precedence over routes that match by string. https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cypress/server.coffee#L266

[2019-01-31 16:53] MikeHopley commented on #3249
Thanks Brian, I installed 3.1.5 and it's fixed. 👍

I've been seeing that bug for a while now, presumably because I'm running Cypress on Canary.

[2019-01-31 16:53] #3249 closed

[2019-01-31 16:54] jennifer-shehane commented on #3116
We haven't been able to reproduce the issue with any of the information provided and I don't see any leads or patterns on what could be the cause behind the issue, so there would have to be some new information revealed in order for this to move forward.

I thought that clearing the cache may fix the issue, which is why I was awaiting response back on whether it did.

I recently ran across another

[2019-01-31 17:05] alexch commented on #1969
Nice! I think you all are doing great work and I love using and teaching
about Cypress.
--
Alex Chaffee - alexch@gmail.com
http://burlingtoncodeacademy.com
http://alexchaffee.com
http://codelikethis.com
http://twitter.com/alexch

[2019-01-31 17:06] pkamath123 commented on #3122
Hi @jennifer-shehane ,
Thank you for helping me so far with debugging this issue, i really appreciate your continuous help, I have attached the cypresslog file after i ran the debug command.
[cypressLog.txt](https://github.com/cypress-io/cypress/files/2818255/cypressLog.txt)

when i use yarn to update to latest version of cypress i get the  error saying there is no version 3.1.5
Please see the att

[2019-01-31 17:17] frassinier commented on #3116
Here is the output with debug mode enabled:

[code]

[2019-01-31 17:20] benjamingr commented on #3116
I have cleared the cache before submitting this issue - not that it'd matter because it was on a fresh install.

Again - If this is just low priority, at the "no time for this issue at the moment", it's fine to say so and say you don't support nvm/n.

[2019-01-31 17:51] leandro-serafim opened #3267 "Possibly wrong match on topOrParentLocationOrFramesRe regexp"
### Current behavior:

Currently, having `modifyObstructiveCode` enabled didn't get a specific framebust situation:

[code]

After researching over the code base I could identify the regexp used on `topOrParentLocationOrFramesRe` possibly isn't getting correctly the first group match, as you can see: (https://regex101.com/r/o0ykmR/1)

### Desired behavior:

I'd like to be able to block the given f

[2019-01-31 17:55] IRCraziestTaxi commented on #3254
Update: I tried a reboot again (after upgrading to 3.1.5) and that seems to have fixed it. Even after verifying I can open cypress and rebooting a second time, it now continues to open.

Maybe the upgrade to 3.1.5 did the trick? (And a reboot afterwards, obviously.)

Either way, I guess I'll go ahead and close this since it seems to have been an edge case solved by the good old "turning it off and

[2019-01-31 17:55] #3254 closed

[2019-01-31 18:36] agentHoover commented on #2333
I haven't touched this code in a couple of months. I'm on a different project now.  I will try to get back to this and test it this weekend.

[2019-01-31 18:41] Pomax commented on #448
The dashboard is not available during automated testing runs, such as running Cypress on Travis-CI, where it is _critically important_ that there is a way to be able to log output to `stdout`.

Can we still get something like `cy.stdout.write`?

[2019-01-31 18:47] adamchenwei commented on #310
Still having a hrad time to sell Cypress to my team and company. The giantic piece of ugly hole is missing support of other browsers, I mean, if its IE, we can work with it, but not even firefox and safari is a bit tough... really looking forward to a fully browser supported version ... and when that did come, would be nice to come with a selenium test to cypress test convertor ha.

[2019-01-31 19:38] chrisbreiding opened #3269 "Proposal: Add support for delaying the mocha run"
Add support for delaying the mocha run. This is normally done with the [--delay flag](https://mochajs.org/#delayed-root-suite) or with `mocha.setup({ delay: true })`.

Need to do the following:

* Add a way to turn this on, probably by adding a `delay` option for `cypress.json`.
* Expose a way to kick off the run. Mocha exposes a global `run` function, but we should probably create a `Cypress.run`

[2019-01-31 19:49] chrisbreiding commented on #3114
Support for the `--delay` flag will need separate work.

I [created a proposal](https://github.com/cypress-io/cypress/issues/3269) to outline what needs to be done.

As far as a workaround, the only thing I can think of is to utilize the [Preprocessor API](https://docs.cypress.io/api/plugins/preprocessors-api.html) to modify the spec file on the fly and write the necessary data into the file, so y

[2019-01-31 22:08] bahmutov commented on #3204
Done

[2019-01-31 22:08] #3204 closed

[2019-01-31 22:12] bahmutov commented on #3206
So right now that section has all dependencies and only the target version. I could search package json file to see if the dependency update was dev (and skip it) or prod (and include it in the changelog)

[2019-02-01 05:03] jennifer-shehane commented on #3206
Yes, this would be preferable to me. I don't want users flooded with concerns over our update of a dev dependency that they have no reason to know about. I for one would hate to sift through this in a changelog.

[2019-02-01 06:38] zquancai opened #3274 "cy.wrap(ele) automatically scrolls to the position of the element"
### Current behavior:

an element called ele is in a scrollable div container, if I use

[code]

at runtime,the div container automatically scrolls to the position of the element

### Desired behavior:

No automatic scrolling required

### Steps to reproduce: (app code and test code)

same as described above

### Versions

cypress 3.1.4
macOS 10.14
chrom 71

[2019-02-01 06:52] zquancai commented on #1752
I use it this way.

[code]

 it works very well

[2019-02-01 07:16] itamarsky commented on #2691
@jsonhp

pipeline {
. . .
 stages {
    stage('build and test') {
      environment {
        CYPRESS_RECORD_KEY = credentials('cypress-example-kitchensink-record-key')
        **HOME="${env.WORKSPACE}"**
      }
. . .

[2019-02-01 07:26] renelux opened #3276 "Chance of race condition when using screenshot()"
### Current behavior:

When using `screenshot` command, when taking a screenshot the frame running the app get resized, this can trigger some re-render on the page. This can cause a race condition, if between the time that the element position is retrieved and the actual screenshot is taken the element is being moved.

The result is that certain part of the element we are trying to capture are act

[2019-02-01 07:54] jennifer-shehane commented on #3274
Hey @zquancai, I believe this issue would be solved with our proposal to allow changing scroll behavior here: https://github.com/cypress-io/cypress/issues/871 Closing, please comment if this does not cover what you were looking for.

[2019-02-01 07:54] #3274 closed

[2019-02-01 07:57] jennifer-shehane commented on #2761
Related issue: https://github.com/cypress-io/cypress/issues/3200

[2019-02-01 08:11] jennifer-shehane commented on #871
Hey @Bkucera, will the changes here affect this proposal about reflecting scroll behavior + snapshots? https://github.com/cypress-io/cypress/issues/483

[2019-02-01 08:14] jennifer-shehane commented on #2418
No updates have been made to this issue. We do have some work coming on being able to change the scroll behavior, but...I'm not sure that would help this scenario. https://github.com/cypress-io/cypress/issues/871

[2019-02-01 09:07] jennifer-shehane commented on #3267
Thanks for the thorough investigation of the issue. Gotta <3 Regex. We'll have to update the regex, write a test to ensure if fixes this issue and ensure no other framebusting tests fail.

[2019-02-01 09:42] jennifer-shehane commented on #1743
Hey @bhaidar, unfortunately no work has been done on this yet.

[2019-02-01 09:46] jennifer-shehane commented on #170
Thanks @abramenal 💯 please also open an issue/PR to add this plugin to our documentation for increased exposure. https://on.cypress.io/plugins

Also, anyone else here is free to do this if you have some 'hack' utilizing Cypress you want shared and easily reused. 😄

[2019-02-01 09:56] Gpx commented on #310
Hi everyone, sorry for spamming. I follow this issue because I want to know when there are updates on cross-browser support. I believe many others do the same.

Instead, I receive notifications about people saying that they need Cypress to work on this or that browser or asking when will support land.

Can I please ask the maintainers to lock comments for outside members so that only relevant info

[2019-02-01 09:56] jennifer-shehane commented on #448
Hey @Pomax

Could you explain a bit more by what you mean in the statement above? Is your company not able to record to the Dashboard? I know there have been requests for [On Prem](https://github.com/cypress-io/cypress/issues/3095) due to security restrictions, for example.

Having the ability to access the raw logs is certainly something our team is considering.

[2019-02-01 10:03] jennifer-shehane commented on #1752
Closing as there seems to be a provided workaround that works well today. Improving the actions such as drag and drop is an ongoing process for our team.

Please comment if necessary to reopen.

[2019-02-01 10:03] #1752 closed

[2019-02-01 10:24] vjadia opened #3280 "I have a form that has a Select element with countries as an option. I want to automate this select element using Cypress"
Have to test a form having select element with Countries as an option.

Test exit criteria:
I need to select every option(countries based on the Region), Suppose i am testing for Asia Region out all countries need to select only Asian countries one by one and submit the form every time , Similarly for Europe Region and so on using Cypress.

Attached is HTML with region countries belongs to
[Select

[2019-02-01 10:49] jennifer-shehane commented on #3280
Hey @vjadia issues in our GitHub repo are reserved for potential bugs or feature requests.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading through our [documentation](https://docs.cypress.io), or searching [Stack Overfl

[2019-02-01 10:49] #3280 closed

[2019-02-01 10:58] jennifer-shehane commented on #384
Closing as has not been encountered again in 2 years.

[2019-02-01 10:58] #384 closed

[2019-02-01 10:59] jennifer-shehane commented on #315
Closing as resolved, especially seeing https://github.com/cypress-io/cypress/issues/317 is closed.

[2019-02-01 10:59] #315 closed

[2019-02-01 11:02] jennifer-shehane commented on #619
Looping the below suggestion in as discussed in https://github.com/cypress-io/cypress/issues/164:

[2019-02-01 11:02] jennifer-shehane commented on #164
Closing - added suggestion about never seeding when running `cypress ci` to https://github.com/cypress-io/cypress/issues/619

[2019-02-01 11:02] #164 closed

[2019-02-01 11:05] jennifer-shehane commented on #466
Adding code where this exists as well as notes https://github.com/cypress-io/cypress/blob/issue-3267/packages/driver/src/cy/commands/connectors.coffee#L346

@brian-mann @Bkucera Is this ready for work?

[2019-02-01 11:06] jennifer-shehane commented on #355
@brian-mann Is this still the current behavior within Cypress commands?

[2019-02-01 11:13] jennifer-shehane commented on #481
This doesn't appear to be a problem anymore. `cy.contains()` is a dual command. This example works:

[code]

[2019-02-01 11:13] #481 closed

[2019-02-01 11:14] jennifer-shehane commented on #479
Closing due to no activity for over a year. Please comment with reproducible example to reopen.

[2019-02-01 11:14] #479 closed

[2019-02-01 11:36] jennifer-shehane commented on #502
Commit made here to example project. Need to release and update dep within `cypress`. https://github.com/cypress-io/cypress-example-kitchensink/commit/14c815d45202de51c92d9034e06bd5d984b9f70a

[2019-02-01 11:38] jennifer-shehane commented on #545
This has already been delivered. Try `cypress help` to get equivalent of `cypress --help`

[2019-02-01 11:38] #545 closed

[2019-02-01 11:40] jennifer-shehane commented on #505
This should no longer be a prohibiting bug. We now show a dismissible warning message when we see the baseUrl is not running.

<img width="912" alt="screen shot 2019-02-01 at 6 10 09 pm" src="https://user-images.githubusercontent.com/1271364/52121039-a50d6800-264c-11e9-94fd-8f4f2875e603.png">

[2019-02-01 11:40] #505 closed

[2019-02-01 11:44] jennifer-shehane commented on #557
Hey @trydionel, can you look into this (embarrassingly) old issue and open an issue on the Services board?

I can confirm that at least part of this issue still exists, as I'm able to invite an existing user to my organization.

<img width="1015" alt="screen shot 2019-02-01 at 6 12 32 pm" src="https://user-images.githubusercontent.com/1271364/52121187-1e0cbf80-264d-11e9-9199-86053d8cc2cc.png">

[2019-02-01 11:48] jennifer-shehane commented on #558
@trydionel Another Dashboard issue to keep track of.

[2019-02-01 11:51] jennifer-shehane commented on #278
This issue appears to have been fixed. The code above runs fine.

[2019-02-01 11:51] #278 closed

[2019-02-01 12:01] jennifer-shehane commented on #526
Closing. I can no longer create this bug in version 3.1.5

[2019-02-01 12:01] #526 closed

[2019-02-01 12:03] jennifer-shehane commented on #527
This has been fixed since this was opened.

<img width="558" alt="screen shot 2019-02-01 at 6 32 56 pm" src="https://user-images.githubusercontent.com/1271364/52121972-d8052b00-264f-11e9-83ac-a587d90c9270.png">

[2019-02-01 12:03] #527 closed

[2019-02-01 12:07] jennifer-shehane commented on #643
This problem doesn't exactly exhibit as explained above anymore, but closing as this is more accurately describe in this issue: https://github.com/cypress-io/cypress/issues/205

[2019-02-01 12:07] #643 closed

[2019-02-01 12:09] jennifer-shehane commented on #666
This still occurs. There is logging when running `cypress open` and clicking on a spec without specifying wanting logging.

<img width="698" alt="screen shot 2019-02-01 at 6 39 18 pm" src="https://user-images.githubusercontent.com/1271364/52122259-be181800-2650-11e9-8fe6-d2cdf94b1b73.png">

[2019-02-01 12:12] jennifer-shehane commented on #679
@Bkucera I think this is still the case concerning `cypress verify`, can you confirm?

[2019-02-01 12:15] jennifer-shehane commented on #629
Closing. So old. 👵

[2019-02-01 12:15] #629 closed

[2019-02-01 12:18] jennifer-shehane commented on #467
@chrisbreiding @brian-mann Can either of you confirm:

1. Was this work ever done?
2. Does this work still need to be done?

[2019-02-01 12:33] tlpbu commented on #3190
Ay progress with this issue?

[2019-02-01 14:17] JonesInTheFastLane commented on #3077
This might be a silly question but you do have **describe** part also in your spec?

[2019-02-01 14:17] lgodziejewski opened #3281 "Cookies are not set if authentication service is on a different port than web app"
### Current behavior:

Our application has separate services responsible for authentication and delivering our web app. On local environment that would be `localhost:4100` and `localhost:3000`.

`baseUrl` is set to `localhost:3000`

Running this code in tests fails:

[code]

It would seem that `cypress.request()` on purpose isolates cookies between different ports of the same domain?

### Desired

[2019-02-01 14:20] slawiko commented on #2197
Sorry, it's too outdated. I'd like to close this issue as not relevant (for me) anymore. Thank you!

[2019-02-01 14:20] #2197 closed

[2019-02-01 14:30] JDansercoer opened #3282 "Clicking URL's with target=_parent makes Cypress break out of its environment"
### Current behavior:

Clicking an `a` tag that has the `target=_parent` property, causes Cypress to fail and displays that there are no tests found.

### Desired behavior:

Don't break the Cypress process.

### Steps to reproduce: (app code and test code)

[code]

After the button click, the window displays that there are no tests found, so unable to continue.

### Versions

Cypress 3.1.5

[2019-02-01 15:36] jesusochoahelp commented on #1865
This would be really useful. Being able to only run smoke test TCs from different files makes organization easier.

[2019-02-01 16:01] Bkucera commented on #679
@jennifer-shehane I'm not sure what timeout this issue is referring to. A timeout on `--smoke-test`?

[2019-02-01 16:02] Bkucera commented on #466
@jennifer-shehane I believe it is

[2019-02-01 16:05] Bkucera commented on #871
Yes

[2019-02-01 16:15] bahmutov opened #3283 "We should handle rejected promise without error object better"
Cypress 3.1.5

PR with bug reproduction https://github.com/cypress-io/cypress-test-tiny/pull/35

spec
[code]

When running shows our error

<img width="1072" alt="screen shot 2019-02-01 at 11 11 54 am" src="https://user-images.githubusercontent.com/2212006/52134883-9ace7800-2612-11e9-814e-89e943897329.png">

The stack shows where the error is coming from - we are checking `err.` property, but ther

[2019-02-01 17:41] Pomax commented on #448
We're using Cypress through Travis: it runs a fully contained test pass during CI and the only thing we get to see is the log that travis-ci gives you. The only thing Cypress gets to do is generate its DOM snapshot, and that data is then sent off to a second, independent CI service that runs a million browsers at a million resolutions, which can all be checked in parallel. The only output we get i

[2019-02-01 17:54] ArtemShoiko commented on #932
I'm sorry, guys, maybe it's not a proper place to ask, but still, I have a problem.
I'm trying to use construction `config.env.YOUR_VAR = process.env.YOUR_VAR` to set the env variable from the global env file but it returns undefined instead of value form the env. Could you take a look what I'm doing wrong? Here is my code:
[code]
[code]

[2019-02-01 18:15] bahmutov opened #3284 "Be more user-friendly when checking that baseUrl server is responding"
Cypress 3.1.5

Currently, we only check if the server defined in `baseUrl` is responding when we start Cypress. If the user starts their server AFTER Cypress the message is very confusing and scary - and wrong

<img width="799" alt="screen shot 2019-02-01 at 12 09 55 pm" src="https://user-images.githubusercontent.com/2212006/52141322-54354980-2623-11e9-8fe8-310a507e6851.png">

It would be nicer to

[2019-02-01 18:51] gabrielbesen26 opened #3285 "Cypress stopped working after clicked "Login" of the Google"
### Is this a Feature or Bug?
Bug

### Current behavior:
I was training/studyng Cypress and I used google as example to interact. After the script clicked on "Login" (in my test is described as 'Fazer login' in Portuguese), the page being blank, load the login page of google and the runner disappear/stoped working.

![image](https://user-images.githubusercontent.com/35542922/52142742-adf83c80-2640

[2019-02-01 20:27] DanielRuf opened #3286 "Failing CI"
https://ci.appveyor.com/project/cypress-io/cypress/builds/22048921

[2019-02-01 20:39] jkwohlfahrt commented on #1039
I was finally able to fix this issue for my test suite. After doing some network tracing on the url I was trying to visit, i noticed the page trying to load a different domain. Because cypress does not allow this, the request times out after two minutes, I'm guessing due to https://github.com/cypress-io/cypress/issues/2055#issuecomment-402997708. I was able to work around this by blacklisting the

[2019-02-01 20:48] SDESkowronski commented on #2256
I'm also hitting this issue, with a twist...I can run a list of 15 spec files, but when I reduce the list to 1 or 2 then it fails to find the files...the exact same files specified in the same way except one is in a large list and the other is in a short list.

**I've tried setting the "integrationFolders" in cypress.json:**
    "integrationFolder": "cypress/integration",
Obviously I am using the

[2019-02-01 21:55] EmmanuelDemey commented on #3284
I think the retry button is the most normal behaviour. As the refresh button when executing the test suite.

[2019-02-01 22:59] tristanwilson-caredove commented on #1969
Awesome, awaiting this! Just ran into this today.

[2019-02-02 12:18] mi-mazouz commented on #3201
humm, I tried to remove everything on the project except the login form and it's working. Is the project size change something?

[2019-02-02 20:13] lawphotog commented on #1759
Hi, I am new to cypress and just started trying it today. I am having similar problem with logging in with cypress to one of the sites. The site is written in Asp.net Mvc. The error I am getting with cypress is

`The required anti-forgery cookie "__RequestVerificationToken" is not present.`

I know this is server side error but the site can be logged in using manually clicking the login button eve

[2019-02-03 09:37] sembel commented on #2248
Hi @jennifer-shehane, I don't have access to the project, where I had this issue. I have created a new test project and I cannot to reproduce this issue with the new version, also it works with 3.0.2. Not sure, why I had this issue. Maybe it was some specific Browser version, maybe some corporate firewall issues. Thanks.

[2019-02-03 12:12] aleissner commented on #2555
Example HTML code to be tested:
`<input type="text" oninput="console.log(event)">`

Cypress test code:
`cy.get('input').type('1')`

Result: Console shows one event:
`Event {isTrusted: false, type: "input", target: input, currentTarget: input, eventPhase: 2, …}`

Manual Test without Cypress: Enter 1 into the input.
`InputEvent {isTrusted: true, data: "1", isComposing: false, inputType: "insertText"

[2019-02-03 14:56] ArmandoAmmar opened #3308 "Problem with multiple requests and route / wait"
### Current behavior:

I am using the alias of `cy.route()` and on the page there are 2 requests for the same alias. For some reason when I use the following code, it uses the data from the first request, not the second.

### Desired behavior:

I would like it to use the data of the last request and not the first one.

### Steps to reproduce: (app code and test code)

[code]

### Versions
Cypress:

[2019-02-04 08:56] michaelcarteryork commented on #2549
Hi Jennifer, Chris, apologies I'm not able to provide reproducble example (our code is local and behind many barriers). Hopefully Chris can provide an example? @ChrisLahaye @jennifer-shehane

[2019-02-04 09:44] jennifer-shehane commented on #2248
Closing since unable to reproduce. Please comment in the future if this issue happens again and we can reopen.

[2019-02-04 09:44] #2248 closed

[2019-02-04 10:04] achelonmm opened #3310 "cypress run times out waiting for the browser to connect"
### Current behavior:

I have an automated release for my test suite. It consists of 8 specs that are executed one after the other.

A few weeks back, one of the specs got stuck and I had to force a shutdown of the release. After that, on every release, after the first spec is run, Cypress fails to open the browser or find it or something and the tests fail.

This is the error I'm getting:

[code]

[2019-02-04 10:42] abhilashshettigar opened #3311 "cy.exec() fails when trying to access a docker container using shell in Windows"
### Current behavior:

`cy.exec()` fails when trying to access a docker container using shell

![cypress error](https://user-images.githubusercontent.com/32007548/52203913-9d420380-2898-11e9-9624-f34d6b3829df.png)

### Complete error stack:-

[code]

### Steps to reproduce: (app code and test code)

1.)`"connect:db":"docker exec -i -t api_database_1 mysql -uroot -pDemo123"` // Script written in `p

[2019-02-04 10:45] #3267 closed

[2019-02-04 10:48] jennifer-shehane commented on #679
@bahmutov Any insight?

[2019-02-04 10:49] jennifer-shehane commented on #932
@ArtemShoiko You may try asking questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading through our [documentation](https://docs.cypress.io), or searching [Stack Overflow](https://stackoverflow.com/questions/tagged/cypress) for relevant answ

[2019-02-04 10:53] jennifer-shehane commented on #3286
@DanielRuf Could you please fill out the Issue Template and describe what the issue if you are having with Cypress? This best helps us focus our time on improving Cypress. 😊 Please answer all of the questions below.

[code]

[2019-02-04 11:05] jennifer-shehane commented on #2256
@SDESkowronski What is the script within your `package.json` that maps to `cypress` here? Just want to make sure exactly what you're running before making a suggestion.

[2019-02-04 11:11] jennifer-shehane commented on #3285
Hey @gabrielbesen26, we don't recommend testing 3rd party applications that are not under your control for a lot of reasons. Please read our full recommendation here: https://on.cypress.io/best-practices#Visiting-external-sites

Please let me know if I am wrong about this being 3rd party - and you are indeed testing the login for Google.

Closing.

[2019-02-04 11:11] #3285 closed

[2019-02-04 11:22] gabrielbesen26 commented on #3285
Understood @jennifer-shehane
Sorry about that! Have a great day

[2019-02-04 12:58] danielschwartz85 commented on #3192
Hi, Any updates on this issue ?
Tnx.

[2019-02-04 12:58] chrispickford commented on #695
I've tried all of the workarounds mentioned here:

- `.should("be.visible")`
- `.invoke('width').should('be.greaterThan', 0)`
- `cy.wait(500)`

No matter what I try, it seems to fail about 20% of the time with the "effective width and height of 0x0" error.

My project is an AngularJS SPA and while the element being clicked is dynamic in the sense it is conditionally added to the DOM. when running

[2019-02-04 14:02] ziyailkemerogul opened #3312 "Cypress Dashboard - Clicking on the screenshot icon returns an error message."
### Preconditions:

- Set up the Dashboard.
- Complete a test run without any failures.
- Navigate to the details of the related test run on the Dashboard.

### Current behavior:

After clicking on the **blurred Screenshot icon**, the related test step disappears and the user gets the following error.

**Note:** Refreshing the page brings back the missing test step.

![ss01](https://user-images.gi

[2019-02-04 14:44] bahmutov commented on #3201
@mi-mazouz I think there is an exception being thrown there, which prevents the page from loading. We need a minimal reproducible example to
- update our documentation with advice how to debug this problem
- update Test Runner to give you a useful error message and fail the test

If you can remove all the application code until it is the minimal remaining example that still fails, that would help

[2019-02-04 14:46] bahmutov commented on #3201
Problem with giving just me access to the private repo @mi-mazouz is that seems we need to run this on CircleCI - and I need to share it with other members of my team. If you are ok with us having a clone of your repo in private mode and running it (in private) on our CircleCI account, we could use that as the example.

[2019-02-04 15:20] fr0 commented on #486
The workaround didn't work for me. The `cy.get('body').type('{ctrl}', { release: false })` never fired the `keydown` event on `window`, which is what my app is looking for.

[2019-02-04 15:39] chrisbreiding commented on #486
`cy.type` does exactly that. `cy.get('body').type('{ctrl}a')` will handle keydown/keyup. I think it expresses the user's actions pretty well as is, but we're always looking for ways to make the API more intuitive, so I'd love to hear any suggestions for improvement.

Can you describe in more detail what your test is doing that requires `cy.trigger`? It's possible it can be accomplished with `cy.ty

[2019-02-04 15:49] YOU54F commented on #3000
Hi, thanks for the update. I've since sold my laptop which had this dev environment on, but I cloned the hard drive, so will stick that in another machine and retest with 3.1.5

I'll aim to get it retested by the end of the week. Thanks again all

[2019-02-04 15:51] bahmutov opened #3314 "document.write does nothing on TravisCI in one particular example"
## Bug

Cypress 3.1.5 on TravisCI

The example https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/blogs__codepen-demo passes locally and on CircleCI but always times out on TravisCI like in https://travis-ci.org/cypress-io/cypress-example-recipes/jobs/488553504

- https://dashboard.cypress.io/#/projects/6p53jw/runs/31718/specs

<img width="1268" alt="screen shot 2019-02-04

[2019-02-04 16:04] Lakitna opened #3315 "Filter called with a function doesn't listen to options"
### Current behavior:
When you call `filter` with a function like the code below it will still be logged

[code]

Will correctly filter and wrongly log the following
![image](https://user-images.githubusercontent.com/22448210/52220020-2871c800-289e-11e9-9c76-8f9c560f6bdd.png)

Bonus undocumented behavior:

[code]

Will correctly filter and somehow log the following
![image](https://user-images.git

[2019-02-04 16:06] fr0 commented on #486
That's not what I've experienced.  Try these two tests, which (IMO) should both pass. However, only the second one does.

[code]

[2019-02-04 16:44] flotwig commented on #3258
Doesn't work, it seems like the root of the issue is that Typescript thinks that compact will return a two-dimensional array, so I changed `compact` to this:

[code]

and the warnings go away. Gonna merge this in with #3225 if there's no objection

[2019-02-04 16:45] chrisbreiding opened #3316 "cy.type does not fire events for modifier keys"
Currently, using a modifier key (ctrl, shift, etc) with `cy.type` only sets the property on subsequent type/click events. For example, `cy.get('body').type('{ctrl}a')` will only fire keyup/keydown/events for the `a` with `ctrlKey: true`.

It should also fire those events for the control key itself. This means `cy.get('body').type('{ctrl}')` essentially does nothing.

We should fire the appropriate

[2019-02-04 16:49] chrisbreiding commented on #486
I see. Thanks for the information. This looks like a bug in how `cy.type` handles modifiers. I [created a separate issue](https://github.com/cypress-io/cypress/issues/3316) to track this.

[2019-02-04 17:22] chrispickford commented on #943
Could this issue be related to this SO question?

https://stackoverflow.com/questions/24320578/node-js-get-request-etimedout-esockettimedout/37946324

As per the top answer, would increasing the thread pool size be a potential fix?

[2019-02-04 18:09] bahmutov opened #3317 "test issue"
This is a dummy issue for testing Cypress Bot

[2019-02-04 18:30] fr0 commented on #2386
I need a way to test copy/paste in my app. Has any progess been made on this?

[2019-02-04 18:52] flotwig opened #3318 "Fix unexpected behavior when passing glob pattern for specs"
### Current behavior:

It's unclear to new users how they should pass glob patterns to `cypress run`, mostly because

* their shell will expand globs - `--spec *` gets passed as `--spec fileA fileB fileC`
* then, Cypress thinks that `spec === 'fileA'`
    * \- unless they use double quotes, in which case Cypress receives `"*"` and we glob it ourselves (unintuitive)
    * \- or if they use `--spec=

[2019-02-04 18:53] chrisbreiding opened #3319 "Fix flaky background events e2e test"
Failures like this one are very common, but not consistent. It's probably due to a race condition, since this is testing an asynchronous error.

https://circleci.com/gh/cypress-io/cypress/57365?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-04 20:04] Vandivier commented on #318
I do like the ability to measure coverage which has a separate issue filed, but one issue which doesn't fall under that scope and I think does fall under the scope of first class unit test support is folder structure. I don't merely want to separate /cypress/integration from /cypress/unit, I want to be able to have my spec files in the UI component folder and have cypress run those.

That is a con

[2019-02-04 20:55] Dan195 opened #3320 "Inconsistent behavior in before hooks where Cypress cannot find page element"
### Current behavior:

Given a test suite that's run utilizing "Run all specs" button and tested in a Chrome browser, occasionally on a `before` hook, it will not find the elements on the page. This will happen randomly on tests using a `before` hook, but never when running tests individually.

A recent example of where this happened
[code]

with error
[code]

### Desired behavior:

The test shoul

[2019-02-04 21:12] Vandivier commented on #346
@rwwagner90 merging mocha and cypress coverage - nice idea. I notice the cited repo now uses Jest. Is that a recent change? What was the reason for using Jest instead of Cypress for UI component testing? If you're not using Cypress for UI component testing does then what coverage are you merging?

[2019-02-04 21:19] lebull commented on #2181
I should note that this issue happens on my local machine.  We are using TFS and not GitLab for our CI, but it's windows either way.

Messing around my setup some more, it turns out that we were using a [grunt-exec](https://www.npmjs.com/package/grunt-exec) task to execute our integration tests.  When running cypress directly, we do not see this behavior.  Switching this task out with [grunt-shell

[2019-02-04 22:34] silbinarywolf commented on #318
I agree with Vandivier.

For the E2E/integration tests, it makes sense for Cypress to be seperated by folder structure but for unit/component testing, I want the code/test/styling to be grouped together in vertical slices.

[2019-02-05 00:17] hinfaits commented on #3256
Wanted to provide an update, I will try to get an example this week.

[2019-02-05 00:32] rwwagner90 commented on #346
@Vandivier we're no longer merging coverage. We're just using Jest and it does its own coverage. We no longer try to get coverage out of Cypress.

[2019-02-05 00:57] ianschmitz commented on #3207
Should we include Edge in this list as well? Not sure how Edge fits in this list with the [recent announcement](https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-open-source-collaboration/) to switch to use Chromium under the hood.

[2019-02-05 04:46] lgandecki opened #3323 "Inconsistent beforeEach behavior when 'Run all specs' executed."
### Current behavior:

As one of `cycpress-cucumber-preprocessor` plugin users found out:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/139

the `beforeEach` defined in one file runs for every test.

Having one file:

[code]

and another:

[code]

I would expect them to stick to their unique `beforeEach`es, and that's how it works when running them separately, and when run

[2019-02-05 04:53] Vandivier commented on #789
How about using [ShellJS](https://www.npmjs.com/package/shelljs)?

[2019-02-05 05:00] xSky93 opened #3324 "Viewport screenshot doesn't adhere to the set width and height outside of the cypress cli during tests"
### Current behavior:

Screenshots are not taken at the height and width set prior for the viewport even when using the setting the capture to be the `viewport`. This interestingly only happens if you trigger the test from the runner and not if you trigger the test from terminal.

### Desired behavior:

For the screenshot height and width to match the height and width that the viewport is set to b

[2019-02-05 06:55] jennifer-shehane commented on #3324
Hey @xSky93, are you including this code as a custom command? Just wondering and needing where this `subject` is defined from the code above. Can you post the full code example and how it is called? Thanks!

[2019-02-05 07:34] jennifer-shehane commented on #3323
Can recreate from provided repo: https://github.com/TheBrainFamily/cypress-cucumber-example/tree/beforeEach

<img width="504" alt="screen shot 2019-02-05 at 2 03 05 pm" src="https://user-images.githubusercontent.com/1271364/52258812-db016380-294e-11e9-8bf7-ee533555e90a.png">

[2019-02-05 07:35] jennifer-shehane commented on #3323
Related to: https://github.com/cypress-io/cypress/issues/1586

[2019-02-05 07:40] jennifer-shehane commented on #2256
@SDESkowronski 	I don't see why this would not work with 1, 2 spec files over 15. Please open a new issue with info about your environment and reproducible example as this issue has been closed.

[2019-02-05 08:15] jennifer-shehane commented on #3282
Duplicate of https://github.com/cypress-io/cypress/issues/3121

[2019-02-05 08:15] #3282 closed

[2019-02-05 08:16] jennifer-shehane commented on #1364
Duplicate of https://github.com/cypress-io/cypress/issues/3121

[2019-02-05 08:16] #1364 closed

[2019-02-05 08:20] jennifer-shehane commented on #3004
Closing this as resolved. Please reopen if these tests are still flaky.

[2019-02-05 08:20] #3004 closed

[2019-02-05 08:21] jennifer-shehane commented on #2443
I am moving this issue to our [docs](https://github.com/cypress-io/cypress-documentation).

[2019-02-05 08:30] jennifer-shehane commented on #3320
Most often in cases of flaky tests, we see that there is not enough assertions surrounding the actions or XHR requests/responses necessary before moving on to the next assertion. So if there is any variation in the speed of the XHR requests response in interactive mode versus run mode, then there will start to be failures in one over the other - or flaky tests.

So, for example if you had a test t

[2019-02-05 08:30] #3320 closed

[2019-02-05 08:35] jennifer-shehane commented on #3000
Closing. Please comment if this behavior is still present and we can reopen.

[2019-02-05 08:35] #3000 closed

[2019-02-05 08:44] jennifer-shehane commented on #3190
No work has been done on this feature. We will update when work is done.

[2019-02-05 08:54] jennifer-shehane commented on #3311
Related issue: https://github.com/docker/for-win/issues/1588

Did you try prefixing the command with `winpty` as specified in the error message? What happens then?

[2019-02-05 08:57] jennifer-shehane commented on #3192
No updates. We will comment when work is done on this issue.

[2019-02-05 09:02] jennifer-shehane commented on #3312
Hey @ziyailkemerogul, thanks so much for opening this issue! We've seen this error logged many times, but have been unable to recreate the exact situation. 🙏

[2019-02-05 09:23] pszalanski commented on #1400
The chromium browser is still not being found by cypress, if the binary is called `chromium`. Can you add that name to the detection list somehow?

[2019-02-05 09:51] bits-of-static opened #3330 "Terminating cypress on console using ctrl+c does not close browser"
Cypress v3.1.5
MINGW64 console
Google Chrome, running inside Sandboxie
Windows 10

[2019-02-05 09:56] mike-packetwerk commented on #3156
Just started showing up for me in gitlab runner. Not exactly the same, but similar. Running locally on macOS, no problem. In gitlab using the cypress/base:10 image the result below. Not sure what has changed, and definitely not clear this is a cypress problem. Just adding some information.

Regards, Mike

[code]

[2019-02-05 10:43] ChrisLahaye commented on #2549
Test: https://gist.github.com/ChrisLahaye/c2e1fe5e11a6dd00161145b9de597919
Support file: https://gist.github.com/ChrisLahaye/7053cb1da0f6548fa91c81beb05258dd
Suppor file sub: https://gist.github.com/ChrisLahaye/036d2de6b6c86817f38393f3713178ee

Config:
[code]

[2019-02-05 10:58] jennifer-shehane commented on #1400
@pszalanski Please check our new section on [debugging browser launching](https://on.cypress.io/debugging#Launching-browsers) in our docs for troubleshooting tips.

[2019-02-05 10:59] jennifer-shehane commented on #3330
Hey @bits-of-static, we've never encountered this error before. Could you explain the exact steps to get to this situation? We won't be able to look into the error without being able to reproduce it.

[2019-02-05 11:01] jennifer-shehane commented on #3156
@mike-packetwerk Can you provide a way to reproduce this? Provide the test code with url to visit or test code + application code?

[2019-02-05 11:06] jennifer-shehane commented on #2549
Hey @ChrisLahaye I won't be able to run these tests without the baseUrl provided. Also, is there any way that you could narrow down the issue? This is quite a lot of cypress commands for a reproducible example.

[2019-02-05 11:10] abu-wizata commented on #2393
Still happening for me.

Cypress package version: 3.1.5
Cypress binary version: 3.1.5

[2019-02-05 12:36] abhilashshettigar commented on #3311
Yup, While trying it shows `winpty is not recognized as an internal or external command `

[2019-02-05 13:19] Lakitna commented on #3315
I believe I found the issue, but I'll have to try it when I get home. Somehow the corporate proxy or corporate machine I'm running interferes with building Cypress.

The issue is probably that `_.isObject()` (line 10 and 13) also matches functions.

[2019-02-05 13:41] wassansalih commented on #2587
cy.request({
method: 'GET',
 url,
headers
});

[2019-02-05 14:36] bits-of-static commented on #3330
Yes, I will let you know as soon as I find way to reliably reproduce this issue. Yesterday, I was left with high cpu consumption of astray chrome processes, even though all chrome windows were closed.

[2019-02-05 14:55] KartikaRajendran opened #3332 "Ability to return values fetched using children() method"
### Current behavior:

I am currently trying to write an utility function that fetches data in a page and returns it using the below code.

The rows of data returned within `children().each(()=>{})`  is correct and is printed properly. But I am unable to fetch the values of `arr_rows` outside of the `each` loop. I am planning to use this `fn` in tests that requires fetching and comparing a table o

[2019-02-05 15:30] Lakitna commented on #3332
`each` [always passes on its input](https://docs.cypress.io/api/commands/each.html#Yields), it never mutates the values so when you enter the `then` block you get the elements passed by `children`.

I see 2 ways of solving this:
1. Create a custom command to grab the text from any elements and pass it on to the next item in the chain. This is the hard but reusable way. In fact it's too complex to

[2019-02-05 15:46] emilyb7 opened #3333 "Stubbing requests with cy.route() not working as expected when stubbing multiple calls to same url"
### Current behavior:

When I attempt to stub a route with two different responses for consecutive requests to an API, the mock server always response with the first response. This happens on circle CI only. On my local environment it works as expected.

Here's a screenshot from circle CI (failing):

![image](https://user-images.githubusercontent.com/17532458/52285255-edcf6480-295d-11e9-8867-260a6

[2019-02-05 15:51] Dan195 commented on #3320
If the error is thrown at the first line, then I am struggling to see how the additional assertions in the second example would help. For the error I am receiving, if converted to the second example, it would still fail as cy.get('.name-input').type('Jennifer') as it would never reach the extra assertions.

[2019-02-05 16:37] Bkucera commented on #3207
@ianschmitz we currently haven't done any work towards Edge, but we'll update this with updates

[2019-02-05 16:51] ifiokjr commented on #346
@rwwagner90 interested to know if there's any particular reason for not getting coverage from Cypress. I've contemplated putting something together. Is it not worth the effort?

[2019-02-05 16:56] SDESkowronski commented on #2256
Thanks Jennifer, while trying to create a minimum repro I tried switching the quotes I was using from single to double and the double quotes worked. I am running on Windows. Issue resolved for me, but it's weird that the single quote worked for 15 files but not 1 or 2.

[2019-02-05 16:59] rwwagner90 commented on #346
@ifiokjr we decided that ultimately, Cypress coverage was not a good representation of real coverage. You may "cover" 80% of lines just by booting the app up and visiting a page, but you're really only testing the functionality of one function. We decided coverage only made sense from unit tests, and we would wait for Cypress to expose more meaningful metrics like element coverage or application s

[2019-02-05 17:12] frattaro commented on #346
Unit testing with cypress is a thing that can be done. Info doesn't directly impact the conversation but is something to consider.

[2019-02-05 17:20] paulfalgout commented on #346
I find the coverage reports I can get from Cypress to be quite useful.  Yes it doesn't tell you what is covered or not as false positives are high, but it can tell you what is _definitely not_ covered.  In some cases I discovered tests we thought were covering the use case, but weren't.  However I generate coverage reports two ways.  I merge a report across the entire code base when run headlessly

[2019-02-05 20:02] usermur opened #3335 "Question: Read XML File and assign the contents to cy.request(body)"
**Question: Read XML File and assign the contents to `cy.request(body)`**

For one of my web service testing, I need to read an xml file and assign the contents of the same to `cy.request` body. Or assign the contents of the xml directly to the `cy.request` body.

How can I achieve this?

I tried the below method and was not able to successfully pass the XML to the body.

Please let me know.

eg:

[2019-02-05 20:13] KartikaRajendran commented on #3332
I tried the above method 2 but had issues while accessing the elements/rows passed by children() within the then(). But I was able to resolve it by creating and returning a Promise like below.

[code]

[2019-02-05 21:18] fr0 commented on #1996
This was fixed in Electron in December, but I'm still getting warnings about it. Can you guys fast-track the Electron upgrade?

[2019-02-05 21:31] minams2 opened #3336 "Not finding an element in iframe"
Not able to find elements within iframe

### Current behavior:
It waits and fails

[code]

[2019-02-05 21:32] #3332 closed

[2019-02-05 22:14] tnrich commented on #3111
@ethernal I don't think what you're suggesting is necessary for what I want to do. While it would technically solve what I'm trying to do, I think it should probably opened as a separate issue to this one.

[2019-02-05 22:21] tnrich commented on #2366
Also hitting this when hitting "Run all specs" in the cypress devtool (aka `cypress open`)

[2019-02-06 04:05] danawoodman opened #3339 "Using Cypress with create-react-app causes @types/jquery error"
I am getting the error:

[code]

When trying to use Cypress with create-react-app using Typescript. With create-react-app, you can't override the `--isolatedModules` flag. I have no idea how else to get rid of this error after googling for over an hour.

This appears to be an issue with `@types/jquery` which is imported at some level by Cypress.

I've tried `exclude`ing the `node_modules` folder a

[2019-02-06 04:46] panneerselvamc opened #3341 "need of alternate command for wait and timeout"
### Is this a Feature or Bug?
Feature

### Current behavior:
hard coding required time

### Desired behavior:
need alternate way without hard coding

### Steps to reproduce: (app code and test code)
My First Page is Login Page and my Second Page is Dashboard Page. After Clicking Login Button in First Page Ajax calls starts happening for loading second page mean time cypress executes next command a

[2019-02-06 05:42] bussyjd commented on #1243
This fills up my cloudbuild log buffer on GCP CloudBuilder and I cannot see what happens afterwards.
This behavior is buggy and an environment variable `CI=true` to fix it is not okay...

[2019-02-06 07:31] mike-packetwerk commented on #3156
Sorry, internal app. Angular CLI has recent problems due to terser - maybe this is related https://github.com/angular/angular-cli/issues/13582. When I upgrade CLI I'll report back if any change occurs.

[2019-02-06 10:53] nikolaJosifovic opened #3347 "Cypress GUI runs test in infinite loop if api call function is in index.js"
### Current behavior:
Cypress GUI looping test forever.

Can not take screenshot because tests are looping fast so I got the video.

[loopVideo.zip](https://github.com/cypress-io/cypress/files/2835899/loopVideo.zip)

My use case:

I have login api function in `index.js` file and I'm saving response into file.

In tests I use different parts of that `json` e.g `acc` token or `ref` token.

### Desir

[2019-02-06 11:28] abhilashshettigar commented on #3311
@jennifer-shehane I  have Set the Path for winpty in Environment variable in my pc
winpty.exe Location :- C:\Program Files\Git\usr\bin\
 and command which @jennifer-shehane suggested works fine in my CMD
![cypressconnectwithwinpty](https://user-images.githubusercontent.com/32007548/52337605-1a52b180-2a2e-11e9-9564-e716fe6df496.png)

But in Cypress while running same command

Error Stack:-
![cypres

[2019-02-06 11:44] Ajith456 commented on #2033
Hi Jennifer-Shehane, I'm new for Cypress.io and I'm not able to write test case for check the length of password please help me. and i need sample projects also and i waiting for your replay.

thank u

[2019-02-06 12:11] danielschwartz85 opened #3348 "Exceptions in after() don't show up in UI"
### Current behavior
If after() is defined in root level (not in **describe** and not in **it**) and an error is thrown then the UI does not show the Error.
* tests **do** fail from CLI.
* probably related to: https://github.com/cypress-io/cypress/issues/2296

### Desired behavior
UI should show Exceptions thrown in after

### To reproduce
See (there are 4 specs showing _weird_ behavior):
https://

[2019-02-06 13:44] louptony commented on #788
We had an issue where Cypress was really slow (45~50 sec each test). We found out the problem was due to Google Analytics. We change our server setting for the execution of our component test to deactivate it and now each test take arround 2~3 sec.

[2019-02-06 14:05] mike-packetwerk commented on #3156
Ok, so I haven't upgraded anything, and yet the cypress tests are working again in gitlab. I have no explanation, but an appreciation: I think you fine folks have made a wonderful tool with cypress. I am thankful, even if my environment is inexplicable.

[2019-02-06 15:12] chrisbreiding opened #3349 "Test runs infinitely with combination of async error, 'fail' event, and done callback"
### Current behavior:

Test will hang if there's an async error, use of the `fail` event to catch the failing test, and a `done` callback. Since the command resolves before the error is thrown, the `fail` event is not fired and the `done` never gets invoked.

This is primarily an internal issue since we use the `fail` event to test Cypress. can be seen in the [failing driver test](https://circleci

[2019-02-06 15:42] panneerselvamc commented on #1417
This Function returns nothing when i call this function kindly help me to overcome this

const search=()=>{
cy.get('body').then(async ($body)=>{
let flag =$body.text().includes("LOGIN")
if (flag) {
cy.log("in if")
return(false)
}
else {
cy.wait(4000)
cy.log("else")
return(true)
}
})
}

[2019-02-06 15:54] panneerselvamc commented on #435
This Function returns nothing when i call this function kindly help me to overcome this

const search=()=>{
cy.get('body').then(async ($body)=>{
let flag =$body.text().includes("LOGIN")
if (flag) {
cy.log("in if")
return(false)
}
else {
cy.wait(4000)
cy.log("else")
return(true)
}
})
}

[2019-02-06 16:32] Joelasaur commented on #3341
Why not alias a route for your Ajax call and then pass it to cy.wait()?