[2019-03-15 14:23] baleeds commented on #1773
@bierik I'm trying to solve the same problem right now with no luck.  Let me know if you figure it out...

I have this code:
[code]

The expected behavior is that after clicking the button, cypress would wait for the api call to finish.  In reality, it never catches the api call.
I can't rely on the presence of the `incompleteFlag` because the app does optimistic updating.

Here's my runner:

![im

[2019-03-15 14:43] alexlee-dev commented on #521
So we are almost 2 years after this problem was initially brought up. I see people have written some pseudo fixes for different problems, but none of them seem like a catch all (at least for XHR).

Does anyone from Cypress have an update on this? @brian-mann ?

Love Cypress, and I'd like to be able to use it more dynamically.

[2019-03-15 15:04] danielquintero commented on #2595
Same Nx/Cypress issue as @MarkPieszak & @EirikBirkeland are having... as soon as you provide a value for supportFile i.e.`"supportFile": "../../dist/out-tsc/apps/app1-e2e/src/support/index.js"` it breaks.

[2019-03-15 15:15] magopian opened #3717 "Uncaught DOMException: Failed to set the 'domain' property on 'Document': 'gouv.fr' is a top-level domain."
### Current behavior:

I'm writing my very first test:

[code]

And the test starts running, opens the url, and then freezes with a blank page. In the console I have those error messages:

[code]
### Desired behavior:

It works properly if I open the local website I'm developing, or https://example.cypress.io/, but not on our development website or our production website

### Steps to reproduce: (

[2019-03-15 15:41] flotwig opened #3718 "Fix flaky "e2e plugins fails" `3_plugin_spec` e2e test"
This test is super flaky for some reason, it would be nice to not run in to these anymore.

https://circleci.com/gh/cypress-io/cypress/84185
![image](https://user-images.githubusercontent.com/1151760/54443428-f9f5d100-4716-11e9-8ece-6e205769a1c2.png)

[2019-03-15 16:52] jennifer-shehane commented on #3515
Hi, the yauzl update was included in [3.2.0](https://on.cypress.io/changelog#3-2-0) release. Can anyone update to see if this issue is resolved?

[2019-03-15 17:04] alexlee-dev commented on #687
Can you show how you were able to use this package and get it set up? No luck for me.

[2019-03-15 17:05] hdavidzhu commented on #2938
For my situation, my suspicion is that the proxy layer is confusing two of my requests as one. I don't have any clear understanding of how it works internally, but my mental model is:

1. The test issues a `cy.visit`
2. At the same time, another request goes out from my app (somewhat like a race condition)
3. The proxy layer requests the page I want to visit first
4. The `visit` is tied to the 2nd

[2019-03-15 17:28] ArtanisAce commented on #1321
Also happening to me. It doesn't happen locally but happens when pointing to our DEV servers (also http, so don't really get it). 3.1.0 only throws error when doing `cy.logout()` (probably some issue destroying cookies??), and 3.1.5 throws this cookies error almost always. So, with 3.1.0 and this logout replacement by @itaykotler-fundbox works a bit better, but still I'm seeing that I get the erro

[2019-03-15 17:44] Songyu-Wang opened #3719 "visit() does not send user agent header as specified"
### Current behavior:

With the new feature in 3.2.0 that enables setting headers for `visit()`, "user agent" header is not correctly passed to server side

### Desired behavior:

user agent header can be passed to server side as specified

### Steps to reproduce: (app code and test code)
Using the following code:
[code]
And observe server side receives something like this:
![image](https://user-i

[2019-03-15 17:54] lukeapage commented on #2938
In my case it’s not that..
We request a visit outside the local host where the branch is deployed. All our requests and images are mocked - that means we cannot have 2 requests at once.

[2019-03-15 18:25] randing89 opened #3720 "Cypress crashes when a site uses a secure cookie but served in http"
This issue was a follow up for https://github.com/cypress-io/cypress/issues/1321#issuecomment-462647518

### Current behavior:

It is very common to run a dev server locally with HTTP. However in this case the server still puts `secure` keyword in `set-cookie` because in production environment it will be served with HTTPS.

Cypress 3.1.5 crashes with following error message:
`Error: Failed to pars

[2019-03-15 18:45] flotwig commented on #3719
It's probably because the UA header gets clobbered in two places in `request.coffee`:

https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/request.coffee#L267
https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/request.coffee#L328

From a first glance, it looks like this is just Cypress trying to pass along the UA of the browser with the request. It'd probably

[2019-03-15 19:04] jennifer-shehane commented on #3720
Duplicate of https://github.com/cypress-io/cypress/issues/3525

[2019-03-15 19:04] #3720 closed

[2019-03-15 19:35] Songyu-Wang opened #3721 "Log for visit() should be more detailed"
### Current behavior:
with 3.2.0 update, visit() allows more customization, but the log in dev console is not descriptive enough to display them.
![image](https://user-images.githubusercontent.com/36670132/54457446-ab4c3500-471e-11e9-963c-4bfb25ae65e5.png)

### Desired behavior:

If the log can be more like request(). It will be easier to debug if stuff goes wrong

### Versions
cypress 3.2.0

[2019-03-15 19:41] c32hedge commented on #2694
In my use case, I would like to use cy.request to make API calls that require certificate-based authentication. Being able to use certificates at all would be a minimum need for me to be able to test our UI when we make changes via the API. However, I'd like to be able to use Cypress to test the API itself, and to do that I would want to test using different certificates, so just setting one in a

[2019-03-15 20:33] psachs21 commented on #687
@alexlee-dev so I had to overwrite my visit because i wanted to preserve keep recording between navigations. That was the only thing that really hung up my use of the adapter.

[code]

[2019-03-15 20:55] ryparker commented on #1512
The only way I was able to get cypress to install was with sudo `npm install --unsafe-perm=true --allow-root cypress`.

I have not had this problem with any other package...

[2019-03-15 21:08] fr0 opened #3722 "cy.type doesn't fill in KeyboardEvent.code"
### Current behavior:

The `KeyboardEvent` object generated when using the `type` command doesn't contain the `code` property.

### Desired behavior:

The `KeyboardEvent` object generated when using the `type` command should contain the `code` property.

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code

### Versions

3.1.5

[2019-03-15 21:11] Atticus29 commented on #3497
@jennifer-shehane yes I am! Interesting!

[2019-03-15 21:44] andrewhl commented on #2671
I'm having the same issue. I've attempted to use the following method:

**plugins/index.js**
[code]

But the UI popup for authorizing geolocation still appears in Chrome.

[2019-03-15 21:51] oghmjos commented on #2078
As first step having feature to upload text files from logs directory to dashboard whould be very helpful and could be a good jumpstart. Will enhance cypress-failed-log plugin too with no extra effort. Maybe its already planned in the nearest future?

[2019-03-16 06:19] dmitriy-tarasov commented on #3079
I see kind of the same on VSTS, I use PowerShell (inline mode) to run the cypress, is it known or I missed something ?

 (Run Starting)

öÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÇΓöÉ
  Γöé Cypress:    3.1.2                                                                              Γöé
  Γöé Browser:    Electron 59 (headless)

[2019-03-16 12:02] roschaefer commented on #3217
@marinakuranda I stumbled over this and got it resolved by upgrading `cypress` from `3.1.3`=>`3.2.0`. Seems the new version is looking for other binaries like `chromium` (on Manjaro/Archlinux :blue_heart:  :penguin: ) and `chromium-browser` (which is the binary on debian based systems). You can also set the path manually as stated in the [docs](https://docs.cypress.io/guides/guides/launching-brows

[2019-03-16 12:06] #3669 closed

[2019-03-16 14:48] Fonger commented on #2118
If you're using `window.onbeforeunload=function() {...}` instead of `window.addEventListener('beforeunload', function() {...}`, you can use this workaround:
[code]

[2019-03-16 16:29] ramusus opened #3723 "Auto stubbing feature of visit and XHR requests in beforeEach"
In this video https://www.youtube.com/watch?v=5XQOK0v_YRE Brian recommended to split out tests and assert only one feature in one test (which is generally accepted preferred behavior in testing), however [here in Best Practices](https://docs.cypress.io/guides/references/best-practices.html#Creating-“tiny”-tests-with-a-single-assertion) it's not recommended to write tiny tests with one assertion on

[2019-03-16 18:41] ramusus commented on #3723
it seems this idea have already been implemented using files here https://github.com/PinkyJie/cypress-auto-stub-example

[2019-03-16 22:47] oriqoqo opened #3724 "[BUG] Urgent: Running a test always succeeds, even when later assertion fails"
### Current behavior:

Test succeeds though assertions should clearly fail

Very similar to #3664
Also similar to #2720 , #3497

### Desired behavior:

The test should clearly succeed - or fail - in full prior to reporting itself as successful or failed.

### Steps to reproduce: (app code and test code)

Here's a simple test code in a forked repo. Test appears as successful although it should mise

[2019-03-16 23:34] ramusus commented on #3723
Another article related to the topic https://medium.com/ax2-inc/dynamic-xhr-responses-recording-stubbing-with-cypress-9257d4f730cd

[2019-03-17 04:14] opensas opened #3725 "cypress runner ignoring charset=“windows-1252” html tag"
### Current behavior:

I'm testing a page encoded with windows-1252 like this:

[code]

But cypress runner seems not to be taking it into account:

![cypress runner ignores windows-1252 encoding](https://i.stack.imgur.com/YKnCN.png)

My test are failing because of this.

On the other hand, when testing it on chrome (Version 72.0.3626.121 Official Build 32-bit running on windows 10) or firefox (65.

[2019-03-17 04:16] opensas commented on #1543
I have a similar issue, I reported it [here](https://github.com/cypress-io/cypress/issues/3725), added a very simple html page to reproduce the bug:

[code]

also asked at [SO](https://stackoverflow.com/questions/55203672/cypress-runner-ignoring-charset-windows-1252-html-tag)

[2019-03-17 04:23] opensas commented on #1543
ON the other hand, I noticed this issue is labeled like `stage: needs information`, I would gladly help with this if anybody can tell me what information is missing

[2019-03-17 04:23] YOU54F commented on #3537
Hi,

I have 2 PR's tracking this upgrade to mocha 6, I use cypress & mochawesome for reporting.

They have circleci runs associated with them, in case anyone wants to track the change as the other dependancies update. I haven't had a chance to look into this yet in much detail

https://github.com/YOU54F/cypressio-docker-typescript/pull/15
https://github.com/YOU54F/cypressio-docker/pull/12

[2019-03-17 05:32] timpur commented on #687
@alexlee-dev yeah i linked this https://github.com/timpur/cypress-polly-xhr-adapter though it was meant for temp, i was more thinking cypress could utilize Polly since it already has a community instead of reinventing, though i cant say it ticks all of cypress's requirements ... (i dont know enough to really comment)

But if you like to use polly my repo may help though dont expect much :P
@psachs

[2019-03-17 06:26] opensas commented on #3725
update: this is the best workaound I could find so far, if anybody has a better alternative I'd be grateful

[code]

[2019-03-17 07:15] lukeapage commented on #686
I would like to use this to increase performance - I would like to manage caching myself through a per run cache buster, I believe this will help since the longest time during our run is loading the page.

[2019-03-17 08:50] anastasia333 opened #3726 "Cypress creating nested folders"
I have the same issue as #2388, it happened to me twice. First after npm installation, second after manual. Now I have two cypress folders I cannot delete.
https://github.com/cypress-io/cypress/issues/2388

### Current behavior:

I have used the 'download' link to download the `cypress.zip` file from Cypress.io website. Later when I try to delete the whole Cypress folder, I get

[code]

### Desire

[2019-03-17 09:40] nikhiletc opened #3727 "How can i run test runner inside docker ?"
i am running cypress inside docker, I can run the test. when a test failed I can see the screenshots,  but i can't run a test runner, i am getting this error
<img width="1432" alt="Screenshot 2019-03-17 at 10 38 32" src="https://user-images.githubusercontent.com/4526422/54488349-09088a80-48a1-11e9-928a-b929babdfe07.png">
It's very difficult to debug without testrunner

[2019-03-17 17:23] lukeapage commented on #3724
Why are you defining your describe/it functions as async?

[2019-03-17 20:35] szymach commented on #3388
I have a similar issue - I open a bootstrap modal and when I want Cypress to click the close button, it finds the element properly, but clicks outside of it, like so:

![cypress_misclick](https://user-images.githubusercontent.com/2230556/54497575-6d0c6c80-48fc-11e9-92e0-4d658553df88.png)

If I understand correctly, the red dot marks the place where the click action has been performed? Manually cli

[2019-03-17 21:40] lukeapage opened #3728 "3.2.0 regression - frequent hanging on CI"
### Current behavior:

On almost every run (400 tests across 90 specs), cypress is hanging one of the specs.

Logs attached (obfuscated, shortened to one spec run)

[cypress-hang-logs.txt](https://github.com/cypress-io/cypress/files/2975747/cypress-hang-logs.txt)

### Versions

3.2.0 (works fine in 3.1.5)
Windows (tested a few versions)

P.s. we are a paying subscriber, but I am confused whether t

[2019-03-17 21:57] oriqoqo commented on #3724
Yep, that resolves it. Old leftover pre cy.*. Thank you!!!

[2019-03-17 21:57] #3724 closed

[2019-03-18 01:12] phongnd39 commented on #281
I just created a simple small package to add Jest expect matchers and syntax to run with Cypress and Chai-based reporter here: https://github.com/phongnd39/cypress-jest-adapter. The mock assertions functions are still based on Chai-Sinon, though.

I do hope that Cypress add jest support out-of-the-box or give an option for us to choose the testing framework soon.

[2019-03-18 01:27] Bender55 commented on #2555
we upgraded to 3.2.0 and the issue is still present.   Good news is I figured out how to successfully  downgrade.  Going back to 3.0.1

[2019-03-18 02:16] timruhle commented on #3717
I get this same error after upgrading to v3.2.0. A blank screen with the error message `Uncaught DOMException: Failed to set the 'domain' property on 'Document': 'net.au' is a top-level domain.`.

@magopian You can use Cypress v3.1.5 for now, as I can confirm that it works for me.

[2019-03-18 03:38] MatteoGioioso opened #3729 "Cypress hanging/stop with remote server (maybe https related)"
### Current behavior:
I am trying to run my tests with my staging server in `https`

I have recorded a video of the what exactly happens:

https://www.hippovideo.io/video/play/22oQrG8pRA_ShkNs1tXdzdjBu0b8r0Pw9aU_JNy-K9Q

Looks like it is redirecting to my domain and then stop without displaying any error.

Upon inspecting the console I have this error:

`Refused to execute script from 'https://www

[2019-03-18 04:05] jennifer-shehane commented on #1543
Hey @opensas - I do believe this issue is likely the same.

Honestly, this should be labeled as 'ready for work' on our side, since we do have a reproducible example. The cause it still unknown though, although we had a theory.

The fact that this doesn't run correctly in Electron only is a helpful new piece of information.

I will close https://github.com/cypress-io/cypress/issues/3725 as a dupli

[2019-03-18 04:05] jennifer-shehane commented on #3725
Duplicate of https://github.com/cypress-io/cypress/issues/1543

[2019-03-18 04:05] #3725 closed

[2019-03-18 04:34] opensas commented on #1543
Sure, go ahead, I do hope you can work it out. Please let me know if there's anything I can do to help.

BTW, can anybody give a clue on how to implement a custom extension to cy like this:

[code]

It would just build a regular expresion replacing every problematic char with '.'

thanks a lot

[2019-03-18 04:55] jennifer-shehane commented on #1543
@opensas Look into our [custom command documentation](https://on.cypress.io/custom-commands)

[2019-03-18 04:58] jennifer-shehane commented on #3728
Hey @lukeapage, you are always welcome to send an email to support as a paying subscriber. GitHub is a great place for issues that may be relevant to other users - or that other users may be able to help with!

Could you narrow down the test code to the smallest reproducible example where it hangs and provide the test code? Is there a specific command it's failing on?

Also, can you run the test l

[2019-03-18 05:00] lukeapage commented on #3728
It’s not failing on a specific test.. it’s failing on random tests and it only happens on the 3.2.0 branch. From the look of the logs it is hanging on visit.

[2019-03-18 05:05] jennifer-shehane commented on #3728
Yeah, I reviewed the logs, but don't see anything pointing to an obvious problem. We'll need some way to reproduce this - or look at the test code. Feel free to email information over if you don't want to post, but there's not much we can do with just this information.

[2019-03-18 05:16] jennifer-shehane commented on #3726
I would love to track this issue down, this error seems specific to Windows.

- Where did you download Cypress? Was it to an external directory?
- Can you show what you mean by the nested folders? Where are you 'creating' tests in the examples folder?
- When you 'start cypress', are you running `cypress run` or `cypress open`?

I've read somewhere that you may be able to rename the folder - like t

[2019-03-18 05:22] jennifer-shehane commented on #3723
Hey @ramusus, testing is definitely a balancing act of all of these things - having enough tests and coverage, but not too much to slow down your workflow.

Issues in our GitHub repo are reserved for potential bugs or feature requests, I'm a little unclear about whether you are asking Cypress to implement a specific feature to our product to facilitate what you need. Could you explain the feature

[2019-03-18 05:23] jennifer-shehane commented on #3721
cc @flotwig

[2019-03-18 05:29] jennifer-shehane commented on #3719
You can set the `userAgent` as a configuration value in your `cypress.json` file - https://on.cypress.io/configuration#Browser

There's some explanation on why we implemented it this way here: https://github.com/cypress-io/cypress/issues/364

headers lowercase issue: https://github.com/cypress-io/cypress/issues/2879

[2019-03-18 05:41] jennifer-shehane commented on #3713
Are you able to look at the stdout log from the run with 51 specs to verify what specs are running/being found from the `--spec` argument and also what Cypress searched for? It should print towards the beginning of the log. It should look something like this:

<img width="823" alt="Screen Shot 2019-03-18 at 12 10 26 PM" src="https://user-images.githubusercontent.com/1271364/54509126-d92bb680-4976-

[2019-03-18 05:45] DragorWW opened #3730 "File upload on input, stop working in Chrome 73"
Code:
[code]

in 3.1.5, this code work, after update to 3.2.0 stop working.
[code]

also [cypress-file-upload](https://github.com/abramenal/cypress-file-upload) not working in 3.2.0 (working only drag mode)

solution from https://github.com/cypress-io/cypress/issues/170#issuecomment-461740848 not working

[2019-03-18 06:54] DragorWW commented on #3730
If add `cy.wrap(subject).trigger('change');` after `el.files = dataTransfer.files;`, event change fire on input

[code]

[2019-03-18 07:15] jennifer-shehane commented on #3730
Gosh, yeah, I can't think of what could have affected this from the 3.2.0 update. But, also, I'm not able to see any difference in how this test runs in 3.2.0 versus 3.1.5. Can you write an assertion that fails in 3.2.0 that passes in 3.1.5 so that I can see the exact change?

[2019-03-18 07:15] ErenPhayte opened #3732 "Stub removed automatically when trying to stub window.open"
Hi,

So I found a possible bug where stubs seem to disappear(???). I have created the following method:

[code]
in the description block I have the following:

[code]

The actual tests at this stage are simple as I cant get further:

[code]

What happens is the first tests works perfectly. `Window.open` is hijacked and I can do perform fake actions to mimic the flow. However the second one fails a

[2019-03-18 07:35] DragorWW commented on #3730
Thanks for the quick reaction, today I will prepare examples for reproduction

[2019-03-18 07:53] lakiefer commented on #771
Is there something new about this issue?

[2019-03-18 08:36] anushkamds opened #3731 "Selecting environment via the deskop appliction"
### Current behavior:
In the UI of Cypress, there is no way of selecting the environment option if we want to run the test case in a different environment. Need to run a special command kind of thing to do it.

### Desired behavior:
There should be an option to select the environment for user convenience if user don't want to run any command by rather using the desktop appliction just for checking

[2019-03-18 08:39] DragorWW commented on #3730
@jennifer-shehane Start explore more in detail of the problem. **Сypress update is not related to the problem.**

The problem was caused by different versions of chromium.

Electron 59: `el.files = dataTransfer.files;` trigger change on input
Chrome 69 : `el.files = dataTransfer.files;` trigger change on input
Chrome 73: `el.files = dataTransfer.files;` not trigger change on input

I apologize for

[2019-03-18 10:35] anastasia333 commented on #3726
* .zip was downloaded from https://www.cypress.io/
* cypress was started by opening .exe, not running cypress run or cypress open
* it seems that every time when user clicks on "select manually" to run tests, cypress creates a new "cypress" folder in that chosen folder, and it's impossible to remove (side note - there is a utility that can remove such nested folders - deep remove). Renaming the fo

[2019-03-18 11:55] tiborm commented on #3515
Hi Jennifer, the yauzl update in 3.2.0 seems to solve the problem in our project. Thanks!

[2019-03-18 12:00] minams2 commented on #3691
Thanks. Let me get back to you with a scenario

[2019-03-18 12:05] raktim1988 opened #3733 "Authorize cypress.io button is not enabled , while trying to create a new project and record using Dashboard services"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-18 12:13] pszalanski commented on #3730
Yes, I can confirm that the problem does not exist with Chrome 72, but came up after the update to Chrome 73.

Your workaround works for me, as well.

I could not find anything on google, regarding a bug in Chrome.

[2019-03-18 12:45] reno1979 commented on #771
Any updates on this?? Oud product is going to use Workers, and because we can’t seem Cypress to run as secure site, the workers are not loaded.

[2019-03-18 12:55] indrajitbnikam commented on #53
Hi all,
how can I click one of the button located inside of context menu?

Thanks in advance

[2019-03-18 13:25] zedissime opened #3734 "Cypress's CI missing dependency"
Hello,
Since a couple of days, I'm having some trouble with my CI and the [required dependencies](https://docs.cypress.io/guides/guides/continuous-integration.html#Dependencies) from the doc.

When I execute `sudo apt-get install --ignore-missing xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2`

The installation fails, because there is a missing dependency :
`Unable to corre

[2019-03-18 13:59] flotwig commented on #3733
What version of Cypress are you on? This was broken in 3.1.5 and earlier but fixed in 3.2.0.

[2019-03-18 14:08] flotwig commented on #3734
It looks like Debian has updated `libwayland-cursor` to a slightly different filename with a patch update.

http://deb.debian.org/debian/pool/main/w/wayland/libwayland-cursor0_1.12.0-1_amd64.deb gives a 404 not found,

but http://deb.debian.org/debian/pool/main/w/wayland/libwayland-cursor0_1.12.0-1+deb9u1_amd64.deb does exist.

It looks like for some reason `apt-get` is pulling in outdated depende

[2019-03-18 14:11] pietvanzoen commented on #3079
Would love to see a `--no-color` option. Most of the text in the console output is black and doesn't show very well in gitlab ci.

Also for local dev I prefer to have plain b&w for simplicity and uniformity.

[2019-03-18 14:15] reno1979 commented on #95
We are switching to web workers, we could use the fetch support. Any progress?

[2019-03-18 14:36] bahmutov commented on #3734
yeah, we advise to first run `apt-get update -y` before running `apt-get install`

[2019-03-18 14:37] zedissime commented on #3734
@flotwig @bahmutov  Yes sorry for that, I just did it and the install seems fine. Thanks for your answers !

[2019-03-18 14:48] raktim1988 commented on #3733
not able to update the version, any pointers will help

On Mon, Mar 18, 2019 at 2:59 PM Zach Bloomquist <notifications@github.com>
wrote:

[2019-03-18 14:56] raktim1988 commented on #3733
Ok, got it thanks !

[2019-03-18 15:02] bahmutov commented on #3734
no worries, @zedissime glad it got resolved

[2019-03-18 15:02] #3734 closed

[2019-03-18 15:43] edelgado commented on #2504
@Francis-Moreau-adsk thanks for the workaround! I just ran into this issue as well.

[2019-03-18 15:49] ramusus commented on #3723
Hi, @jennifer-shehane
In short, I need the way to stub `cy.visit` requests to make them fast. Is there a way to do so?

[2019-03-18 15:52] #3733 closed

[2019-03-18 15:52] raktim1988 commented on #3733
Closing the issue

[2019-03-18 15:53] raktim1988 opened #3736 "Run parallel cypress tests in jenkins , not in circle CI"
### Current behavior:

### Desired behavior:

### Versions

[2019-03-18 16:04] basickarl opened #3737 "Documentation not clear: "How Cypress handles unit tests vs integration tests.""
Not a massive ticket, but I feel the documentation isn't clear enough about one area for beginners: https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Folder-Structure

It states:

There is unfortunately nothing that explains this in the current documentation. At least not clear enough!

(I also find it strange that there is a cypress/integration directory, but no cypre

[2019-03-18 16:24] mmsudy opened #3738 "CypressError: Timed out retrying: coordsHistory must be at least 2 sets of coords"
@jennifer-shehane @brian-mann @bahmutov #coordsHistory

### Current behavior:

![image](https://user-images.githubusercontent.com/48072687/54543691-bba12180-4963-11e9-8b1d-93dfe778b513.png)

![image](https://user-images.githubusercontent.com/48072687/54543745-d4a9d280-4963-11e9-8611-e6ca55fb3ba5.png)

### Desired behavior:
### Steps to reproduce: (app code and test code)
[code]

want to select all

[2019-03-18 16:50] flotwig opened #3739 "EISDIR error when loading a fixture"
#3606 introduces a regression where, if a folder has the same name as a fixture in the same directory, `cy.fixture` will throw a `EISDIR: illegal operation on a directory, read`.

### Versions

3.2.0

[2019-03-18 17:40] alexlee-dev commented on #687
Thanks @psachs21 and @timpur . I'll give it another go. I'm trying to do it within several layers of a multi-proxy-ed corporate application, so sometimes it's difficult to know what it really causing Cypress to not work correctly.

[2019-03-18 19:08] #3736 closed

[2019-03-18 19:11] Bkucera commented on #53
@indrajitbnikam if you're talking about the native context menu, then you cannot, since it's not rendered to the DOM, it's native code.

[2019-03-18 19:15] trent-boyd commented on #136
Yeah, I've love to see this.

[2019-03-18 19:26] raktim1988 commented on #3736
Closed but no comments for me ?? That's pretty weird . You can pls help me with necessary comments or helps

[2019-03-18 19:31] bahmutov commented on #3736
@raktim1988 Ben has closed the issue because you have not provided any details or asked any questions. Please read parallelization documentation and Jenkins example in

- https://on.cypress.io/continuous-integration
- https://on.cypress.io/parallelization

[2019-03-18 19:47] desfero opened #3741 "Add keyboard support for folders inside desktop GUI"
### Current behavior:
Currently, folders are omitted during keyboard navigation in the desktop GUI because `onClick` event for folders are attached to a non-interactive element (`div`).

### Desired behavior:

It should be possible to interact with folders (collapsing/expanding) with a keyboard.

### Steps to reproduce: (app code and test code)

See the gif below. Folders don't participate in keyb

[2019-03-18 19:58] AdamFarrar commented on #136
Would be incredibly helpful! Thanks for considering!

[2019-03-18 20:10] #3737 closed

[2019-03-18 20:10] flotwig commented on #3737
Issue moved to [cypress-io/cypress-documentation #1502](https://github.com/cypress-io/cypress-documentation/issues/1502) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-18 22:24] Ameobea opened #3742 "Cypress fails to parse environment variables with empty values"
### Current behavior:

Cypress fails to parse command line environment variables when environment variables with empty values are supplied.

### Desired behavior:

Should default to setting the values to `undefined`

### Steps to reproduce: (app code and test code)

Run a command like `cypress run --env="USERNAME=,PASSWORD="`

### Versions

3.2.0 and earlier

----

Stack trace:

[code]

[2019-03-18 23:14] Bkucera opened #3744 "runnable:run:async only fires once for each hook"
runnable:run:async only fires once for each hook

this would cause screenshots to not be taken when:
- test fails in afterEach/beforeEach hook after the hook has already passed

[2019-03-18 23:17] tomatau commented on #2932
This isn't fixed, attempting to use two fixtures in a test is incredibly buggy and inconsistent. It's like JavaScript has somehow been broken by cypress here... common promise behaviour doesn't seem to apply in this strange cypress world. What did you do?

[2019-03-18 23:21] bahmutov commented on #2932
Thomas can we ask you to paste the test code snippet that is broken?

Sent from my iPhone

[2019-03-18 23:23] tomatau commented on #2932
[code]

- `fx` logs an array with the same item twice
- `fixtures` logs empty at the time of logging, but you can expand the array in console to see the two different array items. This is because the array is being populated long after the promises resolve. This is too late for tests to use it.

[2019-03-18 23:29] tomatau commented on #2932
Better yet.

[code]

Now `fx` (the first log) still logs the same item twice... but the second log `fixtures` now logs `[undefined, item]`... \_(ツ)_/¯

[2019-03-18 23:32] crcatala commented on #566
Here's one custom command I've been using in the interim. If you're app sets up form input event listener's on either `input` and `change` events, this should cover most cases:

[code]

[2019-03-18 23:40] tomatau commented on #2932
Using `Cypress.Promise.all` seems to work!

But still... Need to close over an array that I mutate instead of using the resolved values :/

[code]

- `fx` correctly logs `[1,1]`
- `fixtures` correctly logs the two fixtures

Trying to make this more terse and trust the normal JavaScript promise behaviour

[code]

- doesn't work.. it's got the same fixture item (the second cy.fixture call) in the ar

[2019-03-19 02:52] pareshkrc commented on #981
integration with qTest ?

[2019-03-19 03:16] maple-leaf commented on #2912
This problem on my situation is mainly caused by `close and relaunch chrome browser` when run `cypress run --browser=chrome`, which will take abount 2 minutes, while `cypress open` and run all tests will take just about half minute.

So far, cypress seems not ready for chrome headless, is there a way to auto trigger `run all` action when run `cypress open`, I would like to run this even on CI for

[2019-03-19 04:14] mitar opened #3745 "Surprise: cy.get(selector).contains(text) is not the same as cy.contains(selector, text)"
### Current behavior:

I am trying to wait for a `button` with some text to appear in the app. But the app has many buttons available all the time. So if I do `cy.get('button').contains('FooBar')` this fails because `cy.get('button')` finds some buttons, but they do not contain text `FooBar`. Even if button is later on added, this still fails because `cy.get` seems to not be retried and the same i

[2019-03-19 04:35] #3721 closed

[2019-03-19 04:50] #3652 closed

[2019-03-19 05:22] justinebolinas commented on #2267
Hi,

I am a newbie in cypress scripting, I just want to raise that this error is currently happening on my end. my cypress version is 3.2.0.

I am getting this whenever I am calling a parent.
RangeError: Maximum call stack size exceeded
![image](https://user-images.githubusercontent.com/43526715/54581992-fd0bfc80-4a49-11e9-9d19-fa20581a8a5c.png)

Is there anyone can suggest a better way for me not

[2019-03-19 06:13] jennifer-shehane commented on #3745
You may try as alternatives:

[code]

Please check out our [retry-ability](https://on.cypress.io/retry-ability) doc on specific about how this works today in Cypress.

[2019-03-19 06:13] #3745 closed

[2019-03-19 06:38] jennifer-shehane commented on #3738
Error being thrown: https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cy/actionability.coffee#L200

Yeah, this is not a great error message. Can you provide a reproducible example so that we can recreate this? App code + test code - just make a small repo of the isolated problem, not your entire repo.

I tried doing `.click({multiple: true})` and couldn't recreate it.

[2019-03-19 06:41] jennifer-shehane commented on #3731
What environment options do you want exactly?

[2019-03-19 06:43] bohendo opened #3746 ".should('contain', regex) fails when chained off an array of elements"
### Current behavior:

[code]

The above line of my e2e test fails with the following output:

[code]

The docs suggest that `contains` is supposed to be passed a string but it seems like it accepts a regex too because the following passes:

[code]

The key difference seems to be that, in this case, the should is chained off a single element rather than an array of elements like in the first examp

[2019-03-19 06:44] bohendo opened #3747 "cy.get(el).should('match', regex) fails to compare regex against el's innnerText"
### Current behavior:

I'm not using the middle `contains` in my tests & I'll use a more interesting regex to check something else. But, for a simple failing case, see:

[code]

The above line of my e2e tests fails with the following output:

[code]

It looks like the `contains` yielded `<span class=​"MuiButton-label-214">​Next​</span>​` But then the match assertion is only checking `<span class=​

[2019-03-19 07:41] bierik commented on #1773
Hi @baleeds I guess we have a different problem. You are trying to await a request mocked by the `cy.server` and `cy.route` command. But I have a real backend which is running during the tests. And I'm wondering if there is a way to await a request to a real backend.

[2019-03-19 07:59] indrajitbnikam commented on #53
@Bkucera No I'm not talking about browser's native context menu. I'm talking about context menu from our application.
My code looks like this,
[code]
It is visible in DOM and CSS selector that I'm using points towards the same element but I'm not able to click it.
As you can see,
![image](https://user-images.githubusercontent.com/24988127/54589148-da2e1800-4a4a-11e9-8406-fce047b8dd59.png)
it indic

[2019-03-19 08:03] jennifer-shehane commented on #3747
Each command in our API documents what is yielded from the command. [`.contains()`](https://on.cypress.io/contains#Yields) yields the entire DOM element, not just its innerText, so `match` will not work here since it's looking for a string to compare.

There are many ways to access and assert on the innerText of an element as documented here:
https://on.cypress.io/using-cypress-faq#How-do-I-get-an

[2019-03-19 08:03] #3747 closed

[2019-03-19 08:03] mitar commented on #3745
Yes, I understand other approaches to achieve this, but I think this behavior should at least be documented somewhere. I see that it is well documented [here](https://docs.cypress.io/guides/core-concepts/retry-ability.html#Only-the-last-command-is-retried), but that is not linked from `cy.get`?

[2019-03-19 08:08] jennifer-shehane commented on #3746
`.contains()` accepts a string, number, or RegExp as noted here: https://on.cypress.io/contains#Arguments

The `contain` assertion comes directly from chai-jquery which seems to indicate that it does not accept RegExp, but only a string: https://github.com/chaijs/chai-jquery#containtext

[2019-03-19 08:08] #3746 closed

[2019-03-19 08:12] jennifer-shehane commented on #3745
I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document retry doc from other areas here: https://github.com/cypress-io/cypress-documentation/issues/1506. Our documentation is open source and contributions are welcome. 😄

[2019-03-19 08:26] jennifer-shehane commented on #3647
Hey @smartHasmukh, could you share the code inside your `cypress/reporters/custom.js` file?

[2019-03-19 08:32] testquantilope commented on #3713
Hi @jennifer-shehane
Unfortunately I can't find back that exact pipeline, but I have a more recent example here:

15 servers ran 32 specs at the same time. All 15 logs start exactly like this:

![image](https://user-images.githubusercontent.com/35334883/54590883-5b74b300-4a29-11e9-9f91-59dc7d006f31.png)

Cypress ran though 96 specs on 15 machines:

![image](https://user-images.githubusercontent.co

[2019-03-19 08:39] shishkin17 opened #3748 "Cypress unable to test sites with scripts obfuscated with domain lock"
### Current behavior:

![Untitled](https://user-images.githubusercontent.com/48315811/54118645-f4457600-440c-11e9-9cf0-b552b3d82f22.png)

I noticed that I can’t run tests with cypress on a site that has scripts obfuscated with domain lock by JavaScript Obfuscator Tool (https://obfuscator.io/). Domain lock is a setting that helps protect scripts from running on other domains. I don’t know how cypre

[2019-03-19 09:18] bohendo commented on #3747
Ok, so my goal is to have some way to assert whether one of the elements in an array of elements has an inner text that matches some regex.

Solutions proposed here or in issue #3746 don't work. From the documentation you linked:

`cy.get('div').invoke('text').then((text1) => { expect(text1).to.match(regex) })` <- this will concatenate all the inner texts from all divs into `text1` and then compar

[2019-03-19 09:27] ErenPhayte commented on #3732
I finally found a solution that kinds does what it needs to, would have been better just to set this once and not for each test by using `before` but here is the code snippet anyways:
[code]

[2019-03-19 10:27] bohendo commented on #3747
Ok, figured it out: `cy.contains('div', /regex/).should('exist')` will do what I want.

`cy.get('div').contains('text')` will fail sometimes if there are divs present that let the first `cy.get('div')` succeed but the one containing `text` pops up later. The `.contains('text')` will repeatedly check the first collection of divs until timeout instead of running `cy.get('div')` again to get a new co

[2019-03-19 10:34] #3683 closed

[2019-03-19 10:40] jennifer-shehane commented on #1805
I believe the `localstorage.read('CD-SessionID')` is evaluating to `null`, so your assertion is accurately failing. Can you verify that?

[2019-03-19 11:19] 47blister47 commented on #136
We would like it too. Thanks in advance.

[2019-03-19 11:21] vovkvlad opened #3749 "Cypress run is stuck after spec has failed"
### Current behavior:

We have 40 specs in our project. When running `cypress run` it starts normally and goes on. But after first failed spec, cypress runner is stuck, it just shows nothing after message about the screenshot failed test.

### Desired behavior:

The runner should not be stuck after failed spec but should go on to the next one

### Steps to reproduce: (app code and test code)

When

[2019-03-19 11:58] jennifer-shehane commented on #3696
Can you verify which browser you are opening Cypress in? Is it Electron? Chrome? Are you doing it via `cypress open` or `cypress run`?

I notice that support for `<script type="module"` was introduce in Chrome 60+, our Electron version is using Chromium 59.

[2019-03-19 12:00] jennifer-shehane commented on #2700
This was closed due to no one providing a reproducible example that we can run locally to recreate the failure. We will reopen if someone provides a reproducible example - app and test code that can be run to see the problem.

[2019-03-19 12:02] jennifer-shehane commented on #3710
Hey @chirag-autodesk, it seems that something from within your application has an uncaught exception - is you believe that this is not the case and that this is an issue with Cypress, you will need to provide the app and test code to reproduce it, otherwise we will unfortunately have to close this issue. Thanks!

[2019-03-19 12:12] jennifer-shehane commented on #1280
@sajjadh Your issue seems to be related to this issue: https://github.com/cypress-io/cypress/issues/3515 Can you try updating to 3.2.0 to see if this issue is resolved please?

[2019-03-19 12:13] jennifer-shehane commented on #3515
@joekrump @aryzing @ruffle1986 @mlb5000 Can you all try updating to 3.2.0 of Cypress and please comment if this resolves your issue or not? Thanks so much!

[2019-03-19 12:14] jennifer-shehane commented on #3727
Have you taken a look at our docker images? https://github.com/cypress-io/cypress-docker-images

[2019-03-19 12:17] jennifer-shehane commented on #3749
Duplicate of this issue - unfortunately no clue on what is causing this at this time. https://github.com/cypress-io/cypress/issues/2377

[2019-03-19 12:17] #3749 closed

[2019-03-19 12:27] jennifer-shehane commented on #3748
I'm getting a different error when I run the `visit` code above in Cypress 3.2.0, Chrome 72.

<img width="537" alt="Screen Shot 2019-03-19 at 6 55 52 PM" src="https://user-images.githubusercontent.com/1271364/54605926-c8fc0000-4a78-11e9-9c5c-2ee72536a608.png">

Do you have any extra configuration in your project? I'd like to reproduce this if we can.

[2019-03-19 12:32] jennifer-shehane commented on #3732
This appears to be a duplicate of this issue: https://github.com/cypress-io/cypress/issues/583

We clear the stub in between tests. We want to implement better control over this behavior though. Let me know if I've misunderstood.

[2019-03-19 12:32] #3732 closed

[2019-03-19 12:47] jennifer-shehane commented on #3723
Perhaps [`cy.request()`](https://on.cypress.io/request) would be helpful?

[2019-03-19 12:48] baleeds commented on #1773
@bierik I also have a real backend.  The docs indicate that `cy.server` and `cy.route` can apply to a non-stubbed backend, which I take to mean a real backend.

[code]

The above is from [the docs on network requests](https://docs.cypress.io/guides/guides/network-requests.html#Waiting)

But I still couldn't get it to work in my testing.

[2019-03-19 12:48] jennifer-shehane commented on #3719
After further discussion - we should probably also at least handle warning the user when passing a User-Agent header that there is another way to implement this (if not change the implementation to work altogether), so we reopened.

[2019-03-19 12:57] jennifer-shehane commented on #3717
I can recreate this with the test code above and confirm that this happens in 3.2.0 and not in 3.1.5.

Stacktrace leads here: https://github.com/cypress-io/cypress/blob/issue-3739-fix-fixtures/packages/driver/src/cypress.coffee#L104

[code]

Stacktrace:
[code]

[2019-03-19 12:59] jennifer-shehane commented on #3722
cc @Bkucera

[2019-03-19 13:01] jennifer-shehane commented on #3661
@fr0 This is already currently supported. The current rules are:

[2019-03-19 13:05] jennifer-shehane commented on #3704
Hey @silbinarywolf, can you run cypress specifically with the debug logging for our browserify logic and print those here - hopefully this should show some helpful information.

[code]

or

[code]

[2019-03-19 13:07] jennifer-shehane commented on #3714
Hey @saudixit, was this previously working for you? Can you provide a reproducible example of the bug you are encountering?

[2019-03-19 13:20] ErenPhayte commented on #3732
Yeah #583 is spot on what is happening.

[2019-03-19 13:30] bahmutov commented on #3713
@amirrustam can you look at this - to me this seems like the build number bug that puts 2 separate runs together into one occasionally

[2019-03-19 14:15] mxrguspxrt opened #3750 "uncaught:exception is not working for different subdomain"
Hello!

I hope you are having a good day and you can help us with our problems with Cypress:

It seems that subdomains implementation is badly tested - unable to get it to work in 3 days.

Problems:
1. Catching errors does not work. If 3rd party JS has error, test fails.

	`Cypress.on('uncaught:exception', (err, runnable) => {
  		return false;
	});`

	has no effect, if different subdomain is visi

[2019-03-19 14:18] ramusus commented on #3723
I believe, it's for making HTTP requests, not for stubbing them

[2019-03-19 14:26] mrchovo commented on #136
@lilaconlee thanks a lot your code is working also for me 🙂 In conclusion my way was that I`ve tried handling iframe like this:
[code]
or even adding _wait_ directly before cy.wrap. Now when I dig into your code the only change needed for my code to start working was add _wait_ even before get iframe.

And when I`ve think about it I can see what happend wrong in my use-case and feel ashamed it was

[2019-03-19 14:33] shishkin17 commented on #3748
This is the correct error (data is not defined).
I might say that this error is not from Cypress (as it is written here),
but if you go to the same link in the browser there will be no such error.

On Tue, 19 Mar 2019 at 15:27, Jennifer Shehane <notifications@github.com>
wrote:

[2019-03-19 14:59] mmsudy commented on #3738
[code]
like this 13 elements only **ng-model** was different everything else is same
instead of writing code for every model I have written
cy.get('div._md-container.md-ink-ripple').click({multiple:true}) to select multiple check box

[2019-03-19 15:10] nikhiletc commented on #3727
Yeah, i have tried,
and also tried to use https://github.com/cypress-io/browser-connect-experiment  .but it was not feasible to use.

[2019-03-19 15:52] lilaconlee commented on #3608
Blocked by #3629 which bumps snap-shot-it which fixes a bug with escaped backticks. Tried a workaround with 89566e9 replacing backticks with single quotes, but think we should just upgrade.

Tried figuring out the failing tests on the upgrade and couldn't figure it out, @bahmutov said he'd give it a go if he has time.

[2019-03-19 16:12] jennifer-shehane commented on #3750
Hey @mxrguspxrt, thanks for the feedback. We know this has been challenging for some of our users. There has been some discussion on why this decision was made initially in this issue, which I believe you've seen. https://github.com/cypress-io/cypress/issues/944

If you can provide an example of where `Cypress.on('uncaught:exception'...` is not catching an Uncaught Exception or where else you are

[2019-03-19 16:19] jennifer-shehane commented on #3738
@mmsudy I think the styles would need to be provided as well. The provided html alone does not seem to produce the required effect needed for testing - the checkboxes are not visible.

<img width="407" alt="Screen Shot 2019-03-19 at 10 48 25 PM" src="https://user-images.githubusercontent.com/1271364/54623068-315ad980-4a99-11e9-8b3b-6aa4a1dc4a6a.png">

[2019-03-19 16:46] mmsudy commented on #3738
![image](https://user-images.githubusercontent.com/48072687/54625109-40f40700-4a34-11e9-99af-d086e4b7f271.png)
[](url)

[2019-03-19 16:48] shakyShane commented on #3696
hi @jennifer-shehane - the issue was I was using chrome when building/testing (cypress open) - but then it was switching to electron in CI.

differring default versions I think is a foot 🔫

eg: if it's always electron when headless - there should be a giant warning about using chrome to avoid this :)

[2019-03-19 17:30] evvo commented on #3717
The issue also affects URLs with .co.uk domains:
`Failed to set the 'domain' property on 'Document': 'co.uk' is a top-level domain.`

[2019-03-19 19:31] lukeapage commented on #3728
@jennifer-shehane
I've spent alot of time (several days now) trying to get somewhere, both with  and this issue.

Both issues seem to be intermittant and come down to the interplay between navigation and routes.
Its pretty complex and coffeescript is a total nightmare to follow with all the async

Comparing the logs, the only difference between a successful run and a run when it hangs is this:
[co

[2019-03-19 19:36] giovannyquin commented on #3699
thanks @streamnsight  that solution worked well to me, I was having the issue running cypress tests in docker, so you saved me

[2019-03-19 19:47] giovannyquin commented on #3730
@DragorWW I think you can close the issue

[2019-03-19 20:18] pszalanski commented on #3730
@giovannyquin why? This workaround leads to the event being fired twice for chrome < 73 and Electron.

[2019-03-19 21:10] fr0 commented on #1910
Why is this issue closed? It seems like it hasn't been fixed.

[2019-03-19 21:26] fr0 commented on #447
Did this ever happen? Using `mochawesome` with cypress leaves a lot of red in the console, and confuses users into thinking that tests are failing.

[2019-03-20 00:37] silbinarywolf commented on #3704
The debug commands you suggested didn't seem to work (ie. ran it, no debug lines were printed), but I did discover that `cypress:webpack` worked, so I opted to use that. I got the output below.

Since you can't see what the test is importing, technically it's importing entrypoint for the project, ie. `main.ts`. This goes on to import jQuery, stylesheets and a **lot** of other files.

Looking at th

[2019-03-20 01:03] renelux commented on #3276
The below screenshots show the issue we are seeing, at the moment we are unable to find the root cause, we will track the failures and see if there is a certain pattern so we can try to make it easier reproducible.

![race-condition-current](https://user-images.githubusercontent.com/1439270/54651693-ef5c8280-4aee-11e9-9ebb-3db98288596c.png)
![race-condition-original](https://user-images.githubuser

[2019-03-20 02:46] jennifer-shehane commented on #3738
@mmsudy Can you provide the css from your stylesheet that affects these DOM elements where I can copy and paste them into my own stylesheet? Thanks!

[2019-03-20 02:49] xeger commented on #1865
I'm using [cypress-cucumber-preprocessor](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor) which translates Gherkin to JS and supports Cucumber tag expressions. It relies on the `TAGS` env variable to provide a tag filter.

For those using pure JS, you could emulate this behavior by wrapping the Mocha `it` method:
[code]
The [cucumber-js tag helper API](https://github.com/TheBrainF

[2019-03-20 03:47] #1351 closed

[2019-03-20 03:49] jennifer-shehane commented on #3728
Yeah, is there any way to share the url you are visiting in the test? Feel free to email to support@cypress.io if you do not want to share publicly.

[2019-03-20 03:53] jennifer-shehane commented on #3696
You can run during `cypress run` with another browser by using the [`--browser` flag](https://on.cypress.io/command-line#cypress-run-browser-lt-browser-name-or-path-gt). However, video recording is unavailable currently when using chrome during `cypress run`.

[2019-03-20 05:18] smartHasmukh commented on #3647
There is no code. It's a blank file. I just put the route in `cypress.json` file

`{
  "baseUrl": "http://localhost:4500/",
  "video": true,
  "fixturesFolder": "cypress/fixtures",
  "integrationFolder": "cypress/integration",
  "pluginsFile": "cypress/plugins/index.js",
  "supportFile": "cypress/support/index.js",
  "screenshotsFolder": "cypress/screenshots",
  "reporter": "cypress/reporters/cust

[2019-03-20 06:02] opensas commented on #1543
thanks, just for the record, this is the workaround I developed:

[code]

and I use it like this:

[code]

[2019-03-20 06:07] shakyShane commented on #3696
Oh really! No way - tbh i can live without video, thank you so much
On Wed, 20 Mar 2019 at 03:53, Jennifer Shehane <notifications@github.com>
wrote:

[2019-03-20 08:01] richardkah opened #3753 "crash"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-20 08:02] #3753 closed

[2019-03-20 08:03] richardkah commented on #3753
sorry, was created by mistake

[2019-03-20 08:21] mxrguspxrt commented on #3750
Hello, @jennifer-shehane!

Precondition:
1. Browser: Electron
2. `Cypress.on('uncaught:exception', ...) `
3. cypress.json includes baseUrl = mydomain1.domain.com

Steps:
1. cy.visit('/url/on/first/subdomain')
2. cy.loginOnMyDomain1()
3. cy.visit('mydomain1.domain.com/some-url-that-throws-exception-in-code-but-in-reality-does-work')

[2019-03-20 08:29] vvanmol commented on #1910
Hi @fr0

As the issue was already closed when I left my comment I created a new one as follow-up: #3654

[2019-03-20 08:45] bierik commented on #1773
@baleeds I did try it out the `cy.wait` and alias approach, but as you experienced, it's not working for me as well. I guess the `Whether or not you choose to stub responses` is a bit misleading the purpose of `cy.wait`. Also, the examples are using `fixture:whatever` in the `cy.route` part which indicates that it's only working for stubbed responses. The `requestIdleCallback` approach from @psach

[2019-03-20 08:48] mxrguspxrt commented on #3750
Additionally, if subdomain is switched:

cy.get('#element-that-does-exist-and-tests-fails').click()

Then test passes as green.

[2019-03-20 09:05] MarS919 commented on #3654
Exactly the same issue here, and it still exists with cypress 3.2.0.

Other versions:
mocha: 5.2.0
mochawesome: 3.1.1
mochawesome-merge: 1.0.7
mochawesome-report-generator: 3.1.5

[2019-03-20 09:12] maple-leaf commented on #1417
I think the most improvement for this will be make `expect` works correctly when previous is a `cy` command.
Let's say we have a button on page to increase `window.count` when click happens.

[code]

[2019-03-20 10:01] mxrguspxrt opened #3754 "cy.cleanCookies() and cy.cleanLocalStorage() documentation needs improvement"
Cookies and LocalStorage is cleaned only for the domain that Cypress is currently on. So, switchning to different subdomain, will cause previous data to be there. Might be confusing.

[2019-03-20 10:09] imvetri commented on #647
This this fixed? I gave cypress a try and still facing this problem with react

[2019-03-20 10:37] DragorWW commented on #3730
@giovannyquin @pszalanski Yes, there is no problem in cypress, but the problem with this behavior did not come from this, perhaps you should find the reason for its appearance and add a link to the documentation

[2019-03-20 11:11] iboughalem commented on #2544
Hello,

I have the same problem, but my tests are really short 100 lines of code max.
Even after decreasing (to 5) the value of ```numTestsKeptInMemory``` the browser keeps crashing.

### Version
Cypress: 3.1.5
Operating system: win 10,
Browser: chrome 72

[2019-03-20 11:28] mxrguspxrt commented on #136
Could we please have a working example in:

https://docs.cypress.io/guides/references/known-issues.html#Difficult-use-cases

This issue has been open from 2016.

[2019-03-20 11:42] majicmoo commented on #3438
I have tried to recreate in this repo: https://github.com/majicmoo/cypress-cookie-bug
Its a little flakey but seems to fail for me 90% of the time when running in chrome.
![Screenshot 2019-03-20 at 11 41 57](https://user-images.githubusercontent.com/4683717/54681801-305f9180-4b05-11e9-8654-15b95c664e74.png)

[2019-03-20 12:15] indrajitbnikam commented on #53
Hi Everyone it worked, Problem was that it was not visible unless I am moving my mouse into context menu.
I addressed the problem just by adding `.trigger('mouseenter')` before click.
Now my code looks like this,
[code]

[2019-03-20 12:25] cookiescrumbs opened #3755 "cy.route to match on request body for POST"
### Current behavior:
[code]
Currently `cy.route` doesn't match the POST request body which means you can't stub requests that have the same url but a different request body.

### Desired behavior:

[code]

[2019-03-20 14:14] fr0 opened #3756 "Cypress fails when mocha@6 is installed"
### Current behavior:

Using `mochawesome`. According to your [docs](https://docs.cypress.io/guides/tooling/reporters.html#Local-Reporters):

[code]

So, then I run `yarn add --dev mocha`

However, this leads to the following problem:

https://stackoverflow.com/questions/55138378/got-typeerror-cannot-read-property-passes-of-undefined-using-cypress-when-gen

### Desired behavior:

Either cypress sh

[2019-03-20 14:21] mxrguspxrt opened #3757 "Conditional testing"
Hello!

Hope you are having a beautiful day!

Please do not make framework usability for developers more complex, because you have some vision, that is theoretically backed, but in practice makes life really hard.

Scenario:
1. A list of input fields is generated
2. Last input field OTP field is conditionally rendering depending of fraud calculation result (So in one test it might be there, in nex

[2019-03-20 14:24] zts3y commented on #3697
Hi @jennifer-shehane  -- We've tried Cypress with applications on localhost that definitely wouldn't have a redirect in place, and the same thing is occurring.

[2019-03-20 14:25] tmharber commented on #3116
Also having this problem, however `unset NODE_OPTIONS` isn't fixing it for me. I've unset `DISPLAY` (and set it to `DISPLAY=:1.5`) and still no luck. Cleared cache, reinstalled node_modules, upgraded to 3.2.0, restarted etc. Still no luck. This is running on my (mac) machine, not on CI or a docker image or anything else.

[code]

Weird thing is it was working yesterday afternoon for me, and now to

[2019-03-20 14:29] #3742 closed

[2019-03-20 14:32] mmsudy commented on #3738
`
element.style {
}
._md-container.md-ink-ripple {
}
._md-container.md-ink-ripple {
}
._md-container.md-ink-ripple {
}
<style>…</style>
md-checkbox ._md-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 0;
    right: auto;
}
<

[2019-03-20 14:38] minams2 commented on #3691
Hi,

Here is snippet of code where it runs fine in chrome and in electron if one of them fails it is not proceeding to next test and quits, this becomes problem for us when we run through jenkins ci/cd since there is no headless browser support for chrome..I really appreciate if you can get back to me
describe(' create', () => {
  beforeEach(() => {
    helper.login();
    template.visitEditForm()

[2019-03-20 14:39] aarcella opened #3758 "Cypress goes in infinte loop instead of load page"
### Is this a Feature or Bug?

Bug

### Current behavior:
Cypress goes in infinte loop instead of load page www.yoox.com/it/donna/shoponline

![designerindexspecjs](https://user-images.githubusercontent.com/35812043/54692036-9a3b6380-4b24-11e9-8f2b-997109038ddc.gif)

### Desired behavior:

Cypress.io should wait page loading without got infinite loop

### Steps to reproduce: (app code and test cod

[2019-03-20 14:44] mmsudy commented on #3738
[css.docx](https://github.com/cypress-io/cypress/files/2988715/css.docx)

[2019-03-20 14:44] rdig commented on #3116
@tmharber

Does it work if you unset `DISPLAY` and leave it not set? _(Eg: don't set again, in your case to `:1.5`)_

[2019-03-20 14:55] tmharber commented on #3116
@rdig Doesn't make a difference whether DISPLAY is set to :1.5 or if I `unset` it before I run it.

[2019-03-20 16:37] NicholasBoll commented on #1417
@maple-leaf `window` is the Cypress window, not your app's window. Why not do the following instead?

[code]

[2019-03-20 16:49] Helldembez opened #3759 "cy.visit does not include headers on redirect"
We were waiting for the release to use headers with `cy.visit`. We are happy it is implemented, however it still does not work correctly for our use case.

### Current behavior:

When using `cy.visit()` with headers it does not include them on redirects.

### Desired behavior:

Having the given headers on all requests that started from `cy.visit()`. Possibly with a toggle for users that only want

[2019-03-20 18:38] znat opened #3760 "Run hangs on mac OS Sierra"
### Current behavior:

Run stops with an error message

![610FEF06-14FD-47D5-846F-1D4EB63B6E1E](https://user-images.githubusercontent.com/3694634/54708275-6c045680-4b19-11e9-8129-c4957b228f96.jpg)

### Steps to reproduce: (app code and test code)

`npx cypress run`

### Versions

Cypress 3.2.0, Mac OSX

[2019-03-20 20:31] wralitera commented on #350
hello @brian-mann . How do you set up the --ipc=host into the gitlab-ci.yml?

[2019-03-20 21:36] darrell-roberts commented on #2188
Hi,

I'm having the same issue. I have an XHR that runs when calling ```.click()``` on an ```<li>``` element. I see it in devtools console but not in the cypress console. It timeouts on the ```cy.wait('@alias')``` of my route.

[2019-03-20 21:40] wolframst commented on #2366
On top of the fixes that Henrik suggested (thanks for that in-depth analysis!) I would strongly vote for the proposed --tail feature. We are having a complex UI that includes charting, as such I do not see an option for us to substantially reduce the size of Javascript and CSS files.

[2019-03-20 22:35] flotwig commented on #3759
HTTP clients don't normally re-use headers when they're redirected (besides things like Cookies and User-Agent, which are sent on every request). For that reason, this should probably be implemented as opt-in functionality, since it goes against how a browser would normally behave.

[2019-03-20 22:39] brian-mann commented on #3759
@flotwig 	can you research what `cy.request()` does - likely `cy.visit()` needs to follow the same behavior.

[2019-03-20 23:38] nmakuch commented on #299
I see there has been talk about implementation for the tab key. I sort of need to trigger keypress and keydown events in most of applications I am testing.

I am looking for a work-around for the arrow keys, spacebar and the enter button.

Basically I have set up some custom key events for accessible keyboard navigation through list items but I have no way of triggering the events :S.

I'm really

[2019-03-20 23:46] prabhugovind commented on #170
This Worked for me. Basically the image loader is any element with <input type = "file"

[2019-03-21 00:56] jweingarten commented on #1865
Here is my workaround:

Test example:

[code]

TestFilter class:

[code]

And you run your tests by passing in `TEST_TAGS`.

[2019-03-21 02:18] maple-leaf commented on #1417
@NicholasBoll yes, the window I write is return from `cy.window()` at before. For this simple example, I can do this, but for some case, it's still unconvenient. For example, is there a way to optimize?

[code]

And if target I want to check is at deep level inside `window` or something else, it will be a long typing for `its` chain.

[2019-03-21 03:30] jennifer-shehane commented on #3738
Hey @mmsudy, why did you close the issue? Did you resolve the problem?

[2019-03-21 03:45] jennifer-shehane commented on #3757
Hey @mxrguspxrt, thanks for the feedback. We hear you.

We try to keep our issues in our GitHub repo are reserved for a single bugs or feature request. Ideally, delivering one pull request to address the issue.

If you can, please let us know a single feature we can work to improve - with an example of **current behavior** and **desired behavior** as outlined in our[issue template](https://github.

[2019-03-21 03:48] jennifer-shehane commented on #3756
Duplicate of https://github.com/cypress-io/cypress/issues/3537

[2019-03-21 03:48] #3756 closed

[2019-03-21 04:03] #1664 closed

[2019-03-21 04:19] jennifer-shehane opened #3762 "Improve Test Runner error experience"
# Goal

The goal is to make the process of debugging tests and code easier.

# Why
1. Spending less time debugging and deciphering errors means more time for users to do what they _want_ to be doing (e.g. writing more tests, writing more code, stopping writing code because they’ve achieved their goals).
2. When users can solve their own problems, this reduces the time our team spends on support.
3

[2019-03-21 05:24] NicholasBoll commented on #1417
@maple-leaf I don't use Cypress for unit-style tests, so I don't tend to have stubs. I have Cypress tests for components that use example that pass in callbacks with DOM-observable side-effects.

But your test code can be simplified. I took a wild guess as to what `expect(model, editor.currentElement)` was intended to do. The second parameter in `expect` is a failure message, but no assertion was

[2019-03-21 05:25] jennifer-shehane commented on #3760
[code]

From googling around, this actually looks to be a bug with the Mac OS itself. Can you provide the test code that you are running in the `Should allow adding non-existing intents and entities` where this fails?

[2019-03-21 05:57] delockdown commented on #3731
We can have different `baseUrl` and other stuff for a particular environment to test in a different environment like local, QA, staging and production.  So it is possible to define different configuration files for each environment. If there is a way to select those configurations or any other way to add configuration files to a different environment via UI.
It would life easy for some people when

[2019-03-21 05:57] maple-leaf commented on #1417
@NicholasBoll Sorry for the wrong `expect` code, it should what you guess.
And thanks for giving a nice way to improve this, It is clean and  acceptable.
Maybe I should think and write code in  `cypress` way more often instead of `jest` way.

[2019-03-21 06:03] colinwirt commented on #3717
Also affecting Magento Commerce Cloud environments at `...magentosite.cloud`

[2019-03-21 06:17] renovate[bot] opened #3777 "Update Dependencies (Renovate Bot)"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to override.

 - [ ] chore(deps): update dependency electron-builder to version 20.39.0 🌟
 - [ ] chore(deps): update dependency enzyme-adapter-react-16 to version 1.11.2 🌟
 - [ ] chore(deps): update dependency mobx-react-devtools to version 6.1.1

[2019-03-21 07:01] jennifer-shehane commented on #2578
@Manishku99251 This annotation for using cypress is correct, I would suggest using a [regexp checker](https://regex101.com/) to determine how to write the regexp against what you want to check.

[2019-03-21 08:00] jbpallingayan commented on #3618
after updating to cypress 3.2.0 were experiencing this on chrome 73 and also we're  experiencing random failed test on chrome 73 :( @jennifer-shehane

[2019-03-21 08:19] maple-leaf commented on #1417
@NicholasBoll It seems that editor alias not working across `it`, `cy.get` in your example will fail, but if I add `cy.wrap({}).as('editor')` inside `it` will make `cy.get('@editor')` work

[2019-03-21 10:11] pszalanski commented on #3730
You are right. This is probably some Chrome 73 bug or change. I'll post here if I find anything useful.

[2019-03-21 10:17] lydell commented on #1598
Observations:

If `user:pass@` is present in `baseUrl`, `cypress run` won’t work. It doesn’t matter if the server actually has basic auth enabled or not.

`cypress run --headed` also fails if credentials are present in the URL, but `cypress open` works.

Here’s my solution:

[code]

[2019-03-21 10:28] RicardoVaranda commented on #2384
I'm still facing this issue in 5.2.0 on windows @jennifer-shehane has there been any development on this?

[2019-03-21 11:27] learningandworking opened #3798 "dblclick() doesn't work as click()"
### Current behavior:

### Desired behavior:

- The double click function gets NO error as click function works.

### Steps to reproduce: (app code and test code)
Having the code to demonstrate the issue as below

[code]

1. Run the code above => get error

2. Work around:
Replace the line
`cy.get('#divAdult #hrefIncAdt').dblclick()`
by
`cy.get('#divAdult #hrefIncAdt').click()`

### Versions

[cod

[2019-03-21 11:47] abramenal commented on #3730
It'll be beneficial if we can find any info about this changes. It looks quite weird since there is nothing related to this change in Chrome 73 changelog.

[2019-03-21 12:08] RicardoVaranda commented on #1872
This is still happening to me in 3.2.0

[2019-03-21 13:00] gurre commented on #518
In order to fail the test make sure to throw the error.
[code]

[2019-03-21 13:13] Chris2011 commented on #2823
I have a similar problem that the tests hangs, when I have this in my test: `cy.task('log', cy.get('input[e2e-id="password-field"]'));`. On the console, I only see the describe string. When I call the tests with --headed I see this:

![image](https://user-images.githubusercontent.com/795658/54754227-50658280-4be3-11e9-8650-42fc5e052f49.png)

It hangs on the XHR request. This is my test code:

[cod

[2019-03-21 13:43] Helldembez commented on #3759
I think `cy.request` has the same "issue".

[2019-03-21 13:55] TheOptimist commented on #3454
@jennifer-shehane I consider this issue "resolved" at the moment, or rather we have successfully implemented a different test execution strategy that doesn't exhibit the behaviour. We've altered our CI pipelines so the server under test runs in a local docker container on the AWS instance, rather than via ECS on another instance. This seems to have resolved the specific problem of Cypress restarti

[2019-03-21 14:25] mmsudy commented on #3738
No it was accidental sorry for that

[2019-03-21 14:42] znat commented on #3760
Thanks for your quick answer @jennifer-shehane !
Yes, I googled that too, and what I found said that it was merely a warning with no real impact.
I don't think the content of the test is relevant, it happens randomly. See another screenshot
![E3F3B4CE-89AC-4008-9AD5-B47578A91692](https://user-images.githubusercontent.com/3694634/54760219-facead00-4bc5-11e9-96c1-6922e2033280.jpg)

[2019-03-21 14:54] jean-moldovan commented on #2932
@jennifer-shehane , same issue as @tomatau has. Getting the first fixture item twice when using Cypress.Promise.all

[2019-03-21 14:57] bahmutov commented on #2932
I recommend looking at the "Fixtures" recipe I have added to https://github.com/cypress-io/cypress-example-recipes - which shows how to load one or several fixtures

[2019-03-21 15:05] chrisbreiding commented on #2983
You can modify the options for `@babel/preset-env` like so:

* Install the [browserify preprocessor](https://github.com/cypress-io/cypress-browserify-preprocessor): `npm install --save-dev @cypress/browserify-preprocessor`
* Add this to your [plugins file](https://docs.cypress.io/guides/tooling/plugins-guide.html#Using-a-plugin):

[code]

[2019-03-21 15:08] NicholasBoll commented on #1417
@maple-leaf I think that is a good take away. Unit tests and UI tests (end to end or even browser tests against component documentation) are fundamentally different. The Cypress API was designed specifically for the latter - the Cypress API tries to deal with the asynchronous nature of a browser. It waits for animations and some XHR, it retries DOM selectors until they return at least on Element,

[2019-03-21 15:26] GuillaumeDind commented on #3730
Hi, this workaround does not solve the issue in 73 for me.... same code is actually working without any issue with 72 (juste tested now)

test file :

When('I import the product file', () => {
cy.uploadFile('input[type=file]', 'import_product_test.json', 'application/json')

command.js

function getFixtureBlob(fileName, type) {
return type === 'application/json'
? cy
.fixture(fileName)
.then(JSON.

[2019-03-21 16:01] marcneander commented on #2983
Not sure this is solved by doing the above workaround.

[2019-03-21 16:41] stuartsan commented on #819
I ran into this same problem of Cypress hanging on the verify step.

The call to `util.exec` is where I observed it hanging:

https://github.com/cypress-io/cypress/blob/2333d04a54acfd2d89d9d53cc60a49d46228ceef/cli/lib/tasks/verify.js#L68-L71

If I change that first line to:

[code]
So that the child process dumps its stdout and stderr to those of the parent process, it still hangs but I get an inf

[2019-03-21 16:46] Hipska commented on #819
Finally some progress on this ticket 👍

[2019-03-21 17:06] domlyons commented on #1624
Just to add to this. If you want to simulate a drag event in openlayers using cypress we found that you need to specify `isPrimary` in the `pointerdown` trigger i.e
[code]

[2019-03-21 17:34] oqureshi2012 opened #3799 "Cypress in Azure"
Good Morning,

We would like to stand up cypress in Azure. What installation method would be best? I believe the last time we tried this we went with Chef?
Do we need Docker installed as well?

Thanks

[2019-03-21 18:28] ericdfields commented on #1239
I've spent the day with a colleague experiencing this and none of the proposed solutions have helped. Our test suite runs fine on everyone else's machine except his. We've wiped app data, node modules, uninstalled browsers, cypress, etc. We have full admin access to our machines (Macs).

The one thing that sticks out to me is how the URL string renders in the browser. See attached image.

What els

[2019-03-21 19:18] #3456 closed

[2019-03-21 19:28] bahmutov commented on #3799
We have Azure CI config file in https://github.com/cypress-io/cypress-example-kitchensink

In general - using Cypress Docker image https://github.com/cypress-io/cypress-docker-images helps a lot with OS dependencies.

Also, just follow the general guidelines in https://on.cypress.io/continuous-integration

[2019-03-21 19:28] #3799 closed

[2019-03-21 19:33] bahmutov opened #3800 "Minimize number of Renovate bot pull requests"
Renovate bot opens a separate PR for each dependency upgrade, which creates a lot of PRs and takes a lot of CI time. We can reduce Renovate frequency using scheduling and package groups, see https://renovatebot.com/docs/noise-reduction/

[2019-03-21 19:34] bahmutov commented on #3800
I have experimented with groups in https://github.com/bahmutov/renovate-updates-test seems like a nice solution. For example, taking all dev dependencies and applying updates once per month, and maybe grouping dependencies to create pull requests with several upgrades at once

[2019-03-21 20:08] lukeapage commented on #3728
After all that fuss, and after it failing 4 builds in a row when I first upgraded, it now won't reproduce.. I've done nearly 20 runs with no hanging.
I'll be contacting support about the visit timeout. Thanks and sorry this didn't turn out to be reproducible.

[2019-03-21 20:08] #3728 closed

[2019-03-21 20:08] #3800 closed

[2019-03-21 21:24] flotwig commented on #1239
@ericdfields That shouldn't be happening, can you supply the debug logs you get when you launch Cypress using the debug environment variables?

`DEBUG=cypress:* cypress open...`

[2019-03-21 23:26] lilaconlee commented on #3608
This is now unblocked by snapshot-it 🎉 but now blocked because the snapshot-it changes are gonna every saved snapshot and some of them are failing for me locally on develop (`test/e2e/8_reporters_spec.coffee`) which I'll see about getting around tomorrow.

[2019-03-21 23:27] bahmutov commented on #3608
We can look at the failing ones together

Sent from my iPhone

[2019-03-22 00:05] RicardoVaranda opened #3802 "Post requests are not including Headers"
### Current behavior:

We are using cy.visit to navigate to our website and it returns a set-cookie which is working correctly.

It sets the headers correctly for the rest of requests in the page load.

As part of another step of our tests we are filling a form which submits data, when this submits it creates a post request from our angular app which is failing.

After further inspection I found t

[2019-03-22 00:26] kevinburkenotion opened #3803 ""Unzipping Cypress" takes four minutes"
I have a t2.xlarge instance in AWS. I am attempting to run `npm install` inside of a Docker container to install Cypress 3.1.5.

I noticed that 4 minutes elapse between the start of "Unzipping Cypress" and its completion.

[code]

This seems like an awfully long time to spend unzipping a binary... any idea what is going on?

[2019-03-22 00:28] bahmutov commented on #3803
Yeah on Linux the unzipping is done in software which combined with probably slow file system takes minutes. Can you cache the unzipped binary to avoid doing it more than once?

Sent from my iPhone

[2019-03-22 00:29] kevinburkenotion commented on #3803
It's inside of a `npm install` step in a Docker container, so we either get the cached image or nothing, I think, unless you have better ideas.

[2019-03-22 00:30] kevinburkenotion commented on #3803
Any reason why you are not using `gunzip` or `tar` or similar to unpack the binary?

[2019-03-22 00:32] bahmutov commented on #3803
Because those tools might not be installed

Sent from my iPhone

[2019-03-22 00:36] kevinburkenotion commented on #3803
Understood, but 4 minute long unpacking on an AWS VM that's as powerful as a high end Macbook is not really great either.

[2019-03-22 00:43] bahmutov commented on #3803
Agree, just like node modules though - it needs to be cached even if it took 30 seconds

Sent from my iPhone

[2019-03-22 02:27] maple-leaf commented on #1417
@NicholasBoll Yes, and I agree with that, Cypress does well job on that.  But since cypress is trying to enclose the unit test, maybe provide a better way to doing this will make a good benefit.
Instead of `await`, I recently think maybe provide a `cy.eval` to eval a express in cypress queue will make sense, and maybe this is a good way to approach.

For now, there's a `cy.wrap` will do normal obj

[2019-03-22 02:41] bahmutov commented on #1417
Shh don’t tell anyone I told you this but you can use “cy.now(‘command name’, ...args)” command that returns a promise and executes outside of the normal command chain. Use at your own risk though

Sent from my iPhone

[2019-03-22 06:14] jennifer-shehane commented on #819
@stuartsan Yes, we're definitely open to PRs for this - hanging with zero errors is the absolute worst experience Cypress can give. Any improvement on this is gladly welcomed.

Feel free to open WIP PRs if you don't know how to implement and test it all also. https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md#writing-code

[2019-03-22 06:16] sajjadh commented on #1280
hi jennifer,
Still i could not get a proper solution. it says

"

* Installing Cypress (version: 3.2.0) ×  Downloading Cypress   → Cypress
Version: 3.2.0    Unzipping Cypress    Finishing InstallationThe Cypress
App could not be downloaded.Please check network connectivity and try
again:----------URL:
https://download.cypress.io/desktop/3.2.0?platform=win32&arch=x64
<https://download.cypress.io/de

[2019-03-22 06:30] Hipska commented on #819
Can this issue then be reopened please?

[2019-03-22 06:40] jennifer-shehane commented on #3798
The `dblclick` command runs a check to `ensureVisibility`:

https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cy/commands/actions/click.coffee#L233

But the `click` command goes through the `actionability.verify`:

https://github.com/cypress-io/cypress/blob/jen/reporter-error-templates/packages/driver/src/cy/actionability.coffee#L207

The `dblclick` should go through the same

[2019-03-22 07:12] Vinod-Gulia opened #3805 "All POST and PUT XMLHttpRequest made into Cypress have recently started throwing 417 Expectation Failed"
Recently upgraded -
Cypress Version in use - 3.2.0
Chrome Browser Version - 73

All `POST` and `PUT` `XMLHttpRequest` made into Cypress have recently started throwing `417 Expectation Failed`. However all these work on the web application when I navigate through it manually.

All my code used to work well in past without any issue.

I read about this error over internet and I'm not sure if this is

[2019-03-22 08:09] #3802 closed

[2019-03-22 10:17] stefangrotz opened #3806 "Define different baseurls for different Parallelization groups"
My company has artifacts that don't support multisessions (in mock mode) and they can only serve on user at a time.

If you want to tests artifacts that don't support multisessions there is no way to test them in an paralelized way.  Right now my company uses a selenium hub with 6 browsers and 6 test stages plus a self-written orchestrator that makes sure that every test stream only connects to on

[2019-03-22 10:33] okirmis commented on #2595
We have the same problem at the moment on Windows. I can confirm that exactly the same project runs fine on Linux and OSX.

[code]
After looking through the code a bit I suspect that the bug is somewhere in the `server/lib/plugins/preprocessor.js#getOutputPath` (in the `appData.projectsPath` call)

[2019-03-22 13:33] NickMele commented on #3116
@jennifer-shehane unsetting `NODE_OPTIONS` worked for me right away. It was the first solution i tried. Thank you

[2019-03-22 16:21] folmert commented on #700
Any update on this feature? Without it it's really difficult to tell why my tests which pass locally are failing in headless browser on gitlab. Being able to see browser's console errors/warnings in the terminal output would give me a great hint what's wrong in my CI environment.

[2019-03-22 17:07] flotwig commented on #3759
`cy.request` appears to forward headers with `followRedirect: true`, which is the default. The following test will pass:

[code]

@brian-mann should this be the default behavior for `cy.visit` as well?

[2019-03-22 17:17] stuartsan commented on #819
@jennifer-shehane cool, thanks. Just sent a PR: https://github.com/cypress-io/cypress/pull/3807

[2019-03-22 18:16] ericdfields commented on #1239
Believe it or not, we reformatted the system and set things up as usual and it's working fine.  :-/

I don't have a full copy of logs, but they looked similar to my working ones.

[2019-03-22 22:51] jhays-nhaschools commented on #2956
@Bkucera, There is a new issue related to double clicks here:

https://github.com/cypress-io/cypress/issues/3798

[2019-03-23 04:27] learningandworking commented on #3798
Thanks for your comment @jennifer-shehane

 Tried to add a command below, but it didn't work
[code]

[2019-03-23 09:42] takuyahara opened #3808 "TouchEvent should be triggered in a redundant way."
### Current behavior:

When triggering TouchEvent, position must be passed in a different way from MouseEvent which can be used like this.

[code]

#### Steps to reproduce
1. clone [my repository](https://github.com/takuyahara/cypress-touch-event-issue)
2. run `npm run test:e2e:dev`
3. run test on Chrome 73
4. when test is done expand tests shown on left pane
5. open Chrome DevTools
6. click each

[2019-03-23 11:40] dwelle commented on #915
Just a heads-up if anyone's using my `cy.all` helper. It turned out it was completely wrong :).

Here's an updated version:

[code]

[2019-03-23 12:44] Konstruktour commented on #3798
in one case where dblclick didn't work the following workaround helped... maybe it also helps u

[code]

[2019-03-23 14:43] cjdonaldson opened #3810 "native"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-23 14:43] #3810 closed

[2019-03-24 06:04] Moin-A commented on #3310
I too got the same error, the first two specs are running properly, However from the third spec onwards I am gettin the error :
<img width="1280" alt="Screenshot 2019-03-23 at 8 54 20 PM" src="https://user-images.githubusercontent.com/43196743/54875650-cad31400-4e28-11e9-8024-d45dcaf7251c.png">

[2019-03-24 07:19] WinstonN commented on #3081
Hello
This might not be 100% correct, but you can get away with
`npm install -g cypress --unsafe-perm --silent`

[2019-03-24 09:03] skorunka commented on #2033
Great job! Thanks.

[2019-03-24 10:50] jasonlimantoro commented on #2671
Any updates on this?

I tried to use a geolocation API for form auto-filling, but I cannot test it with Cypress because of the geolocation permission popup.

[2019-03-24 14:10] GBirch commented on #653
FWIW: removed the error message for me as well (Ubuntu 18.04, 64-bit).  But it was not preventing Cypress from running, as far as I could tell.

[2019-03-24 17:25] attilavago commented on #2671
My use-case is very similar.

[2019-03-24 18:28] jasonlimantoro commented on #2671
For now, I finally decided to use the stubbed method as per @nico2che 's answer.

[code]
where `location.json` is a fixture for fake location

[code]

The difference is that I use it in the `onBeforeLoad` option argument for `visit()`'s method.
And I use it in the `beforeAll()` hooks, in my specs.

It works for me now.
Hope it helps.

[2019-03-25 07:52] cydashboardthqa commented on #3730
I also confirm that using these line
return cy.wrap(subject).trigger('change', {force: true});
is working well. Thx

[2019-03-25 08:52] abramenal commented on #3730
@cydashboardthqa I can confirm this too.
Just recently released an update to fix this in [cypress-file-upload@3.0.4](https://github.com/abramenal/cypress-file-upload).

[2019-03-25 09:30] mikila85 opened #3811 "Chrome doesnt support mp4"
### Current behavior:
Video (currently mp4) doesnt play in chrome

![image](https://user-images.githubusercontent.com/3965957/54910079-4d74d580-4ef4-11e9-8e48-5cbd45f6eba2.png)

### Desired behavior:
Video should play in Chrome

### Versions
Latest

-----------

Please change or give option to record avi video... mp4 codecs has been dropped for chrome and it doesnt play the videos making it a hass

[2019-03-25 09:42] maple-leaf commented on #1417
Don't know how to use `cy.now` to solve problem, but seems like that I think the problem overhead. I can use custom command to wrap and execute a function to push expression into cypress queue.

[code]

[code]

[2019-03-25 09:49] dwelle commented on #1417
@maple-leaf you can use top-level `cy.then( func )` instead of your custom command.

[2019-03-25 09:58] oyw5201314 commented on #1301
为什么自动连接断开了 ？

[2019-03-25 10:09] kutlaykural opened #3812 "Missing library(ibXtst.so.6) while trying Circle integration"
### Current behavior:
Hi,
I am trying to integrate my Cypress project with Circle CI and getting an error like this:

![image](https://user-images.githubusercontent.com/38225108/54911003-83b75280-4efe-11e9-9c44-c8ae12bd229e.png)

here my .circleci/config.yml file
[code]
thanks for helping
best,

[2019-03-25 10:11] paul-gene opened #3813 "Cannot test Magento 2 with caching enabled"
I am trying to setup some tests for a fresh Magento 2 installation (with sample data).

However, with all the caches enabled, when I add a product to the cart, I get a Magento error stating "Invalid Form Key".

If I disable the full page caching, the test works, but obviously, page loads take much longer.

Has anyone encountered this before, or does anyone have insight on testing Magento with Cypr

[2019-03-25 10:21] jennifer-shehane commented on #3811
Hey @mikila85, can you explain a bit more about where you are trying to play this video? Is this in a test you have written? Is this a recorded video you are trying to play from https://dashboard.cypress.io? What version of Chrome are you using? Sorry - it's not clear from the issue.

[2019-03-25 10:43] midhun8454 commented on #3806
Is it something like this? the firsttest case need to be on url1 and second test case on url2 ? i am also facing same issue

[2019-03-25 10:59] FaBeyyy commented on #95
imaging making a frontend test framework to then not support the fetch api that has been a standard for years 🥇 💯 🚽

[2019-03-25 11:05] mxrguspxrt commented on #3750
As a quick fix changed Electron to Chrome and got tests running. If possible, please fix Electron also. :)

[2019-03-25 11:07] midhun8454 opened #3814 "Cypress- I do have one test that is running in localhost and want another one to run in test url.is it possible? Am not able to run both? one at a time only is possibel"
I do have 2 test cases in my spec file.
#1 test case with url http://localhost:8080 and some check to be done on that url.
#2 another case with url http://mytesturl.com and some check

How cypress behave is it run on first test case and do all check and it ends fine.Now trying to take on second test case and picks it. But again the url reloads and start again with the first test url

[2019-03-25 11:34] jennifer-shehane commented on #3814
Hey @midhun8454, could you provide the test code you are running? Also, do you have a `baseUrl` set in your configuration?

[2019-03-25 11:39] jennifer-shehane commented on #3802
Hey @RicardoVaranda, did you find a solution to your issue?

[2019-03-25 11:39] midhun8454 commented on #3814
yes . i do have base url in cypress.json->"baseUrl": "https://localhost:8080",
**URL WITH LOCALHOST**
describe('Check the Tabs present or not', () => {
  describe('From "Trip Details" page', () => {
before(()=>{
 cy.visit('http://localhost:8080');
});
 it(`Make sure all tabs are present`, () => {
  cy.get('#checkout-container').contains('Buy Now');
});
});
});

URL WITH TEST URL

describe('Check t

[2019-03-25 11:45] jennifer-shehane commented on #3805
Hey @Vinod-Gulia, can you verify that the server has defined an `Expect` header?

[2019-03-25 11:46] #2578 closed

[2019-03-25 11:49] jennifer-shehane commented on #3813
Hey @paul-gene, if you believe this is a bug on Cypress side, we'll need the code to reproduce the issue. Otherwise, issues in our GitHub repo are reserved for potential bugs or feature requests.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Alternatively, signing up for any of you [paid plans](https://www.cypress.io/

[2019-03-25 11:49] #3813 closed

[2019-03-25 11:55] paul-gene commented on #3813
I believe it is an issue with Cypress.

To reproduce, you will need a fresh installation of Magento, with caching enabled, something of a big ask just to test this.

[2019-03-25 11:59] paul-gene opened #3815 "Cannot get element via name"
I have an array of input elements, for inputting an address.

I am trying to get the first input, to type in an address.

[code]

Before anyone mentions using a data attribute, or adding a class etc - I am dealing with the markup with out-of-the-box Magento and I am not interested in changing it just to pass the tests. It should work using the test I have written.

[2019-03-25 12:03] RicardoVaranda commented on #3802
Hi @jennifer-shehane Yes so it seems that if I try to click a button to save in a different it context it will not attach the headers from previous it contexts. I had to add the save as the last step which solved it.

[2019-03-25 12:06] RicardoVaranda commented on #3802
Example for clarification:

[code]

In order to make it pass I had to do the following:

[code]

[2019-03-25 12:07] dinarabs opened #3816 "Upgrade to 3.2.0 causes error Cannot find type definition file for 'cypress'.ts"
### Current behavior:
The following line getting IntelliSense in VSCode
[code]
started throwing error `Cannot find type definition file for 'cypress'.ts(2688)`

Due to this error cannot run tests.
### Steps to reproduce: (app code and test code)

Upgraded Cypress from 3.1.5 to 3.2.0

### Versions

Cypress 3.2.0

[2019-03-25 12:28] paul-gene commented on #136
@lilaconlee I tried this code, but i get the error: Timed out retrying: Expected to find element: 'body', but never found it.

[2019-03-25 12:29] NathanSweet commented on #3208
This is important for me, as it allows issue management on either GitHub or ZenHub. Without labels being sync'ed to pipelines: 1) adding/removing labels in GitHub leave the issue in the wrong pipeline and, 2) from GitHub it's not possible to see which pipeline the issue is in.

[2019-03-25 12:51] #3816 closed

[2019-03-25 12:51] dinarabs commented on #3816
Had to close all open files of the project and rerun npm install command in VSCode terminal.

[2019-03-25 12:59] SamShiSS commented on #3755
Same issue here

[2019-03-25 12:59] bahmutov commented on #3816
Thanks for finding the solution, Dinara

Sent from my iPhone

[2019-03-25 13:16] petejohanson commented on #95
Imaging paying nothing for an open source tool, and then having the audacity to complain about a missing feature on GitHub? :1st_place_medal: :100: :toilet:

[2019-03-25 13:33] bahmutov commented on #95
@reno1979 @FaBeyyy please see the workarounds for `fetch` in https://github.com/cypress-io/cypress/issues/95#issue-128632095

[2019-03-25 13:48] FaBeyyy commented on #95
Sadly not usefull if one relies on fetch to not only make http requests but also fetch static data. Also manually stubbing is not a workaround for this issue it is something quite different from what would be ideal (see polly for example)

[2019-03-25 13:49] FaBeyyy commented on #95
Good thing you know what im paying for and what not. You do realize that there are licensed versions out there right? Shush

[2019-03-25 13:52] bahmutov commented on #95
@FaBeyyy can I clarify: you mean you are paying for the dashboard and support subscription when you say "licensed versions"?

[2019-03-25 13:53] paul-gene commented on #136
@paulfalgout I tried your workaround, but could not get it to work.

The test would simply hang on the `get()` command preceding the custom `iframe()` command.

[2019-03-25 14:07] petejohanson commented on #95
@FaBeyyy I made an assumption (correct me if it was a wrong one), that if you were a paying Cypress customer with a support subscription, that would have escalated this issue through your paid support subscription, not through a nagging comment on a pull request. Have you brought this up through your support subscription as a priority?

[2019-03-25 14:28] jennifer-shehane commented on #3815
You can use [`.eq()`](https://on.cypress.io/eq) to get A DOM element at a specific index in an array of elements. [`.first()`](https://on.cypress.io/first) and [`.last()`](https://on.cypress.io/last) are also available traversal commands.

If none of these work in your situation, please provide the html you are attempting to target as we won't be able to narrow down a solution without that.

[2019-03-25 14:55] midhun8454 commented on #3814
@jennifer-shehane  can you please come with a solution to overcome this?

[2019-03-25 15:12] paul-gene commented on #3815
I tried `cy.get('[name=street]').eq(0).type('123 Townsville');` to get the first input, but that did not work either.

HTML below

[code]

[2019-03-25 15:21] jennifer-shehane commented on #3815
`cy.get('[name="street[0]"]')` works for me against the following html: `<input type="text" name="street[0]">`, can you verify that this is the html that is rendered to the page?

[2019-03-25 15:23] jennifer-shehane commented on #3814
Does this behavior still happen if you remove the `baseUrl` in your `cypress.json`?

[2019-03-25 15:28] paul-gene commented on #3815
Yes, as previous commands work to find other fields on the page.

[2019-03-25 15:28] midhun8454 commented on #3814
@jennifer-shehane yes i tried with removing base url and behavior still continues..
after removing base url ,now my cypress.json look likes this
{
  "testFiles": "**/*.spec.js",
  "integrationFolder": "__tests__/e2e",
  "viewportHeight": 600,
  "viewportWidth": 320
}
After localhost runs ,next is my testurl which didnot run and started again with first test with url localhost and then when comes t

[2019-03-25 15:31] Mattinn opened #3817 "Missing letters when using type"
### Current behavior:
I just upgraded to Cypress 3.2.0 and noticed this strange behavior with type

![missingFirstLetter](https://user-images.githubusercontent.com/2447396/54931168-300a3080-4f21-11e9-9aea-412c2fe32b61.gif)

For some reason the first letter gets cut out, this test used to run fine in 3.1.5.

### Desired behavior:
That the typed text does not get cut short

### Steps to reproduce: (

[2019-03-25 15:32] 123ab123 commented on #2657
In which file/directory is this setting?

[2019-03-25 15:37] paul-gene commented on #3815
Including the double-quotes was the key.

[2019-03-25 15:37] #3815 closed

[2019-03-25 15:43] ArCiGo commented on #311
I was taking some notes about the missing things in the tool, but I'm not sure what of the following are in progress in the roadmap:

* Handle of tabs, iframes and windows (open, close, switching between windows/iframes/tabs, etcetera)
* Upload and download of files
* Drag and drop
* Page and elements with animations

By the way, nice tool!

[2019-03-25 15:49] AshwinHexad commented on #190
Any update on this feature?

[2019-03-25 16:05] Mattinn commented on #3817
I added `cy.wait(500);` in the beginning of the test and now it passes. Seems like Cy runs just a bit too fast :)  What is the recommended action when dealing with issues like this? I dont really want to add wait to all of my test cases

[2019-03-25 16:08] bahmutov commented on #3817
@Mattinn this is a common question and a problem. See my two blog posts about it
- https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/
- https://www.cypress.io/blog/2018/02/05/when-can-the-test-start/

[2019-03-25 16:08] #3817 closed

[2019-03-25 16:11] Floriferous opened #3818 "Nested .only is ignored"
### Current behavior:

When a `describe` with a `.only` contains an `it` with a `.only` as well, it ignores the second one and runs the full test suite.

### Desired behavior:

The nested `it` should be the only test that is run.

### Steps to reproduce: (app code and test code)

[code]

### Versions

Cypress 3.1.5

[2019-03-25 16:36] dwelle commented on #2752
Accessing clipboard can be worked around, but the main issue is that the `document.execCommand('copy')` doesn't work (as stated above), which I reckon is the primary (and only?) way for your app to programmatically put a text to user's clipboard.

Assuming it happens somehow (or is fixed upstream), the checking the clipboard's contents can be done e.g. by using [clipboardy](https://github.com/sind

[2019-03-25 16:46] paul-gene opened #3819 "How to select visible element?"
My page contains 3 copies of a button element, either of which may become visible and clickable (the other 2 stay hidden and disabled)

How can I get just the visible button?

[2019-03-25 18:21] sabin-bhattarai-cko commented on #3640
Any update on this issue?

[2019-03-25 18:36] devsh4 commented on #3310
I found the cause of that issue. It seems like while starting cypress threw an error which didn't allow the headless browser to fetch the URL (baseUrl in cypress.json) because the base URL had auth credentials and there were a couple of other URL's mentioned under env (which were cross domain) which my tests needed to access.

Instead of using it as baseUrl, I created a variable under 'env' and th

[2019-03-25 19:38] benpolinsky opened #3820 "Block specific URL"
### Current behavior:

Users can only blacklist entire hosts.

### Desired behavior:

Users should be able to blacklist a specific URI.

As we can't stub <script> requests, a suggested approach is to blacklist the host the script comes from, and then add your stubbed/mocked functionality to the contentWindow in an onBeforeLoad hook.

However, this doesn't work for the case where you only want to b

[2019-03-25 20:13] brian-mann commented on #3640
You could write a `cy.task()` that reads values from a file stored on your system - so you can change it at your whim and see things update immediately.

I don't believe we have any interest at the moment of doing something like this, but it has come up before.

[2019-03-25 20:33] flotwig commented on #3818
The second `.only` will be superseded by the first `.only`. Cypress is based on Mocha 2.x, and before Mocha 3, only one `.only` can be used at a time:

If you want to run only that one test case, use the `it.only`. If you only want to run that `describe`, use the `describe.only`.

[2019-03-25 20:41] Floriferous commented on #3818
Okay, and what is preventing cypress from using mocha v3?

[2019-03-25 20:50] flotwig commented on #3818
@Floriferous It would be a potentially breaking change for existing users. Cypress will upgrade to Mocha v5.2.0 as part of the next major release, v4.0: #2703

[2019-03-25 20:56] cookiescrumbs opened #3821 "Expectation that fails inside a resolved Promise block does not fail the test"
### Current behavior:
Expectation that is inside a Promise that fails does not propagate that fail.
You can see the fail in the `after all` in the UI. It also passes in on the command line.

<img width="1053" alt="Screenshot 2019-03-25 at 20 49 32" src="https://user-images.githubusercontent.com/1229271/54953399-0a405400-4f40-11e9-82cd-d95c6e9239ac.png">
<img width="817" alt="Screenshot 2019-03-25

[2019-03-25 21:07] shlomiassaf opened #3822 "expose isCy ("publicly") in docs and typescript defs"
### Current behavior:

`cy,isCy` is exposed physically at runtime but it's not documented and it does not appear is the typescript type definitions.

### Desired behavior:

`cy.isCy` should be exposed in the docs and in TS typings so we know it's officially public and safe to use.

I found that [cypress-pipe](https://github.com/NicholasBoll/cypress-pipe/blob/d42577fdece4290d66a58b4277c86f2ad463860

[2019-03-25 21:10] ZhijieZhang opened #3823 "PNaCl component is not installed in Chrome"
### Is this a Feature or Bug?
This issue is more like a question. I tried asking it at `https://gitter.im/cypress-io/cypress` but didn't receive any answers :(

### Current behavior:
Chrome launched by Cypress doesn't have PNaCl components installed. If I'm testing an app which is using PNaCl then in the console I will see `NativeClient: The Portable Native Client (pnacl) component is not installe

[2019-03-25 21:14] cookiescrumbs commented on #3821
fixed ....

[code]

[2019-03-25 21:14] #3818 closed

[2019-03-25 21:15] #3821 closed

[2019-03-25 21:34] flotwig commented on #3823
PNaCl is not installed because we pass the `--disable-component-update` flag when launching Chrome:

https://github.com/cypress-io/cypress/blob/e4bb9455419897d8b2542ba45f5989b0b5116c3b/packages/server/lib/browsers/chrome.coffee#L70

You can disable the `--disable-component-update` flag by [using the Plugin API and writing plugin code that removes it](https://docs.cypress.io/api/plugins/browser-lau

[2019-03-25 21:59] ollie-o opened #3824 "Update cypress/base Docker image to use newer Node versions"
### Current behavior:

Docker image at https://hub.docker.com/r/cypress/base/dockerfile uses `node:10.13`.

### Desired behavior:

We need it to use `node:10.15`, else our app crashes when we `npm start`.

### Versions

N/A

[2019-03-25 22:17] rafael-org commented on #136
In my case for the workaround to work, I had to add a timed wait call before getting the iframe.

[2019-03-25 22:47] GammaGames commented on #3730
In case anyone was wondering why it happened, it was intentional: https://bugs.chromium.org/p/chromium/issues/detail?id=792336

[2019-03-26 01:41] itslenny opened #3825 "We encountered an unexpected error talking to our servers (error: socket hang up)"
### Current behavior:

Whenever I run tests with recording enable I get an error about it not being able to communicate with Cypress. Additionally, it retries at 30 seconds, 1 minute, and 2 minutes which adds 3:30 on to my total test run time.

What's really interesting is it does successfully record the test on the cypress dashboard so I'm not sure what call is failing / retrying. Everything is w

[2019-03-26 02:14] jamesg1 commented on #1910
@LVCarnevalli Thanks for the temporary solution here. Surely this is a common use case to show context/screenshots in reports?

[2019-03-26 02:25] itslenny commented on #518
@gurre is this working for you?

I'm doing this in my main describe block. The test run is stopping, but it's exiting as if it was successful.

[code]

[2019-03-26 03:07] ngbrown commented on #1859
Now with `@babel\preset-typescript`, this can be accomplished by just modifying the default browserify preprocessor.

To do this manually:

install `@cypress/browserify-preprocessor` and `@babel/preset-typescript`

Modify the `plugin/index.js` file:

[code]

[2019-03-26 03:50] bahmutov commented on #1859
Ohh this is good

Sent from my iPhone

[2019-03-26 05:03] basarat commented on #1859
I would be happy built-in babel doing the ts->js transform.
I use the IDE / `tsc --noEmit` to tell me any type errors anyways :rose:

[2019-03-26 05:43] jennifer-shehane commented on #3825
You get this with every recording?

[2019-03-26 05:44] jennifer-shehane commented on #3824
cc @bahmutov

[2019-03-26 05:52] jennifer-shehane commented on #3819
You should be able to use the [`:visible` selector](https://api.jquery.com/visible-selector/). `cy.get('button:visible')`.

In the future, issues in our GitHub repo are reserved for potential bugs or feature requests.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https:/

[2019-03-26 05:52] #3819 closed

[2019-03-26 05:58] jennifer-shehane commented on #3755
Duplicate of https://github.com/cypress-io/cypress/issues/3333

[2019-03-26 05:58] #3755 closed

[2019-03-26 05:59] jennifer-shehane commented on #2387
Duplicate of https://github.com/cypress-io/cypress/issues/2227

[2019-03-26 05:59] #2387 closed

[2019-03-26 06:01] jennifer-shehane commented on #3333
Duplicate of https://github.com/cypress-io/cypress/issues/3248

[2019-03-26 06:01] #3333 closed

[2019-03-26 06:08] SeriousM commented on #1859
Is that a command parameter?

[2019-03-26 06:09] mjarsplitmedialabs commented on #136
I'm working on a automation script that deals on credit card details, no worry its on a test environment...

Here is the issue:

The bot enters the credit card details and submits it but it says invalid card details but when I tested it manually it is valid. I checked the dev-tools in chrome and I saw the response in JSON format and there is no details submitted it is blank....Example: card_number

[2019-03-26 06:27] maple-leaf commented on #1417
@dwelle thanks, will try that!

[2019-03-26 06:43] rrdhani7 commented on #788
I face same issue. Cypress is extremely slow when call cy.visit() because it waits all url is loaded.

[2019-03-26 07:46] WiseBird commented on #311
@ArCiGo check [this](https://docs.cypress.io/guides/references/trade-offs.html) for the first question

[2019-03-26 08:19] Mattinn commented on #3817
Thanks Gleb, these posts explain the problem very well 👍

[2019-03-26 08:44] paul-gene commented on #3819
I tried using that selector, and it doesn't work. Hence opening the issue.

If you want people to use your community chat, please link it via the README, for visibility.

FYI these kinds of questions are also easily avoided if your documentation was any good.

The section about assertions in particular is very poor and provides pretty much zero useful information.

EG your docs state assertions ca

[2019-03-26 08:45] paul-gene commented on #136
Disabling `chromeWebSecurity` helped me, in case anyone is trying these iframe workarounds.

[2019-03-26 09:51] jennifer-shehane commented on #3819
We'll need the html you are testing against in order to narrow down why `cy.get('button:visible')` is not working. Can you provide an example of the html you are testing?

Our community chat is the very first thing linked in our issue template when opening an issue. We don't have the resources to answer every question about how to use Cypress unfortunately, which is why we rely on our amazing comm

[2019-03-26 09:54] jennifer-shehane commented on #1319
We moved some of the type dependencies starting in Cypress 3.2.0, can anyone verify if this fixes the type conflicts? Thanks https://github.com/cypress-io/cypress/pull/3425

[2019-03-26 09:56] jennifer-shehane commented on #3427
Unfortunately we'll have to close this issue if no reproducible example is provided. Can anyone provide a way to reproduce this?

[2019-03-26 10:00] nikhiletc commented on #136
i had this issue as well, i worked around
[code]
it fixed my issue and "chromeWebSecurity" disabled

[2019-03-26 10:08] bohendo commented on #3109
What's the status on this? I've got a two-part `cy.get` that I'd like to retry until it resolves to a non-zero value. My first attempt:

[code]

The above runs `getBalance()` once and then waits on the return value to pass the assertion. It fails via timeout even though my UI eventually has a non-zero balance because `getBalance()` isn't rerun when it's return value fails the assertion.

I can get

[2019-03-26 11:00] Vinod-Gulia commented on #3805
Hi Jennifer,

Expect is set to false in app config file.

Having said that, if I make a call to this endpoint with same set of data from POSTMAN it works perfectly fine. Why is Cypress then not able to manage this internally?

[2019-03-26 11:39] janhesters commented on #170
@gsrai

[code]

Throws:

[code]
for me. In which context is your code? Because this seems to be undefined for me...

[2019-03-26 12:38] cookiescrumbs commented on #3755
@jennifer-shehane I'm not sure that those are the same as what I'm asking

[2019-03-26 12:40] jean-moldovan commented on #2932
Sorry, what would be the recommended approach when loading 3 or more fixtures? So called `pyramid of doom of fixtures` does not scale all that well.

[2019-03-26 12:43] tomatau commented on #2932
Yeah I'm not keen on the callback hell being the recommendation here either, especially when the language has features to move past that now.

This worked for me and could scale to more.

[code]

[2019-03-26 13:58] #2135 closed

[2019-03-26 14:53] jennifer-shehane commented on #3755
@cookiescrumbs 	Right, sorry, this is different than I was thinking.

Some of this is slightly discussed in this issue https://github.com/cypress-io/cypress/issues/521 but ultimately the functionality that you want is covered in this issue: https://github.com/cypress-io/cypress/issues/387

There are likely some hacky workarounds, especially if you search our issues for graphql, but no way to offic

[2019-03-26 16:19] shaunswales commented on #3814
@midhun8454 I have locally created a new Cypress solution and added your tests accessing two different URLs and it works as expected.

Please see below the tests and outputs:
[issues-3814.txt](https://github.com/cypress-io/cypress/files/3009089/issues-3814.txt)
[integration.zip](https://github.com/cypress-io/cypress/files/3009092/integration.zip)

I'm wondering if it is something within your setup

[2019-03-26 16:36] edelgado commented on #1549
@jennifer-shehane I think the link to the epic is incorrect. It points to this same issue.

Question: Is visual regression testing in the roadmap for Cypress? If so, how far out is it (1-6 months, 6+ months, > 1 year)? We are evaluating Cypress and this is something we are interested in. Thanks!

[2019-03-26 16:38] midhun8454 commented on #3814
@shaunswales :First of all thanks for the reply.. out of curiosity.. in chrome or electron you tried? i think you tried in electron that made the difference.. I will try and will let you know the results.. Can you please tell which browser you used?chrome or electron

[2019-03-26 16:41] midhun8454 commented on #3814
@shaunswales  also you tried in 2 different spec files,rite? my concern was to do both in a single file? Can you do the same in single file and let me know the status .Means we will be having only test1.spec.js which will be having 2 test inside it ..one calling the localhost and other calling the testurl..is it possible? or  we need to treat them separately
?

[2019-03-26 17:05] FredTreg commented on #3709
I have the same request. Seeing all this red is misleading.

Changing the default color used to display duration from red to a more neutral color would also do the trick for me (with much less development I presume).

[2019-03-26 17:07] cozmy commented on #2657
This problem still occurs in 3.2.0;  `set NODE_OPTIONS=` worked!

[2019-03-26 17:11] shaunswales commented on #3814
@midhun8454 I don't believe you can in the same .spec.js file.

The Cypress tool will only allow a single orgin per spec to my understanding.

[2019-03-26 17:12] araymer commented on #390
It is, indeed, a huge pain to run e2e tests with an SSO redirect (which can't be removed) if you cannot make sure your login procedure runs as the first test to set a valid token. Otherwise, you have to write logic in every single test file to handle that, which seems silly.

[2019-03-26 17:19] hinfaits commented on #2938
We've blacklisted the hosts linked in #1608 and are still seeing this issue

[2019-03-26 17:20] ZhijieZhang commented on #3823
Thanks so much for your quick response! This is helpful and solves my issue.

However I have one more question for you, hope you don't mind too much:
Is there anyway I can turn off/disable/uninstall PNaCl after installing it? :)

My test scenario is that if PNaCl fails to load then the app will fall back to Emscripten. That means I need PNaCl to be installed and uninstalled to achieve a better tes

[2019-03-26 17:42] Lakitna commented on #3109
There is no official stance on this yet. But that won't stop us!

I've made a quick implementation of this idea using the retry name and tried to document it a bit. I only tested if it retries, I have no idea what its limitations are.

[code]

The full extend of my tests:
[code]

[2019-03-26 18:02] luismiguelbravo commented on #2188
I have the same issue, the xhr call is too fast,

[2019-03-26 18:03] dwelle commented on #871
Same issue as @Naadaa --- fixed-positioned navbar covering clickable elements when commands automatically scroll them on top (below the navbar).

[2019-03-26 18:03] HeatherFlux commented on #1543
Hey this has to due with obstructive code. To fix the issue in your configuration file use, "modifyObstructiveCode": false . This should fix any issues with weird charsets.

[2019-03-26 19:03] flotwig commented on #2372
It looks like it's related to URL encoding. `%` is typically used to escape special characters in URLs, so using it in this fashion could be considered incorrect. In particular it seems like something is trying to URL-decode `/comments?param=foo%bar`, which means it's trying to convert `%ba` to a character, which will fail since it's not a valid character.

`%25` is the URL encoding for the `%` ch

[2019-03-26 19:20] flotwig commented on #3823
@ZhijieZhang If the component is really not being unloaded, you can delete the Chrome user profile used by Cypress by following these instructions: https://on.cypress.io/debugging#Clear-App-Data

[2019-03-26 19:23] itslenny commented on #349
I'm hitting this issue on a small digital ocean droplet (no docker / container). The test runs perfectly a dozen or so times and then starts crashing with this error. If I reboot the droplet it starts working again then eventually dies. Looks like a memory leak to me.

[2019-03-26 19:25] ro-savage commented on #1319
Fixed for me.

[2019-03-26 19:37] ZhijieZhang commented on #3823
Thanks! I will close the issue as it has been resolved.

[2019-03-26 19:37] #3823 closed

[2019-03-26 20:29] itslenny commented on #3825
Yes.

On the server (which is admittedly under powered) it almost always retries 3 times, but occasionally it'll stop after 1 or 2. However, the test data always shows up in my dashboard so it is communicating to the server.

Locally on my laptop (16GB ram and latest gen i7) it retries at least once every time, but usually only retries once or twice rarely all 3 times. So, it seems like there is s

[2019-03-26 20:38] shlomiassaf commented on #2657
Can confirm that `unset NODE_OPTIONS` worked for me in **Azure Devops** using `Hosted Ubuntu 1604`.

Without it I got the same error.

[2019-03-26 21:41] suellenz commented on #3077
Hello everybody, I have the same problem of @parliament718, I tried the suggest of @marinav however it is still happening.
@jennifer-shehane do you know how is it going? I'm making some POC to present to my team to select a best tool to automated the tests however since we have this problem I cannot present for them cypress like an option.
Thank you.

[2019-03-26 21:52] mcmire opened #3827 "Aliasing responses from cy.request"
### Current behavior

From what I understand, `as` only works with `cy.route`.

### Desired behavior

It'd be nice if `as` worked with `cy.request` as well. For instance, we have a frontend app that talks to a backend app, and in our Cypress tests for the frontend app we want a way to populate the backend app with data. If we have a lot of data that we need to populate, we need to make multiple re

[2019-03-26 23:13] ytmagalhaes opened #3828 "Cypress 3.2.0 exports mocha/chai globally"
### Current behavior:

I can't exactly pinpoint the cause of this, but I think after this change:

[code]

Pull request was [3425](https://github.com/cypress-io/cypress/pull/3425/files)

We are having duplicate conflicts between Cypress and our packages. In our case, we use Typescript with Mocha and Chai to write type-safe unit tests, and because they are exported globally by Mocha and Chai itself

[2019-03-26 23:19] ytmagalhaes commented on #3828
Looking further into the pull request, we suspect this line:

https://github.com/cypress-io/cypress/pull/3425/files#diff-a3f9e8395df8a3484101b649545cae11R3

Might be, in part, what caused it, since Cypress is no longer explicitly importing Chai but is using a triple-slash directive, that pulls Chai as additional files, which in turn will make it export Chai globally and clash with our install.

[2019-03-27 01:46] deshdeep-airwallex commented on #3515
hi Jennifer, We are facing the issue with cypress 3.2.0.
![image](https://user-images.githubusercontent.com/27190318/55044412-55687d00-508e-11e9-821e-4f31340a128e.png)

[2019-03-27 02:07] ccorcos opened #3829 "Cypress slows down and then crashes during cypress run"
Hey there, I'm new to Cypress and things we going well, but now things are starting to crash now that I have a larger test suite. I've noticed that this sort of issue was filed a bunch of times before (https://github.com/cypress-io/cypress/issues/431) but I'm just not sure what I should be doing to fix the issue...

### Current behavior:

Here's an error report from Terminal when running with Elec

[2019-03-27 02:19] ccorcos commented on #3829
I split all of my tests into separate files. Each file has one `describe` and one `it` statement. When I run the tests together ("Run all specs"), it crashes. But when I run each one individually, they all work...

The more I think about it, I thing the memory leak is coming from my custom command... If the custom command holds the references to the objects between renders, then that would for sur

[2019-03-27 02:21] ccorcos commented on #3829
Here's an example command:

[code]

The `LocalTransactionQueue` holds a lot of object references and I'm not sure Cypress is letting them get GC'd...

[2019-03-27 02:27] ccorcos commented on #3829
I replaced all logic that accesses the window with waits... still runs out of memory and crashes...

[code]

[2019-03-27 02:40] ccorcos commented on #3829
I removed all custom commands. Still runs out of memory and crashes.

[2019-03-27 02:46] ccorcos commented on #3829
Its also worth mentioning that this is a problem on both Chrome and Electron

[2019-03-27 04:15] NathanCH commented on #1239
![image](https://user-images.githubusercontent.com/1985888/55050039-0d087b00-500c-11e9-9d0d-a4342f79336c.png)

![image](https://user-images.githubusercontent.com/1985888/55050054-1691e300-500c-11e9-9e42-f4ef19473d38.png)

Then close Chrome and Cypress and reopen

[2019-03-27 04:30] opensas commented on #1543
I can confirm that setting modifyObstructiveCode to false does NOT fixes the issue, this is my cypress.json:

[code]

(didn't know if the settings goes on the root level or inside browser)

and I also tried starting cypress with:

[code]

None of them seemed to work
[code]

[2019-03-27 04:31] krishvv commented on #3621
@jennifer-shehane - When are the proxy issues expected to be fixed? Is there an ETA? I have checked on all the workarounds mentioned but they seem to not help in my case.
Please comment

[2019-03-27 04:31] smithhan opened #3830 "Cypress Uncaught SyntaxError: Unexpected token <"
I have getting error after run this code.

sample_spec.js
[code]

error screen is following
![image](https://user-images.githubusercontent.com/40197547/55050533-f6741b00-502f-11e9-81a2-96502859bb48.png)

Please help .. who knows this solution?

[2019-03-27 04:40] midhun8454 commented on #3814
@shaunswales  oh really !!! Thanks for the info.
Have one more doubt regarding the authentication thing.. In my test url- once cypress hits the test url-it navigate to authentication page where it asks email and password.Passed the correct credentials ,but its says authentication fails. It happens in chrome browser( version 73).So from ma code am using cy.visit(https://www.mytesturl.com) ,also i h

[2019-03-27 05:26] jennifer-shehane commented on #3830
Can you try opening your devtools to see if there are any errors printed there? This looks to be originating from your application code.

Generally I see this error in my applications when an XHR request responds with <html> rather than what it's supposed to.

[2019-03-27 05:29] midhun8454 opened #3831 "I have one cypress test -that is taking me to authentication page and i passes the correct credentials ,but its always showing authentication fails..."
Some times it get passes with `cypress open` ,but it always fails in `cypress run`.

i am using `cy.visit(TRIP_DETAILS_URL);` in `before` function

Actually i have 2 test cases in my spec file with login function on both. First test case always fails says authentication getting failed and second test case always pass-check the same credentials and pass through )
am not sure how this happens .Can a

[2019-03-27 05:44] jennifer-shehane commented on #3825
Are you behind any sort of proxy?

[2019-03-27 05:46] smithhan commented on #3830
I found the issue reason.
My index.html includes jquery.js and it happen this issue.

![image](https://user-images.githubusercontent.com/40197547/55053182-258f8a00-503a-11e9-837f-13e78a3dfe04.png)

I comment or remove the jquery line in index.html and rerun it.

Then, its issue goes away.  :100:
I think my jquery has some issue.

Thanks @jennifer-shehane for your concern.

[2019-03-27 05:46] #3830 closed

[2019-03-27 05:51] TrueMan777 commented on #518
I wanted to do the fail-fast-all type of approach so I've ended up adding the following to my `cypress/support/index.js` file:
`// Fail-fast-all-files
before(function () {
    cy.getCookie('has-failed-test').then(cookie => {
        if (cookie && typeof cookie === 'object' && cookie.value === 'true') {
            Cypress.runner.stop();
        }
    });
});

// Fail-fast-single-file
afterEach(fun

[2019-03-27 06:09] itslenny commented on #3825
No, proxy or VPN at the office or my laptop, and it's also behaving identically on the server I'm running it on which is just a default Digital Ocean small droplet running Ubuntu.

I'll try running it on OSX and Windows tomorrow to see if it's just an Ubuntu thing.

[2019-03-27 07:05] jennifer-shehane commented on #3621
We'll be releasing improved proxy support in our next release. https://github.com/cypress-io/cypress/pull/3531

[2019-03-27 07:06] jennifer-shehane commented on #1872
Hey if you're experiencing a similar issue, could you open a new issue with a complete reproducible example of your problem? Thanks!

[2019-03-27 07:11] jennifer-shehane commented on #3814
Cypress only allows a single origin per **test**, so per a single `it` invocation, not spec file.

[2019-03-27 07:11] midhun8454 commented on #3831
"before all" hook for -this is the command appended before my string written in 'it' keyword

[2019-03-27 07:13] jennifer-shehane commented on #3709
Duplicate of https://github.com/cypress-io/cypress/issues/447

[2019-03-27 07:13] #3709 closed

[2019-03-27 07:15] jennifer-shehane commented on #3831
What is the failure you are encountering when the visit fails. Can you post the error message or a screenshot please?

[2019-03-27 07:17] jennifer-shehane commented on #2113
@mikhaildzarasovvineti If you want to purely wait for an element to be present on the page, you can increase the timeout that Cypress waits for an element to be present. `cy.get('button', {timeout: 60000}`.

[2019-03-27 07:17] midhun8454 commented on #3831
its telling credentials are not valid @jennifer-shehane .This i got via cypress open

"before all" (with it invocation) in cypress run

[2019-03-27 07:23] jennifer-shehane commented on #3497
If you listen to `Cypress.on("fail"...` and do not later `throw` the error, then the test will display as passing even though it failed, since you did not propogate the error onwards. See [this documentation](https://on.cypress.io/catalog-of-events#Debug-the-moment-a-test-fails) on how to have the test fail.

[2019-03-27 07:23] #3497 closed

[2019-03-27 07:25] midhun8454 commented on #3831
<img width="556" alt="error1" src="https://user-images.githubusercontent.com/40997155/55057594-9f059780-508f-11e9-850d-06990f90edd1.png">

[2019-03-27 07:26] jennifer-shehane commented on #281
Hey @phongnd39, can you add your plugin to our [docs](https://github.com/cypress-io/cypress-documentation) on the [plugins](https://on.cypress.io/plugins/) page?

[2019-03-27 07:27] midhun8454 commented on #3831
`describe('Qualified Booking  in US POS', () => {
  describe('Traversing through "Details page" and "My Page"', () => {
    before(() => {
      cy.visit(TRIP_DETAILS_URL);
      cy.url().should('include', '/user/itin');
      cy.get('#unified-itin-emailId').type(ITIN_EMAIL_ID);
      cy.get('#unified-itin-number-text').type(ITINERARY_NO);
      cy.get('button:contains("Submit")').click();
      c

[2019-03-27 07:29] #3814 closed

[2019-03-27 07:30] jennifer-shehane commented on #2267
@justinebolinas Can you provide the exact test code you are running where this `.get('a')` is located?

[2019-03-27 07:33] jennifer-shehane commented on #3647
Is there a reason you are passing in a reporter that is an empty js file? Does this still error when you remove the reporter argument?

[2019-03-27 07:35] jennifer-shehane commented on #647
Please open a new issue if you are experiencing similar behavior.

[2019-03-27 07:37] jennifer-shehane commented on #2544
@iboughalem Please open a new issue detailing exactly how to reproduce the crashing behavior.

[2019-03-27 07:42] jennifer-shehane commented on #3831
Hey @midhun8454, we'd have to know a lot more about how credentials are processed for your application. I can't do much with the information given as is. Where are you seeing this error about credentials?

[2019-03-27 07:43] #3454 closed

[2019-03-27 07:46] jennifer-shehane commented on #3691
Hey @minams2, we're unable to run this code locally since this is all custom helpers we don't have access to. Unfortunately, we will have to close this issue if a reproducible example is not provided.

[2019-03-27 07:49] jennifer-shehane commented on #3618
@jbpallingayan 	Can you provide the test code you are running?

[2019-03-27 07:54] JacoboGallardo commented on #2518
I'm experiencing the same problem.

Cypress:   3.1.5
Typescript: 3.3.3
npm: 6.4.1
node: 10.12.0

On windows 10.

[2019-03-27 08:25] FredTreg commented on #447
Sorry I am a bit confused by this thread. Was something implemented in the end? Do I have a way (any way) to move the threshold up? All my tests are 20s or more (and that's perfectly normal) so would be great if I could.

[2019-03-27 08:32] midori0507 commented on #1484
Running to same issue,
Using latest node with nvm

[2019-03-27 08:36] bohendo commented on #3109
Thank you @Lakitna 🙏 An(other) example using `cy.verifyUpcomingAssertions` was just what I needed. I think `cy.retry` is a reserved command though (at least in v3.2.0) because if I try to add it, unrelated parts of my code starts blowing up.

But I tinkered a bit, got it working & was able to remove the race condition (ie a `cy.wait`) I was relying on earlier. Hope the following example is useful

[2019-03-27 09:03] bbalon commented on #2812
Looks like "Desktop Experience" Feature needs to be enabled for ffmpeg to work properly.

[2019-03-27 09:11] Lakitna commented on #3109
You are correct, retry is an existing, undocumented cy command (see screenshot).

![image](https://user-images.githubusercontent.com/22448210/55063473-5393bf00-5078-11e9-865f-dcfa3da4843b.png)

I would personally fall back to `thentry` until I made a way to overwrite `then` with a `retry` option.

[2019-03-27 09:32] marinav commented on #832
Hi,

Thank you for your work !! I just started to use Cypress and it's really great !

Unfortunatly I'm using heroku and cedar-14 is no more supported so I'm waiting for headless Chrome support...

![Capture d’écran 2019-03-18 à 14 56 16](https://user-images.githubusercontent.com/4086197/55065118-8f7c5380-507b-11e9-9aec-c6c988fb95f7.png)

Do you know when it will be available ? I'm stuck waiting

[2019-03-27 10:00] rj-david commented on #781
We are facing this **random** problem of cookies not being cleared properly for the last few months now. The fixes proposed in this thread did not consistently solve the issue for us.

Accidentally, seems like we found something working for us. After clearing the cookies, we get the cookies and check if it is empty.

[code]

[2019-03-27 10:31] olaf89 commented on #2835
I have the same issue, is they any workaround for this?

[2019-03-27 11:06] aryzing commented on #3515
@jennifer-shehane we had to move away from cypress in our because of the bug, don't have a time frame to re-introduce it atm.

[2019-03-27 11:19] bruno-gouveia commented on #491
I'm having the same problem. Running it headless on my mac os machine it exits with code 0 but when running it on windows machine on TeamCity it never exits after completing the tests.

[2019-03-27 11:56] Vinod-Gulia commented on #3805
This stands fixed now.There were two problems causing this and both were at the application layer.

Problem# 1 - Somehow we chose 417 as the error code for any unhandled events.
Fix - We are now using 422 error code for unprocessable entities
Problem# 2 - A formData append method has three params -(name, value, filename) where filename is optional. It is made mandatory in the application code rece

[2019-03-27 11:56] #3805 closed

[2019-03-27 12:14] HeatherFlux commented on #1543
Hmmm, sorry then. For me I was having issues with some chars not being translated properly when running my application. https://docs.cypress.io/guides/references/configuration.html#modifyObstructiveCode
This section was able to help me solve the issue I was having with ï¿½tï type of char in the translation of bsdatepicker.

My config was laid out as such:
`{
  "modifyObstructiveCode": false,
}`

[2019-03-27 13:21] luismiguelbravo commented on #2188
Info to reproduce the issue

![image](https://user-images.githubusercontent.com/5140529/55077972-cea8a580-5077-11e9-8edc-36f159fa9e2e.png)

[2019-03-27 13:31] bahmutov commented on #2188
@luismiguelbravo can you start the server and spy on the route _before_ `cy.visit`? Seems `cy.visit` loads the app, the app makes XHR call right away and by the time you set your spy with `cy.route` it is too late

[2019-03-27 13:36] luismiguelbravo commented on #2188
@bahmutov yes, I can, this example is just for reproduce de main issue in the thread

The problem: "XHR call is too fast and occur before the .wait('@*')"

[2019-03-27 13:37] bahmutov commented on #3828
@ytmagalhaes sorry about that, but we need to balance solutions. The globals in Chai and expect are awful things and I do not see a good way to solve this except for you to create a separate tsconfig.json file inside Cypress folder and include cypress types, while exclude it from the tsconfig.json file that includes Chai / Mocha types

[2019-03-27 13:40] bahmutov commented on #2188
I think in your case "the request happens before cy.route"

On Wed, Mar 27, 2019 at 9:36 AM Luis Miguel Bravo <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter.com/@bahmutov>
https://glebbahmutov.com/ https://glebbahmutov.com/blog
https://github.com/ba

[2019-03-27 13:43] luismiguelbravo commented on #2188
I get the same problem in this cas, (some execution work nice but some other get this error: CypressError: Timed out retrying: cy.wait() timed out waiting 5000ms for the 1st request to the route: 'perfilar'. No request ever occurred.)

[code]

[2019-03-27 13:46] bahmutov commented on #2188
Luis, you have just shown a different code snippet, please check your
original one - does it work when you move cy.server and cy.route BEFORE
cy.visit?

On Wed, Mar 27, 2019 at 9:43 AM Luis Miguel Bravo <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter

[2019-03-27 13:48] luismiguelbravo commented on #2188
@bahmutov  In this case work perfect
![image](https://user-images.githubusercontent.com/5140529/55080992-d3705800-507d-11e9-9d83-f565bde7b326.png)

[2019-03-27 14:39] Cubelaster commented on #1319
Not fixes for me.
Manually installing Mocha types fixed some errors, but "Cannot find name 'cy'" still persists.
Would really like a fix :)

[2019-03-27 15:01] JPHamlett1993 opened #3832 "Cypress Will not load anything within Chrome"
### Current behavior:

When I run a test in Cypress it loads the Chrome Frame but nothing within it

![image](https://user-images.githubusercontent.com/11742812/55086898-2bf02700-5077-11e9-946c-3f38a34b5315.png)

### Desired behavior:
The tests run

They run if I go down to 3.1.5

### Versions
3.2.0, Mac OS, Installed, Chrome

[2019-03-27 15:30] flotwig opened #3833 "Don't create a new socket to do HTTPS interception through SNI server"
Currently, `https-proxy` works by setting up a local HTTPS server and then using a local CA to issue self-signed certificates for any domains that need to be intercepted.

When new SSL requests come in to `https-proxy`, the HTTPS handshake and subsequent communication is performed over a TCP socket created from the `https-proxy` to it's own HTTPS server:

https://github.com/cypress-io/cypress/blob

[2019-03-27 15:49] bahmutov opened #3834 "Show "cy.route" commands in the Command Log"
### Feature

Related to common confusion about intercepted / spied on XHR calls from the application shown in https://github.com/cypress-io/cypress/issues/2188#issuecomment-477150544

Here is a screenshot of the problem

![55077972-cea8a580-5077-11e9-8edc-36f159fa9e2e](https://user-images.githubusercontent.com/2212006/55090909-4aa9ea00-5086-11e9-8cfd-2cf9c4f85025.png)

The user thinks that `cy.wai

[2019-03-27 16:13] bahmutov commented on #2188
@luismiguelbravo can you paste the screenshot of the second situation that times out?

[2019-03-27 16:43] tnrich commented on #777
I'm seeing a more extreme version of this when running our tests from within HerokuCI:

![image](https://user-images.githubusercontent.com/2730609/55094947-90f64d80-5074-11e9-93b5-7585cc320e62.png)

Branch, Author, Commit, Message and CI are all blank.

What's the recommended way of troubleshooting this? Thanks!

[2019-03-27 16:48] kolyaventuri opened #3835 "Developer tools opens in 0x0 window"
### Current behavior:
When the Chrome DevTools window is set to "Undock in separate window" mode, rather than pinned to one side of the browser window, it opens in a 0x0 (or practically 0x0) window at the top right of the leftmost monitor. It can be expanded however, but the developer has to notice it's there in the first place.

![image](https://user-images.githubusercontent.com/972446/55094984-a

[2019-03-27 16:54] Cubelaster opened #3836 "Cypress errors on visit"
### Current behavior:

https://monosnap.com/file/Lk5EhFPkym3M2NGqLIGPR0IxUAnGNJ

So, my problem is that whenever I try to run a test visiting my app for the first time (sometimes even more times), it just fails.

It errors out on requests towards the backend and the error message is `net::ERR_UNEXPECTED`.

It appears almost like it starts making requests the moment the HTML is loaded, and it doesn

[2019-03-27 16:56] Juholei commented on #2835
@olaf89 the workaround is to run the tests in Chrome. This is less than ideal though, as then it is not possible to get video of the test run.

Still hoping this will get fixed soon.

[2019-03-27 17:41] flotwig commented on #777
@tnrich it doesn't look like we're set up to pull Heroku CI environment variables in: https://on.cypress.io/continuous-integration#Examples

I'm not sure why it's not automatically pulling them from the commit, maybe Heroku CI doesn't build with the `.git` directory available and so `commit-info` fails.

We could potentially add Heroku CI environment variables and support pulling the info in that

[2019-03-27 17:49] ccorcos commented on #3829
Hmm. I guess maybe this is expected?

https://github.com/cypress-io/cypress/issues/1077

[2019-03-27 18:19] ccorcos commented on #3829
After adding the `"numTestsKeptInMemory": 1` option, running from the GUI succeeds without crashing. 🎉

[2019-03-27 18:20] ccorcos commented on #3829
Looks like Docker is still crashing in CircleCI though...

[code]

[2019-03-27 18:21] ccorcos commented on #350
Anyone know how to add `--ipc=host` to CircleCI? It looks like they call `docker run` somewhere out of our control...

[2019-03-27 18:30] mitar commented on #350
You cannot. And this is why this workaoround does not really work.

[2019-03-27 18:35] ccorcos commented on #350
@maximilianschmitt seems to think you can: https://gitter.im/cypress-io/cypress/archives/2018/10/17

[2019-03-27 18:36] ccorcos commented on #350
Actually, a build just finished and it crashed pretty quickly

[2019-03-27 18:42] mvpowers commented on #3055
Having the same issue with Cypress 3.2.0 in Jenkins

[code]

[2019-03-27 19:08] Niceplace commented on #3832
Same behavior for me, I have to stick with 3.1.5 because 3.2.0 never works.

I didn't dig into the issue too much but I tried using different browsers (chrome, chromium, electron) and the behavior is always the same. I see that in the logs when trying to start a simple test (visiting one URL only):

[code]

[2019-03-27 19:57] tnightingale opened #3837 "cy.its() no longer waits on undefined"
### Current behavior:

`cy.its()` yields `undefined`.

[code]

### Desired behavior:
Docs state:

https://docs.cypress.io/api/commands/its.html#Assertions

### Steps to reproduce: (app code and test code)

Interestingly, asserting that the yielded property exists resolves this issue:

[code]

I suspect all that is required is that the documentation needs to be updated to indicate that by default i

[2019-03-27 20:48] ccorcos commented on #3829
[code]

Looks like there's plenty of shared memory...

[2019-03-27 20:49] ccorcos commented on #350
Looks like there's plenty of shared memory.

[code]

[2019-03-27 20:51] ccorcos commented on #349
There appears to be plenty of memory in my docker container

[code]

I'm also unable to figure out how to add the `--ipc=host` flag for my CircleCI build... Doesn't appear to be an option.

[2019-03-27 21:04] Bkucera commented on #3837
Hi @tnightingale thanks for letting us know about this. The PR https://github.com/cypress-io/cypress/issues/1531 was incorrectly targeted at the wrong branch.

We'll revert this in the next release, and will keep the behavior you expect.

[2019-03-27 21:58] ccorcos opened #3838 "How to override type or click?"
### Current behavior:

I have a custom command that interacts with the UI and waits for animations to complete called `rerender`. I want to make sure to invoke rerender before and after clicking and typing. However, I'm not able to figure out the correct way to do this.

I've tried a couple things.

[code]

[code]

[code]

[code]

They all come up with some sort of error about a promise inside a p

[2019-03-27 22:32] danverde commented on #2370
I'm having a similar issue as well but on Mac.
My spec file has 11 tests all with multiple assertions (they're not small tests). All my tests pass, but the video ends halfway through the 9th test. If not having enough tests in a spec file can cause this issue then how many tests are required before this is no longer an issue?

[2019-03-27 23:13] YOU54F commented on #3537
Just fixed this and proposed the following 2 PR's

https://github.com/stanleyhlng/mocha-multi-reporters/pull/58
https://github.com/michaelleeallen/mocha-junit-reporter/pull/80

My branch tracking the changes, with failing builds with mocha 6 pre and post fix is here

https://github.com/YOU54F/cypressio-docker-typescript/pull/15/files

If you do want to move up to mocha 6, you can pull my forked br

[2019-03-27 23:16] beausmith commented on #1570
✋ Also effected by this same issue:

## HTML

[code]

## Cypress

[code]

I have implemented @davemyersworld's workaround, and can confirm it works!  🎉

Looking forward to replacing workaround when a fix is available.

Thanks for triaging @jennifer-shehane

[2019-03-27 23:47] pratik-domain commented on #170
Thought of pasting my working code as I spent a couple of days figuring it out:

[code]

[2019-03-28 00:32] janusqa opened #3839 "Fixtures do not seem to be avaiable to all it() when loaded in before(). Required to load them in beforeEach()"
### Current behavior:
fixtures loaded in `before()` seem only available to the first `it()`. In order to access a fixture in any other `it()` it seems that you are required to load it in `beforeEach`

### Desired behavior:

fixture loaded in `before` should be available to any `it()`

### Steps to reproduce: (app code and test code)

https://github.com/janusqa/fixturesinbefore

```cypress run``` t

[2019-03-28 01:01] ArCiGo commented on #311
@WiseBird I updated my comment

[2019-03-28 02:20] tyoadit commented on #136
@drewbrend where should I put this script? at commands.js? I already put in commands.js but still not working, always show loading sign
![image](https://user-images.githubusercontent.com/25192182/55124955-b9487f80-513a-11e9-807a-582ee09d83bb.png)

[2019-03-28 02:34] yanshiyason commented on #170
this stopped working for some reason, but could get it up again by adding this line:
[code]

[code]

[2019-03-28 02:36] pareshkrc commented on #170
This works for me but for some reason if I try to upload jpg file and if I specify filetype = image/jpg then it fails to recognize the file and fails.. but for the same jpg file if I specify filetype = image/png then it selects file correctly.

[2019-03-28 05:26] jennifer-shehane commented on #3805
@Vinod-Gulia Thanks for following up!

[2019-03-28 05:30] jennifer-shehane commented on #3839
Duplicate of https://github.com/cypress-io/cypress/issues/665

[2019-03-28 05:30] #3839 closed

[2019-03-28 05:32] jennifer-shehane commented on #3838
Can you provide the code for your custom `rerender` command also?

[2019-03-28 05:35] jennifer-shehane commented on #2370
I've seen this issue crop up more recently. It does not generally look to be a couple of frames, but swaths of the video freeze during the video.

[2019-03-28 05:37] jennifer-shehane commented on #3832
We'll need a reproducible example of this in order to look into it. Is this only happening on a specific url you are visiting? Does it also happen when trying to test against `https://example.cypress.io` for example?

[2019-03-28 05:39] jennifer-shehane commented on #3835
Duplicate of https://github.com/cypress-io/cypress/issues/2497 Any help to track this down would be appreciated.

[2019-03-28 05:39] #3835 closed

[2019-03-28 05:46] jennifer-shehane commented on #3836
Hey @Cubelaster, I watched the video. Can you open your devtools while the tests are running to narrow down where the 'sort of undefined' error is coming from? This is being thrown from your application code somewhere. It may be an async thing because sometimes it is not happening.

[2019-03-28 06:28] jaterlwj commented on #1304
Hi team,

Is there any update to this issue? I am running into the exact same problem as @rgavinc where screenshots and video in headless electron returns blank but screenshot works in headed electron.

- I am experiencing this on all test suites and projects. Even the simplest of test - opening a page and taking a screenshot) would result in the same error.

- Commands issued in the test are cy.v

[2019-03-28 06:31] jeceldx commented on #1304
Also have this issue with :
Cypress 3.1.5
Electron 59 (headless)
Windows 7(x64)

[2019-03-28 07:00] Cubelaster commented on #3836
OK, so I've made another recording. This time it's as detailed as it gets.
I might run the whole debug, but I don't think it matters much.
The error really is coming from my code, BUT!
This is an error that would happen if my server wasn't working.
In such cases, I can't get a response from the back end and the front end just doesn't work.
All of those requests are async and they are meant to be l

[2019-03-28 07:26] Cubelaster commented on #3836
OK, there's another thing I noticed:
I can't use cy.route. Or I simply don't know how.
I'm trying to explicitly wait for request to end, but Cypress says that such request never happened?
I basically c/p-ed the request route to cy.route so it can't be wrong.
![image](https://user-images.githubusercontent.com/14044616/55138138-00cb0d80-5133-11e9-8aa9-9d38a174a107.png)

[2019-03-28 07:49] Cubelaster commented on #3836
Also, I can't send requests. Every time I get 401 - Unauthorized.
Honestly, I think it's either CORS problem, or Cypress can't handle Win Auth.

[2019-03-28 08:32] kwoxer opened #3840 "Reusing spec.js files to reduce code and being more DRY"
### Current behavior:

1. Create e.g. a `registration.spec.js` (does a full registration process)
2. Create e.g. a `offer.spec.js` (does click on a offer link and starts booking, then coming to the register page and doing a full registration process)

### Desired behavior:

1. Create e.g. a `registration.spec.js` (does a full registration process)
2. Create e.g. a `offer.spec.js` (does click on a

[2019-03-28 08:38] 0xIslamTaha opened #3841 "Error while trying to install cypress with ubuntu 18.04"
## Description:
Error while trying to install cypress with ubuntu 18.04

[code]

### Actual result:
[code]

## Env:
OS: ubuntu 18.04 64bit
npm: 6.7.0

[2019-03-28 08:48] Cubelaster commented on #3836
OK, so I've made progress.
I implemented the hack mentioned here:
https://github.com/cypress-io/cypress/issues/95
and I kinda got going.
However, my initial problems are still there. I can't get initial load to work.

[2019-03-28 09:19] turulb commented on #3576
Hi

Same here. Is there any updates on this issue?
I'm checking #2029, i hope that workaround works:S
I need to save the pdf file, no further steps.

Thanks,
Turul

[2019-03-28 09:25] Cubelaster commented on #1296
This also seems to be my problem.
Initial problem was that fetch api wasn't working.
I overcame this problem, but now it seems to start loading over fetch without first loading my *.js file.

[2019-03-28 09:44] vijeeshvofox opened #3842 "Button click event is not working on Cypress, when we use vue js $emit and $on"
I have vue js application which contains the parent component and child component. I placed a button 'Submit' on parent component and it invokes api call on the child component.

Please find my source code on the parent component
[code]

[code]

Please find my code on the child component

[code]

When user clicks the ‘Submit’ button on the parent component, the method ‘updateHighlights’ should be

[2019-03-28 09:51] turulb commented on #3576
If anyone step into this river, the workaround in #2029  works (pdf).

[2019-03-28 09:52] turulb commented on #2029
Thanks  roma-glushko! Saved my day.

[2019-03-28 11:04] learningandworking opened #3843 "Mouseover doesn't work as on the user behavior"
### Current behavior:
There is no action "hover" on the selected menu although the code ran well.

### Desired behavior:
Trigger('mouseover') should work as real user behavior.

Procedure:
1. Access to page 'http://automationpractice.com/index.php'
2. Hover on "Women", wait a little bit to see the content.

### Steps to reproduce: (app code and test code)
[code]

### Versions
[code]

[2019-03-28 11:59] SebastianSchoeberl commented on #1744
Any updates here?
As far as I know cypres uses the Mocha-Junit-Reporter, which should support attachment files already. Anybody got that working with cypress and CI/CD?

[2019-03-28 12:57] bahmutov commented on #3842
Can you make a reproducible repo with the vue code and cypress test so we can run it?

Sent from my iPhone

[2019-03-28 14:44] Lakitna commented on #3109
Behold, the birth of the module `cypress-commands`!

I've made the extension on the `then` command and published it in a repo (and on npm) where I will add more commands in the future. I have a few commands laying on the shelf I could add.

For more details see the repo at https://github.com/Lakitna/cypress-commands

[2019-03-28 15:16] testquantilope commented on #3713
I think this issue only occurs if I have run a group with the same name in the previous run. If I change the group name every run, this issue doesn't seem to be occuring.

[2019-03-28 15:25] Cubelaster commented on #3836
OK, another status update: This still persists in Electron, but in Electron it's a bit different.
When testing in Chrome, every time I close Chrome window and start another test, the error repeats itself. Almost like Chrome loses "context".
Electron has this problem only for first opening. After that, as long as Test Runner is open, Electron has the "context".

[2019-03-28 15:25] ccorcos commented on #3838
Here's `rerender`

[code]

But I'm also unable to get it to work just with `cy.wait(100)`

[2019-03-28 15:27] ytmagalhaes commented on #3828
@bahmutov thank you so much for the help! We wrote our own `tsconfig` inside the `Cypress` folder and excluded it from the global `tsconfig`, and that absolutely fixed the issue. I think this will fix any of the duplicate clashes 😄

Feel free to close the PR if it's not important to mention somewhere that `Cypress` can clash with `Mocha` and `Chai` global exports.

[2019-03-28 15:46] jennifer-shehane commented on #3843
Looking at the event handlers on the menu item, I can see the code in your application is listening for these mouse events, but it's listening from within this plugin called `hoverIntent`.

<img width="332" alt="Screen Shot 2019-03-28 at 10 08 50 PM" src="https://user-images.githubusercontent.com/1271364/55171573-ff3b2d00-51a6-11e9-89f8-48f4c79546e1.png">

From [hoverIntent](http://cherne.net/bria

[2019-03-28 15:48] jennifer-shehane commented on #3841
Is there any extra information in the `/home/xtrremx/.npm/_logs/2019-03-28T08_33_18_514Z-debug.log`?

[2019-03-28 15:54] mekhami commented on #3832
@jennifer-shehane you were given the answer to this problem in the previous issue about it here:

https://github.com/cypress-io/cypress/issues/1872#issuecomment-445581050

I don't understand why it was ignored.

[2019-03-28 15:55] jennifer-shehane commented on #3842
Can you also provide the test code you wrote in Cypress that is not working and display any error messages, if any?

[2019-03-28 16:02] jennifer-shehane commented on #3836
Can you try listening for the uncaught exception, so we can at least get the error out of the way that is failing the test?

[code]

[2019-03-28 16:09] JPHamlett1993 commented on #3832
I fixed mine, I had localhost commented out in host file

[2019-03-28 16:39] chr1sjf0x commented on #2700
I'm seeing similar issues. For us it is intermittent. We have about 7 out of 55 specs which are susceptible to this type of failure. Pretty reliably at least one of them will fail on every CI run. Running the tests individually always seems to work.

[2019-03-28 17:42] Nate-Watts commented on #915
Here is a wrapper function I made for a resolve all if you can decipher what I'm doing here:
[code]

[2019-03-28 19:05] ccorcos commented on #3838
For example:

[code]

[2019-03-28 19:18] ccorcos commented on #3838
Alright, I've made some progress. I think the problem has to do with the internal abstractions for these commands. The code below works. Now I can properly override those commands.

[code]

Still seems like a bad abstraction internally though. It means you can't override these commands without substantial hacks.

[2019-03-28 19:20] ccorcos commented on #3838
The actions are all pretty bogus now though...

![image](https://user-images.githubusercontent.com/1794527/55186456-d3428c00-5153-11e9-9bb3-06414042ae57.png)

No more clicks, etc.

[2019-03-28 20:42] fr0 opened #3845 "cy.type('{insert}') is not supported"
### Current behavior:

[code]

### Desired behavior:

`{insert}` should be a supported key. Not sure why it isn't. For that matter, `{pageup}` and `{pagedown}` should also be supported.

### Versions

3.2.0

[2019-03-28 20:55] westhomas commented on #909
We use docker `.env` files everywhere in our workflow. So I decided to keep that pattern with our cypress tests. Here's my solution:

[code]

[2019-03-28 21:42] aoumiri commented on #3515
Hello @jennifer-shehane. I am currently deploying cypress 3.2.0 into a gitlab-ci pipeline, and I am unfortunately running into this error.

Here is the output :
[code]

[2019-03-28 22:13] benmonro commented on #3568
i got here by clicking on 3 separate issues "closing in favor of <link to 2.0 update>" => "closing in favor of <link to 3.0 update>" => "closing in favor of <link to this 4.x update>"

in the meantime, cypress is using electron browser on version 59.  is there any way I can force it to use a newer build of electron?

As it stands right now, I get an error that only seems to happen in older chromiu

[2019-03-29 01:04] itslenny commented on #3825
@jennifer-shehane

Alright, this is almost certainly an issue on Ubuntu (or linux) specifically. I've now run the same exact test suite on Windows, OSX, and Ubuntu. It consistently has this error on Ubuntu and never anywhere else. I also ran the this at my office and on my home internet which are different ISPs as well as have it running on an Ubuntu VPS in a data center.

Never once seen this err

[2019-03-29 03:19] joekrump commented on #3515
@jennifer-shehane I will aim to try the update to 3.2.0 early next week.

[2019-03-29 05:14] jennifer-shehane commented on #3845
Here's the most recent PR adding support for the `{home}` and `{end}` chars. It should help anyone wanting to get started adding support for these chars as well. https://github.com/cypress-io/cypress/pull/3071

[2019-03-29 05:18] jennifer-shehane commented on #3568
@benmonro Please read this issue in response to your question https://github.com/cypress-io/cypress/issues/3228

[2019-03-29 05:22] jennifer-shehane commented on #3838
You probably want to extend the commands to add logging: https://on.cypress.io/cypress-log Can you close if this issue is resolved for you?

[2019-03-29 05:30] jennifer-shehane commented on #3832
@mekhami The proxy-server issue documented was already fixed in our 3.1.5 release as explained here: https://github.com/cypress-io/cypress/issues/1872#issuecomment-450807452

We suspect this is a different issue. Can you confirm the issue outlined in the comment is still happening in 3.2.0?

[2019-03-29 05:31] mekhami commented on #3832
It is still happening in 3.2.0, yes.

On Fri, Mar 29, 2019 at 12:30 AM Jennifer Shehane <notifications@github.com>
wrote:

[2019-03-29 05:32] jennifer-shehane commented on #3828
I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document the global exports here: https://github.com/cypress-io/cypress-documentation/issues/1524. Our documentation is open source and contributions are welcome. 😄

[2019-03-29 05:32] #3828 closed

[2019-03-29 05:39] jennifer-shehane commented on #3832
@mekhami Can you give me the exact steps to replicate this behavior? I am running `cypress open` with Cypress version 3.2.0 and do not see this behavior. I would love to track the issue down

Chrome versions tried and not seeing behavior:
- 72.0.3605.0
- 73.0.3658.0
- 73.0.3683.86
- 75.0.3747.0

[2019-03-29 05:43] jennifer-shehane commented on #2983
@marcneander The above comment's workaround is intended to fix this issue. Please comment if you have tried the solution and are still experiencing this problem.

[2019-03-29 05:45] krishvv opened #3846 "cy.visit() unable to visit https:// urls"
Hi,

Whenever i have `cy,visit()` to `https://` urls , i am getting the below mentioned error . Only through cypress this error happens  . I have also tried setting the `HTTPS_PROXY` , but that also does not help. All `http://` urls are working fine

[code]

[2019-03-29 05:56] jennifer-shehane commented on #3846
Hey @krishvv, can you run the test below and tell me the results? The below test works for me. I would like to narrow down why this error is occuring for you.

[code]

[2019-03-29 06:10] jennifer-shehane commented on #2823
@Chris2011 There is not an assertion chain `have.type`. You can see all supported assertion chains here: https://on.cypress.io/assertions

I think you want

[code]

Did you open the devtools to see if there is an error logged in there?

[2019-03-29 06:11] jennifer-shehane commented on #2823
@tnrich Was your issue resolved? Can this be closed?

[2019-03-29 06:18] krishvv commented on #3846
Hey @jennifer-shehane . Thanks for the reply . Yes i am able to access the above mentioned url
It works fine when i set https_proxy .
However not all https:// urls are getting accessed  . We have some internal https://* urls which i was planning to test . Note: I am using cypress 3.2.0.
These https:// urls have SSO . Will that be a problem?

[2019-03-29 06:19] jennifer-shehane commented on #3760
I recently saw this in one of my runs as well. Closing as it does not seem to cause actual impact on run. Please comment if this is incorrect.

[2019-03-29 06:19] #3760 closed

[2019-03-29 06:22] jennifer-shehane commented on #3846
We'd have to know more about the implementation to say. What is required in your app to not get a 401 response from your web server? You likely will have to do this in cypress.

[2019-03-29 06:24] krishvv commented on #3846
I do not have access to the web server and its code :( unfortunately!
Let me check what i can do .

[2019-03-29 06:27] tnrich commented on #2823
Yep please close

On Thu, Mar 28, 2019, 11:12 PM Jennifer Shehane <notifications@github.com>
wrote:

[2019-03-29 07:28] jennifer-shehane commented on #3608
Closing as part of https://github.com/cypress-io/cypress/issues/3762

[2019-03-29 07:28] #3608 closed

[2019-03-29 07:53] marcneander commented on #2983
@jennifer-shehane Not sure I agree.

I'm using browserslist in a documented way and when I do I cannot use cypress without the above workaround. A fix would be to resolve the browserslist extends in the correct way.

[2019-03-29 08:44] Lakitna commented on #3829
I believe there could be issues when you run a lot of tests in GUI mode. How many tests are we talking here?

[2019-03-29 08:46] Chris2011 commented on #2823
@jennifer-shehane thx, I handled it by myself with the have.type from this url: https://docs.cypress.io/guides/references/best-practices.html and searched for have. and found the attr thing. In general, I don't use the GUI, I'm running the Headless electron. I only wanted to check whats happening, that my tests hangs and tried the GUI and saw the xhr request.

[2019-03-29 09:27] phongnd39 commented on #281
Hi @jennifer-shehane , I have created a [pull request](https://github.com/cypress-io/cypress-documentation/pull/1525) to Cypress plugins pages. Can you help me review it?

[2019-03-29 09:45] GIJAREASHISH commented on #136
For CKEditor that is a workaround:

 cy.get('iframe.cke_wysiwyg_frame')
    .then(function ($iframe) {
     const $body = $iframe.contents().find('body')
        cy
        .wrap($body)
        .find('p:eq(0)')
        .type('Testing')
    })

[2019-03-29 09:48] learningandworking commented on #3843
Thanks @jennifer-shehane for your explanation

Simulate the real "hover" action for my application successfully by calling invoke('show')

BR,

[2019-03-29 11:30] #3843 closed

[2019-03-29 11:31] rasmusvhansen commented on #2641
@achelonmm Can you elaborate a bit on what the error was.
I am seeing something very similar, where a manual submit of a form works fine, but when doing it through Cypress, it fails with ECONNRESET error from Cypress.

[2019-03-29 11:31] mikelumberjack commented on #1125
Thanks man!

[2019-03-29 11:31] #2823 closed

[2019-03-29 11:38] jennifer-shehane commented on #3109
Hey @Lakitna, can you add your commands library to our [docs](https://github.com/cypress-io/cypress-documentation) on the [plugins](https://on.cypress.io/plugins/) page?

[2019-03-29 11:52] achelonmm commented on #2641
Sadly I cannot, this was quite a long time ago and neither I nor my team remembers what the problem was.
If by any chance I remember something about it I will send you a private message. Sorry!

[2019-03-29 12:22] s00500 commented on #2383
Also just ran into this issue... is there a better way to detect testing environment?

[2019-03-29 12:50] Lakitna commented on #3840
You can take a look at custom commands https://docs.cypress.io/api/cypress-api/custom-commands.html#Best-Practices

You could use plain old javascript imports to create dynamically generated tests https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Dynamically-Generate-Tests For example:

[code]

Also take a look at best practices, specifically this part about skipping s

[2019-03-29 13:37] benmonro commented on #3568
@jennifer-shehane thank you for that but then I can't run headless in CI right?

[2019-03-29 13:56] suellenz commented on #3697
Hey @jennifer-shehane  I have the same problem, if you want to see it to get more information I can show you.

[2019-03-29 14:16] s00500 commented on #2383
Nevermind, it was a pageload issue

[2019-03-29 14:17] zts3y commented on #3697
@jennifer-shehane, I heard back from folks that would know the answer to the redirect question. There is nothing on the hosting end that would cause this, and no rules existed that would present this behavior without it also being visible when examining it manually in a browser.

I tested my application locally, and Cypress works as expected there though.

[2019-03-29 15:19] bahmutov opened #3847 "Crash "Cannot read property 'error' of undefined""
## bug 🐞

### good

A test like this work fine - cannot find an element, times out

[code]

<img width="343" alt="Screen Shot 2019-03-29 at 11 15 38 AM" src="https://user-images.githubusercontent.com/2212006/55242619-00567380-5214-11e9-83f4-e06cca923b5f.png">

### bad

But if I change the selector to be like this it crashes badly immediately (yes, I have just added backticks around `'foo'` string

[2019-03-29 15:58] vijeeshvofox commented on #3842
[parentchildtest.zip](https://github.com/cypress-io/cypress/files/3023190/parentchildtest.zip)

I have attached zip file which contains  reproducible Code with this post.

On this source code I have used the cypress comment  `cy.get('#btnSubmitHighlights').click();` on test file. The method `updateHighlights` on the file ‘EditHighLightsComponent.controller.ts’ is not getting invoked when cypress c

[2019-03-29 16:28] infctr commented on #2102
@jennifer-shehane Setting width and height for headless electron in docker container produces screenshots with correct size (`1919x1080` actually), however I seem to get a video recording error.

[code]

[code]

Is the screen size too big?

[2019-03-29 17:19] johanneslumpe commented on #3207
@Bkucera is there a more actionable list of things that need to be done except the one in the description? getting IE11 support working would be amazing and if there is stuff that can be done to help I'd be more than happy to give it a shot.

[2019-03-29 17:23] johanneslumpe commented on #3207
@bjowes Especially in government agencies it is very unlikely that IE11 is being replaced any time soon, so getting support there first seems like a good idea.

[2019-03-29 17:25] trydionel commented on #981
Hi all! We're continuing to make progress on adding GitHub integration to the Cypress Dashboard and would love to get some hands-on user feedback at this point. Does anyone have a few minutes to talk through the designs with me? You'd get a chance to try out this new integration in your own project, and you'll get to keep access to the feature afterwards!

Please leave a comment here, or email me

[2019-03-29 17:40] bculley opened #3848 "Intersection Observer not firing even when get() or scrollIntoView etc."
### Current behavior:

Getting or scrolling into view an intersection observer does not trigger intersection and loading of content inside intersection observer.

### Desired behavior:

Would like to be able to have Intersection Observer render content on scroll such that intersection is observed and content renders.  Would then be able to get() content inside IntersectionObserver.

### Versions

[2019-03-29 17:45] Nate-Watts commented on #981
I'd like to try it out!

On Fri, Mar 29, 2019, 11:25 AM Jeff Tucker <notifications@github.com> wrote:

[2019-03-29 17:48] brandonb927 commented on #3568
@benmonro You can use the Cypress Docker images in CI for a particular version of Chrome https://github.com/cypress-io/cypress-docker-images

[2019-03-29 17:54] nir0s commented on #981
Same here!

On Fri, Mar 29, 2019, 20:45 MangoVerde-con-Sal <notifications@github.com>
wrote:

[2019-03-29 17:57] prescottprue commented on #981
@trydionel Same here!

[2019-03-29 18:07] trydionel commented on #981
Awesome, thank you so much @Nate-Watts, @nir0s, @prescottprue! Just to confirm, you'll need to have 1) a project recording to the Cypress Dashboard, and 2) the repo for this project hosted on github.com, either publicly or privately. If you meet those criteria, please grab a time slot on my calendar:

https://calendly.com/trydionel/github-integration-research?month=2019-04

Looking forward to talk

[2019-03-29 18:48] flotwig commented on #3825
I can't reproduce this on my Ubuntu 18.10 system. Can you try running Cypress with some debug logs enabled?

Specifically, try this command:

[code]

Paste the logs here. That should help give us an idea of what's failing and why. **Note**, please go over the logs before pasting them, you will want to scrub any mentions of your Cypress record key or authorization token.

[2019-03-29 20:02] benwiley4000 commented on #2111
Could we get a new `option` to pass in that disables the control sequences? It makes it kind of confusing to read tests when we have `{{}` all over the place.

[2019-03-29 20:05] bculley commented on #3848
OK, so it does work kinda.  I had to trick it to make the intersection happen by scrolling past it once so that we go past the intersection, then go find it again.  I also had to use the duration of the scrollIntoView() method to slow it down so that the intersection occurs.  Hope this helps someone.

[2019-03-29 20:11] aoumiri commented on #3515
Well, I retried today, with exactly the same code, and it worked. Maybe some dependencies were "stuck" in the cache ? But it works great now, thanks :)

[2019-03-29 20:45] 0xIslamTaha commented on #3841
[code]

[2019-03-29 21:42] Bkucera opened #3849 "allow disable of DOM snapshots for stubs and spies"
I use a lot of spies and stubs, and don't need a DOM snapshot every time a spied function is called, since a DOM snapshot is memory/CPU intensive

We should be able to disable the snapshot similar to how we can disable the log:

[code]

[2019-03-29 21:47] bahmutov commented on #3849
Can we do our typical cy.command(..., {snapshot: false})?

Sent from my iPhone

[2019-03-29 22:16] xeger commented on #3323
My team encountered this while working with vanilla Cypress (not the Cucumber plugin).

Even more surprising, the behavior of Cypress varies depending on how it is invoked!
  - `cypress open` behaves as this issue describes; there is no isolation between test files
 - `cypress run` seems to reset the Mocha context between test files; each file only runs its own hooks

Based on the `type:bug` statu

[2019-03-29 22:28] bahmutov commented on #3323
In GUI mode do you run by clicking on each spec file or by clicking the button “run all specs”?

Sent from my iPhone

[2019-03-29 22:48] xeger commented on #3323
The "leaky" behavior (no isolation) only happens when I click "run all tests." If I click an individual test file and later click another, isolation is maintained.

Seems to me that "run all tests" should behave more like `cypress run` if possible.

[2019-03-30 00:01] brendanp commented on #136
Does this still not work?  We would definitely be customers but many of our apps run in iframes....this is where the platform+app world seems to be moving for sandboxing.

Is there a more important issue at cypress-io than this?  Jest+puppeteer, Mocha, selinium to name a few all support.

Halp! I loved cypress.io then had to bail.   There is no middle ground here.

[2019-03-30 04:35] chris-brighton commented on #3717
Also having this issue with 'com.sg' domains:

`Uncaught DOMException: Failed to set the 'domain' property on 'Document': 'com.sg' is a top-level domain`.

[2019-03-30 05:20] smartHasmukh commented on #3647
I think so
But I found another way to run the project and get report on `cypress dashboard`

`cypress run --project='cypress/applicationApp1' --record --key xxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxxc42`

@jennifer-shehane Thank you for replied me.

__________________________________________________________________________________

### I have one questions

 **Can we find responsive design test report?**

[2019-03-30 21:14] kwoxer commented on #3840
Sounds great. Gonna test it.

[2019-03-30 23:55] brian-mann commented on #3840
Read through the best practices and watch this talk I gave last year: https://docs.cypress.io/guides/references/best-practices.html#Organizing-Tests-Logging-In-Controlling-State

[2019-03-31 05:27] Neurrone opened #3850 "Screen reader accessibility"
### Current behavior:

1. Various controls in the reporter with icons and labels on mouse hover don't expose alternative labels for screen readers:
	* Test controls: resume/restart, selector playground. These just get read as "button"
	* Statistics list: statistics like the actual no. of tests passed can be read, but the label is purely iconic.
2. Runnables list doesn't expose whether the node is

[2019-04-01 03:31] brian-mann commented on #787
@flotwig or @jennifer-shehane 	 	is this fixing the issue here? It says it's addressing the comments... should we lock this issue then?

[2019-04-01 03:37] brian-mann commented on #1253
@flotwig 	should we close this issue as `wontfix` since you provided the necessary workaround steps?

If not how should we conclude this issue?

[2019-04-01 03:39] #672 closed

[2019-04-01 03:39] #1469 closed

[2019-04-01 03:39] #1541 closed

[2019-04-01 03:39] #939 closed

[2019-04-01 03:39] #1039 closed

[2019-04-01 03:39] #1470 closed

[2019-04-01 03:39] #1608 closed

[2019-04-01 03:39] #2295 closed

[2019-04-01 03:39] #3192 closed

[2019-04-01 04:12] acyuta108 opened #3852 "After upgrading to 3.2.0 specs won't run on chrome or chromium only on Electron browser"
### Current behavior:
[code]
![image](https://user-images.githubusercontent.com/923103/55303105-8b489100-5401-11e9-822c-27b1d5bfb142.png)

Debug output:
[code]

### Desired behavior:
Browser should open and run selected spec(s)

### Steps to reproduce: (app code and test code)
[code]

If I clear (rm -rf ~/.config/Cypress) the config folder it gets recreated on next run, but error persists.
If I sw

[2019-04-01 04:14] BasieP commented on #1253
The workaround stoped working in the latest release...

On Mon, 1 Apr 2019, 05:37 Brian Mann, <notifications@github.com> wrote:

[2019-04-01 05:53] msalahz commented on #3515
@jennifer-shehane : I had the same issue since last Friday and upgrading to version 3.2 didn't help, Can you advice ?

[2019-04-01 08:24] Lakitna commented on #3838
Logging is not documented very well yet. It might be good to have some examples. [Here I have an example of an overwritten command in javascript](https://github.com/Lakitna/cypress-commands/blob/develop/lib/then.js#L33). And [here from the `.type()` command in coffeescript](https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cy/commands/actions/type.coffee#L66).

[2019-04-01 09:11] lukasdonko commented on #3388
fixed with version 3.2.0

[2019-04-01 09:11] #3388 closed

[2019-04-01 09:11] #3739 closed

[2019-04-01 09:16] 0xIslamTaha commented on #3841
@jennifer-shehane any updates?

[2019-04-01 09:59] GordonTester commented on #3459
I see this every now and then within my tests - it's intermittent and can affect any of my tests.

In this particular example, I've visited the page once already and on second visit after performing other tasks I am shown the white screen

![image](https://user-images.githubusercontent.com/36920951/55319607-275bb200-546d-11e9-9656-a2df3052451b.png)

[2019-04-01 11:46] royalrex commented on #3589
+1
I'd love to see this feature as well.

Recently been doing a lot of API changes in our product, and then running all specs to find problem areas. After fixing issues in one test, it would be nice to rerun just that, or as @SDESkowronski proposes a way to select what it() statements to run eg. a UI for .skip() and .only()

[2019-04-01 11:48] brian-mann opened #3855 "Automatically detect proxy settings in windows"

[2019-04-01 11:52] brian-mann opened #3856 "Display current proxy settings in the Desktop GUI Settings"

[2019-04-01 11:55] brian-mann opened #3857 "Keep-alive connections over http"

[2019-04-01 11:58] brian-mann commented on #3856
Fixed by https://github.com/cypress-io/cypress/pull/3531

[2019-04-01 11:58] brian-mann commented on #3856
Fixed by https://github.com/cypress-io/cypress/pull/3531

[2019-04-01 11:58] #3856 closed

[2019-04-01 11:58] brian-mann commented on #3855
Fixed by https://github.com/cypress-io/cypress/pull/3531

[2019-04-01 11:58] #3855 closed

[2019-04-01 11:59] brian-mann commented on #3857
Fixed by https://github.com/cypress-io/cypress/pull/3531

[2019-04-01 11:59] #3857 closed

[2019-04-01 12:27] tiborm commented on #3515
@jennifer-shehane It seems like this issue is intermittent. We're still facing with it once out of five builds. Temporarily we had to remove Cypress from our Travis pipeline.

[2019-04-01 13:19] jennifer-shehane commented on #3852
The only change I can think of from 3.2.0 with the extension was us adding an extension id

Had you at some point set up some permissions around allowing Cypress as a Chrome extension within your company or anything in the past?

[2019-04-01 13:40] #2923 closed

[2019-04-01 14:09] flotwig commented on #1253
@BasieP Which workaround are you referring to?

[2019-04-01 14:21] jennifer-shehane commented on #3647
I don't know much about available outside reporters to be honest, you'd have to do some googling.

[2019-04-01 14:30] jennifer-shehane commented on #3589
There is this issue for running a subset of *files*: https://github.com/cypress-io/cypress/issues/3607

Also there is this issue for running a single test (which I think is what this issue is mostly a duplicate of) https://github.com/cypress-io/cypress/issues/925

Closing as duplicate.

[2019-04-01 14:30] #3589 closed

[2019-04-01 14:42] jennifer-shehane commented on #3841
Sorry, nothing is pointing to the exact reason yet. Can you run the install with the DEBUG logs? https://on.cypress.io/debugging#Print-DEBUG-logs

[2019-04-01 14:51] jennifer-shehane commented on #3849
`cy.stub().log(false)`

Does this work?? This is not an intended use of `.log()` as far as I understand it. `.log()` is a parent command meant to be directly chained off of `cy` and should log what is passed in as an arg, I don't think this would affect the `cy.stub()` logging.

Aside from this, I would advocate for extending the `options` of most of our commands to allow for `snapshot: false`, ju

[2019-04-01 14:53] jennifer-shehane commented on #3847
Why though? 🤦‍♀️

[2019-04-01 14:54] bahmutov commented on #3847
Not enough defensive programming

Sent from my iPhone

[2019-04-01 14:57] jennifer-shehane commented on #3459
Hey @GordonTester, is there any error logged in your console when opening DevTools?

[2019-04-01 14:58] jennifer-shehane commented on #3838
Yeah, it is very poorly/not documented ☹️https://github.com/cypress-io/cypress-documentation/issues/110

[2019-04-01 15:05] jennifer-shehane commented on #787
@brian-mann Many of the earlier comments were experiencing a proxy issue that will be resolved by this PR https://github.com/cypress-io/cypress/pull/3531 and the release of 3.3.0 - specifically these comments:

- https://github.com/cypress-io/cypress/issues/787#issuecomment-339024837
- https://github.com/cypress-io/cypress/issues/787#issuecomment-363499210

Although the original issue is the error

[2019-04-01 15:12] ajhartenbaum commented on #3842
Odd question, but does it work if you go back to Cypress version 3.1.5? We seem to be having an issue with clicks on 3.2.0. Might be related

[2019-04-01 15:17] Lakitna commented on #3838
Is there any progress regarding those improvements Brian wants to make? Maybe something to include in 4.0?

[2019-04-01 15:23] jennifer-shehane commented on #3842
@vijeeshvofox thanks for providing the application and test code.

When I run the test provided running `npm run test:e2e`, I see the following error in the Test Runner:

<img width="553" alt="Screen Shot 2019-04-01 at 9 50 01 PM" src="https://user-images.githubusercontent.com/1271364/55339243-4fc4ca00-54c8-11e9-8713-85abc7119b60.png">

Cannot read `app` of undefined - the error message indicates

[2019-04-01 15:34] DoctaCloak commented on #3207
I second that @johanneslumpe.  Would love to jump in on this.

[2019-04-01 16:06] miniak commented on #3568
I am one of the Electron maintainers. Do you need any help with the update? Electron 1.8 is not supported anymore. You should move to a supported version if possible. Electron 3 could be an option as well as it still supports OS X 10.9.

[2019-04-01 16:08] miniak commented on #3568
You should also target the latest Electron 4 release, which is 4.1.3 at this time, to make sure you have all the latest security fixes.

[2019-04-01 16:59] blm126 commented on #3438
I believe I have run into this exact same issue.   I started to using the following command instead of cy.visit() directly as a workaround.

[code]

This is very annoying, but it is getting me past the problem.  I tried debugging Cypress as well, and the logs clearly show that buffers.set() and buffers.take() calls are not always matched correctly. This incorrect "caching" causes cookies to resurr

[2019-04-01 17:52] vijeeshvofox commented on #3842
On the button click event, I have called a method called "updateHighlights()". It is not getting fired on the cypress.
On the test file, I have used below code
Please find the screenshot of my running application

[2019-04-01 18:49] luismiguelbravo commented on #2188
I can not public the screenshot of seconde situation because confidentialy police, but I gone make and example whit express problem.

[2019-04-01 19:38] luismiguelbravo commented on #2188
@bahmutov this work just right
![image](https://user-images.githubusercontent.com/5140529/55354372-f34bb580-549b-11e9-8dd0-078115afa227.png)

I will check my code
Thanks for your atention :D

[2019-04-01 20:00] flotwig opened #3859 "Move the `node-debugging-proxy` and `cypress-fetch-page` test dependencies under Cypress"
We're using [`node-debugging-proxy`](https://github.com/flotwig/node-debugging-proxy/) and [this page](https://flotwig.github.io/cypress-fetch-page/index1000.html) in the performance tests for the proxy server. We should move these to be under Cypress's GitHub org.

[2019-04-01 20:35] itslenny commented on #3825
@flotwig This is a local run on my laptop. It only failed to connect once which is pretty typical on my laptop. On the server it usually retires 3 times (occasionally only 1 or 2).

I purposely made the first test fail (and I have it set to bail on the first failure) so it'd be a shorter log. This issue basically entirely exists before the tests start, but I figured I'd give you an end to end log

[2019-04-02 00:53] ckbrewer33 commented on #3116
I was experiencing the same issue on Ubutnu 18.10, but got it working.
I did `unset NODE_OPTIONS`, and then `npm cypress install` and I was good to go.

[2019-04-02 03:47] colinwirt commented on #3717
For now you'll have to revert back to 3.1.5 if possible -- I found it works OK for my projects, does 3.1.5 work for you?

[2019-04-02 03:50] acyuta108 commented on #3852
I did read that in the CHANGELOG. I am pretty certain that's not the case. Another user reported the same issue to me via Nixos/nixpkgs repo.
I'll dig in to see if there is anything else we need to do in order to get Cypress 3.2.0 working on NixOS.

[2019-04-02 04:59] jennifer-shehane commented on #2214
@Karolis92 Any update? We will close this issue if you do not respond.

[2019-04-02 05:08] jennifer-shehane commented on #2972
I was looking for this today. I thought maybe just a `Cypress.test`

[2019-04-02 05:18] Karolis92 commented on #2214
Sorry, not working with that project anymore :) But like I said, we have put reporter dependencies to our project to be independent from cypress updates :)

[2019-04-02 05:45] Cubelaster commented on #3836
Will try that. Just give me some time. I'd really like to make use of Cypress cause it seems awesome but we can't run it if it fails our tests...

[2019-04-02 06:29] jennifer-shehane commented on #1549
Ugh, I do this all the time. I'm sorry 🤦‍♀️

Closing in favor of epic: https://github.com/cypress-io/cypress/issues/495

It is on our roadmap. We are currently experimenting with the implementation details.

[2019-04-02 06:59] #3850 closed

[2019-04-02 07:05] #3647 closed

[2019-04-02 07:07] jennifer-shehane commented on #1624
Closing this issue as resolved as others have noted they have been able to draw on openlayers.

[2019-04-02 07:07] #1624 closed

[2019-04-02 07:34] jennifer-shehane opened #3861 "html is not being escaped properly in error msgs within 3.3.0 pre-release"
### Current behavior:

In pre-release 3.3.0 (`develop` branch), errors html content is not being escaped properly as shown in screenshot:

<img width="541" alt="Screen Shot 2019-04-02 at 2 01 28 PM" src="https://user-images.githubusercontent.com/1271364/55384120-d8d31400-554f-11e9-85f6-122bd9ec0bca.png">

### Desired behavior:

In current 3.2.0 release, errors look correct:

<img width="437" alt="

[2019-04-02 07:42] chris-brighton commented on #3717
@colinwirt Yup I reverted and it works fine, as far as this bug goes. Thanks.

[2019-04-02 07:56] san-ouadghiri commented on #495
Is there a way (like an early release, or a branch to clone) to test this ?
Even without the slack & dashboard part it could be nice to try it and do an early qa/feedback. I think a lot of us would be interested in helping this way :). If that's not enough baked yet for a alpha/beta of this sort, no worries, I'll wait.

[2019-04-02 08:37] leepowellcouk commented on #2295
Just tried this on the `develop` branch - and sadly the updates don't seem to fix this issue.

[2019-04-02 09:51] christophehurpeau commented on #2983
Tried this plugin using only chrome and it works:

[code]

I think howerver it should be included in cypress.

[2019-04-02 10:06] leepowellcouk commented on #2295
Seems that if proxy settings are set in uppercase things don't work, so have to to use lowercase:

[code]

[2019-04-02 12:34] papb opened #3863 "Cypress tests breaks husky and pre-commit: TypeError: dest.end is not a function"
I have tests written in cypress. Calling `npm test` works perfectly. But then I defined a pre-commit hook with [husky](https://github.com/typicode/husky) and it runs the tests but breaks in the end with `TypeError: dest.end is not a function`.

At first I thought this was a problem with husky, not cypress, especially because running `npm test` directly works perfectly. So I [opened an issue on hus

[2019-04-02 13:42] bahmutov commented on #3863
interesting (and unexpected). Can you execute the commit hook with `DEBUG=cypress*` environment variable to see the debug logs?

[2019-04-02 13:46] bahmutov commented on #3568
Thank you @miniak for the offer, @chrisbreiding is there a way we can use Milan's expertise to help out?

[2019-04-02 13:53] ryan-snyder commented on #3863
This issue could be related as well https://github.com/cypress-io/cypress/issues/2181
I was looking into running cypress in a pre-commit hook as well but we decided to run it on a gitlab merge request so Im not dealing with it anymore. Using git bash on windows with pre-commit causes this error but running cypress through git bash normally works which is odd

[2019-04-02 14:01] desfero commented on #3845
@jennifer-shehane why we don't allow putting Unicode key codes inside curly braces like this
 `cy.get('...').type('This is page up {33}')` (https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/which) or even  better with `cy.get('...').type('This is page up {PageUp}')` (https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key)

[2019-04-02 14:24] chrisbreiding commented on #3568
@miniak Any help would be greatly appreciated. I'm incrementally upgrading Electron and working to fix issues along the way. There are [many failing tests related to upgrading to Electron 3](https://github.com/cypress-io/cypress/pull/3569), a lot because of [EPIPE](https://circleci.com/gh/cypress-io/cypress/91902?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) a

[2019-04-02 14:42] vesper8 opened #3864 "how do you detect that Cypress is running ?"
I want to disable certain security features on my Vue front-end when Cypress is running tests. How can I detect in the Vue code that Cypress is running?

I'm sorry that I wasn't able to find this answer which must have already been asked, I did search for over 15 minutes before posting this issue!

[2019-04-02 14:44] bahmutov commented on #3864
Sure: https://docs.cypress.io/faq/questions/using-cypress-faq.html#Is-there-any-way-to-detect-if-my-app-is-running-under-Cypress

[2019-04-02 14:44] #3864 closed

[2019-04-02 14:50] vesper8 commented on #3864
thanks

[2019-04-02 15:09] RadhikaVytla commented on #2563
I am facing the same issue. Can you let me know the solution here.

[2019-04-02 15:21] Jeevan-Kishore commented on #2213
@jennifer-shehane

As of version 3.2.0, the issue seems to remains the same.

To add bits to the above,

Our server responds with multiple `Set-Cookie` headers, the first one seems to get picked up by cypress and the other ignored.

We are sort of blocked on this as we are unable to automate our login systems,

I've attached a of screenshot of the same,

<img width="752" alt="Screenshot 2019-04-02

[2019-04-02 15:25] flotwig commented on #2295
@leepowellcouk Which part of it isn't working with uppercase variable names? It was tested with the expectation that users would use uppercase variable names, so it should work. Can you let me know what type of URL you're trying to load (HTTP/HTTPS) and your operating system?

[2019-04-02 15:27] glitchperfect commented on #1304
Is this issue also resolved with PR #3531?

[2019-04-02 15:33] leepowellcouk commented on #2295
@flotwig Requests to external assets over http fail with a timeout. Operating system is OS X. Changing to lowercase and it works for me.

[2019-04-02 15:33] xavivars commented on #2448
I'm facing exactly the same error, but no idea how to reproduce it in a way I can share it here.

[2019-04-02 15:35] flotwig opened #3865 "Handle lowercase environment variables as well as uppercase ones"
#3531 added support for the `HTTP_PROXY`, `HTTPS_PROXY`, and `NO_PROXY` environment variables. However, their lowercase counterparts `http_proxy`, `https_proxy`, and `no_proxy` are not considered, even though users are likely to use them. `request` library also supports these lowercase variable names out of the box.

[2019-04-02 15:45] flotwig commented on #2295
@leepowellcouk This is the line of code that decides if your request gets sent through an HTTP proxy or just sent normally:

https://github.com/cypress-io/cypress/blob/c1a345dce28f995e1da125d2306da46d8103f4c7/packages/network/lib/agent.ts#L153

All HTTP requests go through this as of #3531. It checks for `HTTP_PROXY`, not `http_proxy` - this is actually a bug, and I filed an issue to fix it at #38

[2019-04-02 15:46] leepowellcouk commented on #2295
This is one of the assets we are trying to access:
http://cdn.aviva.com/static/core/v.4.7.0/css/customer/core-split.css

As you can see network requests fail when using uppercase:
<img width="1439" alt="Screenshot 2019-04-02 at 16 42 54" src="https://user-images.githubusercontent.com/602052/55416487-c57f7300-5566-11e9-9870-53b8f567d94d.png">

However, lowercase works as expected:
<img width="1440"

[2019-04-02 15:48] leepowellcouk commented on #2295
Yes I'm definitely on `develop` -  I cloned your repo, built and ran. Then ran my tests from the resulting instance.

[2019-04-02 15:50] flotwig commented on #2295
Can you share the debug logs from that failing run? It might help to shed some light on the issue. Just run your Cypress command like this:

[code]

[2019-04-02 15:52] leepowellcouk commented on #2295
Sure - do you want me to post it here, or email you?

[2019-04-02 15:53] flotwig commented on #2295
Here should be fine.

[2019-04-02 15:53] tylergets commented on #457
@jennifer-shehane I detailed what I believe is the problem (and a potential fix) here https://github.com/cypress-io/cypress-docker-images/issues/54#

[2019-04-02 15:55] leepowellcouk commented on #2295
[code]

[2019-04-02 15:58] flotwig commented on #2295
@leepowellcouk Got your log, it looked you might have accidentally included some identifying information in it so I deleted your comment. Looking over it now. Thank you for helping to debug this issue!

[2019-04-02 16:05] flotwig commented on #2295
@leepowellcouk I think that there's an `http_proxy` environment variable set which is causing this bug. Do you also have an `http_proxy` variable set to `http://127.0.0.1:8080`, in addition to the `HTTP_PROXY` you're setting? Can you try unsetting any environment variables that might be interfering?

[code]

[2019-04-02 16:09] desfero commented on #3864
@vesper8 but please prefer to use env variables for cases where you want to add some additional logic to your application.
As in the case with `window.Cypress` (the one @bahmutov mentioned) all this code will land in your production bundle.
Maybe when the amount of additional cypress related code is not that big it's ok but if you want to add a lot of additional logic/routes you should prefer envi

[2019-04-02 16:25] leepowellcouk commented on #2295
Ah sorry, I had all those disabled this morning when I was trying to get this to work - give me a sec and I'll run it again with all those disabled - do you have an email I can send the new log to?

[2019-04-02 16:29] leepowellcouk commented on #2295
Ah, that's it ... I could of sworn I had that disabled this morning! Working as expected now. Thanks for taking the time to look at.

[2019-04-02 16:30] flotwig commented on #2295
Great! Glad you got it working. #3866 will make this less confusing, as it will always use the lowercase variables if they're available before using the uppercase ones.

[2019-04-02 17:14] vesper8 commented on #871
surely it can't be that hard to at least add an option to disable scrolling entirely when clicking on elements.. it would be nice to have the other options as well but at least give us a way to disable it.. this issue has been open for almost 18 months now!

[2019-04-02 17:19] vesper8 commented on #3249
How do you disable auto-scrolling please?

[2019-04-02 18:15] adamchenwei commented on #2697
@jennifer-shehane its been a while. any update?

[2019-04-02 18:27] vesper8 commented on #3864
@desfero could you be so kind to reply with a short example of how to set env variables inside Cypress that are detectable inside the Vue application? thanks a lot!

[2019-04-02 18:31] flotwig commented on #3717
This appears to be related to an update in the `parse-domain` dependency: #3437

I've tracked it down to be some change that happened when `parse-domain` went from `2.0.0` to `2.1.0`. It seems that `parse-domain` has stopped correctly handling certain public suffixes.

[code]

With `parse-domain@2.0.0`, this results in:
[code]

With `parse-domain@2.1.0`, this results in:
[code]

Seems like somethi

[2019-04-02 18:50] bahmutov commented on #3717
Great, also add a unit test to make sure going forward the domain Parsing is going to  stay correct

Sent from my iPhone

[2019-04-02 19:05] adamchenwei commented on #2876
having same problem.... latest cypress and imagesnapshot, why cypress is getting so buggie lol

[2019-04-02 19:25] ccorcos commented on #3829
8 tests. Takes a total of 10 minutes to run.

[2019-04-02 19:26] ccorcos commented on #3829
Still crashes in headless mode though.

I split all 8 tests into separate files and things seems to be working fairly reliably at the moment...

[2019-04-02 19:34] yusinto commented on #3650
I also encountered the same problem. Previously my app checks the Content-Type of the http response by doing a string comparison which fails. I refactored it so it checks the existence of the desired type instead:

[code]

I don't think you can always safely assume that browsers will only send 'application/json' in the Content-Type header. Hope that helps.

[2019-04-02 20:44] jennifer-shehane commented on #3249
@vesper8 There's a button in the header of the Test Runner to disable auto-scrolling.

<img width="721" alt="Screen Shot 2019-04-03 at 3 11 35 AM copy" src="https://user-images.githubusercontent.com/1271364/55434844-854bdf00-55be-11e9-861d-6f500bbf1b55.png">

[2019-04-02 20:58] jennifer-shehane commented on #2295
@flotwig Would be great to maybe add this as part of the new Proxy Configuration docs - just how to list the environment variables that are set on your machine.

[2019-04-02 21:58] ParkerD559 commented on #2798
This behavior is confusing. Specifying only a response status code should not be considered a "partial stub" because a response body is [not required](https://stackoverflow.com/a/8628757/6922497) for all methods/status codes.

[2019-04-02 22:23] vesper8 commented on #3249
thanks @jennifer-shehane

Is there a way to set it to always disabled through configuration? Especially when running the unattended 'cypress run'

[2019-04-02 22:45] #3717 closed

[2019-04-02 22:51] vesper8 commented on #3249
in any case I'm sorry to say but that button doesn't actually fix the auto-scrolling, whether it is enabled or disabled, when running the tests manually I mean, the jumpy auto-scrolling happens regardless... really wish there was a way to force the viewport to stay at the very top. Perhaps as a workaround, if there was a way to attach a cy.scrollTo('topLeft'); to every click() / type() event

[2019-04-02 23:04] #3859 closed

[2019-04-02 23:05] #3861 closed

[2019-04-02 23:07] vesper8 commented on #3249
if anyone else is running into this issue.. I made it go away with this hack (depends on jQuery):

[code]

[2019-04-02 23:08] vesper8 commented on #3450
if anyone else is running into this issue.. I made it go away with this hack (depends on jQuery):

[code]

[2019-04-02 23:08] vesper8 commented on #871
if anyone else is running into this issue.. I made it go away with this hack (depends on jQuery):

[code]

[2019-04-02 23:26] joekrump commented on #3515
@jennifer-shehane New error, now but still related to `yauzl`

[code]

[2019-04-03 04:58] jennifer-shehane commented on #3249
Oh, right, that only disables the scrolling of the Cypress Command Log on the left - not the auto scroll behavior when testing your application under test.

There is an issue open regarding the ability to change the scroll behavior of testing here: https://github.com/cypress-io/cypress/issues/871

[2019-04-03 06:16] jennifer-shehane commented on #2798
Yeah, I suppose the question is - if a `body` is not set, but a `status` is set, are you expecting Cypress to pass through the `body` from a non-stubbed response - the server's response? Or are you expecting the `body` to be `undefined` (since it is optional).

[2019-04-03 07:46] gituser3000 commented on #2700
We have similar issue, however wait ignores 100% of requests like PUT, POST and others (only get is okay).
we tried to catch requests with:
cy.route("PUT", "api/textObject/*").as("waitTextObjectReload").wait("@waitTextObjectReload");
or cy.route("PUT", "api/textObject/*", {}).as("waitTextObjectReload").wait("@waitTextObjectReload");
or cy.route("PUT", "/api/textObject/*").as("waitTextObjectReload"

[2019-04-03 08:01] danielschwartz85 commented on #3192
Thanks for the work ! 👍

[2019-04-03 08:57] younesea commented on #1271
Thanks @bahmutov for mentioning cy.task.

I had the same issue as @SLOBYYYY and created a task that fit my needs:

**plugins/index.js**
[code]

**So in your tests you can use it like this**

[code]

You can adjust the task so that it works for your project.

[2019-04-03 09:41] krishvv commented on #3846
@jennifer-shehane @maff @jbr @lorennorman . This issue is blocking us from using cypress :(
I would love to use cypress for our automation . Can you please let me know if  i can provide data so that this issue can be debugged?
These https:// urls have SSO .

[2019-04-03 10:24] msty commented on #1805
The real solution to the problem in the original post is this:

[code]

@jennifer-shehane Not sure why you link to docs about how `cy.visit()` works when the issue is clearly about waiting for a page to load after the `cy.click()`

[2019-04-03 10:51] ddx32 commented on #136
I struggled with iframe tests in Cypress for a short while before I found a concise way to write them using what's currently available. If you use a particular iframe in your test file repeatedly, you can clean up the syntax by moving the wrap function into `beforeEach` call like this:

[code]