[2019-04-03 12:19] dwelle opened #3871 "cy.invoke doesn't retain `this` context on object methods"
### Current behavior:

`cy.invoke` doesn't retain (properly bind) `this` context on object methods.

### Steps to reproduce: (app code and test code)

[code]

### Versions

cypress: `3.1.3` (haven't seen any `cy.invoke`-related fixes in changelog, so I assume it's still not fixed in newer versions)

[2019-04-03 12:23] #3865 closed

[2019-04-03 12:48] DomDabrowski commented on #3829
Hello!

I have the same problem. I run 25 tests (12 files) with Chrome on my local machine. Whole execution takes about 12 minutes (estimated from running them all separately). Cypress starts to slow down circa about 8 minutes after start, then crashes.

[2019-04-03 12:57] QuackMartins commented on #144
+1

[2019-04-03 14:05] Lakitna commented on #3829
Hmm now that I think about it, the other day I read about someone having issues with snapshots because of very large css files. #2366

Could this be related to your issues?

[2019-04-03 14:28] Betree commented on #1777
Had the same issue with the following `browser`:

[code]

https://github.com/cypress-io/cypress/issues/1777#issuecomment-458842728 doesn't solve it for me.

It also happens when I select Electron 59 instead of Chromium in the cypress client.

The line that causes the issue is:

**Config**

- My `baseUrl` is set to `http://localhost:3000`
- Tested on Cypress 3.1.5 and 3.2.0
- Ubuntu 18.04

**Previe

[2019-04-03 14:42] rbrondgeest commented on #781
The issue narrows down to the following:
- Cypress visits the `baseUrl` in your cypress config.
- If you didnt provide a baseurl it will visit localhost with a random port.
- It clears cookies, sessionStorage, localStorage etc. on this domain.

Cookies are scoped per domain name. If your test spans over multiple domains cookies will *NOT* be removed on all of these.

This will result in your tests

[2019-04-03 14:50] Betree commented on #1777
For those who really need to move forward, here is my to cents hack to bypass this issue:

[code]

[2019-04-03 15:22] AbdullahZN opened #3873 "Overriding user-agent when using cy.request"
### Current behavior:

`cy.request` overrides the **user-agent** if it is provided in the `options.headers` object of the request

### Desired behavior:

If the `User-agent` is explicitly set in `options.headers` object when using `cy.request` it should not be overwritten with the current browsing session's **user-agent**.

### Steps to reproduce: (app code and test code)

e.g:

This implementatio

[2019-04-03 15:25] #2141 closed

[2019-04-03 15:28] AbdullahZN commented on #3873
I already have a working PR to handle this if you guys are ok to integrate the feature.

[2019-04-03 15:46] nikhilesh009 opened #3874 "Is it possible to use cy.task inside support(command.js) ?"
I have created a fixture which will fetch all credentials.
[code]
i checked ,plugin file works correctly:
i am trying to add this task on commands.js
[code]
what i want ? - i am trying to log in beforeEach

[code]
[code]

[2019-04-03 15:51] RandallKent commented on #745
Closing in favor of https://github.com/cypress-io/cypress/issues/1767

[2019-04-03 15:51] #745 closed

[2019-04-03 16:35] vijeeshvofox opened #3875 "Cypress error : Node Sass could not find a binding for your current environment: Windows 64-bit with Node.js 8.x"
I am getting an error "Node Sass could not find a binding for your current environment: Windows 64-bit with Node.js 8.x. Found bindings for the following environments:   - Windows 64-bit with Node.js 10.x"
To solve this  issue I have researched and could not solve the issue. I have tried the solutions from the following link, but never worked
https://stackoverflow.com/questions/37986800/node-sass-

[2019-04-03 17:19] miniak commented on #3568
Those failing tests could be caused by upgraded Node.js inside of Electron

[2019-04-03 18:24] marinakuranda opened #3878 "Cypress 3.2.0 under Manjaro Linux fails with libnode.so: cannot open shared object file: No such file or directory"
Hello friends, thank you for Cypress, I'm experiencing an issue with the latest update.

Any advice on fixing this?

### Current behavior:

[code]

### Desired behavior:

Cypress should open the UI.

### Steps to reproduce: (app code and test code)

- Install Cypress under Manjaro Linux.
- Run the open command.

### Versions

Cypress v3.2.0

[code]

[2019-04-03 18:43] platan commented on #2370
In our case is just a matter of last frames. Currently we have only one test. We are using cypress 3.2.0 + docker cypress/base:8. An example incomplete video: https://47779-7910045-gh.circle-artifacts.com/0/root/project/cypress/videos/main-page.spec.js.mp4 (artifact from https://circleci.com/gh/badges/shields/47779#artifacts/containers/0). At the end this should be shown:
![Screenshot from 2019-04

[2019-04-03 19:10] ccorcos commented on #3829
Hmm. No, but we have about 4MB of gzipped javascript...

[2019-04-03 19:25] chrisjpatty opened #3879 "Environment variables being ignored (--env method)"
### Current behavior:

The documentation for the `--env` cli method of using environment variables doesn't make it clear if these environment variables should also be available when running in headed mode. When I call this cli command:

[code]

The environment variables appear to be completely ignored. When I log the `FULL_URL` variable like this:
[code]
the log is undefined.

### Desired behavior

[2019-04-03 19:29] bahmutov commented on #3879
@chrisjpatty read the documentation https://on.cypress.io/environment-variables - you should pass with `npx cypress run --headed --env FULL_URL=testurl.com`

[2019-04-03 19:29] #3879 closed

[2019-04-03 19:49] rhythmicdevil commented on #2952
Cypress.Cookies.preserveOnce() is still not working as far as I can tell. This [page](https://docs.cypress.io/api/cypress-api/cookies.html#Preserve-Once) shows that you can/should add it to the beforeEach function on your test. I have done that. The first test 'Check the state of the button bar' works as expected. The second test 'Submit form' does not.

    describe('Customer Profile', () => {

[2019-04-03 20:33] sjones6 opened #3881 "Reporter doesn't receive test failures"
### Current behavior:

In CI, I'm seeing the following sporadically:
1) Despite being tests in a file, Cypress shows a failure. The logged message "No Tests to Report" comes from the reporter which doesn't receive information about the test run.
![Screen Shot 2019-04-03 at 4 26 03 PM](https://user-images.githubusercontent.com/12819256/55510882-45701080-562d-11e9-9206-bea9cd5bda10.png)
2) Cypress r

[2019-04-03 20:38] sebastianheise commented on #819
While not actually testing the above PR, it did give the crucial tip to check for permissions on `~/.config/`. So this solved my `cypress verify` issue.
_More debug info === more good_ ;)

[2019-04-03 20:59] sjones6 commented on #3881
One more detail, the no test reported seems to come just before this:
[code]

[2019-04-03 21:00] vesper8 opened #3882 "logged-in state is lost after test causes another POST request"
I'm confused here. I have this very simple test that logs my user in, then visits a page that requires the user to be logged in, views a form and clicks the submit button

[code]

The login part uses JWT, anyway that part works fine. It then visits the route `/form` and views the form element. This form is only visible to logged-in users, I can clearly see that at this point the user is logged in,

[2019-04-03 23:23] Clairly opened #3883 "Test passing despite failed BDD assertions after FileReader.onload"
### Current behavior:
I'm trying to test that our app is generating a correct .xlsx file. In order to verify the contents, my test is reading the file using FileReader. However, I've noticed that even if there is a failed `expect().to.equal()`-style assertion, the test passes.

![image](https://user-images.githubusercontent.com/4543140/55518910-9a5e5780-562a-11e9-81da-66c57cda8cad.png)

### Desire

[2019-04-04 04:53] krishvv commented on #3846
I tried using cy.request as well and here is the detailed error
==============
CypressError: cy.request() failed on:

http://fm6gwww6608.amr.corp.intel.com:8080/KitTool/KT3/KT3KitTool/KT3Home.aspx

The response we received from your web server was:

This was considered a failure because the status code was not '2xx' or '3xx'.

If you do not want status codes to cause failures pass the option: 'fai

[2019-04-04 05:17] DomDabrowski commented on #3829
Adding `"numTestsKeptInMemory": 1` to my `cypress.json` helped so looks like Cypress is short of memory after a few executed tests.

[2019-04-04 07:51] MatteoGioioso commented on #3729
Hello, any update on this?

[2019-04-04 08:19] lampo4ka opened #3884 ".trigger(mousemove) doesn't work with slider"
Hi!

I try to check behaviour of slider. I need to click on it and move it to the right.
According to your spec I should use `.trigger()`

I use:

[code]

### Current behavior:

Slider doesn't move at all

### Desired behavior:

Slider should move a little bit (according this coordinate  `.trigger('mousemove',  50, 10)` )

### Versions

Cypress 3.2.0

[2019-04-04 08:40] TSangani commented on #3207
@Bkucera - Do you have an ETA for IE11 Support?

[2019-04-04 09:04] Harshit2318 opened #3885 "Hi i am geting this error don;t know the exact reason"
Hi i am getting this error don't know the exact reason.

`type()` - type into a DOM element
[code]

[2019-04-04 10:42] enjikaka commented on #677
Also ran into this now. For performance we show/hide elements with`opacity` rather than`display`. Cypress considers an element hidden with `opacity: 0` to be visible, failing our test with `.should('not.be.visible')`.

[2019-04-04 12:51] Lakitna commented on #3885
Is the application you want to test running?

[2019-04-04 12:56] Lakitna commented on #3882
I believe that Cypress considers every test (`it` block) a new session. See this article for details about the why https://docs.cypress.io/guides/references/best-practices.html#Creating-%E2%80%9Ctiny%E2%80%9D-tests-with-a-single-assertion

[2019-04-04 13:16] jennifer-shehane commented on #3881
Hey @sjones6, can you provide the test code that is within the spec file that is reporting "No tests to report."? Thanks!

[2019-04-04 13:18] jennifer-shehane commented on #3883
Hey @Clairly, do you happen to have this code anywhere in any of your test + support files?

[code]

Returning false here will not fail the test when an uncaught exception is caught, but still display the assertion as failing.

[2019-04-04 13:25] jennifer-shehane commented on #3846
Hey @krishvv, thanks for providing the information from the `cy.request()`, this helps!

It looks like you are using NTLM authentication. Unfortunately, this is not fully supported at the moment in Cypress - see https://github.com/cypress-io/cypress/issues/850

However, a user has published a plugin claiming that it handles NTLM authentication within cypress here: https://github.com/bjowes/cypress

[2019-04-04 13:25] #3846 closed

[2019-04-04 13:39] jennifer-shehane commented on #3729
@MatteoGioioso Can you try to set `modifyObstructiveCode: false` in your `cypress.json`? https://on.cypress.io/configuration#modifyObstructiveCode

This is a bit of a guess that this may change things. I'm thinking that maybe a chunk of the script was modified to try to avoid framebusting, but it's modified the googleads so that it's Content-Type is incorrect? The error you are seeing is generally

[2019-04-04 13:41] jennifer-shehane commented on #3884
Can you check this thread to see if any of these workarounds fix it? It may be the same issue - that the `change` event is not triggered. https://github.com/cypress-io/cypress/issues/1570

[2019-04-04 13:48] jennifer-shehane commented on #3878
I'm seeing this same error pop up in some of Electron's issue threads, but didn't find a solution (although libnode is not used in Electron 4+)

@Bkucera @flotwig ideas?

[2019-04-04 13:52] jennifer-shehane commented on #3875
Hey @vijeeshvofox, could you tell us what you did to get this error? How did you install Cypress? What command did you run when you got this error? Where are you running this command from (a terminal? IDE?)? Thanks!

[2019-04-04 13:55] jennifer-shehane commented on #3885
Are you behind a corporate proxy? If so, try these workarounds - but we also have a fix coming soon for this. https://github.com/cypress-io/cypress/issues/1469

[2019-04-04 14:02] jennifer-shehane commented on #3882
Yes. @Lakitna is correct. Each `it()` is run in isolation, by itself - not in sequential order. So any state from a previou `it()` will be completely wiped.

You will want to add the `cy.mockLoginAndGoto('form');` into a `beforeEach`.

You may alternatively also have one longer test that goes through the login and tests this, but then have a 'shortcut' login for the rest of your tests (so it doesn

[2019-04-04 14:02] #3882 closed

[2019-04-04 14:05] flotwig commented on #3878
That's kind of a strange error, since we bundle `libnode.so` with Cypress when we publish the binary. I have some ideas to gather more information.

@marinakuranda Can you check some things? Do you have `libnode.so` in `/home/username/.cache/Cypress/3.2.0/Cypress`? If not, you might want to try deleting `/home/username/.cache/Cypress/3.2.0` and reinstalling. Perhaps the unzipping got interrupted.

[2019-04-04 14:17] jennifer-shehane commented on #1777
I'm not able to replicate this issue by simply visiting 2 localhosts, with 1 of the localhosts being set as my `baseUrl`.

In Chrome Version 73.0.3683.86

![](http://g.recordit.co/WX2Fddp2Ha.gif)

**test code**

[code]

**cypress.json**

[code]

Can you verify that visiting the second localhost directly - with no baseUrl set - loads the page properly? I want to make sure there is not some misdirec

[2019-04-04 14:23] vesper8 commented on #3882
@Lakitna @jennifer-shehane I disagree, I believe that I have identified a bug here. The reason I say this is because in my test, I login in the first it(), and then I perform 10+ it() where I am NOT logged out, so clearly it's not true that entering another it() immediately clears the session. I can clearly see from my UI that I remain logged in for all of the it() tests, not only that but the for

[2019-04-04 14:39] aboutlo commented on #448
First apologies for the comment which is not trying to fix the actual problem. 🙏
Then let's say cypress is really cool and I really liked to use it 🙌

However, I can't suggest / use it to anyone until this is fix it.
The workaround is fine but far from being a good solution.
Being by default blind in CI is a big deal.

[2019-04-04 14:44] minams2 opened #3886 "I'm trying to run the same test both in chrome and electron, In chrome, it runs fine but in electron it fails with unhandled exception"
I'm trying to run the test in both chrome and electron. In chrome it runs fine but in electron it fails with exception. Manually if i check in electron i don't get any exception.

Help is much appreciated

[code]

[2019-04-04 15:10] fr0 opened #3887 "should('have.text', ...) should ignore leading and trailing whitespace"
If your HTML happens to have whitespace in the tag, e.g., `<div> foo  </div>`, that text will not impact how the user sees the page, unless it is a `<pre>` element. I don't think that the `'have.text'` assertion should fail just because it found ` foo ` when it was expecting `foo`.

If you're not willing to change this (since it is technically a breaking change), maybe there should be a `have.text

[2019-04-04 15:30] rhythmicdevil commented on #2952
My work around for this is to use white listing. I put this in the commands file where SESSION is the name of my cookie. Its not ideal, but it works.

`Cypress.Cookies.defaults({
    whitelist: 'SESSION'
})`

[2019-04-04 15:39] flotwig opened #3888 "Don't package non-Windows ffmpeg builds with Windows build"
In 3.1.5 and onwards, there are copies of ffmpeg for every target architecture in the Windows download adding about 150mb:

![image](https://user-images.githubusercontent.com/1151760/54288306-a439f100-457d-11e9-97c8-2c1bb22ffc90.png)

[2019-04-04 15:50] Lakitna commented on #3882
Could it be that the `it`s before the failing one all do things that do not require an active session but only a loaded page?

When you log in you create a session and then you load the page where your application checks the session. It might be that there isn't another session check until you try to interact with the backend (via POST in this case).

Though I'm really shooting in the dark here wi

[2019-04-04 16:12] astraljames commented on #1479
I am still running into this issue in 2019, never the same test, always during long runs.

[2019-04-04 16:21] bahmutov opened #3889 "3.3.0 Windows build breaks kitchensink aliasing test on AppVeyor"
Current `develop` branch commit `3f3ec50adbcc5ecbb21a189f695ac81765662806` Windows build breaks test cypress-example-kitchensink "examples\aliasing.spec.js" on AppVeyor CI

https://ci.appveyor.com/project/cypress-io/cypress-test-example-repos/builds/23603100

[code]

![Screen Shot 2019-04-04 at 12 20 25 PM](https://user-images.githubusercontent.com/2212006/55571728-0fd23280-56d4-11e9-9c2d-fe3da7f8

[2019-04-04 16:34] nikhilesh009 commented on #3874
found solution

[2019-04-04 16:34] #3874 closed

[2019-04-04 16:36] TechnoCraftCons commented on #1125
@nashoshinoda Thanks Man it worked!

[2019-04-04 16:40] Clairly commented on #3883
A-HA! I do, but in an unrelated test file. How do I reset this listener when it's no longer needed? I'm not seeing it in the docs, but I might just be missing it.

[2019-04-04 16:43] cjohn17 commented on #1393
cy.get(mainMenu).should('have.css', 'height', ...)

This mostly worked for me, except I get an error back that the expected value is 55, but the returned value is 55px. How to account for this?

[2019-04-04 16:59] bahmutov commented on #3889
- I have enabled dashboard recording for `cypress-example-kitchensink` when running on AppVeyor from cypress-test-example-repos
- I have added a failed log JSON plugin to cypress-example-kitchensink and pushed as branch 3.3.0 which should be used next time it builds the commit message. This will show more information in the terminal, especially the list of registered aliases, something like this

[2019-04-04 17:12] bahmutov opened #3890 "cannot overwrite cy.route command"
Cypress 3.2.0

Aliases test in cypress-example-kitchensink. I am trying to overwrite `cy.route` command to display the route to be spied on.

[code]

Gives me an error message

[code]

If I return undefined, then alias `as` seems to not work - even as it is shown in the list of registered aliases

[code]

`cypress run` output

[code]

[2019-04-04 17:14] bahmutov commented on #3890
I can see the route in the list but there is no aliases, which means the `cy.route(...).as(...)` combination did not work

<img width="656" alt="Screen Shot 2019-04-04 at 1 14 04 PM" src="https://user-images.githubusercontent.com/2212006/55574915-9d655080-56db-11e9-82b8-8255cb96c818.png">

[2019-04-04 17:20] flotwig commented on #3887
There's a related feature request here for making `cy.contains()` strip newlines: #92

[2019-04-04 18:17] gracenoah commented on #2610
We've been seeing this issue in CI for as long as we've been using cypress.

[code]

[code]
doesn't fix the issue:

[code]

The directory exists but the binary is missing:
[code]

[2019-04-04 18:20] gracenoah commented on #2610
Looking at this particular agent's history, I see that the job was killed part way through while running yarn install:
[code]

[2019-04-04 18:27] bahmutov commented on #3889
I have enabled DEBUG logs on cypress-test-example-repos when it runs cypress-example-kitchensink

[2019-04-04 19:37] arichter83 commented on #1152
Just a quick note for **Atom**: the second `cypress/tsconfig.json` with `"types": ["cypress"]` and `"extends": "../tsconfig",` was only recognized after restart.

[2019-04-05 01:17] mateosilguero commented on #3890
Quickly check:

Could you try to write the route as '/comments/*' instead of 'comments/*' ?

[2019-04-05 01:37] vctormb commented on #2839
@Bkucera why this line ``cy.document().trigger('selectionchange')`` is needed? Btw, great solution!

[2019-04-05 04:38] WTK commented on #794
What does that mean in practice though? If I'd like to write cypress.io tests in python would that be an option?

I imagine that one way it could be handled is via python code with similar api to cypress, code that is simply used to generate valid Javascript in the background and run it using usual cypress tools.

[2019-04-05 04:57] krishvv commented on #3846
@jennifer-shehane Thanks a lot . Will check out the plugin

[2019-04-05 06:14] vijeeshvofox opened #3893 "Cypress unit test for a component which depends an event from out side of the component"
I have a component which contains drop down. The values on the drop down is filled based on the `click` event of the page tab. The page tab is outside of this component. So we have the source code to emit the event from page tab to the component

`this.$router.app.$emit('RefreshCategories', 'blog');`

on the component we listen an event using below source code

[code]

The method `GetCategories(da

[2019-04-05 06:30] jaypan commented on #909
It doesn't really make sense to me that the testing URL cannot be set per environment in the environment settings. I want to commit cypress.json to GIT, and have cypress.env.json handle environment specific variables. The URL of the testing server is dependent upon the environment. If I put that URL into cypress.json, and commit it to Git, then it will only work on environments that happen to use

[2019-04-05 06:41] makwanaparth94 opened #3894 "Close the cypress browser after executing all testcases"
#3894

Step 1: `npx cypress open`
Step 2: Click on spec file that i need to check

**Expected : Once the execution of spec file completed , browser should automatically close.

Actual : Not able to close cypress browser automatically like we do in protactor and selenium.**

How to achieve this mechanism?

[2019-04-05 07:04] vijeeshvofox commented on #3875
I have  component which is included a sass file `import './BlogDetailsComponent.style.sass';` .  Then I created unit test for this component. I am getting an error, when I run this test file on cypress.  Please find the screen shot of the error that I am getting

![image](https://user-images.githubusercontent.com/49022053/55607353-9ac93080-5799-11e9-84fe-ae41cd400a80.png)

The test file is  workin

[2019-04-05 08:11] Lakitna commented on #3894
I don't think you really need it. Try `cypress run` instead

[2019-04-05 10:14] cbromberg opened #3895 "Mocha's afterEach is missing "this""
### Current behavior:

In mocha it's documented behaviour that you can access `this`, which in turn gives access to currentTest. See `Mocha.IBeforeAndAfterContext;` just like in `beforeEach`.

With Cypress intercepting `this` and inserting the screenshooter there, it misses to pass on the `this` project, here's the code I found in the debugger:

[code]

where `fn` is the user-defined `afterEach` f

[2019-04-05 10:51] krishvv commented on #3846
The plugin is working awesome .  Thanks

[2019-04-05 11:10] gituser3000 commented on #2700
update:
[code]
this makes cypress to catch requests. 'Get' requests tend to fail from time to time when written in one line like this:
`cy.route("GET", "api/textObject/*").as("waitTextObjectReload").wait("@waitTextObjectReload");`
so we have splitted it in two parts too.
Also calling cy.server right before catching requests can make waits fail. This is strange and should be mentioned in docs, i su

[2019-04-05 11:13] ousmaneNdiaye commented on #1225
The only way I succeed to run a single test file was using : ```npx cypress run --spec```instead of ```npm run cypress:run --spec```.

[2019-04-05 12:04] mxrguspxrt commented on #695
Element visible, works well, test fails randomly.

[2019-04-05 12:31] rafael-anachoreta commented on #1611
My use case is slightly different - I want to check how the page behaves before JS runs to see if it matches our SEO needs.

Is there any known workaround to achieving it?

[2019-04-05 13:43] devsh4 commented on #943
This happens randomly. However the only thing consistent is that it happens on cy.visit() or cy.reload() commands.

[2019-04-05 14:17] Mattinn commented on #3515
@jennifer-shehane `yauzl` strikes again! This time on cypress 3.2.0 into a gitlab-jenkins pipeline

[code]

[2019-04-05 14:22] bahmutov commented on #3515
we need to include zip size and checksums for the downloaded zip file for
each platform when we build them. The NPM CLI should check these after
downloading ...

On Fri, Apr 5, 2019 at 10:17 AM Matthías Leó <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twi

[2019-04-05 15:14] madelson commented on #1401
Would be great to see this fixed

[2019-04-05 15:26] alexlee-dev commented on #3559
This happens to me using Electron / Cypress 3.1.5.

[2019-04-05 15:41] jmclocklin commented on #1401
This issue is blocking us from using Cypress - a fix would be super useful.

[2019-04-05 16:58] smithhan opened #3896 "Atlassian Pipeline Cypress failed to start."
### Current behavior:

Hello,

I want to push my code to my bitbucket and pass pull request.

Pushing is good now.

But in building and test part is failed from the cypress part.

![image](https://user-images.githubusercontent.com/40197547/55644106-127d7680-57ff-11e9-9d05-ab53bdc3dfdd.png)
![image](https://user-images.githubusercontent.com/40197547/55644124-24f7b000-57ff-11e9-948e-f2503490c886.png

[2019-04-05 17:00] flotwig opened #3897 "Remove @cypress/get-windows-proxy from CLI"
In an effort to keep the size of the npm package down, remove @cypress/get-windows-proxy from the CLI and just detect proxy from registry if they're in the server.

This will mean that `cypress install` on Windows will not automatically read proxy settings from the registry. Users will have to set up their proxy environment variables to do `cypress install` behind a proxy.

[2019-04-05 17:03] orwell1984 commented on #2938
We seem to experience same issue.

See https://travis-ci.org/orwell1984/explorer/builds/516284960 for CI run and https://github.com/orwell1984/explorer/blob/master/cypress/integration/clades_info.spec.js for code.

[2019-04-05 17:56] AllanPinheiroDeLima commented on #76
@jennifer-shehane @brian-mann
I'm using an nedb implementation for simulate database inside my tests, so I have many custom functions running in and out all the time.

I've found something interesting, as the response sent through the server is meant to be in the body, why the response is sitting in the headers? Is there any reason to do that ? Because of this, the header gets much, much bigger th

[2019-04-05 18:58] Songyu-Wang commented on #3894
The `cypress open` is designed to keep open when we are developing tests, the file watcher will detect code change and rerun updated test. If browser is automatically close, that feature will be useless.

[2019-04-05 19:04] Songyu-Wang commented on #3875
i had similar problem before and resolved it by just doing a `npm install sass` manually. The conflict version is resolved and installation should be always correct in the environment

[2019-04-05 19:33] dylanbromby commented on #2610
Same exact experience on latest macOS Mojave. Been happening for a while. Install works - within a day or so - same error.

[2019-04-05 20:08] flotwig opened #3899 "Separate Electron, Cypress app code, and ffmpeg into individual downloads"
## Current Behavior

Cypress is downloaded as one large .zip (140MB zipped, 387MB unzipped on Linux) file that contains Electron, Cypress's app code, and ffmpeg.

Updates are sent out as new versions of the .zip, containing all three of those elements.

## Desired Behavior

Cypress would split up the installation process into three parts:

1. Downloading Electron launcher
2. Downloading ffmpeg
3.

[2019-04-05 20:12] flotwig opened #3900 "Bundle Node.js separately, run with just Node.js in CI, make browsers dependencies"
## Current behavior

The `server` package currently runs inside Electron's node environment, which is pegged to Node 8.2.1 for Electron 1.8.2. In run mode, Electron is really just used as a convenient node.js runtime, since we don't make use of any of the native functionality it exposes.

## Desired behavior

Make all the `server` code compatible with an off-the-shelf Node.js instance. Then, ship

[2019-04-05 22:58] vesper8 commented on #518
@TrueMan777

Hi and thanks for sharing your solution! I'm rather new to Cypress. I tried dumping the above code inside my cypress/support/index.js but that is throwing an unexpected error. Do you need to wrap it or do something extra?

This is my index.js before and after

[code]

[code]

I am now receiving this error:

[code]

Any idea what's wrong? Thanks!!

[2019-04-05 23:46] hdavidzhu commented on #1380
@brian-mann Do you know of a good example of Google's Oauth implementation in Cypress? I'm looking at https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/logging-in__single-sign-on/cypress/integration/logging-in-single-sign-on-spec.js and am curious how this looks when interacting with Google.

[2019-04-05 23:47] westhomas commented on #909
@jaypan Nice. I was a bit surprised to find out there was no ability to overwrite settings in a cascading manner out-of-the-box. I think that would be helpful.

[2019-04-06 01:09] TrueMan777 commented on #518
A wild guess, could change the `before` clause to :
`before(function () {
    cy.getCookie('has-failed-test').then(function(cookie) {
        if (cookie && typeof cookie === 'object' && cookie.value === 'true') {
            Cypress.runner.stop();
        }
    });
});`

[2019-04-06 01:35] jaypan commented on #170
Thanks to all on this thread keeping it up to date with working solutions. I managed to put together my own, based on a few of these, which I'll add, as maybe part of it can help someone else.

`
    const selector = ".some-file-input";
    const fixturePath = "audio/test.mp3"; // relative to the cypress/fixtures directory
    const mimeType = 'audio/mpeg';
    const filename = "test.mp3";

    cy

[2019-04-06 06:24] smithhan opened #3901 "Dependencies missing while using docker image - Cypress failed to start."
### Current behavior:
I am trying to integrate cypress into our deployment process and I am using one of the your docker images

[code]

### Desired behavior:
I want it to not fail

### Steps to reproduce: (app code and test code)

### Versions

- Platform: linux (Debian - 9.8)
- Cypress Version: 3.2.0
- Browser Version: headless

[2019-04-06 07:19] smithhan commented on #1556
Can you help me?
I am getting error when I build in bitbucket.

![image](https://user-images.githubusercontent.com/40197547/55666272-a2aad280-5876-11e9-880c-ef0e3b05dfcb.png)

This is my bitbucket-pipelines.yml

`image: atlassian/default-image:2

clone:
  depth: 1       # include the last commit only
options:
  max-time: 5

definitions:
  caches:
    yarncash-circleci: /home/circleci/.cache/yarn/v

[2019-04-06 07:33] smithhan commented on #1556
Hi.
I am getting same issue - cypress start is failed
Can you recreate my  bitbucket-pipeline.yml?

  depth: 1       # include the last commit only
 options:
  max-time: 5

  caches:
    yarncash-circleci: /home/circleci/.cache/yarn/v4/
    #yarncash: /usr/local/share/.cache/yarn/
  steps:
    - step: &futureCode
        name: Test potential future code
        image: "circleci/node:8-browsers"

[2019-04-06 11:00] vesper8 commented on #518
I just removed the `typeof cookie === 'object'` since that was causing problem and I don't think it's absolutely necessary

My specs only contain a single test, I want all specs to be aborted on first fail, and this isn't causing this to happen for me.. is it working like that for you?

[2019-04-06 14:00] timidak commented on #248
I was wondering which component would be the best one to listen to `keyBoardEvents` and emit events with with the `events` lib. 🙂I saw how it works in `packages/reporter/header/controls.jsx` but I don't really know where to implement the functionality.

[2019-04-06 18:03] ngbrown opened #3902 "Selector playground doesn't correctly escape period in id"
### Current behavior:

When using the selector playground on an element (`select` or `input` in my case).  The selected element it has a `name` attribute and an `id` attribute.  Both attributes have a periods in them, like `id="form.name.last"`.  The code shown and copied to clipboard from the selector playground is incorrect.

This is what gets shown and copied to the clipboard:

![Screenshot - 2

[2019-04-06 19:33] AleksandrBorovkov commented on #1244
@jennifer-shehane I also face this issue after updating to Cypress 3.2.0. Some of the tests failed with this error. As I understand the root cause - when I load fixture using ```.route(/notifications/, "fixture:notifications``` this error appeared because I have folder and file with same name ```notifications``` in project structure. When I expicitly set extension like notifications.json, it fixed

[2019-04-06 19:45] brian-mann commented on #1244
@AleksandrBorovkov this has already been fixed in `3.3.0` and pending release. The original issue is here: https://github.com/cypress-io/cypress/issues/3739

Closing this as a duplicate.

[2019-04-06 21:13] #3897 closed

[2019-04-07 02:23] clarmso commented on #3423
It is a fun bug lol. The bug is on isSpecialChar and isModifier called from typeChars in packages/driver/src/cypress/keyboard.coffee.

Please note the following behaviour of the Javascript dictionary behaviour:

{alt: false, ctrl: false}

false

undefined

ƒ toString() { [native code] }

The last one is not ok.

![whid](https://user-images.githubusercontent.com/1740517/55677703-9c3e4a00-58ba-11e9-

[2019-04-07 08:30] danielschwartz85 opened #3904 "Exceptions in global 'after' are not shown correctly in UI"
Hi
When throwing exceptions in a global scoped 'after'  the error is not shown correctly in the UI.
Couldn't find any issue describing this so sorry if it's a duplicate.

(could be related to https://github.com/cypress-io/cypress/issues/2296 or
/ and https://github.com/cypress-io/cypress/issues/3348)

![then](https://user-images.githubusercontent.com/4113198/55680851-00e3be00-5928-11e9-9633-5af1ac

[2019-04-07 09:08] TrejGun opened #3905 "localStorage is not being resolved sometimes"
when i'm using `localStorage.getItem` in `before` function to get some user data from storage sometimes (randomly) it is not being resolved by test engine so it spews error ```Uncaught TypeError: Cannot read property 'getItem' of null```

to fix this use `window.localStorage.getItem`

i can't provide steps to reproduce or other useful info so i believe this bug will be closed soon but i'm posting

[2019-04-07 18:22] marinakuranda commented on #3878
Thank you very much! Deleting cache and reinstalling Cypress helped!

[2019-04-07 18:22] #3878 closed

[2019-04-07 18:31] macalinao commented on #3083
I have this issue too. Hope this can get resolved!

[2019-04-07 19:35] vctormb opened #3906 "Cypress docker gitlab example failing in test stage"
### Current behavior:
I'm trying to add Cypress to the pipeline on Gitlab using this example [cypress-example-docker-gitlab](https://gitlab.com/cypress-io/cypress-example-docker-gitlab). When it goes to the ``cypress-e2e`` or ``cypress-e2e-chrome`` job it fails.

The error message says: ``ERROR: No files to upload ``

![image](https://user-images.githubusercontent.com/13953703/55688698-cc84f780-59

[2019-04-07 19:48] bahmutov commented on #3906
Try not using chrome browser option - because video generation only is possible when using the built in Electron browser

Sent from my iPhone

[2019-04-07 19:57] vctormb commented on #3906
@bahmutov I deleted the ``cypress-e2e-chrome`` job and I still see the same error. Don't know what to do.

[2019-04-07 20:49] lighthurst commented on #1305
Workaround is increasing space size
[code]

[2019-04-08 00:04] TrueMan777 commented on #518
Interesting, I would never think that condition could trigger `ParseError: 'import' and 'export' may appear only with 'sourceType: module'` error.

@vesper8, it won't fail-fast the following tests but skip them. So you will still have the tests in the table but the execution time is now 1-2s. This works fine with me, at least for now. It is a workaround anyway.

[2019-04-08 03:14] clarmso opened #3907 "Strings end with '\n' cause Chrome only test failures"
### Current behavior:

The following tests from `tests/integration/commands/actions/type_spec.coffee` fail on Chrome 73 but pass on Electron 59:

* `can wrap cursor to next line in [contenteditable] with {rightarrow}`
* `can wrap cursor to prev line in [contenteditable] with {leftarrow}failed`
* `can use {rightarrow} and nested elementsfailed`
* `enter and \n should act the same for [contenteditab

[2019-04-08 03:29] MatteoGioioso commented on #3729
@jennifer-shehane Unfortunately it did not work.
Just to be sure, we are using service worker might that be an issue?

Thanks

[2019-04-08 05:55] jennifer-shehane commented on #3907
Thank you so much for opening such a detailed issue.`

Verified this is failing in `develop` for Chromium versions 72, 73, 75 - passing in Electron 59.

Also verified this is failing in `master` for Chromium versions 72, 73, 75 - passing in Electron 59, so it is not a regression in the 3.3.0 pre-release.

@bahmutov Are we running our tests against Chrome 64? Because this is quite old now. This sho

[2019-04-08 06:13] jennifer-shehane commented on #3423
@clarmso Let us know if you need any help contributing. Feel free to open a WIP (work in progress) PR that we can help with.

[2019-04-08 06:22] turkeyzawa commented on #2193
Is there any progress being made on this issue? This behavior makes our app broken because we use `document.domain` in the javascript to call our backend's apis.

[2019-04-08 06:32] jennifer-shehane commented on #3873
Hey @AbdullahZN, yes we would love an open PR - even one that is a work in progress is fine. Check out our [contributing doc](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) and ask us if you get stuck.

[2019-04-08 06:33] jennifer-shehane commented on #3873
Relevant issue regarding user-agent here: https://github.com/cypress-io/cypress/issues/3719

[2019-04-08 06:45] jbpallingayan commented on #170
using cypress-file-upload but no luck for me for excel file im using cypress 3.2.0

error:

[2019-04-08 06:48] jaypan commented on #170
Fixtures are relative to the cypress/fixtures directory. It's not finding your fixture file, so you've likely put in the wrong path. It should be located at one of the paths listed.

[2019-04-08 07:27] ganeshkadam111 commented on #953
cy.get('span').invoke('trigger', 'mouseover');
working for me

[2019-04-08 09:07] Ohrimenko1988 commented on #2366
For our project, we also have a similar problem with huge memory consumption. In our case, we have several long E2E scenarios which walk across all project. And for this tests, we should disable saving DOM statement ("numTestsKeptInMemory": 0). But exactly the possibility of easiest debugging for developers, without knowledge of testing framework was one of the key features when we choose a framew

[2019-04-08 09:25] szwagrzak commented on #2366
We have fronted app based on angular6 - we have also long E2E scenarios and often problems with "aw snap" crashed. We also set numTestsKeptInMemory": 0. This errors and slow performance almost make impossible to work with e2e tests.

[2019-04-08 09:27] Ohrimenko1988 commented on #3757
I fully support the idea of @mxrguspxrt, besides, I would be very grateful for the possibility to handle ".get()" errors. I know that conditional testing described as wrong approach but for really complex scenarios which run on different platforms, this possibility will be very helpful.
Because described example works well for current statement checking:
[code]
But for waiting statement we should

[2019-04-08 10:26] josh-byster opened #3908 "Random 7s printed to console during waits"
### Current behavior:
First, thanks for creating such a useful tool. It really makes testing much easier. This is very low priority, and something that may not be specific to Cypress but could be a Travis issue. Something I've noticed is that on Travis CI, consistently random 7s get printed to the console, only during Travis runs, seemingly when things take a while. What makes me think this may be

[2019-04-08 11:02] MartinJohns commented on #3874
@nikhilesh009 For the future: It's nice if you write down your solution, so other people in the future can use the information when they find this issue.

[2019-04-08 13:02] RossLote opened #3909 "Reset button not considered during Implicit submission of a form"
### Current behavior:

Cypress doesn't allow the user to implicitly submit the form with the `{enter}` key if either:

- there is a `reset` button before the `submit` button
- there is a `reset` button but no `submit` button.

All that happens is the form is cleared.

### Desired behavior:

Form should submit when Enter key is pressed if there is a reset button present

### Steps to reproduce: (ap

[2019-04-08 13:03] chrisbreiding commented on #248
There was [a PR](https://github.com/cypress-io/cypress/pull/2604) created to address this but the author wasn't able to finish it. I'd take a look at that for an idea, but start fresh. Check out [my comment](https://github.com/cypress-io/cypress/pull/2604#pullrequestreview-165207370) on where/how I'd recommend implementing this.

[2019-04-08 13:38] mikila85 commented on #3811
Hi @jennifer-shehane,
I am using the latest Chrome version:
`Version 73.0.3683.103 (Official Build) (64-bit)`

After running cypress from the cli i get a folder "videos/tests" and inside .mp4 files.
They run perfectly fine on my computer (Windows media player).
When i connect to a remote build and see the files output in chrome i have links to the files. and chrome wouldent play them.
when i click

[2019-04-08 13:40] #3423 closed

[2019-04-08 14:21] paulosborne commented on #3308
+1

[2019-04-08 14:32] jennifer-shehane commented on #2697
@adamchenwei I've followed up on the API, the issue doesn't appear to have originated from there - and instead the Test Runner is sending the wrong dimensions to the API.

We'll have to investigate how these dimensions are originally calculated within the Test Runner (which is this repo's open source code)

[2019-04-08 15:48] #716 closed

[2019-04-08 15:48] #3888 closed

[2019-04-08 16:13] Lakitna commented on #3895
This might be because Cypress 3.x is using an old version of Mocha (`3.5.3` where latest = `6.1.1`). This has been upgraded in the 4.0 branch.

[2019-04-08 16:22] jennifer-shehane commented on #3908
Yes, this seems to be happening in our Travis builds as well here: https://travis-ci.org/cypress-io/cypress-example-kitchensink/jobs/517316808

I have no idea how to even begin googling this as an issue in Travis, but this is not printing in our CircleCI builds: https://circleci.com/gh/cypress-io/cypress-example-kitchensink/2385

[2019-04-08 17:45] novarichuffman commented on #10
Would it not be easy to just make a custom command that uses prevSubject for an element than too just say subject.trigger('mouseover') so the command would be cy.hover() right after you get an element?

[2019-04-08 17:49] ianldgs commented on #3221
I can confirm that this happens not only with localhost but with any custom domains.
I was migrating tests to run on docker, and previously, the domain was lvh.me (a real domain, just has a DNS pointing at 127.0.0.1), which worked.

[2019-04-08 19:06] Bkucera commented on #3907
this commit fixes those failing tests https://github.com/cypress-io/cypress/pull/3891/commits/3f1d38862aa1456309167b5c7bfdd9c7544f08b2

will be merged in as part of https://github.com/cypress-io/cypress/pull/3891

[2019-04-08 19:17] akeresztesgh opened #3912 "Jenkins Error "Error: spawn cmd ENOENT""
Hi, I'm running Cypress on Jenkins in Windows and am experiencing strange behavior.  When I first setup Cypress to run in a build, it ran fine, but every time after that, it fails with `Error: spawn cmd NOENT`

Also, I changed the user that Jenkins runs as and Cypress ran only the first time the build ran, but after the first run, I get the same errors.

### Current behavior:

Opening Cypress...

[2019-04-08 19:38] flotwig commented on #3912
Looks like this error code is coming from the `find-process` module which we make use of in `packages/server`:

https://github.com/yibn2008/find-process/blob/62c9211c691e8ee46169b6df5e15a33c47f3aa23/lib/find_process.js#L120

https://github.com/cypress-io/cypress/blob/ef3c337b66ed2e4c00f252f252df0864dd42095e/packages/server/lib/util/find_process.js#L4

In your Jenkins job, do you just have `./node_

[2019-04-08 19:53] akeresztesgh commented on #3912
Hi and thanks for the reply.
I'm just running the command from a "batch command" inside of Jenkins.  I do know that Jenkins does set env vars but I'm not using them.

I could running it not inside of a windows batch command.

[2019-04-08 19:56] flotwig commented on #3912
Can you share your `Jenkinsfile` here?

[2019-04-08 19:58] akeresztesgh commented on #3912
I'm using a freestyle project (not pipeline).

![image](https://user-images.githubusercontent.com/1649410/55752889-0ec43c80-5a17-11e9-9df6-e45efeb87386.png)

[2019-04-08 20:00] akeresztesgh commented on #3912
In the pic, I tried switching it to powershell (instead of windows batch command) and got the same result

[2019-04-08 20:01] flotwig commented on #3912
Is your `cypress:headless` command `./node_modules/.bin/cypress run`? Try changing it in your `package.json` to just be `cypress run` - `npm` automatically looks for the binary in `./node_modules/.bin`

[2019-04-08 20:03] akeresztesgh commented on #3912
here's the script:
"cypress:headless": "./node_modules/.bin/cypress run"
I changed it to:
"cypress:headless": "cypress run"

It gets me to the same spot (error)

[2019-04-08 20:03] onetwothreebutter commented on #3419
@bahmutov My team is experiencing this issue with long unzipping of Cypress too.

[2019-04-08 20:33] akeresztesgh commented on #3912
I find it odd that Cypress runs correctly the first time, but after that it continues to fail.  (If I change users to something new, it will run once, and then continue to fail.)

[2019-04-08 20:40] akeresztesgh commented on #3912
@flotwig could you explain how you tracked down the location of this issue?  I'm not a node guru and this could definitely be beneficial in the future.

[2019-04-08 20:47] szokrika commented on #2370
Same here, I can confirm that a few frames are missing from the end of the generated video...

[2019-04-08 20:53] flotwig commented on #3912
@akeresztesgh Yes, definitely a weird issue, not sure why exactly it's happening though

Sure, I can explain:

1. I searched for the string `WMIC path win32_process get Name,Processid,ParentProcessId,Commandline` from the error in our codebase using VS Code
2. That didn't return any results, so I used [`ag`, the silver searcher](https://github.com/ggreer/the_silver_searcher) to power-grep through

[2019-04-08 21:01] akeresztesgh commented on #3912
@flotwig thanks!

[2019-04-08 21:10] stubar commented on #10
I'm not sure I follow, would that pseudo css :hover effects?

[2019-04-08 21:32] flotwig commented on #2095
We have fixed this by also building for Windows 32-bit.

The code for this is done in [cypress-io/cypress#3877](https://github.com/cypress-io/cypress/pull/3877), but has yet to be released.
We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-04-08 21:33] flotwig commented on #3706
We have fixed this by also building for Windows 32-bit.

The code for this is done in [cypress-io/cypress#3877](https://github.com/cypress-io/cypress/pull/3877), but has yet to be released.
We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-04-08 21:33] flotwig commented on #787
We have fixed this by also building for Windows 32-bit.

The code for this is done in [cypress-io/cypress#3877](https://github.com/cypress-io/cypress/pull/3877), but has yet to be released.
We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-04-08 21:33] #787 closed

[2019-04-08 21:57] judsoncarver opened #3914 "Hang in Jenkins CI when run on Windows node"
My team runs Cypress E2E tests in Jenkins on Mac/Windows10 Jenkins nodes with latest Chrome.

We've noticed recently that Cypress hangs indefinitely in Jenkins with certain tests on the Windows node, and it seems isolated to when it calls to `cy.screenshot` and `cy.viewport` (we resize viewport to test responsive, etc.)

### Current behavior:

The test runs are set up in freestyle projects that ex

[2019-04-08 22:01] akeresztesgh commented on #3912
@flotwig as a test, I moved cmd.exe out of c:\windows\system32 and placed it into a temp folder, and added that to the path and it worked.

It's odd because I'm certain that system32 is in the path.

[2019-04-08 22:46] hdavidzhu opened #3915 "Cypress run never completes, creates a memory leak."
### Current behavior:

Our monitoring is detecting that

[code]

hangs and never resolves.

Over time, one of our parallel test runners gets a memory leak and can't complete new tests.

![image](https://user-images.githubusercontent.com/3756871/55761546-7fb62500-5a14-11e9-9012-c55e61afc572.png)

### Desired behavior:

Test run should finish, not hang, and not cause a memory leak.

### Steps to rep

[2019-04-08 22:54] brian-mann commented on #3915
It's likely not a problem with `ffmpeg` - you're likely seeing increased memory usage because if a test is hanging and never completing - then the run stays open... which then records more video.

Although it writes ffmpeg frames to a stream that should write to disk immediately, it's not buffered in memory.

Is that graph of the ffmpeg process or the cypress process?

Also tests shouldn't actuall

[2019-04-08 23:03] hdavidzhu commented on #3915
Thanks! I'll try:

- [ ] `DEBUG=cypress:* cypress run`

It is the same test, and it doesn't hang locally. I'll do more logging and see what we come up with.

[2019-04-09 02:38] xeger commented on #1661
On a related note, the Cypress theme is amusingly almost identical to the default colors of the Mac OS X Dark theme.

These issues aren't enough of an annoyance that I feel like leaping into action to teach myself Chrome plugins - but if I get a bee in my bonnet at some point I'll try to puzzle through both of theme.

[2019-04-09 03:42] szokrika commented on #2370
I've kind of 'made it work' by adding a `wait(1000)` to the end of the test...

[2019-04-09 06:00] Harshit2318 opened #3916 "How to capture a radio button having same values"
Hi all,

i have two radio button with same values how can i capture a particular radio button click

<input id="1003_r_Create" type="radio" name="KT3" value="1003" style="margin-left:100px;">

<input id="1003_r_Modify" type="radio" name="KT3" value="1003" style="margin-left:100px;">

Thanks in Advance

[2019-04-09 06:07] basarat commented on #1859
@SeriousM `--noEmit` is a TypeScript compiler parameter. It tells TypeScript not to emit any `.js` (or `.d.ts`) files. You can use it to tell TypeScript to do a full type check but leave the transpilation to something else. In cypress case the emit will be done in memory by cypress+ts-loader OR hopefully cypress+internalBabelWithTsSupportWithZeroConfigNeeded :rose:

[2019-04-09 07:22] testquantilope commented on #3713
@amirrustam @bahmutov The stage is still needs information. Is there any information I can still provide?

This issue keeps happening for us and really slows down our testing, since the same tests running in parallel fail.

[2019-04-09 07:31] MarS919 commented on #3906
What's the result of the `install` job (especially the output of `$(yarn bin)/cypress verify`)? It seems it can't find the cypress binary at all.

[2019-04-09 07:34] brian-mann commented on #3713
We've reproduced this locally and are aware of the bug. It's due to running multiple groups - there is an edge case where the first group get's created (and prevents additional groups from being duplicated) - but when additional new named groups are added they the specs are additionally inserted incorrectly.

We've seen this happen with our own spec files. We'll have a patch out this week for sure

[2019-04-09 07:55] Kocal opened #3917 "Can't chain negative `cy.should()` with a `.find()`"
Hi :)

I'm having an issue while trying to using `.find()` after a negative assertion on an attribute.

### Current behavior:

![Sélection_517](https://user-images.githubusercontent.com/2103975/55782699-277f3180-5aad-11e9-8051-9bd2e87fc4a7.png)

### Desired behavior:

Using `cy.get('...').should('not.have.attr')` should yield the current element, like `cy.get('...').should('have.attr')` does.

![S

[2019-04-09 07:58] Kocal commented on #3917
Well, in fact I don't know if it's really a bug or a requested feature, because the [docs](https://docs.cypress.io/api/commands/should.html#Yields) says:

:man_shrugging:

[2019-04-09 09:04] testquantilope opened #3918 "A fail in the after each hook covers the fail in a test run"
### Current behavior:

When a test case fails and the following after each hook also fails, only the error from the after each hook is printed in the cypress dashboard, but only the fail screenshot of the test case is included.

**Example**
This screenshot is attached to my failed test:
![image](https://user-images.githubusercontent.com/35334883/55787506-b6dd1280-5ab6-11e9-9381-b4f95692205b.png)

[2019-04-09 09:19] jennifer-shehane commented on #3918
Yes, this is a bug that we actually JUST encountered ourselves. The work is already in progress for fixing this. Thanks for opening an issue!

[2019-04-09 09:27] jennifer-shehane commented on #3917
Yeah, I think the difference is the use of 3 arguments versus 2 arguments.

[code]

[code]

This second example changes the subject to the 'data-sorted' attribute, because you can usually further chain.

[code]

I think the fact that the first example with 3 arguments is a bit weird that it returns the DOM element, but this comes directly from [Chai jQuery's implementation](https://github.com/chai

[2019-04-09 09:27] #3917 closed

[2019-04-09 09:37] krishvv opened #3919 "Passing parameters to cypress using cli"
Hi,

Is There a way we can pass command line arguments to a cypress script in order to make it truly scalable .

To explain in detail , We have a script `a.j`s That selects some values from list boxes(As of now these values are hardcode) . If there is a way we can parametrize these values , then the same script can be used to select multiple values

[2019-04-09 09:39] jennifer-shehane commented on #3919
Can you provide some of the code examples you've already tried? I'm not sure at what level of the test you are at that you want control over.

[2019-04-09 09:54] AbdullahZN commented on #3873
Thanks @jennifer-shehane, I just opened the PR for this feature.
Regarding `cy.visit` issue, it will require more work and I think should be part of another PR.
Does that sound right?

[2019-04-09 09:59] YOU54F commented on #3207
Chromium based Microsoft edge was released yesterday on insiders

https://www.microsoftedgeinsider.com/en-us/download/

would be cool to see if this works with Cypress, if I get some time, I might have a go

[2019-04-09 10:22] krishvv commented on #3919
@jennifer-shehane . Thanks for the reply .
Code snippet
---
it('.select() - select an option in a <select> element', () => {
        cy.get('#cbLegalName').select('Graphics Driver - 64 Bit')
        cy.get('#cbReleaseLevel').select('100')
        cy.get('#cbReleaseVersion').select('(32-bit & 64-bit)')
        cy.get('#cbBuildVersion').select('(64 bit)')
    })
---------
I wanted to know if these v

[2019-04-09 11:03] prashantabellad opened #3921 "Event based calendar is not rendered on Electron browser"
### Current behavior:
I am using event based calendar eg Full Calendar product. Based on non business days the calendar days render different colours. This is not  displayed or rendered on Electron browser. The same works on Chrome in non headless option.

Below is sample div element generated by the Full Calendar product which is rendered on chrome but not on electron
[code]

### Desired behavior

[2019-04-09 11:38] vctormb commented on #3906
I noticed that when the `build` stage finishes and it goes to the `test` stage the node_modules doesn't exist. So if I put yarn install in the test stage it will work. Any tips?

[code]

[2019-04-09 12:15] mateosilguero commented on #3916
By using another identifier, or using https://docs.cypress.io/api/commands/eq.html to select the desire index.

[2019-04-09 12:51] karevn opened #3922 "Performance degradation after multiple runs"
### Current behavior:

I've got a pretty large SPA built in dev Webpack mode with hot reloads (build size is about 8Mb). It has about 20 test cases built with Cypress. When I run one test in a freshly start Cypress - it runs pretty quickly (initial page load takes about 2 sec which is fine).  But when I run the whole test suite - the performance decreases dramatically, and the same test can take u

[2019-04-09 13:14] Ravinderkaur04 commented on #136
I tried this solution but my test hangs when trying to find the next elements. I'm testing an application that  has all its main functionality in iframes. But my test only works until the first use of iframe command and hangs at the next use. For ex:

`cy.get('#iframeid').iframe().find('h1').should('have.text', 'Dashboard')
 cy.get('#iframeid').iframe().find('#button1').click()
 cy.get('#iframeid'

[2019-04-09 14:12] must-git-good commented on #3919
krishvv,

I'm pretty sure you can already achieve what you want here through the use of environment variables (which you can specify in the command line).  While your use case is slightly different, see https://docs.cypress.io/api/plugins/configuration-api.html#Usage for a general example.

We, for example, load up a bunch of different configurations depending on our environment. You can extend th

[2019-04-09 14:20] timidak commented on #248
Thank you! This helped me a lot. 👍
I'll create a PR in the next few days. 🙂

[2019-04-09 15:13] antony-chiossi opened #3924 "Property 'Cypress' does not exist on type 'Window'"
### Current behavior:
I'm working on an Angular Application and I can NOT compile with webpack while exposing the store.

[code]

### Desired behavior:

How can I handle the exposure of the store (I read the documentation) in production scenario?
Have I to strip/add the code, that exposes the store, on-demand?

### Steps to reproduce: (app code and test code)

[code]

### Versions

[2019-04-09 15:18] achelonmm opened #3925 "Option to force browser cache not being cleared before each test"
### Current behavior:

Currently, Cypress clears the browser cache before each test is run.

### Desired behavior:

I wonder if it could be possible to, somehow, make Cypress not clear the cache before each test is run.
In our app we have a page that loads a 40Mb file when it loads and stores it on the cache. By clearing the cache before each test it's kind of a suicide to automate this section, s

[2019-04-09 15:51] jennifer-shehane opened #3926 "Assertions run outside of a test should be handled properly in Cypress (not throw internal errors)"
### Current behavior:

When you write assertions outside of a test (failing & passing), Cypress throws an error "cannot read 'id' of undefined"

This is being thrown when attempting to create the logs for a test when the runnable is undefined.

Furthermore, Cypress attempts to iterate over the stylesheets of the current document. Since there is no document, this throws an error that it "cannot rea

[2019-04-09 18:26] hdavidzhu commented on #3915
I'm getting the following logs:

[code]

Our app uses continuous 20s long-polling, and it could be that the long-polling is confusing Cypress's proxy layer, never resolving a test.

For now, I'll try to terminate any new requests at the end of a test to see if that helps.

[2019-04-09 19:23] #3926 closed

[2019-04-09 20:08] must-git-good commented on #3902
The spirit of Cypress (as I see it) is to make sure your applications work as expected. I feel like changing Cypress to support non-typical html naming conventions would (even inadvertently) support practices that aren't universally recognized (which just increases the chance of running into some other kind of actual breaking-behavior somewhere else).

Maybe I'm wrong and dot notation in html has

[2019-04-09 20:51] bahmutov commented on #3924
easy solution to this TypeScript problem: `// @ts-ignore`

another solution: tell your TypeScript that there is property `Cypress` and property `store` on `window` object. See how to do this here https://slides.com/bahmutov/ts-without-ts#/28 (click down arrow to see slides explaining the solutions) and read https://github.com/bahmutov/test-todomvc-using-app-actions#intellisense

[2019-04-09 20:51] #3924 closed

[2019-04-09 23:00] kmichetti commented on #1379
Same issue

[2019-04-09 23:37] Clairly commented on #3883
Hi @jennifer-shehane -- I've removed the `Cypress.on('uncaught:exception' [...]` section, and the test is still passing despite the assertion failure. Is there anything else that springs out at you about the code provided above?

[2019-04-10 00:10] ithompson4 commented on #3847
Can I try fixing this? Thanks.

[2019-04-10 00:41] andezzat commented on #1379
I'm having this issue intermittently as well, it's got to do with the element being in one container that's a parent somewhere up the hierarchy.

---------------------
Cypress: 3.2.0
OS: macOS 10.14.2
Browser: Electron 59

[2019-04-10 00:53] tps7 commented on #3582
I am going to try to solve this. It does not seem like it has been worked on in a while

[2019-04-10 02:29] desfero commented on #3902
@must-git-good but it's completely valid `id` selector and the same with `name`. So not supporting such cases is just a bug in the implementation.

[2019-04-10 02:49] Harshit2318 commented on #3916
@mateosilguero  thanks i got it

@must-git-good  thanks man.
 I was having multiple identical names .. but for sure in two identical names your solution will work.

[2019-04-10 02:49] #3916 closed

[2019-04-10 06:12] jennifer-shehane commented on #3904
Thank you for providing a reproducible example! We're currently working on revamping many of the error messages, so this may be something we can work into that issue. https://github.com/cypress-io/cypress/issues/3762

[2019-04-10 06:15] jennifer-shehane commented on #3905
Can you provide the exact test code that you write within your `before` and `it` that sometimes fails?

[2019-04-10 06:21] jennifer-shehane commented on #3909
Interesting. And you have verified that typing and hitting `enter` manually *does* submit the form normally?

I know you are likely wanting to test the `enter` behavior, but just wanted to make sure you are aware of the `.submit()` command in Cypress.

[2019-04-10 06:25] #3845 closed

[2019-04-10 06:50] L-four commented on #2805
I am still seeing this issue. As per my example.

[2019-04-10 06:54] RossLote commented on #3909
I have checked that it works manually. Yeah I do know about the submit command, thanks.

In my specific use case there is no submit button in the form and it has to be submitted by the user hitting the enter key. There is, however, a reset button.

[2019-04-10 06:57] jennifer-shehane commented on #1244
@AleksandrBorovkov Your issues has indeed already been fixed in 3.3.0 and pending release from here #3739

But, this original issue was opened before the fixture regression and is unrelated to this fix. Reopening.

[2019-04-10 07:01] jennifer-shehane commented on #1244
I thought that perhaps an invalid directory was provided for the `supportFile` in the configuration, but upon testing this theory - an appropriate error is shown in Cypress version 3.2.0

<img width="912" alt="Screen Shot 2019-04-10 at 1 31 15 PM" src="https://user-images.githubusercontent.com/1271364/55858147-ed895a80-5b94-11e9-9980-19b5b24d123e.png">

Unfortunately we'll have to close this issue

[2019-04-10 08:00] Ravinderkaur04 commented on #136
The issue was with the application UI rendering. After introducing an initial wait of few seconds after page load, it worked fine

[2019-04-10 08:05] malimccalla opened #3931 "Testing page loading state"
I'm trying to test the loading state of my app when I click a link that navigates to a new page.

I've tried and failed to do so with `on.('window:beofre:load')`. Essentially what I want to do is:

[code]

[2019-04-10 10:19] msty commented on #136
@Ravinderkaur04 Could you explain a bit more how you solved it? I have an exact same issue and throwing in a `wait(2000)` here and there doesn't help.

[2019-04-10 10:31] HomoncikT commented on #2267
Hi,

Cypress fails with "Maximum call stack size exceeded" when select an item from the drop-down menu.
The error occurred unexpectedly in the test that had worked properly before. It appeared for the first time in version 3.1.5. Upgrading to 3.2 did not help. The test tries to select items from several drop down lists.

<img width="637" alt="Cypress-error" src="https://user-images.githubuserconte

[2019-04-10 10:36] Ravinderkaur04 commented on #136
@msty I simply introduced a cy.wait(5000) at the very first time the application loads

[2019-04-10 10:38] TrejGun commented on #3905
I dont think it is usefull to copy paste here half of our react app
long story short we have <UserProvider> which wraps whole app, and it calls
[code]
in componentDidMount

[2019-04-10 10:40] mjarsplitmedialabs commented on #136
@Ravinderkaur04 I am trying to send some details in an iframe but when I try to submit the data it has no values in JSON... What I am doing right now is to test buying a product via credit card. Is there any reason why it is not sending data? I tried preserving the cookies but so far its not working

[2019-04-10 10:44] TrejGun commented on #3905
oh yes i forgot to mention this is only happens in headless run

[2019-04-10 11:31] vijeeshvofox commented on #3842
@jennifer-shehane , Thank you for your reply. As you told, the `this.$router.app` was not available on the test file. So I have imported the VueRouter in to test file.

`import  VueRouter from 'vue-router';`

then I used below code to mount the component on test file

[code]

it is worked for me

[2019-04-10 11:31] #3842 closed

[2019-04-10 11:37] Lakitna commented on #3931
This might work if you delay the request that results in removing the loading indicator. See the last example here https://docs.cypress.io/api/commands/route.html#Options

[2019-04-10 11:40] Lakitna commented on #3925
The devs did this very purposefully and I don't think they want anyone to disable it because it will make it possible for tests to depend on each other.

Maybe the better question to ask here is if you really need that 40Mb file to be that big. Any user will run into the exact same issue regarding the load time. Some simple compression might make life better for everyone.

[2019-04-10 11:41] msty commented on #136
@Ravinderkaur04 When I try `cy.wait(5000)` after the page loads, but before the iframe loads - the same problem. When I try `cy.wait(5000)` after triggering the iframe loading, even the first test hangs. I'll look more into it, but if you have any further tips - they are very welcome.

[2019-04-10 12:06] plehnen opened #3932 "cy.route merge response with stubbed response"
### Current behavior:

Currently we can choose between stubbing (inline or by fixture) or getting the original response.

### Desired behavior:

Sometimes it is desired just to change on specific aspect of the response.
e.g. change a value, add a value, or remove a value.

For this, currently we have to re-build ALL whats in the response. If this response will be changed later, the fixtures have t

[2019-04-10 12:18] akapitoha commented on #695
Added assertion for width and `wait(100)` as suggested workaround. Worked locally, but fails when running in CI: either get same error about "effective width and height of 0x0..." or proceeds next to click(), but the click itself doesn't work (in my case dropdown should appear)

[2019-04-10 12:19] DynamiteTom commented on #3261
Can't start server

EPERM: operation not permitted, unlink 'C:\Users\DynamiteTom\AppData\Roaming\Cypress\cy\production\browsers\chrome\interactive\CypressCache\Default\Cache\data_1'

[2019-04-10 12:39] DynamiteTom commented on #3261
When I run any test within the Playground
the circular Opening Chrome 73 rotates but eventually comes up with the message

 Can't start server

EPERM: operation not permitted, unlink 'C:\Users\DynamiteTom\AppData\Roaming\Cypress\cy\production\browsers\chrome\interactive\CypressCache\Default\Cache\data_1'

[2019-04-10 12:39] DynamiteTom commented on #3261
This seems to be for all tests

[2019-04-10 12:44] malimccalla commented on #3931
thanks @Lakitna - Will give it a shot and report back

[2019-04-10 12:52] DynamiteTom opened #3933 "Can't start server error in the Playground when I run any test"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-04-10 12:52] DynamiteTom opened #3934 "Can't start server error in the Playground when I run any test"
### Current behavior:

Can't start server

[code]

### Versions

Version 3.2

[2019-04-10 12:53] DynamiteTom commented on #3934
Version 3.2

Can't start server

EPERM: operation not permitted, unlink 'C:\Users\DynamiteTom\AppData\Roaming\Cypress\cy\production\browsers\chrome\interactive\CypressCache\Default\Cache\data_1'

[2019-04-10 13:12] FoxelFox commented on #144
We are using Angular WebComponents and need this Feature.

[2019-04-10 14:10] funatronics commented on #3650
@yusinto yeah, that was my solution to this problem as well.

[2019-04-10 14:49] GonzaSSH commented on #136
Having the same issue with this solution. The test hangs loading forever:

`cy.get('#iframeid').iframe().find('h1').should('contain', 'text')`

[2019-04-10 15:46] junghanChoi commented on #3479
Korean web pages uses euc-kr Encoding.
I visited www.naver.com using cypress.
The encoding was broken.
Is there a way to set encoding in cypress?

[2019-04-10 16:17] warheartvik opened #9721 "Setting up Cypress unit testing with NUXT"
Does anybody managed to set up Cypress Unit Testing with Nuxt?

For e2e testing, which I know is the main feature of Cypress, the setting up is easy, and I started writing tests 1 minute later.

I have tried setting in up for unit testing using the instructions given for vue cli 3.

[https://github.com/bahmutov/cypress-vue-unit-test#vue-cli-3](url)

But Is not working in nuxt. Any documentation on

[2019-04-10 18:20] tnrich opened #3935 "Element is visible but can't be clicked"
### Current behavior:
Here is an image of a failing test :
![image](https://user-images.githubusercontent.com/2730609/55902802-21f31b80-5b81-11e9-9e73-d40b1a37cc02.png)

It is really confusing to me that the element is deemed "visible" by cypress, but then says that it is covered by another element and thus can't be clicked.

Here is the element that is covering it:
![image](https://user-images.gi

[2019-04-10 18:57] tnrich commented on #677
Also running into this right now. I agree opacity 0 element should not be considered visible/clickable. Definitely a bug IMO

[2019-04-10 19:22] #3185 closed

[2019-04-10 19:25] chrisbreiding commented on #3185
@jennifer-shehane The changelog for this should be taken from #477 since this is just a chore to get it out of the 4.0 branch. I'm going to mark that issue's Release as `3.3.0` since that's the truth of it.

[2019-04-10 19:29] tnrich commented on #677
Hmm I did find this article which makes the perhaps correct point that elements with opacity 0 do still take up space on the page so considering them not visible might not quite be correct.. https://davidwalsh.name/offsetheight-visibility

[2019-04-10 20:03] chris2kus31 opened #3936 "Cypress not opening libnode.so"
### Current behavior:

After running `./node_modules/.bin/cypress open`
I get the below error

[code]

### Desired behavior:

Trying to install cypress to start testing a symfony appliaction.

### Versions

linux mint

[2019-04-10 21:06] nchaudry commented on #944
I too am an advocate for this feature.  In the mean time how do I use cy.request for dynamic urls?
Our app creates workflows i.e. /workflow/3479 <-- This number is dynamic.  Upon form submission, it adds /task/968 <-- This stays the same as long as the same workflow type is selected and created from.  The end url we have is something like /workflow/3467/task/968.  We have limited testing server de

[2019-04-10 21:13] flotwig commented on #3936
Hey @chris2kus31, another user was having a similar issue with `libnode.so` not existing. Can you try the workarounds in the linked comment and let me know if it resolves the issue for you?

https://github.com/cypress-io/cypress/issues/3878#issuecomment-479911001

[2019-04-10 21:16] Lakitna commented on #3935
Visibility is not always the same as actionability. For the time being, you can work around this by using click like this:

[code]

[2019-04-10 22:07] chris2kus31 commented on #3936
It seems to run when you install the prior version of cypress.   Could that have anything to do with that?

Sent from my iPhone

[2019-04-10 22:39] flotwig commented on #3936
Maybe. When you update, Cypress downloads a .zip containing all the files it needs to run. Sometimes those .zip files have trouble unzipping which can cause issues like this. There are some open issues about improving how we verify/install the Cypress updates because this does happen from time to time.

Did re-installing Cypress 3.2.0 using the steps in my comment in the other thread fix the issue

[2019-04-10 22:46] chris2kus31 commented on #3936
No, it installed after I reverted back to 3.1.5

[2019-04-10 23:27] kelvinau opened #3937 "Chrome crashes with V8 js-flags using quotes"
### Current behavior:
Added launch option for V8 js-flags in `cypress/plugins/index.js`.

[code]
Chrome crashes after test case starts. If quotes are not used, i.e. `args.push('--js-flags=--expose-gc --expose-gc-as=abc');`, it is worked as expected.

### Desired behavior:

`args.push('--js-flags="--expose-gc --expose-gc-as=abc"');` works as without quotes.

### Steps to reproduce: (app code and te

[2019-04-10 23:48] Joelasaur commented on #944
I felt the same way until I actually spent a dozen hours trying to figure
out our Auth0 architecture. Trust me: put in the time now to figure this
out and you will profit in the future.

On Wed, Apr 10, 2019, 4:06 PM nchaudry <notifications@github.com> wrote:

[2019-04-11 00:27] pburkindine opened #3938 "{enter} for buttons"
### Current behavior:

Tester cannot `.type({enter})` on a Button element, activating it the same as a click, which is a 508 requirement.

### Desired behavior:

Tester can `.type({enter})` on a Button element, activating it the same as a click.

### Versions
cy 3.2

[2019-04-11 01:46] mateosilguero commented on #3938
It's working fine for me.
Could share some code ?
this is the way i'm running it:

```cy.get('button').type('{enter}')```

[2019-04-11 01:49] bahmutov commented on #3657
I have finally created a nice parallel example on Azure CI pipelines, here is the config file https://github.com/cypress-io/cypress-example-kitchensink/blob/master/azure-ci.yml

Builds https://cypress-io.visualstudio.com/cypress-example-kitchensink/_build/results

To parallelize I have used the variable `BUILD_BUILDNUMBER` which is the same among all parallel tasks in a job. The other variables re

[2019-04-11 01:50] bahmutov commented on #3657
Related: in build https://cypress-io.visualstudio.com/cypress-example-kitchensink/_build/results?buildId=197 I have printed all environment variables

[code]

[2019-04-11 06:14] jennifer-shehane commented on #3934
What operating system and version of npm are you using? I see this issue in 5.4.0 of npm https://github.com/npm/npm/issues/18287

[2019-04-11 08:02] Andras1000 commented on #3515
Any updates or suggestions for a workaround would be much appreciated as I get this error with Cypress 3.2.0 and CricleCI.

[code]

[2019-04-11 08:09] jennifer-shehane commented on #3937
Chromium flags are meant to be passed without quotations. The [Chromium team themselves do not pass quotations](https://cs.chromium.org/chromium/src/testing/buildbot/client.v8.fyi.json?q=js-flags&sq=package:chromium&dr=C) as well as our default args.

All we do is pass the flags onto Chromium. We'd rather not parse these args further before sending them on to Chromium, so we'll be closing this iss

[2019-04-11 08:09] #3937 closed

[2019-04-11 08:15] jennifer-shehane commented on #3931
We use the `delay` option also to test loading states. One example of a button showing a 'loading' spinner and disabling a button upon submitting a form from our tests:

[code]

Issues in our GitHub repo are reserved for potential bugs or feature requests, so I will be closing this issue.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypr

[2019-04-11 08:15] #3931 closed

[2019-04-11 08:17] jennifer-shehane commented on #3905
Hey @TrejGun, we do not need your application code - just wanted to see the code from your test file, the file that contains the cypress commands. Thanks!

[2019-04-11 08:17] gituser3000 commented on #3730
`cy.wrap(subject).trigger('change', {force:true});`
This solution works for chrome, but makes electron fail both on cypress 3.1.5 & 3.2.0

[2019-04-11 08:21] jennifer-shehane commented on #3932
Duplicate of https://github.com/cypress-io/cypress/issues/521

[2019-04-11 08:21] #3932 closed

[2019-04-11 08:25] TheRemjx01 commented on #3221
Any action to fix this yet? :(.

[2019-04-11 08:25] mpacary commented on #1935
Got exact same "Cypress logging" error on a project using Quasar framework (which uses VueJS) ; happens only when using `$this.router.push(...route...)` in a `mounted()` method of a component.

Seems like [the fix is pretty simple & already done for future version Cypress 4](https://github.com/cypress-io/cypress/pull/2880/files#diff-cd9e5c273c28d1b98e0e50633e67e594).

➡️ Dirty workaround for Cypre

[2019-04-11 08:49] maple-leaf commented on #2912
After digging into some source codes of cypress, could we introduce an env like `autoRunAll` for `open`, and check this env at `specs.jsx` file when it gui ready, If it's true, then auto trigger `run all Specs`.

I thinks this can be an option to reduce run time on CI caused by __browser relaunching__.

[2019-04-11 08:52] gituser3000 commented on #3730
In our specific case
`cy.wrap(subject).trigger('change', {force: true});`
didn't work out in electron with error:

this one works though:

`cy.get('[data-qa=file_upload_hidden_input]').trigger('change', {force:true});`

i believe this is somehow connected with jquery.fileupload we use

[2019-04-11 09:40] jasdeepkhalsa opened #3940 "Config routes with no response fail to be recognised as a route"
### Current behavior:

If we try to create the following route:

[code]

This is failed to be picked up by Cypress as a valid route:

[code]

The current workaround for this is to provide an empty response object, which is technically not correct behaviour, as this particular route does not return any response (not even an empty JSON payload):

[code]

### Desired behavior:

Routes without respons

[2019-04-11 11:09] timurmamedov commented on #3618
@jbpallingayan check what is in your call stack in DevTools as well and post it here. 'Aw Snap's normally happen if stack overflows happen or some other memory leak.

[2019-04-11 12:33] chris2kus31 opened #3941 "Cy.visit() does not load page"
### Current behavior:
Upon running cy.visity() and inputing a URL, the request times out.

### Desired behavior:
Trying to run a simple cy.visit() command but unable to

Page does not load and hangs until it times out.  On the command line there is a Head 500 error
### Steps to reproduce: (app code and test code)

### Versions
running 3.1.5 as i am having issues with 3.2

Linux

[2019-04-11 12:38] bamsir commented on #1235
I just encountered this issue in 3.1.5. It was the `window:beforeunload` issue mentioned by @astehlik .  I was able to use the user agent work around, but I don't find this to be an acceptable long term solution.  I need cypress to test my code as it is run in production, so adding code that makes Cypress ignore functionality is not a good thing.  Can this be reopened for further investigation int

[2019-04-11 13:04] sherryleneg opened #3942 "data-react-beautiful-dnd-draggable does not work with cypress drag and drop command"
Hi,

I have been trying to understand why the mouse/keyboard cypress commands don't work with the 'data-react-beautiful-dnd-draggable' in react for a web application we have developed. I am running the cypress tests on Chrome on an element of type 'form'.

I am attempting to drag and drop a series of text boxes by swapping them with each other. These text boxes can be identified using 'form id=X'.

[2019-04-11 13:12] mateosilguero commented on #3941
What is the url you are trying to visit ?

Could you share the line of code ?

[2019-04-11 13:14] pburkindine commented on #3938
I was able to solve the problem by adding a tab index to my button, which should probably have been there anyway.  Thanks!

[2019-04-11 13:14] #3938 closed

[2019-04-11 13:15] chris2kus31 commented on #3941
The tutorial URL.  https://example.cypress.io.  It lags and then times out.  on the command line i can see a HEAD 500 error.

HEAD / 500 48.458 ms - -
HEAD / 500 41.724 ms - -
HEAD / 500 37.204 ms - -
GET /generate_204 204 9.275 ms - -

[2019-04-11 13:21] mateosilguero commented on #3941
This works fine for me (v3.2.0)

[code]

[2019-04-11 13:59] chris2kus31 commented on #3941
right, it might be a proxy issue.  as it returns an error saying that Page could not load

[2019-04-11 14:11] mateosilguero commented on #3941
The pages load in the browser ? i mean, outside cypress.

i'm seeing this logs too
[code]
 but it's working anyway

[2019-04-11 14:13] chris2kus31 commented on #3941
The page doesnt load on my browser.  I get a 'page could not load" message

[2019-04-11 14:18] flotwig commented on #3941
Those `HEAD / 500` errors are unrelated, they're a result of Chrome's behavior, detailed in #3151.

@chris2kus31 if you're behind a corporate proxy, this is a known issue with visiting HTTPS domains behind a proxy and will be fixed in the upcoming Cypress 3.3.0 release. Here is the relevant issue, note that the workarounds listed here will not enable you to test HTTPS-hosted websites: #1469

Closi

[2019-04-11 14:18] #3941 closed

[2019-04-11 14:20] flotwig commented on #3936
@chris2kus31 Great! Let me know if deleting and re-installing Cypress 3.2.0 as described in the linked comment does not fix your issue, and then we'll know if this is a new issue or just a duplicate of #3878.

[2019-04-11 14:22] chris2kus31 commented on #3941
@flotwig so there is no workaround for this right now?

[2019-04-11 14:25] flotwig commented on #3941
@chris2kus31 Sadly not. However, this limitation only applies to https-hosted websites.

If you're testing something on http://localhost, it won't go through your proxy and it'll work fine.

If you're testing another http site (say http://example.com), then the workaround of setting the HTTP_PROXY environment variable as described in #1469 will allow Cypress to use your proxy to access that websit

[2019-04-11 14:26] chris2kus31 commented on #3941
@flotwig so if i am testing say this local site https://local-giving.kcmhq.org/ it will failed to load right now?

[2019-04-11 14:29] flotwig commented on #3941
@chris2kus31 it depends. If you need to go through your corporate proxy to access this site, then no, it will not work because Cypress before 3.3.0 does not support proxies for https websites.

If it's an https site on localhost, it should work fine since it doesn't try to use your corporate proxy.

[2019-04-11 14:29] chris2kus31 commented on #3941
Got it.  Thank you @flotwig

[2019-04-11 14:33] chris2kus31 commented on #3941
@flotwig is there an estimate as to when 3.3 will be release?

[2019-04-11 14:35] flotwig commented on #3941
@chris2kus31 No, but we're working to get it out very soon.

[2019-04-11 14:38] AndreiMotinga opened #3944 "Unable to properly launch browser other than chrome"
### Current behavior:
If I run
`yarn cypress open --browser chromium`
It launches chrome, not chromium.

If I run
`yarn cypress run --browser chromium`
it launces chromuim, but nevers stops executing sample tests.
it runs them
  closes browser
     reopens browser
        reruns them again
         again and again....

### Desired behavior:
I would expect to be able to run chromium or canary in a

[2019-04-11 15:37] ahaurat commented on #788
Same here unfortunately. I _love_ the idea of Cypress but have been struggling with it for a couple of days now and am going to have to give up on it if I can't get the problem solved in short order. I almost wonder if a `whitelistHosts` might be possible/better? The sites I'm working on make ad calls etc. from _tons_ of hosts and enumerating them has proven to be impractical...

[2019-04-11 15:44] JaySunSyn commented on #144
Hi, I just started writing a plugin. It's still very raw but it works for me and my apps pretty well.

Check it out here https://github.com/JaySunSyn/cypress-daywalker

[2019-04-11 15:51] #1253 closed

[2019-04-11 15:54] ahaurat commented on #788
@jennifer-shehane With regard to a way to reproduce, as a generic example let's say a dev is working on an online media site such as bhg.com

A `cy.visit()` to any article page is so slow that it becomes really difficult. Example: https://bhg.com/news/all-the-current-food-recalls-you-need-to-know-about/

Another possible way to address the issue beside the `whitelistHosts` concept might be to prov

[2019-04-11 16:41] #3657 closed

[2019-04-11 17:10] jennifer-shehane commented on #1935
@mpacary Interestingly enough, I just recently fixed this error while running across it while working in Cypress's in `develop`. The code was updated to check that state("runnable") is defined before getting it's id prop here: https://github.com/cypress-io/cypress/pull/3927

This PR is pending release in version 3.3.0

Yeah, I wish this had been pulled in from Version 4, but it likely wasn't becau

[2019-04-11 17:22] kelvinau commented on #3937
It's true for single flag, but for multiple flags you need quotes.
See here: [Chromium team advises to pass quotations for multiple flags](https://cs.chromium.org/chromium/src/third_party/blink/manual_tests/typed-array-memory.html?type=cs&q=js-flags%3D%27&sq=package:chromium&g=0&l=213)
I think this is not critical, but this issue will be a good note for any other developer who faces the same issue

[2019-04-11 18:49] mateosilguero commented on #3944
It's seems you can only launch chrome or electron.

https://docs.cypress.io/api/plugins/browser-launch-api.html

[2019-04-11 18:53] playermanny2 opened #3945 "cy.trigger('mousemove') not functioning correctly for submenu hovering"
### Current behavior:

When using .trigger('mousemove') on my element it does not show the submenu in order for the test to proceed and find the next element.
It just pause, it seems to fire the event as a small grey rectangle appears but it does nto show the actual menu. What's confusing is it does not work with cypress pragmatically, but if i hover over in the browser manually it appears.

<img

[2019-04-11 19:00] flotwig commented on #3944
@mateosilguero All Chrome-family browsers are supported, including Chromium and Canary: https://docs.cypress.io/guides/guides/launching-browsers.html#Browsers

Looks like that page is a little out of date. I opened an issue here: cypress-io/cypress-documentation#1576

@AndreiMotinga it should be launching Chromium, not Chrome. Can you run Cypress with debug logs enabled to help us understand what'

[2019-04-11 19:34] erquhart commented on #2839
Here are a couple of commands that are working for my team, using Cypress to test a Slate based editor:
https://gist.github.com/erquhart/37bf2d938ab594058e0572ed17d3837a

Includes the ability to naively select based on text matching:
`cy.get('p').setSelection('foo')`

Or set both the start and end points of the selection:
`cy.get('p').setSelection('foo', 'baz')`

[2019-04-11 19:43] Lakitna commented on #3887
Recently I added a `.text()` command to https://github.com/Lakitna/cypress-commands .

`.text()` will trim whitespace and provides some whitespace options.

[2019-04-11 20:10] Lakitna opened #3946 "Proposal: Add new Cypress command .text()"
### Current behavior:
When asserting text we are stuck with the not very specific `.contains()`/`.should('contain')` and the more specific `.should('have.text')` but the latter does not handle whitespace very well (#3887).

### Desired behavior:
Because I don't like the options above I wrote my own `.text()` command. Recently I finalized and published it in the `cypress-commands` plugin (https://g

[2019-04-11 20:32] mateosilguero commented on #3942
react-beautiful-dnd has itw own cypress integration to test the library. you should take a look into the repo, maybe you find the solution here: https://github.com/atlassian/react-beautiful-dnd/tree/master/cypress

[2019-04-11 20:45] sherryleneg commented on #3942
Hi Matteo,

I have already followed that example and also did not work but thanks for the information.

On 11 Apr 2019 9:32 PM, Mateo Silguero <notifications@github.com> wrote:

react-beautiful-dnd has itw own cypress integration to test the library. you should take a look into the repo, maybe you find the solution here: https://github.com/atlassian/react-beautiful-dnd/tree/master/cypress<https://

[2019-04-11 23:21] AndreiMotinga commented on #3944
[code]

opens chrome

[2019-04-11 23:26] AndreiMotinga commented on #3944
[code]

opens chromium, runs specs and closes it.

[2019-04-11 23:28] AndreiMotinga commented on #3944
seems like `run` acts more as intended. In the beginning I din't realize it was running all the tests in example folder. Though it's not very useful since no matter tests pass or fail it immediately closes browser.

P.S apologies for late response, for some reason I didnt' get notification.

[2019-04-11 23:54] pburkindine opened #3947 "Wrap scenario and step names in UI"
### Current behavior:

Scenario and step names are truncated with an ellipsis in the UI, making it difficult to tell at a glance what is failing and not.

### Desired behavior:

Names should wrap to the next line.

[2019-04-11 23:54] pburkindine commented on #3947
![SS 2019-04-11 at 6 52 23 PM](https://user-images.githubusercontent.com/20215564/56003228-41766b00-5c8b-11e9-8abd-6bf5646d2fe4.png)

[2019-04-12 03:35] MatteoGioioso commented on #3729
I tried to update to new cypress version, still no luck, any update?

[2019-04-12 04:10] maple-leaf commented on #2175
I can confirm this issue exists and happens very often. It seems like the algorithm that hide others and use helper pixels doesn't works well.
I don't know this would be possible, but can we run spec on cypress and take screenshot on puppeteer with headless chrome?

[2019-04-12 05:10] alexreardon commented on #3942
👋 as mentioned, `react-beautiful-dnd` is already using cypress for our integration tests. For now we are just using keyboard dragging as there is less required to mentally parse

[2019-04-12 09:05] audig commented on #3901
The same error on jenkins pipeline in kuberetes

[2019-04-12 10:23] christianharyono10 opened #3950 "Timed out retrying: Expected to find element: [The element is there, but cant be found]"
### Current behavior:

showing error Timed out retrying: Expected to find element: '[datacy="loginChangeBtn"]', but never found it.
i dont know why, but suddenly not working.
its been working fine for past week.

### Desired behavior:

should be find. since the element is there.

### Steps to reproduce: (app code and test code)

 it('Should render Qoala App login page',()=>{
            cy.get(obj

[2019-04-12 10:34] jennifer-shehane opened #3951 "Remove rel='noopener noreferrer' from links within test runner that are to Cypress domains"
### Current behavior:

Some of the links we prefer to open in a new tab have the `rel='noopener noreferrer'` attribute (as was previously enforced by our ESLint settings)

### Desired behavior:

- These should be removed for links to Cypress domains
- Also, some of the on.cypress.io links should be updated to proper formatting. For example, there is a static link to our gitter chat that should be

[2019-04-12 10:35] #3950 closed

[2019-04-12 10:35] christianharyono10 commented on #3950
closed. already found the issue

[2019-04-12 12:07] mpacary commented on #1935
@jennifer-shehane Thanks for replying & adding the fix to upcoming version 3.3.0 👍

I've used Cypress quite intensively after fixing the issue ; no subsequent errors appeared.

[2019-04-12 13:42] bahmutov opened #3957 "Argument parsing crashes badly if passing "spec: {}""
3.2.0

Crash Cypress by using `npx cypress run --spec {}`

<img width="942" alt="Screen Shot 2019-04-12 at 9 34 33 AM" src="https://user-images.githubusercontent.com/2212006/56041606-221d2380-5d07-11e9-8df7-d11d27983007.png">

Same using NPM module

[code]

I have created example in https://github.com/cypress-io/cypress-test-tiny/pull/44

[2019-04-12 13:43] bahmutov commented on #3957
On CI it shows the error message but keeps hanging https://circleci.com/gh/cypress-io/cypress-test-tiny/2120

[code]

[2019-04-12 13:44] bahmutov commented on #3957
cannot trust those users like me, defensive programming

[2019-04-12 13:52] #3951 closed

[2019-04-12 13:57] CIB commented on #925
Almost two years late, but:

As far as I understand it, the way you run a test from the cypress UI is to click on a spec file and run all the tests in there, right? So does this mean every .spec file should only contain one test? Currently, we have multiple tests (`context(...`) per .spec file, and if one fails, it just continues with the next one, which isn't really an efficient workflow. Is the

[2019-04-12 14:10] Ryuh5 commented on #3579
@thomassjogren can you please tell me what your approach was to solve this issue?

[2019-04-12 14:38] akeresztesgh opened #3958 "Cypress with Jenkins Getting Exit status 3221225477"
Hi,

I'm using cypress on Windows with Jenkins to run my e2e tests.  I have about 120 tests and Cypress starts just fine (in headless mode), however, around half way it crashes with Exit status 3221225477.  It never crashes at a particular test, usually random.

Here's the output of the crash:
[code]
I've done some searching for the error code and it seems to have something to do with electron but

[2019-04-12 15:10] TrejGun commented on #3905
test
[code]

command
[code]
and as ia said whocle application is wrapped in reacts Provider

[2019-04-12 16:01] must-git-good commented on #3902
@ngbrown

I dove into the issue a bit more today, and here's what I found:

You are correct in how the 'escaping' pattern works.

However, I don't think that this is a bug, really (or at least not worth 'fixing', as everything is behaving as expected for the . and \ behavior).  That is, without 'tricking' the playground selector into ignoring normal js behavior, there's no easy solution here.  The

[2019-04-12 16:04] tnrich commented on #3945
@playermanny2  Maybe also try triggering a "mouseover" event. I only trigger the mouseover event on blueprintjs context menus and it seems to work. Different components but maybe you'll have some luck.

[2019-04-12 16:16] playermanny2 commented on #3945
hey @tnrich, thanks for the suggestion! I actually just tried that a few minutes ago(along with some other mouseevents)...no dice. From digging in a bit more, I can see the element being appended to the DOM from the mouseover event, the problem is it isn't visible(I wasn't able to inspect the element to see if it has the proper css attributes as it removes itself whenever going to inspect)...

it

[2019-04-12 16:17] iXo opened #3959 "Vaadin 8 Checkbox cannot be clicked of checked"
### Is this a Feature or Bug?
After many try to find a way to check a vaadin 8 checkbox (that is a valid html checkbox input element), we can't find a way to click this checkbox, as it is reported as not visible (size of 0x0 pixels) even if we force the action.

### Current behavior:
![cypress_1](https://user-images.githubusercontent.com/401900/56051309-75ff2b00-5d4e-11e9-9497-3fb55a9b9185.png)
![

[2019-04-12 16:20] must-git-good commented on #3925
I'll second the vote to not change this behavior. I'm afraid it would be adopted too widely and lead to much flakier tests.

I don't know your use case, OP, for a 40mb file...but depending on your use (and how much quicker you need things to be), you could almost certainly either stub some of your file interactions (if there's only a few/manageable), or you could probably just pre-load the test fi

[2019-04-12 16:24] tnrich commented on #3945
@playermanny2 is there a public URL we can point a test to where we can try out JupyterLab or do we have to have it installed locally?

[2019-04-12 16:30] playermanny2 commented on #3945
@tnrich There's a defauly jupyterlab binder https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/master?urlpath=lab/tree/demo

I don't have a public url with the exact extension I'm testing, but you should be able to test the same 'Open With' functionality  with 'mouseover' trigger by opening the context menu on one of the .csv inside the binder environment

[2019-04-12 16:34] tnrich commented on #3945
I just got it to work with this code:

[code]

![image](https://user-images.githubusercontent.com/2730609/56052396-28f76680-5d06-11e9-8137-c8ffc33f489c.png)

[2019-04-12 16:37] must-git-good commented on #3284
@jennifer-shehane

Does this still need work? I'd love to try smoothing out that experience, if so...

[2019-04-12 16:56] playermanny2 commented on #3945
@tnrich Hmm just tried that within my environment, still doesn't pop up...I then tried it in the binder environment and it worked fine from my cypress install....so a step closer forsure, I now know it has to be something specific within my environment doing some wonky stuff

Thanks for all your help thus far, I'll close this as it isn't a cypress issue!

[2019-04-12 16:56] #3945 closed

[2019-04-12 16:57] flotwig commented on #3944
@AndreiMotinga There might be some confusion about the difference between `open` and `run` mode and how the `--browser` argument works between the two:

[code]

[code]

In `open` mode, the `--browser` argument is just supposed to be a path to any browser. Then, that browser will be available to choose from inside the desktop GUI when running your tests:

![image](https://user-images.githubusercont

[2019-04-12 17:01] tnrich commented on #3945
@playermanny2 maybe it has something to do with the
[code]
vs the
[code]
syntax. Because the latter did not work for me.

[2019-04-12 17:33] bahmutov commented on #3959
It has attribute “disabled”, no?

Sent from my iPhone

[2019-04-12 17:35] tnrich commented on #696
@brian-mann is there a way to tell a chain of commands to re-run? Such that if the element is removed after a `.get()` but before a `.click()` we could have cypress re-run both the `.get()` and the `.click()` ?

Thanks!

[2019-04-12 17:37] Bkucera commented on #2839
@vctormb it's what the browser fires if you were to select text manually, but it won't make a difference if your app code doesn't listen for it

[2019-04-12 17:41] Bkucera commented on #2267
@HomoncikT just to confirm, the bug doesn't happen in `3.1.4`?

[2019-04-12 17:52] austinfox commented on #908
Thanks very much for adding this change, it has helped my team hit our admin pages (guarded by SSO), which looks at our headers to determine if a user's kerberos token is valid before allowing access. One thing I have noticed though is that if our servers issue a redirect to Cypress, the headers provided in the "visit" command are not included in the subsequent redirect request. Is this expected b

[2019-04-12 17:54] iXo commented on #3959
Indeed, that's what I am seeing too, I didn't noticed that before.

The code I am providing the a extract, and there is action before that is enabling the checkbox, so maybe I have to perform a should action asking it to not be disabled. I will try to test it, as I am not at work actually.

[2019-04-12 18:01] AlbinoDrought commented on #3426
I just had this issue. The solution in https://github.com/cypress-io/cypress/issues/3426#issuecomment-462622820 did not work for me.

The issue seems to stem from [`Reporter.loadReporter`](https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/reporter.coffee#L318) and me having a `mochawesome.json` in my current working directory.

Here's what my debug log showed:

[code]

The sol

[2019-04-12 18:01] flotwig commented on #908
@austinfox see the discussion in #3759 regarding adding an option for headers to be preserved on redirect

[2019-04-12 18:06] austinfox commented on #908
@flotwig Awesome, glad to see I'm not the only one with this feature request. Thanks!

[2019-04-12 18:08] austinfox commented on #3759
I am experiencing this issue as well. I'm glad to see we are now able to add headers when visiting a page, but my team's admin pages redirect to a separate SSO endpoint to use those headers, and unfortunately these headers are not being forwarded and there is no way (that I know of) for me to intercept the redirect and re-insert the headers.

[2019-04-12 18:12] austinfox commented on #3759
I'd like to add that while this may not be standard functionality for the browser (can someone confirm if this is true or not), it is possible for browser extensions or other software to offer functionality like this. I believe this is how my company (Amazon) deals with adding these headers - using some mechanism to add special headers for us to authenticate internally. It probably isn't desirable

[2019-04-12 18:36] playermanny2 commented on #3945
@tnrich Yea, I think that's apart of it, but trying your code verbatim in my jupyterlab environment cypress can't even find .p-Menu-itemLabel because it doesn't become visible on the mouseover.... verrrryy weird :(

[code]

[2019-04-12 19:03] jefftougas commented on #3116
Doing `unset NODE_OPTIONS` worked for me as well. Thank you @paqman and @jennifer-shehane !

[2019-04-12 19:11] wdifruscio commented on #2516
Hi, my application is written in typescript and I am getting this same error with the spread syntax.

I can't run cypress chrome at work because of some security policies, and now I can't run my test suite using electron without changing my syntax.

Is there any workaround for this yet?

[2019-04-12 20:05] jameseg commented on #390
@RadhikaVytla you could run the login_spec first as an isolated job (CI), and depend all other test specs on that job being successful.  Could save you some time if login isn't working.

[2019-04-12 20:07] jameseg commented on #390
@araymer can you set the token through an auth api call?  If so, just use a beforeEach (write it once) and this way each test can use it's own separate auth token

[2019-04-12 20:16] mmuller commented on #1847
I found the following workaround:

The addresses suggestions are included in a element with a class `pac-item` so we need to click on the first suggested address. After that we need to press the `enter` key.

Something like this:

[code]

[2019-04-12 20:29] egucciar commented on #1495
This bug prevents us from parallelizing Cypress in CircleCI by timings.

[2019-04-12 21:25] engineersamuel commented on #1342
For anyone using msal.js and `acquireTokenSilent` you'll have a very mysterious time where your app won't work except for localhost.  The reason being is this line in msal: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/src/UserAgentApplication.ts#L82

In debugging this issue locally, where I was running cypress locally but pointing to my staging environm

[2019-04-12 22:18] mv7789 opened #3961 "I can not find my test script in cypress test runner"
When I open cypress using command: npx cypress open-> cypress test runner opens up where I can not find my test script NewTest.spec.js. Earlier I was able to but now I can not why?
![image](https://user-images.githubusercontent.com/41212104/56069058-14cb5d80-5d36-11e9-9fe9-522fe67dafba.png)
![image](https://user-images.githubusercontent.com/41212104/56069069-29a7f100-5d36-11e9-81c5-8144677618c3.pn

[2019-04-12 22:52] rtymchyk commented on #136
For anyone looking to test React Stripe elements in a relatively clean manner, here's what I arrived at by combing through this thread.

[code]

[code]

You will require this Cypress setting
[code]

[2019-04-13 01:34] alexsasharegan commented on #3427
I just ran into this error, and [this comment](https://github.com/cypress-io/cypress/issues/3427#issuecomment-462490501) was the clue. I wasn't specifying the request method `POST`. I was under the assumption it matched any method to the url. That was the core of my problem.

Without a method:
![image](https://user-images.githubusercontent.com/16269252/56072942-8369e480-5d51-11e9-8f37-b00968821ef7

[2019-04-13 05:23] JohnnyFun commented on #2554
fwiw, in my case the error was that I used `Promise.prototype.finally`, which is supported in chrome 73, but not in electron 59.

[2019-04-13 12:56] krishvv commented on #3919
@must-git-good. Thank you

[2019-04-13 18:21] nicolasdelfino opened #3962 "Passing pipeline variables on Azure DevOps NPM task"
### Current behavior:

Currently the documentation is lacking regarding passing environment variables when adding a new NPM task in an Azure DevOps build phase.

### Desired behavior:

Since Azure DevOps is such a common CI provider the docs should be updated with a solution enabling users to read pipeline variables in Cypress from within NPM tasks.

### Versions

Cypress 3.2

[2019-04-13 18:36] nicolasdelfino commented on #3962
Closing issue, was meant for the documentation repo.

[2019-04-13 18:36] #3962 closed

[2019-04-14 02:16] robjensen82 opened #3963 "Fixture data for tests"
### Current behavior:
[code]

### Desired behavior:
It would be extremely useful to be able to drive tests out of fixture data. That way if you want to reuse the same data in a different test you don't need to duplicate it. Possibly like this:

[code]

[2019-04-14 09:52] collinstevens commented on #456
Is this looking to be picked up anytime soon? Having a glob pattern specified for /src/ would be incredibly useful when doing TDD with e2e tests.

[2019-04-14 10:10] Georgegriff commented on #144
@jaysunsyn it looks like your code might do similar things to this package I wrote for discovering deeply nested shadow roots with normal query selector syntax as if the shadow roots don't exist at all, might be with checking out https://www.npmjs.com/package/query-selector-shadow-dom

[2019-04-14 10:52] JaySunSyn commented on #144
I’m not really querying the Dom to find an element but creating an index on registration time. But your lib looks interesting @Georgegriff

[2019-04-14 19:45] faiz121 commented on #3525
@jennifer-shehane I am getting the same issue, On 3.2.0 when I try to run Cypress tests in local I get failed to parse or set cooked ... The cookie that it fails to set is sent a Secure and the local environment is just HTTP. It was working fine in 3.1.0.

We also have stage environments(which run over https), i set base_url to stage and ran the cypress tests locally and they work fine. (3.2.0)

[2019-04-15 00:04] pratik-domain commented on #3915
I am having the same issue. Tests are running every evening and some days all the tests in the suite runs, other days only a few tests run. We are also trying to figure out the reason.

[code]

Below are the screen shots. In both the cases build pass?

![master__349__Jenkins_](https://user-images.githubusercontent.com/20234734/56101287-b5539480-5f65-11e9-8d7b-97e4405a1a37.png)
![master__351__Jenki

[2019-04-15 01:10] #3837 closed

[2019-04-15 01:27] ShahriatHossain opened #3964 "How to test site which loads in bing map callback?"
I have an app which has been developed using angularJs. But the app is loading under the bing map callback as a result when I use cypress to find any html element it fails all the time because of the callback process. Test is executing before the app is loaded.

How to sort out this problem?

[2019-04-15 07:38] MatejBransky commented on #3906
We have the same problem. How it looks? We can't use Cypress if it doesn't work with GitLab CI.

[2019-04-15 07:44] HomoncikT commented on #2267
@Bkucera not before, now yes. The same as with version 3.1.5

[2019-04-15 07:57] taimoortahir7 opened #3965 "Unexpected behavior of Google Maps (agm-map)"
### Current behavior:

When some location is typed in autocomplete, results don't show until mouse is clicked any where, similarly when location is selected from dropdown, it don't take map to that location until mouse is clicked.

### Desired behavior:

On typing any location or its address it should show results immediately in dropdown and onclick it should take zoom to that map location.

### S

[2019-04-15 10:10] alk831 commented on #350
I had the same issue yet I have changed my image from `cypress/base` to `cypress/browsers:node11.13.0-chrome73` and it now works without crashes on gitlab-ci.
[code]

[2019-04-15 10:19] bentrole commented on #350
I will test this image: cypress/browsers:node11.13.0-chrome73 right now. Thanks @alk831

[2019-04-15 11:36] Lakitna commented on #3964
This would probably be the best solution based on what I can make out from your description. https://docs.cypress.io/api/commands/wait.html#Wait-for-a-specific-XHR-to-respond

Please note that we prefer you ask these kinds of questions in the Gitter chat instead. https://gitter.im/cypress-io/cypress That keeps the issue log clean and often results in faster responses.

[2019-04-15 11:40] Lakitna commented on #3963
Right now there are two ways to do this:

Using `.fixture()`
[code]

Using node's `require`
[code]

I think these options are enough, but please change my mind if you disagree.

[2019-04-15 11:44] Lakitna commented on #3961
Are you opening the correct project in Cypress?
Does your cypress.json exclude the tests?
Does your cypress.json not include the tests?

[2019-04-15 13:19] ryan-snyder commented on #3906
We used to have this issue as well. The problem is getting the cypress binary to cache correctly with yarn since yarn doesn't actually install the cypress binary. Our pipeline which works looks like so
[code]
I would recommend trying npm instead of yarn for any cypress stuff just because it typically works better. .Currently we just have a docker image with the cypress binary pre-installed which a

[2019-04-15 13:36] bahmutov commented on #456
@collinstevens for now you can use this plugin to watch arbitrary files and rerun the tests https://github.com/bahmutov/cypress-watch-and-reload

[2019-04-15 13:51] kwoxer commented on #3840
I think I need some help. Here is what I tried out and yeah it did not work. I'm not sure what my issue is. Maybe you have some ideas:

[code]

that says: Error: **Your OS "browser" is currently not supported by node-cachedir.**
I'm not sure what that message has to do with an require. Tested with Chrome 71 and Chromium 73.

Afterwards I tried:
[code]
that says: Error: Cannot find module 'registra

[2019-04-15 14:01] orjandesmet commented on #2747
@jennifer-shehane
I think it does not match the route.
The console states: `GET http://localhost:3000/sse-stream/HL01 net::ERR_EMPTY_RESPONSE`
That is the path for my EventStream.
The cy.route configuration is:
[code]

[2019-04-15 14:24] bentrole commented on #350
I tested and it failed:
`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: node::Abort() [/root/.cache/Cypress/3.2.0/Cypress/libnode.so]
 2: 0x7fa824226887 [/root/.cache/Cypress/3.2.0/Cypress/libnode.so]
 3: 0x7fa823d95a57 [/root/.cache/Cypress/3.2.0/Cypress/libnode.so]
 4: 0x7fa823d959d5 [/root/.cache/Cypress/3.2.0/Cypress/libnode.so]
 5: v8::internal::Factory

[2019-04-15 14:25] chrisbreiding opened #3966 "Utilize source maps"
As part of adding code frames for the [improved error experience](https://github.com/cypress-io/cypress/issues/3762), we need to do the following:

* Enable source maps (unless the user has explicitly disabled them) in the preprocessor
* Gracefully handle the case where the user has disabled source maps
* For errors with a stack:
  - Translate the stack into source code stack
* For command errors:

[2019-04-15 14:45] XiangBamboo commented on #2876
I got the same error using cypress 3.2.0.
I tested in the cypress-example-kitchensink project, but re-organize the spec files into 2 subfolders: group1 & group2.  Before run the tests at the first time, I clean up all the files under screenshots and videos, no error.  but any later runs without clean up those files will produce the error.

[2019-04-15 14:48] alk831 commented on #350
@bentrole It crashed only once for me with this image and now it works properly. I would try to split large tests into smaller ones and run without recording until there is no fix for this.

[2019-04-15 14:59] bentrole commented on #350
@alk831 I already splited my tests because of that but this bug is there since 2016, If there is no fixes until now, I think that they will not correct that! ;-(

[2019-04-15 16:15] sherryleneg commented on #3942
@alexreardon I have tried following that example but the keyboard commands won't work. Tab is also not supported by cypress so we can't tab on the element on the page. I would be to understand more how you managed to make it work.

[2019-04-15 16:57] arthsiddh commented on #3468
Is the above method working in headless browser(Electron)?

[2019-04-15 17:00] jeep87c commented on #3940
I'm having the exact same issue. It also fails doing something like `cy.route('/some/route')`

[2019-04-15 17:08] ccorcos commented on #350
@brian-mann can we please reopen this issue? If we cannot scale out our testing library, I don't think we can use this service :/

[2019-04-15 17:24] iXo commented on #3959
Ok, so I have created a very simple page to test the problem.

On this page you have :
- a single button, that will enable the checkbox
- a standalone checkbox (this one, I can check it via Cypress)
- a table with 2 lines, on each line the second column contains a checkbox, the table AND the checkbox are disable a first, then are enabled when you click on the button.

Here are 2 tests :

the first

[2019-04-15 17:29] johnaschroeder commented on #1951
@jsjoeio Thanks, your comment did the trick.

[2019-04-15 19:10] must-git-good commented on #3963
For a bit of additional clarity, please recall that cy.fixture (which in many cases is the 'easiest' answer here) will only work inside the context of a running test. (Inside the 'it' statement, not before).

If OP wants to most closely follow the format he's presented, he will want to 'require' his content in, instead.  But I do agree that the current solutions are probably sufficient.

[2019-04-15 19:33] corentin59 commented on #3566
I have similar problem, it's ok with Chrome, but not ok with Electron headless 59

[2019-04-15 21:10] Lakitna commented on #3963
Good catch, I did not realise that you can't use `.fixture()` outside of an `it` but it makes sense you can't do that.

[2019-04-15 22:30] JesusLopezCh commented on #170
this solved all my issues:

https://www.npmjs.com/package/cypress-file-upload

[2019-04-15 22:50] JesusLopezCh commented on #2504
thanks!.. couldn't find a way to bring it back

[2019-04-15 23:51] mv7789 commented on #3961
This issue has been resolved. Seems to be some problem with my windows. I restarted my PC and it worked. Thanks.

[2019-04-15 23:51] #3961 closed

[2019-04-15 23:56] mv7789 opened #3969 "How do I deal with multiple select on the page"
On this page, I have 3 select classes. I want to enter the value for first select class(builidng Id) and the second (floorid) and third(calendar date). How can I do that?
![image](https://user-images.githubusercontent.com/41212104/56172598-0b90f980-5f9f-11e9-9806-830c7f158ff5.png)
cy.get('select').select('1').should ('have.value', '10056')

[2019-04-15 23:58] mv7789 commented on #3969
I get this error :CypressError: cy.select() can only be called on a single <select>. Your subject contained 3 elements.

[2019-04-16 02:18] Premm opened #3970 "Ajax Synchronous Request Failing in Chrome"
### Is this a Feature or Bug?

Bug

### Current behavior:

I am getting the error

when using Chrome 73. If I switch to Electron 59 everything passes fine.

### Desired behavior:

To not get this error in Chrome 73.

### Steps to reproduce: (app code and test code)

Not exactly sure how to reproduce this issue but i believe it's caused by an update to chrome that disallows synchronous ajax during

[2019-04-16 02:59] kundaiAtPropertyMe opened #3971 "cy.request fails with error incorrect header check"
### Current behavior:

I'm calling an API endpoint to run test by `cy.request`,

here is my request code

[code]

When I try use Postman to verify it then I get correct result in a 200 with a json response.

[code]

but `cy.reques`t returns error

[code]

### Desired behavior:

`cy.request` should return a 200 for this request

### Extra information
The response header likes

[code]

### Complete

[2019-04-16 03:30] mateosilguero commented on #3969
You can replace 'select' key for your element id, like this:

`cy.get('floorid').select('1').should ('have.value', '10056')`
https://docs.cypress.io/api/commands/select.html#Usage

or using the eq method, which enables you to get the desire index:
https://docs.cypress.io/api/commands/eq.html
`cy.get('select').eq(0).select('1').should ('have.value', '10056')`

[2019-04-16 03:35] mateosilguero commented on #3963
I can use cy.fixture inside the before/beforeEach statement:

`
describe('Test', function() {
  beforeEach(() => {
    cy.fixture('user.json').as('user');
  });

  it('...
`

[2019-04-16 04:24] Premm commented on #3970
Never mind. I believe Cypress is actually working correctly and failing on a request that as of chrome v73 should not be happening. The request is made by a 3rd party tool which still appears to be using synchronous xhr requests in the beforeunload/unload events.

[2019-04-16 04:24] #3970 closed

[2019-04-16 05:46] jennifer-shehane commented on #3636
Hey @matti, did this answer your question?

[2019-04-16 05:55] matti commented on #3636
waiting for my code monkeys to confirm this

[2019-04-16 07:07] geekyme opened #3972 "Visiting a url with subdomains, supplying with basic auth crashes"
### Current behavior:

Got a blank page with console errors below

[code]

<img width="1205" alt="Screen Shot 2019-04-16 at 3 06 19 PM" src="https://user-images.githubusercontent.com/977460/56188927-3c604580-6016-11e9-9a22-919f9a15728c.png">

### Desired behavior:

Cypress should correctly visit the page, enter the credentials and render the page. The last version that was working was 3.1.5

### S

[2019-04-16 07:40] alk831 commented on #350
@bentrole one more thing that you can try is to run test in parallel so memory usage is smaller, however
as @brian-mann mentioned this is not strictly related with cypress and maybe your CI runner is just not capable of running chromium. If you are using gitlab CI then you could try to create your own runner.

[2019-04-16 08:07] iXo commented on #3959
Ok, finally I found what was the problem. This is not a Cypress bug. In fact, when the button is clicked, when we tried to enable all the checkbox of the table, we are doing it in a wrong way. The old checkbox (that is disabled) is removed from the dom, then we insert in place a new one that are enabled.

[2019-04-16 08:13] #3959 closed

[2019-04-16 08:14] brian-mann opened #3973 "XHR's pend forever when browser navigates in >= Chrome 71"
As of Chrome 71 - Chrome now fires `readystatechange` events *asynchronously* when the page is unloading - which means these events are never received.

Because we're never notified when the XHR's are aborted internally by the browser we never finish them correctly - and awaiting them with `cy.wait('...')` never completes.

Electron:

![Screenshot 2019-04-16 03 46 28](https://user-images.githubuse

[2019-04-16 08:15] brian-mann commented on #3973
Changed the implementation to no longer rely on internal XHR events to create a consistent experience between newer and older browsers.

![image](https://user-images.githubusercontent.com/1268976/56193295-50984880-5ffe-11e9-97f5-8dd2bea49a35.png)

[2019-04-16 08:20] wralitera commented on #350
My tests are structured like that: 1 spec file = 1 scenario. So when I run all tests using the --spec option, each spec file should run one by one and should not make an out of memory.

Running in parallele works but I have not my own runner and if I use too many runner and the test take time, I ll block other developers.

I will ask to our admin system (of gitlab runner) to try to custom the runn

[2019-04-16 08:56] nkrishna79 commented on #2704
@jennifer-shehane Hi I have been writing some tests to verify ID verification process during a specific user journey. There are 2 parts to this process - 1. is it to upload a file for example passport and 2. is to capture/upload a selfie image. The problem i am encountering with cypress is that it switches ON the fake camera by default and i am struggling to upload an image or to send out a video

[2019-04-16 09:23] Lakitna commented on #3963
To recap for posterity: There are three reliable ways to do this:

The examples below expect the fixture file to contain an array.

`.fixture()` inside an `it`
The Cypress chain in the example cannot be executed outside an `it` block.

[code]

`.fixture` inside a `before` or `beforeEach`
The Cypress chain in the example cannot be executed outside a `before`/`beforeEach` block.

[code]

Using `requ

[2019-04-16 09:52] rjd40 commented on #1469
Great to hear this is now pending release! I've recently started piloting Cypress at work with the goal of wider adoption and the speed issues we've been facing as a result of corporate proxy issues are the only thing currently holding us back.

Any idea when this might be released?

[2019-04-16 09:55] jennifer-shehane commented on #2704
@nkrishna79 You can upload your own file, instead of the fake file by following these instructions: https://docs.cypress.io/api/plugins/browser-launch-api.html#Use-fake-video-for-webcam-testing

But, basically we pass the `--use-fake-ui-for-media-stream` and `--use-fake-device-for-media-stream` flags if you want to play with removing those in the `before:browser:launch` I linked you to.

[2019-04-16 10:07] nkrishna79 commented on #2704
@jennifer-shehane  So do you think if I use arguments something along the lines of
args.push('--disable-fake-device-for-media-stream')
args.push('--disable-fake-ui-for-media-stream')
would I still be able to disable the fake camera input?

[2019-04-16 11:36] Harshit2318 commented on #3919
@must-git-good . I have a question regarding the explanation provided by you.
Assume i have a config file called a.js with the following elements
{"abc":"def",
"hello":"world"}
How would i assign it to

[2019-04-16 11:44] jennifer-shehane commented on #2704
No, these args do not exist within [Chrome flags](https://peter.sh/experiments/chromium-command-line-switches/). `args` is an array of flags sent to Chrome containing `--use-fake-ui-for-media-stream` and `--use-fake-device-for-media-stream`, so you need to remove those 2 items from the args. So, use JavaScript to find those 2 arguments and remove them from the `args` array before passing them alon

[2019-04-16 11:47] nkrishna79 commented on #2704
Right ok. let me give it a try. Thanks @jennifer-shehane

[2019-04-16 11:53] #3973 closed

[2019-04-16 11:56] jennifer-shehane commented on #3234
Hey @maksimkarpov, did this address your issue? I'd like to close this issue if so.

[2019-04-16 11:57] maksimkarpov commented on #3234
Hi Jennifer, yes, please close, thanks!

[2019-04-16 12:05] jennifer-shehane commented on #3836
Hey @Cubelaster, any updates on this?

[2019-04-16 12:14] jennifer-shehane commented on #3585
Hey @bcnichols3, any updates after your investigation? I'd like to close this issue if it's been resolved.

[2019-04-16 12:17] jennifer-shehane commented on #3119
@wajeeha09 Any update on this? Were you able to resolve this issue? I'd like to close it if so.

[2019-04-16 12:18] jennifer-shehane commented on #3013
Hey @joshmedeski, any update on this?

[2019-04-16 12:24] jennifer-shehane commented on #2253
@Jaemu Yes. https://github.com/cypress-io/cypress/issues/3568

[2019-04-16 12:37] Kokipa commented on #733
Any indication when it will be released?
We'd really like to include it for our new project :)

[2019-04-16 12:58] manideepmedisetty commented on #1427
Hello Can someone help me with below issue when trying to open cypress
![image](https://user-images.githubusercontent.com/49680758/56211387-6bf26a80-6075-11e9-9b92-8cc0b84e4d7c.png)

[2019-04-16 13:11] must-git-good commented on #3919
@Harshit2318

Yeah, it won't work 'as is'. The config reference is assuming you've preloaded the config/just-an-example.js file into the Cypress configuration (as/before it loads).  The link above that ends in 'Usage' will walk you through that process better than I can. But the basic principle is to use your CLI to 'point' Cypress to which of the config files to load into its initial configuratio

[2019-04-16 13:56] flotwig commented on #3972
This is a known issue in 3.2.0 and will be fixed in the 3.3.0 release. Issue: #3717

For the time being, you can downgrade to 3.1.5 to avoid this bug.

Closing as duplicate of #3717.

[2019-04-16 13:56] #3972 closed

[2019-04-16 13:56] jennifer-shehane commented on #1427
@manideepmedisetty You may want to try `npm prune` or deleting your node_modules folder and running `npm i` again.

[2019-04-16 13:57] jennifer-shehane commented on #733
Soon. We have been working on the release - had to pause to fix some potential regressions in the release. 🤞

[2019-04-16 13:58] jennifer-shehane commented on #1469
@rjd40 Soon. We have been working on the release - had to pause to fix some potential regressions in the pre-release. 🤞

[2019-04-16 15:20] Strajk commented on #2908
Just noticed there is a library for randomizing tests in Mocha by the almighty @bahmutov, would be great to integrate it to Cypress :)

https://github.com/bahmutov/rocha

[2019-04-16 15:24] bahmutov commented on #2908
One thought: it would be nice to have a callback from Cypress into
userspace code with the list of specs and tests in each. The user code then
can return the list of tests - in any desired order. I kind of do this in
https://github.com/bahmutov/cypress-select-tests projects where I get a
callback of all tests found in the spec file and can remove all tests I
don't want to run

On Tue, Apr 16, 2019

[2019-04-16 15:28] craig10 commented on #2610
I am also having the same issue.  I can run on my local mac, but when I push to the cloud I get:
No version of Cypress is installed in: /home/vcap/app/~/Library/Caches/Cypress/3.2.0/Cypress
I realize this issue is closed - I can open a new one if necessary.  Looking for suggestions on how to resolve this issue.

[2019-04-16 15:33] hhudson opened #3975 "Incorrect redirect to malformed url within AUT - adding `_/` in url"
### Current behavior:
When I instruct cypress to login to an Oracle APEX application, the authentication re-directs cypress to a '404 not found' page because the authenticated URL is malformed. The malformed URL is the only issue and can simply corrected programmatically (with a find and replace command).
![Screen Shot 2019-04-15 at 10 14 48 PM](https://user-images.githubusercontent.com/12301835/5

[2019-04-16 16:42] jennifer-shehane commented on #3958
Exit code `3221225477` appears to be `Access violation.` It indicates that the executed program has terminated abnormally or crashed.

Using the docker image may be better, but it could be something specific within the tests that is crashing Cypress. It's hard to say when it is seemingly random. We'd need some way to reproduce it or narrow down the area where it's crashing to look into it further.

[2019-04-16 17:13] unr commented on #962
Hey @csabapalfi did your team ever figure this out?

I'm having similar issues (outside of Cypress) where Incap is returning this invalid cookie, and crashing my node-http-proxy. :/

[2019-04-16 17:25] csabapalfi commented on #962
I think it’s one of their built-in bot deterring features or something similar. We had to reach out to them and it got turned off for our domain.

[2019-04-16 17:49] sabin-bhattarai-cko commented on #944
How do you get the xhr request appear. What I wish to do is the following
cy.wait("@aliasVisitWebPage").then(
      xhr => {
        const token = xhr.responseBody;
        cy.log(token);
      }
    );

[2019-04-16 18:02] johnaschroeder commented on #937
The gist above didn't work for me, but this did in case anyone is looking for help: [xhr example](https://www.testingexcellence.com/capture-network-traffic-xhr-cypress/).  It would make a nice addition to the docs if it hasn't already been added somewhere I missed.

[2019-04-16 18:10] mv7789 commented on #3969
@mateosilguero : I tried below line for building Id but got this error:
   cy.get('buildingId').select('1').should('have.value', '10056')
![image](https://user-images.githubusercontent.com/41212104/56233585-43984b00-6038-11e9-93b8-013a93b8b003.png)

[2019-04-16 18:28] mateosilguero commented on #3969
The first error means you haven't a select element with id="buildingId".

make sure to declare the element this way:

[code]

[2019-04-16 18:33] tnrich opened #3976 "cypress dashboard thinks I'm out of private runs even though all my projects are public"
I asked this question on gitter but thought I'd post it here to potentially help others who might be confused by what changed in the cypress plans and to have a link to show my team.

Thomas Rich @tnrich 11:10
Hey there, I'm seeing some issues with the cypress dashboard -- it thinks that I've exceeded my amount of private runs and so has started blocking all of my test recordings. The thing is, wh

[2019-04-16 18:40] mv7789 commented on #3969
@mateosilguero : this one does not work. Building is the drop down field with values. I want to select any value from Building drop down.  Here is the html for building.
![image](https://user-images.githubusercontent.com/41212104/56235466-5c0a6480-603c-11e9-8c2d-3d1a77b28e3d.png)

[2019-04-16 18:42] mv7789 commented on #3969
If I use this code:
let id = "buildingId"
  cy.get('buildingId').select('1').should('have.value', '10056')
I get this error: CypressError: Timed out retrying: Expected to find element: 'buildingId', but never found it. Not able to understand how can I select this dropdown option

[2019-04-16 18:46] mateosilguero commented on #3969
your element select, does not have the atributte id. add the attribute on your element, like this:

[code]

Or use another identifier, like:

`cy.get("select[name='buildingId']").select('1').should('have.value', '10056')`

[2019-04-16 19:00] unr commented on #962
That’s where my own investigation has lead me. Appreciate the answer thank you!
On Apr 16, 2019, 1:25 PM -0400, Csaba Palfi <notifications@github.com>, wrote:

[2019-04-16 19:17] mv7789 commented on #3969
@mateosilguero : cool it worked... thanks a lot :)

[2019-04-16 20:12] joshmedeski commented on #3013
My team moved away from using fixtures and we now use a local version of our API with seeded data. So we don't have to deal with this specific issue anymore.

[2019-04-16 20:14] flotwig opened #3977 "Add link to download old versions of Chromium inside Cypress"
Add a link to https://chromium.cypress.io inside the TR to help people download old versions

on-link: https://on.cypress.io/chromium-downloads

[2019-04-16 20:21] swatisharma03 opened #3978 "CI builds fail with "process '/usr/bin/yarn' failed with exit code 5""
### Current behavior:

![image](https://user-images.githubusercontent.com/19341405/56240995-5017b480-60c7-11e9-8a2b-7e6b104e454c.png)

### Desired behavior:

Test runs fine on local machine using cypress run and create a junit report as I am using the junit reporter.
[code]
But the same fails when I run it through vsts.

### Versions

Cypress:  3.2.0

[2019-04-16 22:15] flotwig opened #3979 "Browsers with spaces in the path name cannot be launched from `--browser`"
The `--browser=<path>` option introduced in #1026 does not work properly if the path includes spaces. The spaces will not be properly escaped when doing the `--version` call, but will be escaped when launching the actual browser, making it impossible to both detect and launch a browser whose path contains spaces.

Workaround: create a symlink that does not contain spaces to the browser, and use th

[2019-04-16 22:16] flotwig opened #3980 "Multiple versions of the same browser do not display"
If multiple versions of the same browser are detected (either by having multiple results returned from `mdfind`, or multiple `binary` names detected on the `$PATH`), only one version of the browser will be available via the Cypress GUI. All available versions should be pickable.

[2019-04-17 00:34] Qian-Zhang7 opened #3982 "TypeError: _.contains is not a function"
### Current behavior:
The test was running fine yesterday and before, today it starts failing with this message:
"**TypeError: _.contains is not a function**"

![TypeError_contains_not_a_function](https://user-images.githubusercontent.com/25694737/56252365-5167c380-606c-11e9-86aa-50ef362a3ba1.jpg)

### Desired behavior:
Cypress will scroll down to the bottom of the page, where the selection is tar

[2019-04-17 00:47] scharf commented on #3762
see Stack overflow question [How to figure out in which file and code line a cypress test has failed?](https://stackoverflow.com/q/55493100/2297345)

[2019-04-17 01:03] Qian-Zhang7 commented on #3982
Very Sorry! Turns out it is our own UI change caused it. Close the issue now.

[2019-04-17 01:03] #3982 closed

[2019-04-17 04:05] jpicton commented on #2518
I also have noticed this issue.

Windows 10
Cypress 3.2.0
NPM 6.5.0
Node 11.13.0

I turned on debugging to provide an extract in case it helps. As you can see, the process just fails without any error message.

[code]

[2019-04-17 04:14] jasmine-zhang-nz commented on #3885
It looks likes the npm config set proxy won't solve the issue that happened during installing and running the example test. When will this corporate proxy issue can be solved?

[2019-04-17 04:52] jennifer-shehane commented on #3976
@tnrich Earlier this week we [announced](https://www.cypress.io/blog/2019/04/15/introducing-the-open-source-and-full-featured-seed-dashboard-plans/#) an update to our usage plans and released the [OSS Plan](https://www.cypress.io/oss-plan/) - a new, free plan for non-commercial, open-source projects offering unlimited test recordings and parallelization. We also simplified all of our plans by tran

[2019-04-17 04:52] #3976 closed

[2019-04-17 04:55] tnrich commented on #3976
Thanks @jennifer-shehane much appreciated!

[2019-04-17 04:59] Dogyunjeong commented on #695
I had this problem as well.

How I fix is that don't use cypress `selector playground`. Insteand, using chrome dev tool and copy `selector` of the element.

If use this copied selector in cypress test, It works fine.
Something  below
[code]

[2019-04-17 06:12] krishvv commented on #3919
@must-git-good . We followed all the steps needed to configure the variables .
In the statement below
cy.get( ${Cypress.config('releaseVersion')} ).select( ${Cypress.config('graphicsDriverOptions')} )
we get a syntax error which says the following
**Unexpected token, expected ","** . This error is thrown right at the beginning of **"{"** above.

Is the syntax right? Or is there another way to acce

[2019-04-17 06:15] WGSHUHU opened #3983 "promote the influence of cypress"
In order to promote the influence of cypress,our team can translate the official website into Chinese

[2019-04-17 06:29] godspeedelbow commented on #387
Open a PR for this feature request after spending way to much time trying to hack it in. This should be supported out of the box IMO.

https://github.com/cypress-io/cypress/pull/3984

[2019-04-17 06:54] jennifer-shehane commented on #3983
Hey @WGSHUHU, could you reach out to us at hello@cypress.io? Thanks!

Will close as this is not related to the core Cypress product, but rather our public, marketing website.

[2019-04-17 06:54] #3983 closed

[2019-04-17 08:15] MatejBransky commented on #3906
@bahmutov Could you, please, try to start GitLab CI in your example? I've only fork yours example and it doesn't work. What am I missing? Is it possible that something had changed from the last check?

[2019-04-17 08:23] robjensen82 commented on #3963
Thanks for taking the time to comment. For my use case I found using require was useful. The idea I had came from using PHPUnit and [data providers](https://phpunit.readthedocs.io/en/8.0/writing-tests-for-phpunit.html#data-providers)

[2019-04-17 08:24] pramoth001 commented on #2610
I am also having the same issue. When I install it works fine for a day.. it disappears the next day.

[2019-04-17 08:32] Jero786 commented on #116
+1 ... I need too :(

[2019-04-17 10:39] nicholasmaddren opened #3985 "Unable to test multiple domains even with chromeWebSecurity disabled and --disable-site-isolation-trials"
In my test I need to visit two domains, one to authenticate via AWS Cognito and another domain visit to the actual application.

This was working fine yesterday however when I booted up my tests today I get the following error:

[code]

I have added `"chromeWebSecurity": false` to my `cypress.json` file and added the following snippet to my plugins file:

[code]

To recreate this error try to visi

[2019-04-17 12:19] felixkempf commented on #1696
This issue unfortunately still exists in cypress 3.2.0

Also I found it rather confusing that even when successfully configuring `ignoreTestFiles` via config file and running `cypress:open`, the configured `ignoreTestFiles` are not shown under "Settings > Configuration".

[2019-04-17 12:31] gustawx commented on #3073
I have the similar problem also when running all specs from cypress runner
[code]

There is another problem related to this. When i set up node flag:
export NODE_OPTIONS=--max-old-space-size=4096

cypress fails to run without any error! The process just closes. I'm not sure if this is a seperate issue so I don't open a new one...

the tests that I'm running are mostly API tests ( normal rest calls

[2019-04-17 12:48] jennifer-shehane commented on #3985
Cypress already passes the `--disable-site-isolation-trials` flag through here: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/chrome.coffee#L53 so this should be unnecessary in your plugins file.

Could you provide the test code you are running where you are visiting the 2 domains?

[2019-04-17 12:56] nicholasmaddren commented on #3985
@jennifer-shehane Thanks for letting me know, I'll remove that from my plugins file.

Here is an example of my test:
[code]

[2019-04-17 13:36] tlpbu commented on #3190
@jennifer-shehane any news about when this could be fixed?

[2019-04-17 15:00] jakeleboeuf commented on #1152
This was my issue- prettier is formatting that to `// / <reference types="cypress" />` 😭

[2019-04-17 16:40] dhoko opened #3986 "Display errors from Electron when we run `cypress run`"
I found this issue while updating my lib, if there is a JS error it fails but without any logs.
I was able to find it via the flag `--headed` + devtools.

![Screenshot from 2019-04-17 18-19-07](https://user-images.githubusercontent.com/713283/56305127-e8518000-613f-11e9-9245-d46d87930c38.png)

It would be great to log this error inside the report we can see inside the output from `$ cypress run`.

[2019-04-17 17:22] learningandworking opened #3987 "The Test Runner browser does not display full options as on real one"
### Current behavior:

After logging into the Trello web, there are **NO** options at the top-right corner as on the real one
![image](https://user-images.githubusercontent.com/26406558/56307442-0d111c00-616f-11e9-9889-14241c7be0ea.png)

### Desired behavior:
After logging into the Trello web, there has options at the top-right corner as on the real one
![image](https://user-images.githubuserconte

[2019-04-17 17:51] AndreiMotinga commented on #3944
@flotwig, thanks for the clarification. It makes total sense now.
https://docs.cypress.io/guides/guides/launching-browsers.html#Browser-Icon should probably mention this, alongside img you provided - super helpful.

Thank you.

[2019-04-17 17:51] #3944 closed

[2019-04-17 18:44] cm0s opened #3989 "Missing fields in VisitOptions Typescript definition"
### Current behavior:

Current type definition for VisitOptions is missing many fields :
- method
- body
- headers
- log
- timeout

### Desired behavior:

Being able to call cy.visit() with those options when using typescript

### Steps to reproduce: (app code and test code)

cy.visit("my-url", { headers: { foo : 'bar' }});

### Versions

Cypress 3.2.0

[2019-04-17 18:53] chirag-jogogo opened #3990 "Not able to upload a png file in cypress"
I am trying to upload a png file using cypress and this is that i have tried so far

[code]

calling this in my test as below:

`cy.upload_file("logo.png", ".jss378");`

Have also tried different locators but no luck

it does not give any error but also it does not upload anything. note that the selector(.jss378) is dynamic so i want to use something that is not dynamic

Here is my HTML code

<img

[2019-04-17 19:10] must-git-good commented on #3990
FWIW, I've had good file upload experience using the cypress-file-upload plugin.

Maybe that will be an easier/sufficient solution for you!

[2019-04-17 19:11] chirag-jogogo commented on #3990
@must-git-good , any documentation or example on that?

[2019-04-17 19:31] must-git-good commented on #3990
Sure, should have made that a link for you.

On the plugins page:
https://docs.cypress.io/plugins/index.html#content

You'll find a link to:
https://github.com/abramenal/cypress-file-upload

The documentation there is pretty good. But for general reference, this one is even easier to setup than many other plugins (because you're basically just importing a pre-built custom command).

If those files

[2019-04-17 19:37] chirag-jogogo commented on #3990
@must-git-good - thank you, it worked

[2019-04-17 19:37] #3990 closed

[2019-04-17 20:51] mv7789 commented on #3969
@mateosilguero : I want to select the value from the dropdown but this one is without select class. I tried all possible combinations but does not work.
![image](https://user-images.githubusercontent.com/41212104/56319778-736a5000-6117-11e9-976c-f0992dfb8958.png)
First select client value from the dropdown and based on that select site value and program.
Client is: <input type="text" class="dropdo

[2019-04-17 21:12] cm0s opened #3992 "cy.server options not documented and not available in typescript definition file"
### Current behavior:
`cy.server` command has a really useful option `onAnyRequest`. Which is really practical to inject headers or do other stuff.

Here is blog post describing how it can be used : https://medium.com/agilix/cypress-testing-include-custom-http-header-on-each-http-request-2b3693813e97

This option and apparently a few other ones are not documented and are also not available in the

[2019-04-17 22:39] mv7789 opened #3993 "How can I select values from dropwdown?"
I want to select client name from the dropdown and depending on the client site values will get triggered. For. ex: if I select `client = 3M` then site will have `values = Northridge` or `NJ`
this html for client:
[code]
I get below error message for cypress code:
[code]

[code]

[2019-04-17 23:16] #3989 closed

[2019-04-18 00:03] gohawks3 commented on #3730
is there any version of Chrome/cypress that I can download to workaround this issue?

[2019-04-18 01:45] mateosilguero commented on #3969
Could you share some code ? I need to see the structure of your elements to elaborate the query

[2019-04-18 02:12] DragorWW commented on #3730
The best option is probably to use [cypress-file-upload](https://github.com/abramenal/cypress-file-upload) with any version Chrome/cypress.

Or use Chrome <= 72.

[2019-04-18 05:35] jennifer-shehane commented on #3993
@mv7789 I don't think you included all of the available HTML, as I see no HTML actually containing the text from your test - and also the error message does not contain the name from your test.

This looks to not be a bug in Cypress however, Issues in our GitHub repo are reserved for potential bugs or feature requests.

We recommend questions relating to how to use Cypress be asked in our [communi

[2019-04-18 05:35] #3993 closed

[2019-04-18 05:48] jennifer-shehane commented on #3978
The exit code emitted by Cypress is the number of tests failed. Your project had 5 failing tests, so it is exiting with a status of 5. This is the correct behavior and likely you have some tests failing in CI that do not fail locally.

Is there another problem with the test run? Is the report generated ok?

[2019-04-18 05:48] #3978 closed

[2019-04-18 05:50] jennifer-shehane commented on #3977
Is this something that user's request? Or is this just an internal need? I'm not sure why user's want to do this unless they are developing within Cypress - in which case I would make the argument to only make this feature available within development.

[2019-04-18 05:53] jennifer-shehane commented on #3986
Duplicate of https://github.com/cypress-io/cypress/issues/700

[2019-04-18 05:53] #3986 closed

[2019-04-18 05:54] jennifer-shehane commented on #3987
Are there any errors displaying when you open the DevTools console?

[2019-04-18 06:10] jennifer-shehane commented on #1696
I think this PR may fix this issue https://github.com/cypress-io/cypress/pull/3880 Can anyone verify?

[2019-04-18 06:13] jennifer-shehane commented on #3969
Issues in our GitHub repo are reserved for potential bugs or feature requests, so I will be closing this issue. Comments are still allowed, so you can continue debugging if you like.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issue

[2019-04-18 06:13] #3969 closed

[2019-04-18 06:25] jennifer-shehane commented on #3730
@GammaGames Thank you for finding the change in Chromium. These are notoriously difficult to track down. 💯

Chrome 73 Behavior:
[code]

In Chrome 73 no `change` event will be fired on `el.files = dataTransfer.files;`, this has nothing to do with Cypress, so this issue will be closed.

**If your application code is relying on the `change` event firing when the user selects files, you should change

[2019-04-18 06:25] #3730 closed

[2019-04-18 06:32] cm0s commented on #3989
That was quick! Thanks for taking care of it.

[2019-04-18 06:34] jennifer-shehane commented on #2876
Any help on how to exactly reproduce this error every time would be appreciated, as I only experienced this once and was not able to reproduce.

[2019-04-18 06:35] jennifer-shehane commented on #3964
Closing since issues in our GitHub repo are reserved for potential bugs or feature requests. If you think this is a bug with Cypress, feel free to comment with a fully reproducible example.

[2019-04-18 06:35] #3964 closed

[2019-04-18 06:37] learningandworking commented on #3987
@jennifer-shehane : There were no errors displaying.
Plz let me know if you need more information

[2019-04-18 06:52] jennifer-shehane commented on #3937
Have you tried using single quotes versus double quotes? I'm not sure what Cypress is responsible for here since we are just passing on the args.

[2019-04-18 06:57] jennifer-shehane commented on #1235
Since this issue is covering quite a broad spectrum of performance issues at this point - we will lock this issue for discussion.

Please reopen any issues you are experience (or comment on existing issues - check our [performance tag](https://github.com/cypress-io/cypress/labels/type%3A%20performance%20%F0%9F%8F%83%E2%80%8D%E2%99%80%EF%B8%8F)) with **reproducible examples**. We cannot do anything

[2019-04-18 07:08] jennifer-shehane commented on #3947
The css for these test titles can be found here: https://github.com/cypress-io/cypress/blob/develop/packages/reporter/src/runnables/runnables.scss#L189

The test title's jsx can be found here: https://github.com/cypress-io/cypress/blob/develop/packages/reporter/src/test/test.jsx#L81

Instructions on running the tests for this UI are here (tests are Cypress tests): https://github.com/cypress-io/cyp

[2019-04-18 07:11] jennifer-shehane commented on #3936
@chris2kus31 Any updates? Please close this issue if resolved.

[2019-04-18 07:14] Cubelaster commented on #3836
I will try this today.

[2019-04-18 07:32] jennifer-shehane commented on #3479
Thank you @junghanChoi, this site does exhibit the problem with the encoding.

Visiting https://news.naver.com/ within Cypress browser (any browser)

<img width="1124" alt="Screen Shot 2019-04-18 at 2 00 12 PM" src="https://user-images.githubusercontent.com/1271364/56344021-65cdcc80-61e2-11e9-9629-795a5ec4e64d.png">

Visiting https://news.naver.com/ outside of Cypress

<img width="1101" alt="Scree

[2019-04-18 07:51] jennifer-shehane commented on #3081
Closing due to no response. Please comment if there is a suspected bug with Cypress.

[2019-04-18 07:59] jennifer-shehane commented on #3310
@devsh4 See this issue - it is what you are describing https://github.com/cypress-io/cypress/issues/1598

[2019-04-18 08:02] jennifer-shehane commented on #2383
Unfortunately we'll have to close this issue since no reproducible example is provided. Please comment with a reproducible example to consider reopening.

[2019-04-18 08:02] #2383 closed

[2019-04-18 08:09] jennifer-shehane commented on #3825
@itslenny Can you run this with the DEBUG logs as described [here](https://on.cypress.io/debugging#Print-DEBUG-logs).

[2019-04-18 08:11] Cubelaster commented on #3836
Unfortunately, not much use doing that:
![image](https://user-images.githubusercontent.com/14044616/56346227-f647e500-61c1-11e9-93ff-9469948d4fe3.png)
It just caught the same error it usually does...
And, again, this error does come from my code, but in real application, this NEVER happens. Actually, this would happen if my back end wasn't working. Which is NOT the case here. And, again, after let

[2019-04-18 08:12] Ravinderkaur04 commented on #807
Hello, I have a similar issue with forward slashes and semi-colons. I'm trying to fill in date and time and my input looks like this for ex: 2019/4/18 10:11. Can someone look into this?

[2019-04-18 08:38] niedarek commented on #2700
It can't be reproduced because it's random :) Some waits works some not. In my case POST request are catched , but GET are not. It's probably timing issue, responses are too fast.
url to catch **'http://localhost:8080/api/v1/people/-me-/favorites?where=(EXISTS(target/file)%20OR%20EXISTS(target/folder))'**

test case
[code]

[2019-04-18 09:15] nicholasmaddren commented on #3985
I didn't see this part of the documentation:

One thing you may notice though is that Cypress still enforces visiting a single superdomain with cy.visit(), but there is an issue open to change this restriction.

I'm sure it was working the other day but maybe I was wrong.

[2019-04-18 10:53] gustawx commented on #3901
I have the same error with 3.2.0 running from shell (not docker)

[2019-04-18 11:58] brian-mann commented on #3977
Because Chrome auto-upgrades your browser which can all of a sudden break things. Users are then helpless, so this is the easiest way to tell users how to download a specific version of Chromium (so they can carry on happily).

Additionally - it will be helpful for support to direct users to download specific versions in the case where they say: "It was working, but now it's not". It can help rule

[2019-04-18 13:05] audig commented on #3901
It's ok for me now, i have unset the environment variable "NODE_ENV"

[2019-04-18 13:19] beckee opened #3994 "window.location.replace not working - inserts `__` into url"
### Current behavior:

Navigating within our application using `location.replace("")` in a chained promise handler throws a cross-origin error. In our actual application, we are waiting on a network request, then navigating using `location.replace()` in a then handler.

I've simplified the code to the most basic thing I can, and am able to reproduce by calling `location.replace()` in a simple `set

[2019-04-18 13:22] adamchenwei commented on #2876
It seems the problem only happens when a snapshot is open by an application somewhere else while cypress is trying to clean the directory, so it can't. At least that's seems how I fixed it, by closing the app that still viewing the snapshot images.

Hope it helps

[2019-04-18 14:17] kjellski commented on #3073
We're facing the same issue, but are unable to share the code unfortunately.

[2019-04-18 14:50] devsh4 commented on #1598
I had a similar issue. Below workaround works.

**Before**

cypress.json
{
   "baseUrl": "https://name:secret@domain.io"
}

**After**

cypress.json
{
"env": {
   "url": "https://name:secret@domain.io"
  }
}

In Test
cy.visit(Cypress.env("url"));

[2019-04-18 16:09] garyluu opened #3995 "Parallel CI: Rerunning 1 machine with failed tests reruns ALL spec files instead of only previously failed spec files assigned to that machine."
### Current behavior:
After running parallel tests on 3 machines/jobs on Travis CI; If for whatever reason we wanted to restart a Travis CI machine/job, it will re-run all the Cypress tests on that one Travis CI machine/job

### Desired behavior:

Restarting a single Travis CI machine/job would only re-run the Cypress tests that previous ran on that machine/job

### Versions

Cypress 3.2.0

[2019-04-18 16:37] flotwig opened #3996 "Build `${platform}-${arch}`-named packages"
Right now, we distribute downloads under different, inconsistent names: win32, win, darwin, osx64... depending on where we reference it.

We should standardize on naming every slug for a download with `${platform}-${arch}` notation, ex. win32-x64.

[2019-04-18 17:44] Floriferous commented on #2973
Here are a couple clips that I took from our CI. Cypress is supposed to type "Cypress Task", but it hardly ever reaches the end on Circle CI. It always works locally.

![Cypress-bug](https://user-images.githubusercontent.com/10428082/56380388-5a929500-6212-11e9-9284-476332824283.gif)

[2019-04-18 17:49] Floriferous opened #3999 ".type() not consistently typing text until the end"
This is the same issue as #2973, but after removing autofocus it still fails.

Here are a couple clips to illustrate the issue, I'm unable to reproduce it otherwise, since it never happens locally, only on our CI.

![Cypress-bug](https://user-images.githubusercontent.com/10428082/56380607-ee646100-6212-11e9-81e3-235f1adebf14.gif)

Cypress shouldn't be able to continue if it hasn't typed what it is

[2019-04-18 17:54] wjcheng1 commented on #1865
any updates on this? would love to have this.  thanks!

[2019-04-18 18:47] chrisbreiding opened #4000 "Upgrade to Electron 2.0.18"
* [Electron 2.0.18](https://electronjs.org/releases/stable?version=2#2.0.18)
* Major changes in [Electron 2.0.0](https://electronjs.org/releases/stable?version=2&page=4#2.0.0)
* Upgrade to Node 8.9.3
* Upgrade to Chrome 61, V8 6.1.534.41

[2019-04-18 18:49] brianmcgue commented on #1696
#3880 does seem to fix this issue for me.

[2019-04-18 20:12] Niceplace commented on #3832
I solved my issue ! I was not able to reset to the error behavior however so that's a bit strange, it was something on my computer I assume.

- Opened my `/etc/hosts` file and made sure that only these lines were present / uncommented

[code]

After changing the file the tests started working right away, reverting to its initial state didn't bring back the error.

I tried making a npm script with

[2019-04-18 20:29] chrisbreiding opened #4002 "Enable right-click Inspect Element in Electron browser"

[2019-04-18 20:54] #3977 closed

[2019-04-18 21:11] StormPooper commented on #1865
I ended up with this after experimenting with it today. It will look through the entire suite and skip anything that doesn't match your tags, including the parents if there's no tests that need to run - plus it doesn't need anything importing in individual tests, which is nice too. I've simplified it slightly from our production code, so let me know if there are any mistakes.

Install the [cucumbe

[2019-04-18 22:48] mark-c-woodard commented on #3841
@0xIslamTaha did you resolve this? I'm getting the same issue in my ubuntu 16 environment.

@jennifer-shehane i tried running my install with the debug command
`DEBUG=cypress:* npm install cypress`

but didn't get any more logging, just saw what has already been posted above. Did I write the debug command incorrectly?

[2019-04-19 01:55] aaron-sf commented on #1489
Same. Found this thread doing research to be sure we'd be able to use our Enterprise Okta SSO. Am I wrong in assuming this isn't supported?

[2019-04-19 04:36] rakutenRandhir commented on #2563
I am also facing the same issue

[2019-04-19 07:40] niedarek opened #4004 "wait() - doesn't recognize route when used string like that : -my-"
I use route:
[code]
### Current behavior:

[code]

### Desired behavior:

process results from xhr

### Steps to reproduce: (app code and test code)

use route with phrase "-my-"

when i use shortened route like that:
`/api/v1/people/**`
wait() works ok

### Versions
"cypress": "^3.2.0",
linux xbuntu 16
Chrome 73

[2019-04-19 08:38] agatheblues commented on #95
If your polyfill is not in your bundle and a simple `window.fetch = null` does not work, you can use [this method](https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/stubbing-spying__window-fetch/cypress/integration/polyfill-fetch-from-tests-spec.js ) !

I wanted this to happen for all my tests so I moved to `index.js`:

[code]
win.fetch = args => {
    if (typeof args ===

[2019-04-19 09:14] benji011 commented on #755
Hi, I'm working on a project and ran into this issue. From the [docs](https://docs.cypress.io/guides/core-concepts/interacting-with-elements.html#Visibility), it says that if overflow is hidden AND `position:absolute` is defined then that element being checked is considered hidden.

What I found instead to be the case is, if *either* are true then that element is hidden

[2019-04-19 11:20] niedarek commented on #695
I had a similar problem, but in my case i found out that in onclick function i set condition:
**if (event.originalEvent instanceof MouseEvent) **
which caused cypress click() was not successful.

[2019-04-19 11:42] StarpTech commented on #95
The workaround doesn't work for me because all headers and fetch settings are ignored. Only standard browser headers are send Content-Type, Origin, Referer, User-Agent, **no Cookie**.

[2019-04-19 12:39] jennifer-shehane commented on #4004
Can you provide the part of the url you are attempting to match against please?

[2019-04-19 12:42] jennifer-shehane commented on #3977
Yes, I can see this as a great debugging tool. But in terms of "carry on happily" - wouldn't they *want* to see the errors on a new Chrome version? It means things have changed in chrome.

[2019-04-19 12:44] Karrar-Naqvi commented on #831
Hello,
I am having same kind of issue. I am trying to verify an error message, but cypress is unable to read that message and says that value is empty.

**My Piece Of Code:**

cy.get('#mat-input-0').type('abc@xyz.com')
        cy.get('#mat-input-1').type('123456')
        **cy.get('#mat-error-0').should('have.value', ' Please enter the correct pattern. ')**
        cy.get('button').click()

Messag

[2019-04-19 13:33] bahmutov commented on #1865
if you use JavaScript specs, take a look at the plugin https://github.com/bahmutov/cypress-select-tests that allows one to select tests to run by filename or by substring

[code]

[2019-04-19 13:55] niedarek commented on #4004
this is full url :

http://localhost:8080/api/v1/people/-me-/favorites?where=(EXISTS(target/file)%20OR%20EXISTS(target/folder))

[2019-04-19 14:41] jennifer-shehane commented on #4004
Can you try `api/v1/people/-me-/favorites**/**`? I think minimatch is reading the `/` in `target/file` portion as another path separator which means you need to specify for it to match all directories.

[2019-04-19 14:46] jennifer-shehane commented on #831
`.should('have.value'` asserts on the actual `value` attribute of an `input` DOM element. Your error is displaying within a `mat-error` DOM element, not being set as the `value` of the input.

You should be able to write something like

[code]

[2019-04-19 14:54] jennifer-shehane commented on #3994
If you ever want to work on the `window` of your application under test, you'll want to use [`cy.window()`](https://on.cypress.io/window), otherwise - you will be trying to access the actual Cypress Test Runner window.

Can you try:

[code]

[2019-04-19 14:57] jennifer-shehane commented on #3994
Also - you'll want to [visit](https://on.cypress.io/visit) an actual webpage before attempting to replace the window's location.

[2019-04-19 15:07] jennifer-shehane commented on #3999
@Floriferous Could you provide the test code of what this gif is running? Thanks!

[2019-04-19 15:09] bahmutov commented on #3906
Before I look at cypress-example-docker-gitlab we also have GitLab CI working against the kitchensink repo, find it here https://github.com/cypress-io/cypress-example-kitchensink#ci-status

[2019-04-19 15:10] beckee commented on #3994
I may have simplified this too much then. It's actually my application making the call to window.location.replace. I'll try to update this test ... but the test would actually just click a button in my application. The code in my application behind that button press is what is calling either:

window.location.replace("")

or setTimeout(() => {window.location.replace("")})

[2019-04-19 15:10] bahmutov commented on #3999
@Floriferous can it be the same case https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/ ?

[2019-04-19 16:06] bahmutov commented on #3906
I have just pushed a new commit to GitLab example and verified that the GitLab CI pipeline runs successfully. I invite you to compare the output from each test job https://gitlab.com/cypress-io/cypress-example-docker-gitlab/pipelines/57598484 with your own output to find the problem.

Also take a look at our caching doc for reference http://on.cypress.io/caching

[2019-04-19 16:06] #3906 closed

[2019-04-19 17:33] mv7789 commented on #3969
@mateosilguero : here the one for client:
![image](https://user-images.githubusercontent.com/41212104/56435786-80f61600-628e-11e9-88e0-ef0c04ddf243.png)

[2019-04-19 17:34] mv7789 commented on #3969
@mateosilguero : this one is for site:
![image](https://user-images.githubusercontent.com/41212104/56435839-bb5fb300-628e-11e9-9eac-9e100c67fb45.png)

[2019-04-19 17:46] nico-bellante opened #4006 "Trying to use `cy.window().its('store')` in Typescript"
### Current behavior:

As shown in [this post](https://www.cypress.io/blog/2018/11/14/testing-redux-store/#), I am trying to get access to the store using `cy.window().its('store')`, but I am getting a Typescript error that `store` is not a valid parameter for `its`.

![image](https://user-images.githubusercontent.com/35939126/56436098-9750a180-628f-11e9-821f-15a28eb97794.png)

I've tried searchin

[2019-04-19 17:49] nico-bellante commented on #4006
Nevermind, I believe I found the answer here:
https://github.com/bahmutov/test-todomvc-using-app-actions#intellisense

Since this is not a standard property on the window, it must be added to the Window interface manually.

[2019-04-19 17:49] #4006 closed

[2019-04-19 21:28] canderson22 commented on #2639
How can we just try a retry, if cy.visit() fails once?

[2019-04-19 22:01] jordancalder opened #4007 "Cypress.js environment variables don't work on CircleCI"
### Current behavior:

In CircleCI, I have environment variables prefixed with `CYPRESS_` (ie, `CYPRESS_TEST_URL=http://testurl.com`). In my tests, any reference to that variable (`Cypress.env('TEST_URL')`), returns the corresponding value _locally_, but returns the environment variable name (not value) in CI.

So this:
[code]
yields the error:
[code]

### Desired behavior:

`Cypress.env('TEST_URL

[2019-04-19 22:29] gurkpet commented on #1380
@brian-mann ditto

[2019-04-20 11:29] Shelex commented on #3942
@sherryleneg Also have this component tested with usual approach based on mousevents and coordinates. Worth mentioning, that mousevent will not drag element above its coordinates, so as a workaround I get body and then continue mousevent to target place.

[2019-04-20 19:42] leonfs commented on #1232
It's possible, look in this link: https://stuartsandine.com/cypress-on-aws-lambda-part-1/

There is a github repo too.

[2019-04-20 20:35] bahmutov opened #4008 "DOM snapshot inspection mode does not reset when reloading file on change"
It is very hard to reproduce this bug, but I have seen it a couple of times

v3.2.0 on Mac

- have a test
- when it finishes hover over a test command that changes the DOM to get "before and after" DOM snapshot animation
- while the animation is going, change the spec, causing to test to reload and restart (I was using it.only in this case)
- notice in the video below how the test runner did not c

[2019-04-20 23:38] scharf commented on #881
@dwelle I tried your code, but there are cases where failing tests are swallowed. I changed all return statements in the `on` `'fail'` to `throw err` (including the implicit return at the end of the function) and all failing tests really failing.

[2019-04-21 01:28] benjaminsweetnam247 commented on #144
:+1: This issue is really starting to drive me up the wall

[2019-04-21 08:41] dwelle commented on #881
@scharf hmm, yea that's a mistake (even though the [docs](https://docs.cypress.io/api/events/catalog-of-events.html#Cypress-Events) are not quite clear that you need to do that). In my codebase I rethrow myself but it seems I forgot to update my comment above.

For future reference here's the latest code, including the preprocessing:

`support/index.js`

[code]

`plugins/index.js`

[code]

So that

[2019-04-21 22:06] sebillac81 commented on #3426
I removed the mochawesome.json  file from the root directory, and it's work for me.

[2019-04-22 00:31] DanWahlin commented on #988
Thanks @jennifer-shehane. Just ran into this today. I was actually trying out the exact scenario that @bahmutov proposed at the top of the thread to do a contains() on a textarea. Couldn't get it to work and stumbled across this - thanks for the invoke() suggestion. It does feel like contains() should work here, but it sounds like there are additional things to take into consideration.

[2019-04-22 05:30] DanWahlin commented on #1123
I realize this is closed, but for those mentioning they couldn't get change detection to work with some of the SPA libraries/frameworks, here's what worked for me with Angular:

cy.get('[data-cy=markdown-textarea]').clear().invoke('val', text).trigger('input');

[2019-04-22 06:45] itsthesteve commented on #1208
This also works great for clearing the local Firebase storage (`firebaseLocalStorageDb` as of this comment).

[2019-04-22 06:46] jennifer-shehane commented on #3994
Yeah, if you can, update the repo to reflect the application code + tests that reproduce this problem and we can reopen.

[2019-04-22 07:02] jennifer-shehane commented on #3995
This shouldn't happen.

Can you provide more information about your Travis setup. A link to the Travis project would be most ideal (feel free to email support@cypress.io)

But, if you can provide the Travis yml file you run / how you run the cypress commands. Thanks!

[2019-04-22 07:06] jennifer-shehane commented on #2639
@canderson22 See this thread: https://github.com/cypress-io/cypress/issues/1313 Also this plugin: https://github.com/Bkucera/cypress-plugin-retries

[2019-04-22 07:07] dafiber commented on #1691
my tests are running in dashboard more than 22 hours now.. (version 3.2) how I can stop them?

[2019-04-22 07:10] jennifer-shehane commented on #4008
Looks like duplicate of https://github.com/cypress-io/cypress/issues/2796 Reopen if you think it's diff.

[2019-04-22 07:10] #4008 closed

[2019-04-22 07:18] charlex commented on #2520
I think it should be made more explicit throughout the documentation that parallel builds are a paid feature so that people don't spend time researching it if they aren't interested in paying money.

[2019-04-22 07:19] shaanmishra87 opened #4010 "Unable to install Cypress in my company machine .npm install cypress fails."
While I try to run `npm install` in my office machine it fails.

its throwing me an error as

[code]

Can anyone help me resolve this issue

Company machine info--

Windows 7 32 bit
Cypress version -1.4.2

[2019-04-22 07:50] jennifer-shehane commented on #4010
Check your network connectivity and also if you are behind a corporate proxy - check [this thread](https://github.com/cypress-io/cypress/issues/1469) for workarounds. A release to handle this is soon to be released.

[2019-04-22 07:50] #4010 closed

[2019-04-22 07:58] jennifer-shehane commented on #4007
I was unable to recreate this behavior on 3.2.0. My test:

[code]

CircleCI Env var:

![Screen Shot 2019-04-22 at 2 22 30 PM](https://user-images.githubusercontent.com/1271364/56490111-194bff00-650a-11e9-9ce7-7979767e45cb.png)

Also, take note that Circle builds spawned from forked PRs will not have access to environment variables if you have **Pass secrets to builds from forked pull requests** se

[2019-04-22 07:58] #4007 closed

[2019-04-22 07:59] jennifer-shehane commented on #2520
@charlex Parallelization is not a paid feature anymore. Please check our [pricing](https://www.cypress.io/pricing/) - every plan, including the free plan can run their tests in parallel.

[2019-04-22 08:04] jennifer-shehane commented on #1691
@dafiber This should never happen. If you can, please email extra details to support@cypress.io about your run.

[2019-04-22 08:17] 0xIslamTaha commented on #3841
@mark-c-woodard no I didnt resolve it. I think there is a bug in building using npm.

But, U can download the binary  and run it

[2019-04-22 13:00] akosipax commented on #1297
I had this issue. It was failing on `cypress run` as well as on `cypress open` if my browser is Electron. The test consistently passes on an open UI using Chrome/Canary even if I loop the test 2000 times.

I followed @brian-mann's [advice](https://github.com/cypress-io/cypress/issues/1297#issuecomment-366022456) and rewrote my tests so that it "waits" until the element I want to assert is visible.

[2019-04-22 15:51] jennifer-shehane commented on #4004
@niedarek Any update?

[2019-04-22 16:18] garyluu commented on #3995
https://travis-ci.org/dockstore/dockstore-ui2/builds/523057315

Each machine took about 21 mins (as expected).  I restarted the 2nd job fairly soon after it failed and now at the time of writing it's surpassed 21 mins and expected to time out at 50 mins.

Relevant code snippets:
.travis.yml
[code]
where ./scripts/run-travis-script.sh is

[code]

[2019-04-22 16:38] bfmiv commented on #2945
FYI this will work if you use `.babelrc.js` instead of `babel.config.js`.

[2019-04-22 17:18] lucksp commented on #687
I am also interested in a solution so that we can be aware of loading scripts such as `<script src="www....">`, similar to the Pupetteer option [setRequestInterception](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetrequestinterceptionvalue)

[2019-04-22 17:46] craig10 opened #4012 "Message received: "No version of Cypress is installed" when running in IBM cloud"
### Current behavior:

I am running a series of tests against my website on macos.  I'd like to automate these tests and run them in the cloud which is running Ubuntu Linux 14.04.  When push to the cloud and run it, I get

[code]

### Desired behavior:

I expect the same results in the cloud that I get on macos.

### Steps to reproduce: (app code and test code)

In node.js app, run the following w

[2019-04-22 18:54] Chase817 commented on #433
@jennifer-shehane Is there any workaround to disable the save prompt when automating downloads in headless Electron?

[2019-04-22 18:57] sankarsp commented on #3459
I'm getting blank page when i ran the cypress script , however manually working perfect .. do we know why ?

[2019-04-22 19:21] flotwig opened #4013 "Retry automatically on `cy.visit`, `cy.request`, server check"
We should automatically retry some operations for the user, to mimic the behavior of a normal Chrome action.

The following code was used to test the scenarios against a real Chrome instance:

[code]

### Page visits

* If the request fails before receiving data, wait 5s before retrying once. It looks like Chrome retries with a backoff of 30 seconds each time, but we likely don't want to wait this

[2019-04-22 20:14] mv7789 opened #4014 "How to select table inside table?"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-04-22 20:20] mv7789 commented on #4014
I have one master table with all data and second table inside that table with View links.
I want to select the row inside master table and then click on the view link associated to that row but as this view link is inside the second table I am not able to do it.
![image](https://user-images.githubusercontent.com/41212104/56526630-5c55a480-6501-11e9-9a1a-69bafe0a663d.png)

[2019-04-22 20:22] mv7789 commented on #4014
first div- cm table wrapper is the entire table consist on other table div-table scroller-wrapper which contains only td = view but that is not part of entire row of the first table.
![image](https://user-images.githubusercontent.com/41212104/56526850-a9d21180-6501-11e9-817d-48f34e5608db.png)

[2019-04-22 23:15] joshpzero commented on #2854
This seems like some pretty useful behaviour that fits the use case for the alias nicely. Can this be prioritised or a proposed solution for a custom command?

[2019-04-23 00:12] alexreardon commented on #3942
@sherryleneg here is one of our tests for you to leverage: https://github.com/atlassian/react-beautiful-dnd/blob/master/cypress/integration/reorder.spec.js

[2019-04-23 01:33] MatteoGioioso commented on #3729
Hello, any update on this?

[2019-04-23 02:32] developdeez opened #4016 "Failed to start"
Seems problematic to make this work. I've tried several methods online and same result  :(

It looks like this is your first time using Cypress: 3.2.0

[code]

Platform: win32 (10.0.17134)
Cypress Version: 3.2.0

[2019-04-23 03:22] technomage commented on #3323
If the non-cucumber case encloses them in describe blocks do you see this behavior?  In mocha use describe blocks for scope.  I will test out locally.

[2019-04-23 03:26] technomage commented on #3323
Yep. If the beforeEach are within a describe block they are isolated.  The cucumber template should place a describe block around the entire file content to isolate.

[2019-04-23 04:40] jennifer-shehane commented on #4014
Issues in our GitHub repo are reserved for potential bugs or feature requests. Since this is a question, I will be closing this issue.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading through our [documentation](https://

[2019-04-23 04:40] #4014 closed

[2019-04-23 04:41] jennifer-shehane commented on #4012
How are you installing Cypress on the Linux machine?

[2019-04-23 05:23] Shelex commented on #3942
Or custom command based on coords and mousevents, accepts 2 arguments - draggable and target selectors:
[code]

[2019-04-23 05:38] jennifer-shehane commented on #3942
Issues in our GitHub repo are reserved for potential bugs or feature requests. Closing since this is a question on Cypress use.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading through our [documentation](https://docs.cy

[2019-04-23 05:38] #3942 closed

[2019-04-23 05:39] Bigdragon13th opened #4017 "expect().to.be.ordered.members() throw an error "TypeError: Cannot read property 'members' of undefined""
### Current behavior:

Whenever I try to compare array (order matters) with the command `expect(...).to.be.ordered.members(...)`, Cypress always throw an error.

`expect(...).ordered(...)` as shown here also failed.
https://docs.cypress.io/guides/references/assertions.html#BDD-Assertions

### Desired behavior:

It should works.

### Steps to reproduce: (app code and test code)

This code failed.
[

[2019-04-23 05:42] jennifer-shehane commented on #4016
I think this issue should be fixed in our next release, 3.3.0 - which handles Win32 better. https://github.com/cypress-io/cypress/pull/3877

[2019-04-23 05:42] #4016 closed

[2019-04-23 05:50] jennifer-shehane commented on #4017
The `ordered` flag [was added in `chai` version 4.x.x](https://github.com/chaijs/chai/issues/781). Cypress is currently using chai version 3.5.0. Upgrading to 4.0 is part of our [Cypress 4.0 release](https://github.com/cypress-io/cypress/issues/2840), so will be supported when that is released.

[2019-04-23 05:51] #4017 closed

[2019-04-23 08:05] GordonTester commented on #3459
Hey @jennifer-shehane It seems to only happen when running via the dashboard - as such I can't get in to the console, I can only go by a screenshot.

[2019-04-23 08:18] Bigdragon13th commented on #4017
Yeah, I'm aware of the duplicated old issue, thought it got fixed already because it was closed, guess I was wrong.

[2019-04-23 08:21] tcoldmf commented on #3051
I have the same problem with a simple login form (not iframe). The login is static, no a javascript form.

[2019-04-23 09:19] jennifer-shehane commented on #4017
Issues are closed when the PR has been merged into develop, but not necessarily released. These issues have a `pending release` tag and a comment in the issue noting this.

[2019-04-23 09:21] jennifer-shehane commented on #3729
There's not much we can do without the ability to reproduce the error ourselves. If you can provide reproducible code or email the reproducible code to support@cypress.io

[2019-04-23 09:49] Vinay4Test commented on #1125
@nashoshinoda Worked for me Thanks

[2019-04-23 10:10] zoe-cjf opened #4018 "cypress"
Does cypress have a plugin that logs clicks and automatically generates test code

[2019-04-23 10:15] MatteoGioioso commented on #3729
@jennifer-shehane There is not much to reproduce, in `localhost` is working flawlessly, unfortunately not on a live server. I will try to come up with something

[2019-04-23 10:26] Bigdragon13th commented on #4017
I didn't see any `pending release` tag or comments in your given issues, where should I look for to see when the feature will possibly be released?

[2019-04-23 10:41] brian-mann commented on #3713
This is going out today. We have a fix in staging. Will update issue when finished.

[2019-04-23 10:55] jevors commented on #4018
This is requested before, you can find the feature ticket here: https://github.com/cypress-io/cypress/issues/73

[2019-04-23 12:12] peterthim commented on #2155
Still an issue in 3.2.0,

I had to do the following
`module.exports = (on, config) => {
  // modify config values
  config.ignoreTestFiles = path.join(
    config.integrationFolder,
    'manual',
    '**',
    '*.js'
  );`

to remove all testcases from the manual folder (where i have failing TC that shouldn't fail the TA runs
without using absolut paths i didn't get it to work.

[2019-04-23 13:19] andreirogobete commented on #3121
I looked at the "anchor target Property" documentation (https://www.w3schools.com/jsref/prop_anchor_target.asp)

It seems like there is a possible "framename" value that you can assign to the "target" property of anchors.

Example: <a href="<your_url>" target="your-desired-iframe-name">Some Link URL</a>

Looking at this, would it be possible to set the name of the iframe which Cypress injects to r

[2019-04-23 14:21] jennifer-shehane commented on #2155
This may be related to this PR fix https://github.com/cypress-io/cypress/pull/3880

[2019-04-23 14:25] #4018 closed

[2019-04-23 14:27] jennifer-shehane commented on #2529
The code for this is done in https://github.com/cypress-io/cypress/pull/2862, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-04-23 14:28] jennifer-shehane commented on #4017
@Bigdragon13th 😅This is true. We've automated the process of tagging and commenting recently, so more recently closed issues should do this. Looks like we overlooked this one.

[2019-04-23 14:30] niedarek commented on #4004
Hello, sorry for delay, but i've just started my holiday and I cant check
out your suggestion.

pon., 22 kwi 2019 o 17:51 Jennifer Shehane <notifications@github.com>
napisał(a):

[2019-04-23 14:31] jennifer-shehane commented on #2866
The code for this is done in https://github.com/cypress-io/cypress/pull/2881, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-04-23 15:05] steppefox commented on #2952
In my case, `preserveOnce` and `whitelist` doesn't work for me at all =/ Have to manually store and set cookies:

[code]

[2019-04-23 15:27] bpkennedy commented on #695
We had similar issues.  We discovered that an API call was basically reloading our component in the background - and it was happening so fast that the tests "usually" didn't even notice.  That produced the "flake" of it periodically failing.  Once we understood that, we resolved the tests.

[2019-04-23 15:35] AnimaMundi commented on #444
@TDHTTTT I'd love to know how you got this working. I'm currently getting `Segmentation fault (core dumped)` when I try to run the `xvfb-run -a -s "-screen 0 1280x1024x24” </path/to/Cypress> -run-project=</path/to/project>` command.

[2019-04-23 16:03] nkrishna79 commented on #2704
@jennifer-shehane I tried some methods to disable it. But couldnt get around on how to do this via JavaScript. Would you be able to show me a sample step on how to do this via JS. Thanks

[2019-04-23 16:15] craig10 commented on #4012
I'm running it in IBM Cloud  - IBM Cloud runs npm install.

[2019-04-23 16:16] nkrishna79 commented on #2704
@jennifer-shehane  I can see that its been passed as flag to chrome from this script
https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/chrome.coffee#L21

But how/where can I comment out this line in order for me to be able to not use the fake camera ui?

[2019-04-23 16:37] timmydoza commented on #2102
@infctr What docker image are you using?  I can't get the `args.width = 1400` trick to work.   Also where are you changing the settings for xvfb?  Is it in the dockerfile, or is the script run somewhere else?

[2019-04-23 17:17] Dogyunjeong commented on #695
I had this problem quite a lot. I use cypress for react project.
Those are what I had

- if there are more than two HTTP request and re-render several times, cypress gets the element before fully rendered ( what we see on screen shot ). Then, `.click()` will be timed out.
- Or anyother re-render. In my case, we are using `loading indicator` and it caused re-render and `cy.get()` get not fully rend

[2019-04-23 17:47] ryan-snyder commented on #3863
So [this](https://github.com/typicode/husky/issues/459#issuecomment-485568858) comment seems to have a potential solution for this problem. Not sure what the next steps are to solve this though or where the problem lies exactly. @bahmutov any thoughts?

[2019-04-23 18:15] bahmutov commented on #4012
Please check if you actually have Cypress binary installed with the following commands: first to show where Cypress NPM module is looking for the cached binary, and then all cached binaries

[code]

You probably do not have the right folder cache. You need to cache usually these folders if you use `npm ci`

[code]

in order to cache both NPM modules and Cypress binary. See https://on.cypress.io/ca

[2019-04-23 18:36] astraljames commented on #431
Wanted to check and see if there was any progress on this issue, we are getting consistent crashes halfway through our Cypress test runs.

[2019-04-24 01:03] chrismelbourne commented on #987
I think @mgrybyk is right.

I am using Cypress 3.1.5 (3.2.0 is a showstopper for me due to [#3867](https://github.com/cypress-io/cypress/pull/3867) ) and I have this problem when a third party js file triggers an exception error.

Any ideas?

[2019-04-24 01:14] saumya0404 opened #4019 "blank page"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-04-24 02:47] HTWTest commented on #1888
I am facing the same issue in Jenkins with version 3.1.5 as well as in 3.2.0.  I tried reinstalling as well as running cypress cache clear. This is the error I get:  /node_modules/.bin/cypress verify
It looks like this is your first time using Cypress: 3.1.5

[?25l[11:43:21] Verifying Cypress can run /home/jenkins/.cache/Cypress/3.1.5/Cypress [started]
[?25hevents.js:167
throw er; // Unhandled '

[2019-04-24 04:31] jennifer-shehane commented on #1888
@HTWTest This error is not related to this existing issue. The error is different, specifying `EACCES` during in `Xvfb`. Please open a new issue in the future.

You may try `sudo apt-get install xvfb`

How are you installing cypress? We have docker images available as well that may help: https://github.com/cypress-io/cypress-docker-images

[2019-04-24 04:37] harithah opened #4020 "Error: spawn Xvfb EACCES issue while running via Jenkins"
I am facing an issue in Jenkins with Cypress version 3.1.5 as well as in 3.2.0. I tried reinstalling as well as running cypress cache clear. This is the error I get:

[code]

Kindly help me with a solution to fix this issue..

I tried doing a cypress cache clear...setting permissions `chmod -R u+x` to `/next-tick` and to `/electron-chromium` as well as for `/node_modules/.bin/cypress`

[2019-04-24 04:37] #4019 closed

[2019-04-24 04:38] jennifer-shehane commented on #4020
Thanks. Previous response: https://github.com/cypress-io/cypress/issues/1888#issuecomment-486063557

[2019-04-24 05:07] harithah commented on #1888
@jennifer-shehane : Thank you. I have opened the issue that you have referenced. https://github.com/cypress-io/cypress/issues/4020  (HTWTest is my account. Sorry for the confusion).

[2019-04-24 05:31] jennifer-shehane commented on #431
@L4mPi2 Issues in our GitHub repo are reserved for potential bugs or feature requests.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading through our [documentation](https://docs.cypress.io), or searching [Stack Overflow](

[2019-04-24 05:52] jennifer-shehane commented on #943
@devsh4 Please comment with a reproducible example. We cannot investigate issues that we cannot reproduce.

[2019-04-24 05:54] jennifer-shehane commented on #1225
@ousmaneNdiaye To pass args to npm scripts, `--` is required. See npm docs: https://docs.npmjs.com/cli/run-script So should be `npm run cypress:run -- --spec...`

[2019-04-24 05:57] debbyca commented on #2427
Have you successfully made it work? I couldn't launch Chrome.

Error: Failed to launch chrome!

TROUBLESHOOTING: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

    at onClose (/Users/debby/node_modules/puppeteer/lib/Launcher.js:342:14)
    at Interface.helper.addEventListener (/Users/debby/node_modules/puppeteer/lib/Launcher.js:331:50)
    at emitNone (events.js:110

[2019-04-24 06:00] jennifer-shehane commented on #3811
I'm not able to replicate this behavior. `.mp4` files play fine from within our CircleCI build artifacts. Example: https://12413-49402470-gh.circle-artifacts.com/0/root/cypress-documentation/cypress/videos/api_spec.js.mp4

Please ensure you disable all extensions in Chrome and read through Jenkins documentation on correctly accessing artifacts.

Unfortunately we have to close this issue as there i

[2019-04-24 06:00] #3811 closed

[2019-04-24 06:03] jennifer-shehane commented on #1661
Well, our theme came out before Mac OSX Dark theme, so sounds like Mac copied us. 😝

[2019-04-24 06:06] jennifer-shehane commented on #3895
Closing this as duplicate of https://github.com/cypress-io/cypress/issues/2528 @chrisbreiding Can you verify this will be fixed with Mocha upgrade?

[2019-04-24 06:08] jennifer-shehane commented on #3912
Closing as resolved. Please comment if you are still having this issue and we will consider reopening.

[2019-04-24 06:11] jennifer-shehane commented on #2193
This issue is still in the 'ready for work' stage, which means no work has been done on this issue as of today, so we do not have an estimate on when this will be delivered.

[2019-04-24 06:17] jennifer-shehane commented on #3921
This may be due to Electron running Chrome version 59, which will be upgraded in v4 of Cypress.

Since I'm unfamiliar with the logic behind rendering this html and/or the colors, I can't say or reproduce without a fully reproducible example. Unfortunately we have to close this issue.
Please comment in this issue with a fully reproducible example and we will reopen the issue. 🙏

[2019-04-24 06:17] #3921 closed

[2019-04-24 06:22] jennifer-shehane commented on #3896
Have you tried using our provided docker images? https://github.com/cypress-io/cypress-docker-images

We haven't set up an example for Atlassian that I know of, so I'm not familiar with the setup necessary @bahmutov?

[2019-04-24 06:27] jennifer-shehane commented on #3893
@vijeeshvofox Please look into the `vue-unit-tests` plugin: https://github.com/bahmutov/cypress-vue-unit-test

Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress

[2019-04-24 06:27] #3893 closed

[2019-04-24 06:33] jennifer-shehane commented on #3886
Tests run in CI run within the Electron browser (Chrome 59). So, the first suggestion is to run the tests locally within the Electron browser with DevTools open to see if there are any issues there.

Since you already mentioned running the tests locally with other browser combinations, next I would make sure that video recording and/or screenshots are turned on during the CI run. Review the video

[2019-04-24 06:33] #3886 closed

[2019-04-24 06:39] jennifer-shehane commented on #1393
@cjohn17

[code]

[2019-04-24 06:43] jennifer-shehane commented on #3882
@vesper8 I'd have to know more about how your application handles authentication to determine whether this is a bug of not clearing state or not.

How do you check that a session is authenticated? Cookies, localStorage, session storage?

[2019-04-24 06:45] jennifer-shehane commented on #2213
Closing as resolved. Please comment if you are still having this issue and we will consider reopening.

[2019-04-24 06:45] #2213 closed

[2019-04-24 06:47] jennifer-shehane commented on #1304
@glitchperfect Oh, I really hope so! Can anyone run Cypress against the `develop` branch that is experiencing this issue to verify if this fixes the issue?

@flotwig Thoughts on this issue being resolved for proxy support? Would you be able to replicate this issue and verify?

[2019-04-24 06:48] jennifer-shehane commented on #2448
Unfortunately we have to close this issue as there is not enough information to reproduce the problem.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-04-24 06:48] #2448 closed

[2019-04-24 06:50] jennifer-shehane commented on #457
Closing as issue related to docker-images - not cypress project itself.

[2019-04-24 06:50] #457 closed

[2019-04-24 06:53] a4xrbj1 commented on #3207
@Bkucera - any update on the progress? I second that the lack of any other browser support other than Chrome is a big downside for Cypress.

[2019-04-24 06:57] jennifer-shehane commented on #1479
Unfortunately we'll have to close this issue if no reproducible example is provided. Can anyone provide a way to reproduce this?

[2019-04-24 06:59] jennifer-shehane commented on #3559
I think this may be fixed by this PR: https://github.com/cypress-io/cypress/pull/4003

[2019-04-24 07:01] jennifer-shehane commented on #1401
@flotwig Another potential proxy issue. Is this not fixed in 3.3.0 PR? https://github.com/cypress-io/cypress/pull/3531

[2019-04-24 08:09] maksimkarpov commented on #781
my observation is that when tests are in the same file then everything is cleared after each test. If there are multiple js specs then the cache and cookies are not cleared (almost always), even by .clearCookies()

[2019-04-24 08:19] juristr commented on #1906
Suffering the same issue. Apparently the `"numTestsKeptInMemory": 0,` solves it for me (at least for now)

[2019-04-24 08:42] gregorybleiker commented on #2427
@debbyca I launched puppeteer from chrome... however with mixed results... not sure the code is still working. Also this is only an example for asp.net. Might help you as a starting point at least. The puppeteer code for the login page is custom of course. You might also want to check out https://gauge.org/ which takes a bit a different approach.
[code]

and in the cypress test
[code]

[2019-04-24 08:52] vesper8 commented on #3882
I use https://github.com/websanova/vue-auth and it stores the jwt auth token in localstorage

I have resorted to putting all my tests in single long it() blocks now to avoid this issue, whether it is intended or not

[2019-04-24 09:00] infctr commented on #2102
@timmydoza I've extended the image from the official repo https://github.com/cypress-io/cypress-docker-images/blob/master/browsers/chrome69/Dockerfile, added latest yarn and dependencies needed for my project.

The script above runs on CI as a job, sets xvfb display settings and starts the tests. You can run it as an entrypoint for you docker container. Nothing really fancy here

[2019-04-24 09:07] jennifer-shehane commented on #3894
You could also run [`cypress run --headed`](https://on.cypress.io/command-line#cypress-run-headed) and get a similar experience to what you are asking.

Closing this as we do not intend to change this behavior.

[2019-04-24 09:07] #3894 closed

[2019-04-24 09:10] jennifer-shehane commented on #3875
Please try:

[code]

Closing as this does not seem related to Cypress directly. Open an issue in our webpack processor if necessary. Please comment with a fully reproducible example if you've determined it's a bug in Cypress and we will consider reopening.

[2019-04-24 09:17] jennifer-shehane commented on #3873
Yes, that sounds right

[2019-04-24 09:18] jennifer-shehane commented on #3847
@ithompson4 yes we would love an open PR - even one that is a work in progress is fine. Check out our [contributing doc](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) and ask us if you get stuck.

[2019-04-24 09:19] jennifer-shehane commented on #3582
yes we would love an open PR - even one that is a work in progress is fine. Check out our [contributing doc](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) and ask us if you get stuck.

[2019-04-24 09:39] debbyca commented on #2427
@gregorybleiker Thanks a lot! I made it work after following your example.

[2019-04-24 09:56] steppefox commented on #987
Cypress 3.2.0, tests are failing because of 3rd party scripts errors =(

[2019-04-24 12:26] jennifer-shehane commented on #3221
This issue is still in the 'ready for work' stage, which means no work has been done on this issue as of today, so we do not have an estimate on when this will be delivered.

[2019-04-24 12:27] jennifer-shehane commented on #3618
Unfortunately we have to close this issue as there is not enough information to reproduce the problem.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-04-24 12:27] #3618 closed

[2019-04-24 12:43] shaunswales commented on #1906
Sorry I didn't realise this was still open, yes that is what I needed to implement.

The reason being within windows the application is a 32-bit application, with the tests kept in memory this meant that everything within the DOM for each action was stored. This eventually went over the memory limit for a 32-bit application.

[2019-04-24 12:43] #1906 closed

[2019-04-24 12:54] jennifer-shehane commented on #788
Some of these comments are related to other slow running issues, but I'd like to focus this issue on the topic of Cypress waiting for the `load` event to fire during `cy.visit()`, since that was extensively addressed in https://github.com/cypress-io/cypress/issues/788#issuecomment-338747293 and also there is a reproducible example of that being an issue provided here https://github.com/cypress-io/

[2019-04-24 13:07] jennifer-shehane commented on #3905
And where is the `localStorage.getItem` being called that you said is throwing the error in the context of the tests above?

[2019-04-24 13:12] matt328 commented on #925
This has forced my team into the paradigm where we only have one spec per file and now we are up to 92 files which take over 10 minutes to run in CI.  I don't think any frontend testing framework has caught up to junit/eclipse in this regard where you can right click on a single test function and say run/watch test.  Jest's watch mode is getting close but having to type in a regex to match a spec