[2022-09-13 18:43] BlueWinds commented on #7306
Since it's been most of a month since I gave an update here, just wanted to bring people up to speed. This is still being actively worked on, and has been my main priority for the past quarter. I *did* say it would be a lot of work, and indeed it has been.

But more positively, we're on track for a solution in the next major Cypress release. You should start seeing improvements in 10.9.0 (upcoming

[2022-09-13 18:44] AnthonyMadia commented on #23813
I have an application that create a db instance when I run it on localhost:3000 on chrome. When I run the e2e tests with chrome as my browser, the state that I have on localhost:3000 is used for the chrome browser. The issue is that I thought cypress would provide a clean browser state even though I had the process running on localhost:3000.

[2022-09-13 18:46] AnthonyMadia commented on #23813
It just took me a while to debug that the issue was that I had a an instance of the app running on localhost:3000 that was causing the problem and it was not any other issue wrong with my test code.

[2022-09-13 18:52] flotwig commented on #6422
Cypress 10.8.0 is now available with `experimentalWebKitSupport`!

See the docs for instructions on installing and enabling WebKit: https://docs.cypress.io/guides/guides/launching-browsers#WebKit-Experimental

There are some known issues under the [experiment: webkit](https://github.com/cypress-io/cypress/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22experiment%3A+webkit%22) tag, pl

[2022-09-13 19:13] AnthonyMadia commented on #23813
Maybe the suggestion should be cypress should kill all other processes on localhost:3000 (or any other port tests are running on) before running the tests.

[2022-09-13 19:14] #23743 closed

[2022-09-13 19:27] AtofStryker commented on #23132
@karlhorky @lehmat @PhilFlash changes should be released in `10.8.0` that hopefully fix this issue. can you upgrade and confirm? If the issue isn't fixed I can reopen if needed.

[2022-09-13 19:36] kris-luminar commented on #3426
I'm using the projects option where I have one folder at the repository root for each for each of many Cypress projects. To get this plugin to work for my use-case, I had to require an absolute path to the reporter's main directory or else I'd get this error message:
[code]
The path is wrong because `node-modules/` is in `my-repo/`, not `my-repo/current-cypress-project/`

My workaround:
[code]

[2022-09-13 19:46] karlhorky commented on #23132
I've upgraded to `10.8.0` and the broken behavior seems to be resolved.

I have another issue, but I believe it is unrelated: a `cy.contains()` command which is in the test code near the top of an `it()` block runs at a completely different part of the test, where there is no `cy.contains()` 🤔

[2022-09-13 19:49] AtofStryker commented on #23132
yay! That's great to hear.

Now that's not so great to hear 😢 . 99% likely unrelated as most the cookie work was done in the proxy server. Are you able to open an issue about the behavior you are seeing with `cy.contains`?

[2022-09-13 20:01] AtofStryker commented on #23075
@Wilhop We released some cookie changes today with `10.8.0`. Are there any improvements with your issue? My guess is the `getCookie` issues might still persist, but hopefully correct cookies are now being sent from the proxy server.

[2022-09-13 20:11] karlhorky commented on #23132
I'm thinking that maybe it's re-querying an alias, wonder if it's a regression / new behavior introduced by https://github.com/cypress-io/cypress/issues/23652.

**Edit:** Maybe it's actually exposing a bug that was never shown before in our tests - one of our aliases is getting requeried on a page that didn't actually have the root element haha. So it looks like it may be our own error here. Sorry

[2022-09-13 20:14] rockindahizzy commented on #23219
Investigate script error (e2e flow for webpack preprocessor)

[2022-09-13 21:10] ZachJW34 commented on #23782
The width of the reporter is stored in app state, I wonder if your application state is set to a weird value.

Can you check our project's `__global__/state.json` file? You can find this by clicking on `Developer Tools` in the Launchpad and then clicking on `View App Data`
![Screen Shot 2022-09-13 at 4 04 32 PM](https://user-images.githubusercontent.com/25158820/190009118-190af45c-4df2-4569-8cd8-5

[2022-09-13 21:20] AtofStryker commented on #23132
No worries at all. If you run into any problems, don't hesitate to open a new issue!

[2022-09-13 21:33] molteninjabob commented on #7201
I don't know if any headway has been made on this, but I'm running into this issue in Cypress 10.7, but with another package. This is also occurring for me in a CICD pipeline when trying to build our application in a container:

[code]

[2022-09-13 22:03] rafaelaazevedo commented on #9447
This worked for me flawlessly ! Also it removes the iframe issue. Not sure if people would accept it as a real e2e tests tho.

[https://github.com/riccardogiorato/cypress-for-everything/blob/main/examples/stripe/cypress/e2e/stripe-checkout.cy.ts](url)

[2022-09-13 22:44] saldanaj27 commented on #23733
I was able to log in with Keycloak through API calls sent through cypress, however the Okta federated log in is still throwing errors.

[2022-09-13 23:20] guitarino commented on #15005
FYI, we were able to work around our problems with `calledWithMatch` tests by replacing `.should('be.calledWithMatch', [...])` with

[code]

It looks like a bug either in how cypress interacts with sinon, or in just sinon. Seems like if the spy was never called, it causes an infinite loop rather than throwing. Sinon spy's boolean-returning alternative doesn't appear to have the same problem.

[2022-09-13 23:38] lmiller1990 commented on #23699
Hm this is strange. Nice that you've found a work around, but this is definitely not ideal and seems like a bug.

I will look into this a bit more, but I can't commit to patching this in the near future, since I'm unsure of the scope of changes required.

I find it very strange this only impacts React 18. Something obviously has changed internally - our React 18 adapter code is identical except fo

[2022-09-13 23:44] lmiller1990 commented on #23772
Going to cc in @ZachJW34 - he will be helping out with this one, too.

[2022-09-13 23:46] rachelruderman commented on #23349
Hi @varshanharshank, thank you for following up. This has been routed over to the team and is currently in their backlog. Unfortunately I can't give a timeline on when it will be picked up -- we have a lot on our plate and there's many things we'd like to do but they all have competing priorities.

If others who are experiencing this issue upvote it, that will help prioritize it more highly.

As a

[2022-09-14 00:16] lmiller1990 commented on #23704
Weird, that looks like a really basic setup - nothing fancy. I'll take a look.

[2022-09-14 00:27] lmiller1990 commented on #23704
I forked your repo and removed one line from the GitHub actions config - now it just runs once, as you'd expect:

https://github.com/ruchikacse09/Cypress/compare/main...lmiller1990:issue-23704:main?expand=1

I am not a GH Actions expert but it looks like our cypress-io/github-actions action automatically runs the tests for you. No double execution - you were simply running the command twice errone

[2022-09-14 00:27] #23704 closed

[2022-09-14 02:27] lmiller1990 commented on #23562
PR updated https://github.com/cypress-io/prod-eng-docs/pull/77

Expecting tons of feedback, one process to rule them all!

[2022-09-14 03:27] lmiller1990 commented on #23524
To follow on ^ I think the entire docs need a rethink, there's way too many ways to do the same thing, we need recommendations.

Example: https://github.com/cypress-io/cypress/issues/23657 led to https://github.com/MichelMan/test-ct-vuetify-emit-event/pull/1 -> doing something like "testing a prop is called" should be dead simple and we should have a cohesive recipe. I think we should opt away fro

[2022-09-14 04:39] Wilhop commented on #23075
@AtofStryker I can happily confirm that after updating 10.8.0 the login is now working and cookies/storages are preserved.

Was the fix this item on the release notes?
"Fixed an regression introduced in Cypress [10.3.0](https://docs.cypress.io/guides/references/changelog#10-3-0), and further exposed in [10.4.0](https://docs.cypress.io/guides/references/changelog#10-4-0), that omitted same-site coo

[2022-09-14 06:00] keshavpdl1 commented on #4524
How to close this upload dialogue box??

[2022-09-14 06:01] raph941 commented on #21806
Thanks @flotwig PR #23823 is ready for review, kindly take a look.

[2022-09-14 06:51] FabiEbert commented on #9007
Same here

[2022-09-14 06:51] jablesyeah commented on #24452
@s4ms00n9 @bahmutov @joshuajtward
That's right. It appears to be related to the location of the config file.

[2022-09-14 07:01] idanElitzur commented on #21376
Hi @mrkjdy I dealing with the same issue with v10.7.0
Did you manage to solve this out?

[2022-09-14 07:47] StaNov commented on #22380
The issue is still occuring in our environment.

We use `cypress/included:10.7.0` image, running in GitLab CI, both on-premise runners and Kubernetes runner in Google Cloud.

It happens intermittently, approx. in one of twenty runs.

[code]

[2022-09-14 08:51] sven5 commented on #19423
Still an issue with cy 10.8.0 😟
We're using Gatsby. Tried to clean all caches and reinstalled Cypress, no luck.

[2022-09-14 08:53] chandrakumar1988 commented on #22052
![image](https://user-images.githubusercontent.com/47958062/190108341-6389fa29-3641-4aac-8ed1-c0fd0a8cf560.png)
I have changed the folder structure and then launched the Cypress its working .
![image](https://user-images.githubusercontent.com/47958062/190108712-bdd72de4-960e-4b07-99cf-a60dc0bc7d9f.png)

[2022-09-14 09:06] AnushaAshokReddy commented on #21135
@jennifer-shehane ,

Is there a final solution on this issue? We are facing same issue for longer test cases even after doing the following settings in cypress.json file

"requestTimeout" : 30000,
  "numTestsKeptInMemory": 0,
  "responseTimeout" : 50000,
  "pageLoadTimeout": 100000,

Could you please post the solution here since there are lot many tickets open on the same issue?

Thank you :)

[2022-09-14 09:10] vikingair opened #23824 "Cypress 10.8.0: Video Randomly Freezing When Recording Tests"
### Current behavior

After updating from Cypress@10.7.0 to Cypress@10.8.0 the test executions randomly freeze. Looking at the videos, you can see that the application crashed as no error is reported but the test runner exits with non zero exit code.

The following is displayed without any movements (not even spinner continue to rotate in the panel) for the last 5 seconds of the video.

<img width

[2022-09-14 09:15] geyuqiu commented on #4296
Same issue here, looks like a backslash problem in windows, use \ instead of /. Windows sucks really at web development

[2022-09-14 09:27] l-robinsonl commented on #19423
Restarting my computer was the only thing that helped me :-(

[2022-09-14 09:33] DarynaMinko commented on #23196
@VaghasiyaKrupal Hi. Did you find a way how to fix it? Cause I faced the same issue

[2022-09-14 09:47] abezzubets commented on #22506
We also started getting this issue a couple of months ago.
Now it became even worse, every time some of the tests hang and almost every time different test.

Errors from DEBUG=cypress:*

[code]

and then the log is full of recurring of the following message until CircleCI will fail job by no output timeout
[code]

[2022-09-14 09:48] mbiggs-gresham commented on #23699
Thanks, that would be appreciated. I did wonder if it was possibly a slate issue. I've been keeping an eye on both repos to see if anyone else reports similar.

[2022-09-14 10:05] sven5 commented on #19423
@0xHubert  didn't help for me.

[2022-09-14 10:49] sven5 commented on #19423
I have to rename the files after each change, this is really weird.

[2022-09-14 10:52] DobQA commented on #136
Hi @jennifer-shehane Is it possible to provide us a update on where we stand with iFrame solution, this is the last thing we need -especially needed around payment provider testing e2e. Now we have Cypress 10 out, some update would be nice as been waiting for this feature since Cypress came out. Thank you

PS: Using 3rd party plugins does work as a temp solution but Cypress crashes soon as one swi

[2022-09-14 11:11] avestura commented on #9007
@MaximTretjakov one workaround for this would be to install cypress once, and then copy the `x.y.z` (cypress version) folder of cypress cache inside `C:\Users\USERNAME\AppData\Local\Cypress\Cache\x.y.z` to the same directory of the offline machine. If such a folder exists in the local cypress cache, cypress prevents to download it.

[2022-09-14 11:18] henricook commented on #7943
This is affecting me, also on an Ubuntu system with Cypress `10.8.0`. I can't run any of the extended tests in our test suites. Anecdotally mac users on the team don't have this issue.

Now that this has a hard repro case from @cjcrandall can we reopen this issue @jennifer-shehane ?

Update: specifying `NODE_ENV=production` in front of `cypress run` didn't appear to make any difference for me

Upd

[2022-09-14 11:27] joergplewe commented on #22339
Ping. Will that get fixed?

[2022-09-14 11:33] sebamomann commented on #21988
I just revalidated it with 10.3.0, 10.7.0 and 10.8.0. All versions work fine in my case.
Could not reproduce the error.

[2022-09-14 11:55] ghost commented on #17543
I previously couldn't get it to work with ```https://localhost:3000/**``` and kept getting a 403, but setting the url to ```https://**urlneedingcert**``` worked for me.

[2022-09-14 12:03] ruchikacse09 commented on #23704
I was using that config for NTLM execution. Changing` build: npx cypress-ntlm run` to` command: npx cypress-ntlm run` resolved the issue for me.  Thanks for the prompt support @lmiller1990 .

[2022-09-14 12:36] henricook commented on #23391
+1 extremely frustrating. We've had to keep running old Edge (102) on our CI until this can be fixed, which means we can't test user experience on the latest browser.

[2022-09-14 12:55] devjared1 opened #23825 "Component tests failing after installing Quasar"
### Current behavior

I went through the Discussions and didn't see anything on there. I also did not see a button to allow me to start a new Discussion.<br>
I installed Quasar and updated some of my components to use Quasar components, and now my component tests are failing. Even just doing a simple `mount` is unsuccessful. Has anyone had success running component tests with Quasar components?

#

[2022-09-14 12:58] emilyrohrbough commented on #23824
@fdc-viktor-luft Can you give more details on how you are running Cypress, the configuration, and the general setup of your spec that is causing this error? I haven't observed the behavior in our test suite. Doesn't mean this isn't a problem for you but we need some guidance on how to repo this.

[2022-09-14 13:03] Marcelinna commented on #23698
It is possible send url in direct message?

[2022-09-14 13:11] vikingair commented on #23824
@emilyrohrbough Sure, sorry for providing so little details. Thanks for taking care 👍

Running command: `pnpm test`
With script in package.json: `"test": "cypress run --e2e"`

Cypress-Config:

[code]

And `cypress-audit` with version: 1.1.0

Test example:

[code]

[2022-09-14 13:12] idanElitzur commented on #21988
Actually this happens to me only when I'm using Chrome browser v105x
when using electron the `load` errors are not returning and the origin it works but the cookies of the session are not passing inside and the flow can't be done :/

[2022-09-14 13:24] mladshampion commented on #6202
The issue is happening in Cypress 10. 8.0 too. Tried running in chrome and electron but the issue still appears when the tests are run with run command and not happening when ran with cypress open.

[2022-09-14 13:31] emilyrohrbough commented on #23391
I totally understand the frustration. We are treating this as a high impact issue. Until we can figured out a root cause, we can not provide a clear answer on how and when this will be fixed.

Can you give some general insights on your spec structures? How man commands per test on average? How man tests per spec on average?

[2022-09-14 13:34] JuliaGeorgiFR commented on #20414
the same here..

[2022-09-14 13:36] JuliaGeorgiFR commented on #20414
the same here..

[2022-09-14 13:37] idanElitzur commented on #23814
Actually this is happen only by **Chrome browser** (latest).
When i using Electron instead it cross the `cy.origin()` and not stuck under 'loading pages but it doesn't pass the session cookies inside it and can't complete the flow :/

any solutions for cookies handling inside `cy.origin()` after page redirecting?

[2022-09-14 13:45] sebamomann commented on #21988
Said runs were on Chrome 104.
Tested Cypress 10.7.0 and 10.8.0 on Chrome 105. Works fine on my side.

[2022-09-14 13:45] mladshampion commented on #17857
same issue happening to me

[2022-09-14 13:45] henricook commented on #23391
I can reproduce this running one Spec, with about 300 commands. I'm using the cucumber-preprocessor but I've not mentioned Steps (about 100 steps) or Scenarios (about 4) because I'm aware that's not pure Cypress.

[2022-09-14 13:51] chrisbreiding commented on #17607
Unfortunately there doesn't seem to be enough information to reproduce this issue. This does not mean that the issue is not happening - it just means that we do not have a path to move forward.

If you or anyone is still experiencing this issue, please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [short, self-contained, correct Example](ht

[2022-09-14 13:51] #17607 closed

[2022-09-14 14:04] chrisbreiding commented on #23814
Sorry you're encountering this problem. Thanks for creating an issue and for the thorough reproduction information. It's very helpful.

There are currently some known issues with [logging in through Google in the Chrome browser](https://github.com/cypress-io/cypress/issues/22987) that we're actively looking into. Hopefully we'll have a solution in the near future.

[2022-09-14 14:06] emilyrohrbough commented on #23824
@fdc-viktor-luft  Can you share a bit more? What error are you seeing? And what is the behavior of the the submit handler / xhr that is being triggered? Is this a redirect that sends cookies? Is this an update in the application under tests to rerender when authenticated?

Is this test the only place you are experiencing this hang? We also fixed some same-site cookie related issues in 10.8.0 so wa

[2022-09-14 14:10] idanElitzur commented on #22987
Do you have any followup about this issue? i'm dealing with the same issue too

[2022-09-14 14:12] idanElitzur commented on #23814
Thanks a lot, This issue is really blocking my project in these days.
Do you have any solution how to deal with session cookies inside origin() by Electron?
I would like to it as a "plaster" until the problem with chrome broswer will solved out.
@chrisbreiding

Thanks

[2022-09-14 14:18] AtofStryker commented on #22380
@StaNov it looks like the version of Cypress that is running here is `9.7.0` from the cache. Have you tried clearing the cached installs or verify `10.7.0` is installed?

[2022-09-14 14:20] jwohlfahrt commented on #22159
+1 for adding an option to ignore stripping the common ancestor paths

[2022-09-14 14:22] AtofStryker commented on #23075
That's great!

That is the fix I believe should have solved this issue, and it looks like it does! We have further cookie improvements coming in future releases, but right now this fix gets us over the hump.

Awesome. I am going to close this out but if you run into any other issues just let us know!

[2022-09-14 14:22] #23075 closed

[2022-09-14 14:40] nbouvrette opened #23826 "E2E Tests do not support the `exports` field from external modules"
### Current behavior

I'm writing an E2E test for Next.js and I am trying to do the following in one of my tests:

[code]

The test fails with the following unclear Webpack error which from what I understood means "package is not found":

[code]

I can make this work using the following workaround, bypassing the [`exports`](https://webpack.js.org/guides/package-exports/) configuration from the pac

[2022-09-14 14:44] ZachJW34 commented on #23698
@Marcelinna I'm taking over for @lmiller1990, you can send me an email with that info and I can pick up the investigation.

[2022-09-14 14:44] AtofStryker commented on #22987
Hey @idanElitzur.  Sorry that you are also running into this issue. The main blocker for this issue inside of chrome is that the iframe that contains Cypress is not an exact match on `same-origin` policy, but matches the origins super domain. The `document.domain` property doesn't seem to be respected in regards to this, and is unique to chrome, chromium, and canary.

The good news is we have rece

[2022-09-14 14:45] AtofStryker commented on #22987
related to #23814

[2022-09-14 14:45] AtofStryker commented on #23814
Hey @idanElitzur. I can at least provide an update with the issues you are seeing with `cy.origin` for `https://accounts.google.com`.  I posted an update [here](https://github.com/cypress-io/cypress/issues/22987#issuecomment-1246876332). A solution is hopefully coming soon!

[2022-09-14 14:49] idanElitzur commented on #23814
Thanks, but you don't have any kind of temporary solution for the use case of cross-origin?
Any hack to cross this redirection by some API?
I've tried to use your[ google authentication login best practice guide lines](https://docs.cypress.io/guides/end-to-end-testing/google-authentication#Setting-Google-app-credentials-in-Cypress) and it doesn't effect about this use case, I saw it logged in ok b

[2022-09-14 14:50] AtofStryker commented on #21572
Hey @idanElitzur. We currently do not have a workaround for this issue. We have spent a few weeks investigating this issue, but haven't been able to determine a root cause. Definitely a frustrating one. We have some significant improvements coming to `cy.origin` in the coming weeks, and what I am hoping is that some of the changes either help resolve this issue, or eliminate a few things that we k

[2022-09-14 14:53] emilyrohrbough commented on #23589
@RemaKoul Unfortunately, I have no further insights at this time. Is the application you are testing using React 18?

[2022-09-14 14:53] flotwig opened #23827 "Remove experimental status from WebKit"
WebKit is currently in experimental.

Once "Cypress Provided Browsers" is ready, and once all the driver/system-tests pass are unskipped in WebKit, it can be removed from experimental status.

[2022-09-14 14:55] idanElitzur commented on #22987
Thanks a lot @AtofStryker
That is a really good news and hope it will be solved out ASAP! 🙏

Should I do it by **Electron**  in a meantime or by some **API request** under the hood?
The electron able to cross the origin and reach the actions inside it but it didn't take the session cookies before the redirection and can't complete this flow.

[2022-09-14 14:57] ghost opened #23828 "TypeError: Cannot read property 'mkdir' of undefined"
### Current behavior

I am using Win 10 64 bit system and when i try to build my project using **mvn verify -Pcypress-ci**, mu project buildup gets failed. Below is the error log for further description of the issue:
[code]

### Debug logs

_No response_

### Cypress Version

7.7.0

### Node version

10.0.0

### Package Manager

npm

### Package Manager Version

7.5.4

### Operating system

Window

[2022-09-14 15:02] vikingair commented on #23824
The submit handler performs:
- Loading some ReCaptcha script
- Triggering a Fetch-Request to perform the login
- This request sets some cookie value
- Finally a page reload

The error looks like a "normal" timeout error:

[code]

But I've also seen other errors that were trying to wait for elements that are not even on the screen yet, when the Cypress Video freezes. So it must be that Cypress stil

[2022-09-14 15:05] chrisbreiding commented on #23528
@orly-from Issues in our GitHub repo are reserved for potential bugs or feature requests. We recommend questions relating to how to use Cypress be asked in our [Discord server](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading through our [documentation](https://docs.cypress.io), or searching [Stack Overflow

[2022-09-14 15:07] AtofStryker commented on #23814
My guess is that there aren't new cookies set because the programmatic request doesn't set any cookies unless they are third party because it doesn't have the ability to do so as it is a cross-site request. It looks like the `cy.request` method is more of a bearer token approach and likely wouldnt work for something that is expecting cookies set for some type of oauth2 flow.

For the case of `cy.o

[2022-09-14 15:08] AtofStryker commented on #22987
I hope it is out soon as well! In the meantime approach,  I replied [here](https://github.com/cypress-io/cypress/issues/23814#issuecomment-1246910445) to hopefully provide some type of workaround. Not ideal at all, but this won't be an issue for long!

[2022-09-14 15:11] emilyrohrbough commented on #23824
@fdc-viktor-luft Thanks for digging in a bit more. This is super helpful in understanding what might be happening.

Based on your findings, it seems this issue can accurately be summarized as "Cypress video recording randomly freezes while tests continue"? or am I mis-understanding the issue you are trying to describe?

[2022-09-14 15:25] mrkjdy commented on #21376
@idanElitzur I opened a different issue #22459

[2022-09-14 15:29] vikingair commented on #23824
Yes. It seems so. I mean some of them are still failing for unknown reason, but I couldn't find the reason in the Videos 🙃

Would you suggest to raise a separate issue for that, if it keeps randomly failing?

Also, we have experienced our tests to run now almost twice as slow.

A test run with only success with version 10.7.0: ~ 6 min
A test run with only success with version 10.8.0: ~ 10,5 min

I

[2022-09-14 15:40] AtofStryker commented on #21376
@mjhenkes do we know if the flake issues were fixed with #23297?

[2022-09-14 15:53] alyssaruth commented on #20897
It's been a while since I last gave an update, but I have some good news. We ran another experiment, this time to see what happened if we ran the same minimal scenario but using Playwright instead of Cypress. We rewrote a simple login test and did a bunch of builds with it running in a loop and we're now very confident that we've run into the exact same problem.

It manifests slightly differently,

[2022-09-14 15:53] #20897 closed

[2022-09-14 15:53] emilyrohrbough commented on #23824
@fdc-viktor-luft Sounds good. Can you confirm the browser(s) you are having this issue with?

Also, if you aren't able to identify the issue from the videos, I would try running the spec in question with the flags `--headed --no-exit` so you can watch it run and then debug when it finishes. https://docs.cypress.io/guides/guides/command-line#cypress-run-no-exit

[2022-09-14 16:04] extracker-ppetrov commented on #21135
I am able to reproduce this on Edge and Electron too, for longer test suites that hold multiple test cases, it(}.
The issue reproduces mostly when test cases are failing within the spec test suit and are being rerun.
Lets say you have 7 test cases in the spec file, if two fail and are rerun 3 times each, the issue reproduces. Setting the numTestsKeptInMemory to something different than 0 is reduci

[2022-09-14 16:10] emilyrohrbough commented on #21135
@extracker-ppetrov Thanks for the details. How many tests on average are in your spec? How many commands on average per test? Are you using Cypress out of the box are are you also using a plugin/preprocessor as well?

[2022-09-14 16:15] vikingair commented on #23824
Running in the CI. Cypress prints this:

[code]

[2022-09-14 16:17] extracker-ppetrov commented on #21135
I would say 8 to 10 tests. My longest test has about 150 lines, but I am using page object model and two layers of encapsulation, so lets say may be 200-250 commands for that one. But that is a rare case. This spec always reproduces the issue when one of the 11 tests inside fails.
Mostly I would say my tests have about 50 -60 commands and there are 8 to 10 tests in each spec.
Our tests are in Type

[2022-09-14 16:22] vikingair opened #23830 "Cypress 10.8.0: Much slower running in CI and randomly failing tests"
### Current behavior

A successful test run with version 10.7.0: ~ 5 min
A successful test run with version 10.8.0: ~ 12 min

Also, with 10.7.0 we had our tests very stable failing almost never.

With Version 10.8.0 the tests started to run into several random timeouts, but this could be related to the very slow execution times.

Browser: Electron 102 (headless)

### Desired behavior

I would expe

[2022-09-14 16:31] mjhenkes commented on #23472
Fixing this with #23297

I limit the number of times the test page can redirect to 21 using local storage.

[2022-09-14 17:03] AtofStryker commented on #20897
@alyssa-glean that's great news that there isn't something Cypress related, but I am bummed the issue is still present. We are always glad to help and if you run into any additional trouble please reach out!

[2022-09-14 17:09] kcrystalchen opened #23831 "Not display the UI style but displaying the text only during Time Travel"
### Current behavior

Hello,
Since 9/13/22 afternoon, my time travel screen does not display any UI styling anymore, but only show the text on the page. I wonder if anyone encounters this issue, or this is a bug.
I am using "cypress": "^10.6.0" with "@badeball/cypress-cucumber-preprocessor": "^12.1.0".
But during the test, the styling and text were able to display properly, it only happens when I

[2022-09-14 17:09] Amitkahlon commented on #23679
Thank you, I will give it a try this weekend

[2022-09-14 17:30] JoanEsquivel opened #23832 "expecting an array or an iterable object but got [object Null] using playwright-webkit"
### Current behavior

I am experiencing a couple of errors just using the new browser experimental feature.

* TypeError
expecting an array or an iterable object but got [object Null] Because this error occurred during a `before each` hook we are skipping all of the remaining tests.

* TypeError
expecting an array or an iterable object but got [object Null]

### Desired behavior

Should run my tes

[2022-09-14 17:37] idanElitzur commented on #23814
OK thanks, I'll try this solution.
 Just to be clearly, Should I do the following steps?

-  add the conf flags of `experimentalModifyObstructiveThirdPartyCode` and set it `true`.
- Add the login by google API login according to your best practice guide as below:
[code]
- then call this login function by the test case before the redirect it happens:
[code]

and is it should work ok?
@AtofStryker
 

[2022-09-14 17:39] jenniferabowd commented on #23782
@ZachJW34 do you happen to have the instructions in Chrome?

[2022-09-14 17:45] bbartizek commented on #18564
I saw that there were performance improvements mentioned in the changelog for 10.8.0, but running one of our existing test suites showed that this issue still is not resolved.  Over the last 3 months on 8.1.0, the average runtime for the suite is 11m 44s, but my test on 10.8.0 took 30m 20s.

[2022-09-14 17:46] vin-ai commented on #23750
After upgrading to `badeball/cypress-cucumber-preprocessor` it is working fine. But the question remains that how preprocessor makes cypress to go for angular instead.

[2022-09-14 17:48] BlueWinds commented on #18564
@bbartizek - If you could provide us with a specific test which runs slower on 10.x, I'd love to look into it more.

I certainly believe it's happening, but in order to look into it, I first need to be able to isolate a case and examine it. I don't have access to your tests quite, so it running slower isn't much help in figuring out what the problem is. It's also very hard to compare across a gap

[2022-09-14 17:52] AlexDaniel commented on #18564
@BlueWinds have you tried running *any* test suite on 8.3.0 vs 8.6.0 (and then vs the latest version)? What are your timings?

[2022-09-14 17:55] BlueWinds commented on #18564
I'm saying 8.3 vs 8.6 was a long time ago, and we (like the majority of projects) don't usually tend to support old versions.

We would welcome help identifying exactly what is now slow and improving it. But "still slow" is not useful or productive.

[2022-09-14 18:01] chrisbreiding commented on #23813
Cypress will provide a clean browser state, but that's limited to state that's in the browser. We'd rather leave it up to test authors to manage any state outside of the browser, including running processes.

[2022-09-14 18:01] #23813 closed

[2022-09-14 18:04] konnster99 commented on #22634
hi can i try this issue?

[2022-09-14 18:09] vertocode commented on #8496
Same bug here, can someone help us, please?

Cypress version: 9.3.1

I get the 'waiting for the page loading' error when I run GitHub actions visiting 2 different domains, but locally it works... do we have a problem when using GitHub actions and 2 different domains that can cause this? it seems that everything is ok when we try it locally, but when we see the video that the cypress dashboard show

[2022-09-14 18:09] StefanLobbenmeier commented on #23391
Our test spec is around 900 loc split by 6 cases

[2022-09-14 18:34] flotwig commented on #23832
Hi @JoanEsquivel, this is because experimentalSessionAndOrigin is not currently compatible with experimentalWebKitSupport: We are working on it: #23799

However, this user experience is not intended. You should get a cleaner error. I'll keep this issue open to track cleaning up this error.

[2022-09-14 18:56] ZachJW34 commented on #23826
Thanks for opening this issue @nbouvrette

Looking into this, I found [this webpack issue](https://github.com/webpack/webpack/issues/9509). Support for respecting `package.json.exports` is only available for Webpack 5, and the `webpack-preprocessor` built into Cypress uses Webpack 4. We have an issue for upgrading to webpack 5: https://github.com/cypress-io/cypress/issues/19555 but cannot give you

[2022-09-14 19:34] JoanEsquivel commented on #23832
Thanks for the quick response and help.

[2022-09-14 19:39] abruskin commented on #23498
It is happening within the cy.origin() block.

[2022-09-14 19:40] ZachJW34 commented on #23782
Those instructions are browser agnostic, as the Launchpad (the initial window that pops up when you run `npx cypress open` is in Electron. Since you are on Mac, you should be able to find the file in `/Users/<your-username>/Library/Application Support/Cypress/cy/production/projects/__global__`

[2022-09-14 19:46] BarrySaikSoundry commented on #440
+1

[2022-09-14 19:55] abruskin commented on #23498
I'm coming back to this after a few days working on other things, apologies for the delay.

I'm not seeing the uncaught exception error anymore, but it looks like because something is going wrong earlier in the flow, but not always for the same reason. Sometimes it's a flake issue, but if it gets through all of the flakes it doesn't successfully sign in but also is not throwing an error.

[2022-09-14 19:56] Narretz commented on #23824
Looks like the only commit that touched video was a refactor, although a pretty big one: https://github.com/cypress-io/cypress/commit/bcd7548d74fdb5dab4790f10f158bb4f3e9387bc

[2022-09-14 19:56] abruskin commented on #23498
I'll dig into this more and get back to you if there is still a problem.

[2022-09-14 20:05] michaelpward commented on #20734
Same issue here.

I have 27 spec files all in the same directory (`/cypress/e2e`). The 2 newest spec files were added today. Cypress does not "see" them whether I attempt to run all of specs or if I attempt to run either of the 2 newly created specs - but it "sees" all 25 of the specs created in the past.

Permissions on all files is the same.

My 2 new specs do not appear in the list of specs whe

[2022-09-14 20:10] chrisbreiding commented on #23773
Closing in favor of the other issue you logged: #23814

[2022-09-14 20:10] #23773 closed

[2022-09-14 20:11] nbouvrette commented on #23826
Thanks for the suggestion - unfortunately, it looks like `@cypress/webpack-batteries-included-preprocessor` depends on Webpack 4 which hasn't been updated for almost 2 years now and includes https://github.com/advisories/GHSA-ww39-953v-wcq6

I think I will stick with my workaround for now and hopefully we can have Cypress on Webpack5 this year :)

[2022-09-14 20:16] michaelpward commented on #20734
Following up to my prior comment:

I've just updated my config such that I have added

[code]
...and the issue persists. When I run `yarn cypress:open` only 25 of the 27 spec files appear in the list, and the 2 missing specs are the ones I created today.

[2022-09-14 20:17] jenniferabowd commented on #23782
I'm seeing ```{
  "firstOpenedCypress": 1656341701317,
  "reporterWidth": 0,
  "isSpecsListOpen": true,
  "browserX": 177,
  "browserY": 59
}```

While I could modify this, I wonder why this is set to 0.

[2022-09-14 20:27] lydemann commented on #23797
Yes, that does work like that, but should probably also work as domain:port/assets/*

Thanks for looking into it.

[2022-09-14 20:35] jsphstls commented on #18794
This ended up being my solution in a support file. The `headers` usage is the cleanest way of differentiating between static file requests and authenticated data requests for my specific application.

[code]

I prefer to fail the test right away vs evaluating in an `afterEach`.

[2022-09-14 21:06] kcrystalchen commented on #23831
Hello there,
just found out this issue was caused by using  @only to only run one test each time. once @only has been removed the styling is back to normal.

[2022-09-14 21:06] #23831 closed, assigned to nobody

[2022-09-14 21:07] lmiller1990 commented on #23524
- We should not having linting or typing errors for common templates out of the box.

[2022-09-14 21:38] ZachJW34 commented on #23782
Not sure, even setting it to `0` on my end reverts it back to `450` once I open the app. Can you try setting the `reporterWidth` to `500` and see what happens? You can also delete that file and it will be regenerated upon launch.

[2022-09-14 21:45] ZachJW34 commented on #23826
The security vulnerability is not ideal, could be the driving force to push us to upgrade to webpack 5! Thanks for the info, going to post in the Webpack 5 issue and hopefully gets some traction.

[2022-09-14 21:47] ZachJW34 commented on #19555
Another bump here related to https://github.com/cypress-io/cypress/issues/23826, looks like there are security vulnerabilities with [Webpack 4](https://github.com/cypress-io/cypress/issues/23826).

[2022-09-14 22:09] benjaminpinto commented on #8496
@vertocode take a look on this: https://medium.com/@benjaminpinto/cypress-waiting-for-a-page-to-load-after-downloading-a-file-quick-fix-210d89a02e1a

Hope it helps.

[2022-09-14 22:24] vertocode commented on #8496
Thanks, but It not helps.

I want enter with contact with you! You can take a look in your LinkedIn?please

[2022-09-14 22:25] emilyrohrbough commented on #22634
@konnster99 That would be great!

[2022-09-14 22:40] ericyhwang commented on #23830
Also seeing this issue - tests running much more slowly on Cypress 10.8.0, with some hanging while consuming 100% CPU for 2+ hours on CI, until manually stopped.

Reverting back to Cypress 10.7.0, the same test suite finishes in well under 10 minutes.

----

CI is using the Docker image `cypress/base:14.7.0` as a base, with Cypress 10.8.0 installed via NPM.

Exec-ing into a container with a hangin

[2022-09-14 22:44] smmccabe commented on #16253
I used to encounter this quite often, either on hot-reload or if i ran a test too quickly after cypress opened. With the update to Cypress 10 I am no longer getting this issue, at least as of 10.3.1 (I didn't specifically go test older version of 10)

[2022-09-14 22:56] lmiller1990 commented on #23228
Neat idea for an extension @tnrich - I want this, too. I didn't try It out but do you have a way to change to another spec without killing+reopening Cypress?

[2022-09-14 23:03] denke8 commented on #23165
Hi @AtofStryker!

I have checked against the latest Cypress (10.8), unfortunately, it's still broken. I updated the description above and the reproduction repository

[2022-09-14 23:18] VaghasiyaKrupal commented on #23196
@DarynaMinko Unfortunately not found any solution for this.

[2022-09-14 23:37] extracker-ppetrov commented on #21135
Here is also a crash output from a headless run. I am not running this in Docker. I am simply using the Terminal in VS Code. I am getting this error for chromium crashing, when I run my tests headless with Electron.
───────────────────────────────────────────────────────────────────────────────
We detected that the Chromium Renderer process just crashed.

This is the equivalent to seeing the 'sad

[2022-09-14 23:59] lmiller1990 commented on #19555
I think we should just rip off the bandaid and solve this, I think two engineers with webpack 4/5 difference knowledge can smash this out in a week or so. I feel like the webpack4->5 changes are burnt into my brain at this point... also we are less reliant on webpack now with our usage of Vite, I think we could start by trimming down our webpack.config and potentially deleting a bunch of deps (rat

[2022-09-15 05:25] lirajmaharjan-houzz opened #23834 "cy.clearCookies() th in Webkit - cypress@10.8.0"
### Current behavior

Most of the time it throws an error

clearCookies

!CypressError
`cy.clearCookies() `had an unexpected error clearing cookies in Webkit.

After multiple re-run/refresh it does manage to by pass the clearCookie but it will again throw an error for chromeWebSecurity.

I tried with adding `chromeWebSecurity: false` in cypress.config file, but didn't make any differences in cypre

[2022-09-15 06:02] RemaKoul commented on #23589
Our application is based on React 17.  Will that pose any difference, please suggest .

also, do we have any SLA when the bug would be resolved?

[2022-09-15 06:21] lalitkushwaha1410 commented on #20734
Hi @michaelpward , May I know which cypress version you are using ??
 Please try with latest cypress version - 10.8.0 or 10.7.0 .
![image](https://user-images.githubusercontent.com/45065608/190328841-129826fd-0aa6-44c9-8f86-4d4ac65d942f.png)

I also faced this issue a couple of days ago .At that time I was using cypress - 10.4.0 . It got resolved when I  upgraded the cypress version to latest .
Le

[2022-09-15 06:23] michaelpward commented on #20734
I upgraded from 10.7 to 10.8 today.

[2022-09-15 06:43] rahul-adpushup commented on #20734
Is this working for you?

[2022-09-15 06:47] lalitkushwaha1410 commented on #20734
@michaelpward
are you able to see all the 27 specs in the cypress test runner ?
also try with command "npx cypress run" .

[2022-09-15 06:49] michaelpward commented on #20734
No, only 25 show up in the test runner.

I'll try npx.

[2022-09-15 07:14] DarynaMinko commented on #23196
@VaghasiyaKrupal ok, thanks

[2022-09-15 07:28] aleksey-ilin commented on #583
@jennifer-shehane Will you plan to add this feature?

[2022-09-15 07:35] shammlo commented on #7307
@flotwig, my Cypress version is ` "cypress": "^10.8.0",` and im still having this error, still receiving "Not secure".

[2022-09-15 09:08] MvRiele opened #23835 "ERR_FAILED (-2) when loading new window Electron 102 (headless) via CLI"
### Current behavior

Test uses `cy.window().then(win => { cy.spy(win, 'open').as('windowOpen'); });` and `cy.waitUntil(() => cy.get('@windowOpen').should('be.called'));` to check if opening a window is triggered.

When running in CLI Electron 102 (headless) an error is given:

`ERR_FAILED (-2) loading 'https://www.testcode.com/?title=test'
Error: ERR_FAILED (-2) loading 'https://www.testcode.com/

[2022-09-15 09:09] StaNov commented on #22380
@AtofStryker Thank you for your response.

I tried to pull the image again and it really looks like a mistake on the Cypress side - there is version `9.7.0` pushed as `10.7.0`.

I tried the new one `10.8.0` and it looks that it works so far.

[2022-09-15 09:42] satoricat opened #23836 "Error: EACCES: permission denied, open '/Users/admin/Library/Caches/Cypress/10.8.0/binary_state.json' after trying to run Cypress 10.8.0 on mac os"
### Current behavior

hello to Community! please help if you can

After updating to fresh version of Cypress i can't run it using npm run cypress command.

An unexpected error occurred while verifying the Cypress executable.

Please search Cypress documentation for possible solutions:

https://on.cypress.io

Check if there is a GitHub issue describing this crash:

https://github.com/cypress-io/cyp

[2022-09-15 09:52] JulZimmermann commented on #15258
I had the same problem with an Ubuntu 22.04-based docker image. Ubuntu 22.04 will install a snap version of firefox by default, which will not run in docker.

I had to install the "normal" non-snap version of firefox: https://www.omgubuntu.co.uk/2022/04/how-to-install-firefox-deb-apt-ubuntu-22-04

[2022-09-15 10:04] chandrakumar1988 commented on #5761
I am not able to Click the button even though i have enter correct CSS Selector .
![image](https://user-images.githubusercontent.com/47958062/190375729-77a0920b-75e3-4698-9d73-ea05068a159c.png)
![image](https://user-images.githubusercontent.com/47958062/190376410-3cc5fc70-fb2d-4aa8-9ef9-ebbe236579dd.png)
I have used both command - Its detecting the element but not click the button .
cy.get('#submi

[2022-09-15 10:09] lmiller1990 commented on #22304
#23794 is up for review.

[2022-09-15 10:10] chandrakumar1988 opened #23837 "Cypress 10 Version - Not Click the button by using click() Method"
### Current behavior

I am not able to Click the button even though i have enter correct CSS Selector .
![image](https://user-images.githubusercontent.com/47958062/190376934-f604d191-83d2-40b3-8ea6-6f1a857f2d7b.png)
![image](https://user-images.githubusercontent.com/47958062/190377010-ab853bfd-7061-4948-8e8c-967455aa665c.png)

I have used both command - Its detecting the element but not click the

[2022-09-15 10:23] lalitkushwaha1410 commented on #20734
Please try with below spec pattern and also check the project settings in the cypress test runner .
![image](https://user-images.githubusercontent.com/45065608/190380327-84ea91f4-5ca8-4b84-82af-16ad639ad05e.png)

[2022-09-15 10:27] lalitkushwaha1410 commented on #20734
Try with putting this specPattern and also verify the same in the project settings in cypress test runner.
![image](https://user-images.githubusercontent.com/45065608/190381319-33928d69-b955-483d-a5dd-27f009df9ae1.png)

[2022-09-15 11:00] PhilFlash commented on #23132
For me, all is ok with 10.8.0. Thanks

[2022-09-15 11:20] nitish-Datman commented on #23751
@jennifer-shehane can this be resolved please

[2022-09-15 11:37] lehmat commented on #23132
10.8.0 works perfect for me too

[2022-09-15 12:28] MassimoLobrutto opened #23838 "Screenshot in run mode does not highlight failing line of code"
### Current behavior

In debugger mode a failure correctly shows the failing line of code

![image](https://user-images.githubusercontent.com/81157392/190402166-1a57c40a-f4c0-43f2-8e93-d17dde57398a.png)

However running from the command line shows the error but not the code in the screenshot that is attached to the report

![image](https://user-images.githubusercontent.com/81157392/190402569-9e022

[2022-09-15 12:33] nadvolod opened #23839 "cy.visit() on a specific URL ends the test prematurely"
### Current behavior

cy.visit('https://who--spmstage.sandbox.lightning.force.com/lightning/page/home') with a `baseUrl` is ending the test execution prematurely without any feedback. The spec starts to run, then stops, and comes back to the Specs screen with no extra information.
I tried the same thing with `google.com` and it works just fine. Seems as though something about this URL is causing a

[2022-09-15 13:29] mjhenkes opened #23840 "xhr requests logged from within a cy.origin block are duplicated in the log"
### Current behavior

xhr requests logged from within a cy.origin block are not matched with the pre-request.

![Screen Shot 2022-09-15 at 8 13 18 AM](https://user-images.githubusercontent.com/1588747/190413016-b601a14e-0be5-4448-8008-d1acae6327d0.png)

additionally the pre request is returned with the wrong url, localhost instead of the origin url, in this case foobar.

### Desired behavior

xhr

[2022-09-15 13:29] michaelpward commented on #20734
`<humbling>`
Thank you for your help. I found the problem. The 2 spec files that were not being "seen" were both missing `.cy.` in their names.

For example, I changed `account-profile.js` to `account-profile.cy.js` and now the spec is seen.
`</humbling>`

[2022-09-15 13:41] nagash77 commented on #23828
@amanthakur03 I see you are using an old version of Cypress.  Can you please try upgrading to the latest version and see if you are still encountering the problem?

[2022-09-15 13:43] nagash77 commented on #23832
@JoanEsquivel I am going to close this ticket as expected behavior until the referenced work is complete.  Feel free to follow along with #23799 for updates as to when this issue will be resolved.

[2022-09-15 13:55] emilyrohrbough commented on #23589
@RemaKoul No one is actively working on this. If you have time, we would love a contribution for this fix! 🙏🏻

[2022-09-15 14:04] rujorgensen opened #23841 ""TypeError: Cannot destructure property 'build' of 'architect' as it is undefined." when generating Cypress Angular Component test configuration"
### Current behavior

I'm attempting to setup Angular component tests by using the Cypress UI tool:
![image](https://user-images.githubusercontent.com/6797319/190422551-7b608d66-e1b4-4a57-bace-222c5efc3a4c.png)

But I'm getting this error:
![image](https://user-images.githubusercontent.com/6797319/190423817-a9603a7e-ea93-4f34-a305-3700079c36b9.png)

Any advise would be much appreciated 🙏!

### Des

[2022-09-15 14:06] AtofStryker commented on #22380
@StaNov glad that bumping to `10.8.0` fixes your issue. It does look like `10.7.0` is installed in the [image](https://github.com/cypress-io/cypress-docker-images/blob/master/included/10.7.0/Dockerfile#L36). I'm interested to see if you run into this problem again, but it seems odd that a cached `9.7.0` would exist inside a fresh docker image. Either way, if you run into the issue again, please le

[2022-09-15 14:29] Elecash commented on #23832
@JoanEsquivel @nagash77 I'm also getting the same error although I'm not using `experimentalSessionAndOrigin`. Could this be a different error?

I don't have a repo to reproduce the error, but if needed I might try to build one if needed.

Btw, this error is not consistent for me, sometimes it does fails, sometimes it doesn't.

[2022-09-15 14:32] #23783 closed

[2022-09-15 14:33] ptletski commented on #23783
Thank you for your help. This solved the problem.

If I recall properly, this node reference was added for a previous version of Cypress. Glad it is not needed any longer.  Again, thanks for your help.

[2022-09-15 15:04] ZachJW34 commented on #23581
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-15 15:08] ZachJW34 commented on #23726
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-15 15:08] #23726 closed

[2022-09-15 15:10] ZachJW34 commented on #23641
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-15 15:10] #23641 closed

[2022-09-15 15:20] ZachJW34 commented on #23516
I'm going to close this issue out. Similar to https://github.com/nrwl/nx/pull/11790, there will need to be some work on Nx's side to add first class support for Next.js + Nx + Cypress CT. Creating an issue in Nx would be good to push this along. We had to make some change on our side to accommodate for Angular + Nx + Cypress CT, so I imagine another issue might be opened down the line if/when the

[2022-09-15 15:20] #23516 closed

[2022-09-15 15:32] jenniferabowd commented on #23782
I tried deleting that file, but it is still happening. Updating that file also didn't fix it.

[2022-09-15 15:32] ZachJW34 commented on #23750
It's hard to say without a reproduction of the issue. The cucumber processor might have been trying to bundle `node_modules/cypress/angular` which relies on some Angular peer dependencies. We ship all of our mounts regardless if you use them or not, but they should be ignored as long as you the processor doesn't try to bundle them.

To verify, you've upgraded to the cucumber processor that has sup

[2022-09-15 15:37] ZachJW34 commented on #23782
Can you try cloning https://github.com/cypress-io/cypress-test-tiny and seeing if the issue is still present? I'd like to see if this happens to be project specific or it applies to all of your projects. Also, could you list the commands you are using to open Cypress?

[2022-09-15 15:46] ZachJW34 commented on #19555
I would love to see it by end of 2022. Depending on the e2e teams workload, this issue would be something that I think the ct team could pick up after CT GA is finished.

[2022-09-15 16:43] nagash77 opened #23843 "Upgrade Electron from v19 to v21"

[2022-09-15 16:43] mbolotov commented on #1417
The [cypress-thenify](https://github.com/mbolotov/cypress-thenify) plugin now supports the `Total` mode. So you can write your code like that:
[code]
![image](https://user-images.githubusercontent.com/19785715/190460499-788e30d3-b65c-45f7-8f95-1e81765bd4bb.png)

[2022-09-15 16:55] ZachJW34 commented on #23772
@amar0120 I am seeing weird behavior with your reproduction where the app is being redirected back to the specs list when the button is pressed. You noted that the App is crashing, is it crashing for you on the reproduction you provided? Also, I took a look at the Debug logs you sent to @lmiller1990, could you rerun the test with this command:

`$env:DEBUG="cypress:*" ; npx cypress open *> log.txt

[2022-09-15 16:58] jenniferabowd commented on #23782
I just tried that. Same error...
![Screen Shot 2022-09-15 at 12 56 32 PM](https://user-images.githubusercontent.com/23088445/190463370-a7e7d59d-2165-4085-9b81-ba00ac5f5e58.png)

I am running `npx cypress open`. What is weird is my teammates are not having this problem either. I've tried clearing my npm cache, restarting my computer, deleting my node modules, and none of that is fixing it either. I

[2022-09-15 17:17] amar0120 commented on #23772
Hi @ZachJW34
Please find the generated logs at https://github.com/amar0120/CypressCrashing/commit/ba0a1a45761206efbf0a938bd24d6b49b096e084

And Yes you are right, app is being redirected back to the specs list when the button is pressed as my end also. And this is the main issue that I am facing. It should verify the Thank you message.

Thanks & Regards,
Amar Singh

[2022-09-15 17:28] #21485 closed

[2022-09-15 17:28] #22282 closed

[2022-09-15 17:28] #21300 closed

[2022-09-15 17:28] #23236 closed

[2022-09-15 17:28] #23076 closed

[2022-09-15 17:28] #23472 closed

[2022-09-15 17:30] chrisbreiding commented on #23751
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-09-15 17:32] chrisbreiding commented on #23674
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-09-15 17:43] ismyrnow commented on #18063
I can confirm that I'm still seeing this behavior in cypress v10.6.

My use case is defining intercepts in a beforeEach hook. It appears that a test can complete, yet the page can still trigger a network request while the next test's beforeEach hook is running (which is prior to those network request intercepts being defined).

In other words:

1. Test1
  a. beforeEach: define some intercepts
  b.

[2022-09-15 17:52] ZachJW34 commented on #23782
Does this issue occur across other browsers like Electron on Firefox?

While I keep investigating, there is a hack that you can add to you `cypress/support/e2e.js` file that will enable you to work with Cypress without having to manually change it everytime:

[code]

[2022-09-15 17:57] emilyrohrbough opened #23846 "Firefox Tooltip - Only Show when ChromeWebSecurity=false"
### Current behavior

<img width="603" alt="Screen Shot 2022-09-15 at 12 54 59 PM" src="https://user-images.githubusercontent.com/14099737/190476399-59848741-8fd6-47f8-8c00-53cbf85b9f98.png">

when I have `chromeWebSecurity=true`
<img width="1683" alt="Screen Shot 2022-12-08 at 2 09 09 PM" src="https://user-images.githubusercontent.com/14099737/206558486-7f9a4af3-9820-4147-a402-3850ce723517.png">

[2022-09-15 18:13] jenniferabowd commented on #23782
Oh thank you for the hack! I had to fix a Cypress test today and I ended up pairing with a coworker on it since the reporter panel wasn't really visible. This also happens on Electron. I don't have Firefox on this computer.

[2022-09-15 18:23] nicklemmon commented on #23782
I am seeing the same issue on my work machine, though not on my personal machine. I can't take screenshots/files from my work machine, but I am seeing the exact same result as @jenniferabowd.

Thanks to @ZachJW34 for the workaround!

[2022-09-15 18:44] nagash77 commented on #23839
@nadvolod Due to security concerns we cannot open zip files locally.  Can you please link to a git repo where the problem is reproducible or include the test code inline?

[2022-09-15 18:51] nadvolod commented on #23839
@nagash77 see if this is helpful? Lemme know if you need more files included
https://gist.github.com/nadvolod/324540bbbaa0aa3336351207edde0232

[2022-09-15 19:05] mjhenkes commented on #21376
These appear to have been fixed by #23297. At a minimum they cannot manifest in the same way anymore.

[2022-09-15 19:05] #21376 closed

[2022-09-15 19:08] mjhenkes commented on #21488
Closing this as useless, Note to self, provide more informations on issues :/

[2022-09-15 19:08] #21488 closed

[2022-09-15 19:15] mjhenkes commented on #21453
This test works except for the uncaught exception thrown by the cypress.io webpage. Handling that exception allows the test to pass without hanging:

[code]

[2022-09-15 19:15] #21453 closed

[2022-09-15 20:00] DPC15038 opened #24451 "Only Run One Test in a Suite"
I'm not sure if this is by design, but I have a test file like this:

[code]
When I run this command
`npx cypress run --env grepTags=@tag2,grepFilterSpecs=true,grepOmitFiltered=true,env=dev`
both of the `it` tests run.

Is there any way to only run the exact tests that match the `grepTag`?

[2022-09-15 21:37] ZachJW34 commented on #23782
Ok I was able to reproduce this issue by:

- Closing out of all Cypress instances
- Setting `__global__/state.json` -> `{ "reporterWidth": 0 }`
- Opening up a Cypress project and navigating to the runner

Updating the state with an active Cypress window was causing the value to revert back to the original state.

https://user-images.githubusercontent.com/25158820/190511604-e7480cdf-57e6-4e0a-8e03-

[2022-09-15 23:07] nyghtly-derek commented on #24451
This looks like a bug to me. I think your test is getting filtered out by `grepFilterSpecs` based on the `describe` block without evaluating the inner tags. It might work if `grepFilterSpecs=false`.

Anyways, here is a potential work around for you: `grepTags=@myTag+@tag2`

[2022-09-15 23:13] cg-roling opened #23848 "Angular Component Testing cannot find type definition files"
### Current behavior

When running Cypress component files, type definition files added to `compilerOptions.types` in `tsconfig.app.json` are not found.

If I add the "node" type definitions, I get the following output from `npx cypress run --component`:

[code]

### Desired behavior

tsconfig "types" should be found for component tests

### Test code to reproduce

Reproduction is available here:

[2022-09-15 23:42] #23409 closed

[2022-09-16 00:26] chaussen commented on #20952
I got a similar error after I added 'mssql' package.
[code]
Comment out the mssql part and cypress works.
Not sure if it is related.

[2022-09-16 00:35] lmiller1990 commented on #23699
https://github.com/cypress-io/cypress/issues/23589 is similar. Both related to React and Cypress typing really fast, this one is React 17, though.

I don't know how React 18 works internally, but iirc older versions of React (and maybe v18) has a kind of synthetic event system (not just regular DOM events, it wraps or intercepts them in some fashion). I wonder if this is related to that. Regular D

[2022-09-16 00:41] lmiller1990 commented on #20952
@chaussen in your case it's probably the `??` syntax - it's likely your webpack/babel combo does not understand `??` out of the box.

It can probably be configured by adding https://babeljs.io/docs/en/babel-plugin-proposal-nullish-coalescing-operator and configured `babel.config.js` or `.babelrc` or something. If you are using our default webpack-preprocessor there should be some info on doing thi

[2022-09-16 01:12] startfromzero0 commented on #14322
![image](https://user-images.githubusercontent.com/35767332/190535233-ea72ad67-00c6-435d-a73d-1923ae36df78.png)
I use the Kirin system with ARM architecture, and the browser is based on Chromium 360. After being configured in config.js, the browser can be displayed on the interface, but this error is also reported when I use it

[2022-09-16 02:20] #23083 closed

[2022-09-16 02:20] #23118 closed

[2022-09-16 03:55] chaussen commented on #20952
Thanks @lmiller1990
Interestingly it works when I move the 'mssql' steps to setupNodeEvents inside cypress config file. Any idea why?
Anyway I eventually want to do database clean-up and setup, so probably I just leave it there.

[2022-09-16 03:59] senthkum opened #23849 "Going offLine and onLine not working in cypress"
### Current behavior

This was working fine with the 6.5.0 version and I upgraded to 8.5.0, 9.7.0, and 10.7.0 with all these versions toggling network is not working.
I was using the same code earlier and was working perfectly. but know we can change the network to offLine but cannot toggle back to onLine and this is impacting a few test cases. Is there a work around or a fix for this
https://www.

[2022-09-16 04:38] saldanaj27 commented on #23733
Update: I was able to erase all errors with the requests sent through the command, but when I visit my localhost it still sends me to the log in page. Am I meant to add more code elsewhere that would allow me to reach my endpoint or do I need to do something else? Any feedback would be greatly appreciated.

[2022-09-16 06:39] #22304 closed

[2022-09-16 08:05] archangel-irk commented on #14366
Maybe worth to add it to the documentation.

[2022-09-16 08:28] mirobo commented on #23471
Just to give you a heads up.. I don't think "we" need checkboxes on the UI. I think filtering with text input was a brilliant and easy to use solution for everybody.. that's why people want it back :D

[2022-09-16 08:28] StaNov commented on #22380
Hi @AtofStryker, I am sorry for creating this confusion.

The issue was that I missed that we were installing Cypress via npm on the image, so the native `10.7.0` got replaced by `9.7.0`.

[2022-09-16 08:48] liambutler commented on #23516
Thanks Zach

There's already an issue raised with NX here: https://github.com/nrwl/nx/issues/11785. It's been closed, but they've committed to working on it

@lmiller1990 sorry I missed your question. The configuration provided to me by @rockindahizzy was enough to get me up and running. Thanks for the help, everyone!

[2022-09-16 09:54] lmiller1990 commented on #23471
Good point, maybe we are over complicating this.

[2022-09-16 10:20] jordanpowell88 commented on #19555
Wanted to point out that the `@cypress/angular` package has been published on npm https://www.npmjs.com/package/@cypress/angular

[2022-09-16 10:38] jordanpowell88 commented on #16253
Can this issue be closed? @lmiller1990

[2022-09-16 11:18] nadvolod commented on #23839
Hello, any thoughts/updates?

[2022-09-16 11:35] Jeppeer commented on #19227
Any progress on this? I am facing the same issue.

[2022-09-16 11:43] nitish-Datman commented on #23751
[code]
add this in command.js
[code]
@chrisbreiding i have added the code snippet to replicate the issue , hope this helps

[2022-09-16 12:59] tobdru opened #23852 "Child is visible with Parent max-height: 0 and overflow: clip"
### Current behavior

If the parent has max-height: 0 and overflow: hidden/clip cypress interprets the child as visible.

### Desired behavior

As the Element is hidden and never can be visible to the user the check '.should('not.be.visible')' should be truthy

### Test code to reproduce

[code]

`cy.get('[data-cy="not-visible"]').should('not.be.visible');`

### Cypress Version

10.8.0

### Node v

[2022-09-16 13:21] DPC15038 commented on #24451
The workaround doesn't work unfortunately, because the `describe` does not contain `@tag2`, so the file gets filtered out. This does really feel like a bug to me.

[2022-09-16 13:38] Bariscanates404 commented on #23684
Hello again, I can give a website of course but I can't give a valid account. If it's okay I can share the webpage.

Still i didn't find a clear solution  :(

[2022-09-16 13:57] chrisbreiding commented on #23830
That's definitely not good! I've been trying to reproduce this using our [kitchensink repo](https://github.com/cypress-io/cypress-example-kitchensink), but haven't had any luck. I haven't seen any performance differences between 10.7.0 and 10.8.0 in historical CI runs or when running locally, both inside and outside Docker.

There's likely something in your tests or system setup that's being effec

[2022-09-16 14:23] chrisbreiding commented on #23683
I was able to reproduce the issue with the given repo. We'll route this to a team to look into.

[2022-09-16 14:45] pbouamriou opened #23853 "HTTP Status 304 (NOT MODIFIED) are treated as an error (empty string)"
### Current behavior

HTTP Server implements ETag / If_None_Match mechanism.
index.html requires js ressource (<script type="text/javascript" src="app.bundle.js"></script>)

Behavior is identical for electron (v102) / firefox (v91) / chromium (v103).
Without Cypress, behavior is ok with firefox (v91) and chromium (v103)

Test Cypress : Just visit http://localhost

First run : Test is ok
Second run

[2022-09-16 14:48] ZachJW34 commented on #23684
@Bariscanates404 please share the webpage, and providing the logs from running Cypress with `Debug=cypress:* npx cypress open` would be helpful. If you can, creating a minimal reproducible example that I can clone would be valuable.

[2022-09-16 15:35] Reaster0 opened #23854 "SIGILL when cypress is run via an EXEC in NESTJS in DOCKER"
### Current behavior

If my NestJS server run cypress ('./node_modules/.bin/cypress run') via an child_process.exec/spawn/fork/ command in a docker
it cause a an exit event of cypress with the signal SIGILL,

if i simply exec cypress from a simple js file, there is not this issue
this issue also dosen't appear if i'm running the back and cypress directly on a machine, it only happen in docker (on

[2022-09-16 15:37] baus commented on #22350
@lmiller1990 Is this problem specific to HEAD? I could be wrong, but it seems uncommon to use HEAD in components other than for page layout like: https://github.com/vercel/next.js/blob/canary/examples/cms-sanity/pages/_document.js

[2022-09-16 15:42] aleixsuau commented on #23192
I just want to support this request and add some more context:

[code]

This seems to happen even when the previous requests (Trigger 1) have finished, I can see that Wait B passes straight away. This is a bit counter-intuitive, probably it should move to at least the next active request, but I believe it would be more intuitive if `cy.wait` would target the last request triggered.

If I un-commen

[2022-09-16 15:58] chrisbreiding commented on #23834
I'm not able to reproduce this issue with the provided code. Can you post the full error message that's displayed and any stack trace?

Can you also post the stdout when you run `DEBUG=cypress* cypress run`?

[2022-09-16 16:09] ZachJW34 commented on #23841
@rujorgensen have you tried setting up your project using the new nrwl generator? I cloned your repo and ran `nx g @nrwl/angular:cypress-component-configuration`, then added `apps/angular-app/src/app/app.component.cy.ts`:
[code]

and it was working (running `nx component-test angular-app --watch`). The default options for Cypress Angular CT Testing assume the structure of an `@angular/cli` project

[2022-09-16 16:09] mike-plummer commented on #22350
@baus `Head` allows lower-level components to inject/alter content of the HTML `head` even if they're buried deep down within the hierarchy (not necessarily at the "layout" level). It's often used to change the page title and meta tags for SEO (particularly for CMS-generated pages) and to pull in third-party scripts that aren't needed for *all* pages in a site. It wouldn't be super-prevalent in pl

[2022-09-16 17:01] jenniferabowd commented on #23782
Updating it with the Cypress windows closed and nothing running didn't seem to fix it. Sorry about that! @nicklemmon would you mind trying it too?

[2022-09-16 17:11] #21400 closed, assigned to emilyrohrbough

[2022-09-16 17:51] amccrodan opened #23855 "Cypress 10 Hijacking Assets Route"
### Current behavior

We're in progress updating from Cypress 9.6.1 to 10.x (currently trying 10.7.0) and are running into test failures whenever our site tries to load a file from our /assets folder. I see by running DEBUG=cypress:server:routes npx cypress open that 10.7 is proxying all these requests and returning 404s because it looks like it has hijacked the assets route, is that intentional?

[2022-09-16 17:53] nyghtly-derek commented on #24451
Hm, I thought of something else to try. What if you add both @tag1 and
@tag2 to the describe block? That way, it will always get included whenever
you use one of those. You can still exclude the entire file against @myTag.

So it would be:

`@myTag @tag1` = Include "checks some data"
`@myTag @tag2` = Include "checks some different data"
`@tag1` = Include "checks some data"
`@tag2` = Include "check

[2022-09-16 17:58] ZachJW34 commented on #23835
We recommend stubbing `window.open` rather than spying on it as we don't support running Cypress commands inside another window (popup or new tab), see [comment](https://github.com/cypress-io/cypress/issues/4468#issuecomment-502542288). So you can replace the `cy.spy` with `cy.stub` and you should be able to verify that the stub was called.

That said, Cypress should not be crashing when you call

[2022-09-16 18:01] chrisbreiding commented on #23836
Sorry to hear you're encountering this issue. I'm not able to reproduce it with the provided steps, so I'll need some more information in order to verify this.

- What command is being run by `npm run cypress`?
- Are you able to install and run an older version of Cypress (e.g. 10.7.0)?

[2022-09-16 18:11] nagash77 commented on #23839
This is great.  We will have a developer take a look.  Thanks for the quick response!

[2022-09-16 18:17] nagash77 commented on #23849
@senthkum Can you provide us with the tests you are using and seeing this problem?  We will need that to be able to help you further.

[2022-09-16 20:02] wehnerjp opened #23856 "Failed to find body in content Document"
### Current behavior

its .0.contentDocument.body - assert expected <body> not to be empty

### Desired behavior

correctly find the body on the webpage

### Test code to reproduce

its occurring in the beforeEach not relation to any individual test

### Cypress Version

10.8.0

### Node version

v16.16

### Operating System

MacOS current

### Debug Logs

[code]

### Other

_No response_

[2022-09-16 20:12] BryanEdClark opened #23857 "experimentalWebKitSupport: Error invalid regular expression when using value from imported class."
### Current behavior

1. I launch the playwright safari session using webkit experimental mode.
2. I select a spec that is using an imported string value and attempts to display it in a log statement.
3. Frame loads error before executing any code inside the it statement.

The following error originated from your test code, not from Cypress.

When Cypress detects uncaught errors originating from y

[2022-09-16 20:19] ezrag26 commented on #23192
I do believe it's documented [here](https://docs.cypress.io/api/commands/wait#Wait-automatically-increments-responses) regarding `cy.wait()`, where it says:

So if there were 5 requests matched, no matter when the the 1st use of `cy.wait()` is made, it will wait on the 1st matched request to finish, the 2nd use on the 2nd matched request, etc. And if the nth request already finished before that nt

[2022-09-16 20:43] #23219 closed

[2022-09-16 21:00] jordanpowell88 commented on #22976
We want to implement this: https://github.com/angular/angular-cli/pull/22860

[2022-09-16 21:36] emilyrohrbough commented on #20394
@romankhomitskyi are you seeing this warning in the dev tools?

The test title was:

While this works in practice, it's often indicative of an anti-pattern. You almost never need to return both a promise and also invoke cy commands.
Cy commands themselves are already promise like, and you can likely avoid the use of the separate Promise.
https://on.cypress.io/returning-promise-and-commands-in-test

[2022-09-16 21:38] MattWatt commented on #23120
I'm interested as well.  I'm in the process of migrating our Aurelia component testing to Cypress 10.8.  Previously I had apparently successfully migrated to 7.x => 10.0.1 and everything appeared to be working.

I'm attempting to to go through the changes to the manual `devServer` process since 10.0.1 with some success.  However, I got hung up on the new `component-index.html` requirement and I'm

[2022-09-17 02:23] ryanthemanuel commented on #22995
Closed with https://github.com/cypress-io/cypress/pull/23732

[2022-09-17 02:23] #22995 closed

[2022-09-17 02:24] ryanthemanuel commented on #22982
Closed with https://github.com/cypress-io/cypress/pull/23732

[2022-09-17 02:24] #22982 closed

[2022-09-17 03:36] davidyiuCWI commented on #23391
We are also facing this issue in our organization. Any big spec file will consistently crash since a month ago. We have tried many workarounds like numTestsKeptInMemory= 0, moving up to cypress 10.8, the latest node, chrome garbage collection, etc., and none of it work. While this occur less in headless windows, we are still seeing more timeout in our CI

[2022-09-17 05:01] romankhomitskyi commented on #20394
I am on cypress 10.6  and I dont see this error anymore

[2022-09-17 06:42] DamienCassou commented on #16253
I don't have any problem anymore. Feel free to close the issue.

[2022-09-17 11:27] rujorgensen commented on #23841
Thanks a lot for helping out @ZachJW34!

I tried the steps you described ([I pushed them here for reference](https://github.com/rujorgensen/nx-workspace/tree/testing/cy-component-tests/initial-configuration-setup)), but I actually get a similar error when running `nx component-test angular-app --watch`, so it seems to be an issue with my setup--very strange 🤔. I get the same error on my private, a

[2022-09-17 11:51] vikingair commented on #23830
Sure.

- Number of spec files: 9
- Total tests: 12
- Cypress-Config (`cypress-audit` with version: 1.1.0)

[code]

Will try to get this information for you asap. But it requires a little effort, because we had to rollback the update already.

Did you try to reproduce it with the `cypress-audit` integration in the kitchensik repo? Didn't test the run without it.

[2022-09-17 14:13] jesperancinha commented on #20813
Hi there, I can reproduce this issue consistently on my project. Please find an example here: https://gitlab.com/jesperancinha/moving-objects-service-root/-/jobs/3043475557. I'm not sure if this has anything to do with cypress. I can only reproduce it consistently with Edge and this happens while upgrading an okta library. It seems pretty random, but it would be great if cypress could handle this

[2022-09-17 14:39] Pradhakrishna284 commented on #6201
At a time, in the grid, only 12 rows are visible (1 header row, 1 empty row to enter data, and then the remaining 10 rows are data if there are any records),
my grid has more than 10 data rows, my expected text("Test_TT_16") is at 18th data row, though I used
scrollIntoView() method, I am unable to move to the grid to bottom to find my text. Any help to modify the code.

Approach1:-
Issue1:- cy.sc

[2022-09-17 14:42] Pradhakrishna284 commented on #6201
At a time, in the grid, only 12 rows are visible (1 header row, 1 empty row to enter data, and then the remaining 10 rows are data if there are any records),
my grid has more than 10 data rows, my expected text("Test_TT_16") is at 18th data row, though I used
scrollIntoView() method, I am unable to move to the grid to bottom to find my text. Any help to modify the code.

Approach1:-
Issue1:- cy.sc

[2022-09-17 14:43] Pradhakrishna284 commented on #6201
Grid Name:- wj-flex-grid.bento-flex-grid
Grid Row:- div[role=\'row\']
Grid Cell:- div[role=\'gridcell\']

At a time, in the grid, only 12 rows are visible (1 header row, 1 empty row to enter data, and then the remaining 10 rows are data if there are any records),
my grid has more than 10 data rows, my expected text("Test_TT_16") is at 18th data row, though I used
scrollIntoView() method, I am unab

[2022-09-17 19:02] sarmistha-das commented on #3814
Is there any way to close the Cypress test and rerun it from terminal once again. I am doing quit from Cypress application.

[2022-09-17 20:27] rujorgensen commented on #23841
`nx component-test angular-app --watch` and `npx nx component-test angular-app --watch` works on my Linux machine though, but still no luck with any of them on Windows 10/11 😕.

[2022-09-18 04:07] saurabh021986 opened #23863 "Backend data not fetched while Frontend automation suite runs"
### Current behavior

I am accessing my application under test via corporate proxy and trying to assert the presence of data on UI which is returned by some backend APIs. Issue is that during test run these APIs do not return data, resulting in data not present in UI at the time of assertion and the suite failing ultimately. Strangely, when i copy the API curl from the browser console and hit it v

[2022-09-18 10:53] mP1 opened #23864 "It would be great to support typing of "{tab}""
### What would you like?

Many special keys may be typed onto a focused element such as `{enter}`.

The big missing feature is the ability to type TABs, `{tab}` is not mentioned in the documentation or supported at runtime.

https://docs.cypress.io/api/commands/type

I believe it would be helpful to mention this omission as Im sure many during their travels must be wondering how or why they cant t

[2022-09-18 11:06] szhang-brighte commented on #20952
I had the same error message while updating cypress and testing-library

[code]
The problem was when I updated `"@testing-library/dom": "^8.17.1", -> "^8.18.0"`. When I reverted to `8.17.1`, cypress ran OK.

[2022-09-18 11:23] Light07 opened #23865 "experimentalWebKitSupport fails test when experimentalSessionAndOrigin is enabled without clear error"
### Current behavior
Tried to upgrade to Cypress 10.8.0, enable experimentalWebKitSupport and doing my test against webkit.

I used a customized folder structure as below:
<img width="310" alt="image" src="https://user-images.githubusercontent.com/9669013/190898997-91f221d1-0cc5-4ae1-9c60-efcd055d1e8f.png">

When i run test cases, it always failed with below error:
<img width="505" alt="image" src

[2022-09-18 12:13] Linutux commented on #19970
I have the same problem. Is there and solution to this?

[2022-09-18 13:47] antoninbeaufort commented on #20952
I can confirm that I don't have the error with `8.17.1`.

[2022-09-18 14:03] kingtimm commented on #23036
@ZachJW34 hey is the tech-brief public? Couldn’t access the link but guessing it’s an internal repo

[2022-09-18 15:25] Anshita-Bhasin opened #23866 "Cypress -Webkit does not support open browser when {failOnStatusCode: false}"
### Current behavior

When we try to open the .feature file in WebKit.. It returns a type error while it works fine for .js files.

If you have BDD + Cypress configured, WebKit will not work.

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/10338077/190913493-073486b2-3dfc-4ced-b116-bce0e2df3c82.png">

### Desired behavior

Should work fine like other browsers

Below i

[2022-09-18 15:34] Anshita-Bhasin commented on #23866
Webkit

[2022-09-18 16:01] billdotdev opened #23868 "selectFile cypress.d.ts example is outdated"
### What would you like?

![image](https://user-images.githubusercontent.com/71155598/190916318-b188f64d-0e67-4bfc-b2e6-3a828db3ee1d.png)

`fileContents` should be changed to `contents`

### Why is this needed?

_No response_

### Other

_No response_

[2022-09-18 22:23] aanunez96 opened #23870 "Need to have some control to split videos."
### What would you like?

I need a way to be able to split the videos that is not by time, I need to have control of some way to decide how to split them without having to change my code and structure,

My idea is to have a flag so that instead of recording one video for the whole "describe" it could be split into one video for each "it".

### Why is this needed?

I am a Masters student in systems

[2022-09-18 23:50] sainthkh commented on #21689
To get rid of `package/runner`, we need to do these 5 things:

- [x] Integrate `runner` packages => #23028
- [ ] Migrate `dom`. => #23187
- [x] Migrate "Cypress Studio" => #23544
- [ ] ESM-ify `driver`
- [ ] Migrate runner `webpack` config to `package/reporter`.

[2022-09-19 00:06] lmiller1990 commented on #20952
Weird; that line with `??` hasn't changed in over two years: https://github.com/testing-library/dom-testing-library/blame/13efbb3b1d63cbdde8b5b02cd52ff523287481d6/src/label-helpers.ts#L41.

Nothing in the 8.17.1 -> 8.18.0 looks like it'd break: https://github.com/testing-library/dom-testing-library/compare/v8.17.1...v8.18.0

If anyone can provide a minimal repo with two branches - one with the err

[2022-09-19 00:34] #16253 closed

[2022-09-19 00:42] lmiller1990 commented on #22350
@baus I (wrongly) assumed it was all components, it looks like it might just be `<Head>`.

This is a good point, if it's just `<Head>` it's probably not a big deal for GA. As @mike-plummer points out, it's a pretty important feature as far as Next.js specific features go, so we should make some efforts to support it eventually... but we can likely get away with something like "this is outside the

[2022-09-19 00:47] lmiller1990 commented on #23769
What PR needs reviewing? This is marked as "ready for review" in ZH but the associated PR isn't clear.

[2022-09-19 01:35] #18435 closed

[2022-09-19 03:48] lmiller1990 commented on #23653
Working on this, also reproduced it here: https://github.com/lmiller1990/cypress-issue-23653, good to know it's not specific to any one repo.

It only shows if I run `yarn vue-tsc --noEmit`.

The error boils down to this

[code]

[2022-09-19 05:30] lmiller1990 commented on #23653
I thought about this more, I'm going to explore updating Test Utils to expose a better API to let people (like Cypress, Testing Library Vue) build on top of it. Then we can get all the types "for free" without having to mess around too much, or resort to weird work arounds.

Specifically, I think `MountOptions` needs to have some additional generics args to let third parties add their own mounting

[2022-09-19 05:35] Jaroslav004 commented on #21135
I think I had previously version 8 something on my PC with 8GB RAM and around 16 tests when my browser went "Aw snap" on approximately every fourth attempt to run all the tests. I thought that the PC's memory wasn't big enough so I got a new PC with much faster CPU and twice the original RAM and guess what...my tests are now failing on every single attempt. The only difference was that I intalled

[2022-09-19 05:51] UmamaheshMaxwell commented on #20734
if somebody is wondering about why no tests showing up in dashboard when you have files with test.js extension and not test.cy.js extension, this is what you need to add in cypress.config.json file

specPattern: ```cypress/e2e/**/*.{js,jsx,ts,tsx}```

[2022-09-19 06:19] senthkum commented on #23849
I am attaching the SS and piece of code, I have tried it in both chrome and Electron browsers.
Step 1: I login to the application and wait for the page to load.
Step 2: I set the network to offline and added a assertion to it
Step 3: now I select an item from the link and it will display an error page
Step 4:I set the network to onLine and added an assertion to it
Step 5: I click on Try again butt

[2022-09-19 06:31] thedoublejay commented on #23836
I have the same issue. M1 Pro. Even with 10.7.0, I have the issue when running. If I run via `sudo cypress open`, it opens the app but no files are visible.

[2022-09-19 07:34] jeromeBor opened #23873 "Cypress intercept corrupting msgp file"
### Current behavior

I'm passing to cy.intercept a message pack file, and when I receveive from respondse, it, it's not the same as the one I passed.

### Desired behavior

The intercepted message pack file should be the same before and after the intercept

### Test code to reproduce

1 - get a message pack file
2 -

[code]

3 -

[code]

Saved file
![image](https://user-images.githubusercontent.c

[2022-09-19 09:15] SushilPatilShj opened #23874 "Excel plugin issue in v10.8"
### Current behavior

When we upgrade from v9.7 to v10.8 there is an issue with excel plugin because in v10.8 there is no plugin folder and also there is no documentation for defining the plugin.
![image](https://user-images.githubusercontent.com/113010465/190982072-2f5935cf-ed61-47c5-9753-71b155b37c09.png)

### Desired behavior

There should be plugin folder inside cypress
![image](https://user-i

[2022-09-19 09:27] amar0120 commented on #23772
@nagash77 @ZachJW34  - please provide update on it. Please confirm if some alternate is there for this issue.

Regards
Amar

[2022-09-19 11:55] baus opened #23875 "Update CT documentation"

[2022-09-19 12:30] chrisbreiding commented on #23839
I was able to reproduce the issue with the given code. That will help a lot with debugging this, so thanks for that!

I'm going to route this to a team to look at.

[2022-09-19 12:51] chrisbreiding commented on #23852
With the given html, the div _is_ visible to the human eye:

<img width="1127" alt="Screen Shot 2022-09-19 at 8 50 12 AM" src="https://user-images.githubusercontent.com/1157043/191021265-7c5aa7cb-c169-4a87-953d-49ac1800a5d7.png">

I believe that's because `overflow: 'hidden'` (with quotes around `hidden`) is not valid CSS.

Changing it to `overflow: hidden` (without quotes) causes it not be visibl

[2022-09-19 12:59] chrisbreiding commented on #23854
I'm sorry your encountering this issue. Have you tried using the [module API](https://docs.cypress.io/guides/guides/module-api#cypress-run) for running Cypress programmatically instead of using the CLI with `exec`?

While using `exec` ideally should work, the module API is tailor-made for your use-case, so it might be a good way to get around this issue.

[2022-09-19 13:08] chrisbreiding commented on #23656
There are various cross-origin cookie issues we're currently working through and the problem you're encountering is likely among them. https://github.com/cypress-io/cypress/pull/23872 in particular should fix various cookie-related issues, so I'd recommend keeping an eye on it.

[2022-09-19 13:24] rszalski commented on #23391
@emilyrohrbough I just tested Cypress v10.8. The issue is still there but the fixes you all did w.r.t. memory consumption did improve it slightly.

Previously (on v10.7) the pattern of crashes was:

✅ ⛔ ✅ ⛔ ✅ ⛔ ...

Now, on v10.8, we get a bit more "room" and are able to execute 2 full test runs before a crash:

✅ ✅ ⛔ ✅ ✅ ⛔ ✅ ✅ ⛔ ...

 Each emoji is a re-run of a test within the same Cypress/brows

[2022-09-19 13:38] warrensplayer commented on #23769
I believe this issue was moved to "Review" by an automation just because it was mentioned in another PR.  I moved it back to the backlog

[2022-09-19 13:49] tobdru commented on #23852
Oh sry i have rewritten it wrong out of my react example app and in addition i had the wrong state of the code.

Actually it is **overflow:clip**.

This is the actual rendered in the iframe by cypress (without quotes):

[code]

And this is displayed
![image](https://user-images.githubusercontent.com/89079833/191032962-18ca692a-2e52-4ba7-a8ab-62723590650d.png)

[2022-09-19 13:53] chrisbreiding commented on #23852
Thanks for the quick reply.

I verified it's not working correctly with `overflow: clip`. I'll route this to a team to look into a fix.

[2022-09-19 13:59] ZachJW34 commented on #23772
I will be looking into this today Amar!

On Mon, Sep 19, 2022 at 4:27 AM Amar Singh ***@***.***> wrote:

[2022-09-19 14:06] chrisbreiding commented on #23751
I'm unable to reproduce the issue with the code provided. The variable `nameOnCard_input` is undefined. If I substitute it with a selector for the only input on the page visited, the next command (`cy.get("#cardNumber")`) fails because there's no element with an id of `cardNumber` on the page.

[2022-09-19 14:08] chrisbreiding commented on #23664
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please post a comment with a reproducible example and we will re-open this issue. Here are some tips for providing a [Short, Self Containe

[2022-09-19 14:08] #23664 closed

[2022-09-19 14:10] Reaster0 commented on #23854
mmm indeed it seems that you'r right,
in the meantime i've build a CGI in docker as a workaround but mayyybe that using it as a module is better
thanks for your answer!

[2022-09-19 14:28] sand4rt commented on #23653
@lmiller1990 [Playwright component testing](https://github.com/microsoft/playwright/pull/17249), [Vue Testing Library](https://github.com/testing-library/vue-testing-library/blob/main/types/index.d.ts#L51) and probably a bunch of other libraries have the same issues. I wish we had a similar util type in Vue to the one in Svelte:

[code]

Is it an idea to create an issue at the Vue repo to solve th

[2022-09-19 14:28] maribies commented on #6213
I am using React with Vite and had the same error showed up when I started component testing with React Code Mirror. The default file extension was `.js` but with Vite, they need to be `.jsx`. After changing that, the component could mount and the test could run.

[2022-09-19 15:14] ZachJW34 commented on #23848
@cg-roling thanks for opening the issue, I was able to reproduce the problem with your provided repo, we are going to have to change how we generate/manage our handling of the tsconfigs in order to get a fix for this problem.

In the meantime, you should be able to workaround this issue by using the `/// <reference types="x" />` in your `cypress/support/component.ts` file. For example, if you want

[2022-09-19 15:55] ZachJW34 commented on #23853
@pbouamriou could provide a reproduction of this issue using https://github.com/cypress-io/cypress-test-tiny as your template? A bare minimum repro is all I would need so I can see what requests are being made and why the assets found in `index.html` aren't being loaded properly.

[2022-09-19 15:57] nitish-Datman commented on #23751
@chrisbreiding apologises as i missed to add the locator for `nameOnCard_input`  here is the locator for the same `#nameOnCard` and for  (cy.get("#cardNumber")) its an iframe , you need to add the iframe support command line in the command.js page as mentioned above.

proving you few urls as it gets expired after visiting once,
     - https://shorturl.at/eimqZ
     - https://shorturl.at/EKX45

[2022-09-19 15:59] mracette commented on #23349
I'm running into something similar. I'm using this intercept:

`cy.intercept('api/search-by-position?pos=**', mockData)`

It intercepts this request:

`api/search-by-position?pos=%7B%22x%22%3A-10.1575%2C%22y%22%3A-0.5456542%7D&maxDist`

But fails to intercept this request:

`api/search-by-position?pos={"x":-10.1575,"y":-0.5456542}&maxDist`

Could this have to do with the use of JSON as a query par

[2022-09-19 16:01] ZachJW34 commented on #23841
Looks to be a Windows paths issue on Nx's side. Could you open an issue with [Nx](https://github.com/nrwl/nx/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc)? I looked at your update and like you pointed out it works fine (I'm on Mac).

[2022-09-19 16:19] rujorgensen commented on #23841
Absolutely, thanks for the help so far 🙏.

[2022-09-19 16:20] ZachJW34 commented on #23841
Glad I could help 😃

[2022-09-19 16:41] lipingguo0 commented on #24450
I had similar issue using cypress typescript. cypress spec files are included in my root tsconfig.json. When i do npm run start, webpack will throw below errors.
<img width="916" alt="image" src="https://user-images.githubusercontent.com/84151894/191068106-1ab80723-9fda-48cf-b99c-2ab7438440ee.png">

I have reference types="cypress-grep" in my spec file, also i have "types": ["cypress", "node", "cy

[2022-09-19 17:02] ZachJW34 commented on #23841
Going to close this issue, we can reopen if we need to make changes on our side to support Nx.

[2022-09-19 17:02] #23841 closed, assigned to ZachJW34

[2022-09-19 17:06] ZachJW34 commented on #23698
@Marcelinna From the (private) information you provided me, the `baseUrl` and the `providerPortalURL` are on the same domain so the cookie should be shared when making a request to the `providerPortalURL`.

Can you try explicitly setting the domain in `cy.setCookie('cookieconsent_status', 'dismiss', { domain: 'xxx' })`? You can check your devtools and copy the domain attached to your `cookieconsen

[2022-09-19 17:06] cameroncooks-branch commented on #20897
@alyssa-glean can you let us know if you find out the root cause between your app and the browser? We have been experiencing the same issues as you

[2022-09-19 17:49] richardszanyi-kasa commented on #448
That would be awesome, also if we could group commands such as cy. session, that would be beneficial as well. :)

[2022-09-19 18:00] ZachJW34 commented on #23698
After more investigation, the default `domain` for [setCookie](https://docs.cypress.io/api/commands/setcookie#Arguments) should be `window.location.hostname`. This isn't what is actually happening as the cookie set on a sub-domain results in the superdomain being set. @Marcelinna you wouldn't be seeing this bug if the behavior was matching the docs as the second domain (`providerPortalUrl`) wouldn

[2022-09-19 18:09] nagash77 commented on #23856
@wehnerjp Can you please provide code that reproduces this issue.  There is very little information in this ticket that would give our engineers a place to begin to reproduce this issue.

[2022-09-19 18:14] DPC15038 commented on #24451
After reading through the codebase, im fairly confident that what I want isn't possible with the way this library is written. I think it would be really useful, but it isnt like this is a "bug" because it just isnt the way that this works,

[2022-09-19 18:17] nagash77 commented on #23864
Hi @mP1 , I believe this request is already captured in https://github.com/cypress-io/cypress/issues/299.  I am going to close this issue since we are tracking this feature in the linked issue.  You might want to checkout [this repo](https://github.com/dmtrKovalenko/cypress-real-events) which may provide what you need in the interim.

[2022-09-19 18:17] #23864 closed, assigned to nobody

[2022-09-19 18:23] nagash77 commented on #23866
@Anshita-Bhasin I see that you closed this issue.  Are you still experiencing this issue?  Can you please provide code that reproduces the the problem?  This should include the .feature file.  The repo might also help - https://github.com/badeball/cypress-cucumber-preprocessor

[2022-09-19 18:47] rockindahizzy commented on #22350
@mike-plummer can you explain when you would use `<Head>` over `<Script>` for instances of pulling in 3rd party scripts?

[2022-09-19 18:50] cg-roling commented on #23848
Awesome, thanks for the workaround, that should get us going for sure!

In terms of a fix, from my perspective anyway, a "real" `tsconfig.cypress.json` rather than a generated one certainly seems easier to debug.

[2022-09-19 19:21] admah commented on #23874
@SushilPatilShj you're right about v10 removing the plugins file. [Here is the link](https://docs.cypress.io/guides/references/migration-guide#Plugins-File-Removed) to documentation on that.

Have you already tried using our v10 migrator? That should take your existing configuration and migrate it correctly.

[2022-09-19 19:42] admah commented on #23805
@alexplischke thanks for submitting this issue. I can confirm that these properties are not returning as expected:

<img width="589" alt="Screen Shot 2022-09-19 at 2 26 18 PM" src="https://user-images.githubusercontent.com/2184114/191101519-24a1ebdb-f162-43f8-95af-81cf96479805.png">

Expected from `cypress-npm-api.d.ts`:

![Screen Shot 2022-09-19 at 2 41 04 PM](https://user-images.githubuserconten

[2022-09-19 19:48] admah commented on #23837
@chandrakumar1988 is there any way that you could share the HTML markup that you're trying to select?

[2022-09-19 20:03] #23868 closed, assigned to nobody

[2022-09-19 20:10] minopica commented on #23647
Is cypress 10.8 including the fix?

[2022-09-19 20:29] emilyrohrbough opened #23882 "Report CT Module Versions Shipped with Cypress CLI"
### What would you like?

We ship `cypress/react`, `cypress/react18`, `cypres/vue`, etc. I'd like to know what version of the module I am testing with to understand compatibility and to the correct version in bugs reports. Either a visual in the settings page and/or the versions output when running `cypress info` would be helpful.

### Why is this needed?

_No response_

### Other

_No response_

[2022-09-19 20:40] emilyrohrbough opened #23883 "(sessions) Yield Saved Session Details to Validate Fn"
### What would you like?

Yield Saved Session Details to Validate Fn for quick / easy assertions on the session data that will persist/

### Why is this needed?

Nice to have and can declutter & speed up tests since users wont need logic to grab these values.

### Other

_No response_

[2022-09-19 20:41] emilyrohrbough opened #23884 "(sessions) Require Setup Function"
### What would you like?

Require Setup Function in command arguments.

### Why is this needed?

_No response_

### Other

_No response_

[2022-09-19 20:55] JayKishoreDuvvuri commented on #5047
Hi, can anyone help me with the sample code of yours for adobe tracking with cypress please? I have my network tab showing dynamic request names changing for every new login.

My case is similar to @ Lei-Xu mentioned above .

Can anyone share me sample code please?

Thanks in advance.

cheers,
Jay.

[2022-09-19 20:59] jassisingh13 commented on #23120
@MattWatt Did you use cypress for your Aurelia component tests?

[2022-09-19 21:07] saldanaj27 opened #23886 "cy.get not working correctly with cy.origin"
### Current behavior

I am attempting to log in to my sample application by federating to okta. I hoped to use cy.origin as it allows for me to visit multiple origins.
This is the code I have. I visit the sample application and click the button that federates the login to okta.
<img width="500" alt="Screen Shot 2022-09-19 at 4 59 29 PM 1" src="https://user-images.githubusercontent.com/59155089/191

[2022-09-19 21:16] AtofStryker commented on #23647
@minopica 10.8 does not have the fix unfortunately, but I have high confidence it will be in 10.9 as we have a PR open for review

[2022-09-19 21:19] JayKishoreDuvvuri commented on #23528
Hi @rachelruderman,

Thanks for your reply here. Can you help me on how to do the same for adobe analytics please?

Cheers,
Jay.

[2022-09-19 22:24] ZachJW34 commented on #23865
Thanks for opening the issue @Light07, I pulled down the and I'm seeing the same issue. I was able to get it working by removing the `experimentalSessionAndOrigin: true,` flag as [experimentalWebKitSupport](https://docs.cypress.io/guides/guides/launching-browsers#WebKit-Experimental) does not support session and origin (yet).

If you rely on `experimentalSessionAndOrigin` for your test suite to pa

[2022-09-19 22:54] chaussen commented on #20952
Thank you @lmiller1990 . We eventually decided not to talk to database from Cypress directly due to permission complexity. The database task is shifted to the cicd pipeline level.

[2022-09-19 23:50] lmiller1990 commented on #20952
I am going to close this one since the OP hasn't responded in while - I don't see any obvious actionable info here, other than probably updating our deps like webpack etc to have more features out of the box. This will happen but the webpack 5 update is non-trivial, but something I'd like to see before the end of 2022.

In the meantime, if you see this problem, look at my above comment - you need

[2022-09-19 23:53] #20952 closed

[2022-09-20 00:03] lmiller1990 commented on #23653
`ComponentPublicInstance` or `DefineComponent` would be the equivalent in Vue - the reason Test Utils has that overly complex type is to give type safety for props, events, etc etc... there's too many ways to write a Vue component. How does Svelte give type safety for events? Eg `on:message`?

I agree with the Playwright team on this - it is too complex to maintain. I don't think there's really an

[2022-09-20 02:58] lmiller1990 commented on #23653
This is proving to be *quite* difficult. Ideally, I'd like some way to extend Test Utils, so we don't need to mess around with a complex type. Initial attempt: https://github.com/vuejs/test-utils/pull/1779. It includes a TS Playground link.

Backup plan would just be typing the first arg to `mount` as `any`... not ideal.

[2022-09-20 03:19] yezhi780625 commented on #22122
I have the same problem, too. I exec the repo @AtofStryker provided on `windows 10 20H2`, and got the same error.
[code]
The  `mkdir` path seems be an invalid path on windows
[code]

[2022-09-20 03:23] Mythie opened #23889 "Testing offline behaviour causes tests to become unresponsive"
### Current behavior

Previously we were able to test our applications ability to go offline and handle network instability using the methods outlined in the following article:

https://www.cypress.io/blog/2020/11/12/testing-application-in-offline-network-mode/

This had the caveat that we had to ensure we restored network connectivity ASAP otherwise Cypress would disconnect from the browser and t

[2022-09-20 03:32] lmiller1990 commented on #23653
Someone made a neat suggestion in the TypeScript Discord... https://discord.com/channels/508357248330760243/1021617359917682708

Another neat snippet that is probably close to what we want

[code]

In conjunction w/ some changes here: https://github.com/vuejs/test-utils/blob/main/src/mount.ts

Edit: I think the "copy paste + modify types" is the only practical strategy, at least for now - I cannot

[2022-09-20 06:25] jogelin commented on #3143
Same here, trying to attach screenshots to the Test object provided to [mocha-junit-reporter](https://github.com/michaelleeallen/mocha-junit-reporter) but impossible to configure attachments as it is [described here](https://github.com/michaelleeallen/mocha-junit-reporter#attachments):
![image](https://user-images.githubusercontent.com/954509/191182854-8bd108be-1145-414f-b480-0cc2e5e7fdc1.png)

[2022-09-20 07:58] idanElitzur opened #23891 "Browser send too many xhr and fetch requests during execution"
### Current behavior

Browser send too many xhr, fetch and cache requests, part of them are canceled or return 400 bad requests.
It's defiantly not the case when browsing the web app outside cypress.
I've tried to change browser and cypress configuration and the login with the `cy.session()` as well but can't able to solve this issue.

### Desired behavior

in the same use case Cypress sent above

[2022-09-20 08:01] vikingair commented on #23830
I've tested it now from my local machine (MacOS).

Looking at the debug output, I cannot send you the output with good conscience, because it contains a lot of sensible information that I'd not like to share. (e.g. login credentials, JWTs and used URLs etc.)

But my observation was that my tests executed roughly with exactly the same speed on both Cypress versions.

Our GitHub Actions workflow run

[2022-09-20 08:05] jessevdp commented on #22505
ANY updates / additional info on this? ANY idea where the problem resides, or how to work around it?

[2022-09-20 08:38] snake-py commented on #23680
@lmiller1990 so I updated and still seeing the error, now I cannot even use end to end testing.

Node version 16.17.0

[code]

![image](https://user-images.githubusercontent.com/59285387/191210505-6f58769f-609a-4bf9-bafd-bfcfc2f6da17.png)

[2022-09-20 09:46] SrHadeSito opened #23893 "Cy.visit() is setting Cypress headers automatically"
### Current behavior

Hello!

I have set a custom user.agent for my cypress requests.

When I launch it from interactive mode, and select Chrome, Electron, Mozilla, everything works fine, and all the requests are overwrited with my own user-agent in the header.

But when I launch it from headless mode, it is working property since it reaches the .visit() and sets a default user-agent
[code]

This

[2022-09-20 10:32] lirajmaharjan-houzz commented on #23834
Hi @chrisbreiding Sorry for the late response.

Please find the error logs within the attachment.
[logs.txt](https://github.com/cypress-io/cypress/files/9606583/logs.txt)
[stdout.txt](https://github.com/cypress-io/cypress/files/9606584/stdout.txt)

[2022-09-20 12:50] alyssaruth commented on #20897
Sure thing. To be honest, this has been plaguing us for so long now that I think I'll be shouting it from the rooftops whatever it turns out to be! :see_no_evil:

[2022-09-20 12:55] jjalonso commented on #9662
@lmiller1990  The problem is not importing an image.
I think the problem is when cypress import a file, and within that file we using import {ReactComponent as whatever} from /something.svg'

Webpack in CRA preprocess the svg with loaders and create a component exported as ReactComponent but cypress ran without webpack and cannot find the exported element.
[code]

[2022-09-20 12:56] msebas opened #23896 "Cypress Component test crashes after empty vue.config.js is added."
### Current behavior

If I add an empty `vue.config.js` to the project described below `./node_modules/.bin/cypress run --component` fails to compile giving
[code]
as error message.

I tried to debug it and found that the configurations of webpack with and without a `vue.config.js` differ. My knowledge about webpack is quite limited, but for me it seems like the `plugins` configuration is missing

[2022-09-20 12:57] msebas commented on #23896
Debug Logs were too long to add, so I add them as response:

[code]

[2022-09-20 13:57] vin-ai commented on #23750
Yes

[2022-09-20 14:16] ZachJW34 commented on #23680
@snake-py I tried to reproduce the problem with your given config and I didn't see any issues. Before I investigate this further, please provide a reproducible example, preferably using the https://github.com/cypress-io/cypress-test-tiny template.

[2022-09-20 14:29] cgraham-rs opened #23897 "Cypress cannot connect to `Firefox 105`"
### Current behavior

Updated to Firefox 105 locally and in CI and now Cypress 10.7.0 and 10.8.0 cannot connect to the browser.

[code]

### Desired behavior

Cypress should continue being able to connect to and utilize the latest version of Firefox.

### Test code to reproduce

Locally using Cypress UI.

* Close Cypress
* Update to Firefox 105 (latest at the time I write this)
* Open Cypress
* Ch

[2022-09-20 14:56] nagash77 commented on #23870
Hi @aanunez96 this sounds like an interesting project!  Unfortunately we do not have any resources currently available to collaborate directly with you on this idea.  I would suggest you check out [Discord Community](https://discord.gg/cypress) as a place with a lot of active knowledgable cypress community members.  I would also suggest reading through our [Contributing to Cypress guide](https://g

[2022-09-20 15:04] nagash77 commented on #23632
@FireNdIce3 I see our Cypress devs have been working with you directly in the PR.

[2022-09-20 15:34] fionnachan opened #23898 "Cypress' scrolling mechanism forcefully scrolled `overflow: hidden` parent and hid supposedly visible elements"
### Current behavior

Because of the way scrolling works in cypress, before performing a `click` or `type` action, the element is forcefully scrolled to the top even though it was already visible and in view before being scrolled to. Checked `scrollIntoView()` and the same problem occurs.

It caused this to happen:
![image](https://user-images.githubusercontent.com/13184582/191293718-2a1cd162-aa6c

[2022-09-20 15:36] mehrshadFarzaneh commented on #19229
I solved this problem
But the point is that I use Angular version 14

I run the command` ng e2e `to solve this problem
Then I selected cypress among the suggested options in the command line

[2022-09-20 15:37] ZachJW34 commented on #23849
Closing as duplicate of #17723. Throwing a thumbs up on that issue will let us know that more users are interested in this feature and help push it along.

Tinkering a bit, you can stub the `navigator.onLine` which might be able to suit your use case (also some intercepts/force404). Here is a code snippet that might help (document is listening to `window.addEventListener("offline", ...)`:

[code]

[2022-09-20 15:37] #23849 closed, assigned to ZachJW34

[2022-09-20 15:43] illegalnumbers commented on #15992
Any progress on this?

[2022-09-20 15:44] chrisbreiding commented on #23748
Closing as a duplicate of #14175

[2022-09-20 15:44] #23748 closed

[2022-09-20 16:06] ZachJW34 commented on #23750
@vin-ai awesome, glad it's working now! I'm going to close this issue as it seems the error originated from using a plugin/preprocessor that was not compatible with your current version of Cypress.

[2022-09-20 16:06] #23750 closed

[2022-09-20 16:08] ZachJW34 commented on #23719
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-20 16:08] #23719 closed

[2022-09-20 16:08] ZachJW34 commented on #23757
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-20 16:08] #23757 closed

[2022-09-20 16:09] ZachJW34 commented on #23741
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-20 16:09] #23741 closed

[2022-09-20 17:19] pratiqdev commented on #23632
@nagash77 - I assumed this would be a straight-forward issue as well...

PR #23789 provides a temporary solution, but the parsing / replacing error should be addressed directly.

I was unable to resolve the issue locally so I have not created a PR. I took some notes while testing / exploring and I will include them here.

## Files

1. `packages/frontend-shared/src/locales/en-US.json`
2. `packages/

[2022-09-20 17:26] emilyrohrbough commented on #23632
@pratiqdev Can you move this to the PR thread?

[2022-09-20 17:30] pratiqdev commented on #23632
Yes, I commented this in PR  #23789

[2022-09-20 17:48] ZachJW34 commented on #23712
After reading though this info, I believe this behavior is intended. `--disable-web-security` essentially disables the `same-origin-policy`, allowing sites to make cross origin requests without the security implications that `CORS` enforces. Since it is no longer enforced, the requests aren't considered _cross-origin_ and won't include the `Origin` header. This header is part of the CORS spec, and

[2022-09-20 17:48] #23712 closed

[2022-09-20 18:04] #19974 closed

[2022-09-20 18:11] chrisbreiding commented on #23238
This issue doesn't seem possible to reproduce on our end and there's no workaround we can introduce into Cypress to bypass network security policies. Unfortunately, we'll have to close this issue since there's no path forward.

[2022-09-20 18:11] #23238 closed

[2022-09-20 19:05] BlueWinds opened #23901 "Detached DOM: Update $actionability to support cy.currentSubject()"
### What would you like?

Queries solve a major problem: how can Cypress safely requery the DOM when the subject becomes detached? The Cypress command queue also handles this cleanly and internally for queries and their associated assertions.

However, commands - such as .click() - still receive a static subject, and this subject can "go stale" as the DOM mutates. Because there is no generic handl

[2022-09-20 19:08] ZachJW34 commented on #23889
Closing as duplicate of https://github.com/cypress-io/cypress/issues/17723. Giving that issue a thumbs up will help push the issue along!

[2022-09-20 19:08] #23889 closed, assigned to nobody

[2022-09-20 19:14] BlueWinds opened #23902 "Update remaining queries to use _addQuery()"
### What would you like?

Following on from https://github.com/cypress-io/cypress/issues/23550 and https://github.com/cypress-io/cypress/issues/23804, we need to migrate the remaining commands that will be queries to use the new API. The remaining list is:

    .children()
    .closest()
    .debug()
    .document()
    .eq()
    .filter()
    .first()
    .focused()
    .getCookie()
    .getCooki

[2022-09-20 19:34] JonRossway opened #23903 ""Your tests are loading..." shown but no component tests are run"
### Current behavior

I am trying to run a single spec file (any spec file fails to run) and am stuck with "Your tests are loading..." after upgrading to the latest Cypress from v9.6

<img width="887" alt="image" src="https://user-images.githubusercontent.com/20339804/191329448-df834232-ecdf-4462-aa59-aaee62d7520d.png">

### Desired behavior

Cypress should run the component test

### Test code to

[2022-09-20 19:57] rmmanseau commented on #21952
any updates on this?

[2022-09-20 20:03] #23647 closed

[2022-09-20 20:19] chrisbreiding commented on #23857
I'm unable to reproduce this with the given code. I would expect an `Invalid regular expression` error to be tied to a regular expression. Is there a regular expression somewhere in your test code?

[2022-09-20 20:30] chrisbreiding commented on #23873
I'm trying to verify this issue by reproducing it, but having some difficulty. Could you provide an example messagepack file? Also, how are you logging the ArrayBuffer for the saved file and for a intercepted file?

[2022-09-20 20:31] steinybot opened #23905 "Property 'focus' does not exist on type 'Assertion'."
### Current behavior

[code]

Reports that focus is missing:

<img width="815" alt="Screen Shot 2022-09-21 at 8 23 57 AM" src="https://user-images.githubusercontent.com/4659562/191357369-7d05d04a-05fc-493b-a6be-c3dd22c5347f.png">

And yes I have:
[code]

We can see in `cypress/types/chai-jquery/index.d.ts` is using:
[code]

The assertion does exist (https://github.com/cypress-io/cypress/issues/97)

[2022-09-20 20:36] chrisbreiding commented on #23751
Unfortunately none of those urls worked. It's possible, since they're links, a web crawler is picking them up and invalidating them by visiting the url. Could you post a few more, but just the IDs (so they don't turn into links)?

[2022-09-20 20:36] lgschell commented on #136
Hi all, PLEASE, can we get an update for this proposal? Thank you

[2022-09-20 20:45] chrisbreiding commented on #23834
I'm still not able to reproduce this, but it's likely related to https://github.com/cypress-io/cypress/issues/23865. I'm going to route this to an appropriate team to look into it.

[2022-09-20 20:45] chrisbreiding commented on #23865
Likely related: https://github.com/cypress-io/cypress/issues/23834

[2022-09-20 20:52] #22971 closed

[2022-09-20 22:34] lmiller1990 commented on #9662
Can you share a reproducible example using the latest version of Cypress? You can fork from here: https://github.com/cypress-io/cypress-test-tiny

[2022-09-20 22:38] BryanEdClark commented on #23857
@chrisbreiding
I would also expect that, however from the above code if I do cy.log(TestClass.testValue); (or a cy.get(TestClass.testValue) following page object modal abstracted methodology) it will fail however if I do cy.log('Hello World!'); it will work so I am fairly certain it is with the using the imported value itself.

I have been trying to grab a screenshot of it, however now when attemp

[2022-09-20 23:13] BryanEdClark commented on #23857
@chrisbreiding Was able to get it working by going from     "playwright-webkit": "1.26.0", to 1.25 will close this ticket.

[2022-09-20 23:13] #23857 closed, assigned to nobody

[2022-09-20 23:41] lmiller1990 commented on #23723
TODO: Verify what areas/things to do to verify (eg, what do we need to check).

[2022-09-21 03:36] gastonmorixe commented on #22059
We ended up patching and removing all Chai related types by using [patch-package](https://github.com/ds300/patch-package).

Wish there was a better way but couldn't figure it out, we have cypress component tests next to the components so it's no scoped to one cypress folder which would had made it easier to include/exclude.

Here you can see our patch https://gist.github.com/gastonmorixe/94527ba84

[2022-09-21 04:29] impurist commented on #390
Been wanting a `determinate test order escape hatch` for several years now.
While I appreciate Cypress have a testing philosophy. That philosophy does not fit the requirements of many users.
It is `Ivory tower` thinking. And it's a huge. black mark against Cypress.
Forcing us to use poor naming convention work arounds when a  simple config option allowing a determinate order is all we need.
 Escap

[2022-09-21 04:51] kyfohatl commented on #19687
That link just gives instructions on installing Cypress with WSL, which is required to get Cypress to open. Once you follow these steps then you run into the problem that dantman is describing, which is that only the Electron browser is available.

[2022-09-21 05:20] amar0120 commented on #23772
@ZachJW34 - any luck on this issue.

[2022-09-21 06:26] tester-at-bmi commented on #23897
Same for Windows users.

[2022-09-21 06:38] jpatil14 commented on #2367
@jennifer-shehane  Could you please update us on this if you can? i believe this is a global issue

[2022-09-21 06:45] Grutula commented on #8560
This is really needed
+1

[2022-09-21 07:01] nitish-Datman commented on #23751
here are the url id's below,
- ikT37
- ANOV6
- bgWZ5
- cDGJS
- fGKMN
- HUXZ2
@chrisbreiding

[2022-09-21 07:41] abezzubets commented on #22506
@robrich7 Could you please try disabling the Command Log:
https://docs.cypress.io/guides/references/troubleshooting#Disable-the-Command-Log

It is helped me to solve the issue with hanging tests

[2022-09-21 07:43] abezzubets commented on #22631
If you experience the issue with hanging tests please try disabling the Command Log:
https://docs.cypress.io/guides/references/troubleshooting#Disable-the-Command-Log

It is helped me to solve the issue with hanging tests

[2022-09-21 07:43] abezzubets commented on #23391
If you experience the issue with hanging tests please try disabling the Command Log:
https://docs.cypress.io/guides/references/troubleshooting#Disable-the-Command-Log

It is helped me to solve the issue with hanging tests

[2022-09-21 07:46] lmiller1990 opened #23909 "Update to latest Vue version in monorepo"
### Current behavior

I tried updating Vue (current on 3.2.31) and I noticed 3.2.32 causes this test to fail:

- Test: https://github.com/cypress-io/cypress/blob/070b3c9ba533b5eed6761ceffdf8636ec2563ae2/packages/app/cypress/e2e/runs.cy.ts#L287
- CI: https://app.circleci.com/pipelines/github/cypress-io/cypress/43742/workflows/31dbcfcd-6da7-4d9d-ad41-e5588c293ad7/jobs/1827401

We rely on an unmounte

[2022-09-21 07:52] PetMou opened #23910 "Cypress version number in zip download name"
### What would you like?

As we run behind a firewall, our only way to get newer versions of Cypress is download the zip and install it on site from this zip.
Also we have different teams, using different versions of Cypress.
At this moment all the downloads are always named 'cypress.zip'.  My suggestion is to include the cypress version number in the download zip name. This would prevent accident

[2022-09-21 08:09] praveenpandey02 commented on #2650
For me, @contactashish13 's solution worked!

[2022-09-21 08:42] PeterDekkers commented on #22506
On top of disabling the Command Log, [disabling video recording](https://docs.cypress.io/guides/guides/screenshots-and-videos#Videos) has helped me to greatly reduce the frequency of hanging tests.

[2022-09-21 09:46] rafal-pomocnik-captivateiq opened #23911 "TS2345 error: testIsolation not in cypress.d.ts -> TestConfigOverrides"
### Current behavior

When trying to use `testIsolation` option in test suite at describe level like mentioned in https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Test-Isolation, typescript check marks it with below error:

`TS2345: Argument of type '{ testIsolation: string; }' is not assignable to parameter of type 'TestConfigOverrides'.   Object literal may only spe

[2022-09-21 10:08] jwedel commented on #136
@jeg924

I am not sure if this lib actually solves the problem but as far as I read from the docs and also from experience with flaky test, this happens in Cypress:

[code]
(1) is taking the string content of the iframe body.
In (2) you can make assertions that Cypress will actually retry properly. Meaning it will continuously refresh the iframe dom content and assert until the timeout is reached.

[2022-09-21 10:34] idanElitzur commented on #23891
@AtofStryker
Can you please assist with this issue?
IDK if I missing something over there with wrong config options or is it a bug
Thanks

[2022-09-21 11:36] subiczadrian opened #23912 "Firefox 105"
### Current behavior

Opening cypress tests using Firefox 105 does not work.

### Desired behavior

_No response_

### Test code to reproduce

The user interface does not open.

### Cypress Version

10.8.0

### Node version

16.17.0

### Operating System

win10

### Debug Logs

_No response_

### Other

_No response_

[2022-09-21 12:11] idanElitzur commented on #16907
Me too. :/
Now the task of
[code]
Doesn't work after failure and not attached the screenshoots to the report regarding the `ELIFECYCLE` error.
@jennifer-shehane

**DEBUG:**
[code]

[2022-09-21 13:23] tester-at-bmi commented on #23912
Duplicate of the following report #23897

[2022-09-21 13:29] osifo commented on #18847
This was very helpful. thank you!

[2022-09-21 13:49] ZachJW34 commented on #23772
@amar0120 this issue has been routed to the appropriate team and will be prioritized accordingly!

[2022-09-21 13:50] ZachJW34 commented on #23912
Going to close as the issue is a duplicate.

[2022-09-21 13:50] #23912 closed, assigned to nobody

[2022-09-21 13:53] burcuaydogdu commented on #2903
This solution below worked work me.

After stop Jenkins from command prompt re-run it again by adding **Dfile.encoding=UTF-8**

C:\>java -Dfile.encoding=UTF-8 -jar jenkins.war --httpPort=8080

After that, for the new builds you should get a readable output.

[2022-09-21 13:57] bahmutov commented on #390
For Cypress v10 just list the specs in the order you want them to run
[code]
Of course, if you want to parallelize them using Cypress Dashboard it will change the order based on timings / failed tests first / new specs first.

[2022-09-21 14:02] flotwig commented on #23832
@nagash77 This issue should be kept open, we can give a clearer error here easily, #23799 will take more time.

[2022-09-21 14:02] flotwig commented on #23865
Duplicate of #23832

[2022-09-21 14:02] #23865 closed, assigned to ZachJW34

[2022-09-21 14:03] flotwig commented on #23866
@Anshita-Bhasin I believe this is a duplicate of #23832, closing for now.

[2022-09-21 14:03] #23866 closed, assigned to nagash77

[2022-09-21 14:04] flotwig commented on #23834
From the logs, this does look like a duplicate of #23832, please follow that issue for more info. For now you can disable `experimentalSessionAndOrigin` to bypass this.

[2022-09-21 14:04] #23834 closed, assigned to nobody

[2022-09-21 14:15] ZachJW34 commented on #23911
Thanks for opening the issue @rafal-pomocnik-captivateiq, I can verify that our types aren't properly reflecting this option. A change will need to be made [here](https://github.com/cypress-io/cypress/blob/3c8114027effc1e8080f8d1b67b85c75cd4a120b/cli/types/cypress.d.ts#L3040) to the `TestConfigOverrides`. Since it is a suite level override, maybe we change up the types such that it does not show u

[2022-09-21 14:27] AtofStryker commented on #23891
Hey @idanElitzur . This seems concerning. Do you have a code reproduction we might be able to take a look at?

[2022-09-21 14:31] zachz-indeed opened #23913 "Make video file path clickable"
### What would you like?

When a video recording of a test finishes processing, it currently behaves as follows:

| - Finished processing: | /This/Is/A/Video/File/Path/   | (1 second)  |
|                                       | To/A/Video/Recording.mp4 |                      |

This results in the video file path not being clickable, or able to copy/paste without also including the `(1 second)` c

[2022-09-21 14:33] idanElitzur commented on #23891
Thanks for your quickly answer.
Actually I've already posted here the login helper, the test cases are not effected about this behavior.
I can publish here something but i'm pretty sure they will be not give you any value about this issue
@AtofStryker

[2022-09-21 15:11] rafal-pomocnik-captivateiq commented on #23911
@ZachJW34 both `describe/context` suite level and `it` test level though uses currently `TestConfigOverrides`, to have different interface for both it seems there would be a need for creating `TestSuiteConfigOverride` (extending `TestConfigOverrides`?) with the additional `testIsolation` option (at least) and updating `SuiteFunction/ExclusiveSuiteFunction/PendingSuiteFunction` interfaces with new

[2022-09-21 15:19] chrisbreiding commented on #23498
I'm going to close this as there doesn't seem to be enough information to reproduce the problem on our end. This does not mean that the issue is not happening - it just means that we do not have a path to move forward.

If this problem is still occurring, please comment with a reproducible example and we'll re-open this issue.

[2022-09-21 15:34] flotwig commented on #23806
Duplicate of #23799

[2022-09-21 15:34] #23806 closed

[2022-09-21 15:36] flotwig commented on #23832
@Elecash if you could put together a repro, that would be most helpful. I haven't seen this error with WebKit outside of `experimentalSessionAndOrigin`.

[2022-09-21 15:40] yalpertem commented on #14418
Are there any updates/workarounds for this one? We encounter it randomly when we install and run cypress from the base image.

[code]

The error:

[code]
Sadly, I don't have access to this file ⬆️ after CI run is over.

[2022-09-21 15:53] MassimoLobrutto opened #23917 "Hyperlink in log when code fails is incorrect"
### Current behavior

In debugger when a test fails and failing line of code is highlighted the path to the class/code block seems incorrect

![image](https://user-images.githubusercontent.com/81157392/191551084-6bb80907-53a0-423b-8d17-2230d4f0b05a.png)

clicking on this link unsurprisingly does not work as it seems to have too many ../../

### Desired behavior

Link on a failure in log should cor

[2022-09-21 16:00] rbknajera commented on #23832
I'm seeing the same error and I'm not using `experimentalSessionAndOrigin`
I see it intermittently and I believe it's caused by custom commands, I commented out a line containing the custom command and it worked, but then the next test fails with the same error
`expecting an array or an iterable object but got [object Null] Because this error occurred during a before each hook we are skipping all

[2022-09-21 17:05] ZachJW34 commented on #23911
The latter is the easiest, looks like we don't have a pattern for suite level vs test level but like you said we do throw an error if provided. A simple `Omit<TestConfigOverrides, 'testIsolation'>` would work current pattern is ok for now, but ideally the types should reflect what options are valid

[2022-09-21 17:31] nitish-Datman commented on #23751
seems like all the urls are expiring , i'm adding in the sheet https://docs.google.com/spreadsheets/d/1z08dCTFnGuqmPWmHmaWFY9kGxFwPxgjqZ03NaovQ644/edit?usp=sharing

once you request for access will provide the same

[2022-09-21 17:33] valemany commented on #23897
I am on mac (macOS Monterey).

Getting the same issue on firefox 105:

Still waiting to connect to Firefox, retrying in 1 second (attempt 36/62)
Still waiting to connect to Firefox, retrying in 1 second (attempt 37/62)
Still waiting to connect to Firefox, retrying in 1 second (attempt 38/62)
Still waiting to connect to Firefox, retrying in 1 second (attempt 39/62)
Still waiting to connect to Firef

[2022-09-21 17:52] ZachJW34 commented on #23896
Thanks for the info @msebas, I was able to reproduce the error with the information you provided.

I suspect the issue is coming from our use of the [vue-cli -> resolveWebpackConfig](https://github.com/vuejs/vue-cli/blob/dev/packages/%40vue/cli-service/webpack.config.js) (we rely on this to get the Webpack config) and your use of `"type": "module"` in your `package.json`. Vue cli has an `init` pha

[2022-09-21 17:53] ZachJW34 commented on #23896
Also, if you're interested in contributing a fix for this that would be most welcome! The relevant code can be found [here](https://github.com/cypress-io/cypress/blob/c93b652ff7a68ee368234ee928fbd6835d708769/npm/webpack-dev-server/src/helpers/vueCliHandler.ts)

[2022-09-21 18:28] nagash77 commented on #23891
@idanElitzur unfortunately I do not think this login function will run for us to enable us to reproduce this problem.  Can you describe the scenario you are running into this problem?  Are you rerunning your tests many times?

Ultimately though we will need you to provide a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Ex

[2022-09-21 18:34] nagash77 commented on #23897
@cgraham-rs We are worried there has been a regression in firefox.  Previously this issue was fixed in this ticket https://bugzilla.mozilla.org/show_bug.cgi?id=1774476.  That is firefox v103.  Can you please try running against firefox 103 and confirming if youre still seeing the same issue?  That would confirm it is most likely a regression in firefox that needs to be addressed.

[2022-09-21 18:43] mike-plummer opened #23918 "CT Stacktraces: Svelte Support"
Fix stacktraces in component tests for Svelte projects - currently Svelte projects generate sourcemaps but when our code attempts to resolve codeframes we get `null` results back. It is unclear whether the generated sourcemaps are incorrect, or if we're missing some additional configuration/customization for the Svelte CT stack.

### Context
Under `packages/app` the `ct-framework-errors.cy.ts` fil

[2022-09-21 18:48] mike-plummer opened #23919 "CT Stacktraces: Investigate Vite sourcemap mismatches"
Sourcemaps generated by Vite are often shifted by 1-3 columns, resulting in misaligned code frames (errors point to incorrect part of line that generated the error). This is worked around in current system tests by providing multiple column mappings to accept (see `reporter-ct-vite.errors.cy.ts`), and at runtime users will sometimes see codeframes that are incorrectly positioned.

Need to investig

[2022-09-21 18:53] mike-plummer opened #23920 "CT Stacktraces: Duplicate reporting of uncaught errors"
Component tests improperly report the same uncaught error multiple times - likely caused by differences in architecture between e2e and ct which allows multiple error listeners to process the uncaught error. Logic changes were made to some tests to account for this during CT Stacktrace work (see `.should(mode === 'component' ? 'have.length.gte' : 'have.length', 1)` line of `verify-failures.ts`)

T

[2022-09-21 19:48] sfrendpax8 commented on #4220
@bunge12 I have the exact same issue, trying to login to auth0. Only fails on CI.

Did you come up with a fix?

[2022-09-21 20:07] nitish-Datman commented on #23751
@chrisbreiding shared

[2022-09-21 20:46] bernardo-zuchowski opened #23923 "I can't do component test with Cypress"
### Current behavior

First, I can't run test:component.

Then I update Cypress to 10.8.0 (latest version), then I remove the cypress folder and cypress.config.ts so I can do the initial configuration of component test.

When I try to mount the first component with Cypress mount, this error appears:
![image](https://user-images.githubusercontent.com/87351323/191603467-957410ae-5a17-48e0-a332-a0fc1

[2022-09-21 20:48] ZachJW34 commented on #23903
@JonRossway I was able to reproduce your issue and I was able to fix it by removing the commented code from your `cypress/support/component-index.html`. The reason is that `html-webpack-plugin` searches for a `<head>` element to inject the scripts into, but it's finding the commented head element and injecting the scripts there. You then end up sending an `index.html` that doesn't do anything sinc

[2022-09-21 22:04] #23562 closed

[2022-09-22 00:03] ivanminovi opened #23927 "Certificate not valid on https://download.cypress.io/"
### Current behavior

Hi Cypress team

I have issues installing the cypress via terminal, it gets blocked by our company's client connector, and seems like the issue is the certificate, it would be nice if you give it a check from your side, thank you!

![Screen Shot 2022-09-21 at 4 57 16 PM](https://user-images.githubusercontent.com/1906466/191630147-94d48c2c-5568-457d-ad0c-41dee7b0adea.png)

###

[2022-09-22 00:19] tetranoir commented on #1152
Just fyi, if youre using yarn, in a nested project, you may need to download the node_modules in that nest project (I used npm install) for typescript to find the types

[2022-09-22 02:02] #23653 closed

[2022-09-22 03:35] jpcampos24 commented on #14558
I had the same issues running a my Dockerfile from jenkins pipeline and I resolved adding this ENV to the Dockerfile:

`ENV ELECTRON_EXTRA_LAUNCH_ARGS=--disable-gpu`
`ENV LIBVA_DRIVER_NAME=--disable-software-rasterizer`

[2022-09-22 04:11] #23302 closed

[2022-09-22 04:11] lmiller1990 commented on #22390
https://github.com/cypress-io/cypress/pull/23605 landed, it'll be in the next release, I hope this helps!

We can keep working on this, I want to enable third parties as much as possible.

[2022-09-22 06:10] lmiller1990 commented on #23761
I thought about it more. Let's consider all the different things Next.js does, and what I'd recommend.

## Pages

Ref: https://nextjs.org/docs/basic-features/pages

How it works: you put your pages in `pages`, for example `pages/hello.js`. When a user visits `https://example.com/hello`, they get `hello.js`. Next will run some server side things (more on this later) and send back some HTML. `pages`

[2022-09-22 06:28] RemaKoul commented on #23589
HI @emilyrohrbough ,wanted to share an update on the FF date entry issue.

Our Development team made some changes to date picker library , and as a result the issue has been fixed on its own . We tried running a couple of times on FF on pipeline and Date was entered as per input.
cc  : @conversaShawn

[2022-09-22 07:12] Elecash commented on #23832
@flotwig we're still determining if this is a flaky test or a problem in cypress, we'll provide more information as soon as we know.

[2022-09-22 07:29] amyzhao-seismic commented on #8560
+1

[2022-09-22 07:52] idanElitzur commented on #23891
[code]

@nagash77

[2022-09-22 08:07] Baudry-G commented on #8560
This is really needed
+1

[2022-09-22 08:45] julienchazal commented on #7062
Hello,
Any update @jennifer-shehane ?
Issue still open after 2 years now...
we're getting `ESOCKETTIMEDOUT ` error with cypress `10.8.0` using Bitbucket Pipeline OR Jenkins running `cypress/browsers` image
No error on local machine
Thx

[2022-09-22 09:17] fuckcypress opened #23932 "SCRAP YOUR PROJECT, DELETE THIS ABOMINATION"
### Current behavior

Your software is fucking utter garbage, unstable piece of shit, please fucking delete this bullshit and rewrite it, such a shame you got so famous without the proper software to support that fame, fucking retards.

### Desired behavior

_No response_

### Test code to reproduce

DELETE ALL OF IT

### Cypress Version

1111

### Node version

1111

### Operating System

1111

#

[2022-09-22 09:23] #23932 closed

[2022-09-22 09:26] idanElitzur opened #23933 "Mochawesome report returns TypeError: addContext is not a function when configuring it inside setupNodeEvents on (after:run)"
### Current behavior

Since the last Cypress versions the 'after:run' API configuration is changed and the **mochawesome** **addContext** configuration is now part of the cypress config file and not in the support file anymore.
When I've tried to keep this there, Cypress _ignore_ the `Cypress.on("test:after:run")`.

So I've tried to refactor the `addContext` configuration for I can attach the fail

[2022-09-22 09:40] lmiller1990 commented on #23923
Something going on with the UnoCSS plugin:

[code]

If you comment out `UnoCSS()` in `vite.config.ts`, it works. This isn't a solution, obviously, but it should help with debugging.

Offending function:

[code]

Specifically

[code]

It's the magic string library: https://github.com/rich-harris/magic-string#readme

I logged the output:

[code]

Original warning is `Cannot overwrite a zero-length r

[2022-09-22 09:59] PetMou opened #23934 "playwright-webkit not installable in W10 environment"
### Current behavior

Is this Webkit experiment valid for a Windows 10 environment? I can't find a way to get the Webkit that the plugin tries to download.

### Desired behavior

_No response_

### Test code to reproduce

At installing ine playwright-webkit, it tries to download Webkit 16.0. This gives a 'Socket is closed' error.
So I wonder if this is perhaps only working in a Mac or Linux enviro

[2022-09-22 10:21] bruno333 opened #23935 "Unexpected Error: Your configFile threw an error from: cypress.config.js"
### Current behavior

I was installing the latest cypress in my angular apps (mono repo using nx).
E2e test are working but component testing is throwing me this error and I can't find where to specify the path for the tsConfig file

### Desired behavior

_No response_

### Test code to reproduce

Error
Your configFile threw an error from: cypress.config.ts

We stopped running your tests because y

[2022-09-22 10:31] lmiller1990 commented on #23935
Potentially related (NX and Angular) https://github.com/cypress-io/cypress/issues/23673

[2022-09-22 10:43] jeromeBor commented on #23873
Hi and thanks for the answer !
Unfortunatly, our message pack file and kind of confidential :/
I'm setting a debugger in the method that decode the messagepack file, and the arrayBuffer byteLength is not the same for the 2 executions.
First, I clicked on my app to fetch mannualy this file, and I checked the debugger on the method that decoded it. Plus, I also saved the file in the devtool network

[2022-09-22 11:16] msebas commented on #23896
@ZachJW34: I made a pull request with the fix you proposed for the cypress side. Any fix on the vue-cli side seems to be complicated. My approach would be to return a function in `module.export` that returns a promise that in turn resolves to the desired configuration. Sadly the function is not even called and I am unable to grasp why. I am going to go with the proposed merge request for my projec

[2022-09-22 11:58] chandrakumar1988 commented on #23837
Please find the HTML Markup for your reference.
![image](https://user-images.githubusercontent.com/47958062/191739056-9fc8e420-4ee2-4e4d-a854-af7d92143365.png)
-----------------------------------------------
And also one more issue I am using Azure cloud vdi machine ..if chrome browser was  already open then when i try to lunch Cypress - Its not launching the new chrome browser its open in an exis

[2022-09-22 11:59] io-sar opened #23937 "When accessing multiple sessions with origin I get "cannot read properties of undefined reading 'message'" on azureAD with Chrome"
### Current behavior

I have a test that tries to login with different session_id (string, string[], object) and with the use of origin on each step, with the same login provider (Azure AD). When the tests are run on **Chrome or Electron (headless/browser)** after the 1st login/session for an  approx **80%** of the times the rest of the tests will **fail** (see attached error).

<img width="269" a

[2022-09-22 12:09] Lyokolux commented on #3090
Any updates on this issue?

[2022-09-22 12:39] IlCallo commented on #22390
Nice, we'll try this out as soon as new version is released!

[2022-09-22 12:59] cgraham-rs commented on #23897
@nagash77 Our CI process always installs the latest browser versions during setup. Cypress 10.7.0 absolutely worked with Firefox 104.0.2, and then Cypress 10.7.0 broke with Firefox 105.0  I then re-tested with Cypress 10.8.0 to confirm it appeared to be the browser version change as the cause fo the breakage.

[2022-09-22 13:14] JasperSlokker opened #23938 "After closing Cypress always Error: Unsuspected Closure"
### Current behavior

When i close with the close button (top left, Mac) Cypress i always get this error: Unsuspected Closure

### Desired behavior

No error when i close Cypress

### Test code to reproduce

Start Cypress
Close Cypress

### Cypress Version

10.8.0

### Node version

16.13.0

### Operating System

Mac OS 12.6

### Debug Logs

_No response_

### Other

_No response_

[2022-09-22 13:26] daminebenq commented on #21167
This is a persistant issue...
The port number keeps on changing at every new execution.
even using the following, didn't change it:
[code]

any help?

current versions: `10.3.0` and even `10.8.0`

[2022-09-22 13:28] erik-itland commented on #23343
@rachelruderman you ask above:

As Jasmine hasn't answered I'll do:

The GUI doesn't show up.

When we come to the "Opening the App" step it just stops after displaying the message:

"[8995:0922/151902.580168:ERROR:gpu_memory_buffer_support_x11.cc(44)] dri3 extension not supported."

Let me repeat it from a business perspective: your prospective customers come to page 2 in the documentation and th

[2022-09-22 13:32] idanElitzur commented on #23938
I've this issue as well, it's k ind of legacy issue I still experienced since v9

[2022-09-22 13:34] JasperSlokker commented on #23938
OK, that is not good. But I have this issue since v10.

[2022-09-22 13:37] chrisbreiding commented on #23886
I tried reproducing this using our own Okta and the provided code, but Cypress was able to find the element and didn't error.

Unfortunately, unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

If you can provide an example we

[2022-09-22 13:38] mjhenkes opened #23939 "WebKit Support"
This is a GA placeholder for webkit support.

See #6422 for historical webkit info.

[2022-09-22 13:45] chrisbreiding commented on #23905
Looks like the types could use an update. I'll route this to a team to fix, though we'd also be happy to accept a PR to fix it as well.

[2022-09-22 13:57] nhayes84 commented on #1232
If anyone is still interested I managed to get cypress to run both headless and headed using chromium on an AWS Lambda using a docker image. It's a .Net container image and the Dockerfile looks like this:

[code]

I had to edit the environment.js & chrome.js file to include the following additional flags, I tried to add these in the cypress.config.js file but it never picked them up:

[code]
These

[2022-09-22 14:04] chrisbreiding commented on #23751
I was able to get the example code running by visiting one of the urls in the sheet, but the test passes and I don't see any failures or a redirect happening. Although the click command succeeds at the end, it doesn't seem to have any effect, so it doesn't go as far as the test in your video.

I know you tried using `modifyObstructiveCode` and it didn't work, but this might require using [`experim

[2022-09-22 14:13] chrisbreiding commented on #23674
Going to close this issue as there isn't currently a way for us to reproduce this issue. Please post a comment with a reproducible example and we'll re-open this issue.

[2022-09-22 14:13] #23674 closed

[2022-09-22 14:23] tja4472 opened #23940 "Angular Component Testing broken by cypress 10.8.0"
### Current behavior

Chrome v105
Ubuntu 22.04.1 LTS

[code]
Executing task: npm run cypress:open:component

[code]
### Desired behavior

[code]

should work as with 10.7.0

### Test code to reproduce

https://github.com/tja4472/ng-jest-cypress-template/tree/cypress-10-8-0

### Cypress Version

10.8.0

### Node version

v16.15.0

### Operating System

Ubuntu 22.04.1 LTS

### Debug Logs

_No respon

[2022-09-22 14:53] chenxsan commented on #22663
We ran into a similar problem when upgrading [cypress 10.7.0 to 10.8.0](https://github.com/webpack/webpack.js.org/pull/6397), where tests are not component testing. Using chrome browser could work around the problem, see https://github.com/webpack/webpack.js.org/pull/6415. But I'm not quite sure that it's electron related since cypress has same electron version in both 10.7.0 and 10.8.0, and we di

[2022-09-22 14:54] chrisbreiding commented on #23873
Could you provide a reproduction of this issue using https://github.com/cypress-io/cypress-test-tiny as your template? Without a reproducible example, we don't have a path forward to investigate this.

[2022-09-22 14:57] meatnordrink commented on #440
This would be a great feature. It's currently implemented in Playwright, and has been useful recently as we've had an issue with a third-party script that's making a request that never resolves, and holds up the `load` event. Because of this, all of my Cypress tests have become unusable, whereas, with the company Playwright suite, we can still run them by appending `{waitFor: domContentLoaded}` to

[2022-09-22 15:19] rachitaranidash commented on #20414
I'm also stuck with the same issue. Any workaround ?

[2022-09-22 15:45] nagash77 commented on #23828
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-22 15:45] #23828 closed, assigned to nagash77

[2022-09-22 16:01] bernardo-zuchowski commented on #23923
Thanks, I also posted this issue in the Vitesse project because it's the basis of the project I used.

Considering that the project is from @antfu, maybe it will help me there too.

[2022-09-22 16:25] Elli143 commented on #18799
I'm running into this problem after upgrading from Cypress 9.6 to Cypress 10.8. Cypress completely crashes when a test clicks on a link that opens a new tab in Electron. Runs fine in Chrome. Prior to the upgrade there was no crash for the same test in Electron.

[2022-09-22 16:40] mschile opened #23944 "Upgrade to newest Firefox version"
### What would you like?

We are currently running our Firefox CI tests against Firefox v99. We should upgrade to the latest version to ensure we are staying up to date.

### Why is this needed?

_No response_

### Other

_No response_

[2022-09-22 16:48] JonRossway commented on #23903
That worked! Thank you so much for your help, @ZachJW34 !!

[2022-09-22 18:09] JesusLopezCh commented on #23927
+1

[2022-09-22 18:20] nagash77 commented on #23897
@cgraham-rs thanks for confirming our suspicions.  We are going to check with firefox to see if they are aware of this issue.  I would encourage you to do the same.  I will close this issue since this appears to be a problem on the firefox side.

[2022-09-22 18:42] emilyrohrbough opened #23945 "Remove `rawJson` from stored Cypress state"
### What would you like?

https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cypress.ts#L222

Check the config value received when Cypress starts and you'll see we are storing the `rawJson` with the value & resolved.from values in Cypress.state().

We collect this date for presenting the config resolution in the App, but the driver doesn't need/use this info.

[2022-09-22 18:54] perseqaq commented on #23870
The same idea, when saving all case videos, it is very troublesome to find the corresponding failure in one use case

[2022-09-22 19:13] BryanEdClark commented on #23832
Seeing this issue as well without having any other experimental state other than webkit.

I am seeing odd behavior when I turned off retry logic, it is working exactly 50% of the time alternating, First launch - no error - 2nd run error - 3rd no error - 4th error

Edit-

Looks like this error is based on certain commands, I created 6 tests in a super basic suite when the failure occurs 3 will pass

[2022-09-22 19:40] colebrumley commented on #23927
Hello, thanks for reporting this issue. Could you please share the specific TLS error you're seeing? I'm not able to duplicate this using OpenSSL (command I used: `openssl s_client -connect download.cypress.io:443 -showcerts -verify_return_error -verify_hostname download.cypress.io`) or via a browser.

[2022-09-22 19:45] ptletski opened #23947 "Assertion scoping causes failures not to be reported."
### Current behavior

Four tests are executed via

`npm run cypress:run -- --component --browser edge  --config video=false`

Where the expected result is four (4) failures. The results are presented as only two (2) errors occurring:
[code]

When tests are executed via

`npx cypress open --component`

results are presented as:

![image](https://user-images.githubusercontent.com/44261878/191836581-

[2022-09-22 19:46] nitish-Datman commented on #23751
it didn’t help, now the wired part is while `experimentalModifyObstructiveThirdPartyCode: true,` adding this to `cypress.config.js` iframe is not even loading ,
for iframe to load now i have to give  now `modifyObstructiveCode: false` without experimentalModifyObstructiveThirdPartyCode , no idea what has changed

[2022-09-22 19:59] ptletski opened #23949 "async Tests don't execute"
### Current behavior

Mocha tests marked as async fail to execute.

### Desired behavior

Execute tests properly.

### Test code to reproduce

**display-user-message.service.cy.ts**

[code]
**display-user-message.service.ts**

[code]

### Cypress Version

10.7.0

### Node version

v14.15.0

### Operating System

Windows 10

### Debug Logs

[code]

### Other

_No response_

[2022-09-22 20:05] mikespinks0401 commented on #23837
@chandrakumar1988 try chaining two clicks  elemtn.click().click() and see if it works. For some reason I had to do the same. It also worked with a wait(100) before the click

[2022-09-22 20:16] nagash77 commented on #23343
@erik-itland At this point we don't plan to offer official support for WSL. Can you help us understand why you want to use WSL vs our windows binary? That might help us make a better case to internal product managers as to why as a company we should invest more resources in this type of use case. I am going to close this issue for the time being while we await your response.

[2022-09-22 20:17] ZachJW34 commented on #23903
Glad I could help!

[2022-09-22 20:18] cgraham-rs commented on #23897
Firefox bug logged: https://bugzilla.mozilla.org/show_bug.cgi?id=1792088

[2022-09-22 20:20] nagash77 commented on #23891
Hi @idanElitzur Unfortunately we will not be able to run this test as it contains lots of custom plugins and imports.  Can you come up with a very simple test that reproduces the problem?  I would suggest forking [the Cypress tiny test repo](https://github.com/cypress-io/cypress-test-tiny) and recreating the issue there and then sharing that repo with us.

[2022-09-22 20:29] ivanminovi commented on #23927
Sure ...basically I have cypress on my package.json as a devDependency and I ran `npm install `

![Screen Shot 2022-09-22 at 12 59 51 PM](https://user-images.githubusercontent.com/1906466/191839715-e3f9c743-a450-420b-bdd5-aab67d8f87ee.png)

And it shows: `Unable to get local issuer certificate`

Here're different version tries:

![cypress issue](https://user-images.githubusercontent.com/1906466/19

[2022-09-22 21:02] rockindahizzy opened #23951 "Spike: Automate nightly builds against supported frameworks"
Automating builds to run against the latest versions of frameworks we support, including pre-release builds when available, can help us stay ahead of breaking changes.

Goals of the spike:
- Determine how we can automate builds against newest versions of the frameworks and dev servers we support.
- Can we utilize free build minutes via GitHub actions?
- Are there regular maintenance activities tha

[2022-09-22 21:07] lmiller1990 commented on #23923
Can you link the issue in the Vitesse project? That will be useful to reference.

[2022-09-22 21:37] ZachJW34 commented on #23917
I was able to reproduce this issue using just a simple app with `@bahmutov/cypress-esbuild-preprocessor`. I don't think is an issue on our end though, as the parsed source maps from the served specs contain the `../../../../`. Esbuild has some other source map specific options that might need to be tweaked, like https://esbuild.github.io/api/#sourcefile.

I would open this issue in https://github.

[2022-09-22 21:58] ghost commented on #5830
This happens a lot with the Shadow DOM where this input element is not directly focussed; It's light DOM parent component tag is.

This issue still occurs in web components using the Shadow DOM.

[2022-09-22 22:18] ZachJW34 commented on #23893
@SrHadeSito would you be able to provide me with a reproduction using https://github.com/cypress-io/cypress-test-tiny? I tried visiting a few urls with
[code]

And every request is passing. If you can't could you attach the DEBUG logs? You can do so by running `DEBUG=cypress:* npx cypress run &> logs.txt` and sharing the generated `logs.txt` file

[2022-09-22 22:21] lmiller1990 commented on #22663
@chenxsan did you see CI fail multiple times or just once? I wonder if it was just flake - I posted in your PR with the dif from 10.7->10.8 but I don't see any obvious thing that would impact your tests.

Can you reproduce locally or only on CI?

[2022-09-23 00:20] kwantdev commented on #22317
The same problem!

[2022-09-23 01:23] chenxsan commented on #22663
I've tried that failed CI many times, all of them failed.

Yeah, that's why I was surprised that using chrome wouldn't throw any errors.

I have some network problems here when fetching some public api so I can't run the code locally.

[2022-09-23 01:46] rockerest opened #23955 "cy.type() failed because it targeted a disabled element when using `.type` after `.clear`"
### Current behavior

Cypress reports the following error when a input is `.clear`ed and then `.type`d into.

[code]

### Desired behavior

`.type( "{selectall}{backspace}" )` (and thus `.clear()`) should work correctly.

Please note that running either `.clear` OR `.type( "{selectall}{backspace}" )` both fail this way, but ADDING `"{selectall}{backspace}"` in front of more text WORKS.

Unfortunat

[2022-09-23 01:47] ryanthemanuel commented on #23122
Closed with https://github.com/cypress-io/cypress/pull/23925

[2022-09-23 01:48] rockerest commented on #23955
The logs were too long to write directly in the issue, so I'm attaching them here.

[cypress.log](https://github.com/cypress-io/cypress/files/9630309/cypress.log)

[2022-09-23 02:09] senthkum commented on #23849
Hi Zach, The code given is not working.. do you have any other workaround to fix the issue ?. also the issue is still open. without having a solution we can not close the issue. I know it might be a duplicate. But it's difficult to track the issues.

[2022-09-23 02:34] rockerest commented on #23955
It seems like any special character sequence causes this to happen.

I tried to work around not being able to `clear` by doing `.type( "{moveToStart}{del}{del}{del}" }` (with a long list of `"{del}"`s), and that fails the same way. It seems like the way that special character sequences are implemented bombs out in Shadow DOM.

[2022-09-23 03:15] jhonjhon95 commented on #16907
o erro persiste, alguma solução ?

[2022-09-23 06:14] maddhruv commented on #4937
Is there any update on this, or a workaround, happening for me even in `Cypress@10.6.0`

[2022-09-23 07:03] jpatil14 opened #23958 "Unable to login into salesforce 23 using session id"
### Current behavior

Until the salesforce 23 release which released around a month back, cypress was able to login into salesforce through soap request. However after salesforce 23 release, cypress is unable to log into salesforce which i believe is global issue as others too are facing it.

Below are the steps :
1. soap request payload as

[code]

2. Then passing above payload as request to log

[2022-09-23 07:25] ghost commented on #2876
Um, did we solve this issue or no? :)

[2022-09-23 07:37] RoopaShivakumar commented on #4937
It was clearing but When it cleared, the cursor was at end and it cudnt type at end, so used {moveToStart} option and then typed
 cy.iframe().xpath("ur xpath").type('{moveToStart}' + <value you want to type>)

[2022-09-23 07:39] ForzaMark opened #23959 "cy.wrap seems to manipulate global state"
### Current behavior

When I assign `cy.wrap` with different values to different variables, the variable values seem to get changed by each other.

### Desired behavior

Assigning a value to a variable should not have any effect on another completely independent variable.

### Test code to reproduce

[code]

I thought this test would easily pass, but unfortunately it does not.

The test log reads

[2022-09-23 08:30] robrich7 commented on #22506
Yes, this is a possibility to avoid the crashes, but in this case many of my tests fail, because certain values are no longer passed, which I need for my tests. So this is not a valid solution for me.

[2022-09-23 08:31] rafal-pomocnik-captivateiq commented on #23911
Cool, thanks @ZachJW34! I have some code prepared, but it seems I lack perms to push branch to remote - can you advise? 🙏

[2022-09-23 08:51] chandrakumar1988 commented on #23837
cy.wait(5000)
 cy.get('#submitButton').should('be.visible').should('be.enabled').click()
![image](https://user-images.githubusercontent.com/47958062/191923839-09e69fa9-49ea-4ccb-a3ce-0f686d1e6012.png)
I have used the same but its not working in chrome but working in Edge

[2022-09-23 08:56] Jorrex commented on #23798
Experienced a similar behavior with Electron. Launched a test and accidentally closed the browser while it was launching. The Launchpad didn't reflect that either and was forced to restart Cypress.

[2022-09-23 09:57] Tathos20 commented on #23391
Let me try and give you some additional information. We are using Cypress 9.1.1 and we see Out of Memory with Chrome 104 and 105 after 1 or 2 long tests. If we switch to Electron 94 it is mostly good, but in some rare cases Electron also crashes.
Upgrading to 10.7.0 resulted to be a bit better, but still Out of memory errors.
We do not have any workaround, since we have long E2E tests and we can n

[2022-09-23 10:01] PawelRuszlewicz commented on #23391
@Tathos20  we have same case, and I'm afraid that we do not get any solution. I reported this issue 17.08, so its over 1 month....

[2022-09-23 10:05] Tathos20 commented on #23391
@PawelRuszlewicz I think we will get a solution, as the problem is spreading out.
FYI: We are also using windows Azure Windows systems.

[2022-09-23 10:09] btimo commented on #23391
Thanks for linking those issues - With Chrome 106 beta, the issue is no more present for our use case (106 is getting to stable next week)

[2022-09-23 10:11] kailash360 commented on #17265
I am having the same issue. I have made sure that all the variables are present. It passes perfectly in the local device, but fails in GitHub Actions. Any solutions or references?

[2022-09-23 10:11] PawelRuszlewicz commented on #23391
@btimo how u run test on beta 106 chrome?

[2022-09-23 10:16] PawelRuszlewicz commented on #23391
@btimo I still have the issue on 106 beta
![image](https://user-images.githubusercontent.com/101120019/191940003-5d6efb41-86ab-47bd-905a-2e502de2ba37.png)

[2022-09-23 10:32] tusharAdvanced commented on #6678
Is there any solution on this ? I am facing  the same.

[2022-09-23 11:18] idanElitzur commented on #23891
OK Thanks a lot anyway,
Love your reporter!
Shana tova 🍎 🍯

I'll close this one.

[2022-09-23 11:20] #23933 closed, assigned to nobody

[2022-09-23 11:21] idanElitzur commented on #23933
I've changed the syntax from 'import' to 'require' and it works now.

[2022-09-23 11:41] Tathos20 commented on #23391
I also can reproduce the issue with Chrome 106 beta on Win 10 Pro

[2022-09-23 12:03] thyarles commented on #14558
Hi @jpcampos24, thanks for sharing your discovery. I tried it today and it partly worked for GitHub Actions. After your envs, this error dissapear:

[code]

The other one still... so, the env `ELECTRON_EXTRA_LAUNCH_ARGS` didn't work, but as I'm using Chrome maybe that was the reason. Thanks!

[code]

[2022-09-23 12:55] PawelRuszlewicz commented on #23391
Same issue on Chrome 106 beta

[2022-09-23 13:20] chrisbreiding commented on #23672
I'm sorry you're encountering this issue.

Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of

[2022-09-23 13:30] TimVee commented on #17393
[The backslash is an escape character in JavaScript string literals.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String#escape_sequences) Just try `'\d'` in the browsers JavaScript console, the resulting string doesn't have the backslash because JavaScript doesn't recognize the `\d` as an escape sequence and interprets it as a literal `d`.

Backslashes in Java

[2022-09-23 13:42] michaelkaye opened #23962 "Cypress exiting with The Test Runner unexpectedly exited via an exit event with signal SIGILL when run in docker as non-root user"
### Current behavior

I'm trying to run cypress in an openshift environment. a key feature of the environment is that a unique UID is allocated to your container - so it runs the container as UID:GID 10001234:0 (no named user is specified) rather than 0:0 or 1000:0  (`root` or `node`)

I've made a docker file using this method of creating a non-root container

https://github.com/cypress-io/cypress

[2022-09-23 13:42] cgraham-rs commented on #23897
@nagash77 The Firefox team is asking a lot of technical questions about Cypress that I do not have the knowledge to answer.

[2022-09-23 13:43] chrisbreiding commented on #23733
Right now there doesn't seem to be enough information to reproduce the problem on our end. If you can provide a self-contained reproducible example, ideally using https://github.com/cypress-io/cypress-test-tiny as a template, that would really help us debug this issue.

[2022-09-23 14:02] michaelkaye commented on #23962
Also some experimenting with 9.7.0 lead to this:

https://github.com/michaelkaye/cypress-included-demo/tree/cypress_9_7_0

Which might provide some insight: it still shows that SIGILL is still there, but there's additionally/combined a permissions based error of some nature.

[2022-09-23 14:04] ZachJW34 commented on #23911
@rafal-pomocnik-captivateiq We have a [contributing guide](https://github.com/cypress-io/cypress/blob/dd61385998eae0cdcc2485c37e16052bf5855d6c/CONTRIBUTING.md#L1) that I would recommend going through. Then, you can fork the repo and contribute a PR from the forked repo.

Glad you're looking to fix it, we appreciate it!

[2022-09-23 14:16] chrisbreiding commented on #23937
Sorry you're encountering this issue.

Do you have `experimentalModifyObstructiveThirdPartyCode` set to `true` in your `cypress.config.ts`?

[2022-09-23 14:29] nagash77 commented on #23897
@cgraham-rs thanks for getting that rolling!  I have asked a couple of our engineers to keep an eye on the thread and attempt to answer whatever they can.

[2022-09-23 14:30] chrisbreiding commented on #23751
Interesting, I was able to reproduce the issue after setting `modifyObstructiveCode: false`. Now that I've reproduced it, I'm going to route this to a team to look into.

Here are debug logs I captured when reproducing the issue:
[debug.log](https://github.com/cypress-io/cypress/files/9634553/debug.log)

[2022-09-23 14:39] asmirnov-style commented on #1887
This is kind of sucks. If it works manually, then it should work with Cypress. ({force: true} not always a solution)
SOLUTION: add `.scrollIntoView().wait(1000).click({ force: true });` especially wait will help you, if force click doesn't help

[2022-09-23 14:46] colebrumley commented on #23927
Hi again! This looks like a configuration issue with the firewall. Does your company use a proxy server? If so you'll need  to follow the proxy configuration instructions [here](https://on.cypress.io/proxy-configuration). Occasionally this error is also caused by misconfigured client certificates for the internal firewall.

Usually when we see [these](https://github.com/cypress-io/cypress/issues/1

[2022-09-23 14:59] #23632 closed

[2022-09-23 14:59] ptletski commented on #23949
I made an error in the definition of resolve. When corrected, the async test functioned as expected. Sorry for the bother.

[2022-09-23 15:00] #23949 closed, assigned to nobody

[2022-09-23 15:00] ptletski commented on #23949
I made an error in the definition of resolve. When corrected, the async test functioned as expected. Sorry for the bother.

[2022-09-23 15:16] ZachJW34 commented on #23853
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-23 15:16] #23853 closed, assigned to ZachJW34

[2022-09-23 15:16] ZachJW34 commented on #23684
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-23 15:16] #23684 closed

[2022-09-23 15:42] markl-canva commented on #8913
I'm also experiencing this infuriating problem. In order to avoid multiple tabs opening, I have to ⌘-w each tab in the Cypress-controlled Chrome, and then click "Stop" in the spec explorer window, otherwise the next time I run the tests those tabs will be restored and the tests will start running in all of the tabs.

I wonder if the people who can't reproduce this problem using [these steps](https

[2022-09-23 15:58] ZachJW34 commented on #23940
I can confirm the regression from 10.7 to 10.8. We made a change to extend the provided `tsconfig` rather than the root which is why you are encountering issues. I would say the behavior is more correct after this change but there are still some issues to work out when it comes to how we are handling types/tsconfig, see [my comment](https://github.com/cypress-io/cypress/issues/23848#issuecomment-1

[2022-09-23 16:21] Bariscanates404 commented on #23684
Yes please, I can't share any account and information. But if you need I can just share the URL. We are closing the post but that doesn't change the situation, unfortunately. :(

[2022-09-23 16:59] ZachJW34 commented on #23934
I was able to launch and run some Cypress tests on my Windows 10 machine using webkit 🤯.

Is the problem occurring when you try to download playwright-webkit e.g. when you run `npm i -D playwright-webkit` or is it happening when you try and launch the browser with Cypress? If it's the latter, providing some DEBUG logs would be valuable so I can try and find out what's going on.

[2022-09-23 18:01] trevor-bennett opened #23963 "Cypress/CircleCi - Rerun workflow from failed causes 0 tests to run and 'passes' the circle job"
### Current behavior

splitting cypress/install and cypress/run into two different jobs within the circleci config yml will cause 0 tests to actually run when selecting rerun workflow from failed if the failed job within circle is only cypress/run

First failed circleci run:

<img width="957" alt="image" src="https://user-images.githubusercontent.com/53020883/192027225-004bb079-3991-43f6-9422-d297

[2022-09-23 18:04] jdimmerman commented on #22506
I know that this isn't a solution for everyone, but disabling the command log fixed this issue for me. I'd love to understand how we can relieve the memory constraint another way in order to save these logs for troubleshooting later.

[2022-09-23 18:08] astone123 opened #23964 "Use 'cypress' project for all monorepo packages on production dashboard"
We have two separate projects for the Cypress monorepo in the Cypress Dashboard:

- `cypress-launchpad` - the `app`, `frontend-shared`, and `launchpad` packages report to this project
- `cypress` - all of the other packages report to this project

We should use one project for all of the packages in the Cypress monorepo to keep things consistent and avoid confusion.

**Suggested Implementation**:

[2022-09-23 18:33] AtofStryker opened #23967 "Move XmlHttpRequest and Fetch patches to cross-origin injection code"
### What would you like?

In preparation for `experimentalSessionAndOrigin` to go GA, we likely need to move the XmlHttpRequest and Fetch injections into the `injection/cross-origin.js` file. Since Cypress may or may not be instantiated yet, we might be able to leverage `postMessage` to send credentialStatus and resourceType to the primary, and the primary sends the information to the web socket.

[2022-09-23 18:49] AtofStryker commented on #23967
Added from the joint #23872 review:

currently without a cy.origin block, we can't actually figure out what credentials were applied, and also leaves errors for when the cy.origin block is attached. One possible solution is to send the url and credential status of postMessage to the primary, and send this up to the backend. If we can figure out a graceful way to handle the possible race condition

[2022-09-23 19:00] astone123 opened #23969 "Flaky tests: npm/webpack-dev-server e2e tests"
### Link to dashboard or CircleCI failure

https://dashboard.cypress.io/projects/ypt4pf/analytics/flaky-tests/7712c8c3-e8b2-3fff-c0a0-a17cbb16b571-e8fac3cf-233e-db09-14dd-7b63151f3463?branches=%5B%7B%22label%22%3A%22develop%22%2C%22suggested%22%3Afalse%2C%22value%22%3A%22develop%22%7D%5D&browsers=%5B%5D&chartRangeMostCommonErrors=%5B%5D&chartRangeSlowestTests=%5B%5D&chartRangeTopFailures=%5B%5D&co

[2022-09-23 19:18] byronwall commented on #7664
I was able to resolve this error for my specific setup.  I believe the issue is related to `ws` connections not going through the Cypress proxy correctly.

To resolve, I modified the default `--proxy-bypass-list` argument to include my specific web socket connection.  This prevents the Cypress proxy from interfering with the connection.

My argument now looks like: `--proxy-bypass-list=<-loopback>

[2022-09-23 19:23] jaytavares commented on #18350
Any word on this? Firebase uses indexedDB for session storage. So `cy.session()` doesn't work to cache a logged in session in a Firebase app.

[2022-09-23 19:25] lmiller1990 commented on #22663
@chenxsan i think thien is related https://github.com/cypress-io/cypress/issues/23830

[2022-09-23 19:59] amemar-plm commented on #3485
This would be a great feature to have

[2022-09-23 20:09] #23761 closed

[2022-09-23 22:20] admah commented on #23963
@trevor-bennett thanks for taking the time to report this. I believe it is a duplicate of [this issue](https://github.com/cypress-io/github-action/issues/531) in our `github-action` repo. Could you retry using `10.7.0` or later to see if you still run into the issue?

[2022-09-24 06:09] simenbrekken commented on #7362
I've updated my original recipe to Cypress 10 and added proper TypeScript types: https://gist.github.com/simenbrekken-visma/e804c86fd6a23cc59b89913eabbf1d82

[2022-09-24 09:56] tja4472 commented on #23940
Adding `"src/index.d.ts"` to the `tsconfig.app.json -> files` array, worked. Thank you

Unfortunately in another project I use `"exclude" which as you are ignoring `"include` doesn't apply.
https://www.typescriptlang.org/tsconfig#exclude

[code]

See https://github.com/tja4472/ngrx-task/blob/cypress-10-8-0/tsconfig.app.json

[2022-09-25 10:25] TannyaT opened #23972 "Left side panel logs disappers after entering username"
### Current behavior

Left side log panel opens when I open cypress, it shows log for few minutes. Then I enter username and new page is loaded for password field..left side panel dissapears.
Also , password field locator is not getting selected in new window.

### Desired behavior

Left side log should show all the time.
selectors should select the desired field and perform actions as written in

[2022-09-25 12:59] MikaelUrankar commented on #3382
+1 for FreeBSD

[2022-09-25 17:35] chriswait commented on #2640
[The usage docs for contains](https://docs.cypress.io/api/commands/contains#Syntax) chains `contains()` onto a `get()`

It's quite confusing for the documentation to suggest writing tests in a way that will become flakey for non-obvious reasons. I say non-obvious because _Cypress's own documentation_ obviously anticipates the "retry last command only" behaviour confusing developers, saying things

[2022-09-26 00:21] #21858 closed

[2022-09-26 00:32] Rogeriohsjr commented on #23958
I am having the same issue.
This affects only Winter 23 so far. Summer 22 is working fine.

If you guys need an org to test please let me know I can send the credentials so you can test. You can also create your own org since that doesn't require any subscription. If you use the link below you have to change the code that jpatil4 provided to use the login.salesforce instead of test.salesforce. You

[2022-09-26 02:36] senthkum opened #23974 "Screenshot missing after the execution in test result"
### Current behavior

I am currently running 20+ scripts and for a couple of failed scripts, the screenshots are missing after the execution.
please find the ss below.

![IMG_7386](https://user-images.githubusercontent.com/46837197/192182482-b114b290-5c54-4b19-8cab-b183c2918a51.jpg)
![IMG_7387](https://user-images.githubusercontent.com/46837197/192182484-e0dcccb3-ded7-46da-852a-74af23644d79.jpg)
a

[2022-09-26 05:52] lmiller1990 commented on #23920
fixed https://github.com/cypress-io/cypress/pull/23957

[2022-09-26 06:38] ganeshac123 commented on #22670
@chrisbreiding @nagash77 Hi Any updates on this ? you had only 2 weeks but we are already passed 4 weeks? please let us know if you are not able fix this because this ticket opened 3 months still no update on this?

[2022-09-26 07:54] keremh commented on #23846
hi can i work on this issue?

[2022-09-26 08:31] erik-itland commented on #23343
The reason I use WSL is because for people like me who knows Linux, Windows is nightmarishly slow.

Even trivial things that returns instantaneously in Linux - like git status - takes several hundred milliseconds. For processes with multiple commands stringed together (builds) the effect is of course bigger. In my world that is often the difference between flow and not flow.

Interestingly enough,

[2022-09-26 09:24] manv6 commented on #1232
@nhayes84 I'm interested to run cypress in lambda, without any luck yet.
Can you give some more deets
1. Where exactly are you starting xvfb ? from the lambda function itself ?
2. What are the `environment.js` and `chrome.js ` files that you copy from your repo when building docker image?
3. Is the last line `COPY "bin/Release/lambda-publish"  .` copying the lambda function ?

is this going to wor

[2022-09-26 09:57] nhayes84 commented on #1232
@manv6 Yes Xvfb is started at the beginning of the lambda function however if you don't want to start it yourself just remove ENV DISPLAY=":99" form the dockerfile. You will need to modify the xvfb.js file (found: ./node_modules/cypress/lib/exec/xvfb.js)  to include the following additional arguments:
`'-nolisten', 'inet6', '-nolisten', 'tcp', '-nolisten', 'unix', '+extension', 'RANDR'`

The envir

[2022-09-26 12:21] warrensplayer opened #23977 "Update endpoint host and headers for fetch request in EventCollectorActions.ts"
### Current behavior

Two updates need to be corrected with the fetch call in `EventCollectionActions.ts`

1. The endpoint host used is pointing to the staging environment for the dashboard when running in the production build.  It should default to the staging environment when running an a local development environment, but should point to the dashboard production environment when the Cypress app

[2022-09-26 13:34] #17710 closed

[2022-09-26 13:57] bunge12 commented on #4220
@sfrendpax8 we decided to run Cypress on CircleCI instead of GitHub Actions and it runs without a hitch :)

[2022-09-26 14:14] ryanthemanuel opened #23978 "Assess whether we need to postpone Windows functionality to the second release of v8 snapshots"

[2022-09-26 14:14] intoeetive commented on #23391
We experience same (or seemingly same) issue on `ubuntu-latest` build with GitHub Actions

[2022-09-26 14:16] ryanthemanuel commented on #23978
I was able to fix the windows issues with this PR: https://github.com/cypress-io/cypress/pull/23925

[2022-09-26 14:16] #23978 closed, assigned to ryanthemanuel

[2022-09-26 14:29] praveenpandey02 commented on #8525
This was my plan B. Nice thread!

[2022-09-26 14:47] Enough7 commented on #3081
`npm install` instead of `sudo npm install` worked for me

[2022-09-26 14:49] ryanthemanuel opened #23980 "Ensure that calls to `https://api.cypress.io/` will reject if the server certificate does not match"
### What would you like?

Currently, we [set](https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/request.js#L21) `NODE_TLS_REJECT_UNAUTHORIZED` to '0' to ensure that the proxying that Cypress does isn't affected by this security. This requirement is not necessary for calls to `https://api.cypress.io/`.

### Why is this needed?

We should ensure that we only lax security require

[2022-09-26 14:54] CoryDanielson commented on #8525
My browser still crashed even with window.gc being called. I ran all my tests with `cypress open` and it crashed after a few minutes. We don't have any issues with our tests running in Jenkins/CI where they are parallelized though.

Really just need to avoid this issue with the specific Chrome versions, until it's fixed by Chrome.

[2022-09-26 14:57] praveenpandey02 commented on #8525
I believe it is not a good idea to run all your tests in `cypress open`. It is actually not meant for it. I tried with a very simple solution first which was: break my spec file into smaller ones will less `it` blocks in them. Memory is flushed out when spec files are loaded but not when individual `it` blocks are loaded.

[2022-09-26 15:12] chrisbreiding commented on #23959
Cypress commands are run in a single, sequential queue. Commands like `cy.wrap()` work by setting the "subject" of the queue and passing it to the next command. There is only one subject at a time. When you call `cy.wrap(2)`, it's setting the subject, which replaces the previous value of `1`.

Commands aren't meant to be assigned as variables and used later. It's simply not how Cypress was designe

[2022-09-26 15:12] #23959 closed, assigned to nobody

[2022-09-26 15:17] chrisbreiding commented on #23947
[code]

`expect(false)` is not an assertion, so this test ends up being inert. Change it to `expect(false).to.be.true` and it should fail as expected.

[code]

I'm guessing the `error` callback for `msObs.subscribe` gets called asynchronously. At this point, the test has already passed. You can use a `done` callback to let the test know to wait until it passes/fails.

[code]

[2022-09-26 15:17] #23947 closed, assigned to chrisbreiding

[2022-09-26 15:58] chrisbreiding commented on #23854
Glad to hear you have a workaround. Happy testing!

[2022-09-26 15:58] #23854 closed, assigned to nobody

[2022-09-26 16:19] ZachJW34 commented on #23955
Appreciate the info and the reproduction @rockerest, I was able to reproduce the issue you are seeing.

I also found https://github.com/cypress-io/cypress/issues/21433. I'm going to close this issue as being a duplicate. You can subscribe to that issue to get updates on how the issue is progressing.

[2022-09-26 16:19] #23955 closed, assigned to nobody

[2022-09-26 16:29] henricook commented on #14863
@TomaszG In your example, how does `getLastDownloadFilePath` get registered as a task?

Edit: I see that plugins/index.js is deprecated these days - i'm looking for an equivalent solution at the moment

[2022-09-26 16:46] ZachJW34 commented on #23935
I generated and ran an nx-angular repo with:
- `npx create-nx-workspace@latest nx-angular --preset angular --appName my-app --nxCloud false --style css`
- `cd ./nx-angular`
- `nx g @nrwl/angular:cypress-component-configuration --project my-app --generateTests`
- `nx component-test my-app --watch`

Everything worked fine on my end. Are you up to date with the latest NX? If that is not the issue, co

[2022-09-26 18:00] #23964 closed, assigned to astone123

[2022-09-26 19:31] nagash77 commented on #23698
@AtofStryker does your cookie work address this issue?

[2022-09-26 20:04] ptletski commented on #23947
Your answer for Test 2 is wrong.

Note that in test 2 no exception is thrown. The catch is dead code. The try block is important and the error is not displayed.

[2022-09-26 20:15] SivAlka commented on #21495
Just checking to see if this is fixed anyhow. Still seeing the issue with cypress 10.8.0

[2022-09-26 20:47] ZachJW34 commented on #23972
There is a very similar issue [here](https://github.com/cypress-io/cypress/issues/21307). We have a fix for this redirect behavior but you'll need to upgrade to Cypress >= 10.4.0. Going to close this as a duplicate, if there is anything that warrants re-opening this issue feel free to comment here and we'll take another look.

[2022-09-26 20:47] #23972 closed, assigned to nobody

[2022-09-26 21:04] #23896 closed, assigned to nobody

[2022-09-26 21:23] idanElitzur commented on #23974
Look in the network response it returns 404 not found error and check out the screenshots path configuration.
also you can see the exact problem over there by using `DEBUG=cypress:*`

[2022-09-26 21:51] ryanthemanuel commented on #23754
These issues have been resolved.

[2022-09-26 21:51] #23754 closed

[2022-09-26 21:52] ryanthemanuel opened #23986 "Optimize More Dependencies as `healthy` with V8 Snapshots"
### What would you like?

We are currently needing to manually add several dependencies as `norewrite`. It would be useful to track down why this is necessary and potentially automatically detect this. The dependencies are:

* `node_modules/@cspotcode/source-map-support/source-map-support.js`
  * Breaks vite3.0.2
    * https://github.com/cypress-io/cypress/blob/6a40936604ae24b0b40996692c4a03e5a3c1

[2022-09-26 21:59] Orgenus commented on #3324
I had the same problem as you though.

[code]

I recommend you to try the command solved it for me.

[2022-09-26 22:26] #23977 closed, assigned to warrensplayer

[2022-09-26 22:31] #21720 closed

[2022-09-26 22:36] extracker-ppetrov commented on #21135
10.8.0 made things worse. I can hardly run 5-6 tests headless before cypress crashes. I had to revert to 10.7.0.

[2022-09-26 23:24] senthkum commented on #23974
Hi idan, I am intercepting the 401 error code, also I am excepting an error page. But it does not display the error page but loads the welcome page. Due to this, the assertion (script) has failed, it has also captured the screenshot. I have attached them above, I had executed them twice and both the SS are in the respective folder. My ask here is why is it not loaded in the report. This happens in

[2022-09-27 00:14] saldanaj27 commented on #23886
I will try to see if it is possible to share more information for you to replicate this error. Is it possible that the redirects are why I am facing this error and why its not there on your side? Has there been an issue with cy.origin like this that you have come across?

[2022-09-27 00:39] lmiller1990 commented on #23471
I'm going to collect various things related to Run All Specs as we look to revive this. One of the complexities is around huge snapshots and how much memory they consume. There's a small discussion about it [here](https://github.com/cypress-io/cypress/pull/23665#discussion_r968898824) where we talk about using MutationObserver to minimize the amount and size of snapshots we need to persist.

[2022-09-27 00:48] AnthonyMadia opened #23989 "Using Cypress with latest PopOs (linux/Ubuntu)"
### Current behavior

While attempting to run cypress locally, I get the error:
[code]

I installed in the project already and have cypress installed on my machine. I am running Pop!_OS 22.04 LTS.

The command `which cypress` outputs `/usr/local/bin/cypress`.

### Debug logs

_No response_

### Cypress Version

10.3.1

### Node version

v16.17.1

### Package Manager

yarn

### Package Manager Vers

[2022-09-27 02:00] testingtrail commented on #3310
**Github Actions
cypress/browsers:node12.18.0-chrome83-ff77
"cypress": "^9.5.1"**

I am running github actions, and In my case I changed some files from `This.js` to `this.js` and when committing to Github the files were not changed to lowercase which other cypress files were calling as `import base from './this';` so I manually changed the files in the git repository to be lowercase, and then my

[2022-09-27 07:36] barnitabasaktrisha commented on #22064
what is the closing command for cypress?

[2022-09-27 09:02] Tathos20 commented on #23391
@chrisbreiding  Let me give you another information. I managed to locally reproduce the issue with Chrome, and some small tests. How to reproduce:
We have a feature file with only three scenarios using (Cucumber preprocessor also)
When the tests finish I don't close the browser, I am just hitting the rerun button. I think at the third or fourth rerun the browser crashed just like when you run a lo

[2022-09-27 09:38] alexcatanet commented on #2667
@Pascalmh, thx for the workaround, it's working but I'm still wondering why it was working before (I'm using the same machine as before) and now, after a while, it's failing to work properly when running '`npm run cypress:open`' in bash

I'm using Cypress vers. 9.7.0

[2022-09-27 09:41] vaclavGabriel commented on #15585
Hello @abhidp, may you be able to share your workaround, please?

[2022-09-27 10:34] ilovegithub2 commented on #16635
Any news on this??  Really effecting how we are working on an external component package.

[2022-09-27 10:43] vpkhachane commented on #23856
I am facing same issue . Any update on it

Code:

[code]

[2022-09-27 10:59] audriusnavickasDB commented on #22086
This issue is still relevant and not completely fixed.

- It is still reproducible on Cypress v10.8.0, Firefox v105.0.1 on Windows 10/11, macOS and Linux.
- It does not matter if you run it with cypress run or open command.
- It works perfectly fine with other browsers.
- Firefox Nightly v107 has the same issue as the simple Firefox browser.

`cypress:network:connect retries exhausted, bubbling up

[2022-09-27 11:29] agoodall77 opened #23992 "expecting an array or an iterable object but got [object Null]"
### Current behavior

I have a suite of tests that use a before each statement.
On running the tests using the webkit plugin the before each runs then the first test runs.
When the before each runs again it fails before it can get to the second test.

Producing a "expecting an array or an iterable object but got [object Null" error.

The stack trace produced is:
[code]

It should be noted that thi

[2022-09-27 12:18] baus commented on #23723
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/23723?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-09-27 12:23] baus commented on #23919
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/23919?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-09-27 12:24] baus commented on #23951
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/23951?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-09-27 12:24] baus commented on #23769
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/23769?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-09-27 12:35] baus commented on #23025
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/23025?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-09-27 12:35] baus commented on #22825
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/22825?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-09-27 12:58] ForzaMark commented on #23959
thanks for the clarification

[2022-09-27 13:24] PetMou commented on #23934
Sorry for the inconveniance. I found out it seems to be some nexus firewall setting.

[2022-09-27 13:24] #23934 closed, assigned to ZachJW34

[2022-09-27 13:25] mike-plummer opened #23993 "CT Stacktraces: Typescript patching"
We currently monkeypatch the Typescript process in `@cypress/webpack-preprocessor` to ensure correct sourcemap attributes are set (overriding user configs from cli and/or tsconfig) so that souremaps are generated for Cypress to use for code frames in the runner. We need to port and apply this logic to our webpack and vite dev servers in CT to ensure the same guards are in place now that CT is atte

[2022-09-27 13:32] ptletski opened #23994 "Retry: Assertion scoping causes failures not to be reported."
### Current behavior

Four tests are executed via

`npm run cypress:run -- --component --browser edge --config video=false`

Where the expected result is four (4) failures. The results are presented as only two (2) errors occurring:

[code]
When tests are executed via

`npx cypress open --component`

results are presented as:
![image](https://user-images.githubusercontent.com/44261878/192538217-52

[2022-09-27 13:33] mjhenkes commented on #23886
@saldanaj27, you could try again with cypress 10.9.0 (releasing today). It includes a fairly significant refactor of cy.origin that has resolved some other redirection problems that resulted in hangs. This might not solve your issue, but it's worth a shot.

[2022-09-27 13:35] prantlf commented on #8599
I got the same error for a project with the root at `C:\Users\ferdipr\Sources\ot-web-components` and the structure:

    src/...      sources and e2e tests
    cypress/...  cypress config, support, plugins

    ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
    │ Cypress:        10.8.0

[2022-09-27 14:12] mjhenkes commented on #23838
@MassimoLobrutto Thanks for reproduction project. I was able to reproduce and verify that this is a bug.

[2022-09-27 14:34] abhi1693 commented on #16322
I have a similar issue but with firefox

![image](https://user-images.githubusercontent.com/5083532/192555668-ad538c3b-07ab-477d-b652-0218a63768af.png)

[2022-09-27 14:43] gofr opened #23995 "Command log messages are no longer being truncated to 50 lines"
### Current behavior

https://github.com/cypress-io/cypress/pull/5630 added some CSS to truncate log messages to at most 50 lines. It uses the `-webkit-line-clamp` CSS property to achieve that. But as described in https://caniuse.com/css-line-clamp, this feature also needs `display: -webkit-box` on the element to work.

That `display` property was removed in https://github.com/cypress-io/cypress/p

[2022-09-27 14:53] shwetabodkhe opened #23998 "cy.wait() always gives a timeout error for ajax url call in cypress version 9+ : No request ever occurred."
### Current behavior

 I am always getting an error:
"Timed out retrying: cy.wait() timed out waiting 5000ms for the 1st request to the route: 'create'. No request ever occurred".

The same code is working fine in cypress version 6.0.0 but in version 9+ its giving an error.....
Could you please help me with the issue?

### Desired behavior

if the code is working fine in version 6 then it should w

[2022-09-27 14:55] ZachJW34 commented on #23684
Sharing the url would be helpful and posting the debug logs. You can even email the logs to me if privacy is a concern. The problem does seem to be related to the origin switch which `cy.origin` might help with. You said that `experimentalSessionAndOrigin` did not work for you, please elaborate as to why.

[2022-09-27 14:57] mschile commented on #23772
@amar0120, it looks like the payment has already been completed on the provided link in the reproduction.

https://github.com/amar0120/CypressCrashing/blob/master/cypress/e2e/Issue-23772.cy.js#L7

Do you have another `key` value that I could use?

[2022-09-27 14:59] mjhenkes commented on #23830
@fdc-viktor-luft, could you attempt to re-create this in a docker container?

And is it correct that you're only seeing the slowdown inside a github Actions, not locally on your mac?

[2022-09-27 15:04] ZachJW34 commented on #23849
Unfortunately I do not have another workaround, you can try posting in the thread I linked to see if there are any workarounds. As for closing the issue, that is our policy for duplicates. You can subscribe to the linked issue if you would like to track it.

[2022-09-27 15:17] ZachJW34 commented on #23992
Do you have `experimentalSessionAndOrigin` enabled? Try removing this flag and running again, `experimentalWebkitSupport` does not support `experimentalSessionAndOrigin` yet.

Going to close as duplicate of https://github.com/cypress-io/cypress/issues/23832

[2022-09-27 15:30] amar0120 commented on #23772
Hi @mschile

Thank you very much for start looking into this issue and please find the below two more keys.

AF4F6911E2774C5593CD57415C1AAD98
31DC7EB13A88452FBFBBCAEB59DC4E08

Regards,
Amar

[2022-09-27 15:35] elliotrpmorris commented on #868
Any update on this?

[2022-09-27 15:37] agoodall77 commented on #23992
Hi, I don’t have that set as far as I can tell.

From: Zachary Williams ***@***.***>
Date: Tuesday, 27 September 2022 at 16:17
To: cypress-io/cypress ***@***.***>
Cc: Al Goodall ***@***.***>, Author ***@***.***>
Subject: Re: [cypress-io/cypress] expecting an array or an iterable object but got [object Null] (Issue #23992)
EXTERNAL SENDER

Do you have experimentalSessionAndOrigin enabled? Try remov

[2022-09-27 15:51] AtofStryker commented on #23165
@denke8 I'm sorry to hear that. Hopefully I can take a look at this issue again soon to hopefully determine a root cause.

[2022-09-27 16:00] AtofStryker commented on #23698
@nagash77 unfortunately it does not. This is the current behavior even outside of `cy.origin`. I think this likely gets solved if we do not allow [super domain](https://docs.cypress.io/guides/guides/web-security#Same-superdomain-per-test) visits within the same test to prevent the AUT from reloading so we can specify an exact same origin. Because we allow sub domain visits from the AUT, in order t

[2022-09-27 16:05] AtofStryker commented on #22064
@barnitabasaktrisha are you referring to something like playwright's/puppeteer's [page.close](https://playwright.dev/docs/api/class-page#page-close)? we really don't have an explicit close command as our test runner runs inside the browser with your application and not just strictly over remote protocol. If executing in `run` mode, this automatically happens and there is no need to explicitly clos

[2022-09-27 16:17] ZachJW34 commented on #23992
Could you provide a reproducible example? I won't be able to investigate further without one as there isn't enough information for me to go on.

[2022-09-27 16:17] mjhenkes commented on #23974
@senthkum, Since there are many ways to setup and configure cypress, could you provide a sample project re-creating the error? Since the issue is around screenshots not appearing in the report this is most likely a setup issue, or an issue around bad path assumptions when generating the report.

I usually start with the https://github.com/cypress-io/cypress-test-tiny project.