[2018-04-09 16:57] jennifer-shehane commented on #1545
Related issue for new route methods: https://github.com/cypress-io/cypress/issues/1302

[2018-04-09 17:11] brian-mann commented on #908
@jianentrinsik you can already add custom headers to `cy.request`. It's documented in our docs here: https://docs.cypress.io/api/commands/request.html#Arguments

[2018-04-09 17:37] jennifer-shehane commented on #1549
Could you explain more about the environments and resolutions you are running Cypress in? Are these local runs on computers? Runs in CI? I'd like to be able to recreate the issue in order to track down the quality issue.

This is something that will definitely need to be tackled as part of our larger Screenshot Diffing proposal #495

[2018-04-09 17:42] peternye commented on #695
Thanks, @jennifer-shehane!  Exactly what I was looking for.

[2018-04-09 17:51] jennifer-shehane commented on #1551
You can only navigate to pages within Cypress that are `content-type='text/html'`. I imagine that your application is navigating to a page that is not of that type (where the file is located), so Cypress is expecting a `load` event to happen under the assumption of having been navigated to a new `text/html` page.

As a workaround, you could test that upon clicking the button that this `downloadFil

[2018-04-09 18:01] jennifer-shehane commented on #1528
Ok, so I probably should have tested my theory first before rambling off a solution. The missing `type` attribute does not appear to be the issue here, as I can type into an input without a type attribute fine in Cypress.

@hypeofpipe Could you tell me what `selector` is it you were using in your original code? I realize that you didn't include everything needed to replicate.

[2018-04-09 18:04] jennifer-shehane commented on #1552
Related issue on Cypress CLI reporter output: https://github.com/cypress-io/cypress/issues/1483

[2018-04-09 18:06] musicformellons opened #1553 "import causes a SyntaxError: Unexpected token"
I am new to Cypress. As I use feathersjs (including its feathers client) with websockets I think it is recommended to stub my services (user creation etc.). I found [this example](https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/stubbing-spying__functions/cypress/integration/unit-test-stubbing-dependencies-spec.js) which looks pretty close to what I think I need. However

[2018-04-09 18:18] kutlaykural commented on #787
Hi all,
My system is windows 7 x86
I downloaded cypress last update from;
https://download.cypress.io/desktop?platform=win32&arch=x86
but it says "this program is incompetible with your Windows. Please check program requirements whether x86 or x64"
what can I do?

[2018-04-09 18:35] kutlaykural opened #1554 "Cypress is not running on windows 7- 32bit"
- Operating System: Windows 7
- Cypress Version: Latest(1.8.2)
- Browser Version: Chrome 65.0.3325.181 (Official Build) (32 bit)

Hi all,
I downloaded cypress last update from;
https://download.cypress.io/desktop?platform=win32&arch=x86
but it says "this program is incompetible with your Windows. Please check program requirements whether x86 or x64"
what can I do?
Thanks

[2018-04-09 19:58] lukemadera commented on #1547
@jennifer-shehane Thanks for investigating. In the meantime, how can I manually set cookies? For now I just want to get rid of them all. I've tried `cy.clearCookies()` as well as:
[code]
But in both cases the same cookies are still there. How do I remove them / set my own custom cookies / headers?

[2018-04-09 20:52] khuezy commented on #1313
@brian-mann Hi, do you have any updates on this?

[2018-04-09 21:01] davidcelis opened #1555 "Frame-breaking CSP directive: "frame-ancestors 'none'" prevents loading page, despite disabling Chrome Web Security"
- Operating System: macOS 10.13.4
- Cypress Version: 2.1.0
- Browser Version: Chrome 65.0.3325.181

### Is this a Feature or Bug?

Bug

### Current behavior:

I'm using Cypress to run end-to-end tests on an application that allows users to configure a connection to a GitHub OAuth application. The interactions with GitHub are complex and involve needing to receive webhooks, so I want to test the ac

[2018-04-09 21:17] jennifer-shehane commented on #1555
This error is displaying due to GitHub's Content Security Policy of not allowing it's view to be displayed within an iframe (which is where your application is rendered within Cypress).

We do not have access to [the cross-origin frame used for GitHub's login](https://docs.cypress.io/guides/guides/web-security.html#Cross-Origin-Iframes).

This is [one of the many reasons](https://docs.cypress.io/g

[2018-04-09 21:32] omaressameldin opened #1556 "Dependencies missing while using your docker image"
### Current behavior:
I am trying to integrate cypress into our deployment process and I am using one of the your docker images for that (base:8 also tried a chrome one) It runs perfectly on my laptop but when i am deploying to the server it gives this error
[code]

### Desired behavior:
I want it to not fail

### How to reproduce:
I am not sure maybe try to run it in a container on a remote serve

[2018-04-09 21:35] bahmutov commented on #1556
Hi,

Can you paste your Dockerfile, please? How can it run locally in Docker but fail to run in Docker on CI?

[2018-04-09 21:37] omaressameldin commented on #1556
[code]
and this is the commands_file
[code]

I was thinking maybe because it'sa remote server i mean with like no gui or anything gjusta server that our website is hosted on

[2018-04-09 21:47] brian-mann commented on #1555
@jennifer-shehane is correct and I'll try to provide a bit more context...

This question has been asked on here many times, and the last time I answered it was here: https://github.com/cypress-io/cypress/issues/1380#issuecomment-368663427

The short of it is that using a bot to login will simply not work after you try it a few times (at least with Google). I haven't personally seen or tried doing

[2018-04-09 21:50] davidcelis commented on #1555
@jennifer-shehane @brian-mann Thanks for the quick response. I was under the impression that setting `"chromeWebSecurity": false` would get around CSP issues such as this one. My tests can otherwise visit GitHub and load its views into Cypress' iframe. All of GitHub's pages have CSP rules defined, but it's only this authorization page that seems to break…

[2018-04-09 22:02] brian-mann commented on #1555
It gets around the web security limitation that all browsers have (which is that cross origin iframes are not accessible) - but with CSP headers this will **still** prevent things from communicating.

By default Cypress automatically strips CSP headers but **only for the origin under test** which is defined by what you use with `cy.visit`.

Because you're being redirected to Github, the origin und

[2018-04-09 22:03] hypeofpipe commented on #1528
@jennifer-shehane It is fixed by adding a type to it. Nevertheless, I think Cypress should give the opportunity to type in those fields (with a null type).

[2018-04-09 22:04] haroldtreen opened #1557 "Progress logging firing too frequently"
- Operating System: Mac OSX - 10.13.1
- Cypress Version: v2.1.0
- Browser Version: N/A

### Is this a Feature or Bug?

Bug

### Current behavior:

When I run:

[code]

The progress is being printed out way more frequently than needed.
It prints every time a progress event is dispatched from the download/unzip vs. every time there's meaningful progress.

### Desired behavior:

The code for printing

[2018-04-09 22:06] davidcelis commented on #1555
@brian-mann Thanks a bunch for that explanation!

That's the bit I was missing. This all makes sense, so if the Cypress team has no plans to strip all CSP headers when Chrome Web Security is disabled, I'm ok with this issue being closed.

[2018-04-09 22:09] jennifer-shehane commented on #1557
Duplicate: https://github.com/cypress-io/cypress/issues/1243
See workaround: https://github.com/cypress-io/cypress/issues/1243#issuecomment-365560861

[2018-04-09 22:09] #1557 closed

[2018-04-09 22:09] brian-mann commented on #1555
Yeah so after looking at your code... you are doing pretty much exactly what it is that we describe as anti-pattern. I promise... none of this is necessary and you are making life so much more difficult for yourself.

https://github.com/davidcelis/cypress_framebusting/blob/master/cypress/integration/5_delete_github_oauth_app_spec.js#L6

You don't need to **ever** visit a 3rd party application and

[2018-04-09 22:09] #1555 closed

[2018-04-09 22:10] jennifer-shehane commented on #1557
If you want to open a PR that is WIP, we are welcome to that though - just reference it in the duplicate issue. Thanks!

[2018-04-09 22:10] egucciar commented on #1549
@jennifer-shehane

Sure thing. So basically use blink-diff internally to do the comparison. If the screenshots are taken at different resolutions - say a laptop monitor verses a big desktop monitor - despite the cypress viewport being the same, changing the resolutions in which you are running the tests changes the size and quality of the screenshot so greatly that you get false negatives. Same sc

[2018-04-09 22:12] haroldtreen commented on #1557
Whooops! My searching wasn't good enough obviously - sorry for the dup!
Thanks for the link + quick reply!

[2018-04-09 22:16] omaressameldin commented on #1556
Alright i figured it out turns out i cant run cypress as an entrypoint but need to run it as part of the image

[2018-04-09 22:25] bahmutov commented on #1556
I don't know why it would not work, but your Dockerfile does not specify it as entrypoint, no?

[2018-04-09 22:26] brian-mann commented on #1555
Also - really suggest watching the Best Practices video we gave at a talk a couple months ago. Will highlight some things for you: https://docs.cypress.io/guides/references/best-practices.html#Organizing-Tests-Logging-In-Controlling-State

[2018-04-09 22:42] scottschafer commented on #299
This seems to work:

[code]

[2018-04-09 22:45] omaressameldin commented on #1556
my docker file is copying the shell file and ansible (as part of the deployment) is running the container with the shell file as an entrypoint
[code]

[2018-04-09 22:51] brian-mann commented on #1555
Overall, I get what you're trying to do. If you'd like, make some updates and post back here and we can give you feedback on your implementation.

It's been on our radar for a long time now to do a comprehensive guide / recipe / example showing how to properly handle oAuth logins for 3rd party providers.

[2018-04-10 00:06] lachis commented on #695
@jennifer-shehane this is exactly what we needed as well. we are going to implement a custom command to handle these assertions.

Cheers!

[2018-04-10 06:53] BasieP opened #1558 "reading binary file from fixture differers from drop event file"
- Cypress Version: 2.0.2
- Browser Version: latest chrome

### Is this a Feature or Bug?
Bug

### Current behavior:
When i get a binary file from a fixture and want to create a File() object (see: https://developer.mozilla.org/en-US/docs/Web/API/File) i get a wrong result (Some bad bytes)
When i drop a file in my application, and get the event.dataTransfer.Files[0] it is (slightly) different

###

[2018-04-10 07:14] BasieP commented on #1558
apart from that i kinda think it's an encoding issue and going over the options cypress has of reading fixtures it is kinda stunning to think they can read a file (binary) and represent it in a text string..

how the f* is that binary?

Go read this:
https://www.joelonsoftware.com/2003/10/08/the-absolute-minimum-every-software-developer-absolutely-positively-must-know-about-unicode-and-character-s

[2018-04-10 07:25] musicformellons commented on #1553
Mmmh, so it seems that first the es6 arrow was a problem an now the es6 import is the problem as when I turn that into a `require` it moves the error to the next arrow etc. So why can't Cypress just read es6 anymore when I import my api module? Do I have to rewrite my route.js into es5? (gloops).

[2018-04-10 07:45] musicformellons commented on #1553
When I rewrite route.js into es5 the problem of not being able to handle es6 moves on to other app areas:
![screenshot from 2018-04-10 09-44-18](https://user-images.githubusercontent.com/10334123/38543100-ecd247e8-3ca3-11e8-9527-89b1c0c7276b.png)

[2018-04-10 12:54] musicformellons commented on #1553
I thought I maybe need to build the cypress spec files, but found Cypress to support es6 / es2015 by default, so looks to me this should just work then...

[2018-04-10 13:03] bahmutov commented on #1553
Did you install the modules? The error shows that it cannot find the module “quasar”?

Sent from my iPhone

[2018-04-10 13:26] omaressameldin commented on #1556
@bahmutov so i faced another problem because i am running the tests on build and not in a container i cant set the ipc to host and my render crashes like mentioned here
https://github.com/cypress-io/cypress/issues/350
is there a way to fix that?

[2018-04-10 13:38] bahmutov commented on #1553
It might be the dynamic import line there that the browserify bundler does not support - you would need to configure this separately

Sent from my iPhone

[2018-04-10 13:54] musicformellons commented on #1553
Uh, you mean setup a webpack/browserify preprocessor with non-default options?

It also is not really apparent that the example I used is using a non-default preprocessor. It use the same syntax:
[code]

[2018-04-10 14:06] bahmutov commented on #1553
don't you still have `component: () => import('components/Index')` line in the file? Can we have the complete reproducible example to see to debug this?

[2018-04-10 14:37] jcpeden commented on #954
Same issue for me

[2018-04-10 14:50] musicformellons commented on #1553
Ah, sorry, you meant thát dynamic import of course... Ok, then the dynamic and the alias of 'quasar' which is not in webpack makes the processor trip. A reproducible example would pretty much mean my entire app which is not possible. Maybe have a clear idea what's going on first before I cut stuff out and make a fiddle or something.

I changed the dynamic import into es5 function code and that wor

[2018-04-10 15:20] bahmutov commented on #1553
well, the `quasar.mat.esm.js` seems to say "esm" which might be "ES module", so you are loading not ES5 common js module, but ES module (with `import` and `export` keywords). Maybe there is another file from that dependency you can load.

[2018-04-10 16:09] brian-mann commented on #1537
@Victroll based on what you provided I can't really understand what the problem is. There are a huge number of tests around the `document.domain` behavior as that is an essential element to how Cypress works - and if it did not work correctly then nothing at all would work in Cypress.

Can you put together a small reproducible example of what is happening, and provide test code? Things like screen

[2018-04-10 17:15] ailadson commented on #1274
+1

[2018-04-10 17:39] musicformellons commented on #1553
@bahmutov I am not sure I get your suggestion about the module:
1) apparently an esm module will not work (esm is > es2015 ?)?
2) if you mean a non esm version of quasar? No that is not available.
3) would using [esm](https://www.npmjs.com/package/esm) help me out somehow?

As you probably notice, I am kind of lost...

[2018-04-10 17:42] musicformellons commented on #1553
Regarding the websockets recipe: that would be great! This will involve stubbing I suppose?

[2018-04-10 18:07] musicformellons commented on #1553
These final two lines of ` ../node_modules/quasar-framework/dist/quasar.mat.esm.js` cause the error:
[code]
Anyway I found [this issue ](https://stackoverflow.com/questions/37902849/import-and-export-may-only-appear-at-the-top-level) which seems pretty much what I experience and it made clear to me that the quasar module is not transpiled by the default cypress settings, why not?

[2018-04-10 18:09] jennifer-shehane commented on #1558
Have you tried using [`cy.readFile()`](https://on.cypress.io/readfile) as a workaround to read in the .xlsx file?

[2018-04-10 18:13] brian-mann commented on #299
@scottschafer that fires the event, but the browser will not perform the default action such as moving the tab focus to the next focusable element

[2018-04-10 18:15] jennifer-shehane commented on #299
@scottschafer This should be able to be simplified to this:
[code]

[2018-04-10 19:05] brian-mann opened #1559 "Summary output should include number of skipped tests"
We show passed, failed, pending, and need to add skipped.

[2018-04-10 19:42] davegahn commented on #787
Same errors. Has anybody solved this?..

[2018-04-10 19:54] bahmutov opened #1560 "Preprocessor does not fire "close" event"
Seems to be a bug.

I expect to see "close" events fired when closing / stopping tests, but do not see any messages about this. This would cause problems running in GUI mode, especially when using custom preprocessors to bundle spec files.

packages/server/lib/plugins/preprocessor.coffee

Running against `cypress-test-tiny` with debug log messages enabled

[code]

So I see `getFile` and `set defau

[2018-04-10 20:04] musicformellons commented on #747
Any idea why this does not work on headless mode?

[2018-04-10 21:48] omaressameldin commented on #1556
@bahmutov an alternative solution would be to use containers again but apparently there is a dependency that is missing from our remote host if there is a way to know which dependency that would solve everything

[2018-04-10 22:11] scottschafer commented on #299
@brian-mann , ah. In our web app we specifically handle keyboard events and change focus programmatically. It works for us - sorry this won't work for you.

[2018-04-10 23:59] cavaloni commented on #310
I love this tool. You guys have done great work. I'm having a hard time convincing my team, unfortunately, due to this lack of support. Looking forward to the reasoning and examples to hopefully sway them in the right direction.

[2018-04-11 01:07] jennifer-shehane commented on #299
@scottschafer Yes, glad to see you got this work in your use case. It should help anyone else that programmatically works off of the user's specific `keydown` of the tab key.

[2018-04-11 02:51] James-E-Adams commented on #1502
I think I have some weird errors specific to my computer. I'm having no issues running the same tests on other computers. I may have to open a new issue and close this, but the most troubling problem of late is I cannot run more than one test, as it fails like this on the second test in a suite:

<img width="412" alt="screen shot 2018-04-11 at 12 47 56 pm" src="https://user-images.githubuserconten

[2018-04-11 03:08] adamchenwei commented on #310
Here as well. A bit tough to have a full buy in because of this. Would be nice to have a timeline on all browser support or reason not to or never going to will be great.

[2018-04-11 03:11] zbarbuto commented on #310
The reason it's not a priority has been listed has already been posted in the thread https://github.com/cypress-io/cypress/issues/310#issuecomment-354925454

Firefox support is already under way https://github.com/cypress-io/cypress/issues/1096 with an open pull request: https://github.com/cypress-io/cypress/issues/1096 - I suggest subscribing to that issue for status updates.

[2018-04-11 03:56] egucciar commented on #1549
@brian-mann of course i cannot guarantee a comprehensive response with regards to all the screen sizes, since simply resizing the browser window is enough to create a bad diff. So really just any two screens.

For once i can actually repro this easily so ill get the rest.

[2018-04-11 03:59] brian-mann commented on #1549
Sure - I should have meant not all of those things are required - they are just items that may or may not play into what is causing this. As long as we can demonstrate and repro the root cause - that's the minimum we need.

[2018-04-11 04:29] brian-mann commented on #1548
If we were to add a `.map` function which changes the subject to an array of mapped values then I think this would just work...

[code]

[2018-04-11 04:38] egucciar commented on #1549
@brian-mann

this is working with just my laptop monitor and resizing it enough. It is easier to repro for me personally when I have my big monitors at work (but wont be able to put much focus on this task during work). I am also new to circle ci so i am not sure how to get this ((quickly)) compatible with a circle run, but i figured it wouldnt be hard to add if needed. I can gather additional spe

[2018-04-11 05:29] brian-mann commented on #1549
I glanced through the code and the match snapshot plugin on my phone.

I haven’t yet run it but it’s likely due to us scaling the application when we take screenshots. If that’s the reason then you are in luck because we just finished a few weeks of work which updates screenshots to be taken without scaling and even hides the whole cypress runner area. @chrisbreiding has been working on this for a

[2018-04-11 06:09] ejoubaud commented on #944
Just jumping in to say that I have a use-case where I need to load several sites in the same test (not 500, 2 will do for a test).

I'm testing a browser extension that will show a modal (via a content script) on several sites that you can whitelist in its settings. The extension uses a global timer (via its background tab) to synchronise the extension's behaviour across different sites/tabs/link

[2018-04-11 07:27] kunwardeep commented on #310
I really have massive amount of appreciation for cypress. But unfortunately companies do need to support IE 10/11. The reason for this is that their clients use such browsers because of which this needs to happen. I don't think there are massive differences in functional testing between browsers, its mainly visual. We run visual tests across browsers but not functional. The problem i face is that

[2018-04-11 07:50] BasieP commented on #1558
No i didn't but, i did it right now:

[code]
throws an 'Error: the string "UTF-8 encode: second char code 0xe94d at index 434 in surrogate pair out of range" was thrown, throw an Error :)'
makes me wonder again... did i not state 'binary'? then why is it using utf8?

then again: seeing the 'encoding's' in the documentation of readfile being the same as those of fixture, i'm guessing the same inter

[2018-04-11 08:21] Mouvedia opened #1564 "IE11 support"
### Is this a Feature or Bug?

It is a feature request from a maintainer perspective but a bug for the client.

### Current behavior:

It doesn't support IE.

### Desired behavior:

It should.

### Bountysource

https://www.bountysource.com/issues/56930685-ie11-support

[2018-04-11 08:41] Gennadiii opened #1565 "Tests fail because of exception in console"
- Operating System: Win10
- Cypress Version: 1.4.2
- Browser Version: Chrome 65

### Is this a Feature or Bug?
This is a bug

### Current behavior:
I have exception on my app, I can see it in console: Uncaught TypeError: Cannot read property 'lastChild' of null
And I don't care about it actually. But Cypress fails tests because of it.

### Desired behavior:
I`d like to ignore such kind of errors s

[2018-04-11 09:42] rhymes commented on #310
@kunwardeep [TestCafe](https://testcafe.devexpress.com/) supports multiple browsers

[2018-04-11 09:53] rrrainbows commented on #712
@hannaofsweden thank you. This workaround works good.

[2018-04-11 09:59] egucciar commented on #1549
@brian-mann

Thanks very much for looking.

Interesting. Then I'd say that the best solution for us would be the following

1. Modify the screen shot code to output into different directories based on argument. Pass in argument based on environment - CI or not.
2. Gitignore the output in a users directory, so user specific screens cannot be checked in
3. Check in the files in the CI after first ru

[2018-04-11 10:00] egucciar commented on #1549
@brian-mann

One last thing, I guess I'm unsure how it hers have been doing visual diffing for years. If what I'm imagining isn't possible then I think my new proposed solution would do the trick. I will ask my team if anyone had prior experience with visual diffing

[2018-04-11 11:09] patrickdorn commented on #586
Is there any kind of "workaround" or "dirty hack" available to bypass this issue until this is solved?

[2018-04-11 14:54] jennifer-shehane commented on #1565
You can turn these off, as detailed here: https://on.cypress.io/catalog-of-events#Uncaught-Exceptions

[2018-04-11 14:54] #1565 closed

[2018-04-11 15:18] jennifer-shehane commented on #1558
I looked into how we handle `readFile` and `fixture`, and it eventually calls Node's [`fs.readFile`](https://nodejs.org/api/fs.html#fs_fs_readfile_path_options_callback) with the encoding here: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/files.coffee#L15

[2018-04-11 15:42] aecz commented on #310
@EirikBirkeland Good points except for the graph.
It shows that Chrome should indeed by the first supported browser but we can see that in the past 2 years, there is no significant decrease in Internet Explorer share and that it is tied to second place with Firefox for Desktop/Laptop browsers.
I understand Firefox comes before IE as it is easier to implement as it was said above.
I could understan

[2018-04-11 15:48] Bkucera commented on #1529
@BasieP I'll take a look at it, thanks for giving us more information!

[2018-04-11 15:56] EirikBirkeland commented on #310
@aecz I see your poitn. And I would add that it's a fact that some of the IE11 'users' are large companies with a ton of users. So, what if our end-clients are all using IE11? In this case, the graph above means even less.

[2018-04-11 15:59] jennifer-shehane commented on #263
Closing as duplicate of #681 - this should be released soon.

[2018-04-11 15:59] #263 closed

[2018-04-11 16:37] brian-mann commented on #1170
This was fixed by https://github.com/cypress-io/cypress/pull/1412

[2018-04-11 16:37] #1170 closed

[2018-04-11 16:37] brian-mann commented on #1321
If nobody posts reproducible steps this issue will not be fixed. Really... anyone...?

[2018-04-11 16:40] brian-mann commented on #416
@EirikBirkeland oh 60gb of RAM... if only you had 70 it would probably work :P

There is actually something we need to do in your case - all of the Electron instances share the same "Chromium Profile" which means that they will share local storage and cookies (which could conflict). What we need to do is create new profiles whenever there is a new `cypress run`.

[2018-04-11 16:44] brian-mann opened #1566 "`cypress run` should create a new browser profile per run"
For users wanting to run multiple Cypress processes on the same machine - we should create a new browser profile when running to completion with `cypress run`.

This would prevent those browser instances from sharing the same state like cookies, local storage, indexdb, etc.

We'll need to write to a temporary folder in `os.tmp()` but also use the special tmp module which has `process.exit` hooks t

[2018-04-11 17:03] lukemadera commented on #1321
For me it was trigger via logout and that call was not strictly necessary so I just removed it so found a work around for now. Additionally, now I'm getting a cookie too large / can't clear cookies issue that is failing the tests sooner so I can't even get anywhere, so Cypress has been down / blocked for me completely. See https://github.com/cypress-io/cypress/issues/1547
@brian-mann how do I manu

[2018-04-11 18:08] ejoubaud opened #1567 "Feature: Access browser extensions API/storage/messaging"
I use Cypress to test a browser extension (hat tip for #1078 btw) that stores its settings in the [extension local storage](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/storage/local).

So I need to clear the extension local storage between each test, and possibly setup fixtures in there, but there doesn't seem to be any built-in way with Cypress.

Because it has a content script,

[2018-04-11 18:14] brian-mann commented on #1567
Actually I think you have exactly what you already need because of the way Cypress is built.

Rather than put those `window.postMessage` inside of your app code - just use it directly from Cypress spec code! Because it all runs in the same loop there's really no difference between the two, other then the `window` frame they are bound to.

I'm not sure if your extension is listening only to the app

[2018-04-11 18:17] brian-mann commented on #1567
Because extension API's are partitioned away there are no API's that the browser exposes to access them **other** than existing in an extension. While it's technically possible for us to bridge that gap, it would be a large amount of work without a lot of upside IMO. I believe controlling it from the `contentWindow` gets you everything you need.

If after getting it to work I'd recommend abstracti

[2018-04-11 18:24] ejoubaud commented on #1567
In case anyone has the same use-case (testing an extension with contentscript and local storage), here's the full workaround:

[code]

That's a bunch of boilerplate and there's not much to prevent a site to send my users to a page with a path in an `<iframe class="spec-iframe" src=".../integration/..." />` that makes a `window.postMessage({resetDb: true}, "*")`.

[2018-04-11 18:26] ejoubaud commented on #1567
Agreed, sounds like the best solution for now, tbh this was more about giving feedback on extension-testing issues and sharing my workaround than asking for an immediate built-in solution.

[2018-04-11 18:33] chrisbreiding opened #1568 "Snapshots should ignore print stylesheets"
### Current behavior:

Snapshots copy the styles from stylesheets with `media="print"`. This can cause styles to be applied in the snapshot that aren't supposed to be applied.

What it should look like:

![screen shot 2018-04-11 at 2 30 33 pm](https://user-images.githubusercontent.com/1157043/38635986-fc4e3762-3d94-11e8-80df-313e8b001594.png)

What it looks like in snapshot (notice the `#sidebar-f

[2018-04-11 19:24] chrisbreiding opened #1569 "Screenshots sometimes don't render error text"
### Current behavior:

Screenshots sometimes don't render the error text. It shows the error box, but the text is invisible. This is because the font used for the error text (Open Sans) hasn't loaded yet

![screen shot 2018-04-11 at 3 21 53 pm](https://user-images.githubusercontent.com/1157043/38638435-3d5f1c38-3d9c-11e8-92af-58f9982a5ab3.png)

### Desired behavior:

The error text should be visib

[2018-04-11 20:08] EirikBirkeland commented on #416
@brian-mann Lately, I'm running things in serial using Chrome, and I won't be running in parallel on CI anytime soon. I'll be able to optimize a lot before eventually needing parallelization. I'll keep in mind Docker containers for now perhaps. I could use your own setup as a template, perhaps!

I'll keep in mind the localStorage and cookies, thanks!

[2018-04-11 20:18] brian-mann commented on #1549
Visual diffing is always done against a baseline environment which is static and does not change. There is also a really specific workflow that people do as opposed to machines. Screenshots change every time the app does and just because they don't match doesn't mean they "failed". It takes a process where a human reviews the diff's and chooses new masters.

[2018-04-11 20:40] bahmutov commented on #1569
That’s such a good find!

Sent from my iPhone

[2018-04-11 21:09] rluncasu opened #1570 "can't trigger 'onChange' for an input type='range' rendered by React"
### Current behavior:
[code]

[code]
Changes the slider value.
Doesn't trigger the onChange handler.

### Desired behavior:
should trigger the onChange handler

### Steps to reproduce:

Set up a React app with an input type='range' and an onChange handler
Try to trigger the onChange event from cypress.

### Versions
"cypress": "^2.1.0"
"react": "^15.4.2"

[2018-04-11 21:27] NicholasBoll commented on #1548
I updated the `pipe` command implementation to handle a function that returns a Cypress $Chainer. It essentially does what a `.then` does (returns `actualSubject`: `return cy.isCy(value) ? actualSubject : value`

I'm not sure it is possible to retry Cypress chainables. In my experiments I can't get the command to wait for the value. I'm not sure it would be wise if I could. Many Cypress commands h

[2018-04-11 21:34] NicholasBoll commented on #1548
@brian-mann Your example looks more like `.mapInvoke`. Lodash's `.map` has a property shorthand for accessing properties, but not invoking functions. `.map` would be a useful addition - assuming it can take a `iteratee` function it would be versatile.

The `getColumnNames` is actually a bit more complicated. Column headers can contain filters that would add extra cruft to `.text()`. Using a map fu

[2018-04-12 07:13] choyongjoon commented on #170
Hi. In my case, @gsrai's answer was really helpful. I generalized it like below.

In your jsx (or html):
[code]

The change event handler function:
[code]
In your test:

[code]

[2018-04-12 09:13] musicformellons commented on #1507
Same here on:
OS:
Ubuntu 16.04 on Dell xps 9343 retina hdpi screen
Browser:
Electron 59.0.3071.115
Cypress:
v2.1.0

![screenshot from 2018-04-12 11-05-39](https://user-images.githubusercontent.com/10334123/38667735-6cbd705a-3e42-11e8-9b86-0d5eb9df5298.png)

In my case tests do not run either.

[2018-04-12 09:17] rluncasu commented on #1570
ok, so I've found sort of a workaround.
it looks like the onInput event can be triggered just fine. In the case of input type='range' the "input" event is triggered in the same situation as the  "change" is so I was able to switch it.

Workaround would be: use onInput with .trigger('input') instead of onChange

[2018-04-12 13:27] asos-arun commented on #1506
@brian-mann {"chromeWebSecurity": false} does not work for me either . I want my test execution to not stop when javaScript error is thrown by application.

[2018-04-12 14:58] Bkucera commented on #1507
@jumasheff @musicformellons Could you run cypress with a debug flag `cypress:server*` ?
i.e.
[code]
That will give us a few more ideas where it's failing

[2018-04-12 15:24] jennifer-shehane commented on #1542
I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document drag and drop with jQuery UI Sortable here: https://github.com/cypress-io/cypress-documentation/issues/518. Our documentation is open source and contributions are welcome. 😄

[2018-04-12 15:27] jcpeden commented on #136
I'm a little bit confused by this issue and the associated workaround. I'm able to select an iframe, loaded from a different domain, without issue but trying to target and populate any of the fields within it (it's a payment form) doesn't seem to work. Is that to be expected?

[2018-04-12 15:38] brian-mann commented on #136
@jcpeden you'd need to post your code. the workarounds above should work just fine.

[2018-04-12 15:45] NicholasBoll commented on #1548
@brian-mann I think a `.map` makes sense. There are a few times I've wanted to use it. I can make another proposal with a `.map` and a reference implementation

[2018-04-12 15:47] jcpeden commented on #136
Ok, using the implementation posted by @corneliutusnea the request to get my iframe simple times out after 10,000ms and I get the following error message in the console:

CypressError: Timed out retrying: $el.prop is not a function

[2018-04-12 16:21] aguingand opened #1571 "Invalid snapshots css (decimal points replaced by comma)"
The style in displayed snapshots seems to be "localized" which means all decimal points are replaced by comma (standard in France).
It only occurs with `link[href]` css, not with inline styles.

### Current behavior:

_Rendered snapshot css_
[code]
<img width="1413" alt="capture d ecran 2018-04-12 a 17 51 20" src="https://user-images.githubusercontent.com/17453506/38688862-73cf97fa-3e7a-11e8-96e3-

[2018-04-12 16:51] benschenker commented on #1432
Update: if I run with `cypress run --browser chrome` this works correctly... looks like it is related to the electron browser

[2018-04-12 17:47] darkcattz commented on #1542
Thanks a lot.
I will try this

[2018-04-12 17:48] jblaketc commented on #908
I have another use case.

We have a site in Azure with SSO enabled, so that as soon as you go to the url, it redirects you to a sign-on page. Even if you've already auth'd, it redirects and then redirects back so you can view the site.

I've made a command to login via oauth2 to get the access_token, and setting that in the header of a cy.request allows me to directly hit the api without the redir

[2018-04-12 18:16] kutlaykural commented on #756
Hi! @bahmutov
I tried as you say;
cypress --run-project --record --key xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

But now it says;
TypeError: s.indexOf is not a function

![adsiz](https://user-images.githubusercontent.com/38225108/38696038-af07be76-3e96-11e8-8574-05d887bee044.png)

[2018-04-12 19:16] darkcattz commented on #1542
Thank you again. It works great !

[2018-04-12 19:35] chrisbreiding commented on #1560
Looks like it fires when switching files or closing a project, but not when closing the browser. Good catch! Working on a fix now.

[2018-04-12 19:44] jennifer-shehane commented on #756
@brian-mann Yes, this would fall under this issue in the documentation https://github.com/cypress-io/cypress-documentation/issues/427

[2018-04-12 19:44] brian-mann commented on #756
@bahmutov and @jennifer-shehane we may also want to warn the user when they attempt to invoke the binary directly with arguments as opposed to going through the CLI.

We can detect that by passing a `--run-from-cli` argument to the binary, and when absent we know it's been invoked incorrectly.

[2018-04-12 19:46] #1569 closed

[2018-04-12 19:54] bahmutov commented on #756
Yes, we should do this detection and warning

Sent from my iPhone

[2018-04-12 23:20] bahmutov opened #1573 "Show warning when running binary directly and not from NPM module"
## New feature

Cypress binary should not be executed directly - instead the user should run NPM module which collects all arguments and then calls the binary.

We can pass an argument from NPM package to the binary, and if this argument is missing, the binary can show a warning, for example `--run-from-cli`.

From

https://github.com/cypress-io/cypress/issues/756#issuecomment-380922563

[2018-04-13 02:13] ValerieThoma commented on #1304
@rgavinc, I cannot reproduce this bug with 1.4.2
nor @fdaryaee, can I reproduce with 2.1.0
Can either of you provide a little more information about your tests?

* Do you experience this behavior when running all of your test suites or projects?
* Can you provide the steps and/or commands you issued to run your tests?
* Are either of you behind a corporate proxy?

[2018-04-13 02:45] bahmutov commented on #1508
The keywords are copied from the root package.json file, so I will place them there.

[2018-04-13 08:45] musicformellons commented on #1553
See referenced issue. I can transpile js files (and config my project aliases) using cypress webpack preprocessor, so closing.

[2018-04-13 08:45] #1553 closed

[2018-04-13 08:59] musicformellons commented on #1507
cypress:server:appdata path: /home/myuser/.config/Cypress/cy/production +0ms
  cypress:server starting cypress server +12ms
  cypress:server:appdata path: /home/myuser/.config/Cypress/cy/production +68ms
  cypress:server start in mode headless with options {"_":["/home/myuser/myproj/node_modules/cypress/dist/Cypress/Cypress"],"run-project":"/home/myuser/myproj","runProject":"/home/myuser/myproj","

[2018-04-13 11:50] MysteriousNothing commented on #170
**Here is my working example, what I use.**

Enter code bellow to "**cypress/support/commands.js**"

[code]
This is how I use it in my test:
**`cy.writeFile('cypress/fixtures/notice.pdf', 'Hi, this content is created by cypress!')`**
**`cy.upload_file('notice.pdf', 'input[name=file1]')`**

Big thanks to @fcurella who code this is from above (love you man! :D).
You have no idea how many hours I tri

[2018-04-13 15:21] mihai-dinculescu opened #1577 "No console output in Windows 8.1"
### Current behavior:
Output stops after

[code]

Cypress continues to work normally thou.

To me it looks like the cli output is properly handled, while anything else that comes after is lost.

### Desired behavior:
The console receives the logging messages correctly.

### Steps to reproduce:

[code]

**Note**: I have been able to replicate this on two Windows 8.1 machines, but not on other Windo

[2018-04-13 17:20] kuceb opened #1578 "When ffmpeg fails, log more detailed information"
When ffmpeg fails, we don't get a very helpful error message, so we need to log out more information about the current user's configuration that could have cause ffmpeg's failure.
such as:
user's screen resolution,
ffmpeg version from the binary,
possibly more

[2018-04-13 17:50] musicformellons commented on #1507
My screen resolution: 3200 x 1800.

![screenshot from 2018-04-13 19-47-56](https://user-images.githubusercontent.com/10334123/38749996-c4f78cc6-3f53-11e8-980d-fd87127e71ff.png)

[2018-04-13 19:14] chrisbreiding opened #1580 "Proposal: Collapse consecutive repeated events in reporter"
When there's network polling or similar, the reporter gets filled with countless duplicate events. It would be nice to collapse the events into a single item that can be expanded.

So instead of all the xhr stub events seen here:

![screen shot 2018-04-13 at 3 11 01 pm](https://user-images.githubusercontent.com/1157043/38753670-2563b07a-3f2d-11e8-8660-ef313ccce0d9.png)

There would only be one, wi

[2018-04-13 19:26] garytryan commented on #1300
Also having this problem with slow install times for local development using Yarn.

[2018-04-13 19:28] brian-mann commented on #244
Strikethrough test 2 and test 3, and we probably should add a gray color to the sidebar.

![screen shot 2018-04-13 at 3 27 32 pm](https://user-images.githubusercontent.com/1268976/38754298-38901826-3f2f-11e8-9fd4-e69a5371934b.png)

[2018-04-13 19:49] Tarig0 opened #1581 "Test sections, checkpoint reporting, or subTests"
### Current behavior:

To get a nice list of use cases to be listed, in test results, I currently have to run a test for each use case.

Example:
Order Bike
--> Pre Login
-> Initial Bike configuration is set
--> Navigate to Catalog
--> Find Bike
--> Click
--> Assert Page

-> Bike Type unicycle hides chain option
--> Navigate to Catalog
--> Find Bike
--> Click unicycle
--> Validate sections

-> Bik

[2018-04-13 19:49] chrisbreiding commented on #244
Here are some options for styling:

Strikethrough, same icon as 'processing':

![screen shot 2018-04-13 at 3 39 32 pm](https://user-images.githubusercontent.com/1157043/38754776-1ac0ba88-3f31-11e8-9b33-b996d17230b2.png)

Strikethrough, ban icon:

![screen shot 2018-04-13 at 3 40 00 pm](https://user-images.githubusercontent.com/1157043/38754777-1ad2a9b4-3f31-11e8-81cd-4ad5c6599b6e.png)

No striketh

[2018-04-13 19:54] chrisbreiding commented on #244
step-forward icon:

![screen shot 2018-04-13 at 3 53 43 pm](https://user-images.githubusercontent.com/1157043/38755219-f05fba08-3f32-11e8-8470-736942180729.png)

[2018-04-13 20:08] jennifer-shehane commented on #244
I like step-forward icon + no strikethrough

[2018-04-13 21:42] Bkucera commented on #1300
currently in progress in PR  #1582

(my hard drive needed the space) --> ![image](https://user-images.githubusercontent.com/14625260/38759001-be13b914-3f41-11e8-8905-4149cf39c263.png)

[2018-04-14 00:04] Bkucera commented on #1300
This also enables us to ship our docker images with Cypress pre-cached, which will help simplify CI setup!

[2018-04-14 00:06] brian-mann commented on #1300
Yeah it's true but we'll need to update our build process to include it - but we should it's a good idea.

Open a separate issue for that and we can work on that while you finish this PR.

[2018-04-14 02:11] bahmutov commented on #1300
we need to think about caching Cypress in the docker container - because it takes up a lot of space. If we do second split (Electron vs our code), then YES, @Bkucera that would be super good idea to include multiple versions pre-cached because they would not add much weight

[2018-04-14 19:04] brian-mann commented on #1300
@bahmutov good point... that's another "+" in the corner of splitting out those two things vs caching the entire app bundle.

[2018-04-14 19:06] brian-mann commented on #244
I like "strikethrough, ban" but I'll take "graying out the text, and ban icon"

[2018-04-15 00:16] brian-mann opened #1585 "Exit with status 1 when no specs were found with or without a --spec pattern"
Cypress should automatically exit and fail if no spec files were found to run tests for.

This can happen if something goes terribly wrong or for instance configuration is really messed up or you've passed a glob to the new 3.0 `--spec` option and it didn't find any files.

[2018-04-15 00:46] bahmutov commented on #1585
Thumbs up

Sent from my iPhone

[2018-04-15 03:14] brian-mann commented on #416
Fixed by PR https://github.com/cypress-io/cypress/pull/1583

[2018-04-15 03:14] #416 closed

[2018-04-15 03:14] brian-mann commented on #431
Fixed by PR https://github.com/cypress-io/cypress/pull/1583

[2018-04-15 03:23] brian-mann opened #1586 "Change the way "Run All Specs" are run in Interactive Mode (from the GUI)"
This comes from this epic... https://github.com/cypress-io/cypress/issues/681

All other stories were complete except this section...

## Interactive Mode

- Continue enabling users to "Run all Tests"
- Enable clicking folders to automatically run a subset of specs
- Instead of killing the renderer process between specs the browser will simply be "navigated" to the next spec URL.
- This will isola

[2018-04-15 03:29] brian-mann commented on #980
Fixed by PR https://github.com/cypress-io/cypress/pull/1583

[2018-04-15 03:29] #980 closed

[2018-04-15 03:29] brian-mann commented on #1248
Fixed by PR https://github.com/cypress-io/cypress/pull/1583

[2018-04-15 03:29] #1248 closed

[2018-04-15 04:43] #1585 closed

[2018-04-15 05:12] #1568 closed

[2018-04-15 05:31] Tarig0 commented on #1500
Sorry for the late reply. My use case was posting a preformated request and expecting the browser to settle into a certain state.

Today you have to
1. Visit
2. Fill in form values
3. Trigger post

I was looking to skip these steps.

[2018-04-15 05:32] brian-mann opened #1588 "Create new intro / outro banner summarizes all of the specs run"
Example output with discussion here: https://gist.github.com/brian-mann/7b34b1eaa76b829d9de46914fba32b76

The idea is that since we're chunking the specs and running them independently there is going to be a lot more isolated "runs" which gives us an opportunity to highlight how many specs are left to run, and provide a summary at the bottom of what happened.

[2018-04-15 05:34] brian-mann opened #1589 "Send array of specs to API when recording prior to running"
In order to prefill the specs, os, browser, and other metadata on the Dashboard we need to send the specs ahead of time during the first API interactions.

This will also help coordinate which spec is run by which machine for both parallelization and single runs.

- [x] Handle specific `400` status code errors from the API for request schema violations
- [ ] Ensure we capture runs even when it exi

[2018-04-15 05:36] brian-mann opened #1590 "Retry API interactions with a backoff strategy"
Whenever we interact with the API in order to run specs we need to have a retry + backoff strategy in the case the API is temporarily available such as DNS/network partition problems.

Currently we wait 10 secs and then immediately give up. We should retry a few times and backoff incrementally if there are `5xx` errors or node connection related errors like ECONNREFUSED.

[2018-04-15 05:45] #1140 closed

[2018-04-15 05:50] brian-mann commented on #1500
Yeah, I see how this could be useful. It could be like using `cy.request` like so...

[code]

This matches how `cy.request` works except that to pass urlencoded values you have to set `{ form: true }` else it sends the request body as JSON.

With `cy.visit()` it makes no sense to send anything other than urlencoded values so maybe that option doesn't need to exist.

[2018-04-15 05:50] #1508 closed

[2018-04-15 05:54] brian-mann opened #1591 "Add type definitions for Cypress.off"
PR here: https://github.com/cypress-io/cypress/pull/1514

[2018-04-15 05:54] brian-mann commented on #1591
Fixed by https://github.com/cypress-io/cypress/pull/1514

[2018-04-15 05:54] #1591 closed

[2018-04-15 05:57] #1110 closed

[2018-04-15 06:05] brian-mann opened #1592 "Do not copy Circle Artifacts"
This behavior has always been bizarre and unexpected. Copying artifacts should be left up to the user to handle themselves in their `circle.yml` file.

[2018-04-15 06:09] #431 closed

[2018-04-15 08:11] #1592 closed

[2018-04-15 16:50] bmanuel commented on #263
@brian-mann is there any documentation on how to go about running individual suites?

[2018-04-15 17:35] gpenafib opened #1594 "Not able to import an Excel file when using Cypress"
Hi, I am trying to automate with Cypress the step where the user imports an Excel file, but I am not able to see how to do it with Cypress.

What is the syntax of the command to import an Excel file that is on my desktop?

Anyone can support?
Many thanks.

[2018-04-15 20:08] moxventura commented on #1274
+1

[2018-04-15 20:18] kutlaykural opened #1595 "Login failed with Command.js file"
Hi all,

### Current behavior:
exception says;
"cypress_runner.js:139235 TypeError: Cannot read property 'token' of undefined "

### Desired behavior:
Log-in automatically.

### Steps to reproduce:
I tried Command.js file like this;
[code]
(as explained video: https://www.youtube.com/watch?v=5XQOK0v_YRE)
And command line "cy.login()" in my spec file

### Versions
Cypress v2.1.0
Windows 7
Chrome 65

[2018-04-15 20:21] #1595 closed, assigned to nobody

[2018-04-16 01:26] hally9k commented on #1440
@brian-mann How's it all going over there? Any further news regarding the SSE support?

[2018-04-16 09:01] themre commented on #1472
were you able to solve this? i'm also facing the same issue.

[2018-04-16 09:32] dcastil commented on #905
I'd also like native spread operator support for Cypress. It's strange that I can't use syntax which is natively supported by node.

[2018-04-16 09:35] Gennadiii commented on #1565
@jennifer-shehane This would skip all the errors of some type. For example now I have error TypeError which is an error of the app and not tests. If I have this type of error in my tests I`d miss it, right?

[2018-04-16 09:58] themre commented on #1472
may I ask what was the alternative? thanks!

[2018-04-16 12:13] andersthorbeck commented on #259
This seems to be a variant of the feature suggestion in https://github.com/cypress-io/cypress/issues/387

[2018-04-16 13:15] aguingand commented on #1571
I've added configuring steps for mac (in _steps to reproduce_ section), **the issue is only happening when native locale is set to fr-FR**. I guess several other [countries are impacted](https://en.wikipedia.org/wiki/Decimal_separator#Countries_using_Arabic_numerals_with_decimal_comma).

[2018-04-16 13:19] Gennadiii commented on #987
I added
Cypress.on('uncaught:exception', (err, runnable) => {
    return false;
});
to support/index.js and tests fail anyways because of app's runtime exceptions.
If I use
Cypress.on('fail', (err, runnable) => {return false});
then tests don't fail but they also don't run.

[2018-04-16 13:33] cherednyk-tcm opened #1598 "Including auth credentials in baseUrl causes browser to never connect in headless mode"
### Current behavior:

After update of cypress from 1.4.2  to 2.1.0 browser never connected in headless mode.

### Console output
[code]
### Steps to reproduce:

removed folders:
 node_modules
 cypress

removed @ types/cypress from package.json
changed cypress version in package.json from 1.4.2 to 2.1.0

Then installed dependencies and started tests in default headless mode

npm install

cypress r

[2018-04-16 15:19] dcastil opened #1599 "Feature: Stop Cypress when there are too many failed tests"
### Current behavior:
Sometimes a feature I work on breaks a lot of tests in the CI build. I have to wait until all tests are finished until I can figure out what happened, which can take very long due to long timeouts.

### Desired behavior:
Being able to set a variable in cypress.json to stop the Cypress test execution and fast-forward to uploading the data to the Cypress dashboard when a specif

[2018-04-16 15:32] chrisbreiding commented on #1424
Latest API:

Cypress.Screenshot.defaults({
  capture: 'app', // or 'runner'
  waitForCommandSynchronization: true, // when taking a picture of the commands, wait until they are synchronized
  scaleAppCaptures: false, // when taking a picture of the app, remove the scaling
  disableTimersAndAnimations: true, // prevent app animations and timers from firing
  screenshotOnRunFailures: true, // config

[2018-04-16 15:36] dcastil opened #1600 "Chrome window opened by Cypress keeps asking to add printer"
### Current behavior
I have a printer in my wifi network. Every time I run a Cypress test locally, the Chrome instance Cypress opens to run the tests in shows a notification whether I want to add the newly found printer in my network to Google Cloud Print. This gets quite annoying after some time.
<img width="394" alt="Google Chrome Cloud Print message" src="https://user-images.githubusercontent.c

[2018-04-16 15:43] excitement-engineer commented on #1570
I am also running into the same issue.

[2018-04-16 15:52] ClaudioCarmeli commented on #300
A massive hack is to do something like
[code]

Than, just watch the video artefact and pause it at the right time 🤣

[2018-04-16 16:47] jennifer-shehane commented on #553
Um, me neither 😳

[2018-04-16 17:01] jennifer-shehane opened #1601 "Update 'runs' tab in Desktop to handle API endpoint changes to 'builds'"
The API endpoint has changed to `GET` `builds` with new object schema. The `runs` tab should:
- Use the new endpoint
- Test that fixtures match new object schema.

[2018-04-16 19:51] jdhines commented on #1401
@gkemp94's answer solved it for me.

[2018-04-16 20:54] neiltownsley opened #1603 "Typescript definition conflict, when including cypress types in create react app"
### Current behavior:
When cypress types are included by tsconfig in cypress root folder and ```/// <reference types="Cypress" />``` exists inside cypress integration spec, any reference to jest in a react component test eg expect() is overwritten and now seems to reference chai expect()

Also it looks like cypress is not able to pick up the types that have been defined inside its own tsconfig, he

[2018-04-16 21:31] brian-mann commented on #195
@jdhines can you provide a reproducible repo? What version of Cypress are you using? There were some issues with the proxy choking due to nonperformant regexp a few versions ago but have been fixed. Please open a new issue so we can investigate.

[2018-04-17 08:32] BenoitAverty commented on #686
One case where tests need to build up state between them is when each test is a step of a cucumber scenario. In that case, each test depends on the previous steps of the same scenario.

I'm using cypress-cucumber-preprocessor but I'm currently stuck because of this (I have opened TheBrainFamily/cypress-cucumber-preprocessor#43 about this).

With the feaure discussed in this issues, it would be doa

[2018-04-17 09:35] BenoitAverty commented on #686
In the meantime, if I wanted to experiment, can anyone point me to the direction of the function(s) or pieces of code that do the clearing ? I'd like to see if this can't be solved in the preprocessor itself.

[2018-04-17 11:30] neiltownsley commented on #1603
Hi, will someone get to look at this today by any chance?

[2018-04-17 11:43] Gennadiii opened #1605 "Tests fail because of exception in console"
Operating System: Win10
Cypress Version: 1.4.2
Browser Version: Chrome 65
Is this a Feature or Bug?
This is a bug

Current behavior:
I have exception on my app (third party), I can see it in console: TypeError: Cannot read property 'payload' of undefined
And I don't care about it actually. But Cypress fails tests because of it.
I have next in my support/index.js:
`
Cypress.on('fail', (err) => {

[2018-04-17 12:32] asos-arun commented on #987
I am facing same problem.
![image](https://user-images.githubusercontent.com/32367753/38869778-af613f22-4243-11e8-86c9-a3c44ceb0fb6.png)
Commands.js
![image](https://user-images.githubusercontent.com/32367753/38869805-c6355efe-4243-11e8-9f4b-bfb6064a55f3.png)

[2018-04-17 12:41] dispix opened #1606 "Typescript type error with cy.scrollIntoView"
### Current behavior:

Considering this code:
[code]

Typescript outputs this error:
[code]

Due to the type definition of `cy.scrollIntoView`:
[code]

### Desired behavior:

Typescript should not output an error as `duration` seems to work just fine with `scrollIntoView`, as suggest too by [the documentation](https://docs.cypress.io/api/commands/scrollintoview.html#Usage).

### Versions

**cypres

[2018-04-17 13:08] DarthDerrr commented on #408
+1

[2018-04-17 13:32] trobbins1981 opened #1607 "Cypress 1.4.1 or 2.1.0 crashes on Windows 10"
### Current behavior:

I launch cypress and I see my lists of tests.
I click on a test (it can be any test).
A chrome window briefly opens then it closes again

### Desired behavior:

I would like for Cypress to work as designed, and start running my tests.

### Steps to reproduce:

This issue appears to be intermittent.  It never happened while I was on Cypress 1.4.1.  Then, after upgrading to 2.

[2018-04-17 13:47] bahmutov commented on #1605
This seems to be unlikely, since we test this feature. Could you create a minimal reproduction example by forking http://github.com/cypress-io/cypress-test-tiny (please install your version of cypress there with `npm i -D cypress`) and giving us a link, please?

[2018-04-17 13:48] jdhines opened #1608 "Initial visit() is very slow on Angular apps with an external resource"
### Current behavior:
Started up a new Angular app (`ng new cypress-test`), installed Cypress, did `ng serve`, wrote a simple test just visiting the home page and looking for the sample text, and that test ran fine.
Then, added in a `<link>` to the Bootstrap CDN in the app's `index.html` and suddenly the Cypress test cranks for exactly 30 seconds (the status bar in Chrome says "Establishing secure

[2018-04-17 13:48] jdhines commented on #195
Opened #1608

[2018-04-17 13:48] bahmutov commented on #1603
No, we are busy with 3.0.0 release, but you can look at the types and how they are configured in cypress (look at `types` property in the `node_modules/cypress/package.json`) to come up with a workaround.

[2018-04-17 14:42] trobbins1981 commented on #1607
I think I found a temporary solution for fixing it.  Last time this this happened, it started working after I had put my computer to sleep then brang it right back.  I figured it was a coincidence.  Well, just now, I put my computer to sleep and brought it back, and it's working again.

[2018-04-17 14:58] #283 closed

[2018-04-17 15:08] arsduo commented on #300
One note for others who want to use @brian-mann's [solution](https://github.com/cypress-io/cypress/issues/300#issuecomment-321587149) of spying on the console log: the spy should be set up in a listener for the `window:before:load` event:

[code]

Calling it directly in a global `beforeEach` block won't raise errors but also won't track log statements (the window object seems to be swapped out); c

[2018-04-17 15:47] brian-mann commented on #300
@arsduo it complains because unless you are spying on the remote window, you'd be spying on the spec window, which would have already been spied on.

Also you don't have to put `cy.on(...)` in a beforeEach. `cy` listeners are removed after each test, and that's why the Cypress listeners exist (this is documented in the same place).

So add you need to do in a support file somewhere..

[code]

[2018-04-17 16:02] jennifer-shehane commented on #905
I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document use of the spread operator within the preprocessor here: https://github.com/cypress-io/cypress-documentation/issues/533. Our documentation is open source and contributions are welcome.

[2018-04-17 16:09] jennifer-shehane commented on #1565
This should definitely work if the error is originating from your application. Could you provide more details about the `Uncaught TypeError`?
- Screenshots
- Your `support/index.js` code

[2018-04-17 16:14] jennifer-shehane commented on #259
Closing as duplicate of https://github.com/cypress-io/cypress/issues/387

[2018-04-17 16:14] #259 closed

[2018-04-17 16:31] jennifer-shehane commented on #1600
I believe that the [`--disable-device-discovery-notifications`](https://peter.sh/experiments/chromium-command-line-switches/) Chromium flag may silence these notifications.

Could you try adding this to your `cypress/plugins/index.js` file and let me know if this works?

[code]

If this works, we can very easily automatically do this in Cypress when launching Chrome.

[2018-04-17 16:45] zebulonj commented on #1271
It'd be lovely if `*.js` fixtures were simply executed like any normal JavaScript, and they were expected to export the same fixture data that might otherwise be JSON encoded in a `*.json` fixture. Prime use case: using [`faker`](https://github.com/marak/Faker.js/) in a `.js` fixture to generate data.

[2018-04-17 16:51] jennifer-shehane commented on #987
@asos-arun @Gennadiii Could you both also follow these directions by adding the `debugger`?

[2018-04-17 16:57] jennifer-shehane commented on #1605
Duplicate issue: https://github.com/cypress-io/cypress/issues/1565

Please do not open duplicate issues, comment on the existing issue and we will respond as quickly as we can.

[2018-04-17 16:57] #1605 closed

[2018-04-17 17:18] zebulonj commented on #905
@hsellou If you're already using webpack, this should get you where you want to be (includes examples): https://github.com/cypress-io/cypress-webpack-preprocessor

[2018-04-17 17:34] jennifer-shehane commented on #1608
I cloned your repo and ran it and did not experience the 30+sec slowdown and can see that the bootstrap cdn loaded very quickly. I'm using Chrome 65, but not sure what else could be the issue. Could you provide more information.

![http://g.recordit.co/uiyr3UM3jn.gif](http://g.recordit.co/uiyr3UM3jn.gif)

[2018-04-17 17:35] brian-mann commented on #1608
Take a picture of the network request that is timing out including the timings inside the network panel.

In fact just visit that URL directly in the browser as opposed to localhost.

[2018-04-17 17:36] jennifer-shehane commented on #1608
My timings:
![screen shot 2018-04-17 at 1 36 05 pm](https://user-images.githubusercontent.com/1271364/38886573-56c15f90-4244-11e8-9204-2896edabcf44.png)

[2018-04-17 17:39] aaronthebaron commented on #1512
I have a similar issue although I'm installing locally instead of global. The workaround that I found, is to run it with sudo.

[2018-04-17 17:42] brian-mann commented on #1512
This is not a Cypress issue. It's an underlying permission issue with the way you've installed `node`. You installed `node` with `sudo` and you're not using `sudo` when running `npm install`.

Solution: don't install node with `sudo`.

[2018-04-17 17:42] #1512 closed

[2018-04-17 17:45] brian-mann commented on #1512
The only actionable thing for us to do would be to handle the situation where we get `EPERM` or `EACCES ` errors and tell the user that they've installed `node` wrong or need to use `sudo`.

We may want to open a new issue with that feature.

[2018-04-17 17:46] brian-mann commented on #1600
@dcastil can you verify that this indeed silences that prompt? If so we can add this to the default chrome arguments.

[2018-04-17 17:56] dcastil commented on #1600
@jennifer-shehane @brian-mann I'm in the office in 14h again, I'll tell you then if it worked. But thank you for the quick fix!

[2018-04-17 18:13] chrisbreiding commented on #1424
Some additions:

### Add a `fullPage` option

It's `false` by default.

[code]
Implement it by scrolling to the top, then taking a screenshot, scrolling, taking a screenshot, and so on, then stitching them together.

When we implement native events, we'll be able to use [Chrome's debugger protocol](https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-captureScreenshot) to accomplish

[2018-04-17 18:55] igorcherednyk commented on #1598
Yes, `cypress open` works on version 2.1.0.
On version 1.4.2 both modes work ok: `cypress run` and `cypress open`.

[2018-04-17 19:00] jennifer-shehane commented on #1598
Yeah, I don't see why this should be happening from the information provided. Could you run `DEBUG=cypress:* cypress run` and share the `.log`?

[2018-04-17 23:03] lambootz commented on #712
I'm having the same issue in the following environment:
- Windows 10
- Nodejs ver 9.11.1
- Cypress 2.1.0
- Browser Chrome and Electron.

The test runner doesn't automatically update after I save changes in my code. Reopening the browser also doesnt reflect the changes. It only updates if I close cypress, reopen it, and click.on the .js file.

[2018-04-18 03:04] gpincheiraa commented on #1552
Hi again!
I am trying to reproduce this error cloning cypress repo and running the dev version over my project and that is weird, in development mode this it is working!

**Running my project in development mode**
![captura de pantalla 2018-04-17 a las 11 48 48 p m](https://user-images.githubusercontent.com/5608336/38909381-cdab00b0-429a-11e8-82d1-f44cba8390c6.png)

- The summary have the red colo

[2018-04-18 06:25] paulfalgout commented on #1188
Worth noting switching to cloudflare's DNS seemingly solved this entirely.

[2018-04-18 07:12] gpenafib commented on #1594
anyone knows? any comment? I need to know this asap please!

[2018-04-18 07:25] igorcherednyk commented on #1598
Here's the [log](https://gist.github.com/igorcherednyk/09511dae35082d9fabc6e2f76296a8fb)

[2018-04-18 07:41] dcastil commented on #1600
@jennifer-shehane @brian-mann Can confirm, it works. 🎉

[2018-04-18 08:03] dcastil commented on #1599
Here is an example of what I mean.
<img width="526" alt="screen shot 2018-04-18 at 09 58 29" src="https://user-images.githubusercontent.com/31006608/38918911-5d08b316-42ef-11e8-959e-1ef484f7f1d5.png">
I know that it would be better to put this just into one `it()` block, but then it would get hard to figure out at which point the test failed.

[2018-04-18 09:53] mhelvens opened #1610 "should('not.exist') misbehaves when using dirty-chai"
A simple test:

[code]

When run with `cypress run`, it will pass as expected. When run via `cypress open`, it will pass for the very first test run, but will fail in subsequent runs:

![image](https://user-images.githubusercontent.com/4012816/38923493-994a1272-42f2-11e8-91fb-0456eb635f94.png)

![image](https://user-images.githubusercontent.com/4012816/38923527-acaa86c6-42f2-11e8-86ea-4f489fa3db7e

[2018-04-18 10:14] omaressameldin commented on #1556
any news about this?

[2018-04-18 12:45] arun290636 commented on #987
@jennifer-shehane Thanks a lot for your quick response . I have tried with below code and its not working.

 Cypress.on('uncaught:exception', (err, runnable) => {
debugger
return false
})

Cypress.on('fail', (err) => {
debugger
})

Let me know if i am missing anything?

[2018-04-18 13:34] JonRobinsonLush commented on #170
@MysteriousNothing Thanks. This also worked for me!

Trying to work out how to adapt it work with images?

[2018-04-18 14:35] brian-mann commented on #1599
Yah, you are sort of "going against the grain" here where you are splitting up things across multiple tests but it's really just a single test, which is an anti pattern.

https://docs.cypress.io/guides/references/best-practices.html#Having-tests-rely-on-the-state-of-previous-tests

I can understand what you're doing - and regardless I think the `maxFailedTests` is a good option, but if you were sa

[2018-04-18 14:35] jennifer-shehane commented on #1610
`cypress run` runs your tests in Electron. Could you try using `cypress open` to run the tests and select Electron as the browser to run them in. See if there is anything strange in there with your console open.

The 'second' run behavior is strange, but we would need a reproducible example to run on our end to look into it further.

[2018-04-18 14:41] #733 closed

[2018-04-18 14:54] mhelvens commented on #1610
I'm seeing the exact same behaviour with Electron.

If you think it will help I could create a repo with a minimal working example, but my bug report above fully describes the scenario. Nothing complicated going on.

[2018-04-18 15:00] dcastil commented on #1599
Yes, you're right. I should try `cy.log()` instead, I didn't consider that.

My test in the screenshot is going through a registration process with several form pages. The test often fails because newly added form fields are not yet handled in Cypress and the website doesn't let Cypress press the "next"-button. In the error message Cypress provides information about the button element, but not the

[2018-04-18 15:05] nwshane commented on #857
Has there been any progress on implementing something like `cy.drag(fromSelector: string, toSelector: string)`? It would be fantastic if that feature were implemented!

[2018-04-18 15:12] dcastil commented on #1599
@brian-mann I just tested it but Cypress doesn't log `cy.log()`s to the console. Is there a way to print a status from within a test? So I have something like this in the console:

[code]

[2018-04-18 15:13] mhelvens commented on #1610
OK, the problem is apparently [`dirty-chai`](https://www.npmjs.com/package/dirty-chai). Here is a [working example](https://github.com/QubitProducts/cypress-test-tiny/tree/expect-not-to-exist-bug).

We need to use `dirty-chai` where I work, because we enforce [standard](https://standardjs.com) company-wide.

[2018-04-18 15:57] jennifer-shehane commented on #1552
The `develop` branch is ahead of the 2.1.0 release, so it is likely fixed in our next release (which has had work done to the output panel) The changes in `develop` will be released in 3.0.0.

[2018-04-18 16:25] jennifer-shehane commented on #1610
Yeah, this does seem to be `dirty-chai` conflicting with some Cypress logic. There's not that much code in dirty-chai, so shouldn't be too bad to track down. https://github.com/prodatakey/dirty-chai/blob/master/lib/dirty-chai.js

<img width="551" alt="screen shot 2018-04-18 at 12 24 35 pm" src="https://user-images.githubusercontent.com/1271364/38945078-7c15d23e-4303-11e8-9b36-ba8cb604726a.png">

[2018-04-18 16:34] jennifer-shehane commented on #987
Here is a much more in depth explanation on why the uncaught:exception may not be being hit: https://github.com/cypress-io/cypress/issues/1385#issuecomment-369082559

We will need a reproducible example to truly investigate the issue further.

[2018-04-18 16:40] bahmutov commented on #1556
It is weird that it is not printing the required dependency, here is what happens in Debian 8.9

[code]

I should make an image based on Debian 8.10 to investigate

[2018-04-18 16:58] bahmutov commented on #1556
So I verified that this image based on Debian 8.10 is working
[code]
and what you are showing
[code]

Please provide the Docker image that is causing the problem so I can recreate the problem in my Docker engine.

[2018-04-18 18:03] mgalindo commented on #815
I am experiencing the same issue running locally in OS X

[2018-04-18 18:45] jennifer-shehane commented on #1608
There are several issues opening concerning corporate proxy. It is possible that is the issue - that you configured something in Chrome a while ago that needs configuring in the Cypress browser. See all corporate proxy issues: https://github.com/cypress-io/cypress/issues/1469

[2018-04-18 19:02] jennifer-shehane commented on #1594
Could you provide some of the test code you already tried to get this file upload working for you application?

There are a few examples on file uploads here also: https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/file-upload-react

We are a small team and have many considerations on what issues we work on and when. We can prioritize bug fixes, do screensharing, and code r

[2018-04-18 19:17] jennifer-shehane commented on #857
No progress has been made on this proposal yet. We are currently working on other issues.

[2018-04-18 19:26] jennifer-shehane commented on #1600
I'm actually going to keep this issue open until we add `--disable-device-discovery-notifications` to Cypress' default chromium flags as a fix for everyone.

[2018-04-18 19:29] jennifer-shehane commented on #1600
Default chromium flags passed in Cypress can be found here: https://github.com/cypress-io/cypress/blob/issue-1601/packages/server/lib/browsers/chrome.coffee#L16

[2018-04-18 19:37] crcatala commented on #677
Just ran into this issue. I agree that logging a specific reason (opacity) allows the user some context to why the the assertion failed. If such logging isn't a priority, perhaps even a mention in documentation about this caveat could be useful?

[2018-04-18 19:38] jennifer-shehane commented on #1598
- Are you visiting a site with basic auth credentials in the url?
- Do the tests run when visiting another url without basic auth credentials in the url?

[2018-04-18 19:48] davemcorwin opened #1611 "Ability to disable javascript for the url under test"
I would like to be able to use Cypress to test an application when Javascript is disabled.

### Current behavior:
Cypress makes itself appear to run from the same domain as the application under test and Chrome allows Javascript to be disable by domain only, so Javascript cannot be disabled without affecting Cypress itself.

### Desired behavior:
The ability to disable javascript for the url under

[2018-04-18 19:59] bcurran07 commented on #170
@JonRobinsonLush are you getting a broken tile? If so, I was able to solve by using `Cypress.Blob.base64StringToBlob`. Example below:

[code]

[2018-04-18 20:09] Tarig0 commented on #1581
The main thing I want is to be able to say this test run satisfies the use cases A,B,C,D without having to do 4 full runs.

This avoids having to build up the state multiple times, when I'm trying to assert things, that if they don't exist isn't blocking me from continuing the run.

I like having the should ;)

Sorry I realize my desired behavior was incorrect, edited OP.

[2018-04-18 20:46] Bkucera commented on #1611
This is very possible, seems like all that needs to done is strip all the script tags and make sure <noscript> tags get rendered

[2018-04-18 21:00] nusco commented on #1274
+1. Even in cases where CSS is enough, having Xpath would make some migrations from other frameworks so much easier.

[2018-04-18 22:52] AveVlad commented on #1426
in docker

[code]

[2018-04-18 22:54] blodgettza commented on #712
Unfortunately I'm receiving the same results as @lambootz
My Code editor is **VSCode**.
The test runner only updates if I close cypress, reopen it, and click.on the .js file.

[2018-04-19 00:02] jedwantstocode opened #1612 "Issue with integrating cypress with jenkins"
### Current behavior:
I am currently getting this error when trying to run my tests headlessly(jenkins)

### Desired behavior:
I want to run my cypress tests headlessly and in jenkins. I'm a total noob in both.

### Steps to reproduce:

I did follow the npm installation in my project folder. In my package.json, "cypress:run:test:e2e": "node cypress/run-end-to-end-tests-jenkins.js", so when I npm r

[2018-04-19 00:37] richdom81 commented on #1235
I have a scenario that appears to be 100% reproducible.  Its a very simple test that hangs at the very last step.

Running on Windows 10.

Using Cypress Binaries downloaded directly today 04-18-2018

Chrome Version 65

https://github.com/richdom81/CypressRepro

Let me know if more info is needed.

[2018-04-19 02:37] bahmutov commented on #1612
your command is wrong, in your package.json do
[code]
Open Cypress once using `npm run open` - it will scaffold the `cypress` folder. Run the tests to get a sense of what Cypress is like - you will be running `cypress/integration/example_spec.js`. Then watch https://docs.cypress.io/guides/getting-started/writing-your-first-test.html and start writing your own test.

[2018-04-19 02:37] #1612 closed

[2018-04-19 02:51] jedwantstocode commented on #1612
This is my package.json:

[2018-04-19 02:55] jedwantstocode commented on #1612
![dot js file](https://user-images.githubusercontent.com/35259384/38968902-26635a88-43c0-11e8-9f1d-3ba9ddc27758.PNG)
![package dot json](https://user-images.githubusercontent.com/35259384/38968904-2698c6d2-43c0-11e8-974d-8ad8426e1e8e.PNG)

[2018-04-19 02:56] jedwantstocode commented on #1612
so by running npm run cypress:run:test:e2e, it should call the dot js file. but instead, im getting error posted above. If I do, npm run start, or any other command above, I am not getting the error

[2018-04-19 03:11] bahmutov commented on #1612
You are making this _way_ overcomplicated. You just want to start the server, wait until it builds the site, then run the tests. So ... to start the server and wait until it is ready and then start the test script use https://github.com/bahmutov/start-server-and-test

and since this is Angular project, have you had a chance to read https://www.cypress.io/blog/2017/12/11/an-alternative-to-protracto

[2018-04-19 03:21] ScottMaclure opened #1613 "Crashing consistently in CodeBuild"
### Current behavior:

Does NOT crash when run locally (Win10), headed (Electron) or headless.

In AWS CodeBuild, Using `LINUX_CONTAINER`, `BUILD_GENERAL1_MEDIUM` compute type, `cypress/base:8` image.

[code]

![image](https://user-images.githubusercontent.com/962320/38969652-eaf9d8b0-43c3-11e8-8cfe-d5b4ac4bb089.png)

Crashes every time on booking flow. Even when I use `it.only`.

Don't think I ca

[2018-04-19 03:27] ScottMaclure commented on #1613
I added a redactred version, would need client approval to post the complete test suite. Hopefully it can help as-is.

[2018-04-19 06:45] chinchiheather opened #1614 "Cannot record Cypress runs, cannot open Runs tab of Test Runner"
### Current behavior:
I try to record my Cypress run and see the message:
[code]

The tests continue to run fine, but they aren't recorded and then available in my dashboard.
I am running `yarn cypress run --record --key xxx` and have verified the key is correct.

If I try and access the 'Runs' tab of the Test Runner, the Test Runner crashes and closes and I see the stack trace
[code]
Interesting

[2018-04-19 07:30] igorcherednyk commented on #1598
Yes, the app requires basic auth credentials, they are passed in the url.
I started the app on localhost with turned off basic auth, then removed credentials from the url in tests, and this problem disappeared, tests are now working in headless mode.
Looks like cypress is not backward compatible for this feature.

[2018-04-19 07:37] arun290636 commented on #920
Cypress is not capturing XHR calls . My application is running on post 3000.
![image](https://user-images.githubusercontent.com/1212793/38977473-5d814c28-43ac-11e8-8c02-14f5489bf2fd.png)
below request is not captured:
![image](https://user-images.githubusercontent.com/1212793/38977664-e8299c18-43ac-11e8-957b-edd33b130639.png)

[2018-04-19 07:47] arun290636 commented on #920
@jennifer-sheha can you please help on above?

[2018-04-19 08:44] omaressameldin commented on #1556
i think the problem is the fact that i am running it on a server not on local machine i.e the server might have less dependencies sense it doesn't have any user interface it's just a terminal at the end if you can try it on something similar to this maybe?
also what do you mean provide the docker image isn't the docker file enough?

[2018-04-19 09:01] slawiko commented on #837
Is this issue about *DO NOT FAIL IF PASSED UNKNOWN OPTION*? I think CLI shouldn't fail in such cases. What about you?

[2018-04-19 09:56] Gennadiii commented on #987
In my case I get error in Cypress: Cannot read property 'payload' of undefined. But weird thing is that I don't see this error in console. It is caught by Cypress and I can see it in console only if I click it in Cypress panel.
[http://i.piccy.info/i9/1160c496976346b4859a6f0729342d83/1524131613/68278/1215371/2018_04_19_12_09_16_integration.png](url)
[http://i.piccy.info/i9/78d61203fba229c54f369d62

[2018-04-19 12:49] bahmutov commented on #1613
We cannot use this test to debug this problem - because we cannot run it.

[2018-04-19 12:53] bahmutov commented on #837
No, this issue is just that it is not enough to say "wrong option" and exit with error code 1, but the app needs to show valid options and then exit with error code 1. Exiting with error is good - otherwise the user will never know they are doing something wrong.

[2018-04-19 12:57] bahmutov commented on #837
Here is the fixed output
[code]

[2018-04-19 13:57] voold commented on #549
Did we resolve this problem?

[2018-04-19 13:58] bahmutov commented on #1556
well, I see on CI you are using `"cypress:latest"` - is that the image you build from
[code]
? Can you make a repo with ALL arguments (replace environment variables with actual values), please, that I could run in my Docker container - because I have no way to say if anything is wrong by looking at this right now.

[2018-04-19 14:12] bahmutov opened #1616 "Missing artifacts when running desktop-gui integration tests"
Example: https://circleci.com/gh/cypress-io/cypress/18143#tests/containers/0

The test script ran several `desktop-gui` integration tests, some of which have failed. There should be  screenshots and videos, but nothing was collected.

[2018-04-19 14:52] balmar commented on #1068
I have just installed cypress via npm. With just the default settings I get into an infinite loop of GET requests after redirecting to the url below. The requests in browser are just like on @lsplogi screenshot.

**My code:**
[code]

**Output:**
[code]

[2018-04-19 15:10] jean-smaug opened #1617 "Cypress test runner / dev tools are blanked out"
### Current behavior:
<img width="1440" alt="capture d ecran 2018-04-19 a 17 04 05" src="https://user-images.githubusercontent.com/22884251/39000221-bf91ad12-43f3-11e8-85cd-b2bda4f650b3.png">

### Desired behavior:
See the cypress app ^^

### Steps to reproduce:

Just run a test

### Versions
On Cypress 2.1.0, MacOS High Sierra with Chrome Canary  68.0.3400.0.
Maybe it's on canary's side but if th

[2018-04-19 15:33] jonnusmcjon opened #1618 "Updated test in Cypress Win EXE does not run automatically"
When I save a test file using the Direct Download win exe, the documentation implies that the browser should re-run the updated file and present the results immediately. Yes, only Step 2 of the Tutorial. For me, the browser (chrome) does absolutely nothing.

The changes only seem to be reflected when I close and re-open the application, which isn't a practical solution every time I make an update

[2018-04-19 16:18] arun290636 opened #1619 "Cypress is not capturing app XHR its only capturing 3rd party XHR calls"
### Current behavior:
Request(XHR) going to 3rd party is captured
![image](https://user-images.githubusercontent.com/1212793/39004496-5fff701c-43f5-11e8-8a9a-a9ac58d603d7.png)
Request going to our own api is not captured:
![image](https://user-images.githubusercontent.com/1212793/39004534-7e72adac-43f5-11e8-99f7-289b9f64b8e2.png)

### Desired behavior:
Every XHR request on page load should be capt

[2018-04-19 18:17] arun290636 commented on #1619
@brian-mann please help on above

[2018-04-19 18:18] ValerieThoma commented on #1619
@arun290636  Can you provide a minimal reproducible example?

[2018-04-19 18:44] lukemadera commented on #1547
@brian-mann @jennifer-shehane Any update here? This has rendered cypress dead in the water for us and we've had to disable it. We've since remove the cookies to try to work around this but the old cookies still are there. Even if you get help me clear out / reset the old ones (from days / weeks ago) that would be a HUGE help as we're blocked at the moment. Thank you.

[2018-04-19 20:02] bahmutov commented on #1603
I think https://github.com/neiltownsley/react-typescript-cypress/pull/1 solves your problem

[2018-04-19 20:45] nwshane commented on #857
@jennifer-shehane I'm curious about contributing to this issue, if my company gives me the time to do so. Would you be open to that? Do you have an idea of approximately how long this would take to implement?

[2018-04-19 23:30] jennifer-shehane commented on #1235
Yes, @richdom81 example can be reproduced with this code:

[code]

The browser actually ends up freezing if you only visit the page and wait like 30 seconds also.

[2018-04-19 23:41] jennifer-shehane commented on #1614
Did you happen to edit your `cypress.json`, like edit the `projectId` in there?

If not, this is a pretty strange error, is there any info you can give above what you did before it stopped working?

[2018-04-19 23:52] jennifer-shehane commented on #1547
Could you provide the test code you are running?

I was thinking that this issue may be related to [this issue](https://github.com/cypress-io/cypress/issues/408), where the cookies are not cleared cross-domain.

[2018-04-19 23:55] brian-mann commented on #1614
Hmm... I can only think of two ways this is happening..

1) you've modified the source code in Cypress. Seems unlikely since you did a fresh install. However `yarn` does cache this locally so if you edited the local cache of the `node_module` its possible but unlikely.
2) You're setting `NODE_ENV=...` or `CYPRESS_ENV=...` to something that is overriding how Cypress constructs the API URL. Your com

[2018-04-20 00:01] jennifer-shehane commented on #1619
Have you tried setting up a `cy.route()` to listen for the request and `cy.wait()` to ensure it is captured?

Also, am I correct in seeing that you are visiting `localhost:3000` and also doing a `POST` request to a `localhost:3000` endpoint?

Sorry, it is a bit difficult as @ValerieThoma said to track down the issue just from screenshots. If there is any way you could get us closer to reproducing

[2018-04-20 00:03] jedwantstocode commented on #1612
thank you. I am getting there

[2018-04-20 00:04] jennifer-shehane commented on #1618
Yes, Windows users have been reporting this issue of the spec files not causing the test runner to be refreshed. I'll be closing this as a duplicate. Make sure to keep track of this issue here: https://github.com/cypress-io/cypress/issues/712

[2018-04-20 00:04] #1618 closed

[2018-04-20 00:08] brian-mann commented on #712
@lambootz and @blodgettza if you want us to look at the issue please follow my instructions here: https://github.com/cypress-io/cypress/issues/712#issuecomment-370642617

Until someone provides reproducible steps there's nothing we can do. Users have reported this, and users have reported that the text editor is causing this. We have yet to reproduce on our end.

[2018-04-20 00:11] jennifer-shehane commented on #1617
I'm not experiencing this in Canary 68.0.3400.0.

<img width="1792" alt="screen shot 2018-04-19 at 8 09 08 pm" src="https://user-images.githubusercontent.com/1271364/39024240-977e3132-440d-11e8-9be4-144c42f99eb6.png">

It looks like you have some other extensions installed in your Canary browser. Could you disable all of those first to further isolate the issue to Cypress? Let me know if the issue

[2018-04-20 00:27] jennifer-shehane commented on #1068
Yep, this code does cause this never loading behavior. Thanks @balmar. The behavior looks oddly similar to this other issue's test code I just ran here: https://github.com/cypress-io/cypress/issues/1235#issuecomment-382912229

[code]

<img width="1357" alt="screen shot 2018-04-19 at 8 22 46 pm" src="https://user-images.githubusercontent.com/1271364/39024556-b4504a14-440f-11e8-9d5a-a26bf71725f9.png

[2018-04-20 00:38] jennifer-shehane opened #1620 "The AUT shakes in Canary"
### Current behavior:

Application under test is :: shaking :: in Canary 68.0.3400.0. It looks like the scrollbar is duplicated? Taking up twice the space? Something is making the content displace, which I imagine is some bug in Canary - here to document and track mostly.

![ugdfowkupg](https://user-images.githubusercontent.com/1271364/39024858-8391da26-4411-11e8-955e-eea7bf1218f7.gif)

### Steps

[2018-04-20 00:47] jennifer-shehane commented on #1613
@ScottMaclure As gleb noted, the test code you pasted is incomplete. Since there are custom commands and variables that are not included in your example, we're unable to run the code you provided.

- How many tests are you running in CI?
- Is the renderer crashing in the same spot each time?

[2018-04-20 01:13] chinchiheather commented on #1614
I double checked the projectId in my cypress.json file and it matches the one shown in my dashboard settings. Here is my cypress.json:
[code]

I didn't do anything special to experience the problem. This is a new project I am just setting up and wanted to add Cypress into.

I tried running `yarn cache clean` before doing an install this time (after deleting the node_modules) and the problem persis

[2018-04-20 01:34] chinchiheather commented on #1614
Okay so the log from konfig.coffee:
[code]
And the stack trace when adding the log to record.coffee:
[code]

[2018-04-20 01:39] lambootz commented on #712
Here's something new...  I installed an older version  ver 1.0.3

It still doesn't update and doesn't automatically rerun the code.  But now I just need to close the browser and click on the example_spec.js file and I would see the changes  (no need to close cypress and open again)

[2018-04-20 01:44] chinchiheather commented on #1614
Okay that gives:
[code]
And then an error about the api_url:
[code]

[2018-04-20 01:48] brian-mann commented on #1614
That's the problem. You are setting `process.env["CYPRESS_ENV"]` somewhere to the value of `live`.

This could be somewhere inside your bash profile... try searching around and let me know what you find. It's expected that this value gets set to `production`. `live` is definitely not coming anywhere inside of Cypress code.

[2018-04-20 01:54] bahmutov commented on #1614
We can put an assertion of the value of env variable la(check.oneOf... to catch things like these when calling api

Sent from my iPhone

[2018-04-20 01:57] brian-mann commented on #1614
Yeah we could make sure its oneOf a valid value, and if not, dont use the env var, and instead let it hit `pkg.env` or default `development`.

[2018-04-20 02:00] chinchiheather commented on #1614
Ahh yeah I was experimenting with using environment variables to set some custom configuration. I must have called one CYPRESS_ENV.

Set it back to 'production' and all is good now, thanks so much!

[2018-04-20 02:02] brian-mann commented on #1614
@chinchiheather you don't need to set it at all. Just remove it and Cypress will set it to what it needs to be set to.

I'll open an issue stating what we can do in the future to prevent this.

[2018-04-20 02:02] #1614 closed

[2018-04-20 02:03] brian-mann opened #1621 "Setting CYPRESS_ENV to an unexpected value leads to errors"
Per this issue: https://github.com/cypress-io/cypress/issues/1614

A user set `process.env.CYPRESS_ENV` to an unexpected value and caused Cypress to error / crash  when talking to the API.

We should check that its set to a valid value and provide a good error message when its set incorrectly.

[2018-04-20 06:19] gregevari opened #1623 "Test runner only shows the last screen"
### Current behavior:
Despite having many steps in the test, the only screen that is shown during a test run is the final screen in the test.

Mousing over the time travel segments shows only blank screens.

Inspecting the screen shows that the chrome has the elements, they are just not visible.

### Desired behavior:
I would think that we should be able to see all screens rendered as I do when I

[2018-04-20 08:07] tascioglu commented on #1081
will create a new issue with a better example and description of it. Closing this one.

[2018-04-20 08:07] #1081 closed

[2018-04-20 08:07] tascioglu commented on #1147
Problem was something with proxy @ business. not an issue anymore. Closing this one.

[2018-04-20 08:07] #1147 closed

[2018-04-20 08:12] vedmant commented on #1488
I have the same problem, trying to open http://booking.localhost:8080 results in:

Error: getaddrinfo ENOTFOUND booking.localhost booking.localhost:8080
at errnoException (dns.js:50:10)
at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:92:26

I can open this page in any browser with no problems.

[2018-04-20 08:18] tascioglu opened #1624 "How to click and draw with openlayers. Possible or Not?"
I asked this a lot of time on forms and chats.. But never get an answer back. So this time I'm writing it here as an issue.

I'm searching for weeks how to create some tests with openlayers. I can't find anything on the internet, but it should be possible right? So who can help me with this?

**Situation:**

There's created a map (sort of google maps) with angular / openlayers. What I need is to c

[2018-04-20 08:48] arun290636 commented on #1619
@jennifer-shehane  you are right i am visiting localhost:3000 and making request to local host.
Page URL - http://localhost:3000/abc/

XHR calls
http://localhost:3000/abc/api/User/GetUserInformation
Request Method:GET
https://dam-dev-web.xyz.com/abc/Tasks?group=shoots
Request Method:OPTIONS
http://localhost:3000/abc/api/TaskData/GetTasks/Shoot
Request Method:POST

[2018-04-20 09:36] ScottMaclure commented on #1613
I'll see about getting the full test available to share - need permission from client beforehand.

I'm running a single test, as mentioned above, with `it.only()`. Crashes every time.

Will have more information for you next week!

[2018-04-20 12:36] nickshatilo commented on #1288
@Alexintosh Same for me.
@brian-mann Could you please provide a link for the documentation regarding the feature?

[2018-04-20 12:48] nickclicksco opened #1625 "Flakey AJAX requests when using Cypress.on('fail') and the test runner"
### Current behavior:

When using the `Cypress.on('fail', function(err, runnable) {});` method I am posting an AJAX request to our application like so:

[code]

Not sure why but runnable won't work unless I wrap it in a function or timeout, but that is another issue so don't get confused by it.

When using `npx cypress open` and then selecting my spec the AJAX request sends every time without any

[2018-04-20 12:51] arun290636 commented on #1619
@jennifer-shehane I have tried in our test environment as well . Its not capturing XHR requests.

[2018-04-20 13:01] arun290636 commented on #1619
@jennifer-shehane @ValerieThoma let me know if you want me to share my screen etc.

[2018-04-20 13:16] toriningen commented on #170
@brian-mann have your team got any estimates on when would you ship native events?

[2018-04-20 13:37] bahmutov commented on #1621
I can catch in in the config in the server, but then it is too late, and it would be nice to catch in the CLI

<img width="1280" alt="screen shot 2018-04-20 at 9 36 20 am" src="https://user-images.githubusercontent.com/2212006/39053931-4d80468a-447e-11e8-9d40-563c4baa6027.png">

Just need to make sure we catch it in all scenarios
- running "normally" via NPM package
- running via Cypress NPM modul

[2018-04-20 14:33] egucciar commented on #1620
Awesome that you experienced this, its happening to me and driving me crazy!!!!!!!

[2018-04-20 15:08] lukemadera commented on #1547
Thanks @jennifer-shehane and yes it could be related. I tried to give some examples in this ticket already but I can try to put together a test repo for you if that's what you need. For the immediate term, is there a way to tell cypress to NOT send any cookies at all?

[2018-04-20 16:06] brian-mann commented on #987
@Gennadiii We are a small team and have invested a lot of time into this issue. We believe this is a problem with Cypress, but we are unable to reproduce or recreate. We will **have** to have a reproducible repo in order to get this fixed. We will keep this issue open as reference until someone provides how this is happening.

Since you expressed hesitation to provide a reproducible repo because y

[2018-04-20 17:01] alindesign opened #1627 "Typescript types issues"
### Current behavior:
![image](https://user-images.githubusercontent.com/12038126/39063703-93e6f316-44d4-11e8-938e-9cf7044487cd.png)

I have got some types error usign cypress with typescript, after some investigations and alot of tries to add these types on my tsconfig.json, nothing worked :cry: i have decided to change references from `cypress/types/index.d.ts` so:
[code]
After this changes, eve

[2018-04-20 17:04] bahmutov commented on #1627
Great, can you make a small repo reproducing the problem? Like a fork of https://github.com/cypress-io/cypress-test-tiny for example? I just want to see the problem myself

[2018-04-20 17:04] bahmutov commented on #1627
also, @NicholasBoll what do you think?

[2018-04-20 17:04] dannynicolas commented on #1620
Yep. Upgraded to Chrome 66 and this started happening to me too.

@egucciar thanks for the suggestion of running in electron mode, that works for me.

[2018-04-20 17:25] bahmutov opened #1628 "Improve XVFB detection / timeout logic"
## bug

On Travis see the problem sporadically where XVFB would not start
[code]

It is rare but happens a lot in repos like https://travis-ci.org/cypress-io/cypress-example-recipes

![screen shot 2018-04-20 at 1 24 37 pm](https://user-images.githubusercontent.com/2212006/39064955-3f6ef684-449e-11e8-873d-9ba21ebb026f.png)

[2018-04-20 17:32] bahmutov commented on #1628
- additional debug output from XVFB module can be seen using `DEBUG=cypress:xvfb`
- Travis has utility https://docs.travis-ci.com/user/common-build-problems/#travis_retry that can be used to fight flaky process errors
[code]

[2018-04-20 17:41] bgschiller commented on #328
I was bit by this yesterday, and came up with a workaround script. It's not a long-term solution, but I'm posting here because it could be useful to someone: https://gist.github.com/bgschiller/397ad1ca123aa15f331f3f3ec9717e5f

The workaround is:
- Wrap Cypress with a script that watches its output
- wait for all tests to finish, collect the failed tests count
- kill cypress subprocess
- then exit

[2018-04-20 17:56] jennifer-shehane commented on #1623
Hi @gregevari, this is definitely not the intended behavior. You are supposed to be able to 'time travel' to previous views.

- Could you possibly share any screenshots? If not, could you share more what you mean by 'blank screens'?
- Does this happen in every website/tests you run? Like, does this happen when you run our example_spec files?

Our best chance at addressing the issue is to be able t

[2018-04-20 18:15] jennifer-shehane commented on #1624
Hey @tascioglu, could you provide some of the test code you already tried?

Drawing on the canvas likely requires [triggering](https://on.cypress.io/trigger) the events that the map is specifically listening for, so may take some trial and error.

[2018-04-20 18:26] brian-mann commented on #1625
To answer your question - it is because that request is async and if Cypress kills the process then that's why it's not being captured.

Alternatively we could enable you to write new Cypress commands so you could use `cy.request` or other commands in the `fail` handler.

We'd need to add a new section to the command log to capture the commands running under the `fail` event...

There's actually a

[2018-04-20 18:44] jennifer-shehane commented on #1619
Ok, I see the code you posted in your example. You are writing:
`cy.wait('@testing', { timeout: 600000 }`.

Where did you originally define the `testing` [alias](https://docs.cypress.io/api/commands/as.html? I'm not seeing that included in the code. Since that is the xhr you are concerned about, I'd like to see the route where you defined the `testing` alias. Thanks.

[2018-04-20 19:30] jennifer-shehane commented on #1620
So, after taking a nice stroll through Chrome's bugs, I believe this may have to do with [this open bug](https://bugs.chromium.org/p/chromium/issues/detail?id=833167&q=scrollbar&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified), where the content inside an iframe, when absolute positioned is displaced by 17px (the exact amount of the scrollbar widt

[2018-04-20 19:42] jennifer-shehane commented on #1620
I'm back with a fix! If you want the AUT to stop shaking (until Chrome issues a fix / Cypress disables this behavior by default) - you can pass this flag to Chrome: `--disable-blink-features=RootLayerScrolling`

**Example Workaround Code:**
[code]

[2018-04-20 19:48] bahmutov commented on #1628
Hmm, reran the tests a couple of times with `DEBUG=...` and not cannot get the test to fails

[2018-04-20 20:38] bahmutov commented on #1628
yeah, the default 2 second timeout is probably too small, so I increased it to 5 seconds

[2018-04-20 22:11] LawJolla commented on #1068
This was my "welcome to Cypress" bug.

I went through the tutorial on my project, and then it got stuck in this XHR loop.  I can choose any route too and I get the same response.  In this video recording, I chose a bad route.  It didn't matter -- XHR loop.

https://cl.ly/1z2a1h3a170u

[2018-04-21 05:43] NicholasBoll commented on #1627
The errors you're seeing makes sense - `blob-util`, `bluebird` and `minimatch` are the three dependencies that aren't namespaced (global definition). I can reproduce and your suggested solution fixes the issue. I'm pretty sure it worked at one point. Maybe the existing code used to work, but wasn't supposed to and a TypeScript change fixed that loophole.

[code]

I don't think I noticed when this

[2018-04-21 14:46] bahmutov commented on #1611
well, we can strip all JavaScript tags and inline handlers, but this does not make `noscript` tags visible. To truly do this we would need to embed the application iframe with `sandbox` attribute, which would disable the injection script we use to set the document domain to `localhost`. Hmm.

[2018-04-22 14:05] nickclicksco commented on #1625
Thanks for answering this @brian-mann, can you think of a work around for this for the time being?

Alternatively is there a way I can stop Cypress killing my tests when one fails and then just stick a `cy.wait()` on the end of the spec? This would allow time for any AJAX requests to complete, I know it would be pretty messy but might work.

[2018-04-22 16:27] brian-mann commented on #1625
You could likely do something like this...

[code]

Did not try this... throw some `debugger` in there and muck around with `runnable`. I believe it hold a reference to the current test and you can check to see if its failed, and if so add a `cy.wait` to it...

[2018-04-22 16:27] brian-mann commented on #1625
If that works just drop the `after` hook into a support file so its included automatically on every suite

[2018-04-22 18:37] brian-mann opened #1630 "Warn when localhost is not mapped to 127.0.0.1 and launch Cypress directly on that ip address"
When users `/etc/hosts` file is nuked or has had the `localhost -> 127.0.0.1` ip address mapping removed then Cypress will fail to spawn the browser correctly.

We can detect this and provide a warning to the user, and additionally could just launch the browser on `127.0.0.1` as opposed to `localhost`.

Related to: https://github.com/cypress-io/cypress/issues/1455 and https://github.com/cypress-io

[2018-04-22 18:38] brian-mann commented on #556
@wijwoj you can use the DEBUG module to log out cypress stuff... no need to add `longjohn`.

At any rate - thank you for taking the lead on this and opening a PR. I'm going to update the PR to include an e2e test since a specific unit test is generally not enough to ensure we are properly covered in this case.

I was able to see this happen directly and reproduce it locally based on this PR https:

[2018-04-23 00:34] MarcoNicolodi commented on #190
I was trying to stub a 500 status code without stubbing the response itself and it wasnt working. The XHR kept returning a 200 response.

Passing an empty array as response solved it.

[2018-04-23 01:45] gregevari commented on #1623
Thanks for the quick response! It doesn't seem to happen with the example_spec files, they're all ok. Here's a screencap of my test, its the same for all tests:

![blank-running](https://user-images.githubusercontent.com/38128131/39102805-8ed58908-46d9-11e8-8176-1d56c21a6a54.gif)

The test we're running in the above goes to our home page, then to a followup then to a register page which it finally

[2018-04-23 06:00] brian-mann commented on #556
Fixed by https://github.com/cypress-io/cypress/issues/556

[2018-04-23 06:00] #556 closed

[2018-04-23 07:12] corysimmons commented on #310
@kunwardeep IE is only 3% users and dropping. Those users are probably extremely used to having a sub-optimal web experience. I hope the Cypress team doesn't waste time supporting IE (since they already mentioned it was "substantially" more difficult.

Just do a quick manual visual test every now and then? Or, if you have a huge system that needs automating, and your audience is primarily stuck on

[2018-04-23 07:46] jogelin commented on #1065
Any update with the version 2.x of cypress ?
I have the same issue:
[code]

I am using cypress 2.1.0 and ts 2.7.1

Is [https://github.com/bahmutov/add-typescript-to-cypress](https://github.com/bahmutov/add-typescript-to-cypress) still necessary ? Ts seems to work without webpack preprocessor ....

[2018-04-23 11:03] Gennadiii opened #1631 "Cypress fails to detect DOM elements"
- Operating System: Windows 10
- Cypress Version: 1.4.2
- Browser Version: Chrome 66

### Bug

### Current behavior:
This is a flaky bug with reproducibility about 5%
CypressError: cy.click() failed because it requires a DOM element
It might be cased by slow server response which might take up to 2 seconds. I tried cy.wait, .should('be.visible'), increasing default timeouts,  setting timeout for t

[2018-04-23 13:24] marceloemanoel commented on #1434
Hi, @bahmutov. Thanks for your reply.
I did what you've asked. Here's the result:

[code]

As you can see, it's not very different from the original problem :(

[2018-04-23 14:06] darina-techery commented on #1619
I guess I know the answer. For some reason Cypress is not intercepting requests, when application uses Fetch API instead of XHR API.
Our application under test contains a lib which checks if browser knows about 'fetch' function. If not, it fallbacks to XHR-based requests. So, our solution was to "disable" fetch feature to cause this fallback. Our tests do the following:

[code]

[2018-04-23 14:40] jennifer-shehane commented on #190
I feel that the docs are rather clear on the point that the `response` determines a routes stubbing or not.

-- https://docs.cypress.io/api/commands/route.html#Without-Stubbing

-- https://docs.cypress.io/api/commands/route.html#With-Stubbing

But, we are always looking for ways to improve our docs if there are some areas that were confusing you could point out.

[2018-04-23 14:45] andrewleith commented on #190
Like @fvanwijk, I am trying to get cypress to add some headers to certain XHR requests.  If his example isn't how you do it, then how do you do it?

[2018-04-23 14:56] jennifer-shehane commented on #1631
Hey @Gennadiii, could you provide the test code for these cases? I am particularly wondering if you are using aliases or `.as()` in your querying of the element.

[2018-04-23 15:00] jennifer-shehane commented on #190
You can't currently stub any options of a request unless you also stub the `response`. This is a feature that would have to be added to Cypress.

[2018-04-23 15:03] andrewleith commented on #190
Oh, well maybe its worth explicitly putting that note in the docs?  I seemed to think it was supported back when i was trying this 😀

[2018-04-23 15:13] fdaryaee commented on #1304
I am using following command to run the tests in a headless mode. I see this issue in both cases i.e. if I run a single test or all the tests in a suite.

To run all the tests I use following command
npx cypress run --env configFile=test

To run a single test I use following command
npx cypress run --env configFile=test --spec cypress\integration\matchmaker_spec.js

In both the cases, video is rec

[2018-04-23 15:36] jennifer-shehane opened #1632 "Display warning on `cypress run` if `timeout` is set > 10mins"
User's can set timeouts to be ridiculously high numbers. This is particularly a problem if the timeout is set over 10 minutes.

[code]

If, in the case above, for example, the `.header` turns out to not be found, then Cypress continues to try to find the element for over 10 minutes without any output.

CircleCI, by default, will kill any run that does not have output for 10 minutes. Not all CI’s d

[2018-04-23 15:42] bahmutov commented on #1632
Why at the beginning of the run and not right before the command? We could show at the beginning for default global timeout

Sent from my iPhone

[2018-04-23 15:48] marceloemanoel commented on #1434
Just to mention, I'm using nodejs 8.9.0 managed by nodenv (https://github.com/nodenv/nodenv)

[2018-04-23 16:18] jescalan commented on #310
@kunwardeep is absolutely correct. And unfortunately, the percentage is different for each site depending on their audience. I have worked with clients who have sub-1% IE traffic and clients who were well over 15%. The global average percentage of users on IE just isn't enough to make a definitive statement on whether it's "worth it" to do something.

Even imagining you couldn't track specific sta

[2018-04-23 16:52] corysimmons commented on #310
Hi dad :)

**I** hope some old company doesn't offer Cypress a million dollars and force **me** to wait for sweet features. 😾

To be clear, I don't hate IE support. I was just stating a personal opinion as someone who fought against the tide for years, and missed out on a lot of cool stuff while doing that. I don't want the Cypress team to be lulled into the same trap unless Amazon is offering the

[2018-04-23 17:00] richdom81 commented on #1235
Hi - Curious if anyone has a chance to take a look at this.  We are planning to move our integration test strategy over to Cypress from Selenium, however if we are not able to access the school pages above (which is the bulk of our customer orders) we'll have to reconsider.

Any help would be greatly appreciated!.

[2018-04-23 17:14] jennifer-shehane commented on #1620
I meant to post the code for this from Cypress. This flag can be easily added here in a PR: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/chrome.coffee#L16

[2018-04-23 17:42] jennifer-shehane commented on #1235
@richdom81 I have brought the attention of the team to this bug, but as we are a small team, it may take some time to debug the root of the issue, as we are slated for other work at the moment.

We can prioritize bug fixes, do screensharing, and code reviews under our premium support - and could more quickly look into the issue with this kind of workflow. If you’re interested in this kind of premi

[2018-04-23 17:50] jennifer-shehane commented on #1304
Unfortunately, we will have to have a reproducible repo that we can run to reproduce this. We have tried running some of our example repos - also in Windows, but have been unable to reproduce it.

Can someone provide a repo/code to reproduce?

[2018-04-23 18:08] jennifer-shehane commented on #1632
I agree @bahmutov - Quotes from @brian-mann  on the subject when I spoke to him:

He kind of ended up on the fence at the end of the discussion about it. It sounds like we kind of want to separate `stdout` from our own Cypress reporter - not sure why we couldn't do that as an overall strategy and then let user's decide if they want the "Cypress reporter"

[2018-04-23 20:07] MarcoNicolodi commented on #190
I dont think its explicit enought as well :)

[2018-04-23 20:15] #1560 closed

[2018-04-23 20:17] #1628 closed

[2018-04-23 20:26] #1616 closed

[2018-04-24 01:10] Bkucera commented on #1611
Could we not simply strip `<noscript>` and `</noscript>` , but leave everything inside the tags there?

[2018-04-24 01:35] bahmutov commented on #1611
We could strip all JS but that would not force the browser iframe to show noscript elements

Sent from my iPhone

[2018-04-24 08:35] nickclicksco commented on #1625
By the way... are we free to use the API that is used by the Cypress dashboard? CORS is enabled so I'm guessing so. Are there any limitations on the amount of times I can ping the endpoint?

I find an API that returns test failures far more valuable than the actual dashboard in this case.

[2018-04-24 09:56] gflores commented on #95
2 years later this is still with no solution at all ??

[2018-04-24 13:40] smith64fx commented on #136
this is so important! Cannot test the stripe api :(

[2018-04-24 13:53] jcpeden commented on #136
@brian-mann, any updates?

[2018-04-24 13:56] smith64fx commented on #136
Well to test the stripe api this actually worked:

[code]

Thanks to @brian-mann

[2018-04-24 13:57] jcpeden commented on #136
@smith64fx, I assume that Stripe also uses a different domain and SSL? I'll test this for my own code if so.

[2018-04-24 14:17] Gennadiii commented on #1631
@jennifer-shehane Nope, just cy.get().should() - cy.get().click()

[2018-04-24 14:18] blex18 commented on #1342
@brian-mann I totally agree with the best practices and the reasons behind them make perfect sense. The problem is microsoftonline is not only SSO - it is an ActiveDirectory. The tokens issued on login are then being used to access other resources like [MS Graph API](https://developer.microsoft.com/en-us/graph) from within the application. Is there any recipe to test  a web application that so mas

[2018-04-24 14:41] jennifer-shehane commented on #1631
@Gennadiii We will need to be able to reproduce this situation on our end in order to look into what is causing the DOM element to wrongfully be `undefined`.

Can you provide an example of this that we can run on our end? Perhaps an example of the library you are using for the accordion (if applicable) or a repo with a smaller reproducible example?

[2018-04-24 14:51] pieterdv commented on #1342
@blex18 as a work around for now I use puppeteer to do the login in microsoftonline, then I set the variables that are in puppeteer localstorage in cypress localstorage and from there on i can continue. Not an ideal workflow but it works

[2018-04-24 14:53] nvangiessel commented on #1434
Having the same issue.

Operating System: OS Sierra
Cypress Version: 2.1
Browser Version: Chrome 65.0.3325.181

It looks like this is your first time using Cypress: 2.1.0

 ✖  Verifying Cypress can run /Users/nvangiessel/projects/check-cypress/node_modules/cypress/dist/Cypress.app
   → Cypress Version: 2.1.0
Cypress failed to start.

This is usually caused by a missing library or dependency.

The

[2018-04-24 15:09] fdaryaee commented on #1304
The repo is private and something which I cannot share unfortunately. I can help with any other information that can help you reproduce this. Please let me know what all you need. Thanks!

[2018-04-24 15:48] NicholasBoll commented on #1548
Here's a library of a reference implementation: https://github.com/NicholasBoll/cypress-pipe. I'm currently trying it out to see how well it works.

[2018-04-24 16:01] brian-mann commented on #1548
@NicholasBoll how offended would the world be if we just made `.map` take a function or a string - and if that string was a function to invoke that with additional arguments, rather than having a separate `mapInvoke` function?

That would give you the ability to do either - map with property shorthand or function shorthand...

[2018-04-24 16:06] brian-mann commented on #1342
@pieterdv and @blex18 you can just use `cy.request()`.

@pieterdv I have no idea what your comment meant in regards to microsoft not allowing ROPC grant for web applications. A `cy.request` acts as if it comes from the browser but is not bound to any CORS restrictions. There is no difference between making a `cy.request` and using the browser - zero. As long as you provide to `cy.request` what the

[2018-04-24 16:07] brian-mann commented on #1342
@blex18 as for recipes - yes, we specifically show a SSO example in our recipes that interact with a 3rd party server. There is no difference between that example any other 3rd party services - whether its oauth, sso, saml, etc. It's all the same, and you interact with them with `cy.request` which is nothing more than a programatic http request, the same ones that come from your browser.

[2018-04-24 16:45] dwelle commented on #1620
@jennifer-shehane that fix only seems to work for stable chrome (v66) and not for canary (v68). Can anyone confirm that?

[2018-04-24 17:06] brian-mann commented on #1620
@dwelle This is a bug in Chrome/Canary - and will likely get fixed in time. We've seen even more bizarre things like this in Canary in the past - and they naturally gets resolved.

Unfortunately, it's not feasible for us to investigate issues that are chrome bugs ahead of the official releases.

[2018-04-24 17:06] jennifer-shehane commented on #1620
@dwelle Yes, can confirm - the fix does not work in Canary (v68) 😞

[2018-04-24 17:11] AlexYup commented on #1342
@brian-mann, thanks for the prompt response. Believe me, I went through the docs linked in the original response. The problem with the SSO recipe is it assumes the login form is an html form.

In case of login.microsoftonline.com it is a webpacked knokoutjs app which does much more than just rendering a login form. Form submission requires not only login and password, but a bunch of other fields p

[2018-04-24 17:17] blex18 commented on #1342
@brian-mann, thanks for the prompt response. Believe me, I went through the docs linked in the original response. The problem with the SSO recipe is it assumes the login form is an html form.

In case of login.microsoftonline.com it is a webpacked knokoutjs app which does much more than just rendering a login form. Form submission requires not only login and password, but a bunch of other fields p

[2018-04-24 17:56] jennifer-shehane opened #1634 "Desktop-gui should show billing notifications relevant to project"
Upon the release of Cypress' new billing portal, there are several notifications that should be shown in the Desktop-gui relevant to the project running tests, such as:

- [ ] A banner indicating the project is within a 'grace period' of billing - with an encouragement to set up billing during that time - link to Dashboard.
- [ ] When not in grace period, a banner warning projects in organizations

[2018-04-24 18:04] ben-poon commented on #1497
I'm able to reproduce this issue on the example spec with cypress 2.1.0 and chromium 65 running just the default with no add-ons or mods in windows OS. I've also reproduced this with a simple cy.visit statement.

[2018-04-24 18:15] NicholasBoll commented on #1548
@brian-mann I see a few problems.

It is different than any other implementation of `.map` which has connotations in JavaScript: Map doesn't have side-effects - it simply returns something. For example:

[code]

This would make `.map` be a perfect candidate for retryable:

[code]

[2018-04-24 18:36] brian-mann commented on #1548
Correct - I'm suggesting making `invoke` having a polymorphous API that will invoke functions or return property values - the reason being that mapping jquery instances will be far more useful to call functions than property values.

[code]

This would allow you to do..

[code]

[2018-04-24 19:26] NicholasBoll commented on #1548
I think that's fair - it's a bit of extra magic that the docs can explain. The type definitions would need to be updated to use TypeScript's Conditional Types introduced in 2.8: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-8.html otherwise using `.map` with functions would lose type safety ('invoke' doesn't have this problem because it doesn't return anything).

What abo

[2018-04-24 19:36] brian-mann commented on #1548
Yeah that is true. `.map`, `.its`, `.invoke`, and `.should` would retry whereas `.each` and `.then` does not.

It may seem arbitrary on the surface but I believe it makes sense... None of the above commands than retry can execute more `cy` commands specifically for that reason. However you are right in that if they did do arbitrary side effects those would be problematic. To date, it hasn't really

[2018-04-24 19:46] jdhines commented on #1608
I took a look through those, and while we do have a proxy, in my Network Settings (on the mac) I'm bypassing the proxy for localhost calls. My Cypress test does run:
[code]
but the problem is that it times out on external resources in my app (which is I guess where it would need to be using the proxy, as it should since the resource isn't hosted at localhost).

If I do `export http_proxy=<my_corpo

[2018-04-24 19:51] brian-mann commented on #1608
@jdhines appreciate your explanation of this. It all makes sense, and fixing all the proxy issues is something that is up on our radar. I'm not sure how feasible it will be for Cypress to read off the system proxy issues - but at the very least we'll be able to support various proxy configuration settings and this is a use case we'll code for.

By chance do you have any other development specific

[2018-04-24 19:57] jdhines commented on #1608
#1312 is very similar to mine. I think basically what I need to do is alert Cypress to use the proxy, but bypass it for localhost.

As far as working apps go, I've been developing with Angular, and if I create a fresh Angular app (repro link in the first post), then throw a link to say Bootstrap's CDN into the Angular app's generated `index.html` file, and serve the app locally, everything works,

[2018-04-24 20:09] brian-mann commented on #1608
@jdhines actually we already support the `NO_PROXY` env var.

Do `export NO_PROXY=http://localhost` or try `export NO_PROXY=localhost`

[2018-04-24 20:43] brian-mann commented on #672
@jedateach @vs yes, the reason that `ensureUrl` is failing is because those checks utilize a lower level `net.connect` as opposed to a real http request to see if there is an open TCP connection on the other side.

There is no nodejs support for proxying those, so we may have to switch to a regular http request to ensure the check.

[2018-04-24 20:59] brian-mann commented on #1541
This is correct, `net.connect` does not respect proxies. We'll need to switch to using a regular HTTP request when `net.connect` fails or when proxies are set.

[2018-04-24 22:00] ggarcia92 commented on #1401
@gkemp94's answer also solved it for me.

[2018-04-24 22:03] brian-mann commented on #1401
@davidsteinsland Cypress should already support the `HTTP_PROXY` and `HTTPS_PROXY` env vars since it uses `request` under the hood to download the binary...

[2018-04-24 22:03] brian-mann commented on #1401
@jdhines and @ggarcia92 can you provide that as an env var during `npm install` or export it to your profile ahead of time?

[2018-04-24 22:07] brian-mann commented on #95
@gflores the workarounds are all mentioned in the comments above. Forcing your fetch lib to use XHR or using `cy.stub` are valid.

[2018-04-25 02:30] lzxb opened #1636 "The more the test, the higher the memory occupation"
### Current behavior:
![image](https://user-images.githubusercontent.com/8424643/39223233-63926e14-4873-11e8-8447-21baa4bcd593.png)

### Desired behavior:

### Steps to reproduce:

### Versions
Cypress 2.1.0
system: macOS
browser: chrome

[2018-04-25 02:38] lzxb commented on #1636
Maybe it's my program that has bug

[2018-04-25 02:38] #1636 closed

[2018-04-25 02:39] brian-mann commented on #1636
Duplicate of

- https://github.com/cypress-io/cypress/issues/990#issuecomment-348517774
- https://github.com/cypress-io/cypress/issues/1586
- https://github.com/cypress-io/cypress/issues/681

[2018-04-25 05:33] LawJolla opened #1637 "Programmatic Auth0 Login Won't Logout and Loops Future Tests"
### Current behavior:
Auth0 with Auth0 Lock is part of the app's UI.  When a test programmatically logs in to Auth0, the browser remains logged in and will not log out for any future tests -- including after reinstalling Cypress and restarting the computer.  Also, XHR requests over fire (for instance, the test will call for the well-known.json file multiple times, and in some cases crashing the co

[2018-04-25 06:50] khushboothakkar commented on #1288
Can anyone please suggest how to bypass or automate an HTTP authentication form for login using cypress?

[2018-04-25 08:53] dcastil opened #1638 "Reverse screenshot order in dashboard"
### Current behavior:

### Versions
Cypress v2.1.0
Chrome v65
Mac OS v10.13.4

[2018-04-25 09:07] dwelle commented on #1620
@brian-mann @jennifer-shehane yep, no prob. Was just confirming it's not just me.

[2018-04-25 09:52] ahmehri commented on #1619
Does this means that cypress doesn't support Fetch API?

[2018-04-25 10:07] opsb commented on #418
Email does seem like a common scenario that would require an additional domain. The solution we went for was to use https://mailcatcher.me/ to make the emails available in the browser then add a proxy to webpack-dev-server so that it could be accessed on the same host as the webapp. That way you can treat the email as just another page, visit it and click the link.

[2018-04-25 10:46] Gennadiii commented on #1631
Unfortunately I can't provide an example. This issue reporduces with accordions, dropdowns and one link with svg inside.

[2018-04-25 10:53] darina-techery commented on #1619
It doesn't. There is an open issue for that: https://github.com/cypress-io/cypress/issues/687

[2018-04-25 12:46] Narretz opened #1639 "Basic auth in baseUrl does not work in electron browser"
### Current behavior:
If I have a `baseUrl` in `cypress.json`:
[code]

then a basic `cypress run` does not work. I get this error:

`Timed out waiting for the browser to connect. Retrying...`

This also happens if I run `--headed`.

It *does* work in latest Chrome (66).

### Desired behavior:

It should open the page with basic auth data.

### Steps to reproduce:
1. Add `baseUrl` to `cypress.json`

[2018-04-25 13:25] tascioglu commented on #1624
hi @jennifer-shehane At this moment I don't have many code.. because after it didn't worked, I was frustated and deleted it.. :smiley:

but it's nothing else then:
1. Go to the site : cy.visit('http://openlayers.org/en/latest/examples/draw-features.html');
2. Click on map: cy.get('ol-viewport').click();

I tried different things like trigger etc.. but nothing helped..

[2018-04-25 13:33] jdhines commented on #1608
I gave that a try. Setting it with the protocol `NO_PROXY=http://localhost` gave a 503 error, using just `localhost` was the right setting.

That said, setting both `http_proxy` and `NO_PROXY` results in the same test run as having **neither** set. In other words, this:
[code]

has the same effect as this:

[code]

which is
<img width="462" alt="screen shot 2018-04-25 at 9 25 29 am" src="https://u

[2018-04-25 14:25] bahmutov commented on #419
I spent some time looking into this yesterday, and could not get all the required libraries work on Alpine. If anyone can actually build Electron on Alpine Linux, then we could potentially setup a CI chain that builds Alpine-specific Cypress version, but I expect the demand to be pretty low

[2018-04-25 15:05] bahmutov commented on #419
I am going to close this for now, because Electron itself has their Alpine Linux build issue open https://github.com/electron/electron/issues/2727 (opened in 2015). If that issue is resolved successfully, we can revisit Alpine Linux support.

[2018-04-25 16:36] jdhines commented on #1608
So I've turned the FontAwesome and Bootstrap resources into local sources, and removed Tether altogether since I didn't need it, which just leaves the Google fonts I'm embedding, and I can't localize those. For tests, I wouldn't really care if the custom fonts didn't load, it's just that it tries to pull the fonts for 30 seconds, and obviously I can't build a suite of tests if each one with a `vis

[2018-04-25 18:49] mhelvens commented on #1610
Here is [a link to the working example](https://github.com/QubitProducts/cypress-test-tiny/tree/other-dirty-chai-bug) for the other bug just [discussed in Gitter](https://gitter.im/cypress-io/cypress?at=5ae0ccf227c509a7744eb0b3).

Another dirty-chai related bug.

[2018-04-25 20:47] GAO8A commented on #1304
@ValerieThoma Can replicate this problem with my project. and yes we are behind a company proxy where https://api.cypress.io/is blocked.

In headed mode, screenshots work per expected, they issue arises in headless mode where they are blank.

A simple test like this will produce a blank screenshot in headless:

`describe('Sanity', function() {
    it('True is true', function() {
      cy.visit('ht

[2018-04-25 21:54] binaryst4r commented on #751
Any updates to this?

[2018-04-25 23:55] stevenalanstark opened #1641 "Fixture Documentation example is non functional due to preprocessing of 'this'"
Please reference the documentation page here:

[https://docs.cypress.io/api/commands/fixture.html#Accessing-Fixture-Data](https://docs.cypress.io/api/commands/fixture.html#Accessing-Fixture-Data)

### Current behavior:
from the documentation, I should be able to reference `this.usersJSON`, but due to pre processing this is compiled as `undefined.usersJSON`

### Desired behavior:

compile and run a

[2018-04-26 03:32] liuyangcharlie commented on #755
Are there any updates on this issue?
We are meeting the similar problems. The element is actually visible and able to interact, but Cypress just log that it is not visible due to being clipped by one of its parent elements. And all parents elements have no style like 'hidden', 'scroll' or 'auto'.
It is a bit annoying to avoid this case by adding `force` option. Is there any better idea?
Thx

[2018-04-26 05:00] brian-mann commented on #755
@liuyangcharlie do you mind posting a reproducible example - as minimal as possible to show how Cypress incorrectly interprets elements as not visible?

[2018-04-26 05:03] brian-mann commented on #1641
@stevenalanstark this has nothing to do with Cypress and has everything to do with how Javascript works with the fat arrow. My guess is that you've put your test in a fat arrow, which then preserves the outer context outside of the test.

If you used `function() { }` it would work. Fat arrows preserve context and it's why Mocha does not suggest using fat arrows as test functions.

https://mochajs.

[2018-04-26 05:03] #1641 closed

[2018-04-26 05:05] brian-mann commented on #1638
@jennifer-shehane and @bahmutov can you look at this please?

[2018-04-26 07:41] musicformellons opened #1642 "app.$store is not available"
I am following [this blog](https://www.cypress.io/blog/2017/11/28/testing-vue-web-application-with-vuex-data-store-and-rest-backend/#Store-to-UI-and-server-API). The window.app property does appear in the console after adding the code as described, however I can not reference `app.$store`. I can reference `app.store` which indeed contains properties from my vuex store, but it does not contain the

[2018-04-26 09:54] mickosav commented on #1473
@brian-mann I'm experiencing a similar issue, and after reading everything you suggested I still don't understand the problem. I didn't want to open a new issue, so here it goes:

### Issue:
`cy.visit()` method fails in `beforeEach` hook after first test. Happens only in electron, whether i try `cypress open` or `cypress run`. It works on chrome and chromium with cypress open, but i can't (and sho

[2018-04-26 10:44] aidan99davis commented on #1642
@musicformellons  Are you using firefox?

[2018-04-26 12:19] musicformellons commented on #1642
No, I use Chrome. It might relate to my way of assigning the store to the window. I use Quasar Framework, which in current version (>0.15) does a lot of configuration based on the settings in the `quasar.conf.js` file it uses. I assigned the store by adding this code as a [quasar plugin](http://quasar-framework.org/guide/app-plugins.html):
[code]
Doing so gives me indeed the `app.store` I mentione

[2018-04-26 15:26] jennifer-shehane commented on #1638
Yes. I noticed this when working on our 3.0 release and [requested that the api reverse the order](https://github.com/cypress-io/cypress-api/issues/430), but it was pushed back as a decision for the front-end.

I can go ahead and reverse the order in the dashboard and get a quick fix out hopefully today. https://github.com/cypress-io/cypress-dashboard/issues/665

[2018-04-26 15:33] bahmutov commented on #1638
yeah, once 3.0 comes out, the screenshot order should be correct per spec / test

[2018-04-26 16:04] dericgw opened #1643 "Alias error message confusing"
Whenever using an alias, if you happen to prefix the alias like so:
[code]
Cypress will give you an error message that is a bit hard to understand. It leads you to believe that you are doing the right thing, when in fact, you are not. Have a look:

<img width="585" alt="code" src="https://user-images.githubusercontent.com/34040106/39317422-2c084120-4941-11e8-820e-950c33e47f6a.png">

As you can see

[2018-04-26 16:29] jennifer-shehane commented on #1638
Got a PR open for this https://github.com/cypress-io/cypress-dashboard/pull/666

[2018-04-26 16:58] stevenalanstark commented on #1641
@brian-mann you're absolutely right, and I knew this. oops.

I've been working in ES6 for so long, it's easy to forget when to NOT use the arrow functions.

The only one I needed to change was the .then handler.

thank you for your time, cheers.

[2018-04-26 17:32] jennifer-shehane commented on #1304
Can you try to set `HTTP_PROXY` and/or `HTTPS_PROXY` to your corporate proxy as environment variables? I detailed some of this fix here: https://github.com/cypress-io/cypress/issues/1469#issue-305961859

But for Windows, it should be something like
[code]

[2018-04-26 17:34] jennifer-shehane commented on #672
Can ya'll try to set `HTTP_PROXY` and/or `HTTPS_PROXY` to your corporate proxy as system/shell environment variables? I detailed some of this fix here: https://github.com/cypress-io/cypress/issues/1469#issue-305961859

[2018-04-26 17:35] jennifer-shehane commented on #939
Can ya'll try to set `HTTP_PROXY` and/or `HTTPS_PROXY` to your corporate proxy as system/shell environment variables? I detailed some of this fix here: https://github.com/cypress-io/cypress/issues/1469#issue-305961859

[2018-04-26 17:43] NoMan2000 commented on #281
I think the main problem is context switching.  Jest/Jasmine and Mocha/Chai/(Insert Ten Thousand other plugins) style assertions are kind of close, but also very different.  I hate having to write two different sets of tests, even though it's a minor gripe, anything that makes testing easier is a win in my book.

[2018-04-26 18:41] egucciar commented on #672
Try the no_proxy setting too. That was the key for some of our devs

[2018-04-26 19:06] jennifer-shehane commented on #1643
The alias gets sent to this `validateAlias` function and *does* have some checks for the type of argument it can have. Another `if` statement could easily be added here to throw an error if they alias begins with `@`

Code here: https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cy/aliases.coffee#L17

Please feel free to contribute/open a 'Work in Progress' PR. 😄

[2018-04-26 20:48] musicformellons commented on #1642
Ah, solved: see [here](https://stackoverflow.com/questions/50037628/can-not-get-vuex-state-using-cypress/50040210#50040210)!

[2018-04-26 20:48] #1642 closed

[2018-04-26 23:02] paul-hammant opened #1644 "Mac usage should be able to accept a command line arg for project"
Typing:

`open . -a Cypress`

.. on the mac will invoke:

`/path/to/Cypress.app/Contents/MacOS/Cypress /path/to/currentDirectory`

.. but Cypress ignores that argument :-(

It would be great if it did not :)

[2018-04-26 23:33] chhuang commented on #1276
@brian-mann what do you mean by "guard cypress"? In your example,

[code]

I'm trying to do something similar, the only difference is that my click (the first line) triggers a client side routing instead of a browser redirect. But when I check the URL (the second line), sometimes the URL hasn't changed yet (the page takes a bit to transition). This is happening mostly on CI, but sometimes also on

[2018-04-27 02:04] jennifer-shehane commented on #1638
This should be fixed now.

[2018-04-27 07:36] dcastil commented on #1638
Now when I switch between the tabs, the order of the screenshots changes. So when I am on the page of a CI build in the Cypress dashboard and click on "Screenshots", they are ordered in chronological order. But when I click on "Output" and then "Screenshots" again, the screenshots are in reversed chronological order. 😄

[2018-04-27 08:28] richban commented on #136
Any new updated regarding this issue. The workarounds mentioned about does not work for me.

I have tried @paulfalgout solution as well as @smith64fx . I'm using [react-stripe-elemets](https://github.com/stripe/react-stripe-elements) `Stripe API`

**Cypress Command**
[code]
**Integration**
[code]
**cypress.json**
[code]

However still get errors:
**errors**
[code]

[2018-04-27 09:34] lobor opened #1645 "Cypress errors on cy.type in an input type='phone'"
When writing the following code, an error displays saying cy.type can't be used on the specified input with `type="phone"`

###Example Code

[code]

###Error
[code]

It needs to be whitelisted to allow typing into similar to types text, search, url, etc.

[2018-04-27 11:03] WickyNilliams opened #1646 "Cannot click links if text inside is truncated with CSS"
### Current behavior:

If an anchor contains truncated text, it cannot be clicked. Cypress thinks it has dimensions of 0x0

### Desired behavior:

It should be able to click the anchor

### Steps to reproduce:

[code]

### Versions

2.1.0, OSX, Chrome 65

[2018-04-27 11:59] roy46 commented on #761
@rafaelchiti did you have any success with the PubNub long polling and Cypress? Some of the functionality i want to test is dependent on it so I don't really want to stub it out.

[2018-04-27 12:11] rafaelchiti commented on #761
mm I managed to get it going but seemed a bit off the stuff I had to do. Let me share the example here. I followed what dracos suggested. Either way I didn't experiment much, after this I switched to Test Cafe (due to other company requirements).

My test would have this:
[code]

my commands.js
[code]

my make file for running them:
[code]

I only executed the clean up when running the whole suite

[2018-04-27 12:37] bahmutov commented on #1644
so a couple of things
- Cypress binary is NOT meant to be invoked directly (because of CLI argument parsing that happens in the NPM package `cypress`)
- `cypress` package already allows you to pass the project path, just maybe install cypress globally and run
[code]

[2018-04-27 12:37] #1644 closed

[2018-04-27 13:55] ahmehri opened #1647 "Posting formData using cypress doesn't work"
### Current behavior:
Uploading file via `POST` request of `formData` doesn't work.

### Desired behavior:
Being able to post `formData` using cypress `POST` request.

### Steps to reproduce:

The following code doesn't work.

[code]

### Versions
cypress@2.1.0
ubuntu 16.04 LTS
Chrome 66.0.3359

[2018-04-27 16:12] brian-mann commented on #1276
@chhuang guards are assertions and company, documented here: https://docs.cypress.io/guides/core-concepts/introduction-to-cypress.html#Assertions

Per what you're trying to do all that sounds right - you'd add an assertion, but ideally you'd instead wait directly on the XHR's to complete as opposed to the side effect of the page loading and the URL switching. Those waits are automatically attuned

[2018-04-27 16:14] brian-mann commented on #1647
You likely just want to read in a fixtures data and set it as the body. I'm not seeing a reason to construct an arbitrary formdata object in the browser when you can bypass these restrictions directly... I guess maybe it would change your server's implementation? Do I have that right?

[2018-04-27 17:01] jennifer-shehane commented on #1646
This has nothing to do with the text being truncated, but rather with the fact that the anchor link does have a height and width of 0, so the anchor link is effectively unclickable, taking up zero space in the DOM - If you want users to be able to click the anchor link directly, you'll have to update the css so that it has an effective width and height.

Clicking on the span works because the clic

[2018-04-27 17:35] atomboulian commented on #311
My question is the same as @zth. Seems like this would be true, but I just want to confirm. There are medium articles talking about file uploads not being supported, even in February of this year.

[2018-04-27 17:45] WickyNilliams commented on #1646
Yeah I considered using that, but didn't want to risk masking any future issues in my app (also wanted to confirm this wasn't a bug with cypress). I'll fix via css instead. Thanks again!

[2018-04-27 20:46] jennifer-shehane commented on #1645
`phone` is not a valid input type in html, `tel` is valid. If you are able, update your html: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel

That being said, many users have asked us to loosen our validation logic, which is being tracked in this issue: https://github.com/cypress-io/cypress/issues/586

[2018-04-27 20:46] #1645 closed

[2018-04-27 20:51] jennifer-shehane commented on #987
Have you tried setting up a `.route()` to listen to the `api/config` endpoint and ensuring you `.wait()` for that endpoint before continuing with the rest of your test steps? Cypress has no way to know that your view depends on this endpoint's returning otherwise. https://docs.cypress.io/api/commands/wait.html#Alias

[2018-04-28 10:00] paul-hammant commented on #1644
That's an arbitrary decision. The "load a project" capability exists within the UI itself, and could *easily* have equivalent functionality from the Mac-command-line launching of the UI.

[2018-04-28 12:08] bahmutov commented on #1644
Believe us - after 4 years, 11k commits and 1600 issues, no decision is arbitrary, but made after considering all pluses and minuses.

[2018-04-29 08:38] OmriAharon commented on #1265
I have a login server I have no control over, and stubbing responses is too complicated and feels incorrect, since I also have other api requests that rely on cookies I get from said login server.
Since that login server is on a different URL, trying to do a `cy.visit('/')` to my local env results in the single unique domain error. I have no way around that.

[2018-04-29 11:57] barryskal commented on #1366
This was pretty frustrating to fix, but I managed to come up with the following work around that played nicely with redux form.
[code]

[2018-04-29 17:52] szymach commented on #1274
Yeah I've just ran into an issue, where a `select()` did not work due to a non-braking space in the inner HTML of the option. In XPath I could just normalize spaces and it would work just fine, so definitely a +1 from me.

[2018-04-30 00:45] brian-mann commented on #1589
Going with this as error message...

[code]

[2018-04-30 03:56] milewski opened #1649 "Chinese Mirror for the pre-build binary?"
is there any server mirror for china? i'm facing terrible network issues downloading the binary trough npm

[code]

preferably something i can drop inside a `.npmrc` among the other ones i currently have

[code]

[2018-04-30 04:16] milewski commented on #1649
well.. i guess i have to host it myself for the time being:

as stated here: https://docs.cypress.io/guides/getting-started/installing-cypress.html

[code]

[2018-04-30 04:16] #1649 closed

[2018-04-30 06:48] gregevari commented on #1623
I can't reproduce this outside our app, and it turns out that as I get further down the request chain the problem goes away so I'll close this though there is still something of an issue there.  Thanks for your help @jennifer-shehane!

[2018-04-30 06:48] #1623 closed

[2018-04-30 08:48] fmeyszies commented on #1274
+1. Adding a data-cy attribute is a nice way, but we should be allowed to use xpath as well if we don't want to add any code specifically for testing.

[2018-04-30 14:53] jennifer-shehane opened #1650 ".type() error is inaccurately stating what can be typed into"
### Current behavior:

If you call `.type()` on an element that is not supported for typing, the error displays:

[code]

### Desired behavior:

This error message is inaccurate and has led to a lot of confusion for users on what `.type()` supports typing into. In actuality, we support typing into:

- HTML `body` and `textarea` elements
- Elements with a defined `tabindex` attribute
- Elements wit

[2018-04-30 16:45] jennifer-shehane commented on #1650
Due to the fact that the supported type elements could *change* per version of Cypress - the error message should *not* link to an outside doc and instead include a list of supported type elements.

Ideally, this list should be generated from the actual options checked, so they should be sent to the error message and generated from there.

[2018-04-30 17:34] bdruth opened #1652 "XHR's displaying as 'aborted' when they are not"
### Current behavior:
When running a cypress spec, many (but not all) XHRs are shown as 'aborted' in the Cypress test runner when they are not, in fact. Chrome dev tools `Network` tab shows successful XHRs and the app is working as designed, completing requests with no errors. We have one spec, currently, and the spec contains three tests: login / access app / use app. During the _access app_ test

[2018-04-30 21:00] joshacheson commented on #686
Is there any progress on this issue, or can anyone shed light on how product / engineering at Cypress are viewing this? Resolution (or knowing this is a no-op) on this issue would help me a great deal when it comes to evaluating whether or not Cypress is the best solution for problems I'm trying to solve.

[2018-05-01 12:05] paulpruteanu opened #1654 "Plugins API - preprocessing with source file - electron/ chrome run"
### Current behavior:
Not being able to run "cypress run" (default to electron), when preprocessing the source file.
Ending up in "Uncaught ReferenceError: require is not defined"

### Desired behavior:
To be able to run it successfully.

### Steps to reproduce:
[code]

<img width="800" alt="screen shot 2018-05-01 at 13 04 45" src="https://user-images.githubusercontent.com/8288389/39472298-4efccab

[2018-05-01 13:44] ErikSeyferth opened #1655 "[Bug] headless test fails to click checkbox, headed test has no problems"
### Current behavior:
When I run a e2e test testing a shop flow in headless mode the test fails to click the "accept terms and conditions" checkbox. When I run the test in browser mode it succeeds without problem.

My guess is that cypress fires the click event on checkbox too soon and our JS may not be ready yet to process the click. Adding a cy.wait(300) fixes the problem for now.. but using man

[2018-05-01 14:33] jennifer-shehane commented on #1655
Hi @ErikSeyferth You are correct, adding `cy.wait(300)` is not ideal. Usually getting to the bottom of these issues involves asserting the state of your application before acting.

The very act of attempting to `check` the checkbox does assert a lot of the state of the checkbox as outlined [here](https://docs.cypress.io/guides/core-concepts/interacting-with-elements.html#Actionability), so I wonde

[2018-05-01 14:33] chrisbreiding commented on #1654
By configuring the preprocessor in either of those ways, you're bypassing the default preprocessing and bundling that Cypress does. That means you can't use any features that aren't supported by the browser you're running the tests in. In this case, it looks like there's a commonjs `require()` in your code or code you import, which isn't supported by any browser. If you use the default preprocesso

[2018-05-01 14:41] ErikSeyferth commented on #1655
Hi @jennifer-shehane thanks for the comment. I did try this assertion and the state of the checkbox is that it is unchecked (in video and screenshot). Why this is the case i cannot discern from the video/screenshot.

[2018-05-01 15:08] paulpruteanu commented on #1654
@chrisbreiding yes. My requirement is to selectively pre-process some of the tests (not all). So instead of browserifying everything just for make it compatible with the browser, isn't any other way?

[2018-05-01 15:13] chrisbreiding commented on #1654
You need to browserify anything that's not compatible with the browser. There's no getting around that. You can certainly do that selectively, but it will require a little bit of logic. Something like:

[code]

[2018-05-01 15:15] chrisbreiding commented on #1654
Sorry, that wasn't complete before I submitted it.

[code]

[2018-05-01 15:15] paulpruteanu commented on #1654
@chrisbreiding we're rounding in circles. Promise.resolve(file.filePath) won't work on the browser given the reasons you explained. Ideally there should be a way to exit the callback without resolving anything, which would let the normal preprocessor kick through.

[2018-05-01 15:17] chrisbreiding commented on #1654
Please see my above comment. The one above that had incomplete code.

[2018-05-01 15:18] paulpruteanu commented on #1654
@chrisbreiding [the watcher](https://github.com/cypress-io/cypress-watch-preprocessor/blob/master/index.js) returns filePath (source file), which gets us back to square one.
[code]

[2018-05-01 15:25] chrisbreiding commented on #1654
How are your files being processed in the case where you don't want them browserified?

[2018-05-01 15:30] paulpruteanu commented on #1654
Nope. For the ones that does not need processing, they should flow into the default native pre-processor.

[2018-05-01 15:33] chrisbreiding commented on #1654
What does it mean for those files to be 'processed regularly'?

[2018-05-01 15:37] paulpruteanu commented on #1654
They get transpiled by the default preprocessor, outside the Plugins API, right?

[2018-05-01 15:39] chrisbreiding commented on #1654
If that's the case, then why is there no output path? Also, can you explain why some files do not need to be or cannot to be processed?

[2018-05-01 15:45] paulpruteanu commented on #1654
On the first install, you won't an output directory eg `/Library/Application\ Support/Cypress/cy/production/projects/cypress-example-todomvc-a60a329e6511b7eefa5286529d267046/bundles/cypress/integration/app_spec.js`, therefore you can't do Promise.resolve(file.outputPath), because there's nothing there processed already.
Therefore, resolving it to file.filePath would get me in trouble with the brow

[2018-05-01 15:55] chrisbreiding commented on #1654
I see. In that case, is it alright if they don't run instead of being skipped with `xit`? If so, the following should work:

* Create an 'empty' test file with the contents `it('skipped feature')`
* Conditionally Promise.resolve the path to that file for any test file that needs to be skipped

That way you're resolving a file that exists while skipping tests you don't want run.

In `3.0`, which is

[2018-05-01 15:55] brian-mann commented on #1654
This sounds like an elongated `XY problem` that is finally realized at the end. If you're trying to skip tests conditionally there is a much better way to do that.

You could simply wrap `describe` blocks into a conditional, or handle this in a `beforeEach` by parsing the test title and running `this.skip()` inside of the test.

[2018-05-01 16:02] paulpruteanu commented on #1654
@chrisbreiding my requirement is to still be able to run other "its" within the file, so this won't work.
@brian-mann I get your point, but this would mix the toggling with testing concern, I'd rather keep it separated. With the current implementation, I only need to amend a mapping.json which links certain test.js files to certain `it`s within, and leave it to a pre-processor to transform the fil

[2018-05-01 16:25] jennifer-shehane commented on #1655
Oh no. :/ Well, if you do believe this is a bug on our part, we have to some sort of a reproducible example before we can investigate.

[2018-05-01 16:50] paulpruteanu commented on #1654
`process.setMaxListeners(0);` fixed it for me. Ref on issue [here](https://stackoverflow.com/questions/9768444/possible-eventemitter-memory-leak-detected).

[2018-05-01 16:50] #1654 closed

[2018-05-02 02:06] paulbao commented on #940
There's workaround that might be helpful to people who have the same issue.
`cy.get("#PrimaryPhone").then($input => $input.val('123) 456-7890')).should('have.value', "(123) 456-7890")`

[2018-05-02 10:04] mattcopas opened #1657 "cy.visit() timeout ignored"
I require a longer timeout when visiting my project's site (as a docker image needs to boot up first).

I understand there are 2 ways to do this - either set pageLoadTimeout: 600000 in cypress.json or use cy.visit(url, {timeout: 600000})

I've tried both of these techniques but the test still times out and fails after a minute (default) - so it would seem these values are being ignored.

### Curre

[2018-05-02 10:15] fbring commented on #1598
I had a similar issue when I updated from **1.3.0** to **2.1.0**.

I removed the auth credentials from the baseUrl and pasted them into the options of `cy.visit()`.

**Before**
[code]

**After**
[code]

Now it works for me. Maybe this is helpful.

[2018-05-02 12:35] nvangiessel commented on #1434
Any idea's on this issue guys? Would love to upgrade to newest version of Cypress. Same error occurs on our gitlab/docker. Platform: linux (Ubuntu Linux - 16.04).

If I directly open /Users/nvangiessel/projects/check-cypress/node_modules/cypress/dist/Cypress.app, it starts the app, but can't open/run tests via command line.

[2018-05-02 12:55] rvanmarkus commented on #1485
+1

[2018-05-02 13:52] bahmutov commented on #1434
@nvangiessel can you paste your docker file if possible? I think chances to recreate segmentation fault are higher in Docker environment than on Darwin, because it does not happen

[2018-05-02 13:55] bahmutov opened #1658 "Upgrade Electron to 2.0.0"
New release of Electron https://electronjs.org/releases#2.0.0

Summary

- Upgraded from Chrome 59.0.3071.115 to 61.0.3163.10.
- Upgraded from Node 8.2.1 to 8.9.3.
- Upgraded from v8 5.9.211.38 to 6.1.534.41.

### Breaking API changes

- Changed menu.popup signature.
- Removed deprecated crashReporter.setExtraParameter
- Removed deprecated webContents.setZoomLevelLimits and webFrame.setZoomLevelLim

[2018-05-02 14:10] bahmutov commented on #1434
also @nvangiessel can you see if there is a crash report from Cypress Electron app when it starts in `/tmp/Cypress` by any chance?

[2018-05-02 14:12] bahmutov opened #1660 "Make sure when Electron crashes there is a crash report"
To debug issues like #1434 we should make sure there is Electron crash report saved (see https://electronjs.org/docs/api/crash-reporter)

- [ ] how to reliably crash Cypress on Mac? Really need segmentation fault like this one
[code]
- [ ] does it write message about the crash into `/var/log/system.log`?
- [ ] make sure the report file is saved
- [ ] put the report and instructions to the user in

[2018-05-02 14:17] bahmutov commented on #1434
@nvangiessel is there a message in `/var/log/system.log` after the segmentation fault?

[2018-05-02 14:40] kutlaykural commented on #669
@jennifer-shehane
Hi!
Same code is not work for me. Trigger with "drop" not gives any reaction at dropable area.

dataTransfer object is little different:

![image](https://user-images.githubusercontent.com/38225108/39529408-49fc16c8-4e2f-11e8-9357-08631186241c.png)

Do you have any idea why it is not "FileList" but "Array"
Can this be cause of the problem?

thanks for advise

[2018-05-02 16:13] nothingismagick opened #1661 "Tabs are hard to read when inactive"
### Current behavior:
![screen shot 2018-05-02 at 18 10 35](https://user-images.githubusercontent.com/35242872/39535481-50d879c8-4e34-11e8-8911-8f9abc2043b0.png)

### Desired behavior:
Perhaps a contrasting color / hue instead of Black text on Dark Gray tab.

### Steps to reproduce:
Open a second tab.

### Versions
v2.1.0 MacOS Chrome

[2018-05-02 17:01] bahmutov opened #1662 "When the binary fails to download add a message about proxy"
In CLI if the binary download fails, in the error message tell about proxy environment variables.

[2018-05-02 17:01] Bkucera opened #1663 "When binary fails to download, add error message about potential corporate proxy"

[2018-05-02 17:03] bahmutov commented on #1663
duplicate of #1662

[2018-05-02 17:03] #1663 closed

[2018-05-02 17:08] jennifer-shehane opened #1664 "Improve printing error messages in Test Runner"
### Current behavior:

When long error messages print on failure, it is cumbersome to scroll through the entire message to get to the next failing test. It is also just hard to work with errors in the Test Runner as they are plain ole' strings.

**Error message in Test Runner goes on forever - look at that scroll bar!**
<img width="556" alt="test-runner-long-blurred" src="https://user-images.githu

[2018-05-02 18:06] jennifer-shehane commented on #1657
Hi, I did some research into this issue and have come to a few conclusions:

1. The `timeout` option is not being ignored. You can verify this by setting the `timeout` to a lower value and see that it times out more quickly than the default `60000`ms.
2. The reason this is failing is because network connections that are not finished are eventually timed out by Cypress/the underlying operating syst

[2018-05-02 18:06] #1657 closed

[2018-05-02 20:09] jennifer-shehane opened #1665 "running 'npm start' from driver package errors"
Run `npm start` in the `packages/driver` dir and get error:

[code]

[2018-05-02 23:00] egucciar opened #1668 "Using Cypress.config to set 'modifyObstructiveCode' has no affect."
### Current behavior:

When using

`Cypress.config('modifyObstructiveCode', false);`

in an `it`, the test runs as if this value was not set

### Desired behavior:

When using

`Cypress.config('modifyObstructiveCode', false);`

in an `it`, the test should run as if this value was set in cypress.json

### Steps to reproduce:

Create a test that behaves differently depending on this configuration be

[2018-05-03 00:55] egucciar commented on #1668
Thank you so much for the prompt response!

My use case is we have an app that can be distributed to third parties. In some cases it can be loaded in an iframe, in other cases it will not be. Also there are use cases where the app is embedded in our app. We need to ensure clicking on back button brings user back to the necessary location in all 4 use cases. One of these use cases involves an ifram

[2018-05-03 01:05] James-E-Adams opened #1669 "TypeError: Cannot read property 'replace' of undefined" at Object.appendErrMsg"
### Current behavior:
This is a weird issue that is isolated to a single machine.

If I try run a test file with more than one or two tests, I get the following:
<img width="645" alt="screen shot 2018-05-03 at 10 59 12 am" src="https://user-images.githubusercontent.com/9067274/39556082-11b6179a-4ec1-11e8-81d9-524004cdcd00.png">

The stack trace:

[code]

The test spec file like:

[code]
and the `a

[2018-05-03 01:51] CaiYiLiang commented on #1506
Any update?
{"chromeWebSecurity": false} does not work for me either.
I think it works well before version 2.10

[2018-05-03 01:54] brian-mann commented on #1506
@asos-arun @CaiYiLiang there is nothing to do here. The option works as advertised. Stripping `x-frame-options` from remote servers requires funneling all requests through the proxy which is a significant change and is a separate issue altogether and has nothing to do with disabling web security. Previous works all work the same way.

[2018-05-03 10:56] nWidart opened #1671 "Cypress There is no Internet connection"
### Current behavior:

When running `cypress open` and clicking `Run All Tests`, the chrome browser opens but with the following message:

[code]

![image](https://user-images.githubusercontent.com/882397/39572875-40066fc2-4ed1-11e8-86d2-088aae0e9198.png)

### Desired behavior:

The browser opens correctly.

### Steps to reproduce:

### Versions

- `2.1.0`
- Chrome 66

Thanks!

[2018-05-03 11:13] nvangiessel commented on #1434
@bahmutov
I've managed to start a new docker container locally (with our own Dockerfile) and install cypress on it without any problems. Found out that it had to do with a environment env which was set on my machine+build. If you set this ENV var, the installation fails:
`export NODE_OPTIONS=--max_old_space_size=4096`

[2018-05-03 11:27] nothingismagick opened #1672 "Globally installed cypress not finding local project"
### Current behavior:
When:
 - cypress has been installed globally
 - cypress tests and configs have been generated in the project folder
 - starting a cypress instance from within a project folder via CLI

It:
 - can't find the project immediately

![screen shot 2018-05-03 at 12 03 06](https://user-images.githubusercontent.com/35242872/39570866-ff18810a-4ec9-11e8-9609-27da6cf47c2a.png)

### Desir

[2018-05-03 13:43] bahmutov commented on #1434
@nvangiessel thanks for tracking this down, never heard of this Node option!

Ok on Darwin too this silently fails
[code]
Something for me to work on!

[2018-05-03 13:46] bahmutov opened #1673 "If DEBUG=cypress variable is set, print NODE_OPTIONS too"
Node 8.x allows passing node variables via NODE_OPTIONS environment variable (see https://medium.com/the-node-js-collection/node-options-has-landed-in-8-x-5fba57af703d). This can affect Cypress in unexpected ways, including silent fails, like in https://github.com/cypress-io/cypress/issues/1434#issuecomment-386261422

To allow debugging this, if `DEBUG=cypress...` is set, we need to print `NODE_OP

[2018-05-03 13:56] Gennadiii opened #1674 "Update request module to latest version in order to reduce vulnerability isseus"
Current "request" version has vulnerability issues with it's dependencies

Cypress version 2.1.0 uses request module version 2.81.0 which is dependent on hoek module version 2.16.3 which has vulnerabilities issues found by GitHub. Latest request module uses hoek version 4.2.1 which is safe.
![2018-05-03 16_51_06-tcm-website c__users_gmish_repos_tcm-website - _tests_integration_package j](https://u

[2018-05-03 14:28] bahmutov opened #1676 "Do not exit with 0 when running with NODE_OPTIONS"
## bug

When using `NODE_OPTIONS=--max_old_space_size=4096` Cypress run through CLI silently fails but the exit code is 0.

- why is this option affecting the run?
- why don't we exit with 1?
- why don't we print the problem?

[code]

[2018-05-03 14:29] bahmutov commented on #1676
Related to #1675 and #1434

[2018-05-03 14:36] bahmutov commented on #1676
The option itself is undocumented v8 flag
- https://github.com/nodejs/node/issues/7937
- https://github.com/thlorenz/v8-flags/blob/master/flags-0.11.md#max_old_space_size-0-integer
[code]

[2018-05-03 14:38] bahmutov commented on #1676
Some experiments
[code]

[2018-05-03 14:50] bahmutov commented on #1676
Electron v1.8.3, v2.0.0 crashes when `NODE_OPTIONS` is set https://github.com/electron/electron/issues/12695

[2018-05-03 15:34] jennifer-shehane commented on #1674
We definitely intend to do better about updating our dependencies and intend to implement [renovate](https://github.com/renovateapp/renovate) sometime in the future.

That being said, Cypress is immune to most if not all security vulnerabilities because its locally run software - not a web server hosted in the cloud. Something like this would be almost impossible to trigger unless the user of Cypr

[2018-05-03 15:42] jennifer-shehane commented on #1671
Hi @nWidart, this error usually displays when:
1. You don't have internet (I'm sure you've already determined this is not the issue 😉)
2. You are behind a corporate proxy - I suggest following the env vars workaround outlined [here](https://github.com/cypress-io/cypress/issues/1469).

Let me know if the proxy workaround solves your issue!

[2018-05-03 15:49] jennifer-shehane commented on #1669
Can you try adding this to your suite and seeing what the `err` is here?

[code]

[2018-05-03 16:00] nWidart commented on #1671
Hello,

Indeed I was the issue about the corporate proxy, but even when not on the vpn it wouldn't work.
It worked before also on this same vpn.

Strangely what did work, however, was rebooting the computer 😄

Not sure what went on, but I guess it can be considered as resolved then :)

Thank you for your reply.

[2018-05-03 16:01] #1671 closed

[2018-05-03 17:33] #1672 closed

[2018-05-03 18:17] rgrigel commented on #1639
We ran into this issue in our project when updating Cypress from `1.4.2` to `2.1.0`. There is a workaround based on (https://github.com/cypress-io/cypress/issues/1115).
We extended Cypress's `visit` command with:
[code]
and we are running it with:
[code]

[2018-05-03 18:25] jennifer-shehane opened #1677 "Proposal: Regular Release Cycle"
# Proposal

Release a new version of Cypress every 2 weeks.

There are many pull requests that are merged in and working in the `develop` branch that do not get released regularly and makes users 😢

# To Achieve

The main challenge in achieving a regular release cycle is our internal process. We will need to be stricter about our branching strategy and release process.

- `develop` branch should a

[2018-05-03 18:41] brian-mann commented on #181
@necinc awesome - thanks for that.

I've got good news and bad news for you.

The good news is that one of our devs has spent the last month working on this to its fullest capacity. It may initially look really simple to do, but there is a ton of complexity around taking the screenshot at the right time. For instance, we found that Cypress itself does not actually paint or render synchronously (ev

[2018-05-03 18:48] Igcorreia commented on #1620
+1

[2018-05-03 18:54] brian-mann commented on #1672
@nothingismagick @Bkucera says you will prove you wrong and finish caching the binary :-P

We know a lot of our users want this. We're doing the "simplest" thing first which is to cache Cypress versions globally and reuse them between all projects.

After that you'll see us do things like caching `ffmpeg` between versions (to reduce the size of downloads) and then from there do the same thing with

[2018-05-03 19:53] nothingismagick commented on #1672
I trust that @Bkucera is fully aware of how awesome it would be to have the binary cache'd outside the local scope of the project - and having a pathway for me to dynamically link an ffmpeg binary (that I have built and trust) would also offload some of the bulk of the package. Of course that would also need to be a different kind of (probably wrapped) install process, because yarn/npm aren't real

[2018-05-03 20:49] hally9k commented on #1440
@brian-mann Any chance of that `2.x.x` patch release you mentioned?

[2018-05-04 00:54] ikornienko commented on #695
@jennifer-shehane thank you for the suggestion! Can you clarify, why `cy.get('#query-btn').invoke('width').should('be.gt', 0)` won't fail, but `cy.get('#query-btn').click()` fails? What I mean is that if Cypress is smart enough to do retries / reselects of the element when assertion doesn't work, why cannot it do the same for the actions? Of course, if you had an action earlier in a chain, it shou

[2018-05-04 04:08] loicplaire commented on #190
I would agree that it would be a very useful feature. For example on our project we rely on the Cloudfront `cloudfront-viewer-country` header to geolocate our users so I would like to add that header when mocking the page request without modifying anything else in the response.
Without it, I can't think of any other way to test our geolocation feature.

[2018-05-04 07:30] nWidart opened #1678 "Multiple files, multiple beforeEach, not all run"
Hello,

### Current behavior:

I have 2 test files, both have their `beforeEach` with some commands that stub xhr requests.
However, only one of the 2 `beforeEach` sections gets run. I do see it in the "Routes" section, but with 0 hits.

When I run both files in isolation, they work as expected.

Example command:

[code]

### Desired behavior:

Each `beforeEach` section should allow commands to be

[2018-05-04 08:47] A-Industry commented on #987
Hi, I have a similar problem. I request my application with cy.visit('/'). The application starts fetching data, but most of the times this will result in a 401. (even on the login page). This is expected behaviour, but catching the error with Cypress and returning false still results in the tests not continuing.
Is there a way to recover from an XHR error? This should not affect my tests

[2018-05-04 11:32] adriantoine opened #1680 "Issue with domains in 'baseUrl' having several dots"
### Current behavior:
I'm trying to tests a website on an Azure domain which looks like:

[code]

When I try to run cypress, I'm getting the following error:
[code]

If I try to run `cypress run`, my terminal just hangs after `(Tests Starting)` without stopping or showing any error.

### Desired behavior:

The site is testable.

### Steps to reproduce:

See above.

### Versions

2.1.0

Also, it se

[2018-05-04 14:14] jennifer-shehane commented on #1678
When you run your tests with "run all" or using `cypress run` currently, we basically merge all of the test files together into one "big file". This will [change soon](https://github.com/cypress-io/cypress/issues/681).

I'm not exactly clear as to what is happening since there is no code provided for each spec file. Are you wrapping the `beforeEach` in each file within a `describe` or `context` bl

[2018-05-04 14:17] nWidart commented on #1678
I have indeed 1 global before each in each file, *and* before each in describes.

I don't see what code could clarify this as it's straightforward but:

The global one:

[code]

In describe:

[code]

[2018-05-04 14:18] jennifer-shehane commented on #1680
Can you install an earlier version of Cypress and confirm that this is a regression in 2.1.0? That would help narrow down the issue. [Earlier versions](https://on.cypress.io/changelog)

[2018-05-04 14:32] jennifer-shehane commented on #681
Reopening for issue tracking purposes - since this is an epic with multiple issues within it in Zenhub. The work for the issue itself has been done.

[2018-05-04 14:35] brian-mann commented on #1678
I am 100% sure there is not a bug in the way this works - but there is likely a misunderstanding of how it works.

Hooks come from `mocha` and they definitely work as advertised. they are added in the order they appear. Having multiple root level `beforeEach` or `before` hooks will all work together. I would put a `console.log` or `debugger` statement in each and I'm very confident they will indee

[2018-05-04 14:36] nWidart commented on #1678
I have only one root level beforeEach _per file_. The issue is apparently when merging multiple files together.

[2018-05-04 14:49] adriantoine commented on #1680
Sorry my bad, it wasn't working on previous versions, the difference is that in previous versions there wasn't a `baseUrl` setting.

Instead I was using `cy.visit` using the full URL:
[code]
and that still works.

At the moment I have:

[code]

and I have a config like that for prod testing:

[code]

and one like that for local testing:

[code]

so that I can switch between environments easily.

I

[2018-05-04 15:12] defel commented on #1192
FYI: I had to install `mocha` as a dev-dependency - peer-dependency didnt work

Context: I use lerna and yarn as a monorepo, also had to add cypress, mocha, and mochawesome to nohoist.

package.json on root:

[code]

[2018-05-04 15:21] jasonellington opened #1681 "Failing at Redirect"
### Current behavior:
I am accessing my local project at http://drupal.docker.localhost.website.com:8000/ and then I am doing a form submission. Upon form submission it goes to another url (same domain) http://drupal.docker.localhost.website.com:8000/after/form/submit and instead of staying on the page, it suddenly goes to the page with "Sorry, there are no test to run"

## a few notes
* I am on a

[2018-05-04 16:25] jennifer-shehane commented on #1678
If you want to run a `beforeEach` globally shared and run before every file, I suggest you put it in a `support` file as outline [here](https://on.cypress.io/writing-and-organizing-tests#Support-file).

I'd have to investigate more on whether this is an issue - but this is a suggestion for now.

[2018-05-04 16:27] jennifer-shehane commented on #1681
Could you try running the current workarounds, specifically about "environment variables" with corporate proxy as outlined in https://github.com/cypress-io/cypress/issues/1469 and let me know if this resolved your issue?

[2018-05-04 16:28] nWidart commented on #1678
Thank you.
The issue, however, is more than about the global beforeEach in those 2 files. I could indeed extract those out, even though I need custom global before each in each file, which makes this not possible.

Every before each the in the second test didn't get touched, making the test fail. The workaround is to copy the code in the multiple beforeEach blocks in every test, which works but pr

[2018-05-04 16:32] jennifer-shehane commented on #1680
We're unaware of an issue with this currently, but it helps narrowing this down to `baseUrl`.

We had issues with this/something similar a while back that were fixed in [1.4.2](https://github.com/cypress-io/cypress/issues/1175)

[2018-05-04 16:35] jennifer-shehane commented on #1678
Can you just wrap a larger describe within each file to contain the global `beforeEach` as described in my original comment?

**file1.js**
[code]

**file2.js**
[code]

[2018-05-04 16:57] paulmoliva commented on #819
Anything new with this? I'm getting a similar output with `cypress/browsers:chrome65-ff57`

`It looks like this is your first time using Cypress: 2.1.0

[?25l[16:42:08]  Verifying Cypress can run /home/ec2-user/jenkins/workspace/pps_ooe-branch_jenkins-test-ADD3QMT6D2GQ3ZNOOXURXV2H5Z7WHQNGRIFSCPHGP6CPHN5QRKXQ@2/node_modules/cypress/dist/Cypress [started]
2018-05-04T16:42:08.277Z cypress:cli writin

[2018-05-04 17:04] nWidart commented on #1678
I have beforeEach sections in multiple `describe` "blocks", which don't get called.

[2018-05-04 17:44] jasonellington commented on #1681
@jennifer-shehane

* I attempted to NO_PROXY to prevent hitting corporate proxy - same behavior
* I downloaded via the direct download and that doesnt even run my test, says: "Whoops, we can't run your test"

[2018-05-04 18:08] jennifer-shehane commented on #1678
Ok, so, I should have taken a closer look to begin with at what the code was doing . You made the assertion that the `beforeEach` was not working - and I jumped into that assumption, but I believe the issue is how the order of these commands are structured.

You will *always* want to set up `cy.server()` and `cy.route()` before calling a `cy.visit()`. The route definition is saying - "listen for t

[2018-05-04 18:10] nWidart commented on #1678
I was indeed mocking the xhr calls before `cy.visit()` this is what is not working with running multiple files.

[2018-05-04 18:28] jennifer-shehane commented on #1678
phew, I didn't think `beforeEach` could be this busted since we use it extensively every day for our own tests. 😅

Let us know if you have any other issues - or ask in our community chat https://gitter.im/cypress-io/cypress

[2018-05-04 18:29] nWidart commented on #1678
Hm so no resolution?

[2018-05-04 18:34] nWidart commented on #1678
I'm not sure why this was closed...

Here's a screenshot of the dashboard with the failing tests.

![image](https://user-images.githubusercontent.com/882397/39646049-7db8ce3c-4fda-11e8-8c27-a32a7322fd70.png)

The routes section correctly shows the xhr requests to mock (even if duplicated), but they're just not getting hit.

[2018-05-04 18:50] jennifer-shehane commented on #1678
The `cy.get('.activation-partner')` is only going to wait 4 seconds for that DOM element to be there before failing, so if your requests don't all respond within 4 seconds it will fail.

You generally want to set up  `cy.wait()` to wait for each route to respond that is required for your application's view. This will not only provide an extra layer of tests for your routes, but also make the tests

[2018-05-04 18:52] nWidart commented on #1678
Indeed, but the request never responds because it's not hit, ie the problem. :D  So no matter how long I wait, it'll never hit.

Again, this works fine when running the single test file on its own. It fails when running multiple files.

[2018-05-04 19:01] jennifer-shehane commented on #1678
Yeah, we'll need a reproducible example of this behavior - the `beforeEach` not working as described.

I'm unable to figure out why an example like below would not work with the information provided.

[code]

[2018-05-04 19:08] nWidart commented on #1678
I tried with `.wait`:

![image](https://user-images.githubusercontent.com/882397/39647338-d889faa8-4fde-11e8-9374-1c5580864c41.png)

Where:

global beforeEach contains `cy.mockGetActivationPartnersData();`, which is:

[code]

And :`cy.mockGetActivationsData();`, is inside a before each of a describe block.

Which is
[code]

The error message said it timed out waiting for the request, which I can s

[2018-05-04 20:59] jennifer-shehane commented on #1678
Here's a simplified version of the pieces you are explaining from our example app. This example is passing. Maybe you could have this reflect what you are doing to get this to fail for me? I'm just unable to recreate this as being a `beforeEach` bug and honestly can't look into it any further without a reproducible example.

**spec1.js**
[code]

**spec2.js**
[code]

[2018-05-05 19:20] reetou opened #1683 "Require is not defined on electron"
### Current behavior:

`require is not defined` inside index.html

![image](https://user-images.githubusercontent.com/18047528/39666767-ca877498-50b1-11e8-809b-c8895848e666.png)

### Desired behavior:

Renders successfully

### Steps to reproduce:

My index.html contains this inside `<script>` tag. Webpack preprocessing didn't make sense.

[code]

### Versions

macOS High Sierra `10.13.3`
Cypress

[2018-05-05 22:52] brian-mann commented on #1683
You're trying to use a `require` tag inside of the chrome browser that's requiring a node module that's only available inside of `electron`.

Cypress can run tests in electron but only with `nodeIntegration` disabled. Even with it enabled it would also run in `electron` and would never work in `chrome`.

Cypress is about testing things that a browser renders - whereas with electron it can do a who

[2018-05-05 22:52] #1683 closed

[2018-05-06 03:31] bishwenduk029 commented on #1650
@jennifer-shehane If this is open I can work on this one. I will update accordingly with changes.

[2018-05-06 04:58] souljacker opened #1684 "type() won't tipe in autoformating field"
I'm testing a client's react app and it has a credit card page. type() is not filling the fields, which are designed to autoformat the input to match a credit card or date format. (4242424242424242 -> 4242 4242 4242 4242).

Is there a way to deal with this behavior or to simply change the field values directly?

[2018-05-07 05:53] zebulonj commented on #582
_First off, I love Cypress and am grateful for all the work the team has put into it._

The existing documentation seems to contradict what is described in the discussion here as the intentional clearing of state between tests. I agree 100% that tests should not share state. However, what the Cypress [documentation](https://docs.cypress.io/guides/core-concepts/variables-and-aliases.html#Sharing-Co

[2018-05-07 08:26] floriansimon1 commented on #819
I know this can be frustrating, but please try to refrain from making any such witty comments. The Cypress team does not owe us anything. If you aren't happy with the fact that this isn't getting anywhere, why don't you just try to find a fix yourself? OSS needs your contributions, it's not just a shop for software that is free of charge.

[2018-05-07 08:37] Hipska commented on #819
True, but in the same way, I'm also not obliged to continue using this tool.

I made the suggestion to add more debug info or logging in the verify step, but to no success.. When that could be included, I might be able to pinpoint the problem more. And eventually, maybe also fix it.

[2018-05-07 09:38] joelmeiller commented on #1631
Hi I have the same problem. We are using React and Meteor. The random behaviour as described above appears in my test runs too.

I am still working on it, but maybe I can provide you a test example in the next days.

Furthermore, I have the problem, that if the _should_ assertion fails (because the element could not be found) the test runs forever.

[2018-05-07 10:30] szabyg commented on #448
I'm wondering if anything is happening here, it's way too quite for a feature all projects need at the point where they have to maintain tests and the CI console output and the test results can't tell what went wrong except the last exception message.

Sounds like a hack but if you
1. start an HTTP server in the background with a log endpoint (the endpoints simply writes everything on its console)

[2018-05-07 12:42] bahmutov commented on #448
For everyone who wants to get the `cy.log` and other Cypress commands this might be helpful https://github.com/bahmutov/cypress-failed-log

[2018-05-07 12:52] bahmutov commented on #1677
I just want to add one more to this list
- merge pull requests (after approval) as early as possible. No waiting until "starting the release" process; instead landing features in `develop` early gets us a chance to actually interact with the new code a little bit to flush out any hidden side effects.

[2018-05-07 13:45] Bkucera commented on #819
@morficus @paulfalgout I've seen a few different ways of people using Jenkins with Cypress, including mounting the entire project directory (including node_modules) in a docker container, and having the container execute `cypress run` (which I am pretty sure does NOT work). Could you explain briefly how you configured Jenkins?

[2018-05-07 13:49] Bkucera commented on #1684
@souljacker could you share the Cypress code you're using with `.type` ? This should be supported already

[2018-05-07 13:49] paulfalgout commented on #819
@paulmoliva ☝️

[2018-05-07 13:51] Bkucera commented on #1681
@jasonellington are you specifically having problems on localhost subdomains?

[2018-05-07 13:52] paulmoliva commented on #819
`pipeline {
    agent {
        label 'web-apps-node'
    }
    environment {
        JAVA_HOME = '/usr/java/latest'
        DEBUG = 'cypress:*'
    }
    stages {
        stage('Clean Workspace') {
            steps {
                sh 'echo $JAVA_HOME'
                sh 'unset JAVA_HOME'
                sh 'echo $JAVA_HOME'
            }
        }
        stage('UI Build') {
            agent

[2018-05-07 13:59] Bkucera commented on #1669
@James-E-Adams if you want to yield the window of the app, you should use `cy.window()` like this:
[code]

[2018-05-07 14:06] paulmoliva commented on #819
@Bkucera @paulfalgout

[2018-05-07 14:09] paulfalgout commented on #819
:smile: I was just accidentally @mentioned. No need to include me

[2018-05-07 16:37] NoNameProvided commented on #1192
Peer dependencies are not installed when running `npm i`.

If any of you have any issue, please consider opening a new issue if you still experience any problem. Commenting on closed issues is not a good way to get attention to your problem.

[2018-05-07 17:31] jasonellington commented on #1681
@Bkucera although i havent tried it on a regular domain, i was not having this problem until recently. No significant changes to my cypress code were made, however there were a few commits to our develop branch that i merged in to my testing branch...

I am testing a e-commerce process where someone is adding a product to their cart. In my local environment i cannot get passed the homepage and fil

[2018-05-07 18:40] morissonmaciel opened #1685 "High CPU Usage starting cypress from Visual Studio Code terminal and not running any tests"
Hi,
I've just find myself impossible to continue to write my test cases using **cypress** due a unexpected issue running the command `./bin/cypress open` in my web site project.

I'm using Visual Studio Code setup with a simple web site folder (using only **HTML/Javascript/DOM** stuff) and, when I run cypress with given command, **my CPU usage just blow up with highs in 30% up to 38%.**

Simple st

[2018-05-07 21:05] Bkucera commented on #819
@paulmoliva @morficus the error is coming from here. https://github.com/cypress-io/xvfb/blob/605d95236a63516737c0483ae6e8a5cf559cf1cc/index.js#L215
Which looks unique to the other issues. This could be specific to Amazon Linux.

[2018-05-07 21:09] floriansimon1 commented on #819
I'm running Jenkins on a plain old Debian box configured in-house, and I have the same issue, so definitely not only an Amazon Linux-related error

[2018-05-07 21:10] Bkucera commented on #819
@floriansimon1 are you getting ` _XSERVTransmkdir: ERROR: euid != 0,directory /tmp/.X11-unix will not be created.` ?

[2018-05-07 21:12] Bkucera commented on #819
if so, can you share your Jenkins setup / Pipeline file

[2018-05-08 02:58] souljacker commented on #1684
@Bkucera

[code]

I know the component is using react-input-mask, but I'm not really sure about how it works

[2018-05-08 03:02] souljacker opened #1686 "cy.type() on a DIV"
I have an app which is a text editor and the DOM is formatted using regular elements (h1, div, span) and they become actionable when clicked and the user can type as in a regular textarea  or input . Cypress won't let me type on it, though.

I tried using force, with no success.

Is there any way to make it work or I'm stuck with Dusk? :(

EDIT:

I tried the following solution but it only types th

[2018-05-08 03:40] jessejoe commented on #263
@brian-mann I think @bmanuel was asking for documentation on how to run multiple spec files, since you commented that this issue was fixed in #1583, but the PR doesn't have much detail.

[2018-05-08 13:15] MadMatt25 opened #1687 "Inconsistent behaviour of cy.visit"
### Current behavior:
I stumbled upon this while writing some tests. In some of my tests, I use cy.visit to the same page that is already loaded. I know about cy.reload, however, as my tests are being generated by my preprocessor and I'm lazy, I haven't implemented cy.reload.

The behaviour of cy.visit is different depending on whether there is a hash present or not. I'm not sure what the desired

[2018-05-08 13:52] aduh95 opened #1688 "Support for data URI in cy.request()"
### Current behavior:

`cy.request` fails when loading a data URI (URLs prefixed with the `data:` scheme) because it tries to load it from the base URL.

Error message logged

[code]

### Desired behavior:

Test passes.

### Steps to reproduce:

[code]

### Versions

**Cypress**: 2.1.0
**Node**: v8.11.1
**Browser**: Chromium - Version 65.0.3325.181 (Official Build) Built on Ubuntu , running on Ubu

[2018-05-08 14:34] jasonellington commented on #1681
here is the code I am executing:
[code]

here is a statement in the log of the debug on the command line that looks suspicious
[code]

[2018-05-08 14:58] jennifer-shehane commented on #1686
Cypress allows typing into elements with a `contenteditable` attribute - as outlined [here](https://github.com/cypress-io/cypress/issues/1650) and it does look like it is typing at least one character without erroring.

I suspect that the library you are using is listening to or triggering events that Cypress is not handling correctly. Could you provide a reproducible example?

Also, as workaround

[2018-05-08 15:01] jennifer-shehane commented on #1687
Will have to look into this. I don't completely understand why you can't use `cy.reload()`, could you elaborate?

[2018-05-08 15:10] brian-mann commented on #630
@brknlpr you can just use jquery methods to access text content of elements - its our top FAQ question.

`cy.get('element').invoke('text')`

[2018-05-08 15:34] jennifer-shehane opened #1689 "Output warnings/errors in Standard Output when recording if limits reached."
When our new billing portal is deployed, there will be warnings/errors when recording tests if limits reached. **This will never affect test runs where the `--record` flag is omitted.**

**step 1**
- [x] Grace Period warning over test recordings warning `FREE_PLAN_IN_GRACE_PERIOD_EXCEEDS_MONTHLY_PRIVATE_TESTS`
- [x] Over test recordings warning (paid plan) `FREE_PLAN_EXCEEDS_MONTHLY_PRIVATE_TESTS

[2018-05-08 15:50] jennifer-shehane opened #1690 "Accept flag `--parallel` to run tests files in parallel"
- [ ]  Accept new `--parallel` flag in `cypress run`
- [ ] Ask API for which spec to run instead of serially iterating through them
- [ ] Pass the --parallel-id for each CI environment

[2018-05-08 15:57] jennifer-shehane opened #1691 "Respond to 'cancel run' from Dashboard and cancel remaining specs"
New button to 'Cancel' run will be added to Dashboard, want to cancel the run and any remaining specs left to run.

Cancel button (only displayed when running):
![screen shot 2018-04-17 at 4 19 04 pm](https://user-images.githubusercontent.com/1271364/38894396-1cd69400-425b-11e8-8cb4-97ab169033fa.png)

API Issue: https://github.com/cypress-io/cypress-api/issues/455
Dashboard Issue: https://github.c

[2018-05-08 15:58] jennifer-shehane opened #1692 "Send x-os-name instead of x-platform"

[2018-05-08 15:58] paulpruteanu opened #1693 "TypeError: Cannot read property 'started' of undefined"
### Current behavior:
Random test failure with the following error message:
[code]

### Desired behavior:
Not to fail.

### Steps to reproduce:
Hard, I've tried running on random tests and that's the error I got.
Run cypress run with both electron/ chrome. I haven't tried with cypress open as it would take too long.

[code]

### Versions

2.1.0

[2018-05-08 16:03] floriansimon1 commented on #819
I misunderstood you, sorry. I thought you were mentioning the more general problem of Cypress hanging. I don't know if I have the same problem, I can't remember. I'll have a look when I get back to work next week.

Thanks for your help.

[2018-05-08 16:27] jennifer-shehane commented on #1681
This message just means that you did not pass anything to the `--spec` flag when running your tests.

[2018-05-08 17:41] oneillsp96 opened #1694 "Launch in clean chrome window with no sidebar or background"
Cypress is a beautiful tool for being able to access and test the various error states in my UI using JSON fixtures, but it's hard to use it for subsequent CSS changes because I can't view the page/window at a normal size, and I can't resize it to see how my changes look at various screen sizes.  This is the only thing preventing me from using Cypress all the time while I'm developing.  Could we i

[2018-05-08 18:15] MaxwellGBrown commented on #944
To me the issue is that it is _more_ work to simulate the requests than it is to have Cypress fill in a form.

That and it deviates too far from the User flow that my users would be experiencing.

[2018-05-08 22:14] bmanuel commented on #263
@brian-mann, @jessejoe nailed it. Sorry, I forgot to respond right away with that.

[2018-05-09 05:26] IgnusG commented on #281
I agree with @NoMan2000. Mocha, chai etc. just provide the testing environment and switching to jest in these terms wouldn’t provide much benefit but cypress.io claims to be dependency free which is just not true.

If a project doesn’t use mocha you have to use it in your cypress code now. Having cypress independent of these or providing some kind of abstraction level (like `mocha-cypress-adapter`

[2018-05-09 06:44] brknlpr commented on #630
thanks a lot!

[2018-05-09 07:31] MadMatt25 commented on #1687
Sure. I have built a language on top of Cypress (using Xtext). This results in an Eclipse IDE in which I can easily write tests. From the sources of this new language, I generate a JavaScript file containing the Cypress tests. It is not always certain (in translation phase) that I am already on the correct URL, so I can not be sure whether to use cy.reload instead of cy.visit. However, I thought t

[2018-05-09 08:47] itaykotler-fundbox commented on #1321
@lukemadera, @corneliutusnea, I had the same problem and figured a workaround:
`cy.window().then((win) => {
        win.location = "/logout";
  });`

[2018-05-09 09:52] lujianlujian commented on #1321
I am also having the same issue.
Cypress 2.1.0
Chrome 66
OSX 10.12.6

Just run this test and it crash:

[code]
Would really like this to be fixed. Attached a debug log here: https://gist.github.com/lujianlujian/aa2f4aa22c194c55c776d6cc1421bb5c

[2018-05-09 11:10] uday-nitjsr commented on #551
@brian-mann I am facing an interesting issue. I am not able to generate mochawesome reports if I am running full suite in CLI, but it works like a charm when using it with `--spec`

My Setup details:
OS: windows
cypress verison : 2.1.0
mochawesome version : 3.0.2

[2018-05-09 11:28] Sergeon opened #1696 "ignoreTestFiles is ignored when passed from cli"
### Current behavior:
When invoking cypress with `config ignoreTestFiles=*blob` from the command line, specs that match the blob aren't ignored. For instance, this `npm` command:
[code]
Will make a `spec.demo.js` to run, when it should be ignored.

### Desired behavior:
Files that match the `ignoreTestFiles` parameter should be ignored.

### Steps to reproduce:

I set up a test-tiny-repo clone wit

[2018-05-09 15:33] OmriAharon opened #1697 "Testing Breaks Due to Page Redirect"
### Current behavior:

I must go through a login of a different app in order for my own app to be working, I can't mock that. So the first line I do is as described below - I use `cy.visit(..)` to go to that page an log in. However, often when it starts the test, instead of visiting that page and fill the form to login, the entire Chrome tab goes redirects there (rather than just the app on the ri

[2018-05-09 16:33] brian-mann commented on #1697
If I'm understanding your question properly - this is a commonly asked question that's been answered on other various issues with links to how to do this properly. The short answer is you don't `cy.visit` the other app - you programmatically interact with it with `cy.request`.

Here's some other answers.

- https://github.com/cypress-io/cypress/issues/1489#issuecomment-375976074
- https://github.c

[2018-05-09 16:33] #1697 closed

[2018-05-09 16:37] OmriAharon commented on #1697
Thanks for the quick response!

I forgot to mention that the other page's login is rather intricate, using iframes and several redirects and as you suggested I initially tried to use the `cy.request` method and it didn't seem to work. Not sure if I can make it work using only programatic requests. Is there an alternative?

[2018-05-09 18:18] souljacker opened #1698 "Is it possible to mock a HTTP request response?"
I'm testing some integration with external APIs like Twitter and Facebook.

Since I don't want to test their app, I wanted to mock the response I get when hitting their API. The thing is, when I'm not authenticated the app redirects me to their Oauth page, where I have to authenticate and then continue with my apps workflow.

It would be something like this

my app --->   request to Twitter api --

[2018-05-09 18:26] samyakshah commented on #1620
@jennifer-shehane how can I supply this --disable-blink-features=RootLayerScrolling ?

[2018-05-09 18:35] ValerieThoma commented on #1696
Thank you for taking the time to provide this excellent example.
I was able to reproduce what you described.
Passing `ignoreTestFiles` as a CLI argument does not work as the documentation suggests: cypress-io/cypress-documentation#535
We believe this is a bug.

[2018-05-09 18:44] dwelle commented on #1620
@samyakshah Put that code in your `cypress/plugins/index.js` file.

[code]

[2018-05-09 18:56] nwshane commented on #181
@brian-mann it's awesome you all are tackling this! do you have an estimate of when the new `cy.screenshot` API will be released?

[2018-05-09 20:01] samyakshah commented on #1620
Thanks, @dwelle! That worked!

[2018-05-10 02:19] ErikBehar opened #1700 "Ability to test bad internet connection by allowing cy.route never to return a response"
### Current behavior:
A request always returns a response

### Desired behavior:
ability to mock a request timeout

### Steps to reproduce:

[code]

### Versions
latest

[2018-05-10 05:01] DavidTNguyen commented on #941
Our Drone CI threw the same error.

[2018-05-10 08:13] joelgrimberg opened #1701 "Security Issues whith clean install Cypress"
Clean install of cypress results in the following output:
**Clean install:**
npm install --save-dev cypress

**Output**
[code]

[2018-05-10 11:03] Bkucera commented on #1698
@souljacker Hi, I believe `cy.route` is what you're looking for https://docs.cypress.io/api/commands/route.html#Fixtures
If you have any further questions, please direct them to the [gitter](https://gitter.im/cypress-io/cypress), as you can get better support from other Cypress users. If you have specific feature request or bug, feel free to open another issue. Thanks!

[2018-05-10 11:03] #1698 closed

[2018-05-10 11:17] Bkucera commented on #1700
I believe you are looking for the delay option in cy.route, if you have any further questions, please direct them to the gitter for better support from other Cypress users, thanks! https://docs.cypress.io/api/commands/route.html#Options

[2018-05-10 11:17] #1700 closed

[2018-05-10 12:58] Bkucera commented on #1693
@paulpruteanu Thanks! Currently trying to reproduce

[2018-05-10 13:47] Renaud009 commented on #1016
[code]

[2018-05-10 13:50] chrisbreiding commented on #1460
@jennifer-shehane Here's the latest modal. I didn't really like the closed examples folder, so I went with having it open but truncating the files. Let me know what you think.

![screen shot 2018-05-10 at 9 48 38 am](https://user-images.githubusercontent.com/1157043/39872915-7b8304aa-5437-11e8-9a08-153233d2c854.png)

[2018-05-10 13:59] Renaud009 commented on #1624
What you also can do is intercept ol3 global object and your map instance to capture informations, calculate things like layers features or trigger some other events

[code]

My command file:
[code]

Example code that makes me able to count how many polygons (selected regions) are loaded in a layer (won't work on draw-feature.htm tho...l)
[code]

[2018-05-10 14:28] Bkucera commented on #1687
@MadMatt25 That's a good point you brought up. If we are reloading the page on `cy.visit()` with the already visited URL, we should probably be doing the same for hashes.

[2018-05-10 14:31] bahmutov opened #1702 "Update runs_list_spec to getRunResponse@2.0.0"
in the packages/desktop-gui/cypress

I will update the fixtures/runs.json to follow `getRunResponse@2.0.0` schema for v3.0 release, but there is one test failing in `runs_list_spec.coffee` `displays commit info` which does not understand the `commit` structure which has changed

<img width="1277" alt="screen shot 2018-05-10 at 10 30 56 am" src="https://user-images.githubusercontent.com/2212006/398