[2019-09-25 19:22] #1445 closed

[2019-09-25 19:27] jennifer-shehane commented on #3324
Hey @edelgado you mentioned that your issue is that during `cypress run` the screenshots are double the size than `cypress open`, but the original issue is that `cypress open` screenshots were double the size of `cypress run`. So you are experiencing a different issue than is described.

This issue of the screenshots being smaller in `cypress run` than in `cypress open` is what this issue was trac

[2019-09-25 19:38] justin-bits commented on #2694
I ended up creating a script to start a proxy server to workaround this limitation. Check out https://github.com/http-party/node-http-proxy

[2019-09-25 19:44] edelgado commented on #3324
Hi @jennifer-shehane, thanks so much for looking into this. I believe I misspoke earlier.

Indeed, my issue is that when I capture a screenshot via `cypress run`, the image generated is half the size of the same screenshot captured via `cypress open`. In this example, the top image was taken via the UI with a size of 1796x496, and the bottom image via the CLI with a size of 898x248. The middle ima

[2019-09-25 19:59] Swati-activeops commented on #4346
![image](https://user-images.githubusercontent.com/50127497/65634983-55aeea00-dfd7-11e9-87b1-f169b8f78e86.png)
Version 3.4.1

[2019-09-25 20:01] flotwig commented on #4346
@Swati-activeops This issue was fixed in 3.3.2 and is a different issue than the one you have, your issue sounds like #4935. We're still looking for a minimum reproducible example for that so if you can share your code in #4935 that would be very helpful.

[2019-09-25 20:12] Swati-activeops commented on #4935
Hiya,

I can't seem to be able to click on the button. No matter what locator I try.
I either get the error this error:
![image](https://user-images.githubusercontent.com/50127497/65635855-0cf83080-dfd9-11e9-82a8-7825674ea6cd.png)
or this:
![image](https://user-images.githubusercontent.com/50127497/65635542-70359300-dfd8-11e9-96cb-d3ac88e27bc1.png)
![image](https://user-images.githubusercontent.co

[2019-09-25 21:12] drewwats commented on #1767
Also patiently waiting due to WebGL issues on Electron...

[2019-09-25 23:08] bahmutov opened #5208 "Pass --no-sandbox argument when needed"
Electron v5 upgrade requires us to use `--no-sandbox` for `root` users, see for example https://circleci.com/gh/cypress-io/cypress-test-tiny/4557

We are spawning built app without this argument, thus running into a trouble in v3.5.0

[code]

[2019-09-25 23:24] brettz9 commented on #5151
Firstly, let me say, @bahmutov and all, how much I admire your work. You all have done a really impressive and thorough job, and it seems Cypress has anticipated almost everything! You really seem to have put a lot of thought into making things work in an ideal way for users.

And your documentation is awesome is well.

As far as cypress-fiddle... I think that running tests from a Markdown file wo

[2019-09-26 02:13] alanyinjs opened #5210 "[Doc] Document use invalid jQuery syntax"
![Screen Shot 2019-09-26 at 12 06 56 pm](https://user-images.githubusercontent.com/25688258/65652846-85510700-e056-11e9-8bb8-36d929e2bd27.png)

### Current behavior:

In the above screenshot, the example uses `$btn.class()` to get classes of the button element. However this is not valid syntax in jQuery.

### Desired behavior:

I suppose it should be `$btn.attr('class')`?

### Steps to reproduce:

[2019-09-26 07:36] prakash-nwea commented on #1244
Have you been able to resolve this issue?

[2019-09-26 08:10] mcntsh commented on #5089
So, I factory-reset my computer and tests run now. Don't really know what else to say.

[2019-09-26 08:10] #5089 closed

[2019-09-26 08:32] oracleason opened #5211 "eifjccilfgclglivjlneutidlbvilifhtkecfhrnenrc"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-09-26 11:21] Kjelli commented on #5211
Cannot reproduce, thereby solved

[2019-09-26 11:43] ryan-snyder commented on #5211
Able to reproduce by mashing random keys. Could be a user error though, hard to tell

[2019-09-26 12:16] CSchulz commented on #1746
We encountered the same issue on nearly all developer machines.

Generated javascript assets of Angular gets encoding issues with UTF-8 signs like ɵ sometimes.
https://puu.sh/DOFhM/1dd12f8b4a.png
(credits for the screenshot to @alfaproject)

Any ETA when #4984 will be merged?

[2019-09-26 12:23] CSchulz opened #5212 "Capture stack traces on uncaught exception from application"
### Current behavior:

If there is any issue in the application code you just get an information there was an uncaught exception with the exception message f.e. "Invalid or unexpected token" (see #1746 and #1396) without any context.

### Desired behavior:

Show a clear message with the error and a stack trace.

I have debugged into the cypress runner and noticed the onError method gets more attri

[2019-09-26 12:25] CSchulz opened #5213 "Enable JSON5 parsing for cypress.json to support comments"
### Current behavior:

Currently the cypress.json does not support comments.

### Desired behavior:

Comments should be allowed in the cypress.json.

### Steps to reproduce: (app code and test code)

add a comment to the cypress.json and start cypress.

### Versions

3.4.1

[2019-09-26 12:35] paulfalgout commented on #5213
`json` does not support comments

[2019-09-26 12:37] CSchulz commented on #5213
Single and multi-line comments are allowed.

https://json5.org/

[2019-09-26 12:46] laurenskling commented on #5211
Crashes in IE11 :(

[2019-09-26 12:47] stijnbernards commented on #5211
I was able to reproduce this by kljashdjkaSGHdkluadsfTAHSDFGSADKLFG

[2019-09-26 12:48] arifmasood commented on #981
+1 Sending cypress run reports to designated emails.

It will be great if we can have summarized results of cypress run (from dashboard) being delivered to specific email addresses.  Raising a red alarm in case of any failures or sending a green report in case tests passed.

[2019-09-26 12:57] mohamdmahdi opened #5214 "request header options setting up"
I am trying to make an API call through cypress
where I call `cy.request` , and before that I set up the  `header` options and read and xml body content to send it along with the request  as following:

[code]

The problem that when I make the call the test get back to me with this message:

[code]

checking the response further content type is Json ???????

check this response:

[code]

I am runn

[2019-09-26 13:19] jennifer-shehane commented on #2170
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-09-26 13:19] #2170 closed

[2019-09-26 13:47] sarink commented on #4247
This happens in my docker container on 3.4 as well... is there any update on a workaround or fix?

[2019-09-26 13:55] oracleason commented on #5211
haha, not sure why.....create this bug.....

[2019-09-26 13:55] #5211 closed

[2019-09-26 13:59] jdvegmond opened #5215 "Clicking on nth option in select not possible"
# Issue:
I'm testing a web app with a select element, with different values per (test) environment or even per run. I would like to be able to always select the 'nth' option in the select, but this is not possible, because the .select() command only accepts a value or display text.

### Steps to reproduce: (app code and test code)
Now I'm forced to use
cy.get(selector).select('some text')

But I w

[2019-09-26 16:37] megaras2325 commented on #4964
Hi, guys. Do you think its possible to update the README of the project. I'm working right now on a project where I need to automate an electron app. This project it's the only place where I'd found a clue about it. I tried to apply your structure to my current project without success :(  When you open Cypress to run the tests, are you openning a browser or an electron window?

[2019-09-26 16:44] Bkucera commented on #2263
closing since this is desired behavior, as established by chai

[2019-09-26 16:44] #2263 closed

[2019-09-26 16:52] Bkucera commented on #5215
workaround here https://stackoverflow.com/questions/50708295/cypress-select-specific-child-of-html-select/50892977#50892977:

Here's how you'd use `select()` based on index. First you get the `4th` value of the `select`, then use a `.then()` that yields it's `value`:
[code]

[2019-09-26 16:59] jdvegmond commented on #5215
Thank you for the workaround.
Though I'll have to use invoke('text') instead. For some reason all options have the same '[object Object]' value. (Maybe thanks to Vue?)

[2019-09-26 16:59] #5215 closed

[2019-09-26 17:51] jennifer-shehane commented on #4961
This PR will allow you to turn off the autogeneration of the configuration file alone. https://github.com/cypress-io/cypress/pull/3246

[2019-09-26 17:53] jennifer-shehane commented on #4961
Closing as a duplicate of https://github.com/cypress-io/cypress/issues/619 essentially though since that would enable you to turn off the auto scaffolding of files.

[2019-09-26 17:53] #4961 closed

[2019-09-26 18:10] Aghassi opened #5217 "Expose an API to get the default config"
https://github.com/cypress-io/cypress/blob/dc251cc5d6c18da2be64ae3de269a00b75985099/cli/schema/cypress.schema.json#L1

We run Cypress through the API for our internal tooling, and have some config validation we wish to do. Right now, we use `jest-validate` to compare what is passed in to what is the "default". With other packages, like `jest` we can load their default config via `jest-config`. Thi

[2019-09-26 18:13] jennifer-shehane opened #5218 "Proposal: allow configuration file to be 'js', not 'json'"
# Goal

Simplify Cypress configuration

# Why

Why is this important? Why is it a priority?

* Currently, allowing configuration from multiple different places (`cypress.json`, `cypress.env.json`, `pluginsFile`) is confusing and difficult to document well
* Users need to specify different configuration based on environment (https://github.com/cypress-io/cypress/issues/909), which doesn't work with

[2019-09-26 18:14] jennifer-shehane commented on #5213
Closing as this issue is meant to be superseded by this proposal: https://github.com/cypress-io/cypress/issues/5218

[2019-09-26 18:14] #5213 closed

[2019-09-26 18:51] #4898 closed

[2019-09-26 18:58] #5208 closed

[2019-09-26 19:54] bahmutov opened #5219 "Inject env variables on CircleCI using contexts"
- build binary
- upload binary and NPM package
- trigger CI builds

[2019-09-26 20:47] #5219 closed

[2019-09-26 22:29] UncleGus commented on #2605
We are experiencing the same frustration at the moment. We thought perhaps it was intentional that the `--env` switch doesn't work with `cypress open` since the documentation only refers to `cypress run`, but by your answer above, @jennifer-shehane I get the impression that it should work with `cypress open`.

Can you please confirm if this should work with `cypress open`? At the moment, it is not

[2019-09-26 22:40] UncleGus commented on #2605
Sorry, this is unrelated to the original issue, and I have just determined that our problem was (I think) with how we were passing the command line parameters through npm. In any case, it is working as we want now.

[2019-09-26 22:51] WilliamWaterworth opened #5221 "cy.get() returns undefined when using global options object"
### Current behavior:
I used a global object for cy.get commands, which usually works for Cypress testing. It works here if all tests run in the same `specify` function. Otherwise, all tests except the first fail with a vague "Undefined does not have class \<classname\>" error.

### Desired behavior:

Ideally, I shouldn't have to redefine my `cy.get` options parameter for each `specify`. At minimu

[2019-09-26 23:02] Bkucera commented on #5221
@WilliamWaterworth thanks for the bug report! I'm closing this as a duplicate of #3171

[2019-09-26 23:02] #5221 closed

[2019-09-26 23:07] Bkucera commented on #5217
@Aghassi do you need access in plugins (node) or support (browser, during test) ? We could probably do this pretty easily.

[2019-09-26 23:08] Bkucera commented on #5217
here's where we set defaults: https://github.com/cypress-io/cypress/blob/issue-2957/packages/server/lib/config.coffee#L81

[2019-09-27 00:19] Aghassi commented on #5217
@Bkucera the `node` API is how we are interfacing with triggering cypress, so preferably in `node`. I'll have a look at the example.

[2019-09-27 00:22] Aghassi commented on #5217
@Bkucera It seems that although you set the defaults in that file, they are not exported in anyway that I could get them right? If there were a `getDefaults` function in there that I could use to get the `CONFIG_DEFAULTS` that would be helpful. Is that a change I could contribute/make?

[2019-09-27 02:00] ankeshdave commented on #944
@wojciechsabaj,
Did you try this with an sso implementation, where the login redirects to more than on super domain and finally comes to the main website?

[2019-09-27 05:20] sarink commented on #4247
We chewed through like 3 hours of build minutes in my CI server because of this before anyone realized :( Running in the local macos gui, everything works fine, but running: `npm ci && cypress install && cypress open` from the `cypress/browsers:node12.6.0-chrome77` docker container leads to the same hanging error that @randing89 has https://github.com/cypress-io/cypress/issues/4247#issuecomment-49

[2019-09-27 09:07] vesper8 commented on #686
2 years later and still pulling my hair out and copy/pasting dirty workarounds to be able to log in a single time and not have to write huge tests that I'd much rather break up into many small tests.. is there a beta version somewhere we can use that supports this yet??

[2019-09-27 09:18] danatemple commented on #686
@vesper8

This works for me - to just disable clearing of LocalStorage.
https://github.com/cypress-io/cypress/issues/4582#issuecomment-507399740

And add an explicit clear of LS in any functions like "log in", so everything is clean from the start of each test sequence consisting of the small tests that don't want a logout between them.

[2019-09-27 09:52] sebinsua commented on #686
Does anybody know a way of keeping JavaScript files cached between test suites? This is a big performance hit for us, since we're using this to try to test a gigantic Storybook with a massive JavaScript bundle.

[2019-09-27 10:24] majco333 opened #5222 "cy.wait() timed out ... to the route. No request ever occurred."
### Current behavior:

Error message:
![image](https://user-images.githubusercontent.com/4101721/65762093-7afb3f80-e120-11e9-96fd-2949051a73c4.png)

Output in terminal:
![image](https://user-images.githubusercontent.com/4101721/65763320-69676700-e123-11e9-974f-7fb4c58f196d.png)

### Desired behavior:
When I try it on localhost, everything works. But when I change app url (real domain over HTTPS),

[2019-09-27 10:56] prashantabellad opened #5223 "Alias in hooks"
This is an issue

### Current behavior:
Consider below code where I am creating alias users in `before` hook.
[code]

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-09-27 12:21] ryan-snyder commented on #5222
This is most likely a timing issue because it works for me. I would move your server and route setup to before the visit and the login like so:
[code]

[2019-09-27 12:30] majco333 commented on #5222
It's not working for me. Can there be a problem with the CORS? See output in terminal...

[2019-09-27 12:35] ryan-snyder commented on #5222
Maybe? You have chromeWebSecurity set to false so it's nothing with Cypress I don't think. Again, it works for me so unless you can provide a reproducible example there's not much I can do. If you head over to the cypress gitter room, you may receive more help

[2019-09-27 12:37] ryan-snyder commented on #5223
This is how it's meant to work. Please read https://docs.cypress.io/guides/core-concepts/variables-and-aliases.html#Avoiding-the-use-of-this for more info. You can open a feature request for this if you disagree

[2019-09-27 12:41] lithqube commented on #3207
Hope this one comes sometime over this year 🧐

[2019-09-27 12:43] ryan-snyder commented on #5217
@Aghassi @Bkucera could probably confirm but that definitely seems like something doable and worth while. I would go for it and make that change but again, I'm not a part of the cypress team so....But I would personally love to see that change

[2019-09-27 12:44] ryan-snyder commented on #5185
@schmist Sorry for not taking a look at this. I'll try to look tonight and see and let you know

[2019-09-27 12:44] dono-greeff commented on #3207
I for one am not holding my breath. I have gone with a different approach using an AI front end automation tool.

[2019-09-27 12:50] majco333 commented on #5222
@ryan-snyder Can you run multiple times? Because I try it on other computer and first time it worked, but the next times didn't work...

[2019-09-27 13:02] ryan-snyder commented on #5222
So you are right, this may actually be a bug. If you run the test and open chrome dev tools, and go to application and service workers and click `Bypass for network` it works. So there seems to be an issue with cypress catching networks that are triggered by a service worker?
Can @jennifer-shehane speak to this more?

[2019-09-27 13:07] johnknoop commented on #4039
I still have problems of this nature in 3.4.1.

[2019-09-27 13:10] you1anna commented on #944
@wojciechsabaj Thanks for this workaround, much appreciated but Cypress really should fix this. Running Puppeteer inside Cypress is not a viable solution to run at scale.

[2019-09-27 13:57] a4xrbj1 commented on #3207
Which one? Not holding my breath either

[2019-09-27 14:13] serdaryesilmurat commented on #3207
Cross browser functionality is a must for our company. Is there any alternative to Cypress to achieve that? Has anyone used CodeceptJS which provides a generic BDD style syntax over several tools like Selenium WebDriver, Protractor, Puppeteer etc.?

[2019-09-27 14:20] EduardoAlarconU commented on #170
I share the way I distributed it to the computer, you must configure the command.js file with the following code:

[code]

[2019-09-27 14:23] #1075 closed

[2019-09-27 14:23] #3349 closed

[2019-09-27 14:23] #4790 closed

[2019-09-27 14:24] #2478 closed

[2019-09-27 14:25] #1369 closed

[2019-09-27 14:26] Bkucera commented on #3207
Hi everyone, just updated the top-level to point to the relevant PRs on cross-browser support. Firefox #1359 is next up for release with only 15/3000 tests failing on that branch.

We've taken our time to be diligent about common-denominator features to avoid excessive breaking releases or deprecating APIs in wake of cross-browser support. Thank you all for your patience and look out for the merge

[2019-09-27 14:34] ryan-snyder commented on #3207
@Bkucera If there's anything I can do in regards to this, let me know! I would love to help when/where I can. After I get a couple of other issues done, of course

[2019-09-27 14:41] MounarajElangovan opened #5225 "Couldn't type using cy.type because cypress expecting some typeable elements, we are using angular with bootstrap responsive UI for forms?"
Cypress Errors:
[code]

[2019-09-27 14:48] Bkucera commented on #5217
@Aghassi yes, we would be open to a PR that exports the default values and exposes them via plugins/node API. We would need to think of the API for that, feel free to recommend how we should exposed it to the user (docs page on plugins/node API https://docs.cypress.io/api/plugins/writing-a-plugin.html#Plugins-API)

[2019-09-27 14:50] icfantv commented on #3207
@serdaryesilmurat We've been using Selenium/Chauffeur and it's proven to be somewhat slow/flaky (although that's just as much on us as it is the product).  We have to support IE11 and use SauceLabs but that, too, is quite slow and flaky so we've built our own AMIs for running in-house.  Our teams/orgs that are using Cypress speak quite highly of it and from my observations, it's quite well-deserve

[2019-09-27 14:50] Bkucera commented on #4039
@johnknoop please provide a reproducible test example, either in this issue or a new one. Thanks

[2019-09-27 14:53] johnknoop commented on #4039
That might take me some time, since I don't want to share the codebase as-is. I understand you need something reproducable to work with though. I'll try to get around to it!

[2019-09-27 14:55] Bkucera commented on #4039
@johnknoop feel free to point us to a public-facing url if you need. We don't need access to anything but the test code.

[2019-09-27 15:02] prashantabellad opened #5227 "Mouse hover does not work with tippy.js"
### Current behavior:
We are using tippy.js for tool tips in our application. This is very important functionality for our application as we perform few actions through actionable buttons on the tool tips.
Cypress does not recognize these tool tips
### Desired behavior:
Cypress to come up with a solution

### Steps to reproduce: (app code and test code)

### Versions

[2019-09-27 15:06] dono-greeff commented on #3207
Wanted to keep competition out of their issue thread but others have so why not then :P mabl.com check it out. Its really stable, fast and easy to script. For my team its great as we need to concentrate on our API's and lower levels. This frees up the time that used to get soaked up by maintenance etc.

[2019-09-27 15:08] flotwig commented on #3207
@icfantv @Bkucera is actively working on it and posted an update above your comment: https://github.com/cypress-io/cypress/issues/3207#issuecomment-535962564

[2019-09-27 15:22] icfantv commented on #3207
@flotwig Yes, I saw that, thanks.  The way I read it was that it was for Firefox only?  Was that not correct?

[2019-09-27 15:25] Bkucera commented on #3207
@icfantv I had updated the top-level with that link to open PRs about cross-browser:

[2019-09-27 16:13] Bkucera commented on #4742
So this issue is due a bug where Cypress doesn't support `async/await` tests bodies or tests that return promises. This wouldn't be too hard to fix, but we need to prioritize it. We'll need to rangle all the issues that are affected by this

[2019-09-27 16:16] ryan-snyder commented on #4742
@Bkucera Would you happen to know if it's just a cypress issue? Or is it related to mocha as well? I was trying to work on a fix for it but I couldn't manage to get the mocha `test:end` event to fire at all. Just curious, I'll probably leave it to you guys.

[2019-09-27 16:19] Bkucera commented on #4742
@ryan-snyder its a cypress issue. Mocha supports this, but we do some nasty hacks on top of mocha and likely didn't wire something up properly, such as awaiting a promise if it's returned.

[2019-09-27 16:21] ryan-snyder commented on #4742
Gotcha, that makes sense

[2019-09-27 16:24] Bkucera commented on #4742
I'll likely spike into fixing this, possibly it will be simple. If not I'll work on getting it prioritized.

[2019-09-27 16:34] icfantv commented on #3207
@Bkucera thanks!

[2019-09-27 16:35] ryan-snyder commented on #4742
@Bkucera Sounds good. I'll probably do a little of poking around on my own just because I want to get more familar with the codebase. If you need me to do anything, ping me

[2019-09-27 17:28] rdhelms opened #5228 "TypeScript: Property 'removeListener' does not exist on type 'cy'"
### Current behavior:

![image](https://user-images.githubusercontent.com/7010586/65788675-928af600-e129-11e9-97cc-315b9d1e0ce8.png)

### Desired behavior:
`cy.removeListener` and `cy.removeAllListeners` should be typed, since they are usable as referenced here:
https://docs.cypress.io/api/events/catalog-of-events.html#Binding-to-Events

### Steps to reproduce:
1) Create any cypress project using

[2019-09-27 17:36] Aghassi commented on #5217
@Bkucera this is my first time in the codebase, so I'm trying to get a mental model of how it compiles. It seems to be a monorepo, but the monorepo compiles into a single package called "cypress" yes? I guess, what I'm thinking is:

- Take the constant you linked and make a separate package called `@cypress/config` that just exports that file as the main
- Have `@packages/server` reference that fi

[2019-09-27 17:54] flotwig commented on #5217
@Aghassi The `cli` package is the source code for the actual `cypress` NPM module that gets distributed. Everything in `packages/*` gets bundled up with the Electron binary and downloaded at install time to be started by the `cli`.

Your solution could work, it would also force us to set up publishing for sub-repos which would be neat.

We could also just import and re-export `cypress.schema.json`

[2019-09-27 17:55] Bkucera commented on #5217
@Aghassi yes, don't worry about the specifics and implementation, its all possible. We have no precedence of exporting anything as a module except for the module API used to launch runs in node. So I was thinking something yielded to you in the `module.exports = (on, config) => {}` function instead of the imports.

[2019-09-27 18:04] ryan-snyder commented on #5217
I would personally be in favor of publishing the default cypress configs as it's own npm module. Similar to how you would publish an eslint-config as an npm module. Think it offers much more flexibility in the long run as well as letting people extend it and apply there own defaults.
@Aghassi @Bkucera

[2019-09-27 18:10] Bkucera commented on #5217
@ryan-snyder default config values can make the difference between a release being a feature vs being breaking. For this reason we need to control default configs in tandem with the cypress core release. Especially considering new cypress releases will introduce new config values.

There's an argument to be made with releasing subpackages such as `cypress/config` however

[2019-09-27 18:25] saas2813 commented on #695
I got the same error-message, but since our tests have had a lot of timing issues I added a check that some other control, that is conditionally rendered (added to the DOM) at the same time, was visible before the input command and I have not seen the problem since. (I have not run the test-case very much since but thought it might give you ideas.)
I also get the impression that Cypress checks tha

[2019-09-27 18:27] ryan-snyder commented on #5217
@Bkucera I totally argree about needing control over default config values. I guess I meant that if it were it's own module, someone could fork the code and publish their own specific config values. And that way, if something breaks, it's their fault and they can use the same config across multiple projects/repos or whatever. But I do get needing to have some measure of control over the configs so

[2019-09-27 18:51] ryan-snyder commented on #4742
Interesting to note that if you do
[code]
you get the error `Cypress detected that you returned a promise from a command, while also detecting that you invoked one or more cypress commands from inside that promise`

Not sure if that's expected? I wouldn't think so because the promise doesn't contain any cypress commands? But I could be wrong

[2019-09-27 19:38] brian-mann commented on #4742
@Bkucera and I have been over this a bunch of times before and it's something on our end that we need to fix. It has to do with the interop between promises being returned to the test, and Cypress also knowing that commands were enqueued.

We can generally always figure out how to do the right thing, but it will involve doing things like adding a `.then()` and additionally monkey patching `Promise

[2019-09-27 19:43] ryan-snyder commented on #4742
The latter sounds a lot like https://github.com/cypress-io/cypress/pull/5204 that I did for `.within()`. I don't know if we can somehow  extend that solution to .then as well? Or would we need to implement it separately for `.then()`

[2019-09-27 19:47] ryan-snyder commented on #4742
To be honest though, we could probably do a much better solution across all nested commands.

[2019-09-27 20:18] johnknoop commented on #4039
I think the problem may not be with Cypress, but with the fact that my application should do certain things when an input field has focus. When the Cypress window doesn't have focus, the browser doesn't recognize that the field is focused, and thus the application behaves differently.

It would be nice if cy.get('#myElement').focus() would trigger the field to be focused, but I can see how that mi

[2019-09-27 20:21] Aghassi commented on #5217
Ok, let me push a branch with my change while trying to keep what is existing. It may take a few iterations, but I understand the problem @Bkucera is alluding to because we face it with our internal tooling too.

[2019-09-27 20:51] Aghassi commented on #5217
@Bkucera I opened a PR. It doesn't "work" so to speak, but it is a starter to show what I'm trying to get at. Ideally, the `@packages/config` would be something that we could publish to NPM anyway so that I could install it on my end and get the same config you guys use internally.

[2019-09-27 21:30] Bkucera commented on #4039
@johnknoop we should be properly "tricking" your app into thinking the browser is focused. We force document.hasFocus() to `true` and even polyfill focus events when browser is not in focus- even when your appcode calls input.focus(). It's possible there are still edge cases, so reproducible examples are key here.

[2019-09-28 00:00] balnagy opened #5231 "get(aliased network request).should(callbackFn) doesn't retry, but fails"
### Current behavior:

[code]

It fails the test when the first `@request` comes through, which doesn't have the required field.

### Desired behavior:

Continue and assert the next request as the documentation for `get()` and `should()` claims.

### Steps to reproduce: (app code and test code)

[code]

### Versions

^3.4.1

[2019-09-28 01:21] Pneumaticat commented on #3852
I believe the problem is that all the cypress files in the NixOS store are readonly. Doing `chmod 777 /nix/store/...-cypress-3.4.1/opt` fixes the problem, but is obviously a major hack (you have to remount the nix store read-write).

[2019-09-28 07:49] sensuraj92 commented on #5178
Can someone please look into this issue ?

[2019-09-28 14:45] NeilRShah commented on #2613
Just wanted to check in as well -- has this been fixed? I'm having a similar issue with the same console log. Including it here.

![image](https://user-images.githubusercontent.com/20410349/65818182-1356fa00-e1dd-11e9-81e8-530c09ba1e5e.png)

I'm checking this documentation out as well and datetime-local doesn't have supplementary info. But I'm assuming the format is yyyy-MM-ddThh:mm because that's

[2019-09-28 14:53] dreamyguy commented on #1372
I assumed that the option (as mentioned by @brucewpaul):

[code]

...which in my case is set to `./tests/e2e/cypress`, would stop the scaffolding as the whole **cypress** thing is moved there. Did I misunderstand?

[2019-09-28 21:52] sakib-peloton commented on #5083
I get the same issue. Can't use mochawesome for now. Using the workaround i found for this is annoying.

[2019-09-28 22:42] wojciechsabaj commented on #944
@jrnail23 I fully experienced how frustrating it is when you have your framework almost ready and then BAM! - you find an issue like this. I _can_ imagine the motivation behind keeping testing in the boundaries of one superdomain but there are some situations when you do not want/need/have time or knowledge to build a second testing system just to mimick the server's actions using requests. In my

[2019-09-29 02:01] #5065 closed

[2019-09-29 02:26] #1746 closed

[2019-09-29 02:28] #4946 closed

[2019-09-29 04:31] #3145 closed

[2019-09-29 06:43] roma-glushko commented on #1951
The same issue here:
![2019-09-29_09-34-01](https://user-images.githubusercontent.com/9402690/65827756-5b892180-e29c-11e9-94c4-5eebd1e125bd.png)
cypress/plugins/index.js:
[code]
cypress.json:
[code]
homepage.spec.js:
[code]

It failed on almost all available engines for me:
- Chrome 77
- Canary 79

[2019-09-29 08:46] herschel666 opened #5234 "Selector is applied in wrong page context"
### Current behavior:

I'm testing a prev/next-navigation between the image detail pages of a gallery, where the text of the links between the images is their respective title. The links to those image detail pages on the parent gallery page are each a set of linked image elements and also a link with the text of the respective title.

What happens now is that Cypress is able to visit the gallery

[2019-09-29 09:53] skjnldsv commented on #2983
@jennifer-shehane please reconsider again. This break any good testing setup. Something as used as browserlist extends should not require some weird hack to make it work :)
Thanks for the amazing job so far!

[2019-09-29 12:00] talentlessguy commented on #1369
This is cool but it doesn't seem to be working :/

[code]

**Cypress version**: 3.4.1

[2019-09-29 12:44] #4822 closed

[2019-09-29 13:03] brian-mann commented on #1369
@talentlessguy our `cypress-bot` comments on all closed issues indicating that they have yet to be released. This fix is slated for `3.5.0`, which is why it's not in `3.4.1`. Apparently the `cypress-bot` stopped working a couple days ago and we're fixing it.

[2019-09-29 13:05] brian-mann commented on #1369
@talentlessguy actually the `cypress-bot` is working, I'm not sure why it didn't comment on this issue, but here's an example of what it typically does: https://github.com/cypress-io/cypress/issues/4822#issuecomment-536296656

[2019-09-29 13:32] talentlessguy commented on #1369
@brian-mann okay, good luck with fixing `cypress-bot`. I hope `3.5.0` will be released soon.

[2019-09-29 14:56] dwelle opened #5235 "Request: saving different file should run it"
### Current behavior:

When you save a different spec file than the one currently being run in headed cypress runner, it does nothing.

Current workaround is to close the runner, filter the new spec, and run it manually.

### Desired behavior:

It should run the spec file just being saved.

### Versions

`3.3.1`, Windows 7

[2019-09-29 17:37] clarmso opened #5236 "Use newest Chrome (stable) to run tests"
### Current behavior:

circle.yaml indicates that Chrome 73 is used to run the regression tests:
https://github.com/cypress-io/cypress/blob/f64b54c70b7290aaacb40edcb656f97940ea3235/circle.yml#L26

### Desired behavior:

We should keep up with a newer version of Chrome, if not the latest, in the regression tests.

https://github.com/cypress-io/cypress-docker-images/tree/master/browsers/node12.6.0-c

[2019-09-29 17:39] clarmso commented on #5236
I'll have a WIP PR soon. :)

[2019-09-29 20:31] Bkucera opened #5239 "[develop] dom highlights need to account for box-sizing: border-box"
edit: Only occuring in develop due to Jquery upgrade

when element has `box-sizing: border-box`, we need to subtract padding from total height to calculate "content" highlight

With border-box, without border-box

![out2](https://user-images.githubusercontent.com/14625260/65838951-842e0d00-e2d6-11e9-821a-7412cc65327d.png)

most css frameworks set `* {box-sizing: border-box}`

[2019-09-29 21:04] dreamyguy commented on #1372
I actually got **Cypress** to run without scaffolding with the following setop. The scripts that successfully ran are mentioned in the `package.json` excerpt:

## cypress.json _(at project's root)_
[code]

## package.json
[code]

## File structure
[code]

[2019-09-30 04:40] raderj89 commented on #4935
I am experiencing this as well - I render my app in an iframe, which I know is its own issue, but I was able to use one of the workarounds suggested to query elements within an iframe. But when I click on anything in the iframe, I just get a stack overflow:

<img width="1628" alt="Screen Shot 2019-09-29 at 9 38 05 PM" src="https://user-images.githubusercontent.com/2731016/65849999-ba34b680-e301-11

[2019-09-30 06:36] leolin0704 commented on #1936
`Cypress.Commands.add(
    'until',
    ({ it, become, delay = 5000, timeout = Cypress.config('defaultCommandTimeout') }) => {
        cy.log('Until start:');

        let lastestResult;
        setTimeout(() => {
            if (typeof become === 'function') {
                expect(become(lastestResult), `${become}`).to.be.true;
            } else {
                expect(lastestResult).to.be.eq

[2019-09-30 06:41] leolin0704 commented on #1936
Add a custom command to do this:
[code]

Usage:
[code]

[2019-09-30 07:28] Alastair-Spencer opened #5240 "Handling multiple on browser before hooks"
### Current behavior:
The last declaration of the on before hook is being executed using `cypress open`

### Desired behavior:
In this example, i'm expecting both before browser launch's to execute.

### Steps to reproduce: (app code and test code)
[code]

### Versions
v3.4.1, MacOS Mojave, Chrome / Electron

[2019-09-30 11:57] bkirova opened #5241 "ENOTCONN error on Windows runs"
### Current behavior:
cypress throws error on Windows when launching more than one run as a separate process with execSync

[code]

### Steps to reproduce:

Launch more than one time cypress run command with execSync
[code]

### Versions
Cypress v3.4.1
Windows Version 10.0.18362
Node 12.11.0
npm 6.11.3

This issue is related to https://github.com/cypress-io/cypress/issues/1841

and is fixable by a

[2019-09-30 14:06] Vandivier commented on #2330
I want to thumb up one of the above comments to support the feature, but I also want to be clear about which feature we are discussing.

I think it would be great for Cypress to allow dpi configuration! I'm not so interested in specifying whether a screen is retina.

[2019-09-30 14:14] thorlacius opened #5244 "URI resolver does not recognize absolute URI"
An absolute URI of the form `https:adversary.io` is not recognized as an absolute URI.

### Current behavior:

Cypress thinks the URI `https:adversary.io` is a relative URI specifying only a pathname component. If resolved with base URI as the current working directory (the default) it will think `https:adversary.io` is a file named `https:adversary.io`.

### Desired behavior:
Cypress should recog

[2019-09-30 14:37] bahmutov opened #5245 "jQuery v3 types are looking for Sizzle types"
Found when testing types against Kitchensink https://circleci.com/gh/cypress-io/cypress/158000

[code]

[2019-09-30 15:42] flotwig opened #5248 "Hide new NODE_TLS_REJECT_UNAUTHORIZED warning"
Node was bumped to Node 12.0.0, which causes a warning from our use of NODE_TLS_REJECT_UNAUTHORIZED:

https://github.com/nodejs/node/blob/82f89ec8c1554964f5029fab1cf0f4fad1fa55a8/lib/_tls_wrap.js#L1380-L1383

We should suppress this warning until we implement correct SSL verification throughout Cypress.

[2019-09-30 16:46] raderj89 commented on #136
Commenting because I care.

[2019-09-30 16:47] #5245 closed

[2019-09-30 17:28] sshaar08 commented on #832
bump on this thread really need this option

[2019-09-30 17:31] fusionshoes commented on #390
Any news on this @brian-mann ? Cy best practice for each test to run standalone is excellent and perfectly architected, but there's definitely an added convenience to being able to order tests, and I'm curious if you and your guru coders are considering it?
Thanks!

[2019-09-30 17:43] Falieson commented on #3599
Also.... its really lame running my cypress suite on my MBP and have it take forever because its single threading the test files.

[2019-09-30 17:54] ayandebbarman commented on #136
While the workarounds are somewhat working but eagerly waiting for the solution.. iframes are pretty critical with most webapps today

[2019-09-30 19:18] chhiragkataria commented on #4220
We are facing the same issue - on 3.4.1 and see chrome-error://chromewebdata/
Has anyone found a workaround?
Why is the cypress team not looking into it?

[2019-09-30 20:09] msenejoa commented on #2897
If anyone is still running into the {meta} key problem on CircleCI, it seems that Linux does not support a metaKey. I got around this by adding a handler to check if the browser is in a linux environment

`const IS_LINUX =
  window.navigator.platform.toLowerCase().search('linux') > -1`

you will need to find a way to substitute another key for the `meta` key when you are in a Linux environment. I

[2019-09-30 21:17] flotwig commented on #5186
So this is kinda weird, @Bkucera and I spent some time looking into this today...

* There does not appear to be a way to start Xvfb without a pointer device.
	* `-nocursor` is a supported argument, but in actuality, it only removes the icon of the cursor, not the actual pointer device.
* We can check if a pointer device exists by doing either:
	* `xinput`, which comes with X, lists all input devi

[2019-09-30 21:19] brian-mann commented on #5186
Maybe `robotjs`

[2019-09-30 21:21] flotwig commented on #5186
Yeah, that could work. We'd still have to compile the native deps for Electron ourselves: https://robotjs.io/docs/electron

[2019-09-30 21:40] coderica commented on #2983
@chrisbreiding @jennifer-shehane we just ran into this issue in our project. As several others have already mentioned, this is broken in Cypress and therefore this issue is not actually closed. Please reopen.

[2019-09-30 21:50] coderica opened #5252 "browserslist extends not working with cypress"
### Current behavior:

Cypress tests break when extending a browserslist configuration. (https://github.com/cypress-io/cypress/issues/2983).

### Desired behavior:

There is currently a workaround by installing another 3rd party library, but Cypress should recognize & parse extended browserslists by default.

### Steps to reproduce: (app code and test code)

My project uses browser compatibility l

[2019-09-30 21:53] meeladdawood commented on #73
@jennifer-shehane Is there an update on this feature or a prototype that people can play with?

[2019-09-30 22:06] gogamera opened #5253 "EEXIST: file already exists, mkdir 'C:\Cypress.Node\node_modules.bin\cypress'"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-10-01 05:30] shahidcodes opened #5255 "Windows reports one of Cypress dependency (flatmap-stream) miner"
### Current behavior:
Installing cypress windows defender blocks this `AppData\Local\Cypress\Cache\3.1.2\Cypress\resources\app\packages\server\node_modules\flatmap-stream\test\data.js` file reporting it is a miner

### Desired behavior:
It should be removed if it contains miner. I am attaching a screenshot and the detected file.
### Steps to reproduce: (app code and test code)
Install cypress 3.1.

[2019-10-01 07:51] majco333 commented on #5222
Thanks @ryan-snyder

@jennifer-shehane, @Bkucera Is it really a bug?

[2019-10-01 08:38] garmeeh commented on #5001
Hey @mpahuja any updates on this? Is there any more information I can provide that might help debug it further?

[2019-10-01 09:44] HareemManzoor commented on #5111
@maximumsnow Add following lines of code to your package.json file under scripts tag.

"scripts": {
 "delete-mochawesome-folder":"rm -f mochawesome-report/*.json",
 "e2e_mochawesome": "yarn cypress run --spec cypress/integration/Tests/*.js",
 "merge-json":"npx mochawesome-merge --reportDir mochawesome-report > mochawesome1.json",
 "html-generator": " npx mochawesome-report-generator mochawesome1.j

[2019-10-01 09:44] daniel78uk commented on #3692
Same issue here I'm on OSX. Cypress 3.4.1

[2019-10-01 12:51] nhc commented on #2087
How would I get cypress to crash to test this? Can you give any direction I would be willing to help.

[2019-10-01 13:02] johnhiggs commented on #5139
@rudolfs  are you still having this issue?

[2019-10-01 13:17] nhc commented on #2075
I will have a go at this one.

[2019-10-01 13:38] joaodarocha commented on #3156
Well, this helped to figure out that the error only happens when testing my Angular App: `http://localhost:4200`

[2019-10-01 13:58] fingolfinor commented on #5121
+1 for this bug (ran into it also)

[2019-10-01 14:00] fingolfinor commented on #4692
+1 for this bug (ran into it also)

[2019-10-01 14:01] fingolfinor commented on #2876
+1 for this bug (ran into it also)

[2019-10-01 14:28] bahmutov commented on #4964
published blog post - this is still very alpha preview https://www.cypress.io/blog/2019/09/26/testing-electron-js-applications-using-cypress-alpha-release/

[2019-10-01 14:30] jennifer-shehane commented on #4898
The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-10-01 14:31] jennifer-shehane commented on #4790
The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-10-01 14:41] rudolfs commented on #5139
@johnhiggs yes. I had to pause my investigation because of work priorities. I was trying to create a minimal test case but it's a little tricky because we use ReasonML.

[2019-10-01 14:54] vperezbo commented on #4935
Hi!
I'm using cypress in a Salesforce based web, but when i try to use the Lightning elements that salesforce provides i receive the error for maximum call stack

The element is
![image](https://user-images.githubusercontent.com/55842462/65973487-b3c24e00-e46b-11e9-88ae-e9875a1a231f.png)

![image](https://user-images.githubusercontent.com/55842462/65973561-d48aa380-e46b-11e9-9d6f-fec4244d7edb.png)

[2019-10-01 16:23] julensas commented on #5089
happens to me too...

Ubuntu 18.04.3 LTS

  │ Cypress:    3.4.1
  │ Browser:    Electron 61 (headless)
  │ Specs:      2 found
  │ Params:     Group: e2e, Parallel: true

  Running: 1st...                                                                     (1 of 2)
  Estimated: 10 seconds
..................
  2 passing (10s)
  (Results)
..................
  Running: 2nd...

[2019-10-01 16:49] Bkucera commented on #5121
@fingolfinor please leave a :+1: on the top comment, it helps us prioritize.

[2019-10-01 16:55] Bkucera commented on #5222
@majco333 could you screenshot the chrome devtools network tab and show the request? it should give us more information about the request

[2019-10-01 17:21] nym commented on #10
Given that this is a permission issue with trusted events, is the Firefox or Chome teams willing to help get this working through command line args like --untrustedEventsTrusted --Iknowitsaterribleidea.

@paulirish batsignal.jpg 📡

[2019-10-01 17:35] flotwig opened #5257 "desktop-gui: Add authentication fallback in Runs List, New Project Modal"
Currently, the runs list and new project modal will not show the auth fallback URL in the case that we are unable to open the user's browser:

![image](https://user-images.githubusercontent.com/1151760/65972410-cae74880-e437-11e9-8802-cbc8167bac36.png)

---

Fixed in #5242

![image](https://user-images.githubusercontent.com/1151760/65975508-b6f21580-e43c-11e9-951b-cd866a8d4b40.png)

![image](https

[2019-10-01 17:35] #5257 closed

[2019-10-01 17:56] jennifer-shehane commented on #3349
The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-10-01 17:57] jennifer-shehane commented on #2478
The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-10-01 17:57] jennifer-shehane commented on #1075
The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-10-01 18:04] johnhiggs commented on #5139
We were finally able to figure out our issue today related to electron not working.  It was related to our webpack upgrade and failing on a form try catch error block not cooperating with electron.  IMO an electron bug

[2019-10-01 18:25] kylerob commented on #4318
@jennifer-shehane I'm willing to work on this for Hacktoberfest. What should be the acceptable inputs to clear using the select command? @flotwig I like how clean `cy.select()` is, but I think `cy.select([])` or `cy.select(null/undefined)` conveys more meaning to readers. Also I'm not sure how much `cy.clear()` makes sense with selects because according to the docs "`.clear()` is just an alias for

[2019-10-01 18:51] AlucardFAS commented on #136
I was able to access and interact with an iframe like this:

[code]

I believe it was the clearest way possible

[2019-10-01 20:27] jennifer-shehane commented on #987
@xlenz Please provide a reproducible example of the issue you are having that was not fixed by the workaround - we really want to make sure our next release addresses all edge cases. Thank you.

[2019-10-01 20:41] flotwig commented on #4318
Hey @kylerob, thanks for looking at this. To answer your questions:

`cy.select([])` and `cy.select(null/undefined)` should both clear the input field - since `cy.select` can accept an array of choices, `cy.select([])` semantically means "nothing selected". So I'd expect both to work.

Re: `cy.clear` - you can probably update cy.clear to check the command subject, and if the command subject is a `

[2019-10-01 20:59] jennifer-shehane commented on #2070
via @brian-mann

https://github.com/cypress-io/cypress/pull/4711#issuecomment-512889613

[2019-10-01 20:59] #2070 closed

[2019-10-01 21:08] #4162 closed

[2019-10-01 21:08] #4432 closed

[2019-10-01 21:09] julian-sf commented on #5139
Yeah, so our team's been running into this issue as well.  A LOT of the problems I've seen relating to this are just coming from old Electron bugs.  Electron 61 was released TWO entire years ago on September 5, 2017.  So yeah, this is going to be an issue until we can get a newer version of Electron running with Cypress.

In a way this IS a Cypress issue, because we need to be able to run on a mor

[2019-10-01 21:12] flotwig commented on #5139
Hey @julian-sf, Electron 5.0.10 upgrade (Chrome 73 - PR: #4720) is releasing with 3.5.0, which should come out later this week. So hopefully you won't need to wait much longer.

We're also working on upgrading to Electron 6 and keeping it up to date so this big gap doesn't happen again.

[2019-10-01 21:12] Bkucera commented on #4318
I don't think "clear" makes sense here since a user cannot clear a `select`, only set it to its default value.

However, the PR would simply be to accept `cy.get(...).select('')` and set the value to empty string.

The spec file to edit is here: https://github.com/cypress-io/cypress/blob/issue-2957/packages/driver/test/cypress/integration/commands/actions/select_spec.coffee

you would need to add

[2019-10-01 21:13] julian-sf commented on #5139
@flotwig Awesome!  I know you guys have been working hard on it.  I appreciate the update and I'm very much looking forward to the new version!

[2019-10-01 21:27] Bkucera commented on #4731
@jbensson8790 have you seen https://chromium.cypress.io/ ?

[2019-10-01 21:30] Bkucera commented on #3692
You might get a better idea of what's causing the slowdown by enabling debug logs.

set the env var `DEBUG=cypress*`

Windows: ```
set DEBUG=cypress*
npm run cypress:run
[code]

[2019-10-01 21:36] mgrybyk commented on #987
@jennifer-shehane @Bkucera you are right that reproducible example is needed, sorry to say I'm not able to provide you with it as far as it's only reproducible with my app,  spent already couple of hours, tried different approaches...

@Bkucera thank you for providing with official workaround, it works in some cases for me.

[2019-10-01 23:20] kylerob commented on #4318
@flotwig, @Bkucera Thanks for the pointers, I'm starting on it now.

[2019-10-02 00:37] BBlackwo commented on #3747
Would be nice to have a matcher like this:

[code]

You have a bunch of other matchers for text (`contain.text`, `have.text`, `include.text`), but not one for regex 😞

[2019-10-02 00:50] NickMele commented on #4394
The URL is an internal dev url that we can only access on our VPN. Here are the logs with the issue still occurring after installing the latest build.

[code]

https://gist.github.com/NickMele/56bb0953ad19a9198c740b3fec00eca9

[2019-10-02 00:52] jbensson8790 commented on #4731
Awesome, thanks  @Bkucera!

[2019-10-02 01:05] hesamossanloo commented on #4874
Put the input inside a div and click on the div. It worked for me.

[2019-10-02 03:36] mightyiam commented on #136
@AlucardFAS that seems like it should work when the iframe already loaded (possible race condition resulting in flaky tests).

This seems to be the most comprehensive solution: https://github.com/cypress-io/cypress/issues/136#issuecomment-525994895.

[2019-10-02 04:44] majco333 commented on #5222
@Bkucera Here you are.
![image](https://user-images.githubusercontent.com/4101721/66018557-e312a280-e4df-11e9-821e-ceff267beee7.png)

All info:
![image](https://user-images.githubusercontent.com/4101721/66018580-089fac00-e4e0-11e9-9667-e99645858e07.png)

[2019-10-02 06:55] XPuigA commented on #1502
@marioparris-qless did you manage to solve it? I'm having the same issue.

The webpage does not use jQuery, but it does seem to define window.$ as an empty object. Although I've looked in every dependency JS file from the page and have not found it being set anywhere.

Here is the debugging I've done, in case it helps somebody to see the issue:
![preCall](https://user-images.githubusercontent.com/

[2019-10-02 07:37] thian4 opened #5259 "wait after upload is done (fixture)"
How to wait when a image upload is finished? below is my code, the uploading is working, but I can't  do ```cy.wait('@lastCoverPhotoUpload')```.

I'm using this plugin
https://www.npmjs.com/package/cypress-file-upload

[code]

[2019-10-02 08:47] radum2o18 opened #5260 "Fixture loading issue"
### Current behavior:

TypeError: Cannot read property 'name' of undefined when trying to fetch data from fixture.

json file is simple, looks like this:

{
  "name":"user",
  "pwd":"password"
}

### Desired behavior:

Need to feed data from fixture file when running a simple test.

### Steps to reproduce: (app code and test code)

describe("Test app framework", function() {
    before(function()

[2019-10-02 08:56] #5260 closed

[2019-10-02 09:03] asafbenm commented on #1955
@Postavshik I have the same issue,
can you please attache the config solution or TS
the content in the link is empty
thanks

[2019-10-02 09:37] IMightGitIt commented on #3747
+1 to BBlackwo.

I currently end up with a ".then" to get the text and then run the RegEx assertion in an "expect" like:

[code]

With his suggestion, this would become so much cleaner like:
``
cy.get(theThing).should('match.text',myRegEx)
``

I end up using RegEx quite a lot for me testing as we have some very dynamic labels. For example, a trend indicator for chart could either be "-1.2%" or "+1

[2019-10-02 09:47] CSchulz opened #5261 "have.prop Chainer yields wrong subject type"
### Current behavior:

[code]

### Desired behavior:

[code]

The declaration should be something like:

`<T = any>(chainer: 'have.prop', value: string, match?: T): Chainable<T>`

In all cases the `Subject` have to replaced with anything else.

`(chainer: 'have.prop', value: string, match?: any): Chainable<Subject>`

### Versions

3.4.1

[2019-10-02 10:09] luisherranz opened #5262 ""bad option: --run-project" error when using VS Code"
### Current behavior:

I've added cypress to our husky configuration to pass e2e tests before pushing to GitHub, but when I try to push from VS Code, I get this `bad option: --run-project` error:

[code]

Running the same script works fine when executed in the terminal, so it's not a problem with the script.

Running `git push origin some-branch` in the terminal works fine, so it's not a problem o

[2019-10-02 11:52] jennifer-shehane commented on #4935
Closing this as a duplicate of https://github.com/cypress-io/cypress/issues/4373 We need a completely reproducible example to run on our end to begin debugging this unfortunately. Please provide one in the original issue.

[2019-10-02 11:53] #4935 closed

[2019-10-02 11:54] jennifer-shehane commented on #4373
Can anyone provide code for our team to run to reproduce this problem? We really want to help, but we can’t begin solving any of your problems without that.

[2019-10-02 12:01] san-ouadghiri commented on #1197
Just for future users ; I got this exact error @helaaura got (which is not the main topic of this thread I know). In case users ends up here for ETIMEDOUT here's a complementary feedback.

Produced ETIMEDOUT for me :
- I launched my tests (cypress open)
- I switched from my company network to a VPN one (as the test windows was open on 1 test with the previous execution results)
- I re-executed the

[2019-10-02 12:13] ptoshniw opened #5263 "Cypress test case hangs in docker environment in case of any failure test-case where it runs seamlessly outside docker"
## Current behavior:

If there is any test case failure in docker environment then it doesn't exit gracefully but it hangs there forever.

### Desired behavior:

it should exit the process and continue executing other specs present in the test suite.

### Steps to reproduce: (app code and test code)
Any failure test case is hangs in docker environment. where it runs seamlessly outside docker.

Deb

[2019-10-02 12:22] jbutko commented on #3427
Maybe this one helps somebody else but I encountered similar issue when waiting for a `GET` request. The test looked something along the lines:
[code]
This one always timeouted. The problem was that API request to `GET /list` was sent with query params, for example `?userId=1&category=10`. As soon as I changed `route` definition as follows:

`cy.server().route('GET', '**/list?**').as('getList');`

[2019-10-02 12:35] flotwig commented on #4394
@nickmele It's probably some bug with the SSL cipher you're using and Node 12. Can you share with me the commands you use to create the SSL certificate that is failing to verify? That will help me to reproduce the issue.

[2019-10-02 13:12] marioparris-qless commented on #1502
@XPuigA No, I haven't been able to. You've gotten way further than I have!

[2019-10-02 13:28] aellopos opened #5266 "Page loaded, but not displayed"
Hi!

I am writing test for website that runs locally on my computer (using docker). I want to put sign in information and sign in to website. When I run this test, it will put in sign in information, click to sign in button, everything seems to be fine, but next page will not load, test passed. I can see in report that (PAGE LOAD) --page loaded-- (NEW URL) etc., but new page not displayed.

![imag

[2019-10-02 14:25] jennifer-shehane commented on #3607
Related issue with how we want to change the behavior of 'run all specs' in general https://github.com/cypress-io/cypress/issues/1586

[2019-10-02 14:30] bob-zs opened #5267 "Cypress promise gets ignored or throws an error"
### Current behavior:
Cypress promise gets ignored or throws an error.

### Desired behavior:
It runs through either commands.

### Steps to reproduce: (app code and test code)
Diff:
https://github.com/cypress-io/cypress-test-tiny/pull/50/files#diff-2b07e229b86aa9d270302ce5fcdf29a1L18

<img width="525" alt="Screen Shot 2019-10-02 at 10 26 38 AM" src="https://user-images.githubusercontent.com/46989

[2019-10-02 14:42] dialex opened #5268 "Cypress cannot read baseUrl ending in slash `/`"
### Current behavior:

If you have this url configured

[code]

When you run `Cypress.config().baseUrl` in a `before` function it returns `undefined`

### Desired behavior:

When you run `Cypress.config().baseUrl` in a `before` function it returns `http://google.com/`

### Steps to reproduce:

The **cause** is the `/` at the end of the URL.

If you remove it, then you get the desired behaviour. Th

[2019-10-02 14:48] dialex commented on #5268
This might be related with #3540

[2019-10-02 14:49] vekunz commented on #136
Commenting because I care.

We need this to even think about writing tests with cypress.

[2019-10-02 14:59] joanrieu commented on #5180
This issue is similar to #2102 but #2102 is about `cypress run` (Xvfb is too small for the viewport) whereas this is about `cypress open` (Chrome is too small for the viewport).

I haven't had time to extract minimal code to reproduce yet.

[2019-10-02 15:05] Postavshik commented on #1955
@asafbenm
Check this link: https://github.com/cypress-io/cypress/issues/2316
Scroll down, there is a code example, which I have used exactly as it posted but without "fork-ts-checker" plugin

[2019-10-02 15:38] #5248 closed

[2019-10-02 15:46] flotwig opened #5269 "Snapshot stderr in e2e tests"
Currently, the e2e tests only capture and snapshot stdout:

https://github.com/cypress-io/cypress/blob/4ec77e3d589983b19d448d9c8cc2aed9d9068d05/packages/server/test/support/helpers/e2e.coffee#L164-L173

It would be nice to also capture and snapshot stderr, since sometimes issues only affect stderr, not stdout.

Things this would've caught early:

- #5256
- Electron debug output not being filtered

[2019-10-02 16:02] flotwig commented on #5268
May also be related: #5175

@dialex I was unable to reproduce this issue - setting a cypress.json with that `baseUrl`, this assertion still passes:

[code]

This happens if I put the `before` before anything else, or if I nest the `before`.

Are you using any other configuration/plugins that may be related? How is your `before` hook setup?

[2019-10-02 16:31] #5239 closed

[2019-10-02 17:30] bahalperin opened #5270 "`not.be.visible` assertion fails when element does not exist in DOM and Stripe JS SDK is imported"
### Current behavior:
Normally when asserting that an element is not visible (using `.should('not.be.visible')`), if the element does not exist in the DOM, the assertion passes.

For some reason, simply by including the Stripe JS SDK in the head of the document (following the instructions [here](https://stripe.com/docs/web/setup#setup)), the `not.be.visible` assertion fails (by timing out when ret

[2019-10-02 17:39] flotwig opened #5271 "Replace x.top, x.parent accessors with correct reference (at runtime)"
PR: #5273

### Current behavior:

window.top and window.parent references are naively corrected like so:

https://github.com/cypress-io/cypress/blob/4ec77e3d589983b19d448d9c8cc2aed9d9068d05/packages/server/lib/util/security.js#L7-L38

### Desired behavior:

* Replace `/(.*)\.(top|parent)/` with `(window.top.Cypress.resolveWindowReference($1, "$2"))` using AST parser or regexes
* `window.top.Cypres

[2019-10-02 19:43] jennifer-shehane opened #5274 "cy.request() errors when URL's path contains ’ character"
### Current behavior:

Using a `’` character in the Path of the URL passed to `cy.request()` causes a `TypeError: The header content contains invalid characters`.

The apostrophe is not a `'` apostrophe character, it's the `’` character. If I paste the same url into my Chrome browser - the url redirects correctly.

I tried a lot of other characters that did not cause any issue including some emoji

[2019-10-02 20:09] flotwig commented on #5274
The root of the problem here is that [you can't put a Unicode character in the HTTP request path or in the HTTP request headers][1]. So the request that is made by:

[code]

Looks like this:

[code]

Which is invalid, since it contains Unicode, and shouldn't be sent anyways.

`encodeURIComponent('’')` returns `"%E2%80%99"`, so maybe the proper request would be this:

[code]

---

Can we automatica

[2019-10-02 21:05] toastcrunch commented on #421
beforeEach(() => {
    cy.visit('https://2u.netlify.com/', {failOnStatusCode: false}) //Bypass 4xx authorization
    cy.get('input').type('xxx').type('{enter}')
}

[2019-10-02 21:16] victor-battestin commented on #2671
Hello guys, I'm also in with this same problem. Any updates about a solution for cypress interact with chrome alerts and notifications? :(

[2019-10-02 23:55] kylerob commented on #2822
Is anyone able to reproduce this in 3.4.1?

[2019-10-03 00:47] lleewwiiss opened #5275 "How to ensure all react components are loaded before cy.screenshot()"
### Current behavior:

When trying to get screenshots of pages, even after waiting for all xhr requests and checking elements exist, `cy.screenshot()` will capture the page in an intermediate loading state where some things haven't rendered yet.

I do not want to use `cy.wait(1000)` as it is hacky and has caused my problems further down the test chain, such as random timeouts on screenshots.

###

[2019-10-03 01:14] lleewwiiss commented on #5016
@taylorpreston Did you ever resolve this issue? I am experience similar problems

[2019-10-03 02:53] TomYang1993 opened #5276 "integrate with passport.js"
### Current behavior:

testing a ui button, which after `click()`, it should fire a post action(basically a form submit), post action returns 403 forbidden, it is intended by my apis, because it's checking if `req.user` exists. I am using **passport** **OAuth**, it will save user session or info on `req.user`. It seems because cypress is natively reacting, it fires the post request **without** req

[2019-10-03 06:07] XPuigA commented on #1502
@marioparris-qless I think I fixed it with the following code:
`cy.on('window:before:load', (win) => {
    if (win.jQuery === undefined && (win.$ === undefined || win.$ === {})) {
        win.$ = Cypress.cy.$$;
    }
});
`
For anyone else having the same problem, what the code does is, before loading every page in the spec, check if the Window object has the jQuery or $ properties, and if not, ass

[2019-10-03 06:46] thian4 opened #5278 "run cypress in staging frontend"
How difficult is it to allow cypress to be trigger in a webapp?

We have this development flow:
1. developer write and run cypress for e2e, deploy feature to staging
2. tester and manager test manually in staging
3. release feature to production

Is it possible to let tester and manager to run cypress in staging?

[2019-10-03 08:01] juristr opened #5279 "[Doc] 404 on the cypress dashboard page"
### Steps to reproduce: (app code and test code)

Visiting [this site](https://www.cypress.io/dashboard/#targetText=The%20Cypress%20Dashboard%20enables%20you,machines%20as%20you%20want%20to.)

![image](https://user-images.githubusercontent.com/542458/66109283-9b197b80-e5c4-11e9-8db0-bb909fc7e1b4.png)

Click the "Configure your project to record....it points to https://docs.cypress.io/dashboard-ser

[2019-10-03 09:40] dialex commented on #5268
Thanks for caring about my issue :)

My setup is not very straightforward.

First, it loads some env variables, and based on those values it reads a `config.json` with the baseUrl of the site I'm currently testing. This happens on `plugins/index.js`.

[code]

Then, the flow continues to `support/index.js`, which is where I try to read `baseUrl`:

[code]

I noticed this because when running the `en

[2019-10-03 10:11] mihalcan commented on #4536
Setting the relative path to mochawesome.js worked fine for me:
[code]

[2019-10-03 11:07] #5123 closed

[2019-10-03 12:39] Svish commented on #5241
Started getting this today too, and I have no knowledge of any `execSync` calls. Just running Cypress as I did before `cypress run --project ./cypress`... Tried to reboot in case there was anything "hanging", but that didn't seem to help anything either... 😒

[2019-10-03 13:01] Aeny202 commented on #554
I ran into this one today as well on the latest release (3.4.1) Anyone knows of a decent workaround?

[2019-10-03 13:23] knagarajan1984 opened #5280 "Cypress does not seem to respect mocha timeout"
### Current behavior:

I expected the following line of code to timeout the test and fail.

[code]

### Desired behavior:

The test should timeout and fail

Cypress 5.4.1, Windows 10

[2019-10-03 13:35] jaxxreal commented on #1226
I'm experiencing the same issue with css-in-js lib [styletron@5](https://www.styletron.org/). Cypress version is `3.4.1`.

[2019-10-03 13:42] flotwig commented on #5241
Hey @bkirova @Svish, thanks for making us aware of this.

@Svish Are you also opening up 2 Cypress instances? Or just one?

@bkirova If you'd like to, you can open a pull request that fixes that offending line of code, since you've already found what's going wrong. We'd be happy to merge a fix.

[2019-10-03 13:45] Svish commented on #5241
As I wrote, I don't know anything about `execSync` or multiple instances. I'm just running the Cypress test runner as I've done since I first started using Cypress months ago. Worked fine before. 😕

[2019-10-03 13:48] flotwig commented on #5241
Super strange. Can you provide `DEBUG` logs from the crash? Since you're on Windows, you can install `cross-env` so you can pass environment variables:

[code]

Also, did this only start happening in 3.4.1, or has 3.4.1 been working fine and then this started to happen?

[2019-10-03 13:54] mdp27 commented on #2550
Also faced the same issue and the updated reporter above fixed the problem.

[2019-10-03 14:00] kylerob commented on #4408
@jennifer-shehane Do you mind if I pick this up? Also should we add all of the dom functions to the declaration file? It looks like there are a good deal more in dom/index.js that could be added.

[2019-10-03 14:37] taylorpreston commented on #5016
@lleewwiiss We never figured out what was causing this issue. We think it has to do with cypress beginning to run tests on the application before it has finished starting. The errors we received were the first 2-5 tests.

[2019-10-03 14:37] TomaszG commented on #5153
It seems to be quite similar to that one https://github.com/cypress-io/cypress/issues/2971. Do you know how I can get a selector from alias? I was thinking about overwriting get() command and add to it an option to fetch the DOM using selector referenced by alias.

[2019-10-03 14:37] you1anna commented on #350
This is now blocking us using Cypress in CI, have tried adding `--disable-dev-shm-usage` as @jennifer-shehane suggested but we're seeing the 'Chromium renderer process crashed' message each time in GoCD, after Cypress has run only two tests.

[2019-10-03 14:40] ryan-snyder commented on #5153
It is similar to that one. You should be able to get the selector by doing
[code]
Or something similar. If you do a console.log on ele, it should be pretty easy to do

[2019-10-03 15:42] FabiGomes commented on #621
Any news about how to working on with a prompt box ? Cypress still not automatically accept it.

[2019-10-03 15:54] jbolda commented on #5241
As another data point, I am only seeing this on windows with npm and node 12. I don't _think_ I was testing this combination prior to `3.4.1` though so I can't comment on your question. I have this error in a Github Actions CI run (hopefully you have access to the beta), and [opened a PR](https://github.com/jbolda/finatr/pull/166) to [trigger a run with DEBUG enabled](https://github.com/jbolda/fin

[2019-10-03 15:55] kuceb opened #5281 "better dom node highlights"
Priority: low

Currently, we use absolutely positioned dom nodes placed on the `body` of the app frame.
We could switch to using pseudo element + svg rects to render dom highlights.

**benefits**:
- element transforms will always be taken into account. Currently, we cannot take into account parent transforms

Demo here:
https://codesandbox.io/s/dom-hightlight-pseudo-demo-mrwv5

[2019-10-03 15:57] srinu-alef commented on #350
Hi @you1anna I also faced this problem, and today Finally I could fix this by adding

 in my docker-compose.yaml file and it is working consistently.
Basically this flag will allocate the 2gb memory to the docker container and such that there will be no memory related issue...

Please add this and it should be fine. BTW it doesn't have any link with GoCD :)

Let me know if you face any problem or

[2019-10-03 16:01] srinu-kodi commented on #350
Hi @you1anna I also faced this problem, today finally I could fix this by adding `shm_size: '2gb'`
in my docker-compose.yaml file and it is working consistently.
Basically this flag will allocate the 2gb memory to the docker container and such that there will be no memory related issue...

Please add this and it should be fine. BTW it doesn't have any link with GoCD :)

Let me know if you face any

[2019-10-03 16:04] janakdr opened #5282 "deck.gl not working with Cypress' Electron browser: "AnimationLoop.onCreateContext - illegal context returned""
When running our Cypress end-to-end tests, I get the above error in the Electron browser, but not in Chrome or Chromium. The full error message is:

[code]

Repro: the code at http://janak.org/deck_cypress_example.html is sufficient (I've pasted it below as well). A simple Cypress test, put at `cypress/integration/test.js`, is:

[code]

With that, `npm run cypress run --spec cypress/integration/te

[2019-10-03 16:26] btferus5 commented on #4460
@lifeiscontent
one way to solve this using Apollo is to change your URL to include the queryname as a param. It allowed me to track requests in Cypress like

cy.route('POST', '**?q=getThing**)

[2019-10-03 16:29] aaron-peloquin commented on #4460
@lifeiscontent if you can add a dummy `?q=${operationName}` to all of the calls made by Apollo, you could alias that in Apollo

[2019-10-03 16:31] lifeiscontent commented on #4460
@aaron-peloquin @btferus5 sure, but that's clearly a hack, I'd expect cypress to have support for this, not having to hack the library, then later once they've figured it out, undo all the hacks.

[2019-10-03 16:47] fr0 commented on #5023
I am experiencing something like this related to the `focusout` event. If the browser window has focus while the test is running, it passes. Otherwise, it fails.

Specifically, I have a popup that is hidden when it loses focus (when it receives `focusout`). Is there a known workaround for this?

[2019-10-03 16:51] btferus5 commented on #4460
@lifeiscontent no need to hack the library, it's a built in option using context.

It also gives you better visibility in and outside of Cypress just debugging issues and tracking network requests.

I also don't see how cypress would implement an alternative way to track requests that all share the same URL

[2019-10-03 19:05] chrisbreiding opened #5283 "Typing into selector playground text input triggers keyboard shortcuts"
### Current behavior:

When typing into the selector playground, if you type a letter that is a reporter keyboard shortcut (`R`, `F`, etc), it will trigger the keyboard shortcut. So typing `.bar` with rerun the tests, and typing `.foo` will focus the Desktop GUI (meaning you only get as far as typing `.f`).

### Desired behavior:

Typing in the selector playground should not propagate up and trigg

[2019-10-03 20:02] xereda opened #5284 "Using subfolder __tests__"
Can I leave the test files inside the implementation folders, as we already do with unit tests, using __tests__ subfolder?

I believe the flow of TDD can be further optimized by getting testing close to implementation. I understand that we would have to differentiate the unit test files from the e2e tests. We would solve with two files patterns: `*.unit.js` and `*.e2e.js`.

Would it be possible?

[2019-10-03 20:05] nym commented on #10
A potential cypress fix might be to make fake :hover's in the transform step, e.g. change `div:hover { display: block }` to `div:hover, div.cy-hover { display: block }`

Would of course like a better solution. This is a big pain point in testing visual changes.

[2019-10-03 20:13] stubar commented on #10
There is no way of triggering psuedo selectors with javascript. I think my
idea of iterating CSS is the only way.

On Thu, 3 Oct 2019, 21:05 Tom Longson, <notifications@github.com> wrote:

[2019-10-03 21:07] eduard2014 commented on #972
I'm experiencing this issue with a Vue.js app.

[2019-10-03 22:29] alexanderchan commented on #4731
Seeing this as well on chrome Google Chrome 77.0.3865.90

[2019-10-04 01:58] ari1988 commented on #10
the link throws 404 error

[2019-10-04 06:36] TomaszG commented on #5153
So I have the following piece of code which fails because of the issue mentioned in the ticket (previously @errorMessages alias points to 2 elements, however, at this point there's only one such element)
[code]

According to your advice, I tried to try the workaround in the test which worked fine:
[code]

So I tried to make it generic:
[code]

However, now when I run the test, even without providi

[2019-10-04 06:56] majco333 commented on #5222
@jennifer-shehane, @Bkucera Do you have any new detections?

[2019-10-04 07:13] mohankumar91 opened #5286 "onclick event fired when disabled the icon button in blazor"
### Current behavior:

`@onclick` event fired when disabled the button (with icon) in blazor

### Desired behavior:

`@onclick` event not fired when disabled the button(with icon) in blazor

### Steps to reproduce: (app code and test code)

[code]

[code]

[code]

**Refer the below css file in **_host.cshtml** page**

https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.c

[2019-10-04 08:38] adamkundrat commented on #395
Completely agree!

@brian-mann your opinion on this problem is very idealistic. Every complex application has if this do that on certain elements and Cypress should support that.

[2019-10-04 09:44] mroeling opened #5287 "cy.route xhr.request.body is empty when using FormData"
### Current behavior:

When using a stubbed POST route, within the `onRequest` (...xhr) the `xhr.request.body` is always empty, although the network tab in chrome does show proper form data, only an empty `FormData` object.

### Desired behavior:

the form data should be visible in the `xhr.request.body` as well

### Steps to reproduce: (app code and test code)

*NOTE!* The problem only arises whe

[2019-10-04 10:27] sora36 commented on #1342
This also happens in my company and the 3rd party will by no means provide access besides the browser UI... So cypress is a no no here :/

[2019-10-04 11:11] you1anna commented on #350
Thanks @srinu-kodi. It makes sense to use more shm, but in our tests we are using a separate container with following volume share:
   ` volumes:
        - "/dev/shm:/dev/shm"`
which means that all of shared memory is used by the container. Currently we are using agents with 8GB ram, so our next step is to try with 16GB. Outside of that I don't know what else we can do.

[2019-10-04 12:03] Artem-Kushch opened #5288 ""Unexpected identifier" error when used "userAgent" in cypress.json and running with "cypress run""
### Current behavior:
Get `Uncaught SyntaxError: Unexpected identifier` error after visit step in the test, only when used `userAgent` in `cypress.json` and running tests with `cypress run`

<img width="391" alt="2019-10-04_1459" src="https://user-images.githubusercontent.com/18553982/66206070-a6010880-e6b7-11e9-9673-318e05f318d8.png">

Without `userAgent` - works fine.

Running with `cypress open

[2019-10-04 12:18] ryardley opened #5289 "`onAnyRequest` does not fire when set from `Cypress.Server.defaults`"
### Current behavior:

If I do this:

[code]

I find all my un-stubbed routes fail the test they are called in appropriately and tell me what I should do to fix the failure.

---

Now, according to the following, I can put my default `cy.server` config in `Cypress.Server.defaults()`:

https://docs.cypress.io/api/cypress-api/cypress-server.html#Syntax

However, when I do the following:

[code]

and

[2019-10-04 12:33] ovenal opened #5290 "The failure screenshot doesn't display failed assertion (it's still in progress)"
### Current behavior:
Cypress takes a screenshot in case of a failure and the Command Log on the screenshot isn't updated, there is still an assertion in blue with spinner icon in front. So currently the screenshot doesn't show what assertion has been failed.

![screenshot -- screenshot (failed)](https://user-images.githubusercontent.com/3194707/66207355-3db42600-e6bb-11e9-9874-f6c56ace94bd.png)

[2019-10-04 13:25] amazza-bg opened #5291 "Cypress Dashboard project status icons not properly synced with main panel"
### Current behavior:

The cypress dashboard has three status icons:

1. Green check to display tests have passed for the most recent test run (assumed)
2. Red X to display tests have failed for the most recent test run (assumed)
3. Yellow question mark to display tests have not been executed (assumed)

These icons are displayed next to the name of the project on the left panel AND on the main pan

[2019-10-04 13:25] sensuraj92 commented on #1467
Any update on this issue please, i am also facing same issue, please suggest if we have any workaround

[2019-10-04 13:34] idxrx commented on #5241
I also got this error when I updated from node-v12.9.1-x64 to node-v12.11.1-x64. To solve this issue for now, go back to 12.9.1

[2019-10-04 13:45] idxrx commented on #5241
To be a little more precise: node-v12.10 is also working, but version node-v12.11.0 not.

[2019-10-04 14:07] idxrx opened #5292 "cypress run gives error with node v12.11.0"
Issue

### Current behavior:
Cypress version 3.4.1
Node version v12.11.0 and also v12.11.1

npm run cypress:run with nodejs version 12.11.0 gives error below after all specs passed and with node version 12.10.0 or lower there is no error.
(easy fix is uninstalling node and install v12.10.0)

The error is:

   All specs passed!                           00:06        8        8        -        -

[2019-10-04 14:21] flotwig commented on #5292
Duplicate of #5241, closing.

[2019-10-04 14:21] #5292 closed

[2019-10-04 14:30] tibdex commented on #4979
This is related to #2568 but the weird thing is that the issue happens when using `cypress run` but not `cypress open`. Someone knows the Chrome-related differences between these two modes?

[2019-10-04 14:38] flotwig commented on #5241
Here's the [12.11.0 changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#2019-09-25-version-12110-current-bridgear). I was unable to find any change that clearly causes this. I'll open a PR with @bkirova's patch so this can be fixed in the next release.

[2019-10-04 14:38] Svish commented on #5241
Haven't been at the office today, so haven't been able to confirm, but I did upgrade Node to latest version recently too, so sounds like that could maybe be the issue then. 🤔

[2019-10-04 15:21] Bkucera commented on #5023
@fr0 this should have been fixed in 3.4.1, could you give a reproducible?

[2019-10-04 15:37] Bkucera commented on #5222
@majco333 sorry, I meant to see the view with the "type" column. It should say XHR or fetch

[2019-10-04 16:17] grzegorz-jazurek commented on #2667
@Pascalmh thanks man!

[2019-10-04 18:19] fr0 commented on #5023
Sure, here you go:  https://github.com/fr0/cypress-focus-test

[2019-10-04 18:24] Bkucera opened #5295 "dom snapshot iframe placeholder HTML not rendering"
- when viewing dom snapshot, I should see placeholder HTML inside iframe
**problem**:
- something about how inlined `data:` html changed and cannot handle the `#` in `color: #888`

expected:
![image](https://user-images.githubusercontent.com/14625260/66230506-53711d80-e6b2-11e9-94ad-e5e0f6e64edc.png)

actual:
![image](https://user-images.githubusercontent.com/14625260/66230608-903d1480-e6b2-11e9-8

[2019-10-04 18:59] pcj commented on #136
Can one of the core cypress developers please comment on the roadmap / status of the issue?

(Did I read it correctly that the last one was 2017?)

[2019-10-04 19:11] schmist commented on #5185
@jennifer-shehane @ryan-snyder are there any update on this? Right now we are relying on a very ugly workaround involving an SSH tunnel, just to change the port Cypress runs against (since we cannot change the port of the target system).

[2019-10-04 19:26] amcooper commented on #4351
We see the warnings on `cypress run` in CircleCI, on three of the nine files in the suite (warnings from one test file appear below). An attempt to implement [this fix](https://github.com/cypress-io/cypress-docker-images/issues/52#issuecomment-446144630) was effective, except that one of our tests clicks play buttons on podcast players, and the fix caused that test to fail.

[code]

[2019-10-04 20:27] jennifer-shehane commented on #4373
I have been given a way to reproduce this. It is narrowed down to the `elIsHiddenByAncestors` function.

In this case for some reason getting the `parent()` of a lightning input element yields itself, so we call up the parent recursively, but it essentially just calls the same function on itself forever.

This is what `$el` and `$el.parent()` and `parentNode` evaluate as through 3 loops of the fun

[2019-10-04 21:44] ericraio commented on #136
+1 for core cypress developer leaving a comment

[2019-10-04 23:22] thomasleveil commented on #943
For me I had a webserver which failed if it could not find the "Accept-Encoding" header.

Fixed with :

[code]

[2019-10-05 19:42] grabartley commented on #3237
I will take a look into this

[2019-10-06 03:35] thomaseizinger commented on #877
Inspired by @Whassup, I rewrote the command as an assertion. Simply paste the following into a `cypress/support/assertions.js` file and do `import './assertions';` in your `cupress/support/index.js` file.

[code]

Usage:

[code]

[2019-10-06 09:06] ptoshniw commented on #5190
I am facing the same issue and trying to find a solution from the past week, but unfortunately no luck so far.  Any help from cypress community is highly recommended.

[2019-10-06 09:17] asafbenm commented on #5192
it's seem that transpileOnly: true fix the issue
https://github.com/cypress-io/cypress/issues/2316

[2019-10-06 09:17] #5192 closed

[2019-10-06 12:43] ptoshniw commented on #5190
@oracleason I am able to resolve my issue and hoping that solution might help you as well.
I was running my application in docker and there it was not able to run and it was hanging in case failure. I have added one line and it worked like charm.
[code]

[2019-10-06 13:43] allyraza commented on #4665
Hi there,

I am still experiencing this `xhr.response.body` is returning null value.

thanks

[2019-10-07 04:23] ayandebbarman opened #5300 "Disabling Uncaught Exception not working"
I am passing in below for each page load but still getting error

        Cypress.on('Uncaught', (err) => {
            return false
        })

        // patch Cypress top.onerror
        Object.defineProperty(top, 'onerror', {
            value: window.onerror,
        })

![image](https://user-images.githubusercontent.com/50571836/66284989-3de53900-e8e8-11e9-90ec-c2e79fd21128.png)

[2019-10-07 06:12] ayandebbarman commented on #5300
Realized its duplicate of issue 987
https://github.com/cypress-io/cypress/issues/987

[2019-10-07 06:12] #5300 closed

[2019-10-07 08:03] keertyverma opened #5301 "junit reports are not logging failed testcase time in the generated xml files"
Hi, I have problems to get the built-in junit reporter working. Failed testcase time is not logged in generated junit xml files.

### Current behavior:
1. I am running multiple test files. Reports are getting generated for each specs.
But if any tests are failing then in the report, test time is 0

![image](https://user-images.githubusercontent.com/13656449/66294428-94fa0680-e906-11e9-9a0c-a207d4a

[2019-10-07 11:06] shravanrai commented on #2894
I got the same issue. the mistake I was doing was running "./cypress open" command from the leaf folder.  Resolution: run " ./node_modules/cypress/bin/cypress open" from project root folder.

[2019-10-07 14:30] jennifer-shehane commented on #5291
Hey @amazza-bluegrace, we are aware of some situations where the project's status icon is not matching the true status of the project in our new navigation bar in the Dashboard. Our engineering team is working on a fix. We'll update this issue as soon as that fix is released.

[2019-10-07 14:45] mihaicolceriu commented on #136
Commenting because I care.

[2019-10-07 14:56] markbello commented on #4126
Are your tests running any snapshots? If so, I think it closes the sidebar so it doesn't appear in snapshots. I had this issue too, and after I removed them the sidebar persisted for me

[2019-10-07 15:19] oak-wildwood commented on #5279
Good catch @juristr. Appreciate the heads up. Will get this fixed.

[2019-10-07 16:19] #5283 closed

[2019-10-07 17:19] #5241 closed

[2019-10-07 18:10] mcphersonzw commented on #3838
any update on this? I'm unable to override `type()` as well.

[2019-10-07 18:27] tnrich opened #5302 "Kill long running test"
Hey there, I'm wondering if there is already a built in way or a recommended way to kill any tests that run longer than a particular arbitrary timeout. In my case I'm finding that certain tests are taking an unexpected amount of time to complete and can completely hang my CI environment.

For that reason I'd like to set a `maxTestRunTimeout` variable to 5 mins and kill any tests with an error if t

[2019-10-07 18:53] jennifer-shehane commented on #5302
Hey @tnrich, I'd need to know more specifically what the situation is within the test - why it 'hangs' exactly, but we have implemented a fix that will go out in 3.5.0 that will timeout tests with a `done` callback that 'hang' within the allowed `defaultCommandTimeout`. See PR here: https://github.com/cypress-io/cypress/pull/5097

You could pull down and try the prerelease with that fix by followi

[2019-10-07 19:00] tnrich commented on #5302
@jennifer-shehane thanks for getting back to me! I don't think the defaultCommandTimeout would work for my use case because it is not necessarily a command itself that would cause the test to hang. Here is an example of a test that I would want to fail based on a `maxTestRunTimeout` (as opposed to a `defaultCommandTimeout`):

[code]

In this example code there is no command that runs longer that 2

[2019-10-07 19:08] tnrich commented on #5302
Just poking around a bit.. it seems like I can do this by adding:

[code]

to `support/index.js`

That way this will run before every test and error if it takes too long.

[2019-10-07 19:11] austinfox commented on #2047
Why was this closed? It doesn't seem like the original bug was fixed. I'm experiencing this issue as well and would like to avoid disabling chromeWebSecurity if possible.

[2019-10-07 19:18] oising commented on #1342
It seems that trying to use a grant type of 'password' is a dead end here. Instead, use the client credentials flow and assign application permissions (not user permissions.) That is to say, you grant the _application_ a role and then you can use the client secret / client id / resource without needing a username/password for your tests, albeit your application registration is then fixed to a sing

[2019-10-07 19:19] ChaseBig opened #5303 "Does anyone *actually* know how to set-up and/or use cypress `groups`?"
# Current behavior:
Currently, there is no behavior because the documentation on the cypress docs website is useless (there's not really any documentation on how to use/implement/set-up groups).

### Desired behavior:
I just want to see some sort of documentation on how cypress --groups are supposed to be set up.

### Steps to reproduce: (app code and test code)

1) Navigate to https://docs.cypres

[2019-10-07 19:30] ayandebbarman commented on #3590
commenting coz i need this feature .. my scenario is i am validating email once sign up is complete. email validation is its own test case but i don't want it to run if sign up throws error

[2019-10-07 19:44] brian-mann commented on #5303
Have you read the section here?

https://docs.cypress.io/guides/guides/parallelization.html#Grouping-test-runs

Maybe you can provide more specifics as to what is not satisfactory about the docs and grouping content. I see several sections that explain exactly how to use the `--group` flag, and what the effect of it is (including screenshots).

I took a screenshot of the docs in case they are not

[2019-10-07 19:44] #5303 closed

[2019-10-07 20:03] ChaseBig commented on #5303
@brian-mann
This documentation is primarily regarding parallelization, but there's still no explanation of how or where `groups` are defined. All this documentation shows in regard to the `group` feature is a list of arbitrary terminal commands. I'm not using parallelization at this time and just want to assign a file path to a "group" so I can set up my CI to only run certain groups when certain

[2019-10-07 20:15] jennifer-shehane commented on #5303
Yes

Yes.

Yes. 👍

You can pass in a group name through `cypress run` or using our Module API.

- https://on.cypress.io/command-line#cypress-run-group-lt-name-gt
- https://on.cypress.io/module-api#cypress-run

Cypress only reads the group name at runtime, we do not look anywhere else for groups. We will associate separate `cypress run` with the same group name passed and put them in the same group

[2019-10-07 20:18] ChaseBig commented on #5303
@jennifer-shehane

Perfect, I appreciate you taking the time to confirm these points.

Thank you.

[2019-10-07 20:26] jennifer-shehane commented on #5279
This repo is only for issues relating to Cypress as a product. This issue will be closed in this repository.

We're deploying a fix for the broken link though. Thanks for pointing it out!

[2019-10-07 20:26] #5279 closed

[2019-10-07 20:30] jennifer-shehane commented on #5301
Have you isolated that the time shows correctly when set up outside of the Cypress test runner?

Cypress doesn't generate these reports - junit is, so I do not think this is an issue with Cypress.

[2019-10-07 20:34] jennifer-shehane commented on #5180
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way to reproduce this?

[2019-10-07 20:36] jennifer-shehane commented on #5201
The screenshot is taken at the width of your browser window - which is also potentially restricted by the size of the screen the machine you are running within. We can only take a screenshot of the actual pixels on the screen - upscaling it to a higher resolution would just be manipulating the original screenshot.

Also, the size of the Command Log on the left size will be whatever you had the Com

[2019-10-07 20:36] #5201 closed

[2019-10-07 20:37] jennifer-shehane commented on #5011
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2019-10-07 20:37] #5011 closed

[2019-10-07 20:40] jennifer-shehane commented on #5026
In the situation you pasted the photo of - we do not arbitrarily add `afterEach` to your tests.

Your project likely has an `afterEach` somewhere running in Cypress - check all files in the `cypress/support` folder and the `cypress/plugins` folder because anything included in those files will run on each test run.

[2019-10-07 20:40] #5026 closed

[2019-10-07 20:41] jennifer-shehane commented on #4189
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-10-07 20:41] #4189 closed

[2019-10-07 20:56] joanrieu commented on #5180
Hi,

Here's the minimal code to reproduce:
[code]

It does not matter what page is visited.

The resulting screenshot is 1920x1045 instead of 1920x1080. I can reproduce it  reliably and independently of the capture mode passed: both `fullPage` or `viewport` result in the same 1920x1045 png file.

[2019-10-07 21:06] jennifer-shehane commented on #5289
I can recreate this - seems like a bug to me.

[code]

<img width="680" alt="Screen Shot 2019-10-07 at 5 03 53 PM" src="https://user-images.githubusercontent.com/1271364/66348543-cd104200-e924-11e9-8da0-12cf0dc94fee.png">

[2019-10-07 21:15] daluu commented on #136
Isn't that a bit excessive if everyone did that? It just unnecessarily lengthens the issue thread for the same info/reasoning.

a simple +1 on the most appropriate comment (the first (standalone?) "commenting because I care" perhaps?) should ideally suffice. Whether the developers have the time to reprioritize for your concerns is another matter. Hopefully they at least can interpret the meaningfu

[2019-10-07 21:19] jennifer-shehane commented on #5288
`Test` is not a valid user-agent, I'm not sure where this error is throwing from, but I would recommend passing a valid user-agent as defined in the MDN docs. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent

The code below works in `cypress open` and `cypress run`. Can you provide an example that fails when you pass a valid User-Agent? We can't guarantee invalid User-Agents wi

[2019-10-07 21:24] Murkantilism commented on #136
Yes it's definitely excessive, I believe the rep from Cypress @jennifer-shehane did ask at one point people simply +1 the [first comment up top](https://github.com/cypress-io/cypress/issues/136#issue-154241654).

However, as I wrote about [here](https://github.com/cypress-io/cypress/issues/136#issuecomment-514752949), the official Cypress docs _used_ to explicitly say to comment so Cypress knows y

[2019-10-07 21:49] jennifer-shehane commented on #5287
I'm not sure why it prints this FormData object to the console in this manner, but this matches the exact behavior of console.logging the FormData before it is sent through the XHR.

index.html

[code]

[code]

You can see the `console.log` in the HTML logs the exact same object as what is logged in our `onRequest` in the `cy.route()` - can you functionally demonstrate that the `xhr.request.body`

[2019-10-07 21:50] jennifer-shehane commented on #5286
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example that we can run completely on our machines and we will reopen the issue. 🙏

[2019-10-07 21:53] jennifer-shehane commented on #5284
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2019-10-07 21:53] #5284 closed

[2019-10-07 22:03] jennifer-shehane commented on #5282
I'm not able to reproduce this error as outlined in your example.

I ran the code using `cypress open` and `cypress run` choosing Electron 61 browser (latest Cypress 3.4.1) on macOS Mohave.

[code]

<img width="813" alt="Screen Shot 2019-10-07 at 6 01 15 PM" src="https://user-images.githubusercontent.com/1271364/66351903-7eff3c80-e92c-11e9-8a01-18b98df7a676.png">

<img width="1102" alt="Screen Sho

[2019-10-07 22:03] #5282 closed

[2019-10-07 22:21] janakdr commented on #5282
You're right, this works on Mac OS X for me as well. The failure is on my Linux box. Can you try it on a Linux machine?

[2019-10-07 22:37] coleHafner opened #5304 "Connecting to an external API in a task results in ECONNREFUSED"
### Current behavior:

Running Cypress task which reaches out to 3rd party API fails with `Error: connect ECONNREFUSED 127.0.0.1:80 ` error. This only happens in certain environments.

### Desired behavior:
The task should pass on all environments.

### Steps to reproduce: (app code and test code)

[code]

The error returned is:
[code]

### Versions

|OS                        |Node Version(s)

[2019-10-08 03:12] JohnnyChiang commented on #4044
Because of this issue #1669. I cannot use `cypress open` to run my case. So I need `cy.pause()` to work on `cypress run`

[2019-10-08 03:24] desaiuditd opened #5305 "cy.tick is not working as expected when setTimeout is invoked from the application"
As per the documentation and the example is given there, it suggests that the `setTimeout` should be called from the Cypress test suite. But often it's not the case. In most of the cases, `setTimeout` is invoked from within the application based on certain business logic/rule. Is that case, `cy.tick()` is not behaving as expected.

I've created a demo app in a repository to show the use case.

I'm

[2019-10-08 04:31] mohankumar91 commented on #5286
Hi @jennifer-shehane ,
I have uploaded the reproducible example. Could you please reopen the issue and ensure the sample.

[DemoSample.zip](https://github.com/cypress-io/cypress/files/3700718/DemoSample.zip)
![Demo](https://user-images.githubusercontent.com/18420823/66367553-499d3200-e9b2-11e9-9c14-3a42eea088da.gif)

[2019-10-08 06:28] mroeling commented on #5287
Thank you Jennifer. Indeed, it is represented the same way...
So my next try was to see if the object itself is actually empty. And it turns out it is not. in your example, when you replace the console log by `        console.log(args.request.body.get('username'));
` the invisible data becomes visible again.

So luckily indeed no Cypress issue, but a display problem in Chrome.

[2019-10-08 06:28] #5287 closed

[2019-10-08 06:54] majco333 commented on #5222
![image](https://user-images.githubusercontent.com/4101721/66373597-42bdf180-e9a9-11e9-8b6d-97aa8b087edc.png)

[2019-10-08 07:25] luogan210 commented on #3885
i am using 3.4.1,this issue is still existing

[2019-10-08 08:45] Artem-Kushch commented on #5288
Yes, with mozilla userAgent is works fine.
I understood my problem.
Thank you!

[2019-10-08 08:45] #5288 closed

[2019-10-08 09:40] keertyverma commented on #5301
This xml is generated by built-in cypress reporter option for junit.

[2019-10-08 11:03] DHFW commented on #1342
If your requirement is to run real e2e tests where actual api endpoints are hit, this solution is not for you... If you mock the endpoints requests with `cy.route`, keep on reading!

We are using the `@azure/msal-angular` library, which uses the `https://github.com/AzureAD/microsoft-authentication-library-for-js`.

The problem with it is that you cannot control the `MsalInterceptor` (which adds th

[2019-10-08 11:17] isaquediasm commented on #1296
Is there any update on that issue? cc @brian-mann

[2019-10-08 12:14] Nume commented on #5305
I've had similar issues with `cy.clock` and my conclusion is that the implementations will be switched when calling `cy.clock` but cypress won't modify native implementations that already have been called before that.
In your case that means that `setTimeout` must be called after `cy.clock` has been called because its only after `cy.clock` that the implementation of `setTimeout` will be replaced

[2019-10-08 12:39] ryan-snyder commented on #5222
@majco333 Seems to me like service workers only use fetch? I will admit that my knowledge on service workers is limited so I'm unsure if you can change that yourself or...?

[2019-10-08 12:40] you1anna commented on #3689
@jennifer-shehane cypress-sql-server does not work, having run the configuration they suggest the error in Cypress is
`Error:     CypressError: cy.task('sqlServer:execute') failed with the following error:

TypeError: No connection configuration given`

Have seen similar reported on StackOverflow.

[2019-10-08 13:13] NicolasHofmairT23 commented on #4626
@Jakegillingham5 @briancaffey  I am experiencing a similiar behaviour. "Running: ..." and after a while just "Job succeeded". Even when the first executed test failed. Did you find a solution for this problem?

[2019-10-08 13:30] CoryDanielson commented on #2739
If the copy-to-clipboard functionality is not important to what you are testing, you can stub out window.prompt so that your test will run without interruption.

https://docs.cypress.io/api/commands/stub.html#Replace-built-in-window-methods-like-prompt
[code]

You could probably also store the value passed to the prompt in a `clipboard` variable and read from it later on in your test.

[2019-10-08 13:39] Yupsie commented on #5110
Still having this issue on Cypress 3.4.1 on Bitbucket pipelines:

[code]

I'm sure that XVFB is installed

[2019-10-08 14:43] nakhodkin opened #5308 "SyntaxError: Expected atom at position 0 {(.+)} ^ while parsing file"
### Current behaviour:

I have the following piece of code that causes an error in Cypress:

<img width="1219" alt="Screen Shot 2019-10-08 at 5 35 19 PM" src="https://user-images.githubusercontent.com/14351638/66404957-0c589480-e9f2-11e9-8258-e6744ac52397.png">

[code]

The problem comes from RegExp that I'm using in the following line
[code]

So basically to make this to work I have to escape cur

[2019-10-08 15:02] #5222 closed

[2019-10-08 16:39] NicholasBoll commented on #1193
@bahmutov

It seems fork detection is on a per-CI-provider-basis. We're using Github Actions which still fails since it is not detected. Should the `cypress run --record` command not fail if no key is present, but instead warn and run in non-record mode? Or perhaps a config option to fail if no key present (or the opposite)?

If that seems reasonable, I can create a proposal.

[2019-10-08 18:15] jennifer-shehane commented on #5110
The fix will for this will be released in 3.5.0. The bug will exist in 3.4.1 as noted in this comment: https://github.com/cypress-io/cypress/issues/5110#issuecomment-530019785

[2019-10-08 19:08] Bkucera commented on #4044
@JohnnyChiang can you post in that issue a detailed description of your problem?

[2019-10-08 19:17] fasatrix opened #5309 "Cobertura file not created despite out.json is"
### Context
Hi,
I have instrumented the code using the following command:

[code]

and to be practical I have moved the instrumented folder into `src` (esier) and I have committed everything into the following repository: https://github.com/fasatrix/nyc-test-folder-outside-src

Please install both `package.json`. The one in the root and the other within the `test` folder

To run the tests use `npm

[2019-10-08 19:50] mcnl commented on #3459
@jennifer-shehane  I am currently having the same issue. I cannot test my application because of this bug. I used a work around with a extension to ignore the header. But when run the test with `cypress run --browser chrome` It does not work.

[2019-10-08 20:04] ipinzari commented on #5263
We are experiencing similar behavior. Anyone has a work around?

[2019-10-08 20:26] bahmutov commented on #1193
@NicholasBoll we kind of have this situation in several places - and we always been able to get around it using shell scripting, something like: if env variable `CYPRESS_RECORD_KEY` then run `cypress run --record`, otherwise just run `cypress run`. I don't think just running tests without recording them on the Dashboard is going to work. For example, you might have Dashboard to GitHub integration

[2019-10-08 20:27] nschonni commented on #672
the standard https://docs.npmjs.com/misc/config#strict-ssl didn't work, but setting the environment variable `NODE_TLS_REJECT_UNAUTHORIZED` to `0` from https://github.com/cypress-io/cypress/issues/1401#issuecomment-372344080 worked

[2019-10-08 20:38] bahmutov commented on #1193
@NicholasBoll maybe I can add GitHub Actions detection support to https://github.com/bahmutov/is-fork-pr/issues/113 - then it will propagate into the Test Runner and do what you want?

[2019-10-08 21:58] bahmutov opened #5312 "Find a way to run test jobs on forked pull requests"
We have switched to using CircleCI contexts to inject environment variable per job. This is good, since it only exposes specific environment variables to the jobs that truly need them. Unfortunately, we have 3 jobs in our pipeline that inject Cypress record key to record integration tests to the dashboard.

For example https://github.com/cypress-io/cypress/pull/5254

The original forked pull reque

[2019-10-08 22:32] mpahuja commented on #5263
There is another possible issue for this which was happening for me where in there may be a request that you may have which is probably blocking your onload event for the app. Try investigating if you have any google analytics or similar script being loaded in the app. There are possibly two ways to work around that issue:

By either stubbing out the requests that are blocking the onload event:
ht

[2019-10-08 22:46] NicholasBoll commented on #1193
For now I'm just pretending to be Travis by setting Travis variables. You're right that the utility of Cypress is decreased without using the Dashboard. CI providers are trying to mature. CircleCI seems to be the most mature in terms of security and features. Cypress uses CircleCI and allows the Cypress key to be used in forks. It is still possible to access that key unless you use their new secur

[2019-10-09 03:44] desaiuditd commented on #5305
Ah. Okay. That worked. Thanks.

Closing this one.

[2019-10-09 03:44] #5305 closed

[2019-10-09 06:50] ptoshniw commented on #5263
@jennifer-shehane - Thanks Jennifer for responding back! I just wanted to applaud for the amazing framework designed by Cypress team and all the available videos, documentations which helps any newcomer to onboard quickly and start working with it.
Initially, my test was just hanged without even executing any test steps and no logs why it is happening which was confusing for me? (As a suggestion w

[2019-10-09 08:07] JohnnyChiang commented on #4044
@Bkucera I ran into the same problem as https://github.com/cypress-io/cypress/issues/1669#issuecomment-500675785 did.
So I have to use `cypress run` to run my case

[2019-10-09 08:18] azizhk commented on #5159
Getting the same error. Am also using Service Workers to precache the content.
[code]

This is because we are caching the document (html). Cypress modifies the html and inserts it's own scripts.

I think a temporary fix would be to disable caching html or disable the service worker itself.

[2019-10-09 09:04] rienheuver commented on #2186
Now with css-variables this could certainly come in handy. I'm currently doing a comparison like:
`expect('div').to.have.css('color', 'var(--success-color)');`
which fails because the value is actually some rgb value

[2019-10-09 10:04] zakhenry opened #5314 "Zero tests passing (and no failing) should have an error exit code"
### Current behavior:

If something goes wrong in picking up tests, the reporter exits with a successful result, despite no tests having actually been run.

### Desired behavior:

When there are no failures AND no passes, exit with non-zero code

### Steps to reproduce: (app code and test code)

Run cypress against js file that contains no tests

### Versions

`cypress@3.4.1`

[2019-10-09 10:22] erikferencz opened #5315 "Cypress 3.4.1 + Chrome 77 -> adds __/ to baseUrl"
### Current behavior:
In our test under Chrome browser, in case our APP calls relative Path url, base url is changed to `baseUrl/__/`

Example : http://127.0.0.1/__/Training/Courses/5/Quizzes/5/Results/24
But should be : http://127.0.0.1/Training/Courses/5/Quizzes/5/Results/24

This is happening only in test run under Chrome.

Thast run under Electron are not affected

### Desired behavior:

No ch

[2019-10-09 10:26] sangmai350 opened #5316 "How to input text into textfield in chrome alert?"
In my test, it require to input to chrome popup text field. You can see the popup in screenshot http://prntscr.com/pgvazb.
How to input text into the textfield in chrome alert and click Ok?
Very thankful if anyone could help

[2019-10-09 12:51] moroshko commented on #583
Any news here?
@pawelgalazka Did you find a reasonable workaround?

[2019-10-09 12:53] ciekawy commented on #2671
I have a slightly other question. As I also got the permission popup (along with a write files one) and that is actually expected by me - I wonder if there is (or will be) a way to either control those popups or simulate behavior with config/mock to either enable or disable particular feature during test execution.

I also found those popups to appear only on first execution thus I assume the answ

[2019-10-09 13:14] ng-marcus commented on #1342
I'm new to Cypress, but here's a gist that works for me:

https://gist.github.com/ng-marcus/79f5c28b4be242520c4b5e2f9ee21c58

I don't do anything with cookies, storage etc but first get an access token with a client id and secret, and then make some authentication calls (with a regular username and password) through Chrome which sets everything up properly.

One warning is that if the login fails

[2019-10-09 13:23] stark525 opened #5317 "Please add recommendations of CPU/memory to system requirements documentation"
### Current behavior:
Hello, I was wondering if there were minimum CI requirements for running Cypress on CI (EC2 instances + Jenkins, specifically). I'm seeing network timeouts and I'm not sure if this is due to the cpu, memory, or network performance of the EC2 instances. I've tried t3.medium (low-to-moderate network) and m3.medium (moderate network), but still experience timeouts that I don't e

[2019-10-09 13:54] jfuston commented on #3542
This was also happening for me in 3.3.2 and 3.4.1

Our use case was a test file that was not using `describe()` or `context()` and instead opting for descriptive test names. Our layout was something like below:
[code]

I'm guessing cypress/mocha wraps test files in a `describe` or `context` with no name which causes similar behavior to the described issue?

[2019-10-09 14:02] bahmutov commented on #1193
@NicholasBoll sure, but CircleCI has to explicitly allow environment variables to be passed to forked PRs so it is a security risk. Also, the security contexts are actually a weird thing on CircleCI, see our problem in #5312 - they stop entire job from running; there is no "run the job without context for external users" option.

I like your hack of mimicking Travis CI to detect forked PR. I have

[2019-10-09 14:52] zadigus opened #5318 "Why is cypress run different from cypress open with the same browser and the same configuration?"
### Current behavior:

`cypress open` and `cypress run` do not provide the same tests results.

Configuration is the very same, `--browser chrome` is used in both cases. Upon running the tests with `cypress run`, I really am running the chrome browser, as I do when I run `cypress open`.

### Desired behavior:

`cypress open` and `cypress run` provide the same tests results.

### Steps to reproduce

[2019-10-09 15:13] jennifer-shehane commented on #5318
I'm getting this error trying to run your repo. I ran the installation suggestion, but the error continues

[code]

Please provide a repo with all dependencies available from an outside contributor.

[2019-10-09 15:18] zadigus commented on #5318
@jennifer-shehane you must have forgotten a step in my description. That is exactly what I do on my build server with fresh clones. Have you really done the submodule init and update? From the message you obtain, it seems like files are missing. They are located in the graphql submodule. Also, you only need to call yarn to install everything, no npm.

[2019-10-09 15:22] c32hedge opened #5319 "top-level `before` block runs again unexpectedly in the middle of test suite"
### Current behavior:

We have a spec file that intermittently fails partway through, after running several tests. While diagnosing, we found that this was due to a timeout of a `cy.task` call. That call is only present in a `before` for the top-level `describe`, which already completed successfully.

When watching the video of the test failure, we saw that the page reloaded after running several

[2019-10-09 15:26] vaske commented on #518
what about in cypress.json:

[code]

[2019-10-09 15:26] c32hedge commented on #5319
I'll see if I can create a sample spec to reproduce this without using our actual code.

[2019-10-09 16:09] ptoshniw commented on #5263
Hi,

I have added this line "ENV HTTPS_PROXY=https://qa3-curio.saal.ai" It did work then once or twice then started throwing this exception :

Same test case works fine outside docker and we don't have any proxy. Thats why I am sure my script is correct.

`
FROM cypress/browsers:node12.6.0-chrome75

RUN mkdir /app

WORKDIR /app

RUN mkdir /cypress

RUN mkdir /mochareports

COPY ["./saale-qa-web/pa

[2019-10-09 16:13] flotwig commented on #5263
@ptoshniw Are you setting `HTTP_PROXY`? If you need a proxy to access HTTPS resources, you most likely need one to access HTTP resources as well:

[code]

If this doesn't work, can you share your DEBUG logs? I can see that you enabled them, but they don't seem to have made it into your comment.

[2019-10-09 16:15] ptoshniw commented on #5263
@flotwig hey, I have just added my huge comments with logs. Let me know if this helps you out.

[2019-10-09 16:16] flotwig commented on #5263
@ptoshniw Yes, it looks like there are no DEBUG logs in what you pasted. Instructions: https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs

[2019-10-09 16:27] ptoshniw commented on #5263
btw, I have added this line  HTTPS_PROXY=https://qa3-curio.saal.ai , do i need to add both HTTPS_PROXY and HTTP_PROXY ??

Here you go with debug logs:

`2019-10-09T16:26:56.061Z cypress:https-proxy getting proxy URL { port: 42989, serverPort: 35815, sniPort: 42989, url: 'https://localhost:42989' }
2019-10-09T16:26:56.062Z cypress:network:connect successfully connected { opts: { port: 42989, host:

[2019-10-09 16:30] janakdr commented on #1194
Has anyone had success enabling WebGL in electron using a similar workaround to the argument mangling? Setting `args['webgl'] = true` didn't work for me.

[2019-10-09 16:31] janakdr commented on #5282
Cross-posting: It looks like even https://get.webgl.org/ fails with the Electron browser on Linux. So I guess this is not a deck.gl-specific issue. Seems like cypress-io/cypress#1194 is the likely culprit.

[2019-10-09 16:32] ptoshniw commented on #5263
When i added both the entries  `ENV HTTPS_PROXY = https://qa3-curio.saal.ai
ENV HTTP_PROXY = https://qa3-curio.saal.ai`

I got more severe logs:

`⚠ Warning: It looks like you're passing --spec a space-separated list of files:

"/app/cypress/integration/curioWebApp/Landing/LandingPageTest.js /app/cypress/integration/curioWebApp/Login/LoginPageTest.js /app/cypress/integration/curioWebApp/PracticeAr

[2019-10-09 16:34] NicholasBoll commented on #5312
I won't pretend to understand CircleCI and security contexts because I lack experience with them, but it seems like an Approval could be used to trust a context. This requires a manual step from a trusted pool of people: https://circleci.com/docs/2.0/contexts/#approving-jobs-that-use-restricted-contexts

Trust and security are tricky. We're using Github Actions, but I've been finding a lot of info

[2019-10-09 16:35] flotwig commented on #5263
@ptoshniw You only need `HTTP_PROXY` if your `HTTPS_PROXY` is the same as your `HTTP_PROXY`. If you only set `HTTP_PROXY`, Cypress will use your `HTTP_PROXY` for all connections.

Your logs indicate that your HTTP_PROXY variable is set to this: `= https://qa3-curio.saal.ai`. It should be set like this instead: `https://qa3-curio.saal.ai` (notice no leading `= `).

But now I'm confused - is `https:

[2019-10-09 16:54] LazaroOnline commented on #901
You can accomplish group execution using the "cypress-select-tests" plugin
https://github.com/bahmutov/cypress-select-tests
It allows you to select a group of tests based on filename or title using grep style.

[2019-10-09 17:09] ptoshniw commented on #5263
Thankyou so much for actively replying to my query. I am looking forward for solution. Thanks.

I don't need proxy actually but in that case my project is not running it just hangs with some weird logs.

Here i have removed Both the proxy and my test has hanged forever:

`PracticeScienceTest.js` is the class where it will stuck.

Please check debug logs here

`
leHAiOjE1NzA2NDY2NzksInNjb3BlIjoib3B

[2019-10-09 17:45] jennifer-shehane commented on #5318
Yup! That did it. I saw 'clone the repo' and glazed over. 😝

I'm running in Chrome Version 77.0.3865.90 on a macOS Mohave machine.

I am seeing multiple failures during `yarn cypress:integration`, saw 4 one time and 6 another time. All of which seem to be related to an error like `Expected to find element: ..., but never found it.`

<img width="1659" alt="Screen Shot 2019-10-09 at 1 36 43 PM" src=

[2019-10-09 17:50] zadigus commented on #5318
That's exactly the behavior I have. Why do I get the failures «Expected to find element...» in one case and not in the other case? The common failure where false is expected to be true is clear.

[2019-10-09 17:56] joskoskilj commented on #5018
Any updates on this?

[2019-10-09 18:40] ayandebbarman opened #5322 "Ability to save text outside of closure"
### Current behavior:

Currently cypress provides ability to get text content using invoke text. However my scenarios is i have to go through items of cart get price text and then sum it
So while for one element `cy.get().invoke('text).then()` works i need ability to store the text value for each of cart so something like

[code]

verify that total is matching total

[2019-10-09 18:53] jennifer-shehane commented on #5322
Check out using aliases. https://on.cypress.io/variables-and-aliases

[2019-10-09 18:53] #5322 closed

[2019-10-09 20:04] scastrob commented on #1099
I had the same error and after try many things, This last (.\node_modules\.bin\cypress open) works for me. I have Windows 10 64 bits installed.

[2019-10-09 20:45] flotwig commented on #949
For a future solution to this problem in Cypress itself: Once #4628 is merged, we'll have access to the Chrome DevTools Protocol, which has these 2 functions:

* Method: [Page.setDownloadBehavior](https://chromedevtools.github.io/devtools-protocol/tot/Page#method-setDownloadBehavior)
* Event: [Page.downloadWillBegin](https://chromedevtools.github.io/devtools-protocol/tot/Page#event-downloadWillBeg

[2019-10-09 21:12] tgolden-andplus commented on #1273
I _think_ I'm having a similar problem when using React's `useEffect` hook which schedules work after render -- the work I'm scheduling is also asynchronous using `setTimeout` within a Promise.

No matter how many `ticks()` I add, the timeout never seems to run -- debugging seems to show all the ticks have been 'applied' before the timeout is even created.

[2019-10-09 22:16] jennifer-shehane commented on #5319
Closing this as duplicate of https://github.com/cypress-io/cypress/issues/1987 although that case details visiting 2 superdomains - this is what you are experiencing as well in this case.

[2019-10-09 22:16] #5319 closed

[2019-10-09 22:19] jennifer-shehane commented on #5317
This repo is only for issues relating to the Cypress product. If you want to open an issue on our documentation, you can open it [here](https://github.com/cypress-io/cypress-documentation/issues/new). This issue will be closed in this repository.

We've internally discussed ways to detect the machines CPU and warn when it is low or detect especially when it is too low during video recording here:

[2019-10-09 22:19] #5317 closed

[2019-10-09 22:21] jennifer-shehane commented on #5317
Also, I will add that we've experimented with restricting CPU here and its effects noted: https://github.com/cypress-io/cypress/issues/4722#issuecomment-515562987. I'll try and get with the team and see if they have recommendations we can document.

[2019-10-09 22:24] jennifer-shehane commented on #5316
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2019-10-09 22:24] #5316 closed

[2019-10-09 22:27] jennifer-shehane commented on #5315
Unfortunately we will have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please include the tests that we can run to reproduce this issue - we don't know if you are calling cy.visit, cy.request, or doing nothing for example to recreate this.

[2019-10-09 22:28] #5315 closed

[2019-10-09 22:32] jennifer-shehane commented on #5314
Cypress issues a 0 exit code when a file contains no tests because we consider this a non-failure event. This would be a breaking changes that we don't intend to change.

There are several ways that you could access the data to determine there were no tests run yourself. I'm not exactly sure of your use case but you could use our [Module API](https://docs.cypress.io/guides/guides/module-api.html#c

[2019-10-09 22:32] #5314 closed

[2019-10-09 22:34] jennifer-shehane commented on #5266
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example that we can run and we will reopen the issue. 🙏

[2019-10-09 22:34] #5266 closed

[2019-10-09 23:16] hsaab opened #5328 "Test passes in headed browser but fails headlessly"
### Current behavior:

Here is the test in question:

<img width="760" alt="test" src="https://user-images.githubusercontent.com/30737735/66528505-f8c23200-eab4-11e9-857c-2aff9148caaf.png">

For added context, this is what `initBag()` does

<img width="762" alt="initBag" src="https://user-images.githubusercontent.com/30737735/66528511-fbbd2280-eab4-11e9-9a26-447de0007e91.png">

Here is the result

[2019-10-09 23:20] UncleGus commented on #630
Is it not possible to add another options to the `its('option')` command? So that we could just go `cy.get('myElement').its('innerText').should('eq', 'myText');`

[2019-10-09 23:33] sarangkh commented on #2700
Cy.route and then wait for that request to complete -  Is this the only way to add synchronised wait in cypress? what if there is no xhr request getting captured but still application has some wait time(some business logic layer computations) and after that dry wait (variable amount of time, depends on data provided and user load ) time xhr gets triggered and one button gets change from in progres

[2019-10-09 23:37] UncleGus commented on #630
`its.('trimText')` would be super nice as well.

[2019-10-10 02:02] pawelgalazka commented on #583
@moroshko unfortunately I haven't found any workarounds this

[2019-10-10 02:06] masterpreenz opened #5329 "Socket connection error when app is hosted in a sub domain"
### Current behavior:
The app is hosted in a sub domain but in this error it connects to the domain instead

![1xEqqnJ](https://user-images.githubusercontent.com/1271364/71719893-26b5d900-2e4e-11ea-9312-7fea36868d04.png)

![cyNrMK8](https://user-images.githubusercontent.com/1271364/71719904-31706e00-2e4e-11ea-9c03-3ca375979346.png)

### Desired behavior:
Socket should connect to where it's hosted

[2019-10-10 02:10] hhudson commented on #3975
Wanted to check back in and confirm that the issue has been resolved in the Chrome 77 browser. Thanks!

[2019-10-10 02:10] mikey0000 opened #5330 "modifyObstructiveCode incorrectly matches the word 'stop'"
### Current behavior:

During test run, code fails with sself not defined.

### Desired behavior:

functionality of code should not be replaced
isChildTrainPlatform = stop => stop.route_type === STOP_TYPE.TRAINSTOP && stop.location_type === 0;
should not turn into
isChildTrainPlatform = stop => stop.route_type === STOP_TYPE.TRAINSTOP && sself.location_type === 0;

### Steps to reproduce: (app code

[2019-10-10 03:00] pouchyRT10 opened #5331 "electron"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-10-10 03:00] #5331 closed

[2019-10-10 03:17] frankind commented on #4731
I still found this problem on Docker Chrome 77 with all node versions

[2019-10-10 04:32] telangn commented on #2676
@jennifer-shehane Hi, I am having this issue, below is my debug log. White screen
` cypress:server:stream_buffer appending chunk to buffer { bytesWritten: 0, chunkLength: 102 } +2s
  cypress:network:agent addRequest called { isHttps: true, href: 'https://login.globalmeet.com/users/authenticate' } +2s
  cypress:network:agent got family { family: 4, href: 'https://login.globalmeet.com/users/authenti

[2019-10-10 04:42] SaladFork opened #5332 "Cypress run XML output only includes last spec"
### Current behavior:

Configure Cypress to log test output to XML (for use in CI reporting):
[code]

Run cypress:
[code]

See test output afterwards:
[code]

After closer observation, it seems this file gets written and then deleted shortly after between each spec being run.

### Desired behavior:

The file should include information about _all_ the tests being run (and all failures!), not just f

[2019-10-10 06:24] ghost opened #5333 "data-cy should be unique or not ?"
Data-cy should unique or not in cypress. If data-cy is not unique, can i select two items simultaneous and can i the first item with first() command or not ?

last question, which one is the best suit ?

thanks for helping.

[2019-10-10 06:30] ayandebbarman commented on #5322
I have tried that but didn't work for me not sure if i am missing something below is mock it. Please note i further need to split the texts to get the value and then sum it coz the text i would get is like $50 and i need split it to get 50 for all cart items and then sum it

    it.only('should compare text',()=>{

        cy.get('h6').invoke('text').as('text1')
        cy.log(this.text1)

    })

[2019-10-10 08:01] zadigus commented on #5318
So, to be more explicit about the problem: you notice that `yarn cypress:integration` runs
[code]
Then, in the console, you see (of course, the start of the path to the `integration.json` file will be different in your case)
[code]
That means that the `common\cypress\config\integration.json` config file is used to run the tests. I made sure that `./cypress.json` is empty. In addition, I made sure

[2019-10-10 09:46] ayandebbarman commented on #630
Any idea why this wouldn't work for me ?

    it.only('should compare text',()=>{

        cy.get('h6').first().invoke('text').as('txt')

        cy.log(this.txt)
    })

[2019-10-10 11:06] gustawx commented on #4823
I'm having same issue but with cy.writeFile(), it seems to be ignored. Nothing happens, no error...

[2019-10-10 12:05] vaske commented on #5110
I have same error as @Yupsie :(
@jennifer-shehane thanks for update

[2019-10-10 12:10] ChaseBig opened #5334 "Cypress.env('') cant access CircleCi's `CYPRESS_<env-variable>` if cypress root directory lives outside of the repo project root"
### Current behavior:

My codebase is of the monorepo architecture with 20+ packages each with their own `package.json` (path: `<root>/packages/<monorepo-packages>/*`).

I first implemented cypress at the project root folder (path: `<root>/cypress/*`) and held all of my tests inside of this `./cypress/*` folder.

Many of my tests are UI tests to confirm login/logout functionality works, as such, t

[2019-10-10 13:39] c32hedge commented on #1987
I think it's worth mentioning here that my duplicate of this issue (#5319) does not involve visiting multiple superdomains--we encountered the issue when there are tests that don't visit a webpage, followed by a test that does; the first test that does a `cy.visit()` triggers this behavior.

[2019-10-10 13:44] bahmutov commented on #5334
You could create an empty monorepo and same folder structure with dummy packages and make it into public repo and connect CircleCI to show the problem. Otherwise it is hard to say what is going on - and why running Cypress from subpackage would affect _anything_ in regards to reading environment variables. Are you sure the variables are injected correctly? Are you sure the environment variables ar

[2019-10-10 13:57] bahmutov opened #5335 "Add optional properties returned from Cypress NPM module API on failure"
If Cypress NPM module fails to find any specs it resolves with an object that is not typed right now

[code]

[2019-10-10 13:57] flotwig opened #5336 "Look into adding `--disable-dev-shm-usage` Chrome flag"
### Current behavior:
Cypress doesn't pass `--disable-dev-shm-usage`: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/chrome.coffee#L21

But Puppeteer does: https://github.com/GoogleChrome/puppeteer/blob/master/lib/Launcher.js#L37

However, in this commit that adds `--disable-dev-shm-usage`, it seems to cause failures to start Chrome: 7247dcfa78ad3e1d0ad032474e724a0

[2019-10-10 14:00] flotwig commented on #3633
Opened a PR to add all of the args in the above comment (except `--disable-dev-shm-usage`) to Chrome: #5310

It doesn't seem like Electron supports passing any of these: https://electronjs.org/docs/api/chrome-command-line-switches

Adding `--disable-dev-shm-usage` in this commit seems to make the browser sporadically not open: 7247dcfa78ad3e1d0ad032474e724a083007edda Opened a new issue (with worka

[2019-10-10 14:02] #3633 closed

[2019-10-10 14:02] #5132 closed

[2019-10-10 14:44] rubenreyes2000 opened #5340 "Additional web page files not loaded using auth settings"
### Current behavior:

When running a test on a site that uses HTTP Basic Auth, the URL opened with `cy.visit` or `cy.request` properly handles the `auth` options, but any web page files (e.g. CSS, JS, images) called from the web page and hosted on the same domain and path, do not use the `auth` options.

Those files fail loading with error 401 (Unauthorized).

This leads to broken pages and JS er

[2019-10-10 14:52] rubenreyes2000 commented on #5340
I forgot to mention that I tried using Authorization header instead, with the same result:

[code]

[2019-10-10 15:20] CSchulz opened #5341 "Types for Cypress.Commands.overwrite are incorrect - does not take command options"
### Current behavior:

[code]

### Desired behavior:

[code]

### Steps to reproduce: (app code and test code)

https://github.com/cypress-io/cypress/blob/a038e7f5d4c56d3efa844e745da40a3d917fefea/packages/driver/src/cypress/commands.coffee#L151-L152

### Versions

3.4.1

[2019-10-10 15:39] zadigus commented on #5318
By coincidence, I was able to see this:

![image](https://user-images.githubusercontent.com/8761254/66583997-99cbee00-eb84-11e9-81d0-d8710e35c5a3.png)

So on the left side, you see one of Cypress' error message in red. On the right, you see a console view of the current application state. On the left side, Cypress complains about `enabled` class not being included. On the right side, you clearly s

[2019-10-10 15:49] jeremyGrannanSEL opened #5342 "Windows 10 does not load cypress extension on Chrome 77 or Chomium 79"
### Current behavior:

When running a test in either Chrome 77 or Chromium 79 the browser opens but the extension does not load. This works on Ubuntu 18.04 with the same configuration files.

Troubleshooting steps taken:

- Tested on multiple Windows machines. 2 of the machines are administered by our company. The other machine was a system that was not on our network nor administered by our compa

[2019-10-10 15:51] jennifer-shehane commented on #5318
I would suggest narrowing down the variables involved here so that we can clearly focus on what is causing the issue.

- Narrow it down to a single failing simple test case
- Remove as much extra config as possible while still having the test failures discrepancies.

After that I would compare the Test Runner command log within each run to see if there is some timing variability between the 2 runs

[2019-10-10 16:02] jennifer-shehane commented on #5342
@jeremyGrannanSEL Thanks for opening this issue. Could you detail more about what you mean by 'the extension does not load'.

What are you seeing? How are you assessing the extension is 'not loading'? Are you getting an error somewhere? Screenshots are ideal. Thanks!

[2019-10-10 16:52] Graham42 commented on #4462
I'm running on Linux (Ubuntu 18.04) and needed to use

[code]

[2019-10-10 17:19] ayandebbarman commented on #630
Guys I think i found a viable workaround while cypress doesn't allow you to store the values in a const or let it does in for an array. Below works for me

    it.only('should compare text',()=>{

        let txt = []
        cy.get('h6').invoke('text').then((x)=>{
            txt.push(x)
        })
        cy.log(txt)
    })

})

[2019-10-10 17:30] jennifer-shehane commented on #5340
@rubenreyes2000 Your example attached was not providing the correct key for the `auth` option as documented. `user` should be `username`. https://on.cypress.io/visit#Add-basic-auth-headers Please confirm you are sending the correct key.

I was able to see the css and js resources load correctly in both Chrome and Electron after passing in the correct `username` key in Cypress 3.4.1 on a macOS Moha

[2019-10-10 17:30] #5340 closed

[2019-10-10 18:08] c32hedge opened #5345 "describe.only() does not work when string is the same as another describe() block"
### Current behavior:

If you have multiple `describe` blocks with the same description string, marking one of them with `describe.only` will run all `describe` blocks with the same description instead of just the one with `.only`:

![image](https://user-images.githubusercontent.com/8810829/66594315-e86a8f80-eb66-11e9-8781-1db003aad501.png)

### Desired behavior:

Marking a `describe` block with `

[2019-10-10 18:12] rubenreyes2000 commented on #5340
Oh boy.... that was dumb of me.... sorry... changing to `username` "magically" fixed it...  :anguished:

[2019-10-10 18:12] c32hedge commented on #5345
It's worth noting that Mocha itself used to have this issue (see https://github.com/mochajs/mocha/issues/1834, fixed by https://github.com/mochajs/mocha/pull/1807).

[2019-10-10 18:30] prudhvidandamudi commented on #1767
Any updates for this issue!! planning to do a POC on cypress for our organization and videos are not supporting for chrome browser. The organization is expecting tests on chrome.

[2019-10-10 18:44] bahmutov commented on #1767
We are working on recording Chrome headed video in https://github.com/cypress-io/cypress/pull/4628 targeting v3.5.0 release

[2019-10-10 18:44] jennifer-shehane commented on #1767
We have been writing and reviewing this code since our last update. You can scroll to the bottom of any PR and see the exact activity that is happening https://github.com/cypress-io/cypress/pull/4628 - this one having been commented on 29 minutes ago.

## Please do not comment for updates

Please refrain from commenting asking for updates 🙏

1. It creates noise for other people watching progress h

[2019-10-10 18:54] jennifer-shehane commented on #5345
Cypress uses a Mocha version 2.5.3, this is fixed in later versions. Going to close this as a duplicate of https://github.com/cypress-io/cypress/issues/2528 - which will be released in Cypress 4.0.0 release.

[2019-10-10 18:54] #5345 closed

[2019-10-10 19:01] jeremyGrannanSEL commented on #5342
This is what I see when running it with either command:
![image](https://user-images.githubusercontent.com/55515103/66598323-a71db400-eb55-11e9-89e8-4d61dfa0947e.png)

[2019-10-10 19:02] jeremyGrannanSEL commented on #5342
Here is the console log:
![image](https://user-images.githubusercontent.com/55515103/66598373-c3215580-eb55-11e9-9e0d-6c6bfbd0c2f5.png)

[2019-10-10 19:02] flotwig commented on #5342
@jeremyGrannanSEL How do you have Chrome installed? It looks like none of the command-line arguments Cypress passes are being accepted by Chrome.

[2019-10-10 19:02] jeremyGrannanSEL commented on #5342
Downloaded and installed. I tried both Chrome and Chromium with the same warnings

[2019-10-10 19:03] flotwig commented on #5342
Downloaded from where?

[2019-10-10 19:03] jeremyGrannanSEL commented on #5342
https://www.google.com/chrome/
and
https://www.chromium.org/Home

[2019-10-10 19:06] flotwig commented on #5342
Can you visit `chrome://policy` in the browser and share the contents please?

[2019-10-10 19:08] jeremyGrannanSEL commented on #5342
![image](https://user-images.githubusercontent.com/55515103/66598756-99b4f980-eb56-11e9-913e-f3361ed93f94.png)

[2019-10-10 19:33] rubenreyes2000 commented on #1502
I am experiencing the same issue with a site that uses jQuery and jQuery.noConflict() https://api.jquery.com/jQuery.noConflict/

[2019-10-10 19:39] c32hedge commented on #5345
Wow, so Cypress is still on a version that's over three years old :scream:

[2019-10-10 21:03] jennifer-shehane commented on #5341
@CSchulz Yeah, this seems to be completely true, which means the docs are incorrect as well. https://on.cypress.io/custom-commands#Syntax

I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document the `options` not being available during `overwrite` here: https://github.com/cypress-io/cypress-documentation/issues/2147.

[2019-10-10 21:22] jennifer-shehane commented on #5341
I've opened a PR to fix the typings here: https://github.com/cypress-io/cypress/pull/5347

[2019-10-10 21:33] fr0 commented on #4443
I disagree that this is a minor issue; being able to see the state of the select options in your app is valuable.

[2019-10-10 21:41] fr0 opened #5348 "CSS keyframe animations are re-run when hovering over steps in the cypress UI"
### Current behavior:

When you hover over a step in the "timetravel" history (which is a very cool feature, BTW), if you have CSS keyframe animations, they will re-run, which is odd and potentially misleading.

### Desired behavior:

The DOM history should look exactly like it did at that point in time.

### Steps to reproduce: (app code and test code)

I have an error panel that comes down from

[2019-10-10 22:23] fr0 commented on #5348
Here is the test in action:

![testrun](https://user-images.githubusercontent.com/435418/66610897-f205ee80-eb8a-11e9-95f9-de6077b414ff.gif)

And here's what the snapshot does:

![snapshot](https://user-images.githubusercontent.com/435418/66610935-0944dc00-eb8b-11e9-9509-2229b9c38679.gif)

[2019-10-10 22:29] Bkucera commented on #5330
paging @flotwig, he's working with our app isolation logic

[2019-10-10 22:32] Bkucera commented on #1987
@hackel good point. This could be solved by declarative inline test configuration in PR #5346, since we would know ahead of time to switch domains

[2019-10-10 22:44] pzcypress commented on #3310
Thanks @jennifer-shehane  for the reply and support. We are experiencing the same issue. Any suggestions would be helpful.

**Cypress version: 3.4.1,
Node: 10.x,
Azure DevOps CI/CD**

[code]

[2019-10-11 01:11] RamiaSaidawi commented on #448
any update on how we can get console.log showing when we use "cypress run" ?
e are thinking of moving to cypress and this can be a show stopper :(

[2019-10-11 02:34] cbernardes commented on #3310
There is a workout around to fix this problem. You can overwrite their values reseting the env variable API_RETRY_INTERVALS. In my case I added to my CI/CD pipeline the following configuration:

Name: API_RETRY_INTERVALS
Value: 5000,5000,5000,10000,5000,5000,5000,10000

It means the Cypress will retry every 5 seconds 3 times, then 10 seconds and so on. The number of retries are exactly the length

[2019-10-11 05:47] zadigus commented on #5318
I strongly suspect that the following code is the problem (corresponds to one of the failing tests):
[code]
How can I rewrite that in a more cypress-friendly way? I mean, I'm pretty sure that the `then` step is the problem here because there is no way cypress can wait until `isActive` is present in `link[0].classList.value`. Am I seeing that right? It's probably pure coincidence that it works in o

[2019-10-11 06:36] majco333 commented on #5222
I solved this problem. I disable servis-worker in my Angular app. I set this in angular.json:
`"serviceWorker": false`

[2019-10-11 08:05] dotherightthing commented on #4021
I find the language here confusing and agree with the others that the tests should run irrespective of whether the video is stored / sent to https://dashboard.cypress.io. Running tests and recording them are two separate things. I like the videos but I can live without them, but Cypress has zero value if I can't see my test results in the Terminal.

I'll look into Brian's solution, too.

[2019-10-11 08:57] nuagesdencre commented on #3741
I'll take a look at it!

[2019-10-11 09:20] delphineli opened #5349 "App inside an iframe redirect to login page who needs a certificate failed"
### Current behavior:

So my application is inject in one site by iframe. To login (SSO), page will redirect a login page who need a certificate. Then I got
`xxxx.xxx.com refused to connect.` showing on the page.
I checked in security:

My certificate becomes issued by Issued by: CypressProxyCA and is not trusted.
So i can't access to login page.

### Desired behavior:

I can accept the certificat

[2019-10-11 09:56] zadigus commented on #5318
So, I changed the above code to
[code]
and it's working. I believe you are right, @jennifer-shehane, it's a usability issue. We are using Cypress wrong. Thanks for the help!

[2019-10-11 10:26] zadigus commented on #5318
To fix the 2nd failing test, I replaced
[code]
with
[code]

[2019-10-11 10:53] zadigus commented on #5318
I have no clue about why
[code]
doesn't work. It's supposed to be a dialog that pops up like this:

![image](https://user-images.githubusercontent.com/8761254/66646234-e1568680-ec25-11e9-80a5-ce8324b34522.png)

It doesn't appear in Electron and it doesn't appear in run mode with Chrome, even though with `cypress open` it appears in Chrome.

[2019-10-11 10:59] mohankumar91 commented on #5286
Hi @jennifer-shehane ,

Please reopen this issue.

Regards,
@mohankumar91

[2019-10-11 11:02] agugut commented on #4742
Hello are there any workaround to this case??

[2019-10-11 13:04] lorenzozanotto opened #5350 "Can't invoke "nested" when making expectations"
### Current behavior:

When executing these two lines, from the [Cypress Documentation](https://docs.cypress.io/guides/references/assertions.html#BDD-Assertions), the console says that it's not possible to read the property `property` or `include` of `undefined`.

[code]

### Desired behavior:

These assertions should work.

Starting from a [Chai example project](https://github.com/yusufshakeel/mo

[2019-10-11 13:28] Pavel-Husakouski commented on #3310
Looks like headless electron works without that issue. @cbernardes Could you explain that magic ?

[2019-10-11 13:51] pablogiroud commented on #2694
@jennifer-shehane Good morning! i'm working on API tests and have the same issue with certificates. Can you confirm if you will work in some solution for this? Like @jsalankey mentioned, this is critical to us.
I have two months working with cypress and love it.

[2019-10-11 14:23] flotwig commented on #5330
Your code is getting mangled by these regexes in the proxy which blindly replacing `top` with `self`:

https://github.com/cypress-io/cypress/blob/5654680fcdcd7181223b75849ae3e059e3d6da96/packages/server/lib/util/security.js#L7-L10

I am working on a PR that parses and rewrites the Javascript instead of using regexes, which I'll make sure fixes this problem: #5273

[2019-10-11 14:35] zadigus commented on #5318
All the tests are green. It was really a misuse of Cypress.

[2019-10-11 14:35] #5318 closed

[2019-10-11 14:56] dsesami opened #5351 "Alias created in before() only works on first test (but it's only used in the second test)"
###  Update 10/16: See https://github.com/cypress-io/cypress/issues/5351#issuecomment-542779224 for a clearer example and explanation.

### Original Post Below This Line
### ------------------------------------------
This appears to be really similar to https://github.com/cypress-io/cypress/issues/2766 (and https://github.com/cypress-io/cypress/issues/665 in turn), but it seems like it's a bit dif

[2019-10-11 15:00] asherccohen commented on #2851
Is there any update on this?

[2019-10-11 15:01] asherccohen commented on #2752
See also https://github.com/cypress-io/cypress/issues/2851

[2019-10-11 15:08] kkkrist commented on #695
This code-smells like hell, but calling `cy.wait(0)` prio to `cy.get('…')` helps in my case. Want more code smell? Then use `const zero = 0; cy.wait(zero)` to keep the linter happy.

I guess this is effectively the same as the good old `setTimeout(fn(), 0)`, waiting for the call stack to empty (e.g. until all re-renders ran) so that `cy.get` grabs the element(s) from the last render?!

[2019-10-11 16:16] flotwig commented on #5342
Strange, it should work on the computer with no policies set... can you share the entire DEBUG logs from the time you start Cypress to when you launch Chrome on that computer?

Instructions: https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs

[2019-10-11 17:35] hdavidzhu commented on #695
@saas2813 @kkkrist At my company, we patched `click` to execute after a `window.requestIdleCallback`, which helps significantly. We don't use React, and Brian's earlier point makes sense:

When we run tests against our static pages, we don't need to do this patch since the client doesn't custom refresh.

Perhaps there could be adapters/libraries for Cypress to work w/ the most popular frameworks,

[2019-10-11 18:22] testerez commented on #695
We had a similar issue on a React app. It was caused by a coding mistake.

Something like:
[code]
The issue here is that `MyInnerComponent` is a new component at each render so react will remove the div element and re-create new one at each render.

But still, I think Cypress could provide a better error message. The actual issue is that the element is detached from the DOM, talking about dimensio

[2019-10-11 18:27] jennifer-shehane commented on #5316
Hey @sangmai350, I found a solution for writing in a prompt that I wanted to share on the issue.

`index.html` of my test application, but essentially when a button is clicked, a window prompt appears.

[code]

My Cypress test file.

1. We are stubbing the text that is entered into the prompt, this will be 'faking' as if a real user typed this.
2. We are spying on the 'alert' - which is the 'succe

[2019-10-11 18:30] flotwig opened #5357 "Run e2e tests in all browsers by default"
### Current behavior:

e2e tests only run on 1 browser at a time. To run on multiple browsers requires multiple e2e tests.

### Desired behavior:

* Run an `electron-e2e-tests` stage and a `chrome-e2e-tests` stage that set `E2E_BROWSER=electron/chrome` respectively
* For each e2e test:
	* If a `browser` field is not specified...
		* Run the test against all browsers individually
	* If `browser` is

[2019-10-11 18:49] KarlaLopez1411 commented on #1065
Hi, guys, I follow all your recommendations but I got this error:
![Screen Shot 2019-10-11 at 12 45 36](https://user-images.githubusercontent.com/54606287/66676721-5e353080-ec25-11e9-9f69-9b186e414b36.png)

I'm trying to test a backend function.
Could someone help with this?

[2019-10-11 18:52] #4440 closed

[2019-10-11 18:52] #5149 closed

[2019-10-11 18:52] mikey0000 commented on #5330
Yeah, I managed to work that out, awesome! Look forward to the fix!

[2019-10-11 18:53] bahmutov commented on #5312
`reporter-integration-tests`, `desktop-gui-integration-tests-2x` and `driver-integration-tests-chrome` require `PACKAGES_RECORD_KEY`

[2019-10-11 19:06] hdavidzhu commented on #695
@testerez Reading https://github.com/cypress-io/cypress/pull/4945, I think that'll fix this issue in the next release!

[2019-10-11 19:15] #5312 closed

[2019-10-11 19:59] jennifer-shehane commented on #5351
@dsesami Can you provide an example of this behavior that we can run completely on our machines? We do not know what is happening within your custom `createUser` for example so cannot run this code to prove your theory. Please provide the complete code we can run to look into your issue - which tests are failing that should not fail. Thanks!

[2019-10-11 20:02] jennifer-shehane commented on #5350
Thanks for reporting, closing as a duplicate of https://github.com/cypress-io/cypress/issues/5004 which I will look into shortly.

[2019-10-11 20:02] #5350 closed

[2019-10-11 20:20] jennifer-shehane commented on #5004
The `nested` was introduced in [Chai 4.0.0](https://github.com/chaijs/chai/releases/4.0.0). Cypress is currently using Chai 3.5.0.

This will be fixed in our breaking Cypress v4 release - I will be closing this issue as 'pending release' since the code for this is done, but has yet to be released.

- Original issue for Chai update: https://github.com/cypress-io/cypress/issues/1153
- PR containing

[2019-10-11 20:20] #5004 closed

[2019-10-11 21:14] ponsifiax commented on #3221
Hello team,

Do you have any news about this regression?
Unfortunately, the workarounds are not the final solution.

Thanks for information.

[2019-10-11 22:36] #4608 closed

[2019-10-11 22:43] #1016 closed

[2019-10-11 22:43] #1847 closed

[2019-10-11 22:43] #116 closed

[2019-10-11 22:43] #2045 closed

[2019-10-11 22:43] #2521 closed

[2019-10-11 22:43] #2957 closed

[2019-10-11 22:43] #3798 closed

[2019-10-11 22:43] #4347 closed

[2019-10-11 22:44] #53 closed

[2019-10-11 22:44] #2768 closed

[2019-10-11 22:44] #3187 closed

[2019-10-11 22:44] #3224 closed

[2019-10-11 23:21] #5341 closed

[2019-10-12 04:12] hankthewhale opened #5360 "Scaffold text grammatical issue"
### Current behavior:
Text says

[code]

### Desired behavior:

Text should say

[code]

### Steps to reproduce: (app code and test code)
Install cypress and the file with the grammatical error will appear in your repo under ` cypress/support/commands.js`

### Versions

3.4.1

[2019-10-12 05:31] x-yuri commented on #3262
Alternatively, to references files relative to `cypress` dir like so:

[code]

Do:

[code]

`cypress/plugins/index.js`:

[code]

[2019-10-12 06:48] Aghassi commented on #5217
@Bkucera Just wanted to circle back on this and see if I could get some feedback on that PR. Would like to see if we can drive this to completion 😄

[2019-10-12 10:19] ayandebbarman commented on #687
Can anyone help why cypress is not capturning below
![image](https://user-images.githubusercontent.com/50571836/66699800-5e0d6180-ed07-11e9-813a-2931bb9d4a5a.png)

        cy.route('GET','/api/Itinerary/**').as('getP')

         cy.wait('@getP')

however it just times out

[2019-10-12 10:23] Vages commented on #687
Could any moderators (@brian-mann or @flotwig) please restrict this discussion? I'm watching this issue because I want updates on it. However, every new comment is a request for help or «When will this be available?», ruining the watch feature.

[2019-10-12 13:14] ayandebbarman commented on #3757
My case is i am trying to click on a day on react calender to book tickets. Apart from past days, there are thousands of conditions on why a day can be disabled also for different events there are different conditions so its not possible currently for me to always determine which days will be disabled.
Further i am not trying to test if right days are disabled as its maintained by 3rd party. My te

[2019-10-12 13:21] bahmutov commented on #3757
Can’t you control the current date using cy.clock so you know what to expect

Sent from my iPhone

[2019-10-12 16:18] #5360 closed

[2019-10-12 16:24] brian-mann commented on #5330
`s` + `top` === `stop` ;-P

[2019-10-12 18:05] ayandebbarman commented on #3757
Its not about controlling the clock but i need to click on any future date to book tickets. But I don't have a concrete way to find available dates through api.
More detailed example is if i want to book tickets for Taj Mahal i need to click on future date to get the tickets list. However as its closed on Fridays and public holidays i need to account for it when click on the data. Similarly there

[2019-10-12 18:14] ayandebbarman commented on #687
Sorry to ruin your watch but with all due respect this is a public ticket not a private watchlist and Its always good practise check of available issues before posting new one. Most of existing issues with api not being captures are getting closed re-pointing to this issue.  Maybe my post was not clear but it looks related to this open issue as i have other xhrs which are getting identified ..
I u

[2019-10-12 21:36] Vages commented on #687
I can see from your account that you are relatively new to Github, @ayandebbarman, so I understand that you don't have any bad intentions. But I think you'll find that you get better help more quickly if you post questions to Stack Overflow and the Cypress Gitter (https://on.cypress.io/cha) than as issues. If it turns out that your problem is actually related to some issue (or represents a new one

[2019-10-12 22:00] johnknoop commented on #4039
@Bkucera

I've just spent a few hours trying to create a simple example that reproduces the issue, but to no success.

It reproduces 100% of the times in my real test though.

I can record you guys a video and send, but I'm not sure if you would get any good information from that.

Is there some instrumentation log or something that I can enable?

[2019-10-13 05:11] telangn opened #5363 "Separating spec into smaller it blocks or using commands.js fails a passing test"
Hi @jennifer-shehane @flotwig
The following spec below passes if it is left this way. But, if I put certain commands of the spec into their own it block, the authentication and login fails. Does it have something to do with not preserving cookies correctly, I don't know.Same thing if I make functions in commands.js and call them from cy into individual it blocks. I have placed the debug log furthe

[2019-10-13 15:17] jareks commented on #1493
Is there any progress / quickfix for this issue? Having browser maximized on every test start messes with my others carefully positioned windows and I have to resize it every single time.

[2019-10-13 16:48] WadeTsai commented on #3459
Maybe it could be walkarounded from electron: https://github.com/electron/electron/pull/573

[2019-10-13 16:52] WadeTsai commented on #3459
Login E2E test is critical for real world, so please fix this issue ASAP.
Or people have no choice and have to go back to Katalon.

[2019-10-13 20:43] fasatrix commented on #5309
@jennifer-shehane , is anybody free/able to look into this please? Thanks a lot

[2019-10-14 01:53] edelgado commented on #4021
@dotherightthing I ended up coming up with this script. It does the check Brian suggested, passes params and returns the correct error codes:

https://gist.github.com/edelgado/9dbceac4e275c0579fe91170ecc35645

[2019-10-14 04:08] cbernardes commented on #3310
Hey @Pavel-Husakouski it is not magic. It is just the way they have built, I hope intentionally, their middleware. In my case it was hanging-out on the first try only, but it was enough to delay my CI/CD. After digging through their code I found this solution :D.

#openSource <3.

[2019-10-14 08:09] Swati-activeops opened #5364 "Vsts builds are failing due to a memory leak error."
I have been running these builds regularly but recently they have started failing.

"(node:3837) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exitEarlyWithErr listeners added. Use emitter.setMaxListeners() to increase limit"

We’re just using standard out of the box agents.
![image](https://user-images.githubusercontent.com/50127497/66737008-6a6cf800-ee88-11e9-853f-9

[2019-10-14 08:49] oracleason commented on #5190
hi  i update the chrome and cypress to latest version,  test pass.

[2019-10-14 09:05] callumacrae commented on #4443
That's what happened to me, too!

[2019-10-14 10:11] Pavel-Husakouski commented on #3310
Actually, all our tests are failed because of this issue. Cypress tries to connect per every test and fails - about twenty times "The browser never connected. Something is wrong. The tests cannot run. Aborting..."
We switched to headless electron because looks like it works a bit better. However, I don't have enough statistic to make any serious judgement.

[2019-10-14 10:47] cbernardes commented on #3310
@Pavel-Husakouski this is only necessary when you run your tests in parallel. This request is exactly to know which suite to pull from the queue. Said so, I would strongly encourage you to run your CI/CD with electron.
If this is happening when you are running your tests locally, I would say you are having the wrong approach. They have a very good dashboard to help you with your tests execution an

[2019-10-14 10:59] zakhenry opened #5365 "Using `cy.log` within a promise causes the promise to `resolve(null)`"
### Current behavior:

Calling a simple cypress command (log) from within a wrapped promise causes the promise to return `null` with no errors or warnings.

### Desired behavior:

Either
  * the promised value should be returned (ideal)
  * exception should be thrown from cypress command that would have caused this behavior

### Steps to reproduce: (app code and test code)

[code]

### Versions

$

[2019-10-14 11:20] gabbersepp commented on #4655
@jennifer-shehane maybe I can fix this. Is it acceptable to include rimraf dependency only for this task?

[2019-10-14 13:38] marioparris-qless commented on #1502
Nice!

[2019-10-14 14:24] automationJatinder commented on #987
I am also facing this issue and what I figured out is that whenever I am trying to fill a form and click on save button which has a 'onClick = javascript function' attached, then Cypress catches application error.
In my application, its like this - onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$cphMain$btnDoSave", "", true, "Trade", ""))"

@jennifer-shehane Yo

[2019-10-14 14:54] jeremyGrannanSEL commented on #5342
This is the only thing I get when following the instructions:
![image](https://user-images.githubusercontent.com/55515103/66760931-e438bd80-ee57-11e9-9e44-c2263fcf7514.png)

[2019-10-14 15:02] ptoshniw commented on #5190
Can you please share the chrome version and cypress version?

[2019-10-14 15:54] krokofant opened #5366 "Skipped test icon looks too much like a stuck spinner"
### Current behavior:
![image](https://user-images.githubusercontent.com/5908498/66764508-35719d00-eeaa-11e9-860b-ea4953a667ef.png)

### Desired behavior:
A better icon - I've looked through Font Awesome and didn't find anything especially good.

### Steps to reproduce: (app code and test code)
[code]

### Versions
Cypress 3.4.1

[2019-10-14 17:10] AnshuChaudhari commented on #518
@mohsenny I am searching a solution for exactly this same issue, where the rest of the test cases dint execute if one of the iteration fails. Did you found any solution for this ?

[2019-10-14 17:11] InsaneViku commented on #408
Hi team,

Is there a timeline on when we can expect this particular issue to be resolved? This is hindering some automation tests I'm building when utilizing `cy.request` to make requests. In this suite of tests I've created, it's necessary to clear cookies before each `cy.request` invocation, and in my particular case, `cy.request` is the way to go in making requests. I've had to use workarounds,

[2019-10-14 20:53] ksmith-karma-police commented on #518
also interested in this feature!

[2019-10-15 02:58] ManfredHu commented on #4247
same problem happen on CentOS7.

run e2e test by vue-cli-service script
[code]

[2019-10-15 03:18] dhruv5201 commented on #4884
Hey.. Is this issue resolved for every one. I have just installed 3.4.1 in my Windows 10. I am facing this issue.
Please let me know the solution if anybody already has.
Thanks in advance!!

[2019-10-15 07:55] errogaht commented on #1147
@tascioglu , please help us. we have the same problem. what is 'proxy @ business' ?
cypress adding /__/ to the end

[2019-10-15 08:37] Richard-Walton opened #5367 "cy.visit does not send headers / change HTTP method when baseUrl contains `:80`"
### Current behavior:

`cy.visit({ url, method, headers })` does not appear to honour the `method`, or `headers`

### Desired behavior:

`cy.visit({ url, method, headers })` should send the specified method and headers.

### Steps to reproduce: (app code and test code)

[code]

I include an annotated Cypress debug log:

![debug-log](https://user-images.githubusercontent.com/481427/66814784-1537f18

[2019-10-15 09:05] ptoshniw commented on #5263
I have handled the exception, and we are not using any Google analytics too. I am still not able to fix this issue for docker. It is hanging because of some cypress proxy issue. I am very clueless as debug logs are not helping to sort out the issue. :(

[2019-10-15 09:07] ptoshniw commented on #5263
@flotwig @jennifer-shehane Any updated on this issue? I have stopped using both the proxy  i.e. HTTP_PROXY & HTTPS_PROXY     and current debug  Logs are `2019-10-15T07:47:34.810Z cypress:server:proxy handling proxied request { url: '/pwa-student/static/media/icon_done_white.cddab5bc.svg', proxiedUrl: 'https://qa3-curio.saal.ai/pwa-student/static/media/icon_done_white.cddab5bc.svg', headers: { host

[2019-10-15 09:15] oracleason commented on #5190
cypress 3.4.1 and chrome  77, you can update and let me know the result.

[2019-10-15 09:38] ptoshniw commented on #5190
I have just updated to the mentioned version, now I am getting this  error:

`
\f۫�>kj��\u0013w�Ϣ�<\u0014�w�' }
2019-10-15T09:35:02.106Z cypress:server:cors Parsed URL { port: '443', tld: 'com', domain: 'gstatic' }
2019-10-15T09:35:02.106Z cypress:server:server HTTPS request does not match URL: https://www.gstatic.com:443 with props: { port: '443', tld: 'ai', domain: 'saal' }
2019-10-15T09:35:02.1

[2019-10-15 10:23] nvkhanh08t4 commented on #3516
Hi @jennifer-shehane  Can you give full example for this?

[2019-10-15 10:26] Richard-Walton commented on #5367
Ok, something odd is going on here.

`cy.request` works (Passing the same `url`, `method`, and `headers` as I use in `cy.visit`).

BUT, I can get `cy.visit` to work.   My app lives behind a load balancer.   If I make my tests target the app directly (rather than going via the LB) the visit command works.

I'm not sure how to explain that behaviour?!  `cy.request` works in both cases.  The LB logs

[2019-10-15 10:35] ispal commented on #2102
Hi,

With all these messages, I'm not fully sure that are you going to make xfvb args as public properties without the need to update them manually? In CI environment where node_modules folder is cleared before every build, it's not really usable currently.

[2019-10-15 11:01] SrikanthReddy34 commented on #987
You can use like this in your spec file
 cy.visit(url, {
    onBeforeLoad: (win) => {
      win.onerror = null // this is a hack to ignore the uncaught exceptions
    }
  });

[2019-10-15 11:02] AshMcConnell commented on #2634
Thanks, this worked for us.  (we are using `yarn` then `npx cypress run`).  I don't fully understand why it needs to be done though?

[2019-10-15 11:10] SrikanthReddy34 opened #5368 "Cypress is blocking ads scripts to run on the page"
### Current behavior: When i open a page with cypress, few of the custom third party <script> tags are not being loaded in iframes (Ad creatives).
Our page functionality is dependent up on these scripts. A snippet of code will be served from ads and which will trigger some functionality which is available on our pages. I tried adding the below config in cypress.json
{
  "chromeWebSecurity": false,

[2019-10-15 12:28] Richard-Walton commented on #5367
Further info:  There is definitely some Cypress-level caching going on which I've just noticed.

The first time I run the tests (with `cy.visit({ url, method, headers })`) I see two requests made to my server... the first request contains correct method/headers, the 2nd is a GET without headers.

The first request/response is seemingly ignored, and the 2nd response is provided to the test runner.

[2019-10-15 13:10] gmkumar08 opened #5369 "Position the search bar at the top in Cypress Test Runner"
### Current behavior:
#### Search bar in Cypress Test Runner scrolls up when I scroll down the tests making it mandatory to scroll to the top again if I have to search for any tests once I'm at the bottom or somewhere in between. The same applies to the "Run all specs" option too.

![image](https://user-images.githubusercontent.com/46545923/66833833-265a2000-ef7a-11e9-9add-8d0fe4daed71.png)

### D

[2019-10-15 14:13] gustawx commented on #4823
Actually

[2019-10-15 14:23] jrtest400 opened #5371 "Cypress Eror handling"
Hi

I'm testing a lot of things but some of them are not too important(like caption text fail)I want to add optional parameter (if its wrong thats okay continue testing) I used to work with Katalon Studio, it has Change failure options(stop,fail,continue) Can I make it with Cypress for my test cases
### Desired behavior:

[2019-10-15 14:31] ModestasDaunys commented on #1212
This saved my life. Thank you.

[2019-10-15 14:39] jennifer-shehane commented on #5371
See this doc: https://on.cypress.io/catalog-of-events#Catching-Test-Failures

Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existi

[2019-10-15 14:39] #5371 closed

[2019-10-15 14:50] Bkucera commented on #4039
@johnknoop usually we can't get much from video, and we don't have very robust debug logs in the driver. Usually these types of issues are related to some lib or ui framework so that type of information helps

[2019-10-15 14:53] Bkucera commented on #987
@automationJatinder and `Cypress.on('uncaught:exception')` is not fired?

[2019-10-15 14:53] jennifer-shehane commented on #5369
@gmkumar08 You're in luck because this has already made it's way into the next pre-release version of Cypress (3.5.0). Closing as duplicate of https://github.com/cypress-io/cypress/issues/4904

[2019-10-15 14:53] #5369 closed

[2019-10-15 15:07] gmkumar08 commented on #5369
@jennifer-shehane that's great news. I couldn't find the original issue and hence have created a new one. Sorry for the trouble. I can't wait to try out the next release. Keep up the good work :)

[2019-10-15 15:09] Bkucera commented on #2634
I'll look into this

[2019-10-15 15:32] Bkucera commented on #695
thanks @hdavidzhu, you are correct. Should have thrown a comment on here.

[2019-10-15 15:59] Richard-Walton commented on #5367
So, it seems the cookie header persists between the two requests (as long as the cookie is set via `cy.setCookie`.  That's the only workaround I can see right now - to set my mock data in the cookie.  Though this doesn't solve the method always being a GET (even when POST is specified).

[2019-10-15 16:49] flotwig commented on #5367
Yes, I can shed some more light on this:

`cy.visit()` doesn't actually do a normal Javascript navigation (for example, by setting `window.location.href` or submitting a `<form>`). Instead:

1. cy.visit asks the Cypress backend to retrieve the remote content (the red arrow from your annotation)
2. Once it receives the response from the backend, it validates the content (is HTML, is a 200 status co

[2019-10-15 17:12] johnknoop commented on #4039
@Bkucera

For what it's worth.. it's an AngularJS 1.6 app. The app is quite interactive, so a lot of stuff is displayed/hidden based on mouse interaction. And 98% (ish) of these seem to work when the Cypress window is hidden behind another window. There's only very few cases that don't work.

The one that I tried to reproduce in a codepen.io sample, but failed, uses elements that are repeated, and

[2019-10-15 17:13] WayneHiller commented on #1493
Any news on this? Drives me crazy on my wide screen monitor.

[2019-10-15 17:26] Richard-Walton commented on #5367
@flotwig Thank you for the reply.

Yes, my server does get a POST - But only the first time I start the test runner.  The response my server gives to the initial POST seems to be ignored as cypress makes a 2nd GET to the server immediately afterwards.  When the tests are re-run (i.e I don't close/re-open the test runner) the server only receives a GET.

[2019-10-15 17:31] flotwig commented on #5367
@Richard-Walton The 2nd GET (step 4 in my explanation) should not make it to your server. It's just pulling the response to your POST (step 3) from the proxy layer.

I hear what you're saying, but I can't reproduce this problem unfortunately. Can you provide a minimum reproducible example? A Git repo with a server setup that shows the problem would be perfect.

[2019-10-15 17:38] Richard-Walton commented on #5367
I would love to, but I'm not sure how.  The app being tested is running behind a load balancer (https://www.pulsesecure.net/products/virtual-traffic-manager/) - so the setup is a little complicated.  I'll have a think.

So, it seems perhaps, for _reasons_ that the 2nd request makes it to my server.  Perhaps the logic in the cypress backend for determining which requests it handles / vs which ones

[2019-10-15 17:48] Richard-Walton commented on #5367
Haha, I got it!  So...my baseURL is  set to `http://cc2:80`.

Removing the port fixes the issue.  So, I assume there is some cache code which doesn't take into account the presence/lack of presence of `:80` for HTTP requests?

[2019-10-15 19:38] rubenreyes2000 commented on #4304
It looks like this is still an issue. Installing Cypress from scratch and adding mocha, mochawesome, mochawesome-merge, and mochawesome-report-generator, and configuring cypress.json leads to the same error, see below:

[code]

[2019-10-15 19:45] YOU54F commented on #4304
Mocha 6+ requires a stat collector to be instantiated which cypress does do as it users and older version of mocha internally and doesn’t use the version specified in a projects package.json.

If you use cypress-multi-reporters, it will allow you to use any mocha version, and will instantiate the stats collector allowing you to use mocha 6+ in your project

[2019-10-15 20:03] rubenreyes2000 commented on #4304
@YOU54F : thank you for your quick answer. Can you provide a little more guidance, please?

I installed cypress-multi-reporters with `npm install --save-dev cypress-multi-reporters` but I get the same error when executing `cypress run`.

Any suggestions?

[2019-10-15 20:10] YOU54F commented on #4304
You want to setup your reporter in cypress json file as cypress-multi-reporters and point to a reporterOpts json file which contains the reporters you want to run.

See one of my projects for an example

https://github.com/YOU54F/cypress-docker-typescript/pull/22

The master branch is running mocha 6+ and cypress

[2019-10-15 20:26] Vandivier commented on #589
issue replicated doing like:
`cy.location('pathname').should($pathname =>`

[2019-10-15 20:33] rubenreyes2000 commented on #4304
Awesome!!! Thank you @YOU54F!

For the benefit of others reading this, here is a summary of what I did. What I am trying to do is generate the log/results of the tests in a format I can distribute to humans.

package.json
[code]

cypress.json
[code]

reporter.json
[code]

Then I can execute my tests with `./node_modules/.bin/cypress run` and this produces several json files in `cypress/reports/moc

[2019-10-15 21:13] pravynandas opened #5375 "cy.log not prints followed/preceded by a failed assertion through expect() command"
### Current behavior:

In below test for the positive assertion `cy.log` prints the message on the left panel (though the comment before is coming 'after' the assert), but for the failed assertion no log prints.

[code]

### Desired behavior:

Irrespective of the result of assertion it is expected to see the `cy.log` commands on the left panel (!?)

### Steps to reproduce: (app code and test code)

[2019-10-15 21:14] pravynandas commented on #5375
Snippet of the test result <br/><br/>

![cypress_issue_cy_log_with_expect](https://user-images.githubusercontent.com/4099637/66870318-2b65a200-ef6f-11e9-861b-ec7d701ded8f.png)

[2019-10-15 21:26] aurium commented on #3422
Hi, i want to solve this issue.

I `console.log`ed the extended `state` inside `set()` at `setter_getter.coffee` and the `screenshotsFolder` value was updated in it (as expected) using `Cypress.config` in a test. How can i know which key it can or can't change?

[2019-10-15 21:33] jennifer-shehane commented on #3324
Hey, @edelgado, while we do believe this is unexpected behavior - one may expect screenshots to be consistent across machines, headless and headed, this is how Cypress was programmed to work and we do not regard this as a bug in Cypress.

Taking screenshots in `cypress open` versus `cypress run` are not going to necessarily be the same size.

- `cypress open` will run the tests and take screenshot

[2019-10-15 22:36] davidhennemann opened #5376 "window.location.replace not working inside cy.window()"
### Current behavior:

After visiting a site through `cy.visit` and accessing the window object with:
`cy.window().then(win => {...})` we can not change the hash of the site with `win.location.replace('#bar')`. Using `win.location.hash = '#bar'` instead works flawlessly.

Calling `win.location.replace` redirects the iFrame of the tested page to a URL with a `__` prefix, the `__` could come from th

[2019-10-16 04:29] #5363 closed

[2019-10-16 04:29] telangn commented on #5363
Non - issue.
Need to follow "Best Practices" in Cypress Docs, better.

[2019-10-16 05:33] HareemManzoor commented on #5328
@hsaab Can you please share the commands that you are using for executing your tests in headless mode? Thanks :)

[2019-10-16 05:39] HareemManzoor commented on #5333
Please share the purpose of using both commands as your question is not clear. However, if you want to access the first DOM element on the entire page then **.first(options)** a good option.

[2019-10-16 05:49] makris55 commented on #4626
I also had this problem and finally I think we ended up solving it.
We have our own gitalb-runner so we can modify the config.toml and that's where we could solve it by changing these two values:
[code]
It seems in our case that it was a question of performance of the machines that performed our jobs, which due to lack of resources killed the docker containers without giving error.
In our gitalb-c

[2019-10-16 06:59] mankybansal commented on #4039
I have noticed this in our Next.js app as well. All the tests pass when the window is in focus and I'm looking at it. The minute I switch workspaces on the mac (even after a few tests have passed), the next test fails.

[2019-10-16 07:40] KyorCode commented on #1433
This would come very in handy for testing on [Storybook](https://storybook.js.org). This issue is currently blocking us from using Cypress.

[2019-10-16 08:28] jackmercy opened #5377 "Can not run Cypress with Browsers have Chromium core."
### Current behavior:
For now, I can only run Cypress with Chrome, chromium, Canary, and Election.
When I tried to run cypress with other browsers like Brave or SWare Iron which is a browser with Chromium core, I got a message "Can't start server" with the provide execution path.
  The command that I used `cypress open -b 'C:\Program Files\SRWare Iron (64-Bit)\iron'`
![image](https://user-images.g

[2019-10-16 09:15] knagarajan1984 commented on #5280
I understand better now after your explanation. I found that the timeout in cy.get could infact fail the test for me and achieve what I wanted. Thank you for the help. Closing the issue.

[2019-10-16 09:15] #5280 closed

[2019-10-16 10:10] blumk commented on #5364
@Swati-activeops can you provide a repository containing the tests that cause the memory leak error to occur?
How many tests are you running? What's the total duration of the test run?
I'm using Azure DevOps as well and I've not experienced this issue before.

[2019-10-16 10:34] blumk commented on #5366
Proposal:
![image](https://user-images.githubusercontent.com/2436496/66911445-cf535a00-f010-11e9-8723-417848b381af.png)

![image](https://user-images.githubusercontent.com/2436496/66911599-20fbe480-f011-11e9-81c2-ff3774c52600.png)

https://fontawesome.com/icons/ban?style=solid

[2019-10-16 12:19] Svish commented on #5241
Finally back at work (that was one _resilient_ cold virus... 👀), and can confirm that if I downgrade node to `12.10.0` I get no error. If I upgrade to next version, `12.11.0`, I get the error again. Also getting the error in the latest version, `12.12.0`.

I see the fix in #5293 simply ignores the error code, but is that an actual fix? Maybe would be good to also figure out why this error suddenly

[2019-10-16 12:38] glpibr commented on #3473
Hello,
I hope what I post will help.
I'm starting at Electronjs and right from the start I had a very hard problem finding solution which is exactly this error that are reported from the ffmpeg shared library.
I use Debian 10 and have installed it in a number of ways and sometimes thinking it might be some package management error.

Finally, I solved my problem by manually installing NodeJS (same

[2019-10-16 12:45] chirita-alex opened #5378 "Dynamic test doesn't work properly"
### Current behavior:
   Dyanmic test it is skipped

[code]
### Versions
cypress: "3.4.1"
macOS Mojave Version: 10.14.6
Google Chrome Version 77.0.3865.90 (Official Build) (64-bit)
node: v8.11.2

### FULL CODE
[code]
**Note: If I use hardcoded videoList array it work's very fine**

[2019-10-16 13:43] flotwig commented on #5241
Here's my understanding:

`process.stdin` from the CLI is piped the `stdin` of the Electron process Cypress runs in. Then, when the underlying Electron process exits, the `process.stdin` stream in the CLI throws an `ENOTCONN` error (only in Windows, only in Node 12.11.0+). Sometimes, it throws an `EPIPE` error instead, which was handled previously to this issue in #1841

There's very little docume

[2019-10-16 15:01] ivml commented on #4964
Hi guys,

I'm trying to run the example from the blog post (and the linked [readme](https://github.com/cypress-io/cypress-electron-plugin)).

After following the readme and running `npx cypress open` still shows multiple browser options.

Selecting **electron-sandbox 1.0.0** and running a test file results in the following error:

Running the example `cy:run` command results in the same error, but

[2019-10-16 15:51] jennifer-shehane commented on #489
We have decided to go a different direction than was originally planned when this issue was opened over 2 years ago.

I will be closing this issue since we do not want to integrate Yaml file parsing directly into the Cypress product at this time.

We think this would be a good use case for a [Cypress plugin](https://on.cypress.io/plugins-guide), if there is demand for that, that others could pull

[2019-10-16 15:51] #489 closed

[2019-10-16 15:58] davidhennemann opened #5379 "XHR.send() with undefined parameter"
We are currently testing an application with a lot of legacy code. After opening the website cypress initially crashed with `Error 'Cannot read property '_setRequestBody' of undefined' in request to URL`. The error is thrown from within the `server.coffee`, where the XHR prototype is overwritten.

[code]

After following the call stack we figured out that the legacy application made a call `XHR.se

[2019-10-16 16:03] tonilopezmr commented on #972
`window.Cypress` is undefined when I run `cypress run` if I run `cypress open` is working fine, in my case I know it because I set the `window.store` only when `window.Cypress` is defined and if I run `cypress run` all my tests crash because `window.store` is not set it.

[2019-10-16 16:11] gabbersepp commented on #4837
what seems to work is "bearer" auth. But to use this, it does not make sense to provide username and password as mandatory fields. So we should make username/password/bearer optional. @jennifer-shehane  will this be ok for you?

[2019-10-16 16:13] gabbersepp commented on #2128
is the code in the involved libs (request.js/redirect.js) cypress stuff or from node?

[2019-10-16 16:15] dsesami commented on #5351
@jennifer-shehane here's a simpler example with the example tests that are generated with cypress initialization. `npx cypress open` on an empty directory will generate tests, and then you can substitute this following code in `window.spec.js`.

[code]

Here's a screenshot:
![Screenshot from 2019-10-16 12-11-08](https://user-images.githubusercontent.com/19942822/66937755-0e33e080-f00e-11e9-8a3b-e7

[2019-10-16 18:59] jennifer-shehane commented on #5378
Unfortunately we have to close this issue as there is not enough information to reproduce the problem.

Please narrow down this issue to a small reproducible example to highlight the exact failure. The below example works, for example. Can you provide an example pulling out what about your example doesn't work versus mine? We need a full example we can run on our machines and see the error.

[code

[2019-10-16 18:59] #5378 closed

[2019-10-16 19:06] flotwig commented on #5379
Hey, thanks for the report!

Hmm, if I'm reading this right, it sounds like the Cypress implementation of `XHR.send` has a bug. It's totally valid to do `XHR.send(undefined)`, and it shouldn't cause Cypress to err.

It would probably be best to find out why `proxy` is null, or why the code is reaching this point, instead of adding a guard for `proxy` being null here. It doesn't really fix anything

[2019-10-16 19:26] jennifer-shehane commented on #5377
I did try this and ran into the same error - just to double check you were sending the path correctly.

Cypress currently only runs in Chrome, Chromium, Election, and Canary. See this issue for further cross browser support: https://github.com/cypress-io/cypress/issues/310

You will be able to pass in your own browser list after this PR is merged in: https://github.com/cypress-io/cypress/pull/5068

[2019-10-16 19:26] #5377 closed

[2019-10-16 19:31] ryan-snyder opened #5384 "Proposal: add option to pass in an array of fixtures to cy.fixture"
### Current behavior:
Currently, in order to load multiple fixtures you have to do something like [this](https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/fundamentals__fixtures/cypress/integration/multiple-fixtures-spec.js) or [this](https://github.com/cypress-io/cypress/issues/2932)

### Desired behavior:
It would be really nice from a user perspective if we could load m

[2019-10-16 19:54] WayneHiller opened #5385 "Fail a test when errors occur in the Vue JS pipeline"
I would like to fail a test if any errors occur within the Vue JS pipeline like within event handlers etc. Vue has it's own built in error handling so errors are handled, thus a Cypress test will never see them.

I have found a way to call into Cypress from the `Vue.config.errorHandler` in my app:

[code]

In the Cypress commands.js file I have:
[code]

Now the trick is how can I fail the currentl

[2019-10-16 20:02] bahmutov opened #5386 "Handle ~ in CYPRESS_CACHE_FOLDER during "cypress verify" command"
v3.4.1
CircleCI Mac build https://circleci.com/gh/cypress-io/cypress-example-kitchensink/3565#usage-queue/containers/0 with
[code]

[code]

But

[code]

With logs

[code]

Same with `cypress cache list`

[code]

and `cypress verify`

[code]

To recreate the problem locally, set the environment variable like this as a string

[code]

We should handle `~/...` in the `CYPRESS_CACHE_FOLDER` and resolv

[2019-10-16 20:35] bahmutov commented on #5386
The problem is that when you say `CYPRESS_CACHE_FOLDER=~/...` in the terminal, the terminal's script resolves `~` immediately. When you set it on CI as an environment variable, it is not resolved, and our CLI gets the literal string "~/..." which it thinks is a relative path.

[2019-10-16 21:27] bahmutov commented on #5386
As always, there is Sindre's module for this https://github.com/sindresorhus/untildify

[2019-10-16 21:39] justinanastos commented on #5044
Super psyched to see this update! I'd be happy to test a pre-release version 😃

Thank you @nik-lampe for reporting the issue and building a reproduction!

[2019-10-16 21:43] CSchulz commented on #3671
I just dived a little bit through the cypress code and in my opinion we could add a plugin event similar to `before:browser:launch` to allow passing some preferences to the profile.

It could be executed somewhere around here:
https://github.com/cypress-io/cypress/blob/a877474df1300af3dc8edb7bbe69b935a6ccc850/packages/server/lib/browsers/chrome.coffee#L281-L290

The code for reading and writing th

[2019-10-17 00:26] leonardoj-cit commented on #3568
Hey guys, first of all, thanks so much for all the hard work on this.
How is the plan to release this?
Is there any way that I can point to a version that has that already and start using?

[2019-10-17 00:32] seanlawrenz commented on #4624
Can confirm, this issue is still happening with 3.4.1 even with clearing cache.

[2019-10-17 01:10] #5357 closed

[2019-10-17 02:06] nvkhanh08t4 commented on #4460
Following this issue.

[2019-10-17 03:49] coleHafner commented on #5304
Hi Cypress Team,

Any word on this?

[2019-10-17 04:38] jdramirezr opened #5389 "¿ How to keep without reload the page when the url change on a single page application ?"
¿ How to keep without reload the page when the url change on a single page application ?

### Current behavior:
when Cypress finishes writing in the form and clicks on "continue", it loads the page and continuous  in the second form, but when loads the page, the data of the previous form is missing

![image](https://user-images.githubusercontent.com/45051181/67040147-79ea7c00-f0e8-11e9-84e4-05de0c

[2019-10-17 06:11] minhmassive commented on #3472
I have the same issue with this. Has this been addressed ?

[2019-10-17 06:13] minhmassive commented on #3472
What i mean is what are my other options for doing this

[2019-10-17 07:05] tarikcarli opened #5390 "Can i spy fetch request"
I read the issue #95 but i couldn't find what i was looking for. I have fetch api request and i want to control the request header and request body. Are there any example for that and is this possible with cypress ?

[2019-10-17 07:56] chirita-alex commented on #5378
The problem appears when I use the data from fixture in dynamic test.
This code doesn't work
[code]
### Next code works but integration test it's no more dynamic

[code]

[2019-10-17 08:11] janmarcin commented on #3566
Did anybody resolved this behavior somehow?

[2019-10-17 09:13] chirita-alex commented on #5378
Problem solved with const videoList = require('../fixtures/videoList.json');

[2019-10-17 11:00] Richard-Walton commented on #5367
@flotwig Any thoughts on the above^ ?

[2019-10-17 11:20] ronaiza-cardoso commented on #3198
I'm having this issue too.

[code]

I'm suspicious that the problem lives inside the require, because when I run again the test without the requires and write a simple test like this:

[code]

![image](https://user-images.githubusercontent.com/7999914/67003970-21f74980-f0d7-11e9-82f7-3f62ddeb2139.png)

Works as expected, but when I rerun the cypres open with the requires for the `userFactory` and

[2019-10-17 11:30] gustawx opened #5391 "Only first env variable is taken when using --env option"
When I try to run tests with `--env firstEnv=value1,secondEnv=value2`, only first env variable is being picked up by Cypress. When i do `export secondEnv=value2` then it works as expected.

I use secondEnv to set the `testFiles` programatically in plugins/index.js in `module.exports = (on, config) => { ... }`, this might be some hint

Cypress 3.4.1

[2019-10-17 11:39] photz commented on #4884
I got the same error on Ubuntu 16.04.6 when updating to Cypress 3.4.1. I downgraded to 3.4.0 and it works again.

[2019-10-17 11:59] th2tran commented on #5073
@9odzilla: You said you figured out why it does not work. Could you please share the reason? I'm encountering the same problem with cy.log(new Date().toTimeString()) getting the same value for successive entries.

[2019-10-17 12:17] nicompa opened #5392 "Session storage returns outdated value"
### Current behavior:

In the `pricing_loop` command (invoking `pricing_call`), the last `cy.log('cookie value end = ' + cookie_value)` returns `false`, although the value has been already updated to `true` in the `if` above.

It seems like the session storage reverts back to the previous value, ignoring what happens within the context of `cy.wait`. Weird thing is, when I debug and pause the appli

[2019-10-17 12:21] 9odzilla commented on #5073
@th2tran In my case, the reason I was getting the same timestamp is because of how Cypress executes. I believe Cypress queues up all the 'cy' commands and then executes them in order. Any other javascript outside of those commands are executed before hand, hence why the timestamps are all instantiated first. In your case I'm not sure why if you wrapped generated the timestamp inside a 'cy' log sta

[2019-10-17 13:08] DoubLL commented on #5376
I am having the same issue on a page which is supposed to redirect the user with a script using window.location.replace().

redirects to "localhost/__/example.html"
and not, as I would have expected, to "localhost/example.html"
which results in a failed test.

[2019-10-17 13:27] ispal commented on #2102
Our CI is on a Windows machine and the screenshots taken are **1024x768** which are way too small. I checked the code and there's a check for Windows and those arguments are not passed on in Windows environment. It must behave differently in Windows? Anyway to override that 1024x768?

[2019-10-17 14:05] bahmutov commented on #5386
I had the same problem was initially on GitLab CI where `~` was not expanding

[2019-10-17 14:06] tonilopezmr commented on #2383
`window.Cypress` on Electron browser is undefined.

I'm running this test

[code]

<img width="554" alt="Screenshot 2019-10-17 at 16 02 36" src="https://user-images.githubusercontent.com/5845622/67015903-95a94e80-f0f7-11e9-9562-561e39a12845.png">

[2019-10-17 14:35] jennifer-shehane commented on #2102
I made some comments on how screenshots sizes work some and how we will improve the documentation around it here: https://github.com/cypress-io/cypress/issues/3324#issuecomment-542414532 May be relevant.

[2019-10-17 14:39] flotwig commented on #5367
Ugh, that definitely sounds possible. The `cy.visits` are cached by URL, maybe we're keeping the default port when storing the response but not when pulling it back out, or vice versa. Thanks for tracking this down, this should be pretty easy to fix now.

[2019-10-17 14:52] K41eb opened #5394 "Broken ag-grid input cell 'type'ing"
#5358 # Current behavior:

`type()`ing into an ag-grid cell that was either focused, get, or clicked on is broken: only the first character is typed in the cell.

(After hot reload, by saving the test file while Cypress is already running, it types the full word 'in place', each character overwriting the former one, eventually only leaving the last character in the cell)

### Desired behavior:

Th

[2019-10-17 15:11] K41eb commented on #5394
I finally got it to work but it feels a lot like a work-around and doesn't match standard user workflow at all:
[code]

The `{del}` keypress is to [start editing the cell](https://www.ag-grid.com/javascript-grid-cell-editing/), which should have been trigerred by any other 'standard' keypress (e.g. alphanum characters) but for some reason it didn't work.

[2019-10-17 15:36] fr0 commented on #5139
I assume this got delayed for some reason?

[2019-10-17 15:47] #5386 closed

[2019-10-17 17:23] faustest commented on #944
Guys, we need it

[2019-10-17 17:35] checketts opened #5395 "Add option to avoid automatic parsing of JSON files in cy.fixture() and cy.readFile()"
### Current behavior:

Fixtures with comments  throw an error as not being 'valid json'
![image](https://user-images.githubusercontent.com/416063/67033071-210fe900-f0d2-11e9-8d44-ddc92a51349b.png)

### Desired behavior:

Please allow json5 (json with comments) for fixtures. Some fixtures are huge and having comments to point out the critical part would be helpful

### Steps to reproduce: (app code

[2019-10-17 20:26] jennifer-shehane commented on #2346
Closing as resolved. Please comment if you are still having this issue and we will consider reopening.

[2019-10-17 20:26] #2346 closed

[2019-10-17 20:54] flotwig commented on #4837
`bearer` is not a valid option if passed to `auth`. It may appear to work, but it will not send the `bearer` token on subsequent requests, only the initial request. This behavior is currently only supported for username/password:

https://github.com/cypress-io/cypress/blob/c1416035e9cd0dfc0bd342ea2992cd8b4bc7a888/packages/server/lib/controllers/proxy.coffee#L364-L372

So more work would need to be

[2019-10-17 21:04] jennifer-shehane commented on #5392
This has to do with mixing async and sync code, not the session storage. I can demonstrate this by replacing all of the cookies with static values as shown below.

Irrespective of sessionStorage - the cookie value will always print false at the end with the way this is written.

Please see our guide about Cypress commands being async https://on.cypress.io/introduction-to-cypress#Commands-Are-Async

[2019-10-17 21:04] #5392 closed

[2019-10-17 21:06] flotwig commented on #5139
@fr0 Indeed, we have had some hiccups. But... soon. We aren't adding any new features for 3.5.0, just making sure that what we're releasing is quality.

[2019-10-17 21:08] jennifer-shehane commented on #5391
Can you provide the code where you are reading the 'environment variable' - asserting that it is not set?

With the example provided, I can't isolate whether this is never writing the env var or whether it is a problem later reading the env var.

Please also note that Cypress environment variables are *completely different* than environment variables set on your machine - they would need be be rea

[2019-10-17 21:09] jennifer-shehane commented on #5390
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2019-10-17 21:09] #5390 closed

[2019-10-17 21:11] jennifer-shehane commented on #5389
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2019-10-17 21:11] #5389 closed

[2019-10-17 21:13] Lakitna commented on #5101
Pinging @jennifer-shehane as this has not been answered within a month :)

[2019-10-17 21:16] flotwig commented on #5044
@justinanastos here's a link with instructions to download the latest prerelease: https://github.com/cypress-io/cypress/commit/c1416035e9cd0dfc0bd342ea2992cd8b4bc7a888#commitcomment-35551163