[2021-06-04 10:08] luichooy commented on #8364
I have the same issue width Cypress v7.3.0. And it has no effect that adding `cypress/.babelrc` with content `{}`.

 I have a .babelrc file in project root dir with content as below:
[code]

The error message is:
![image](https://user-images.githubusercontent.com/26423033/120784750-00263100-c55f-11eb-8086-714f821a4da2.png)

[2021-06-04 11:16] AFM-Horizon commented on #7693
I'll add my name to the list - this would be great

[2021-06-04 13:12] jennifer-shehane commented on #16812
@St1fle Thanks for reporting the issue. In your [example repo](https://github.com/St1fle/cypress-component-testing-error), we don't have access to install the `@yottaltd/eslint-config` and `@yottaltd/eslint-plugin` dependencies. These need to be removed in order to run `npm install` successfully.

The issue can be recreated after removing these deps and their references.

<img width="711" alt="Scr

[2021-06-04 13:19] jennifer-shehane commented on #16751
Perhaps introduced in https://github.com/cypress-io/cypress/pull/16644

[2021-06-04 13:23] jennifer-shehane commented on #16801
Duplicate of https://github.com/cypress-io/cypress/issues/16476

This has been fixed and is scheduled to be released on Monday.

You may have to downgrade to 6.4.0 to avoid the Maximum call stack errors altogether.

[2021-06-04 13:23] #16801 closed

[2021-06-04 13:26] jennifer-shehane commented on #16804
@Rao-J Could you provide the webpack configuration you have setup? Ideally a smaller repo that can reproduce the issue.

The error seems to indicate that it cannot find anything within the `C:\Cypress_Workspace` path. Is this path correct?

[2021-06-04 13:36] jennifer-shehane commented on #16806
There are a couple of places this could have thrown from this file: https://github.com/cypress-io/cypress/blob/develop/packages/server-ct/src/routes-ct.ts#L56:L56

We should probably distinguish these 2 errors from each other for debugging purposes.

Yes, I agree about the error not being helpful - the way this was written it seems like it was only expected to be thrown as an internal error to the

[2021-06-04 13:37] jennifer-shehane commented on #16812
Maybe this issue is also related? https://github.com/cypress-io/cypress/issues/16807

[2021-06-04 13:38] yann-combarnous commented on #16751
@jennifer-shehane , correct, the default CRA path was replaced by a variable, would have been nice to substitute CRA value for backward-compatibility.

[2021-06-04 13:44] St1fle commented on #16812
Thanks for the quick reply @jennifer-shehane !

That was my mistake I copied the `package.json` from the company's internal project and forgot to remove the private packages, I've pushed a commit to the repo that removes these two so it shouldn't be a problem anymore 👍

Yes I mentioned in the ticket above that the other ticket (#16807) is probably the same problem as this. When I opened my ticket,

[2021-06-04 13:51] smccarthy-godaddy commented on #14681
Thanks @Bkucera  . I will post that to the mocha-elk-reporter issues list.

[2021-06-04 14:21] talaikis commented on #5016
+1, random timeouts on live site, works fine locally.

[2021-06-04 14:21] lmiller1990 commented on #16751
#16813 should fix it.

[2021-06-04 14:30] lmiller1990 commented on #16812
There is an issue in `@cypress/react` ([has a PR now](https://github.com/cypress-io/cypress/pull/16813)). There's something odd in your screenshot - it looks like your component tests and e2e tests are showing up. I will pull your repo and explore - not sure if it's a config issue, something in Cypress, or both. You will need some way to differentiate between component tests and e2e tests, though.

[2021-06-04 14:43] lmiller1990 commented on #16812
I tried removing `src/specs/examples` (so the only test remaining is `Button.spec.ts`). I got a new error:

[code]

I think what should you do is use `cypress/webpack-preprocessor` for e2e tests, but `@cypress/webpack-dev-server` for component tests. You can do conditional configuration using `config.testingType`, [see here](https://docs.cypress.io/api/cypress-api/testing-type).

[code]

After I d

[2021-06-04 15:32] St1fle commented on #16812
Hi @lmiller1990 ! Thanks a lot for taking a look at this 😄 you did found the issue! It was because I not returning the config as part of the `webpack.config.js` so now I'm also seeing the same error as you.

I am now at the same point as you and I can see that error as well.

Just to clarify, I am not trying to run end to end tests and component testing at the same time, I am just trying to compon

[2021-06-04 15:53] kindoflew commented on #14722
I'm seeing an issue that might be related where a pixel amount I am expecting is off by one with `cypress open` so the test fails, but passes with `cypress run`.

With `cypress open` I can get the test to pass by altering the size of the viewport either with dev tools open or using the config to make sure the viewport isn't scaled down at all (it's normally scaled to 86% on my screen with the defa

[2021-06-04 15:56] MatiDiez commented on #8418
Hey @jennifer-shehane or anyone. I've implemented this"ignore" command and the result is that the error doesn't appear in red anymore on the cypress runner but I have some sort of follow up problem. The test run never ends as this error keeps piling up and appearing over and over.

This not only causes this to never end, but it starts killing my memory and the runner becomes unusably slow. Any ide

[2021-06-04 16:11] wrslatz commented on #8705
We're seeing this (and https://github.com/cypress-io/cypress-docker-images/issues/54, though we have a workaround) when running a few Cypress tests back to back (not parallel). A test in the middle will randomly fail with the `routines:OPENSSL_internal:NO_START_LINE`. The prior test passed, from what I can tell, so not exactly sure what is causing this corruption.

I'm trying to see if setting a d

[2021-06-04 16:12] wrslatz commented on #16505
For now it _seems_ like the `xvfb-run -a` workaround described in https://github.com/cypress-io/cypress-docker-images/issues/54 is holding 🤞🏻 The issue is intermittent so it's hard to tell.

[2021-06-04 16:29] elevatebart commented on #16812
Hello @St1fle
There was a couple of small issues with your setup

[Here is a PR that fixes them one after the other](https://github.com/St1fle/cypress-component-testing-error/pull/1)
- When using the vue-loader to load vue Single File Component, you have to load the VueLoaderPlugin as well
- The null coalescing operator ( ?? ) stays untouched by TypeScript if you target anything after ES2020, but

[2021-06-04 16:33] St1fle commented on #16812
Thank you so much @elevatebart !

I just went through them and can confirm the fixes in that PR, resolves these issues.
I was not aware of these nuances so this was perfect for me.

The only thing I could suggest is maybe adding this to the documentation somewhere for people less experienced like me can know what to do if they want to run the same combination of TypeScript + Vue.

I don't know wha

[2021-06-04 16:57] jennifer-shehane commented on #16630
@jmtimko5 We've been running a lot of experiments on videos lately, in different environments, etc - and haven't quite seen this issue.

What was a length of the actual video compared to the length of the test? Is the video freezing? Or is there only 2 mins of video length?

Can you provide a way to reproduce this? Or provide the video? Feel free to email to support@cypress.io if necessary. Thanks

[2021-06-04 17:00] #16463 closed

[2021-06-04 18:03] dillingham commented on #757
This is especially useful for my current usecase:

[2021-06-04 18:24] eduhunter commented on #1910
Great solution, fits perfectly! TY so much!

[2021-06-04 18:31] ivandjorgon commented on #4220
@jennifer-shehane when is this planned to be released? Thanks.

[2021-06-04 19:00] bahmutov commented on #757
Take a look at https://glebbahmutov.com/cypress-examples/7.4.0/recipes/selected-value.html#selecting-option-by-index where I use the following to select by index

[code]

[2021-06-04 19:23] Rao-J commented on #16804
@jennifer-shehane ,

I am assuming this is the the right path, if not please correct me, I brought this config from below mentioned path .
C:\Cypress_Workspace\node_modules\webpack
[webpack.zip](https://github.com/cypress-io/cypress/files/6600806/webpack.zip)
I think this path is correct that is where I setup my workspace and installed everything.
What I meant "this issue persists means" that this

[2021-06-04 19:59] elevatebart commented on #16812
I will close this issue once @chrisbreiding and I figure out how to avoid having to always return the config object. We consider this a bug and it has been nagging users for the better part of this year.

The rest of the fixes are specific to the vue+typescript setup.

Since we usually use an already working webpack setup, like VueCLI or create-react-app, you should not have to setup your own webp

[2021-06-05 00:50] anthony-sarkis commented on #16571
I am seeing this issue too

[code]

[2021-06-05 01:21] fernandomartinez82 opened #16816 "Post request don't receive response using Google Chrome version 91"
The last few days, one of our tests started to fail when Google Chrome was updated from version 90 to version 91. The test checks that an invalid username or password message is shown.

With Chrome version 90 works successfully.
With Chrome version 91, a message is never displayed. I think it is because a request ('shapermint.com/account/login') is not getting a response.

[code]

If we do the tes

[2021-06-05 05:22] vladyslavkuliani commented on #16806
Found the cause of the issue. Build was failing to compile some `.test.ts` file in the repo which was resulting in `[webpack-dev-middleware] Failed to compile.` error. However app was still served at `http://localhost:8080` and was fully accessible.

Result of starting dev server:
<img width="1274" alt="Screen Shot 2021-06-04 at 10 05 26 PM" src="https://user-images.githubusercontent.com/22001260/

[2021-06-05 14:21] dillingham commented on #757
This worked for me

[code]

[2021-06-05 16:25] Yethal opened #16817 "Add option to scaffold component level tests and remove Karma when using Cypress Angular schematic"
### What would you like?
Add option to scaffold component-level tests using @cypress/angular and remove karma when adding Cypress using angular schematic
### Why is this needed?

Make it easier and more convenient to move all test levels to Cypress for Angular applications

[2021-06-06 03:55] bcmcadam commented on #2636
What syntax are people using to set the baseurl at the beginning of the test so in order to prevent the test runner from reloading when a cy.visit occurs? @egucciar @martinpitt

[2021-06-06 06:43] goldylucks opened #16818 "Wrong type documentation for yielded cy.get()"
### Current behavior
I added a the custom [command from the documentation example](https://docs.cypress.io/guides/tooling/typescript-support#Types-for-custom-commands), and now when I use it and chain it to `.should($el => $e.text())` I get a TS error `Property 'text' does not exist on type 'Element'`, tho the tests do pass.

### Desired behavior
There should be no type error. The documentation sh

[2021-06-06 08:05] melibe23 commented on #6375
This is still reproducible in FF 89 and Cypress 7.4.0.

[2021-06-06 11:13] sra1rdy commented on #3817
This issue needs to be reopened as it still exists

[2021-06-06 11:16] rkrisztian commented on #8948
Opened https://github.com/nrwl/nx/issues/5906 for nrwl/nx users, as I couldn't find a way to replace `cypress-webpack-preprocessor` with `cypress-webpack-preprocessor-v5` there.

[2021-06-06 15:04] Tobbe commented on #789
@jaffrepaul Finally got around to try this again.

I can confirm we're still seeing the same issue in 7.4.0

![image](https://user-images.githubusercontent.com/30793/120929386-2546ab00-c6e9-11eb-942f-53fa221cd284.png)

![image](https://user-images.githubusercontent.com/30793/120929413-3b546b80-c6e9-11eb-8b0c-8a9c5ed87af3.png)

[2021-06-06 16:29] SchDen commented on #16766
Small hack for fixing it there, but the problem with intercept still actual

https://stackoverflow.com/a/67858001/2660839

[2021-06-07 02:58] goldylucks opened #16819 "Duplicate var declarations between spec files"
### Current behavior
Declaring a var/function with the same name in two different spec files gives a TS error of "Duplicate function implementation", tho the tests of course pass

### Desired behavior
it shouldn't happen

### Test code to reproduce
create a cypress project with TS, create a var/function in two different files with the same name

### Versions
7.4.0

[2021-06-07 04:01] sainthkh commented on #16783
#16218 and this issue seems similar, but it has different causes. The cause of #16218 is expected duplicated call of command. It's caused by unexpectedly merging log messages below:

https://github.com/cypress-io/cypress/blob/e0c385e0a2b5c0d343399280ab8b7e2aa2e12113/packages/driver/src/cy/assertions.js#L332-L344

Simply removing those code would solve the problem. But I'm trying to understand why

[2021-06-07 04:29] shirshendu30 commented on #9532
I am using Cypress 7.4.0 and seeing the same issue. Is there any work around to bypass this error?

[2021-06-07 04:38] shirshGit commented on #9532
I am using 7.4.0 for Cypress. Is there any workaround or settings in Firefox so that it can be bypassed.

[2021-06-07 06:40] DKdEviL commented on #7062
I was facing same issue while testing my angular project at "localhost:4200", i resolved by placing "http://localhost:4200" instead of "https://localhost:4200".
I wasn't aware that "s" will waste so much time of me. 😄

[2021-06-07 06:57] sainthkh commented on #16783
#16218 and this issue seems similar, but it has different causes. The cause of #16218 is expected duplicated call of command. It's caused by unexpectedly merging log messages below:

https://github.com/cypress-io/cypress/blob/e0c385e0a2b5c0d343399280ab8b7e2aa2e12113/packages/driver/src/cy/assertions.js#L332-L344

I guess there should be some discussion about this behavior. It's implemented because

[2021-06-07 07:19] A-ZC-Lau opened #16821 "the times parameter in cy.interceptor is not respected"
### Current behavior

When the `times` parameter is used in RouteMatcher, it doesn't respect the limit (i.e. using `times: 1` will still match more than once

![Screen Shot 2021-06-07 at 5 14 59 pm](https://user-images.githubusercontent.com/20273647/120975150-41634e80-c7b4-11eb-99ed-b95e2222ef4a.png)

### Desired behavior

It should only match up to the `times` specified.

### Test code to reprodu

[2021-06-07 07:50] symon-skelly opened #16822 "Plugin cannot retrieve updated env variables from a running test"
### Current behavior

Cypress Environment Variables that are set / updated during the running state of a test are not accessible to plugins within the plugins\index.js file.

### Desired behavior
Any plugins that are set up to use config.env variables should be able to use the most recent state of the variable, not just the value the variable contains when starting a test run.

### Test code to re

[2021-06-07 09:03] BassT commented on #14447
I experienced a similar problem and solution:
- Cypress fails to launch Chromium-based browsers (Chrome, Edge, Electron) on my enterprise machine, when I do `npm run cypress open` in the VS Code Powershell (Admin mode)
- But it works when running `npm run cypress open` in a non-admin Powershell

[2021-06-07 10:41] TheGooner93 commented on #583
+1 . this would be a welcome feature!

[2021-06-07 11:16] LoganWlv opened #16823 "Large File handling - Cypress.fixture(fileName, fileEncoding) - cannot create a string longer than"
### Current behavior
`Cypress.fixture(fileName, fileEncoding)` breaks when loading a 500MB csv file.

![image](https://user-images.githubusercontent.com/22358070/121006756-90e45300-c791-11eb-90ea-23b9851b17a7.png)

### Desired behavior
Be able to load a ~500MB fixture.

### Test code to reproduce

.js

[code]

.feature

[code]

use any .csv file that size is at least 500MB

### Versions

dependenc

[2021-06-07 11:28] yann-combarnous commented on #16798
Example setup for code coverage with Create-React-App, in cypress/plugins/index.js:

[code]

[2021-06-07 12:43] only4arunkumar opened #16824 "Video Autoplay not working when invoked from Cypress Testrunner"
### Current behavior
Video with autoplay enabled are no more playing automatically when they are loaded from Cypress test runner
Here video is embedded in an iframe . And the player is based on videojs.
When the user manually load the video url from browser it works fine
### Desired behavior
Video with autoplay enabled at iframe and query-string should play automatically

### Test code to reproduc

[2021-06-07 13:43] LoganWlv commented on #16823
It seems to happen in the server side.

Extra logs:

![image](https://user-images.githubusercontent.com/22358070/121027210-1292ab80-c7a7-11eb-8b35-a9255048af3f.png)

Here's what I get in the web socket:

![image](https://user-images.githubusercontent.com/22358070/121027011-ed05a200-c7a6-11eb-9e16-ad29c3b81d2b.png)

[2021-06-07 13:49] jennifer-shehane commented on #16816
I am not seeing any difference in behavior from Chrome 90.0.4430.0 and Chrome 91.0.4472.77 using Cypress 7.4.0.

Could you specify the exact version that this previously worked and the exact version where it is failing now?

I do see that this does not function the same as Manually testing, so still seems to be some issue within testing in Cypress.

Looks like there is an error that may be relevan

[2021-06-07 13:58] jennifer-shehane commented on #16818
@goldylucks I think your custom command types would need to more closely match the original `get` definition, which expects a jQuery element (which has the .text method): https://github.com/cypress-io/cypress/blob/develop/cli/types/cypress.d.ts#L1074:L1074

But yah, I can see how the example in the docs is not really a great example.

[2021-06-07 13:58] marinobrokerbay commented on #16816
@jennifer-shehane
I have been getting the same problem with Chrome 91.
As a matter of fact, I had to downgrade Chrome to be able to continue testing.
The problem is happening on the redirection. While with Chrome 90 redirections works fine, with 91 it does not. Unfortunately, when testing our sites, we have redirections to the auth URL and then back to the site.
That is what is breaking.

[2021-06-07 14:00] jennifer-shehane commented on #16819
@goldylucks How are you running the tests when you get this error?

[2021-06-07 14:04] azimsky commented on #15421
These errors overflow console (when writing tests) and logs (when running tests). Ignoring the error allows only to go on with the test. Is it possible to implement a fix? Something like:

[code]

[2021-06-07 14:18] onimougwo commented on #6422
Is there an ETA for this work ? I don't see any updates since end of march ?

[2021-06-07 15:28] martinsik commented on #1043
I wasn't able to change my local timezone in either Chrome nor Edge using any of the methods described above. I can see it's set in the Cypress runner app but it has no effect.

[2021-06-07 15:29] elevatebart commented on #16751
Delivered in 5.9.1

[2021-06-07 15:29] #16751 closed

[2021-06-07 15:52] jennifer-shehane opened #16825 "Create separate command to install e2e deps solely during internal development"
### Current behavior

Currently, running `yarn` on the `cypress` repo for internal development runs install for `cli`, `packages/*`, and `npm/*`, as defined in our package.json: https://github.com/cypress-io/cypress/blob/develop/package.json#L227:L227

I just ran it and it took 2 min, 15 secs to run. After clearing `node_modules`, it takes about 6 mins to run.

Maybe not so bad, but it seems like

[2021-06-07 16:01] St1fle commented on #16812
I realised I copied the webpack config from our end to end test project which doesn't return the config and that's how I hit this problem 😅

I agree with you guys that the config from Vue or React probably serves most people use cases, unfortunately we're an exception to this because we are running a TypeScript monorepo using project references and path aliases, it contains several micro apps buil

[2021-06-07 16:05] elevatebart commented on #16798
Hello @jhiester

I believe there could be two subjects to cover here:

### How to get component testing code coverage
  - If you are using create react app see in this repo https://github.com/elevatebart/cy-ct-cra
  - If you are using Vue see this example https://github.com/cypress-io/cypress/tree/npm/vue/v2/npm/vue/examples/code-coverage

### How to merge it with e2e testing coverage
On that fron

[2021-06-07 16:45] leungk712 opened #16830 "Webpack Compilation Error v7.3.0"
### Current behavior
Hello, I am using Cypress with Vue and SauceLabs and continue to encounter this webpack compilation error whenever I try to run SauceLabs locally:
[code]
I've followed the node_modules folder and I do see that there is a `@vue/cli-plugin/babel/preset` module seen by the screenshot below

<img width="435" alt="Screen Shot 2021-06-07 at 10 35 08 AM" src="https://user-images.gith

[2021-06-07 17:11] jennifer-shehane opened #16832 "All browsers when run via `cypress run` should run `headless` by default."
### What would you like?

All browsers when run via `cypress run` should run `headless` by default.

Currently, whether a browser is run `headless` or `headed` by default is not consistent. It depends on the browser. We originally made this decision in order to not introduce a breaking change when Chrome headless was delivered. https://github.com/cypress-io/cypress/pull/5676 We intended to change

[2021-06-07 17:19] flotwig commented on #14835
This is strange, connecting to CDP like this should work.

@tomardern Are you waiting for the browser to launch in your and retrying the connection? `before:browser:launch` runs BEFORE the browser is opened, so the CDP port is not immediately usable at this point.

Is anyone having this issue not on Mac?

[2021-06-07 17:37] flotwig opened #16833 "Remove usage of `--remote-debugging-port`, rely on Chrome-chosen port instead"
### Current behavior

Cypress launches Chrome with `--remote-debugging-port=SOME OPEN PORT`. Unfortunately, this creates a race condition, since the port that was open at the time of port detection may not be open once Chrome has finished launching and listening. Especially in CI where the TCP port namespace is shared between containers.

### Desired behavior

Do not specify a port, instead, let C

[2021-06-07 17:50] CypressJosh opened #16834 "Revert default screen size to 1280x720 - affecting video/screenshot default resolution"
For the 8.0.0 release, we want to revert the default resolution change, making the default resolution 1280x720 again

[2021-06-07 17:50] flotwig commented on #7942
Here is an API that I think could work nicely for this:

[code]

I don't see a need to integrate it with Cypress-isms like the chainable, since it is somewhat of a low-level API that may not make sense to write in that way. Any thoughts?

[2021-06-07 18:59] #16452 closed

[2021-06-07 21:02] #16669 closed

[2021-06-08 01:25] goldylucks commented on #16819
The error is on my IDE (vscode)

The tests pass on both `$ cypress run` and `$ cypress open`

[2021-06-08 01:26] goldylucks commented on #16818
Yea, I indeed changed the return typing and now it works as expected, however the documentation is wrong:

![image](https://user-images.githubusercontent.com/6963212/121108052-bd3fb400-c811-11eb-9520-156cc38ec52b.png)

[2021-06-08 05:53] far11ven opened #16843 "npx cypress open issue caused by a missing library or dependency."
I'm getting the following issue with Cypress v7.3.0. and v7.4.0

Operating System: Windows 10 64-bit

[code]

### Versions

v7.3.0, v7.4.0

[2021-06-08 06:09] AUnathilACR commented on #1125
It works for me too. Thanks @shivanipatwal90

[2021-06-08 09:09] richardszanyi commented on #14274
+1

[2021-06-08 09:34] ga-devfront opened #16845 "Cannot find module 'webpack-dev-server'"
### Current behavior
I'm trying to install Cypress on my existing Nuxt (2.15.6) project with this command :
`yarn add --dev cypress @cypress/vue @cypress/webpack-dev-server html-webpack-plugin@4`
After this I change my `cypress/plugins/index.js` file with this code :
[code]
And the I try to run `yarn run cypress open` the window give me the error below.

### Debug logs

**Message:** The plugins fi

[2021-06-08 09:36] JessefSpecialisterren opened #16846 "Installing version 7.5.0 with npm 6 gives a dependency warning"
### Current behavior

Executing `npm install cypress@7.5.0` with npm version 6 gives the following warning:
[code]
Similar behavior has been reported [here](https://github.com/cypress-io/cypress/pull/16663#issuecomment-856485406) with what appears to be `yarn`.

### Desired behavior

Ideally, no warnings should appear at all. Alternatively, the release notes should mention the warning and what (if

[2021-06-08 12:01] Amrita19900406 opened #16847 "Getting CORS while using cy.visit, if I disable web security , there is no CORS issue but the page is loaded in mid way and not redirected to the correct url. So web elements are not showing up"
### Current behavior

### Desired behavior

### Test code to reproduce

### Versions

[2021-06-08 12:05] Amrita19900406 commented on #16847
![image](https://user-images.githubusercontent.com/45754319/121181725-f44cae80-c87f-11eb-8e7b-63fa1c5bf720.png)

[2021-06-08 12:20] as-lingo opened #16848 "EMFILE: too many open files, watch cypress.json"
### Description
I know there is an [advise](https://github.com/cypress-io/cypress/blob/46e9b3066089014d25bf1169441db6690a5db136/CONTRIBUTING.md#known-problems) for this the problem, but I cannot fix it.
The open command should just work and it seems to be a node_module cypress uses.
Please, have a look.

### Error
`Error: EMFILE: too many open files, watch`

### Facts
I have set redicolously high

[2021-06-08 12:22] #16848 closed

[2021-06-08 12:25] marmelin opened #16849 "EMFILE: too many open files, watch cypress.json"
### Description
I know there is an [advise](https://github.com/cypress-io/cypress/blob/46e9b3066089014d25bf1169441db6690a5db136/CONTRIBUTING.md#known-problems) for this the problem, but I cannot fix it.
The open command should just work and it seems to be a node_module cypress uses.
Please, have a look.

### Error
`Error: EMFILE: too many open files, watch`

### Facts
I have set redicolously high

[2021-06-08 12:46] delphineli commented on #16830
we are encountering similar issues in our Jenkins and circle ci jobs.

[2021-06-08 12:58] matewka opened #16850 "macOS trackpad back gesture doesn't work in cypress dashboard"
**Steps to reproduce:**

- Use a Mac device with a trackpad (I use MacBook Pro with macOS 10.15.7 Catalina)
- Use Chrome browser (my version is 90.0 but the problem is present for many versions)
- Go to any view in dashboard.cypress.io (e.g. /runs)
- Swipe 2 fingers left or right on the trackpad to perform a "history back" gesture (in trackpad settings it's called "Swipe between pages")

**Expecte

[2021-06-08 12:59] parostatkiem commented on #1185
I'm not sure if this is exactly the same problem but I also encountered some issues with a *chunked HTTP request* which should stay open forever. It's used for getting logs from a Kubernetes cluster - not our decision to use such a weird solution...

Everything works well in all browsers outside Cypress but the request clearly doesn't get/trigger any updates in Cypress (tested Chrome, Chrome headl

[2021-06-08 13:40] jennifer-shehane commented on #16843
@far11ven I would suspect there's something on your Windows network that won't allow you to open the Cypress executable. We've seen this with orgs not allowing opening non-signed exe's for example: https://github.com/cypress-io/cypress/issues/2543 Do you have some insight on whether there are restrictions for this?

[2021-06-08 13:54] suniljaiswal01 commented on #9442
I am also getting the same error while uploading .svg file. I am using the latest version of cypress (7.5.0). Below is the script to upload file:
`cy.fixture(fileName).then(fileContent => {
        cy.xpath(xpath).attachFile({
            fileContent: Cypress.Blob.base64StringToBlob(fileContent.toString()),
            fileName: fileName,
        }, { subjectType: 'drag-n-drop' });
    });`

I am

[2021-06-08 14:27] #16231 closed

[2021-06-08 14:27] jennifer-shehane commented on #16849
@marmelin Can you provide a repo of code  where this is reproducible? Can you reproduce this pulling down and running our cypress-example-kitchensink for example? https://github.com/cypress-io/cypress-example-kitchensink

[2021-06-08 14:27] CScharer opened #16851 "cypress/included:7.5.0 missing"
### Current behavior
cypress/included:7.5.0 missing

### Desired behavior
cypress/included:7.5.0 exists

### Test code to reproduce
Run tests with cypress/included:7.5.0

### Versions

[2021-06-08 14:47] NazrulChowdhury opened #16852 "browser notification permission state"
### Current behavior
Chrome browser instance loads with 'browser notification allowed' state. Browser settings shows 'Notifications Allowed by your administrator' that is greyed out and can't be edited.
![Screenshot from 2021-06-08 15-35-06](https://user-images.githubusercontent.com/82603517/121206919-c2801b80-c870-11eb-8b3b-b2f394c7dd06.png)

### Versions
Cypress 7.3.0
Chrome 91

the test bellow

[2021-06-08 14:47] ashokkumarg commented on #7091
In my case I get the response as an array format, just wanted to verify the product name in any of the arrays. How can we traverse through index in Cypress?

Where as in Karate we go with [*] any thought here?

[code]

[2021-06-08 14:51] AJRobson1 commented on #4351
I'm now seeing this in my Gitlab pipeline, but I haven't made any changes in my tests for over a week. If I go back to previous runs it wasn't present but now is

[2021-06-08 14:59] tylercaceres commented on #15806
I'm seeing this issue as well.
I'm using version 7.4.0.

[2021-06-08 15:04] jennifer-shehane commented on #16851
Thanks for bringing this up. There's a PR for this here: https://github.com/cypress-io/cypress-docker-images/pull/499

[2021-06-08 15:15] jennifer-shehane commented on #16851
The PR has been merged to release the docker image. So it should release shortly. Closing as resolved.

[2021-06-08 15:15] #16851 closed

[2021-06-08 16:09] jennifer-shehane opened #16853 "Make default screen size for headless runs to be 1280x720"
### What would you like?

The default screen size for headless runs in Cypress should be 1280x720.

### Why is this needed?

In an attempt to improve the resolution of screenshots and videos, we updated the resolution of videos to be 1920x1080 in Cypress 7.0: https://github.com/cypress-io/cypress/pull/15686

After running many tests in different OS's, containers, screen sizes, hiDPI, etc, **we've

[2021-06-08 16:09] jennifer-shehane commented on #16834
Closing in favor of https://github.com/cypress-io/cypress/issues/16853

[2021-06-08 16:09] #16834 closed

[2021-06-08 16:44] jennifer-shehane opened #16854 "Set screen's device pixel ratio to 2x by default"
### What would you like?

The default device pixel ratio should be set to 2x for all browsers when running tests within Cypress.

### Why is this needed?

After running many recordings across many OS's, containers, screen sizes, Cypress version, etc, **we found that when running Cypress on screens where the device pixel ratio is set to 1x, the recorded videos and screenshots are 'blurry'.** This w

[2021-06-08 17:01] bahmutov commented on #16852
Take a look at our browser notification recipe https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/blogs__notification and the blog post explaining it https://www.cypress.io/blog/2020/01/24/testing-the-browser-notification-api/

[2021-06-08 17:01] #16852 closed

[2021-06-08 17:10] dombo82 commented on #16707
@jennifer-shehane issue still appears when opening Test Runner (cypress open) on Cypress 7.4.0

- dev repository removed completely
- Node deinstalled
- Cypress and Node caches cleared up ("AppData")
- Node re-installed (node-v14.17.0-x64.msi)
- npm install --save-dev cypress@7.4.0
- npm cypress open

Issue seems to be resolved with Cypress 7.5.0!

[2021-06-08 17:18] fernandomartinez82 commented on #16816
Hi @jennifer-shehane, thanks for watching.
I forgot to mention that we use the settings  `chromeWebSecurity": false ` always. Also we use `cy.visit("https://shapermint.com/account/login")`, was my mistake pasting 'http:' here in the example
We have more than 200 tests and this is the only functionality where we have the problem since the chrome update.

Successfully: Chrome Version 90.0.4430.72 an

[2021-06-08 17:33] marinobrokerbay commented on #16816
I was able to figure this out @fernandomartinez82
just disable it: https://www.chromium.org/updates/schemeful-same-site/testing-and-debugging-tips-for-schemeful-same-site
You may talk with your developers also because this may be enforced by chrome in the future

[2021-06-08 17:51] anastasiiaols commented on #7083
Hi, I face the same issue when downloading files. The download itself works fine, but then Cypress waits for some non-existant page load and eventually fails before it can verify the downloaded file. I wasn't able to find any workarounds for it so would much appreciate if the option to stop the page load will be added to Cypress. Is there any ETA for it? Thanks!
<img width="1015" alt="Screen Shot

[2021-06-08 18:07] MasonM commented on #8401
@jennifer-shehane I'm encountering a very similar problem and stumbled on this issue. I was able to reproduce this problem in Cypress 7.5.0 using the reproduction code you posted earlier, and I think I know what the problem is. As you correctly stated, [Chrome rolled out changes for cookies](https://www.chromium.org/updates/same-site) that will cause it to default to `SameSite=lax`. When the `Same

[2021-06-08 18:52] jerrykobes opened #16856 "Option for using the exact domain when setting a Cookie"
### What would you like?
An additional option within `SetCookieOptions` for `cy.setCookie(name, value, options)` that allows for setting an exact domain without a prepended period as described in https://github.com/cypress-io/cypress/issues/1896 .

### Why is this needed?
When setting a cookie for a particular name/domain, if a cookie without a prepended period already exists in the browser then a

[2021-06-08 19:15] #16707 closed

[2021-06-08 19:17] jennifer-shehane commented on #16818
I'll move this issue over to our documentation repo for addressing the incorrect custom typing. Thanks for reporting this!

[2021-06-08 19:30] jennifer-shehane commented on #16769
The application under test in the screenshot you posted is indicating it went to chrome-error://chromewebdata/ which is what the other issue is concerning.

If you can provide a way to reproduce, where it passes in Chrome 90 and not in Chrome 91, we can reopen it as a new issue outside of the previous one.

[2021-06-08 19:31] jennifer-shehane commented on #2118
@melibe23 No updates on this. It is still an issue.

[2021-06-08 19:48] jennifer-shehane commented on #7885
I don't see this same behavior when running the provided example above. I see the origin header every time after the test is run. Am I missing something from the example?

<img width="882" alt="Screen Shot 2021-06-08 at 2 47 45 PM" src="https://user-images.githubusercontent.com/1271364/121248018-8648bd00-c868-11eb-9f81-8e114d7fce5e.png">

[2021-06-08 20:35] jennifer-shehane commented on #16305
There's an issue that's been identified concerning `cy.visit()` taking longer in 7.2.0 versus 7.1.0. The load event takes longer to fire. https://github.com/cypress-io/cypress/issues/16671 Perhaps some of the issues mentioned in this thread are related.

It would be helpful to identify exactly **where** the increased time is being seen at. I think we've been focusing on video performance since tha

[2021-06-08 21:06] fearhq commented on #16305
It really seems like something is slowing down the loading of ressources, and having many small ressources makes things much worse. Perhaps it is possible to create a test case of a simple page with 50 external javascript files?

[2021-06-08 21:41] lmiller1990 commented on #16845
Hey,

You will need to install `webpack-dev-server`. Although Next.js uses webpack for development, they bundle their own version inside the `@next` namespace - we cannot access it. For that reason, you need to install it yourself (basically a peer dependency). [Documentation](https://docs.cypress.io/guides/component-testing/framework-configuration#Next-js-Webpack-4).

This should be in the docs -

[2021-06-08 21:49] CypressCecelia commented on #16323
![windows menu](https://user-images.githubusercontent.com/60482585/121262274-d84a0c80-c881-11eb-89b5-34eeb517ef40.png)

Received additional reports of this, using latest version of Cypress.

[2021-06-08 21:55] lmiller1990 commented on #16812
Since this is solved, I think we should close it. We could make another ticket to follow up on the issue raised by @elevatebart ?

[2021-06-08 21:58] sarathk-blink opened #16859 "Cypress-social-login works fine, but after the login, we redirect to a different URL using cy.visit() that fails to load using Etimedout #101"
I'm using cypress-social-login plugin to login into our application that uses google account as Oauth. I can see that the login happens successfully, cookies are being set and I can verify cookies on the cypress console. When I do cy.visit() after the social login to access my app with the URL, (that uses google account as sign-on) I see below error message.
[code]

This issue is intermittent, hap

[2021-06-08 22:38] xeger commented on #7306
Sorry to add another "me too," but I am dealing with an application that has a significant amount of DOM churn -- meaning, DOM elements are removed and very quickly replaced with identical elements (it's a long story; let's just say that React and MobX give developers enough rope to hang themselves!)

This means that `cy.wait` on network requests cannot completely eliminate flake; it can shrink th

[2021-06-08 22:38] Jimmy-Ru commented on #136
@jennifer-shehane, @brian-mann, I have a web application which is using iframe, reading the elements inside the iframe is fine,     however, if the iframe body has a Save & Continue button, user clicked the Save & Continue button, the app moved to the next screen,  the contents of the same iframe reloaded and updated, how can read the elements of the new iframe body??

    cy.get('iframe[title="Ap

[2021-06-08 23:14] elevatebart opened #16860 "Forced to return config in the plugins file even I don't change it"
### Current behavior
In component testing, if my `plugins/index.js` files function does not return config (see below), the command log displays a "no tests found" error see #16812

[code]

### Versions

cypress 7.5.0

[2021-06-08 23:17] elevatebart commented on #16807
follow #16860 to se the progress of not needing this return config anymore

[2021-06-09 00:53] shirshGit commented on #9532
@alokverma75 Thanks Alok. It worked. But funny thing is that , after that when I changed it back to Standard also its working fine.
Thanks anyway.

[2021-06-09 01:56] holphi opened #16863 "In K8S, cypress always crashes if enable video recording"
I use Jenkins and Kubernetes as the CI test solution, I set up 3 CI agents in my test job, perviously, the Jenkins job ran successfully, however, recently, I notice that the cypress always crashes in video recording, pls refer to below error, at first I thought it was resources issue, so I tried assigning more memory(requested memory: 1Gi) and CPU resource(requested CPU: 2000m) for those 3 CI agen

[2021-06-09 02:39] dbonilla3197 opened #16864 "High CPU usage in Cypress"
**Current behavior**
When I run tests in cypress the CPU usage is is at the top of 100%.

For example, running 3 test cases at the same time

Video:
https://user-images.githubusercontent.com/59613252/121283246-09cdd280-c898-11eb-8f88-d21edafb1a5a.mp4

Screenshot CPU result:
![image](https://user-images.githubusercontent.com/59613252/121283293-16eac180-c898-11eb-9063-54284625c28b.png)

Also, you ca

[2021-06-09 04:09] PeterJayCruz opened #16865 "Overlay not popping up when button is clicked"
**Description:**
I am currently trying to write an automated test that involves clicking on a button within a navigation bar. The expected behavior is that an overlay that contains more links would pop up, as seen in this video here: https://www.screencast.com/t/55vkmhY8msjt

When testing this manually within a Chrome browser (which is recorded in the aforementioned video), the overlay pops up as

[2021-06-09 04:55] fernandomartinez82 commented on #16816
Hi @marinobrokerbay . The problem is not about mixed content, I use HTTPS instead of HTTP. I edited the example from the main post. Also, I added 2 videos with the behaviors of differents browsers version

[2021-06-09 06:16] marmelin commented on #16849
Hey @jennifer-shehane :) thx for quick reply.

No repo used here .. I simply followed [instruction for npm-installation](https://docs.cypress.io/guides/getting-started/installing-cypress#npm-install) . Exactly those two commands I described in "Test code to reproduce" section.

I adding os information.

[2021-06-09 06:26] marmelin commented on #16849
So the
* kitchensink example is working :heavy_check_mark: .
* `npx cypress open` works find :heavy_check_mark:
   Except a little error:
[code]
*  This is using 7.3.0 ... I used 7.5.0 :exclamation:

[2021-06-09 06:49] alexzavg commented on #7598
same

[2021-06-09 08:20] glomotion opened #16868 "Problems with cypress 7.5.0 & @cyprss/react and 'uncaught:exception' handling"
### Current behavior

REPRO: https://github.com/glomotion/cypress-bug-repro

When running headless tests WITH coverage enabled, cypress errors out (`npm run test`)

![Screen Shot 2021-06-09 at 6 13 39 pm](https://user-images.githubusercontent.com/1452237/121318262-6e4b6900-c94e-11eb-803a-32fd8e515f16.png)

However when running headed or with coverage DISABLED, cypress tests pass as they should (`n

[2021-06-09 08:35] far11ven commented on #16843
@jennifer-shehane It's something else; I upgraded to Cypress v7.5.0 now; its working fine

[2021-06-09 09:13] actuallymentor commented on #7306
The Cypress project is great, but the team's assumptions are too opinionated and strongly enforced.

[2021-06-09 09:25] holphi commented on #16863
I finally realized this issue is caused by insufficient resource, I have set the the CPU resource to 2Gi and memory resource to 4000m, now I can those 3 CI agents can run tests and process video successfully and I don't see the issue anymore!

This ticket can be closed!

[2021-06-09 09:25] #16863 closed

[2021-06-09 10:06] whatasoda opened #16871 "Correct type definition for `ThenReturn`"
### Current behavior

If I have a util to get page content data like:
[code]
and if I use the util like:
[code]
then the returned chainable has type `T | JQuery<HTMLElement>` (= `string[][] | JQuery<HTMLElement>` in this example).
[code]

### Desired behavior

The retuned chainable should have type just `T` (= `string[][]` in this example).

It's because [`ThenReturn`](https://github.com/cypress-i

[2021-06-09 10:13] anshap1719 opened #16872 "Last assertion in a series of assertions is always failing in some cases"
### Current behavior
We have a series of assertions that call `should('not.exist')` on certain elements. When we do this, the last one always fails. I have tested this in multiple scenarios, which you can find in the below sections.

### Desired behavior
It should not fail. I searched for the string based on which we are getting the element in the dom tree when tests are running and can confirm th

[2021-06-09 10:56] Lisenish commented on #7885
@jennifer-shehane We started to have the same issue in our company, it started ~12 days ago. We have a check for the Origin header on our BE and we didn't change anything in related our code (neither BE nor FE) but it started to fail.
I've investigated that locally in a runner and I can clearly see that the Origin is not sent now
![image](https://user-images.githubusercontent.com/578625/121342031-

[2021-06-09 11:02] khamer1410 commented on #4669
We did a workaround by using a custom header to bypass the auth on the server. Funny thing - it works with headless electron mode but in the browser mode, digest auth is still required.

[2021-06-09 12:47] jennifer-shehane commented on #16864
We don't recommend running multiple instances of Cypress on a single machine for this exact reason. This is essentially opening 3 instances of Cypress, 3 instances of the browser running tests through your application, and any other server resources required to run also. Most machines would not have the resources to run all of these things simultaneously and still be performant.

See our [parallel

[2021-06-09 12:47] #16864 closed

[2021-06-09 12:49] emereyd commented on #3689
@chaz2k Are you still having issues with this?
Looking at the error msg `.task` might be case sensitive. i.e. `queryDB` vs `queryDb`.

[2021-06-09 12:50] jennifer-shehane commented on #16865
@PeterJayCruz Are there any errors printed to your console upon clicking the button within the Cypress browser?

[2021-06-09 13:25] jennifer-shehane commented on #16872
@anshap1719 Can you provide the generated HTML to run these tests against? Or provide a repo to run the tests against? I can't recreate this issue as is.

Is the element present on the page and then is removed from the page? Will need more info to track down why this is happening.

[2021-06-09 13:38] CypressFinn commented on #16850
Tracking in dashboard. OK to close this ticket @jennifer-shehane

[2021-06-09 13:43] jennifer-shehane commented on #16850
Hey @matewka, our Dashboard team is tracking this internally and have taken your comments into account.

I will be closing this issue since this is related to our Dashboard and not the Test Runner and we want to make sure any feedback gets seen and addressed by the right team. Thanks!

[2021-06-09 13:43] #16850 closed

[2021-06-09 13:43] jennifer-shehane commented on #16843
Closing as resolved.

[2021-06-09 13:43] #16843 closed

[2021-06-09 13:47] bahmutov commented on #16868
I looked at the situation, something is wrong because when the error is thrown Cypress CT tries to mount the component _again_ causing the problem. You can find my simplified test in https://github.com/bahmutov/double-error-bug

- npm install
- npm run test:watch

I am printing the log message before throwing the error

[code]

I see the double log message in the console, which is incorrect

<img

[2021-06-09 13:50] bahmutov commented on #16868
By the way, we have error message tests for E2E here https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/fundamentals__errors

[2021-06-09 14:06] jennifer-shehane commented on #16816
@fernandomartinez82 When running the example where cy.visit goes to `https`, your website is redirecting to `http` and back to `https`. Chrome is warning you of this occurance and it is shown in the Cypress log that this is happening. Run the tests below and look at the `cy.visit()` log for the 301 redirects.

[code]

<img width="945" alt="Screen Shot 2021-06-09 at 8 45 30 AM" src="https://user-im

[2021-06-09 14:27] meetmangukiya opened #16874 "Spec files ran in single shot should be using the same mocha runner and reporter"
### Current behavior

If you run the whole cypress test suite with `cypress run` it will creates a new `Mocha.Runner` and / or new `Reporter` instance for each spec file.

### Desired behavior

All the spec files should be ran with same runner and reporter instance so reporters can summarize / report on all spec results at the same time.

### Versions

[code]

### My digging so far

I believe this

[2021-06-09 14:50] jennifer-shehane commented on #16874
For context: https://github.com/cypress-io/cypress/issues/1824 and https://github.com/cypress-io/cypress/issues/1946

I think running specs in parallel across several machines would be the challenge here.

[2021-06-09 14:59] bcmcadam commented on #2094
@brian-mann @jennifer-shehane
I have an iframe that I am able to work with until it displays a new page (same iframe displaying a different page) how do i refresh my locator. I'm using the example here: https://www.cypress.io/blog/2020/02/12/working-with-iframes-in-cypress/

``const getIframeBody = () => {
    return cy.get('#newPaymentIframe').its('0.contentDocument.body').should('not.be.empty').

[2021-06-09 15:01] meetmangukiya commented on #16874
Not sure how parallel across machines is working. But shouldn't the central / master still be able to emit out the events to the reporter on the master node that is if the reporting in parallel mode happens or gets aggregated in the master node. Only reporters that don't work well with parallel mode in mocha are the ones like `progress` because of the nature and it simply not being possible, but o

[2021-06-09 15:08] Animeshkr29 opened #16875 "Download folder is not showing while Running in Linux"
Issue : Download Folder not created in when running Cypress with Linux with Docker

i am trying to run Cypress code in Pipeline Job in Jinkins with Docker Image
with the recent 7.5.0 Cypress ,

i notice when ever i am downloading any file and later i am trying to read its Showing

But while Running locally in Windows 10 its working as expected for any Browser .

i am running Jenkins with

npx cypr

[2021-06-09 15:33] bart-kosmala opened #16878 "BaseURL parameter not working in GitHub Actions"
### Current behavior

The `baseURL` parameter of `cypress.json` is not working with GitHub Actions CI pipeline. It **skips** the base part when using `cy.visit()`. It works normally when used locally.

Part of error log:
[code]

### Desired behavior

`cv.visit()` with suffix location and a specified `baseURL` works normally in GitHub Actions.

Or any kind of documentation that says it is not suppo

[2021-06-09 15:41] Nikoms commented on #14861
We have exactly the same issue. We are moving from react to nextjs et our cypress tests are broken because of this. We are using the workaround, but is there something else planned for this? :)

Thank youuu

[2021-06-09 15:43] bahmutov commented on #16878
You used the parameters config-file false, thus your baseUrl is not read from that file

Sent from my iPhone

[2021-06-09 15:44] #16878 closed

[2021-06-09 15:45] bart-kosmala commented on #16878
Thanks for lightning fast response, will fix that later on my side.

[2021-06-09 16:00] davetran5 commented on #16769
I'm also receiving this issue after updating to Chrome 91. I get the redirect loop after logging through an Auth0 login page and having it redirect to my app.

[2021-06-09 16:49] fernandomartinez82 commented on #16816
@jennifer-shehane I am consulting the development team about redirection. When I have an answer I will let you know. As I mentioned before, all our tests go through that URL (with redirection) and none have problems.

To test this and avoid captcha you can change the IP.

The biggest problem with this issue is that it is not allowing us to log in correctly and perform the tests related to user acc

[2021-06-09 17:04] smhmd opened #16879 "Importing Global CSS in Next.js with Webpack"
### Current behavior

Following this [migration guide](https://docs.cypress.io/guides/references/migration-guide#Expanded-stylesheet-support), it is recommended to add (global) stylesheets to your tests. Nextjs's webpack wouldn't allow you to add them to your components anyway. But, when you add styles to a test, all tests (in `cypress open-ct`) hang on `Your tests are loading...`.

[code]

### De

[2021-06-09 18:29] PeterJayCruz commented on #16865
Hi @jennifer-shehane, there are no errors logged to the console both when running the automated test nor when clicking on the button manually with the mouse, within the Cypress browser.

[2021-06-09 18:41] adrian861 commented on #8705
This is still occurring, and when it happens, Cypress Dashboard is not recognizing that there was a failure, so the spec it occurred for will appear to continue running after the CI job has completed.  We are using Cypress docker image 7.3.0, parallelization on two Jenkins docker nodes.

Something that may be of interest to others, we did not see this issue until we reduced our `Run Completion Del

[2021-06-09 19:10] jennifer-shehane commented on #16305
Following through on what @pranavj1001 suggested, I ran the kitchensink actions.spec.js in a Windows VM with limited resources (2CPU / 4gb memory).

Some thoughts in general from this, but it needs more investigation:

1. This is not enough CPU resources to run Cypress with video. From this and other experiments I've run (2CPU/7gb memory), having Cypress run with this setup results in unusable vid

[2021-06-09 19:29] adrian861 commented on #8705
@flotwig @jennifer-shehane Does this issue really have a work-around?  Seems like the one that works for most people is changing an internal config value that shouldn't be changed.

[2021-06-09 19:33] flotwig commented on #8705
@adrian861 I think you're right, the workaround is hacky and plus it does not fix this for everyone all the time, so this warrants further investigation. Especially since this issue seems to occur even with 1 Cypress process running sometimes, and even in CI.

The solution would be to add error handling in `https-proxy` where it calls `addContext` so it can recover appropriately if the SSL cert ca

[2021-06-09 20:11] SergeyVolynkin opened #16882 "Allow global `@alias` values + Allow `cy.intercept()` to accept `@alias` as a first parameter"
### What would you like?
Allow `cy.intercept()` to accept `@alias` as a first parameter

For example:
[code]

### Why is this needed?
This will create a unified interface to handle requests

Imagine the following scenario:
[code]
[code]

[code]

[2021-06-09 20:25] SergeyVolynkin commented on #16882
@bahmutov, if you have a few min., what do you think?

[2021-06-09 21:18] nazeer100 opened #16883 "Cypress Cucumber Setup"
Hi,
While running cypress cucumber feature file with Cypress 7.5 version below error is displayed.

[code]
I followed the below steps.
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor
https://www.npmjs.com/package/cypress-cucumber-preprocessor

Let me know any changes are required?

[2021-06-09 21:28] paschalidi opened #16884 "Recording tests on the dashboard seems not to be working as expected"
### Current behavior
I am recording some of my tests on the dashboard. The end goal would be to see those tests when failing and see figure out some issues. At the moment the videos seem to be working for 5 seconds every 5 minutes. In other words most of the time it shows me the same screen screen.

### Desired behavior
I would basically wanted to be able to see the video.

https://user-images.git

[2021-06-09 21:42] #16734 closed

[2021-06-09 21:51] thomassjogren commented on #16883
@nazeer100 I think you will get better and more relevant answers posting this issue on the package repo.

Also, you have to provide us with more information (configs, code and so on) in order for us to be able to help you.

That said. Even with this little information, the problem is that your specs are parsed by webpack and it doesn't understand the file.

[2021-06-09 22:02] thomassjogren commented on #16865
@PeterJayCruz Are the version of Chrome you manually test in the same as the one you run with Cypress? Also, have you tried it with `cypress run` instead of `cypress open` ?

[2021-06-10 00:44] #16860 closed

[2021-06-10 06:10] praveenngp15 opened #16886 "How to push all elements texts into an array or map"
How to push all the elements texts into an array
/My code for printing data code/
[code]
I tried with the below code but it is throwing an error
[code]

[2021-06-10 06:11] praveenngp15 opened #16887 "Chaining Elements into an arary"
How to find chaining elements in cypress

There is a table,
[code]

[2021-06-10 06:41] jasperkennis opened #16888 "Component Test Runner tries to load a file that doesn't exist"
### Issue:
When I run `yarn run cypress open-ct`, cypress generates the following logs:

[code]

It then starts, but doesn't function, the test runner gets stuck in this view:
![Screenshot 2021-06-10 at 08 34 30](https://user-images.githubusercontent.com/247177/121476245-b5754080-c9c6-11eb-9ba3-59fdfb6c9b1b.png)

The test that it is talking about I had before, but I deleted it as this component is

[2021-06-10 07:47] thomassjogren commented on #16888
Have you tried deleting `node_modules/.cache` ?

[2021-06-10 07:54] thomassjogren commented on #16886
Please provide the error. Might be good to state why you want to do it and what you trying to accomplish as it helps trying to solve the problem.

[2021-06-10 08:03] GregLahaye commented on #14548
@bahmutov  I ended up solving this by adding a script to our CI that will delete Cypress binaries that haven't been accessed in more than 14 days. We are running local build servers so unfortunately your article does not help as everything installed is kept.

It made me think that it would be possible to introduce something an argument that would allow users to only prune files that haven't been a

[2021-06-10 08:36] Lisenish commented on #7885
@jennifer-shehane I think I found the reason, we have `chromeWebSecurity` disabled for our tests because in some tests we need an access to Stripe's iframe (to fill in CC). If I enable `chromeWebSecurity` again I'm able to see Origins again.
Previously it worked fine with the chromeWebSecurity disabled, maybe I'm barking at the wrong tree here do you think I need to reroute this issue to the chrom

[2021-06-10 09:41] manasaj111 commented on #7083
Hi, I am also facing the same issue when downloading files. Please suggest any work around for this.

[2021-06-10 09:56] jasperkennis commented on #16888
Tnx for checking @thomassjogren.

There is no cache dir currently, and I also tried deleting all of `node_modules` with no luck. Any other place where you would expect cache?

I think the error occurs during the attempt to compile. I added two more lines to the log I had shared initially, notice `ℹ ｢wdm｣: Failed to compile.`. Not sure if "build" and "compile" are the same things in this context?

[2021-06-10 10:02] manasaj111 commented on #7083
I found a work around here - #14857

cy.window().document().then(function (doc) {
  doc.addEventListener('click', () => {
    setTimeout(function () { doc.location.reload() }, 5000)
  })
  cy.get('[ng-click="vm.export()"]').click()
})

Thanks to Sarja 👍

[2021-06-10 10:42] JessefSpecialisterren opened #16895 "Support scrollBehavior option in scrollIntoView() to control position of scroll"
### Current behavior

Let me start by saying that the new `scrollBehavior` option is awesome and a very welcome addition to Cypress 😄! It really helps to avoid elements getting scrolled under sticky menu bars and the like

However, Cypress' `scrollIntoView()` command does not seem to obey or support the `scrollBehavior` option. In fact, it does not appear to offer any option to reliably scroll an

[2021-06-10 13:28] nsdotorg opened #16896 "Same issue encountered on windows again #issue-321962272"
I'm facing the following issue while using Cypress on my Windows Virtual Desktop Infrastructure.
https://github.com/cypress-io/cypress/issues/1704#issue-321962272

Version that's being used is - 6.5.0

[2021-06-10 13:34] jennifer-shehane commented on #16888
You're not still referencing the `homepage-title.spec.tsx` anywhere in your project?

[2021-06-10 13:35] ganeshsirsi commented on #959
You can also look into this code, This reads and preserves all cookies, If you are not particular about something you can use this
[](https://ganeshsirsi.medium.com/cypress-how-to-preserve-cookies-and-keep-login-session-active-in-each-test-simplest-way-717bbc11adf7)

[2021-06-10 13:51] jennifer-shehane commented on #16305
For reference, this is the timing on my Mac (6CPU, 16gb memory) running the same kitchensink `actions.spec.js` file as above.

Browser | Ver | headed? | OS | Cy| runtime | processing | size
-------| ---| -------| -----| ------| ---- | --- | --- |
Chrome | 90 | headless | Windows | 7.5.0 | 15sec | 8secs | 1280x1024
Chrome | 90 | headless | Windows | 7.5.0 | 16sec | 8secs | 1280x1024
Chrome | 90 | h

[2021-06-10 14:07] jennifer-shehane commented on #16896
@nsdotorg Are you passing a --supportFile arg. There's this issue: https://github.com/cypress-io/cypress/issues/2595

Can you provide the full error message and a reproducible example? It's likely an edge case outside of that original issue you linked to. Thanks!

[2021-06-10 14:09] jennifer-shehane commented on #16887
You may want to try asking our community in our [GitHub Discussions](https://github.com/cypress-io/cypress/discussions). As an open source project with a small maintainer team we have to focus our time on bugs and features in the product, which Issues are reserved for.

[2021-06-10 14:09] #16887 closed

[2021-06-10 14:12] jennifer-shehane commented on #16886
You may want to try asking our community in our [GitHub Discussions](https://github.com/cypress-io/cypress/discussions). As an open source project with a small maintainer team we have to focus our time on bugs and features in the product, which Issues are reserved for.

[2021-06-10 14:12] #16886 closed

[2021-06-10 14:14] jennifer-shehane commented on #16884
@paschalidi A frozen video like this usually indicates that the machine you are running Cypress on does not have enough resources. Do you know the CPU/memory of the machine you're running Cypress in? I would suggest increasing the resources and seeing if that resolves the issue.

[2021-06-10 14:17] TapashiRoy commented on #14751
I am getting the same issue. Do we have any update on this. The timeout has been increased in json file.

![Cypress](https://user-images.githubusercontent.com/47500643/121541043-91e0e300-ca24-11eb-9251-d22fc80d047d.png)
![Capturegit](https://user-images.githubusercontent.com/47500643/121541177-b046de80-ca24-11eb-938b-9e95695affed.PNG)

[2021-06-10 14:57] jasperkennis commented on #16888
Also not @jennifer-shehane , not even `homepage-title` occurs anywhere in the codebase.

[2021-06-10 14:57] jennifer-shehane commented on #14751
This looks to be a duplicate of https://github.com/cypress-io/cypress/issues/7062. I can recreate the issue as described.

Someone found a workaround in this comment https://github.com/cypress-io/cypress/issues/7062#issuecomment-749788362 which works in your case. I'm not sure why - please follow the other issue for any followup.

[code]

[2021-06-10 14:57] #14751 closed

[2021-06-10 14:59] jwohlfahrt commented on #14274
+1

[2021-06-10 15:03] #16888 closed

[2021-06-10 15:52] chaz2k commented on #3689
Hi @emereyd Thank you for checking, I actually got the the queryDB working, now I'm faced with a different error, where the added code:
let resultsList = results.map(({ id }) => id)
      console.log('[Info]: resultsList: ' + resultsList)
      return resolve(resultsList)
In the console I can see the list of id: [Info]: resultsList: 932258,932259,932260,932261
However in my spec file I have:
// Co

[2021-06-10 16:47] Sathish787 opened #16897 "Cypress Component Test Runner - Not all angular unit test specs are executed in Firefox in both open and run mode (open-ct & run-ct) and only first spec is executed and hangs on second spec"
Able to execute all angular unit test specs in Electron, Chrome and Edge successfully but with Firefox, after first spec executed successfully it hangs on second spec and on rest of specs.

From screenshot, you could see first spec had nine tests executed successfully but hangs on first test of second spec and further execution. Need to close browser. This happens in both open and run mode (open-c

[2021-06-10 17:28] jennifer-shehane commented on #8705
`addContext` call in our code: https://github.com/cypress-io/cypress/blob/develop/packages/https-proxy/lib/server.js#L222:L222

[2021-06-10 18:12] jennifer-shehane commented on #2094
@bcmcadam
You may want to try asking our community in our [GitHub Discussions](https://github.com/cypress-io/cypress/discussions). As an open source project with a small maintainer team we have to focus our time on bugs and features in the product, which Issues are reserved for.

[2021-06-10 18:18] jennifer-shehane commented on #16824
Hey @only4arunkumar, you mentioned this previously working in 6.8.0, but when I downgrade Cypress in the given repo - the test still doesn't pass.

I do see that the website does not autoplay the video as it would outside of Cypress.

### Outside Cypress

![](http://g.recordit.co/ytunFJWSc1.gif)

### Inside Cypress

![](http://g.recordit.co/LEb6hx47M9.gif)

It looks like there's an error in the co

[2021-06-10 18:46] jennifer-shehane commented on #16882
@SergeyVolynkin Can you explain the scenario you're trying to test with `cy.intercept()` and the code you have to currently write to achieve this? I'd like to better understand the original case you're suggesting to optimize. Thanks!

[2021-06-10 18:51] jennifer-shehane commented on #16875
@Animeshkr29 Can you pull down and run our 'download' examples in your image? See if those tests pass. That would narrow down some variables. https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/testing-dom__download

[2021-06-10 19:00] hvaandres opened #16898 "Running a command cy.exec('npm run sfdx:latest-leads') will change the json file format"
### Current behavior
I'm currently working on a project where I set up a command in my package.json. As soon as I run that command through a cypress file, it seems that we are getting a malformatted json file inside of my Fixture files.

json file before we run the command:

[code]
json file after we run the command:

[code]

### Desired behavior
We should be able to see a well-formatted json file

[2021-06-10 19:38] bahmutov opened #16900 "Automation command Page.printPDF simply says error"
Cypress v7.5.0

I was trying to answer https://gitter.im/cypress-io/cypress?at=60c256b956df183c23097dd0

The test is trying to call `Page.printPDF` method using CDP automation https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF (note that `Page.captureScreenshot` is working fine)

[code]

<img width="1298" alt="Screen Shot 2021-06-10 at 3 32 50 PM" src="https://user-imag

[2021-06-10 19:52] pdevito3 opened #16901 "Had to manually force install on Windows"
### Current behavior
When doing an install for the first time, I followed the instructions [here](https://docs.cypress.io/guides/getting-started/installing-cypress#npm-install) (1. run `npm i cypress --save-dev` in a react project with `node_modules` and `package.json`, 2. run `./node_modules/.bin/cypress open`)

I had cypress at that node modules path, but it didn't run the installer when i did t

[2021-06-10 20:00] GabrielGarro92 commented on #8610
Was this issue fixed?

[2021-06-10 20:20] govindrai commented on #1152
The `checkJs` option did it for me. We don't use TS at our shop, all our files are .js, but we like TS linting because it saves our butt all the time.
[code]

[2021-06-10 20:59] sotiriosalpha commented on #8090
i had to remove "type": "module" from my package.json

[2021-06-10 21:10] pdevito3 commented on #16901
that could be it for me. this is my corporate comp that i do have pretty good flexibility on privilege wise, but could have some underlying stuff like that in play regardless. let me know if there's something you'd like me to check for this.

regardless, might be worth a note in the docs that calls out if you don't see the install happening after the normal npm install that you might need to manua

[2021-06-10 21:27] jennifer-shehane commented on #16833
Do you think this will solve the leftover "Cypress failed to make a connection to the Chrome DevTools Protocol" errors?

- https://github.com/cypress-io/cypress/issues/16571
- https://github.com/cypress-io/cypress/issues/16620
- https://github.com/cypress-io/cypress/issues/16620
- https://github.com/cypress-io/cypress/issues/15650
- https://github.com/cypress-io/cypress/issues/5613

[2021-06-10 21:29] paschalidi commented on #16884
Its basically running on gh actions. Dunno what they are using but I have used it in the past in another project and looked fine to me. Do you perhaps know where I could find that info for gh actions?!

[2021-06-10 21:34] jennifer-shehane commented on #16783
I can't remember why we were doing this exactly. There's likely some reason, where it was showing double identical logs when it shouldn't. Maybe play around with removing the merge and see how many tests fail when that's done?

[2021-06-10 21:37] bahmutov commented on #16833
“ This is used in many community plugins, including https://github.com/flotwig/cypress-log-to-output”

I see what you did there

Sent from my iPhone

[2021-06-10 21:37] flotwig commented on #16833
This only fixes the race condition possibility.

#16620 kinda sounds like a duplicate of #16571, since from what I can gather it's happening every time. #15650 might be a duplicate as well, since it implies that it's happening every time. But since it's happening every time, none of these 3 are covered by this issue.

#5613 happens for a different reason too: https://github.com/cypress-io/cypress/

[2021-06-11 00:11] sharmilajesupaul opened #16903 "Cypress never exits on infinite loops in the browser"
### Current behavior
On an infinite loop in the browser (from the app or in test code), the Cypress test runner, in both "open" & "run" mode, will hang indefinitely. We lose any kind of test state reporting, there are no errors logged or videos or screenshots for an extended period of time (over an hour).

Some context: Cypress caught a bug at Airbnb where a change introduced an infinite loop in t

[2021-06-11 00:54] Blevs commented on #16253
The lockfile that emacs creates is a symlink that points to a nonexistant file, so the following reproduces the error for me:
[code]

[2021-06-11 06:20] marmelin commented on #16849
now i am getting the same error with kitchensink as well:
:red_circle: `EMFILE: too many open files, watch`

<details><summary>too many open files</summary>

[code]
</details>

[2021-06-11 06:31] marmelin commented on #16849
## [SOLVED] :heavy_check_mark: Fixed with `fs.inotify.max_user_instances = 256`

#### For Linux:
Check current value of max_user_instances:
`$ cat /proc/sys/fs/inotify/max_user_instances`
increase that value:
`$ echo 256 > /proc/sys/fs/inotify/max_user_instances`

In order to make that change permanent add a line to /etc/sysctl.conf:
`fs.inotify.max_user_instances = 256`

[2021-06-11 06:31] #16849 closed

[2021-06-11 09:40] antonlegkiy commented on #8560
+1
I have a similar situation when POST requests query params are the same, but actions are located in the payload, so it would be nice to catch only requests with action that you're waiting for.

[2021-06-11 10:42] viktorgogulenko commented on #16153
For us issue was in CI machines performance. As soon as we increased CPU and memory for our Fargate tasks - issue is gone and videos working perfectly. Our setup: AWS Fargate CPU size - 4096, Memory - 8192. With less performance videos were missing parts of few seconds

[2021-06-11 10:43] hugocruz commented on #15188
Any update on this?

[2021-06-11 12:33] croraf commented on #8053
Any updates on this :( . It is still happening.
Configuration:
- Cypress version 7.5.0.
- Chrome version: Version 91.0.4472.77 (Official Build) (64-bit)
- OS: Ubuntu 5.4.0-45-generic #49-Ubuntu SMP Wed Aug 26 13:38:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2021-06-11 12:34] hiezust opened #16905 "Cypress rewrites window.top.location during test and causes issues"
### Current behavior
While running our test, we encounter the following cypress error. We have searched the issues for a solution and we have encountered [this one](https://github.com/cypress-io/cypress/issues/8507). We made use of cypress version 7.3.0 as seen in the stack trace but it seems that we still encounter this issue.

[code]

### Desired behavior
We do not want cypress to redirect on wi

[2021-06-11 12:35] cosminlupw commented on #16905
+1 this happens to me as well it seems like cypress is having troubles sometimes wrapping location during the runner and it redirects outside of the app/test

[2021-06-11 13:32] silviasolomon commented on #16905
On my side is happening the same.

[2021-06-11 13:40] yasinitskyi opened #16907 "Cypress exits with "npm ERR! code ELIFECYCLE" after headless run"
I have a list of scripts:
![image](https://user-images.githubusercontent.com/67145411/121693142-6d0b6f00-cafb-11eb-9a63-9547de936696.png)

When I run `npm run cy:test` and during this run I have one of the tests failed, my npm script exits with this error:
[code]

Screenshot of the run with failed test:
![image](https://user-images.githubusercontent.com/67145411/121693654-ec00a780-cafb-11eb-8b26-c

[2021-06-11 13:59] nsdotorg commented on #16896
Here's the complete error message

Error: Path contains invalid characters: C:\Users\<user>\AppData\Roaming\Cypress\cy\production\projects\account-billing-16406dfbc610fb14654b5bdcb96de303\bundles\C:\<project-root>\cypress\support

[2021-06-11 14:23] DrNio13 commented on #6418
Is it possible to run cypress tests with "custom" Electron Browser? https://docs.cypress.io/guides/guides/launching-browsers#Electron-Browser

Basically [downloading and starting the Electron Starting Guide example](https://www.electronjs.org/), build the binaries for example /out/electron-quick-start-win32-x64/electron-quick-start.exe and link that Electron Browser to Cypress Browsers list to exe

[2021-06-11 14:39] jennifer-shehane commented on #16896
@nsdotorg Can you include the contents of your support folder's files with any sensitive info removed? Are you passing the `--supportFile` arg?

[2021-06-11 15:04] jennifer-shehane commented on #16901
Actually, I don't think `npm install --force` seems relevant in terms of Windows perms. This would just have all the packages re-downloaded and re-installed.

From my understanding, it's forcing redownload of cypress and all child dependencies. So I think there must have been some conflict with the original deps - where it wasn't downloading a child dep originally without this flag.

I'd like to m

[2021-06-11 15:08] elevatebart commented on #16705
Hello @Vishwaas

This issue has completely escaped my attention.

Here is a few examples of installations with a recent-ish version of cypress

https://github.com/cypress-io/cypress-component-examples

I hope this helps.
If you still struggle, please create a repo where we can reproduce.
This will make helping you so much easier.

Thank you in advance and sorry for the delay

[2021-06-11 15:18] elevatebart commented on #16830
Hi @leungk712 @delphineli

I am trying to find out how this can happen.

The easiest would be to create a reproduction repo that I could clone.
If it is not possible, can you answer these few questions? That would be tremendously helpful.

What is you package management environment like? Do you dev in a monorepo?
Are you using yarn? npm? lerna? pnpm? On what versions?
Do you install cypress as a l

[2021-06-11 15:19] DrNio13 opened #16908 "Error launching browser, Cypress failed to make a connection to the Chrome DevTools Protocol after retrying for 50 seconds, The CDP port requested was 50877."
### Current behavior
**Title:** Error launching browser

![0](https://user-images.githubusercontent.com/11769448/121708509-eee9a100-cad7-11eb-8111-ba427abb07ff.PNG)

**Message:**

 [Downloading and starting the Electron Starting Guide example from the docs](https://www.electronjs.org/), build the binaries , for example _/out/electron-quick-start-win32-x64/electron-quick-start.exe_ and link that El

[2021-06-11 15:24] elevatebart commented on #16499
This should be done using the flag [logLevel](https://vitejs.dev/config/#loglevel). I believe setting it to `warn` should make those messages disappear but leave the warning and compilation error in the log for users to use.

I should be a pretty simple fix.

[2021-06-11 15:28] jennifer-shehane commented on #16907
My run does exit with code 1, although it doesn't show the ELIFECYCLE error.

Cypress will issue an exit code corresponding with the number of tests failed. https://docs.cypress.io/guides/guides/command-line#Exit-code So I think this is how it's supposed to work. Although it will also issue exit code 1 if there was an error, so it's not clear which is the case here.

Could you run Cypress in [debu

[2021-06-11 15:33] jennifer-shehane commented on #16908
@DrNio13 Our previous guide on testing in Electron is a bit out of date, so there's likely issues launching this way. Which guide from Cypress did you follow for this?

[2021-06-11 15:44] yasinitskyi commented on #16907
@jennifer-shehane Can you please tell me, how do I run this command  `"cy:test": "npm run prereport && npx cypress run"` in debug mode?

[2021-06-11 15:49] jennifer-shehane commented on #16849
@marmelin Thanks for sharing your solution.

[2021-06-11 15:50] jennifer-shehane commented on #15188
No work has been done on this issue. We're open to reviewing a pull request to fix this unexpected behavior.

[2021-06-11 15:56] jennifer-shehane commented on #16905
Can someone provide a fully reproducible example of the issue? A repo would be ideal. The original comment does not contain all of the code necessary to reproduce. Thanks

[2021-06-11 16:06] delphineli commented on #16830
Hi @elevatebart. The project can not be reproduction and clone outside. We use npm and webpack. we have cypress installed in local and for our cd job, we are fetching a fix image. and yes for mono repo. I have fixed the issue by changing test but we still don't understand how the test passed yesterday and without any changes on our side and test failed like this. The changes we made is adding cy.r

[2021-06-11 16:30] jennifer-shehane commented on #16903
@sharmilajesupaul Thanks for the very clear reproducible examples. I can recreate this behavior of the cypress process running forever.

[code]

I would expect many CI processes to automatically exit upon receiving no signal after a period of time. CircleCI exits after 10 mins with no signal at least.

I'm not sure how the team would want to handle this situation exactly, except that 'hanging' is

[2021-06-11 16:34] elevatebart commented on #16830
@delphineli that is very useful thank you.

The error you are seeing is different from @leungk712 as it relates to cypress end to end testing on a react project.
Would you mind terribly opening another issue? This way we can fix @leungk712 issue with running component testing in Vue CLI and fix yours in parallel on the end to end runner?

Thank you in advance.

[2021-06-11 16:45] jennifer-shehane commented on #16907
`"cy:test": "npm run prereport && DEBUG=cypress:* npx cypress run"`

[2021-06-11 16:46] jennifer-shehane commented on #16833
Yah I was going to try to clean up the duplicates today. Would be nice to fix those. 😢

[2021-06-11 16:47] jennifer-shehane commented on #16571
Going to close as duplicate of https://github.com/cypress-io/cypress/issues/15650

[2021-06-11 16:47] #16571 closed

[2021-06-11 16:47] jennifer-shehane commented on #16620
Duplicate of https://github.com/cypress-io/cypress/issues/15650

[2021-06-11 16:47] #16620 closed

[2021-06-11 16:49] yasinitskyi commented on #16907
@jennifer-shehane
![image](https://user-images.githubusercontent.com/67145411/121722432-06e11500-cb18-11eb-8e0d-fe820fd08eca.png)

[2021-06-11 16:54] jennifer-shehane commented on #16884
I believe GH Actions runs on 2CPU/7memory be default. https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources

Which browser are you running? Are you running --headed or --headless?

[2021-06-11 17:07] jennifer-shehane commented on #8271
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:07] #8271 closed

[2021-06-11 17:08] jennifer-shehane commented on #8289
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:08] #8289 closed

[2021-06-11 17:09] jennifer-shehane commented on #7412
Closing since there's been no response. If someone can elaborate on the use case of encoding in hex format, we can consider reopening.

[2021-06-11 17:09] #7412 closed

[2021-06-11 17:10] jennifer-shehane commented on #8716
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:10] #8716 closed

[2021-06-11 17:11] jennifer-shehane commented on #8872
Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new/choose) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2021-06-11 17:11] #8872 closed

[2021-06-11 17:11] jennifer-shehane commented on #8918
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:11] #8918 closed

[2021-06-11 17:12] jennifer-shehane commented on #8960
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:12] #8960 closed

[2021-06-11 17:12] jennifer-shehane commented on #8973
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information, like the error that occurs when starting Cypress, to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:12] #8973 closed

[2021-06-11 17:17] jennifer-shehane commented on #9094
I think you should be able to achieve this by overwriting the `cy.intercept()` now. Check out our new intercept docs: https://on.cypress.io/intercept

[2021-06-11 17:17] #9094 closed

[2021-06-11 17:18] jennifer-shehane commented on #9076
Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new/choose) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2021-06-11 17:18] #9076 closed

[2021-06-11 17:19] jennifer-shehane commented on #4585
Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new/choose) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2021-06-11 17:19] #4585 closed

[2021-06-11 17:20] jennifer-shehane commented on #9184
Is this still an issue? Our Dashboard has made several changes since this issue was opened, want to see if this has been addressed.

[2021-06-11 17:21] jennifer-shehane commented on #9174
Closing as there was a workaround found that resolves the issue.

[2021-06-11 17:21] #9174 closed

[2021-06-11 17:23] jennifer-shehane commented on #9225
@Thanoonazad Cypress does support Chromium browser when it is installed in the default path. We recently fixed some issues concerning browser launching, so this may be resolved for you.

Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:23] #9225 closed

[2021-06-11 17:24] redReno commented on #4669
@khamer1410 Could you give an example of how you solved this? Would it be possible to create a solution that works with any server? The tests run on a collection of servers so we would need a solution that could smoothly be applied to all of them.

[2021-06-11 17:25] jennifer-shehane commented on #9310
Closing as resolved.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new/choose) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2021-06-11 17:25] #9310 closed

[2021-06-11 17:25] jennifer-shehane commented on #9387
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:25] #9387 closed

[2021-06-11 17:29] jennifer-shehane commented on #14439
Is this issue still ocurring? We've had several fixes for intercept 7.0+, can anyone update and verify?

[2021-06-11 17:30] leungk712 commented on #16830
Hello @elevatebart,

Unfortunately I cannot clone the repo as it is a work application. I am using npm (v6.14.6), node (v12.18.3). We have Cypress setup locally and we have SauceLabs setup on the Gitlab CI pipeline. Yes to monorepo. Here is our package.json:

`{
  "name": "work-application",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build":

[2021-06-11 17:30] jennifer-shehane commented on #9614
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:30] #9614 closed

[2021-06-11 17:32] jennifer-shehane commented on #15906
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:32] #15906 closed

[2021-06-11 17:32] jennifer-shehane commented on #16059
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:32] #16059 closed

[2021-06-11 17:33] jennifer-shehane commented on #16029
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:33] #16029 closed

[2021-06-11 17:36] sharmilajesupaul commented on #16903
Thanks @jennifer-shehane, you're right, the CI process reaching the timeout is what we experienced. The workaround on our end was making the timeout configurable & updating our default timeout which was 70mins -> 20mins for Cypress.

The confusion from the teams trying to debug this was the fact that there were no logs from Cypress indicating that anything went wrong. All we saw was tests stop run

[2021-06-11 17:36] jennifer-shehane commented on #16270
Thanks for taking the time to explain the feature you'd like.

Our team has decided that adding this feature is not currently within our scope of feature work.

We will be closing this issue, but keeping it open for comments (which we do read). We will reconsider and reopen if we see this issue gains more 👍 or comments in support.

[2021-06-11 17:36] #16270 closed

[2021-06-11 17:37] jennifer-shehane commented on #15952
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:37] #15952 closed

[2021-06-11 17:41] jennifer-shehane commented on #15955
@sainthkh Yes, we've been making a lot of effort to improve the intercept docs. If there's a suggestion to make it clearer, open a PR in our docs and our docs team can review.

Moving issue to docs repo.

[2021-06-11 17:42] jennifer-shehane commented on #16258
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will consider reopening the issue. Here are some tips for providing a [Sho

[2021-06-11 17:42] #16258 closed

[2021-06-11 17:42] jennifer-shehane commented on #16314
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-11 17:42] #16314 closed

[2021-06-11 17:49] jennifer-shehane commented on #16874
@meetmangukiya For several machines, we have a way to communicate and aggregate results to the Cypress dashboard specifically. There's nothing communicating for all of the specific reporters. For people using custom reporters, they usually generate several reports for each spec file and combine them on their own.

[2021-06-11 18:02] colinodell commented on #3143
GitLab just added support for [showing JUnit screenshot attachments in merge requests](https://docs.gitlab.com/ee/ci/unit_test_reports.html#viewing-junit-screenshots-on-gitlab).  Hopefully that encourages more interest in this proposed feature.

[2021-06-11 18:10] sharmilajesupaul commented on #16903
@jennifer-shehane One interesting  point is that I tried to make this reproduction case with Codepen originally, see: https://codepen.io/airbnb/pen/GRWXapj. Unlike [JSFiddle](https://jsfiddle.net/xspqo2kv), Codepen was able to catch my infinite loop and stop the editor from running.

![Screen Shot 2021-06-11 at 11 04 41 AM](https://user-images.githubusercontent.com/7876997/121730644-d3b16e00-caa4-

[2021-06-11 19:01] jonnathan-ls commented on #8471
I have the same "operation not allowed" problem, but for the Electron path

[code]

[2021-06-11 19:54] daiscog commented on #9094
Hi @jennifer-shehane

Yes, thanks, intercept solves this for me.  I even wrote [a block post about it](https://blog.dai.codes/cypress-loading-state-tests/). :)

Thanks!

[2021-06-11 20:00] #16292 closed

[2021-06-11 21:10] jennifer-shehane commented on #16153
@viktorgogulenko Yes, I've done a lot of evaluation on video quality and have found that low resourced machines was the single determinate of choppy/freezing videos.

Obviously there are situations where running Cypress could use more resources than it needed before (increasing video size, some infinite loop running in the browser, starting up more server resources).

I've found increasing resourc

[2021-06-11 21:11] jennifer-shehane commented on #16907
@yasinitskyi Where are you running these scripts? Which OS? In CI?

[2021-06-11 22:32] DrNio13 commented on #16908
@jennifer-shehane thanks for the quick reply. I basically followed this guide https://docs.cypress.io/guides/guides/launching-browsers#Customize-available-browsers

Is there a better guide that I could follow? I just want to have control on which Electron Browser Cypress will run the tests.

[2021-06-12 02:39] meetmangukiya commented on #16874
I see, cool. I think then maybe when the results reach the cypress dashboard, if the dashboard can instantiate the reporters and emit relevant events, it can work? instead of passing the reporters to the mocha runner and mocha emitting the events to the reporters, we could be mocking that behavior at the dashboard to get same results?

[2021-06-12 04:32] avestura commented on #15961
Here it is: https://github.com/avestura/cypress-request-flood-reproduce
It basically happens when an `iframe` is present in the dom.
Replace [this line](https://github.com/avestura/cypress-request-flood-reproduce/blob/master/src/inner.html#L5) with an API call and you can flood the server with API calls.

[2021-06-12 05:38] uebayasi commented on #15485
A new comer & seeing the exact same problem.

Struggling to find the `plugins` directory to put browser filter configuration now.

https://docs.cypress.io/guides/guides/launching-browsers#Customize-available-browsers

[2021-06-12 06:07] yasinitskyi commented on #16907
This is Windows, script runs in gitbash

[2021-06-12 06:57] LeJeanbono commented on #16897
Hi @Sathish787, can you give us your Firefox version ?

[2021-06-12 09:38] elpddev commented on #6377
Its seems cypress 6 is working. 7 is not. build hangs forever.

[2021-06-12 11:17] nsdotorg commented on #16896
**commands.ts**
import 'cypress-wait-until'
import "cypress-audit/commands";

import { addMatchImageSnapshotCommand } from 'cypress-image-snapshot/command';

addMatchImageSnapshotCommand({
  failureThreshold: 0.03, // threshold for entire image
  failureThresholdType: 'percent', // percent of image or number of pixels
  customDiffConfig: { threshold: 0.1 }, // threshold for each pixel
  capture: '

[2021-06-12 11:40] LeJeanbono commented on #16897
Fine for me with `FF 89.0 (64 bits)`

[2021-06-12 13:26] Sathish787 commented on #16897
I tried in both Firefox 88 and 89.0 (64 bits) and Cypress version 7.4.0 and 7.5.0.

But no luck.

[2021-06-12 18:27] bahmutov commented on #7678
Just hit this problem on Mac with Cypress v7.5.0

- the test calls cy.task that tries to run another instance of Cypress via NPM module API
[code]

Debug log shows that both invocations use no sandbox flag. The first one works, the second fails

[code]

[2021-06-12 19:42] Animeshkr29 commented on #16875
Thanks for reply , this Looks like Product issue in my Project .
Download is working expected in Linux box

[2021-06-12 19:42] #16875 closed

[2021-06-12 21:24] nicothyrael commented on #16329
The issue is with your __cypress.initial cookie, it did not have:
secure: true
sameSite: 'strict'

options in it. Please fix this.

[2021-06-13 04:38] goldylucks commented on #16819
any updates on this? anything I can do on my end to make it easier for you guys to look into it?
maybe there's a way to workaround it in the meantime through the `tsconfig.json` ? (I've copied mine from the docs)

[2021-06-13 14:20] Makso83 commented on #7062
Faced the issue with BitBucker pipeline. The problem seems to be in dev server. It haven't been started yet, but Cypress tried to visit it. For me worked
[code]
Of course the solution is not very good, but I haven't found better one.

[2021-06-13 14:24] bahmutov commented on #7062
Take a look at the start-server-and-test NPM module

Sent from my iPhone

[2021-06-13 20:51] adrienharnay commented on #15014
I found that this only happens because of a line in the root tsconfig.json of my project:
[code]

If I remove it, the problem is gone. Overriding it in `cypress/tsconfig.json` doesn't work.

[2021-06-13 23:02] RaenonX opened #16914 "Optional chaining isn't working"
### Current behavior

If the test code contains optional chaining, the tester fails to run.

[code]

### Desired behavior

Should allow to run the test without any additional configurations.

This seems to an [issue](https://github.com/webpack/webpack/issues/10227) coming from webpack and it has been resolved from a version.

### Test code to reproduce

1. `npm install cypress`
2. `npx cypress ope

[2021-06-13 23:57] sainthkh commented on #16425
Sorry for the late reply.

I tested the app with Ubuntu 20.04 + Chrome 91. But it worked without fail. Is it still not working?

[2021-06-14 00:09] sainthkh commented on #16422
Sorry for the late reply.

From 7.4.0, Cypress can send `FormData` with `cy.request()`. Maybe it can solve your problems.

[2021-06-14 01:37] lmiller1990 commented on #16914
What version of webpack do you have installed?

[2021-06-14 02:58] sainthkh commented on #16783
It was added at https://github.com/cypress-io/cypress/commit/c56556db973f5702a0618ef371713ba7137c03fd.

I experimented by removing it and got this result:

![image](https://user-images.githubusercontent.com/8130013/121833107-8fbda380-cd06-11eb-8431-4b358ef40568.png)

It seems it's valid attempt. The solution might be more carefully merging messages.

[2021-06-14 04:14] RaenonX commented on #16914
I am using webpack 5.

Presumably it should be installed along with `next.js` because every time I start my app in dev mode, it shows `Using webpack 5. Reason: no next.config.js https://nextjs.org/docs/messages/webpack5`.

[2021-06-14 04:52] baeharam opened #16917 "Request object of cy.intercept() is ArrayBuffer."
### Current behavior

I'm using graphql and intercepting all the requests through `cy.intercept('/graphql')` to use below function which is waiting for network idle.

[code]

There were no problems at all, but suddenly a specific request causes error.

![스크린샷 2021-06-14 오후 1 51 31](https://user-images.githubusercontent.com/35518072/121840646-a7e9ee80-cd17-11eb-9880-68787f3411e3.png)

This

[2021-06-14 05:59] suniljaiswal01 opened #16918 "Updated value not getting reflected when updated inside the window().then() block"
### Current behavior
variable Value updated inside an window().then() block does not reflect outside the block

### Desired behavior
Updated variable value should get reflected to the outside block

### Test code to reproduce
[code]

Output:
![image](https://user-images.githubusercontent.com/45997477/121845631-5d5e7700-cd03-11eb-8d73-15a52e375610.png)

### Versions

Cypress Version: 7.4.0
Browser:

[2021-06-14 06:03] sainthkh commented on #16470
Internally, Cypress's `socket.io` uses `circular-json` to `stringify` objects and this `stringify` is the `JSON.stringify` with replacer function [(check this)](https://github.com/WebReflection/circular-json/blob/master/src/circular-json.js#L165-L183).

And Nodejs's JSON.stringify has a size limit and it throws `Invalid string length` error when a too-long string is passed [(check this StackOverfl

[2021-06-14 06:07] lmiller1990 commented on #16914
You might need to share a minimal reproduction. I followed the guide on [installing TypeScript](https://docs.cypress.io/guides/tooling/typescript-support#Install-TypeScript), added a minimal webpack config (using webpack 5) and it works okay for me:

![image](https://user-images.githubusercontent.com/19196536/121846494-6b73be00-cd2a-11eb-83e0-142c79c07cc9.png)

Next.js has proven tricky in the pas

[2021-06-14 07:11] uebayasi commented on #15485
I still have to hide `/Applications/Microsoft Edge.app` (I do `chmod 0000 ...` instead of `rm`) too.

The above `config.browsers.filter(...)` trick does not work, because it is applied _after_ all existing browsers are listed.

[2021-06-14 09:19] Enzo-Parodi opened #16921 "Screenshot command creates new copies instead of replacing original image"
### Current behavior
Wheen using `cy.screenshot('screenshot-name')` I get new copies of the original image every time I run the tests:

![image](https://user-images.githubusercontent.com/37559641/121869322-3784a280-cd02-11eb-8133-4dc20209ff0e.png)

### Desired behavior
No new copies should be created, there should only one image per screenshot.

I suppose there may be some configuration that could

[2021-06-14 10:57] rasool-swipe opened #16924 "cy.get('#seo\[\'description\'\]')"
### Current behavior
using this cy.get('#seo\[\'description\'\]')
and I get this error
Syntax error, unrecognized expression: #seo['description']

### Desired behavior
Just want to be able to select it. Tried using the selector playground, the actual ID, and ranorex and all of them produce the same error

### Test code to reproduce
        cy.get('#seo\[\'description\'\]')

[2021-06-14 11:06] paschalidi commented on #16884
Hey thanks for the quick response @jennifer-shehane. I am running chrome `--headed`. Is headless a better alternative you think?

I have run cypress in another project `headed` and I am sure I could see the browser and the video pretty well. I will ask my administrator if by any chance we are using some slower github machines.

[2021-06-14 11:35] Francllin commented on #8705
Hey guys! do we have a fixed solution for this problem?; here I am still having the same problem dictated by you.

[2021-06-14 12:16] Shaun-Regenbaum commented on #8090
That doesn't work for many projects where you explicitly need imports to be es6 modules.

[2021-06-14 12:29] nitzanashi commented on #8090
@Shaun-Regenbaum did you try to run Cypress with my kludge?

`TS_NODE_PROJECT=0 cypress open` ?

[2021-06-14 12:33] Shaun-Regenbaum commented on #8090
I did not, ill give that a try later.

[2021-06-14 12:46] neilmatillano commented on #14867
I also get it in latest 7.5.0 version
![Screenshot 2021-06-14 at 14 46 14](https://user-images.githubusercontent.com/4159492/121894354-56456200-cd1f-11eb-9c2a-9f9b4f826558.png)

[2021-06-14 13:15] kpiotr commented on #8705
Setting `CYPRESS_KONFIG_ENV` node env to a unique string for each cypress process running on the machine solves the problem.

[2021-06-14 13:57] zhammer commented on #16467
my workaround was switching `index.js` to `index.ts`, then using ESM style imports. i have my repo configured for typescript elsewhere though; this'd be more trouble if your project doesn't already use typescript

[2021-06-14 15:59] jennifer-shehane commented on #16924
@rasool-swipe Could you provide the HTML of the DOM element you want to select? That would help in making a suggestion for how to query for it. Thanks!

[2021-06-14 16:05] jennifer-shehane commented on #16921
@Enzo-Parodi How are you running the tests? via `cypress open` or `cypress run`?

Below are the rules for clearing existing screenshots from https://on.cypress.io/screenshots-and-videos#Screenshots

[2021-06-14 16:09] jennifer-shehane commented on #16783
@sainthkh Yeah, I thought this was what this code was for. I remember when it used to log every single retry attempt in the runner, sometimes hundreds of them. 😆 Let's not do this, but maybe there's a way to be smarter about the merge via the message content rather than a count.

[2021-06-14 16:37] Dorious commented on #16798
Hey @yann-combarnous, I have similar conf and it doesn't collect coverage for CT, for E2E it does it but after running `cypress run-ct` it doesn't generate anything.

[2021-06-14 16:37] jennifer-shehane commented on #16917
@baeharam Could you try updating to the latest version of Cypress and let us know if this is still happening for you.

If possible, could you provide a way to reproduce this if that doesn't resolve the issue? Thanks.

[2021-06-14 18:38] AlexandreBonaventure opened #16930 "Uncaught exception should not fail test inside beforeEach hooks"
### Current behavior

Since v7.0 uncaught exception in Promise are now failing tests per default.
When using cy.intercept(), it seems like the fetch requests connections are closed and can fire an uncaught:exception in the following test `beforeEach` hook

<img width="506" alt="Screen Shot 2021-06-14 at 2 24 53 PM" src="https://user-images.githubusercontent.com/4596409/121941281-0fef0380-cd1d-11eb

[2021-06-14 18:41] jennifer-shehane commented on #16930
A repro would be good. But yes, uncaught exceptions in promises now fail in 7.0. You can read more here, including workarounds: https://on.cypress.io/migration-guide#Uncaught-exception-and-unhandled-rejections

[2021-06-14 18:43] jennifer-shehane commented on #16918
The tempval in the last `cy.log()` is evaluated immediately in this situation, so it wouldn't reflect the new value. This is expected behavior.

I suggest reading the entirety of our [Introduction to Cypress](https://on.cypress.io/introduction-to-cypress) guide. Specifically the section on [mixing async and sync code](https://on.cypress.io/introduction-to-cypress#Mixing-Async-and-Sync-code).

[2021-06-14 18:43] #16918 closed

[2021-06-14 18:47] dclowd9901 commented on #6695
I, too, have reason to believe that this hanging issue is being caused by video records.

I was able to actually get the event to occur on my local machine. What happened, I found, is that the stall happens after the "afterEach" event, but before the "after" event. A screen shot was taken of the failure, which looked like this:

![Omnicomposer links -- has the attachement warning (failed)](https:/

[2021-06-14 18:48] SriQA1 opened #16932 "(uncaught exception)TypeError: Cannot read property 'name' of null"
Hi All,

I am new to Cypress and this forum.
can somebody take a look at this error below, I get this when I am trying to do drag and drop via cypress
In other words trying to drop a file from the fixture folder into the drop zone in my application.

[code]

this is my code snippet

[code]

Note:
It recognizes the drop zone even initiates the upload but then the exception occurs and no upload happ

[2021-06-14 18:51] dclowd9901 commented on #6695
![test failure](https://user-images.githubusercontent.com/1314066/121943794-cbf10400-cd06-11eb-813d-0901e830ef7c.png)

[2021-06-14 19:15] AlexandreBonaventure commented on #16930
Yes thanks and that's a good behaviour!
For now I have this workaround:
[code]

[2021-06-14 19:30] sooca opened #16933 "Read only FS throwing EPERM instead of EACCESS"
### Current behavior

Running with Bazel in a read only FS it throws an EPERM error on MacOS 11.2.3 (not sure about others). Same as #1281 just different error code (EPERM instead of EACCES).

[code]

### Desired behavior

Print a warning like with EACCES here: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/util/settings.js#L128-L130

### Test code to reproduce

It is a who

[2021-06-14 20:11] sharmilajesupaul commented on #16903
@jennifer-shehane Another idea that might be more cross browser compatible, is to use a plugin like this: https://github.com/jsbin/loop-protect

[2021-06-14 20:57] elevatebart commented on #16798
Hello @Dorious

What @yann-combarnous is doing above should be extracting the coverage in Component testing.

But this line

[code]

Will do behind the scenes the same as these lines.

[code]

They will be redundant.

The first one will inject the server without setting up any coverage.
The second one will inject and have coverage.

We probably should check that in the processing and send a warnin

[2021-06-14 21:16] dclowd9901 commented on #2218
@jennifer-shehane if we were able to fully and reliably replicate the issue, we wouldn't need the Cypress team to fix it.

[2021-06-14 22:03] elevatebart commented on #16879
Hello @smhmd

I really want to help you but I will need a bit more info:

- What verison of Next and webpack are you using
- What is your tailwind format? Do you use just in time (JIT)?

The simplest way to have you bug fixed looked at is always the same: make a repro-repo.

I created this minimal repository with tailwindcss working for both nextjs and Cypress CT:
https://github.com/elevatebart/ta

[2021-06-14 22:08] Makso83 commented on #7062
That worked for me, thanks a lot!

[2021-06-14 22:08] elevatebart commented on #16739
This one seems like an easy fix. I will take it.
Thank you @Doeke for reporting it.

[2021-06-14 22:38] smhmd commented on #16879
@elevatebart Thank you very much. Placing the `tailwindcss/tailwind.css` import in a `support` file did the trick.
However, placing any global stylesheets there result in an error:

[code]

I would imagine simply modifying webpack's config and replacing the part that's responsible for this check would fix the issue.
If you think this is something that needs to be addressed by `@cypress/react/plugi

[2021-06-15 02:01] adarnon opened #16935 "Visited page leaks between tests"
### Current behavior

Between tests, if `before/beforeEach` execute for a long time, the last visited page is still active, and behavior on that page might cause the next test to fail.

#### Explanation - real world context

We are developing a web app (Next.js) that requires users to log in. We use Auth0 for authentication, and then keep the user's token in a cookie that is transmitted to the ser

[2021-06-15 04:27] debasisj commented on #136
Hi Guys,

I have been using this piece of code for VGS iframe for Stripe integration for CreditCards and works fine for chrome and edge and works fine. But strangely not work on Firefox ???

[code]

On Firefox it's complaining undefined for `.should(iframe => expect(iframe.contents().find('body')).to.exist)`?

[2021-06-15 04:36] aaujayasena commented on #9387
Try with  cy.intercept() and it work as expected. Thank you @jennifer-shehane  :)

[2021-06-15 06:48] Dorious commented on #16798
@elevatebart I don't have injectDevServer because I don't use react-scripts. My cypress `plugins/index.ts`

[code]

The console log is there to check is `istanbul` there and it is.

[2021-06-15 08:28] alexneo2003 commented on #6375
same issue
cypress - 7.3.0
ff - 89
tests failed randomly

![image](https://user-images.githubusercontent.com/11705902/122019547-8eef4500-cdcc-11eb-9401-84f96e9f25e9.png)

code to reproduce
[code]
DEBUG log by cypress:launcher

[code]

[2021-06-15 08:45] Dorious commented on #16798
Also I see that the coverage is there each test:
![image](https://user-images.githubusercontent.com/2143349/122022086-8eec4680-cdc6-11eb-8638-878c345c79ff.png)
But it doesn't push it into `coverage` dir. In integration tests (`cypress run`) it works.

[2021-06-15 08:52] fabpotato opened #16938 "Application throwing error in cypress but not on browser"
Hi Team,

I am running a node js based application. And i am using cypress to perform automation on the same.
The application connects to two websockets. This behaviour works fine on browser. But when i attempt to run the same application in cypress I am getting error connecting to the second websocket:

Websocket connection to 'ws://<hostname>:<port>/' failed, connection closed before receiving a

[2021-06-15 09:03] pcmanprogrammeur opened #16939 "chromeWebSecurity does not work"
Hi,

I activated `"chromeWebSecurity": false` in my cypress.json but when i run the following code :

[code]

I have the following error :

[code]

Thanks for your help.

[2021-06-15 09:45] Dorious commented on #16798
@elevatebart Do I get this correctly? I need to run e2e tests to get the coverage? This is odd and imo shouldn't be this way. For example I want only component tests to be ran not the integrational tests which takes time.

[2021-06-15 10:10] dipika654 opened #16941 "Error running plugin: The following error was thrown by a plugin. We stopped running your tests because a plugin crashed"
Getting this issue while working with Cypress- cucumber preprocessor
**Title:** Error running plugin

**Message:** The following error was thrown by a plugin. We stopped running your tests because a plugin crashed. Please check your plugins file (`C:\Users\AJ\CypressAutomation\cypress\plugins\index.js`)

**Details:**

[code]

**Stack trace:**
[code]

**Package.json:**
[code]

index.js
[code]

[2021-06-15 10:20] Dorious commented on #16798
@elevatebart ok I figured out what was wrong in my case, in `support/` I have separate `component.ts` and we need to put `import '@cypress/code-coverage'` :) now coverage is collected properly.

[2021-06-15 10:53] Enzo-Parodi commented on #16921
@jennifer-shehane thanks for the quick reply.

It seems that I was confused about the usage of snapshots, since they are not meant for diffing visual regressions. Instead, I am now using `cypress-plugin-snapshots`, and it work as expected.

It's clear from the docs that previous snapshots are only automatically erased with `cypress run`. I was using `cypress open`.

Nothing to report then :)

[2021-06-15 10:53] #16921 closed

[2021-06-15 11:01] sbaechler commented on #757
What is the reason that cy.select() does not support duplicate options? If text and value are the same, then Cypress should just select the first instance.

As mentioned before, duplicating entries is a common pattern. E.g. in a countries list where the most used countries appear on top and in the full list below.

Selecting by index would then be the workaround but it would be flaky because the o

[2021-06-15 11:10] bbros-dev commented on #3262
@flybayer can you hint where we add this?

[code]

[2021-06-15 11:17] bbros-dev commented on #3262
@marklawlor, apologies for the TS/JS noob question, but appreciate any hints on what syntax looks like here:

[code]

[2021-06-15 11:18] Shravanem opened #16942 "Cypress Inter Server 500 error"
I am getting 500 - Internal Server Error (text/html) , when i run the scripts

[2021-06-15 11:18] dario-piotrowicz commented on #1482
A new menu has been added for the docs: https://github.com/cypress-io/cypress/pull/16433

Is this issue still valid/required? do we want to put a searchbar somewhere in the new docs menu?

[2021-06-15 11:22] lasithdilshan20 commented on #3310
Any update on this issue?

![image](https://user-images.githubusercontent.com/16818367/122044419-199a6900-cdfa-11eb-8b96-c5b6306f024d.png)

[2021-06-15 11:29] marklawlor commented on #3262
https://www.typescriptlang.org/tsconfig#paths

[2021-06-15 12:04] marklawlor commented on #3262
Add it as the first line of `cypress/plugins/index.ts`

[2021-06-15 12:22] maximenathan commented on #6082
We had the same problem 90% of the time. Probably due to the CI runner _(network problem?)_
The trick was to change the timeout const in the CI script:

[2021-06-15 12:57] SymenTimmermans commented on #566
Instead of adding a random 't' and a backspace keypress, why not just split off the last character, and type it into the input?
`
Cypress.Commands.add('fill', {
    prevSubject: 'element',
}, ($subject, value) => {
    const el = $subject[0];
    el.value = value.substring(0, value.length - 1);
    var lastChar = value.substring(value.length - 1, value.length);
    return cy.wrap($subject).type(la

[2021-06-15 13:02] joaoghummel commented on #14439
This still ocurring.

[2021-06-15 13:07] yoavniran commented on #14439
@jennifer-shehane  Im on 7.3.0 and still need [cypress-intercept-formdata](https://www.npmjs.com/package/cypress-intercept-formdata) to be able to work with **_mutlipart_** requests

[2021-06-15 13:09] #16450 closed

[2021-06-15 13:14] jennifer-shehane commented on #1482
We'll close this issue for the respective docs teams to decide on implementation moving forward.

[2021-06-15 13:14] #1482 closed

[2021-06-15 13:17] jennifer-shehane commented on #16932
It sounds like this error is being thrown from you application code. This doesn't seem like a bug from the information given exactly. We'd need a reproducible example to show it is a bug - if you can provide one we can run.

You may want to try asking our community in our [GitHub Discussions](https://github.com/cypress-io/cypress/discussions). As an open source project with a small maintainer team

[2021-06-15 13:17] #16932 closed

[2021-06-15 13:18] jennifer-shehane commented on #16942
When opening an issue, please fill out the [bug report template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE/bug-report.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using to help us better address your issue.

This issue will be closed per our [contributing guidel

[2021-06-15 13:18] #16942 closed

[2021-06-15 13:23] jennifer-shehane commented on #16939
The chromeWebSecurity workaround doesn't always work. You can't visit 2 domains of different origin policys in a single test as explained in the message for now. We are working on removing that limitation now.

Duplicate of https://github.com/cypress-io/cypress/issues/944

[2021-06-15 13:23] #16939 closed

[2021-06-15 13:33] dariuszteooh opened #16944 "7.5.0 is 50% slower than 6.6.0"
I've been using 6.6.0 for a while, having upgraded in the past to 7.0.0 and being affected by [https://github.com/cypress-io/cypress/issues/15853](this bug) I've downgraded back. I saw that it's been fixed, so I updated to 7.5.0 and found that test execution takes 50% more time.
On 6.6.0 my test suite ran for 20 minutes (which is still a very long time for tests to run). Updating to 7.5.0 extends

[2021-06-15 13:38] jennifer-shehane commented on #16944
Duplicate of https://github.com/cypress-io/cypress/issues/16305

If you are running Cypress in a headless browser, the default screen size was increased to 1920x1080 which introduces extra time. Reduce the screen size to the default size prior to 7.0 (1280x720). [Instructions here.](https://on.cypress.io/browser-launch-api#Set-screen-size-when-running-headless) This should help.

Additionally, I w

[2021-06-15 13:38] #16944 closed

[2021-06-15 13:45] hiezust commented on #16905
I cannot provide a fully working example, especially not a repo, but I can give further details of the situation we are encountering.

We make use of ExtJS framework and for keep tracking of history there is a built in component called [Ext.util.History](https://docs.sencha.com/extjs/6.5.2/modern/Ext.util.History.html#property-useTopWindow). On this component we make use of `useTopWindow` property

[2021-06-15 13:49] jennifer-shehane commented on #16935
@adarnon I have seen people report similar sounding issues in terms of their app 'logging out' unexpectedly after a test and this explanation makes sense.

Is the provided test case meant to fail? When I run the test case it passes. Is the issue intermittent? Can you provide a failing test case?

[2021-06-15 13:55] jennifer-shehane commented on #2218
Could you explain what you mean by this? Are you visiting one of Cypress's domains? We don't present any 500 error messages within the application under test itself.

We do proxy requests and there is logic behind that - so it is definitely possible there is a bug in Cypress. If we can't reproduce it, we have no idea where it could be originating from or how to fix it.

[2021-06-15 14:00] jennifer-shehane commented on #16941
@dipika654 Just looking at the code above, it looks like you wrote everything correctly.

This looks like an issue with `cypress-cucumber-preprocessor`, which is not a plugin that Cypress maintains. I would suggest opening an issue in that repo: https://github.com/TheBrainFamily/cypress-cucumber-preprocessor

[2021-06-15 14:00] #16941 closed

[2021-06-15 14:24] jennifer-shehane commented on #16884
You can try to log the memory and CPU usage of Cypress by following these instructions: https://on.cypress.io/troubleshooting#Log-memory-and-CPU-usage This will help determine if Cypress is running out of resources and whether the machine requires more.

I don't see any reason to run `--headed` in the actions, but I also can't quite see any benefit to changing to `--headless`.

[2021-06-15 14:31] jennifer-shehane commented on #16819
Oh, sorry, I missed that this is a TypeScript error. I would recommend using `@ts-ignore` to get around this for now. https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-6.html#suppress-errors-in-ts-files-using--ts-ignore-comments

[2021-06-15 14:43] elevatebart commented on #16798
Lovely !!!

Code coverage implementation might be a good "recipe" to add to our docs.

To get coverage, you need:
- In `plugins/index.js`, instrumentation of your code (using babel or another istanbul plugin) in the config you pass to the dev server.
- In `plugins/index.js` implement the code coverage task with the proper task.
[code]
- In `support/index.js` import the code-coverage implementation

[2021-06-15 14:58] jennifer-shehane commented on #16896
@nsdotorg I see you have provided a `supportFile` arg to your config. If the location of your `supportFile` is outside of the root of the project (where the `cypress.json` is located) then this looks to be a duplicate of https://github.com/cypress-io/cypress/issues/2595

[2021-06-15 15:09] #16846 closed

[2021-06-15 15:21] jennifer-shehane commented on #16723
Can you include the HTML to test against? Is this just a standard `date` input?

I can't quite figure out how to reproduce this. The below doesn't work.

[code]

[code]

[2021-06-15 15:26] jennifer-shehane commented on #16681
Hey @xtroncode, the video recording cannot record something that has already happened in the past if the video recording is completely turned off initially. If the tests are not being recorded for video, then a test fails - then it's too late to turn on the video recording because the test has already failed.

There is increased CPU used to record video during the entire test run and we're looking

[2021-06-15 15:29] xtroncode commented on #16681
@jennifer-shehane I only want to record the retry and not the first failure..

[2021-06-15 15:31] jennifer-shehane commented on #16017
I'm going to move this issue to the docker repo since it's specific to the docker images.

[2021-06-15 15:38] jennifer-shehane commented on #15818
@BryantDavis1986 I'm not aware of any issues in WSL2 currently with loading pages taking a long time. Are you running directly or in a docker container?

What version of Cypress are you using?

[2021-06-15 15:40] jennifer-shehane commented on #5083
We're open to review any pull requests to resolve this issue.

[2021-06-15 15:43] jennifer-shehane commented on #14676
Right now there doesn't seem to be enough information to reproduce the problem on our end - we need the HTML to run the test code against in your example. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will consi

[2021-06-15 15:43] #14676 closed

[2021-06-15 15:43] Jarroslav commented on #16723
Oh no, this is not an input, this is a div.

There is a module on the page that displays the time, and I need to check that the date is displayed in the format I need.
So I didn't type anything, just verify.

These are screens of page and DOM

![included](https://i.ibb.co/GR6Mqy3/Screenshot-227.png)
![included](https://i.ibb.co/tMq29fd/Screenshot-229.png)

[2021-06-15 15:43] jennifer-shehane commented on #14670
Since this issue hasn't had activity in a while, we'll close the issue until we can confirm this is still happening. Please comment if there is new information to provide concerning the original issue and we'd be happy to reopen.

[2021-06-15 15:43] #14670 closed

[2021-06-15 15:48] dclowd9901 commented on #2218
It appears to be expressed by the cypress application itself. Here's a screen shot:

![cypress-screenshot](https://user-images.githubusercontent.com/1314066/122084157-6bb99b00-cdb6-11eb-8cbc-db75b024ae75.png)

That isn't one of our 500 pages. Where in the code does the proxy logic live?

[2021-06-15 15:52] jennifer-shehane commented on #3918
yes, somewhat related but not the exact issue if the fact that `click` will not work in afterEach if a test fails: https://github.com/cypress-io/cypress/issues/2831

[2021-06-15 16:21] jennifer-shehane commented on #16821
I can verify the issue described above. I modified the example slightly so that there is a failing test (that should be passing).

The test should only mock the data the first time the request matches (because `times: 1` was passed), but it passes on 2 requests.

[code]

<img width="1074" alt="Screen Shot 2021-06-15 at 11 19 26 AM" src="https://user-images.githubusercontent.com/1271364/122088817-b

[2021-06-15 16:27] WIStudent opened #16947 "webpack-preprocessor: Add webpack 5 as peerDependency"
Experimental support for webpack 5 was added in https://github.com/cypress-io/cypress/pull/16493, but the peerDependency in `package.json` currently only allows weback 4, resulting in the following error when trying to install webpack-preprocessor together with webpack 5 using npm@7:

[code]

[2021-06-15 16:45] x-yuri commented on #566
Probably because with `t{backspace}` it works even if `value.length == 1`. To which you might reply that in that case one should use `type()` instead. But values we pass are not always fixed. In which case your version is a recipe for flaky tests.

[2021-06-15 16:58] jennifer-shehane commented on #15806
I can recreate the issue as described.

This is as designed so is not a bug (albeit maybe unexpected), from our docs:

You can disable the scroll altogether by passing `scrollBehavior: false` to the `click` or any other action command, which is what I would suggest.

[code]

[2021-06-15 17:04] goldylucks commented on #16819
well of course that's what I'm using :)
but this happens only in my cypress files, not in any of my other projects, so I'm only assuming it's a cypress related bug

[2021-06-15 17:15] anish-vakharia commented on #7861
@BogdanCerovac Can you share your solution to this?

[2021-06-15 18:00] jennifer-shehane commented on #16819
You'd be surprised by how many people don't know they can ignore TS errors. 😅

I think this is not a Cypress specific issue. It's explained here: https://stackoverflow.com/a/41975448/5878476

Probably you don't see this in other files because they already have imports/exports.  You can get around it by adding `export {}` to the top of the file.

`spec.ts`

[code]

`spec2.ts`

[code]

<img width="6

[2021-06-15 18:00] #16819 closed

[2021-06-15 18:01] adarnon commented on #16935
I actually want the app to log out after the test. The problem is that the app page stays loaded and active even after the `before/beforeEach` clauses for the next test start running, instead of clearing the page.

I have updated the test to be more clear. As you can see, the second `describe()` clause has a 20 second wait on `before()`. While this is happening, the app page from previous test iss

[2021-06-15 18:07] mikerandall commented on #15014
Yup, same here. Removing the `baseUrl` from `compilerOptions` fixes it as @adrienharnay pointed out. But removing it isn't an option.

[2021-06-15 18:10] jennifer-shehane commented on #16681
Hmm, we haven't discussed the implementation of turning on video recording mid-run before. So I'm not totally sure how we could achieve this. But an interesting concept.

[2021-06-15 18:37] jennifer-shehane commented on #15961
@avestura There's not a built in way to disable the hover but you may be able to hack it to disable it. I know this plugin change the DOM elements in the Test Runner, so it seems like it could be possible. https://github.com/bahmutov/cypress-dark, accompanying blog: https://www.cypress.io/blog/2018/10/11/halloween-theme/

Yah, this makes sense about the iframe. We replace the iframe during snapsho

[2021-06-15 18:39] adrienharnay commented on #15014
Forgot to point out that renaming browserslist to .browserslistrc fixes the issue too, but isn't an option either.

[2021-06-15 18:53] jennifer-shehane commented on #2218
@dclowd9901 Yah the state of this error is a bit unusual. Usually an error would be shown in the `visit` command on the left and the url is not blank within the application under test. It looks like it's still in a loading state.

Is this a screenshot from a video? It may be cutting off the final moments where it shows the error. If you can recreate this locally, is there anything shown in the Dev

[2021-06-15 19:15] jennifer-shehane commented on #16935
K, I've simplified the example where the application can still trigger side effects in the 'before' of the next spec.

### Reproducible Example

`spec.js`

[code]

`index.html`

[code]

<img width="1252" alt="Screen Shot 2021-06-15 at 2 13 44 PM" src="https://user-images.githubusercontent.com/1271364/122110235-ed73ed80-cde3-11eb-985e-12f42f60c510.png">

[2021-06-15 19:37] adarnon commented on #16935
Thanks for making the simplified version :) in your version, I'd expect the test to fail during `before()` on cross-origin frame - that's what happens in the repro I created.

I think the solution should be to clear the page from the previous test before running `before()`, instead of preventing redirects or anything of that sort.

Even if the second test starts with `cy.visit('/')`, currently Cyp

[2021-06-15 21:05] sec0ndhand commented on #16505
Would also love to resolve this, I haven't contributed much, but this would also help support people trying to utilise cypress on heroku ci [here.](https://github.com/cypress-io/cypress-example-kitchensink/issues/324)

[2021-06-15 21:43] kutenai commented on #16076
I have this same issue, on Cypress 7.4.0, and 7.5.0.
It used to work, but did not use it for a month or so, and when I tried again, it just started doing this.
I do not know what I've changed. New version of Chrome perhaps???

[2021-06-15 22:30] elevatebart commented on #16076
@kutenai are you a windows, mac or Linux user? just curious.

[2021-06-15 23:00] kutenai commented on #16076
I am on a mac.
I found it works fine with Firefox.

[2021-06-15 23:02] kutenai commented on #16076
Not sure if this will help

`**Title:** Error launching browser

**Message:** Cypress failed to make a connection to the Chrome DevTools Protocol after retrying for 50 seconds.

This usually indicates there was a problem opening the Chrome browser.

The CDP port requested was <span class="ansi-yellow-fg">50662</span>.

Error details:

Error: connect ECONNREFUSED 127.0.0.1:50662
    at TCPConnectWr

[2021-06-15 23:15] elevatebart commented on #16076
What I have seen is: it works on Windows, but not on Mac. Go figure. I still need to investigate.
Since we use a driven instance of chrome it should at least possible to fix, if not completely easy.

[2021-06-15 23:55] RaenonX commented on #16914
OK, will take some time and see if I can create a repro for investigation

[2021-06-16 00:36] kutenai commented on #16076
It has definitely worked before.. but, apparently something changed. Not sure what.

[2021-06-16 03:21] jk4235 commented on #16917
maybe same issue https://github.com/cypress-io/cypress/issues/16292

[2021-06-16 06:57] cifren commented on #16753
Yes it is what I am telling on that post, it is not working the way it should, I suppose you want me to create a repo with a clear example. I'll see if I have the time to do it.

[2021-06-16 07:06] pcmanprogrammeur commented on #16939
Thank you for your help.

[2021-06-16 07:24] Viktor-Rus opened #16953 "type() doesn't work with Cyrillic"
I try to print text in input
Cypress works with Latin
![Снимок экрана 2021-06-16 в 10 18 59](https://user-images.githubusercontent.com/41300396/122175972-c1f90d80-ce8c-11eb-8406-039f63afc933.png)

But doesn't work with  Cyrillic
![Снимок экрана 2021-06-16 в 10 20 14](https://user-images.githubusercontent.com/41300396/122176173-fe2c6e00-ce8c-11eb-995f-1070090b24f6.png)

[2021-06-16 08:19] ganeshsirsi commented on #897
[https://medium.com/@ganeshsirsi/how-to-execute-javascript-commands-in-cypress-2154897b1b23](https://medium.com/@ganeshsirsi/how-to-execute-javascript-commands-in-cypress-2154897b1b23)
This article might help you to do so,

[2021-06-16 08:24] avestura commented on #15961
For those who might want to disable the hover actions of the command logs, here is a quick hack:
put this in your `index` file:

[code]

[2021-06-16 10:07] Badisi opened #16954 "schematic : should be installed as a devDependency"
### Current behavior

When using the command `ng add @cypress/schematic` the library is installed as a `dependency`.

### Desired behavior

The schematic library should be installed as a `devDependency`.

### Fix
https://angular.io/guide/schematics-for-libraries#define-dependency-type

Add the following to the schematic `package.json`:
[code]

### Versions
1.3.0

[2021-06-16 10:56] zsolt-dev commented on #6081
updating the nvm to the version solved the issue for me.

Thanks to @dlcoffee for providing the fix in the comment.

[2021-06-16 10:56] #6081 closed

[2021-06-16 10:59] dvkruchinin commented on #16469
Hello. Did you manage to view this issue?

[2021-06-16 12:04] Ppkd2021 opened #16955 "cy.task('combineCoverage') timed out after waiting 60000ms getting this error during bitbucket CI build."
### Current behavior
cy.task('combineCoverage') timed out after waiting 60000ms. getting this error a lot during the execution of test cases on bitbucket but locally when the same test cases are executed then it is working fine.
The above error is randomly thrown for various test cases.

### Desired behavior
A test case should not fail due to this at least.

### Test code to reproduce

![image](ht

[2021-06-16 12:12] bahmutov commented on #16953
I have added Cyrillic example here which works fine
https://github.com/bahmutov/cypress-examples/commit/09aec67de260858c63f746de1d051e3f8b5d1f0e

I think we would need a reproducible example to debug this

[2021-06-16 12:38] alexneo2003 commented on #6375
I think there is a problem with deleting cookies by subdomains at this point in the source code
https://github.com/cypress-io/cypress/blob/develop/packages/extension/lib/util.js#L5

[2021-06-16 12:51] Viktor-Rus commented on #16953
application is running local

log

<img width="1550" alt="Снимок экрана 2021-06-16 в 15 47 58" src="https://user-images.githubusercontent.com/41300396/122222140-a6a4f700-ceba-11eb-8455-176aa6075ce9.png">

![Снимок экрана 2021-06-16 в 15 48 15](https://user-images.githubusercontent.com/41300396/122222203-b7ee0380-ceba-11eb-8466-1f9d82469d10.png)

[2021-06-16 13:24] jennifer-shehane commented on #16954
@Badisi I opened a PR here to address this: https://github.com/cypress-io/cypress/pull/16956

[2021-06-16 13:38] alexanderzulechner opened #16957 "cypress aborts application requests with `X-Requested-With` header"
### Current behavior

We have a web application, running in docker containers:
* one docker container serving the frontend application via nginx
* one docker container with the backend system

We have to add the `X-Requested-With = XMLHttpRequest` header to each request, as soon as we do it, all requests are aborted by cypress. it doesn't matter if the request is intercepted or not via cypress.
Th

[2021-06-16 14:02] alexneo2003 opened #16958 "cypress load tests twice at startup"
### Current behavior

When cypress start spec tests it reload spec and run tests second time
**Steps:**
1. start launcher
2. launcher load spec tests and execute 'beforeEach' hook
3. launcher load spec tests at SECOND time and execute 'beforeEach' hook at SECOND time
4. launcher run tests

This moment can be seen in video at third second
https://user-images.githubusercontent.com/11705902/122227682

[2021-06-16 14:11] #16958 closed

[2021-06-16 14:36] alexneo2003 commented on #16958
ok
i'm defined 'baseUrl' at cypress.json and have same issue
![image](https://user-images.githubusercontent.com/11705902/122238772-115d2f00-cec9-11eb-96cf-d5b0bbcf4c1f.png)

at video

https://user-images.githubusercontent.com/11705902/122238865-29cd4980-cec9-11eb-9670-15b2c3524ca0.mp4

[2021-06-16 14:36] sagar-ag05 commented on #2951
what if we want to maintain the state of the application, instead of launching new tab which may cause to lose the state? For example, I login to the app. (My app is huge). Now after I login, i have many e2e tests in different spec files. And once all of my tests are done, I logout from the app. But i dont want to relaunch the browser/tab and lose the state. Have you thought of this use case ?

[2021-06-16 14:41] Jarroslav commented on #16723
Nope, in commands, there are my custom commands only. And I want to provide you my `cypress.json` file also
[code]
And `support/index.js`

[code]

This behavior is not constant, it usually works correctly, but sometimes it does happen in headed mode.

[2021-06-16 14:47] jennifer-shehane commented on #16723
@Jarroslav Yeah, I'm not sure I have anything else to go on to figure out the issue without a full repo to reproduce the issue. Can you provide a repository with the test code to run to reproduce?

[2021-06-16 14:57] jennifer-shehane commented on #2951
@sagar-ag05 We're working on a session API that should help with this use case. https://github.com/cypress-io/cypress/issues/8301

[2021-06-16 15:05] sagar-ag05 commented on #2951
@jennifer-shehane - What is the timeline of session API availability?
And any workaround to use in the interim to unblock us?

[2021-06-16 15:10] mihaic195 commented on #9184
@jennifer-shehane I don't think it's valid anymore. You can close it. Thanks.

[2021-06-16 15:10] #9184 closed

[2021-06-16 15:28] jennifer-shehane commented on #16762
@jeff00seattle It's just a warning, so it can be safely ignored. There's nothing to do on your side - that issue is open because Cypress needs to fix the issue.

[2021-06-16 15:30] mmitchell3590 opened #16959 "Test duration keeps running even once test is completed"
### Current behavior
Test duration keeps running even once test is completed

### Desired behavior
Once test is completed, timer stops.

### Test code to reproduce
I am not sure this is test code specific. I've seen it occur in several test files.

### Versions
7.5.0

https://user-images.githubusercontent.com/25928813/122248610-2ec4d580-ce96-11eb-99e5-b9855718b164.mp4

[2021-06-16 15:32] jennifer-shehane commented on #16804
@Rao-J Could you include the code from the entire plugins file where you have configured the @cypress/webpack-preprocessor?

[2021-06-16 15:33] jennifer-shehane commented on #16959
@mmitchell3590 Likely there's something dependent in the test code that you're running that is making Cypress 'hang'. We'll need a reproducible example or some clue on the test code to see why this is happening.

[2021-06-16 15:40] jennifer-shehane commented on #3817
@sra1rdy If you can provide a reproducible example that we can run to see the issue, we'd be happy to reopen.

[2021-06-16 15:52] jennifer-shehane commented on #16958
This is reloading due to the 301 redirect that occurs during the visit. You're visiting `http://todomvc.com/examples/vue`, which then redirects to the `https` url -> `https://todomvc.com/examples/vue`.

Any time the application under test is navigating to a new domain, the main url of the Cypress browser needs to update to reflect this. The reasons why are explained in https://on.cypress.io/web-se

[2021-06-16 16:02] elevatebart opened #16960 "create-cypress-tests case issue when using webpack config"
### Current behavior
If you run `yarn create cypress-tests` in a setup that has react and a good ol' `webpack.config.js`.
I get the following error.

[code]

### Desired behavior
I would like the `webpackFileName` in `plugins/index.js` to be lower case `n` => `webpackFilename` this makes cypress work again.

### Test code to reproduce

https://github.com/elevatebart/cy-public-path/tree/failure-of-

[2021-06-16 16:10] jennifer-shehane commented on #8418
@MatiDiez Oh, very interesting, this is not something we considered. 🤔  It'd be great if you could provide a reproducible example and open a new issue. I'll try to see if I can recreate.

[2021-06-16 16:17] sagar-ag05 commented on #2951
@renelux - How are you combining/importing diff spec file into index_spec.js file ?

[2021-06-16 16:24] jennifer-shehane commented on #4675
@shreeti91 IF this is a question on using Cypress, you may want to try asking our community in our [GitHub Discussions](https://github.com/cypress-io/cypress/discussions). As an open source project with a small maintainer team we have to focus our time on bugs and features in the product, which Issues are reserved for.

[2021-06-16 16:29] jennifer-shehane commented on #8401
@MasonM cross domain doesn't really work in general in Cypress, so may need to wait for this issue, which we're working on : https://github.com/cypress-io/cypress/issues/944

[2021-06-16 16:36] jennifer-shehane commented on #933
@tnrich I agree, this would be great. You can express your interest in this feature here: https://github.com/cypress-io/cypress/issues/170

[2021-06-16 17:15] jennifer-shehane commented on #9442
We don't recommended running more than 1 Cypress process in parallel on a single machine. There are a few issues that happen when this is done and the majority of the time, there is not enough resources on the machine to run Cypress and it still be performant.

[2021-06-16 17:15] T-e-j-k-u-m-a-r commented on #4037
Any comment on the how to execute the scripts in chrome incognito mode? Is there some settings that can be added into cypress.json file to handle it?

[2021-06-16 17:21] jennifer-shehane commented on #15485
We might want to fall back to 'version' instead of throwing if they're not even using this specific browser to run. Not sure if that's possible.

But yes, we try to strip out the major version for display in our GUI and stdout, so `Running on Edge 56` for example. For this one....we're trying to strip out a major version from the `VMware Fusion 12.1.0` version which is not expected.

[2021-06-16 17:41] adarnon opened #16963 "Disable Video Recording through a CLI parameter"
### What would you like?

I want to be able to disable video recording in the CLI. Something like:

[code]

### Why is this needed?

Currently, the only way to disable video recording is to set `video: false` in `cypress.json`. This setting controls video recording in both `run` and `run --record`, which is undesirable for us.

In our CI/CD pipeline we run a normal `cypress run` in both branches,

[2021-06-16 17:50] jennifer-shehane commented on #16963
You can pass any configuration values in the CLI via the `--config` flag. So you can pass `cypress run --config video=false` https://on.cypress.io/configuration#Command-Line Hope this helps!

[2021-06-16 17:50] #16963 closed

[2021-06-16 18:18] elevatebart commented on #16253
@lmiller1990 the problem we see here has probably nothing to do with not respecting `watchIgnore` in webpack config. The list of spec files is provided to the webpack loader by Cypress when we init the dev-server and is maintained/updated by cypress as we go.

The watcher that is failing is therefore inside of Cypress. It should also fail when using end to end testing.
Why not create an `ignore` c

[2021-06-16 18:24] elevatebart opened #16964 "Images don't show up in my component tests"
### Current behavior
I use `CopyWebpackPlugin` in webpack to move images at dev and build time.
When I use the same component in component testing, the images that are available in app are not served. They return a 404.

### Desired behavior
The image that should be at `http://localhost:53288/img/myImage.png` is available at `http://localhost:53288/__cypress/src/img/myImage.png`.

In `router-ct.ts

[2021-06-16 18:25] elevatebart commented on #16964
cc @mapsandapps

[2021-06-16 18:52] OliverJAsh commented on #4614
In case it helps others: we ended up using [MockServer](https://mock-server.com/) for this instead of `cy.intercept`.

![image](https://user-images.githubusercontent.com/921609/122276154-66ef0700-cedc-11eb-83cc-258656a54518.png)

[2021-06-16 19:00] MatiDiez commented on #8418
Hey @jennifer-shehane unfortunatelly I don't have access to share that example. The only condition to reproduce it was that when I got that execption using the test runner, and test runner was still opened in the same spec, it kept tryin to execute that. This will only happen if it is the last test or if the test failed and the runner goes back to focus that sequence.

[2021-06-16 19:04] jennifer-shehane commented on #15957
This makes sense. Thanks for the update!

[2021-06-16 19:12] jennifer-shehane commented on #1358
@Norfeldt I think the example is for reading process.env variables and setting them as Cypress.env so you can read them in Cypress test files. You won't be able to read `process.env` from test files. Could you explain where you code above is erroring?

[2021-06-16 19:21] jennifer-shehane commented on #16507
I am seeing the iframe being blocked within Cypress as is should. Maybe there's something else required to reproduce? Could you provide an example that shows this? Or maybe I've misunderstood something.

[code]

[code]

### With CSP header

<img width="996" alt="Screen Shot 2021-06-16 at 2 20 03 PM" src="https://user-images.githubusercontent.com/1271364/122279733-ff21c780-cead-11eb-87fa-2ff87d6055

[2021-06-16 19:33] #566 closed

[2021-06-16 19:51] jennifer-shehane commented on #5876
@srinu-kodi There's not a current workaround, this is still an issue documented in https://github.com/cypress-io/cypress/issues/2681

[2021-06-16 19:58] jennifer-shehane commented on #15162
@mellis481 We're working on a way to allow more control over which requests display in the Test Runner and which don't. For many people seeing 100's of requests that aren't necessarily relevant to the test is not helpful - for some people seeing all is helpful.

[2021-06-16 20:15] jennifer-shehane commented on #16323
This bug was introduced in https://github.com/cypress-io/cypress/pull/16113

[2021-06-16 22:48] Norfeldt commented on #1358
I took me some time to understand this https://stackoverflow.com/questions/67700529/programmatically-declare-typescript-types-for-environment-keys-in-my-env

In order for me to not care about if it is running in node (with `process`) or not I have made this helper that also gives me type (autosuggestions in vscode)

template:

[code]

[code]

[2021-06-16 22:53] brettz9 commented on #16467
Yeah, thanks. In my case, however, I'm not using TS and not inclined to do so.

[2021-06-17 00:57] lmiller1990 commented on #16253
Hm, the OP says he used to use `watchIgnore` in [this post](https://github.com/cypress-io/cypress/issues/16253#issuecomment-831676870) previously and it worked fine. That's why I suspect it *is* related to `watchIgnore`.

I don't think configuring ignored files in `cypress.json` make sense. If this is a webpack-specific issue, we should use the built in webpack feature (`watchIngore`) to fix it. I

[2021-06-17 02:37] #16960 closed

[2021-06-17 02:49] elevatebart commented on #16253
@lmiller1990 this is what I found when searching for watchOptions. In preprocessors, it is passed to cypress to know what to do.

https://github.com/cypress-io/cypress/blob/d37fa84d327091b5bb552d7670e6bcb7fd2d3199/npm/webpack-preprocessor/index.ts#L91-L99

The good news for @DamienCassou is that there already seems to be such an option: `ignoreTestFiles`

https://github.com/cypress-io/cypress/blob

[2021-06-17 03:47] T-e-j-k-u-m-a-r opened #16968 "Unable to run the specs from the command line"
### Current behavior

I'm using below code to run my scripts which are present inside the folder -> Integration/examples/exploration by
cypress run --spec "cypress\integration\examples\Exploration\*.js" from the cypress -> bin directory.

### Desired behavior

All the specs inside the folder Integration/examples/exploration should be executed.

### Test code to reproduce

### Versions
7.5.0

[2021-06-17 03:49] T-e-j-k-u-m-a-r commented on #16968
Encountered error:
![error while running spec's from command line_Cypress](https://user-images.githubusercontent.com/54025065/122328349-1e236680-cf4d-11eb-8243-b597fd1c5316.png)

[2021-06-17 05:55] andreieftimie commented on #9442
Based on the inquires in this thread there are numerous people running multiple instances on the same machine. For example we don't have full control over the CI environment (and I suspect similar constrains for other people) so a "poor man's" parallelism is achieved through running 2-3 instances on the same machine.

While proper multi-machine parallelism would be better, we did halve the running

[2021-06-17 06:18] iamghulamnabi commented on #4625
Hi, I was facing same issue. So I have find a solution for you. It will work for all of you. You also don't need to uninstall anything , Try this one . It is the in last of page.
![Screenshot_23](https://user-images.githubusercontent.com/79832237/122342176-b9bcd300-cf5d-11eb-8676-5e6f9c38f924.png)

[Clearing Cache by Terminal](https://clearcachefilesincypress.blogspot.com/2021/06/how-to-clear-cach

[2021-06-17 08:48] muzzamilshaikh opened #16972 "Cypress not installing on windows 10"
### Current behavior

I'm not able to install cypress in my windows 10
![image](https://user-images.githubusercontent.com/51785820/122363411-8a669000-cf76-11eb-8a29-837981aaa3bf.png)

### Debug logs

### Download method

- [ ] npm
- [ #] yarn
- [ ] Direct download
- [ ] other

### Operating System

- [ ] Linux
- [ ] Mac
- [ #] Windows

### Other

- [ ] I'm installing latest Cypress version
- [ ] I

[2021-06-17 09:07] mattiaskagstrom opened #16973 "Cypress removes custom status text/reason phrase from http response"
### Current behavior
Server responds with a http 400 with the text "Åtgärden kan inte vara utförd innan bristen upptäcktes."
generated by the code
`var resp = new HttpResponseMessage(HttpStatusCode.BadRequest)
                    {
                        Content = new StringContent(""),
                        ReasonPhrase = "Åtgärden kan inte vara utförd innan bristen upptäcktes."

[2021-06-17 09:24] dvkruchinin commented on #16469
At the same time test
[code]
Works successfully. Property ```content-length``` is present.

[2021-06-17 09:26] beezital opened #16975 "cy.visit does not set Referer header"
### Current behavior
Headers > Referer is set to the url provided to cy.visit instead of using the value provided in the options
![image](https://user-images.githubusercontent.com/63583702/122369256-50898f80-cf5e-11eb-81a1-f361bccac30d.png)

### Desired behavior
![image](https://user-images.githubusercontent.com/63583702/122369003-1cae6a00-cf5e-11eb-9c9a-ef9d35cf6064.png)

### Test code to reprodu

[2021-06-17 11:03] fgcui1204 commented on #16830
Meet the same issue with u. @leungk712  Have u solved it?

[2021-06-17 11:08] shivanijamadar commented on #8746
Hello, in which file do we have to use the getUrl() function mentioned above ?

[2021-06-17 11:44] OliverJAsh commented on #16066
I came here from https://github.com/cypress-io/cypress/issues/1499 and https://github.com/cypress-io/cypress/issues/1807. I'm running into a similar issue except I don't think it has anything to do with `<link>` in this case.

Before I pin a snapshot, I have this `<style>` tag in my DOM:

![image](https://user-images.githubusercontent.com/921609/122389554-f6da9280-cf68-11eb-971d-6dfbbada04c8.png)

[2021-06-17 11:46] FDIM opened #16976 "Placeholder support for CYPRESS_INSTALL_BINARY"
### What would you like?

An easy way to configure and install cypress in corporate environment. It's nice that CYPRESS_INSTALL_BINARY options exists but it could be better.

To cover all scenarios we need to support windows, mac, and linux (for CI) and there is no nice way do this if you are sitting behind corporate firewall. Here is what I ended up doing and I believe it would work for quite a f

[2021-06-17 13:23] cadesalaberry commented on #6132
I had the same issue, the fix took me a while. My problem was with how angular mangles the `index.html` file.
[code]
the code would turn into a single line of js, leading to a `Unexpected end of input`
[code]

Which would lead to the end of the code being commented out. Turning them into multi-line comments did the trick.

[code]

[code]

[2021-06-17 14:22] leungk712 commented on #16830
Hi @fgcui1204, unfortunately have not solved it. Our team has currently put this on hold for now as we're working on other tickets at this time. May circle back to it tomorrow and try again. Good luck.

[2021-06-17 14:27] Ruinevo opened #16983 "cy.visit() failed trying to load on Vue App"
I'm trying to run test in my vue-cli app
![image](https://user-images.githubusercontent.com/25858845/122415567-76845380-cfa1-11eb-8c96-3c9a05b6f348.png)

yarn add --dev cypress @cypress/vue @cypress/webpack-dev-server html-webpack-plugin@4

After this I change my cypress/plugins/index.js file with this code :

![image](https://user-images.githubusercontent.com/25858845/122415656-8a2fba00-cfa1-11eb

[2021-06-17 15:48] snehaviswanathan-sky opened #16991 "--use-fake-ui-for-media-stream doesn't disable microphone when running on Ubuntu Amazon Codebuild Standard 4.0 with cypress run -b chrome"
### Current behavior
On my local machine, when launching cypress using chrome by default the arg --use-fake-ui-for-media-stream is being used so the microphone is allowed/enabled by default while running my script using cypress.
When I run my tests on Ubuntu Amazon Codebuild Standard 4.0 Environment, inspite of chrome which is being launched have this flag, microphone is still not enabled (I can s

[2021-06-17 15:53] jennifer-shehane commented on #15485
In your `plugins/index.js` file, you can edit the browsers config, but...I'm not sure if this is early enough to fix the issue. You'd have to find the browser in the array that you want to edit, then change the `majorVersion`.

[code]

I opened a PR here: https://github.com/cypress-io/cypress/pull/16990

[2021-06-17 16:09] #16722 closed

[2021-06-17 17:05] metasean commented on #6422
Tangential question for individuals who are down-voting the ETA and update requests.

People who are evaluating a tool for potential use, or who are planning features for products that use, a upstream dependency often need to know when to expect something to be in that dependency simply so that they can make plans that are dependent on that dependency.  So I see no reason _not_ to occasionally ask

[2021-06-17 17:16] Floaf commented on #6422
People should probably not invest in/evaluate something based on future features/updates since they might never happen.
Evaluate it for what it is today and if new features arrive in the future, concider it a bonus.

[2021-06-17 17:24] jennifer-shehane commented on #16968
Can you try running `./node_modules/.bin/cypress run --spec "cypress\integration\examples\Exploration*.js"` from the root of the project (where the node_modules folder is)? https://on.cypress.io/installing-cypress#Opening-Cypress

[2021-06-17 17:27] SriQA1 opened #16992 "Trying to Automated Drag and Drop via Cypress (Application uses the react-dnd library and the browser getAsWebkitEntry() function to get a file handle to read the contents)"
I get the following exception when performing drag and drop via cypress.
"(uncaught exception)TypeError: Cannot read property 'name' of null"

I'm trying to automate a drag and drop test but it is behaving differently than when I drop something manually. The code on the site takes the dropped files and calls DataTransferItem.webkitGetAsEntry to get a File object and eventually read the file conten

[2021-06-17 17:45] vedraan commented on #686
I would really love to see an option to have cache cleared on every test re-run. Not having is hindering use of Cypress as TDD tool.

If for example I'm working on a component which needs to `GET` something from the API, I would need to comment out that bit of test since after the first run the response status becomes 304 and the body is `""`. I know this is expected server/browser behavior and wh

[2021-06-17 17:50] AlexDaniel commented on #910
So, am I missing something, or is there actually no way to check that no request during the test returned with 500 status code? If my backend responds with 500, then there's definitely an issue that I'd like to fix, so I want the test to fail.

[2021-06-17 18:03] DanaGoyette opened #16993 "Ability to customize the indentation level of commands in Cypress log"
### What would you like?
An ability to customize the indent level of logged commands, allowing more than just `parent` and `child` levels.

### Why is this needed?
This would be a simple alternative to having a [group](https://github.com/cypress-io/cypress/issues/1260) concept, and would be useful for things like the `within` block.

Here's an example of an item I'd like to indent (right side trun

[2021-06-17 18:24] 8thblock commented on #6422
it comes for fee, mate! Say thank you for their hard free work and be patient

[2021-06-17 18:56] metasean commented on #6422
@Floaf
First and foremost, *_thank you for your answer!_*

I can't help but be reminded of something I experienced many, many years ago.  At the time I was a poor college student, and iPods had black and white screens, although there had been rumors for quite some time that Apple was going to be releasing a color iPod, and it was a very logical evolution of the iPod.

I don't ever remember talking

[2021-06-17 19:06] metasean commented on #6422
@8thblock
1st - I am, in fact, extremely grateful for everything the Cypress team does.

2nd - Cypress isn't free for everyone, and since a decision for potential paying customers might be based on this feature, they absolutely have the right to ask.  While I'm not _currently_ a paying customer, but I did help make the decision at my last company to by a subscription.  And I know that this feature

[2021-06-17 19:21] jiangao1 commented on #6422
Looking at Cypress' roadmap, it's safe to bet Safari support won't happen anytime soon. The Cypress team surely have a lot of other features to develop on their plate given the priority.

Here are the things to come, looks like Safari support is not something going to happen soon:

https://docs.cypress.io/guides/references/roadmap#Upcoming-features

[2021-06-17 19:28] 8thblock commented on #6422
WebKit = Safari

[2021-06-17 19:34] metasean commented on #6422
@jiangao1

fwiw: The last entry in the table of the page that you linked to _IS THIS ISSUE_ and "is in progress". 😉

"I like how people are passionate debating Cypress feature releases. It shows we all care about its success!"

!["gospel truth"](https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fawesomelytechie.com%2Fwp-content%2Fuploads%2F2013%2F08%2FTruth-gospel.gif&f=1&nofb=1)

[2021-06-17 19:36] FrancisBourgault opened #16995 "In headed mode, cy.type() in iframe ignore cursor position if the test runner window isn't focused"
### Current behavior
When I try to use the cy.type() command on an textarea that is inside an iframe, if the test runner window isn't focused during the test execution, the text will be added at the end of the field instead of the cursor position

This bug occur when running test with "cypress open" or "cypress run --headed".
This bug doesn't occur when running test with "cypress run --headless"

[2021-06-17 20:11] flotwig commented on #6422
Hi everyone, I wanted to let you all know that this is still on the [roadmap](https://docs.cypress.io/guides/references/roadmap), but it is being blocked by other in-progress work that is higher priority. The work is still assigned to me, so I will return to it as soon as I am unblocked. Rest assured that we are serious about our commitment to add WebKit testing to Cypress.

[2021-06-17 20:17] Aroxx commented on #16905
I am also getting the same "Error: Webpack Compilation Error" posted above in an ExtJS application as soon as I click on anything within the application.

If I turn on both `modifyObstructiveCode` and `experimentalSourceRewriting` in my cypress.json file as per a suggestion in [#8507](https://github.com/cypress-io/cypress/issues/8507) I can get past the above error for one click but then I receive

[2021-06-17 20:36] weyert commented on #6422
@flotwig Would you accept a PR to add Playwright support to Cypress for selected browsers at this time? E.g. firefox and chrome? I

[2021-06-17 21:09] flotwig commented on #6422
@weyert I have not done too much research into driving the Playwright FF/Chrome, only the Playwright WebKit. I am interested in this idea though, Playwright's model of distributing patched browser binaries is something we have discussed adopting for Cypress as well, since it removes the blocker of having to wait on the upstream browser vendors to make their browsers "testable". Potentially this is

[2021-06-17 21:34] weyert opened #16996 "Add support for Playwright browsers"
### What would you like?
I would like to introduce support for using Playwright as a browser type which the Cypress runner can use to leverage. Allowing to depend on the browser builds of Playwright allows us to have parity with Playwright test scrips (both using the same build of the browser), and you can get more recent browser builds.

For this to work a few things need to be revisited in the b

[2021-06-17 21:36] weyert commented on #6422
I have raised ticket see: https://github.com/cypress-io/cypress/issues/16996

[2021-06-17 22:11] dario-piotrowicz commented on #1119
@jennifer-shehane as of 7.5.0  the issue is still happening so I created a PR to fix it

I just noticed you were assigned to this issue, I hope you don't mind me opening the PR for it :cry:
(it didn't look like you were actively looking into it anyhow)

[2021-06-17 22:13] moazam00 opened #16999 "Table of Contents should be clickable."
The table of content under api is not clickable.

[https://docs.cypress.io/api/table-of-contents]
**Screenshot attached**
![table of content is not clickable](https://user-images.githubusercontent.com/44158154/122478607-28903f80-cfe3-11eb-84a6-e1bb2d1143bd.PNG)

[2021-06-18 05:31] T-e-j-k-u-m-a-r commented on #16968
Thanks @jennifer-shehane : It works!

[2021-06-18 06:35] mattiaskagstrom commented on #14447
Seems to work again in version 7.5.0. anyone else?

[2021-06-18 06:41] arneevertsson opened #17003 "Xhr Intercept + wait times out (most of the times)"
### Current behavior

I combine an intercept of an xhr request, with a wait. It works! But only 1 of 20 times. :-(

There is more than one bug reported before, that gives the same problem. The issued I've found here are labelled as "resolved".

Is there some inherent difficulty that makes it nearly impossible to implement this functionality?

### Versions
7.5.0
MacOS

[2021-06-18 07:01] cheesestringer commented on #8471
Same error as @Fizcko but on version 7.5.0
[code]

[2021-06-18 07:11] abdullahsohailyaqoob opened #17004 "Cypress Helper is taking too much of my systems Memory"
When i try to run my test paln using cypress test runner, it took approx. 8 GB of RAM which is way more high to execute tests.
![image](https://user-images.githubusercontent.com/77953196/122521469-4afb7a80-d02e-11eb-894d-7848c9f8d3bd.png)

[2021-06-18 07:20] abdullahsohailyaqoob commented on #17004
After 10 mins of run my memory shoot to 11GB

[2021-06-18 07:21] Narretz commented on #17003
I'm not working for Cypress, but please don't ignore the guidelines in the bug report template:

[2021-06-18 07:22] Narretz commented on #16999
Ticket should be opened here: https://github.com/cypress-io/cypress-documentation

[2021-06-18 07:59] Badisi commented on #16954
I can confirm that this has been fixed in `@cypress/schematic@1.3.1`.
Thank you guys

[2021-06-18 07:59] #16954 closed

[2021-06-18 11:00] johngrimsey commented on #16908
Am seeing this here too, different port but same error. I've also experienced some Chrome crashes which have caused macOS to send a problem report to Apple. Just trying to run Cypress in watch mode.

<img width="1405" alt="Screenshot 2021-06-18 at 11 29 26" src="https://user-images.githubusercontent.com/898591/122551308-b47a8980-d02c-11eb-94ce-6cce04fc50a7.png">

[2021-06-18 12:13] MacGyver27 opened #17008 "Cannot click item from cypress run navigation menu"
I am not able to enable developer tools.. clicking does not have any effect.. neither cycling via `alt`..
![2021-06-18_14-12-53](https://user-images.githubusercontent.com/6546231/122559173-47bcba80-d03f-11eb-9482-50a658a70dd7.gif)

I upgraded to the latest version 7.5.0
Thanks

[2021-06-18 12:40] #16991 closed

[2021-06-18 13:03] weyert commented on #6422
Everyone, I have made a work in progress PR which allows you to run your Cypress tests using the Playwright browsers (firefox and chrome atm). It will also list webkit int he browsers list but its not really functioning

[2021-06-18 13:22] KadeejaBai commented on #9128
I'm facing ffmpeg error with Cypress version : 7.5.0 . Do we have a fix were we can have parallel support + video recording ??
I had to disable video.

 `cypress:server:video capture errored: { error: 'ffmpeg exited with code 1: /tmp/build/123/codebase/cypress/videos/test.spec.js.mp4: No such file or directory\n', stdout: '', stderr: 'ffmpeg version N-47683-g0e8eb07980-static https://johnvansickle

[2021-06-18 14:20] MrRahulR commented on #16703
Actually, the plugin seems dead now, ☠ it's been a long it's not maintained and also it supports the older cypress version.
I was using it in the past but I see right now it has a lot of PR open but the repo isn't active. ❌

[2021-06-18 14:23] MrRahulR commented on #16703
Actually, the plugin seems dead now, ☠

The [repository](https://github.com/ejoubaud/cypress-browser-extension-plugin) for the plugin - it's been a long it's not maintained and also it supports the older cypress version.
I was using it in the past but I see right now it has a lot of PR open but the repo isn't active. ❌

[2021-06-18 14:25] chenxsan opened #17009 "Support webpack configuration of function type"
### What would you like?

Currently, the `@cypress/webpack-dev-server` supports passing a [`webpackConfig`](https://github.com/cypress-io/cypress/blob/e8da6403f94b488fcdad05c515fbbe052e948a02/npm/webpack-dev-server/src/startServer.ts#L11) argument, however only `Record<string, any>` type is supported. Namely, if I pass webpack configuration of function type like:

[code]
It won't work.

### Why is

[2021-06-18 14:49] MacGyver27 commented on #17008
Neither from the main cypress windows this context menu is clickable:
![2021-06-18_16-48-49](https://user-images.githubusercontent.com/6546231/122579353-1cdd6100-d055-11eb-9dd4-f94c3f4bb6e5.gif)

[2021-06-18 15:20] bschley commented on #3817
I had the same issue and I found a way to fix it.

The problems is sometimes when you try to type that Cypress lose the focus at the beginning of that elements for X ms (when its get xhr responses for example).

To prevent that focus loss at the beginning I did this:

`
cy.get('[data-cy="searchField"]')
  **.click()
  .wait(500)**
  .type('thisisalooongteststriiiing{enter}')
`

[2021-06-18 16:57] scottapow commented on #7678
Similar situation with our project, but with component tests. `cypress run-ct` within a husky precommit hook works fine when committing manually, but using VS Code's Source Control Commit causes this error. On Cypress 7.3.0.

[2021-06-18 17:38] brandonchinn178 commented on #16111
I have a repro, it seems to break between Cypress 6.9.1 -> 7.0.0 using Yarn 2, possibly related to https://github.com/cypress-io/cypress/issues/8008.

[code]

[2021-06-18 17:48] Badisi commented on #7552
@Nicoss54's solution doesn't work with `cypress`.

Cypress is using a `./cypress/tsconfig.json` which extends from `./tsconfig.json`.
So excluding `./cypress` in the root `tsconfig.json` results in no files being found at all.

[2021-06-18 18:10] SonaliQA commented on #8748
I am having the issue while running Scripts on local machine by cypress UI.
**Chrome : 91 , cypress: 7.5.0**
![image](https://user-images.githubusercontent.com/62263280/122601154-e1379c80-d03e-11eb-9b10-7acac1b87000.png)

[2021-06-18 18:12] brandonchinn178 commented on #16111
I'm printing out
[code]
in `plugins/index.js` and comparing the output between Cypress 6.9.1 and Cypress 7. One thing that stands out is that `process.versions` for Cypress 6.9.1 contains `pnp: '3'`, while Cypress 7 does not have `pnp` at all.

Where does Cypress get the Node executable from? I'm assuming Cypress has Node.js bundled somewhere and is using that `node` instead of whatever a user has

[2021-06-18 18:22] AxelConceicao opened #17013 "Cy.intercept() doesn't catch simple DELETE request"
### Current behavior
Hello,
I'm having trouble with a simple cy.intercept() command, it does not catch the targeted request.
Sorry for the blur I don't wanna get fired.
[code]

[code]
![image](https://i.imgur.com/42A4F6J.png)
![image](https://i.imgur.com/1gNafAd.png)

### Desired behavior
cy.intercept() above should catch the DELETE request

### Test code to reproduce
I don't know it's very strang

[2021-06-18 18:35] rafaellucena31 opened #17014 "Error trying load a site"
Please delete

[2021-06-18 20:56] lucitez opened #17015 "v7.4.0 No longer allows localhost as a RouteMatcher hostname"
### Current behavior

`cy.intercept({ hostname: 'localhost' }, (req) => {
...
})`

Results in

[code]

<img width="897" alt="Screen Shot 2021-06-18 at 1 55 53 PM" src="https://user-images.githubusercontent.com/5984157/122615159-e72c7e00-d03c-11eb-8456-6e893d30a03e.png">

### Desired behavior

As the docs suggest (https://docs.cypress.io/api/commands/intercept#Usage), I should be able to use 'local

[2021-06-18 21:46] bharatentropik commented on #9562
Mac OS  BigSur- 11.1 (20C69)
Chrome -91
Can't get a fake video working
I have tried all combinations.

[2021-06-19 02:32] nidasoyab commented on #1965
can you share the repository name of this

[2021-06-19 04:35] RaenonX commented on #16914
@lmiller1990 May I obtain the webpack config you used? `next.js` does not require a webpack config, so I think that might be the root cause of the problem.

[2021-06-19 05:46] batmaid-uciek commented on #16905
I have the same issue every time on a redirect after payment and it's blocking our tests. Instead of `http://localhost/someRoute`, Cypress goes to `http://localhost/__/someRoute`as described above by others.

@jennifer-shehane is there any chance of this being resolved any time soon? Seeing this being reported back in September (https://github.com/cypress-io/cypress/issues/8507) does not inspire h

[2021-06-19 09:31] cbruge commented on #17013
Hey @AxelConceicao did you try "**/api/agents/**" or /api/agents/** ?

[2021-06-19 09:44] AxelConceicao commented on #17013
It works thanks @cbruge !
I feel so dumb, I thought * will take everything after...

[2021-06-19 09:44] #17013 closed

[2021-06-19 15:59] arneevertsson commented on #17003
I solved my problem by putting each part into a custom command, and then calling the command from another command. I believe it is a timing thing, and the scheduling of commands within Cypress. I might ask/answer a question on stack overflow instead.

[2021-06-19 15:59] #17003 closed

[2021-06-20 09:02] #16907 closed

[2021-06-20 10:28] yasinitskyi opened #17021 "Uploading PSD file with Cypress"
I need to upload PSD file with cypress. Our drangNdrop input is customized (written from scratch). You can see how it looks like in our React app:
![image](https://user-images.githubusercontent.com/67145411/122669664-fe13d180-d1f0-11eb-809a-f75a6cd121d5.png)
There is **openFilePrompt** function which is triggering via onClick listener on the dragNdrop area, it looks like this in the code:
![image]

[2021-06-21 00:54] lmiller1990 commented on #16914
Sure, this is my `plugins/index.js` file:

[code]

Next.js uses webpack internally, it's hidden away in `node_modules/next/......somewhere.....`. If you can create a minimal reproduction, happy to take a look.

[2021-06-21 01:29] RaenonX commented on #16914
Here's the repro repo: https://github.com/RaenonX/cypress-optional-chaining-repro.

**It doesn't re-create this error for some reason, but instead introduced other errors.**

## Attempt 1

1. `npx create-next-app --ts`
2. `npm i cypress --save-dev`
3. Create the sandbox test file
4. `npx open cypress`

Then, because in cypress testing page, it says that `ts-loader` is not found, so I `npm install

[2021-06-21 01:31] lmiller1990 commented on #16111
I had a poke around but I don't see any place that would be changed. Are you able to make a minimal reproduction (using yarn and the pnp feature, I guess?)

[2021-06-21 01:33] RaenonX commented on #16914
Also, when I was playing around these, my IDE was complaining that `@cypress/webpack-preprocessor` is not listed as dev dependency from the plugin file you provided.

However, if I do this `npm i @cypress/webpack-preprocessor ts-loader`, `npm` yields dependency confliction error.

[code]

[2021-06-21 01:35] brandonchinn178 commented on #16111
The repro is two comments up: https://github.com/cypress-io/cypress/issues/16111#issuecomment-864185387

[2021-06-21 01:50] lmiller1990 commented on #16914
Right, I understand now. There are a few things at play here.

Because Next.js does not expose the config is uses (Webpack, etc) Cypress cannot use it by default. There are a few options. TS already knows about the `?` operator. I was able to get your repo to work by just updating `tsconfig.json`. I changed "target": "es5"` to `"target": "esnext"`. Makes sense - `es5` does not have the `?` operato

[2021-06-21 01:57] RaenonX commented on #16914
Oh good catch, I didn't notice that I was using the wrong target 😄

I am on Windows, tried <kbd>Ctrl</kbd>+<kbd>F5</kbd>, <kbd>Win</kbd>+<kbd>F5</kbd>, <kbd>Alt</kbd>+<kbd>F5</kbd>, and <kbd>Shift</kbd>+<kbd>F5</kbd> but no luck. Since this is a workaround, I guess I will wait until the release then see if that works then.

[2021-06-21 05:15] gauravshah27 opened #17022 "Suppress warnings for bad Chrome policies - Cypress detected policy settings on your computer that may cause issues."
### Current behavior
I am trying to use Cypress 7.5.0 with Angular 12 as a replacement for Protractor (protractor is deprecated starting with angular 12). I am using this Cypress 7.5.0 + Angular 12 combination on an enterprise machine that has Chrome GPOs enabled. Here is the relevant section from the debug logs:

[code]

I looked at this list carefully and was able to determine that out of the `b

[2021-06-21 05:37] Vishwaas opened #17023 "Cypress fails when a png is imported down the file path"
In one of the acceptance files, I am trying to import a file which inturn imports a png file(not sure if that is a good practice)

Eg: (note this code is not related to cypress but part of main app.
[code]

Then cypress fails with

[code]

[2021-06-21 06:48] lmiller1990 commented on #16914
Yep, please wait a few days - working on getting that PR merged this week.

[2021-06-21 07:04] lmiller1990 commented on #16111
I cannot get this to work, am I misunderstanding how yarn 2 works?

[code]

[2021-06-21 07:09] lmiller1990 commented on #16111
I missed that, sorry.

I created a new project using yarn 2, installed lodash, `yarn cypress open`:

Seems okay 🤔

![image](https://user-images.githubusercontent.com/19196536/122720864-53181c00-d2b3-11eb-934b-1fa2a85f0c5a.png)

Maybe I missed something?

[2021-06-21 07:12] brandonchinn178 commented on #16111
hm you ran `yarn cypress open`? whats the output of `yarn --version`? and while we're at it, what's `node --version`?

[2021-06-21 07:22] lmiller1990 commented on #16111
[code]

[2021-06-21 07:30] #17014 closed

[2021-06-21 08:40] gk-patel opened #17026 "Custom headers for statistics."
Hi Team Cypress,

I have a small feature request, I tried looking online but could not find a clear-cut way to implement this.
We have a test-suit that run thousands of tests and wanted to collect some statistics, but we could not find a straightforward way to do it.

I would like to suggest a feature, and you guys can decide if it is feasible/useful or not.
We especially want to know information

[2021-06-21 10:04] 08screasey commented on #15449
@niloysur09 Was it possible that you have a service worker installed on this app?
I am facing this issue today with a React/Workbox setup, The application is redirected to cover the full-screen for some reason and the test facilities are no longer available. After unregistering the service worker manually and setting "bypass for network" to checked in the devtools the issue is no longer there. @je

[2021-06-21 11:24] krisztian-romek commented on #1750
I think we can approach the same problem with test harnesses as well, I opened an issue for that: https://github.com/goldfire/howler.js/issues/1486 .

[2021-06-21 12:27] giancarlo88 commented on #7183
We're also having the same issue. I think the problem is it's difficult to come up with a reproducible example to share with you as our codebase is internal and we can't easily spin up something and run it on a Drone CI pipeline (which we'd also have to spin up on our own). I'm going to see if I can try to create an example for you but it might not be entirely possible.

[2021-06-21 13:21] jennifer-shehane commented on #16999
This is a link to the page that you're already on. But agree, this probably just shouldn't be there.

I'm going to transfer this issue to our documentation repo so the correct team can address this. Thanks!

[2021-06-21 13:23] jennifer-shehane commented on #17008
Duplicate of https://github.com/cypress-io/cypress/issues/16323

[2021-06-21 13:23] #17008 closed

[2021-06-21 14:53] flotwig opened #17033 "Sign all distributed .exe files"
### Current behavior

Windows code signing was added in #16946, but only the Electron binary (`Cypress.exe`) is signed, `ffmpeg.exe` is still unsigned.

### Desired behavior

All distributed exe files are signed with Cypress's cert on Windows.

[2021-06-21 14:57] uday-nitjsr commented on #7693
Hard +1 on this.
I was adding log options to reduce the noise in our logs, only to find i cant add it for should 😰

[2021-06-21 15:26] flotwig commented on #16917
Looks like a duplicate of #16292 - closing, if this recurs after 7.6.0 please reopen.

[2021-06-21 15:26] #16917 closed

[2021-06-21 15:31] joske-em opened #17034 "--config-file flag on cypress open is not passing parameters"
### Current behavior
When one starts cypress with `--config-file` flag.
Parameters from the file are not passed to cypress.
e.g. `baseUrl`

### Desired behavior
Parameters from file are passed to cypress.

### Test code to reproduce
1. Install cypress
2. Create `local.json` file
3. Content of file `{
    "baseUrl": "http://localhost:8080",
    "env": {
        "api_server": "http://localhost:5000"

[2021-06-21 15:31] 08screasey opened #17035 "Immediate Crash on snapshot hover in all browsers"
I'm quite new to cypress so I'm not sure what could have caused this, but after upgrading from v6 to v7 Cypress does not run well at all. Using "cypress open" the sample test successfully completes, but as soon as I hover over any of the DOM snapshots the test runner immediately freezes. Interestingly if the devtools are open they are still usable, but I cannot open them after it has frozen.
Test:

[2021-06-21 16:09] #16739 closed

[2021-06-21 16:19] #2543 closed

[2021-06-21 16:21] kkallu1 commented on #944
If anyone tries to automate Salesforce,  then they will understand, how important it is for them to get this issue fixed as urgent as possible.

[2021-06-21 16:26] djungowski commented on #2492
You could do something like that for example:
[code]

[2021-06-21 16:43] jennifer-shehane commented on #17022
There's not currently a way to suppress the warning unless you edit the cypress code directly, which probably isn't advised since you couldn't keep up to date with Cypress. Can't you just ignore the warning?

[2021-06-21 17:26] brandonchinn178 commented on #16111
https://www.loom.com/share/07f7e78338c74beca6e9490dcc611ab0

I'm not sure what you're doing, but it's failing consistently for me when I work in a completely new project

[2021-06-21 17:34] jennifer-shehane commented on #17035
@08screasey Which Cypress version are you using?

Likely it is specific to the application under test because others aren't reporting this, something using up an excessive amount of memory. Is there any way to provide a way for us to reproduce this on our side? Reduce it down to a repo we can run?

[2021-06-21 18:15] d-koppenhagen commented on #944
@kkallu1 have a look at the example solution from @vrknetha.
This works fine for nee too using puppeteer instead of playwright.
Shortly explained:
1. Create a cypress plugin that uses puppeteer/ playwright or similar to start a second browser first
2. Do the whole the login stuff inside the plugin
3. pass through all session, localStorage data and cookies
4. take the data passed through the plugin

[2021-06-21 18:17] 08screasey commented on #17035
I will try, it is a private repo so it might not be easy to reproduce an example. It can crash even with around 400mb memory usage, but slowly climbs despite being frozen.
Weirdly enough it stops being an issue if I trigger any other api endpoint manually once the tests have been completed (ie Submitting a form). Then I am free to traverse the snapshots with no issues. I have replicated this on v6

[2021-06-21 18:20] gauravshah27 commented on #17022
@jennifer-shehane thanks for the response. I am not sure what you mean by ignore - as in like not look at it or like a programmatic way to ignore it - that will prevent it from printing it?

[2021-06-21 18:37] aturkewi commented on #8560
+1 here as well. This would be great to have.

[2021-06-21 19:53] #8364 closed

[2021-06-21 20:37] Vishwaas commented on #16705
Thank you all, we can close this.

[2021-06-21 20:37] #16705 closed

[2021-06-21 21:25] lucas-neves opened #17042 "Cannot visit my enterprise website"
### Current behavior

When I try to visit the website below, I get the following error on cypress, but the same website do not show console error visiting manually.

https://brc6imobpro.viverebrasil.com.br/imobiliariopfpp/#/painelparceiros/login

![image](https://user-images.githubusercontent.com/17414564/122829341-44366700-d2bd-11eb-8706-10a8b6049df6.png)

I googled it and found it might be an er

[2021-06-21 22:06] kaiyoma opened #17043 "Continually getting "element detached from the DOM" even after employing Cypress's suggestions"
### Current behavior
My test gets the dreaded "element detached from the DOM" error even after following the recommendations from Cypress.

### Test code to reproduce
[code]

As you can see, I've combined all my selectors into a single `get` command, I'm running an assertion afterwards, and I'm not saving the reference, so it should be valid. Still, this test fails in CI all the time with messages

[2021-06-21 22:28] alvipeo commented on #944
Or just use [Playwright](https://playwright.dev/).

[2021-06-22 00:25] Zach-Costa opened #17045 "Cypress erasing cookies during test when running on Chrome browser"
Recently, my org has made an overhaul to our SAML Identity Provider for internal users. Before now, we were using a hybrid of Auth0 and OneLogin to access our internal app, but we've now moved to a hybrid of Auth0 and Okta. Our specs have always logged in via the UI with no issues, and we were able to log in through our new system via UI without any problems. After a couple of weeks, however, our

[2021-06-22 00:50] robmint commented on #4026
See https://github.com/Lakitna/cypress-commands for a solution

[2021-06-22 01:04] bob-lee opened #17046 "How to use Cypress Component Testing in Amplify Console"
My project is hosted on AWS `amplify console` and I wrote some component tests using `@cypress/vue` and wonder if I can run `run-ct` command in there.

In `amplify.yml`, I tried to add `yarn cy:run-ct`:
[code]
which gives me an error `The cypress npm package is installed, but the Cypress binary is missing`.

Anyone managed to run-ct on Amplify console? Or is it not supported yet?

[2021-06-22 02:10] sainthkh commented on #17015
@flotwig @jennifer-shehane

The code or doc should be fixed.

[2021-06-22 03:15] Vishwaas commented on #17023
Moving from browserify-preprocessor to webpack-preprocessor solved the issue

[2021-06-22 03:17] Vishwaas opened #17047 "webpack-preprocessor disables sourcemap"
I am currently using webpack-preprocessor in my plugin.js

[code]
Even when i explicitly set the devtool option i do not see my test files sourcemap in browser.

[2021-06-22 03:21] twhoff opened #17048 "Stubbing ES modules (imports) does not work for component testing"
### Current behavior
using `cy.stub` on an ES module does not work as expected, see example code below:
[code]

[code]

Cypress 7.5.0

[2021-06-22 03:52] smcenlly commented on #5832
Any idea of if/when this might be available? We are investigating the best way to enable [Wallaby.js](https://wallabyjs.com/) for people using Cypress.

To provide its features, Wallaby needs to modify the resulting JavaScript code. Perhaps we are mistaken but our assumption is that many (if not most) projects will already have a preprocessor in place. Depending on the nature of the preprocessor w

[2021-06-22 04:15] kkallu1 commented on #944
@alvipeo
Hey , I was using playwright initially,  it was super fine tool , the tests which I write are really so stable,  but every one insisting me to use cypress--- that's were all these happened.

[2021-06-22 05:40] kkallu1 commented on #944
Thank You

[2021-06-22 05:52] abdullahsohailyaqoob commented on #17004
### Current behavior
When I try to run my test plan using cypress test runner, it took approx. 8 GB of RAM which is way more high to execute tests.
After 10 mins of run my memory shoot to 11GB. Mac don't allow to extend its RAM so I have to manage within 16GB
![image](https://user-images.githubusercontent.com/77953196/122870929-bc496f00-d347-11eb-8af2-6855b91517f1.png)

### Desired behavior
It sho

[2021-06-22 06:04] abdullahsohailyaqoob commented on #16968
Yes I also faced that issue when i wrote my code in MAC machine and zip it and unzip to windows machine and tried to run and got that issue

[2021-06-22 06:09] RKodandam opened #17049 "Whoops, we can't run your tests."
### Discussed in https://github.com/cypress-io/cypress/discussions/16989

<div type='discussions-op-text'>

<sup>Originally posted by **kod-raj** June 17, 2021</sup>
I have windows 10 and cypress: 7.4.0 and Firefox78.11.0

When I run tests in Chrome 91, Edge 91 and Electron 89 works as expected. But same test run in Firefox 78, received an error message "Whoops, we can't run your tests. This brows

[2021-06-22 06:32] pallavichaudhary opened #17050 "Cypress is not running."
- [ ] [#[](url)](

<img width="1440" alt="Screenshot 2021-06-22 at 11 49 30 AM" src="https://user-images.githubusercontent.com/50236717/122875256-a476e880-d351-11eb-9c42-aecfb7152043.png">

)

[2021-06-22 06:32] pallavichaudhary commented on #17050
This is the issue

[2021-06-22 07:07] sergio-everis opened #17052 "cy.wait(@alias) find all aliases but it doesn'tt continue the execution"
Hello everyone :),

### Current behavior
![image](https://user-images.githubusercontent.com/86286053/122879241-f9f2cb80-d338-11eb-93b8-983df5f687bb.png)

All those tags are marked as found if you hoover your mouse.

### Desired behavior
To continue after finding those aliases

### Versions

Cypress app 7.5.0 with Electron 89

Thanks.

[2021-06-22 08:24] alvipeo commented on #944
@kkallu1 use whatever 1) works, and 2) works for you. Do not listen to anyone, it's **your** time.

[2021-06-22 08:49] filiphric opened #17055 "intercept() sometimes parses request or response body as ArrayBuffer"
### Current behavior

Some intercepts don’t parse request or response body well, instead of JSON, it is parsed as ArrayBuffer.
![Screenshot 2021-06-22 at 10 47 49](https://user-images.githubusercontent.com/23213553/122894310-5f4db900-d347-11eb-8c7f-3f3722b54b79.png)

### Test code to reproduce
You can find the whole [code example here](https://github.com/filiphric/intercept-error). I was unable to

[2021-06-22 10:15] ashleymercer opened #17056 "cy.request does not send `Accept-Language` header"
### Current behavior
Using `cy.request` does not send the `Accept-Language` header in the request.

### Desired behavior
The `Accept-Language` header (and any other headers the browser would normally send) should be included for consistency with e.g. `cy.visit`

### Test code to reproduce
Echo out the request headers to console (since `cy.request` doesn't show up in the network tab of browser dev

[2021-06-22 11:50] kod-raj commented on #16897
@Sathish787  - Please let me also know if you come across any solution regarding firefox. Thank you

[2021-06-22 12:22] 08screasey commented on #17043
I am encountering the exact same issue on Cypress 7.1.0:
[code]
for command:
cy.getByData("expand-panel").click();

@kaiyoma which mode are you running in, open or run?
I am finding this to be a consistent issue every time I re-open a spec from the GUI, and if I refresh the tests from within the spec the issue disappears. I can't figure out a solution

[2021-06-22 12:24] Thimmaraju commented on #16883
npm i cypress-cucumber-preprocessor  run this again  and check ur package.json should have this dependency

[2021-06-22 13:38] #15447 closed

[2021-06-22 13:38] #16947 closed

[2021-06-22 14:41] #16933 closed

[2021-06-22 15:01] AlexDaniel commented on #944
For everyone following this, I feel your pain! https://github.com/cypress-io/cypress/issues/944#issuecomment-853129902 really gives hope, so while we're patiently waiting, here's a workaround that I'm using to write multi-domain e2e cypress tests today. Yes, it is horrible, but I hope you will forgive me my sins. Here are the four easy steps:

1. Given that you can only have one `cy.visit()` per `

[2021-06-22 15:10] flotwig commented on #17015
@sainthkh the validation is incorrect, `localhost` should be permitted here.

[2021-06-22 15:46] azerkail opened #17058 "Component testing: process.env is always empty within Vue component"
### Current behavior

This happens only when running Cypress for component testing with `cypress run-ct`.
The `process.env` of node is never populated within the Vue component.
I've tried doing all the different options available in the documentation [here](https://docs.cypress.io/guides/guides/environment-variables#Option-4-env).

Notice that in the example repository there is an environment vari

[2021-06-22 16:21] jennifer-shehane commented on #6261
We'll be putting in some time soon to dedicate on the design for the reporter's header that can accommodate the new functionality of filtering as well as the other purposes it serves today. Once we have a clear design, we will share it in this issue and any outside initiative to implement the design we propose will be welcomed then.

For now, we'd ask that any outside PR work be held off until we

[2021-06-22 16:34] s-herbert commented on #4605
need this right now. unnecessary retry happening on an expected 404

[2021-06-22 17:35] kaiyoma commented on #17043
I'm getting this with `cypress run` in our CI.

[2021-06-22 17:36] jennifer-shehane commented on #17058
@St1fle You've misspelled `NODE_ENV` in your component as `NOVE_ENV`. Can you try running again after fixing that?

<img width="577" alt="Screen Shot 2021-06-22 at 12 35 43 PM" src="https://user-images.githubusercontent.com/1271364/122973061-70ea8d00-d356-11eb-9b02-3dd9a7500566.png">

[2021-06-22 17:41] jennifer-shehane commented on #17055
I think this may be addressed in this issue, which will be fixed in our next release. https://github.com/cypress-io/cypress/issues/16292

[2021-06-22 17:42] jennifer-shehane commented on #17052
Can you provide a reproducible example? Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2021-06-22 17:44] jennifer-shehane commented on #17050
Hey @pallavichaudhary, it looks like the error is indicating an unexpected end of JSON input for your `package.json` file which is maybe referenced in your plugins file?

Try expanding the 'Stack Trace' in the error message.

Please provide the full plugins file + package.json referenced for further assistance.

[2021-06-22 17:50] jennifer-shehane commented on #17048
I'm getting Billy when I run this code. Could you provide a repo that reproduces the issue?

`cypress/integration/persons.js`

[code]

`cypress/integration/spec.js`

[code]

<img width="433" alt="Screen Shot 2021-06-22 at 12 49 25 PM" src="https://user-images.githubusercontent.com/1271364/122974753-4c8fb000-d358-11eb-90bf-7249584331bb.png">

[2021-06-22 17:52] pr447e opened #17059 "Unable to download Cypress during npm install or yarn install"
### Current behavior
[code]

### Debug logs

### Download method

- [.] npm
- [.] yarn
- [ ] Direct download
- [ ] other

### Operating System

- [ ] Linux
- [.] Mac
- [ ] Windows

### Other

- [ ] I'm installing latest Cypress version
- [ ] I'm behind a proxy
- [ ] This only occurs in CI

[2021-06-22 18:04] jennifer-shehane commented on #17045
Since you mention this used to work fine in Chrome, I would try to track down what changed between the working version and broken version. You may want to try running on different Chrome versions to see if something changed in a specific Chrome version.

Also make sure to check the DevTools for any warnings in Chrome - may be they are handling something differently.

There was an interesting case

[2021-06-22 18:06] jennifer-shehane commented on #17043
Duplicate of https://github.com/cypress-io/cypress/issues/7306

There's a long thread of suggestions in there - it'd be helpful to keep conversation focused in that issue. I understand not all workarounds work and we need a broader solution.

[2021-06-22 18:06] #17043 closed

[2021-06-22 18:14] jennifer-shehane commented on #17042
@lucas-neves By default Cypress modifies code it detects as frame busting so the application under test runs properly in the Cypress Test Runner (which runs your app inside an iframe itself). If you disable our modification by setting `modifyObstructiveCode=false` in your configuration - it seems to load. Further explanation can be found here: https://on.cypress.io/configuration#modifyObstructiveC

[2021-06-22 18:14] #17042 closed

[2021-06-22 18:18] jennifer-shehane commented on #17034
I'm not seeing this behavior when following the instructions above. There may be something else influencing the `baseUrl` being set that isn't immediately obvious. Could you provide a repo we could run / with instructions on what to run so we can see the issue? Thanks.

<img width="395" alt="Screen Shot 2021-06-22 at 1 17 26 PM" src="https://user-images.githubusercontent.com/1271364/122978620-5451

[2021-06-22 18:20] PeterJayCruz commented on #16865
@jennifer-shehane, thanks for looking into this! We discovered there to be an actual bug in our app, which we have now resolved, and our automated test is now passing in Cypress.

[2021-06-22 18:20] #16865 closed

[2021-06-22 18:21] jennifer-shehane commented on #17059
@pr447e I've typically seen this when losing internet / after switching internet sources. Some other people have seen this when they're behind a proxy - which requires configuration to run Cypress. The https://download.cypress.io/desktop/7.5.0?platform=darwin&arch=x64 url can't be reached for some reason essentially.

Is this consistently happening on every attempt to install?

[2021-06-22 18:35] SriQA1 commented on #16992
Can someone pls take a look at this.

[2021-06-22 18:45] Zach-Costa commented on #17045
The issue isn't related to the Chrome version, as this issue began after we migrated our system to Okta. Reverting my Chrome version doesn't impact the issue either, so it's definitely something to do with Cypress, Chrome, and Okta interacting weirdly. Chrome is not reporting any errors either, the cookie is just randomly disappearing.

The issue you linked describes some similar behaviour - But i

[2021-06-22 18:49] neil-r-b commented on #14566
For others who stumble across this issue, as I was suffering from the same exact problem. The suggestion to use `withinSubject:null` from @myselfsrjn4u does work although to add more color from the docs this does:
[code]

Which clued us in to the mistake we were doing in code - it is due to checking for the existence of the modal in a `within()` block. This has cypress searching the DOM from that

[2021-06-22 18:50] pr447e commented on #17059
Yes, I couldn't proceed further and I am using VPN.

[2021-06-22 19:10] St1fle commented on #17058
Thanks for spotting that out, I must've copied out the value incorrectly when making the example repo sorry about that.

Unfortunately this does not fix the issue I am seeing. I added a few more console logs to the example repo and I am seeing some really strange results. The component looks like this:

![image](https://user-images.githubusercontent.com/5892508/122984959-8206be80-d395-11eb-988d-01

[2021-06-22 19:23] kizylirio commented on #5920
Any idea about how bypass it?

[2021-06-22 20:00] kizylirio commented on #4823
@jennifer-shehane I want to implement the full capture of page when some failure happens.
(The documentation explains in this case, capture is always coerced to runner: https://docs.cypress.io/api/cypress-api/screenshot-api#Arguments)

So I thought something like that:

[code]

But I cannot call any cypress command from events, as you said.

How could I resolve it?

[2021-06-22 20:34] filiphric commented on #17055
Awesome, thanks. I’ll make sure to close the issue once the release is out 👍

[2021-06-22 20:43] lucasdonato opened #17065 "[Request] Cypress run not finding property that cypress open finds"
### Discussed in https://github.com/cypress-io/cypress/discussions/17064

<div type='discussions-op-text'>

<sup>Originally posted by **lucasdonato** June 22, 2021</sup>
Good afternoon everyone, I'm behaving strangely when running cypress through npx cypress run!
When I run npx cypress open I can access the property **this.currentTest.commands[0]**  on my afterEach function in my file support/inde

[2021-06-22 21:22] ashblox opened #17066 "Typings for cy.contains do not support includeShadowDom"
### Current behavior
I'm using Cypress with Typescript and while I can pass options to `cy.get()` with `includeShadowDom: true`, I cannot do so with `cy.contains()`. It appears the typings differ, where `cy.get()` allows a `Partial<Cypress.Shadow>` and `cy.contains()` does not. I have tried this using both Cypress v 6.8.0 and v 7.3.0.

Screenshot 1 (Works with `cy.get()`):

![cy-get works](https:/

[2021-06-22 23:06] Manuel-Suarez-Abascal commented on #2132
@jennifer-shehane I would like to work on this feature. It shouldn't be too hard & it's a good feature to add.

 I think it would be cool to have a button that shows up once we shrink the `test runner's sidebar` to a certain point(a width value to be determined?).

 This button will reset the `sidebar's width` to its original value(to be determined?) & disappears again afterward.

 I would like to

[2021-06-23 00:22] jhuanini opened #17067 "Got http error 302 upon login followed by the "whoops" page"
### Discussed in https://github.com/cypress-io/cypress/discussions/17061

<div type='discussions-op-text'>

<sup>Originally posted by **jhuanini** June 23, 2021</sup>
Tried logging in to our company's test site https://eclogin.cafe24.com/Shop/index.php (sorry but I cannot disclose the password)

describe('Login', () => {
    it('Login', () => {

        cy.visit('https://eclogin.cafe24.com/Shop/in

[2021-06-23 00:46] sainthkh commented on #17062
@flotwig As I said above, what if a user wants to return an empty `StaticResponse` object? By interpreting `{}` as `{body:{}}`, we cannot handle this use case. And it might be a breaking change.

I agree this behavior is a bit inconsistent, but it seems that we don't have other options.