[2022-11-08 17:02] briggsge opened #24597 "Cypress Cannot Determine Configuration of Project or Run Tests for Vite React Yarn (pnp)"
### Current behavior

- Cypress cannot detect dependencies for react, react-dom, or vite
- - Cypress has a separate issue with Yarn Zero-Installs where installed dependencies are not detected by Cypress
- - this is due to yarn Zero-Installs not requiring a package-lock.json or a node_modules directory and is resolved by running npm it but should be handled by cypress searching .yarn/cache as a def

[2022-11-08 17:50] liambutler commented on #20468
Cypress' recommendation for minimum CPUs is 2, but then if you want video recording you should add in a third CPU.

Unfortunately, that exceeds the default GitHub Action runners' specs:
<img width="499" alt="Screenshot 2022-10-17 at 11 41 43" src="https://user-images.githubusercontent.com/24389501/200638328-056ffb2c-ba2f-4887-8551-f352fb9f02f1.png">
([source](https://docs.cypress.io/guides/getting

[2022-11-08 18:04] mschile commented on #24482
Unfortunately we have to close this request due to inactivity. Please comment if there is new information to provide concerning the original request and we can reopen.

[2022-11-08 18:04] #24482 closed, assigned to mschile

[2022-11-08 19:23] HallOfSame commented on #1680
Running in to this issue in v10.7 and 10.11 as well.

From what I can tell it requires both:
- Manually setting `port` in the configuration
- Setting the `baseUrl` inside of `setupNodeEvents`

Example configuration file:

[code]

Full minimal reproduction in this repo here: https://github.com/HallOfSame/CypressBaseUrlBug

The error is thrown from the `configure` method in `packages/driver/src/cypr

[2022-11-08 19:26] nagash77 commented on #24562
Hi @zbigniewkalinowski I noticed your error message references input.jss153 where as your screenshot of your html shows class=jss128.  Is that perhaps related?

[2022-11-08 19:44] chrisbreiding opened #24600 "Flaky test: driver navigation tests in webkit"
### Link to dashboard or CircleCI failure

https://app.circleci.com/pipelines/github/cypress-io/cypress/45549/workflows/960f7cf0-f6cf-4a2a-9624-191c43802021/jobs/1913966

### Link to failing test in GitHub

[This test](https://github.com/cypress-io/cypress/blob/18865644090458b850b0cab1fc3c93a86526fe89/packages/driver/cypress/e2e/commands/navigation.cy.js#L756) and others in the same file.

### Ana

[2022-11-08 20:23] felixpro opened #24602 "Cypress login fail randomly"
### Current behavior

When running Cypress using the cypress open or run command. The first test always passes, but one or two of the next tests randomly fails. And what happens it's that cypress It's logging correctly but In some tests, instead of redirecting to the home page, it stays completely frozen on the login page.

When I run the tests I waited for it to fail and then I stopped the test a

[2022-11-08 20:28] egucciar commented on #24171
Experiencing this issue in the cypress experimental studio without me having scrolled at all. Just open a new studio, pick a spec, and it does not scroll :(

Editted to add gif

![2022-11-08 15-29-55 2022-11-08 15_31_51](https://user-images.githubusercontent.com/2848185/200669263-bfb5ed10-4095-4f67-a060-4875b26b4756.gif)

[2022-11-08 20:39] brettz9 commented on #16467
Yes, seems to be working now, thanks, so closing.

[2022-11-08 20:39] #16467 closed

[2022-11-08 20:55] flotwig commented on #23203
In 12.0.0 this test is invalidated by the removal of XHR monkey-patching in #24411, so I'm closing this since we won't do any work in this area between now and then.

[2022-11-08 20:55] #23203 closed

[2022-11-08 20:55] flotwig commented on #23250
In 12.0.0 this test is invalidated by the removal of XHR monkey-patching in #24411, so I'm closing this since we won't do any work in this area between now and then.

[2022-11-08 20:55] #23250 closed

[2022-11-08 21:00] baus commented on #24386
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24386?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-08 21:33] ZachJW34 commented on #24441
This should be internal right? Should the issue be updated to include "Only show new tab in local dev"?

[2022-11-08 21:34] mjhenkes opened #24605 "cy.intercept does not return the response body when the status is a 304"
### Current behavior

If an intercepted request receives a 304 the body is returned as an empty string.

### Desired behavior

The intercepted request should return as the cached response.

There is currently a work around documented here: https://github.com/cypress-io/cypress/issues/14277#issuecomment-750455298

1. We could fix this in two ways. Internalize the work around. If a response that mat

[2022-11-08 22:00] ryanthemanuel commented on #24561
Thanks for opening this issue @NabeelFz. `UNKNOWN: unknown error, watch` appears to be an issue with chokidar, which is what we use to track on file changes in your project. After looking around a bit, it seems like there can be issues on Windows with using chokidar on network drives or non-C: drives. Can you verify what the path is to your project?

[2022-11-08 22:10] ryanthemanuel commented on #24574
Thanks for opening this issue @jraigosaOC. Is there any way you could share the contents of the `cypress.config.js` file that you are using? Even if you need to redact anything that shouldn't be shared publicly?

[2022-11-08 22:33] richardeschloss commented on #7251
For me, I'm able to download cypress, it hangs on the linking step:

[2022-11-08 22:43] jraigosaOC commented on #24574
Thanks for the response @ryanthemanuel    Yes I can:

So I pared it down to just what the Cypress 10 migration UI generated, plus baseUrl for developing on local

const { defineConfig } = require('cypress')

module.exports = defineConfig({
  e2e: {
    baseUrl: 'https://focusfire.local.opcity.com'
  }

[2022-11-08 22:45] jraigosaOC commented on #24574
Initially I had copied some values from cypress.json. I could post those, but I get the same error w the config file above.  It seems to be expecting json from the error.

[2022-11-08 22:58] MohanVallivedu commented on #24513
Sorry, I think I misunderstood our use case. We were doing the same process as you mentioned like from 2 years. Run file, run eslint on it, report if any errors, return preprocessor transpiled file. And at some point, we've updated our codebase(with webpack and plugins stuff), so we no longer need it now, and I misunderstood it.
Thank you for your responses :)

[2022-11-08 22:59] flotwig commented on #23580
Related: #7942

For now, the `automation.use` invocation in `firefox-util.ts` can be updated to pass `remote:debugger:protocol` commands to the FF CDP client, since we already connect to it.

[2022-11-08 23:09] ryanthemanuel commented on #24582
Thanks for opening this issue @Moumouls. I can verify that trying to trash the existing run results currently does not work on an M1. This is because the `trash` dependency did not update to be compatible with M1s until [8.1.0](https://github.com/sindresorhus/trash/commit/2bb981f8b4392186ee56d847864e715774de2218) and we are on 5.2.0. I will route this to the appropriate team to fix.

Incidentally,

[2022-11-08 23:16] lmiller1990 commented on #24513
Sounds like everything is okay -- any action needed here, or can we close?

Good discussion, I think this will be useful for other people learning about the Cypress events, etc.

[2022-11-08 23:29] lmiller1990 commented on #24440
I'm adding a bit of buffer to my vote. The way we currently test GraphQL calls is a bit messy, confusing and doesn't give me much confidence. I'd like to see some thought put into how we can effectively test and develop around the App <> Cloud seam. I also think testing for reviewers is going to be somewhat time consuming, so that's also included in my vote.

[2022-11-08 23:35] MohanVallivedu commented on #24513
Yes, we can close it. it's a good discussion. Thank you!

[2022-11-09 00:17] bahmutov commented on #20101
Never had this issue with Cypress v9. For Cypress v10, v11 it pretty much happens every time I exit on Mac. Full crash details

[code]

[2022-11-09 01:02] marktnoonan commented on #24562
Just a note, @zbigniewkalinowski - first thanks for this report!

I was able to assert `should('be.disabled')` with correct results on an `input` with type `checkbox` in an isolated test.  Could you created an isolated example that you can share where we can reproduce this on our end?

[2022-11-09 02:59] jiadesen opened #24607 "11.0.0 `cypress run` -> `Error: Cannot find module 'mocha-7.0.1'`"
### Current behavior

When I upgraded to 11.0.0, I ran `cypress run` as usual, and I got an error `Error: Cannot find module 'mocha-7.0.1'`

### Desired behavior

_No response_

### Test code to reproduce

const { defineConfig } = require('cypress')

module.exports = defineConfig({
  reporter: 'mochawesome',
  reporterOptions: {
    reportDir: 'cypress/results',
    overwrite: false,
    html: fal

[2022-11-09 03:19] jiadesen commented on #24607
Installing `mocha-7.0.1` still reports this error

[2022-11-09 03:50] kaiyoma opened #24608 "Newer versions of Cypress have an ugly fixed-width font in the sidebar"
### Current behavior

Sometime in the last few months, there was a change to the fonts and now there's an ugly (and wide) fixed-width font in the sidebar:

![image](https://user-images.githubusercontent.com/10719780/200733945-f530cea9-46bb-4486-b2e5-d3ecf9ee2597.png)

### Desired behavior

Cypress should use a nicer-looking font.

### Test code to reproduce

Run any test in a browser.

### Cypress

[2022-11-09 06:17] lmiller1990 commented on #23524
It's GA now.

[2022-11-09 06:17] #23524 closed

[2022-11-09 06:18] lmiller1990 commented on #24608
Do you see any failed network requests in the network tab? I wonder if the font is not getting loaded or is blocked for some reason. I am on windows, too, but it doesn't look like that for me.

[2022-11-09 06:34] shashi123664 commented on #24555
@nagash77 When I am running my scripts using cypress dashboard my scripts are running perfectly in headless mode. But when I am opening the cypress runner and trying to run any script locally , cypress runner is crashing its not responding . I am not able to run a single script locally .Please see the attached screenshot.
I tried to clear the cache , used different versions but still no luck . Ear

[2022-11-09 06:45] qa-joerg commented on #22451
Having the same issue on 10.0.0 < 10.3.0. This happens randomly during the test run. Please provide a fix for this issue

[2022-11-09 06:48] qa-joerg commented on #19932
Any news on this?

[2022-11-09 08:02] stokrattt commented on #24497
i have the same issue

[2022-11-09 10:03] psadi opened #24609 "webkit support in docker image"
### What would you like?

Support for webkit & its dependencies baked into the the existing docker  image

### Why is this needed?

To have webkit support, This is useful for my use case as my org network doesn't connect to playwright's cdn

### Other

_No response_

[2022-11-09 10:12] CypressBeginer05 commented on #24578
Thank you @lmiller1990 , issue is resolved now. Yes my code was correct. I just created again a new cypress typescript project and then it worked without any issue. Earlier I had created only cypress project and then added manually ts files and typescript.

[2022-11-09 10:12] #24578 closed, assigned to lmiller1990

[2022-11-09 10:25] Moumouls commented on #24582
thanks, @ryanthemanuel  for the update, following the Cypress release policy, and typical process do you have an ETA in mind?

I really don't know OSS Cypress processes in these cases 🙂

[2022-11-09 10:39] GeorgeXCV opened #24610 "Cypress can't run tests using big forEach loop, Chrome crashes and other browsers stuck on "tests loading""
### Current behavior

I have a big JSON file (1000 entries). I have a test within a forEach loop of the JSON file. If I only have a few entries in the JSON file the test runs without issue. But with all the entries the test doesn't even start due to the error: "We detected that the Chromium Renderer process just crashed.".  If I switch to Firefox it doesn't crash but remains stuck on "Tests are lo

[2022-11-09 10:56] kryshenp commented on #24607
we also have the same issue after cypress updated to 11.0.0.
Our configuration is the same as mentioned in the description.

[2022-11-09 11:00] nordp commented on #8843
@jennifer-shehane This is something that heavily affects debugability of cypress tests on apps that use shadow DOMs. Testing works fine, but debugging or developing tests is a lot more difficult when the snapshot feature is not useable.

[2022-11-09 11:14] nicolasalt commented on #3665
`you can just use cypress open` this is not always easily possible, for example when running Cypress in a container and/or in WSL.
`cypress run` works pretty nicely otherwise, the user can connect from a local browser to the Chrome remote debugging port and see the tests in action, without having to install anything on the host machine.

[2022-11-09 11:52] kimberley2310 commented on #24607
Same issue here, we didn't change anything in our configuration.
The pipeline started our cypress run for the first time with version 11 and we have the same error.

Locally I was still on version 10 of cypress -> no problems there
Updated locally to version 11 -> same problem

We use 'cypress-multi-reports':
[code]

[2022-11-09 12:11] jennifer-shehane commented on #24610
Which version of Chrome are you using?

[2022-11-09 12:12] stychu opened #24611 "Cypress `v11.0.0` Broken with `experimentalSessionAndOrigin: true`"
### Current behavior

I wanted to upgrade to cypress `v11` from `v10.4.0`. After bumping the version Cypress is broken.
Figuring out whats wrong I found that the `experimentalSessionAndOrigin: true` leads to this error which prevents cypress from running the tests

When I disable `experimentalSessionAndOrigin` tests seem to work but obviously don't pass as I use session and origin

[code]

### exp

[2022-11-09 12:13] onur9779 opened #24612 "Request to wrong URL"
### Current behavior

I am now writing e2e test for a login page. I basically used get.type and get.click but when cypress clicks the submit button it sends the request to wrong URL. URL path is being changed. It is normally .../Gateway/api/Authentication/Login but it changes "Gateaway" with "Null". Like I said I don't send request by using .request(), I just use .click() and watch it by devtools.

[2022-11-09 12:19] stychu commented on #24612
I highly recommend going through `best practices` docs https://docs.cypress.io/guides/references/best-practices#Creating-tiny-tests-with-a-single-assertion

Instead of this
[code]

 try this

[code]

or this

[code]

[2022-11-09 12:36] onur9779 commented on #24612
It solved the problem thank you but do you know why this happens?

[2022-11-09 12:42] baus commented on #24515
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24515?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 12:45] #24612 closed, assigned to nobody

[2022-11-09 12:46] GeorgeXCV commented on #24610
Version 107.0.5304.87

[2022-11-09 12:56] psadi opened #24613 "CI with Jenkins doesn't work as expected"
### Current behavior

**package.json**
[code]

**command ran:**
[code]

**Error Log:**

[code]

### Desired behavior

_No response_

### Test code to reproduce

n/a

### Cypress Version

10.11.0

### Node version

16.16.0

### Operating System

linux-x64 (Debian - 11.4)

### Debug Logs

[code]

### Other

_No response_

[2022-11-09 13:49] warrensplayer commented on #24441
@ZachJW34 I am adding a note to the IATR M0 issues to indicate that these will be held in a feature branch and not released

[2022-11-09 14:17] liambutler commented on #24595
Same issue when `videoCompression` is set to `false`:

![Screenshot 2022-11-09 at 15 16 20](https://user-images.githubusercontent.com/24389501/200853772-7a7a8883-1914-4ac3-a4ed-cd807b86aa93.png)

[2022-11-09 14:20] baus commented on #24467
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24467?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 14:20] baus commented on #24468
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24468?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 14:20] baus commented on #24469
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24469?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 14:20] baus commented on #24548
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24548?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 14:23] amehta265 commented on #24487
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-09 14:23] #24487 closed, assigned to amehta265

[2022-11-09 14:28] aliaksei-liauchuk-incountry commented on #24607
I have same issue

[2022-11-09 14:29] emilyrohrbough commented on #24607
We are actively investigating the issue.

[2022-11-09 14:29] amehta265 commented on #24406
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.
We have a [Cypress Discord server](https://on.cypress.io/chat) that could help you with this matter. Unfortunately I have done everything o

[2022-11-09 14:29] #24406 closed, assigned to nobody

[2022-11-09 14:29] #24169 closed, assigned to mjhenkes

[2022-11-09 14:31] emilyrohrbough commented on #24611
We are actively investigating.

[2022-11-09 14:34] AtofStryker commented on #23661
@conversaShawn I think this issue was fixed with #24243. I think we just missed this issue for tagging for release in the change log, but should be resolved in [10.11.0](https://docs.cypress.io/guides/references/changelog#10-11-0). I'm going to close this since I strongly believe it is fixed but if you still see something on your end we should reopen it.

https://user-images.githubusercontent.com/

[2022-11-09 14:34] #23661 closed

[2022-11-09 14:36] #24497 closed, assigned to emilyrohrbough

[2022-11-09 14:39] LinF001 opened #24616 "Unable to find cypress-multi-reporters"
### Current behavior

Error loading the reporter: cypress-multi-reporters

this is my `cypress.config.js` look like

module.exports = defineConfig({
  projectId: 'pxk123',
  screenshotOnRunFailure: true,
  video: false,
  chromeWebSecurity: false,
  viewportWidth: 1024,
  viewportHeight: 768,
  reporter: 'cypress-multi-reporters',
  reporterOptions: {
    configFile: 'reporter-config.js',
  }
})

[2022-11-09 14:45] marktnoonan commented on #24431
Hi, I'm curious about this line:

`cy.get('#wrapper-pdf-page-1').trigger('onmouseover')`

Shouldn't that be `trigger('mouseover')`?

I think the testing strategy here will depend on how tailwind implements the group hover, if it's a CSS-only solution depending on `:hover` CSS state, triggering the JS mouse events may not create the actual hover state that Tailwind is looking for. If that's the sou

[2022-11-09 14:49] LinF001 commented on #24607
The Same issue for me.

[2022-11-09 14:52] LinF001 commented on #24616
someone already posted. https://github.com/cypress-io/cypress/issues/24607

[2022-11-09 14:52] #24616 closed, assigned to nobody

[2022-11-09 15:04] liambutler commented on #23830
And it's the same on Cypress 11.0.0. Reverting back to 10.7.0 led to videos that were still choppy, but were at least watchable

Edit- adding additional context because OP (@fdc-viktor-luft) expressed confusion. Another symptom of poor performance in can be seen in the video recordings. As well as tests running more slowly, you will see skipped frames/hanging in the video output. Whatever changes

[2022-11-09 15:07] jaime1702 opened #24617 "toast-container component is not displayed in Cypress Version => 10.10.0"
### Current behavior

since version 10.10.0 the toast-container component is not displayed in Cypress controlled browser (Chrome, Electron,Firefox, Edge).
![image](https://user-images.githubusercontent.com/61567212/200859578-1a3a0f47-2cb7-44fd-8a2c-572a82fc1d81.png)
![image](https://user-images.githubusercontent.com/61567212/200859754-4bc19c3e-0bba-47e6-a26b-189440216d47.png)
![image](https://user

[2022-11-09 15:26] iamsellek commented on #23141
Just wanted to report that I'm seeing this, as well! Here's my config file. If I get rid of the `on` function, the error goes away. Since this is the case, I'm wondering if it has something to do with the fact that this code is running in the `node` environment before Cypress loads all its stuff?

[code]

Edit: Strike that. It seems to be the use of `fetch`, which is imported, that's causing the i

[2022-11-09 15:33] maslowivan commented on #24607
same

[2022-11-09 16:17] xometa commented on #24607
Same issue

[2022-11-09 16:27] mrkjdy commented on #22459
Just checked on Cypress 11:
<img width="443" alt="image" src="https://user-images.githubusercontent.com/32761859/200885139-23977ac6-e439-496b-b2b5-995cb0c4a024.png">

Maybe it has something to do with the "new url" events? I also updated the example repo, needed to switch the file preprocessor to `@bahmutov/cypress-esbuild-preprocessor` as the default webpack preprocessor is not working (https://g

[2022-11-09 17:19] kodriscollics opened #24620 "The Cypress Dashboard scrolls out of view when tests startup"
### Current behavior

After I bring up the Cypress dashboard and click on one of the file specs to run, the test launches just fine, as shown in this first picture (CypressDashboardIssue-0.PNG):

![CypressDashboardIssue-0](https://user-images.githubusercontent.com/75755773/200893697-e2af6845-0187-49f7-8719-7345d14b610b.PNG)

However, shortly into the test (it appears at the first "get" statement)

[2022-11-09 17:20] flotwig commented on #24566
Firefox 101 has beta support for v3: https://extensionworkshop.com/documentation/develop/manifest-v3-migration-guide/

Unless we want to bump the minimum FF version (and possibly Chrome version, can't find good info on the first version of Cr that supported v3), we'll have to maintain a v2 as well.

[2022-11-09 17:22] kaiyoma commented on #24608
No failed network requests. When I inspect the styles, I can see that `ui-monospace` is actually the first font-family being specified, so this seems like a legitimate issue with the Cypress styles:

![image](https://user-images.githubusercontent.com/10719780/200898207-06bb0460-a026-4b9f-9e9c-e91753876548.png)

[2022-11-09 17:23] flotwig commented on #15932
I can no longer reproduce this in the latest version of Cypress (Electron 21.0.0). @lmiller1990 are you able to reproduce?

[2022-11-09 17:29] #24384 closed

[2022-11-09 17:44] atmullan commented on #24607
Similar issue only it was modules related to babel which I don't use, tried various npm solutions. Downgrading cypress to previous version was only solution.

[2022-11-09 17:48] mschile opened #24621 "video compression taking longer in webkit"
After removing the `experimentalSessionAndOrigin` flag, the following test started to fail:

https://github.com/cypress-io/cypress/blob/d7e148f8cde4f74300bec3a3e2fa55ed3139d6fd/system-tests/test/video_compression_spec.js#L74

We need to investigate the cause and remove the TODO.

[2022-11-09 18:09] Zehava123 commented on #23640
@rodriguesgio ,
can you add more details what exactly you did?
which application did you add to Connected App configuration- Cypress application?
thanks,
Zehava

[2022-11-09 18:14] mschile commented on #23830
@danielvianna, do you still see the same performance issues if you upgrade to Cypress 10.7? If so, could you log a separate issue since I don't want it to get conflated with users that are seeing performance issues going from 10.7 to 10.8+.

[2022-11-09 19:08] mschile commented on #24002
The code for this is done in [cypress-io/cypress#24340](https://github.com/cypress-io/cypress/pull/24340), but has yet to be released.
We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2022-11-09 19:08] #24002 closed, assigned to mschile

[2022-11-09 19:16] Maxim0912 commented on #21097
I think response.body is a string and needs to be converted (JSON.parse(res.body)). I had a similar problem

[2022-11-09 19:31] lmiller1990 commented on #24468
I voted, but I think we should reconsider the design of this feature.

I think this is overly complex for an initial implementation and going to muddy the goal of getting something useful in the hands of users.  A cheaper and more discoverable alternative would be to just place a single button at the top under the spec filter that runs everything that's filtered. If they want a sub directory, they

[2022-11-09 19:32] vijaykumar59694 opened #24622 "Origin header is not getting passed while visiting the website using cypress"
### Current behavior

My Widgets in the website are not loading while trying to visit the site using cypress automation and it's showing 500 error response code. But I can see my website is loading successfully with all the widgets when I visit manually. I observed that origin header is missing while visiting the site using cypress.

I tried changing the websecurity in the cypress.config file to '

[2022-11-09 19:38] lmiller1990 commented on #24469
What is the deliverable? Or is this just an epic for tracking? It's not clear what we are estimating.

[2022-11-09 19:39] zaalgol opened #24624 "When running a cypress test, I only see the running browser, not the details in the left"
### Current behavior

after normal working with cypress for a few days, suddenly when running a test, it runs, but only shows the visualized browsing part, not the left side of the textual description (VISIT, GET, FIND, failures of asserts, etc), so I can't see the steps, and not if a test failed.

I added a screenshot of the expected view, as I only have the left side of it.

### Desired behavior

[2022-11-09 19:39] shunyun-bp opened #24625 "Webpack error after upgrade to 11.0"
### Current behavior

After installing Cypress version 11.0.0 all tests fail with the same error:
`Error: Webpack Compilation Error
./cypress/e2e/home_page.cy.js
Module build failed (from /Users/seanonion/Library/Caches/Cypress/11.0.0/Cypress.app/Contents/Resources/app/packages/server/node_modules/@cypress/webpack-preprocessor/dist/lib/cross-origin-callback-loader.js):
Error: Cannot find module '/

[2022-11-09 19:39] shunyun-bp commented on #24625
[cypress 11 debug.txt](https://github.com/cypress-io/cypress/files/9974578/cypress.11.debug.txt)

[2022-11-09 19:41] lmiller1990 commented on #24467
Posted similar thoughts here: https://github.com/cypress-io/cypress/issues/24468#issuecomment-1309257898

I went ahead and estimated, but I don't like the fact you need to hover too much. What's the reasoning here? I miss having a "Run N specs button". Is there any room for feedback or discussion here?

Also, if I type a filter and hit enter on my keyboard, should that run all the filtered specs?

[2022-11-09 19:51] nagash77 commented on #24624
Hi @zaalgol , I am sorry to hear you are having issues.  I see you are using a very old version of Cypress.  Can you try upgrading to the latest and see if the issue persists?

[2022-11-09 20:04] warrensplayer opened #24626 "[Spike] Define guidelines for artifacts and timelines around product to engineering handoff"
### What would you like?

To document the process for the CT team leading up to new development work being ready to be assigned to a sprint.

This includes:
- deliverables required
  - milestone definitions
  - functional requirements
  - UI wireframes
  - hi-fi designs
- timeline for each phase before a sprint kick-off

The deliverable for this sprint will be a PR to the [SCRUM.md](https://github

[2022-11-09 20:22] amehta265 commented on #24467
When you filter you would be able to `run N specs` depending on the folder structure that results from your search.
So in this example you could run the two specs that show up. In a more complicated case, if your search results yields say 3 distinct folders then you could `run N specs` for your intended folder
<img width="1755" alt="Screenshot 2022-11-09 at 3 19 19 PM" src="https://user-images.git

[2022-11-09 20:22] marktnoonan commented on #24469
@lmiller1990 this is the non-ui part of the work, the code from 9.x that will be called to actually combine the spec files and run them.

[2022-11-09 20:25] marktnoonan commented on #24467
I do like the suggestion of running all with a keyboard shortcut, though I think "enter" might be a bit unexpected, people may intuitively and harmlessly hit "enter" to "submit" the search. We could get around that with a little message "Hit enter to run all matching specs". That would be slick.

[2022-11-09 20:25] zaalgol commented on #24624
Hi @nagash77,

I upgraded the version, and the bug was fixed.

Thanks!

[2022-11-09 20:25] #24624 closed, assigned to nagash77

[2022-11-09 20:28] BlueWinds commented on #23901
Merged into feature branch; closing.

[2022-11-09 20:28] #23901 closed, assigned to BlueWinds

[2022-11-09 20:31] chris-mclennan commented on #24625
I too am getting the same error message

[2022-11-09 20:45] marktnoonan commented on #24177
Hi, I am a late joiner to this issue. It sounds like:

- this is only a problem when using Cypress in open mode
- based on the default behavior of a browser when the tab has focus or not when a button click or focus event happens
- the failures you mention happen when screenshots no longer match due to the border not being applied if you have focused an app other than cypress

You could find a css

[2022-11-09 20:47] baus commented on #24532
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24532?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 20:48] baus commented on #24472
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24472?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-11-09 20:49] #23875 closed, assigned to baus

[2022-11-09 20:49] #24212 closed, assigned to nobody

[2022-11-09 20:50] astone123 commented on #24515
I'm not sure that this is the ticket we want. Once the tech brief is complete I think we should create multiple implementation issues to complete the feature.

[2022-11-09 20:56] bennymeade commented on #24625
Duplicate of https://github.com/cypress-io/cypress/issues/24611

[2022-11-09 21:02] rodriguesgio commented on #21162
@alexniculae @davidmunechika I'm having this issue on Firefox 100, any update/workaround?

[2022-11-09 21:04] vijaykumar59694 commented on #24622
Normal login code without using  origin functionality:
it('Login', () => {
    	cy.visit('https://esolution-citizenportal2.dev.esolg.ca');
        cy.visit('/login');
        cy.get('#email').clear().type('VijayKumar.Chinthalapudi@ghd.com');
        cy.get('#password').clear().type('Amstrong@66');
        cy.get('#next').click();

  })

[2022-11-09 21:05] vijaykumar59694 commented on #24622
code after adding origin function to pass the missing origin parameters
describe('Adding a single property', () => {

  it('T02 - check login credentials', () => {

    const sentArgs = { username: 'VijayKumar.Chinthalapudi@ghd.com', password: 'Amstrong@66' }
    cy.origin('https://esolution-citizenportal2.dev.esolg.ca',

      { args: sentArgs },

      ({ username, password }) => {
        conso

[2022-11-09 21:35] whydoievenneedthis opened #24629 "Create a first class API to explicitly define the type of response"
### Current behavior

I am making a JSONP call. The point is that I want to include some trusted thrid-party javascript to my site, and have it evald.

Assuming I would want to get jquery dynamically pulled in on production, while in the test I want to do some magic instead, I would create a `jquery.js` file in the `fixtures` directory and do:
[code]

This however results in the well-known error:

[2022-11-09 21:56] baus commented on #24469
Just FYI this for E2E only

[2022-11-09 21:58] baus commented on #24548
Add docs PR

[2022-11-09 22:06] hilmanski commented on #24431
thanks @marktnoonan
will explore your answer

[2022-11-09 22:11] JoaqPareja commented on #7083
Heyy just tried this just throw me the following error:
![9](https://user-images.githubusercontent.com/80791761/200952952-f63d49cd-5b0b-447e-886a-ab805531e742.JPG)

[2022-11-09 23:49] ryanthemanuel commented on #24607
@atmullan, that issue sounds like https://github.com/cypress-io/cypress/issues/24611. Both of these will be fixed with #24630.

[2022-11-09 23:50] ryanthemanuel commented on #24625
This is a duplicate of #24611 and will be fixed with https://github.com/cypress-io/cypress/pull/24630

[2022-11-09 23:51] #24625 closed, assigned to marktnoonan

[2022-11-10 00:55] jvavre opened #24633 "Webpack error after Cypress 11.0.0 upgrade"
### Current behavior

Node: v16.14.2
NPM: 8.5.0

No component testing in the automation suite, running with no issues on 10.11.0

Dependencies (package.json):

[code]

### Other

Please, let me know if I should provide any more details, this is my first reported issue. Thanks!

[2022-11-10 01:09] tracyzhang-stn opened #24634 "Add native mobile device browser support"
### What would you like?

I would like Cypress to add native mobile device browser support.

Thanks!

Tracy Zhang from STN Video

### Why is this needed?

Nowadays, more and more people are using mobile web browser to watch video , search content and read news, even shopping. And running testing and automation on native mobile device browser is becoming more and more important now.

Currently Cypr

[2022-11-10 02:02] speg commented on #24141
It was the subject of what seemed like half the talks at VueConf Toronto! I just got home and was excited to try everything out.. Cypress, TypeScript, Vue3, Nuxt3, Veutify3, it's going to be amazing!

Now I've run into a wall of issues trying to run tests. Seems like Nuxt3 isn't set up out of the box to run any. Gotta wrap my head around Vitest and Cypress to try and point them in the correct dire

[2022-11-10 02:43] #24607 closed, assigned to nobody

[2022-11-10 02:43] #24611 closed, assigned to nobody

[2022-11-10 02:47] lmiller1990 commented on #24141
I'm having a similar issue in Vue Jest: https://github.com/vuejs/vue-jest/issues/430

Now Nuxt is (finally) a stable 3.0.0 release, we can look at supportig it... we started discussing with Nuxt team a while ago but the API was unstable, but maybe it's more stable now: https://github.com/nuxt/nuxt.js/issues/14534

Related:
- https://github.com/nuxt/nuxt.js/issues/14972
- https://github.com/nuxt/nu

[2022-11-10 02:53] danielvianna commented on #23830
@mschile we had some tests stabilized since version 8.3.1
Then we jumped into the last 2/3 months to 9.7.0 then 10.10

We never tested the version 10.7, but we tried what AtofStryker said (upgrade Node) and it got slower
It looks like someone else is now responsible for the ticket? ryanthemanuel ?

We can show the issue via MS teams. I have one person full time just trying to fix these same tests

[2022-11-10 02:58] ryanthemanuel commented on #24582
@Moumouls we are still in the process of prioritizing this issue so we do not currently have an ETA. We prioritize issues we work on based on a variety of factors - including the number of users requesting/helped by a feature.

[2022-11-10 03:01] lmiller1990 commented on #24472
Can someone with more knowledge on ACI elaborate a little more on the technical requirements? I am not entirely sure how to weigh this one.

[2022-11-10 03:07] #24513 closed, assigned to lmiller1990

[2022-11-10 03:47] ryanthemanuel commented on #24633
This was fixed with this PR: https://github.com/cypress-io/cypress/pull/24630 and will be released on 11.0.1

[2022-11-10 03:50] fappaz commented on #24633
I'm having the same issue after updating Cypress v10 to v11 on a Windows 10 PC. It also happens in headless mode.

[code]

[2022-11-10 04:08] jasondavis87 commented on #22273
I'm not sure if i'm doing this right but using @rachelruderman post:

I have 2 tsconfig.json files. One in the root of my project and one in the ```/cypress``` folder. I added baseUrl to the one in the root folder and the error goes away. the tsconfig.json in the cypress folder is just as the documentation said it should be:

## /tsconfig.json
[code]

## /cypress/tsconfig.json
[code]

Hope This he

[2022-11-10 04:26] mjhenkes commented on #24611
Released in [11.0.1](https://on.cypress.io/changelog#11-0-1).

This comment thread has been locked. If you are still experiencing this issue after upgrading to
Cypress v11.0.1, please open a new issue.

[2022-11-10 04:26] mjhenkes commented on #24169
Released in [11.0.1](https://on.cypress.io/changelog#11-0-1).

This comment thread has been locked. If you are still experiencing this issue after upgrading to
Cypress v11.0.1, please open a new issue.

[2022-11-10 04:27] mjhenkes commented on #24497
Released in [11.0.1](https://on.cypress.io/changelog#11-0-1).

This comment thread has been locked. If you are still experiencing this issue after upgrading to
Cypress v11.0.1, please open a new issue.

[2022-11-10 04:27] mjhenkes commented on #24607
Released in [11.0.1](https://on.cypress.io/changelog#11-0-1).

This comment thread has been locked. If you are still experiencing this issue after upgrading to
Cypress v11.0.1, please open a new issue.

[2022-11-10 06:18] blessanm86 commented on #23479
Hi @jordanpowell88 , I just faced the same issue but I'm using react+react-query+axios.
Ur fix worked, I added a prefix like `https://dummy.com`.

But I'm not sure why the `304` and why intercept doesn't work without a prefix?

I actually didnt understand this line `but Angular is treating this like a route change which is why it's returning a 304.`. I assume its the same issue in react. I just do

[2022-11-10 07:13] shwarcu commented on #23580
I will take a look and try to contribute if I don't leave my place for the weekend

[2022-11-10 07:26] iamsraja commented on #19236
A workaround that worked for us is to,

1. Create `.browserslistrc` in the cypress directory.
2. In `cypress.config.(js|ts)`, Override BROWSERSLIST_CONFIG environment mapped to custom `.browserslistrc`

`process.env.BROWSERSLIST_CONFIG = path.resolve("./", "cypress/.browserslistrc")`

[2022-11-10 08:19] derkoe opened #24636 "Click is not handled in Clarity data grid filter"
### Current behavior

The `click()` on the filter icon on a Clarity data grid will not trigger a click event.

![image](https://user-images.githubusercontent.com/123199/201033830-d50d9be6-85b3-48e0-a17c-583cfda47a71.png)

### Desired behavior

`cy.get(".datagrid-filter-toggle").first().click();` should trigger the click event and open the filter dialog

### Test code to reproduce

[code]

Reposito

[2022-11-10 08:36] derkoe commented on #24636
It also does not work when you change the code to:
[code]

but it works when you trigger the click twice (one time via `.click()` and one time via the DOM):
[code]

[2022-11-10 08:43] lmiller1990 commented on #23525
I updated the original tech brief by Mike here https://github.com/cypress-io/tech-briefs/pull/53

Please review!

[2022-11-10 08:53] Zuks86 opened #24637 "Search textfield does not clear after restart"
### Current behavior

When you have searched/filtered the tests on cypress and then you restart the search textfield persists the last search field.

This can result in a person mistakenly thinking only few tests are showing.
<img width="407" alt="Screenshot 2022-11-09 at 16 25 06" src="https://user-images.githubusercontent.com/5233337/201044461-614fd5b5-03b0-443f-b6c9-a20fd2b15b97.png">

### Desi

[2022-11-10 09:16] cope opened #24638 "Cypress 11 fails on alias imports (shorthand imports)"
### Current behavior

Cypress 10.11.0 worked just fine, when I upgrade to Cypress 11.0.1 it no longer understands alias import (shorthand imports).

When I revert back to Cypress 10.11.0 everything works again.

### Desired behavior

Cypress 11.0.1 should understand alias import (shorthand imports) just like Cypress 10.11.0 does.

### Test code to reproduce

It's a simple enough explanation. Cypre

[2022-11-10 09:19] CSchulz commented on #23141
How did you import the fetch?

[2022-11-10 10:01] karlhorky commented on #24611
Thanks for the quick reaction and release @ryanthemanuel @emilyrohrbough @mjhenkes  @ZachJW34 ! 🙌

[2022-11-10 10:12] romankhomitskyi opened #24640 "afterEach function is not executed if one of the tests are failed"
### Current behavior

My afterEach function should logout after each test no matter if its failed or not. But when test failed - I am getting `CypressError: cy.click() failed because it requires a DOM element.`
[code]
 cause it cant find an element although the element is presented on the screen.

![image](https://user-images.githubusercontent.com/57874507/201062247-a03365f9-3247-46e0-a695-d1df4d2

[2022-11-10 10:42] Yangfan2016 commented on #18799
+1

[2022-11-10 12:11] ryanthemanuel commented on #24638
Thank you for logging this issue @cope. What error are you seeing when you try to use alias imports?

[2022-11-10 12:22] duplessc commented on #21397
So I have set experimentalSessionAndOrigin:true and testIsolation: "off" but when creating the session it still ends up clearing the page.

Cypress: 11.0.1
Node: 14.17.4
Chrome: 103

![image](https://user-images.githubusercontent.com/117908633/201090467-d879d6fe-d639-4411-a6ce-95c750b7b11c.png)

Code:
![image](https://user-images.githubusercontent.com/117908633/201090738-06a8be16-469c-40ed-a09e-2d

[2022-11-10 12:49] MKR-3M opened #24641 "Remove hooks: afterEach(), beforeEach() from test failure report in Analytics"
### What would you like?

Hooks are included in the failed test results, the number of failures is overstated because of afterEach() (and another) hooks.
I'd like to remove the afterEach() entries from the test report results and not show them in the results.

Current behavior:

![image](https://user-images.githubusercontent.com/102219083/201095680-75a55f11-dbd7-40a2-b43d-8087162f1c52.png)
![image

[2022-11-10 13:08] cope commented on #24638
@ryanthemanuel this is weird because I was 200% sure that I copied the log output :(

I will grab it again, but have to reupgrade to 11 to get it...

[2022-11-10 13:12] cope commented on #24638
Upgrading to Cypress 11.0.1:
[code]
and
[code]

and by simply reverting back to Cypress 10.11.0:
[code]

[2022-11-10 13:14] cope commented on #24638
My cypress.config.js:
[code]

[2022-11-10 13:17] cope commented on #24638
Just to be clear, if I change `import from '@/stores'` to `import from '../../src/stores'` then it simply breaks on the next `import from '@...`.

And if I change all those inside the cypress folder, it breaks on the first one in the test/ folder - which means I simply cannot use @ in ALL my tests - which is not really acceptable...

[2022-11-10 13:34] ryanthemanuel commented on #24638
I see what's going on now. Thanks for the additional info. It looks like you're running into one of the breaking changes in [11.0.0](https://docs.cypress.io/guides/references/changelog#11-0-0). Specifically, when providing an inline viteConfig inside of cypress.config, any vite.config.js file is not automatically merged. Can you try following these steps and see if it fixes your issue? https://doc

[2022-11-10 14:05] marktnoonan commented on #24472
There's a short way to do it, which is to make the content the same for [contentA and contentB variants in en-US.json](https://github.com/cypress-io/cypress/blob/develop/packages/frontend-shared/src/locales/en-US.json#L200-L201).  That would leave the cohort infrastructure around these banners intact for future experiments, and would need minimal testing changes.

The drawback with this is that it

[2022-11-10 14:11] #23911 closed, assigned to emilyrohrbough

[2022-11-10 14:14] #24208 closed, assigned to chrisbreiding

[2022-11-10 14:26] rogoit opened #24643 "Migration in V11 not working have to go over 10"
### Current behavior

Hello Friends,

today I wanted to upgrade a E2E testing project from version 9 to 11. The migration window "5 minutes" can not finishwork and was there endless.

Solution was to update from 9 to 10 and then install 11.

### Desired behavior

That a upgrade from V9 to V11 just will work.

### Test code to reproduce

Do not have it public

### Cypress Version

9

### Node versi

[2022-11-10 14:35] emilyrohrbough commented on #24637
@Zuks86 Thank you for opening an issue! This is a design decision we purposely made in the App to allow users to pick-up where they left off when testing in open mode.

[2022-11-10 14:50] marktnoonan commented on #24643
Thanks for reporting this @rogoit! Could I please confirm, did you experience this in `11.0.0` or `11.0.1`?

I've tried a couple of ways to reproduce this but migration directly into 11+ is working for me directly without going through 10.

Is the project you upgraded public by any chance? Did you see the migration steps displayed, and the spinner started after attempting the first step, or did Cy

[2022-11-10 14:51] pstakoun commented on #24472
@lmiller1990 @marktnoonan I do intend to run additional A/B tests or either the content and/or the styles of the banners. I think I would prefer if `utm_content` was not being sent if there was not an actual A/B test running, since that would probably be confusing in the analytics. I'll update the issue to clarify.

[2022-11-10 15:20] emilyrohrbough commented on #21397
@duplessc I was unable to repo the Clear Page with the code sample provided. Can you share a small repo?

[2022-11-10 15:24] rogoit commented on #24643
for me in 11.0.1

[2022-11-10 15:35] cope commented on #24638
That's not a nice breaking change 😢.

I tried it but it now has a problem with import vs require 😢.

If I use `import viteConfig from './vite.config';` I get this error:
[code]

And if I change that to `const viteConfig = require("./vite.config");` then the same error just moves to vite.config:
[code]

So, vite is able to `import`, but cypress is not... 😢

[2022-11-10 15:40] marktnoonan commented on #24643
I wonder if you can share the old cypress.json from the project (with redactions if needed). Hard to say what the problem is (but very grateful that you reported a problem after you were personally unblocked!).

[2022-11-10 15:50] emilyrohrbough opened #24644 "v12 Major Version Splashscreen"
Work with Jess to determine V12 welcome / splash screen.

[2022-11-10 15:51] #21398 closed

[2022-11-10 15:51] #24205 closed, assigned to emilyrohrbough

[2022-11-10 15:51] #24593 closed

[2022-11-10 16:03] gusmiguens opened #24645 "cypress/grep - Inverted tags DOES NOT WORK"
### Current behavior

I'm trying to use inverted tags to exclude tests from running but they are not being filtered even though the tags is correctly applied.

[code]

also

[code]

### Desired behavior

When using "-" in front of the tag (or "--") should exclude that block from running as the documentation explains

### Test code to reproduce

I'm using this in a describe block (which is the enti

[2022-11-10 16:04] cubanx commented on #24509
As an update, tried 11.0.1 and still have the same problem.

Here's the basic log after the run, let me know if you want the debug log:
[code]

[2022-11-10 16:19] kaiyoma commented on #24430
Just ran into a similar problem:

[code]

[2022-11-10 17:30] jsodeman commented on #4084
A note for those trying the code from @franzvezuli

json-diff should be installed in the dev dependencies `npm i json-diff -D`

and the code block from https://github.com/cypress-io/cypress/issues/4084#issuecomment-1052331722 should be be pasted into /support/e2e.js or similar, see https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Support-file for the new file locations.

t

[2022-11-10 18:12] tgdevereux commented on #21619
Just to add to this, we appear to be hitting a similar issue, however it appears to happen regardless of retries being set.
And we’re repro-ing it when we hit a separate file download issue, possibly related to https://github.com/cypress-io/cypress/issues/1551

Basically, we have a test that downloads a file, and then hits a pageLoadTimeout, perhaps due to  https://github.com/cypress-io/cypress/is

[2022-11-10 18:21] onthespotqa opened #24648 "Component Test fails due to Cannot use 'in' operator to search error"
### Current behavior

So this only happened when running in circleci using the cypress/base:16.13.0 image.

There seems to be a pre-processor error with one of our component test files.

`
TypeError: The following error originated from your test code, not from Cypress.

When Cypress detects uncaught errors originating from your test code it will automatically fail the current test.

Cypress could

[2022-11-10 18:56] xram commented on #24643
I'm currently seeing the same behaviour attempting to upgrade from 7.3.0 to 11.0.1. I'll try going through 10 and report back. In the meantime, my `cypress.json` file looks like this:

[code]

[2022-11-10 19:20] nagash77 commented on #24555
@shashi123664 Thanks for your reply, but I still need a bit more to enable our devs to be able to dig further into this.  Can you provide a reproducible example including spec files, preferably in a github repo we can pull down locally.

[2022-11-10 19:37] bels commented on #3382
I would also be looking for this functionality.  FreeBSD is my preferred server/dev OS and I'm pretty sure we have everything Cypress needs to run correctly.  What all would it take to make this a reality?  Just including Freebsd in the supported platform check?

[2022-11-10 20:08] xram commented on #24643
Upgrading to v10 first worked for me too. The migration helper came up almost straight away after running `cypress open` and stepped me through the changes when upgrading from 7 to 10. Trying to go from 7 to 11 just left me staring at a loading spinner and a message about it taking 5-10 minutes after running `cypress open`.

The subsequent upgrade from 10 to 11 has worked too.

[2022-11-10 20:14] marktnoonan commented on #24643
Hmm. Thanks for this @xram. When you upgraded to 10, did you go for 10.0.0 or 10.11.0, the latest? That'll help narrow down the changes that could be causing this.

[2022-11-10 20:23] marktnoonan commented on #24638
@cope I'm checking on workarounds and one may to be to use a dynamic import, viteConfig can be an async function. I haven't tested, but something like this?

[code]

Also, we override `server.host` to be `127.0.0.1` so you could you try removing the inline `viteConfig` option entirely? Without one specified, it will source the config located at your project-root.

[2022-11-10 20:39] jraigosaOC commented on #24574
@ryanthemanuel this turned out to be

[2022-11-10 20:39] #24574 closed, assigned to ryanthemanuel

[2022-11-10 20:40] jraigosaOC commented on #24574
This turned out to be an issue w/ CI setup.

[2022-11-10 20:59] ryanthemanuel commented on #23830
For those who have commented or liked this issue, I have created several test binary builds that are basically 10.8.0 with some pieces of functionality removed that were introduced between 10.7.0 and 10.8.0. For anyone that can try these out it would be helpful to track down where the problem was introduced:

win32: `npm install https://cdn.cypress.io/beta/npm/10.8.1/win32-x64/10.8-minus-webkit-35

[2022-11-10 21:35] jazpearson opened #24650 "Missing browserCriClient in connectToNewSpec"
### Current behavior

Unfortunately, this issue is intermittent and only happens in our CI pipeline. But i wanted to see if could raise the issue in case there's something obvious.

We run cypress with the following: `cypress-run cross-env NODE_OPTIONS=--max-http-header-size=1000000 cypress run --browser chrome`. And we run in a docker container, using the cypress/included images.

This error happ

[2022-11-10 22:50] marktnoonan commented on #24643
Just to document and confirm: still not able to reproduce - I forked cypress-test-tiny and set it up with Cy 8, then opened some tests. After that I installed 11.0.1 and opened Cypress, it correctly offered migration and migrated without an issue.

I'm keeping this issue open & I'm very interested in what could be the cause. I tried with your cypress.json @xram and no issues there.

[2022-11-10 23:19] aspacek-se commented on #24643
I just had the same issue, going from 9 -> 11.0.1 would hang during migration at this stage:
[code]

did 9 -> 10.11.0 -> 11.0.1 instead and both migrations were pretty much instantaneous

edit: it didn't really hang, it would just loop those two commands for 10 minutes before I killed it

[2022-11-10 23:27] marktnoonan commented on #24643
Thanks @aspacek-se. If you have the time/interest in repeating the process, would you be able to do so with dev tools open on the launchpad? You can open them in the "Developer Tools" menu at the top. This will show if there any error recorded on the client side. Without reverting your whole project, you could rename `cypress.config.ts` to something else and add an empty `cypress.json`. That shoul

[2022-11-10 23:31] aspacek-se commented on #24643
yup, here's the error
[code]

[2022-11-10 23:48] marktnoonan commented on #24643
Thanks so much @aspacek-se!

[2022-11-11 05:36] blessanm86 commented on #24131
I was bit by this today. Trying out cypress component testing as an alternative to Jest in our MFE.
In our case we call `window.location.href = ***` after a form submission in the onSubmit handler.

We don't use any kind of routers. The only work around I could think of is using maybe an env variable like

[code]

Would be great if some sorta memory router was provided within cypress.

We don't us

[2022-11-11 06:17] duplessc commented on #21397
@emilyrohrbough unfortunately no. I have to recreate a repo with just this command in it. I'd be happy sharing other details I can if needed

[2022-11-11 07:08] niklasvieth opened #24652 "Cypress v11 `cypress run` crashes when assertion in test fails"
### Current behavior

If an assertion in a test fails by running `cypress run --browser chrome` the whole process fails instead of showing the result of one failing test in the console as report.
Fails with following error:
[code]

### Desired behavior

Show the failing test result in the report table same as in v10.11

### Test code to reproduce

[code]

### Cypress Version

11.0.0 or 11.0.1

###

[2022-11-11 07:23] mmonteiroc commented on #23830
I will try to run it in our CI either today or monday. And will give you feedback regarding performance of it

[2022-11-11 07:37] lmiller1990 commented on #15932
Devtools still seems completely "frozen" and not updating for me, I am on Cypress 11.0.1 using component testing. 🤔

Edit: on macos, I will try linux later and see if it's happening there, too. Also, I did not try e2e yet.

[2022-11-11 07:39] vikingair commented on #23830
I ran now the "linux (x64)"* package in our CI. Works perfectly fine. Same performance as with "10.7.0"

\* `https://cdn.cypress.io/beta/npm/10.8.1/linux-x64/10.8-minus-webkit-3524235d9dee0aada9259c246d8933b03990d6d4/cypress.tgz`

[2022-11-11 08:53] cope commented on #24638
Ah! YES!

I gotta say, I was confused to see a breaking change that would make things worse 😃

So, I actually needed to remove viteConfig completely, cool.

This works like a charm:
[code]
And I reverted vite.config back to use imports as before.

All is good.

Thank you!

[2022-11-11 09:26] petergaal91 commented on #24652
Same issue here. And I have a strange message at the start:

`Couldn't determine Mocha version`

[2022-11-11 09:27] fabian-froehlich commented on #24652
I am experiencing the same issue when running tests in cli. The cypress GUI runner works as before.

[code]

[2022-11-11 09:35] liambutler commented on #23830
I've also run the Linux (x64) package, and can see that performance has improved. Video recordings actually show the entire run, rather than hanging after a few seconds

[2022-11-11 09:47] jahvi opened #24653 "Individual requests aliases not working"
### Current behavior

When passing a callback function as the third parameter of `cy.intercept()` to dynamically alias individual requests they do not get aliased at all and cypress is unable to wait for them to complete.

### Desired behavior

Individual requests should be able to be aliased so cypress can wait for them to complete.

### Test code to reproduce

[code]

### Cypress Version

11.0.1

[2022-11-11 09:47] HeshamMoneer opened #24654 "A callback was provided to intercept the upstream response, but a network error occurred while making the request"
### Current behavior

I am using a method to log network failures that occur while the tests are running. I basically intercept every failing request and its response and log it in some array as follows:

[code]
The tests run perfectly when I comment out this logging section. However, when I leave it as a part of the tests, I often get this error message
![image](https://user-images.githubusercont

[2022-11-11 10:04] handerss-spotfire commented on #24652
We experience the same issue, also using "junit" reporter with "mochaFile" option.

[2022-11-11 10:18] BoreasMun commented on #24652
Same here, "junit" with "mochaFile"

[2022-11-11 13:13] eduardlind commented on #23301
Are there any plans to work on it? As far as I see now, there is no ability to make a screenshot of page or element. Also it affects heavily visual testing(it breaks is totally). I tried solution from @JasonFairchild  but it didn't work(electron).

[2022-11-11 13:32] mbiggs-gresham commented on #24652
Same issue here. It was working fine, and then I modified a test and see the same error every time on just that test file.

[2022-11-11 13:46] listana opened #24655 "Cant upload .crt file through fixture"
### Current behavior

![image](https://user-images.githubusercontent.com/47680964/201352379-bf79804c-15d2-47ca-9a07-b49b6b9fde2d.png)

When trying to upload .crt file through fixture, calling cy.fixture('myfile.crt'), I get this error:

Cypress looked for these file extensions at the provided path:

### Desired behavior

Could you please add .crt extension to available file extensions?
jwt, hwid a

[2022-11-11 14:40] paulgrant commented on #24093
I have upgraded to 11.1 and have been able to successfully run it locally, the issue is it is now timing out on Azure Pipelines - so further investigation required.

[2022-11-11 15:22] listana commented on #24655
Managed to load file with cy.readFile()

[2022-11-11 15:22] #24655 closed, assigned to nobody

[2022-11-11 15:37] alexniculae commented on #24403
Please note that, for my org, this is a blocking issue for upgrading Cypress to v10 or above
- we are dependent on the before:spec to wait for the promise to be solved before moving forward
- if not, our user assignation system is malfunctioning, causing most of the tests to have conflicts due to duplicate logins

Dur to this matter we are unable to update Cy from v9 to v10 or 11.

Could you pleas

[2022-11-11 15:46] walter-r-m commented on #2876
For me this was related to a `del` update to 7.0.0 which has a [breaking switch to pure ESM](https://github.com/sindresorhus/del/releases/tag/v7.0.0). Downgrading to del@6.1.1 fixed it for me on cypress@9.7.0.

[2022-11-11 18:40] tetonpeaks commented on #19981
After clearing my Cypress cache folder with `cypress clear cache` I ran into this issue as well.

This is what I did:

1. `rm -rf ` the Cypress folder in your .cache director
2. For me I also deleted the Cypress folder in node_modules
3. Cleaned cache with `npm cache clean --force`
4. Installed Cypress with `npm install cypress --save-dev`

Hope this helps!

[2022-11-11 19:51] miglesiasit12 commented on #24392
I have updated with a link to the repo to reproduce the issue

[2022-11-11 19:59] bkuzma commented on #21673
I could also use some help figuring out how to launch Chrome with this option enabled 😕 🙏

[2022-11-11 22:44] bob-lee opened #24659 "Component test intermittent failing both on local and CI"
### Current behavior

Migrated from 10.7.0 to 11.0.1 and having intermittent failure of component test both on local and CI.

On local (ubuntu, node 14.20.0):
[code]

On CI (Aws Amplify)
[code]

### Desired behavior

Runs in consistent way

### Test code to reproduce

Private repo

### Cypress Version

11.0.1

### Node version

14.20.0

### Operating System

Ubuntu 22.10

### Debug Logs

_No respo

[2022-11-12 02:02] AtofStryker commented on #23165
@denke8 Been super busy with getting a lot of the origin work ready for Cypress 12, but I still haven't forgotten. Hoping to take a look maybe Sunday or Monday if I can!

[2022-11-12 02:09] kavehsaket commented on #9442
I get the same error when I run my tests on GitHub actions. Cypress on ci is painful.

[2022-11-12 14:33] T-e-j-k-u-m-a-r commented on #20955
Hello, I'm facing this issue when executed cypress all spec files in jenkins.
Issue is when there are 1 files(spec1.ts, spec2.ts & spec3.ts) inside a folder lets say: Login,
If the spec1.ts failed then it will not pick the very next test case. Instead it will go for next folder which is in my case HomePage.

Why is that?

[2022-11-12 14:36] T-e-j-k-u-m-a-r commented on #20682
Hi @sainthkh : Exactly the way you explained, I'm executing the cypres tests from jenkins and observed that when this a folder called login which will have 3 files inside it: Something like: (spec1.ts, spec2.ts & spec3.ts) inside a folder lets say: Login,
If the spec1.ts failed then it will not pick the very next test case. Instead it will go for next folder which is in my case HomePage.

Why is t

[2022-11-12 16:18] simonireilly commented on #24248
This feature isn't currently going to enter cypress.

If your looking to use cypress for lit, or any other web components, try this:

https://www.npmjs.com/package/cypress-lit
https://github.com/simonireilly/cypress-lit

[2022-11-13 05:43] TamirZano commented on #24290
Are there any news this issue?

[2022-11-13 09:15] #24638 closed, assigned to marktnoonan

[2022-11-13 11:47] cuixiaorui commented on #24494
I committed a pr for solidjs component test.

see #24587

We can perfect it together haha

[2022-11-13 12:09] lmiller1990 commented on #24494
So we are looking at a better public API so third parties can plug into Cypress (including the onboarding where it scaffolds everything) but right now we don't have that. I don't expect this public API to land until 2023 - we are working on other features until the end of this year (like run all specs, performance improvements, etc).

In the meantime, I'd recommend publishing to npm and writing so

[2022-11-13 16:01] defeated opened #24663 "Endless loop when hostname is "dev""
### Current behavior

When `baseUrl` is set to `http://dev:3000`, `cypress run` hangs. Enabling `DEBUG` env var shows Cypress stuck in a loop, due to incorrect parsing of hostname from URL.

In this case, `dev` is incorrectly parsed as the `tld`, instead of the `domain`, since there is now "." separator.

(See **Debug Logs** below)

### Desired behavior

When `baseUrl` is set to `http://dev:3000`,

[2022-11-13 23:59] #23525 closed

[2022-11-14 01:17] mudit94 opened #24665 "Cross browser testing allure report"
### What would you like?

I want to execute Cypress tests across different browsers in gitlab ci producing a combined report for the different browsers tests

### Why is this needed?

To achieve cross browser parallel testing

### Other

_No response_

[2022-11-14 02:02] lmiller1990 opened #24666 "Allow configuring `angular.json` from `component` configuration for"
### What would you like?

Related: https://github.com/cypress-io/cypress/discussions/24400

Right now, Cypress Component Testing assumes Angular projects place their `angular.json` at the root of the project. This might not be the case, for example if you are using Nx to manage your Angular project. They recommend putting Cypress tests in a separate directory, which I learned here: https://nx.dev/

[2022-11-14 02:27] lmiller1990 commented on #24659
Just to help with debugging, have you tried running with Chrome instead of Electron browser? `--browser chrome`. This will help narrow it down - we updated the Electron version in Cypress 11, could be related.

As an aside, another thing that might be worth your time is trying the `experimentalSingleTabRunMode` flag, that will speed things up on CI greatly: https://docs.cypress.io/guides/reference

[2022-11-14 03:32] furkanmustafa commented on #5984
Same need here as well

[2022-11-14 03:40] furkanmustafa commented on #5984
looks like there is an env var for this; https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/protocol.ts#L36

called `CYPRESS_REMOTE_DEBUGGING_PORT`. Browser launching code can be stubbed to noop, and this port could be configured on browser side to achieve the same effect? Sounds like worth giving it a try.

[2022-11-14 05:15] breencp commented on #24659
I am experiencing persistent crashes testing with Electron in both my local environment and on AWS Amplify CI.

`...at rejectAndCleanup (node:electron/js2c/browser_init:165:7500)
    at EventEmitter.stopLoadingListener (node:electron/js2c/browser_init:165:7875)
    at EventEmitter.emit (node:events:527:28)`

It appears to be caused by `cy.get('[id="btn-download-output"]', {timeout: 60000}).click()

[2022-11-14 07:22] rsouthgate commented on #24650
@jazpearson Don't know if this helps but stumbled across this when trying to figure out why our own CI pipeline was breaking with this error message after upgrading agents to 10.11.0. In our case the error was being caused by our test director (sorry-cypress) and ultimately was due to this off-by-one error https://github.com/sorry-cypress/sorry-cypress/issues/613 which has since been fixed.

[2022-11-14 07:31] #24577 closed, assigned to nobody

[2022-11-14 08:37] lmiller1990 commented on #24468
This could just be the UI I think? The logic should be free, done in https://github.com/cypress-io/cypress/issues/24467

[2022-11-14 09:01] idanElitzur commented on #24509
Happens for me s well.
Since version v10.10 +
Cypress stuck and reach to over 260 ~ cpuPercent during the test execution with open runner.
Recreating by electron and chrome 107 as well.

 No any informative related errors from debug logs.
 only profiler indicator.
 Also the browser open with too many pids and reach to high cpu during webpack compiling as well.

 Please your assistant ASAP.
 It's a

[2022-11-14 09:05] mayurbojappa commented on #8542
As suggested above, use function() instead of () => inside the it block

[2022-11-14 10:11] stychu commented on #23830
Same problem here. Upgrading from 10.4.0 to 11.0.1 results in performance decrease on CI. Usually tests run takes 10-12 min but after upgrade it takes 25 min+ or exceeds 30 min timeout.

Tried

Seems to not have an issue with performance degradation

[2022-11-14 10:20] ushankar5586 commented on #1342
Hi @AtofStryker Login using above code works perfectly fine but how can we use cy.session() here, really wanted to use it so that I don't have to login again and again for each test case in single spec file. I tried cy.session() but it's now working
I am using version 10.9.0

[2022-11-14 11:16] levaleks commented on #24588
Update – the problem reproduces for Cypress 11 as well :(

[2022-11-14 11:58] rayeedanwar opened #24670 "Cypress dashboard filtering by AND for a filter"
### What would you like?

We would like to be able to filter better on Cypress Dashboard.

Specifically, to filter by multiple tags together. At the moment, if I select multiple tags, the filter is treated as an `OR`, but I'd like for it to be treated as an `AND`.

### Why is this needed?

We want to see the reliability (hence, analytics) of different runs in different gitlab pipelines (schedule,

[2022-11-14 12:24] idanElitzur commented on #20101
Did you manage to solve this issue?

[2022-11-14 12:30] Ali-Raza-Arain opened #24671 "here's my solution for Drag & Drop Element in Cypress"
[code]

[2022-11-14 12:43] Ali-Raza-Arain commented on #845
**100% Working**

[2022-11-14 12:46] idanElitzur commented on #23391
Any news regarding these issues?
I've got them as well, browser sending huge of network request amount in the background,
it doesn't matter which browser type is execute the tests.
the browser ls stuck and crash after the cpuPrecent is reach up to 250
with 7-8 running processes.

cypress: 10.10.0
node: 14.19.1
chrome: 107
mac os: 12

@chrisbreiding
@ryanthemanuel
please your help! :pray:

[2022-11-14 13:31] nagash77 commented on #24671
Hi @Ali-Raza-Arain I am not sure what this is in relation to.  Can you elaborate on what you are trying to share?

[2022-11-14 13:34] nagash77 commented on #24670
Hi @rayeedanwar , can you expand on this a bit more?  where/what are you trying to filter?  are you referring to the Cypress runner or to the Cypress Cloud dashboard?

[2022-11-14 13:40] nagash77 commented on #24659
@breencp I am not sure your issue is related to the original posters.  Can you please open a separate issue?

[2022-11-14 13:42] rayeedanwar commented on #24670
Cypress Cloud dashboard

We have multiple tags per run, things like: repository name, pipeline job name, pipeline type

The reason we added these tags is to have better stats on which test runs are unreliable. For example, gitlab has a merge train pipeline, in which we would expect test runs to have a pass rate close to 100%. If this is not a reality, we'd like to drill down to the common errors (

[2022-11-14 13:49] nagash77 commented on #24650
Hi @jazpearson ,  I'm sorry to hear you are having problems using Cypress.  Unfortunately without a reproducible example, we wont be able to further assist you.  If you can figure out a way to reproduce this issue that you can share with us please do comment here and we can reopen the issue.

[2022-11-14 13:59] erakki27 opened #24673 "Cypress open browser doesnt show any data"
### Current behavior

When i open cypress using npx cypress open and configure End to End testing the browser which is launched with localhost dont show any data but in documentation i see spec, setting should load, what could be the reason as i followed all the setup steps

This is what i see when browser launch:-

![image](https://user-images.githubusercontent.com/118168131/201677848-e604bda0-23

[2022-11-14 14:15] ryanthemanuel commented on #24673
Hi @erakki27. Thank you for logging this issue. Do you see any errors in the JavaScript console in the blank browser?

[2022-11-14 14:16] lmiller1990 commented on #24467
I am picking this up along with @amehta265, going to work on the data structure and refactor a bit as part of this - the tree is getting a bit complex and starting to leak into the component layer a bit too much. Right now we don't have the info we need to easily get the # of specs, so I'll do this while @amehta265 works on the UI end of things.

[2022-11-14 14:16] ryanthemanuel commented on #24633
@fappaz I see from your error logs that you are using 11.0.0. Have you tried updating to 11.0.1? This should have been resolved in 11.0.1

[2022-11-14 14:22] craigmiller160 commented on #21384
I just found this issue. I disagree with the position about testing URLs in component tests. I've been very excited by this feautre, I'm mainly using it for integration tests, ie testing the whole FE part of the app with intercepted endpoints. Long term I want to extend this to make the test code share-able between integration and e2e tests, but I'm not there yet.

Anyway, my point is that there i

[2022-11-14 14:28] mikestock-nimble commented on #1342
So I'm no expert, but the way I did it is using the plugins framework to store the login in a cache, then retrieve the cookie from the cache for each test, so I only have to log in once

You need a place where cypress won't execute it after each test. there is a pattern on the cypress receipes that talks about how to store data across tests

The other caveat is you have to make sure your token doe

[2022-11-14 14:32] ganeshac123 commented on #22670
Hi @chrisbreiding @AtofStryker downloaded Cypress 10.11.0 from cypress website, tested browser cookies issue. i

hi Guys any updates on this, waiting for this issue to solved from one year? Let us know if @cypress-github-team-services-sa is not able to solve it, we can do something from our end?

[2022-11-14 14:37] cgraham-rs commented on #23824
Observed that the video dimensions and meta data are identical from cypress run locally and in CI with the exception that the video available via Dashboard is a fraction of the file size even though the video is 2x as long in CI.

Local:
* video length: 2:58
* file size: 59.6MB

CI:
* video length: 7:49
* file size: 22.5MB

[2022-11-14 14:50] arsasota opened #24676 "Inspect shows different URLs for each category of the dashboard box while website uses only one"
### Current behavior

I apologize in advance for the bad explanation.

I am working with cypress on a project. On the website there is a box with 4 clickable lines. When clicking each line, the page remains the same as the material is all located in one. It only scrolls up and down. However, when I inspect I see that each line has a specific URL, which is formed from the base URL of the page + som

[2022-11-14 15:11] ushankar5586 commented on #1342
I am trying to use cy.session() and in a single spec file
This is my code:
`cy.session('Login', ()=>{
      cy.visit('')
      cy.get(this.loginBtn).click()
      cy.get(this.loginWithAzureLink).click()
      cy.get(this.email).type(email, { force: true })
      cy.get(this.nextBtn).click()
      cy.wait(3000)
      cy.origin('https://login.live.com', { args: password }, (password) => {
        cy

[2022-11-14 15:29] andrii-lundiak commented on #20900
OMG, if such simple test cause that weird issue, then my not-simple test caused it somehow also.
And I also installed/reinstalled, cleared cache, etc.
And I have Cypress v6.x. I don't even try to upgrade to 11 coz most probably it's some silly thing, not version related.

Maybe it's again related to this bug: https://github.com/entropitor/dotenv-cli/issues/71
I also suspect it may be related to `.

[2022-11-14 15:37] nagash77 commented on #24665
Hi @mudit94 we have this functionality available in [Cypress Cloud](https://www.cypress.io/dashboard).  I would suggest you check that out!

[2022-11-14 15:37] #24665 closed, assigned to nobody

[2022-11-14 15:44] erakki27 commented on #24673
Hi Ryan,

Yes i do see socket failed error in console:-

![image](https://user-images.githubusercontent.com/118168131/201702828-9519d9ea-13cb-43b1-9fff-23a2e9977cd7.png)

[2022-11-14 16:15] jordanpowell88 commented on #24666
We currently have the options API to allow users to configure without an `angular.json` https://docs.cypress.io/guides/component-testing/angular/overview#Options-API

[2022-11-14 16:16] marktnoonan commented on #24392
@miglesiasit12 the link to your repo is 404 for me, is it private?

[2022-11-14 16:28] ryanthemanuel commented on #24673
Hi @erakki27, can you expand those errors in the console to see if there is more information? Also, does this happen on previous versions of cypress or only version 11?

[2022-11-14 16:28] marktnoonan commented on #24648
Thanks for reporting this @onthespotqa. You've given us a good deal of information. It will be difficult to address it, and *know* we've fixed it, without a full repro but let's see. If it's possible to grab the problematic component and reproduce this using https://github.com/cypress-io/cypress-test-tiny that would give us something to go on.

A couple of questions:

- What version of node are yo

[2022-11-14 16:34] erakki27 commented on #24673
Hi @ryanthemanuel , i realize that browser is opening with http:// which is not loading so i changed it to https:// and now its loading fine, now sure why automatically its not taking https://

i just started using cypress so not aware of older version

[2022-11-14 16:49] marktnoonan commented on #24588
.Thanks @levaleks, I was able to reproduce, routed to CT team.

[2022-11-14 16:52] BlueWinds commented on #7306
Ok, actually have binaries building now. We're still touching up some last things - a couple of bugs are expected in the 12.0.0 release branch - but should be mostly ready. Link to the binary if anyone wants to try it out:

https://github.com/cypress-io/cypress/commit/9ae911f396fa6cac0a1464537d1492d68cbb1898#commitcomment-89877050 (non-linux builds will be added there in the next couple minutes as

[2022-11-14 16:54] denke8 commented on #23165
@AtofStryker Thanks, appreciate the help!

[2022-11-14 17:07] miglesiasit12 commented on #24392
Sorry, just made it public.

On Mon, Nov 14, 2022, 11:16 AM Mark Noonan ***@***.***> wrote:

[2022-11-14 17:10] miglesiasit12 commented on #24392
https://github.com/miglesiasit12/CypressIssue24392

On Mon, Nov 14, 2022, 12:07 PM Michael Iglesias ***@***.***>
wrote:

[2022-11-14 17:27] ryanthemanuel commented on #23962
Hi @michaelkaye. Do you have an update on whether or not changing the privs helped with this issue?

[2022-11-14 17:28] ryanthemanuel commented on #20813
@laradiaz, were you able to potentially get a publicly sharable reproduction of this issue as @mschile suggested?

[2022-11-14 17:42] nagash77 commented on #24670
@rayeedanwar I have passed this along to our cloud product manager.  They are tracking this in our internal product management tool.

[2022-11-14 17:44] laradiaz commented on #20813
No, I'm sorry. But this approach https://github.com/cypress-io/cypress/issues/20813#issuecomment-1297390114 help us to resolve the issue for now.

Thank you!

[2022-11-14 17:44] jennifer-shehane commented on #6423
We're closing this issue since IE11 is retried and officially out of support as noted in this [blog post](https://blogs.windows.com/windowsexperience/2022/06/15/internet-explorer-11-has-retired-and-is-officially-out-of-support-what-you-need-to-know/#:~:text=After%2025%2B%20years%20of%20helping,today%2C%20June%2015%2C%202022.) from Microsoft.

If you have a case where you would like to support test

[2022-11-14 17:44] #6423 closed

[2022-11-14 17:45] marktnoonan commented on #24392
Thanks for that! Confirmed this reproduces in 10.10.0, 10.11.0 and latest. So looks to have been introduced in 10.10.0. I'll forward to the team.

Notes:

There were some changes around webpack in 10.10.0: https://github.com/cypress-io/cypress/pull/24117 that might be a good starting point for this, though it doesn't seem obviously connected to me.

[2022-11-14 17:53] ryanthemanuel commented on #24589
Hi @GeryDuComptoirDesPharmacies . Thank you for logging an issue. What is your baseUrl in your project? Is it publicly available so I can test it?

[2022-11-14 18:05] rayeedanwar commented on #24670
Thanks @nagash77 - what's a good way of keeping tabs on this? I'm aware of the [public roadmap](https://github.com/orgs/cypress-io/projects/13/views/1), but I imagine this won't be there

[2022-11-14 18:38] nagash77 commented on #24673
@erakki27 I'm glad you have figured out the problem.  I am going to close this issue.  If you find yourself having more questions as you start working with Cypress, I would encourage you to check out our [Cypress Discord](https://discord.gg/cypress).  You can often get help much quicker from all the folks who hang out there.

[2022-11-14 18:38] #24673 closed, assigned to nobody

[2022-11-14 19:09] jennifer-shehane commented on #5218
This was released in 10.0. Closing as resolved.

[2022-11-14 19:09] #5218 closed

[2022-11-14 19:21] #24637 closed, assigned to nobody

[2022-11-14 19:24] ryanthemanuel commented on #23830
OK. The fact that the attached binary is working for people is super helpful in us triaging the problem.

One additional thing that would be helpful for folks to try is to turn video off in 10.7 and video off in 10.8 and compare those two. If the performance is similar, then likely the issue is due to some video changes we made between 10.7 and 10.8. Is there anyone able to test this out? @stychu,

[2022-11-14 19:26] nagash77 commented on #24640
Hi @romankhomitskyi we consider using afterEach to clean up state an anti-pattern that should be avoided.  Check out our documentation around [afterEach()](https://docs.cypress.io/guides/references/best-practices#Using-after-or-afterEach-hooks).

[2022-11-14 19:26] #24640 closed, assigned to nobody

[2022-11-14 20:03] #24643 closed, assigned to nobody

[2022-11-14 20:31] gunslingor commented on #23391
Chrome 107.0.5304.107 (Official Build) (64-bit) - I get this after running 50% of my tests. I got 32GB of RAM on this.

![image](https://user-images.githubusercontent.com/11238428/201759767-64430ccc-b5bf-4ab1-9841-c64755eceee0.png)

[2022-11-14 20:40] breencp opened #24682 "Electron crashes after clicking JS download link."
### Current behavior

I am experiencing persistent crashes testing with Electron in both my local environment and on AWS Amplify CI.

[code]

It appears to be caused by `cy.get('[id="btn-download-output"]', {timeout: 60000}).click();`.  The file is successfully saved to cypress/downloads, and then immediately crashes with the above message afterward.

[code]

Testing with Chrome on the other hand

[2022-11-14 20:47] breencp commented on #24659
My bad.  Created a new one here: https://github.com/cypress-io/cypress/issues/24682#issue-1448718698

[2022-11-14 20:52] #24652 closed, assigned to ryanthemanuel

[2022-11-14 20:59] breencp commented on #24682
I just found this: https://github.com/cypress-io/cypress/issues/24354#issue-1419484640
Looks like mine may be a dup of the same root issue?

[2022-11-14 21:12] marktnoonan commented on #24643
This will be fixed in the next patch, thanks again to people reporting the issue _even after_ you have unblocked yourselves 💯

[2022-11-14 21:15] AtofStryker commented on #1342
@ushankar5586 @mikestock-nimble it sounds like you might need to wait for the redirect back to your page to establish cookies for the session to capture? You should be able to do something like this:

`support/e2e.js` (supportFile)
[code]

`e2e/your_spec.js.js`
[code]

https://user-images.githubusercontent.com/3980464/201766654-f367e509-1136-47b3-ac52-4fc1b7200e20.mp4

Sorry the video is so small.

[2022-11-14 22:12] AtofStryker commented on #408
related to #24265

[2022-11-14 22:28] denis-domanskii commented on #23830
Just migrated from 8.6.0 to 11.0.1:
- components tests are 30% slower
- integration tests without changes

Video recording is disabled. Tests were ran in CI, on aws c5d.large agents.

[2022-11-14 23:23] marktnoonan commented on #24636
Thanks for reporting this, I see you have a workaround for now. Not a very satisfying one though.

I'm routing this to the e2e team to investigate further, since you've provided a consistent reproduction.

Notes from my debugging:

- options passed to click like `force: true` or `position` had no effect (except Cypress correctly failing the click when position was out of bounds of the element).
-

[2022-11-15 01:30] iamsellek commented on #23141
@CSchulz `import fetch from 'node-fetch';` I ended up taking another route with this, but node-fetch's current version is using ESModules, so that was probably the issue, I think?

[2022-11-15 01:50] qwazimoda opened #24685 "Support file can't be loaded if its path contains "node_modules""
### Current behavior

If a project is located in a folder, which path contains "node_modules", cypress can't be started inside it due to "Your supportFile is missing or invalid" error.
Below are screenshots of run and open commands:
![run](https://user-images.githubusercontent.com/19476580/201804944-58face67-d85e-473d-9b50-3a4cbe171780.png)
![open](https://user-images.githubusercontent.com/1947658

[2022-11-15 02:36] silentsiri commented on #14745
yet, same problem, and i need to fork the cypress-msw-intercept to change to fit my case.

[2022-11-15 06:37] reynolkb opened #24686 "GET 404 error for loading images"
### Current behavior

Currently I'm getting a 404 error when trying to do component testing. I'm testing a basic React/TypeScript/Next.js app with a parent and child component.

The image shows up fine with e2e testing, just not component testing. For component testing, it only shows the alt text and not the actual image.

I tried using the `Image` component from next as well as the basic html `im

[2022-11-15 07:49] vikingair commented on #23830
So I used now in my Cypress-Config:
[code]

Running times:
- `10.7.0`: 4m 54s
- `10.8.0`: 4m 5s 👀

It seems like Cypress became much faster without videos 😱

[2022-11-15 10:04] QuentinFarizon commented on #7306
@BlueWinds I am testing your binary on a Angular Ionic project (not using cypress-testing-library) with 260+ tests.

I had to replace test code when typing into a `ion-input` (which wraps a text input)
This worked on Cypress 10.9.0 : `cy.dataCy('serial-number-input').type('1232122334')`
This is now needed with your binary: `cy.dataCy('serial-number-input').find('input').type('1232122334')`

After

[2022-11-15 10:08] liambutler commented on #23830
Running times (all on GitHub Actions with video disabled):

`10.7.0`: 1m 31s
`10.8.0`: 1m 30s
`10.8.1 (experimental build)`: 1m 29s

So not too much of a difference. But my suite of tests is small right now.

I also ran them with video recording enabled:

`10.7.0`: 1m 45s
`10.8.0`: 1m 55s
`10.8.1 (experimental build)`: 1m 45s

[2022-11-15 11:01] ushankar5586 commented on #1342
This works like a charm, thanks you @AtofStryker this is really helpful!

[2022-11-15 11:37] Michel73 commented on #23830
I have the same problem with cypress 10.11.0. On Windows, macOS and ubuntu (github actions). Furthermore, the videos made on GitHub actions hang on unbuntu (22.04).

[2022-11-15 11:48] alexsegura commented on #6081
I think I have almost the same problem under Mac OSX, using Cypress standalone / direct download.

I'm using `cy.exec()` to run a Docker Compose command (i.e `cy.exec('docker compose exec -T ...')`).

Depending on how Cypress is launched, the `$PATH` is not the same.
- When it's launched via Spotlight or double-click, it does not contain `/usr/local/bin` (that's where the `docker` binary is locate

[2022-11-15 11:50] hegeds commented on #23391
I've done some digging and just for everybody: currently there is a 4GB memory limit for tabs in chromium. https://bugs.chromium.org/p/chromium/issues/detail?id=416284

so after some point it doesn't matter how much memory you have, if the browser tab reaches that limit it will crash.

[2022-11-15 11:54] PawelRuszlewicz commented on #23391
I just forgot about that reported by me issue. I already migrated to Playwright. And seems that was good decision, especially that since August we don't have any solution, for this high priority blocking many companies issue.

Seems that Cypress is good tool, but not for long E2E scenarios, due to this Chrome limitation.

[2022-11-15 11:59] rayeedanwar opened #24689 "Updating existing runs with tags in Cypress Dashboard"
### What would you like?

The ability to update the existing tags on Cypress Dashboard run (ie, add new tags, update existing)

### Why is this needed?

Sometimes a test will fail because of our api crashed. If we want to make use of Cypress Dashboard analytics, we cannot filter these runs. It would be useful if there was a way of adding this tag (something like `environment-flake`) so that we can

[2022-11-15 12:28] mostafahatem20 commented on #7362
![Screenshot from 2022-11-15 13-27-25](https://user-images.githubusercontent.com/64020043/201919668-8c0b42b8-5a9e-4a65-b99d-de5372620bed.png)
How can I disable these HTTP requests logging in CI?

[2022-11-15 13:02] lmiller1990 commented on #24666
That seems fine - I think we can close this as  unnecessary.

[2022-11-15 13:02] #24666 closed, assigned to nobody

[2022-11-15 15:01] IagoParisDev opened #24690 "Login failed due to HTTP mixed content. Blocked by Cypress but not by neither Chrome nor Electron"
### Current behavior

Cypress blocks my login test prompting:
![image](https://user-images.githubusercontent.com/109851533/201950896-22aff17e-b32f-4f01-b4a3-85c9d4a428e7.png)

### Desired behavior

Login should proceed without said error, as it does in Chrome outside of Cypress, these are the requests made (selected is the first one over HTTP, which Chrome does not block):
![image](https://user-im

[2022-11-15 15:02] kirandash commented on #5999
Anyone able to fix this? I am still getting this error every other time I run the test.

[2022-11-15 15:19] emilyrohrbough commented on #24685
Closing as a duplicate of https://github.com/cypress-io/cypress/issues/23616

[2022-11-15 15:19] #24685 closed, assigned to nobody

[2022-11-15 15:20] emilyrohrbough commented on #24685
@qwazimoda Thank you for reporting. Please see https://github.com/cypress-io/cypress/issues/23616, which we have agreed is unexpected behavior. If this is something you would be interested in fixing, we would gladly accept a contribution!

[2022-11-15 15:23] alexsch01 opened #24691 "Cypress Studio - ability to create tests after the first one without visiting new URL prompt"
### What would you like?

In Cypress Studio currently (I'm on Cypress 11.0.1), every new test (after the 1st one) requires the user to input a URL to visit a new page. The way I'm currently using Cypress is visiting the page in the first spec of the describe/context and in the other specs I actually make the tests without visiting again. Is it possible to make a config option to change this behavi

[2022-11-15 15:25] AtofStryker commented on #1342
@ushankar5586 glad I could help! I wouldn't recommend calling `Cypress.session.clearAllSavedSessions()` here unless you have to, since even after logging out the session should still be hydrated correctly, and if not it will trigger the recreation hook which has the desired effect. Let us know if we can help with anything else and glad this is working for you!

[2022-11-15 15:53] nagash77 commented on #24691
We consider this approach to be an. anti-pattern.  Each test should be able to run independently and reliably produce the same state and result regardless of the order of tests being executed.  As such we most likely will not add this feature unless there is substantial community feedback around wanting to support this anti-pattern.

[2022-11-15 15:53] #24691 closed, assigned to nobody

[2022-11-15 15:58] nagash77 commented on #24690
Hi @IagoParisDev , because you are starting with a visit to https, any visit to something other than https is considered cross-origin.  Please check out [cy.origin](https://docs.cypress.io/api/commands/origin) as an experimental feature which should address this specific scenario.  If you need further support in using cy.origin please check out our [Cypress Discord](https://discord.gg/cypress).

[2022-11-15 15:58] #24690 closed, assigned to nobody

[2022-11-15 16:13] nagash77 commented on #24682
Hi @breencp , I believe both issues revolve around file downloads.  Can you please try out this custom binary of Cypress that removes a change we **believe** is the culprit.

[code]

Let me know if that works for you.  Either way we will get someone to verify reproduction steps and get this ticket routed to our E2E team for resolution (although I can't promise any specific timeline for a fix, but

[2022-11-15 16:17] nagash77 commented on #24676
Hi @arsasota , I am sorry to hear you are having issues getting started with Cypress.  Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [Cypress Discord](https://discord.gg/cypress). Also try searching our [existi

[2022-11-15 16:17] #24676 closed, assigned to nobody

[2022-11-15 16:29] emilyrohrbough commented on #22587
~This was released with 11.0.0.~
EDIT: This was NOT released with v11.0.0. This will be released in v12.0.0.

[2022-11-15 16:50] lucoelho opened #24693 "Dropdown list - different behaviors in firefox headed or headless mode"
### Current behavior

Whenever there are dropdown lists in my project the test always Fail if if I run the test in firefox (v106) headless mode but works well in firefox in headed modem.
This test works well in chrome and edge.

![image](https://user-images.githubusercontent.com/7346841/201974471-616d509d-e5a5-4ef3-9314-7216fbb58b13.png)

### Desired behavior

The test must also work in firefox he

[2022-11-15 17:10] breencp commented on #24682
@nagash77 The custom binary did the trick.  Tests passed, didn't crash, and the video file even plays on my Mac again.  Thanks!

[2022-11-15 18:01] AshwinBhatkal-Harness commented on #5989
@xtrinch Did you find any other solution other than force click?

[2022-11-15 18:04] #21397 closed, assigned to emilyrohrbough

[2022-11-15 18:24] nagash77 commented on #24689
Hi @rayeedanwar ,  I have passed your feature request along to our cloud team for consideration.  Thank you for your feedback!

[2022-11-15 18:27] xtrinch commented on #5989
@AshwinBhatkal-Harness Afraid not

[2022-11-15 18:40] ZachJW34 commented on #15644
This was fixed in #22858 and is available since v10.5.0 of Cypress

[2022-11-15 18:40] #15644 closed

[2022-11-15 18:44] stychu commented on #23830
@ryanthemanuel

I tested with `11.0.1` and with `video: false`  and indeed it seems that is the issue here.

[2022-11-15 19:14] emilyrohrbough commented on #24696
@BenShelton Is this something you'd be interested in correcting?

[2022-11-15 19:15] jordanpowell88 commented on #24696
I was just noticing this yesterday. This should be a pretty simple fix

[2022-11-15 19:24] ryanthemanuel commented on #24653
Hi @jahvi thanks for creating this issue. Using your code I definitely see that the request is marked with "no alias":

![Image](https://user-images.githubusercontent.com/4873279/202007307-d772b58b-28e6-4489-99f8-d2c9f2a1d7cb.png)

However, the test code *does* succeed in waiting on the aliased request. Have you tried moving the intercept code to before the visit call? I'm wondering if it's a timi

[2022-11-15 19:37] ryanthemanuel commented on #24629
Hi @whydoievenneedthis, thank you for logging this issue. By default cypress treats the contents of a js file as a JSON object. I believe to accomplish what you will want to accomplish, you can `jquery.js,null` as the fixture. The null will tell it to just use the contents as is without trying to automatically convert it to an object (See the note at the bottom of this section https://docs.cypress

[2022-11-15 19:50] DHenry7471 commented on #23962
Hi @ryanthemanuel I've tried privilege update recommended with cypress 10.11.0 and got the same SIGILL issue

[2022-11-15 19:57] emilyrohrbough commented on #16806
`cypress run-ct` was removed in Cypress 10.0. The current Cypress version is 11.0 where component testing was released as GA. I am closing this issue due to inactivity. Please try the latest Cypress version and open a new issue if a similar problem persists.

[2022-11-15 19:57] #16806 closed

[2022-11-15 20:04] jahvi commented on #24653
@ryanthemanuel Yes in my original code the request is inside a `beforeEach` but it doesn't wait as far as my testing goes.

[2022-11-15 20:13] emilyrohrbough commented on #21402
this work as been done.

[2022-11-15 20:13] #21402 closed

[2022-11-15 20:14] emilyrohrbough commented on #21491
this has been done.

[2022-11-15 20:14] #21491 closed

[2022-11-15 20:17] emilyrohrbough commented on #20393
@wojciech-sygier Did you get this working?

[2022-11-15 20:23] karfau commented on #15644
No chance for a backport to the 9.x branch

[2022-11-15 20:23] emilyrohrbough commented on #19951
@alexniculae We have recently made a change in Cypress 11.0.0 which requires you to always provide a setup function to `cy.session()` to prevent unexpected errors like these. This issue my not longer be valid.

In the example you provided, why are you trying to leverage `cy.session()` in an after hook? What information do you need? what are you trying to do with that information?

[2022-11-15 20:24] emilyrohrbough commented on #21138
@k9ert are you still experiencing this issue? I was unable to reproduce.

[2022-11-15 20:51] ZachJW34 commented on #15644
@karfau no, we do not backport fixes to older versions.

[2022-11-15 20:52] marktnoonan commented on #24371
Confirmed this is an issue in 11.1.0 when using Electron and the markup provided. Confirmed Chrome doesn't crash in the same circumstances.

The error I got is below. This does not replicate if I take away the `target="_blank"`. @diggabyte in the short term, it seems like you could assert the `href` instead of clicking the link in most situations. Or if you have to click it, you could modify the t

[2022-11-15 20:59] ryanthemanuel commented on #24622
Hi @vijaykumar59694. Thank you for logging this issue. When I ran the sample code you listed, I saw the error:

[code]

I noticed that https://esolution-citizenportal2.dev.esolg.ca redirects to https://vulcantestfedration.b2clogin.com. Thus, I believe the right way to write this is:

[code]

Notice that you visit first visit the site, and then do the interactions under the redirected origin. See [

[2022-11-15 21:04] warrensplayer commented on #24440
Blocked while waiting on completion of the related Cloud issues.

[2022-11-15 21:18] vijaykumar59694 commented on #24622
Hello Ryan

I am facing a tough time regarding this origin header issue. I need your
help on this issue. Can you please schedule a zoom  meeting regarding this
tomorrow. I am in EST time zone. Any time is good for me. But i need your
help to fix this.

Thanks in advance
Vijay Kumar Chinthalapudi

On Tue, Nov 15, 2022 at 3:59 PM Ryan Manuel ***@***.***>
wrote:

[2022-11-15 21:57] ryanthemanuel commented on #24663
Thanks for logging an issue @defeated. Cypress pulls from a [list](https://publicsuffix.org/list/public_suffix_list.dat) of well known top level domains and on that list is `dev`. That is the reason for why it is being parsed in that fashion. What is your use case for using `http://dev:3000` instead of something like `http://localhost:3000`?

[2022-11-15 22:48] mwhitney86 commented on #14284
Any update on this?

[2022-11-16 00:15] flotwig commented on #24695
We're following Mocha's behavior here: #3559

There's only so much data that can be communicated via an exit code, so there's not much we can do here. For detailed information about what passed/failed/crashed, you should use either the [Junit Reporter](https://docs.cypress.io/guides/tooling/reporters#Reporter-Options) or the [Module API](https://docs.cypress.io/guides/guides/module-api).

[2022-11-16 02:10] QuantariusRay commented on #24429
If this is a component test, I'd be curious why you would be testing your providers. Why would this not just be an integration or end to end test?

[2022-11-16 02:24] lmiller1990 commented on #23141
I had a similar problem `node-fetch`, latest version is ESM only - you can use the older version (v2.x I think?) if your project isn't using `type: module`.

[2022-11-16 02:25] lmiller1990 commented on #23141
Is this still an issue or can we close it off? Is there a minimal repro I can pull?

[2022-11-16 02:54] rsouthgate opened #24700 "Intercept doesn't wait for redirect"
### Current behavior

Set up an intercept on a POST that returns a 302 redirect. In the cypress logs it seems to indicate the POST returns a 200 (the status of the subsequent GET request - which indicates that it is following the redirect).

However, cypress is not waiting for the followed request to complete before continuing. I can see this on a throttled connection where the cy.log (which comes

[2022-11-16 03:59] ryanthemanuel commented on #24653
Thanks @jahvi. Just to clarify, in your code where it is not waiting properly, is the intercept being set up first thing before the visits/calls that might trigger the calls being handled by the intercept?

[2022-11-16 04:34] jpike88 commented on #7306
This was the final straw, I've wasted an entire day trying to work around this issue, among others. I moved our suite to playwright today and it JUST WORKS, and does so a million times faster. To those still struggling and waiting for an outcome here I recommend the same until it is resolved.

[2022-11-16 07:05] wojciech-sygier commented on #20393
To be honest, I don't remember. I think my last comment remains valid, as I didn't really do anything regarding the second problem I had and the solution for the first one worked (again, look at my comment). Since then I also changed my job to game dev, so I'm no longer using Cypress, at least for now. Thus, I can't really verify whether it's still a thing.

[2022-11-16 07:45] SalahAdDin commented on #7306
Thanks for the advice.

It is sad this kind of thing still happens with this tool.

[2022-11-16 08:15] mmonteiroc commented on #7306
@jpike88
Even if people would like, we are talking that cypress tool is used by big companies like mine, where we are in an status where it would be impossible ( amount of work talking ) to migrate all tests suites to a new framework.

[2022-11-16 09:04] jhinzzz commented on #6245
Nothing update here. It still in 11.0.1 and its about 2.8 years now..

[2022-11-16 09:05] AlexDaniel commented on #7306
Not exactly. We have 53 test files with a few hundred test scenarios. In CI, our cypress tests were split into 14 shards and took more than 10 minutes to run in parallel (each shard taking approximately the same amount of time). I kinda doubt you have more tests than that in a single project (we write at least one test for every ticket, it's a policy).

As for the transition, we started by adding

[2022-11-16 09:16] mmonteiroc commented on #7306
@AlexDaniel

Im not going on details of that as we are going off-topic of this conversation. But I can assure you we have way more tests that where it would be easy to move framework
![image](https://user-images.githubusercontent.com/28816737/202139782-b5759c69-8bd5-4cca-8b87-5d034c91de13.png)

[2022-11-16 09:30] carwei commented on #7306
@AlexDaniel, what do you mean? Cypress can run tests in parallel even if it splits it on separate runners. Is there a drawback I'm missing?

[2022-11-16 09:48] AlexDaniel commented on #7306
With playwright I can have multiple runners in CI where each runner gets a `--shard` argument (e.g. `--shard=1/3` means to run the first third of all tests). On top of that, each runner has a `--workers` argument (e.g. `--workers 2` means to run up to two tests in parallel for that shard). Neither is possible with cypress. And, despite what Cypress devs say, this makes a huge difference (for examp

[2022-11-16 09:48] mohanbabu-zumen opened #24701 "Cypress chrome window irresponsive after the test case is failed"
### Current behavior

Once the test case getting failed, the cypress chrome window is irresponsive.
Unable to do anything manually.

### Desired behavior

It should not be irresponsive.

### Test code to reproduce

1. Run the test case in the cypress chrome window.
2. Once the test case is getting failed, do anything manually in the cypress chrome window.

Note: "It's occurred randomly"

### Cypre

[2022-11-16 09:53] mohanbabu-zumen opened #24702 "Cypress browser crashed frequently"
### Current behavior

When we run the long scripts, the cypress chrome window getting crashed and returns "Aw. Snap!"

Not only chrome, but All the browsers are also crashed when we run the long script

### Desired behavior

Cypress browser shouldn't be crashed in any case.

### Test code to reproduce

1. Run the long script in any cypress browser (Chrome, Firefox, Edge)
2. Browser will be crashed

[2022-11-16 09:57] carwei commented on #7306
@AlexDaniel Ok. I'm pretty happy with running Cypress in parallel in GitHub Actions + Cypress Dashboard. Running locally is very slow though, so I do think the performance improvements you mention are relevant both locally and in CI. Also, recording only failed videos makes much more sense. I just thought there is no way for the runner to know that in advance. In practice, however, it would be muc

[2022-11-16 10:15] filiphric commented on #7306
If you want to save some time on execution and want to skip video recording, there’s a [nice recipe for that in Cypress docs](https://docs.cypress.io/api/plugins/after-spec-api#Examples). Basically, you can skip the video compiling which slows down tests.

Also, there’s an option in config `videoUploadOnPasses` which you can set to false, if you want to skip the compression and upload when tests h

[2022-11-16 10:25] carwei commented on #7306
@filiphric Thank you for the suggested quick fixes. I'm also looking forward to v12 fixing this. It's tempting to think the grass is greener on the other side of the fence, with the risk of being busy instead of productive. I want to give Cypress a shot at fixing this since it seems to be within reach now.

[2022-11-16 10:29] jpike88 commented on #7306
automatic spec load balancing with PW wasn't that hard to implement I've found. a simple mechanism to auto-balance your specs will do the trick, all you have to do is decide how many shards you want.

- decide how many shards you like.
- run the test using the JSON reporter option, which spits out a JSON containing all test results (timings and names of each spec file).
- with a simple algorithm,

[2022-11-16 10:55] AlexDaniel commented on #7306
To bring this discussion back on topic, I had to dive into a legacy Cypress file today and here's a fix that I did.

We had a series of checks like this:
[code]
However, the test was failing on that first line, saying that `98 / 333` cannot be found. Upon video inspection, I could see that “98 / 333” is clearly on the screen, yet Cypress is not able to see it. The reason is that the v-card found b

[2022-11-16 10:56] asmyshlyaev177 commented on #7306
Yeah, if not so many tests to rewrite many people will do that.
Reason is ridiculous amount of bugs and issues with cypress, and most tickets just ignored.
Basically people end up testing Cypress itself instead of testing code with Cypress.

[2022-11-16 10:59] rainerhahnekamp commented on #24429
Quantarius (cool name by the way 👍), it could be that the information of how many items are in `Cart` is not shown in  `MyComponent`. Then the only way to find out is to check the service directly.

But I think Younes just made this example primarily to demonstrate the requirement of the `inject` command.

[2022-11-16 11:15] romankhomitskyi commented on #7306
Haahh)) true
We all have been there

[2022-11-16 12:04] SalahAdDin commented on #7306
Hahahaha, really?

[2022-11-16 12:18] bennymeade opened #24704 "Launching Webkit via GH Actions against localhost throws Error: read ECONNRESET at TCP.onStreamRead"
### Current behavior

[](url)Running Webkit test against http://localhost:3000/ via **GH Actions** results in the following error:
[code]
Suggesting that webkit cannot reach the localhost site when running via GH Actions.

Running this test locally against localhost works.
The same test passes on a live www site.
The same test passes with Chrome browser against localhost via GH Actions.

![github

[2022-11-16 12:34] edvansab commented on #22949
Hi guys, do we have any progress for this issue? Thanks @nagash77

[2022-11-16 13:53] ryanthemanuel commented on #24693
Hi @lucoelho. Thank you for logging an issue. What is the html for the combo box that you are using? Is it a standard [select](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select) or something more custom?

[2022-11-16 14:13] BenShelton commented on #24552
We're seeing the same when upgrading from `cypress/browsers:node16.13.0-chrome95-ff94` to `cypress/browsers:node18.12.0-chrome106-ff106`.

Exact same tests as before are now failing with the same error as above. This is in GitLab CI.

[2022-11-16 14:14] ryanthemanuel commented on #23391
Thank you @hegeds and others for the additional information. We are continuing to try and diagnose this in-house. We've had some sporadic success at recreating it, but are still trying to determine the exact root cause.

[2022-11-16 14:26] ryanthemanuel commented on #24622
Hi @vijaykumar59694. Unfortunately I will not be able to do a zoom meeting. Did you try the code snippet I sent in the previous comment? With the original code I saw an error similar to what you were seeing and with it, I was able to sign in:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/4873279/202206668-a1257290-0e21-440c-b54e-925b8a2bb1b7.png">

[2022-11-16 14:32] emilyrohrbough commented on #20393
@wojciech-sygier No problem! I am going to close this out for now since you don't be able to verify.

BTW, congratulations on the new job! 🎉

[2022-11-16 14:32] #20393 closed

[2022-11-16 14:35] vijaykumar59694 commented on #24622
Hello Ryan,

I tried running your code in my machine. But i am getting the 500 error.
Please refer the attached image below:
[image: image.png]
[image: image.png]

On Tue, Nov 15, 2022 at 3:59 PM Ryan Manuel ***@***.***>
wrote:

[2022-11-16 14:39] ryanthemanuel commented on #24622
@vijaykumar59694 those images didn't come through. I'm not sure why.

[2022-11-16 14:45] nagash77 commented on #24701
Hello @mohanbabu-zumen .  I am sorry to hear you are having issues running Cypress.  Unfortunately with the information provided we do not have enough to investigate further.  If you can provide a reproducible example please do so and we can re-open this issue.  This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reprodu

[2022-11-16 14:45] #24701 closed, assigned to nobody

[2022-11-16 14:46] emilyrohrbough commented on #24403
@alexniculae Is this a fix you'd be will to contribute to unblock your org?

[2022-11-16 14:46] nagash77 commented on #24702
Hello @mohanbabu-zumen .  Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're

[2022-11-16 14:46] #24702 closed, assigned to nobody

[2022-11-16 14:55] vijaykumar59694 commented on #24622
Attached again. Can you please confirm?

On Wed, Nov 16, 2022 at 9:35 AM vijay kumar ***@***.***> wrote:

[2022-11-16 15:03] normanmunge opened #24706 "Docker image cypress/included:11.0.1 fails on ARM with qemu: uncaught target signal 5 (Trace/breakpoint trap) - core dumped"
### Current behavior

docker run -it --platform linux/amd64 cypress/included:11.0.1 fails on my Apple Mac M1 with
qemu: uncaught target signal 5 (Trace/breakpoint trap) - core dumped

### Desired behavior

I should be able to run Cypress in Docker

### Test code to reproduce

docker run -it --platform linux/amd64 cypress/included:11.0.1

### Cypress Version

11.0.1

### Node version

v14.19.1

###

[2022-11-16 15:08] ryanthemanuel commented on #24622
I still don't see the images. It looks like you're responding via e-mail. Can you try attaching them via the github website at https://github.com/cypress-io/cypress/issues/24622?

[2022-11-16 15:09] vijaykumar59694 commented on #24622
![error2](https://user-images.githubusercontent.com/29042046/202217984-5235e8a8-5a98-43a8-ab1b-e51c4ae27a1c.JPG)
![code](https://user-images.githubusercontent.com/29042046/202217987-e348a0ed-8240-4e98-a77b-00b9c06c1079.JPG)

[2022-11-16 15:34] ryanthemanuel commented on #24622
OK I can see those images now. For one of the requests that is failing can you send me what it looks like in the console when you click on it? And then if you can find the call on the network tab, can you send me the contents of the Headers, Preview, and Response tabs?

Example:

![Image](https://user-images.githubusercontent.com/4873279/202223979-1d9e515b-6b22-4d52-b1f7-0e5a4deacd1e.png)
![Image]

[2022-11-16 15:35] jahvi commented on #24653
That's correct, my code looks more like this. I just simplified it for the sake of raising this issue:

[code]

[2022-11-16 15:41] vijaykumar59694 commented on #24622
![image](https://user-images.githubusercontent.com/29042046/202225648-902b6476-2362-4718-a377-adecff3ae009.png)
equest URL: https://digital-api-frontend-001.dev.esolg.ca/citizenportal-api-dev-v2/v1/api/v1/esolution-citizenportal2-dev-esolg/b2caccount/is-new-user
Request Method: GET
Status Code: 500 Internal Server Error
Remote Address: 127.0.0.1:49716
Referrer Policy: strict-origin-when-cross-orig

[2022-11-16 15:43] ryanthemanuel commented on #23830
I think I've narrowed it down to two potential commits:

https://github.com/cypress-io/cypress/commit/dc9e9dc62c7085b20cebf0392a0f680e2af98ef8

and

https://github.com/cypress-io/cypress/commit/bcd7548d74fdb5dab4790f10f158bb4f3e9387bc

I created a binary with 10.8.0 with those two commits removed and looked at our cypress realworld app repo with 10.7.0, 10.8.0, and 10.8.0 minus those commits. 10.7

[2022-11-16 15:44] vijaykumar59694 commented on #24622
All the errors are related to the internal server error.
Origin: https://esolution-citizenportal2.dev.esolg.ca
the origin header is missing

[2022-11-16 15:58] ryanthemanuel commented on #23830
@stychu, @liambutler, @fdc-viktor-luft and any others can you try this build to see if also improves your performance? It's similar to the last one, but is more targeted in what was removed to narrow things down even more:

`npm install https://cdn.cypress.io/beta/npm/10.8.1/linux-x64/10.8-minus-video-refactor-a8279f8104c46a046d37a71991aa0eccb329a202/cypress.tgz`

[2022-11-16 15:58] marktnoonan commented on #24562
I'm going to close this for now since we could not reproduce with the information provided, happy to reopen if there is an example of this happening that we can test.

[2022-11-16 15:58] #24562 closed, assigned to marktnoonan

[2022-11-16 16:00] marktnoonan commented on #24323
I'll close this for now due to inactivity, @yihuineng if you still have a problem, please comment again in the issue.

[2022-11-16 16:03] #24323 closed, assigned to marktnoonan

[2022-11-16 16:11] ryanthemanuel commented on #24654
Hi @HeshamMoneer. Thank you for logging this issue. When you use `continue` there's an implicit assumption that a response will be received which doesn't happen on timeouts and socket hang ups. Instead of `continue`, can you try using the `response` event or the `after:response`? See [this](https://docs.cypress.io/api/commands/intercept#Request-events) for more information.

Out of curiosity, what

[2022-11-16 16:15] HeshamMoneer commented on #24654
@ryanthemanuel Thank you for your answer. I will check the link that you provided now. I am logging all these network failures for further investigation because in our system a lot of API calls fail indicating that there should be a problem, but the UI does not show that any problem actually happened.

[2022-11-16 16:34] ryanthemanuel commented on #24595
Hi @liambutler. Thank you for logging this. I am unable to recreate it with my own test projects. When you see the issue is the video corrupt locally? Or just on the dashboard?

[2022-11-16 16:36] ryanthemanuel commented on #24653
Hi @jahvi can you try switching it to:

[code]

[2022-11-16 17:00] #24207 closed, assigned to emilyrohrbough

[2022-11-16 17:03] pgcayen commented on #23391
It's not particularly relevant to cypress, but I bumped into this thread while trying to debug my Microsoft Teams tab running out of memory at least twice per day. This wasn't an issue for me until I upgraded chrome beyond 103

The 4GB memory limit is just insufferable :sob:

[2022-11-16 17:04] vijaykumar59694 commented on #24622
I have been blocked on this since 3 weeks.

[2022-11-16 17:06] sufangyu opened #24707 "Cypress often gets stuck when Mackbook executes test cases, especially when the test cases are written and re executed"
### Current behavior

Cypress often gets stuck when Mackbook executes test cases, especially when the test cases are written and re executed

### Desired behavior

_No response_

### Test code to reproduce

[code]

### Cypress Version

11.1.0

### Node version

v16.18.0

### Operating System

macOS 13.0.1

### Debug Logs

_No response_

### Other

_No response_

[2022-11-16 17:10] marktnoonan commented on #24284
I'm just catch up in this conversation.

Note for those of us working on it: I wonder if it's connected to HTTP/2 support, https://github.com/cypress-io/cypress/issues/3708, based on this warning in the [MDN docs for EventSource](https://developer.mozilla.org/en-US/docs/Web/API/EventSource):

Several EventSource issues are mentioned in the comments. Not sure if this specific issue would be fixed b

[2022-11-16 17:11] AtofStryker commented on #22670
Hi @ganeshac123 are you running the binary directly? I am running the following test in `11.1.0` installed from npm:
[code]
I have run this multiple times and am unable to reproduce the issue. Is there something about our test set up that is different? It doesn't like like a `cy.origin` block is declared in the screenshot above, which is needed to patch the cookie context correctly. Is that the ca

[2022-11-16 17:35] marktnoonan commented on #24284
I'm going to route this to the e2e team, since we have been able to reproduce using the example provided.

[2022-11-16 17:50] flotwig commented on #24605
Workarounds are covered in this docs section: https://docs.cypress.io/api/commands/intercept#cy-intercept-and-request-caching

[2022-11-16 19:13] ryanthemanuel commented on #4934
Hi @pmattj. Thanks for adding additional info on your scenario. When you're doing the intercepts is it the same exact URL? Or does it flex by country? When this happens can you show what is outputted for the problematic xhr call in the console (click on the wait command in the Cypress UI and it'll display properties below)?

[2022-11-16 19:27] pmattj commented on #4934
It's the same URL pattern for each country, but now that you mention it, there's a total of three patterns for each country:
[code]

Unfortunately we've never been able to reproduce this reliably in local runs, only sporadically in CI. Is there a way I can capture more information programmatically in CI?

[2022-11-16 19:40] ryanthemanuel commented on #4934
Edit: Code was wrong at first but now should be fixed up

Hi @pmattj. So looking through the code. It is possible that `xhr` could be an array (though I don't completely see how given the code that you sent). But just to rule it out. Could you do something like this?

[code]
If we do that, you should be able to see true or false in the video on the dashboard

<img width="662" alt="image" src="http

[2022-11-16 19:53] ryanthemanuel commented on #24622
@vijaykumar59694 do you happen to have `chromeWebSecurity: false` set in your cypress config?

[2022-11-16 19:55] vijaykumar59694 commented on #24622
![image](https://user-images.githubusercontent.com/29042046/202280912-09cd483e-9318-4c60-bb7a-9f3d80f651f4.png)
yes

[2022-11-16 20:12] ryanthemanuel commented on #24622
Can you try removing that option or setting it to `true`? I believe that when that is set to false, chrome will no longer send the origin header which will break APIs that are reliant upon it. A lot of the reasons you might want to use that option go away if you're using `cy.origin` (which it looks like you are.

[2022-11-16 20:16] vijaykumar59694 commented on #24622
I tried changing it to true and even tried by removing that piece of code. But it didn't work out.

[2022-11-16 20:23] ryanthemanuel commented on #24622
Just to check. Did you restart Cypress after making those changes? Some of them are weird and don't take effect unless you actually restart. Also, are you working in chrome? What browsers have you tried this in and do they all fail the same way?

[2022-11-16 20:23] rburgst commented on #9350
Having exactly the same issue, at least according to github actions timestamps we have cypress pausing for several minutes between `X passing (Ys)` and `(Results)`.

Tried upgrading to cypress 11.1.0 and this has not changed anything.

[2022-11-16 20:36] sir-dunxalot commented on #9404
I get this error message, occasionally, when a previous step or command in the test failed. For me, the solution is not to solve the failing step. Instead, the solution is to identify any other steps failing prior to the one throwing this error message `expected undefined to be enabled`.

For example, look for the **_first_** step highlighted in red in the spec:

<img width="476" alt="image" src="

[2022-11-16 21:04] GeetaD09 opened #24710 "Cypress Test Runner - v10.3.1 - unable to view previous tests in the runner"
### Current behavior

Hello, I'm using cypress 10.3.1 and for some reason in the test runner after running all the tests - I am unable to go back to previous tests and go through it step by step and follow asserts visually in the test runner.  is there a setting I need to set?

### Desired behavior

In the past I was able to trace my steps in every test case.  Not able to do that now.

### Test co

[2022-11-16 21:08] rburgst commented on #9350
Note that I switched from electron to chrome and now it seems to run much quicker and the delays seem to be gone.

[2022-11-16 21:31] emilyrohrbough commented on #16935
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation) to prevent cases like this.
There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is on, before each test, Cypress will:

- clear the page by visiting about blan

[2022-11-16 21:31] #16935 closed

[2022-11-16 21:34] emilyrohrbough commented on #5510
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation). There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:blank`
- clear cookies
- cle

[2022-11-16 21:34] #5510 closed

[2022-11-16 21:37] emilyrohrbough commented on #18874
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation) to prevent cases like this, which you have experienced by opting into `experimentalSessionSupport`. There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`

[2022-11-16 21:37] #18874 closed

[2022-11-16 21:39] emilyrohrbough commented on #17585
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation) to prevent cases like this. There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:b

[2022-11-16 21:39] #17585 closed

[2022-11-16 21:44] ryanthemanuel commented on #24602
Hi @felixpro. Thank you for logging an issue. When this error occurs are you seeing any errors in the developer tools console? Also, your screenshot is helpful. Can you show a screenshot of what one of the successful tests looks like? It could be useful to compare what is happening on success vs. what is happening on failure.

[2022-11-16 21:44] #413 closed

[2022-11-16 21:45] ryanthemanuel commented on #24602
Hi @felixpro. Thank you for logging an issue. When this error occurs are you seeing any errors in the developer tools console? Also, your screenshot is helpful. Can you show a screenshot of what one of the successful tests looks like? It could be useful to compare what is happening on success vs. what is happening on failure.

[2022-11-16 21:46] #461 closed

[2022-11-16 21:46] ryanthemanuel commented on #24602
Hi @felixpro. Thank you for logging an issue. When this error occurs are you seeing any errors in the developer tools console? Also, your screenshot is helpful. Can you show a screenshot of what one of the successful tests looks like? It could be useful to compare what is happening on success vs. what is happening on failure.

[2022-11-16 21:49] emilyrohrbough commented on #18475
In Cypress today, we clear localStorage for the current domain before each test. This isn't clear or obvious because we persist the application under test so it's unintuitive that the user needs to re-apply the local storage values needed for their application.

In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing

[2022-11-16 21:49] #18475 closed

[2022-11-16 21:49] ryanthemanuel commented on #24617
Hi @jaime1702. Thanks for logging this issue. When this problem occurs, do you see any errors in the developer tools console? Can you try using `cy.pause()` to pause your test when the toast should be displaying and see if the state of the DOM looks like you would expect?

[2022-11-16 21:53] ryanthemanuel commented on #24620
Hi @kodriscollics. You mentioned this was happening on 10.11 and up. Does that mean that it is not happening on version 10.10? Or has that been tried? It would be helpful to know when this was potentially introduced.

[2022-11-16 21:55] emilyrohrbough commented on #15247
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation) to prevent cases like this. There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:b

[2022-11-16 21:55] #15247 closed

[2022-11-16 21:56] emilyrohrbough commented on #22230
Issues fixed by test isolation:
- https://github.com/cypress-io/cypress/issues/413
- https://github.com/cypress-io/cypress/issues/461
- https://github.com/cypress-io/cypress/issues/1083
- https://github.com/cypress-io/cypress/issues/5510
- https://github.com/cypress-io/cypress/issues/15247
- https://github.com/cypress-io/cypress/issues/16935
- https://github.com/cypress-io/cypress/issues/17174
- h

[2022-11-16 22:08] emilyrohrbough commented on #5963
https://github.com/cypress-io/cypress/pull/23734 made a breaking change to now throw an error if Cypress commands are invoked from inside a `.should()` callback since this resulted in unusual and undefined behavior.

Closing this issue since this is no longer relevant.

[2022-11-16 22:08] #5963 closed

[2022-11-16 22:08] kodriscollics commented on #24620
@ryanthemanuel I have not tried with other versions before 10.11. When I noticed it happening, I was on version 10.11. When I have some spare time, I'll try back rev'ing.

[2022-11-16 22:13] emilyrohrbough commented on #6526
We have removed support for `cy.ng()` in https://github.com/cypress-io/cypress/pull/23791. For support testing Angular in Cypress, see https://docs.cypress.io/guides/component-testing/angular/overview.

[2022-11-16 22:13] #6526 closed

[2022-11-16 22:20] emilyrohrbough commented on #7342
In Cypress 11.0, this is not longer an issue. Using the example provided, I received this error:
<img width="769" alt="Screen Shot 2022-11-16 at 4 19 49 PM" src="https://user-images.githubusercontent.com/14099737/202306906-7e67352e-52b1-43e4-a140-44a49cfacd0f.png">

[2022-11-16 22:20] #7342 closed

[2022-11-16 22:26] devanshitrivedi commented on #16262
Facing the same issue

[2022-11-16 22:33] emilyrohrbough commented on #1083
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation) to prevent cases like this. There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:b

[2022-11-16 22:33] #1083 closed

[2022-11-16 22:51] emilyrohrbough commented on #5289
In the upcoming v12.0.0 release, the deprecated `Cypress.Server.defaults` will be removed. This has been related with [`cy.intercept()`](https://docs.cypress.io/api/commands/intercept). Closing as won't fix.

[2022-11-16 22:51] #5289 closed

[2022-11-16 22:55] emilyrohrbough commented on #5409
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been replaced with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:55] #5409 closed

[2022-11-16 22:56] emilyrohrbough commented on #8954
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:56] #8954 closed

[2022-11-16 22:56] emilyrohrbough commented on #8955
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:56] #8955 closed

[2022-11-16 22:56] emilyrohrbough commented on #15166
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:56] #15166 closed

[2022-11-16 22:56] emilyrohrbough commented on #15223
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:56] #15223 closed

[2022-11-16 22:56] emilyrohrbough commented on #9121
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:56] #9121 closed

[2022-11-16 22:56] emilyrohrbough commented on #14617
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-16 22:56] #14617 closed

[2022-11-16 23:34] jaime1702 commented on #24617
Good evening, I tried to get the element by debugging, but it doesn't show up, it's a very strange behavior, it doesn't show any kind of error, and visualizing the execution really doesn't show up, but when I dowgrade the version, the otast appears normally

[2022-11-16 23:59] emilyrohrbough commented on #485
Verified in v11.1.0 that this is still and issue.

[2022-11-17 00:58] JohnLukeBentley opened #24711 "First test can pass via `cypress open` (purely local) but first test times-out via `cypress run` (local with dashboard uploading)."
### Current behavior

Using E2E testing I have multiple tests in multiple spec fails that can execute fine locally, via `cypress open`. They generally pass or fail based on whether the target form has the right or wrong business rules.

However, when I try to execute the same cypress script with a view to uploading results to the dashboard, via a `cypress run`, the first test partly runs but times

[2022-11-17 01:24] thakkarsaurabh commented on #2127
This works for me. Thanks.

[2022-11-17 01:47] ryanthemanuel commented on #24711
Hi @JohnLukeBentley. Thank you for logging this issue. You mentioned that you tried with Cypress 10.0.3. To be clear did that work or did it have the same problem?

[2022-11-17 02:39] jjkavalam opened #24712 "Cypress does report beforeEach and afterEach hooks errors only afterEach error"
### Current behavior

Following test (cypress/e2e/spec.cy.js) throws 2 errors. Both are reported in the console output. But the dashboard only reports one of them. Please see the linked repo for screenshots and logs.

### Desired behavior

All errors should be reported in the dashboard.

### Test code to reproduce

https://github.com/jjkavalam/cypress-bug-report-1

### Cypress Version

11.1.0

###

[2022-11-17 03:13] firmanserdana opened #24713 "console.error is printed properly on a mac terminal, but not on linux terminal"
### Current behavior

if we catch a nodejs error on cy.task, and attempt to print its error using console.error, the message would not be printed on Linux terminal, but somehow it's printed on a mac terminal.

Console.logs though is working okay.

### Desired behavior

Making it possible to see console.error message on linux machine's terminal

### Test code to reproduce

[code]

### Cypress Versi

[2022-11-17 03:31] EIKINAKAYAMA opened #24714 ""Cypress failed to verify that your server is running" Set proxy using host name doesn't work in above cypress v10"
### Current behavior

I run cypress by using docker agent by Jenkins CI.

I add host in docker agent because connecting Percy api requires ip6 name resolution.
(if I set proxy HTTPS_PROXY="http://[${secret but ip6}]:3128", cypress will work fine but it is unable to connect Percy api )

It is success to get the sever response by "curl" but not cypress. also it happens above cypress version 10.
When

[2022-11-17 03:55] JohnLukeBentley commented on #24711
Hi @ryanthemanuel, thanks for your attention. Indeed I had the same problem when I downgraded to Cypress 10.0.3 yesterday.

The script was working about 2 months ago, both locally and to the dashboard. Since then there has been minor changes to the Cypress script (unlikely to make a difference at the point of the timeout). There has also been some changes to the target form, including a sever migr

[2022-11-17 05:28] ganeshac123 commented on #22670
Where did you enable "experimentalSessionAndOrigin" flag? If I don't enable this flag I am getting error asking for enabling this, If I enable this flag in cypress config, I am not able to any files

[2022-11-17 06:00] higamaya opened #24715 "Cypress hangs when wrapping an object containing circular references."
### Current behavior

Cypress hangs when calling `cy.wrap()` with an object containing circular references.

### Desired behavior

Do not hang.

### Test code to reproduce

The code to reproduce this issue is as follows.

[code]

The actual code when I encountered the problem was more complex, and at first I did not know what the problem was. So I reduced my code while keeping the problem reproduc

[2022-11-17 06:27] ypyrko-hb commented on #22712
hey @TeoTN have you been able to solve this issue? Thanks!

[2022-11-17 07:17] vikingair commented on #23830
@ryanthemanuel Tested it with the above version (`https://cdn.cypress.io/beta/npm/10.8.1/linux-x64/10.8-minus-video-refactor-a8279f8104c46a046d37a71991aa0eccb329a202/cypress.tgz`).

Running time was: 5m 22s

It is just a little slower than the `10.7.0` (about 15s, but this could also just be a problem in the pipeline). However, all tests passed reliably, which is one of the most important aspects

[2022-11-17 08:03] emreSmrt commented on #23391
The same issue
CYPRESS 11.1
CHROME 107
<img width="905" alt="Screenshot 2022-11-17 at 09 00 35" src="https://user-images.githubusercontent.com/83953275/202390097-bee2b0f5-76ff-48ba-b585-d657a527ba77.png">

<img width="840" alt="Screenshot 2022-11-17 at 09 02 35" src="https://user-images.githubusercontent.com/83953275/202390079-908eae16-61b8-42b2-92f3-382c5cb3e64e.png">

[2022-11-17 08:24] sam-nash commented on #24704
+1 But on Windows and docker container on Azure Devops

I am trying to an api endpoint using cypress and it was working fine until last night.
There is no new code deployment,  no infra changes etc...

I can hit the same endpoint and get a success using curl and K6.

What could Cypress be doing with my request?

[2022-11-17 09:15] CSchulz commented on #23141
But this would not fix the issue with ESM only libraries like we would have. I am trying to create a repro the next days.

[2022-11-17 09:16] richardszanyi-kasa commented on #19831
Same on our end. 10.11

[2022-11-17 09:16] liambutler commented on #24595
Hi @ryanthemanuel, thanks for getting back to me

Both, unfortunately! You can see other folks encountering the problem in [this issue](https://github.com/cypress-io/cypress/issues/5191)

Some more info about my setup:

Local machine:
M1 MacBook Pro
Quicktime as default video player (this is important as the uncompressed videos are playable when using VLC)

CI:
GitHub Actions default runner

[Here

[2022-11-17 09:45] liambutler commented on #23830
@ryanthemanuel also tested with `10.8-minus-video-refactor`

Running times were:
- Video disabled: 01:26
- Video enabled: 01:45

Each video recording also showed the spec in its entirety. They didn't freeze early on in the recording, as has been the case with recordings from GA 10.8.0 and above

[2022-11-17 09:53] derkoe commented on #24636
I found out that sometime the click actually works - which breaks the workaround.

So, I've fixed the workaround with:
[code]

[2022-11-17 09:53] lucoelho commented on #24693
It's something more custom.
This is a react app and this is the html of one  combobox:

![image](https://user-images.githubusercontent.com/7346841/202411906-0f19ddf8-4f63-4670-bf25-9aae86115962.png)

[2022-11-17 10:49] ckoncz-hwx opened #24716 "cypress:server should really retry requests on network failures"
### Current behavior

I am performing a Cypress run that issues around 30 000 requests to a Cherrypy-powered application.
(I am counting the `cypress:server:request successful response received` messages in the Cypress debug output).

Out of these requests there about 1-10 that fail with ECONNRESET errors. Here is one:
[code]
(The same formatted manually:)
[code]
Despite of having `retryOnNetworkF

[2022-11-17 11:48] nhariom2000 commented on #1342
@AtofStryker I have done this code in github for accessing my SSO profile and getting a detail related to my project there but there is an an error saying currently all the cookies are blocked in my browser . Anyone know Any answers?
[code]
![Screenshot (785)](https://user-images.githubusercontent.com/111478262/202438040-c37b2c8e-c4a4-4fea-929a-fee23e8a1e22.png)

[2022-11-17 12:03] whoisteve commented on #8925
I had this problem for weeks and I don't know why. The solution for me was that I removed the chrome browser (delete `--browser chrome`) and use the default electron browser. The chrome browser in GitLab CI takes too much ressources...therefore some views are not loaded. The electron browser is much more lightweight.

[2022-11-17 12:07] jahvi commented on #24653
@ryanthemanuel Weirdly that does seems to work. The requests still show as "no alias" but looks like a good workaround for now thanks!

[2022-11-17 12:10] #24654 closed, assigned to ryanthemanuel

[2022-11-17 13:05] theTestingApproach commented on #14857
From here how do you check if the file has actually been downloaded..Anything done after this step is causing page load issue

[2022-11-17 13:21] jingliancui opened #24717 "Improve Test My Web App in Dark Mode"
### What would you like?

https://www.cypress.io/blog/2019/12/13/test-your-web-app-in-dark-mode/

As above blog post.
The cypress app's browser(chrome) show the page with dark/light mode correctly.
But test result throw exception. And I search this error
`(uncaught exception)TypeError: window.matchMedia(...).addEventListener is not a function`
And know that this api is deprecated. refer https://de

[2022-11-17 13:29] emilyrohrbough commented on #4918
I was unable to reproduce this with the example giving in Cypress 11.1.0. Closing due to inactivity. Please try the latest Cypress version to see if this issue persisted for you.

[2022-11-17 13:29] #4918 closed

[2022-11-17 13:32] #16665 closed

[2022-11-17 13:36] emilyrohrbough commented on #17174
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation). There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:blank`
- clear cookies
- cle

[2022-11-17 13:36] #17174 closed

[2022-11-17 13:45] emilyrohrbough commented on #17528
Closing due to inactivity.

[2022-11-17 13:45] #17528 closed

[2022-11-17 13:51] emilyrohrbough commented on #17746
@lucasmp2001 This issue sounds like https://github.com/cypress-io/cypress/issues/2939, which was fixed and released in Cypress 10.8.0. Closing this a fixed. Please comment or open a new issue if this issue persists.

[2022-11-17 13:51] #17746 closed

[2022-11-17 13:58] emilyrohrbough commented on #17913
@dvlato You can pass an environment variable via the cli with `--env`. See https://docs.cypress.io/guides/guides/environment-variables#Option-3-CYPRESS_.

[2022-11-17 14:02] emilyrohrbough commented on #3824
Closing as done. The base image for Node 10.15.3 is [here](https://github.com/cypress-io/cypress-docker-images/tree/master/base/10.15.3).

The latest included docker image uses `node 16.16.0`.

[2022-11-17 14:02] #3824 closed

[2022-11-17 14:06] wlsf82 commented on #20101
I’m also facing it with Cypress v11.1.0.

[2022-11-17 14:10] #24386 closed, assigned to astone123

[2022-11-17 14:14] emilyrohrbough commented on #1991
@hon2a Not ideal, but you can work around `Cypress.log` being synchronous by wrapping in `cy.wrap()` or `cy.then()`:
[code]

[2022-11-17 14:17] emilyrohrbough commented on #17754
As of Cypress 10.2.0, Cypress is available natively on Apple silicon, including the M1 and M2 processor families. For more details, read [our blog post](https://www.cypress.io/blog/2022/06/21/cypress-10-2-0-run-tests-up-to-2x-faster-on-apple-silicon-m1/). Addresses [#19908](https://github.com/cypress-io/cypress/issues/19908).

Closing as fix. Please open a new issue if you experience any other pro

[2022-11-17 14:17] #17754 closed

[2022-11-17 14:19] emilyrohrbough commented on #18132
@elevatebart Are you still experiencing this issue?

[2022-11-17 14:33] emilyrohrbough commented on #18760
Per responses https://github.com/percy/percy-cypress/issues/430#issuecomment-1211147131, this issue was a dependency resolution error.

[2022-11-17 14:33] #18760 closed

[2022-11-17 14:36] AtofStryker commented on #363
fixed by #[24692](https://github.com/cypress-io/cypress/pull/24692)

[2022-11-17 14:37] emilyrohrbough commented on #18132
duplicate of https://github.com/cypress-io/cypress/issues/18827 . Look like this should have been fixed in https://github.com/cypress-io/cypress/pull/19322

[2022-11-17 14:37] #18132 closed

[2022-11-17 14:37] emilyrohrbough commented on #18827
Look like this should have been fixed in https://github.com/cypress-io/cypress/pull/19322

[2022-11-17 14:37] #18827 closed

[2022-11-17 14:59] #24469 closed, assigned to ZachJW34

[2022-11-17 14:59] #24548 closed, assigned to ZachJW34

[2022-11-17 15:05] emilyrohrbough commented on #19211
Duplicate of: https://github.com/cypress-io/cypress/issues/4742. Closing in favor of https://github.com/cypress-io/cypress/issues/4742.

[2022-11-17 15:05] #19211 closed

[2022-11-17 15:06] emilyrohrbough commented on #19154
The spec configuration and resolution has changed in Cypress 10.0.0. The current Cypress version is 11.1.0. Please try upgrading and open a new issue if this persists.

[2022-11-17 15:06] #19154 closed

[2022-11-17 15:08] emilyrohrbough commented on #17183
In the upcoming v12.0.0 release, the deprecated `Cypress.Cookies.preserveOnce` and `Cypress.Cookies.defaults` will be removed. This has been related with [`cy.session()`](https://docs.cypress.io/api/commands/session). Closing as won't fix.

[2022-11-17 15:08] #17183 closed

[2022-11-17 15:13] emilyrohrbough commented on #20588
I have confirmed the above snippet does not set the cookie as expected.

[2022-11-17 15:19] vergjor opened #24719 "Chromium render crash with error: "Expected DataContext to already have been set via setCtx.""
### Current behavior

During the execution of my E2E tests, after I restart the test suite multiple times, cypress crashes with the following:

[code]

### Desired behavior

_No response_

### Test code to reproduce

This isn't linked to a specific test case, it happens after I retry a (longer) test case multiple times in a row

### Cypress Version

11.1.0

### Node version

v14.19.1

### Operatin

[2022-11-17 15:19] emilyrohrbough commented on #20613
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-11-17 15:19] #20613 closed

[2022-11-17 15:25] emilyrohrbough commented on #18410
duplicate of https://github.com/cypress-io/cypress/issues/8280. Closing in favor of https://github.com/cypress-io/cypress/issues/8280.

[2022-11-17 15:25] #18410 closed

[2022-11-17 15:32] talhazi commented on #4856
Hi someone over come the problem? (without force)

[2022-11-17 15:34] tester-at-bmi commented on #24512
We use typescript in our project. I think this is what we have in our project to make it work and hope it helps you in someway figuring out whats wrong with your setup.

We use the latest version of Cypress `11.1.0`

package.json in our devdepencies
`"@cypress/grep": "^3.1.0"`

cypress.config.ts
[code]

support/e2e.ts
[code]

support/index.d.ts
[code]

[2022-11-17 15:46] emilyrohrbough commented on #18941
This was released in 10.0.0. Verified in Cypress 11.1.0 that this does not error.

[2022-11-17 15:46] #18941 closed

[2022-11-17 15:54] emilyrohrbough commented on #19458
related to: https://github.com/cypress-io/cypress/issues/17321

[2022-11-17 15:57] alexsch01 opened #24720 "Printing to console through cy.task("log", "Hello World") before cy.visit causes it to print twice"
### Current behavior

Printing out to the console through cy.task
https://docs.cypress.io/api/commands/task#Syntax:~:text=cy.task(%27log%27%2C%20%27This%20will%20be%20output%20to%20the%20terminal%27) before doing a cy.visit causes the printout to occur twice

cy.task("log", "Hello World") would cause the following.....

Hello World # happens almost right away as it should
Hello World # occurs just

[2022-11-17 16:02] lucho2819 commented on #4856
what I did was to remove from my script that the element was visible and it worked.

Example I had
cy.get(.class).should(be.visible).click();

I just removed the should and it worked and I got the class.

[2022-11-17 16:06] emilyrohrbough commented on #5599
related to: https://github.com/cypress-io/cypress/issues/20588

[2022-11-17 16:06] ryanthemanuel commented on #24377
Hi @lidiagc. We have a theory about things that might be causing video oddities. I created a 10.9 custom binary with some code tweaks to test out that theory. Can you try this binary to see if it works?

`npm install https://cdn.cypress.io/beta/npm/10.9.1/linux-x64/10.9.0-minus-video-refactor-c2135e7e0e6b269a755e7f4309f90630af81d3b9/cypress.tgz`

[2022-11-17 16:15] DiwanD03 commented on #24583
Hi @nagash77, Were you able to make any progress on this issue?
Checking if it is atleast reproducible in your environment.

[2022-11-17 16:17] ryanthemanuel commented on #24653
Glad to hear you have a workaround. It's definitely good practice to put the intercepts first before any actions that might trigger anything you're trying to intercept (like a cy.visit).

That being said, there still is an issue with requests that are marked with `alias` in intercepts not showing up as aliases in the UI. I can recreate this with the following code:

[code]

![Image](https://user-i

[2022-11-17 16:20] emilyrohrbough commented on #14656
https://github.com/cypress-io/cypress/pull/23734 made a breaking change to now throw an error if Cypress commands are invoked from inside a `.should()` callback since this resulted in unusual and undefined behavior.

Closing this issue since this is no longer relevant.

[2022-11-17 16:20] #14656 closed

[2022-11-17 16:22] tommy-anderson opened #24721 "Configure dashboard during cypress open"
### What would you like?

I'd like to be able to use the, `latest runs` and `average duration` columns in the Cypress 11 UI during `cypress open` with a dashboard different from Cypress Dashboard.

### Why is this needed?

_No response_

### Other

_No response_

[2022-11-17 16:24] ZachJW34 commented on #24585
Spiked into this, got something rough working for both Webpack and Vite

https://user-images.githubusercontent.com/25158820/202501358-442f68f3-0e6f-44e1-9278-a6cf10be21fe.mov

https://github.com/cypress-io/cypress/tree/zachw/run-all-specs-ct

### Summary

The mechanism by which specs are loaded on the frontend are similar between e2e and ct. Whenever a user chooses a spec, an iframe is created wit

[2022-11-17 16:24] emilyrohrbough commented on #24530
https://github.com/testing-library/cypress-testing-library/pull/238

[2022-11-17 16:26] samtsai commented on #24512
Note if you're on Cypress 11, you'll need to update `TestConfigOverrides` to `SuiteConfigOverrides` (unless that's been updated in main/develop)

[code]

[2022-11-17 16:33] bahmutov commented on #14656
Super

[2022-11-17 16:58] alexniculae commented on #19951
@emilyrohrbough, I actually needed this to work in order to pick up the sessions that are still active on the current machine.

Due to some complexity in our app, we need to identify and end sessions (basically log out) after the specs (as much as possible).

Today, indeed, the logic that I use is to call the sessions I created at the start of the spec and then re-call them in the after hook; if t

[2022-11-17 17:10] AtofStryker commented on #1342
@nhariom2000 what version of cypress are you using? We did a lot of cookie improvements to cy.origin in `10.11.0`. Can you try that and see if the issue persists?

[2022-11-17 17:12] AtofStryker commented on #22670
@ganeshac123 I have `experimentalSessionAndOrigin` enabled in my `cypress.config.js` since it needs to be enabled at launch of the server to handle `cy.origin`. To get cookies to work in this scenario, the `experimentalSessionAndOrigin` flag needs to be enabled.

What do you mean by this? I am not sure I understand completely.

[2022-11-17 17:24] alexniculae commented on #24403
@emilyrohrbough, I'd love to, but for full transparency, that is very likely over my level of competences when it comes to coding 🙂

No real rush from my end to update to v10 or 11, just that we're missing out on some nice new features, bug fixes and everything else that is coming with newer versions.

[2022-11-17 17:24] chrisbreiding commented on #24265
Related: https://github.com/cypress-io/cypress/issues/8956

[2022-11-17 17:39] emilyrohrbough commented on #3940
In the upcoming v12.0.0 release, the deprecated `cy.route()` and `cy.server()` commands and the deprecated `Cypress.Server.defaults` API will be removed. This has been replaced with [`cy.intercept()`](https://docs.cypress.io/api/commands/intercept). Close as this is no longer application.

Please try recreating this issue with the latest Cypress version and `cy.intercept()`. If you are still havin

[2022-11-17 17:39] #3940 closed

[2022-11-17 18:01] jackykwandesign commented on #23626
@lmiller1990
I get the same error, and reproduce is really easy.
Just create a NX project in a remote cloud machine

My dev env:
- local: window 10 + vscode + ssh remote
- remote server: ubuntu 20.04 server
i use vscode to dev in ubuntu, and website of my app show correctly, but cypress ui never shown in --watch flag

`nx e2e app-fe` / `nx e2e app-fe --prod` will work and generate report / screens

[2022-11-17 18:25] ryanthemanuel commented on #24693
Hi @lucoelho. Thanks for the additional information. Is that component an open source component that I can use myself or is it proprietary? When this issue occurs, do you see any errors in the developer tool console?

[2022-11-17 18:47] nagash77 commented on #24707
Hi @sufangyu I'm sorry to hear you are encountering issues.  Can I ask what type of Mac hardware are you using?  What kind of processor does it have?

[2022-11-17 19:00] ryanthemanuel commented on #24706
Hi @normanmunge. Thank you for logging this issue. What version of docker are you using? I did some digging and it seems like upgrading docker *might* fix this particular issue.

[2022-11-17 19:03] BlueWinds commented on #24070
The element yielded to the `.then()` callback is a DOM element wrapped in jQuery - it's not a Cypress chainer, you can't chain cypress commands off of it. When you do

[code]

Generally speaking though, you don't want to pass subjects around like this. It'd be a lot better to write something like

[code]

[2022-11-17 19:03] #24070 closed, assigned to nobody

[2022-11-17 19:12] nagash77 commented on #24721
Hi @tommy-anderson can you elaborate on your use case and why you are requesting this feature?

[2022-11-17 19:16] nagash77 commented on #24682
Closing this issue.  Work to address the underlying cause of this issue is being tracked in this issue https://github.com/cypress-io/cypress/issues/23830

[2022-11-17 19:16] #24682 closed, assigned to nobody

[2022-11-17 19:16] BlueWinds commented on #16624
So there are a lot of different people commenting in here with different and unrelated issues, so it's hard to keep track of everything.

I'm going to try and respond to people individually, but generally please make sure your comment is actually related to the original report, and doesn't simply happen to have the same error message for different reasons.

@anywaynotme  (original report)

`cy.get

[2022-11-17 19:16] #16624 closed

[2022-11-17 19:29] BlueWinds commented on #2971
Interesting proposal! I know this is a couple years old at this point, but it's well written and I wanted to give a through response before I close it.

As part of the resolution of #7306, I've basically rewritten how aliases (and commands in general) work under the hood, and one consequence of that is that you can get the above behavior pretty easily.

Here are some examples of how it works in Cy

[2022-11-17 19:29] #2971 closed

[2022-11-17 19:31] BlueWinds commented on #7413
Good workaround, yeah.

I'm going to close this issue, since the resolution to #7306 (coming out in Cypress 12) is basically redoing how commands chain together, and the internal logic around re-querying the DOM is pretty different. See my comments in that issue for a more complete explanation of the changes coming in Cypress 12 in this regard.

[2022-11-17 19:31] #7413 closed

[2022-11-17 19:46] BlueWinds commented on #5655
This will be resolved in Cypress 12, coming soon to an `npm` near you (by soon, I mean "early December"). See #7306 and more specifically https://github.com/cypress-io/cypress/pull/24628 for details.

[2022-11-17 19:46] #5655 closed

[2022-11-17 19:49] BlueWinds commented on #6332
I *believe* this will be resolved in Cypress 12 by some of our upcoming changes. Since this issue is fairly old and innactive, I'm going to close this as 'resolved in Cypress 12' - if it isn't, I'd appreciate a comment here and I'll repoen, or a new issue tested against the latest version.

[2022-11-17 19:49] #6332 closed

[2022-11-17 19:53] BlueWinds commented on #9404
This should be resolved in Cypress 12 - see https://github.com/cypress-io/cypress/pull/24628 for the big refactor of how subjects are determined and commands chain together / retry.

Sorry it took us so long to get to this - this is pretty fundamental to how Cypress executes commands, retries things, and chains subjects together. #7306 has a ton of discussion around the subject (and around how Cy1

[2022-11-17 19:53] #9404 closed

[2022-11-17 19:55] BlueWinds commented on #9176
100% agree that our error messaging isn't super helpful when the subject doesn't match what we were expecting. I've rewritten most of these for Cypress 12, and this sort of thing should occur way less often. https://github.com/cypress-io/cypress/pull/24628 has those changes, and see #7306 for discussion around how we've restructured retrying commands.

[2022-11-17 19:55] #9176 closed

[2022-11-17 19:59] marktnoonan commented on #24712
I've been able to reproduce this with the example code thanks @jjkavalam. The Dashboard is reporting what is logged by the command log in the App. In the App, an error in a `beforeEach` shows up, and if there is an error in an `afterEach`, the `afterEach` shows up instead.

If we do intend to show just one error message - we should show the `beforeEach`, but since both blocks executed, it seems co

[2022-11-17 20:03] emilyrohrbough commented on #19951
@alexniculae Session is closely tied to the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation). There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:blank`
- clear cookies
- clear local stor

[2022-11-17 20:06] emilyrohrbough commented on #19951
I will say, if you are trying to determine if an ID has already been used to save a session, you can leverage `Cypress.session.getActiveSession('ID')`, but I still suggest moving this logic into your login logic.

[2022-11-17 20:23] emilyrohrbough commented on #24403
@alexniculae No problem!

[2022-11-17 20:25] BlueWinds commented on #7038
Going to close this as duplicate in favor of https://github.com/cypress-io/cypress/issues/3482

[2022-11-17 20:25] #7038 closed

[2022-11-17 20:27] BlueWinds commented on #7888
Going to close this after two years of inactivity + 7 major versions of Cypress. Please feel free to open another issue if this is still a problem and we'll try and do better about looking into things!

[2022-11-17 20:27] #7888 closed

[2022-11-17 20:29] BlueWinds commented on #8386
Going to close this after two years of inactivity + 6 major versions of Cypress. Please feel free to open another issue if this is still a problem and we'll try and do better about looking into things!

[2022-11-17 20:29] #8386 closed

[2022-11-17 20:31] BlueWinds commented on #8464
We're reworking how cy.cookie works in Cypress 12 - it should be more reliable across environments and uses. Going to close this, feel free to open another issue if you still run into issues!

[2022-11-17 20:31] #8464 closed

[2022-11-17 20:31] Marcelinna commented on #23391
I have the same problem 10.10.0, chrome 107

[2022-11-17 20:33] BlueWinds commented on #8485
Since the introduction of cy.origin, and a general rework of how cross-origin errors and testing work in Cypress 12, going to close this as a bit outdated now.

[2022-11-17 20:33] #8485 closed

[2022-11-17 20:35] BlueWinds commented on #8498
Going to close this after a couple years of inactivity and the release of 6 major Cypress versions. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about looking at things.

[2022-11-17 20:35] #8498 closed

[2022-11-17 20:35] BlueWinds commented on #8508
Going to close this after a couple years of inactivity and the release of 6 major Cypress versions. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about looking at things.

[2022-11-17 20:35] #8508 closed

[2022-11-17 20:36] BlueWinds commented on #8565
Going to close this after a couple years of inactivity and the release of 6 major Cypress versions. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about looking at things.

[2022-11-17 20:36] #8565 closed

[2022-11-17 20:37] BlueWinds commented on #8565
Going to close this after a couple years of inactivity and the release of 6 major Cypress versions. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about looking at things.

[2022-11-17 20:37] BlueWinds commented on #8567
Going to close this after a couple years of inactivity and the release of 6 major Cypress versions. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about looking at things.

[2022-11-17 20:37] #8567 closed

[2022-11-17 20:38] BlueWinds commented on #9675
With the release of Cypress component testing (going GA in 12.0.0), going to close this out.

[2022-11-17 20:38] #9675 closed

[2022-11-17 20:39] BlueWinds commented on #8587
Going to close this after a couple years of inactivity and the release of 6 major Cypress versions. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about looking at things.

[2022-11-17 20:39] #8587 closed

[2022-11-17 20:40] BlueWinds commented on #8570
Going to close this after a couple years of inactivity. If you're still running into problems with a more recent release, please feel free to open a new issue and we'll try to be better about responding to things.

[2022-11-17 20:40] #8570 closed

[2022-11-17 20:45] BlueWinds commented on #9677
Going to close this as stale - we've reworked a bunch of stuff in the last couple years, especially in Cypress 10 / component testing, and there's not a ton of actionable information captured here for the future.

[2022-11-17 20:45] #9677 closed

[2022-11-17 20:49] conversayShawn commented on #24500
This issue has been resolved by an internal PR.

If you continue to experience this issue, kindly open a new ticket.

[2022-11-17 20:49] #24500 closed, assigned to conversayShawn

[2022-11-17 21:01] BlueWinds commented on #8602
Going to close this, as we've had a lot of browser and version upgrades over the past two years. Please feel free to open a new issue if you're still running into problems.

[2022-11-17 21:01] #8602 closed

[2022-11-17 21:35] AtofStryker commented on #15886
@sowmyasridharamurthy have you tried getting this to work with the new `experimentalSessionAndOrigin` flag? This will be generally available in cypress 12 and am fairly confident this will fix your issue. I am going to close, but if this is still an issue please let us know!

[2022-11-17 21:35] #15886 closed

[2022-11-17 21:39] AtofStryker commented on #19318
HI @keaoner. This should be fixed with `experimentalSessionAndOrigin` and will be generally available in cypress 12. Please take a look at https://github.com/chrislacey89/cypressOktaBug/pull/1 and #23733. I am going to close this issue, but please let us know if this doesn't fix your issue.

[2022-11-17 21:39] #19318 closed

[2022-11-17 21:41] AtofStryker commented on #19288
@Imamitashish would you be able to try this with the `experimentalSessionAndOrigin` flag using `cy.origin()`? This should fix your issue and will be generally available in cypress 12. Since there isn't a full reproduction, I am taking a guess that this solves your issue. But if not, please let us know!

[2022-11-17 21:41] #19288 closed

[2022-11-17 21:44] AtofStryker commented on #18881
Hi @beocaca. Have you tried this with different hosts in `etc/hosts` for instance? `localhost` is a bit different and might not resolve subdomains correctly, but you should be able to accomplish a subdomain navigation in cypress 10+ as well as leverage the `experimentalSessionAndOrigin` flag in Cypress 10+ that allows for cross origin navigations (which likely isnt the case here). I am going to cl

[2022-11-17 21:44] #18881 closed

[2022-11-17 21:48] AtofStryker commented on #4416
Hi all. OIDC login with Okta should now be supported with the `experimentalSessionAndOrigin` flag and will be generally available in Cypress 12. Please see #23733 on how to use `cy.origin()` to accomplish this, as well as making sure your `baseUrl` is set to correctly programmatically log into Okta. I am going to close this issue, but if you are still experiencing problems please let us know and w

[2022-11-17 21:48] #4416 closed

[2022-11-17 21:52] AtofStryker commented on #1342
I am going to go ahead and close this issue as it will be available in Cypress 12 and is currently working with the provided solutions above. If there are still issues after being on Cypress `10.11.0` and above, please let us know and we can reopen this issue.

[2022-11-17 21:52] #1342 closed

[2022-11-17 21:54] AtofStryker commented on #17235
@BugrahanDurukan would you be able to try this with the `experimentalSessionAndOrigin` feature in Cypress `10.11.0`? I am going to close due to inactivity, but if this is still an issue for you please let us know and we can reopen!

[2022-11-17 21:54] #17235 closed

[2022-11-17 22:08] AtofStryker commented on #3539
Hi @kthulsidoss. Would you be able to try this with Cypress `10.11.0` and up? This should work with the `experimentalSessionAndOrigin` flag enabled with the following code:

[code]

https://user-images.githubusercontent.com/3980464/202570340-0381332d-4a41-4c9b-9bd2-65d70cd2a283.mp4

I am going to close as I believe this is no longer an issue, but please let me know if you continue to run into issu

[2022-11-17 22:08] #3539 closed

[2022-11-17 22:10] AtofStryker commented on #22988
I am going to close this as we plan on including this in the `cy.origin` docs to run localhost with a cert (likely `mkcert`) with firefox. This is a more broad issue that is required by a lot of auth libraries, so we might want to open another issue in regards to this generally with insecure localhost

[2022-11-17 22:10] #22988 closed

[2022-11-17 22:23] flotwig commented on #24492
Dupe of #18544

[2022-11-17 22:23] #24492 closed, assigned to mjhenkes

[2022-11-17 22:38] rogoit commented on #9176
.shadow saved my life and company...thx a lot for your passion and work!!

[2022-11-18 00:37] pmattj commented on #4934
Thank you! I've merged that change and I'll let you know when I get some results.

[2022-11-18 01:58] yeonjaee opened #24728 "No projects, no branches, pr closed. But Cypress tests keep running."
### Current behavior

I found the cancel run button because I wanted to cancel the run during the test by integrating cypress io and github action, but I couldn't find it.

So I just deleted the project and the branch.

But It says, "Tests are running."

How can I stop these?

![스크린샷, 2022-11-18 10-45-19](https://user-images.githubusercontent.com/96452659/202599269-2802b664-27a2-4547-b0d4-97c8028e

[2022-11-18 03:13] lmiller1990 commented on #23626
@jackykwandesign do you have the same problem locally or only in a Nx cloud machine?

[2022-11-18 03:21] lmiller1990 commented on #23141
Agreed, this is not perfectly solved. I'd like to see us move to esbuild eventually. It's faster and solves these problems fairly well. Until then, if you have a repro, I will do my best to fix it.

[2022-11-18 08:24] joakim-sch commented on #23933
Thanks @idanElitzur
Had the exact same problem
`const addContext = require("mochawesome/addContext.js")` did the trick

[2022-11-18 08:46] normanmunge commented on #24706
Using Docker version 20.10.21 which seems to be the latest.

[2022-11-18 08:48] hon2a commented on #1991
@emilyrohrbough I've already mentioned using `.wrap` in the OP (note that the first option mentioned by you, `cy.wrap(Cypress.log(...), { log: false })`, is still synchronous, i.e. does _not_ do the trick). The solution suggested by the new issue name would work nicely.

[2022-11-18 09:17] jerry-lllman commented on #2610
Thanks!
`npx cypress install --force`
it's effective !!!

[2022-11-18 10:19] bruno333 commented on #7183
Still facing the same issues even on cypress 10 and it fails randomly. Should we change framework?

[2022-11-18 10:32] public commented on #18922
The workaround I am using for this is to just use the relative path to the module. So instead of `cypress-multi-reporters` we have `../../node_modules/cypress-multi-reporters`.

You could probably also work around this by doing `reporter: require.resolve('cypress-multi-reporters')` in your `cypress.config.js`.

Obviously this is hideous but 🤷

[2022-11-18 10:42] lmiller1990 opened #24729 "Update Vite + associated dependencies"
### Current behavior

I want to use Vitest in the monorepo for faster unit tests. I'd like to start adding more unit tests around the complex logic in app and launchpad, and since we use Vite there already, Vitest would be a good candidate.

I tried adding it but we have some incompatibilities, we need to update Vite and esbuild before we add Vitest

### Desired behavior

Update Vite related depen

[2022-11-18 10:54] public commented on #22868
+1. Cypress 10 (and 11) is more than 2x slower than 9 for us.

This is very frustrating because 9 uses Rosetta to make x64 build of Chrome it uses work on Apple Silicon which is extremely slow in local development. (e.g. devtools takes 30+ seconds to open.) So our options are currently either that every single CI build takes 30 minutes instead of less than 10 minutes, or our local development expe

[2022-11-18 11:04] manuhortet opened #24730 "Response body is dropped for multipart POSTs"
### Current behavior

I am sending a multipart POST. The request is formed correctly and reaches the server. The response is also sent as expected form the server. But for some reason the response body seems to be dropped. See code below for the exact request.

When doing `.debug()` after the `cy.request()` I can see that the body is an `ArrayBuffer`.
With other POST requests I'm doing this doesn'

[2022-11-18 11:51] tommy-anderson commented on #24721
Hey there, so I've been using sorry-cypress to host my own on-premise dashboard and want to be able to view analytics from that dashboard instead of the Cypress Dashboard during `cypress open`.

More specifically I'm interested in the `latest runs` and `average duration` fields

<img width="349" alt="Screenshot 2022-11-18 at 1 52 17 PM" src="https://user-images.githubusercontent.com/11273582/20269

[2022-11-18 12:28] chrisbreamewoodmac commented on #23391
I really don't believe that this is Chrome-specific (or rather that it's Chrome v103-specific), nor do I think it's a separate issue to what everybody on this issue is reporting. As far as I can tell, using Cypress v10.11.0, my tests regularly go over the RAM limit and crash when running headed on:
Electron v106 (version which is built in)
Chrome 107
Edge 107

If I run headless, they will not cras

[2022-11-18 12:51] straurob commented on #21450
@hansfuchs-optimate Have you found the root cause or any viable solution to this problem?

[2022-11-18 13:29] sszemer opened #24731 "Introduce new chainer .should('include.any.text', ['text1', 'text2'])"
### What would you like?

I'd like to be able to verify if text on page satisfies some dictionary/enum

### Why is this needed?

I don't always know the value that should be visible, but i know the possibilities are finite.

### Other

[code]
or even going further, work on enums:
[code]

[2022-11-18 14:08] lidiagc commented on #24377
Hi @ryanthemanuel, thank you for looking into this. I installed the custom binary and ran the end-to-end tests on GitLab. The flicker still happens and it seems way more frequent than before.

We have recently upgraded to version `11.0.1` and we have encountered the flicker a couple of times, but it seemed way less frequent than in version 10, hence our decision to upgrade.

[2022-11-18 14:39] conversayShawn opened #24732 "Cannot set property of getter error when AUT dynamically imports URL"
### Current behavior

**Error:**
<img width="868" alt="Screen Shot 2022-11-18 at 6 17 53 AM" src="https://user-images.githubusercontent.com/48733734/202725588-b775fe18-6f60-4f1d-bccc-fa83ad70af8d.png">

### Desired behavior

I would prefer to calculate it dynamically from the window object to reduce test fragility.

### Test code to reproduce

https://github.com/conversaShawn/dynamic_url_import

#

[2022-11-18 14:50] ganeshac123 commented on #22670
I have enabled experimentalSessionAndOrigin flag in cypress.config.js file, after enabling this I am not able to run any files in cypress application(web app downloaded from cypress.io)

[2022-11-18 14:56] #24431 closed, assigned to nobody

[2022-11-18 14:59] marktnoonan commented on #24177
@787681277 I'm going to close this for now since we've had more than a week of inactivity.

[2022-11-18 14:59] #24177 closed, assigned to marktnoonan

[2022-11-18 15:11] emilyrohrbough commented on #781
@michaelmdresser We will be releasing Session as GA in the upcoming v12 release. We are expecting to release in early December.

[2022-11-18 15:33] marktnoonan commented on #24717
Hi @jingliancui could you share your actual test code that produces this error. The following works for me:

[code]

You need to stub `addEventListener` because even though it is deprecated, the website is using it, so this line throws an error when the `matchMedia` response stub doesn't include it.

<img width="642" alt="Screen Shot 2022-11-18 at 10 31 58 AM" src="https://user-images.githubuserco

[2022-11-18 15:44] alexsch01 commented on #24720
This is when running the command: "npx cypress run --spec cypress/e2e/spec.cy.js"

[2022-11-18 15:45] AtofStryker commented on #22670
@ganeshac123 I'm sorry but I'm still not entirely sure what that means. Is there an error being thrown? Could you share a screenshot?

[2022-11-18 15:49] alexsch01 commented on #24720
Video of the bug:
[Screen recording 2022-11-18 10.48.08 AM.webm](https://user-images.githubusercontent.com/5721147/202745410-0fe3f33a-9d72-40e9-a111-76ed28dc5da3.webm)

[2022-11-18 15:55] jingliancui commented on #24717
Ah! You are right, and I think because I didn't know `return()` method of `stub()`. So I thought it occur because of the deprecated stuff.
Thanks so much. @marktnoonan

[2022-11-18 15:55] #24717 closed, assigned to marktnoonan

[2022-11-18 15:56] estrada9166 opened #24734 "Update PARALLEL_GROUP_PARAMS_MISMATCH error"
### What would you like?

Update the error that is thrown when the cloud responds with `PARALLEL_GROUP_PARAMS_MISMATCH` - the cloud is gonna include in the payload the difference in the specs (in case there are) and also the difference in the params (in case there are)

Payload:
[code]

This change only adds a new field in the returned payload (`differentParams`).

Also, we can reshape the `differ

[2022-11-18 15:58] marktnoonan commented on #24720
Thanks for reporting @alexsch01 - the reason for this is that when you `cy.visit()` a new domain, Cypress has to switch to that domain. This causes Cypress to refresh with a new URL and the spec restarts.

If you set your `baseUrl` in config to `https://example.cypress.io/`, Cypress will be aware of that when it opens, and not need to switch when the spec does its first `visit`.

Out of curiosity,

[2022-11-18 16:00] lucoelho commented on #24693
Hi @ryanthemanuel I can't gives our component to test but you found in that page "https://react-select.com/home" a similar component that have the same behaviour:

Test code to reproduce:

`
describe('test spec', () => {
  it('react-select home page', () => {
    cy.visit('https://react-select.com/home')
  })

  it('select Yellow', () => {
    cy.get('.select__control').first().click();
    cy.get

[2022-11-18 16:09] AtofStryker commented on #1380
Hey all. Google OAuth / OIDC should now work with Cypress `10.11.0` and up with `cy.origin` with the `experimentalModifyObstructiveThirdPartyCode` and `experimentalSessionAndOrigin` flags. However, similar to the disclaimer made in `cypress-social-plugins`, Google will likely start to fail in CI due to bot detection, which is outside the scope of automation testing. Their disclaimer:

[code]

Howe

[2022-11-18 16:13] AtofStryker commented on #6703
Hey all. If logging into federated Cognito is still an issue using username/password, you can now easily test this with `cy.origin` in `10.11.0` and up! This requires the `experimentalSessionAndOrigin` flag to be enabled and ill be generally available in Cypress 12. A sample test would look like this

[code]

Hopefully you all are able to try this and let us know what you think!

[2022-11-18 16:18] AtofStryker commented on #908
@jblaketc you can test microsoft OIDC and many other authentication providers now with `cy.origin`. Check out #1342!

[2022-11-18 16:20] AtofStryker commented on #7278
@kalavathijeeru you can try authentication flows now with  the `cy.origin` command. Please give it a try and let us know what you think!

[2022-11-18 16:20] marktnoonan commented on #24299
@ifoster-21 we are beginning to implement a policy to close non-reproducible issues within 7 days of inactivity. Unfortunately, if we cannot reproduce an issue there isn't a whole lot that we can do, and in an effort to keep our issue backlog manageable we will be closing the issue.

[2022-11-18 16:20] #24299 closed, assigned to nobody

[2022-11-18 16:22] marktnoonan commented on #24509
Just a note to say thanks for reporting. I don't have any specific update at the moment. We are tagging and looking into several issues around memory that are likely related.

[2022-11-18 16:22] AtofStryker commented on #7438
@siddy1639 this should now work with the new `cy.origin()` command as of `10.11.0`. Just enable the `experimentalSessionAndOrigin` flag to use the command. This will be generally available in Cypress 12 and should work with most authentication flows. Let us know what you think!

[2022-11-18 16:24] marktnoonan commented on #24430
Hi @kaiyoma sorry for my slow reply here, the logs can be generated with `DEBUG=cypress:* cypress run`, more details are here: https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs

[2022-11-18 16:28] marktnoonan commented on #24430
I notice that in the two error messages there are different browsers detected. In the issue description Cypress has only found Electron, and in [this comment](https://github.com/cypress-io/cypress/issues/24430#issuecomment-1301117511) Cypress has found both Electron and Firefox.

Did anything change in the environment between these attempts? It's possible Cypress is inconsistently detecting the in

[2022-11-18 16:32] marktnoonan commented on #24560
I was able to make a reproduction of this and is does seem to me that we shouldn't behave differently based on the contents of the outgoing request, for the same server response: https://github.com/marktnoonan/formdata-test

[2022-11-18 16:37] marktnoonan commented on #24239
Hi, thanks for this report. It looks like the code around this has changed slightly in Cypress 11+ as component testing has reached GA, but I'm not certain you won't still have this problem. I'm going to route this to the CT team to take a closer look, in the meantime if you get a chance to test the latest version of Cypress it would be helpful to know for sure.

[2022-11-18 16:40] devjared1 opened #24735 "Cannot access component variables"
### Current behavior

Using Cypress 9.7.0, after adding the Vuetify plugin to our Vue3/Vite app, I am not able to access component variables or methods in a component test.

### Desired behavior

Before adding the Vuetify plugin, I was able to access component variables and methods.

### Test code to reproduce
Here is my `cypress\index.js` file:
[code]
TestNavbar.vue file:
[code]
TestNavbar.cy.js

[2022-11-18 16:45] alexsch01 commented on #24720
Where I work, (company protocol) we print a specific text format (with things like environment of the application, test name, etc) to the console before the spec runs.

What's rather interesting is that this workaround works and only prints "Hello World" once before any cy.visit's happen
[code]

[2022-11-18 16:48] yelhouti commented on #24560
@marktnoonan I totally agree, the solution should be to handle response based on response header `content-type` no matter the request type.

[2022-11-18 16:53] marktnoonan commented on #24720
Hmm. I don't know too much about this area, it looks like we don't re-run the whole spec then, we just pick up at the it block after the domain changes.

What you're describing seems like something that might fit better in a `before` or `beforeEach` hook, is there a reason you prefer to do this inside the `it` block?

[2022-11-18 17:11] alexsch01 commented on #24720
The reason I used an it block is that the below code has the same issue with printing "Hello World" twice.

[code]

[2022-11-18 17:50] brunoargolo commented on #16681
In our case a  hello world cypress test with video off takes 12 seconds to initialize and run, all the test does is console.log('hello'); Turning video on brings it to 60 seconds and produces a 45 second video clip with a mostly blank page.

This feature would be a great way to have major performance gains.

@jennifer-shehane , as an extra, if I understand correctly the video is created by running

[2022-11-18 17:51] croor005 commented on #24398
Running with sudo makes this go away

[2022-11-18 18:54] nagash77 commented on #24728
Hi @yeonjaee , Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://on.cypress.io/chat). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading t

[2022-11-18 18:54] #24728 closed, assigned to nobody

[2022-11-18 19:08] AlexDaniel commented on #16681
@brunoargolo it also sounds to me like you're suffering from https://github.com/cypress-io/cypress/issues/18564, https://github.com/cypress-io/cypress/issues/22868 or https://github.com/cypress-io/cypress/issues/23830, or all those combined.

[2022-11-18 19:10] CoryDanielson commented on #23391
My bad @chrisbreamewoodmac - your reproduction steps were the only to mention rerunning a test within this thread. I'm also sure that you're experiencing the same issue.

Regarding

I do not work for Cypress. The cypress team has been working on this but it seems like Chrome pulled the rug out from under them without notice here.

I'm having the same issue at work as well, but we're just working a

[2022-11-18 19:13] kaiyoma commented on #24430
@marktnoonan Nope, nothing has changed. We're using the same Docker image all the time, which has Chrome and Firefox installed:

[code]

[2022-11-18 19:15] CoryDanielson commented on #23391
Do you need access to a large web app to reproduce this more consistently? The app that I work on is so large and complex that you could probably reproduce the issue by navigating around in our app during a free trial period.

[2022-11-18 19:15] AtofStryker commented on #3459
I did give the sample code a try and was able to broker a login flow through microsoft with `cy.origin`, but when I land back on Teams I get a blank screen, but no errors. This likely needs to be investigated further.

`cypress.config.js`
[code]

[code]

Anyone else able to give this a try with `experimentalSessionAndOrigin` and `modifyObstructiveThirdPartyCode` flags enabled? I'm interested in th

[2022-11-18 19:17] nagash77 commented on #24730
possibly related to https://github.com/cypress-io/cypress/issues/24560.

@manuhortet I'm sorry you are having difficulties.  Can you try the workaround in the above linked ticket and see if that fixes your problem for the short term while we investigate further?  Thank you.

[2022-11-18 19:17] AtofStryker commented on #3604
Hi all. Would anyone be able to try https://github.com/cypress-io/cypress/issues/3459#issuecomment-1320431165 and post on that issue?

[2022-11-18 19:25] AtofStryker commented on #18779
Hi @JDansercoer. have you tried you OAuth2 flow with `cy.origin()` enabling the `experimentalSessionAndOrigin`? This should correctly set your sessionId Token. I might be absent in the browser, but it should persist in the proxy layer of cypress. Would you be willing to give it a try in a version at or above `10.11.0`?

[2022-11-18 19:28] AtofStryker commented on #18558
Hi @Gouravroy7. would you be able to provide a reproduction repository? If this is a cross-origin navigation + subsequent requests, session cookies should be correctly set now with `cy.origin` and the `experimentalSessionAndOrigin` flag enabled. I am going to close as this should be fixed, but if not let us know and we can reopen!

[2022-11-18 19:28] #18558 closed

[2022-11-18 19:32] AtofStryker commented on #18268
Hi @Kat259. This issue should be solved with `cy.origin` and looks like a very similar issue to #22282. I am going to close this issue because I am fairly confident it is fixed, but can you follow that issue thread and let us know whether or not it solves your issue?

[2022-11-18 19:32] #18268 closed

[2022-11-18 19:36] AtofStryker commented on #18377
Hi @simon-ittmann . Would you be able to try this login with `cy.origin`  with the `experimentalSessionAndOrigin` flag set to true to use Lax cookies by default and not pass in the `--disable-features=SameSiteByDefaultCookies` flag? This does work with keycloak and chrome in #22282. I am going to close as I think the cookie management issues are solved with cross-origin testing support and handled

[2022-11-18 19:36] #18377 closed

[2022-11-18 19:43] #24000 closed, assigned to astone123

[2022-11-18 19:51] AtofStryker commented on #19800
It seems to be fixed when contained properly within the `cy.origin` command as expected with cypress `10.11.0`:
[code]
<img width="1767" alt="Screen Shot 2022-11-18 at 2 46 59 PM" src="https://user-images.githubusercontent.com/3980464/202789895-005f1b54-47c2-4980-a024-ca5b81c50dd2.png">

https://user-images.githubusercontent.com/3980464/202790662-110729d5-5c38-4d00-92c6-e68cc554cdc0.mp4

@jonasrao

[2022-11-18 19:51] #19800 closed

[2022-11-18 20:00] marktnoonan commented on #24608
Hi @kaiyoma what browser are you in in Windows when you see this? Agree it looks weird but I also don't see this behavior. Can you confirm what is showing up as the "rendered font"? For example in Chrome this is under the computed styles tab, right at the bottom:

![Screen Shot 2022-11-18 at 2 57 54 PM](https://user-images.githubusercontent.com/8340719/202791946-d9821760-72d1-4862-82eb-079734b108a

[2022-11-18 20:20] #24585 closed, assigned to ZachJW34

[2022-11-18 20:22] ryanthemanuel commented on #24595
Aha. Thanks for the additional information @liambutler. I was able to reproduce this. Key differences from when I tried before:

* videoCompression = 0 in the config
* Using quicktime to try and open the file locally
* Using safari to try and load the file in the dashboard (it seems to work in chrome but not safari).

I will go ahead and route this to the e2e team.

[2022-11-18 20:37] brian-mann commented on #24721
Hi @tommy-anderson - we're racking our brains trying to understand your question. To be clear, our Dashboard service already provides this data to the test runner.

Based on what you're saying, it seems like a competitor to our service (not built by us) has not yet built the functionality to provide that data. If that's the case I'm not sure what we could do on our end since we're not responsible

[2022-11-18 21:00] ryanthemanuel commented on #24706
Hi @normanmunge. I misread your command earlier. I believe you will need to update it to:

[code]

Note `arm64` instead of `amd64`. This is necessary since you are on an M1. Let me know if that works. Thanks!

[2022-11-18 21:11] jrefior commented on #22262
For those who ran into this on Fedora 36: on November 15, Fedora 37 was released, and that upgrades Node.js to 18.7.0 (as of this writing). I had this problem, upgraded to Fedora 37, and it resolved the issue.

[2022-11-18 21:36] kdp88 commented on #24450
I also experiencing this, am I doing something wrong ?

Cypress: ^11.1.0
cypress-grep: 3.1.0

[2022-11-18 22:59] pavelloz commented on #7677
It would be very nice to be able to test oAuth flows on Firefox :)

[2022-11-18 23:58] kaiyoma commented on #24608
@marktnoonan I'm running the latest version of Chrome. This is what I see in devtools:

![image](https://user-images.githubusercontent.com/10719780/202822257-0abe4e3b-dc0b-463b-850b-4678ca4061d9.png)

[2022-11-19 01:18] ramicohen303 opened #24737 "v11.0 does not respect watchForFileChanges"
### Current behavior

When using the Cypress UI, change to a code file no longer triggers a rerun of active spec. This broke in v11.0.0. Once I revert to v10.x.x, the issue is resolved.
I don't have watchForFileChanges set, but the default is true, so it should trigger a rerun. I verified under project settings that the setting is true.

### Desired behavior

Trigger a rerun

### Test code to repr

[2022-11-19 02:17] abhi1693 commented on #24693
I too have the exact problem with Firefox v107. For me, it happens whenever a toaster is triggered on the UI. The package can downloaded from https://www.npmjs.com/package/react-toastify

[2022-11-19 06:49] whydoievenneedthis commented on #24629
Hi @ryanthemanuel, this is what I was looking for, thanks. Now that I know what I am looking for, I was able to find the info in the documentation as well, but I still think it would make sense to have the `,null` behaviour the default for the interception fixtures.

[2022-11-19 06:54] rajutandukar commented on #8446
i am also having same issue . i use macOs 2GHz core intel core i5, 16GB. Cypress get hung and have to force quit even nothing were ran.

[2022-11-19 08:48] thu2004 commented on #19800
Now it is fixed. I updated the repo https://github.com/thu2004/cypress-cookie-lax-issue as well. Thank you

[2022-11-19 09:33] bob-lee commented on #24659
I'm pretty sure this is resource related (and quite understandable), until my project can migrate to `vite`, I'm downgrading to `10.7.0` and closing this.

[2022-11-19 09:33] #24659 closed, assigned to marktnoonan

[2022-11-19 11:27] rujorgensen commented on #24198
Update: I migrated my NX project, and Cypress 11.1.0 still fails this test.

[2022-11-19 11:58] HeshamMoneer opened #24739 "cy.select() not working properly if index is used"
### Current behavior

[code]
I am running this command on the HTML element described above
[code]
The selected option should be "Frankfurt," however, "AHA Bug bash" is the selected option.

I believe this generally happens because of the value attribute that is identical for all options (because this problem does not happen when the value options are different). I, unfortunately, cannot change the

[2022-11-19 14:29] shwarcu opened #24740 "Waiting for request with cy.wait when alias name matches tag name breakes cy.get command (interception becomes subject)"
### Current behavior

I created repository with reproduction
https://github.com/shwarcu/cypress-alias-bug-repro

When few conditions are met, `cy.get` command is returning wrong subject (intercepted request instead of DOM element).
It behaves like `cy.get('@aliasname')` instead looking for an actual element. Here are conditions:
- alias has the same name as element we lookup (in reproduction I use

[2022-11-19 19:39] ushashir commented on #16516
I am having a similar issue with version 11.0.0

[2022-11-20 07:24] Rahuifcnja4 opened #24741 "Yaml/yml support in fixtures folder in cypress"
### What would you like?

Support for yaml fiel inside fixtures, so that we can utilize data in our tests by node and keyname

### Why is this needed?

Fixtures support only json format, what if users need to store data in yaml /yml file...

### Other

No

[2022-11-20 10:46] joaonc opened #24742 "Cypress 11.1.0 breaks developer tools Find functionality in Chrome"
### Current behavior

Working on a React app (not sure if that's relevant) and using Cypress 11.0.1 and everything was fine.

Upgraded to 11.1.0, along with a few other dependencies from running `yarn upgrade cypress` and everything _seems_ fine, except that the find functionality in Chrome's developer tools simply doesn't work. You type something to find and no results are found.

Downgrading to

[2022-11-20 12:27] ViniciusResende commented on #6918
I'm having the same issue using yarn, already deleted the `/home/[username]/.cache/Cypress/...` folder content still can't install it.

![Screenshot from 2022-11-20 09-41-24](https://user-images.githubusercontent.com/52660930/202902426-ca8f1813-3863-4023-9fc7-a135b14ed232.png)

[2022-11-20 16:07] segevfiner commented on #22273
Newer tsconfig-paths changed the way this is done so this error shouldn't happen anymore if Cypress will upgrade. (It handles `"baseDir": undefined` properly instead of requiring it)

[2022-11-20 20:57] joaonc commented on #24742
Closing, this seems like something else.   When downgraded to 11.0.1, the issue did disappear, but now it's come back. There's something else at play that I need to track down.

[2022-11-20 20:57] #24742 closed, assigned to nobody

[2022-11-20 22:57] lmiller1990 commented on #22868
@public that sounds painful. This performance issue from 9->10 seems to only impact a subset of users (or sites? hard to say). In this issue, based on the debugging I've seen, this issue is greatly amplified for sites making large (several hundred) XHR requests on the initial load. I wonder if something in the proxy layer got changed between 9->10.

To debug a little more, can you share some info

[2022-11-21 01:42] #24468 closed, assigned to amehta265

[2022-11-21 01:42] #24467 closed, assigned to lmiller1990

[2022-11-21 03:31] lmiller1990 commented on #24168
@vukobrat Keep an eye on https://github.com/cypress-io/cypress/pull/24745, should have an experimental feature next release.

[2022-11-21 03:34] dwjohnston opened #24747 "Alias commands (`.as`) set within a `within` callback, are not accessible outside of it."
### Current behavior

If trying to set an alias value within a `within` callback, but then accessing it outside of that callback, the value is shown as undefined.

eg:

Does not work
[code]

This is fine:

[code]

### Desired behavior

We need some mechanism for:

- Doing selection behaviour within a `within()` block
    -  This is often because you may have multiple rows, panels etc, with similar

[2022-11-21 05:05] ErickFlores13 commented on #23391
I had the same problem, idk why but i added a  cy.clearCookies() before each test case and it fixed my problem, maybe this works for that type of tests

[2022-11-21 05:10] RareSecond commented on #18779
Sorry @AtofStryker, I switched to Playwright for all my projects and clients

[2022-11-21 05:25] ganeshac123 commented on #22670
Check the screenshot for error is displayed when trying to run file.
<img width="1634" alt="Screenshot 2022-11-21 at 10 54 41 AM" src="https://user-images.githubusercontent.com/89897004/202972163-a91fe25c-fa8f-4066-aea0-9b5e376baab1.png">

[2022-11-21 07:21] lmiller1990 opened #24748 "Better a11y for experimentalRunAllSpecs"
### What would you like?

To be able to use the experimentalRunAllSpecs fully with keyboard only.

As it stands, you need to hover with your mouse to see the button, and you cannot get there without a mouse.

![image](https://user-images.githubusercontent.com/19196536/202988404-7fe873c3-3bff-4504-9ff0-68ef3038a180.png)

This is a bit tricky to implement due to a few things. Primarily, we show the

[2022-11-21 08:26] this-miguel commented on #22521
@AtofStryker can this issue be reopen?

[2022-11-21 11:16] alessandrostassalpitour opened #24752 "When i run a test, during the first execution it doesn't eliminate cache and local storage"
### Current behavior

When i run a test with the command "npx cypress open", during the first execution it doesn't eliminate cache and local storage and it access to the site without log-in. But, if i start again the same test through the re-start arrow in cypress-console, it eliminates the cookies and the local storage and it makes the log-in correctly.

My cypress/support/e2e.js's code:
[code]
/

[2022-11-21 11:22] normanmunge commented on #24706
Thanks. This works now.

[2022-11-21 11:22] #24706 closed, assigned to nobody

[2022-11-21 11:31] stychu commented on #23830
@ryanthemanuel I've just checked `npm install https://cdn.cypress.io/beta/npm/10.8.1/linux-x64/10.8-minus-video-refactor-a8279f8104c46a046d37a71991aa0eccb329a202/cypress.tgz` and it seems it's running around the same as 10.4 which Im currently running daily.

[2022-11-21 11:40] piotrpalek commented on #22230
Are there plans to clear `cy.intercept` calls between tests? I'm using Cypress mostly for component testing, and it'd be desirable if I can set different interceptors per test instead of them "leaking over" to the next, and being hard to override

[2022-11-21 11:42] piotrpalek commented on #23192
I'm using Cypress mostly for Component Testing and this would be great, it would be even better if Cypress would reset the `intercept` calls between tests, as now they're "global" and leaking over to the next test making it hard to manage them.

[2022-11-21 14:29] marktnoonan commented on #24735
Hi @devjared1, there are a couple of things to think about here. Since you are still on Cypress 9 and the alpha version of CT, this article I wrote might be helpful: https://css-tricks.com/testing-vue-components-with-cypress/#aa-adding-attributes-required-by-vuetify - it avoids the `v-app` wrapper by modifying the surrounding DOM in the mount command.

It's based on this reference repo: https://gi