[2019-06-14 02:02] Kondasamy opened #4461 "cy.writeFile() is working with JS specs, but not with TypeScript specs"
This is in reference to the issue - https://github.com/cypress-io/cypress/issues/4456

### Current behavior:
[code]

The above code works fine with JavaScript specs, but with TypeScript specs - it throws below error message.

[code]

I'm sure this something to do with the **file:  index.d.ts**. Please check.

### Versions
Cypress - 3.3.1

[2019-06-14 03:24] #4283 closed

[2019-06-14 03:25] #4424 closed

[2019-06-14 03:26] #4303 closed

[2019-06-14 03:35] micksatana commented on #4283
FYI, in my case, I found this issue on GitLab CI/CD using `cypress/base:8`. I fixed by executing `sysctl -w fs.inotify.max_user_watches=524288` before running the test. If anyone like to workaround this issue before the fix release, you might wanna try `sysctl -w fs.inotify.max_user_watches=524288`

[2019-06-14 06:06] jennifer-shehane commented on #4461
Oh, yes, this definitely looks like a Typing issue. Thanks for following up.

[2019-06-14 07:04] coderwurst commented on #3947
@Bkucera just the title names and leave the ticks visible?

Alternative Idea - could we set the area to have a mid-width of x pixels, so that single words are still readable?

[2019-06-14 07:57] f-jost opened #4462 "[need help] execute `cypress open` from Docker container never open browser"
### Current behavior:

When I execute `cypress run` from a Docker container, everything is good, the tests are executed, this is a short logs :

[code]

But when I execute `cypress open`, chrome don't open, and the only thing I can do is press `ctrl c` for stop the processus:

[code]

With the debug: !warning! long logs
[code]

Reading the logs, we see:
[code]

### Desired behavior:

`cypress open

[2019-06-14 08:18] f-jost commented on #4462
I just try to add the `DISPLAY` env variable in my docker-compose file:
[code]
but the logs:

[code]

[2019-06-14 08:24] OksanaFirtych commented on #4453
Could somebody confirm that it existing bug or say what I'm doing wrong, please? This quite critical thing doesn't allow me to move forward.

[2019-06-14 09:00] jennifer-shehane commented on #1242
I've made a flowchart of our current implementation for visibility checks. This applies when using `cy.get('el').should('be.visible')`, etc as well as some other checks we do before actions are taken: `.check()`, `.click()`, `.type()` and some instances of `.trigger()`

Some notes upon review of the diagram on changes we want to make:

- What would be great is to not only have the flowcharts for u

[2019-06-14 09:20] DanweDE commented on #4454
And `cypress ci --spec` after the fix. But yes, sorry, I confused `ci` with `open`. So I'll open a separate ticket. Thanks.

[2019-06-14 09:20] #4454 closed

[2019-06-14 09:46] f-jost commented on #4462
I solved my issue by typing
`xhost +local:`
on my local computer :tada:

see https://wiki.archlinux.org/index.php/Xhost

[2019-06-14 09:46] #4462 closed

[2019-06-14 11:17] rizsky commented on #4453
same as i did. But it run smoothly when it headless or when its browser is electron. When its on chrome 😕
:
![image](https://user-images.githubusercontent.com/43275779/59505779-9e331380-8ed0-11e9-9ef1-e17f9e37b3ee.png)

[2019-06-14 13:08] ghost opened #4464 "[Docker] No version of Cypress is installed"
### Current behavior:

Sometimes, when I launch `yarn cypress:open` from my docker container, it fails:
(before that a `yarn install` as been execute)

[code]

### Desired behavior:

It should work everytime.

### Steps to reproduce: (app code and test code)

### Versions
cypress 3.3.1

running on Ubuntu 18.04.2 LTS
Docker version 18.09.6, build 481bc77
docker-compose version 1.24.0, build 0aa5906

[2019-06-14 13:15] f-jost commented on #4464
If I `sudo rm -rf nodes_modules` from my app and reinstall dependencies, when I run `yarn cypress:run` there no problem, the Cypress Test Runner is launch.

[2019-06-14 13:17] bahmutov commented on #4464
Show the output from yarn install command in that container

Sent from my iPhone

[2019-06-14 13:36] f-jost commented on #4464
After remove nodes_module and yarn.lock, then rebuild docker image, this is the output with some warning, nothing related to cypress
[code]

[2019-06-14 14:11] f-jost commented on #4464
The encontered the same issue when down the container then up

[2019-06-14 14:53] bcnichols3 commented on #4255
Hi, am I missing a setting? I just upgraded to 3.3.1 and still getting noisy logs
[code]

[2019-06-14 15:35] getkode commented on #2912
I'm experiencing the same issue, `cypress open` is way much faster than `cypress run`. If I'm lucky, the speed is decreased by 2. However, most of the time it ends up with timeout. Actually, I can reproduce the issue with `cypress open` by starting a screen record when the tests are running. I don't know why but the HTTP requests take more time.

BTW, I'm using a MacBook Pro with macOS 10.14.5.

[2019-06-14 16:52] JullianeFreitas opened #4468 "Access popup page"
Hey everybody,

I've been studying cypress and doing some tests but I have a doubt and cant find a answer.

I have a HTML page and a button who open a popup page:

[code]

[code]

How can I access the popup page and the components?

[2019-06-14 17:21] flotwig commented on #4346
Seems like nesting `cy.request`s where the internal one has an error will produce this error:

[code]

...which contains a circular reference at `[0].error.options.agent.httpAgent.constructor.super_` which is causing the socket to blow up.

[2019-06-14 17:41] carlobeltrame commented on #1938
For anyone still having issues with turbolinks and Cypress, I solved mine by using the following implementation of the above suggestions (goes into support/commands.js):
[code]

Alternatively, you can disable turbolinks while running in Cypress, by canceling each `turbolinks:click` event (this goes into support/index.js):
[code]

[2019-06-14 18:44] sikanhe commented on #4346
I think any case of `ECONNREFUSED` should reproduce this

[2019-06-14 18:45] flotwig commented on #4346
@sikanhe It doesn't for me, do you have spec code you can share to reproduce? I believe #4469 will fix this but the more the merrier :)

[2019-06-14 18:49] flotwig commented on #4453
@OksanaFirtych 	Cypress works by opening your tests in a frame inside of a URL that looks like `http://<your testing domain>/__/#/tests/<tests that are running>`, so this in itself is not an issue. Is your site not loading properly?

[2019-06-14 19:58] moplin commented on #2409
Same here, does any one know how to run the chrome interface adding --disable-web-security --user-data-dir="c:/ChromeTempFiles", I usually do this to bring defenses down and been able to  debug with Webstorm, so I suppose this could be solved in a similar fashion.

[2019-06-14 19:59] joekrump commented on #3515
Any update on what the timeline for https://github.com/cypress-io/cypress/pull/4193 being merged might be? This is still causing quite a bit of pain for my team!

[2019-06-14 21:34] jbinto commented on #349
@RockChild Downgrading to 3.3.0 (or even 3.2.0) has not resolved this issue for us.

Similar to you we just started seeing this on or around May 27. No idea what has changed, and we have tried just about everything to fix this. It is gradually getting worse, with almost 100% crash rate today (when it started a few weeks ago it was closer to 5-10%).

Only happening on CircleCI. `/dev/shm` is 30GB t

[2019-06-14 22:47] yagudaev commented on #687
@flotwig any updates on this? Love a workaround we can use with Apollo client to see our graphql queries and make sure cypress waits on them before moving to the next test

[2019-06-15 18:42] yagudaev commented on #687
I've created a Gist of a more scalable workaround until this is implemented: https://gist.github.com/yagudaev/2ad1ef4a21a2d1cfe0e7d96afc7170bc

It was inspired by the official cypress recipe with some tweaking.

Hopefully it helps somebody out there until the official feature is in place.

[2019-06-15 20:07] GBirch opened #4470 "blockHosts ignores arrays"
### Current behavior:

If cypress.json contains
[code]
Then the resulting configuration, as reported by the GUI, is blacklistHosts: null, and neither domain is blacklisted.

By contrast, if cypress.json contains
[code]
Then the resulting configuration, as reported by the GUI, is blacklistHosts: www.google-analytics.com  And the single domain is properly blacklisted.

### Desired behavior:

I would

[2019-06-16 04:27] ericraio commented on #2267
I am getting the same error as @marymuniz

[2019-06-16 10:54] pawelrudnicki commented on #518
Did you find anything that would work with 3.3.1 version?

[2019-06-16 16:19] scharf commented on #1906
# How to reproduce the problem

 To reproduce it, duplicate your tests many times and then run the suite. The more complex the pages are the less tests you need.

## The problem is: chrome runs out of memory (for the snapshots)

The problem is clearly that chrome runs out of memory. What you will see that the memory goes up to about 2.5Gb (on my mac) and then just before it fails the tests run slo

[2019-06-16 16:37] scharf commented on #3829
@jennifer-shehane see https://github.com/cypress-io/cypress/issues/1906#issuecomment-502465837 on how to reproduce the problem

[2019-06-16 16:38] scharf commented on #4164
see https://github.com/cypress-io/cypress/issues/1906#issuecomment-502465837

[2019-06-16 16:56] alegout commented on #695
Got this issue with select2 `This element '<li.select2-results__option>' is not visible because it has an effective width and height of: '0 x 0' pixels.`
I tested with `cy.get('#query-btn').invoke('width').should('be.gt', 0)` but not working 🤷‍♂

Also, when inspecting the element my element has width and height > 0

It works with `force: true`

[2019-06-17 04:14] jennifer-shehane commented on #3827
Using aliases with `cy.request()` is supported. Although, using `cy.wait('@alias')` does not work for request - since the `cy.request()` command itself will not resolve until it has a response.

Here is an example of this working with getting the alias via `cy.get()`.

[code]

I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document using an alias with `

[2019-06-17 04:14] #3827 closed

[2019-06-17 05:07] jennifer-shehane commented on #4470
Hey @GBirch, I'm not able to reproduce what you are describing.

My `cypress.json` file:

[code]

The resolved configuration within the "Settings" tab on `cypress open`

Where are you accessing the `blacklistsHosts` - where it is showing as `null`? Can you provide the screenshot of your "Settings" tab showing the resolved configuration?

[2019-06-17 05:44] jennifer-shehane commented on #4468
@JullianeFreitas For using `window.open`, we recommend stubbing `window` to ensure the method is called appropriately as shown in this recipe: https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/stubbing-spying__window/cypress/integration/window-stubbing.spec.js

As for accessing the new window afterward - you would have to have some route to visit to see these components -

[2019-06-17 05:44] #4468 closed

[2019-06-17 07:06] smart625 commented on #2272
@jennifer-shehane @brian-mann Hi, I met issue using the method you suggestion in comment. Can you take a look at this issue. Thanks in advance. https://github.com/cypress-io/cypress/issues/2272#issuecomment-410471328.
[code]
The error show as below
![image](https://user-images.githubusercontent.com/24734147/59584731-6666de80-9111-11e9-8eae-a1d94a88a52b.png)

[2019-06-17 07:52] MatteoGioioso commented on #3729
@flotwig Ok, looks like this behavior happens only after we test on a built `create-react-app`. I tried to look for `top.location = self.location` or any of the keywords associated, but I did not find anything.

[2019-06-17 08:12] wojciechsabaj commented on #4263
I also tried Chrome Portable and it was also overtaken by my organization - which seems kinda strange, 'cause portable version of the browser should not use the settings in registry. I am currently using Electron but I will try to work on this topic when I have more time.

Thank you all for your engagement in solving the problem. Keep up the good work!

[2019-06-17 09:13] jennifer-shehane commented on #4451
Unfortunately we have to close this issue if you cannot provide any of the extra information asked for. We cannot look at issues we cannot reproduce. Sorry.

[2019-06-17 09:13] #4451 closed

[2019-06-17 09:17] jennifer-shehane commented on #4442
Could you run `cypress open` in [debug mode](https://on.cypress.io/debugging#Debug-the-Command-Line) mode and print the logs here?

[2019-06-17 09:34] jennifer-shehane commented on #4439
This code works for me when I run it in Electron 61, Cypress 3.3.1 😬

Do you have any extra settings in your `cypress.json` perhaps? Like overriding `animationDistanceThreshold`?

![](http://g.recordit.co/DJgFXiMe67.gif)

[2019-06-17 09:43] jennifer-shehane commented on #4445
Hey @Murkantilism, you can always access the video of previous runs from within the Dashboard if you [set up your project to record](https://docs.cypress.io/guides/core-concepts/dashboard-service.html#Setup).

Aside from this suggestion, we think this issue is more specific to your internal process setup than a feature that Cypress will out of the box support.

You can turn off `trashAssetsBeforeR

[2019-06-17 09:43] #4445 closed

[2019-06-17 09:49] jennifer-shehane commented on #4429
Oh, yeah, this is a bug. This isn't even concerned with the loop, it seems that when using aliases for elements, if more than 1 is matching, the UI messes up a bit and displays this `undefined` message.

I believe this was introduced in this PR https://github.com/cypress-io/cypress/pull/2960

Code to reproduce:

[code]

[2019-06-17 10:09] polarp commented on #1342
Hey there! Thanks for providing such an elaborate answer :v:
I tried following the instructions but whenever I try to login I get the following response:

[code]

I'm guessing it might have something to do with the configuration changes that are required in the service principal. Can you share what exactly needs to be configured?

Also I'm not sure if this is important or no but I'm using Azure B2

[2019-06-17 10:48] murthy-n opened #4472 "clicking on links in application sending a invalid get request URL resulting in failure (404 error)"
## Current behavior:

clicking on any link even manually in cypress chrome browser throwing error (invalid get request URL has been sent to server)
when i click on link getting below error
" /__/"landingpage.htm was not found on this server.
at the place of "/__/" domain name should be sent.

my base URL is ex: https://testapp.com/testing"
after login when i try to perform some actions
get request

[2019-06-17 11:12] jennifer-shehane opened #4473 "<option> should be considered visible if in visible select"
### Current behavior:

Asserting on an `<option>` visibility displays as hidden when in a visible select. It's a bit weird since you can't really select it and look at the options to see what's visible.

### Desired behavior:

When asserting visibility of an `<option>`, it should display as `visible` if it's containing `<select>` is visible - we should assume that the functionality of how the brow

[2019-06-17 11:30] emperol2 commented on #1184
@moinuddin14 Did you try to place the code below in cypress/support/index.js

`Cypress.Server.defaults({
  delay: 500,
  force404: false,
  whitelist: (xhr) => {
    // handle custom logic for whitelisting
    return true;
  }
})`

[2019-06-17 12:11] GBirch commented on #4470
Aha!  I poked around a bit, turning things on and off, and discovered that
the bug (if bug it is), is more subtle than reported.

I'm using a custom  plugin to read config from another file, like (but not
identical to) the example here:
https://docs.cypress.io/api/plugins/configuration-api.html#Promises  (I
don't use a Promise, and I add some other config dynamically)

It works great for everythin

[2019-06-17 12:25] FredyC opened #4474 "Opacity is not considered for visibility checks"
### Current behavior:
![image](https://user-images.githubusercontent.com/1096340/59603964-0e2cde00-910b-11e9-899a-92457e3d0b81.png)

### Desired behavior:
When opacity === 0, the element should be considered as not visible to avoid evaluating the next command sooner than expected and causing flakiness.

### Steps to reproduce: (app code and test code)
I think the issue is pretty clear from the ima

[2019-06-17 12:32] jennifer-shehane opened #4475 "<body> and <html> should always be considered visible"
### Current behavior:

If you assert `cy.get('body').should('be.hidden')` this can pass. This is a bit misleading because the body can technically never be hidden. All of its contents inside can be hidden and it could have a property of `display: none`, which you can assert on separately, but...it's never really 'hidden'. Same for html

### Desired behavior:

Asserting `cy.get('body')` visibility

[2019-06-17 12:37] Murkantilism commented on #4445
Thanks @jennifer-shehane! Didn't realize the Dashboard could also be setup with CI runs =)

[2019-06-17 12:42] jennifer-shehane opened #4476 "td and tr elements within visibility: collapse are considered visible - should be hidden"
### Current behavior:

When asserting on the visibility of a `<td>` or `<tr>` element with `visibility: collapse`, Cypress incorrectly says the element is visible.

### Desired behavior:

Cypress should assert that the elements within `visibility: collapse` elements are not visible. The error message should also be updated to display that this is why the element is considered hidden.

[code]

[cod

[2019-06-17 12:47] brian-mann commented on #4164
I actually believe this issue will be fixed by this PR which will be merged in the next patch release: https://github.com/cypress-io/cypress/pull/4406

[2019-06-17 12:48] valoricDe opened #4477 "Chainer not pointing to correct field"
### Current behavior:

When I'm righting a test like:

[code]
I would assume that `email` is pointing to the email field and `password` to the password field. I can see in the logs that the output of these variables have different ChainerIds but when executing `email.should('have.value', '...')` it says `expected \<input name="u"> to have value cs.fortunica@gmail.com, but the value was 123456`

##

[2019-06-17 12:48] brian-mann commented on #4164
It was an oversight / bug that we were still taking snapshots when a single test even though `numSnapshotsKeptInMemory` was 0 - so it's expected that the memory would grow larger after each command runs - until the next test runs.

[2019-06-17 12:48] brian-mann commented on #4164
Closing this issue as duplicate because I'm **very** confident this is describing the same behavior as https://github.com/cypress-io/cypress/issues/4104

[2019-06-17 12:53] #4104 closed

[2019-06-17 12:57] jennifer-shehane commented on #4474
Nice. Thanks for opening this issue. Was going to do this myself.

I am currently working on visibility fixes - one of which was implementing this change for opacity. We had initially decided not to consider elements with opacity 0 as 'not visible', because they are still interact-able, but we're going to be pulling this all out into a broader issue so that there can be different checks for 'can b

[2019-06-17 13:04] #4346 closed

[2019-06-17 13:25] flotwig commented on #3729
@MatteoGioioso 	I think the only known issue with service workers are that they are not cleared at the start of each run: #702

It still looks like you have some framebusting code in your application, that's how users usually run in to this behavior.

[2019-06-17 13:28] flotwig commented on #4263
Closing this issue for now since it looks like a duplicate of #1253

@MrMinimal - if you do not have Chrome policies set by your organization (check `chrome://policy`) feel free to re-open as then it would not be a duplicate of #1253.

[2019-06-17 13:28] #4263 closed

[2019-06-17 13:49] bahmutov commented on #3729
@MatteoGioioso can you try disabling service worker by removing it from the `navigator` object to avoid registering it? https://glebbahmutov.com/blog/cypress-tips-and-tricks/#disable-serviceworker

[2019-06-17 13:59] svi3c opened #4478 "Provide binary for arm64 architecture (Linux)"
We need to run e2e tests on a device with ARM 7 architecture. Could you provide binaries for this architecture, please?
I would like to move all the e2e tests in a customer project to cypress, since they are a lot faster than Selenium. Only the missing binary is holding be back.

[2019-06-17 14:00] slappinlappin commented on #4442
Hello, not sure if this is related or helpful but I recently tried updating to 3.3.1 and got this message:

 ×  Verifying Cypress can run C:\Users\MyLocalPath\AppData\Local\Cypress\Cache\3.3.1\Cypress
   → Cypress Version: 3.3.1
Cypress failed to start.

This is usually caused by a missing library or dependency.

The error below should indicate which dependency is missing.

https://on.cypress.io/r

[2019-06-17 14:11] olevole commented on #3382
+1 cypress user with FreeBSD

PS: electron port available on FreeBSD platform: https://www.freshports.org/devel/electron4

[2019-06-17 14:13] OksanaFirtych commented on #4453
@flotwig Yes, my site with routing isn't loading at all any pages. But if I remove routing at all it will work under cypress. As you can see above it's not only mine problem.

[2019-06-17 14:26] bahmutov commented on #4478
Electron has builts for arm7 and arm64 https://electronjs.org/docs/tutorial/support#linux the challenge would be to build Cypress on CI. For example CircleCI does not support ARM builds at the moment

[2019-06-17 14:30] jameseg commented on #4260
UPDATE 6-14-19:  Another dev on my team implemented some new Cypress tests around a Vue component.  We have multiple projects in the same solution using different "cypress test projects".  The Cypress instances for my project (there are 2) still can't find Chrome after updating even to 3.3.1. Chrome is available in his project but neither of mine.  Is there a setting per project (like maybe ```cyp

[2019-06-17 14:32] Undistraction commented on #757
This definitely feels like it shouldn't need a workaround. There is nothing wrong with having options with duplicate values and labels.

[2019-06-17 14:46] svi3c commented on #4478
Thanks for the feedback, @bahmutov.
Is there a way to build the binary myself as a workaround for now?

[2019-06-17 14:46] bahmutov opened #4479 "Cypress cache path and list exit without any information"
I have installed Cypress inside a Docker container

[code]

Verify command fails (as expected in this container)

[code]

Notice that the binary exists "/home/person/.cache/Cypress/3.3.1/Cypress/Cypress"

But when I try to use `cypress cache` commands, there is no output. and exit code is 0

[code]

Weird that `cypress cache` commands would silently terminate. More debug output does not show anyth

[2019-06-17 14:52] bahmutov commented on #4479
Using a different Docker image works better `cypress/base:12.1.0`

[code]

[2019-06-17 14:57] bahmutov commented on #4478
Yes, you can build the test binary yourself following https://github.com/cypress-io/cypress/blob/develop/DEPLOY.md#building-the-binary - usually, you just need to run a single script to build it.

[2019-06-17 15:04] flotwig commented on #4260
@jameseg Can you re-share your debug logs? The pastebin in the OP has expired.

There aren't any per-project settings for browsers. Cypress attempts to find your browser on each run.

Does it work if you manually specify the path to your browser? ex: `cypress open --browser "C:\path\to\chrome.exe"`

Also, how are you launching Cypress? ex. via command prompt, powershell, powershell inside of VS co

[2019-06-17 15:16] jsdw commented on #4433
I have seen the same behaviour using Cypress 3.3.1 and OSX; non-fetch requests send cookies as expected, but fetch based requests do not.

[2019-06-17 15:32] shaunPDX commented on #4235
Sorry for the delay, here are my logs from 3.3.1:

`sfora2$ DEBUG=cypress:* ./node_modules/.bin/cypress open
  cypress:cli cli starts with arguments ["/Users/sfora2/.nvm/versions/node/v10.6.0/bin/node","/Users/sfora2/Projects/docker-poc/frontend/e2e_testing/node_modules/.bin/cypress","open"] +0ms
  cypress:cli NODE_OPTIONS is not set +0ms
  cypress:cli program parsing arguments +3ms
  cypress:cli

[2019-06-17 15:44] #4461 closed

[2019-06-17 15:51] nitzel commented on #349
`If you’re seeing consistent crashes and would like this implemented, please leave a note in the issue.`
Yes, please.

[2019-06-17 15:53] duncdrum commented on #3957
yup running into this on travis as well. Funnily only for pull-request builds. We have CI configured to run different specs on different major versions via ENV variables.
You can see the expected result of a commit in [my fork](https://travis-ci.com/duncdrum/e2e-core/builds/115825199) yet in the [Pull-request](https://travis-ci.com/eXist-db/e2e-core/builds/115825220) for that commit cypress hangs.

[2019-06-17 16:00] SUSANO-O commented on #3070
Hello good day how can I find  more examples about cy.window and cy.document in GitHub ? Thank's

[2019-06-17 16:05] bahmutov commented on #3070
@SUSANO-O see https://on.cypress.io/document and https://on.cypress.io/window

[2019-06-17 16:12] flotwig opened #4481 "`run_plugins_spec` test is leaking into other tests"
`@ipc.send` in `run_plugins_spec` is somehow leading to failing tests later on:

https://github.com/cypress-io/cypress/blob/bbff24dc6799a2e9464eebff8e1f9ad468fa5635/packages/server/test/unit/plugins/child/run_plugins_spec.coffee#L67-L80

https://circleci.com/gh/cypress-io/cypress/123148#tests/containers/1 -
[code]

https://circleci.com/gh/cypress-io/cypress/128235#tests/containers/1

[2019-06-17 16:20] bahmutov commented on #4481
in a node PR I had to refactor these tests a little bit - because they would NOT wait for the IPC promise to resolve, leaving a dangling promise which I think might be leaking. See https://github.com/cypress-io/cypress/pull/4436/files#diff-8b6216a59d7d745ad0cd2973c43f63c9R29

[2019-06-17 16:36] StephenYee commented on #136
Been trying to evaluate the viability of Cypress as an E2E test solution, have been willing to work around single tab support and single super domains. But no iFrame support is what makes this unviable.

[2019-06-17 16:39] #2366 closed

[2019-06-17 16:41] #4313 closed

[2019-06-17 17:15] flotwig commented on #4453
@OksanaFirtych I see, can you share a screenshot of the failure and a copy of the entire `DEBUG` log? Here are some instructions: https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs

[2019-06-17 18:25] dialex opened #4483 "Doubt: load multiple fixtures once per Cypress execution"
I have 3 sites, and each site has 3 envs, each with their `config.json` and `fixtures.json`. However, part of the fixture is common, like `routes` which contains endpoints. Following the [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) pattern, I refactored the common bits to a `routes.json`.

<img width="231" alt="Screenshot 2019-06-17 at 18 37 26" src="https://user-images.githubuserc

[2019-06-17 19:12] OksanaFirtych commented on #4453
@flotwig it looks like nothing.
<img width="1280" alt="Screenshot 2019-06-17 at 22 04 25" src="https://user-images.githubusercontent.com/31488378/59629648-017caa00-914c-11e9-9ed6-0e406c948c1f.png">

[cy.log](https://github.com/cypress-io/cypress/files/3298468/cy.log)

[2019-06-17 19:13] flotwig commented on #4453
@OksanaFirtych Can you share a screenshot of `chrome://policy` from the browser that Cypress launches? This looks similar to #1253.

Does it work if you run it in Electron?

[2019-06-17 20:11] saas2813 commented on #448
I want to assert that the Console log is empty, or only contains previously approved lines in the CI build. The optimal implementation would give a simple textfile with timestamped direct copies from the console output.
These logs could be prepended by the testcase name and current URL for context, adding more stuff would be noice.

As others have commented, it feels rather bad that the console lo

[2019-06-18 03:59] sangmai350 opened #4484 "CypressError: cy.contains()can only accept string error appeared"
This is an issue
### Current behavior:

![image](https://user-images.githubusercontent.com/37669424/59652518-3c1c2c00-91b8-11e9-9b90-803e3cb0980b.png)

![image](https://user-images.githubusercontent.com/37669424/59652308-6a4d3c00-91b7-11e9-84c2-4784af777574.png)

### Desired behavior:
No error should be found

### Steps to reproduce: (app code and test code)
app code
![image](https://user-images.g

[2019-06-18 04:22] #4484 closed

[2019-06-18 04:40] jennifer-shehane commented on #4461
The code for this is done in #4463, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-06-18 04:56] jennifer-shehane commented on #4470
Ok, thanks for clearing this up - there definitely may be an issue with some of this getting sorted out. Will look into recreating today.

[2019-06-18 06:35] OksanaFirtych commented on #4453
Yes, it works with Electron

![Screenshot 2019-06-18 at 09 28 10](https://user-images.githubusercontent.com/31488378/59658224-b2666180-91ab-11e9-95ee-5994cd11ae98.png)
![Screenshot 2019-06-18 at 09 28 43](https://user-images.githubusercontent.com/31488378/59658227-b4c8bb80-91ab-11e9-80d0-9a6972350a27.png)

[2019-06-18 08:01] oscar-b commented on #4439
Very strange.. The only thing in my `cypress.json` is:

[code]

Does it also pass for you in headless mode? Mine fails there as well..

[code]

[2019-06-18 08:07] tbigueres opened #4488 "cy.type on input[type=number] setSelectionRange error is thrown"
### Current behavior:

I try to type a number in an input which has the type "number" but I get the following error :
![image](https://user-images.githubusercontent.com/2139076/59663058-800a3380-91ae-11e9-9485-16180b72885e.png)

### Desired behavior:
When doing :

   ` cy.get("input[type=number]#meta-edit-contract-select-signature-page").type("2");`

I would expect the input to fill with the numbe

[2019-06-18 08:17] amiral-jion commented on #1397
I have the same problem, I need to use `tap` instead of `click` but I can't find how to simulate this event with cypress. any one succeed on simulating the tap event guys?

[2019-06-18 08:21] tbigueres commented on #4488
I've just updated chromium ! it works now.
Thanks

[2019-06-18 08:40] jennifer-shehane commented on #4488
Yah, we shouldn't be calling setSelectionRange on an input of type number, so I'm not sure where this would be happening. @Bkucera

[2019-06-18 08:58] dialex commented on #4483
This works:

[code]

But it's annoying having to copy that whole block of boilerplate to every test file.

[2019-06-18 09:28] jennifer-shehane opened #4489 "Create fall-through for API warning messaging"
### Current behavior:

If the API sends a warning message to the Test Runner that is not recognized as a key, the warning message is never displayed.

There is also some new messaging that should be added per our upcoming Dashboard changes:

- `FREE_PLAN_NEARING_MONTHLY_TESTS`
- `PAID_PLAN_NEARING_MONTHLY_TESTS`
- `PAID_PLAN_PARALLELIZATION_DISABLED`
- `PAID_PLAN_RUNS_HIDDEN`
- `PLAN_IN_GRACE_PERI

[2019-06-18 09:41] luckybai commented on #4434
+1.

At the same time, Cypress can't work in Local Docker Container, but it's ok on Gitlab CI.

![image](https://user-images.githubusercontent.com/31891883/59671233-e95e6680-91ef-11e9-861c-1f335b2cfd3a.png)

[2019-06-18 12:31] alexmwillis commented on #136
Is see this when I try to select an iframe. Any idea what I'm doing wrong?

[code]

[2019-06-18 12:43] paulfalgout commented on #136
@alexmwillis yes.
Your iframe looks like this:
[code]
So `$iframe.html();` is what you're getting.
If you want to get the contents of the page the iframe is loading you'll need to do something like this: `$iframe.contents().find('body').html()`

But you should also wait until the iframe loads before trying to get the contents.  In your example you're likely to get the contents of `about:blank`  Se

[2019-06-18 12:45] Bkucera commented on #4488
I'm not sure either, since I couldn't reproduce on electron or any recent version of electron I'm closing this

[2019-06-18 12:45] #4488 closed

[2019-06-18 12:45] PetMou commented on #4410
Parallel to issue #4260, I tried several options. Extra information:
- We run in a Windows 10 environment
- I now have more cypress installations next to eachother on the same disk. 3.3.1 to try options, 3.2.0 for the daily jobs. Testlife must go on...
- command **cypress open --browser chrome** will open the project correcly, whereas **cypress open --browser "C:\<path>\chrome.exe"** displays a me

[2019-06-18 13:43] bahmutov commented on #4483
Why can't you use this solution (load once, add to test context before each) https://github.com/cypress-io/cypress-example-recipes/blob/master/examples/fundamentals__fixtures/cypress/integration/load-fixtures-spec.js#L100

Or even better, if you use JSON fixtures just require them from the spec, they will be bundled, see https://github.com/cypress-io/cypress-example-recipes/commit/949c65adbd8fb38a

[2019-06-18 13:48] flotwig commented on #4453
I see `ProxyMode: pac_script` in your settings, which unfortunately means you are being affected by #1253 - your administrator has settings that are preventing Cypress from launching Chrome. We can't do much about this from our end. You can check [this comment](https://github.com/cypress-io/cypress/issues/1253#issuecomment-465782037) for some known workarounds.

Closing as duplicate of #1253

[2019-06-18 13:48] #4453 closed

[2019-06-18 14:04] GBirch commented on #4470
package.json is in docroot.  cypress.json is present in docroot, and contains an empty object:
[code]

Contents of ./cypress/plugins/index.js
[code]
Contents of ./cypress/plugins/file_config.js
[code]

Sample contents of ./cypress/cypress.json
[code]
On my box, using the GUI to inspect Configuration, this results in pageLoadTimeout: 10000 (and highlighted as coming from plugin) and blacklistHosts:

[2019-06-18 14:27] bahmutov commented on #1319
I have created a Jest + Cypress example repo that separates their types from each other https://github.com/cypress-io/cypress-and-jest-typescript-example. In general, it shows how to create `tsconfig.json` in `cypress` folder. I believe this is the best repo TS option if there are conflicting types.

[2019-06-18 14:27] #1319 closed

[2019-06-18 14:34] dialex commented on #4483
Thanks for replying ;)

That's what I'm doing in my [comment](https://github.com/cypress-io/cypress/issues/4483#issuecomment-503014007) above. It loads the fixtures once per test file, ie. 10x test files -> 10x load fixtures. What I wanted was to load **once per cypress execution**, ie. 10x test files -> 1x load fixtures.

-----

wow, that works? 😮 `const city = require('../site/env/routes.json')`

[2019-06-18 15:15] slappinlappin commented on #2267
I can confirm I am also getting the same error as @marymuniz when running an all tests via VSTS CI:

RangeError: Maximum call stack size exceeded
    at _hasBinary (C:\Users\VssAdministrator\AppData\Local\Cypress\Cache\3.3.0\Cypress\resources\app\packages\socket\node_modules\has-binary\index.js:25:22)
    at _hasBinary (C:\Users\VssAdministrator\AppData\Local\Cypress\Cache\3.3.0\Cypress\resources\

[2019-06-18 15:19] bahmutov commented on #4483
Well require should work, also you can load them once using before and just attach to Cypress object and they will stay there. I would not do this though because it makes things magical and unclear and harder to debug later for someone who is not familiar with this trick later

Sent from my iPhone

[2019-06-18 15:36] flotwig commented on #2267
When 3.3.2 is released, it will fix the `has-binary` "Maximum call stack exceeded" error (#4407).

[2019-06-18 16:22] flotwig commented on #4411
@abzainuddin Can you share the spec code that reproduces this issue?

[2019-06-18 16:28] smart625 opened #4491 "Can't type json content in ace-jsoneditor by cypress"
When clear all content in ace-JSONEditor and then type new string json content in ace-JSONEditor by cypress. The error show on command Log. It treat json content as special

### Current behavior:
HTML CODE:
[code]

CYPRESS:

After I use get json content from existing json file by `cy.fixture(xxx)`. Then clear the current ace-JSONEditor content and input the new json content that get from existing

[2019-06-18 16:54] elm9 commented on #2979
I just merged some unrelated changes into a new test branch, ran npm i, and the `cy.visit()` function began throwing this error. I find it odd because I haven't done anything regarding the visit command that is built into cypress. I even looked in the cypress repo to make sure there isn't a wait function inside . Is anyone else having this issue?

![Screen Shot 2019-06-18 at 12 29 11 PM](https://u

[2019-06-18 17:18] scott-ad-riley opened #4492 "Customize displayed element name on assertion failures"
### Current behavior:

With an assertion (example forced to fail):
[code]

This causes the output in `cypress run` to not display the data-test-id (which would help a lot with debugging), and instead uses the classes on the element. In our case we use a css-in-js framework that obfuscates classnames which makes that output/error message more difficult to read/debug.

![image](https://user-images.g

[2019-06-18 17:22] jbinto commented on #350
We have switched to `--browser chrome` and we disable /dev/shm usage as so:

[code]

And crashes have stopped completely. I suspect something changed in between Electron 59 and Electron 61 that makes it more prone to crashes, but for anyone hitting this on CircleCI this is the only actual fix (after weeks of tinkering).

[2019-06-18 17:27] Ameobea commented on #350
@jbinto this looks really promising; I don't have access to the K8s cluster on which our build node runs, so I can't tweak anything on that end.  I'll give this a shot and see if it solves our crashes as well!

[2019-06-18 17:43] flotwig commented on #4410
Hey @PetMou, I was able to reproduce your issue, can you try something for me? Run with `NO_PROXY=undefined,localhost`.

The core problem is that requests for Cypress's internal server on `localhost` are going through your proxy, which will be fixed with #4358 (should be out in 3.3.2).

[2019-06-18 17:54] kmaverick commented on #2694
Did you guys get an answer to the original question?

[2019-06-18 18:04] smit9234 commented on #2674
@jennifer-shehane
Also running into the same issue when using the Electron Browser

Here is an example test case that enters data into a form then, when the second test tries to run Cypress just hangs, in the console output you can see the "blocked" beforeunload event.

I have tried all the workarounds but none of them seem to work.

[code]
![image](https://user-images.githubusercontent.com/738878

[2019-06-18 18:59] flotwig commented on #2694
I did some experiments today to try to understand what a thorough solution to this would look like: https://gist.github.com/flotwig/12b2f070fd627f48fa7681802e6c36de

I noticed that we can't just send a bunch of PKI certs and hope that Node.js uses the correct one - we have to use the correct cert for each server: https://gist.github.com/flotwig/12b2f070fd627f48fa7681802e6c36de#file-pki-js-L84-L94

[2019-06-18 19:11] fr0 commented on #4313
Would it be possible to create a beta release in `npm` so I can verify that the fix addresses my issue?

[2019-06-18 19:21] amkoehler commented on #350
@jbinto I had about perfect timing with opening this issue and seeing your solution. This is working well for us so far using the `circleci/node:8-browsers` image

[2019-06-18 19:32] flotwig commented on #4313
@fr0 You can use the latest beta build for Windows:

In Git bash:

[code]

In other shells, you'll need `cross-env` to set the environment variable:

[code]

[2019-06-18 19:37] PetMou commented on #4410
Wow. That did the trick!
Thank you!

Check, one more happy customer! :))

[2019-06-18 20:26] fr0 commented on #4313
I tried that, and at first it looked promising:

[code]

But then when I actually tried to run...

[code]

[2019-06-18 20:29] flotwig commented on #4313
Oh! I thought you were running on Windows, sorry. Here's the correct command for macOS:

[code]

I know it's kinda a mess, we're working on making this more accessible to end-users.

[2019-06-18 20:30] fr0 commented on #4313
`npm` lets you tag a release as "pre-release", so users won't get it unless they specifically opt in. It makes this sort of thing very easy. :)

[2019-06-18 20:33] bahmutov commented on #4313
yeah @fr0 , we just don't want to pollute NPM with 10k builds of Cypress per month (like TypeScript), and that's why we take advantage of static folders to install pre-release builds. But we know some tricks to make it simpler, just did not get to implement them yet

[2019-06-18 21:36] fr0 commented on #4313
You definitely don't want to publish every single CI build as a pre-release to npm, true.

Back on-topic: At first glance, the nightly build looks like it did *not* fix my issue. I'll try again on a different environment to be sure.

[2019-06-18 21:57] x-yuri commented on #3491
@narinepoghosyan The answer was in one of the previous posts, but to add more details, you've got to change `~/.cache/Cypress/3.1.4/Cypress/resources/app/packages/server/lib/video_capture.js`. Add `.outputOptions("-vf pad=ceil(iw/2)*2:ceil(ih/2)*2` or `.videoFilter('pad=ceil(iw/2)*2:ceil(ih/2)*2')` after `.outputOptions("-preset ultrafast")`. Or make resolution bigger than `1280x720`, or possibly

[2019-06-19 01:28] brian-mann commented on #4313
@fr0 i think the PR that's going to fix your issue hasn't been merged into `develop` yet. This is likely the one https://github.com/cypress-io/cypress/pull/4358/files

When you see that get merged in then you can see if it fixes your problem.

[2019-06-19 03:27] aisingoro opened #4495 "type('{enter}') doesn't work when only 1 input blocking implicit submission"
### Current behavior:

I've already tried:

[code]

But it doesn't work. I've also tried:

[code]

And:
[code]

they're all right.But ENTER isn't.

[2019-06-19 04:19] #4298 closed

[2019-06-19 04:19] #4410 closed

[2019-06-19 06:06] mikkotikkanen commented on #4351
Just to confirm that we also started getting these recently

[code]

Tests do pass successfully but this spam, as it happens everywhere makes logs rather hard to read

We are running Cypress in AWS CodePipeline/CodeBuild

[2019-06-19 06:33] abzainuddin commented on #4411
This test most of the time doesn't work, once in a while it does work:

[code]

After the test has failed (because of timeout), you do see in the dev console that the request is done:

![image](https://user-images.githubusercontent.com/3865520/59741460-59f69900-926b-11e9-9254-df2e6f14e237.png)

See also this screencast https://people.codeyellow.nl/burhan/cypress-bug.mp4 (somehow without my mouse,

[2019-06-19 06:41] mushon89 opened #4496 "cypress cant see chrome confirmation box and cant click on buttons"
### Current behavior:

Hi all
I'm using cypress and I'm trying to click on the button that appears on chrome confirmation box
but when I'm running the test I'm getting this error
![image](https://user-images.githubusercontent.com/51986050/59742286-fde54200-9275-11e9-9c8d-636a565d8967.png)
in addition, the confirmation box does not appear

    it('delete user', () => {
        //delete user

[2019-06-19 06:58] coding-yogi commented on #2520
Its more of a "try out" feature than free feature as per your pricing model, a cap of 500 on number of tests

[2019-06-19 07:05] #1727 closed

[2019-06-19 07:12] mushon89 opened #4497 "Cypress cant see chrome confirmation box when run test, and cant click on buttons of the confirmation box"
Current behavior:
Hi all
I'm using cypress and I'm trying to click on the button that appears on chrome confirmation box
but when I'm running the test I'm getting this error
image
![image](https://user-images.githubusercontent.com/51986050/59744104-836af100-927a-11e9-815f-5634fa649abc.png)

in addition, the confirmation box does not appear

[code]
the correct confirmation box is:
image
![image](ht

[2019-06-19 07:46] jennifer-shehane commented on #4420
@Bkucera I thought this issue would be fixed by https://github.com/cypress-io/cypress/pull/2982 and it partially is?

Now this test passes if I add `.focus()` before the `.type()` - but, I don't think that calling `.focus()` should be necessary.

[2019-06-19 08:04] jennifer-shehane commented on #4039
I'm actually unable to reproduce this from the repo provided as is so I can't confirm if 3.3.2 release fixes this. @Bkucera did you reproduce?

[2019-06-19 08:11] jennifer-shehane commented on #3001
Fixing this fixes this situation also: https://github.com/cypress-io/cypress/issues/4420

[2019-06-19 08:14] jennifer-shehane commented on #4420
I guess this is technically closed - since it is now possible to call `.focus().type()`, but I don't consider the need to call `.focus()` very obvious when a user sees this error on `.type()` alone.

The code for this is done in https://github.com/cypress-io/cypress/pull/2982, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) wh

[2019-06-19 08:14] #4420 closed

[2019-06-19 08:21] #4161 closed

[2019-06-19 08:21] #4395 closed

[2019-06-19 08:21] #4473 closed

[2019-06-19 08:21] #4475 closed

[2019-06-19 08:21] #4476 closed

[2019-06-19 08:47] jennifer-shehane commented on #1755
The code for this is done in #4424, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-06-19 09:07] brian-mann opened #4500 "Display `projectId` in the resolved list of configuration settings"
To make `projectId` consistent with the rest of the config values - it'll now show up in your project settings.

![image](https://user-images.githubusercontent.com/1268976/59752391-29edcc80-9250-11e9-85c4-a5496b58f03d.png)

[2019-06-19 09:12] brian-mann opened #4501 "Truncate special env vars and debug logs"
Display them as `XXX...XXX`

[2019-06-19 09:39] jennifer-shehane commented on #4348
The code for this is done in https://github.com/cypress-io/cypress/pull/4321, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-06-19 09:57] jennifer-shehane commented on #773
We've changed our implementation some regarding this issue. If the `content-type` is `null` or `undefined`, we now look at the content that was visited and evaluate whether it looks like HTML, if it is - we do not error and continue as if it is `content-type: text/html`.

If it does not look like HTML, then it will still error as shown above in this issue.

The code for this is done in https://git

[2019-06-19 10:03] jennifer-shehane commented on #3101
We've changed our implementation some regarding this issue. If the `content-type` is `null` or `undefined`, we now look at the content that was visited and evaluate whether it looks like HTML, if it is - we do not error and continue as if it is `content-type: text/html`.

If it does not look like HTML, then it will still error as shown above in this issue.

The code for this is done in https://git

[2019-06-19 10:23] #4267 closed

[2019-06-19 10:43] #3947 closed

[2019-06-19 10:55] #4386 closed

[2019-06-19 10:55] #4500 closed

[2019-06-19 10:55] #4501 closed

[2019-06-19 11:50] davidedwards88 opened #4503 "Ability to display a test category/label in 'Runs' view of Cypress dashboard"
### Current behavior:

We are using Cypress for our monitoring tests. These tests run across our Production environment and two Test environments, and all upload their results to a single Cypress monitoring project.

When viewing that project in the Cypress dashboard, the 'Runs' screen provides no way of seeing at a glance which environment those tests ran against. For now, we have set a group and

[2019-06-19 12:15] OgnjenPetrovic commented on #4351
Also same here and the tests crash the server after the run is finished
13:45:06   Running: game_page/tournaments.spec.js...                            (1 of 5)
13:45:10
13:45:10
13:45:10   Testing turnaments section on game page
13:45:30
    ✓ CT1 - User is not playing tournament  (20535ms)
13:45:49 ALSA lib confmisc.c:767:(parse_card) cannot find card '0'
13:45:49 ALSA lib conf.c:4555:(_snd_conf

[2019-06-19 12:18] bahmutov commented on #4351
What website are you testing? Can we have the test code to recreate the problem?

Sent from my iPhone

[2019-06-19 12:25] OgnjenPetrovic commented on #4351
It is a gambling site, all other specs are working fine, I guess the issue is that on this page we load a game in an Iframe and there is a sound on also included. Guess we will have to add dummy audio drivers on the server. On my local machine, all works fine no errors

[2019-06-19 12:35] OgnjenPetrovic commented on #4351
Here is the entire log , it is realy simple test just go to page , fixture some data and validate tournament list
13:45:06 ================================================================================
13:45:06
13:45:06   (Run Starting)
13:45:06
13:45:06   ┌────────────────────────────────────────────────────────────────────────────┐
13:45:06   │ Cypress:  3.3.1

[2019-06-19 12:41] ziyailkemerogul commented on #695
I'm getting the same error:

**cy.click() failed because this element is not visible:** although it's visible.

I also tried with `force: true` but still getting the same error. I saw lots of entries and opened issues related to this topic, (or **cy.type() failed because this element is detached from the DOM.** this) and couldn't figure out the reason.

Is this directly related to React or it's so

[2019-06-19 12:57] dschuessler opened #4504 "Cypress fails to clear input field, but only when running it headless"
### Is this a Feature or Bug?

Bug

### Initial situation

I have the following code.

[code]

It is supposed to grab an input, clear it and write something new in it.

### Current behavior:

When starting the test headless via `npx cypress run` the test fails about 90% of the time, because a part of the String is appended to the content of the input.

### Desired behavior:

When starting the test

[2019-06-19 13:49] fr0 commented on #4313
Thanks, I'll take a look. Is there a way to get the cdn beta link for a given `develop` commit?

[2019-06-19 13:55] flotwig commented on #4313
Right now you have to pull it out of CI:

1. Go to the "Mac build" CI stage:
![image](https://user-images.githubusercontent.com/1151760/59771530-e444fa00-9277-11e9-902b-f015b35fbf30.png)
2. Click on "mac" to get to the workflow:
![image](https://user-images.githubusercontent.com/1151760/59771568-faeb5100-9277-11e9-9123-96c619b1e215.png)
3. The package CDN url is in `Mac NPM package`, the binary UR

[2019-06-19 14:15] Lakitna opened #4506 "Cypress not installing using local zip on windows"
### Current behavior:

When running the following command

[code]

Where `C:/temp/cypress.zip` is a fresh download of 3.3.1.

The installation gets aborted because it seems like it tries to use the path as a relative external url.

[code]
Note the URL.

I've tried all kinds of ways of providing the url
- Single Windows slashes `\`
- Double Windows slashes `\\`
- Normal slashes `/`
- File path `fil

[2019-06-19 14:42] callumacrae commented on #1770
Did this used to have something to replicate with? I'm experiencing the same issue (I think) so happy to provide one if it would mean we get a fix quicker :)

[2019-06-19 15:14] garethleonard commented on #4346
Do you have an ETA for release on #4469?

[2019-06-19 15:17] christofferartmannmrf commented on #687
In a situation that I think is related to this issue. I have to wait for all initial bundles to be loaded for some interactions to be available. Once I perform the interaction another resource is loaded and this one is required for my assertions.

The test case would look something like this

[code]

[2019-06-19 15:27] jhays-nhaschools commented on #1691
I don't know whether this is technically feasible, but if possible, it would be nice if cancelled runs still had video output.

[2019-06-19 16:03] LorenzoX2002 opened #4508 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4509 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4510 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4511 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4512 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4513 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4514 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4515 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4516 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4517 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4518 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4519 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4520 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4521 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:03] LorenzoX2002 opened #4522 "can't open test"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-19 16:05] #4508 closed

[2019-06-19 16:05] #4509 closed

[2019-06-19 16:05] #4510 closed

[2019-06-19 16:05] #4511 closed

[2019-06-19 16:05] #4512 closed

[2019-06-19 16:05] #4513 closed

[2019-06-19 16:05] #4514 closed

[2019-06-19 16:05] #4515 closed

[2019-06-19 16:05] #4516 closed

[2019-06-19 16:05] #4517 closed

[2019-06-19 16:05] #4518 closed

[2019-06-19 16:05] #4519 closed

[2019-06-19 16:05] #4520 closed

[2019-06-19 16:05] #4521 closed

[2019-06-19 17:36] jhays-nhaschools opened #4523 "Language spillover in docs: CLI page"
### Current behavior:
https://docs.cypress.io/guides/guides/command-line.html#Installation

Some non-English is appearing on this English docs page:
命令行
 Improve this doc
 你将会学习到什么

### Desired behavior:

The English docs are all in English

### Steps to reproduce: (app code and test code)

Go to
https://docs.cypress.io/guides/guides/command-line.html#Installation
Set language to English

### Vers

[2019-06-19 18:38] ZhouQQQ opened #4524 "Can't open windows file upload dialog"
### Is this a Feature or Bug?

Bug?Maybe

### Current behavior:

![image](https://user-images.githubusercontent.com/20562245/59790795-50207480-9303-11e9-82bd-e48c5728468e.png)
after click upload element ,nothing happened

### Desired behavior:

open this
![image](https://user-images.githubusercontent.com/20562245/59790889-83fb9a00-9303-11e9-9ee2-557f7ad564ba.png)

### Steps to reproduce: (app code

[2019-06-19 19:19] Alphy11 commented on #4220
@jennifer-shehane Our site uses an auth redirect to log in, and logging in via request is not quite possible due to other issues.  I have disabled chrome web security, but the same thing happens when being redirected.  Gray screen with `chromeerror://chromewebdata`  Shouldn't disabling chromeWebSecurity fix this issue?

[2019-06-19 19:26] bahmutov opened #4525 "Add comment to commits in "develop" explaining how to install beta version"
## Background

Currently every commit that lands into "develop" branch triggers a CI build on each platform (Linux, Mac, Win 32 and 64) which produces NPM module `cypress.tgz` and application binary `cypress.zip`. These two files are uploaded to a temporary S3 folder where they are used to test downstream projects. Typical test commit message like https://github.com/cypress-io/cypress-test-example

[2019-06-19 19:35] bahmutov opened #4526 "Why don't we trigger cypress-test-example-repos for Mac build"
Project https://github.com/cypress-io/cypress-test-example-repos is configured to run a few test projects on Mac CI see https://github.com/cypress-io/cypress-test-example-repos/blob/master/circle.yml

Yet I do not see us triggering Mac builds for this project

![Screen Shot 2019-06-19 at 3 34 57 PM](https://user-images.githubusercontent.com/2212006/59794852-e0c96700-92a7-11e9-91df-580592a9c64b.png

[2019-06-19 19:52] tnightingale commented on #4258
Same problem in our CI process:
[code]

CI is a fresh install, I have no issue locally on my dev machine (macOS). This seems consistent with above comments. CI is running Debian FWIW, this doesn't seem OS specific (despite the Windows label).

[2019-06-19 20:16] cdbkr commented on #944
I really love this tool. unfortunately, this is a huge blocker when doing SSO authentication which requires the user to navigate to a different domain and come back. chromeWebSecurity doesn't help, so not sure how to solve this situation... though, this seems feasible with other tools for E2E automation

[2019-06-19 20:34] bahmutov commented on #4523
Thank you for noticing and opening an issue (even if this issue is better in cypress-io/cypress-documentation repo) We are fixing this in https://github.com/cypress-io/cypress-documentation/pull/1793

[2019-06-19 20:34] #4523 closed

[2019-06-19 20:35] Joelasaur commented on #944
Get the token from your SSO provider using cy.request(), you should never
have to leave your domain for this.

On Wed, Jun 19, 2019 at 3:16 PM Francesco Paolo Vitullo <
notifications@github.com> wrote:

[2019-06-19 20:54] grenma-ld commented on #144
I'm sure you've heard this hundreds of times: many of us are looking for a Selenium alternative and as a result are predisposed to use Cypress, but this issue (and to a lesser extent multi-browser and tab support) is a deal-breaker.  Any transparency on this would be helpful.

[2019-06-19 21:00] flotwig commented on #144
@grenma-ld It's something we want to add, but nobody from the Cypress team is currently working on this. There's no PR open for it from the community either.

For working with the shadow DOM today, you can try this user-created plugin that adds support: https://github.com/JaySunSyn/cypress-daywalker

[2019-06-19 21:42] CoryDanielson commented on #1906
@scharf the memory leak and performance issues that you're experiencing are likely fixed with #4068 which is pending a release. The root cause was performance and memory leaks caused by external stylesheets.

[2019-06-19 21:49] grenma-ld commented on #144
Haven't been able to get daywalker to work yet - will keep trying and perhaps reach out, but unless it works well we'll have to fall back to Protractor/Selenium

[2019-06-19 22:51] Songyu-Wang commented on #2963
@jennifer-shehane is there a reason that you guys intentionally choose to not add that 81.9KB?

[2019-06-20 00:07] nickatnight commented on #1194
This is a huge blocker for my team and I, as our tests only fail when running from containers (CodeFresh). Anyone have a work around for this yet?

[2019-06-20 06:15] jennifer-shehane opened #4529 "Have the Cypress GitHub bot handle issues that were opened that did not change the PR template"
### Current behavior:

We frequently have users that open issues where they do not edit the issue template at all. These issues are obviously not providing enough detail and end up being closed by us manually.

<img width="755" alt="Screen Shot 2019-06-19 at 10 53 16 PM" src="https://user-images.githubusercontent.com/1271364/59825241-7e30a380-9359-11e9-9a58-bd06b7791c94.png">

<img width="788" alt

[2019-06-20 06:21] jennifer-shehane commented on #4522
Unfortunately we have to close this issue as there is not enough information to reproduce the problem.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-06-20 06:21] #4522 closed

[2019-06-20 07:07] yuki-93 commented on #4356
I have the same problem with comboboxes in ExtJS, which are not plain <select> elements. They are kind of overlays which close again when scrolling. force:true doesn't seem to work for me.

[2019-06-20 09:29] jennifer-shehane opened #4530 "Display warning within Runs List if parallelization was disabled during the run."
### Desired behavior:

Should match new design of Dashboard experience

<img width="658" alt="Screen Shot 2019-06-20 at 3 22 22 PM" src="https://user-images.githubusercontent.com/1271364/59838098-5d297c00-9374-11e9-9dfe-bfe617b7c758.png">

### Versions

3.3.1

[2019-06-20 09:46] lukeapage commented on #4356
Afaik Force true disables scrolling, so if that doesn’t work, something else is probably going on.

[2019-06-20 11:03] danielschwartz85 opened #4533 "SecurityError when accessing an iframe of same origin"
### Current behavior:
When getting an iframe of **same origin** and accessing it's `contentDocuemnt` this error is thrown:

(perhaps related to https://github.com/cypress-io/cypress/issues/3685 ?)

### Desired behavior:

Not get the error if the iframe is of the same origin

### Steps to reproduce:

1. See this repo:
`https://github.com/danielschwartz85/cypress-issue-example`
2. Or run:
[code]
###

[2019-06-20 11:50] mxrguspxrt commented on #2739
+1

[2019-06-20 11:52] bogdan-calapod commented on #349
Any update on this ? I've tried making a wrapper using Cypress in a .js file but it seems that the renderer errors aren't caught by `Cypress.catch()`

[2019-06-20 12:00] rhythmicdevil opened #4534 "Configuring for not producing screenshots on error is not working"
### Current behavior:
Configuring Cypress to not generate screenshots seems to have no effect when running.
[code]

[code]

### Desired behavior:
I'd like Cypress to not produce screenshots on failure when configured to do so.

### Steps to reproduce: (app code and test code)
Configure as shown above.

Run like this:
[code]

### Versions
[code]

[2019-06-20 12:58] crazydude552 commented on #3566
Hi I am Ram,

I am getting exact error, when I try to reach the payment page. which is working with other test frameworks.

Here is my scenario: I am doing a purchase in the test environment where I will redirect to the page of the payment portal to update the card details. Here the payment page is a third party page, which is similar to the any other online retailer sites.
Cypress not able to red

[2019-06-20 13:51] GlenHughes commented on #144
Such a shame this great tool won't be made to work with the ShadowDom, lots and lots of apps are starting to use this great feature and cypress supporting it would be a great feature :)

[2019-06-20 14:08] fr0 commented on #4313
I tried the latest build (from [c7b340](https://github.com/cypress-io/cypress/commit/c7b340a6611d403ce733ee77b24de081c86b1e8f)) and the issue is not resolved.

[2019-06-20 14:09] matt-d-rat commented on #1263
I also support this feature request, our team would prefer to use a custom Mocha UI which better suits our use case.

[2019-06-20 14:21] dschuessler commented on #4504
I had not understood that waiting for a route waits for exactly one request. For my use case I needed to await all API requests. I implemented a mechanism as proposed [here](https://stackoverflow.com/a/52137474) to be sure that all API requests returned. It solved my problem.

[2019-06-20 14:21] #4504 closed

[2019-06-20 14:48] sammenza commented on #896
Wanted to bump this issue. I was trying to go between `http://localhost:5000/#thing/subitem/7937fb4b-d8c6-4ba8-ae86-5171d85b211/details` and `http://localhost:5000/#thing/subitem` and it wasn't working either

[2019-06-20 14:52] flotwig opened #4535 "Track certain metrics over time"
We should do some long-term logging of various statistics that are collected about Cypress during CI builds.

Things that would be nice to track on each commit:

- results of `proxy_performance` server spec
- results of `6_visit_spec` "resolves visits quickly": https://github.com/cypress-io/cypress/blob/c4bf698013998a38ff955f5487275ed47e41c5fd/packages/server/test/e2e/6_visit_spec.coffee#L155-L155

[2019-06-20 16:00] danyfu opened #4536 "Cypress + Reporter Plugin in nested projects. Could not load reporter by name: reporter"
### Current behavior:
Based on the project: https://github.com/cypress-io/cypress-test-nested-projects
I'm trying to use a reporter (In these case [mochawesome](https://github.com/adamgruber/mochawesome))to generate report logs of my runs in cypress, but it always expected the reporter was installed inside the nested project so cypress never run the tests.

Image with the error that throw:
![image

[2019-06-20 16:34] flotwig commented on #4313
@fr0 Could you share spec code that reproduces the slowness that changed between 3.2.0 and 3.3.2? We had some test cases where we improved test performance (like the 100x cy.visit test I posted earlier in this thread, which now runs as fast as it ought to), but it's possible that we missed an edge case that you're still running in to.

[2019-06-20 16:57] fr0 commented on #4313
Sure, I'll work on trying to get a reproducible example.

[2019-06-20 17:37] flotwig commented on #883
This is pretty confusing, just ran into another user having this issue: https://stackoverflow.com/questions/56690772/how-do-i-wait-for-the-callback-passed-to-a-cypress-custom-command-to-finish-befo/56690824#56690824

[2019-06-20 17:41] szymach commented on #2118
Thank you @dannsam and @fritz-c , your workaround did it for me. I have encountered this issue using the [autosave plugin](https://github.com/ckeditor/ckeditor5-autosave) for CKEditor 5, since it tries to make sure the last call was completed or something.

[2019-06-20 18:35] flotwig commented on #4411
Okay, I was able to sorta reproduce this by writing tests that do a toooon of mocked route request all at once. Eventually Cypress locks up and starts stuttering and shows the symptoms you're experiencing:

Spec code:

[code]

`/index-xhrs.html`:

[code]

Running in Electron, you can clearly see Cypress freezing and struggling to keep up: https://drive.google.com/open?id=1wbC5cobVkvJcA0wL0nVlweaEV

[2019-06-20 19:09] tozes commented on #3890
@bahmutov do you have any updates on this? We also ran into it.

Thanks!

[2019-06-20 19:52] yagudaev commented on #3607
Would love to see this added as soon as possible. This is a simple enough feature that will have a huge positive impact on developer experience.

Scenarios like "I only changed the customer app, so I don't need to run the admin specs" would be easy. It will also make it easier to debug leaky tests that fail when they run together.

[2019-06-20 22:13] veoh1989 commented on #136
+1 Would love an update on this! We need this functionality for full test coverage. ❤️

[2019-06-20 23:22] abramenal commented on #144
@grenma-ld @GlenHughes and anyone who are interested
I think until there is no official support for shadow DOM we can make a set of custom commands to make our stuff work.

I've created an initial set of shadow'ish commands for querying, asserting elements and working with events. It'll be great if we can review that together, create bugs & decide what are must-have commands that majority of the u

[2019-06-21 05:08] Thanh96 opened #4537 "Can't use Custom Commands"
### Current behavior:
![Screenshot 2019-06-21 12 06 52](https://user-images.githubusercontent.com/29529118/59899051-7803fb00-941d-11e9-949d-87911abcac39.png)

![Screenshot 2019-06-21 12 06 40](https://user-images.githubusercontent.com/29529118/59898957-28bdca80-941d-11e9-8b09-c56258798ba6.png)

i can't use this custom commands.
### Desired behavior:

No error should be found

### Versions
3.3.1

[2019-06-21 06:34] GordonTester commented on #2938
I too have been seeing this issue for several months. I tend to get anywhere between 1 to 3 test failures in every other run or so due to timeout, regardless of how high I configure it.

We have retries running but it's causing the team to loose confidence in the stability of the tests.

I'm running 400+ tests hourly as well as chained to deployments and every time it breaks the build a little par

[2019-06-21 08:22] jennifer-shehane commented on #4533
I'm not able to reproduce this behavior with the provided code.

The provided repo - did you not provide the branch this code is on? The `master` code doesn't look relevant to this issue.

Ran on Mac, Cypress 3.1.5.

Please provide *all* information pertaining to config, proxy, setup, plugins, etc.

I'm not exactly sure what you are testing, but I see you are getting a 'captcha-recaptcha' element.

[2019-06-21 08:29] jennifer-shehane commented on #4537
Types do not exist for custom commands since you defined the custom command yourself, you will have to add the Types as described here. https://on.cypress.io/typescript-support#Types-for-custom-commands

Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

Also, check out our [community

[2019-06-21 08:29] #4537 closed

[2019-06-21 08:45] jennifer-shehane commented on #4491
@smart625 `{` and `}` are evaluated as special characters in `.type()` per our documentation. https://on.cypress.io/type#Arguments

You would have to escape every `{` key by writing `{{}` currently.

Although this seems like a very legitimate argument for this feature that was previously asked for. https://github.com/cypress-io/cypress/issues/4287 I will reopen that issue - please continue the con

[2019-06-21 08:45] #4491 closed

[2019-06-21 08:46] jennifer-shehane commented on #4287
Another pretty reasonable argument for allowing an options argument to turn off special chars https://github.com/cypress-io/cypress/issues/4491

[2019-06-21 08:56] jennifer-shehane commented on #2979
Unfortunately there is still not enough information to reproduce the problem.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-06-21 08:58] jennifer-shehane commented on #4497
Please see this docs on testing confirmation boxes: https://on.cypress.io/catalog-of-events#Window-Confirm

Also, check out our [community chat](https://on.cypress.io/chat), it can be helpful for debugging or answering questions on how to use Cypress.

[2019-06-21 08:58] #4497 closed

[2019-06-21 09:00] jennifer-shehane commented on #4495
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. We have many tests that `{enter}` works, so we will need to know what is specific to your application that would make it not work here.

Please provide the HTML you are testing against, the error message that you are seeing, and a reproducible example that we can run locally and we will reopen th

[2019-06-21 09:02] jennifer-shehane commented on #4503
Closing as duplicate of https://github.com/cypress-io/cypress/issues/2561

[2019-06-21 09:02] #4503 closed

[2019-06-21 09:06] jennifer-shehane commented on #4286
@jvegarag Follow our Native Events issue here - https://github.com/cypress-io/cypress/issues/311 - all the work is open source, currently being worked on by @Bkucera mostly.

[2019-06-21 09:06] jennifer-shehane commented on #1397
@vpivet @amiral-jion I would take a look at [`trigger()`](https://on.cypress.io/trigger)

I think this will be easier to achieve once we have native events support: https://github.com/cypress-io/cypress/issues/311

[2019-06-21 09:13] jennifer-shehane commented on #4477
I would recommend taking a look at this document about variables and aliases. These are not quite evaluating how you expect they are I think. https://on.cypress.io/variables-and-aliases

[2019-06-21 09:13] #4477 closed

[2019-06-21 09:16] jennifer-shehane commented on #4472
Unfortunately we'll have to close this issue if no reproducible example is provided. Can anyone provide a way to reproduce this? Any screenshots? [Debug logs](https://on.cypress.io/debugging#Debug-the-Command-Line)?

[2019-06-21 09:23] jennifer-shehane commented on #4492
You can add your own messaging to the assertions as another argument to `.should()` like so:

[code]

This will prepend this custom message to your printed error.

[2019-06-21 09:23] #4492 closed

[2019-06-21 09:26] jennifer-shehane commented on #4434
Unfortunately we have to close this issue as there is not enough information to reproduce the problem.

We have many passing tests against our own Docker Containers - so we would need information on what is specific to your setup that is failing. It likely has something to do with a combination of your tests + docker.

Please comment in this issue with a reproducible example and we will reopen the

[2019-06-21 09:27] GlenHughes commented on #144
Hi @abramenal,

I've actually started to use TestCafe for the moment but what you've come up with looks brilliant. I will give that a go and see how it works. I'm happy to chip in when I can :)

[2019-06-21 09:28] jennifer-shehane commented on #4524
Duplicate of https://github.com/cypress-io/cypress/issues/170

[2019-06-21 09:28] #4524 closed

[2019-06-21 09:32] jennifer-shehane commented on #4506
as described in https://on.cypress.io/installing-cypress#Run-binary

You cannot set it to a zipped file.

[2019-06-21 09:34] ZhouQQQ commented on #4524
Thank you, but all I have to do is open the windows file upload dialog.
Instead of actually uploading files

[2019-06-21 09:35] Lakitna commented on #4506
I'm talking about `CYPRESS_INSTALL_BINARY`, not the run binary

https://docs.cypress.io/guides/getting-started/installing-cypress.html#Install-binary

[2019-06-21 09:38] jennifer-shehane commented on #4457
Hey @davidzambrana, thanks for the detailed description.

If you open DevTools while running `cypress open` in Electron, are there any errors in the console there? Or perhaps some pending requests in the Network panel - I do see that XHR is pending, wonder if it's weirdly related.

If you run a test directly after this test (really anything - `expect(true).to.be.true`), does the test resolve? Any

[2019-06-21 09:44] jennifer-shehane commented on #4455
Will close as duplicate of #687 then - this is an issue @flotwig is actively working on when not busy fixing recently released regressions.

[2019-06-21 09:44] #4455 closed

[2019-06-21 09:47] mark-veenstra commented on #4434
@jennifer-shehane I run into the same issue on GitLab CI running a Cypress image with the docker in docker executor.

What I have done:

# Create own Cypress image based on images from Cypress
[code]
Above `Dockerfile` is build using GitLab CI and pushed to the registry in private GitLab. This works as expected.

# Running test with `docker-dind`
Following job is used in `.gitlab-ci.yml`
[code]
An

[2019-06-21 09:50] jennifer-shehane commented on #4416
You may want to look into using the [`cy.setCookie()`](https://on.cypress.io/setcookie) command after fetching the cookie value.

[2019-06-21 11:56] crazydude552 commented on #3566
can you please help me in this issue i can see this issue already closed but i dont see any solution for this yet...

[2019-06-21 13:21] bahmutov commented on #1556
In order to better debug the failure to start on Linux, please follow this debugging section https://docs.cypress.io/guides/guides/debugging.html#Run-the-Cypress-app-by-itself

Mostly we want to see if you have any missing dependencies or misconfigured XServer and running the application directly might reveal this.

[2019-06-21 14:55] Steakeye commented on #4433
Experiencing a similar issue working for a client and our tests suddenly stopped failing in headless mode; when debugging the issue it appears as though the cookies we need - which we set earlier before all tests run - are not being passed in the request from the electron client; this is confirmed when using dev tools to look at the network traffic of the headless mode but with `--headed` flag pas

[2019-06-21 15:19] dialex commented on #4483
Sorry for the dumb question, but how do you "attach to the Cypress object"?

[2019-06-21 15:27] cesarcruzm commented on #1512
It worked for me under Xubuntu 18.04.2 LTS, npm 6.9.0.

The latest version I got of Cypress was 3.3.1

I also had to grant permissions for execution to $home/.cache/Cypress/.

Then run npx cypress open.

[2019-06-21 15:42] bahmutov commented on #4483
Cypress.myFixture = require(“path/to/fixture/files”)

Sent from my iPhone

[2019-06-21 16:03] dialex commented on #4483
Doesn't work: `Error: Cannot find module 'cypress/config/imovirtualpt/routes.json'`

[code]

I guess I'll have to settle with the solution at https://github.com/cypress-io/cypress/issues/4483#issuecomment-503014007

[2019-06-21 16:04] #4483 closed

[2019-06-21 16:16] #4526 closed

[2019-06-21 16:50] arasabbasi commented on #1746
FakeNews... still getting garbage regex error

[2019-06-21 18:38] fr0 commented on #4313
I was able to reproduce the problem with the most trivial example I can think of that uses Angular + Cypress.

https://github.com/fr0/cypress-slowdown

(Note: I created a `cy.task` that measures timing using `process.hrtime()`. If this is misguided, or if there is a better way, I'd love to be clued in.)

Thanks!

[2019-06-21 18:41] pmn4 commented on #2918
I am experiencing something similar:
I have several applications on subdomains which redirect to a relative path (client-side) once an authentication request succeeds (that is, the user should stay on the subdomain once they authenticate). I am testing all applications in a single suite, so I set baseUrl as `"baseUrl": "domain.com"` in `cypress.json` since "domain.com" is the superdomain for all a

[2019-06-21 21:03] flotwig commented on #4411
This slowdown appears to happen with all Cypress commands, @fr0 in #4313 created an example repo (https://github.com/fr0/cypress-slowdown) that shows a 2x slowdown with .get, .click and other commands. I profiled the difference between 3.2.0 and `develop` and it also comes down re-rendering. It looks like everything under every `Command` is re-rendering over and over:

Sample call tree of one upda

[2019-06-21 21:04] flotwig commented on #4313
@fr0 Thank you for the example repo, I see exactly what you mean now. After some debugging, I think you're having the same issue as #4411, check out [this comment](https://github.com/cypress-io/cypress/issues/4411#issuecomment-504572024) to see what I mean. If so we can move future discussion of this non-`cy.visit()` slowdown over there.

[2019-06-21 21:11] fr0 commented on #4313
Excellent, thanks for the update. Glad you were able to reproduce it with my repo.

FYI, I (any many others) are not able to roll back to 3.2.0 because it isn't compatible with Angular 8 (due to https://github.com/cypress-io/cypress/issues/2069), so that's not an option right now.

I'll continue discussion in the issue you linked. Thanks again!

[2019-06-21 21:18] fr0 commented on #4411
Since it was introduced in 3.3.0, it might help to do a `git bisect` to narrow down the exact commit that introduced the issue.

[2019-06-21 21:43] fr0 commented on #4411
Not sure if this is useful information or not, but I just tried my test case with `--browser chrome` and the slowdown occurred, which seems to contradict the earlier comment that "this works fine in Chrome75. This seem to be failing only in Electron browser."

[2019-06-21 21:46] Songyu-Wang commented on #1647
I would hope this issue can get fixed the right way.
For us, the workaround does not work due to CORS since we are doing direct request to api in testing instead of of web server

[2019-06-21 22:38] SUSANO-O commented on #4442
hello good day there are examples of how to use window other than cypress documents.

[2019-06-21 22:39] SUSANO-O commented on #1691
hello good day there are examples of how to use window other than cypress documents, muchas gracias.

[2019-06-21 23:22] EigenTheory commented on #2595
Same issue here... My Windows users cannot get this to work at all.

![image](https://user-images.githubusercontent.com/1594192/59955725-81a75600-9451-11e9-94cc-e07203c7ec28.png)

[2019-06-22 02:46] luckybai commented on #1165
webpack dev server + cypress run and take snapshot in docker on my mac.

just want to die...
![image](https://user-images.githubusercontent.com/31891883/59958499-4866f880-94da-11e9-8c52-6f6166bb9b3b.png)

it just crash and can't accomplish to make snapshot, so how can i make baseline images locally?

[2019-06-22 04:29] flotwig commented on #4411
Yeah, it happens in both Chromium 75 and Electron for me too.

[2019-06-22 07:50] jamesgeorge007 opened #4540 "Having a dedicated command to show up local environment information 'cypress info'"
## Feature Request

Most CLI tools these days are shipped with a dedicated `info` command which shows up local environment information. Also, the present issue template includes a section which expects to have information regarding the local environment.

With this all the user has to do is just copy and paste the information as shown by `cypress info` within the respective section.

[2019-06-22 07:51] jamesgeorge007 commented on #4540
I would love to work on this :+1:

[2019-06-22 07:53] jamesgeorge007 commented on #4540
cc @bahmutov

[2019-06-22 10:23] divmgl commented on #2372
This may not be related, but I ran into a URL encoding issue as well. Say I have a URL request that looks like this:

[code]

Stubbing it in Cypress by doing:

[code]

Does not work. Cypress actually looks for:

[code]

So changing to the decoded string is necessary:

[code]

Is this intended behavior?

[2019-06-23 11:39] AnalyzePlatypus commented on #695
Same error with Vue.js.

[code]

[2019-06-23 11:58] danielschwartz85 commented on #4533
@jennifer-shehane sorry forgot to push the test file to the repo. (now pushed).

Regarding the config, etc not sure what I can add since I have no proxy, no plugin and no plugin..

Note that this isn't directly related to captcha.. I'm just accessing the iframe's contentDocument (this also happens to me in other sites iframes..)

[2019-06-23 12:06] danielschwartz85 commented on #4533
btw if I open the console in the "Your App" frame and access frame's ```contentDocument``` I also get this error.

The wired thing is I'm getting this error when getting the frame with ```document.getElementById```
but when getting the frame with  ```document.getElementsByTagName``` I'm not getting the error..
Not sure what i'm missing..

![cyyy](https://user-images.githubusercontent.com/4113198/5

[2019-06-23 12:38] murthy-n commented on #4472
Hi Jennifer-shehane please find the attached screenshot. after clicking on some link it will throw
the requested URL /__/landingpage.htm was not found on this server.
![CypressError](https://user-images.githubusercontent.com/50316749/59976418-c2ce7000-95e1-11e9-9e39-72eda0a5dcc5.png)

[2019-06-23 19:13] Svish opened #4541 "Update behavior of CSS Grid Layout percentage row tracks and gutters"
I've started getting the following deprecation warning in the chrome developer console whenever I run Cypress tests in the browser:

Guess it's related to something the Cypress runner is doing in Chrome? Should probably be fixed? 🤔

### Versions

|Cypress|Running|
|---|---|
|3.3.1|Chrome 74|

[2019-06-23 23:08] JonJamesDesign commented on #1212
If classes need to be dynamic, they should be set based on state in the element.

E.g. using CSS Modules:
[code]

[2019-06-24 06:47] jennifer-shehane commented on #2372
@divmgl Yeah, this is intended, but should likely be better documented.

I created a new issue in our [docs](https://github.com/cypress-io/cypress-documentation) to document using decoded strings here: https://github.com/cypress-io/cypress-documentation/issues/1806. Our documentation is open source and contributions are welcome. 😄

[2019-06-24 06:53] jennifer-shehane commented on #4540
The code for this can be found here (for example this is the `cypress help` command) for anyone that would like to contribute this `cypress info` command. https://github.com/cypress-io/cypress/blob/develop/cli/lib/cli.js#L156

I imagine it would print:

- Cypress version
- OS platform info

Maybe some environment variables from the OS we care about? like...

- `HTTP_PROXY`
- `NO_PROXY`
- `CYPRESS_

[2019-06-24 07:04] jennifer-shehane commented on #4541
I'm unable to recreate this error within Cypress using Cypress version 3.3.1 in Chrome version 74.0.3729.0. Our Cypress application does not make any use of CSS grids either.

Can you see the stack trace location of where this warning is being printed? I believe it's a warning for the application under test. Is this your application?

[2019-06-24 07:04] #4541 closed

[2019-06-24 07:11] jennifer-shehane commented on #4472
This looks to be a duplicate of https://github.com/cypress-io/cypress/issues/3975 - I see your tests are also 'logging in' and I wonder if this is a result of a redirect also. Could you provide any more information in that issue? It will be hard to address without us being able to reproduce it ourselves.

[2019-06-24 07:11] #4472 closed

[2019-06-24 07:11] jennifer-shehane commented on #3975
Another issue where 404 is returned due to malformed url containing `/_/` https://github.com/cypress-io/cypress/issues/4472

[2019-06-24 07:26] id-dan commented on #390
Hi, All!
I have the same problem. I want to run tests in a specific order: 1.SigUp, 2.Login, 3.ShareTool, 4.Publication and then 5.Account. However tests run like on this screenshot:
![image](https://user-images.githubusercontent.com/52101871/59999337-682d2680-966a-11e9-906a-3fec77ea795c.png)

[2019-06-24 07:36] jennifer-shehane commented on #3975
I can recreate this issue from the original code provided in the main comment. This is still happening in 3.3.2 pre-release version.

[2019-06-24 08:37] Stehlert opened #4543 "Cypress fails to parse environment variables with commas"
### Current behavior:

Cypress fails to run when passing an environment variable containing a comma.

Command run:
`cypress open --env ABC="1,2,3"`

Stacktrace:

Uncaught Exception:
TypeError: Cannot read property 'split' of undefined
    at pipesToCommas (/home/ehlerts/.cache/Cypress/3.3.1/Cypress/resources/app/packages/server/lib/util/args.js:95:14)
    at JSONOrCoerce (/home/ehlerts/.cache/Cypr

[2019-06-24 08:57] jennifer-shehane commented on #4506
So sorry for misreading.

Do you have a `NODE_EXTRA_CA_CERTS` env var set on your system? Can you try the workaround as described here? https://github.com/cypress-io/cypress/issues/1401#issuecomment-393591520

[2019-06-24 09:05] jennifer-shehane commented on #4534
The `screenshotOnRunFailure` is not an available configuration value for the `cypress.json` file - See all `cypress.json` configuration values here: https://on.cypress.io/configuration

The `screenshotOnRunFailure` option is part of the [Screenshot API](https://on.cypress.io/screenshot-api). Please follow the directions as written here: https://on.cypress.io/screenshot-api#Disable-screenshots-on-r

[2019-06-24 09:05] #4534 closed

[2019-06-24 09:05] jennifer-shehane commented on #1424
@ModiYesha No.

[2019-06-24 09:06] #4530 closed

[2019-06-24 09:13] geyuqiu opened #4544 "deprecated combineLatest is not firing in UI-Test angular"
Instead of event firing, a console warning is given instead

[code]

[2019-06-24 09:13] jennifer-shehane commented on #4012
We haven't personally worked with IBM Cloud as a CI service before, so I would refer to their documentation on how to cache directories during your run. https://cloud.ibm.com/docs

Alternatively, you can sign up for any of our [paid plans](https://www.cypress.io/pricing/) and get access to our team for support via email.

[2019-06-24 09:17] jennifer-shehane commented on #3199
There is also a plugin for Cypress written by @flotwig that logs console output to the terminal here: https://github.com/flotwig/cypress-log-to-output

[2019-06-24 09:18] jennifer-shehane commented on #3749
@urig-develeap We will need to be provided a reproducible example in order to investigate the issue. Can you provide one?

[2019-06-24 09:19] jennifer-shehane commented on #4215
Closing as resolved. Please comment if you are still having this issue and we will consider reopening.

[2019-06-24 09:19] #4215 closed

[2019-06-24 09:23] jennifer-shehane commented on #825
Hey @sayedit09, this error is coming from your application code - not Cypress. Click on the error with DevTools open and look at the stack trace to determine where this is being thrown in your application.

[2019-06-24 09:29] jennifer-shehane commented on #1244
Browserify logs

[code]

[2019-06-24 09:35] jennifer-shehane commented on #1619
@manphannvg Can you use the `Cypress.minimatch` method to confirm the glob is matching the entire url. https://on.cypress.io/minimatch#Examples

[2019-06-24 09:41] jennifer-shehane commented on #3427
@macarenagil No one ever produced a reproducible example that the Cypress team could run to recreate this, so this issue was closed.

## Some advice if your `cy.wait()` is not resolving.

- Make sure `cy.server()` and `cy.route()` are defined BEFORE you `cy.visit()` or BEFORE you do the action that will cause the route to go out.
- Are you waiting for a `FETCH` response? We don't fully support thi

[2019-06-24 10:13] Lakitna commented on #4506
I have not, I'll try in a bit and report back.

But that doesn't take away from the fact that installing using from a local zip is not working. Judging from the documentation and the example provided there this might have something to do with Windows specifically.

For now, I can still get by running 3.2.0 which I was able to install via the method described earlier.

[2019-06-24 10:13] kazeens opened #4548 "Can there be a more detailed visual schema in the docs of how cypress works(cypress architecture))"
Hi, I want to start using Cypress and want to comprehend its architecture design.
Your doc says

Could you follow up on this? Does it mean than Cypress tests and my application share the same process(inside a browser)?

Could you also follow-up on that? What are the concrete responsibilities on that Node.js process? What does it do?
Do I get it right that browser runtime is itself a standalone pro

[2019-06-24 11:47] tikihpy opened #4549 "chrome"
### Current behavior:

![image](https://user-images.githubusercontent.com/5051163/60015818-fc24df80-96b6-11e9-84e9-1a6e80e988c8.png)

![image](https://user-images.githubusercontent.com/5051163/60015887-26769d00-96b7-11e9-9e25-e86541789039.png)
just cancel cypress control  then can not open chrome by cypress anymore, how can i reset open by  chrome  default

### Desired behavior:
reset open by  chr

[2019-06-24 11:51] Karrar-Naqvi opened #4550 "Testing A Form in Cypress"
I have to automate an app completely which involves many pages like add agency, add new user etc now in these pages i have to fill many input fields

I want to get the values of these input elements and save them in a constant (One constant for each input field) As i have to test these input fields from many aspects in many tests like if an iput is accepting alphabets for phonenmbr field or if the

[2019-06-24 12:01] deshdeep-airwallex commented on #1865
How do you pass TEST_TAGS ? do you mean as env variable?        ` "cypress-regression-ondemand": "cypress run --spec \"cypress/integration/convertandpay/payment/paymentsV3.spec.js\" --headed -b chrome --env TEST_TAGS=pr",
`

[2019-06-24 12:02] urig-develeap commented on #3749
Hi @jennifer-shehane . I'm working on it. Ok if I put the test code in a private GitHub repo and give you access?

[2019-06-24 12:21] cb109 commented on #987
Same thing here (Chrome 73), cypress tests fail due to a 3rd party library error, although I tried placing `uncaught:exception` handlers in different locations (`describe( beforeEach() )`, `it( cy.on() )`, `support/index.js Cypress.on()`). They never get triggered by my error which is a `Uncaught TypeError: Cannot read property 'getBoundingClientRect' of undefined`. I want cypress to just ignore t

[2019-06-24 12:23] maxime1992 commented on #2938
Upgrading from Cypress `3.1.5` to `3.3.1`, I'm having this issue only on CI for some reason.

And in 100% of the cases, no way to make it work on CI, but all fine locally :man_shrugging:

[2019-06-24 12:32] mark-veenstra commented on #4434
Well I just did some fixes as described [in this comment](https://github.com/cypress-io/cypress/issues/350#issuecomment-503231128). So what I did:
* Everyting described as above, but
* Upgraded the image to install Cypress `3.3.0`
* Using the base image `cypress/browsers:node10.2.1-chrome74` instead of `cypress/browsers:node11.13.0-chrome73`
* Use the `--browser chrome` flag and make sure to add t

[2019-06-24 12:52] dialex commented on #630
When I use the [plugin's](https://github.com/Lakitna/cypress-commands) `.text()` or when I use Cypress' `.invoke("text")` I get a `Object (chainerId, firstCall)`... which means when I try to parse into a number, JS rightfully complains that's NaN.

I just want to get a number string from a page and assert that it's greater than zero.

[code]

How can I do it properly?

[2019-06-24 13:00] Lakitna commented on #630
You can always do something like this

[code]

Do you think that `.text()` should cast to a number when doing that results in no information being lost? For example: Do not cast `"01"` to `1`, but do cast `"1"` to `1`.

If I add that an option will be required to turn this behaviour on/off. When the default is on then a major version release will be necessary.

[2019-06-24 13:07] bahmutov opened #4551 "uncaught error from onBeforeLoad is mistakenly attributed to application code"
Mac, Cypress v3.3.x

Reproducible example in [branch `set-navigator-language` in cypress-test-tiny](cypress-test-tiny](https://github.com/cypress-io/cypress-test-tiny/tree/set-navigator-language)

Sample page (does not really matter)

[code]

spec
[code]

When the test runs it thinks the exception is from the application code, but even from the stacktrace it is coming from the spec code

<img widt

[2019-06-24 13:27] dialex commented on #630
_oh, hi there @Lakitna ! I wasn't expecting the lib author to appear_ 😄🙇‍♂️

I like your code example, it just adds a `then` and a simple conversion. I'll use it!

Hmm, I don't think `.text()` should do the cast "sometimes" based on loss of information, because then I need to learn its implementation details to use it.

I would prefer a `.text()` that returns a string, instead of a Chainable. But

[2019-06-24 13:35] Lakitna commented on #630
😄

Cypress commands by definition always return a Chainer, so making it return a string/array is impossible. In all other situations the jQuery `.text()` will probably suffice:

[code]

[2019-06-24 13:46] bahmutov commented on #2595
Interesting - probably paths handling on Windows is incorrect, we will look into it.
For now here is a workaround:

- in each subproject have its `cypress/plugins/index.js` export required root plugins file like

[code]

- same for support file - just import shared support file

[code]

See example of this in https://github.com/bahmutov/multiple-cy-example - there are two subfolders `one` and `two

[2019-06-24 13:52] flotwig commented on #521
@alexlee-dev Hey, just an update, this is some work that will be done as part of #687, which is the next feature I'm working on. It will allow you to dynamically modify any type of network request in-flight in Cypress.

[2019-06-24 13:59] YassineFathallah commented on #1755
Hi @jennifer-shehane, any updates on when this fix would be released? Thanks

[2019-06-24 14:03] euZebe commented on #2595
Thanks @bahmutov !
Not sure this is an easy way to start contributing to Cypress, but I would be glad to help if I can have a hint.

[2019-06-24 14:11] bahmutov commented on #2595
You would need to find the "packages" folder where we resolve the plugins
and support files, probably in "packages/server/lib". Then check the logic
to make sure it uses `path.resolve` and/or `path.join` instead of
concatenation. Also we will need a unit test to confirm the behavior

On Mon, Jun 24, 2019 at 10:03 AM euZebe <notifications@github.com> wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule vide

[2019-06-24 14:40] Lakitna commented on #4506
It doesn't throw the self-signed certificate error anymore 🎉

It would still be a good idea to make sure the local install works since downloading Cypress is not a great experience in itself. At the moment it's stuck at 39%, but that's a separate issue.

[2019-06-24 14:46] bahmutov commented on #4506
@Lakitna can I ask you to run

[code]
so we can see what it does there on Windows?

[2019-06-24 14:49] jhays-nhaschools commented on #796
Related: https://github.com/cypress-io/cypress/issues/2118

[2019-06-24 14:50] Lakitna commented on #4506
@bahmutov I've run it and pasted it in a Gist https://gist.github.com/Lakitna/91d6a34586558cceab4d4f8972e10b8a

[2019-06-24 14:53] flotwig commented on #4411
Thanks for reminding me that `git bisect` exists. ;) Tracked it down to #3188, which isn't a lot of changes, picking through it now.

[2019-06-24 14:57] bahmutov commented on #4506
Great, @Lakitna I see
[code]

What happens when you set the zip using the Windows backslashes? Is there escaping going on? I think it better be quoted too

[code]

[2019-06-24 15:11] dialex commented on #630
Impossible? Fine...
Then how about a `.number()` that _always_ does the casting that you mentioned?

[2019-06-24 15:16] alexch commented on #630
It's impossible because of how Cypress works. The code you write isn't
executed immediately. Instead it sets up a script to be executed later. See
my lecture slides here for more info :
https://codelikethis.com/lessons/javascript/cypress#anchor/nothing_happens_immediately

Because of this delayed execution, the only way to get fine grained access
to the actual values in the page -- to then do comp

[2019-06-24 15:24] jennifer-shehane commented on #4550
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2019-06-24 15:24] #4550 closed

[2019-06-24 15:26] jennifer-shehane commented on #4549
Try quitting the Chrome process in activity monitor.

Try [clearing your app data](https://on.cypress.io/debugging#Clear-App-Data).

[2019-06-24 15:46] Lakitna commented on #4506
I've tried the following ways of linking to the install binary:

`"C:\temp\cypress.zip"`

[code]

-----------

`"C:\\temp\\cypress.zip"`

[code]

-----------

`"C:/temp/cypress.zip"`

[code]

-----------

`C:\temp\cypress.zip`

[code]

-----------

`C:\\temp\\cypress.zip`

[code]

-----------

`C:/temp/cypress.zip`

[code]

[2019-06-24 15:49] Lakitna commented on #630
That should be very doable. I could make it that it would always cast a value or array of values. It might warrant additional commands like `.array()` and `.string()`. I'm not totally sure we should want this yet. Maybe `.cast('number')` would be better?

Though I'm wondering if I can make it so `.text()` casts only if you need that for an upcoming assertion. I've written a way to find out what th

[2019-06-24 16:29] Steakeye commented on #4433
Our workaround has been to use the `--browser chrome` flag locally, while in CI we now use a different docker image; we switched from using a base image to one that included Chrome (from `cypress/base:8` to `cypress/browsers:node8.9.3-chrome73`).

[2019-06-24 16:51] tcastelli commented on #328
Also doesn't work for us without the workaround (still hangs) so +1 to adding the workaround on a PR again

[2019-06-24 16:57] jennifer-shehane commented on #4544
@geyuqiu Can you please provide information on how this is related to Cypress? Are you running Cypress? How are you running Cypress?

I don't see any reason that this is an issue with Cypress from the information provided - as the stack seems to be coming from your internal code.

[2019-06-24 17:10] flotwig commented on #2938
@maxime1992 Sorry to hear that. Can you share the test video? [Debug logs](https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs) would also be useful.

Anyone who is experiencing this issue in Cypress 3.3.1, if you could share complete debug logs from when you experience the issue and video, it would be very useful for debugging.

[2019-06-24 17:44] bahmutov commented on #4434
yeah, it seems it was just crashing due to shm space

[2019-06-24 17:54] jennifer-shehane commented on #4548
Closing as duplicate of https://github.com/cypress-io/cypress-documentation/issues/872

[2019-06-24 17:54] #4548 closed

[2019-06-24 18:18] laurencehoess commented on #2835
I've discovered this problem as well, but not until I was trying to run our tests in CI using the headless option. Locally I was using Chrome so it took a while to figure out what was happening on the CI server.

[2019-06-24 18:42] bahmutov commented on #4506
hmm, interesting, here is the relevant file check
[code]
For some reason it does not think the local file exists when checking

[code]
and before that if the filename is quoted, it is concatenated to be

[code]
very weird

[2019-06-24 19:11] Lakitna commented on #4506
That is so weird I had to see it for myself.

[code]

I guess normalizing the path to `/` instead of `\` should work...

[2019-06-24 20:52] bahmutov commented on #4506
another thing that really bothers me here is our version of `fs-extra` is really old in CLI: 4.0.3 and the latest available is 8.0.1 - a similar error was reported for version 4 there for Windows

[2019-06-24 21:10] Lakitna commented on #4506
Note that I used `fs-extra@latest` for my last comment, so only upgrading the package won't solve this.

[2019-06-24 22:07] #4411 closed

[2019-06-24 22:31] fr0 commented on #4411
Nice! Thanks for your hard work. I verified that the latest build does, in fact, fix my issue.

[2019-06-24 22:52] geyuqiu commented on #4544
sorry for not providing any code. I solved it by applying caching instead of fetching it every time from Backend. Could it be an error that has to do combineLatest compatibility with Electron of cypress ?

[2019-06-25 01:06] elimydlarz commented on #2219
I'd really like to see this feature. User journey tests (the kind of thing people will absolutely use Cypress for) are often long for a variety of reasons and not having a line reference for a failure is a huge problem.

[2019-06-25 04:24] datdoan commented on #1401
For windows:
**SET CYPRESS_INSTALL_BINARY**=/path/to/zipfile/cypress.zip npm install cypress

[2019-06-25 06:01] jennifer-shehane commented on #3975
Since this issue only exhibits itself within Chrome - we figure it is a change in Chrome that caused this issue to happen in Cypress. I also assume it is not a bug, as the issue still persists in version 77. It may be an intended change in behavior.

Narrowing down the version of Chrome that it was introduced, it was introduce in version 71.0.3572.0, specifically between commits 7e3da6dc3d7cd7eb8a

[2019-06-25 06:03] #4544 closed

[2019-06-25 06:06] paulfalgout commented on #687
Is there any updates on

from the op?

[2019-06-25 06:13] jennifer-shehane commented on #2370
@platan I agree, the issue with the Test Runner rendering 'freezing' during video record is a different issue than a video ending prematurely - so that the last frames of the test running are not present at all in the video.

@pisti2010 @maryhipp Can you open a separate issue about 'freezing' videos?

[2019-06-25 06:56] mattvb91 commented on #2938
We have had to give up on cypress due to this issue causing our team to loose trust in our tests.

Fingers crossed it can be fixed. This is a game stopper unfortunately for now.

[2019-06-25 08:19] satyavh commented on #300
This actually works very well!

[2019-06-25 08:37] valivvvv commented on #2101
@gautamkrishnar many baseUrls can contain url params. Take for instance one page apps, which might pass a sessionId as url param, for example. I can think of hundreds of examples.

[2019-06-25 08:39] jennifer-shehane commented on #4506
I am currently in the process of updating `fs-extra` across all of our packages, some of which were as far back as version `0.30.0`. So please try the pre-release version for these upgrades. https://github.com/cypress-io/cypress/pulls?q=is%3Apr+sort%3Aupdated-desc+fs-extra+is%3Aclosed

[2019-06-25 10:11] edoloughlin opened #4557 "Cypress 3.3.1 does not load plugins/index.js on Linux"
### Current behavior:

I tried adding the cypress-cucumber-preprocessor plugin so I can use feature files. Cypress loads the preprocessor on Windows but not if I run the same config on Linux.

I have a `cypress/plugins/index.js` file that is not loaded. On Windows 10, my `.feature` file is run successfully. On Linux (Ubuntu 19.04) I see:

[code]

If I run with `DEBUG=cypress:*` then on Windows I s

[2019-06-25 10:43] Undistraction commented on #4351
Same here on Gitlab:
[code]

[2019-06-25 10:45] YaroslavMolchan opened #4558 "cy.exec timed out"
### Current behavior:

Some `cy.exec` commands fails with timeout, I updated to Cypress 3.3.1 and all will be fine, but 3-4 days ago some tests just failed.

For example:
[code]
When I restart tests this command can execute, but another will be failed, sometimes all tests passed, last days every 2-3 build was failed with this error. To fix it I repalce all `cy.exec` calls with`cy.request` and move

[2019-06-25 11:22] danielkatz commented on #3828
@bahmutov In case when we need to trigger cypress tests from a mocha test, the two tsconfig workaround wont work. eg.
[code]

[2019-06-25 12:12] nishant-sngl commented on #395
// we DO NOT RECOMMEND doing this
cy.get("body").then(($body) => {
  // synchronously query for element
  if ($body.find("element").length) {
    // do something
   } else {
    // do something else
   }
})

In the above suggested code, if i have to use the length of the element outside. How can i do that as i cant keep my remaining code inside then().
I tried the below code. But it prints 0 outsi

[2019-06-25 12:54] simonsen78 commented on #136
Another vote for this issue, really need it.

[2019-06-25 13:26] edoloughlin commented on #4557
I just checked the debug logs on Windows vs Linux.
The successful Windows run uses browserify to preprocess the `.feature` files. On Linux, webpack is used.

The relevant parts of the Windows log:

[code]
And the Linux log, showing webpack:

[code]

[2019-06-25 14:01] bahmutov commented on #4557
please provide a reproduction repository - it can be a simple https://github.com/cypress-io/cypress-test-tiny fork with your plugins and feature file added so we can see the problem.

[2019-06-25 14:38] flotwig commented on #2938
@mattvb91 	Can you share the [debug logs](https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs) from when you experience the issue? Video would also be useful.

[2019-06-25 14:42] FilepCsaba commented on #2700
For me it is easily reproducible, if i perform an action before waiting, and the XHR response comes before the wait() starts, it fails, if the request is a bit slower, it always passes.

You can see it in the OPs screenshot, his XHR ('PUT' , '/v3/projects/....') was faster than .wait() started.

If use the bellow code, it usually succeeds as the wait is initialised very fast after the *click()*
[c

[2019-06-25 14:53] flotwig commented on #687
@paulfalgout We want to allow users to dynamically intercept network traffic in tests; however, this would also introduce some latency in network requests because instead of the traffic going...

`Browser <-> Cypress <-> Internet`

...it would go:

`Browser <-> Cypress <-> Browser Websocket <-> Cypress <-> Internet`

But even though this is slow, this is really the easiest way for users to write i

[2019-06-25 14:56] SUSANO-O commented on #3689
hello a question can I test my back-end of my application? Thank you

[2019-06-25 15:03] flotwig commented on #2372
I haven't touched this issue in a few months since I was unsure of how to "fix" the problem.

Maybe we should just warn whenever we detect that a user has URL encoding in their url?

`if (decodeURIComponent(url) !== url)`...

Thoughts?

[2019-06-25 15:03] SUSANO-O commented on #3689
hello
I would like to know if you can help me, of course, it's like entering the backend of my app, let's say; create a product and I want to know if a property of my idproduct object reacted to the new value. Can this be valued with cypress? thanks for your time

[2019-06-25 17:05] PaulDMendoza commented on #944
My app uses OAuth for a lot of stuff and this is a huge blocker.

[2019-06-25 17:27] flotwig commented on #3077
The issue in the OP is coming from code on StackOverflow that is causing frame busting. If I blacklist StackOverflow's javascript, it works:

[code]

So it seems like there's another frame busting case we need to identify and protect against.

[2019-06-25 17:29] warheartvik opened #9719 "cypress-vue-unit-test, does support components that use vue-property-decorator and TS?"
Hello,

My components are writen using typescript and vue-property-decorator and I'm getting this error trying to write unit testing with cypress on my project.

|

|     components:{
|         comSexoSeleccionar,
 @ ./pages/persona/frmPersona.vue?vue&type=script&lang=ts& 1:0-179 1:195-198 1:200-376 1:200-376
 @ ./pages/persona/frmPersona.vue
 @ ./cypress/integration/frmPersona.spec.js
 @ multi ./

[2019-06-25 18:02] glysbaysb commented on #1263
cypress does not run the mocha cli, but instead uses it [programmatically](https://github.com/mochajs/mocha/wiki/Using-Mocha-programmatically). See [packages/driver/src/cypress/mocha.coffee](https://github.com/cypress-io/cypress/blob/70c441c9f9793d599e97481fc98df51c9468261d/packages/driver/src/cypress/mocha.coffee#L60).

Luckily the CLI "--ui" option is supported by the API, so the original issue

[2019-06-25 18:37] Frozenfire92 opened #4563 "Add failed screenshot to test information for custom reporter"
### Current behavior:

When writing a custom reporter you have access to some information from the test, but no indication of the screenshot taken automatically on failure.

[code]

### Desired behavior:

the test object to have the screenshot path

[code]

### Steps to reproduce: (app code and test code)

simple runner `reporters/test.js`
[code]

use in `cypress.json`
[code]

### Versions
Cypress

[2019-06-25 20:56] viral222 commented on #4373
Hi Jennifer i am getting same error also using Salesforce cannot get to navigation cypress gives error
"RangeError: Maximum call stack size exceeded"
![Screen_Shot_2019-06-25_at_2_54_26_PM](https://user-images.githubusercontent.com/24903381/60132698-48286080-9759-11e9-81df-0b3db205a8f7.png)
![Screen_Shot_2019-06-25_at_2_53_14_PM](https://user-images.githubusercontent.com/24903381/60132732-57a7a980

[2019-06-25 21:02] blackorion commented on #2427
Is there a way to connect to the same browser instance that cypress uses from puppeteer?

The only way I found to link these together is to add a remote port for a browser launch to cypress plugins file:

[code]

then in a task you can use puppeteer.connect({ browserURL: 'http://localhost....' })

but I'm not sure that's the best way to manage these

[2019-06-25 21:07] brian-mann opened #4564 "Rendering performance when running 1000's of tests"
Identify performance rendering perf bottlenecks and fix them.

[2019-06-25 21:07] brian-mann opened #4565 "Rendering performance when running 1000's of tests"
Identify performance rendering perf bottlenecks and fix them.

[2019-06-25 21:08] clarmso commented on #4549
Here's my settings and I can run cypress tests no problem.
![Screenshot from 2019-06-25 17-06-18](https://user-images.githubusercontent.com/1740517/60133603-a9592f80-976b-11e9-81d3-878dfc72d3cf.png)
P.S. The screenshot is the corresponding section of the Chrome settings shown in the OP's report.

[2019-06-25 21:15] deshdeep-airwallex commented on #1865
This looks good and works. How I can write a CLI script for it to filter in Jenkins job
       ` "cypress-webpr": "cypress run --record --key $CYPRESS_KEY --parallel --spec \"cypress/integration/**/!(*.wip).spec.js\" --env TEST_TAGS=pr -b chrome"
`
Does this looks right? it seems to ignore the `--env variable TEST_TAGS` in CI

[2019-06-25 21:42] mccataldo commented on #4315
@kylemh This plugin might help a little bit: [cypress-skip-and-only-ui](https://github.com/bahmutov/cypress-skip-and-only-ui)

[2019-06-25 21:44] mccataldo commented on #4315
@kylemh ...or this one: [cypress-select-tests](https://github.com/bahmutov/cypress-select-tests)

[2019-06-25 21:45] kylemh commented on #4315
Looks like those plugins do what I need. Thanks!

[2019-06-25 21:45] #4315 closed

[2019-06-25 22:14] oupala opened #4568 "Cypress gives "libgconf-2.so.4: cannot open shared object file" error on debian stable"
[code]

The same happens with the static asset downloaded as a zip file:

[code]

There is no libgconf in cypress cache directory:

[code]

### Desired behavior:

To run successfully!

### Steps to reproduce: (app code and test code)

### Versions

Platform: linux (Debian - 9.9) on a laptop with full UI installed and launched (Gnome Shell)
Cypress Version: 3.3.1

[2019-06-26 01:26] ukd1 opened #4569 "Cypress won't start on OS X Catalina beta (19A471t)"
### Current behavior:

[code]

Digging a little, the OS X console contains the following under the process Kernel (AppleSystemPolicy):

[code]

### Desired behavior:

Cypress starts

### Steps to reproduce: (app code and test code)

1. install or upgrade to catalina beta
2. follow instructions down to https://docs.cypress.io/guides/getting-started/installing-cypress.html#Opening-Cypress

### Versi

[2019-06-26 01:27] ukd1 commented on #4569
p.s. I know it's beta, I have it on one of my machines and wanted to hack on something. Hopefully this gets fixed / I figure it out and post back!

[2019-06-26 05:56] jodelasur commented on #4495
I'm also having this issue right now. I uploaded a sample system for you to check. See https://github.com/jodelasur/cypress-issue-4495.

The issue for me is that the submit is not firing. I'm assuming this is because of the 1st "other situation" listed in https://docs.cypress.io/api/commands/type.html#Form-Submission:

However, looking at the spec referenced, https://html.spec.whatwg.org/multipage

[2019-06-26 05:59] ZiqiWill commented on #136
does this issue still open ?

[2019-06-26 06:14] #4429 closed

[2019-06-26 07:31] jennifer-shehane commented on #4496
You can find an answer to your originally opened issue here: https://github.com/cypress-io/cypress/issues/4497#issuecomment-504350123 Closing this as a duplicate.

[2019-06-26 07:31] #4496 closed

[2019-06-26 07:42] jennifer-shehane commented on #4497
@mushon89 In the code and screenshot provided above, it seems to indicate that the test is failing at `cy.get('.fa-user').click()`, have you tried passing `cy.get('.fa-user').click({force: true})` to this command?

I'm not completely sure why the confirmation dialog is already open at the point where `cy.get('.fa-user').click()` is open though, with the code I see provided.

[2019-06-26 07:49] Henrik-Buchholz commented on #2366
Great to hear about the progress. Thanks for fixing this issue!

[2019-06-26 08:12] jennifer-shehane commented on #4569
Can you go within System Preferences, click Security & Privacy, then click General. Can you provide a screenshot of what your settings are here?

[2019-06-26 08:20] jennifer-shehane commented on #4563
Have you taken a look at the `after:screenshot` api? https://docs.cypress.io/api/plugins/after-screenshot-api.html#Usage

Also, could you explain a bit about what you want to achieve in the end? What do you want to do with the screenshots? We might have a recommendation if we can understand the end result you want.

[2019-06-26 08:25] edouard-lopez opened #4572 "Calling Cypress.env() in fixture throws: Can't start server"
### Current behavior:

![image](https://user-images.githubusercontent.com/1212392/60163447-f1279780-97fb-11e9-95c7-14fb9ac7b665.png)

That throws this:

	ReferenceError: Cypress is not defined

If I remove the `Cypress.env()` call it works but that forces me to export the variable in the `env` instead of using the `cypress.env.json`

	ReferenceError: Cypress is not defined
	    at Object.Cypress (

[2019-06-26 08:29] jennifer-shehane commented on #4568
Closing as duplicate of https://github.com/cypress-io/cypress/issues/1526

[2019-06-26 08:29] #4568 closed

[2019-06-26 08:54] maxime1992 commented on #2938
@flotwig I'd be glad to except that I cannot repro locally...
I'll try to see if I can get them from CI.

[2019-06-26 09:12] jennifer-shehane commented on #4572
I think this is ultimately related to this issue https://github.com/cypress-io/cypress/issues/1271 with some explanation on why from @brian-mann  here https://github.com/cypress-io/cypress/issues/1271#issuecomment-394127173 Will close as duplicate.

[2019-06-26 09:12] #4572 closed

[2019-06-26 10:10] MikeSquall opened #4573 "Misleading documentation (cy.exec stderr)"
I tried to run this [example](https://docs.cypress.io/api/commands/exec.html#Choose-to-not-fail-on-non-zero-exit-and-assert-on-code-and-stderr) from documentation but it didn't work as described.

cy.exec(...).its('stderr').should(...) doesn't work with its('code').should(...)

### Current behavior:

[code]

![Result](https://i.ibb.co/xYgJ7cT/cy-fail.png)

Actually, it works only if I do expectati

[2019-06-26 10:12] toddgallimore commented on #686
You mentioned above

I might be missing something but I can't figure out the context in which you've said this. What is it that you're not going to endorse or support?

[2019-06-26 10:33] jennifer-shehane commented on #4573
This is due to how [chaining works in Cypress](https://on.cypress.io/introduction-to-cypress#Chains-of-Commands).

- `cy.exec()` yields  yields an object with the properties: code, stdout and stderr. https://on.cypress.io/exec#Yields
- `.its()` yields the value of the property. https://on.cypress.io/its#Yields
- `.should()` here yields the subject it was given https://on.cypress.io/should#Yields

[2019-06-26 10:33] #4573 closed

[2019-06-26 10:37] jennifer-shehane commented on #4558
Hey @YaroslavMolchan, sorry I'm having a little trouble understanding where this failure is happening. You said:

Is this error occurring in 3.3.1 or only in 3.2.0?

[2019-06-26 10:44] khaldrago96 commented on #669
Hi @jennifer-shehane , just wondering if I can use Cypress with ng-file-upload? I've been working on my upload file testing, that uses ng-file-upload and the test always passes an error. Thanks!

[2019-06-26 10:45] maxime1992 commented on #2938
Ok after a few retry on the whole pipeline I managed to repro with the logs turned on :raised_hands:

This is what it looks like for tests that are passing:

![image](https://user-images.githubusercontent.com/4950209/60173522-d9a1dc00-9806-11e9-8473-4d67d3047e29.png)

And this is how it looks like when it's failing so that was easy to spot :sweat_smile::
![image](https://user-images.githubusercont

[2019-06-26 10:46] mushon89 commented on #4497
thank u very much,
I succeed to click o the confirmation box button.

[2019-06-26 10:47] AlbertWhite commented on #2384
It is not working on win10 with the same problem

[2019-06-26 10:47] jennifer-shehane commented on #4533
Ok, I am able to reproduce this in Electron 61 (Chrome 61) - that was the key information missing. This is due to some differences between Chrome 61 and the current version. We're updating Electron in an upcoming version: https://github.com/cypress-io/cypress/issues/4270

You can turn off this error by setting `chromeWebSecurity: false` in your config. https://on.cypress.io/web-security

[2019-06-26 10:47] #4533 closed

[2019-06-26 11:07] fedorakatiyar commented on #987
![uncoughterror](https://user-images.githubusercontent.com/35370949/60174677-2c8f8980-982f-11e9-9026-d6f695f9dd88.png)

Due to this error, I am not able to execute TestCases.

![cypress-console](https://user-images.githubusercontent.com/35370949/60174957-da029d00-982f-11e9-9425-655cc7d11399.png)

![devtool](https://user-images.githubusercontent.com/35370949/60175179-69a84b80-9830-11e9-9409-0cc4fc4

[2019-06-26 11:12] jennifer-shehane commented on #4495
oh boy.

![](https://media.giphy.com/media/8dYmJ6Buo3lYY/giphy.gif)

Yes, I believe your assessment is correct. Also, yes, the form does an implicit submission manually within your example.

I've simplified the HTML example for our testing purposes as shown below - this form should submit when typing `{enter}` in the input of type text.

[code]

[2019-06-26 11:14] MikeSquall commented on #4573
Thank you

[2019-06-26 12:12] asans commented on #918
I'm attempting to run some cypress tests on SemaphoreCI within their OSX environment and am encountering this issue as well.

OSX : 10.14.5
Kernel: Darwin 18.6.0

When running "cypress run", the following error shows:

[code]

After searching around, I haven't found a way to get this to work.  So I resorted to installing Chrome, ie `brew install caskroom/cask/google-chrome`.  This installed Chrome

[2019-06-26 12:45] YaroslavMolchan commented on #4558
@jennifer-shehane only in 3.3.1 and not after update, when I update to 3.3.1 from 3.1.0 (I don't use 3.2.0) all works fine and some days ago got first errors.

[2019-06-26 12:56] abramenal commented on #669
@khaldrago96
I've faced some users with ng-file-upload recently, you can take a look on:
https://github.com/abramenal/cypress-file-upload/issues/51

In short, cypress-file-upload works perfectly with ng-file-upload 😈

[2019-06-26 12:57] oupala commented on #1526
Same issue with debian stretch.

[2019-06-26 13:16] flotwig commented on #1526
@oupala You can install it by installing the `libgconf-2-4` package: https://packages.debian.org/search?mode=exactfilename&suite=stretch&section=all&arch=any&searchon=contents&keywords=libgconf-2.so.4

To fix this issue, perhaps we should detect if the user has missing dependencies in the CLI, and then warn them? Something like:

[code]

...because right now, it's not very well-documented.

[2019-06-26 13:20] flotwig commented on #2384
I think that the issue in this thread looks like a duplicate of #1253 - where Chrome fails if there are proxy settings set by the administrator.

Anyone experiencing this issue: can you please visit `chrome://policy` in the browser launched by Cypress and share the contents? If there are any `Proxy` or `Extension` policies set, it can cause bad behavior on the part of Cypress.

For now, the workar

[2019-06-26 13:28] flotwig commented on #2938
This is great @maxime1992, I'll start digging in. Do you have the entire log by any chance?

[2019-06-26 13:32] loxator commented on #390
Just found an easy hack, add a number before your file or folder and it will run those in that order.

For example, @id-dan you can do something like 01-SignUp/01-SignUp.feature/, 01-SignUp/02-Login.feature/.....05-Account/... and so on.

Cypress should pick up the files in that order and run them.

[2019-06-26 13:39] maxime1992 commented on #2938
@flotwig yes, here's the full log

[cypress-debug-issue-page-not-loading.txt](https://github.com/cypress-io/cypress/files/3330261/cypress-debug-issue-page-not-loading.txt)

[2019-06-26 13:56] Frozenfire92 commented on #4563
@jennifer-shehane From my understanding that event is only available in the cypress context (i.e. a plugin) and not a reporter?

The end goal is to upload it to something like TestRail and tag it to the test case / test run. I can do this as described above, but its a decent amount of manual work trying to tag the failed screenshot to the failed test instance

[2019-06-26 15:40] anavarre commented on #4416
I understand this is for OKTA specifically, but I'm not sure it should as my understanding is it will happen with all SAML Idps. We used OKTA in the past and now [Google IDaaS](https://cloud.google.com/identity/) and we're never going to get in without being SAML-authenticated.

I don't know that there's only one solution to this issue. I might try `cy.setCookie()` at some point though IDK whether

[2019-06-26 15:45] anavarre commented on #1489
User of Google IDaaS and former OKTA user. Also hit by this issue which prevents us from using Cypress altogether because the site is 100% behind SAML.

[2019-06-26 16:34] jgjorgji-h4 opened #4575 "Install instructions assume APT recommends is enabled"
Currently [here](https://docs.cypress.io/guides/guides/continuous-integration.html#Dependencies) in the documentation it is assumed that the system default of allowing recommended packages is enabled, thus this is an incomplete list of dependencies needed to run cypress.

We run our installs with `--no-install-recommends` so cypress fails even with those packages installed, the documentation shoul

[2019-06-26 17:14] Betree commented on #3200
Same bug here, ended up disabling the style with the following snippet:

[code]

[2019-06-26 17:20] mccataldo commented on #4367
@bahmutov I think this error also could apply:
[code]

[2019-06-26 17:26] heitorlessa commented on #685
+1 - Just faced this when trying to test a Payment form that uses Stripe Elements which happens to use iFrame too

[2019-06-26 18:11] oupala commented on #1526
It is not documented and the [opposite is explicitly documented](https://docs.cypress.io/guides/getting-started/installing-cypress.html#Direct-download):

And by the way, your workaround is working (installing the required library `libgconf-2-4`.

[2019-06-26 18:16] flotwig commented on #1526
Yeah, that is probably the case for Windows and Mac, but not so for Linux.

Linux dependencies are documented in Continuous Integration for some reason: https://docs.cypress.io/guides/guides/continuous-integration.html#Dependencies

[2019-06-26 18:38] sungkimns commented on #3525
Can confirm this exact issue happens when upgrading from 3.1.0 to 3.1.1. I assume the secure cookie expiration fixes mentioned in the change log for 3.1.1 introduced this issue.

Tests run fine on our secure production environment but breaks on our development environment, which is not secure. Securing our development environment is not really an option so fix or workaround would be ideal.

[2019-06-26 18:51] bahmutov commented on #4367
Yeah that’s a good candidate!

Sent from my iPhone

[2019-06-26 19:15] bgold0 commented on #1697
@brian-mann i'm not sure why this is closed. this is a really big blocker for us as well and can't get passed this redirect bug. Already wrote a LOT of tests for Cypress and would hate to have to move to something else because of something so silly

[2019-06-26 19:42] coldblood opened #4577 "proxy"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-26 19:42] #4577 closed

[2019-06-26 20:14] Phillipe-Bojorquez commented on #4126
This happened to me just now as well.  I was running individual specs through the UI and I closed the console window and then the left command rail disappeared.  I restarted the test runner several times with no effect.  I changed from chromium to electron.  I restarted chrome itself in case that was an issue.  Ive never had this issue before.

v3.3.1
Settings
[code]

[2019-06-26 20:21] bahmutov commented on #4506
@Lakitna you are not escaping the backslashes in the first case, it should be

[code]

I have tested it on Windows and it is reporting the right thing, see https://github.com/cypress-io/file-check-win

BUT: look at the experiments on Windows in https://ci.appveyor.com/project/cypress-io/file-check-win/history

- you cannot set the variable inline (unless you use something like [cross-env](https://

[2019-06-26 20:43] nchaudry opened #4578 "Cypress won't open Chrome 75 inside test runner"
### Current behavior:
After clicking a test to run in Cypress window, A blank google chrome tab is launched (no 404) and nothing happens.  The same test works using Electron 61, and was working a few days ago under Chrome 74.

![cy1](https://user-images.githubusercontent.com/26577562/60212935-6f9e2c80-9830-11e9-85fd-9f133dd2fdd3.PNG)
![cy2](https://user-images.githubusercontent.com/26577562/602130

[2019-06-26 20:45] flotwig commented on #4578
@nchaudry Thanks for reporting this. Can you share [debug logs](https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs) from when you encounter the issue?

Also, can you visit and share the contents of `chrome://policy` from inside of Chrome?

[2019-06-26 20:45] Lakitna commented on #4506
@bahmutov Whoops, forgetting to escape is a rookie mistake in Windows. When is Windows going to use `/` like a normal OS?

Here, have another wtf

[code]

[code]

Can you trim `CYPRESS_INSTALL_BINARY` to make this less error prone?

[2019-06-26 21:04] nchaudry commented on #4578
@flotwig Thanks for the quick response.  Here is an attachment of the policy:

![Policy](https://user-images.githubusercontent.com/26577562/60214637-dec95000-9833-11e9-9dd6-59d14c7d4074.PNG)

As for the debug, I tried what the docs said, in my bash I set `set DEBUG=cypress:*`

And ran `npx cypress open`

In the blank google tab I launched, I got this message in the console:

`Refused to execute in

[2019-06-26 21:12] bahmutov commented on #4506
yeah, this is what I want to do in https://github.com/cypress-io/cypress/pull/4579

[2019-06-26 23:17] germyjen commented on #2520
it's really more of a trial at only 500 tests a month... we use that in a little over a week with a dozen developers and one project. I've seen a few solutions online to run parallelization independent of the dashboard, and will be spending some time this week configuring it, after some trouble with dashboard today made me realize it's not enough value added to be worth it for me.

[2019-06-27 00:25] mikhaildzarasovvineti commented on #1767
Any updates here?

[2019-06-27 03:42] reallyusefulengine opened #4580 "Login test fails every odd run due to cookie not being saved"
### Current behavior:

When running  a login script the tests passes on the first go but every second run(after clicking on the rerun test Icon on the test runner) it will fail.

On the failing second run the order of execution is as following:

1. clicking login button
2. `POST` to `/api/signi`
3. Page loads
5. `GET` Client state

The cookies _doesnt_ seem to get saved on the second run.

### Des

[2019-06-27 03:57] jennifer-shehane commented on #4558
This only fails in CircleCI? Can you provide the full code for the command you are running in cy.exec()?

[2019-06-27 04:34] jennifer-shehane commented on #3076
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2019-06-27 04:34] #3076 closed

[2019-06-27 04:35] jennifer-shehane commented on #4580
Can you explain what you mean by 'second' run. How is the 'it' being run the second time? Are you refreshing the browser. Are you clicking the rerun button? Are you writing the 'it' twice?

[2019-06-27 05:58] reallyusefulengine commented on #4580
hi Jennifer, there is only one test. It happens when I rerun the test via the rerun button.

[2019-06-27 06:26] danatemple opened #4582 "setting localStorage in beforeEach() fails occasionally"
I have a system with JWT authentication and, as I understand is a best practice, set the localStorage in a `beforeEach()` to ensure the user is logged in before each test.

[code]

Occasionally,  one of the tests fails as it perceives the user is not logged in. This seems random, i.e. the first one can pass and the second then fail.
(Like, once in 500 `it()` tests).

As it is not reproducible it i

[2019-06-27 06:36] whizsid opened #4583 "Can not install through proxy"
### Current behavior:

Can not install cypress.

### Desired behavior:

I want to start developing the package

### Steps to reproduce: (app code and test code)

When I try to run yarn install in [reac-select](https://github.com/JedWatson/react-select) package it gives me an error like `The Cypress App could not be downloaded.` . And full error is:-

[code]

I have googled it. But found answers do

[2019-06-27 06:44] jennifer-shehane commented on #4583
I'm confused why you are downloading version 1.4.2 of Cypress. We are currently on version 3.3.1.

Can you set the version number to 3.3.1 and try installing again.

[2019-06-27 06:58] khaldrago96 commented on #669
hi @abramenal , thanks for your response!
I just took a look on your thread and found out its using ng2-file-upload, which is dedicated for Angular2.
Does it work the same way for angularjs and its ng-file-upload ?

[2019-06-27 06:58] jennifer-shehane commented on #4582
I wonder if you can set an expectation in your `beforeEach`, to ensure it is indeed `localStorage` that is not being set and which item is not being set. So when it fails next time, post the results here. This will be hard to debug as is. :/

Something like:
[code]

[2019-06-27 07:00] jennifer-shehane commented on #4575
This repo is only for issues relating to Cypress bugs and features. If you want to open an issue on our docs in the future, you can open it [here](https://github.com/cypress-documentation/cypress/issues/new). This issue will be moved to that repository.

[2019-06-27 07:04] whizsid commented on #4583
@jennifer-shehane Still same error. Not resolved.

[2019-06-27 07:08] jennifer-shehane commented on #4580
It's strange. 🤔

As a first step, can you add an assertion around the cookies to ensure that is IS indeed a cookie issue and not something else? https://on.cypress.io/getcookie

So, add this where appropriate:
[code]

After confirming this, we will need some way to narrow down the issue some more. Maybe setting the cookie from within Cypress to replicate the behavior? Or providing a simple `index.

[2019-06-27 07:09] jennifer-shehane commented on #4583
@whizsid How are you installing exactly? You have it in a package.json as a dependency?

[2019-06-27 07:11] abramenal commented on #669
@khaldrago96
well then you'll be the first one who comes with AngularJS :)
I don't see any reason for the plugin to be not compatible, so you can try this out.
If you face any issue, feel free to submit it and I'll help you chase it!

[2019-06-27 07:14] whizsid commented on #4583
Yes. This is the [package.json](https://github.com/JedWatson/react-select/blob/master/package.json) . This is not my repo. This an open source react component. I want to contribute to it. I have pulled it and run the `yarn install` command.

[2019-06-27 08:07] manphannvg commented on #1619
It's a true. But it cannot be catched @jennifer-shehane
![image](https://user-images.githubusercontent.com/40622958/60248611-35df2b80-98ed-11e9-850c-f7a3114f32df.png)

[2019-06-27 09:21] MichaelHindley opened #4585 "3.3.1 Websockets dont work behind a Proxy when NO_PROXY is configured."
### Current behavior:
Websockets cant be established with error:
[code]

when the `wslocation` is part of the `NO_PROXY` environment variable.
I can only observe these network errors within Cypress, if the same page is visited in Chrome or Firefox, both that are configured with the same proxy config as Cypress, then they dont fail with this error.

Gist of logs with DEBUG=cypress:*
https://gist.gi

[2019-06-27 09:25] fanshyiis opened #4586 "cypress run error: cypress:server:timers can not clear!"
Whenever I run my test case
Cypress always hangs at results, unable to end instruction
When I turn on debug mode
There's always a timer running that hasn't been cleared

![image](https://user-images.githubusercontent.com/15103283/60254398-7f854180-9900-11e9-8e72-773e15a1541c.png)

[code]
![image](https://user-images.githubusercontent.com/15103283/60254449-95930200-9900-11e9-8513-b1f245459bc6.png)

[2019-06-27 09:31] mgxcool commented on #4551
I have the same problem on Mac, Cypress v3.3.x .   hoping someone to fix it

[2019-06-27 09:39] lou commented on #2938
I have the exact same issue as @maxime1992

When upgrading from 3.2.0 to 3.3.+ one of my tests timeout with this error message `Your page did not fire its 'load' event within '60000ms'.`

[cypress_logs.txt](https://github.com/cypress-io/cypress/files/3333958/cypress_logs.txt)

Let me know if you need further debug logs.

Thanks

[2019-06-27 10:07] scharf commented on #1906
@CoryDanielson is there a way to try the pending release (a kind of pre-release)?

[2019-06-27 10:23] MarS919 opened #4587 "Filling forms using Hyperform"
I encountered issues filling form fields with type() when the form is "enhanced" with Hyperform (https://hyperform.js.org/).

### Current behavior:
The form field is not filled.

### Desired behavior:
The form field shoud be filled.

### Steps to reproduce: (app code and test code)
No app code needed.

Test code:
[code]

### Versions
Cypress 3.3.0 and 3.3.1
Chromium 69 and Electron 61

[2019-06-27 11:19] #4549 closed

[2019-06-27 11:20] tikihpy commented on #4549
thanks its ok now

[2019-06-27 11:38] ttomaszewski commented on #349
Please fix.

[2019-06-27 12:42] hereiscasio commented on #1176
Hi, i also face the same issue, that's,

[code]

when Cypress's browser is not the active browser

then seems like ` type() ` will fire blur event,
but if Cypress's browser is under focusing, ` type() ` works great

at now, how can we user solve this issue . . . 😔 ?
i test this wired behavior 10x times

[2019-06-27 13:15] bahmutov commented on #1906
@scharf there is a way to install pre-release version (when a commit has been merged into `develop` branch), it is complex though, see https://docs.cypress.io/guides/getting-started/installing-cypress.html#Install-pre-release-version

[2019-06-27 13:23] rodya-mirov commented on #448
It's been 2.5 years since this was brought up and the fix everyone wants was declared "easy." All of the suggested fixes around using the dashboard are problematic for reasons described thoroughly in this issue. Is there any movement on this?

[2019-06-27 13:27] bahmutov commented on #448
Current workarounds: use these 2 plugins
- https://github.com/flotwig/cypress-log-to-output
- https://github.com/bahmutov/cypress-failed-log

[2019-06-27 13:48] elm9 opened #4588 "stop test button disappears"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-27 14:23] danielschwartz85 commented on #4533
Thanks !

[2019-06-27 14:29] flotwig commented on #4583
@whizsid Can you run `yarn install` with debug logs enabled, then share all of those logs here? It should let us know what's going wrong with your proxy.

[code]

You may also need to manually start the install, if so, share these logs too:

[code]

[2019-06-27 14:35] maxime1992 commented on #4173
We've had our tests running slow for quite a long time on desktop and completely crashing cypress on laptop. We've ended up setting `numTestsKeptInMemory` to 2 but this is far from being the best option as failing ones may not be the last ones. An option for that would be much appreciated :)

[2019-06-27 15:06] scharf commented on #1906
@CoryDanielson I installed the newest version (https://github.com/cypress-io/cypress-test-example-repos/commit/842608ef90bf4fdf49e36e035c0fccc618a5d836) and it was running 360 tests without problem (before it was failing after 80 tests or so).

**I can confirm that it is now much more scalable....**

[2019-06-27 15:25] novarichuffman commented on #621
If it is a prompt box Cypress will not automatically accept it.

[2019-06-27 15:30] shootermv opened #4589 "cypress fails to set localstorage at travis CI"
### Current behavior:

cypress fails to set localStorage key at travis CI

### Reproduce:

Im trying to configure CI e2e automation of react app.

In my app i have `ProtectedRoute` component which redirects not-loggedin-user to "login" page:

[code]

In my test i'm trying to access some "protected" route and do some checks on the page.
As recommended at cypress documentation - i'm not logging-in u

[2019-06-27 15:39] nickytonline commented on #2752
I have a workaround for pasting in the interim. It fits the use case I have for pasting data, so I thought I'd share. See https://gist.github.com/nickytonline/bcdef8ef00211b0faf7c7c0e7777aaf6

[2019-06-27 16:05] flotwig commented on #4578
@nchaudry Thanks for providing this.

I noticed two things about your issue:

1. Your Chrome doesn't open up to the page that Cypress is telling it to open to
2. Your Chrome doesn't have the Cypress Chrome extension installed (should happen automatically)

Normally this is caused by bad policy settings that prevent Cypress from installing its extension; however, I see that you don't have any polic

[2019-06-27 17:46] whizsid commented on #4583
@flotwig @jennifer-shehane Thank you for your responses. I have solved it by editing `/etc/environment` file. This file contained a variable like `https_proxy="https://` I have changed https to http. `export` command is setting env variables for only user space. But installation proccess will looking for global space to retrieving env variables.

[2019-06-27 17:46] #4583 closed

[2019-06-27 18:57] ssamaji opened #4590 "Test cases are not working with electron browser"
# Current behavior:

I am getting blank page when i run my tests in electron.(no data on UI). any idea why i am getting this exception when i use electron `VM136 main.5424510dff4c3766dd34.js:5 user beacon call failed Error: Session expired. Please login again.`

![image](https://user-images.githubusercontent.com/26387897/60291919-a3b14480-9939-11e9-9644-0bd776a9b69b.png)

### Desired behavior:

wo

[2019-06-27 19:20] edwinwalda commented on #2374
Any update on this? My company's project is entirely serviced by firestore, and we were really hoping to use cypress to do our integration tests.

[2019-06-27 19:21] danatemple commented on #4582
Done. And fortunately, can now reproduce in a fairly tight loop on a local server.

The asserts in the beforeEach never trigger, neither do the extra ones I placed in the it()s. It now fails on a random iteration but always in the same place, see THIS FAILS line below.

[code]

Note that this check for #dd-settings is identical to the one in the previous it(), so the page has reloaded in the meant

[2019-06-27 19:32] hunghau opened #4591 "Failing to compile Typescript using uncaught:exception"
### Current behavior:

There is an issue with uncaught exceptions that New Relic and Cypress throws.  We are able to handle this using `.js`, but moving to `.ts` does not allow it to run.

[code]
The Error from Typescript is:
[code]

### Desired behavior:

We should be able to compile Typescript with this code.

### Steps to reproduce: (app code and test code)

I forked the cypress examples repo a

[2019-06-27 19:50] nchaudry commented on #4578
🤦‍♂ This indeed was the issue.  On my first installation of cypress I had to uninstall the forcepoint webpoint.  It was fine until chrome updated to 75, and forcepoint somehow reinstalled itself as well.  Thanks for your help and sorry for the inconvenience.

[2019-06-27 19:50] #4578 closed

[2019-06-27 19:50] marcenacp commented on #1866
I still have the problem on the latest release. It occurs randomly on Gitlab CI when running tests on an Ubuntu (16.04 in Docker) without using cache. Is it possible to bypass this `verify` check?

I cannot post any more log, as Cypress does not even start.

[code]

[2019-06-27 20:38] MadHatter122312 opened #4592 "Waiting for selector in cypress"
I am refactoring my ui tests from Puppeteer to Cypress, and while reading the documentation I was not able to find a way to wait for an element to appear on the page.

For example, there does not seem to be a method such as waitFor(#someId), such as in Puppeteer.

Does Cypress support something similar?

[2019-06-27 20:41] bahmutov commented on #4592
Pretty much every command in Cypress has it - check out this doc https://on.cypress.io/retry-ability

Sent from my iPhone

[2019-06-27 20:52] MadHatter122312 commented on #4592
Hmmm, perhaps I am not being clear about my use case.

Use case:  I want to be able to have the test await until a specific element is loaded on the page.  I am not testing XHR requests, I simple want to verify that an element has been loaded by selector, and then proceed to the next.

[2019-06-27 20:56] bahmutov commented on #4592
Sure, so here is the `cy.get` which will retry until the element is in the dom

https://docs.cypress.io/api/commands/get.html#Assertions

you can change the passing condition by attaching assertions. For example, retry getting an element until it is visible

[code]

or wait until there are 10 elements in the list

[code]

Perhaps reading https://docs.cypress.io/guides/getting-started/writing-your-

[2019-06-27 21:27] brian-mann opened #4593 "Update warning messages for new API limits"
This issue is the followup for the additional work not done in: https://github.com/cypress-io/cypress/issues/4489

The PR is already opened here: https://github.com/cypress-io/cypress/pull/4493

[2019-06-27 21:27] brian-mann commented on #4489
Closed by https://github.com/cypress-io/cypress/pull/4567

[2019-06-27 21:27] #4489 closed

[2019-06-27 21:47] flotwig commented on #4349
Is this actually happening? Got lost in the blur of other performance changes.

[2019-06-27 22:15] mikhaildzarasovvineti opened #4594 "Got error Command failed with exit code 1"
We are getting randomly error: Got error Command failed with exit code 1. Cypress does not provide any additional information why and what is failing. It only happens in Parallel testing. We do have latest Cypress version

[2019-06-27 23:41] reallyusefulengine commented on #4580
The failing test:
![image](https://user-images.githubusercontent.com/45160568/60307616-b2731800-9988-11e9-8761-425b2c591e9e.png)

The passing test(i pressed rerun):

![image](https://user-images.githubusercontent.com/45160568/60307648-d46c9a80-9988-11e9-9fe0-93cb06694a73.png)

[2019-06-28 06:09] jennifer-shehane opened #4595 "When downloading 2 versions of Cypress simultaneously, one clobbers the other resulting in nondescript error and exit"
### Current behavior:

We recently encountered an error on one of our repos ourselves where we use yarn. The problem was that we were downloading two versions of cypress within our `package.json`. We run a monorepo, so one of the cypress versions was in the main `package.json` and the other cypress version was in a sub-module of our monorepo.

Since we save cypress upon download to `/tmp/cypress.z

[2019-06-28 06:10] jennifer-shehane commented on #3515
So we recently encountered this error on one of our repos ourselves. The problem was that we were downloading two versions of cypress within our package.json. We run a monorepo, so one of the cypress versions was in the main package.json and the other cypress version was in a sub-module of our monorepo.

Since we save cypress upon download to `/tmp/cypress.zip`, they were clobbering each other whe

[2019-06-28 06:21] jennifer-shehane commented on #3909
Hey @Bigdragon13th, thanks! I have a PR open for this situation also here that did not make it into 3.3.2 https://github.com/cypress-io/cypress/pull/4574

[2019-06-28 06:36] gpascual4qima commented on #170
Hi everyone,

I tried to use this fix for using my file with Papaparse but I don't access to `new win.File()` constructor in my code  even if I use the `cy.window()`.  I use Cypress with TypeScript and I don't know if I forgot to enable something in configuration. I tried to move this code to command file location but I have the same issue. The `win.File` is not accessible.

I also tried to use th

[2019-06-28 06:37] jennifer-shehane commented on #4594
Hey @mikhaildzarasovvineti, please always try the latest Cypress version to see if the issue is resolved first.

Also, could you answer the questions below that were initially asked in our issues template? We need a lot more information to look into this. Otherwise, we will close the issue.

[code]

[2019-06-28 06:40] jennifer-shehane commented on #170
@gpascual4qima 	Where are you defining the `uploadFile` method? What file?

[2019-06-28 06:41] jennifer-shehane commented on #4592
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2019-06-28 06:41] #4592 closed

[2019-06-28 06:47] jennifer-shehane commented on #4591
In the example-recipes changes you provide, you need to import the `exceptions.ts` file from the `support/index.ts` file, otherwise this file is never being read in. https://github.com/HungHau/cypress-example-recipes/blob/master/examples/preprocessors__typescript-webpack/cypress/support/index.ts

[2019-06-28 06:55] jennifer-shehane commented on #4590
When running in Electron, your tests are running against Chromium version 61. If you are using technologies in your application that were only supported in later Chrome versions, you may see some errors from your application when running outside.

The error that you should look into is the first error in the console in the screenshot, the one about a Syntax Error that states "This error is origina

[2019-06-28 07:00] jennifer-shehane commented on #4589
Can you run the tests in `cypress open` and choose Electron as the browser to run within? See if the tests are failing there. Make sure to open the developer tools to see any errors in the console.

![](https://docs.cypress.io/img/guides/select-browser.b103817c.png)

[2019-06-28 07:01] jennifer-shehane commented on #4588
Unfortunately we have to close this issue as there is not enough information to reproduce the problem.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2019-06-28 07:01] #4588 closed

[2019-06-28 07:11] gpascual4qima commented on #170
I defined `uploadFile` method  in a file in my source folder where I put all my cypress tests. The file that I mentioned is the file loaded by `cy.fixture`. This file is perfectly loaded and the it is not correctly recognized Papaparse as a type File.

[2019-06-28 08:07] tkociemba-olx commented on #4247
Hello everyone. I've been seeing this issue for a while now (originally reported it in Aug '18 https://github.com/cypress-io/cypress/issues/2377) and haven't been lucky to figure it out. Though yesterday I found out that when video encoding seems to hang it's in fact due to browser not being killed properly.

Just after test finishes I see following in debug:
[code]
followed by request to tracking

[2019-06-28 08:26] Ceesiebird opened #4596 "cy.writeFile does not work with variable values"
### Current behavior:

When using `cy.writeFile` using a variable as the value to write to file, it hangs indefinitely during execution.

### Desired behavior:

using `cy.writeFile` using a variable as the value to write to file should work just like writing a string to file works currently and write the variables value to a file.

### Steps to reproduce: (app code and test code)
run the following

[2019-06-28 08:34] jennifer-shehane commented on #4587
I can recreate this in Cypress 3.3.2 in Chrome 75.

When running in Cypress, I've noticed the same `keyup`, `keypress`, and `click` events firing and being listened to as the same as manually typing. Don't see any obvious reasoning for this.

Failing test @Bkucera

[code]

[2019-06-28 08:46] jennifer-shehane commented on #4596
This is a bit tricky because your variable is actually pointing to a reference of Cypress, not what is yielded from the Cypress command. See https://on.cypress.io/variables-and-aliases for a more in depth explanation on why using variables in this way with Cypress promises is not advised.

So, depending on what you want to do, you can do one of the following:

[code]

dom1.txt - just our string.

[2019-06-28 08:46] #4596 closed

[2019-06-28 08:47] jennifer-shehane commented on #4586
Closing as duplicate of https://github.com/cypress-io/cypress/issues/4247

[2019-06-28 08:47] #4586 closed

[2019-06-28 08:50] jennifer-shehane commented on #4585
Can you try Cypress version 3.3.2, we fixed a NO_PROXY issue in there. If not fixed, will forward to @flotwig

[2019-06-28 08:55] jennifer-shehane commented on #4582
If it is not failing at the `expect(localStorage.getItem('token')).to.eq(this.token);`, then I don't suspect this is an issue with `localStorage` - the `localStorage` is set, something else is causing it to reroute incorrectly.

If you're expecting a route change, I also would recommend putting in assertions for this, so that it doesn't try to prematurely check the wrong page for the DOM content.

[2019-06-28 09:06] AnderssonChristian commented on #2128
@jennifer-shehane This bug is still present. Is there any fix for this on the horizon?

@bahrb Did you find any workaround, perhaps?

[2019-06-28 09:36] shootermv commented on #4589
Hi
For some reason  i have no browser drop down at my "cy" UI

[image: no-dropdown.png]

On Fri, Jun 28, 2019 at 10:00 AM Jennifer Shehane <notifications@github.com>
wrote:

--
http://gs500coder.blogspot.com

[2019-06-28 09:38] cy6581 commented on #521
For those still looking for a stubbing workaround based on the GraphQL query that's typically sent with the request body, here's a variation based of @ianwalter's suggestion to use xhook to intercept the creation of XHR requests:

// /cypress/support/index.ts
[code]

[2019-06-28 09:40] shootermv commented on #4589
Ok, update cypress to 3.3.2, and now i have "electron" option.
At my local machine (mac) it succeeds with electron too.
The problem is with travis-CI

Thanks anyway

On Fri, Jun 28, 2019 at 12:36 PM Moshe Vilner <shootermv@gmail.com> wrote:

--
http://gs500coder.blogspot.com

[2019-06-28 10:33] danatemple commented on #4582
I see what you're saying, but there are many things pointing to localStorage.
Note that there are *no actual operations* happening between the cy.get() assertions in the two it()s. Somehow, the app has spontaneously updated in the meantime, and at that point (not later, when the extra check is run) it looks like localStorage is empty, as it concludes there is no JWT login.

Also, if I prevent loca

[2019-06-28 11:04] asherccohen commented on #1148
Same here, spent all afternoon finding the CentOs libraries equivalent to the deb packages suggested in docs.

[2019-06-28 11:08] qialex commented on #3156
Error
`TypeError: _angular_core__WEBPACK_IMPORTED_MODULE_1__.��nov is not a function`

Error appears randomly in e2e tests.

Internal project.

    "@angular/animations": "7.2.1",
    "@angular/cdk": "^7.2.1",
    "@angular/common": "7.2.1",
    "@angular/compiler": "7.2.1",
    "@angular/compiler-cli": "7.2.1",
    "@angular/core": "7.2.1",
    "@angular/forms": "7.2.1",
    "@angular/http": "7.2

[2019-06-28 11:44] asherccohen commented on #3116
cypress cache clear will resolve most of your issues.

[2019-06-28 12:01] adampfoster commented on #299
Tab is a no brainer. Currently testing a javascript dropdown box where user types in a country for example and the list shortens per character typed and tab is the way to proceed with what's selected onto the next field. This is easy to use as a human, tab is a natural progression out of this field. Cypress is lacking by not having tab key support. Hope to see it arrive soon.

[2019-06-28 13:22] #3992 closed

[2019-06-28 13:49] Shelex commented on #4563
@jennifer-shehane Yeah, have added screenshots to mochawesome using fs approach and it was a long road of defining how screenshot filenames behave with special symbols (some are supported, other deleted) and after switch from 3.2 to 3.3 it has changed ><
So it would be great to have it accessible inside test object.

[2019-06-28 13:54] flotwig commented on #4366
@lukeapage 	Can you to try 3.3.2? We made some bugfixes to websockets along with other network improvements and it might fix this issue.

No `NO_PROXY` should be necessary, though you might want to have the basic `NO_PROXY=localhost` just so requests for your app don't go through the proxy.

[2019-06-28 13:57] Nicklus opened #4599 "access"
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-06-28 13:58] flotwig commented on #4235
Hey everyone, we just released [version 3.3.2](https://docs.cypress.io/guides/references/changelog.html#3-3-2) of Cypress with a ton of network improvements and bugfixes. Can you guys try updating your Cypress version to 3.3.2 and seeing if you still experience this issue? :crossed_fingers:

[2019-06-28 13:59] #4599 closed

[2019-06-28 14:31] andradec opened #4601 "Failed test"
### Current behavior:

I am starting my studies in Cypress, I created a basic project and created the following script:
![image](https://user-images.githubusercontent.com/21975206/60349494-151fe000-9998-11e9-80f7-2453d4ba3f3e.png)

However when running the following message appears, can anyone help me?
![image](https://user-images.githubusercontent.com/21975206/60349530-28cb4680-9998-11e9-9416-5c2

[2019-06-28 14:32] fr0 opened #4602 "Couldn't determine Mocha version"
### Current behavior:

[code]

This has been printing at the beginning of my test since the upgrade to 3.3.2. This did not happen with Cypress 3.3.1. I don't have `mocha` or `@types/mocha` in my `package.json` file's devDependencies; should I?

### Versions

Cypress 3.3.2

[2019-06-28 14:36] HungHau commented on #4591
Thanks for the quick response Jennifer.  I ended up pushing to the forked example with exceptions added to the index.ts, but it still fails when running ```npm run tsc```.

[2019-06-28 14:37] edoloughlin commented on #4557
I can't repro this with the `cypress-test-tiny` repo. It works. Something in my config is forcing cypress to use webpack on Linux.

My cypress/plugins/index.js file contains

[code]

On Windows it uses browserify and cypress-cucumber-preprocessor is called and handles `.feature` files. I see the `console.log` from above in the log. On Linux, it uses webpack (I don't know why) and looks like that f

[2019-06-28 14:38] bahmutov commented on #4602
hmm, that does seem weird, we don't see this message in any of our test repositories. Any details about the tests that might give us a clue?

[2019-06-28 14:40] dsesami commented on #3092
Any update on this? I really do prefer the option 1 provided by @morficus. It makes _much_ more sense.

[2019-06-28 14:45] JayeshRGujar commented on #3537
I am getting the below error while merging the mochawesome report.
**Command**
$ npx mochawesome-merge — reportDir mochawesome-report > mochawesome-report/output.json

**ERROR:** Failed to merge reports

TypeError: Cannot read property 'suites' of undefined
    at report (C:\Users\admin\Documents\ipapps-cypress\node_modules\mochawesome-merge\lib\index.js:78:66)
    at Array.map (<anonymous>)
    a

[2019-06-28 14:48] fr0 commented on #4602
I can reproduce it here:  https://github.com/fr0/cypress-slowdown

[2019-06-28 14:48] YOU54F commented on #3537
not an issue with cypress - raise it against the correct repo

https://github.com/Antontelesh/mochawesome-merge

also check that you actually have a mochawesome report in your directory `mochawesome-report` and that it is called mochawesome*.json

[2019-06-28 14:53] bahmutov commented on #4602
yup, I can see it

<img width="1128" alt="Screen Shot 2019-06-28 at 10 52 38 AM" src="https://user-images.githubusercontent.com/2212006/60351051-ea7f5880-9992-11e9-8a21-067be65c7f87.png">

[2019-06-28 14:57] bahmutov commented on #4602
The message goes away when I remove from `cypress.json` option "reporter: junit" or if I use any other built-in reporter

<img width="1138" alt="Screen Shot 2019-06-28 at 10 57 33 AM" src="https://user-images.githubusercontent.com/2212006/60351346-945ee500-9993-11e9-8ec5-25efd78315de.png">

[2019-06-28 15:01] bahmutov commented on #4602
in v3.3.2 we did upgrade mocha-junit-reporter from 1.18.0 to 1.23.0 for #4417 see https://docs.cypress.io/guides/references/changelog.html#3-3-2

[2019-06-28 15:03] bahmutov commented on #4602
looking at `mocha-junit-reporter` relevant code bundled with Cypress
[code]

[2019-06-28 15:07] bahmutov commented on #4602
printing the error, yeah it cannot load `mocha` like this!
[code]

The breaking commit that introduced this check https://github.com/michaelleeallen/mocha-junit-reporter/commit/b28d669995af194968dcbf5301ff681797b8a26e

I wish we could just pass the mocha version instead of this file system check

[2019-06-28 15:12] bahmutov commented on #4602
we will need to think how to solve this, probably will need to fork the junit reporter module ...

[2019-06-28 16:42] mthomas87 opened #4603 "Cannot type() into different Elements using slatejs"
### Current behavior:

When typing into two different textfields:
[code]

into the slatejs richtext editor, all of the text is saved in the first block.

DOM looks like this:

<img width="558" alt="Bildschirmfoto 2019-06-28 um 18 32 36" src="https://user-images.githubusercontent.com/6641079/60357570-41f1e880-99d4-11e9-92a9-ccb40d4f65b3.png">

The test run is also green as long as I don't make asse

[2019-06-28 16:55] jfaissolle opened #4604 "Test is 6x slower in 3.3.2 with cy:open"
**Current behavior:**

With `cypress open`, running a single spec:
Running in 3.3.1 takes 21 seconds.
Running in 3.3.2 takes 117 seconds.

Most CPU is consumed by the `hasBinary` function.

**Desired behavior:**
Perfomance at least as good as 3.3.1 with _cypress open_.

**Versions**
Cypress 3.3.1 on Ubuntu 18.04.2, Chrome 75.0.3770.100

[2019-06-28 17:08] hvuong-sigma commented on #4601
You might want to consider adding that `url` as a `baseUrl` in your Cypress config.

[2019-06-28 17:13] hvuong-sigma opened #4605 "Feature Request: Make retryOnStatusCodeFailure and retryOnNetworkFailure globally configurable"
### Current behavior:

The two params `retryOnStatusCodeFailure` and `retryOnNetworkFailure` are options passed in via `cy.request` and `cy.visit` - however, it would be great if these two settings are configurable globally as well as overridable per call.

### Desired behavior:

1. Users are able to to add `retryOnStatusCodeFailure` and `retryOnNetworkFailure` in the Cypress config file.

2. User

[2019-06-28 17:42] zsalzbank commented on #2938
I'm getting the same thing too. I increased the timeout as well with no luck. Here are my logs:

[error.txt](https://github.com/cypress-io/cypress/files/3340271/error.txt)

[2019-06-28 17:46] burtonrodman opened #4606 "cypress opens off screen"
### Current behavior:
my desktop configuration recently changed.
ran npm run cypress open
the cypress icon appeared in the taskbar, but the window was nowhere to be seen.
hit Alt+Space, M and moved the window back onto the desktop view.

### Desired behavior:
when opening the cypress window, check that it is within the currently defined desktop coordinates.

### Steps to reproduce: (app code and t

[2019-06-28 18:02] flotwig commented on #2938
Hmm, I was hoping 3.3.2 would fix this issue but doesn't look like it.

@lou @zsalzbank Could you share the spec that reproduces this behavior?

[2019-06-28 18:03] flotwig commented on #4604
Hey @jfaissolle, could you share the spec code that is taking longer in 3.3.2? We made performance improvements in 3.3.2, but it looks like you're hitting a new edge case caused by #4407.

[2019-06-28 18:42] bote795 opened #4607 "Cannot find module 'intl'"
### Current behavior:
im getting following error: `Cannot find module 'intl' from '/Users/nicolasbotello/Documents/workspace/code/rmc/node_modules/lighthouse/lighthouse-core/lib/i18n`
[code]

### Desired behavior:
No errors

### Steps to reproduce: (app code and test code)
install cypress
install lighthouse

[code]
repo:
https://github.com/bote795/cypress-test-tiny

### Versions
Lighthouse version

[2019-06-28 19:20] zsalzbank commented on #2938
This is only happening for me on CI (CircleCI). Interestingly, if I SSH into the instance and then run the test with the same command, the test does run to completion. I'll try to come up with an example repo.

[2019-06-28 19:38] saas2813 commented on #3122
I got the "Cypress failed to verify that your server is running." problem and solved it when I realised that the /etc/hosts file did not include a line:
127.0.0.1       localhost
Adding info here for Googlers, took me way too long to find it.

[2019-06-28 19:49] saas2813 commented on #1455
I got logs similar to this. The problem was that my

    /etc/hosts

file did not include a line:

    127.0.0.1 localhost

[2019-06-28 19:51] saas2813 commented on #680
I got logs similar to these. The problem was that my

    /etc/hosts

file did not include a line:

    127.0.0.1 localhost

[2019-06-28 19:52] saas2813 commented on #4246
I got logs similar to these. The problem was that my

    /etc/hosts

file did not include a line:

    127.0.0.1 localhost

[2019-06-28 21:06] bahmutov opened #4608 "Add and control Chrome Debugging Protocol"
- add the connection to Chrome Debugging Protocol by connecting via [chrome-remote-interface](https://github.com/cyrus-and/chrome-remote-interface) after launching the browser
- be able to run commands

### This will become the platform for
- enabling native events in Chrome #310
- collecting full logs https://github.com/flotwig/cypress-log-to-output
- collecting native code coverage https://githu

[2019-06-28 21:57] tnrich opened #4609 "Missing information about git branch in cypress dashboard runs for CodeFresh"
Much like similar issues, the cypress dashboard isn't getting the git info from the CI runs in CodeFresh:

![image](https://user-images.githubusercontent.com/2730609/60373427-fb40c600-99b4-11e9-805b-8608229cd203.png)

Help troubleshooting this would be appreciated! Thanks!

[2019-06-28 22:07] bote795 commented on #4607
Talked with lighthouse team and they recommended adding `intl` since they were dev requirements and I followed it n got here:

so I added `bufferutil`, `intl`, `utf-8-validate`
Then I got the following error
[code]
also not sure if this helps: https://github.com/GoogleChrome/lighthouse/issues/9306

[2019-06-28 22:46] papb commented on #4384
Sorry, my minimal example was too minimal, my mistake. I missed that `crossorigin="anonymous"` was crucial for the problem to happen. I also forgot to mention that the problem only occurs from `cypress run`, not `cypress open`. When I said that it happens with both Electron and Chrome, I meant `cypress run` and `cypress run --browser chrome` - sorry I wasn't clear.

## Full steps to reproduce

0.

[2019-06-29 02:33] papb commented on #4384
@flotwig - I forgot to ping you. Also thank you very much for the fast response above and for your time. Sorry I took so long to carry on.

[2019-06-29 07:45] Bigdragon13th commented on #3909
@jennifer-shehane Glad to here that, thanks. Keep up a good work!

[2019-06-29 07:48] Bigdragon13th commented on #4495
The spec is indeed very confusing 🤣

[2019-06-29 14:16] peterfiorito commented on #2427
@blackorion yes, I did something similar. The only "issue" would be running cypress on CI, as you would need to run chrome headless, something that cypress doesn't support yet.

In case anyone reaches this looking for a way to do this:
On `plugins/index.js`
[code]
Then of course in your spec you would call at some point: `cy.task('doSomething').then(() => {}`

Alternatives are needed regarding run

[2019-06-29 15:38] plehnen opened #4611 "Feature request: Button to disable Hot-Reload temporarly"
### Current behavior:

In dev mode, when I edit my code and unfocus the IDE the file gets auto saved and the cypress test runs again automatically. That is overall a great feature.
But a frequent usecase is to copy stuff from the current result into the IDE and while doing that, the page reloads and one has to wait until it finishs, scroll to the desired position again, copy the line, insert it in

[2019-06-29 16:42] learningandworking commented on #4118
I think this issue could be solved. So closed it.

[2019-06-29 16:42] #4118 closed

[2019-06-29 18:37] ssamaji commented on #4590
@jennifer-shehane Thank you for a quick reply. any ETA when you are releasing v4.0 ?

[2019-06-29 18:56] bradtaniguchi opened #4612 "Getting Uncaught Error: Your OS "browser" is currently not supported by node-cachedir."
### Current behavior:

I'm running Cypress for my Angular project and suddenly the last few days cypress started throwing the following error both locally and in my CI environment.

[code]
### Desired behavior:

Not to explode, or at least give me more feedback as to what is actually wrong :'(

### Steps to reproduce: (app code and test code)

Here is my app repo: https://github.com/bradtaniguchi/

[2019-06-29 20:44] justinpincar opened #4613 ""Cypress verification timed out" occurs sporadically in CI"
This occurs only in our gitlab CI environment, failing about half the time. I've compared the successful and unsuccessful log output but it looks identical up until the line where it fails. I'm not sure how to debug any further from here. I have cypress caching configured for these examples but it happens without anything cached also.

Verification failure output below:
[code]

Verification succes

[2019-06-29 23:02] kylemh opened #4614 "Create ability to mock server requests"
### Current behavior:
As described [here](https://github.com/cypress-io/cypress/issues/588), Cypress doesn't have the ability to get involved with the server process as it stands - it's just about the client. In a bid to ensure that my test environment is as identical as possible to my prod environment, I find the suggestion of rendering on the client just for the sake of tests to be less than ide

[2019-06-30 02:39] kkliuiev opened #4615 "Cypress fails to run on Jenkins 'FATAL:v8_initializer.cc(247)] Couldn't mmap v8 natives data file, status code is 1'"
### Current behavior:
I've installed Cypress on my Jenkins on AWS EC2. Observed no issues during installation. Also I've installed all the dependencies by:
`sudo apt-get install xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2`
and chromium and chrome. When I do:
`npx cypress run --browser chrome` or `npx cypress run --browser chromium`
I receive the next:
[code]
### Desired

[2019-06-30 05:51] Bkucera commented on #1866
@marcenacp please enable debug logs as mentioned above when posting error logs

[2019-06-30 06:34] danatemple commented on #4582
Having done more testing now, I can confirm that the tests are absolutely rock solid if I prevent the LocalStorage.clear from having an effect, whereas the unreliability exists if I use the official workaround of trying to restore localStorage in a beforeEach before each test.

It seems there really needs to be a *reliable* way to keep DOM-critical local storage from getting deleted at all, even t

[2019-06-30 11:10] HackPoint commented on #1401
@datdoan how it is done in MAC, still unable to install cypress?

[2019-06-30 11:40] datdoan commented on #1401
Hi @HackPoint,

For Mac follow @IonicOnCouch steps below:

[2019-06-30 15:27] kkliuiev commented on #4569
Actually I have no problems running Cypress on Catalina

[2019-06-30 18:51] mohamedyoussefmaaref opened #4616 "get and click an element from a span element with cypress"
hello

I need to get and click on an element from a drop down list which is a span with cypress but i can,t it says that the element is hidden.
Could you plesase help me.

[2019-06-30 20:13] mohamedyoussefmaaref opened #4617 "Drop down list does not appears"
Hello,

I have a dropdonw list with `<span>` and i can't select any item on it.
I tried this code but it doesn't work.

[code]

 also i tried this one by selecting the head list but also doesn't work.

[code]

[2019-07-01 02:15] medric commented on #4247
Hi all,

I'm also experiencing the same issue when running a specific test suite. All it does is :

[code]

The issue is when the link is clicked the page it takes you to starts loading and ends up freezing (see screenshot) -  the Cypress process is not responsding anymore. I had the same issue with both electron and chrome (headless and headed)

<img width="1282" alt="Screen Shot 2019-07-01 at 12

[2019-07-01 03:45] smart625 commented on #4399
@jennifer I know there is a way to turn this error off by listening to the 'uncaught:exception' event for application code. But when I use it in my tests or include it in support/index.js. It does not work. Can you help me take a look at this issue.
[code]
![image](https://user-images.githubusercontent.com/24734147/60409266-7690ba80-9bf5-11e9-9d59-8b0334c58313.png)

[2019-07-01 03:46] jennifer-shehane commented on #4617
In order to help with this - we'd have to see the exact HTML with its CSS that you are testing against.

Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Als

[2019-07-01 03:46] #4617 closed

[2019-07-01 03:47] jennifer-shehane commented on #4616
Closing as duplicate of https://github.com/cypress-io/cypress/issues/4617

[2019-07-01 03:47] #4616 closed

[2019-07-01 03:51] jennifer-shehane commented on #4582
There is an issue open to whitelist localStorage from being cleared in between each test here: https://github.com/cypress-io/cypress/issues/461

Maybe this workaround will help your situation https://github.com/cypress-io/cypress/issues/461#issuecomment-392070888

Also, it's on our larger roadmap to make handling these things across tests clearer in this issue https://github.com/cypress-io/cypress

[2019-07-01 03:53] jennifer-shehane commented on #461
It's on our roadmap to make handling localStorage and other things that are automatically cleared between tests more customizable, including turning off clearing altogether. You can follow that larger issue here: https://github.com/cypress-io/cypress/issues/686

[2019-07-01 04:15] jennifer-shehane commented on #4615
What version of Chrome/Chromium do you have installed? How did you install the Chrome browsers?

[2019-07-01 04:27] jennifer-shehane commented on #3701
@carrieyummy Are your tests running on Windows within Jenkins?

[2019-07-01 04:44] jennifer-shehane commented on #4612
This error is happening due to the `import 'cypress';` at the top of the `login.spec` file. If I remove this, the test continues normally. Any reason you are importing this there?

### To recreate:

Run the following with `cypress open` or `cypress run`

[code]

<img width="620" alt="Screen Shot 2019-07-01 at 11 13 32 AM" src="https://user-images.githubusercontent.com/1271364/60411134-62e35500-9bf

[2019-07-01 05:01] jennifer-shehane commented on #4611
Thanks for opening this feature request.

You can set currently `watchForFileChanges: false` from within your Cypress configuration to turn off watching spec files altogether. https://on.cypress.io/configuration#Global

You may also want to consider changing your IDE settings so that it does not 'auto-save' on change or so that there is a delay on 'auto-save' so that files are not saved until you

[2019-07-01 05:09] jennifer-shehane commented on #4399
@smart625 	Please see this issue for not being able to catch uncaught errors thrown from 3rd party applications https://github.com/cypress-io/cypress/issues/987

[2019-07-01 05:09] #4399 closed

[2019-07-01 05:11] jennifer-shehane commented on #4590
No ETA. There is work being done to the upgrade everyday. Make sure to watch the issue for any updates. Closing in favor of https://github.com/cypress-io/cypress/issues/4270

[2019-07-01 05:11] #4590 closed

[2019-07-01 05:16] jennifer-shehane commented on #4607
Spec files within Cypress are run within the context of the browser. As stated by the lighthouse team, this dep is meant to be run in the Node context.

You can follow the instructions given here on how to utilize Node code in your Cypress spec files: https://on.cypress.io/using-cypress-faq#How-do-I-require-or-import-node-modules-in-Cypress

[2019-07-01 05:16] #4607 closed

[2019-07-01 05:25] jennifer-shehane commented on #4606
Could you describe exactly what changed here to make Cypress behave in this way?

My guess is we had your placement/sizing configuration saved before in your app's App Data and after changing, it's still trying to open up as before. We think opening from the previous sizing and placement is better than trying to recalculate each time and wipe any way you had it set up on your desktop before.

Can

[2019-07-01 05:48] joydeep100 commented on #4411
Hello @flotwig @jennifer-shehane

I just wanted to verify that the issue is closed. Hence during my re-testing with version 3.3.2 i can see the same issue is occurring again and i confirm that this occurs only in electron.

One of the calls that (XHR) that kept looping was `mark_as/` . I am attaching a HAR dump file for the network requests during the test. I hope that would be useful.

[cypress.h

[2019-07-01 06:03] Mathyn commented on #1096
Any updates on this?

[2019-07-01 06:13] jennifer-shehane commented on #4603
Yeah, slatejs is definitely doing some tricks to get typing to work in the main editor, but show up in the correct DOM line within it. The code they ship is so obfuscated it's impossible to track down from this live site.

The code is open source however here: https://github.com/ianstormtaylor/slate

[2019-07-01 06:18] jennifer-shehane commented on #4601
This message means there is an uncaught exception being thrown from within your application. Open DevTools and click the yellow message to see the full stack trace where this is originating from. Closing as this is not a bug or feature request.

[2019-07-01 06:18] #4601 closed

[2019-07-01 06:43] bradtaniguchi commented on #4612
I added `import 'cypress'` to help fix errors I was getting from VSCode saying `cy` is not known or cypress types affecting my normal karma/jasmine `.spec` files. I assume in my haste of trying different things to fix the linting issues I left the import there and totally forgot about it and never thought about the repercussions of it!

**So yes just removing `import 'cypress'` did the trick!!!
😄

[2019-07-01 06:43] #4612 closed

[2019-07-01 06:55] jfaissolle commented on #4604
I have found that the slowdown happens with `@cypress/code-coverage` on. If I disable the plugin, tests perform as fast as in 3.3.1.

Here is an example of test.

[code]

[2019-07-01 07:10] jennifer-shehane commented on #4602
There's an issue open for this here. https://github.com/michaelleeallen/mocha-junit-reporter/issues/87

[2019-07-01 07:14] kkliuiev commented on #4615
@jennifer-shehane Hi! I've got Google Chrome 75.0.3770.100 running on Ubuntu 18.04.2 LTS

[2019-07-01 07:33] jennifer-shehane commented on #4609
We determine CI provider and what env vars the CI provider provides here, including how we get any git information: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/util/ci_provider.js

Here are CodeFresh's exposed environment variables - they need to be added to the ci_provider.js file just like the others and also have tests written within https://github.com/cypress-io/cypr

[2019-07-01 07:40] priyankaghosh1989 opened #4623 "Unable to type in an element having `display: none` in version 3.3.2"
### Description:
Unable to type in an element having property `display: none` in version 3.3.2

### Note:
1. The same test was working perfectly with the version 3.3.1
2. The have tried this with `{force: true}` but its not able to save the value.
`cy.get('.mapping-name-editor > input').type('{selectall}ItemName{enter}', {force: true});`

![image](https://user-images.githubusercontent.com/45175962

[2019-07-01 07:47] jennifer-shehane commented on #4613
This looks to be a duplicate of https://github.com/cypress-io/cypress/issues/3116 - we **really** need a reproducible error and the exact details of this failure in order to address it though.

[2019-07-01 07:47] #4613 closed

[2019-07-01 08:09] lou commented on #2938
@flotwig

[code]

FYI I have the exact same kind of tests (same code) for two other types of users and these 2 tests work as expected.

[2019-07-01 08:16] mgol commented on #1096
Right, there haven't been any new commits on the [issue-1096-firefox-support](https://github.com/cypress-io/cypress/tree/issue-1096-firefox-support) branch since October. It'd be good to hear about progress updates from time to time.

My company may be evaluating a new e2e solution soon and having some knowledge about Firefox support progress would help.

[2019-07-01 08:25] bahrb commented on #2128
@AnderssonChristian finally we wrote our tests with cy.visit but I came across this issue when we started with cypress and did some research how to use it.

[2019-07-01 08:36] jennifer-shehane opened #4624 "Failure during cypress verify step --smoke-test / throwing at makeError"
### Current behavior:

We have a few issues floating around about errors during `cypress verify` that we have not been able to reproduce and have not been fixed as of Cypress v3.3.2.

This issue is the epic issue to track them all in one place. All the other issues have been closed and direct users to comment here.

- https://github.com/cypress-io/cypress/issues/4613
- https://github.com/cypress-i

[2019-07-01 08:42] jennifer-shehane opened #4625 "Failure during cypress verify --smoke-test: code 3221225781 in Windows"
**NOTE** If the code after running Cypress with [`DEBUG:cypress*`](https://on.cypress.io/debugging#Print-DEBUG-logs) is NOT 3221225781, but you are seeing a similar error - see this issue instead: https://github.com/cypress-io/cypress/issues/4624

### Current behavior:

Running `cypress open`, `cypress run` or `cypress verify` results in the error below. Specifically when running with [`DEBUG:cypr

[2019-07-01 08:45] jennifer-shehane commented on #1866
We will be closing this issue in favor of https://github.com/cypress-io/cypress/issues/4624 in order to direct better focus on the overall problem that is being described in several issues - please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:45] #1866 closed

[2019-07-01 08:46] jennifer-shehane commented on #4258
We will be closing this issue in favor of https://github.com/cypress-io/cypress/issues/4624 in order to direct better focus on the overall problem that is being described in several issues - please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:46] #4258 closed

[2019-07-01 08:46] jennifer-shehane commented on #1556
We will be closing this issue in favor of https://github.com/cypress-io/cypress/issues/4624 in order to direct better focus on the overall problem that is being described in several issues - please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:46] #1556 closed

[2019-07-01 08:47] jennifer-shehane commented on #4613
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:48] jennifer-shehane commented on #3254
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:49] jennifer-shehane commented on #3176
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:49] jennifer-shehane commented on #3116
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:50] jennifer-shehane commented on #2797
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:52] jennifer-shehane commented on #3958
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4625 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:53] jennifer-shehane commented on #2812
Same error code here: 3221225781 https://github.com/cypress-io/cypress/issues/4625

[2019-07-01 08:57] jennifer-shehane commented on #4625
If the code after running Cypress with `DEBUG:cypress*` is NOT 3221225781, but you are seeing a similar error - see this issue instead: https://github.com/cypress-io/cypress/issues/4624

[2019-07-01 08:59] jennifer-shehane commented on #4442
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 08:59] #4442 closed

[2019-07-01 09:00] jennifer-shehane commented on #3901
In order to direct better focus on the overall problem that is being described in several issues - we opened one issue to track this behavior https://github.com/cypress-io/cypress/issues/4624 Please add any information about how we can reproduce this bug there. 🙏

[2019-07-01 09:00] #3901 closed

[2019-07-01 09:09] jennifer-shehane commented on #4411
@joydeep100 Yes, this issue was intended to be completely fixed in version 3.3.2.

@flotwig can you take a look at the HAR file?

[2019-07-01 09:10] jennifer-shehane commented on #3689
@SUSANO-O Check out our [community chat](https://on.cypress.io/chat), it can be helpful for debugging or answering questions on how to use Cypress.

[2019-07-01 09:16] jennifer-shehane commented on #4623
When we perform `.type()` in Cypress, we click on the element as a user would. Any element with `display: none` is not clickable by a user, so this typing should fail.

However, the input is able to be focused in other ways (aka - tabbing to the element).

We fixed the behavior in version 3.3.2 so that you can now call `.focus()` on elements that were previously not clickable in order to type into

[2019-07-01 09:18] jennifer-shehane commented on #4612
Check out our TypeScript doc for some linting help https://on.cypress.io/typescript-support

You can also add `/// <reference types="cypress" />` to the top of your file.

[2019-07-01 10:21] bellsenawat commented on #518
I try to using this script and Cypress not stop when fist test failed :(
But It skipped and continue test another spec

[2019-07-01 13:04] bahmutov commented on #4591
what happens when you use `// @ts-ignore`?

[2019-07-01 13:11] yuanyuanlimaggie opened #4626 "Cypress tests fail abut Gitlab CI Exit successfully"
### Current behavior:

Our tests failed but in Gitlab CI, it doesn't exit with correct error code. It still says `Job succeeded`

![image](https://user-images.githubusercontent.com/44100783/60438903-b8af0180-9bdf-11e9-870e-a9d8e742ab3e.png)

### Desired behavior:

The job should failed with `ERROR: Job failed: `

### Versions

Operating System: Gitlab CI
Cypress Version: 3.3.2
Browser Version: Ele

[2019-07-01 13:18] burtonrodman commented on #4606
Yes, after repositioning the window once, it was saved and everything was fine.  My point is that opening completely outside the bounds of the _current_ desktop dimensions is a poor user experience.

i have a Surface Book 2 with 2 external 1920p monitors.  I arrange my Desktop such that the Surface is centered below the 2 external monitors which are side-by-side.  I don't recall exactly what happe

[2019-07-01 13:58] bahmutov commented on #4604
@jfaissolle yes, it can quite possibly be due to `code-coverage` plugin, because it combines the code coverage after each test with previous results - which includes loading a JSON file, merging it, saving updated JSON file. These are slow file operations and can be super slow for large applications where the coverage object is large. I wonder if `hasBinary` gets triggered when we use `cy.task` to

[2019-07-01 13:59] #4604 closed

[2019-07-01 13:59] bahmutov commented on #4604
Issue moved to [cypress-io/code-coverage #26](https://github.com/cypress-io/code-coverage/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 14:00] flotwig commented on #4604
hasBinary recurses through all the keys on the object that's sent through the websocket, so one potential optimization would be to serialize the object (ie, with JSON.stringify) before sending it through the websocket if you already know it's just a plain JavaScript object.

[2019-07-01 14:16] zsalzbank commented on #2938
So for me, it seems that this was an issue with loading resources on the page. I am testing a react application, and the first request to the page will compile the JS bundle. The first request was always taking much longer than the initial timeout since it is a large application. Subsequent attempts succeed (on the same machine) because the initial request already started the build process.

It se

[2019-07-01 14:24] brian-mann commented on #4288
This is likely not coming from electron debug logs - it's coming from the electron upgrade we did starting in `3.3.0`.

[2019-07-01 14:25] brian-mann commented on #4288
We filter out a lot of garbage lines from electron, and likely need to add more ignored lines from the output.

/cc @Bkucera 	and @jennifer-shehane 	there is code in the CLI that ignores garbage output.

[2019-07-01 14:45] skjnldsv opened #4627 "Erroneous parallel flag on a run that was completed over 24 hours ago error."
Ref https://twitter.com/skjnldsv/status/1145223216316715008

### Current behavior:

![Capture d’écran_2019-07-01_16-41-32](https://user-images.githubusercontent.com/14975046/60445240-1ca4ea80-9c1f-11e9-90cc-2d41b55d819e.png)
https://cloud.drone.io/nextcloud/viewer/231/2/5

Pull request: https://github.com/nextcloud/viewer/pull/156

After restart, it stared and completed properly.

### Desired beha

[2019-07-01 15:09] mohamedyoussefmaaref commented on #2170
can anyone give us the code?

[2019-07-01 16:51] aviaweinstein commented on #4383
We seem to be having a similar issue. A few weeks ago we had a feature branch unexpectedly start failing some tests. All the test failures were happening immediately after `cy.visit('/a_specific_url')` of one specific url. The failures seem to have the same behavior that nitzel describes above. Screenshot attached. Basically the test thinks it successfully visited a url but the page itself is blan

[2019-07-01 17:42] jacobmelcher commented on #1443
Can this get worked on this again? I don't believe this has been fixed. Thanks!

[2019-07-01 19:17] toannguyen83 commented on #1477
I'm having the same issue. In the afterEach i need to perform cleanup after each test, undoing certain UI actions, but if the test failed, any action in afterEach doesn't work properly.

I have to do a weird workaround for now, having my clean up code in `beforeEach`, but, it won't perform clean up on the last test, so I need to also add a dummy test to the very end.

[2019-07-01 19:20] toannguyen83 commented on #2831
I'm having the same issue. In the afterEach i need to perform cleanup after each test, undoing certain UI actions, but if the test failed, any action in afterEach doesn't work properly.

I have to do a weird workaround for now, having my clean up code in beforeEach, but, it won't perform clean up on the last test, so I need to also add a dummy test to the very end.

[2019-07-01 19:46] danatemple commented on #4582
Thanks - I look forward to #686 being implemented. This is exactly what is needed.

For info, the workaround https://github.com/cypress-io/cypress/issues/461#issuecomment-392070888 (or my similar one, on the comment right below that one!) is what is not working 100%.

As I don't use localStorage for anything that I don't want to persist, the following does the trick reliably:
[code]

[2019-07-01 19:46] #4582 closed

[2019-07-01 20:37] flotwig commented on #4384
Nice, I've gotten it to reproduce in Electron 61, not Chrome 75, though. What version of Chrome are you testing on?

This error appears in console:
![image](https://user-images.githubusercontent.com/1151760/60464173-cb472c00-9c1b-11e9-898c-98151dacdea9.png)

It looks like `access-control-allow-origin` is not being received for one of the CDN domains for some reason.

[2019-07-01 20:49] benmonro commented on #2812
We switched to testcafe.

[2019-07-01 21:12] JayeshRGujar opened #4629 "TypeError: cy.get(...).text is not a function"
Cypress was working fine with the below code but currently throwing error  cy.get(...).text is not a function

[code]
------
[code]

[2019-07-01 21:14] JayeshRGujar commented on #4629
Above code was working before, but currently throwing error "cy.get(...).text is not a function"

[2019-07-01 22:22] YOU54F commented on #4602
FWIW, if it can’t read the version, it prints the warning but reverts back to pre mocha6 behaviour, so the reporter should behave as normal with Cypress as it ships with quite an old version of mocha iirc, so bar the warning, there should be no difference in functionality.

I’ll have a think to a solution for the use case in issue 87 on mocha junit reporter but it’s a difficult one, for users of m

[2019-07-02 01:19] ajainarayanan commented on #3742
Just an update in case anyone is still seeing this issue. I had a similar issue happen even after upgrading to 3.3.2 version of Cypress. The issue I had looks something like this,

[code]

The space before `=` in `var2` was causing the same issue. This is not an issue in cypress per se but seems to have been a decision by `minimist` node module. Just an FYI if someone saw this and was wondering wh

[2019-07-02 04:37] jennifer-shehane commented on #4629
`.text()` is not a Cypress command. So the error you are getting is accurate.

Perhaps you had a custom command written for `.text()` in one of the files in `cypress/support/*` that had defined a `text` command? Can you share the code from the files within `cypress/support/*`?

[2019-07-02 05:10] medric commented on #1892
Hi @brian-mann I'm experiencing the same issue with cypress 3.3.2. I have the following link element :

[code]

Looks like it doesn't get clicked when running tests in headless mode. Chrome + electron headed work perfectly though. I run electron and created a `BrowserView` of the page where this element lives - was able to manipulate the DOM and trigger the event without any problem.

Do you have

[2019-07-02 05:27] jennifer-shehane commented on #1892
Hey @medric, please [create a new issue](https://github.com/cypress-io/cypress/issues/new) detailing exactly how to reproduce the issue and we can look at it. Thanks!

[2019-07-02 05:31] jennifer-shehane commented on #4626
Are you using a custom reporter with Cypress? https://on.cypress.io/reporters If so, can you provide the details around your reporter setup?

Does this always happen on every run?

[2019-07-02 05:39] jennifer-shehane commented on #4589
Oh, that's unfortunate. Isolating a problem in CI alone is the hardest to track down.

If possible, I would try to review the video and screenshots to see if there is anything strange going on there.

Can you also try running in CI with the `--browser chrome`? That would isolate it being an Electron problem in CI.

You can also log any console logs to the standard out (while running chrome) using

[2019-07-02 05:54] jennifer-shehane commented on #2700
[code]

The above code can just be written as

[code]

@FilepCsaba Your issues with the waits is the same as @gituser3000, the routes should be defined BEFORE the calls to the routes happen.

# Workaround

You should **NEVER** have a `cy.wait()` directly after a `cy.route()`. This will **NEVER** work. The wait will **ALWAYS** time out. Think of `cy.route()` as essentially just setting up a LISTENE

[2019-07-02 06:29] jennifer-shehane commented on #4373
@viral222 Are you using version 3.3.2 of Cypress? Some changes were made in there.

@covaHL Can you try using version 3.3.2 of Cypress? Does the issue still persist?

Id the issue still persists, we will need a way to reproduce this locally on our machine, if you can provide a way for us to reproduce.

[2019-07-02 07:31] alexeychikk opened #4630 "Your framework is f*cking bullsh*t"
It is impossible to configure your f\*cking moronic framework to work with TypeScript and Webpack when project is bigger than hello f\*cking world example you have. I spent all day tweaking different options and had no success. I'm f\*cking done. F\*ck you and your stupid framework.