[2022-10-11 19:03] brentsharon commented on #22086
@Dan-appreciategroup @spiltcoffee I did make a new issue for this yesterday and got an email that a fix is out in the new release today 10.10.0

[2022-10-11 19:09] spiltcoffee commented on #22086
@brentsharon the main issue you'll be looking for is #23897, and the fix is in #24155, though I haven't checked if the changes in that PR have made it into a release yet.

[2022-10-11 19:21] BlueWinds commented on #7306
That's fair! Here's the status update:

In the issue-7306 branch, there is a new `Cypress.Commands_addQuery()` function - the underscore meaning the API isn't completely finalized yet. I've rewritten `.get()`, `.contains()` and `.shadow()` as queries, as well as various other small ones. All this has been reviewed, and is sitting in issue-7306 as a feature branch.

https://github.com/cypress-io/cy

[2022-10-11 19:22] brentsharon commented on #22086
@spiltcoffee thanks

[2022-10-11 19:38] blakemulnix commented on #2610
I ran across the same or a similar issue. I think what was happening was that there were existing processes that had a lock on the Cypress executable file. When I tried to run Cypress it failed saying it wasn't installed. After killing all processes using the executable, things worked as expected.

[2022-10-11 19:47] BlueWinds commented on #7306
A more useful example:

[code]

This test fails in `develop`, but passes in https://github.com/cypress-io/cypress/pull/24203.

[2022-10-11 20:11] AtofStryker commented on #24073
@yanyan666666 this looks to pop up a modal and I do not see a redirect to stripe. Is this still correct?

[2022-10-11 20:15] #23723 closed

[2022-10-11 20:16] AtofStryker commented on #24178
I was able to reproduce with the reproduction repo and node v16

[2022-10-11 20:18] AtofStryker commented on #24179
I was able to reproduce with the reproduction repo with node v16 in chrome 106

[2022-10-11 20:26] the-dietcoke-ofevil opened #24212 "CT GA Content: Internal & Ambassador FAQ"
### What would you like?

Help answer questions from internal teams about the CT GA in this resource: https://docs.google.com/document/d/1gm7pC3yOY_pfHiI4y3ZyuwfYQ5qbbqmibyt4YP-0DiY/edit#

### Why is this needed?

_No response_

### Other

_No response_

[2022-10-11 20:27] the-dietcoke-ofevil opened #24213 "CT GA Content: What Cypress Component Testing means for developers"
### What would you like?

Blog post highlighting the benefits of Cypress Component Testing for developers specifically.

[2022-10-11 20:38] AtofStryker commented on #23937
@io-sar I am starting to take a look into this. I threw together a reproduction repo [here](https://github.com/AtofStryker/cypress-issue-23937). Can you help me fill in the blanks so I can reproduce this on my end? Also curious to see if you continue to have this issue with cypress 10.10.0

[2022-10-11 20:58] warrensplayer commented on #24200
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-11 21:11] troygibb commented on #18970
thanks @marktnoonan! great to see fixes coming in so quick

I don't see this fix mentioned in the release notes here: https://docs.cypress.io/guides/references/changelog#10-10-0. Any chance you can comment?

[2022-10-11 21:19] warrensplayer commented on #24119
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-11 21:20] marktnoonan commented on #18970
I'm not sure we typically list a dependency version bump in the changelog, @astone123 do you think it's worth adding this one, since it lets us close this issue?

The 10.10.0 was cut this morning and includes the latest code from develop, so it will include that version bump to 2.1.0 for mocha-junit-reporter.

[2022-10-11 21:34] AtofStryker commented on #24126
@LegendShola would you also be able to provide a reproduction repository? The snippet provided is not enough to reproduce this issue. Can you help me fill in the blanks with this [reproduction](https://github.com/AtofStryker/cypress-issue-24126)?

[2022-10-11 21:49] astone123 commented on #18970
@marktnoonan I made a PR to add this dependency update to the changelog https://github.com/cypress-io/cypress-documentation/pull/4776

@troygibb can you try out v10.10.0 and verify that the update fixed this issue so that we can close this out? Thanks!

[2022-10-11 22:12] troygibb commented on #18970
will do! thank you all

[2022-10-11 22:58] Incarnation commented on #18970
@marktnoonan @astone123 looked like the issue is still there for the latest cypress version
<img width="971" alt="image" src="https://user-images.githubusercontent.com/5199303/195213422-19d3403a-df6a-4667-b565-8565e065e7d8.png">

[2022-10-11 23:02] gmanriqueUy commented on #18970
It seems the `server` package is [still using](https://github.com/cypress-io/cypress/blob/653a2266f5890946640b1a1762b4eefe27580cef/packages/server/package.json#L93) the old version of `mocha-junit-reporter` in current `develop` (at the time of writing this comment).

[2022-10-11 23:21] Incarnation commented on #18970
@astone123 @marktnoonan
can we have it ready for the next release? is it in 2 week? or can we have a hot-fix for this one?

<img width="960" alt="image" src="https://user-images.githubusercontent.com/5199303/195215718-3bde047a-26e9-49da-93be-6e9ed3d6b6fa.png">

[2022-10-12 03:28] Turbotailz commented on #18970
My apologies... I totally missed it in the server package :( PR has been raised to fix it.

[2022-10-12 04:39] engrrio07 commented on #6385
In version 10.8.0 this is still happening, I upgraded to version 10.10.0 and it was fixed! 🚀

[2022-10-12 06:21] albinohrn commented on #18970
We would really appreciate a patch-release containing this fix since it breaks a large portion of our CI jobs.  🙏

[2022-10-12 07:01] AlexandreGaubert commented on #24093
I have the same isssue in my github action, I wrote a discussion #24204.

My config is more simpler than @paulgrant :
[code]
So maybe it's unrelated.

[2022-10-12 07:29] kenobi-io opened #24219 "Failure during cypress verify step Cypress --no-sandbox --smoke-test"
### Current behavior

npx cypress verify

### Desired behavior

_No response_

### Test code to reproduce

npm create vite@latest my-awesome-app -- --template react
cd my-awesome-app
npm install
npm install cypress -D
npx cypress open

### Cypress Version

10.10.0

### Node version

v16.14.2

### Operating System

wsl: linux-x64 (Ubuntu - 20.04)

### Debug Logs

[code]

### Other
[code]

[2022-10-12 07:36] vish-pandey opened #24220 "cypress: RangeError: Maximum call stack size exceeded"
### Current behavior

We are getting maximum call stack size exceeded error while running cypress cases from the terminal on my local using docker image.
![Uploading Screenshot 2022-10-12 at 12.56.53 PM.png…]()

### Desired behavior

_No response_

### Test code to reproduce

N/A

### Cypress Version

6.9.1

### Node version

v17.4.0

### Operating System

macOS 12.6

### Debug Logs

_No response_

[2022-10-12 07:43] PawelRuszlewicz commented on #23391
@henricook I agree that we shouldn't spam this ticket. However I cannot agree that Chrome 107 will solve the issue. It gonna fix it partly. On beta version we can still huge memory usage of Cypress and in case of long E2E scenarios the overall execution starting to work slower. Also you cannot guarantee that any of next Chromium version will not cause this issue again.

In my opinion, we should no

[2022-10-12 07:44] kenobi-io commented on #18183
same issue
[code]

[2022-10-12 07:59] santanakrishnan opened #24221 "i cant able to preserve the cookies and session storage as preserve cookies are deprecated. Any idea how to achieve it without cy.session."
### What would you like?

i cant able to preserve the cookies and session storage as preserve cookies are deprecated. Any idea how to achieve it without cy.session.

### Why is this needed?

_No response_

### Other

_No response_

[2022-10-12 08:09] audriusnavickasDB commented on #23897
The issue is still happening. Using Firefox v105 and Cypress v10.10.0. Now what happens is that using cypress open the page gets loaded - but it is blank. It does not able to load specs at all. I need to add manually in the url "/specs/" and reload the page, then the specs are loaded properly.

However, when running in headless mode, I get:
Timed out waiting for the browser to connect. Retrying...

[2022-10-12 08:26] Narretz commented on #24220
You should update to the latest version, Cypress 10.10 and see if the error persists.

[2022-10-12 08:33] jpatil14 commented on #23897
@mschile Still we are unable to connect to firefox 105

[2022-10-12 08:41] joseph-luketelo opened #24222 "Cypress not loading test files."
### Current behavior

When I try to run cypress using `npx cypress open` I get the attached screen which does not load the tests but keeps on spinning forever.
![Screenshot from 2022-10-12 11-35-54](https://user-images.githubusercontent.com/15190671/195293721-71f75523-3049-4788-886a-cbcd51e073f9.png)
What might be the issue?

### Debug logs

_No response_

### Cypress Version

10.3.1

### Node ver

[2022-10-12 08:44] audriusnavickasDB commented on #24195
@nagash77 Still reproducible with v10.10.0. I have added what I am seeing with cypress open on https://github.com/cypress-io/cypress/issues/23897 it's a step forward, but the problem still remains :(

[2022-10-12 09:07] FilipKelemen commented on #20420
I have the same issue. Happens usually in bitbucket pipelines and browserstack runs, never encountered using "cypress open", basically only cypress run. Also, 7.7.0 version of cypress makes the timeout go away, 9.4.0 is the version where we cy.writeFile times out.

[2022-10-12 09:17] FilipKelemen commented on #20420
I also noticed this started happening after using fs-extra in cypress/plugins/index.ts file

[2022-10-12 09:31] IlCallo commented on #22087
This works for me in Cypress 10.10

[code]

Has this been definitely fixed?

[2022-10-12 10:18] JGarnettMtab opened #24224 "Module not found: Error: Can't resolve '@cypress/xpath'"
### Current behavior

Followed instructions for installing `@cypress/xpath` included `require('@cypress/xpath')` in support file. Encountered error running tests in Electron (but browser isnt really relevent):

[code]

### Desired behavior

Update [package.json](https://github.com/cypress-io/cypress/blob/develop/npm/xpath/package.json) in @cypress/xpath to export correctly

### Test code to reprod

[2022-10-12 10:20] audriusnavickasDB commented on #23308
Might be related to https://github.com/cypress-io/cypress/issues/21110 Also there are many more issues registered regarding Cypress hanging in CI.

[2022-10-12 10:27] FilipKelemen commented on #20420
I think the issue is actually that cy.writeFile looks like it's timing out if the file does not exist, this did not happen before

[2022-10-12 10:42] NikitaSheff commented on #23648
Hi!
I have reproduced this issue on Cypress 10.10
HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
node 18.10
This issue is observed when I'm trying to visit my site

[2022-10-12 10:42] ganeshac123 commented on #22670
Hi Bell,

I tested this issue with Cypress 10.0.0 new version, still this issue is
not fixed check attached screenshot for your reference.

Please look into this asap, We are waiting for this fix for 6 months but
still no proper update from the Cypress team even after many escalations.
Let us know if you are not able to fix from your end?

On Tue, Oct 11, 2022 at 8:43 PM Ganesh AC ***@***.***> wro

[2022-10-12 12:04] aleixsuau commented on #23192
I found [https://github.com/bahmutov/cypress-wait-if-happens](https://github.com/bahmutov/cypress-wait-if-happens ) really helpful to achieve the desired functionality, among others (conditional requests).

[code]

[2022-10-12 12:14] warrensplayer commented on #24164
Reproduction following examples above is here: https://github.com/warrensplayer/cypress-test-tiny/pull/1

[2022-10-12 12:33] warrensplayer commented on #24164
@gofr Thanks for reporting this.  The functionality definitely does not align with the documentation.  We will take a closer look at this.

[2022-10-12 12:52] suchali93 commented on #18164
I was getting the same error. Adding this to my `babel.config.js` file fixed my issue.
[code]

As of cypress 10.0.0, you also need to add your plugin to the `setupNodeEvents` function in `cypress.config.js`.
[code]

[2022-10-12 13:01] warrensplayer commented on #24093
[Comment](https://github.com/cypress-io/cypress/issues/14423#issuecomment-1228576014) on bottom of https://github.com/cypress-io/cypress/issues/14423 seems related to this.  It shows the same stack trace as above.

@AlexandreGaubert Thanks for your comment and write up in the discussion. Are you able to provide a sample project that demonstrates this issue, even if it does not happen all the time

[2022-10-12 13:02] DotCoyote opened #24225 "New cy.origin handling causes issues with urls containing basic auth"
### Current behavior

When opening an url with cy.origin() that contains basic auth information, the cookie/session handling results in a failing login. It worked well before v10.10.0.

### Desired behavior

Well... being able to handle basic-auth-urls

### Test code to reproduce

[code]

### Cypress Version

10.10.0

### Node version

16.14.0

### Operating System

macOS 12.6

### Debug Logs

_No

[2022-10-12 13:21] scarsam commented on #23616
Blocking us as well. Duplicating the support file to multiple apps' is a pretty painful workaround. I would much rather be able to reference it from node_modules.

[2022-10-12 13:31] mschile commented on #23897
@audriusnavickasDB, @jpatil14, sorry that you are still not able to connect to Firefox. I tried again locally and I am able to connect and run a spec on my machine. What OS are you using? Could you also run Cypress with these [debug logs](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs) turned on:
`DEBUG=cypress:network:connect,cypress:server:browsers:firefox-util,cypres

[2022-10-12 13:33] ntsyhaniuk commented on #22521
@MohoiNad hi, have you had a chance to solve this issue?

[2022-10-12 13:38] AtofStryker commented on #22670
Hey @ganeshac123 . I'm sorry to hear this didn't fix your issue. Just to clarify, you tested with `10.10.0`? I cannot see an attached screenshot which could be very useful here.

[2022-10-12 13:43] ganeshac123 commented on #22670
Yeah, I did tested with 10.10.0.

On Wed, Oct 12, 2022 at 7:08 PM Bill Glesias ***@***.***>
wrote:

[2022-10-12 13:56] OlhaFilatova commented on #18607
Make sure that callback function for file:preprocessor returns correct result:
https://docs.cypress.io/api/plugins/preprocessors-api#The-callback-function-should-return-one-of-the-following
`a promise that resolves with a path to the compiled file or rejects with error`
For me this was the reason for such error message.
I passed a callback that was calling preprocessor generation inside and return

[2022-10-12 13:58] emilyrohrbough commented on #23616
@scarsam Would you be interested in contributing this fix?

[2022-10-12 14:00] AtofStryker commented on #23801
Hi @aleqsss. Thank you for opening an issue. Is there any way you could get us a reproduction or at least access to a self hosted Azure DevOps instance to interact with? Trying to work with Azure DevOps in the past due to limited free tier on cloud hosted has been a bit of a pain 😅 .

Not sure it will help but have you tried upgrading the node version to 16+? Electron 13.x and 14.x are both on v14

[2022-10-12 14:00] odiosdado-msft commented on #1342
@AtofStryker this worked for us! We did have to upgrade to the latest version of cypress (10.10.0).

[2022-10-12 14:04] marktnoonan commented on #18970
I'll make a branch that does what @Turbotailz's newest PR (#24218) does, and then build a pre-release version of Cypress with the change included. You will be able to point your Cypress version to that pre-release build @albinohrn, so you can validate that it actually fixes the problem, and be unblocked.

Then we can include the version bump in the next regular release of Cypress in about 2 weeks

[2022-10-12 14:04] AtofStryker commented on #1342
@odiosdado-suplari that is great to here! We are doing a lot of work on `cy.origin` and have much improved cookie support in `10.10.0`. Likely in the next major release of Cypress this will be supported outside of experimental.

[2022-10-12 14:05] IlCallo commented on #22505
Seems like we hit the same problem while adding support for Vite + Cypress in Quasar: https://github.com/quasarframework/quasar-testing/pull/259
We probably play with Vite plugins in a way Cypress don't like

That's strange tho, webpack version works without a flinch

[2022-10-12 14:07] albinohrn commented on #18970
That would be great, thanks @marktnoonan!

[2022-10-12 14:12] astone123 commented on #23897
Released in [10.10.0](https://on.cypress.io/changelog#10-10-0).

[2022-10-12 14:15] astone123 commented on #23995
Released in [10.10.0](https://on.cypress.io/changelog#10-10-0).

This comment thread has been locked. If you are still experiencing this issue after upgrading to
Cypress v10.10.0, please open a new issue.

[2022-10-12 14:16] astone123 commented on #21399
Released in [10.10.0](https://on.cypress.io/changelog#10-10-0).

This comment thread has been locked. If you are still experiencing this issue after upgrading to
Cypress v10.10.0, please open a new issue.

[2022-10-12 14:26] emilyrohrbough commented on #24221
@santanakrishnan Can you share why `cy.session` does not work for you?

[2022-10-12 14:31] elio-maggini opened #24226 "Ionic Angular Components do not render properly during component testing."
### Current behavior

1) Create a new Ionic Angular basic project.
2) Add Cypress 10.9.0 as a dev dependency.
3) Create a basic component test for the auto generated home page.
4) Run the test
5) viewWillEnter lifecycle method does not trigger and ion-content section does not render.

<img width="423" alt="Screen Shot 2022-10-11 at 3 38 26 PM" src="https://user-images.githubusercontent.com/5458668

[2022-10-12 14:32] nagash77 commented on #23648
@NikitaSheff Please provide a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2022-10-12 14:32] Michel73 commented on #22152
One point that goes in the same direction is the "automatic scrolling". In the old user interface it was active by default and could be deactivated with just one click. Now it is inactive by default and can only be activated awkwardly via a menu and then via a slider checkbox.

[2022-10-12 14:37] nagash77 commented on #24220
@vish-pandey As @Narretz suggested, please upgrade to the latest Cypress version and see if the problem persists.

[2022-10-12 14:41] audriusnavickasDB commented on #23897
@mschile Ok, did a bit of more playing around, so apparently it looks like it started working properly when using base url as localhost or any other https://... url.

However the issue I have described happens when base url contains credentials like this: https://test:test@google.com
For other browsers it is working properly.

[2022-10-12 14:44] emilyrohrbough commented on #21472
Quick audit, when these are removed, the following `Cookies.preserveOnce ` issues will no longer be valid:
- https://github.com/cypress-io/cypress/issues/5409
- https://github.com/cypress-io/cypress/issues/8954
- https://github.com/cypress-io/cypress/issues/8955
- https://github.com/cypress-io/cypress/issues/15166
- https://github.com/cypress-io/cypress/issues/15223
- https://github.com/cypress-io

[2022-10-12 14:51] mschile commented on #23897
@audriusnavickasDB, thanks for the update. Since this appears to be a separate issue, could you please log a new issue.

[2022-10-12 15:00] rujorgensen commented on #24198
The issue is not the same as far as I can see. Request to re-open @jordanpowell88 ? 🙂

[2022-10-12 15:17] emilyrohrbough commented on #21753
Removed in https://github.com/cypress-io/cypress/pull/23002

[2022-10-12 15:17] #21753 closed

[2022-10-12 15:19] kevinexxas commented on #24167
I have the same issue...

I've upgraded to 16.17.1 and it didn't worked. I also tried to downgrad to 14.17.3. I doesn't work on any version of node.js...

[2022-10-12 15:56] astone123 commented on #24112
Example https://app.circleci.com/pipelines/github/cypress-io/cypress/44608/workflows/48edb229-84e2-4189-96a6-bbe768dca285/jobs/1869680

[2022-10-12 16:17] rujorgensen commented on #24198
As far as I can see this is not the same issue (and still fails with Cypress 10.10.0) 🙂.

If I modify [the issue](https://github.com/cypress-io/cypress/issues/23591) you're referring to, to this:
**simple-component.component.ts**
[code]

**simple-component.component.cy.ts**
[code]

Request to re-open @jordanpowell88 (or one of the others involved @ZachJW34 @mike-plummer)🙂? I'm still open to the po

[2022-10-12 16:35] hinogi commented on #22505
using `DEBUG="cypress:server:open_project"` the path resolution looks correct. relative, absolute, root all ok if you ask me.

[code]

[2022-10-12 16:43] radekBednarik commented on #24195
hi, can confirm, even after update to v10.10.0, in our CI/CD pipeline, Cypress cannot connect to Firefox.

[2022-10-12 16:53] rebeccarothschild opened #24227 "Clock() and tick() not fast forwarding time with async request"
### Current behavior

Hi there,

I'm E2E testing some application code that has a setTimeout call that delays a network request which then triggers a component to display. I'm trying to speed up time to skip the timeout but I haven't gotten it to work. I can see by logging in the console that time has been skipped but the async request is not being made until the original setTimout delay has passe

[2022-10-12 17:02] ezrag26 commented on #23192
Interesting, I have thought about doing this before (looping through all the calls in order to get to the last one). I would still love a built-in solution from Cypress, but this is certainly more manageable and understandable than what I currently have in place.

Thanks for sharing the find!

[2022-10-12 17:31] warrensplayer commented on #24130
There are several issues reported that report the same "dri3 extension not supported" error: https://github.com/cypress-io/cypress/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+%22dri3+extension+not+supported%22.

Trying to see if there is any correlation.

[2022-10-12 17:31] warrensplayer commented on #24130
@Reaster0 Are you able to provide a reproducible example of the issue you're encountering. Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/)

[2022-10-12 17:56] cragun47 commented on #7456
The UI for Cypress settings has changed.  After running the command as described by @tudorsss  and @vitkusv ,  and restarting VS Code, VS Code now shows up in the External Editor list (on Mac).
<img width="880" alt="image" src="https://user-images.githubusercontent.com/4914849/195414200-628fa2fa-3715-4fe0-8119-971005d5c1b0.png">

[2022-10-12 18:30] nagash77 commented on #24219
@kenobi-io I see you are running WSL.  Unfortunately we do not fully support WSL and have seen issues with using it in conjunction with Cypress.  Can you replicate this issue on a native ubuntu install?  Or a native windows install?

[2022-10-12 18:33] marktnoonan commented on #18970
Alright, builds are ready, for simplicity I am consolidating things in this comment so people don't have to go digging around:

Learn more about this pre-release platform-specific build at https://on.cypress.io/installing-cypress#Install-pre-release-version.

Here are the build install instructions per platform:

linux x64: `npm install https://cdn.cypress.io/beta/npm/10.10.1/linux-x64/martnoonan/

[2022-10-12 18:50] nagash77 commented on #24156
Hello @apatel0708 Cypress does not use any encryption today.  It may internally hash things but only to generate stable/unique IDs.  Are you suggesting we need to swap out the algorithm to use sha256 rather md5 or are you asking us to generate a checksum.txt that you can use to verify that published binaries have not been altered?

[2022-10-12 18:50] nagash77 commented on #24156
@apatel0708 Can you help point us to what openshift / RHEL 8 is saying that prevents you from using Cypress in that environment.

[2022-10-12 19:06] 09abhishek opened #24229 "Test running successfully in browser (headed mode) but failing in the headless mode."
### Current behavior

Test running successfully in browser (headed mode) but failing in the headless mode.
Headless Mode : Used Chrome, Electron (similar issue in all)

Note : Test are running 100% success every time in browser test.

Error:

  Running:  super-admin/__test__/super-admin-pick-schedule.spec.cy.ts                       (6 of 8)

  Super admin Pick Schedule Test
    ✓ Render Pick Sche

[2022-10-12 19:37] n370 commented on #915
Stumbled on this problem today and came up with the following solution after reading a few comments in this issue. I'm still wondering why `Promise.all` and `Crypress.Promise.all` don't work as expected.

[code]

[2022-10-12 19:38] albinohrn commented on #18970
Not sure if I'm doing something wrong but I can't get it to work. It seems like there's some urls that would need to be updated.

[code]

If I try to access the url in the browser i get a 404 as well but I'm redirected through a client-side redirect to download.cypress.io where the production release is downloaded.

[2022-10-12 19:52] Incarnation commented on #18970
i think you just need to put the URL inside your package.json like
` "cypress": "https://cdn.cypress.io/beta/npm/10.10.1/darwin-x64/martnoonan/mocha-junit-reporter-bump-b6331ca237a6ed6c708c51193f5f10605b45b3e0/cypress.tgz",`

instead of
` "cypress": "10.10.0",`

[2022-10-12 20:01] rcasperson-jc opened #24230 "Cypress CLI dry run option"
### What would you like?

I would like to be able to see which tests Cypress will run based on tagging/spec without actually running them.

### Why is this needed?

I want this because there are cases where I need different setup based on which test cases will be run. This is also especially relevant for parallelizing test runs in CI. I may need to know all of the tests that will be run, so they c

[2022-10-12 20:05] flotwig commented on #22053
After some time playing with the `Profiler` APIs, I have a solution that can record JS Performance Profiles automatically in CI with Cypress:

[code]

Running this will spit out `.cpuprofile` files for every test in `/tmp`. In CI, you'd change this to your artifacts directory so they persist after the run.

To view these recordings locally:

1. Start up Chrome (same version as running in CI) and o

[2022-10-12 20:07] marktnoonan commented on #18970
This is the end result after the npm install so that should work (and lead to the correct result in CI even if locally there are problems installing).

FWIW npm install and download are both working normally for me with that url.

[2022-10-12 20:15] #24229 closed, assigned to nobody

[2022-10-12 20:16] apatel0708 commented on #24156
@nagash77  We resolved the issue modifying some of the js files for hashing

here was the original error:

Error: error:060800C8:digital envelope routines:EVP_DigestInit_ex:disabled for FIPS
    at new Hash (node:internal/crypto/hash:67:19)
    at Object.createHash (node:crypto:130:10)
    at module.exports (/builds/qvZ8Rvfw/0/gitlab/home/cache/Cypress/10.9.0/Cypress/resources/app/node_modules/web

[2022-10-12 20:49] rmmanseau commented on #21684
the open in IDE button is still broken in 10.10.0 for me, is this issue being prioritized? Accurate stack traces & the ability to jump to the failing assert are pretty essential features for a testing framework

[2022-10-12 21:21] #24116 closed, assigned to mjhenkes

[2022-10-12 21:22] Incarnation commented on #18970
working for me now! thank you for the quick update!
@marktnoonan

[2022-10-12 21:23] flotwig commented on #23832
This issue has been fixed in #23442. Please look out for this fix in the next release of Cypress (October 25th)

[2022-10-12 21:23] #23832 closed, assigned to flotwig

[2022-10-12 21:27] warrensplayer commented on #24198
@rujorgensen Yes, this one is going to be reopened.

[2022-10-12 21:34] tommy0831 opened #24234 "Module not found: Error: Can't resolve 'async_hooks'"
### Current behavior

I installed a third party package.  When I try to use it in Cypress with Typescript, I get this error.  I have tried isolating the problem by creating a JS and TS project and using that package.  It works fine.  So, I know it's an issue in Cypress.  More specifically, I think it's the @cypress/webpack-preprocessor.

<img width="1786" alt="Screen Shot 2022-10-12 at 1 46 38 PM"

[2022-10-12 21:44] rmmanseau opened #24235 "CT Stack Traces still broken in v10.10.0 on MacOS"
### Current behavior

I am still seeing issue https://github.com/cypress-io/cypress/issues/21720 on MacOS. It was supposedly fixed for linux and windows in PR https://github.com/cypress-io/cypress/pull/23916 (no mention of macOS), which shows the failing assert in a box with a link to open the line in the IDE.

Heres an example of how it looks on my machine
<img width="691" alt="image" src="https:

[2022-10-13 00:16] user1m commented on #24225
Can confirm similar experience - had to downgrade to 10.8.0

[2022-10-13 00:44] Turbotailz commented on #18970
I am getting the same 404 error. I will just wait until this is released.

[2022-10-13 04:22] peteygao commented on #16955
This hasn't seen any additional updates since 2021, but I want to update that this is STILL happening with latest `Cypress version 10.10.0`.

Is this issue visible to the Cypress team to address? 🙏🏼

[2022-10-13 05:24] magJ commented on #1232
After a lot of trial and error, I've managed to get cypress to run from a Lambda using a container image and chromium as a browser.

For anyone trying to do the same thing, I've put together a full example project you can refer to.

https://github.com/magJ/cypress-lambda-example

[2022-10-13 05:49] radekBednarik commented on #24195
let me pls add some logs:
Cypress can find Firefox:
[code]
firefox is then started, but once Cypress tries go to the page with the first test, it will start to get problems:

[code]
and after that is is just these retries until timeout:

[code]
any idea, what this may be caused by?

[2022-10-13 05:58] albinohrn commented on #18970
This seems to be an issue with newer Macs running the new architecture. When looking closer on the url I see that I'm trying to access:

`https://cdn.cypress.io/beta/binary/10.10.1/darwin-arm64/martnoonan/mocha-junit-reporter-bump-b6331ca237a6ed6c708c51193f5f10605b45b3e0/cypress.zip`

vs the npm package

`https://cdn.cypress.io/beta/npm/10.10.1/darwin-x64/martnoonan/mocha-junit-reporter-bump-b6331

[2022-10-13 06:00] audriusnavickasDB opened #24236 "Cypress v10.10.0 cannot connect to Firefox 105 when baseUrl contains credentials"
### Current behavior

Using Firefox v105 and Cypress v10.10.0 cannot properly load specs when baseUrl contains credentials.

For example if baseUrl is: https://google.com it will properly load: https://google.com/__/#/specs

However if baseUrl is something like: https://test:test@google.com it will only load https://google.com/__/#/ blank page and will not trigger any loading regarding specs. You

[2022-10-13 09:21] Dan5123 commented on #22086
@brentsharon I have opened a new issue and it has been assigned to someone from Cypress team #24199

[2022-10-13 09:22] rene-leanix opened #24237 "Automatic proxy rewrites of `window.top` expressions break app already including an iframe"
### Current behavior

The Cypress proxy [rewrites expressions with `window.top`](https://github.com/cypress-io/cypress/blob/688b7ea33e8243a76fc1b3bd7f5ef7f2bfba07f9/packages/proxy/lib/http/util/regex-rewriter.ts#L36-L38) in any JS file loaded during a Cypress test to ensure that the tested app does not realise it's being executed in Cypress' iframe. A problem occurs if the tested app itself alread

[2022-10-13 09:28] Im-a-Train commented on #19912
I've got an update on this.
As a workaround, we use the Chrome Browser, and start it with this argument: `--enable-features=SharedArrayBuffer`.
(For more information how to launch browsers with argument in Cypress see: https://docs.cypress.io/api/plugins/browser-launch-api#Modify-browser-launch-arguments)

This allows us to go catch up to the newest Cypress version.

Anyway, for Electron the probl

[2022-10-13 09:32] gustawx commented on #789
@strowk worked for me as well, thanks for tip! Maybe it's about a space character in the path :/

[2022-10-13 09:58] parmarravi opened #24238 "Cypress detected that you returned a promise from a command while also invoking one or more cy commands in that promise"
### Current behavior

I am trying to check the value from the Custom Error Text on the Ui. And once the condition gets failed I am capturing the screenshot.

But due to the Cypress Error, the screenshot code is not getting triggered. Is there any alternative way to achieve a similar task or fix the Cypress Error issue?

### Desired behavior

We should not get Cypress Command Error. As we are only

[2022-10-13 09:59] manv6 commented on #1232
@magJ tried your solution and only works in aws if you patch Cypress to write in `/tmp/shm` instead of `/dev/shm`
like below:

**Add below block after npm install**

`# Patch Cypress binary to not use /dev/shm
RUN echo $'#!/bin/bash \n\
position=$(strings -t d /opt/cypress/10.10.0/Cypress/Cypress | grep "/dev/shm" | cut -d" " -f1) \n\
for i in $position; do \n\
    echo -n "/tmp/shm/" | dd bs=1 of

[2022-10-13 10:03] magJ commented on #1232
@manv6 The example as-is works fine for me without patching cypress, I guess since it's using chromium, patching cypress like you demonstrated might makes it work without installing another browser I suppose?

Edit: I've now implemented this electron patching in my repo, electron now works locally when ipc is disabled, but still having problems with it on lambda.

[2022-10-13 10:07] Jaroslav004 commented on #21135
I've been having problems with Ow snap messages on one of my projects as I mentioned in earlier post where my tests keep crashing even if I run only one of them at the time but now I've ran tests on my older projects that I haven't used for a while, updated version of Cypress to the latest one and set numTestsKeptInMemory: 50 and it all ran just fine without failing despite having 14 fairly long t

[2022-10-13 10:59] pezholio commented on #21201
I'm getting some deeply odd behaviour. I visit my homepage, get redirected, and then log in like so:

[code]

My first test passes, but subsequent tests fail with:

[code]

[2022-10-13 11:15] grindpride commented on #22658
Same error occures when redirect change domain from .dev to .ru

In addition to not changing the URL, no other commands are executed after redirect
![image](https://user-images.githubusercontent.com/25076736/195582693-81d278df-f19b-4eee-b340-09e6bf0c7b8c.png)

Redirect from .ru to .ru works well

**UPD**: problem was solved by setting `chromeWebSecurity: false` in  cypress config

[2022-10-13 13:20] jordanpowell88 commented on #24224
Hey @JGarnettMtab are you able to provide a link to your repo or a Gist?

[2022-10-13 13:26] nagash77 commented on #24156
Ok glad you have figured it out!

[2022-10-13 13:26] #24156 closed, assigned to nobody

[2022-10-13 13:29] JGarnettMtab commented on #24224
@jordanpowell88 Thank you for taking a look at this issue, the repo unfortunately is private.  I can set up a minimal example if needed.

Examining the node packages installed though, in the package.json for @cypress/xpath `main` is set to `scripts` and `scripts` is not supplied in the package.

![Screenshot 2022-10-13 at 14 26 08](https://user-images.githubusercontent.com/35131716/195609921-584c0

[2022-10-13 13:40] marktnoonan commented on #24210
Review status: made some updates to a google doc with a draft of this, reviewed that with Rocky, next step is to review it with Baus and Brian for any critical misses before getting input from the rest of the team.

[2022-10-13 13:43] nagash77 commented on #24143
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-13 13:43] #24143 closed, assigned to nobody

[2022-10-13 13:53] nagash77 commented on #21201
@pezholio Can you please open a separate issue?

[2022-10-13 13:54] Sjeiti opened #24239 "Angular CT in Nx monorepo fails when interpreting `angular.json`"
### Current behavior

When trying to implement component testing in our monorepo I get the error:

[code]

We use Nx (14.6.3) to manage our Angular (14.0.1) repo and test with Cypress (10.10.0) through Storybook. The `angular.json` config the error originates from is generated by the `@nrwl/cypress@14.6.3` generator.
This means any `apps/foo-e2e` is configured in `angular.json` without the `foo-e2

[2022-10-13 13:58] nagash77 commented on #24222
Hello @joseph-luketelo Could you run Cypress in [debug mode](https://on.cypress.io/debugging#Debug-the-Command-Line) mode and print the entire set of logs here?

[2022-10-13 14:03] joseph-luketelo commented on #24222
@nagash77  How do I run in debug mode?

[2022-10-13 14:48] AtofStryker commented on #24186
reproducible with repo https://github.com/AtofStryker/cypress-issue-24186

[2022-10-13 14:49] mapsandapps commented on #21743
I just reproduced in Firefox again. This is _not_ a Chrome-specific bug.

https://user-images.githubusercontent.com/14926794/195631210-de6c94cf-aa2d-4ffb-84c7-311dd09beca3.mov

Edit:

Workarounds to avoid the issue:
1. Use Electron
2. Try not to move your mouse cursor between when you click to select a browser and when the browser window opens. It seems the cursor movement is what triggers the bug

[2022-10-13 14:54] 403-html opened #24241 "Types mismatch between docs and code"
### Current behavior

When trying to override the `type` method in typescript, I got errors from typescript linter. It's 1:1 copy and paste from [docs](https://docs.cypress.io/api/cypress-api/custom-commands#Overwrite-type-command) .

I get 3 errors.

1. for `$el`; it's only accepting `JQuery<HTMLElement>`... where `element` from docs is `string` type.
<img width="929" alt="image" src="https://use

[2022-10-13 14:59] AtofStryker commented on #24199
Hi @Dan5123 . Thank you for opening an issue. Would you be able to provide a reproduction repository that I can run on my windows machine to see if I can reproduce the issue you are seeing?

[2022-10-13 15:04] AtofStryker commented on #24202
Hi @rdwentmp. Thank you for opening an issue. Would you be able to provide a full reproduction example that I can run in order to reproduce the issue? The examples provided look to contain functions that are not defined.

[2022-10-13 15:06] idanElitzur commented on #24139
I got error about `Failed to load resource: the server responded with a status of 403 (Forbidden)` when trying to connect by google account with `cy.origin()` --> cypress v10.10.0 with the cross-origin bugfixes.
@AtofStryker

[2022-10-13 15:16] AtofStryker commented on #24139
@idanElitzur are you running with the `experimentalModifyObstructiveThirdPartyCode` flag? If this is still impacting your issue can you drop a comment with a link to a git repo that we can run to reproduce?

[2022-10-13 15:36] AtofStryker commented on #24193
downloaded chromium 96 from https://chromium.cypress.io/ to test

[2022-10-13 16:08] ecclesm commented on #21151
Seeing this issue in v9.6.0

[2022-10-13 16:10] yusufkandemir commented on #22505
I've found the source of the problem. Everything starts with `iframes/*` handling:

https://github.com/cypress-io/cypress/blob/b08bc270e90db72e7bdafc4eb80cc38c8463ccb1/packages/server/lib/routes.ts#L66-L74

It delegates to here where it proxies to a path that uses `devServerPublicPathRoute` as the base:
https://github.com/cypress-io/cypress/blob/b08bc270e90db72e7bdafc4eb80cc38c8463ccb1/packages/se

[2022-10-13 16:16] Jerry1811 opened #24242 "No command runs after implementing drag and drop"
### Current behavior

After implementing drag and drop in cypress, any other command that runs afterwards throws the error in the screenshot below

![drag-drop-error](https://user-images.githubusercontent.com/58642285/195650341-67f28a23-7fe5-4de3-b380-c2e53605e63c.png)

### Desired behavior

_No response_

### Test code to reproduce

[code]

### Cypress Version

10.9.0

### Node version

v16.17.0

[2022-10-13 16:27] Ralkage commented on #24242
To add to @Jerry1811's issue, this also happens when we double-click on an element, and it moves to the left side of our application, rather than performing a drag and drop.

[2022-10-13 16:48] nestor-aleks commented on #22113
@ottopaulsen can you share your dimension, please?
For me, it's still failing with viewports
[code]
macbook-16 from
https://docs.cypress.io/api/commands/viewport#Arguments

[2022-10-13 16:52] AtofStryker commented on #24100
Reproduction available at https://github.com/AtofStryker/cypress-issue-24100

[2022-10-13 18:04] imaginekhalid opened #24246 "Cypress 10 shows "The 'task' event has not been registered in the setupNodeEvents method. You must register it before using cy.task()""
### Current behavior

In the cypress.config.js , I'm trying to register tasks / plug in events and set my env configuration exactly as documented on their guide.

However, when trying to use "on" inside setupNodeEvents I'm getting the error in the title about needing to register it.

Also, to note when passing both arguments (on, config), the config file does not pick up the env variable. Only whe

[2022-10-13 18:32] astone123 commented on #24174
@hiebj We just released `@cypress/react18@1.1.1`. If you look at that version, you should see the expected changes. There's an issue with our release of these packages that I'm currently working through. I'm in the process of fixing the changelog as well.

This new version will be bundled with the next release of Cypress. Thanks for reporting this

[2022-10-13 18:50] AtofStryker commented on #24237
Hi @rene-leanix . Thank you for opening an issue. I think you hit the nail on the head here in saying

This is something we have considered in the past. However, it is pretty difficult to do correctly, since we likely want to rewrite certain top referencing code within iframes to actually point to the application under test iframe.

The good news is this "feature" is configurable and it's called [

[2022-10-13 18:56] AtofStryker commented on #24225
Hi @DotCoyote & @User1m . I am sorry to hear you all are having some issues with basic auth. We changed the implementation of the origin that is used to interact with the AUT in this case to be an exact origin match. I wonder if that is affecting you both here. Are either of you able to provide a full reproduction , and if not, are you able to tell me if the url you are visiting contains a subdoma

[2022-10-13 19:00] AtofStryker commented on #22540
currently integration tests exist for auth0 for username/password, microsoft, google, and paypal. If we plan to support more, we should open an additional issue

[2022-10-13 19:00] #22540 closed

[2022-10-13 19:01] AtofStryker commented on #22539
closing in favor of #21602

[2022-10-13 19:02] AtofStryker commented on #21602
cy.origin tests are written for paypal for authentication, but NOT for payment field integration. This is just a small piece of this issue and as @mjhenkes pointed out that this requires iframe support to be complete

[2022-10-13 19:09] AtofStryker commented on #24073
@EvHaus is this still an issue for you? I did want to bring up with Cypress `10.10.0` you will likely need to include the full origin for your `auth0` tenant to keep things working smoothly 😃 .

[2022-10-13 19:21] warrensplayer commented on #24226
@elio-maggini Thanks so much for the sample code to show the issue. That was super helpful.

While Cypress does not have official support for Ionic apps, you should be able to run component tests just fine. What you do have to keep in mind is that in the component test, the component is getting mounted without being inside your application.  If it relies on other parts of your application to work,

[2022-10-13 19:25] AtofStryker commented on #24162
Hi @rd-henning-ellerweg . Thank you for opening an issue. Have you tried getting this to work outside the WSL environment? We currently do not support WSL due to some oddities within the environment.

[2022-10-13 19:45] AtofStryker commented on #24167
@arvind-nadimpally I am having some issues reproducing. Are you on a corporate managed device?

[2022-10-13 19:46] astone123 opened #24247 "npm-release: don't modify changelog if error is thrown"
### Current behavior

During our `npm-release` CI step that releases our `npm/` packages, we ran into an issue with Git tags that prevented some packages from being published. See #24112 and #24174.

However, even though an error was thrown during the release process, the `semantic-release` tool still made updates to the CHANGELOG.md file. In this case, the result was that the entries in the chang

[2022-10-13 19:47] elio-maggini commented on #24226
@warrensplayer Thank you for the information. I'll update in next 24 hours with further info. Maybe even a small PR to update the docs :)

[2022-10-13 20:01] warrensplayer commented on #23855
I created a documentation request for this configuration option.  https://github.com/cypress-io/cypress-documentation/issues/4781

[2022-10-13 20:01] #23855 closed, assigned to warrensplayer

[2022-10-13 20:10] marktnoonan commented on #18970
Thanks for the feedback folks, I've approved https://github.com/cypress-io/cypress/pull/24218

[2022-10-13 20:11] AtofStryker commented on #24234
Hi @tommy0831 . Thank you for opening an issue. Would you be able to provide a reproduction repository to help me recreate the problem? Also, have you tried using node 16 or 18? We do not support Node 17.

[2022-10-13 20:17] simonireilly opened #24248 "feature: Support Lit elements in component testing"
### What would you like?

I'd like to be able to run component tests against my lit elements in Cypress.

I've demonstrated the solution here https://dev.to/simonireilly/cypress-component-tests-for-lit-elements-web-components-45oj and would submit a pull request coping the patterns of the svelta plugin.

### Why is this needed?

Testing web components in real browsers is more advantageous than any

[2022-10-13 20:26] AtofStryker commented on #24236
I created a [reproduction repo](https://github.com/AtofStryker/cypress-issue-24236) that showcases the issue. It looks like within fetch we need to use basic authentication headers as opposed to embedding the credentials in the url similar to this [stack overflow post](https://stackoverflow.com/questions/45067331/request-with-url-that-includes-credentials)
<img width="1669" alt="Screen Shot 2022-1

[2022-10-13 21:00] warrensplayer commented on #24182
@alecmestroni I was able to run your tests a couple of days ago when the URL you reference was still working.  It is now down, so I am no longer able to run the tests.  When I ran the tests on a Mac, I was able to see the fake webcam video without having to add any additional parameters.  I was going to try against a Windows virtual machine to see if running on Windows was the issue.

Are you able

[2022-10-13 21:17] AtofStryker commented on #24241
Was able to reproduce and created a quick reproduction [here](https://github.com/AtofStryker/cypress-issue-24241). going to route to e2e team and since it should be simple I should have some time to work on it

[2022-10-13 21:19] AtofStryker commented on #24242
Hi @Jerry1811 & @Ralkage . Would either of you be able to provide a reproduction repository I can clone/run to reproduce the issue?

[2022-10-13 21:19] jaffrepaul opened #24251 "Eliminate the need for an internal & public ESLint package"
### What would you like?

1. Move [Cypess ESLint Dev](https://github.com/cypress-io/cypress/tree/develop/npm/eslint-plugin-dev) rules into the Cypress root and eliminate the need to maintain an internal & public package.
2. Add scripts to repo root and lint rules to individual packages
3. Update dependencies and stale issues

### Why is this needed?

There are a few things that can be addressed:

[2022-10-13 21:44] AtofStryker commented on #22670
@ganeshac123 OK Thank you for confirming. We thought the issue was fixed because it happens intermittently for us, but we think we have an idea what is going on with the initial cookies set by hyperspace. We are working on a solution and will keep you updated.

[2022-10-13 21:48] #18970 closed

[2022-10-13 22:01] EvHaus commented on #24073
So interestingly upgrading to 10.10.0 made the problem go away entirely without any code changes. 🤷

Will close the issue.

[2022-10-13 22:01] #24073 closed, assigned to nobody

[2022-10-13 23:31] mschile commented on #23897
This comment thread has been locked. If you are still experiencing this issue after upgrading to Cypress v10.10.0, please open a new issue.

[2022-10-14 00:00] olga-fluence commented on #24224
I'm also facing the same issue, following steps in readme

[2022-10-14 01:52] GrayedFox commented on #4450
This makes using a local file pretty tedious if using `baseUrl` since Cypress also expects a fully qualified domain name, i.e. setting the baseUrl to `./src/index.html` will prevent tests from being run.

You can work around it by doing something like this:

[code]

Then, instead of calling `cy.visit('/')` you can pass in a specific environment variable as required. Here's an example using an abst

[2022-10-14 03:35] brentsharon commented on #22086
@Dan5123 Awesome thanks!

[2022-10-14 03:38] danadajian commented on #24131
@JessicaSachs Do you think this is actually a bug? Or is it more of a feature request for the capability to "intercept" a URL change and prevent it?

Is there a way you would recommend working around this in the meantime? Right now all I can do is separate these tests into different files and ensure that they are the very last test to run in a test suite. I should also mention that my use case her

[2022-10-14 04:40] turt2live commented on #23937
I believe I'm also seeing this issue, though not in AD (just a Win 10 Pro local machine).

Upgrading from 10.3 to 10.10 did not help.

10.10 stack:
[code]

The project uses `experimentalSessionAndOrigin` but *not* `experimentalModifyObstructiveThirdPartyCode`. I don't believe this is a test issue as the tests run past this point in CI.

Using the test case [mentioned above](https://github.com/cypr

[2022-10-14 05:51] ncknuna commented on #24131
For the purposes of my tests, I only care about resetting the query params and the hash, so I did this as a workaround:
[code]
I imagine most people also care about resetting the path, which could be done in a similar way

[2022-10-14 06:30] DotCoyote commented on #24225
Yeah, we're also using a subdomain. Unfortunately, I can't provide a test-repo to that project. I will see, if I can setup a dummy-project

[2022-10-14 06:36] mschile commented on #23772
@amar0120, it appears Stripe is attempting to change the top url which is causing Cypress to go back to the spec list. I initially thought setting [experimentalModifyObstructiveThirdPartyCode](https://docs.cypress.io/guides/references/experiments#Configuration) would resolve the issue but it did not. We will need to investigate that further.

However, in the meantime, I was able to get the test to

[2022-10-14 06:40] amar0120 commented on #23772
Thank you very much @mschile  for investigation and suggesting the alternative approach. I will check it at my end and let you know if faced some issue in it.

[2022-10-14 07:08] LiZhang19817 commented on #18434
The same question as above, Does Cypress support FIPS?

[2022-10-14 08:02] alecmestroni commented on #24182
@warrensplayer here it is
[code]

[2022-10-14 08:25] arvind-nadimpally commented on #24167
I still need to upgrade my node as suggested, but I can confirm I am not using corporate managed device. Have been busy with other projects. will update this thread soon

[2022-10-14 09:06] rd-henning-ellerweg commented on #24162
Hi @AtofStryker
Well my 'real' project shows the same symptoms when run in github actions. There we use a container based on
https://github.com/cypress-io/cypress-docker-images/blob/master/browsers/node16.17.1-chrome106-ff105-edge/Dockerfile
but uses the old firefox version. Getting the videos produced in my CI pipeline is as you might guess the real issue I am facing.

Anyway, I did the same thin

[2022-10-14 09:20] agustinabosso7 commented on #23799
Hi guys! I am seeing you merged https://github.com/cypress-io/cypress/pull/23442 with --> expecting an array or an iterable object but got [object Null] fix, but today I installed   ` "playwright-webkit": "^1.27.1",`
And I am obtaining this same error in the first attempt:

<img width="392" alt="Screenshot 2022-10-14 at 11 19 13" src="https://user-images.githubusercontent.com/78592719/195811284-b5

[2022-10-14 09:33] agustinabosso7 commented on #23799
Also I obtained this error:

[code]

But probably u have other issue created for that. Let me know! thankss

[2022-10-14 10:15] freddidierRTE opened #24255 "When launching cypress in background cy.exec cause chrome to freeze"
### Current behavior

On a linux OS using chrome with version cypress version 10.10.0 (pb reproduce with previous versions as well) , node version 14.20.1

Launch cypress in background : ./node_modules/.bin/cypress open &

Execute following test :
[code]

When launching cypress in foreground (./node_modules/.bin/cypress open) it works

### Desired behavior

exec works when launching cypress in bac

[2022-10-14 11:22] gepardoj opened #24256 "Run all tests button"
### What would you like?

Button in browser mode. Before v10 there were the button to run all tests, but in v10 I don't see such button

### Why is this needed?

I have about 30 tests in different folders and I need to start all them one by one, it's too long

### Other

_No response_

[2022-10-14 11:43] meisster commented on #22634
Since there was almost a month of inactivity, I tried to take care of the issue in the linked PR.

[2022-10-14 12:15] AlexBezzubenko commented on #23677
Hello @jordanpowell88,
I think that the main question is how to run component tests for angular library. Is it possible with current version of cypress? It will be great to have a simple example with configuration.

[2022-10-14 12:33] io-sar commented on #23937
Hello @AtofStryker, unfortunately it is not fixed on 10.10 and I have tried to use your PR. The main problem is that this is not using the azureAD on an application level thus when you try to login it redirects you during the password phase to a different origin 'https://login.live.com'.

What I would try to do (currently not too much of a time) is to either have an app behind an azure ad free acc

[2022-10-14 13:06] nagash77 commented on #24256
Closing as a dupe of https://github.com/cypress-io/cypress/issues/23471

[2022-10-14 13:06] #24256 closed, assigned to nobody

[2022-10-14 13:09] nagash77 commented on #24165
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-14 13:09] #24165 closed, assigned to nagash77

[2022-10-14 13:17] warrensplayer commented on #24123
@MatosCL In Cypress, your tests are run inside an `iframe` in the browser within the Cypress app.  When the `getWindowTop()` function runs, it is finding the top level window that is controlled by Cypress.  That is why your javascript cannot find those methods.  See here for for background on the way that Cypress works.  https://github.com/cypress-io/cypress/issues/969#issuecomment-347417078

[2022-10-14 13:17] #24123 closed, assigned to warrensplayer

[2022-10-14 13:17] #24112 closed, assigned to astone123

[2022-10-14 13:19] nagash77 commented on #24222
Try following [these instructions](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs)

[2022-10-14 13:26] tomachinz opened #24260 "After upgrade I could not initially figure out how to run tests, still can't actually"
### Current behavior

The big "run" button seems to have disappeared in this version upgrade. Where I can see the browser doing it's thing.

If I click a test, it runs, and the terminal seems to indicate a run, but it not show in the runs list.

I will confess I do not use the program as often as I should. Anyhow no tests done first and second days.

But I re-open ed it, found the strange [command

[2022-10-14 14:00] boylec commented on #14672
From what I can tell #19633 does not appear to resolve this.

This issue is about adding functionality to cy.mountHook (from cypress/react) to allow for easily wrapping the mounted hook with providers and such.

#19633 appears to merely allow one to override cy.mount or cy.hover no?

[2022-10-14 14:02] chrisl-peopleplus commented on #14672
I'm glad it's not just me! I was beginning to think I totally missed the point :)

[2022-10-14 14:15] boylec commented on #14672
I guess it opens the door to do the above suggestion?

[2022-10-14 14:33] AtofStryker commented on #24225
@DotCoyote I completely understand. If I get some time today, I can try to throw something together that showcases the problem

[2022-10-14 14:42] AtofStryker commented on #23937
@turt2live @io-sar sounds like my reproduction isn't very helpful here 😅 . I think the most critical thing here is to get a fully working reproduction, which I know is a bit difficult. Worst case, private reproduction repositories where core team members are invited is also an option. Once I can see that, I have a feeling I can determine the problem.

We also do have a free azure AD account within

[2022-10-14 14:54] #23517 closed

[2022-10-14 15:11] warrensplayer commented on #24235
@rmmanseau Thanks for reporting this.

I can reproduce the issue you are seeing with the "Open in IDE" button on the row with the "TEST BODY" header for a test. I get the same error for component tests. (E2E tests work fine)

As for not seeing the accurate stack trace, I cannot reproduce that issue unless I downgrade Cypress to before `10.10.0`. Please confirm that you are using Cypress version `1

[2022-10-14 16:03] AaronVikta commented on #24260
I think the big **Run all** button got removed some versions before now, for me I had to import the other spec files into the a single spec file say **all.cy.js** and then I ran the **all.cy.js**

[2022-10-14 16:05] #22091 closed

[2022-10-14 17:08] AtofStryker commented on #24162
@rd-henning-ellerweg makes sense. I had issues getting this set up on MacOS (reverting to older versions of firefox is a bit of a pain on MacOS), but I did get this set up on my ubuntu machine and was able to reproduce it with the firefox 86 distribution you linked. Definitely a bit of a strange issue. Will work on getting this routed to a team.

[2022-10-14 17:09] AtofStryker commented on #24162
![](https://user-images.githubusercontent.com/3980464/195903133-12f22620-a255-4189-9c29-46c8a2712684.gif)

[2022-10-14 17:12] #22634 closed

[2022-10-14 17:26] AtofStryker commented on #24255
Hi @freddidierRTE . Thank you for opening an issue. I tried giving this a reproduction [here](https://github.com/AtofStryker/cypress-issue-24255) on my ubuntu machine but didn't have any luck reproducing it. Would you be able to work with the reproduction to reproduce this issue for us?

[2022-10-14 17:31] Daniel-Fig commented on #23391
Sorry everyone, but beta 107 increased how long it takes to crash (it reach the mark of 330 seconds before crash), but it is still crashing
![Screen Shot 2022-10-14 at 2 29 16 PM](https://user-images.githubusercontent.com/103145558/195906840-36761f4c-074b-49b6-bdce-d0f86bba1c58.png)

[2022-10-14 18:27] AtofStryker commented on #24225
@DotCoyote I put together a quick reproduction repository [here](https://github.com/AtofStryker/cypress-issue-24225). I added a test in there that leverages the [`cy.visit` basic auth api](https://docs.cypress.io/api/commands/visit#Add-basic-auth-headers) that might work for you. Can you let me know if that is the case?

[2022-10-14 18:32] pureLifeWater101 commented on #19481
@sheinze you get it to work? I'm having the same issue

[2022-10-14 18:55] aavilla-riparian commented on #21201
@pezholio Can you somehow link this to your new ticket once created? I am interested in this as well.

[2022-10-14 19:12] Sporradik commented on #24120
@astone123, Does this work for you? If I do this, then the `.then` callback does not run because `obj.method()` throws an error.

This example I posted is an overly simplified version of what I am trying to do in my real test. In the real test the method I am spying is called _within_ the method I am calling in the test.

Both in my simplified example and in my real test, the assertion does run af

[2022-10-14 19:47] w0wka91 commented on #23677
I think we should also support workspaces where we mix applications and libraries.
I would propose that we add the possibility to add the projectName to the Configuration:
[code]
Or maybe we add it to the options object?
[code]
With this information we can resolve the correct webpack config instead of always going for the default project. What do you think?

[2022-10-14 19:55] #21854 closed

[2022-10-14 20:27] tomachinz commented on #24260
OK, well I guess i better get with the times and create this index type of file. Maybe this is a feature request not a bug then. Anyhow, generally, Cypress has impecable ease of use. Am running `npm install -D cypress@10.10.0` presently

[2022-10-14 21:09] mjhenkes opened #24264 "Update cookie commands to take domain into account"
With the addition of cy.origin and cy.session we should

1. update cy.cookie apis to allow users to pass in the domain as an option
2. update the cy.cookie apis default to use the AUT domain as default if available

Spike into what options we have when setting cookies and the AUT is undefined.

This should affect getCookies, getCookie, setCookies, clearCookie and clearCookies.

[2022-10-14 21:16] mjhenkes opened #24265 "Add cy.getAllCookies, cy.clearAllCookies"
Add new apis for getting All cookies in the browser cookie jar regardless of domain

this should return an object of domain to cookies mapping.

Also add a new API for clearing all cookies in the cookie jar regardless of domain.

[2022-10-14 21:39] rmmanseau commented on #24235
tried reproducing it in a simple repo & turned out I couldn't. after a while I went back to the original repo & did `rm -r node_modules yarn.lock && yarn` and after reinstalling everything it started working. I guess the update requires wiping the old node_modules.

false alarm!

[2022-10-14 21:39] #24235 closed, assigned to warrensplayer

[2022-10-14 22:13] ag-tvs commented on #16310
@nagash77 Just add `cy.visit(YOUR_WEBSITE);` on the beginning of the command, it will change Cypress url and it will be matched with the origin of your remote application

[code]

More about it here
https://docs.cypress.io/guides/guides/web-security#Examples-of-what-Cypress-does-under-the-hood

[2022-10-15 00:35] DeeZulu commented on #7598
looks like they don't care at all  ( ;

[2022-10-15 03:57] jquintozamora commented on #20734
I managed to resolve this issue by specifying both: `specPattern` + `spec`. Being `specPattern` more general and `spec` more specific.

`cypress run --e2e --config baseUrl='http://localhost:3000',specPattern='cypress/integration/**/**.cy.ts' --browser electron --headless --spec=cypress/integration/group1/**.cy.ts`

Hope it helps others.

[2022-10-15 08:58] w0wka91 commented on #22976
So we still need 2 things for resolving this issue:

1. Implement part 2 of this issue and wrap the original Angular CLI component generator
2. Extend the angular.json configuration and add `@cypress/schematic` to the `schematicCollections` Array

Is there already work in progress on this one or can I work on it?

[2022-10-15 09:02] freddidierRTE commented on #24255
Hi @AtofStryker ,  i reproduced it with you test code

New element , if i put back in foreground the task in the shell , it stop freezing and execute the test ,debug logs (see the fg  shell command in the log )

[code]

[2022-10-15 09:08] freddidierRTE commented on #24255
I reproduce it as well with the provided electron browser

[2022-10-15 15:57] NikitaSheff opened #24269 "In cypress 10.11 I can't visit my web page"
### Current behavior
Browser - electron
https://ant.bc-servers.me/ this is my site
On version 10.9 I'm able to visit this site => cy.visit('https://ant.bc-servers.me/')
On version 10.10 I'm not able to visit it - just empty screen and no error occurs

### Desired behavior

I want to continue testing my web application on the newest version of cypress

### Test code to reproduce

`cy.visit('https:/

[2022-10-15 16:31] reify-yirgu-bira commented on #24269
Same here

[2022-10-15 21:01] baubie commented on #24269
Same issue here.

[2022-10-15 21:05] fabianhijlkema opened #24270 "Cypress keeps freezing"
### Current behavior

While trying to check out Cypress with the most basic setup possible, it keeps freezing or erroring out most of the time. While running it with `npx cypress open` or `npx cypress run`. The Cypress application in that case will be unresponsive according to Activity Monitor. It's just plain unusable like this.

Cypress versions tried 10.10.0, 10.9.0, 10.8.0

<img width="1683" a

[2022-10-15 21:07] marktnoonan commented on #23474
Just a note for future folks who might pick this up. I bumped into this skipped test and was curious about the flake, I ran it 20 times on my mac just now and it passed every time. Since the failure linked is on Windows, I'm going to guess this is flaky due to specific issues running Cypress on Windows (maybe just speed) and would need to be reproduced there to fix.

[2022-10-15 21:20] aizotov commented on #19137
I am running into the same issue. What was your fix?

[2022-10-16 00:05] tommy0831 commented on #24234
I figured it out.  NodeJS modules cannot be called directly in Cypress.  You need to use cy.task to wrap NodeJS code and expose it to your test code.  https://docs.cypress.io/api/commands/task

[2022-10-16 00:05] #24234 closed, assigned to nobody

[2022-10-16 06:32] perlo27 commented on #23679
Hi there,
i see this one being inactive for a while, i can fix it if no one mind

[2022-10-16 08:05] jonasraoni commented on #19800
Hi @AtofStryker, I can confirm the issue still exists. I'm using Cypress 10.10.0, and the intermediate cookie (set within a 302 redirect is getting discarded). This is what I've got with the `Cypress.Cookies.debug(true);`:

![image](https://user-images.githubusercontent.com/361921/196024891-72a2c3ac-a727-4143-a8b3-1d35e1bf7427.png)

I've reached the same workaround (changed the `SameSite`).

[2022-10-16 08:11] jonasraoni commented on #20476
Hey @kentcdodds, this looks similar to: https://github.com/cypress-io/cypress/issues/19800, which has a temporary workaround available (changing the `SameSite` setting).

[2022-10-16 10:38] JoeEarly commented on #136
Have we any update on this since the comment on [5 Feb 2021](https://github.com/cypress-io/cypress/issues/136#issuecomment-773765339)

[2022-10-16 12:35] ezekel commented on #24269
Same issue I'm using image cypress/included:10.10.0

cannot see my virtual domain http://myapp.local

[code]

[2022-10-16 12:38] hijazi commented on #14916
I'm facing this same issue since I'm trying to test a next.js app and the JS is loaded as chunks and cypress just interacts with the html and submits a login form before the JS chunks finish arriving which makes the test super flaky.
@dzuncoi did you find a solution please?

[2022-10-16 14:18] idanElitzur opened #24271 "Connecting by Google connect return 403 error"
### Current behavior

When I trying to connect by google connect with `cy.origin()` in Cypress v10.10.0 it returns 403 error.

<img width="1300" alt="Screen Shot 2022-10-16 at 17 01 56" src="https://user-images.githubusercontent.com/104420464/196039923-784ccc4e-d7dc-48dd-8811-5dad7ecdfd10.png">

### Desired behavior

_No response_

### Test code to reproduce

[code]

### Cypress Version

10.10.0

[2022-10-16 19:02] idanElitzur commented on #24139
Yes, I've tried now and it works ok, thanks a lot. :)

[2022-10-16 19:02] #24271 closed, assigned to nobody

[2022-10-16 21:04] pradeepkamathamtallygroup commented on #7598
It is working fine for me.
The below methods I have kept it in the helpers.js file
[code]
e2e.js
[code]

In your code, you can call cy.reload(); It should expect to be on the same page when the page gets reloaded.

[2022-10-17 02:21] sathismr commented on #18434
I also face the same issue. Is there any solution? Thanks!

[2022-10-17 04:00] steve-taylor commented on #18544
This is still reproducible in 10.10.0 (latest version) using @Alvai's example.

@lmiller1990 the issue in that screenshot is the fetch request between lines 3 and 4. Despite the request being aborted, Cypress is waiting for it to complete.

Here's an updated and annotated screenshot from 10.10.0 using the same reproduction and Chrome dev tools open:
![image](https://user-images.githubusercontent.c

[2022-10-17 04:25] jpatil14 commented on #23958
@astone123 @cypress-app-bot Is there any update on this? This has been a blocker for us since last couple of months. If this is something cant be resolved do let us know so that we can switch to other tool? Kindly respond ASAP

[2022-10-17 05:42] jpatil14 commented on #24236
@audriusnavickasDB audriusnavickasDB : You mentioned in previous ticket that Firefox 105 is working for you as you tried some ways? Could you please let me know how were you able to connect to FF105? I am still unable to connect tp FF105. It has been a blocker for me since long. I would really appreciate your help. PFB screenshots for reference

![image](https://user-images.githubusercontent.com/3

[2022-10-17 06:22] audriusnavickasDB commented on #24236
@jpatil14 I did nothing special, just discovered that for baseUrl I need to use credentials and it is not working as expected - so this issue was created. But when using just simple url like localhost or any random web page, everything started to work normally.
I had some weird stuff happening at first, but did clean node_modules reinstall and everything started working without any issues.

Also I

[2022-10-17 06:33] mmonteiroc commented on #23830
Do we have an update on this issue ? Is there any info that we could provide that would help you investigate ?

[2022-10-17 06:47] ottopaulsen commented on #22113
I just set
[code]
in this case, @nestor-aleks.

[2022-10-17 08:10] colinstantos commented on #22459
This is also happening to me on v10.10.0

[2022-10-17 08:11] tripathi040 commented on #2667
Facing the same issue on 17 october 2022. Was able to get it back into focus by doing the Shift + Right click and selecting maximize as well.

====update====
After few runs it is fixed on its own

[2022-10-17 08:12] cami-dev commented on #7552
Is there no update on a fix for this in either jasmine or cypress? Feels bad to add excludes that should not be necessary.

This worked for us when added to tsconfig.json in root running cypress 10.6.0 on Angular 14.2.1
{
  "include": ["src", "./cypress.config.ts"],
  "exclude": ["./cypress.config.ts"]
}

[2022-10-17 08:57] theoarav opened #24272 "Error with assets loading from scss in Angular"
### Current behavior

Loading assets from scss with something like this :
[code]
[code]
Image is showing using `ng serve` but not when using cypress component testing

If I remove the '/' in the url, image load in component testing but angular won't compile with the following error :
[code]

Another loading problem comes from loading assets in scss "main" files, I have a `main.scss` containing :
[

[2022-10-17 09:11] tit commented on #24269
Hm... I have Cypress 10.10 and does not have same problem.
![image](https://user-images.githubusercontent.com/278604/196137863-1533fa42-a67b-47e5-883d-7d00195ddc47.png)

But, you page has JS exception.
See DevTools => Console.

[2022-10-17 09:18] NikitaSheff commented on #24269
@tit I use electron browser

JS exception is known, thanks

[2022-10-17 09:25] tit commented on #24269
@NikitaSheff In Electron browser I have not this problem too (except some errors in console).

![image](https://user-images.githubusercontent.com/278604/196141204-fb2f3f8b-1222-4169-b911-a6bd68587bae.png)

[2022-10-17 09:26] sheinze commented on #19481
No change for me since then. As I said, my project focus changed, so i don't have much time investigating further.

[2022-10-17 09:39] nurRiyad commented on #17265
I am having the same issue. It passes perfectly on my local device but fails in GitHub Actions.

[2022-10-17 10:45] rene-leanix commented on #24237
Thanks for your quick response, @AtofStryker! I completely missed the `modifyObstructiveCode` config option, even though I even checked your code on this. This does the trick!

Just to reiterate the obvious: framebusting is not the only reason why code may contain checks like `window.self === window.top`. In the code we've included via an iframe this check was included to differentiate between emb

[2022-10-17 10:45] #24237 closed, assigned to AtofStryker

[2022-10-17 11:54] MateuszKobiera commented on #14857
This bug is super annoying and sometimes does happen and sometimes does not on run in a pipeline. Workaround is great for openMode but does not work if bug suddenly does not occur in runMode in pipeline. @jennifer-shehane do you have maybe any update on this ticket?

[2022-10-17 12:07] NikitaSheff commented on #24269
![image](https://user-images.githubusercontent.com/99482593/196173066-985c308f-7586-420b-8293-5d84379a3a3f.png)

[2022-10-17 12:42] nonkor opened #24273 "cy.state('runnable')._currentRetry always returns 0 if called from before hook"
### Current behavior

`cy.state('runnable')._currentRetry` always returns 0 if called from before hook (ignoring the current attempt). In comparison, in `it` section it returns the correct attempt number.

I consider this as a bug because I need to differentiate sessions between attempts – `it` may contain mutable actions that would make the current session invalid for new attempts. I am intention

[2022-10-17 12:53] nagash77 commented on #24260
As @AaronVikta mentioned we did remove the Run All button several versions ago.  We are currently engaging with customers to determine if and how this functionality could come back in the future in this ticket https://github.com/cypress-io/cypress/issues/24168

[2022-10-17 12:53] #24260 closed, assigned to nobody

[2022-10-17 13:24] MateuszKobiera commented on #23937
@AtofStryker
I have very similar issue. It fails just on cy.origin()
In my case on:
`cy.origin("https://sandbox-corpapi.moneycorp.com", () => {});`
with  uncaught exception Error
[code]

So I cannot do anything inside cy.origin()

I have both experimentalSessionAndOrigin and experimentalModifyObstructiveThirdPartyCode flags ON
I have Cypress 10.9.0

[2022-10-17 13:43] emilyrohrbough commented on #24273
@nonkor The reason you are seeing this behavior is that the `beforeEach` hook is it's own runnable, separate from the Test runnable and we are only incrementing the test runnable's `_currentRetry` count when Cypress reattempts to run the test. I agree this is a bit confusing, and aligning this would be helpful for debugging and determining the retry attempt.

You can work around this in your hook

[2022-10-17 13:44] tit commented on #24269
@NikitaSheff The screenshot shows that the command .visit has not finished its work yet. After the expiration of the timeout, it should end in any case with some error. Try to wait for the team to finish working. Also, make sure that the site you are opening opens simply in the next tab manually. That there are no problems with the network.

[2022-10-17 13:46] mjhenkes opened #24274 "Spike into relaxing strict same-origin requirement for cy.origin"
Spike into relaxing the strict same-origin requirement for cy.origin to instead allow super-domain same origin for sites that allow.

We should be able to support spec bridges with super-domains connecting to AUT's declared with sub domains using document.domain if possible. We must also support spec bridges declared with sub domains specifically.

The outcome of this spike should be logged tasks

[2022-10-17 13:48] mjhenkes opened #24275 "[SPIKE] into using simulated top for cross-origin same-site cookies on primary."
Spike into using simulated top to account for cross-origin same site cookies when on the primary spec bridge.

The outcome of this spike should be logged tasks to complete this work, no tasks if the work is unfeasible, or a PR if the work can be completed within the spike.

[2022-10-17 13:49] mjhenkes opened #24276 "Add Get/ClearAllLocalStorage"
Add new apis for getting All local storage in the browser regardless of domain

this should return an object of domain to local storage mapping.

Also add a new API for clearing all local storage in the browser regardless of domain.

[2022-10-17 13:51] mjhenkes opened #24277 "Add Get/ClearAllSessionStorage"
Add new apis for getting All session storage in the browser regardless of domain

this should return an object of domain to session storage mapping.

Also add a new API for clearing all session storage in the browser regardless of domain.

[2022-10-17 13:55] NikitaSheff commented on #24269
![image](https://user-images.githubusercontent.com/99482593/196195257-31c1acb9-dc08-42c4-8762-191342996f10.png)
This is what I see after the test is over

The site opens fine in any browser.

[2022-10-17 13:57] emilyrohrbough commented on #24276
related to: https://github.com/cypress-io/cypress/issues/2573

[2022-10-17 14:24] warrensplayer commented on #24235
@rmmanseau Thanks for the feedback on what worked for you.  I saw your comment on #21684 regarding the "Open in IDE" button.  I am going to look into the status of that issue.

[2022-10-17 14:44] damian-nrj opened #24278 "cy.intercept unable to handle binary/streaming resource"
### Current behavior

Hi. I have the following problem:

I want to `cy.intercept` a call that fetches music stream in order to confirm that music is actually played. Therefore, I decided to spy on a particular http call. Unfortunately, creating such interceptor hangs a call and it never fulfills. If no `cy.intercept` created, it would go well and return `200 OK`.

After 30s `cy.wait` time-outs and

[2022-10-17 14:45] s4ms00n9 commented on #14745
Since it is suggested to switch from `cy.route()` to `cy.intercept()`, it rather looks like getting rid of a feature that `cy.route()` had. I'd also like to know if this issue is going to be investigated further or it is ghoing to be dropped and I need to find a workaround for overwriting a msw response in a test.

[2022-10-17 14:48] AtofStryker commented on #24255
@freddidierRTE maybe I am missing something. What command in your terminal did you run or did you just one of the provided npm scripts to reproduce?

[2022-10-17 14:54] AtofStryker commented on #23830
@mmonteiroc would you be able to recreate in azure devops pipeline and invite us to the project to see the behavior? I can see if I can get a reproduction running in actions later today, but azure devops is a bit difficult for us to work with since it isn't exactly open source.

[2022-10-17 15:25] freddidierRTE commented on #24255
Starting from the root of your github repository :

**Test 1 :**
In the shell :
[code]
Launch test via UI

![image](https://user-images.githubusercontent.com/58251627/196217006-ac756292-4712-47ea-b9d5-45bbad85ac8c.png)

--> works as intended

**Test 2 :**
In the shell
[code]
Launch test via UI
--> It freezes

![image](https://user-images.githubusercontent.com/58251627/196217441-cd9b9a52-e436-4909-

[2022-10-17 16:05] alecmestroni commented on #24182
@warrensplayer Some news?

[2022-10-17 16:12] sathismr commented on #24156
Hi @apatel0708 , Could you please elaborate how did you fix this? Thanks!

[2022-10-17 16:27] mjhenkes commented on #21492
We don't think this is breaking so remove the condition and the comment.

[2022-10-17 16:46] #24094 closed, assigned to nobody

[2022-10-17 16:46] mjhenkes commented on #24094
Closing in favor of: https://github.com/cypress-io/cypress/issues/24274
https://github.com/cypress-io/cypress/issues/24275

[2022-10-17 17:25] CoryDanielson commented on #23391
@chrisbreamewoodmac you may want to start a new issue for your crash. It sounds different.

The issue at the root of this thread is specific to Chrome 103 up to the current versions. Some have worked around the issue by running an older version of Chrome for their tests.

https://github.com/cypress-io/cypress/issues/23391#issuecomment-1246700332

-----

I just updated to Chrome 106 today, and it's

[2022-10-17 17:30] Aditya-AT commented on #23958
@jpatil14 I am facing similar issue with the login, even I am using SOAP API for getting the session id, the issue seems to be due to multiple redirects (not sure about it), but has anyone found a fix/workaround for it?

[2022-10-17 18:09] vivshaw commented on #24269
[This same failure](https://github.com/cypress-io/cypress/issues/24269#issuecomment-1280902466) randomly started happening to us too last Friday. I don't have a minimal repro. But I do know it appeared to start happening around the time that CircleCI bumped the Chrome version in CI, and we made no changes to Cypress tests nor any version bumps at the time it happened.

[2022-10-17 19:23] Amitkahlon commented on #23679
Hi, yeah..
you can take it if you want

[2022-10-17 19:54] turt2live commented on #23937
Unfortuantely I haven't been able to come up with a smaller reproduction case, though our application's use of localStorage and IndexedDB appear to be causing problems, somehow. Removing *some* of the idb or localstorage code resolves the issue, at least.

Is there potentially something in there which sets off a lightbulb around origins?

[2022-10-17 20:58] AtofStryker commented on #23937
@turt2live nothing off the top of my head, but I wonder if it could be something related to us trying to clear localStorage too quickly when the AUT hasn't navigated. Does it happen every single time for you or intermittently?

[2022-10-17 21:46] turt2live commented on #23937
Very nearly 100% of the time when we set specific keys related to authentication in our app, but only about 10-15% when *not* setting those keys (but the tests fail anyways).

Is there a way we could quickly test the navigation timing within the context of our app? Somewhat worth noting that our CI (Linux) *appears* to be fine, which has concerns about platform or machine dependence.

[2022-10-17 21:53] jeanabanto commented on #2367
Any update on this? I am also getting stuck on the winter '23 loading page. Everything was working fine until recent release.

[2022-10-17 21:58] tit commented on #2367
@jeanabanto It is global problem (see https://github.com/cypress-io/cypress/issues/23958).
So far, no one has managed to find a working solution...

[2022-10-17 22:57] jordanpowell88 commented on #22976
@w0wka91 Go for it!

[2022-10-17 23:00] laurence-myers commented on #19326
This is a problem for Single Page Applications. For example, in a Vue app that makes GraphQL requests using Apollo, navigating to different page will cancel any requests in progress.

If the tests are written as full E2E tests, hitting a real API and database, and each test clears & seeds data in the database, you might start to see intermittent database deadlocks. This is because some GraphQL que

[2022-10-17 23:00] jordanpowell88 commented on #23677
At the moment instead of passing a `projectName` as part of the options API, you can just pass in the specific config https://docs.cypress.io/guides/component-testing/component-framework-configuration#Options-API

With that being said we certainly "could" source the correct config from the `angular.json` using the `projectName`, but not sure what advantage this gives you over passing the config di

[2022-10-17 23:00] poponuts commented on #23958
This is a blocker for most Salesforce tests. Once Salesforce roll out the latest Winter 23 across all environments then everyone using Cypress for Salesforce tests will be failing. Can the Cypress team prioritise this? Thanks.

[2022-10-17 23:45] warrensplayer commented on #24227
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-18 00:07] warrensplayer commented on #24195
@brentsharon @audriusnavickasDB @radekBednarik Are any of you able to provide a reproduction project to help recreate the issue?  I am not able to reproduce the problem.  Can you also confirm if you are on Firefox v105.0.3?

If you could also provide the debug logs using `DEBUG=cypress:network:connect,cypress:server:browsers:firefox-util,cypress:server:browsers:browser-cri-client`, then that would

[2022-10-18 01:22] #21472 closed

[2022-10-18 02:22] regulas1 opened #24283 "Adding how to perform code coverage in cypress directories in the documentation"
### What would you like?

Since Cypress uses mocha having the code coverage helps the contributors know what unit tests are missing.

One way of performing this is adding nyc to the dependencies but I think that would be a significant feature request which I can raise another time.

However if we add the nyc package globally in the local machine and add the generated nyc report files in .gitignore

[2022-10-18 02:38] mschile commented on #24283
Hi @regulas1, thanks for opening this request. Have you taken a look at our existing [code coverage plugin](https://github.com/cypress-io/code-coverage) and [docmentation](https://docs.cypress.io/guides/tooling/code-coverage#What-you-ll-learn)?

[2022-10-18 03:42] regulas1 commented on #24283
@mschile  apologies for not writing the request correctly. My question is that can we check the code coverage within cypress package ?

For instance finding the code coverage in https://github.com/cypress-io/cypress/tree/develop/cli within cypress, that is my proposed use case.

As a new contributor i want to start with unit tests to get used to the system

[2022-10-18 04:09] Hangochung81 commented on #15355
I have the same issue. Seem it happen when application uses SSE. Some more info to fix it? Thank a lot

[2022-10-18 04:10] Hangochung81 commented on #14924
I have the same issue. Seem it happen when application uses SSE. Some more info to fix it? Thank a lot

[2022-10-18 04:43] Hangochung81 opened #24284 "Cypress can not work with SSE"
### Current behavior

![image](https://user-images.githubusercontent.com/15241683/196336596-4dd473ab-e96a-408c-b784-6bfa68bf5e5e.png)

Cypress can't load a list (list use SSE method). And header of Cypress is removed "origin".

### Desired behavior

_No response_

### Test code to reproduce

Use Cypress navigate to: **https://console.metaaccess-b.opswat.com/inventory/devices/all**  to reproduce

#

[2022-10-18 05:56] audriusnavickasDB commented on #24195
@warrensplayer Well the case I'm experiencing is reproducible here in separate ticket: https://github.com/cypress-io/cypress/issues/24236

[2022-10-18 06:09] GrayedFox commented on #8873
I wanted to share a custom command here which (somewhat) works around this issue, since we are still waiting on a fix.

This custom command will allow you to pass in a parent and child subject (useful if using static selector objects, highly recommend Anton's excellent [cypress selectors](https://github.com/anton-kravchenko/cypress-selectors) plugin for doing exactly this) - in my case I wanted to

[2022-10-18 07:29] w0wka91 commented on #23677
For me it feels unnecessary to duplicate the config which is already available within tha `angular.json`. If we have workspaces with multiple projects and libs we just end up in a verbose configuration.
I think the user should only have to pass the config directly if it differs from the config which is specified within the `angular.json`.

[2022-10-18 07:32] Hypenate opened #24287 "Misleading error mesage when redirecting"
### Current behavior

We have redirect to Auth0, which has a statuscode of **302** (redirect), and the error cypress shows is:
The response we received from your web server was:

  This was considered a failure because the status code was not `2xx`.

### Desired behavior

The output should match the actual response of the web server.

### Test code to reproduce

Go to a page
Redirect to another pa

[2022-10-18 07:40] Marcelinna commented on #22459
I have the same problem v10.10.0

[2022-10-18 08:15] Dan5123 commented on #24199
Hello @AtofStryker  I strongly believe this behaviour has something to do with limited network permissions in the company laptop and proxy settings, because I was not able to reproduce the same error in personal laptop.

I would like to close this issue (or leave it open) if it does not get solve by dev ops team I will come back and open this issue again here.

[2022-10-18 08:29] io-sar commented on #23937
@turt2live @AtofStryker , I dont know if it helps, but wanted to point again that in my case the tests are failing on chrome based browsers. Runnig the tests on Firefox works well (nearly 100% of the time). I am not sure if ff works differently with the localStorage

@turt2live have you tried to run your failing tests with firefox ?

[2022-10-18 09:17] adyz commented on #24224
Same here and it looks like there is no way to install an older version.

[2022-10-18 09:38] YPD-HG opened #24288 "Cypress freezes after couple of seconds"
### Current behavior

I type `npx cypress open `, cypress opens, after about 40 seconds, the cypress freezes, stops responding, can't click anything, totally non responsive, had to use force quit to quit.
Have tried clearing the cache and re-installing the cypress and not able to find solution.
Please help.

### Desired behavior

Cypress should not freeze

### Test code to reproduce

---no code---

[2022-10-18 10:53] Tathos20 commented on #23391
Upgrading to cypress 10.10.0 made things worse!
Electron and Chrome is constantly crashing with out of memory.
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/114226068/196410728-ff68c7d4-d36f-45f2-a538-101524ca1ff6.png)

[2022-10-18 11:14] usmanmustafa33 commented on #448
➕

[2022-10-18 11:21] zswati commented on #24288
Same issue with updated Cypress version

[2022-10-18 11:28] Tathos20 commented on #23391
Meanwhile Chrome usually takes about 2.5gb of memory during test execution, but when there are some heavy assertions it goes up a lot. At about 6GB it will crash.

[2022-10-18 11:42] mshavliuk commented on #2854
A shorter version of `michael1visser`'s code:
[code]

[2022-10-18 11:44] preetibellad commented on #18415
I am facing the same issue with Cypress version 10.9.0 / 10.10.0 and Firefox 105. Chrome videos are getting generated but not for Firefox run. Can we have the fix ASAP please?

[2022-10-18 12:44] warrensplayer commented on #24238
@parmarravi The stack trace for this error is pointing you in the wrong direction.  What the error message is actually complaining about is the `cy.get()` call in the custom error handler.  You are experiencing the same issue reported here: https://github.com/cypress-io/cypress/issues/1217. Cypress automatically takes a screenshot after failures.  Try to use the screenshot API documented here [on.

[2022-10-18 12:44] #24238 closed, assigned to warrensplayer

[2022-10-18 12:49] warrensplayer commented on #24177
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-18 13:48] nagash77 commented on #24166
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-18 13:48] #24166 closed, assigned to nagash77

[2022-10-18 13:48] nagash77 commented on #24219
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-18 13:48] #24219 closed, assigned to nagash77

[2022-10-18 13:48] nagash77 commented on #24220
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-18 13:48] #24220 closed, assigned to nagash77

[2022-10-18 13:53] nagash77 commented on #24287
@Hypenate Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. He

[2022-10-18 13:58] nagash77 commented on #24283
Hello @regulas1 Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [Discord server](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues)

[2022-10-18 13:58] #24283 closed, assigned to nobody

[2022-10-18 14:10] Tathos20 commented on #23391
Meanwhile Chrome usually takes about 2.5gb of memory during test execution, but when there are some heavy assertions it goes up a lot, At about 6GB it will crash.

[2022-10-18 14:16] kenobi-io commented on #24219
No I can't, I exactly need to wsl

[2022-10-18 14:31] nonkor commented on #24273
@emilyrohrbough thanks for answering!
So, I have the next situation. There is a login method wrapped under `session`. Smth like:
[code]

I have to use this user (which means sessions) in all tests in the current file. But let's say in the **test** body we have some actions that mutate the user state and make it unreliable for this test (but it's ok for leftovers). Add a product to the basket, for

[2022-10-18 14:33] code-qe commented on #19696
Hello!! Any update here?

[2022-10-18 14:34] warrensplayer commented on #24246
Right now there doesn't seem to be enough information to reproduce the problem on our end. Please provide a reliable reproduction that includes your `setupNodeEvents` code in your Cypress config as well as one test that contains the `cy.task` call that is failing.

Also, what "guide" are you referring to when you said:

Can you provide a link to that?

Please provide a reproducible example of the

[2022-10-18 14:43] marktnoonan commented on #24133
Just noting from the sync with Brian last Wednesday, we have agreed that

and that that is the plan for this ticket. It should come with warnings for Vite users.

My suggestion for the vite warnings is to use our existing alert pattern in the app at the top of the specs list, so there’s one place to surface the error, and it’s definitely in the path of the user opening a spec. We would persist the

[2022-10-18 14:45] warrensplayer commented on #24284
@Hangochung81 Cypress should support server side events (SSE).  Can you please provide a small reproduction repo that shows this problem?  I am not able to access the URL provided because it is behind a log in.

Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it.

Here are some tips for providing a [Short, Self Contained, Correct, Example

[2022-10-18 15:09] BrianIto commented on #24288
Same here, not even a possibility of finding out what is going on.

[2022-10-18 15:25] perlo27 commented on #23679
i have a fix ready, just can't push the branch - have 403 when pushing. @emilyrohrbough could you please help me with it?

[2022-10-18 16:23] turt2live commented on #23937
I can't get Firefox to run at all, though I've also possibly been experiencing an environmental issue this whole time. Turns out the tests run perfectly fine in a fresh Windows VM, but not on my local machine.

The hunt continues...

[2022-10-18 16:23] warrensplayer commented on #24182
@alecmestroni Thanks for the update.  I will take another look at this today.

[2022-10-18 16:24] ZachJW34 commented on #24133
@marktnoonan for run mode, is the warning always displayed or displayed only once? When do we stop showing the warning?

[2022-10-18 16:35] cliftonsimsiii commented on #21936
Is there any update on this? I'm facing the same issue when using `.selectFile` with images between tests.

[2022-10-18 16:49] BlueWinds commented on #21936
Not something I've had time to prioritize, since the report does suggest a relatively easy workaround. If someone wants to look into it and submit a PR, I'd be happy to review though.

[2022-10-18 17:01] nagash77 opened #24290 "Investigate Salesforce API logins being broken"
We want to look into several tickets involving Salesforce API authentication being broken by the latest Winter 22 release.

https://github.com/cypress-io/cypress/issues/23958, https://github.com/cypress-io/cypress/issues/24303

An older ticket that is still open - https://github.com/cypress-io/cypress/issues/2367

Also appears to impact Salesforce applications prior to login: https://github.com/cy

[2022-10-18 17:09] AtofStryker commented on #24269
Hi @NikitaSheff . Thank you for opening an issue. I put your test case inside this [reproduction repository](https://github.com/AtofStryker/cypress-issue-24269) and ran with both MacOS and Windows 10 with Chrome 106 and Node 18.11.0. Unfortunately I wasn't able to reproduce the issue. Are you on a corporate managed device or have you tried running the process as administrator?

[2022-10-18 17:15] AtofStryker commented on #23391
I have been able to reproduce in chrome 106 but it has been incredibly intermittent and takes some time with the 500+ test cases/visit. Running the profiler doesn't show an increase in memory usage over time, but I need to also measure the process

[2022-10-18 17:48] #21806 closed

[2022-10-18 17:56] chrislacey89 commented on #23733
@chrisbreiding @saldanaj27 I ran into this same problem when trying to use Okta login. Per Chris' suggestion, I recreated the issue here:
https://github.com/chrislacey89/cypressOktaBug. Can we reopen this issue?

[2022-10-18 18:18] cliftonsimsiii commented on #21936
Understood. What is the workaround? Or where might I be able to find it?

[2022-10-18 18:20] BlueWinds commented on #21936
From the opening post in this issue:

[code]

Specifying the file name explicitly always works.

[2022-10-18 18:28] Ralkage commented on #24242
@AtofStryker

Our application is built into an OVA, so it's mostly on-prem.

Do you need access to just the Cypress project we built to run e2e against our application?

[2022-10-18 18:56] bvandercar-vt opened #24292 "Need way to get list of existing aliases / intercepts"
### What would you like?

Would like a way of getting existing aliases  / intercepts in order to check if an alias already exists or not, since `cy.get(@alias)` throws an error on an alias that doesn't exist.

### Why is this needed?

Need access to list of intercept aliases

### Other

related question: https://github.com/cypress-io/cypress/discussions/24289

[2022-10-18 18:57] chrisbreiding opened #24293 "Remove need for Cypress.require and support dynamic import"

[2022-10-18 19:32] AtofStryker commented on #24290
I created a reprod which is heavily based on some of the users provided reproductions [here](https://github.com/AtofStryker/cypress-issue-23958). I can provide the credentials if needed. I investigated for a bit and it looks like the `markup://search_lightning:store` is missing from the config options, but is present when functioning normally as top
![Screen Shot 2022-10-18 at 3 25 34 PM](https://

[2022-10-18 19:34] AtofStryker commented on #24242
@Ralkage it doesn't have to be your application. Just an example of the commands failing to run from dragging and dropping . Would you be able to do that with [cypress-tiny-test](https://github.com/cypress-io/cypress-test-tiny) repo for a reproduction?

[2022-10-18 20:52] #24293 closed, assigned to chrisbreiding

[2022-10-18 21:21] lokriet commented on #8560
+1

[2022-10-18 21:27] git-randy commented on #24224
I followed the README and installed @cypress/xpath
Then I added `require(@cypress/xpath)` in my `cypress/support/e2e.js` support file

I get error `Module not found: Error: Can't resolve '@cypress/xpath' in /path/to/cypress/support`

I have this in my package.json
`{
  "devDependencies": {
    "@cypress/xpath": "^2.0.2",
    "cypress": "^10.10.0"
  }
}`

[2022-10-18 21:38] #23531 closed

[2022-10-18 21:43] AtofStryker commented on #22670
@ganeshac123 With the implementation of #23531 & #23643 this should unblock the epic login issues to the point where it gets passed "cookies are disabled" and should be in the release next week for Cypress `10.11.0`

[2022-10-18 22:25] kryshenp opened #24297 "Cypress began to inject additional markup into the downloaded csv, tsv & txt files (after v. 10.9.0)"
### Current behavior

Downloaded or opened in the new tab csv, tsv or txt file contains a very long markup code before the actual content of the file, for example
[code]
|column_name |table_name | value_type | encoding_id | ordaunits | notes |
|:-------------------|:-------------|:-----:|:-----:|:-----:|:--------------------------------------------------------------|
|ins_index|deatch|11|0|1|A num

[2022-10-18 22:41] Jenson3210 opened #24298 "10.10.0 introduced issues with self signed certificates in chain for connection with dashboard api."
### Current behavior

We're seeing this on connection to dashboard api.
We have self signed corporate certificates in between.
In 10.10.0 I get
[code]

Also `https.get('https://api.cypress.io/', res => console.log(res.statusCode))` works (I get same 404 as browser) via regular node terminal (added company certificates through NODE_EXTRA_CA_CERTS env variable)

When our vpn is disabled (hence no ma

[2022-10-18 22:41] kryshenp commented on #24297
My issue looks quite similar to this unanswered issue:
https://stackoverflow.com/questions/70956204/csv-file-downloaded-with-cypress-has-additional-markup-in-it

[2022-10-18 23:04] ifoster-21 opened #24299 "ProjectConfigManager error watching config files"
### Current behavior

I have an installation of cypress running correctly on my local system. I have copied the folder containing all the cypress files onto a network path where I have the source code repository (our company defaults to having source code cloned out to a network file instead of the local computer.)

When I copy the cypress directory across, run 'npm install' to update the node_mod

[2022-10-19 02:31] Hangochung81 commented on #24284
This is the account which you can use to login to reproduce:

email: ysi24762@zwoho.com
password: P@ssw0rd@123

OR the script for reproduce:

[code]

Please have me check, thank you a lot.

[2022-10-19 04:34] ganeshac123 commented on #22670
Thanks for the update, please let me know once the issue resolved.

On Wed, Oct 19, 2022 at 3:14 AM Bill Glesias ***@***.***>
wrote:

[2022-10-19 05:14] tusharbmc commented on #21135
Thanks @Jaroslav004, after long time reading a positive post! Could you please share Cypress, Chrome version and machine configuration where your run the tests? Is it a parallel run?

[2022-10-19 07:28] distante opened #24300 "mount is not defined on Cypress types"
### Current behavior

On a Angular/Typescript project, Typescript compiling will fail with this error:

![image](https://user-images.githubusercontent.com/5490201/196624461-f7cf917b-1a02-401a-a3a0-3338605ceb0a.png)

### Desired behavior

`cy.mount` should have a type definition

### Test code to reproduce

[code]

### Cypress Version

10.10.0

### Node version

16.15.1

### Operating System

macOS

[2022-10-19 07:46] distante commented on #24300
My bad, inside an NX project I have to initialize things and import mount from `cypress/angular`

[2022-10-19 07:46] #24300 closed, assigned to nobody

[2022-10-19 07:55] FilipKelemen commented on #20420
Solved it downgrading to cypress 7.7.0 for tests using cy.writeFile

[2022-10-19 07:58] martinneumann commented on #24227
I have a similar issue and will try to reproduce it tonight. I will update this post and let you know.

[2022-10-19 08:09] hebaibrahim76 opened #24301 "Coverage for Unit test is showing red line"
### Current behavior

I forked the following repo https://github.com/bahmutov/demo-battery-api, in order to check the coverage for unit tests,
Here's my fork https://github.com/hebaibrahim76/demo-battery-api/tree/coverage-step
I checked out to the branch called coverage-step
In that branch I updated cypress version to 10.10.0 and let cypress do all the necessary configuration migration

After I ra

[2022-10-19 08:20] mmonteiroc commented on #23830
Not sure I can invite you ( as we are corporate, and thats IT department.... )
But I can run in our DevOps pipeline any command you want with any cypress version you want, and then provide you the raw output logs
Would that be helpful @AtofStryker  ?

[2022-10-19 08:23] MateuszKobiera opened #24302 "Error printed to CSV with flag experimentalSessionAndOrigin on 10.10.0"
### Current behavior

I am testing downloading and editing csv in one test and in a new test I wanted to do some POST request on different domain, so I turn on flag experimentalSessionAndOrigin and then in test with csv I have printed error inside csv.
Without this flag everything works fine.
In this csv there are mentioned flags modifyObstructiveThirdPartyCode and modifyObstructiveCode.
I turn ba

[2022-10-19 08:31] alexanderg1982 opened #24303 "Starting from Salesforce Winter 23 testing community sites fails in chromium, works in firefox"
### Current behavior

Starting Winter 23 release experience cloud sites not loading correctly in chromium based browsers (electron 106, chrome 105, edge 105), working correctly in firefox 105.
The simple page is https://alexdebug-moj.cs88.force.com/s/mytest which includes simple html "Use this HTML Editor to add your own markup."

### Desired behavior

Load correctly the page

### Test code to rep

[2022-10-19 09:59] Giacomo-Papaluca opened #24305 "Test alternatively succeeds and fails in WebKit"
### Current behavior

I have a simple test that I want to execute and it alternatively switches from a success to a fail with error `expecting an array or an iterable object but got [object Null]` as you can see in the screenshots.

1st run success:
<img width="432" alt="Schermata 2022-10-19 alle 11 46 08" src="https://user-images.githubusercontent.com/18098347/196657819-d8c50677-dcf7-474f-ad1d-15

[2022-10-19 10:03] Ernst-D opened #24306 "Cypress reloads browser after sleep mode"
### Current behavior

After upgrading to Cypress 10 - I've started noticing that when you woke machine from sleep (Windows or macOS) - it restarts Cypress.

Is that a valid behaviour? Could it be turned off? I can restart my tests by my own and this "feature" is pretty annoying.

### Desired behavior

Cypress SHOULD NOT reload browser after machine wakes from sleep or this "feature" can be configu

[2022-10-19 11:58] gyurielf commented on #2752
I spent a lot of time to resolve and I ended up on same. :)...Thanks.

[2022-10-19 11:58] gyurielf commented on #2752
I spent a lot of time to resolve and I ended up on same. :)...Thanks.

[2022-10-19 12:46] jrockefeller opened #24307 "v10.10.0 testIsolation = legacy is clearing page on cy.session"
### Current behavior

See the following unexpected behavior when using testIsolation: legacy.
The provided simple code examples showcase the issue.

**Use case**: The page stays open and multiple it() can be run. This is useful for a multistep wizard UI.
**Requirements**: need to keep session data to complete the last it()

[code]
![image](https://user-images.githubusercontent.com/16764966/1966944

[2022-10-19 13:01] nagash77 commented on #24270
@fabianhijlkema can you confirm it is a typo in your node version?  I assume you mean 18.19.2

[2022-10-19 13:07] nagash77 commented on #24305
@Giacomo-Papaluca Can you please include the code for the landing page and its redirection logic or provide a link to a github repo with a reproducible example?

[2022-10-19 13:24] idanElitzur opened #24308 "Can't read incoming emails by nodemailer and ethereal accounts with Cypress v10x"
### Current behavior

I've tried to do it according @bahmutov  [blog guide ](https://www.cypress.io/blog/2021/05/24/full-testing-of-html-emails-using-ethereal-accounts/)but it always receive undefined from the `getLastEmail()`.
I'm sending the email by some other script and saw it's sent, also the temporary email account is crated too.
What I missing over there? 🤔

**Error:**
[code]

### Desired b

[2022-10-19 13:39] nagash77 commented on #24221
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-19 13:39] #24221 closed, assigned to nagash77

[2022-10-19 13:41] mjpoo commented on #6350
There is a good solution that worked for me (Angular 13, AngularFire 7, Firebase 9, Cypress 10) at https://stackoverflow.com/a/73854687/381124

[2022-10-19 13:42] fabianhijlkema commented on #24270
Sorry, that was NPM version. Node version 18.11.0.

[2022-10-19 14:26] Giacomo-Papaluca commented on #24305
The repository is private and I don't really know if I have the permission to give the code right now, I will ask and let you know. Anyway I don't think it is really linked to the code It feels like the execution of one test compromises the next execution. I noticed a curious pattern that seemed interesting to me and maybe is useful to share.

Premise: every test succeeds on other browsers like ch

[2022-10-19 14:30] Pestigirioso commented on #20289
Hi! I'm having a similar issue.
The request I'm sending is like follows:

[code]
And it fails:
[code]
And the status code from the response is 404.

When I try to set the host header as follows:

[code]

The log from Cypress was:
[code]
And again, a response with 404. What I can see in the previous response, is that Cypress is not sending the host header, even when I manually set it. I tried testi

[2022-10-19 14:30] AtofStryker commented on #22670
@ganeshac123 it should be resolved with Tuesday's release. I am hoping you can download Cypress 10.11.0 at that time and confirm the issue is resolved for you.

[2022-10-19 14:42] emilyrohrbough opened #24311 "Make session setup function required"

[2022-10-19 14:46] warrensplayer commented on #24182
@alecmestroni I have not been able to reproduce your issue. For me, it is showing the fake video on both Mac and Windows. Attached is the video from my Windows run using the `npx cypress run --e2e -b chrome` command that Cypress outputs to the `.\cypress\videos` directory in your project.   Can you confirm what version of Chrome you are using and can you share your `cypress.config.js` file?

Here

[2022-10-19 14:54] extracker-ppetrov commented on #21135
10.7.0 is still the most stable version for me for now. It is crashing too when a test fails and has to retry 2-3 times, but still at least the tests that pass are not being interrupted by crashes.
10.10.0 crashed even in headless mode.

[2022-10-19 14:57] just-hugo commented on #23590
Just wanted to drop a comment to say that this is my single number one issue working with Cypress, and it affects me every single day. It would massively improve workflow and ease of use to have this fixed in Cypress, rather than having to find a workaround.

[2022-10-19 15:06] gigamesh commented on #7809
@jennifer-shehane I'm also grappling with `click` being flaky. Something I don't understand: If you recommend that pipe method explained in the blog post, why isn't it built into cypress? It seems strange that an external library and a custom `click` is needed just to get cypress's `click` to work as expected.

[2022-10-19 15:29] warrensplayer commented on #24120
@Sporradik The parameter for the `expect(...).to.have.thrown(<here>)` can be `undefined`, an object, or a string.  For your original test above, passing in `Error` is asking the assertion to check that it threw that specific object instance, which it is not.  Instead, you can pass in the string `'Error'` to assert that it throws an error of type `Error`.  Below are a few other examples to look at.

[2022-10-19 15:29] #24120 closed, assigned to warrensplayer

[2022-10-19 15:45] AtofStryker commented on #23830
@mmonteiroc That could be pretty difficult. Likely what I will do is take a stab at github actions with a similar docker approach mentioned above to see if I can get a reliable reproduction

[2022-10-19 15:52] AtofStryker commented on #24307
Hi @jrockefeller. Thank you for opening an issue. I threw together a quick [reproduction](https://github.com/AtofStryker/cypress-issue-24307) to validate the behavior. I was able to reproduce the behavior you were describing, but I do not think it's a bug which I think is better described in https://github.com/cypress-io/cypress/issues/24014#issuecomment-1260983078. However, I think this will be a

[2022-10-19 16:08] mikewolfd commented on #24195
I also see this issue on 105.0.3 in headless mode in our CICD and locally using 10.10.0. Wiped everything locally including the Application Support data for both applications.

[2022-10-19 16:09] lucasdonato commented on #24305
I have the same problem

[2022-10-19 16:27] paul-hammant commented on #18387
I'm getting this too with v10.10.0.  I can find the date picker, and seeming type into it, but nothing it in changes.  The cypress script continues just fine to the next step.

If we deliver a smallest-possible-reproduction to GitHub, would the maintainers be pleased?

[2022-10-19 17:16] knutmarius commented on #19488
Same issue on v10.3.1 with GitLab. Video stops around 17 sec.

[2022-10-19 17:36] nagash77 commented on #24301
Hi @hebaibrahim76 , this seems to be an issue with your 3rd party plugin.  You should file an issue in this repo  https://github.com/bahmutov/demo-battery-api.

[2022-10-19 17:36] #24301 closed, assigned to nobody

[2022-10-19 17:38] jrockefeller commented on #24307
perfect.
The best of both worlds in that case

[2022-10-19 17:53] chekobil opened #24314 "Cypress 10.10 not working in macOS 10.12.6, requires at least 10.13"
### Current behavior

If the installation is made through `npm` you get version 10.10, the Cypress.app installed with latest version updates Electron.framework to v21 that requires at least macOS 10.13, so the app is not compatible and running `npx cypress open` crashes.
Documentation says that Cypress is compatible from macOS 10.9

### Desired behavior

Installation shows a compatibility error

#

[2022-10-19 18:01] wctiger commented on #23391
Not sure if this helps isolate the root cause. I am running an older version of Cypress (v6.4.0) with Chrome 105 in headed mode and I can reproduce the crash consistently. Meanwhile I don't see the same failures when running headless.

[2022-10-19 18:17] #22874 closed

[2022-10-19 18:17] #23967 closed, assigned to mjhenkes

[2022-10-19 18:27] nagash77 commented on #24288
potentially related to #24270

[2022-10-19 18:46] MauricioRobinson opened #24315 "Cypress 10.10.0 not working on Windows 10."
### Current behavior

Npm gets freeze while downloading Cypress.

### **How to reproduce it?**
On windows 10 22H1
`npm i -D cypress`

This is tyhe last package downloaded where npm gets freeze.
`reify:rxjs: timing reifyNode:node_modules/cypress Completed in 7655ms `

### Debug logs

[code]

### Cypress Version

10.10.0

### Node version

16.13.1

### Package Manager

npm

### Package Manager Versi

[2022-10-19 18:56] MykolaKozub commented on #1266
i use this simple solution to create and stub all responses:

[code]

[2022-10-19 19:15] danielvianna commented on #23830
@AtofStryker I have a similar issue, how can I invite you to a private project?

[2022-10-19 19:20] iravella commented on #24314
macOS 11.7, npm installation.

[code]

[2022-10-19 19:47] Incarnation commented on #23830
I am running cypress v10.10.0 upgraded from v10.6.0 and found out the runtime increase from 15 min to 30 min for my tests
using Buildkite pipeline and docker container
running node 16
browser electron

[2022-10-19 20:04] warrensplayer commented on #24093
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-19 20:12] warrensplayer commented on #24096
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-19 20:12] #24096 closed, assigned to warrensplayer

[2022-10-19 20:12] warrensplayer commented on #24200
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-19 20:12] #24200 closed, assigned to warrensplayer

[2022-10-19 20:14] warrensplayer commented on #24226
@elio-maggini I hope you have been able to make some progress.  I am closing this issue, but please open a new issue if needed.

[2022-10-19 20:14] #24226 closed, assigned to warrensplayer

[2022-10-19 20:14] warrensplayer commented on #24130
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-19 20:14] #24130 closed, assigned to warrensplayer

[2022-10-19 20:21] warrensplayer commented on #24288
@YPD-HG You indicated node version 8.15.0, I am guessing that is the version of `npm` you are using. Can you confirm the node version?

@YPD-HG @zswati @BrianIto Can any of you provide a screen recording of what is happening?  Also, can you run with debug logs turned on and supply those as well?  https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs

[2022-10-19 20:22] warrensplayer commented on #24270
@fabianhijlkema Are you able to send a screen recording of what is happening?

[2022-10-19 20:29] elio-maggini commented on #24226
Thanks. We made some progress but not sufficient.

There are enough challenges with the approach that our end result is to
continue to use E2e testing via Cypress Studio with fixtures to generate
"feature tests".

---

On 2022-10-19 16:14, Stokes Player wrote:

Links:
------
[1] https://github.com/cypress-io/cypress/issues/24226
[2] https://github.com/cypress-io/cypress/issues/24226#event-76250046

[2022-10-19 21:12] AtofStryker commented on #24255
interesting. I gave this a go and wasn't able to get this to freeze but it did crash on me every time I tried to run `./node_modules/.bin/cypress open &`

[2022-10-19 21:21] zswati commented on #24288
https://user-images.githubusercontent.com/20716175/196806811-12d59650-11d4-4d01-9bc1-1e982c7611e6.mov

@warrensplayer attaching video for reference

[2022-10-19 21:25] zswati commented on #24288
https://user-images.githubusercontent.com/20716175/196807628-7298dc43-0e4f-4ba2-a5c0-2e0ec4361b9a.mov

[2022-10-19 21:32] rachelruderman commented on #15724
Hi @kel-si, are you still interested in picking up this ticket? If not we'll assign it elsewhere :)

[2022-10-19 21:53] AtofStryker commented on #24297
Hi @kryshenp . Thank you for opening an issue. I am working on putting together a reproduction repository [here](https://github.com/AtofStryker/cypress-issue-24297) but am unable to reproduce the issue. are you downloading CSV's inside the origin command and would you mind helping me fill in the blanks to get this repo to be reproducible? It sounds like a bug with the injection logic, which with a

[2022-10-19 21:54] AtofStryker commented on #23830
@danielvianna if its a github repo, you can invite my username to the organization/repo

[2022-10-19 22:04] AtofStryker commented on #24278
Hi @damian-nrj . Thank you for opening an issue. I was able to reproduce the behavior you were describing in this [reproduction repository](https://github.com/AtofStryker/cypress-issue-24278). Like your comment describes, the fetch request just seems to hang and the intercept never seems to get called.

![Screen Shot 2022-10-19 at 6 00 02 PM](https://user-images.githubusercontent.com/3980464/19681

[2022-10-19 22:05] danielvianna commented on #23830
@AtofStryker  It's a private gitlab repository using gitlab CI/CD, is that doable?

[2022-10-19 22:07] AtofStryker commented on #23830
@danielvianna that should work. My gitlab user profile is [here](https://gitlab.com/AtofStryker).

[2022-10-19 22:13] warrensplayer commented on #24272
What is working for me is to use relative paths for the images in the SCSS files.

So `app.component.scss` looks like:
[code]

And `_icon.scss` looks like:
[code]

See if those changes work for you as well.

[2022-10-19 23:37] tomtdigital commented on #7306
I had issues with detachment when new inputs rendered according to a given select choice. Following the choice, there was a microsecond of window where the errors occurred. Therefore, it only really happened in the CI, with no issues in browser. This fixed my issue-

`
const awaitDOMAttach = (target, callback) => {
  cy.get(target).then(($element) => {
    do {
      cy.task("log", `${target}- awa

[2022-10-19 23:43] tomtdigital commented on #7306
I had issues with detachment when new inputs rendered according to a given select choice. Following the choice, there was a microsecond window where the errors occurred. Therefore, it only really happened in the CI, with no issues in browser. I found this to be a reliable workaround-

[code]
Another alternative might be to use setInterval/setTimeout instead, so there would be e.g. a 10 second tole

[2022-10-20 00:32] rebeccarothschild commented on #24227
I'm working on reproducing it as well.

[2022-10-20 02:15] 787681277 commented on #24177
Reproduced code:
  it('button-click', () => {
    cy.mount(`<button type="button">Click Me!</button>`, {
      declarations: [],
      imports:[]
    });

    const buttonClick = '#root0 > button';
    cy.get(buttonClick).click();
    cy.matchImageSnapshot('buttonClick');
  })

Screenshots:
<img width="1301" alt="Screen Shot 2022-10-20 at 10 11 23" src="https://user-images.githubusercontent.com/26

[2022-10-20 02:17] ter1203 commented on #2671
I am now working on a test coverage that should check if the modal is displayed when the user location is disabled.
The problem is how to check the user location is disabled or not with Cypress. Is there anyway for that?
Or how to mock location disable status with Cypress?

[2022-10-20 04:29] YPD-HG commented on #24288
@warrensplayer , current version of npm is 8.15.0

[2022-10-20 05:34] SkyZeroZx commented on #18415
I am facing the same issue with Cypress version 10.9.0 / 10.10.0 and Chrome . Image of error
![image](https://user-images.githubusercontent.com/73321943/196864433-d56f198f-4122-4599-8411-231c130a44c9.png)

[2022-10-20 05:51] samzurcher commented on #7306
FYI: We had success using https://angular.io/api/core/TrackByFunction in our Angular application to work around this issue.

[2022-10-20 07:11] irenetang1993 opened #24319 "Wrong detect of framework & bundler when run cypress open"
### Current behavior

Q1: I am using React & vite. when I run `npx cypress open`, it detect framework is React, which is right. and detect bundler is Webpack, which should be vite.

This is package.json
[code]

This is vite.config.ts
[code]

Q2: When I run `npx cypress open --component`, it doesn't detect framework & bundler.
<img width="675" alt="image" src="https://user-images.githubusercontent.

[2022-10-20 07:13] HeneryHawk commented on #22339
Hi @rachelruderman

what is the status on this issue.
I use the plugin `cypress-visual-regression` to test canvas elements which compares screenshots of the elements. The plugin searches the screenshots within `{screenshotsFolder}/{adjustedSpecPath}/{name}.png`, but this fails via `cypress open` due to this issue.

Is there a timeline when this issue is fixed?

**Cypress version:** 10.10.0

Regard

[2022-10-20 07:31] timdavhen commented on #17265
Same here. Everything is working locally but it fails in github action. Sometimes it passes sometimes not.

[2022-10-20 07:31] inigoiparragirre opened #24320 "Add i18n support to Angular CT"
### What would you like?

We are developing a multilanguage application in Angular and we are testing with Angular CT. In angular.json this is defined in the i18n field, example:

[code]

Angular build extracts the translation and generate the rendered files for different language paths.
We need a way to define i18n inside the mounted component so we can get expectations in the different languages

[2022-10-20 08:09] alecmestroni commented on #24182
I found the problem.. That is my baseUrl

[code]

If I remove the base URL or change it with anotherone (could be fake and not reachable):
reachable
`  e2e: {
		baseUrl: 'https://github.com/cypress-io/cypress/issues/24182',
	},
`
unreachable
`  e2e: {
		baseUrl: 'https://test',
	},
`
 the webcam simulation works fine.
I need the baseUrl to be confingured for other tests, so i can't remove it
How t

[2022-10-20 08:13] chekobil commented on #24314
By the way Cypress 10.9 works fine, at least on macOS 10.12.6, because it works with Electron v19

[2022-10-20 08:33] NabeelFz commented on #22307
We encountered an unexpected internal error. Please check GitHub or open a new issue if you don't see one already with the details below:

clicking on "E2E Testing" closes the application and displays the following messages:

UNKNOWN: unknown error, watch
Error: UNKNOWN: unknown error, watch
    at FSEvent.FSWatcher._handle.onchange (node:internal/fs/watchers:204:21)

[2022-10-20 08:50] alexmm9528 commented on #24224
Hello, same issue here, Cypress version 10.10 and installing in a "clean" project, following the official tutorial

[2022-10-20 08:56] nasimjontohirov commented on #1805
Hi, for my side, worked this:
`  cy.location({ timeout: 10000 }).should(($url) => {
      expect($url).to.match(/newpage\/.+$/);`

[2022-10-20 09:22] AlexBezzubenko commented on #23677
In our case we have one project in workspace and this is an angular library. So we don't need to pass project name, we just want to run tests without creating application

[2022-10-20 09:34] cichyadam opened #24322 "Cypress E2E start and restart of test on file change often results in blank page"
### Current behavior

1. When starting test with `yarn cypress open` I often see a blank page and in my terminal I see this error message: `ERROR:ssl_client_socket_impl.cc(983)] handshake failed; returned -1, SSL error code 1, net_error -100`

2. Sometimes I manage to run my test, when I change a test file, it also results in a blank page with the same error in the terminal + I can see that the cy

[2022-10-20 09:48] yihuineng opened #24323 "abnormal view on yuque.com"
### Current behavior

abnormal view in cypress:

![image](https://user-images.githubusercontent.com/10104168/196915753-863632d9-a81e-425e-9f97-cda368a9e63e.png)

### Desired behavior

expect：
![image](https://user-images.githubusercontent.com/10104168/196915472-354d3142-f65b-48d0-8c18-45902ac22020.png)

### Test code to reproduce

describe('empty spec', () => {
  it('passes', () => {
    cy.visit(

[2022-10-20 11:16] abhidp opened #24324 "Get rid of `blockHosts` urls being displayed in the Cypress test runner"
### What would you like?

Get rid of `blockHosts` urls being displayed in the Cypress test runner

### Why is this needed?

This creates a lot of noise in the Cypress test runner and blocks important command, steps and assertion. They get lost somewhere among hundreds of unwanted third party urls which we have already blocked in the cypress config using the `blockHosts` value in `cypress.config.js

[2022-10-20 11:52] itmanagerro commented on #3382
+1 for FreeBSD

[2022-10-20 11:59] itmanagerro commented on #3382
FreeBSD 13.1 as of today:
- node-18.7.0
- yarn-node18-1.22.18
- electron19-19.0.15_1
- chromium-106.0.5249.119

[2022-10-20 13:54] steve-schreiner commented on #20813
Any news on this?  It's blocking our tests, and we run into it often.  Any workaround?  We have paid support.  Thanks

[2022-10-20 13:58] AtofStryker commented on #24302
Hi @MateuszKobiera . Thank you for opening an issue. This has to do with Cypress injecting multi domain into the CSV when it shouldn't. This is a duplicate of #24297 and going to close in favor of that issue.

[2022-10-20 13:58] #24302 closed, assigned to nobody

[2022-10-20 13:59] MateuszKobiera commented on #24302
Hi @AtofStryker Ok, thank you!

[2022-10-20 14:12] AtofStryker commented on #24303
Hi @alexanderg1982. Thank you for opening an issue. Does this issue sound similar to the one described in #23958? I was able to reproduce the error in chrome, but not in firefox as you described? Added you test case to the https://github.com/AtofStryker/cypress-issue-23958 repo as it looks related

<img width="1672" alt="Screen Shot 2022-10-20 at 10 10 02 AM" src="https://user-images.githubusercon

[2022-10-20 14:15] AtofStryker commented on #24303
related to #23958 #2367

[2022-10-20 14:18] AtofStryker commented on #24315
Hi @MauricioRobinson . Thank you for opening an issue. I am unable to reproduce the issue on Windows 10. Are you on a corporate device or behind a proxy?

[2022-10-20 14:26] danielvianna commented on #23830
@AtofStryker - invited, let me know if you need higher permission levels, we also have MS teams that we can invite for faster collaboration

[2022-10-20 14:51] solaa-kkr opened #24325 "Salesforce issues after login"
### What would you like?

Hi guys,

I'm trying to create a new script related with salesforce, but after login the cypress panel is closed. More details related this issue https://github.com/cypress-io/cypress/issues/2367

### Why is this needed?

Looks like everybody have this problem and we are trying to create new script to automate some testing related with salesforce app

### Other

_No respo

[2022-10-20 15:04] AtofStryker commented on #24297
@kryshenp @MateuszKobiera If you could, can you run your test with `DEBUG=cypress-verbose:proxy:http npx cypress open` and place the debug logs here with sensitive information omitted?

[2022-10-20 15:15] ajays01061991 opened #24326 "cy.visit(Cypress.env('baseUrl')) not able to read url from docker-compose.yml environment variable."
### Current behavior

**I am trying to read url passed in docker compose environment**
version: '3'
services:
    dev:
        image: cypress2
        build:
           context: .
           dockerfile: ./Dockerfile
        environment:
            - CYPRESS_baseUrl=https://test.com/
        volumes:
            - /reports/cucumber-htmlreport.html:/app/reports/cucumber-htmlreports.html
        std

[2022-10-20 15:41] alecmestroni opened #24327 "CYPRESS CRASH: Pattern Is too long"
### Current behavior

Cypress crash when trying to intercept a base64 url image with this error:
`
pattern is too long
TypeError: pattern is too long...
`

### Desired behavior

Cypress shouldnt crash but should complete the intercept correctly

### Test code to reproduce

Code:
[code]

also tried in this way but same error occurred
[code]
The base64.replaced.json is the base64 of the file attache

[2022-10-20 15:44] marktnoonan commented on #22505
We have a ticket in progress that's related to this, that seems like it would allow this to work more like number 3, if I'm reading everything correctly, that would make this start to behave a bit more intuitively: https://github.com/cypress-io/cypress/issues/24133

[2022-10-20 17:11] intellix commented on #7362
all this needs is an improvement in the runner UI like a button/area to filter what appears there or perhaps just the ability to 1-line them so you can at least see what's going on. We're running a dev server with a websocket and it's absolutely spammed with nothing and I can't see any tests whatsoever.

A single graphql API call takes up 100% of the height of the sidebar

[2022-10-20 17:15] AtofStryker commented on #24297
Actually got a working reproduction [here](https://github.com/AtofStryker/cypress-issue-24297). I think this is the suspected area of code https://github.com/cypress-io/cypress/blob/develop/packages/proxy/lib/http/response-middleware.ts#L97. Likely needs to be fixed to check html like mime types over not javascript 😅

[2022-10-20 17:16] AtofStryker commented on #24297
the injection type here should NOT be `fullCrossOrigin` and instead `false`
<img width="1384" alt="Screen Shot 2022-10-20 at 12 25 31 PM" src="https://user-images.githubusercontent.com/3980464/197015404-baf65b81-828a-48ef-8221-4973f807dbb3.png">

[2022-10-20 17:37] kryshenp commented on #24297
Hi @AtofStryker, thanks for reply.
Here is my output:
[code]

[2022-10-20 17:38] kryshenp commented on #24297
Yeah, I see the "fullCrossOrigin" in my output.

[2022-10-20 17:51] lucho2819 commented on #4856
31
assertexpected <button#0-menu.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base.btn-actions> to be visible
AssertionError
Timed out retrying after 30000ms: expected '<button#0-menu.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base.btn-actions>' to be 'visible'

This element <button#0-menu.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base.btn-actions> is

[2022-10-20 17:52] AtofStryker commented on #24297
@kryshenp looks like it is injection on `text/plain`, which doesn't seem right. Thank you for sending those over!

[2022-10-20 17:52] lucho2819 commented on #4856
![image](https://user-images.githubusercontent.com/113719144/197022243-925633f2-e8a3-421a-9d50-f508a59d2faa.png)

[2022-10-20 17:53] nagash77 commented on #24325
@solaa-kkr as you mentioned this issue has been entered previously.  Please feel free to follow this ticket https://github.com/cypress-io/cypress/issues/24290 for updates.  Closing this issue as a duplicate.

[2022-10-20 17:53] #24325 closed, assigned to nobody

[2022-10-20 17:54] AtofStryker commented on #24325
related to #2367 #23958, #24303 and #24290

[2022-10-20 17:57] nagash77 commented on #24303
this parent ticket will track our work - https://github.com/cypress-io/cypress/issues/24290.  Closing this issue as a duplicate.

[2022-10-20 17:57] #24303 closed, assigned to nobody

[2022-10-20 18:12] nagash77 commented on #24322
@cichyadam I'm sorry you are having issues with Cypress. Unfortunately we will need a replication in order to investigate further.  Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of th

[2022-10-20 18:17] nagash77 commented on #24314
@chekobil Thank you for pointing out where our documentation needs updating.  The upgrade for electron is required for Cypress 10.10 as it contains changes that fixed firefox regressions that the electron team introduced.  I am closing this issue and will be opening an issue with our documentation team to update our supported OS versions.

[2022-10-20 18:17] #24314 closed, assigned to nobody

[2022-10-20 18:19] nagash77 commented on #24327
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-20 18:22] nagash77 commented on #24326
Hi @ajays01061991 Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encounte

[2022-10-20 20:49] ryanthemanuel commented on #22985
Closed with https://github.com/cypress-io/cypress/pull/24170

[2022-10-20 20:49] #22985 closed

[2022-10-20 21:03] rachelruderman commented on #22339
Hi @HeneryHawk and @joergplewe, I'm sorry you're experiencing failures due to this bug 😞 Currently this issue is not slated to be worked on by the internal Cypress team. However if this becomes a larger issue for the community we can definitely re-evaluate and escalate. While the Cypress team does not have the bandwidth to address every issue, we always welcome and encourage contributions from the

[2022-10-20 21:39] rockindahizzy opened #24328 "Removal of erraneous functionality in CT"
We want to remove functionality that was deemed as erraneous with regards to critical functionality in Component Testing. Use the `no-dead-code` paradigm when practical to ensure users don't experience unnecessary blockers.

## Things that need to be removed

### Global
- deprecate style injections (including impl in `mount-utils`).

### React
- `mountHook` function
- `unmount` function should no

[2022-10-20 22:13] ZachJW34 opened #24329 "cy.mount should remove the last mounted component if called multiple times in same test"
### Current behavior

Scenario:

[code]

Framework dependent behavior:

- Angular: Throws error upon second mount
- Vue: Mounts multiple components
- Svelte: Mounts multiple components
- React: Removes and remounts
- Vue2: Mounts multiple components

### Desired behavior

The last component mounted should be removed from the DOM/cleaned up.

### Test code to reproduce

[code]

![Screen Shot 2022-1

[2022-10-20 22:27] ZachJW34 opened #24330 "CT mount types relying on `@cypress/` don't work"
### Current behavior

`cypress/react18` has types defined in `node_modules/cypress/react18/dist/index.d.ts` that look like:

[code]

Notice the `@cypress/react` import (`@` prefix). The types won't be found unless the user happens to have installed the mount package from npm which is unlikely. The lack of the types leads to `any` typing of the options.
![Screen Shot 2022-10-20 at 5 20 51 PM](https

[2022-10-21 00:23] EvHaus commented on #24073
🤯 Frustratingly -- this issue has started happening again. Now I'm getting:

I had to change `cy.origin('auth0.com')` to `cy.origin('https://dev-f9asd0.us.auth0.com')`

I'm not sure why this is needed all of a sudden. 🤷

[2022-10-21 01:27] papb commented on #17795
I also encounter this problem very often. Currently, as a workaround, I am adding a `cy.wait(2000)` at the end of the last test on each file.

How can I help to solve this?

I am currently using Cypress 10.6.0.

[2022-10-21 01:28] papb commented on #17795
This might be related to #9342, #9367, #23824

[2022-10-21 03:40] mschile commented on #24298
@Jenson3210, thanks for opening this issue. Starting with Cypress 10.10.0, we are now verifying the dashboard cert for API calls from the app. I believe you'll need to either set `NODE_OPTIONS=--use-openssl-ca` or add the self-signed certs with the `NODE_EXTRA_CA_CERTS` env variable.

[2022-10-21 04:01] poponuts opened #24331 "Cypress crashes (Chromium renderer process) using headed mode"
### Current behavior

 Running a test suite for 14mins visiting multiple sub-pages but under the same domain crashes Cypress runner:
 `Aw snap! Error code: 5`
`We detected that the Chromium Renderer process just crashed.`

![image (4)](https://user-images.githubusercontent.com/36245304/197106430-b27fddb8-59d2-4889-9e6f-83eb94aa835d.png)

From the Devtools, I can see heaps of the following in the c

[2022-10-21 04:25] mschile opened #24332 "Improve cy.request cookie handling"
`cy.request` uses [automation](https://github.com/cypress-io/cypress/blob/208efbfb4e7111cc7f1043a7d1c6a3ffc582c6fb/packages/server/lib/request.js#L522) to retrieve cookies and filter them [here](https://github.com/cypress-io/cypress/blob/208efbfb4e7111cc7f1043a7d1c6a3ffc582c6fb/packages/server/lib/browsers/cdp_automation.ts#L289). We need to ensure we are returning the correct cookies based on cro

[2022-10-21 05:29] Jenson3210 commented on #24298
@mschile both options I tried. As mentioned, `https.get('https://api.cypress.io/', res => console.log(res.statusCode))` is working fine in node “terminal” because I added self-signed cert’s through `NODE_EXTRA_CA_CERTS` env variable.

[2022-10-21 05:32] Jenson3210 commented on #24298
Sorry for closing (phone issue)

[2022-10-21 06:15] siglp commented on #24298
We have the same problem. Our test ENV is behind transparent proxy :-(.

`We encountered an unexpected error talking to our servers.`
`We will retry 3 more times in 30 seconds...`
`The server's response was:`
`RequestError: Error: self signed certificate in certificate chain`
`We encountered an unexpected error talking to our servers.`
`We will retry 2 more times in 1 minute...`
`The server's resp

[2022-10-21 06:18] theseion commented on #14656
I'm seeing the same thing with both `cy.wrap` and `cy.get` inside `should`. And I have a case where I need to check that the text from element A shows up in element B _after_ element A has been removed. I haven't found a way to make it work any other way, not even by cheating with a variable defined in the outer scope.

[code]

I feel this is a pretty big issue. Yes, it doesn't matter in the major

[2022-10-21 06:37] harsha333 commented on #24448
Even I'm facing the same, Have you fixed this? Any suggestions?

[2022-10-21 06:39] theseion commented on #14656
For anybody else ending up here, I **did** figure out a solution, using aliasing and `then` instead of `should`:
[code]

[2022-10-21 07:59] cichyadam commented on #24322
@nagash77 thanks for you answer, however I don't think I would be able to give you access to the repository as it's private part of the organization I started to work for.

Do you think the issue could be that we are running the react app on `HOST` which is not localhost with `HTTPS=true`?
The url we're running our react app looks like this: `https://local.app.infomedia.dk:3000/`

Because once I c

[2022-10-21 08:48] Abdel-Monaam-Aouini opened #24334 "Import multiple test inside specific test"
### What would you like?

something like this :)
`import('blabla.spec.js').then(anotherTest => { .....})`

### Why is this needed?

for example, if I will get posts with her users, I will create a test for creating users and then creating posts (this is an easy example), but imagine if I have a lot of related things (storing, updating, deleting) to get the result of my API,
I found myself, repeati

[2022-10-21 09:42] alecmestroni commented on #24327
So I publish a repo [here](https://github.com/alecmestroni/cypress-crash).
@nagash77
To reproduce:
**Open cypress** (cypress open)
**Select e2e
Choose the 'cypress-crash.cy' file
Run the test
It'll fail (but it doesnt matter)
Wait between 2 and 5 minut with the test runned opened
After that time cypress will crash**

If cypress isnt crashed yet, try to rename the 'cypress-crash.cy' in something el

[2022-10-21 11:06] joh-kepler commented on #24224
Hello, the same one. Cypress 9.7.0, a "clean" project, installing following the official tutorial. Error same : "Module not found: Error: Can't resolve '@cypress/xpath' in" then path to "cypress/support" folder

[2022-10-21 11:35] arunkumar741 opened #24335 "Unable to mount / load component having relative path within it"
### Current behavior

I am using CRA, using context api, placed cypress folder within src folder

login.js
`import image1 from "assets/images/image.jpg'`

currently cypress is not detecting relative paths within a  component / js file

error details
`Error: Webpack Compilation Error
./components/image.js
Module not found: Error: Can't resolve "assets/images/image.jpg" `

### Desired behavior

rela

[2022-10-21 13:14] Pardonjo commented on #20541
I have the same issue in `v10.9.0` & `v10.10.0`. I have some tests where I have to visit a third party site ([here](https://www.theoplayer.com/test-your-stream-hls-dash-hesp)). This is with chromeWebSecurity set to false and in headless, the test fail :

When running in headed the test still fail but it's now a warning :

None of the workarounds in this ticket have worked for me. To find more abou

[2022-10-21 13:45] AtofStryker commented on #24073
Hi @EvHaus it's due to the changes in [10.10.0](https://docs.cypress.io/guides/references/changelog#10-10-0) requiring a strict origin over a super domain origin. In other words, the super domain now needs to be included. Did updating the origin fix the issue?

[2022-10-21 14:15] ryanthemanuel opened #24339 "Automate the regeneration of V8 snapshot cache files"

[2022-10-21 15:13] e5h5 commented on #22059
Was a solution ever found for this? Going absolutely insane trying to get it to work. I have tried excluding cypress in every imaginable way, putting it in every imaginable `tsconfig` we have and it just won't work. Trying things near enough at random now as it's so frustrating.

[2022-10-21 15:51] rockindahizzy opened #24341 "Fix type definition for component prop in cypress/vue"
The current type for the mount prop `component` is not easily understandable in cypess/vue
<img width="954" alt="image" src="https://user-images.githubusercontent.com/25568640/197237582-93e3f44c-d983-4282-839f-e147e7aa7f1f.png">

[2022-10-21 16:04] EvHaus commented on #24073
Yes. I would recommend updating the docs though. At the moment they say:

I would change to "and MUST include protocol, subdomains, ...."

[2022-10-21 16:15] rockindahizzy opened #24342 "cypress/vue should return object containing vueWrapper and component"
## Current Behavior
Currently vue mount returns the vue wrapper object.

## Desired Behavior
vue mount should return an object with the wrapper and component

[code]

[2022-10-21 16:16] rockindahizzy opened #24343 "Improve or Add JSDoc for mount other exported functions"
## Current Behavior
Currently not all of the CT libraries have JSDoc for their exported functions.

## Desired Behavior
- All of the exported functions have JSDoc added
- Ensure new and existing JSDoc contains the example stepper mount from the docs website
- Include a link to the documentation in the JSDoc

[2022-10-21 16:16] rockindahizzy opened #24344 "Gracefully handle failures when deriving component name during mount"
## Current Behavior
When passing a component to mount in `React` as an object, the mount function cannot derive the component name and throws an error. The error that is surfaced to the user does not point to the cause or solution of the scenario and is confusing for the user.

## Expected  Behavior
Instead of throwing the error at this stage we should verify that the component is the correct type

[2022-10-21 16:35] nagash77 commented on #24119
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-21 16:35] #24119 closed, assigned to warrensplayer

[2022-10-21 16:36] nagash77 commented on #24222
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-21 16:36] #24222 closed, assigned to nagash77

[2022-10-21 16:47] nagash77 commented on #24331
@poponuts I'm sorry you are having issues.  Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of

[2022-10-21 17:03] AtofStryker commented on #24073
That's my fault on that one 😅 . Thank you for pointing that out. I must have missed it when combing through the docs. I should be able to get something opened this afternoon into [cypress-documentation](https://github.com/cypress-io/cypress-documentation)

[2022-10-21 17:09] AtofStryker commented on #24073
@EvHaus I am thinking something like this:

This should contain the full hostname, which includes the subdomain (if applicable), domain,
and top-level domain. This may also include the protocol, port number & path.
Query params are not supported.

Is this a bit clearer in your opinion?

[2022-10-21 17:22] EvHaus commented on #24073
That looks great!

[2022-10-21 20:10] #6170 closed

[2022-10-21 20:16] chris-kt commented on #24054
VERY interested in this, as well. Seem like the lift may not be massive but the value would be tremendous for those invested in web component architecture.

[2022-10-21 20:21] AtofStryker commented on #24308
Hey @idanElitzur . Thank you for opening an issue. This doesn't look like a core issue with cypress, but more so troubleshooting help. Looking at the code provided though, it looks like `emailAddress` is undefined. There isn't really enough to work with here to get something reproducible, but I did throw what you had into this [reproduction repository](https://github.com/AtofStryker/cypress-issue-

[2022-10-21 20:21] emilyrohrbough commented on #22485
We no longer plan to do this work after recent discussions on how test isolation is defined.

[2022-10-21 20:21] #22485 closed

[2022-10-21 20:22] emilyrohrbough commented on #22486
We no longer plan to do this work after recent discussions on how test isolation is defined.

[2022-10-21 20:22] #22486 closed

[2022-10-21 20:25] emilyrohrbough commented on #22230
#24206 will close this issue with recent discussions on how test isolation is defined.

There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:blank`
- clear cookies
- clear local storage
- clear browser storage

When test isolation is `off`, Cypress will not

[2022-10-21 20:28] emilyrohrbough commented on #461
In v12.0.0 (soon-to-be-released), we are introducing the concept of [Test Isolation](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Test-Isolation). There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:blank`
- clear cookies
- cle

[2022-10-21 21:06] AtofStryker commented on #23733
related to #16310

[2022-10-21 21:09] AtofStryker commented on #23733
Hey @chrislacey89 . Thank you for bumping this and sharing a reproduction repository. I opened https://github.com/chrislacey89/cypressOktaBug/pull/1 against your reproduction repository to show how to fix this error.

The first(https://github.com/chrislacey89/cypressOktaBug/commit/785c06ecd6fa7b63dffd01ec147c329294fbb79d) is to get Okta login working as expected with cy.request as it is today.

Th

[2022-10-21 21:10] AtofStryker commented on #23733
going to close as complete, but if the issue continues for whatever reason we can re open

[2022-10-21 21:10] #23733 closed

[2022-10-21 21:11] AtofStryker commented on #16310
@artem-gavrylenko-tvscientific I believe has hit the nail on the head here.

Likely to avoid any issues with programmatic login, you should set your `baseUrl` to your expected application origin. @dustin-rcg your `cy.request` happens before your `baseUrl` is established via a `cy.visit`. Because of this, `postMessage` looks to fail from the API due to security reasons. Setting your base url to `ht

[2022-10-21 21:11] #16310 closed

[2022-10-21 21:20] ddfridley commented on #789
This is still a problem with 10.10.0, but some how it has changed from no space a while back, to colon and then space.
[code]
I see all these work arounds, but for open source projects we really need the repo to just install and run.
The root of the problem seems to be something inserting a ": " in the path.  How do we fix that!

I'm using git bash from vs code.

One other observation, from the ba

[2022-10-21 21:21] AtofStryker commented on #24307
going to go ahead and close this issue. Once `testIsolation` releases into it's `on`/`off` state, please let us know if you continue to run into issues!

[2022-10-21 21:21] #24307 closed, assigned to nobody

[2022-10-21 21:28] AtofStryker commented on #22541
Can likely leverage https://github.com/cypress-io/cypress/issues/23733#issuecomment-1287438828 when adding integration tests. Currently works with `10.10.0`

[2022-10-21 21:30] AtofStryker commented on #23830
@danielvianna Thank you. I saw the invite in Gitlab today. Today was fairly eventful, but hoping to take a look first thing Monday.

[2022-10-22 01:52] DrJume commented on #20681
It would be immensly helpful!

[2022-10-22 11:30] #24308 closed, assigned to nobody

[2022-10-22 11:43] idanElitzur opened #24352 "Config file is crashed with return error about "Unhandled error. (null)" when trying to listening to email inbox by mail-listener package"
### Current behavior

I've integrated this mail-listener package in some oldest cypress version before and it was ok.
When I', trying to use it in Cypress v10x with typescript the listener client is start and seems like it return valid data from the spied mail inbox but then the cypress config file is crashed and return the error below:
[code]

<img width="1017" alt="Screen Shot 2022-10-22 at 14 2

[2022-10-22 14:19] hugohhernandez76 commented on #24224
I was able to resolve the issue by:

1. ran command npm install -D cypress-xpath
2. in the folder cypress/support/e2e at the top of the file typed require('cypress-xpath');
![Screen Shot 2022-10-22 at 9 17 10](https://user-images.githubusercontent.com/84982212/197344129-3dca97f8-4c17-497a-8f17-96f45348d008.png)

3. and at the cypress/e2e in my test at the top I placed the following command /// <re

[2022-10-22 15:08] snake-py commented on #23680
@ZachJW34 So I had finally time to put something together where I am already seeing the issue:
https://github.com/snake-py/minimal-bug-repo-cy-10

I added a Readme on how to use it. The repo has no tests and no app, only the barebone configs.

[2022-10-22 16:29] aomaryus opened #24353 "cy.session does not respect cucumber scenario outlines"
### Current behavior

Cucumber Scenario Outlines do not work with cy.session().
### Desired behavior

With cy.session , only the first scenario outline work.
The subsequent scenario outlines do not.

### Test code to reproduce

Any simple cucumber scenario outline.

### Cypress Version

10.10

### Node version

16

### Operating System

Any

### Debug Logs

_No response_

### Other

_No response_

[2022-10-22 19:15] danielvianna commented on #21135
Crashing here too all the time running locally with cypress open, please no new features until the basics are stabilized

[2022-10-22 20:03] aaron-qa opened #24354 "window.open causes ERR_FAILED (-2) loading 'url' on electron headless >=10.8.0"
### Current behavior

Updating Cypress from 10.6.0  to 10.10.0 caused some tests to fail which visit a page that executes window.open().

[code]

The page being tested gets a file URL and runs **window.open(url, '_blank');**. The URL is a file location. Cypress does not test the new window but does check for a successes message shown on the page being tested.

This issue does not happen on Cypress

[2022-10-23 00:18] 0618 commented on #4164
Still have this issue on 10.10.0

[2022-10-23 03:02] 0618 opened #24356 "JavaScript heap out of memory"
### Current behavior

I'm trying to validate plenty of links by using `cy.request` or `cy.visit`, but the memory leaks after doing about 49 requests(sometimes less, sometimesmore).

[code]

### Desired behavior

It should make all the requests without memory leak, especially after using `cy.clearLocalStorage`

### Test code to reproduce

[code]

It works if I change the `baseUrl` from localhost to

[2022-10-23 12:22] eugensunic commented on #915
It's 2022 and we still don't have a `cy.all` in cypress? What's happening with this guys? Do I really need to code this myself each time cypress version changes?

[2022-10-23 13:29] mattvb91 commented on #18569
[code]

[2022-10-23 13:30] mattvb91 commented on #23962
getting the same on `10.10.0`

[2022-10-23 13:31] mattvb91 commented on #8206
Still the same on 10.10.0

[code]

[2022-10-23 14:06] #24352 closed, assigned to nobody

[2022-10-23 16:44] Jones-S commented on #22169
Issue is resolved by using cypress v10.10.0. 🤷‍♂️

[2022-10-23 22:07] poponuts commented on #24331
oh wow... seems like a standard response nowadays with just one missing piece from a long checklist of rejected issues. I thought the logs would be helpful enough (and would be a good start to look at first before outright rejecting) as it used to with the cypress core team when its challenging to reproduce it with another repo. I guess I just have to rely with the community who encountered the sa

[2022-10-23 22:19] minopica opened #24359 "Problem interacting with iframe"
### Current behavior

I'm trying to interact with some elements inside an iframe with cypress. If I use the approach in https://www.cypress.io/blog/2020/02/12/working-with-iframes-in-cypress/ for only one element per test, everything is fine.
If I try to perform 2 consecutive commands on the iframe in a single test then the second command fails.

If I add cy.wait(10000) between the two commands in

[2022-10-23 23:33] tatiana-athenaworks commented on #22169
I'm still having the same issue. I'm on Mac OS Monterey 12.6, and the version I'm using for cypress is 10.0.0

[code]

And the nuxt.config.ts

[code]

[2022-10-24 01:18] ryanthemanuel commented on #23123
Closed with https://github.com/cypress-io/cypress/pull/24262

[2022-10-24 01:18] #23123 closed

[2022-10-24 03:12] dwjohnston opened #24360 "Allow `cypress run` to run without printing stack traces."
### What would you like?

My workflow sometimes has me running the full suite of tests using `cypress run` on my development machine. I'm basically just checking that all the tests are passing before creating a PR.

In the case that there are test errors, I don't want to see the stack traces. I just want to see the summary tables of suites, with the failing tests shown in red. (A single line error

[2022-10-24 06:13] Hangochung81 commented on #24284
@warrensplayer Could you reproduce this issue?

[2022-10-24 06:37] Sjeiti commented on #22122
@flotwig Does this mean [the Nx implementation](https://github.com/nrwl/nx/blob/master/packages/cypress/src/generators/cypress-project/files/v10-and-after/cypress.config.ts__tmpl__) of Cypress is not best practice? Were you referring to globs outside the cypress.config-directory or the use of a central package?

[2022-10-24 07:26] lydemann opened #24361 "Angular Component Tests: Load assets from component tests"
### Current behavior

Currently, it is only supported to load assets from HTML but not through HTTP requests eg. when registering icons from Angular Material.

### Desired behavior

We should be able to load assets from an URL like "assets/**" using HTTP requests.

### Test code to reproduce

Create an Angular project with Angular material and have it registering some custom icons using the URL (a

[2022-10-24 08:24] theoarav commented on #24272
I'm pretty sure it would work for me too, but when you have nested components that load assets from scss it's pretty bad to have relative links instead of absolute.

Having a link looking like this `../../../../../../assets/test.png` isn't as pretty as `/assets/test.png`...

And if the asset gets moved or the component is moved up or down in the folder hierarchy you have to check all the links.

T

[2022-10-24 09:44] Beutlin commented on #8928
I've found a solution for using addContext in combination with stopping Cypress tests on first failure.

[code]

[2022-10-24 09:44] whimboo commented on #24195
Could anyone seeing this issue please check the last comment from @warrensplayer and provide detailed logs? Thanks.

[2022-10-24 10:07] Beutlin commented on #8928
Alternative with after-hook
[code]

[2022-10-24 10:36] viktorgogulenko commented on #15605
Any updates here? We are experiencing the same issue in Cypress version 10.10.0

[2022-10-24 11:29] mikestock-nimble commented on #1342
So I tried the solution that AtOfStryker posted but I still can't even get cypress to load the microsoft login page. It seems to keep trying to load the page and eventually times out

I had Cypress 10 with all experimental flags enabled

Has anyone managed to get past this?

Thanks

e.g.
![image](https://user-images.githubusercontent.com/115985723/197515813-4594584a-06fc-4eeb-b45c-067cced2a568.png

[2022-10-24 12:14] bahunov commented on #1342
Yes, I saw this behaviour with v.9

On Mon, Oct 24, 2022 at 3:30 PM mikestock-nimble ***@***.***>
wrote:

[2022-10-24 12:52] OmarEzQED commented on #4164
Also have the same issue on 10.10.0

[2022-10-24 13:25] bbialas commented on #22518
+1

[2022-10-24 13:36] emilyrohrbough opened #24365 "Clean up Cypress Config Setting/Validation"
### What would you like?

Clean up how test configuration is set, validated and what is allows to persist on the configuration. Currently we check / thrown when removed config is present but we aren't verifying non-cypress configuration is not set / persisted. It makes it hard to verify and check configuration at different points int he life cycle and makes error handling awkward. It would also cl

[2022-10-24 13:41] AtofStryker commented on #1342
@mikestock-nimble @bahunov are you sure the `experimentalModifyObstructiveThirdPartyCode` flag is set to `true`? We have run into this in the past where microsoft continues to try and do a redirect when the frame does not equal to top, and causes and infinite redirect loop. Setting the `experimentalModifyObstructiveThirdPartyCode` should resolve this, but if not, would you be able to share a repro

[2022-10-24 13:42] AtofStryker commented on #24308
@idanElitzur were you able to figure out your issue?

[2022-10-24 14:08] idanElitzur commented on #24308
Just integrated to another package

[2022-10-24 14:08] emilyrohrbough opened #24366 "(component) Clicking "Open in IDE" is broken"
### Current behavior

Clicking "Open in IDE"  in the reporter does not take user to hook/test definition that ran.

In Prod - this does nothing. It doesn't open the IDE or launch to the file that ran. See video:

https://user-images.githubusercontent.com/14099737/197545580-7280e228-7018-438c-9077-436ece1fe3d0.mov

In dev - this opens to the current IDE / branch & opens the stack_utils file in the

[2022-10-24 14:17] AtofStryker commented on #23830
@danielvianna had a bit of time to take a look through. It's a bit hard to see from the job itself since polling is at its limits, but did notice the acceptance tests are on a fairly old version of node. Have you tried bumping to 16+ and see if the issue improves at all? The CPU usage looks to be maxed out completely for a large majority of the tests. Have you tried throwing more compute resources

[2022-10-24 14:22] IhsenBen commented on #7598
same here, you can at least add in your documentation that cy. reload() delete the local storage instead of[ `Reload the page as if the user clicked 'Refresh'`](https://docs.cypress.io/api/commands/reload#Argumentsl) and let us blindly guess what's going on.

[2022-10-24 14:29] vikingair commented on #23830
In GitHub Actions we were running on Node > 16 running into these performance issues. And the used machine resources are pre-configured but very powerful 😥

[2022-10-24 14:40] DamienCassou commented on #23830
It seems several persons have complained here at approximately the same time. Also, in our case, sticking to 10.7.0 fixes the issue. On the right, you will see the result of the PR reverting to 10.7.0:
![image](https://user-images.githubusercontent.com/217543/197553203-275c9245-e641-4c08-ab2f-f28d74c51ac6.png)

[2022-10-24 14:41] mschile commented on #24298
@Jenson3210, thanks for the update. I was also able to recreate the issue locally using a proxy with a self-signed cert. I will discuss with the team on how we want to proceed.

[2022-10-24 14:58] nagash77 commented on #24331
@poponuts We have many users and trying to investigate every problem is challenging without the information we request.  I am sorry you are encountering issues, but if the problem is hard for you to recreate, you can imagine it is significantly harder for us to recreate given we have a fraction of the context you have in your own project and implementation.  I am closing this issue pending a repro

[2022-10-24 14:58] #24331 closed, assigned to nagash77

[2022-10-24 15:05] #21471 closed

[2022-10-24 15:08] AtofStryker commented on #23830
I want to be clear that there is some type of regression in 10.7.0 and don't want to invalidate what you are experiencing. What I am trying to rule out is resourcing and other external factors that may help isolate the problematic change. My guess is the memory footprint changes or some of the changes under the hood to webkit caused a side effect.

Triage team is meeting this afternoon. Since repr

[2022-10-24 15:31] baus commented on #24344
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24344?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:31] baus commented on #24343
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24343?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:31] baus commented on #24342
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24342?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:31] baus commented on #24341
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24341?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:32] baus commented on #24329
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24329?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:32] baus commented on #24330
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24330?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:33] baus commented on #24328
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24328?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-24 15:37] #24142 closed, assigned to rockindahizzy

[2022-10-24 16:50] abdul-hamid-achik commented on #21936
brilliant, thank you very much I was seeking this answer

[2022-10-24 17:59] danielvianna commented on #23830
Hi Atof, we will try the newest node version. But it also crashes on my computer as well . Basically crashes every 3/4 tests or long tests. All of that happened after we were forced to upgrade to newest versions after version 8 which was way faster and stable

[2022-10-24 18:55] Raphhinha commented on #14857
Onde você adicionou esse comando?
me desculpe sou novo no Cypress 😄

[2022-10-24 19:04] astone123 commented on #24341
Do we have any ideas for how to better type this prop?

[2022-10-24 19:16] nagash77 commented on #22942
We will throw an error in this instance

[2022-10-24 19:16] #22942 closed

[2022-10-24 19:23] Raphhinha commented on #14857
Where can I include this code?

Sorry I am new to Cypress

[2022-10-24 19:37] #23379 closed

[2022-10-24 19:37] #23766 closed

[2022-10-24 19:37] #23767 closed

[2022-10-24 19:43] nagash77 commented on #22404
@estefafdez this issue has been resolved.

[2022-10-24 19:43] #22404 closed

[2022-10-24 20:02] nagash77 commented on #22883
@lionwolfdev Upon further internal discussion we have decided to close this issue as intended behavior.  We agree we can update our docs to better clarify why you should follow @tbiethman pattern.  Thank you for bringing this subtly up for discussion!

[2022-10-24 20:02] #22883 closed

[2022-10-24 20:12] mschile commented on #24298
It appears Electron does NOT honor the [NODE_EXTRA_CA_CERTS](https://github.com/electron/electron/issues/10257) env variable.

I am going to revert the change that introduced verifying the cert until we come up with a solution that also works for self-signed certs.

[2022-10-24 20:18] AtofStryker commented on #23830
@danielvianna Interesting that it is happening locally as well. Does this happen in all browsers and what OS are you on?

[2022-10-24 20:33] kprisAutomation commented on #1887
Thank you!  doing this worked for me! the menu item had the pointer-event:none so neither .trigger('click') nor force:true would work.

[2022-10-24 20:33] LucasdRossi commented on #21188
@theolavaux i was able to change the video source at runtime by using the [task](https://docs.cypress.io/api/commands/task) command and replacing the content of the file passed through  `--use-file-for-fake-video-capture`. The tricky part of it is that as described [here](https://webrtc.github.io/webrtc-org/testing/) you will need to call `getUserMedia()` again after replacing the file.

[code]

T

[2022-10-24 20:36] cmrd-senya commented on #7045
@far11ven
With Cypress v10 when I did local yarn install of Cypress
[code]

And  running from local `node_modules` it with
[code]
 I received the SIGILL error.

But then I tried installing Cypress globally like it's done in the official cypress docker image: https://github.com/cypress-io/cypress-docker-images/blob/6d7b9eb738d1904a01a7148e89854cd2188f66be/included/10.10.0/Dockerfile

So I installed

[2022-10-24 20:47] jpcampos24 commented on #24224
I'm facing this issue as well I think the reason is the plugin is no being storing the package on /node_modules folder so the e2e.js doesn't find the data

[2022-10-24 20:49] jpcampos24 commented on #24224
@hugohhernandez76 solution is good in case you need to install the previous version

[2022-10-24 20:51] hugohhernandez76 commented on #24224
It is working for me in the 10.10 version
![Screen Shot 2022-10-24 at 15 50 38](https://user-images.githubusercontent.com/84982212/197626911-d370aaa8-e848-41b4-a870-020489f70134.png)

[2022-10-24 20:56] jpcampos24 commented on #24224
Yes! I mean, you installed the previous cypress-xpath version, we're facing this issue trying to install the latest 2.0.2. But while they fix this issue we can install the previous version with your steps this could help to @adyz in the meantime

[2022-10-24 20:58] hugohhernandez76 commented on #24224
Oh yes I guess I did not understand your post. Yes this is only a temp fix to continue working with xpaths

[2022-10-24 21:08] diggabyte opened #24371 "Clicking on a "mailto" link cause cypress 10.10.0 / electron to crash"
### Current behavior

Clicking on a mailto link causes cypress / electron to crash. Earlier versions of cypress, this did not occur.

### Desired behavior

Ignore trying to open a mailto link

### Test code to reproduce

### test.html
[code]
### test.ts
[code]

### Cypress Version

10.10.0

### Node version

16.16.0

### Operating System

macOS 12.4

### Debug Logs

[code]

### Other

_No response

[2022-10-24 21:11] AtofStryker commented on #20813
Hi @steve-schreiner. I am starting to take a look into this issue. I am trying to run @jesperancinha 's repository but I am having trouble getting it going this time (was able to start it before for a different issue). Are either of you able to help me provide a small reproduction to consistently reproduce the issue?

My guess is the `includeShadowDom` option is set to true, and when looking up th

[2022-10-24 21:25] steve-schreiner commented on #20813
Hi Bill,

I'm adding 3 people from my QA team that can assist you.

Thanks,
Steve

On Mon, Oct 24, 2022 at 5:11 PM Bill Glesias ***@***.***>
wrote:

[2022-10-24 22:04] galen-at-brilliant opened #24372 "Display an error message in the Cypress app when WebKit cannot launch on this MacOS version"
### What would you like?

I would like a clear message that WebKit cannot be launched on my MacOS version. Currently, I select WebKit and click the green Start button, which turns gray and says "Opening E2E Testing in Webkit", and then nothing happens.

I figured it out when I tried `cypress run` instead of `cypress open`. In this case, I got a very clear message that immediately explained the pro

[2022-10-24 22:09] Karla-Reyes commented on #249
@MullerEsposito / [BrettHoutz](https://github.com/BrettHoutz) , saw your messages above. Can you elaborate on how you add/use the above scripts in commands and index.d.ts files with the typescript? Thanks

Can someone help me?
<img width="1234" alt="image" src="https://user-images.githubusercontent.com/73798114/197639293-2566a6a1-e197-4629-93ef-c329a8d57849.png">

[2022-10-24 23:01] #24298 closed, assigned to mschile

[2022-10-24 23:05] eugensunic commented on #915
**Cannot read properties of undefined (reading 'attributes')**

[2022-10-24 23:05] #24206 closed, assigned to emilyrohrbough

[2022-10-25 00:44] procarrera commented on #897
Hello guys,
I am still trying to find a way to call a global function like this from Cypress. Do you have a way to do it?

[code]

[2022-10-25 04:37] Hawxy opened #24373 "cy.origin throws Uncaught error & breaks in v10.9.0+"
### Current behavior

Our application redirects on load to an Auth0 login page and signs in the user. We updated from v10.7.0 to v10.10.0 and immediately ran into failing origin usage with the below stacktrace:

[code]

![image](https://user-images.githubusercontent.com/975824/197680169-698606c2-7299-4467-acf9-5104a800afba.png)

This error appears to stop the login from working properly, as it fai

[2022-10-25 05:46] LaurynasCiapas opened #24375 "cypress caches the host file in the config itself"
### Current behavior

When in the config file you add the object - "hosts" provide desired IP address and start the cypress it doesn't open the expected URL. You must run command cypress clear cache and it then works as expected.

Steps to reproduce:
1. launch cypress and run some tests with the basic your url
2. turn off cypress
3. change config (add hosts object, provide DNS, desired ip)
4. laun

[2022-10-25 05:51] w0wka91 commented on #23677
If think we can just use the config from the angular.json if there is only a single project. So what do you think @jordanpowell88 ?

[2022-10-25 05:59] DevPerers opened #24376 "Hard corded value of "integration", needs to update as "e2e" in stepDefinitionPath in node_modules"
### Current behavior

I am having Cypress project with Cucumber.
So I first clone the project into my local folder.
Then I ran following two commands
_npm install cypress --save-dev
npm install cypress-cucumber-preprocessor --save-dev_
I am getting an error, when I try to execute the Cypress by, _npx cypress open_
In order to fix the error I need to change the hard coded "integration" value into "

[2022-10-25 07:05] gvaatstra commented on #14857
The solution found here worked for me:
https://github.com/cypress-io/cypress/issues/1551#issuecomment-1054032997

In my case I download a CSV by a form submit. I can intercept the request, validate the response headers, change the response headers and then even validate data on the page as it renders the CSV as text (and obviously no load event issue anymore)
Pro's are that you don't need any dirt

[2022-10-25 07:48] LuckyBoy1004 commented on #6978
I have same problem.
I am finding someone that solve this problem for me.

[2022-10-25 08:11] chrispepper1989 commented on #24167
Any solution to this? i am getting the same error after upgrading. Cypress opens and runs to a certain point and then crashes.

[code]

[code]

I am using "volta" to control my node version

this is my package.json dependencies

[code]

The video file gets created but is corrupted

[code]
[code]

[2022-10-25 08:13] chrispepper1989 commented on #24167
Ah I think i've stumbled across the error (for me at least).

https://stackoverflow.com/questions/71489215/why-does-cypress-get-econnreset-when-accessing-api-cypress-io-port-443/72041172#72041172

When i tried using "electron" instead of chrome / fire fox the error stopped happening!

This is only happening on my new work issued laptop and not my old (despite having sophos on both)!

[2022-10-25 08:15] bahunov commented on #6978
Using electron instead of chrome works…

On Tue, 25 Oct 2022 at 11:48, LuckyBoy1004 ***@***.***> wrote:

[2022-10-25 08:28] alecmestroni commented on #24327
Some news? @nagash77

[2022-10-25 08:29] alecmestroni commented on #24182
Some news? @warrensplayer

[2022-10-25 08:32] cosmith commented on #8206
Update after a while, it turns out for us there was no issue apart from tests running for too long that were killed by CircleCI. So check that your retries param is not set too high and fix your flaky tests!

[2022-10-25 09:07] kunalashar25 opened #24456 "Execution time increases with increase in spec file even when cases are not linked with the tags"
There is a total of 133 cases in my suite and out of which only 23 are executing based on the tag filtering.

Actual execution time to run 23 cases in only **4m 55s** but the plugin is unable to ignore the rest of the cases and parses through all the files which increases the overall execution time to **17m 37s**

Suite execution time keeps on increasing with the increase in the number of the spec

[2022-10-25 09:38] mattvb91 commented on #8206
in my case I cant even get the tests to start, this crashes before it even gets to the first test. The only stable cypress version so far is 9.7.0

[2022-10-25 09:39] ajapalak commented on #8089
same issue here

[2022-10-25 10:10] iomedico-beyer commented on #20341
I use [this workaround](https://github.com/cypress-io/cypress/issues/8418#issuecomment-992564877) for now, but is there any way to silence the message completely (until investigated/resolved)? It kind of polutes the output/videos.

[2022-10-25 11:06] lidiagc opened #24377 "Weird flicker in video for end to end test on updating to v10.10.0"
### Current behavior

We were previously using cypress version `9.7.0` and now want to update to version `10.10.0`. However, we sometimes get an issue with the end-to-end tests when running on GitLab CI.

As you can see from the video, a weird flicker happens during the test and it eventually fails. Does it seem that the test is jumping up and down the commands as it was running two instances of t

[2022-10-25 11:39] objarni commented on #2640
This struck me today. Took 2h's of reading docs, then finding this thread, to get it working. I consider this a weak spot of cypress, not being clear in documented behaviour being the most severe issue, the actual behaviour too being non-intuitive.

Expected behaviour (unless very clearly documented): .get should re-query the DOM on every retry, regardless of how many chained calls are postpended

[2022-10-25 12:21] BorjaRafolsMartinez commented on #14230
Could you kindly point me to those? I've tried to find them without success.

I'm having the same issue and would like to take a look at the relevant code.

Thanks in advance.

[2022-10-25 12:22] BorjaRafolsMartinez commented on #14230
Could you kindly point me to those? I've tried to find them without success.

I'm having the same issue and would like to take a look at the relevant code.

Thanks in advance.

[2022-10-25 12:55] AlexandreGaubert commented on #24093
I've managed to setup a reproducible repository [here](https://github.com/AlexandreGaubert/cypress-component-testing-apps) by forking your examples repository (directory `react-cra5-ts`).

I've made it pretty close to our configuration, but I didn't reproduced the error in CI.
But you can clearly see that tests are reported twice [here](https://github.com/AlexandreGaubert/cypress-component-testing

[2022-10-25 13:08] ocombe commented on #8599
I managed to track the issue to this part of the code: https://github.com/cypress-io/cypress/blob/a5ec234005fead97f6cfdf611abf8d9f4ad0565d/packages/server/lib/plugins/preprocessor.js#L72-L78

If for some reason the test file is not part of the project root, then this code will fail to remove the base path of the spec file (when it is bundled by webpack and copied to cypress work folder), I think t

[2022-10-25 13:16] clazette commented on #24450
I am experiencing the same issue with TS.

Cypress: 10.10.0
cypress-grep: 3.0.3

[2022-10-25 13:25] MuhtasimMusfiqZarab commented on #19257
[ahmedelamine](https://github.com/ahmedelamine)
This is the way to resolve this issue:
-` yarn add --dev cypress @testing-library/cypress` or `npm install --save-dev cypress @testing-library/cypress`
-Add this line to your project's cypress/support/commands.js:    `import '@testing-library/cypress/add-commands'`
-Typings should be added as follows in tsconfig.json:
[code]

[2022-10-25 13:45] nagash77 commented on #24287
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-25 13:45] #24287 closed, assigned to nagash77

[2022-10-25 13:50] baus commented on #24160
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24160?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-25 13:50] MullerEsposito commented on #249
Hey @Karla-Reyes, I couldn't do it with typescript. I used only **js**.

[2022-10-25 13:52] bahmutov commented on #249
Here is my solution to this problem: plugin https://github.com/bahmutov/cypress-slow-down

[2022-10-25 14:09] Diogoazevedo235 commented on #24224
I solved it by putting the following require in e2e.js
`require('@cypress/xpath/src');`

[2022-10-25 14:10] paulgrant commented on #24093
Thanks Alex, one immediate difference I see is in your cypress config file, we are using the component setup, not the e2e setup.
https://docs.cypress.io/guides/component-testing/quickstart-react#Configuring-Component-Testing

I believe it is actually down to Azure Pipelines and it not having enough processing power - this is under review for us now.
I will review your github over the next day or s

[2022-10-25 14:12] marktnoonan opened #24380 "In-app information about new releases"
This will take the following form - a full splash page in the launchpad - with exact content to be confirmed as part of this PR review.

<img width="885" alt="Screen Shot 2022-10-31 at 8 49 27 AM" src="https://user-images.githubusercontent.com/8340719/199011734-bceb6f17-57f0-470d-b83c-cba3aa757e97.png">

Other requirements:

- This will be a “single point of entry” in the launchpad
- UI is the sam

[2022-10-25 14:20] djogoaz commented on #24224
e2e.js
`require('@cypress/xpath/src');`

...spec.cy.js
`/// <reference types="@cypress/xpath" />`

[2022-10-25 14:27] marktnoonan opened #24381 "Updated Migration UI for Cy 11+"
### What would you like?

We need to split out version specific content like "Welcome to Cypress 10!" from the information that users need to perform a migration before they they can launch the latest Cypress.

Designs are WIP but this would be a straight replacement of this screen in v10 with something more generic explaining the need to migrate:

![Screen Shot 2022-10-25 at 10 26 19 AM](https://

[2022-10-25 14:29] mschile commented on #24327
@alecmestroni, it doesn't appear the [repo](https://github.com/alecmestroni/cypress-crash) you created is public as I can't access it. Could you please make it public or give me privs. Thanks!

[2022-10-25 14:32] alecmestroni commented on #24327
Done! @mschile

[2022-10-25 14:35] mikestock-nimble commented on #1342
Hi AtOfStryker

I managed to get it working with the puppeteer work around for the time being, will look to upgrade again at some point and post my findings

Thanks

[2022-10-25 14:35] marktnoonan opened #24382 "Remove beta label from Component Testing card"
### What would you like?

As part of Component Testing GA, we should remove this label and tests related to it for the Component Testing card in Testing Type Picker components for the App and Launchpad.

### Why is this needed?

_No response_

### Other

_No response_

[2022-10-25 14:45] jordanpowell88 commented on #23677
Currently it requires your angular project to have a configured application, because we rely on the `@angular-devkit/build-angular:dev-server` builder. If you have a project with say an application and a library and let Cypress configure your application. as long as your `specPattern` doesn't point specifically to the app it will pick up component tests in the library and run them fine.

The cavea

[2022-10-25 15:09] ZachJW34 commented on #24330
For `cypress/react18` I would expect the types to be copied over to the disted output, similar to how the source code is copied. If it were copied, this would ensure that both `cypress/react18` and `@cypress/react18` have equivalent types. Unless `@cypress/react` is listed as a dependency, the published package won't have proper types.

[2022-10-25 15:11] AtofStryker commented on #1342
@mikestock-nimble I am glad you got something working, but disappointed you couldn't get it working with Cypress. I have a high degree of confidence this does work and would love to get you up and running if you are able to share some sort of reproduction repository. Whenever you are able to post your findings, let me know and would love to take a look!

[2022-10-25 15:17] ZachJW34 commented on #24328
I feel like this has been answered but wanted an explicit answer to this: For functionality that is being removed, do we deprecate, deprecate + throw error when used or deprecate + noop/log when used?

[2022-10-25 15:19] rockindahizzy commented on #24328
@ZachJW34, my vote is to deprecate + throw.

@marktnoonan, could you give us the preferred method?

[2022-10-25 15:22] gabrielgagne commented on #24052
Can confirm that I ran into the same problem.
I get the expected result when I run cypress with
`specPattern: 'src/integration/**/*.spec.{js,jsx,ts,tsx}',`

The path of the screenshot will be the correct
`PROJECT_PATH\src\fixtures\screenshots\button\button.component.spec.ts\some_screenshot.png`
 (see button\button.component.spec.ts)

But if I run cypress with a more targeted config with
`specPatte

[2022-10-25 15:24] ZachJW34 commented on #24341
Could be a duplicate of https://github.com/cypress-io/cypress/issues/24330

Current:
<img width="685" alt="Screen Shot 2022-10-25 at 10 21 55 AM" src="https://user-images.githubusercontent.com/25158820/197814960-c747e84a-4b8d-41e1-a411-a7edd276537b.png">

After converting `@cypress/mount-utils` to `cypress/mount-utils` in `node_modules/cypress/vue/index.d.ts`:
<img width="622" alt="Screen Shot 202

[2022-10-25 15:26] anewlens commented on #22451
Any update or workaround on this issue? running into this in version 10.0.0, 10.3.0 and 10.9.0. Need to stay 10.0 and above for NextJS compatibility.

[2022-10-25 15:33] mikestock-nimble commented on #1342
@AtofStryker Thank you so much, I will defintely try again, right now my priority is getting the tests back up and running, but once I have done that I will definitely upgrade again, keen to try out the new session features too

Thanks!

[2022-10-25 15:35] ryanthemanuel commented on #23980
This was reverted in 10.11.0. Reopening to readdress this

[2022-10-25 15:39] BlueWinds commented on #19906
This doesn't seem to be related to cy.session, but rather the sheer number of assertions the test runs. The Cypress command log slows down heavily in large tests.

This is a real issue, and we're discussing how to fix it at the moment, but going to close as duplicate in favor of https://github.com/cypress-io/cypress/issues/4164, which contains links to other issues demonstrating the same slowdown

[2022-10-25 15:41] BlueWinds commented on #6967
Just doing some cleanup and consolidation as we begin looking into this internally; closing in favor of https://github.com/cypress-io/cypress/issues/4164, which contains links to a bunch of different examples (including this one).

[2022-10-25 15:42] BlueWinds commented on #5987
Just doing some cleanup as we begin looking into this internally; closing in favor of https://github.com/cypress-io/cypress/issues/4164, which contains links to a bunch of different examples (including this one).

Definitely a real issue, and closing doesn't mean we're not paying attention; just consolidating a bit as we start looking into this more seriously.

[2022-10-25 15:42] #5987 closed

[2022-10-25 15:43] #19906 closed

[2022-10-25 15:48] BlueWinds commented on #15880
Just doing some cleanup as we begin looking into this internally; closing in favor of https://github.com/cypress-io/cypress/issues/4164, which contains links to a bunch of different examples.

Definitely a real issue, and closing doesn't mean we're not paying attention; just consolidating a bit as we start looking into this more seriously.

[2022-10-25 15:51] BlueWinds commented on #4164
Doing a bit of consolidating of issues; I've closed several as duplicates of this in an effort to clean up all of our "the command log is slow in large tests" bugs.

- https://github.com/cypress-io/cypress/issues/5987
- https://github.com/cypress-io/cypress/issues/6967
- https://github.com/cypress-io/cypress/issues/6783
- https://github.com/cypress-io/cypress/issues/19906

This is something that's

[2022-10-25 15:51] #15880 closed

[2022-10-25 15:55] astone123 commented on #24384
Transferring this issue to https://github.com/cypress-io/cypress since these links will need to be updated in the `@cypress/vue2` package readme

[2022-10-25 16:05] ZachJW34 opened #24385 "Angular CT does not mount component within div[data-cy-root] root element"
### Current behavior

Angular components are mounted inside a generated top-level div that is outside of our control
<img width="1018" alt="Screen Shot 2022-10-25 at 10 58 47 AM" src="https://user-images.githubusercontent.com/25158820/197823632-b98ce62d-7f6a-47fe-bd54-87e4f9fbefff.png">

### Desired behavior

Angular components should be mounted inside of `<div data-cy-root></div>` so as to accomm

[2022-10-25 16:38] baus opened #24386 "Rebrand dashboard to cloud"
### What would you like?

Change all references in the app from dashboard to cloud.

@mattvCypress has started a branch here: https://github.com/mattvCypress/cypress/tree/change-dashboard-to-cloud

We may want to consider renaming all internal variables as well.

Here are the standards: https://docs.google.com/presentation/d/1DP2cAv0Kb9JyVD3odu4jz0vMWFzuhUEpG_AYhyBZuWk/edit#slide=id.p

### Why is

[2022-10-25 16:46] ZachJW34 commented on #23427
Going to reopen, as `providers` makes sense to map to the TestModule rather than the component since all of the other `TestModuleMetadata` properties are currently being mapped to the TestModule. We should add an API for overriding at the component level which could be relevant for normal components and Standalone components.

[2022-10-25 16:52] j1000 opened #24387 "Dashboard: highlight *new* failures"
### What would you like?

I would like the dashboard to highlight *new* failures so I can better see which commit introduced the issue.

### Why is this needed?

Our CI process does the tests *after* the commit has already merged into the main branch, so we often have a small backlog of failing tests. Seeing *new* failures highlighted would greatly help us keep things straight, allowing us to see

[2022-10-25 17:05] ZachJW34 commented on #24385
[WIP](https://github.com/cypress-io/cypress/tree/zachw/angular-mount-root) branch overriding the ComponentRenderer to mount into data-cy-root.

[2022-10-25 17:17] warrensplayer commented on #24182
@alecmestroni Thanks for the feedback about the `baseUrl`.  We are continuing to look into a solution.

[2022-10-25 17:29] SalahAdDin commented on #1417
what are you using now?

[2022-10-25 18:29] nagash77 commented on #24334
@Monaam12 Can you help me understand a little bit more about your use case?  Perhaps some more mock example specs?

[2022-10-25 18:30] awoerp commented on #4742
I am sure that this won't be helpful to everyone but I found a work around for my use case which is conditionally running tests depending on the results of an asynchronous query of a remote database. My solution was to remove any asynchronous stuff from the tests and instead move it into the before() function which runs before all of the tests for that specific spec file.

[code]

[2022-10-25 18:31] joelbentham commented on #20596
Hi, is there any updates on this?

[2022-10-25 18:42] Sporradik commented on #24120
Thank you so much @warrensplayer, this is exactly what i was looking for!

[2022-10-25 19:17] astone123 commented on #23452
I've identified a few issues that are related to this flake. I'll outline my progress here and then move this back into the backlog for now to re-investigate at a later time so that we can move onto more pressing issues.

## Windows EBUSY

Sometimes when we clean up a project, Windows gives us an `EBUSY` error indicating that we're trying to delete something that is locked by some other process. C

[2022-10-25 19:42] #23951 closed, assigned to ZachJW34, amehta265

[2022-10-25 20:16] #24311 closed, assigned to emilyrohrbough

[2022-10-25 20:26] baus commented on #24366
Remove the button for CT for initial implementation.

[2022-10-25 20:43] warrensplayer commented on #24366
This was originally a hold over from unification: https://github.com/cypress-io/cypress/issues/21684

[2022-10-25 20:49] miglesiasit12 opened #24392 "Component Test can't initialize due to ValidationError"
### Current behavior

This is the error that is being thrown whenever i try to start up component testing in any version higher than 10.6.0:

[code]

I attached a screenshot of the webpack.config that im using

### Desired behavior

Load component testing without any errors

### Test code to Reproduce

https://github.com/miglesiasit12/CypressIssue24392

### Cypress Version

10.11.0

### Node versi

[2022-10-25 21:03] Codex- commented on #1417
We moved to Playwright, was a great move for us and we won't be changing off of it now.

[2022-10-25 21:50] gigamesh commented on #9102
I was experiencing this in a test that needs to make an async call to a local service at the start of the test. This solution worked for me:

[code]

https://stackoverflow.com/a/68178922/9202501

[2022-10-25 22:04] laradiaz commented on #20813
Hi Bill, how are you? As Steve mentioned, we have been encountering this **_doc.createTreeWalker_** error in the tests since August. We didn't have the **includeShadowDom** option set to true at the time, when we ran into this error we tried setting it to true and for a while it worked and the error disappeared although with flakiness.
Currently the error **_createTreeWalker is not a function_** p

[2022-10-25 22:46] Bohdan-Kalynovskyi opened #24395 "Getting '<head><script...' instead of data in response to XHR request"
### Current behavior

XHR response when running Cypress is:

[code]

### Desired behavior

Expected response is:

[code]

Obviously, html gets injected by Cypress. Request headers include
[code]
but unfortunately response headers include
`content-type: text/html; charset=utf-8`
I can't control the server unfortunately

### Test code to reproduce

Hope the bug is clear and I don't need to create a

[2022-10-25 22:52] Bohdan-Kalynovskyi commented on #24395
This is a dupe of https://github.com/cypress-io/cypress/issues/2599. In that issue CSV response also had `content-type: text-html`

[2022-10-26 01:22] will-weiss opened #24398 "Change in test file crashes component tests after upgrading to Mac"
### Current behavior

Hello! Thanks in advance for your assistance with this issue.

After I updated to Mac Ventura, I started seeing that any change to my test file crashes my open component tests as can be seen in the attached video. Changes to the non-test code does not crash the component tests.

https://user-images.githubusercontent.com/6589960/197911652-6fccf5b8-7ade-410a-a2c2-c6c78ff59bea.m