[2022-09-27 16:20] AtofStryker opened #23999 "Force cy.origin to use same origin instead of same super domain origin"
### What would you like?

I would like to force `cy.origin` spec bridges to create the iframe source as the same origin as the expected AUT.

In other words:

[code]
becomes
[code]

### Why is this needed?

In order to support google login from google chrome and eliminate inconsistencies from the spec bridge. This means requests can be relative from within the cy.origin block, as well as actually

[2022-09-27 16:21] AtofStryker commented on #23999
NOTE: This is a breaking change for `cy.origin`, but does NOT require a major release as it is behind an experimental flag

[2022-09-27 16:23] astone123 opened #24000 "Add cloud recommendation message to CI output"
[ClickUp](https://app.clickup.com/t/18033298/PM-2552)

Add the following message to the CI output for `cypress run`:
[code]
This message should show after the test summary (in place of the recorded run link) in run mode if the following conditions are met:
- we are in run mode
- the run is **not** being recorded to the dashboard
- we are running in CI
- at least one test failed during the run
- `C

[2022-09-27 16:26] AtofStryker commented on #23999
We also need to make sure documentation is added to `cypress-documentation` to explain this breaking change before releasing

[2022-09-27 16:36] AnthonyMadia commented on #23989
I am new to linux and did a whole bunch of things wrong here.

1. You don't need to install cypress on your machine - installing it in your project directory is fine.
2. I installed yarn the wrong way. I followed [this](https://yarnpkg.com/getting-started/install) to install properly.
3. I needed docker for the project and needed to give docker permissions. I was running sudo on the command that n

[2022-09-27 16:36] #23989 closed, assigned to nobody

[2022-09-27 16:38] marktnoonan commented on #23723
This seems like a relatively small task but to @lmiller1990's point, we need to pin down the "etc" to a list of things that should be the same.

[2022-09-27 16:39] warrensplayer commented on #24000
@astone123 I see suggestions in the click-up, but have the requirements for how to determine if it is running in CI been determined?

[2022-09-27 16:41] marktnoonan commented on #23951
Without a description I'm not sure what the right size for the spike is.

[2022-09-27 16:47] agoodall77 commented on #23992
Unfortunately,  that's going to be hard as it would give access to our intellectual property.
Happy to do a call and show the issue, you might spot the culprit easier?
We use page objects etc to make accessing certain functions easy for the team.
Hope that helps.

[2022-09-27 16:47] warrensplayer commented on #23951
@rockindahizzy Following what Mark commented, is this spike meant to actually setup the automated builds or to research and document what is needed?  More detail would be helpful to estimate.

[2022-09-27 16:48] nagash77 opened #24002 "Disable cy.origin in CT"
For GA we are disabling cy.origin within component testing.  This ticket represents that work.

[2022-09-27 16:48] vikingair commented on #23830
@mjhenkes Yes, I can only reproduce this within GitHub Actions.

Didn't try it within a docker container yet. Will try to find some time to test it within a container. If I can reproduce it with our tests, I'll try to create a repro without all of our sensitive data for you.

[2022-09-27 16:49] vaibhavganatra commented on #23391
There is still a `Needs Reproduction` label on this ticket even though it has been encountered and reproduced by several users here.
I do understand that this issue is more likely caused by changes in Chrome but cypress memory usage also needs to be improved.

[2022-09-27 17:20] astone123 commented on #24000
@warrensplayer we should be able to look at `process.env.CI` to determine whether the process is running in CI

[2022-09-27 17:23] ZachJW34 commented on #23995
Looks like a regression as I don't see any comment explaining why it was removed. I took a quick video to show the behavior:

https://user-images.githubusercontent.com/25158820/192594183-a2390381-6737-41c7-b00c-ce18ae5d04fd.mov

@gofr would you be interested in submitting a PR fixing this?

[2022-09-27 17:40] ZachJW34 commented on #23680
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment on this issue with a reproducible example and we can reopen. Here are some tips for providing a [Short, Self Contained, Cor

[2022-09-27 17:43] baus commented on #23723
We should audit this first, and provide recommendations for the implementation which will be in a future iteration.

[2022-09-27 18:35] nagash77 commented on #23994
closing as a duplicate of https://github.com/cypress-io/cypress/issues/23947.  Please continue discussions on the linked issue.

[2022-09-27 18:35] #23994 closed, assigned to nobody

[2022-09-27 18:35] PawelRuszlewicz commented on #23391
As a owner of ticket I lost my patience... almost 2 months for HIGH priority ticket, without any update, third developer assigned to the this issue. And I'm afraid that even if it is more Chrome related issue, they don't want to fix it because of this Cypress issue.
We cannot wait more, and have UI tests useless due to this issue and we have to starting migration process to other tool.

I am a lit

[2022-09-27 18:39] misaku commented on #19687
in my case the real problem was version node, try to change.. can be resolve

[2022-09-27 18:49] chrisbreiding commented on #23947
Exactly. Tests work by passing if there is not an exception thrown and failing if there is an exception thrown. Assertions (e.g. `expect(actual).to.equal(expect)`) work by throwing if they fail or not throwing if they pass. If something in a test doesn't throw an exception or if the test body doesn't return a promise that rejects, it is considered passing.

It seems you'd expect individual asserti

[2022-09-27 18:50] saldanaj27 commented on #23886
Hi, so I was able to resolve the issue on my side, but it didn't seem to solve my initial problem.

I am trying to test a federated login with cypress. Unfortunately, something that has to do with cypress and the Google Chrome issue of the same-site cookies, some cookies being sent through requests are being filtered out. I was hoping using cy.origin would have resolved this issue, but I am gettin

[2022-09-27 19:01] saldanaj27 commented on #23886
I was able to rewrite headers using cy.intercept()....thank you for your help regardless

[2022-09-27 19:01] #23886 closed, assigned to mjhenkes

[2022-09-27 19:12] BlueWinds commented on #22587
For anyone following along, this will be "fixed" in 11.0.0. Fixed is in quotes because it'll be fixed by completely disallowing Cypress commands from inside `.should()`, throwing an explicit error that this is unsupported rather than doing weird things (like logging twice, losing track of the subject, etc).

[2022-09-27 19:17] rockindahizzy commented on #24000
Voting under the assumption that `process.env.CI` is the only indicator we plan to go off of for this issue.

[2022-09-27 19:21] ptletski commented on #23947
My apologies. Thanks for the clarification.

[2022-09-27 19:38] sam-glad commented on #518
@louis-md are you using arrow functions, rather than `function()`, for your `it()`s? If so, see https://stackoverflow.com/questions/66960919/cypress-access-alias-with-this-doesnt-works

[2022-09-27 19:49] rogoit commented on #22129
Works fine for me thx for your passion

[2022-09-27 19:53] KyleWMiller commented on #22059
Having the same issue, and this is after upgrading to v10.9

[2022-09-27 20:22] #23969 closed, assigned to nobody

[2022-09-27 20:31] baus opened #24008 "Create from React Component"
Epic tracking the "Create from React Component" feature.

[ClickUp](https://app.clickup.com/t/18033298/PM-2724)

[2022-09-27 21:01] astone123 commented on #23998
Hey @shwetabodkhe, could you please provide a repository where the issue can be reproduced? What is triggering the network request to happen? Do you see the network request in the browser network tab?

[2022-09-27 21:18] mjhenkes commented on #23391
@PawelRuszlewicz I'm sorry that you haven't had a good experience. I completely agree that cypress has memory issues that we need to resolve. Unfortunately this is a complex issue that is hard to track down. Memory issues could be introduced in Cypress, chrome, or any one of our dependencies. We have been working on this issue and @emilyrohrbough has introduced several changes to try to reduce mem

[2022-09-27 21:35] lmiller1990 commented on #23772
Not directly a solution, but take a look at this - it may be useful: https://github.com/cypress-io/cypress/issues/23712#issuecomment-1243139172. This thread has some information and solutions on how users are testing Stripe.

[2022-09-28 01:46] lpcruz commented on #22236
+1 on @mossnz suggestion here!

The PR comment / GitHub integration with the Dashboard is absolutely fantastic and my org is moving towards improving the developer feedback loop at the code review level WRT testing.

I agree that the run details table is pretty big. @conversaShawn From experience working on GitHub bots/comments, I found that using `details` html tags can help, at the very least, p

[2022-09-28 04:09] #23764 closed

[2022-09-28 04:48] vishalsinghcevo commented on #2389
Were you able to make this work? Getting the same issue.

[2022-09-28 05:15] VaibhavP17 commented on #22159
I have the exact same problem now after upgrading to v10+.
I am working on a very big project and with this breaking change, the only way I see is to move the snapshots in a different directory. It is a very big task provided we have 100s of snapshots that will be required to move now.

I would like to understand if anyone was able to work around this issue using `onAfterScreenshot` ? @odai-alali

[2022-09-28 05:43] shalinirakesh opened #24010 "Getting (uncaught exception)TypeError: Cannot read properties of undefined (reading 'guided tours') while launching ServiceNow url"
I am getting the below error while launching service now url.Please find the screenshot attached:
I have tried the below workarounds but nothing worked.
1. I am using cypress version 10.4.0 currently.I have tried older version like 9.5.0 and 8.5.0 and i am getting the same error in older versions too.
2. Added the below code to e2e.js file.
Cypress.on('uncaught:exception', (err, runnable) => {
   

[2022-09-28 06:50] mateuszwrobel commented on #22159
@VaibhavP17 you can use https://github.com/jaredpalmer/cypress-image-snapshot as an example how to setup screenshot behaviour `onAfterScreenshot`. We are using modified version of this plugin to use old style folder structure.

[2022-09-28 06:57] VaibhavP17 commented on #22159
@mateuszwrobel : In fact, I am using the same plugin in my project. But I am encountering the folder structure issue when I migrate to Cypress 10+ version. Can you please guide me to the modified version of `cypress-image-snapshot` plugin that you are using to use the old style structure ?

[2022-09-28 07:05] bruno333 commented on #23935
Hi Zach,
I do have the latest version of NX installed.
What info would you need for further investigation ?
But Maybe I only missed where to specify the path of the tsConfig file for component testing?

[2022-09-28 07:37] Vladoche commented on #23391
I can easily reproduce this problem too since a month. No need of a too long test : above 1min30, my Chrome memory exceeds 2GB and...it crashes randomly. I'm on Cypress 10.8, Chrome V105. BUT ! Since i uninstall each morning my Chrome V105 and rollback to a Chrome V96, there's no more crash all day long. So... i guess Chrome is the real problem. Unfortunately it's just a workaround but it really w

[2022-09-28 07:54] mateuszwrobel commented on #22159
@VaibhavP17 https://github.com/jaredpalmer/cypress-image-snapshot/commit/f621ff6a6ff63af1b9311a6767fa1c13698e589e or just can use their package: https://github.com/simonsmith/cypress-image-snapshot
In our project we decided that we don't want to be dependant on those packages so we have in our source code modified version of simonssmith's version. jaredpalmer's isn't maintained anymore. when we we

[2022-09-28 08:01] VaibhavP17 commented on #22159
Thanks for the help @mateuszwrobel :)

[2022-09-28 08:22] maximkoshelenko commented on #235
This one works for me

const goOffline = () => {
  cy.log('go offline');
  return Cypress.automation('remote:debugger:protocol',
    {
      command: 'Network.enable',
    }).then(() => {
      Cypress.automation('remote:debugger:protocol',
        {
          command: 'Network.emulateNetworkConditions',
          params: {
            offline: true,
            latency: -1,
            downloadTh

[2022-09-28 08:32] shwetabodkhe commented on #23998
Hello @astone123 ,

Yes I can see the request in Network tab of browser. I am searching for any customer by entering the customer number and then the network request is being called to get the account of customer.
But cy.wait(@GET_ACCOUNTS_ALIAS) is not recognising the request so giving error at the end.

The same code is working fine when I am using cypress version 6. Is there anything needs to b

[2022-09-28 08:56] feifei0914kwc commented on #2640
I ran into similar situation and my solution is to set a buffer to check the amount of the element first and then use `cy.get().contains() `to get the element that I actually need.

`
    cy.get(selector).should("have.length", 5)
    cy.get(selector).contains("target").click()
`

`cy.get(selector).should("have.length", 5)`will make sure that I got the correct amount of elements that I'm expecting

[2022-09-28 09:01] Tathos20 commented on #23391
@mjhenkes Unfortunately they were existing production tests, so I can not post it on github, but as @Vladoche  mentioned he has some code.

[2022-09-28 09:08] PawelRuszlewicz commented on #23391
@mjhenkes

There was a request for repo to reproduce 1 month ago, and it's still available

![image](https://user-images.githubusercontent.com/101120019/192737749-caf8f2d0-b2e3-4a51-8c60-24c6b6e2a54f.png)

https://github.com/MusolQA/cypress-test-tiny

I don't understand how You cannot reproduce it? There are couple of same issues here. A bunch of people have this issue.
Do you try to play on time

[2022-09-28 09:17] convers39 commented on #20784
same issue here, any solutions?

[2022-09-28 09:54] lmiller1990 opened #24011 "React components with errors are double-logged in the reporter"
### Current behavior

Related: https://github.com/cypress-io/cypress/issues/23920

The "double log" bug was most fixed in: https://github.com/cypress-io/cypress/pull/23957. React components with errors still double log, though. ReactDOM seems to re-throw the error after the fact. All other frameworks work as expected - no double log.

![image](https://user-images.githubusercontent.com/19196536/192

[2022-09-28 10:01] gustawdaniel commented on #17473
I had exactly the same problem

![cloudflare-access](https://user-images.githubusercontent.com/16663028/192750751-b93d9004-4587-477f-814d-0a5c9897f3ea.png)

Fixed by opening cypress in electron instead of chrome.

[2022-09-28 10:28] zbynek commented on #1247
@jennifer-shehane are there any plans to support `import` without babel now that Cypress bundles Node 16 which supports `import` natively?

[2022-09-28 10:52] Michel73 opened #24014 "testIsolation won't work"
### Current behavior

I set the flag `testIsolation: 'legacy'`to suppress clearing the page after each test. But it doesn't have any effect. The page is cleared despise setting the flag.
![image](https://user-images.githubusercontent.com/6614299/192760834-634c95ca-10c4-4d15-ba57-c7bed22d921b.png)

### Desired behavior

If the flag `testIsolation: 'legacy'`is set, then clearing the page before each

[2022-09-28 10:56] vasanthiraman opened #24015 "Auto-Scrolling goes disabled automatically when the execution is in-progress"
### Current behavior

Auto-Scrolling goes disabled automatically when the execution is in-progress

### Desired behavior

Auto Scrolling should remain enabled once it is on in cinfiguration. It should not go disabled automatically until the user manually disable it.

### Test code to reproduce

N/A

### Cypress Version

10.6.0

### Node version

v14.16.0

### Operating System

Windows 10

### Debu

[2022-09-28 12:07] henricook commented on #2472
Did you ever find a solution to this @DannyFeliz @kanadev @jennifer-shehane ?

[2022-09-28 12:08] Tathos20 commented on #23391
Can I suggest a quick workaround? How about adding a new variable into the configuration where we can set after how many tests should cypress close and reopen the browser. With this the tests will be a bit slower, but it can help in some cases? This will not help in that case if there is only one ling test which will die. Also the before all section like login etc. has to be executed again by cypr

[2022-09-28 12:09] lucasdonato commented on #24015
I'm sad about this error too

[2022-09-28 12:52] csvan commented on #518
Surely there _must_ be a way to do this without using non-arrow functions?? Isn't the context exposed in any other way?

[2022-09-28 13:21] astone123 commented on #23992
@agoodall77 We understand that you wouldn't want to share any IP with us, but if you could create a sort of trimmed-down example of the project (preferably in a repository) that triggers this error so that we can re-produce the issue on our machines, that would be extremely helpful. Thanks!

[2022-09-28 13:27] astone123 commented on #24015
@vasanthiraman @lucasdonato This sounds like a similar issue to https://github.com/cypress-io/cypress/issues/16098. We released a fix for this in version 10.8.0. Could you try upgrading Cypress to 10.8.0 and see if the issue persists? Thanks

[2022-09-28 13:33] agoodall77 commented on #23992
We’re using another source control system.
To have a stripped-down version looking at something less sensitive, might not still reproduce the issue (wouldn’t that be interesting!) and at least for me wouldn’t be a trivial undertaking to set this up in something else.
Would a call suffice?

From: Adam Stone ***@***.***>
Date: Wednesday, 28 September 2022 at 14:21
To: cypress-io/cypress ***@***.***>

[2022-09-28 13:38] lucasdonato commented on #24015
I'm on version 10.9 and I have the same problem

[2022-09-28 13:39] cosmith commented on #22631
It didn't help for us unfortunately.

[2022-09-28 13:44] xavierrobitaille commented on #1232
@manv6 @nhayes84, here are my two cents. Would love to hear what you think.

I thought I needed to run Cypress on a Lambda, but I am now thinking of using AWS CodeBuild instead. My use case:

- I want to run status checks on my WebApp in cypress, on a scheduler.

I thought it would be easy to run cypress on a lambda, given that I am already successfully running automated cypress tests in AWS CodeB

[2022-09-28 13:56] astone123 commented on #23992
@agoodall77 unfortunately we don't offer that level of support at this time. Please let us know if you are able to provide a reproducible example

[2022-09-28 14:14] KaterinaDimogiorgi opened #24018 "experimentalWebkitSupport: System module not supported"
### Current behavior

Cypress specs fail to be executed because System module is not supported by playwright-webkit.
The error propagated in browser console is: `ReferenceError: Can't find variable: System`

### Desired behavior

_No response_

### Test code to reproduce

ReferenceError: Can't find variable: System

### Cypress Version

10.8

### Node version

14.17.6

### Operating System

macOS

[2022-09-28 14:16] emilyrohrbough commented on #24014
@Michel73 `testIsolation=legacy` removes the clear page that happens before each test. . It does not impact the behaviors of the `cy.session()` command.

When `testIsolation=strict` and the page is cleared before a test, we do not generate a log for this so  it won't be obvious when reviewing the logs in the reporter. We did not to generate a log because we don't log when aliases, intercepts, cloc

[2022-09-28 14:16] #24014 closed, assigned to nobody

[2022-09-28 14:18] emilyrohrbough commented on #24014
The reason the `cy.session()` command is clearing the page and the local storage, session storage, and cookies is to ensure you will always create or restore the same session data when your tests run - whether it is the first test run, a rerun or if the test failed and was retried due to another command failing in the test.

[2022-09-28 14:19] agoodall77 commented on #23992
@astone123  This gives the same issues as I originally reported.

Cypress.on('uncaught:exception', (err, runnable) => {
  return false;
});

describe('Pages', () => {

  beforeEach(() => {
    cy.visit('https://www.bbc.co.uk')
  })

  it('Test a thing', () => {
    cy.get('.ssrcss-13tejcu-NavItemHoverState').click()
  })

  it('Test another thing ', () => {
    cy.get('.ssrcss-154a395-NavItemHover

[2022-09-28 14:37] luke-sensei commented on #22086
I confirm the issue is NOT fixed on windows 11 + cypress 10.9 + firefox 105

[2022-09-28 15:04] flotwig commented on #23992
This looks like #23832. Thanks for the repro @agoodall77, I'm going to close this issue since it is a duplicate. You can watch #23832 for updates on this.

[2022-09-28 15:04] #23992 closed, assigned to nobody

[2022-09-28 15:09] shwetabodkhe commented on #23998
Issue is resolved by adding `"*"` at the end of URL .
old URL = `'account/ajaxgetaccounts'`
Working solution URL = `'account/ajaxgetaccounts*'`

[2022-09-28 15:19] emilyrohrbough commented on #23391
Has anyone been able to reproduce this without using third-party Cypress plugins? i.e. without the cucumber preprocessor? That's great there is a repo with that plugin, but it'd be best to track down issues with Cypress out-of-the-box.

[2022-09-28 15:24] astone123 commented on #24015
@lucasdonato can you make it happen reliably, or does it only happen intermittently?

[2022-09-28 15:28] Vladoche commented on #23391
Hello Emily ! Yes i reproduced this problem, preprocessor (cucumber) within and without project. In each case, crashes remain as usual. I don't think that any preprocessor is responsible of this kind of problem. And actually, it seems normal, but you know much well than me, i'm not an internal of Cypress. However i finally uninstalled Cucumber Preprocessor because it's not anymore maintained, so..

[2022-09-28 15:38] iambumblehead commented on #22355
I'm interested in adding browser support to [esmock.](https://github.com/iambumblehead/esmock) it would be awesome if someone would add a cypress test folder [alongside esmock's other test folders,](https://github.com/iambumblehead/esmock/tree/master/tests) and inside the test folder, add a passing test and a broken/failing test that uses esmock in the right place to try and browser-import a modul

[2022-09-28 15:40] Vladoche commented on #23391
You just have to do the same as me : lauch tests with a project with quite long tests (1min30 is a minimum time of execution) with a Chrome version 105 for example. Then, uninstall Chrome, and install instead of it, a v96 (or any version before v100) : you'll see the real way Cypress is supposed to work then. Whatever Cypress version you use, Chrome version is the only crap variable in this kind o

[2022-09-28 15:49] astone123 commented on #24018
@KaterinaDimogiorgi could you link to some documentation about this `System` module? When I try to call it in Safari I see the same error. Is it supposed to be supported in Safari?

[2022-09-28 15:56] manv6 commented on #1232
@xavierrobitaille
I never gone CodeBuild way cause it is too costy for my needs.
I used to run everything in ECS and in parallel but I have a delay in provisioning the ec2 instances. I'm running up to 90 parallel tasks.

That's why I prefer lambdas(cheaper and faster) BUT I cannot make it work yet. I will try @nhayes84 solution asap

[2022-09-28 16:04] Michel73 commented on #24014
@emilyrohrbough This seems inconsistent to me. I want to reduce the set-up time when loading my application. After logging in when the page first loads, many other things are loaded. So if the session is restored to speed up the login process and then a blank page is displayed, we have achieved almost nothing because we have to go back to the page that comes after the login and so the whole app-in

[2022-09-28 16:18] MusolQA commented on #23391
@emilyrohrbough

Hold on... You try to tell me that, since almost 2 months, you were not able to just remove preprocessor, and change the feature file for spec,  and reuse existing method, to use just Cypress without any plugins in this reposository to run? It will take my 15 mins, so for you as a dev/owenrs of Cypress it should take no more than 10 mins.

THAT'S WHY NOBODY SO FAR WAS ABLE TO REPR

[2022-09-28 16:26] Vladoche commented on #23391
Well, man @MusolQA , preprocessor or not, i guess it's not a major piece of this cake of bug. There is NO difference of behaviour between Cypress cucumber preprocessored and one without a preprocessor. I really do think that it's not a point. Don't be too harsh with the cypress team. They may be like anyone of us : simple engineers. Doing their best. My advice to everybody here is simple : stay ca

[2022-09-28 16:26] lucasdonato commented on #24015
intermittently :(

[2022-09-28 16:37] Vladoche commented on #23391
Yep, I agree. And what i think maybe what it is : Cypress.io is not in fault. These recent new versions of chrome introduced a bad way to manage memory. Maybe. But. Just try to rollback to V96 and you'll see by yourself. Uninstall 105. Install V96. You'll see by yourself i repeat. And please stay calm. Nobody here deserve hate because of a misundertanding the real origin of a regression. You know

[2022-09-28 16:48] MusolQA commented on #23391
Sorry for my reaction, maybe it's unnecessary

Maybe yes, maybe not. I don't know cause nobody from Cypress gave resposne here, that's why I am frustrated. No because of this issue, but because of that, after 2 months the answer is that they need a repository to reproduce high priority issue, that could be created in 10 mins for each of Cypress dev... is like a total ignorance.

And you as a teste

[2022-09-28 16:56] vaibhavganatra commented on #23391
We all agree that chrome changes are causing this issue. However lets also agree that Cypress shouldn't crash regardless of how chrome behaves. If chrome crashes while test execution then, cypress needs to fail the test and continue to the next test execution. Hanging the entire pipeline due to this is not expected.

[2022-09-28 17:04] DannyFeliz commented on #2472
@henricook Sadly, I didn't find a solution at that time, the team bypassed this by using a different environment just for the tests.

[2022-09-28 17:09] MusolQA commented on #23391
ok, 3  final question to @emilyrohrbough or some from cypress:

We have this issue since at least 2 months, from Chrome 104, however we downgrade to 102/103 and still have this issue so problem could occurred earlier. We are assuming that its because of Chrome update of memory distribution, etc.

1. Does anyone from Cypress contact with Chrome/Edge, got any answer if they will fix it, of something

[2022-09-28 17:52] emilyrohrbough commented on #24014
@Michel73 You aren't the first person to share you thoughts on who `cy.session()` should behave in relation to test isolation.

The reason `cy.session()` has it's own command-level behaviors that clear the page/session data is to ensure the command behaves consistently and to act as guards to potentially unexpected behaviors that could occur when the session applies. For example: when the session

[2022-09-28 17:56] zachlysobey commented on #21924
I'd be curious to hear more about the nature of the issues around this.

I understand that this is probably not a priority, and perhaps a lot of work. But the option to combine these seems like it'd improve DX in many use-cases.

[2022-09-28 18:23] #23998 closed, assigned to nobody

[2022-09-28 18:29] mrkjdy commented on #22459
On Cypress 10.9 this is failing with a different error now:
<img width="410" alt="image" src="https://user-images.githubusercontent.com/32761859/192860322-dcd8f645-28d1-49bf-b9bf-08ecf2709d8f.png">

Also, I updated the [example repo](https://github.com/mrkjdy/cypress-test-tiny/tree/bug/page-load-within-origin). I'll be so happy once this is fixed :)

[2022-09-28 18:32] nagash77 commented on #24010
@shalinirakesh I am going to close this issue since it does not follow our issue template.  Your screenshot also does not show in this issue.  Please create an issue from the issues tab in the [cypress github repo page](https://github.com/cypress-io/cypress) and select the bug option and include the fields.

[2022-09-28 18:32] #24010 closed, assigned to nobody

[2022-09-28 19:24] emilyrohrbough commented on #23391
@MusolQA Your negative responses are not helpful and do not align with our [Code of Conduct](https://github.com/cypress-io/cypress/blob/develop/CODE_OF_CONDUCT.md#our-standards) for treating people with respect. Please take a min next time if you are frustrated so we can have constructive conversations to move forward with solving this issue.

As both @mjhenkes and I have expressed, we are taking

[2022-09-28 20:05] MusolQA commented on #23391
@emilyrohrbough I agree that my previous messages were out of topic and I apologize for that, so I removed those. I cannot agree that those do not align with Code of Conduct, what more, those are aligned with point "Gracefully accepting constructive criticism". Especially that I didn't offend any people here and I have respect for all people,
I didn't point my negative response to any person, just

[2022-09-28 21:15] isitgeorge commented on #17798
+1

[2022-09-28 21:35] omelnik commented on #5832
Hi there. I'd like to use both of these preprocessors [cypress-tags]( https://github.com/infosum/cypress-tags) and [@cypress/webpack-preprocessor](https://www.npmjs.com/package/@cypress/webpack-preprocessor) in my project. Any suggestion on how to overcome limitations? Thanks!

[code]

[2022-09-28 22:10] Censin commented on #22505
@jessevdp @thunder809 @lmiller1990  I've been having the same issue with a Laravel project using Vite and Vue. The solution for me was to disable the laravel-vite-plugin while running cypress tests. I found the idea from this project that was given as a talk at Laracon: https://github.com/beyondcode/laragone/blob/main/vite.config.js

The config is just set up to ignore the plugins it doesn't need

[2022-09-29 00:25] lmiller1990 commented on #22355
Oh nice! Hadn't seen this project, this looks promising.

[2022-09-29 01:35] ganeshac123 commented on #22670
@chrisbreiding @nagash77 @cy-veronica @mschile @cypress-app-bot  Hi Any updates on this ? you had only 2 weeks but we are already passed 4 weeks? please let us know if you are not able fix this because this ticket opened 3 months still no update on this?

[2022-09-29 02:34] mryellow commented on #299
This needs to be prioritised in some manner. Leaving disabled people behind as we all forge ahead only testing mouse interactions is probably a violation of policy for many if not law.

[2022-09-29 02:36] mryellow commented on #311
An interim release which delivers tab support would probably be a good idea. Leaving such a critical feature which has been demanded for 6 years hanging while other things are added is non-ideal.

[2022-09-29 05:41] jijeesh commented on #4563
I have a workaround on this to solve my problem
[code]

[2022-09-29 06:53] shalinirakesh opened #24031 "Getting (uncaught exception)TypeError: Cannot read properties of undefined (reading 'guided tours') while launching ServiceNow url"
### Current behavior

I am getting the below error while launching service now url.Please find the screenshot attached:
I have tried the below workarounds but nothing worked.

1. I am using cypress version 10.4.0 currently.I have tried older version like 9.5.0 and 8.5.0 and i am getting the same error in older versions too.
2. Added the below code to e2e.js file.
Cypress.on('uncaught:exception', (

[2022-09-29 07:08] Marcelinna commented on #23698
@ZachJW34 Thanks, works for me

`cy.window().then((win) => {
    cy.setCookie("cookieconsent_status", "dismiss", { domain: win.location.hostname });
})`

[2022-09-29 07:11] Michel73 commented on #24014
So in conjunction with using `cy.session()` for a login function, I can't see the point of the `legacy` setting.
The approach of dogmatically enforcing test isolation seems a bit overambitious to me. It clashes with the pattern of "separation of concerns" and "fast feedback". Suppose we want to test a page that is fully loaded. To test all the things the page represents, I don't want to write a hu

[2022-09-29 07:51] KaterinaDimogiorgi commented on #24018
@astone123 https://www.npmjs.com/package/systemjs

[2022-09-29 08:13] tusharbmc commented on #21135
Hi @emilyrohrbough,

I have updated Chrome 106 and Cypress 10.8, still facing the same issue. Cypress needs some performance improvement to get rid of aw snap error.

Cypress: 10.8, Chrome: 106, already using, numTestsKeptInMemory: 0,
Command: npx cypress run NO_COMMAND_LOG=1 --browser chrome --headed --spec **/regression/* --config baseUrl=<Application URL>

I am sorry, could not share the code/r

[2022-09-29 08:20] rkhomi opened #24033 "Add option to remove command-level isolation from cy.session()"
### What would you like?

I would like to have the possibility to cache session across tests to speed up things

### Why is this needed?

Consider this example, we have simple crawler test suite, I just wanna go over sidebar and navigate to a bunch of pages and just check page title

To have this more readable I split it into several it's() to have nice report and know exactly where the page title

[2022-09-29 09:30] OliverJAsh opened #24034 "webpack 5 error when module contains dynamic import: "Automatic publicPath is not supported in this browser""
### Current behavior

Same as https://github.com/cypress-io/cypress/issues/18435. This issue was marked as fixed but I can still reproduce using the latest version of Cypress. Full reduced test case: https://github.com/OliverJAsh/cypress-webpack-5-public-path-error/tree/upgrade

Unfortunately I had to open a new issue because https://github.com/cypress-io/cypress/issues/18435 has been locked.

###

[2022-09-29 09:59] mataspetrikas commented on #14745
tested with msw `0.39.2` and cypress `10.9.0`, the problem still persists:

 - `cy.route()` intercepts the mocked requests
 - `cy.intercept()` doesn't intercept the mocked requests

[2022-09-29 11:09] KaterinaDimogiorgi commented on #24018
@astone123 according to the above documentation, maybe **SystemJS Babel Extension** (https://github.com/systemjs/systemjs-babel) is required?
Alternatively, **systemjs-webpack-interop** package might be required in order to dynamically set the webpack public path based on the URL that a SystemJS module was downloaded from (https://www.npmjs.com/package/systemjs-webpack-interop).

[2022-09-29 11:24] ivanpepelko commented on #22086
Issue also persists with:
- Ubuntu 20.04.5 LTS + Cypress: 9.6.0 + Browser: Firefox 104 (headless) +Node Version: v16.17.0 (plain github actions runner)
- Arch (kernel 5.19.11-arch1-1) + Cypress: 9.6.0 + Browser: Firefox 105 (headless) +Node Version: v16.17.1

[2022-09-29 11:46] lucasdonato commented on #24015
it happen reliably :(

[2022-09-29 11:54] anealbening opened #24035 "When entering text into form using .type(typedText) where typedText is a constant the value changes from the original text"
### Current behavior

When entering text into form (email address) using .type(typedText) where typedText is a constant the value changes from the original value so the test fails. The screenshot of the code is below (the filename is testing.spec.js).

![Screenshot 2022-09-29 at 12 57 02](https://user-images.githubusercontent.com/6642705/193025223-2a4ca381-d1cc-4393-a56a-b633efa98e2b.png)

The pho

[2022-09-29 12:04] nadvolod commented on #23839
@chrisbreiding, any updates on this? We're blocked

[2022-09-29 13:04] ThijSlim commented on #21673
@jennifer-shehane You're saying that you can automate this flag. I can't find a way to set the `Emulate a Focused Page` flag

[2022-09-29 13:06] astone123 commented on #24031
@shalinirakesh it looks like this error is being thrown inside of the application that you are testing. I don't see anywhere in the Cypress codebase where we read a property called `guided_tours`. The error needs to be fixed within the application that is being tested.

[2022-09-29 13:25] astone123 commented on #5920
So I think there are two different ways that we could go about offering a configuration for this:

1. Add a new configuration option to `screenshot`, possibly `captureOnRunFailure` which takes the same options as `capture`

or

2. Update the `screenshotOnRunFailure` option to accept values for `screenshot.capture` (`runner`, `fullPage`, `viewport`, or `off`), rather than `true`/`false` (this would

[2022-09-29 13:42] nagash77 opened #24039 "Build Automation"

[2022-09-29 13:42] manv6 commented on #1232
@nhayes84 unfortunately this solution doesn't work on AWS Lambda with lambda nodejs image :( I did everything as described with but the base image.

Where are you running your lambda ? can we take it offline and give you some more details ? `evlastos@gmail.com`

[2022-09-29 13:43] magarwal19-wellsky commented on #23897
We are still facing this issue.. do we have any workaround ?

[2022-09-29 13:46] nagash77 opened #24040 "Cypress Protocol"
Click up for project: https://app.clickup.com/t/18033298/PM-2840
Design journal: https://app.clickup.com/18033298/docs/h6amj-36687
Meetings: https://app.clickup.com/18033298/docs/h6amj-36607

[2022-09-29 13:47] cgraham-rs commented on #23897
@nagash77 The Mozilla team seems very active with a lot of technical questions and proposals. Can someone from Cypress please interface with the Mozilla team to help expedite?  https://bugzilla.mozilla.org/show_bug.cgi?id=1792088

[2022-09-29 13:49] chrisbreiding commented on #23839
I think there's frame-busting causing the redirect back to the specs list. Can you try setting `experimentalModifyObstructiveThirdPartyCode: true` in your cypress config? It goes a bit further than the standard `modifyObstructiveCode` option to prevent frame-busting. I tried it in the reproduction you provided and it stopped the redirect from happening.

[2022-09-29 14:18] rkhomi opened #24041 "There is no progress bar in Command log while asserting an element"
### Current behavior

There is no progress bar while waiting for assertion to be succeeded

https://user-images.githubusercontent.com/85738556/193056243-8a741e6f-becb-434d-9747-9a6232cc38b7.mp4

### Desired behavior

There should be an progress bar

### Test code to reproduce

None

### Cypress Version

10.9

### Node version

14.17.5

### Operating System

mac os Big sur

### Debug Logs

_No resp

[2022-09-29 14:20] CSchulz commented on #23141
I have encountered the same issue with 10.3.1 and 10.9.0.

It seems to be related to the import itself. 10.9.0 gives a better error output but it doesn't help to solve the issue.

[code]

My paths of tsconfig.json seems to get ignored:

    "paths": {
      "@e2e-commons": [
        "dist/e2e-commons",
        "node_modules/@e2e-commons"
      ],
      "@e2e-commons/config": [
        "dist/e2e-co

[2022-09-29 14:27] astone123 commented on #23958
@jpatil14 @Rogeriohsjr are either of you able to log into Winter '23 using the SOAP API outside of a Cypress context? Wondering if this is an issue with Cypress specifically or a separate API issue

[2022-09-29 14:47] mjhenkes commented on #23962
@michaelkaye, Thank you for the reproduction repo, it really helps. Clearly cypress is behaving badly when it doesn't have write permissions to a directory.

I'm not a linux user expert, but user 1001 doesn't seem to exist on the docker container so it retverts to 'default' and 'default' doesn't have owner privs but is part of the root group.

I'd like to see us modify cypress to do a health check

[2022-09-29 14:47] nagash77 commented on #23893
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-29 14:47] #23893 closed, assigned to nobody

[2022-09-29 14:49] nagash77 commented on #23917
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-29 14:49] #23917 closed, assigned to nobody

[2022-09-29 14:49] #21830 closed

[2022-09-29 14:49] nagash77 commented on #23891
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-29 14:49] #23891 closed, assigned to nagash77

[2022-09-29 14:52] nagash77 commented on #23343
@erik-itland thank you for your thoughtful reply!  I will be sure to pass this along to our product team so they can better understand our users and this specific use case.

[2022-09-29 14:52] nagash77 commented on #23923
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-29 14:52] #23923 closed, assigned to lmiller1990

[2022-09-29 14:53] mjhenkes commented on #23938
This happens to me too 😒

It's a dupe of https://github.com/cypress-io/cypress/issues/22132

[2022-09-29 14:53] #23938 closed, assigned to mjhenkes

[2022-09-29 14:57] astone123 commented on #24015
@lucasdonato can you share more information? This bug has been difficult for us to pin down because we haven't been able to trigger it on demand. If you could share a project that reliably reproduces the issue, that would be extremely helpful. Thanks

[2022-09-29 14:59] nagash77 commented on #23836
These seem most likely related to local system permissioning.  Please read our [installation guide](https://docs.cypress.io/guides/getting-started/installing-cypress) and follow those instructions on how to setup Cypress.  If you are still encountering issues I would suggest reaching out to the [Cypress Discord community](https://discord.gg/cypress) for further assistance.

[2022-09-29 14:59] #23836 closed, assigned to nobody

[2022-09-29 15:00] nagash77 commented on #23874
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-09-29 15:00] #23874 closed, assigned to nobody

[2022-09-29 15:01] astone123 commented on #24018
@KaterinaDimogiorgi can you try those options and see if they work? If not, please re-open this issue. Thanks

[2022-09-29 15:01] #24018 closed, assigned to nobody

[2022-09-29 15:41] halfninja commented on #18970
Should be fixed in mocha-junit-reporter 2.1.0

https://github.com/michaelleeallen/mocha-junit-reporter/pull/172#issuecomment-1262450532

[2022-09-29 15:42] stevenlafl commented on #1232
@manv6 have you tried the Lambda setup in the repository I posted? If that isn't working I'll have to update it.

[2022-09-29 15:46] kate-mashkina commented on #18799
Same - currently on 10.1.0 and headless electron mode runs just fine, however starting from 10.2.0 it will crush. Now I really like to upgrade to version past 10.2.0 as it includes the fix for https://github.com/cypress-io/cypress/discussions/22128 - so having a crushing test is blocker for us, unfortunately

[2022-09-29 15:59] astone123 commented on #23855
@amccrodan I'm unable to reproduce this issue using the test that you provided on Cypress 10.9.0. I see `login_view.css` and other assets load properly

![Image](https://user-images.githubusercontent.com/14275198/193080177-80a2def3-48e7-420f-b436-69aa35268517.png)

I see the same thing on 10.7.0. Does this happen in a specific browser?

[2022-09-29 16:08] astone123 commented on #23837
@chandrakumar1988 can you clarify what you are having trouble with? The issue title says that you can't click an element, but in the issue description there is a screenshot of a Cypress error saying that an element can't be found with `cy.get('[name=x]')`.

When you say it's not working in Chrome, what exactly do you mean? From the command log, it looks like the click actions are successfully bein

[2022-09-29 16:15] mjhenkes commented on #23856
@vpkhachane is the iframe in the same origin as the document? If not you'll have to wait for our iframe support feature.

Could you provide a repo that recreates the issue. It's difficult to determine why contentDocument may return null for body when we don't have access to the running sight. Typically when I put together sample repos I start with https://github.com/cypress-io/cypress-test-tiny

[2022-09-29 16:20] Rc85 opened #24043 "[Documentation] Add incorrect usage to `cy.get`"
### What would you like?

I have been declaring a variable with `cy.get` and was causing inconsistency as to which element it was asserting. The documentation doesn't state that this is actually an incorrect way of using it. Here is an example
[code]
`nameInput.should` will assert if `addressInput` has the value of `McDonald's`. I don't know why this is happening.

### Why is this needed?

Save ne

[2022-09-29 16:32] mjhenkes commented on #23863
Hi @saurabh021986, I suspect you may be running into a cookie issue. If you inspect while running the test are the api calls hanging or failing. If they're failing you should check to see if the same cookies are being sent down on the request as are sent down when you execute the request outside of cypress.

[2022-09-29 16:46] BlueWinds commented on #23550
This was reverted from `develop` and added instead to a new feature branch, `issue-7306`.

[2022-09-29 16:46] #23550 closed

[2022-09-29 16:48] BlueWinds opened #24044 "Update remaining commands using $actionability to use cy.currentSubject()"
Following up on https://github.com/cypress-io/cypress/issues/23901, we'll need to update existing commands to use the new functionality. In most cases I expect this to be fairly simple, but going through all Cypress commands will together be a large chunk of work.

[2022-09-29 16:58] amar0120 commented on #23772
@lmiller1990 @mschile
I tried with the suggested approaches in https://github.com/cypress-io/cypress/issues/23712#issuecomment-1243139172, still my issue is not getting resolved. On each make payment click - cypress is redirecting back to the specs list :(
Please provide your valuable inputs.
Thanks

[2022-09-29 17:10] tnenkov commented on #24450
I'm experiencing the same issue with .ts files.
Cypress: 10.5.0
"cypress-grep": "3.0.3",

[2022-09-29 17:34] ness-EE commented on #21312
what is written in the docs doesn't work

[2022-09-29 17:52] astone123 commented on #24043
We do cover this in the docs under [Core Concepts > Querying Elements](https://docs.cypress.io/guides/core-concepts/introduction-to-cypress#Querying-Elements), but I think adding a reference here as well could be useful.

[2022-09-29 18:53] nagash77 commented on #24033
@rkhomi Check out our latest release [10.9.0](https://docs.cypress.io/guides/references/changelog#10-9-0).  This functionality was just added!

[2022-09-29 18:54] romankhomitskyi commented on #24033
I meant across it() not specs

[2022-09-29 19:00] romankhomitskyi commented on #24033
@nagash77 I create different users in each spec, so I don't think that it will work in my case

[2022-09-29 19:05] romankhomitskyi commented on #24014
Agree

[2022-09-29 19:06] rodriguesgio commented on #23640
@Zehava123 thank you so much, but unfortunately it didn't work out for us. Still on hold to find a work around.

[2022-09-29 19:09] emilyrohrbough commented on #24033
@nagash77 This topic has been brought up on our experimental feedback discussion: https://github.com/cypress-io/cypress/discussions/17887#discussioncomment-2835987

Re-opening & routing. As mentioned here (as @romankhomitskyi has found), based on multiple users feedback around this undesired behavior, I am in the process of syncing with our Product Team to determine what we might be able to offer

[2022-09-29 19:12] romankhomitskyi commented on #24033
Thanks for feedback

[2022-09-29 19:14] emilyrohrbough commented on #23517
**Issues:**
- tests with `it.only` are marked as pending and the test body is not sent, so the dashboard is marking it as modified because body was modified
- tests skipped due to browser skip (i.e. `it('t1', { browser: 'chrome' })`) is marked as pending and the test body is not sent, so the dashboard is marking it as modified because body was modified
- suites skipped for `.only` is marking all t

[2022-09-29 19:16] romankhomitskyi commented on #24015
This happens in open mode
Every time I rerurn my spec  Auto scrolling  is turned off

Cypress 10.9

[2022-09-29 19:29] oguzhantx commented on #22086
This issue still persists with
MAC OS, Cypress 10.3, Firefox 103,100,105

[2022-09-29 19:57] amehta265 commented on #23025
@davidNHK I am trying to understand why `"./cypress/support/*.ts"` was added to the sideEffects in the package.json?

Looks like this is what is causing the issue. According to the Webpack documentation any file that is not added to sideEffects will be subject to tree shaking and will be dropped in production mode. Hence, adding `*.css` to the sideEffects in your package.json should also solve thi

[2022-09-29 20:02] neviaumi commented on #23025
That because I am using Cypress on my components library and want to enable WP tree sharking for my component

But for the reproduce repo , it no point to that ? Probably should be remove

[2022-09-29 20:32] astone123 commented on #23958
@jpatil14 @Rogeriohsjr another thing to try could be to enable the `experimentalModifyObstructiveThirdPartyCode` experiment and see if that helps

[2022-09-29 21:07] rainerhahnekamp opened #24047 "Angular Component Testing: providing of transitive dependencies fails"
### Current behavior

If I use a service in a component that has a dependency to `HttpClient` and I provide the `HttpClient`, the mounting fails.

The error message is
[code]

If the component under test depends directly on the `HttpClient` and I provide the `HttpClient`, the mounting works.

### Desired behavior

Providing of transitive dependencies should work.

### Test code to reproduce

https

[2022-09-29 21:14] jweingarten commented on #23391
Chrome 106.0.5249.61 does not fix the problem for me. The same test runs fine on Chrome 103 on my Mac, but with 106 it runs out of memory.
Setting `numTestsKeptInMemory` to 1 is not helping. Setting it to 0 worked a few times, but not always.
Setting `CYPRESS_NO_COMMAND_LOG=1` I find like a not acceptable solution. Yes I can get the command logs into a file, but that feature is part of the attract

[2022-09-29 22:17] lmiller1990 commented on #23935
Can you provide a minimal reproduction @bruno333? That would be the easiest way to get some momentum on this issue.

[2022-09-29 22:27] lmiller1990 commented on #22505
Oh, interesting. I wonder why the Laravel Vite plugin ignores other plugins?

Sounds like this is a Laravel/Ruby specific issue, where they are ignoring our plugin. I don't know if there's anything we can do on our end to solve this.

[2022-09-29 22:31] lmiller1990 commented on #23141
Can you include your full `tsconfig.json`

Also what is `@e2e-commons/config`? Can you share the `package.json` and whatever it is supposed to be pointing to (what's in `dist/e2e-commons` and `node_modules/@e2e-commons/config`? I didn't know you could point to multiple things in `paths` like this, how does it decide which one to use?)

I need more information to reproduce the issue.

[2022-09-29 22:41] lmiller1990 commented on #23025
I think the reproduction repo is useful, definitely keep that. I'd agree that you should be able to simply do `import '../../style.css' (or whatever)` in `component.ts` without any additional work arounds.

[2022-09-29 23:28] #23920 closed, assigned to lmiller1990

[2022-09-29 23:36] JasonFairchild commented on #23301
I think I'm getting this as well. I can't tell anything from the app viewport with it at just 10%. Affects videos too of course. I think it might be interfering with our VRT as well.
![CurrencyInput component -- default derived format and most input props (failed)](https://user-images.githubusercontent.com/56280950/193160206-ed49c796-a906-45be-988c-144eddcc9f42.png)

[2022-09-29 23:51] Rogeriohsjr commented on #23958
Hey @astone123 ,

1. SOAP api is used only to get the SessionId. I added a cy.log to display the session Id that we were generating through SOAP using Cypress, then I access the URL in the browser in the same way that Cypress access, like:
https://test-mydomain-dev-ed.lightning.force.com/secur/frontdoor.jsp?sid=SessionIdFromLog
1.1. I could access Salesforce with no issue.
1.2. Cypress using the s

[2022-09-29 23:55] lmiller1990 commented on #23723
I'm yet to clarify if this is E2E or just CT, but we've got some common warnings in the console across all frameworks (and possibly E2E testing).

![image](https://user-images.githubusercontent.com/19196536/193161896-1aa48bef-4e9f-47de-9b36-061c9f0e1714.png)

It would be nice to get rid of these (at least, the warnings and error) even if they are harmless.

[2022-09-30 01:34] jprivard commented on #7062
Perhaps it ma be helpful for some of you, but it my case, it happened because the Angular application was served with the "watch" flag on and for some reason, as soon as it finishes to build and serve, both cypress was starting and the angular app was refreshing, ultimately leading to the `ESOCKETTIMEDOUT`. Flipping the watch flag off, fixed my issue.

[2022-09-30 02:03] ajlongcoy21 opened #24048 "Component Testing - cy.intercept not caught by cy.wait in beforeEach block"
### Current behavior

While testing a component, in a beforeEach block the cy.intercept setup is not being caught by the cy.wait during the second test.

Note: the API call is activated during the mounting process of the component.

### Failure

<img width="738" alt="Screen Shot 2022-09-29 at 9 10 41 PM" src="https://user-images.githubusercontent.com/2608643/193171748-2b969e69-1387-463a-9909-fdd5a

[2022-09-30 06:03] capc0 commented on #23830
We are experiencing the same issue within our GitLab CI Pipeline running in a docker container

`cypress/browsers:node14.17.0-chrome91-ff89`

[code]

some errors that are printed within the log that might be related

[code]

our config

[code]

[2022-09-30 06:20] cw0423 opened #24049 "V8 process OOM"
### Current behavior

Browser crashes after 10 tests after upgrading to 10.8.0
chrome version 106

### Desired behavior

should not report an error

### Test code to reproduce

Browser crashes after 10 tests after upgrading to 10.8.0

### Cypress Version

10.8.0

### Node version

v14

### Operating System

macOS12

### Debug Logs

_No response_

### Other

_No response_

[2022-09-30 06:21] cw0423 commented on #24049
![image](https://user-images.githubusercontent.com/3793852/193203736-1e5eb0f1-44cd-407b-a966-43082d21e849.png)

[2022-09-30 07:11] cw0423 commented on #24049
after testing
There are problems with chrome V106, V104, V101 versions
With more and more tests, after the chrome memory exceeds 3G, there is a high probability of crashing

[2022-09-30 07:12] cw0423 commented on #24049
be OOM by cypress 10+

[2022-09-30 07:25] 403-html commented on #23897
I'm not sure if they'll read closed issues

[2022-09-30 08:19] lydemann commented on #23797
Any updates?

[2022-09-30 08:28] YoLoADR commented on #22795
I confirm it's a node version issue. I'm using now nvm with a node@16.15.1 an it works well now

[2022-09-30 08:40] dobladov opened #24051 "@cypress/webpack-preprocessor 5.13.0 causes module error"
### Current behavior

After updating from *@cypress/webpack-preprocessor* `5.12.2` to version `5.13.0` this error appears
[code]

`node_modules/@cypress/webpack-preprocessor/dist/lib/utils.js:32:29`
[code]

### Desired behavior

Cypress should work without an issue.

### Test code to reproduce

Run Cypress `10.8.0` or newer with @cypress/webpack-preprocessor `5.13.0`

### Cypress Version

10.8.0

[2022-09-30 08:43] PippoRaimondi opened #24052 "Screenshot/video is not creating folder structure from tests"
### Current behavior

When we have a test folder structure like this:

[code]

And screenshots are taken within the above tests, we get screenshots added the following way:

[code]

### Desired behavior

How it used to work and how all visual regression tools need it to work:

[code]

And screenshots are taken within the above tests, we get screenshots added the following way:

[code]

If it's too

[2022-09-30 08:44] vasanthiraman opened #24053 "Cypress browser is crashing frequently during the execution"
### Current behavior

Cypress browser is crashing frequently during the execution, it becomes a blank screen suddenly and we need to close the browser window and start the execution again. It is being a major issue since we face it very frequently, especially after the upgrade to 10.6. previously we were using version 9.5 we faced that crash very rarely only when the execution time exceeds 6 or 7

[2022-09-30 08:47] mysticdevx commented on #24034
Confirming that I also still get the same issue with:
Cypress 10.9.0
Node: 14.17.3
locally MacOS: 12.6 - M1 chip
in ci, docker base image: cypress/base:14.17.3

So still I use the workaround suggested [here](https://github.com/cypress-io/cypress/issues/18435#issuecomment-1077491487)

[2022-09-30 08:49] dobladov commented on #24051
Might be caused because `md5` was added as a devDependency
https://github.com/cypress-io/cypress/pull/23283/files#diff-2652bb78004354b4c0896b93e91646e537d1bf0e5c1e5163b2a997f1aa655957R53

[2022-09-30 09:10] raikm commented on #18124
@sam-choiholdings

I had the same idea regarding the use of `unplugin-vue-components` since its quite helpful for me for the autoimports of element plus components. Since I work in a monorepo: following vite.config settings helped me:

[code]

[2022-09-30 09:29] Samuel-Schober-USU opened #24054 "feature request: Component testing for StencilJS"
### What would you like?

Since more and more companies are using web components and StencilJS is often used for building them, it would be awesome if Cypress could support also StencilJS components in their component testing.

### Why is this needed?

Our company is currently using the Puppeteer based approach for testing our web components, but since we are already testing our applications with

[2022-09-30 09:47] ohirnyak commented on #8560
+1

[2022-09-30 09:56] SchulteDev commented on #22795
@YoLoADR This is solved, update to https://github.com/cypress-io/cypress/releases/tag/v10.9.0

[2022-09-30 10:11] Srikanth07482 commented on #20050
Is there any alternative to use variables across domains without values getting changed? @flotwig

[2022-09-30 11:30] melkstam commented on #23995
I would like to work on this if no one else already does!

[2022-09-30 11:40] vasanthiraman commented on #21135
Cypress browser is crashing frequently during the execution, it becomes a blank screen suddenly and we need to close the browser window and start the execution again. It is being a major issue since we face it very frequently, especially after the upgrade to 10.6. previously we were using version 9.5 we faced that crash very rarely only when the execution time exceeds 6 or 7 mins. but in the upgra

[2022-09-30 12:13] vaibhavganatra commented on #23391
Tried running my pipeline on chrome 107 beta (107.0.5304.18) and it went through successfully without hanging. I would suggest you all try executing tests on 107 beta.

[2022-09-30 12:28] vikingair commented on #23830
## Preparation

`Dockerfile`:

[code]

`.dockerignore`:

[code]

Having `cypress@10.7.0` installed and running:

[code]

Same for `cypress@10.9.0`.

## Execution

### 10.7.0

[code]

Runs into an error:

[code]

### 10.9.0

[code]

The run times reflect very much the times I see on the CI. Also many failing tests due to timeouts. However, docker on MacOS is still not very fast in with some operati

[2022-09-30 12:40] cgraham-rs commented on #23944
No, you definitely do not want to do that yet. See: https://github.com/cypress-io/cypress/issues/23897

[2022-09-30 12:56] jehoffm opened #24057 "Jira details missing from dashboard"
### Current behavior

The test result section of the dashboard indicates that there is an associated Jira, but the detail view on the right column doesn't show the Jira info anymore
![2022-09-30_7-50-14](https://user-images.githubusercontent.com/39063542/193273937-e68cc0f1-32ca-4969-87ac-5a1806bb3a46.png)

### Desired behavior

We were able to see the Jira details

### Test code to reproduce

Dash

[2022-09-30 12:57] cgraham-rs opened #24058 "Try additional host addresses for Cypress to successfully connect to Firefox"
### What would you like?

As documented in [#23897](https://github.com/cypress-io/cypress/issues/23897) Cypress cannot currently connect to Firefox 105. Mozilla has proposed changes to enable Cypress to successfully connect to the right host and port.

Per Mozilla:

Related tickets:
Original Cypress bug report: https://github.com/cypress-io/cypress/issues/23897
Related Mozilla bug report: https://

[2022-09-30 12:59] cgraham-rs opened #24059 "Utilize Firefox user profile WebDriverBiDi.json to read the host and port for Cypress to connect to"
### What would you like?

As documented in [#23897](https://github.com/cypress-io/cypress/issues/23897) Cypress cannot currently connect to Firefox 105. Mozilla has proposed changes to enable Cypress to successfully connect to the right host and port.

Per Mozilla:

Related tickets:
Original Cypress bug report: https://github.com/cypress-io/cypress/issues/23897
Related Mozilla bug report: https://

[2022-09-30 13:04] nagash77 commented on #23897
@403-html we absolutely try to read them all 😸

@cgraham-rs I am still working internally to find the right expertise to help keep moving this issue along.

[2022-09-30 13:09] nagash77 commented on #24057
Hello @jehoffm , I'm sorry to hear you are having issues with the Dashboard.  I have forwarded this request to our support staff who will follow up with you shortly.

[2022-09-30 13:37] jellisii commented on #18955
This still seems to be true with 10.9.0

[2022-09-30 14:01] ashwinizanzad31 opened #24061 "Can't import external modules to custom commands file"
### Current behavior

I have custom commads  written inside commands.js. I need to import external module to it Like import { MyCustomClass } from '../../imap-client/readmail';

import { emailCont } from '../../imap-client/readmail';

Cypress.Commands.add('getEmailContent', () => {
    emailCont.getEmail()

})

![image](https://user-images.githubusercontent.com/69709507/193285530-358071d1-54f9-4a2

[2022-09-30 14:09] DRWAUN commented on #22086
This issue is not fixed on Windows 10 21H2 with Cypress 10.7.0 and Firefox v105/Firefox Developer Edition v106

[2022-09-30 14:12] Coly010 opened #24062 "Angular 15 polyfills API change causes component testing to fail"
### Current behavior

Component testing will fail with Angular 15 workspaces due to a change in Angular's build and test options API for polyfills, which has changed from `string` to `Polyfills` which is a type alias for `string[] | string`.

The current error is:
[code]

You can see this in our Nx Cloud run for Angular 15 support branch: https://staging.nx.app/runs/2PyEc1jfqo6/task/e2e-angular-ex

[2022-09-30 14:15] ZachJW34 commented on #24062
@Coly010 are you interested in contributing a fix?

[2022-09-30 14:17] Coly010 commented on #24062
Yes!

[2022-09-30 14:19] Onnaien commented on #2876
Still exist in 9.7.0:
![image](https://user-images.githubusercontent.com/59879014/193290233-fef7b93d-2304-4193-9df1-bdf4be79bfbe.png)

[2022-09-30 14:26] gtugwell commented on #2667
Yeah, also experiencing this same issue on Windows 11, running cypress version 10.7.0, 10.8.0, and 10.9.0. Was able to get it back into focus by doing the Shift + Right click and selecting maximize as well.

[2022-09-30 14:35] #23843 closed, assigned to mschile

[2022-09-30 14:45] conversayShawn commented on #24057
Moving this to the support queue.

[2022-09-30 14:53] astone123 commented on #23958
@Rogeriohsjr thanks so much for the test project! I was able to reproduce the issue with that. Going to route this to one of our internal teams to take a look at

[2022-09-30 14:55] astone123 commented on #23995
@melkstam feel free to take this on!

[2022-09-30 14:56] dwaynegreen commented on #21135
I ran our tests that go through headed chrome 106 using the CYPRESS_NO_COMMAND_LOG=1. We have 13 tests, some of which visit one page, and the rest go through an E2E flow of approximately 5 - 10 pages. The "Aw Snap" crash in chrome still occurs when running all of the tests through the runner. I'm currently running Cypress version 9.6.1.

[2022-09-30 14:59] astone123 commented on #24015
@romankhomitskyi could you provide an example project that can reproduce the issue reliably? That would allow me to take action on this. Thanks!

[2022-09-30 15:13] astone123 commented on #24034
@OliverJAsh thanks for the reproduction again

[2022-09-30 15:51] astone123 commented on #24041
Looks like we're not showing the timeout progress bar on chained assertions

[2022-09-30 16:19] isgj commented on #22795
@SchulteMarkus I get this error with `10.9`

![image](https://user-images.githubusercontent.com/20517048/193313681-36c03bee-cfba-4c72-82b5-73d5902b460d.png)

[2022-09-30 16:31] brianjenkins94 commented on #22795
That's not the error this issue is about.

[2022-09-30 17:25] romankhomitskyi commented on #24015
Unfortunately, I could not

[2022-09-30 18:01] mrpicklez70 opened #24455 "grepTags ignored when single tests are skipped"
### Context
Currently I have a framework that uses multiple tags for organizing Cypress runs. I'm using both `grepOmitFiltered:true` and `grepFilterSpecs:true`. All tags are working properly as far as running only the tests that are marked with the corresponding tag during runtime. Also, we are passing the grepTags as `--tag` values to filter test runs from the Cypress Dashboard (which works like

[2022-09-30 18:50] warrensplayer opened #24068 "[ACI] SelectCloudProjectModal not receiving correct UTM params for cloudProjectCreate mutation"
### Current behavior

When opening the SelectCloudProjectModal from the ConnectProjectBanner, the "cohort" is not being passed in that should be a parameter to the `cloudProjectCreate` mutation.

### Desired behavior

When opening the SelectCloudProjectModal from the ConnectProjectBanner, the "cohort" selected and used by the banner should be passed as a prop so that it can be passed on to the mut

[2022-09-30 19:22] trevor-bennett commented on #23963
@admah I updated to 10.9.0 and the issue still occurs. The rerun from failed is causing the same logging/situation where 0 tests are run but is listed as 27+ specs found and passes the entire step

[2022-09-30 19:33] PericlesFeltrin commented on #24051
I have the same problem when I run with Cypress ```8.3.0``` and @cypress/webpack-preprocessor ```5.13.0```.

[2022-09-30 19:34] admah commented on #23963
@trevor-bennett sorry to hear that. Did you get a chance to look at [this issue](https://github.com/cypress-io/github-action/issues/531)?

[2022-09-30 19:38] admah commented on #23963
@trevor-bennett I'm going to transfer this issue to our [circleci-orb repo](https://github.com/cypress-io/circleci-orb) so we can triage it appropriately there since this is more than likely an issue with that Orb and "Rerun workflow from failed".

[2022-09-30 19:49] gtugwell opened #24070 "cy.get('element').should('be.visible') not correctly yielding element"
### Current behavior

Currently when chaining :
`cy.get('element').should('be.visible').then(($element) => {$element.click({force: true})})`, nothing will happen. This appears to be because whatever is yielded from `.should('be.visible')` is not able to be operated on by `.click({force: true})`, however .click() works for this.

### Desired behavior

`cy.get('element').should('be.visible').then(($

[2022-09-30 20:55] ivanminovi commented on #23927
Thanks very much!, we will check the different links (since we don't have any proxy configuration), hopefully one of them help us, we'll let you know the results

[2022-09-30 21:25] cgraham-rs opened #24072 "When Cypress UI cannot connect to target browser no "stop" button or error is presented"
### Current behavior

When Cypress UI fails at connecting to Firefox 105 the there is no way to stop this activity via the UI. The user is forced to terminate Cypress from the command line.

* cypress:open
* Choose E2E
* Choose Firefox v105, [specifically this version as Cypress cannot connect to it](https://github.com/cypress-io/cypress/issues/23897)
* Click `Start E2E testing in Firefox`
* Obser

[2022-09-30 21:37] strowk commented on #789
Had this, fiexed by resinstalling Git Bash in "C:/Git" rather than "C:/Program Files/Git". Took some additional effort to make vscode understand where shell is now installed, but it all worked out in the end.

[2022-09-30 23:06] EvHaus opened #24073 "10.9.0 broke cy.origin() requests"
### Current behavior

After upgrading from 10.8.0 to 10.9.0 my `cy.origin()` requests no longer complete. They timeout instead.

### Desired behavior

`cy.origin()` requests should work as in 10.8.0

### Test code to reproduce

In my app, once you enter a username/password on the sign up page, it redirects to a third-party page where I need to press an "Accept" button. My code is:

[code]

This wo

[2022-10-01 00:02] grosch opened #24074 "Spies are not seeing standalone component event emitter"
### Current behavior

Using component test with Angular 14 standalone component and an EventEmitter, Cypress is never seeing the spy as having been called.

### Desired behavior

I would expect it to see the call.

### Test code to reproduce

https://github.com/GargoyleSoft/spy-bug

### Cypress Version

10.9.0

### Node version

Tried both 16.16.0 and 18.10.0

### Operating System

Tried. both win

[2022-10-01 07:35] jpatil14 commented on #23958
Many thanks @Rogeriohsjr for supporting out here. Hope this issue gets resolved soon

[2022-10-01 08:37] 36const opened #24075 "Endless UI Cypress client loading after automation remaking from 9.7 to 10.9 version"
### Current behavior

1. I make `git clone` of my project with Cypress 9.7.0
2. Launch `npm install cypress --save-dev` in its directory
3. Launch `npx cypress open`
4. Make 3 steps for upgrade to version 10.9.0

But after the 3rd step it begin endless loading, without any error or messages.
If you close client and reopen it, that endless loading will continue.
Changes which were shown in upgradin

[2022-10-01 09:57] idanElitzur commented on #22987
Hey @AtofStryker
Is this fixed already as part of v10.9.0?

[2022-10-01 09:57] idanElitzur commented on #23814
Hey @chrisbreiding
Is this fixed already as part of v10.9.0?

[2022-10-01 15:19] #21399 closed

[2022-10-01 19:41] vivek-consensys opened #24077 "Unable to install on Windows [win32&arch=x64]"
### Current behavior

Unable to install the latest cypress on Windows, please see the below debug logs.

### Debug logs

[code]

### Cypress Version

10.8.0

### Node version

v16.14.2

### Package Manager

npm

### Package Manager Version

8.7.0

### Operating system

Windows

### Operating System Version

Windows 11 Pro (22621.521)

### Other

_No response_

[2022-10-02 09:31] Rc85 opened #24081 "[cy.intercept] `times` not working?"
### Current behavior

My app authenticates user every 30 seconds and if there is a logged in user, the response status 200, otherwise, it's 204. After my app makes the first call to authenticate, it returns 200, meaning the intercept worked. However, subsequent calls seem to be hitting my server, as it is returning 204. I added a routeMatcher with times in it but the authentication is still hittin

[2022-10-02 14:00] TiManGames opened #24084 "App unexpectedly navigates to specs list when visiting specific URL with a different origin"
### Current behavior

If you navigate to the following url using `cy.visit https://rom.my.universe.cdp.gigya.com`, the test will close itself and Cypress will go back to the main specs screen. A test shouldn't behave like that, any error message would be in line.

Other people have tried to navigate to this URL on their end and got the same result.

I'm baffled as to why this is happening, but I n

[2022-10-02 15:07] idanElitzur opened #24085 "cy.origin() not working when the application redirects to external origin"
### Current behavior

`cy.origin()` still not working as expected even I've upgraded to the new release with the related bugfixes over there.
When clicking on some connect pop-up from the application it's redirecting to google account page (external url and totally different from the base url).
Trying to use `cy.origin()` to be able to reach out the page elements over there but the cy.origin reach

[2022-10-02 15:10] idanElitzur commented on #24085
<img width="1117" alt="cy-origin-issue" src="https://user-images.githubusercontent.com/104420464/193461364-f040b08f-42bc-4f7a-bd54-1c205ecc3efa.png">

[2022-10-02 15:34] German152015 commented on #22086
El problema persiste Cypress 10.8 y Firefox v.105, alguna solución?

[2022-10-02 15:46] marktnoonan commented on #24075
@36const Thanks for reporting this! I see you are on node 10.19.0. Would you be able to upgrade your version of node to 12, or 14+? https://docs.cypress.io/guides/getting-started/installing-cypress#Node-js

[2022-10-02 15:59] marktnoonan commented on #24015
I wonder if we could act on this by adding some more guards around what is considered "user scrolling". The root cause of this seems to be that in certain situations, elements being added to the command log, and cypress autoscrolling, get interpreted as _user scrolling_. A user taking control by scrolling the command log to look at something while a test is running makes sense intuitively and I th

[2022-10-02 16:36] mahdikhashan commented on #24051
I faced the same issue with Cypress 9.7.0 @cypress/webpack-preprocessor 5.13.0.

[2022-10-02 17:54] 36const commented on #24075
@marktnoonan really, it helped
Thanks!

[2022-10-02 17:54] #24075 closed, assigned to nobody

[2022-10-02 18:23] marktnoonan commented on #22317
Hey friends, sorry I missed these comments - the issue was closed by the OP so not expecting new comments. I've reopened the issue. If somebody can recreate using this template that would help speed up narrowing this down: https://github.com/cypress-io/cypress-test-tiny

@JenniferTactill did you get past this issue? @kwantdev can you provide any more details about where you hit this problem, or a

[2022-10-02 20:00] abmaelrodrigo commented on #22086
Issue still not fixed on macOS Monterey, Cypress 10.7.0, Firefox v105.0.1

[2022-10-02 20:42] spiltcoffee commented on #22086
I believe all of the new conenction problems since this issue was closed are related to #23897.

Side note, ~while that issue is closed (for some reason?)~ edit: issue reopened, Mozilla is still investigating the issue, so keep an eye on the related issue in the Firefox bug tracker.

[2022-10-03 00:35] ryanthemanuel commented on #22983
Closed with https://github.com/cypress-io/cypress/pull/23924

[2022-10-03 00:35] #22983 closed

[2022-10-03 00:39] kkris010119 opened #24086 "Running the cypress test cases getting failed with the Jenkins build "Error:read ECONNRESET""
### Current behavior

Running the cypress tests (node v14.16.0, cypress 7.7.0) part of the Jenkins CICD pipeline and after successfully running couple of test cases getting the below error and the build is failing, please share if any resolution for the below issue.

Error Details:
[code]
### Desired behavior

All the test cases should be executed without breaking with an error "Error: read ECONNR

[2022-10-03 08:57] vasanthiraman opened #24088 "Specific controls of application which is being tested are not working during Cypress Execution which works in some scenario"
### Current behavior

Specific controls of application which is being tested are not working during Cypress Execution.

such as dropdown, text box. If there is click operation on dropdown element, the click action is completed, but the dropdown is not responding (not expanded with the list of values). If I manually interrupt and click (when the url is still active in cypress before exe stops) also

[2022-10-03 09:50] idanElitzur commented on #24085
@chrisbreiding
Can you please assist?
🙏

[2022-10-03 09:58] idanElitzur commented on #23886
Hi @saldanaj27
can you please post some reference for your solution?

I dealing with similar issue a lot of time.
trying to reach elements in redirected page in external origin (from my app -> google accounts)
also didn't able to do it by v10.9.0
so maybe your solution with the `cy.intercept` will solve my issue as well.
thanks

[2022-10-03 11:30] io-sar commented on #23937
Sorry for the late response,

yes I have both:
      experimentalSessionAndOrigin: true,
      experimentalModifyObstructiveThirdPartyCode: true,

[2022-10-03 11:57] io-sar opened #24090 "Store screenshots in common paths between open and run modes"
### Current behavior

I try to take a screenshot and then use the screenshot from the screenshots folder for a test. However when I run cypress open it is stored here:
<img width="154" alt="Screenshot 2022-10-03 at 13 39 06" src="https://user-images.githubusercontent.com/22503601/193569642-93fd289a-460c-492c-a93b-ad0d5966247a.png">
But when I run with cypress run it is stored here:
<img width="216

[2022-10-03 12:31] satoricat commented on #23836
@nagash77 @chrisbreiding hello! big thanks for help! fixed on my side - yeah it was permission issue.

[2022-10-03 12:59] CSchulz commented on #23141
I think I have found the issue in my setup. We have changed the build process from CJS to module builds. In our case the build of the package `@e2e-commons/config` also changed. You find CJS in the require stacktrace (see before).

 `@e2e-commons/config` is our shared e2e test setup containing thinks like setupNodeEvents and commons config options.

Typescript takes the first path which can be res

[2022-10-03 13:14] riencoertjens commented on #20784
same here, when comparing the network requests between cypress and regular browser I found the `Sec-Fetch-Dest` header to be `iframe` on cypress and `document` on a normal browser, so this might be a cognito safety check?

[2022-10-03 13:17] 3rg1s commented on #24041
I have also seen the same issue, recently. Running version 10.7.0

[2022-10-03 13:40] nagash77 commented on #24049
@tcw010 Can you please include the tests you are running or a link to a repo that reproduces the issue?  We have heard of reports of Chromium browsers having memory issues (as seen [here](https://bugs.chromium.org/p/chromium/issues/detail?id=1352649)).  As a temporary workaround I would suggest downgrading your chrome to a version <v100 which seems to be when these issues arose in Chromium.

[2022-10-03 13:44] nagash77 commented on #24053
@vasanthiraman Unfortunately with the information provided we will not be able to assist you.  If you can provide a reproducible example please update this ticket and we will take a look.

[2022-10-03 13:44] #24053 closed, assigned to nobody

[2022-10-03 13:55] nagash77 commented on #24086
@kkris010119 I see you are using a pretty old version of Cypress.  Please try upgrading to the latest and see if the issue persists.

[2022-10-03 13:58] nagash77 commented on #24088
@vasanthiraman Unfortunately without a reproducible example we will not be able to assist you.  I am going to close this issue, but please do post here a reproducible example if you are able to share one and we will be happy to take a look.

[2022-10-03 13:58] #24088 closed, assigned to nobody

[2022-10-03 14:02] dmolin commented on #9447
Any update on this issue? it's pretty much impossible to test Stripe checkout atm with Cypress.

[2022-10-03 14:05] ZachJW34 commented on #22317
@tpict I noticed you're passing a string/path to the `webpackConfig` property, could you change it to `webpackConfig: require('./webpack.common.js')` and see if that works for you?

[2022-10-03 14:17] nagash77 commented on #23927
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-03 14:17] #23927 closed, assigned to colebrumley

[2022-10-03 14:34] ryanthemanuel opened #24092 "Figure out why we need to filter out `--turbo-profiling-input` from list of args to electron mksnapshot"

[2022-10-03 15:17] denke8 commented on #23165
Reproduction updated to Cypress v10.9, unfortunately it did not fix the issue

[2022-10-03 15:21] conversayShawn commented on #24057
This issue has been resolved after completely uninstalling the Cypress integration (including the permissions in Atlassian) and re-installing it.

[2022-10-03 15:21] #24057 closed, assigned to conversayShawn

[2022-10-03 16:08] astone123 commented on #24090
@io-sar I think that this is considered expected behavior for v10. See https://github.com/cypress-io/cypress/issues/22753. We can leave this open as a feature request

[2022-10-03 16:09] AtofStryker commented on #22987
@idanElitzur This isn't released yet, but should be supported experimentally with #23872 and #23885. Targeting the `10.10.0` release. This should allow users to log into Google via `cy.origin` but only if the navigation occurs from a domain that is NOT a subdomain of google (for instance, `www.google.com` -> `accounts.google.com`). Virtually every other case should be supported, but this is based

[2022-10-03 16:26] avgalon commented on #1834
I also get this error for all my tests when running it on docker using jenkins pipeline.
(Run Starting)

[2022-10-03T16:21:49.923Z]

[2022-10-03T16:21:49.924Z]   ┌────────────────────────────────────────────────────────────────────────────────────────────────┐

[2022-10-03T16:21:49.924Z]   │ Cypress:        9.5.2                                                                          │

[2022-10-

[2022-10-03 16:41] astone123 commented on #24048
@ajlongcoy21 this is an issue with browser caching. When the first test runs, the apple image is fetched over the network and gets intercepted by `cy.intercept` correctly. However, when the second test runs, the browser has already loaded the apple image from that same URL, so the request doesn't go over the network and it is instead retrieved from the cache.

Because the image isn't fetched over

[2022-10-03 16:41] #24048 closed, assigned to nobody

[2022-10-03 16:50] paulgrant opened #24093 "Cypress reporter error in 10.7.0+ in Azure Pipileines with CRA"
### Current behavior

After ugrading cypress from 8 to 10.8.0 we are experience flaky component tests with the reporter reporting null issues.
We have tried 10.9.0 (hung completly) and 10.7.0 experiencing the same.

We are using CRA with cypress, babel, ny, istanbul, cypress/code-coverage

[code]

### Desired behavior

The tests should run and report on code coverage as previously.

### Test code

[2022-10-03 16:58] AtofStryker commented on #24085
Likely related to #23999 and fixed by #23885. I am not going to close the issue but I am going to link it. I believe the same-origin spec bridge changes to `cy.origin` will fix this problem. Right now the `cy.origin` block is on domain `https://google.com` and is trying to communicate with `https://accounts.google.com`, which is cross origin. This is a problem specifically with chrome as there are

[2022-10-03 17:02] AtofStryker opened #24094 "Change default AUT reloading and Cypress Cookie API behavior to align with cookie specifications"
### Current behavior

Currently, Cypress [Cookie APIs](https://docs.cypress.io/api/commands/setcookie) do not correctly set domain on cookie values.

The default value provided for `domain` in the documentation isn't correct and is actually the super domain of the hostname. The reason I believe we do this is because we need to be able to set cookies in a `cross-origin`/`same-site` context, as Cypr

[2022-10-03 17:18] mjhenkes commented on #23873
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-03 17:18] #23873 closed, assigned to mjhenkes

[2022-10-03 17:19] #23672 closed

[2022-10-03 17:22] mjhenkes commented on #23937
@io-sar, could you try this on cypress 10.9.0, we recently released some stability fixes for cy.origin and i'm wondering if that has had any effect on your error message.

[2022-10-03 17:24] chrisbreiding commented on #23814
No, I don't believe so. The work in https://github.com/cypress-io/cypress/pull/23872 and https://github.com/cypress-io/cypress/pull/23643 may address this issue and will hopefully be out in the next release, though I can't promise anything at this time.

[2022-10-03 17:28] inigoiparragirre commented on #23797
Same problem here. I wanted to add MSW using mockServiceWorker.js in assets, and it doesn't load it.

[2022-10-03 17:38] AtofStryker commented on #23814
This should be fixed by #23885

[2022-10-03 17:41] mjhenkes commented on #24035
The sample test succeeded for me.

![Image](https://user-images.githubusercontent.com/1588747/193643271-265f82ba-fab4-4259-8586-acbdbc122c8f.png)

[code]

[2022-10-03 17:43] AtofStryker commented on #23814
related to #24085

[2022-10-03 17:43] AtofStryker commented on #24085
related to #23814

[2022-10-03 17:48] AtofStryker commented on #21492
we might also need to add this in the simulated cookie handling in the server side jar [here](https://github.com/cypress-io/cypress/pull/23872/files#diff-8bcc53731d8dc8219a282445e0ae5ae47e2884d0fb28ead3eef2b488819d1bf0R215) to be consistent

[2022-10-03 17:51] AtofStryker commented on #22882
possibly fixed with #23885 if using `cy.origin` and #24094 if trying to interact with `google` as top

[2022-10-03 18:00] AtofStryker opened #24095 "Epic: Standardize cookie behavior across Cypress to be in parity with cookie specification"
### Current behavior

This issue serves as a greater Epic that tracks the completion of cookie behavior issues that are related to the release of `cy.origin` and changes to default behavior

- Simulated cookie handling (server side) with `experimentalSessionAndOrigin` enabled
    - issue  #23551
    - PR #23872
- Make spec bridge domain same origin as opposed to same super domain origin
    - issu

[2022-10-03 18:07] mschile commented on #22670
@ganeshac123, thank you for your continued patience. I know it can be frustrating waiting for updates/changes but I can assure you we are continually working on cookie improvements. I do have some good news, using the reproduction project [here](https://github.com/cypress-io/cypress/issues/22670#issuecomment-1190668162), I was able to test your workflow using the changes from PR https://github.com

[2022-10-03 18:17] nagash77 commented on #24059
@cgraham-rs Thanks for the update.  Can you please add these updates to that ticket so that everyone can follow along in the same place?  I am going to close this issue so people are all funneled into the same area when looking for updates on this issue.  Thank you.

[2022-10-03 18:17] #24059 closed, assigned to nobody

[2022-10-03 18:17] nagash77 commented on #24058
@cgraham-rs Thanks for the update.  Can you please add these updates to that ticket so that everyone can follow along in the same place?  I am going to close this issue so people are all funneled into the same area when looking for updates on this issue.  Thank you.

[2022-10-03 18:17] #24058 closed, assigned to nobody

[2022-10-03 18:19] ksmills9 commented on #23391
Hi all,

While the Cypress team looks for a fix, I've found a workaround.

The only solution I've been able to come up with lately is to split up the long test suites into smaller sections.
So I took my 10 tests in one file, and split them up into 3, 3 and 4 tests in 3 different files. Not ideal, but works so far while there is not yet a solution. Very much subjective and trial and error though.

[2022-10-03 18:20] 403-html commented on #22086
^also note: reversing to v104 Firefox seems to "fix" the problem

[2022-10-03 18:22] Vladoche commented on #23391
@ksmills9 Yep ! It works well ! But right now the solution is simply to test on the next relase 107 of chrome (beta version incoming). And all the crashes are over. We now see the end of this nightmare. Or i hope so...

[2022-10-03 18:32] crates opened #24096 "Cypress 10.9.0 on MacOS gets shy when you watch it"
### Current behavior

This is probably the strangest thing I've seen in a long time with Cypress, after many years of using it.

I have a React app (using React Admin) with Material UI v5 in it. Inside is a fairly normal dropdown.

I'm clicking the dropdown, and then, I'm trying to click the first item in the list that it opens on click.

When I run the tests headlessly, or simply do not leave the

[2022-10-03 18:45] AtofStryker commented on #20404
Hey @guillaume-chervet. Thank you for opening an issue. This should be available in `10.6.0` under the `experimentalModifyObstructiveThirdPartyCode` flag in #23720 to set the AUT iframe SEC destination metadata header to `document`. Can you enable the flag in `10.6.0` or greater and confirm it fixes your issue? I am going to close as I am fairly convinced this will work, but if it doesn't let me k

[2022-10-03 18:45] #20404 closed

[2022-10-03 18:52] nagash77 commented on #24077
Hello @vivek-consensys Sorry to hear you are having issues installing Cypress.  This seems similar to this issue https://github.com/cypress-io/cypress/issues/23927.  Can you follow the steps outlined there to see if they help resolve your situation?  Most times this issue is a result of network setup on the users side.

[2022-10-03 18:58] AtofStryker commented on #19800
Hey @thu2004. Thank you for opening an issue. I believe this is an issue with cypress not supporting cross origin navigations at the time of logging of this issue, but should be solved with `cy.origin` in `10.10.0` with the release of #23872. The cookie may not be set in the browser, but will be simulated by our middleware and should be set appropriately. would you be willing to try this once `10.

[2022-10-03 19:06] crates commented on #24096
Update: we're seeing similar flaky behavior when the tests are running headlessly.

However, when the tests run interactively (and the window isn't focused), they work 100% of the time.

[2022-10-03 19:07] cgraham-rs commented on #23897
Cypress cannot currently connect to Firefox 105. Mozilla has proposed changes to enable Cypress to successfully connect to the right host and port.

Per Mozilla:

[2022-10-03 19:07] cgraham-rs commented on #24058
Mozilla has proposed changes to enable Cypress to successfully connect to the right host and port.

Per Mozilla:

[2022-10-03 19:08] cgraham-rs commented on #23897
Mozilla has proposed changes to enable Cypress to successfully connect to the right host and port.

Per Mozilla:

[2022-10-03 19:18] #23551 closed

[2022-10-03 19:18] #23603 closed

[2022-10-03 19:19] #24095 closed, assigned to chrisbreiding, AtofStryker

[2022-10-03 19:20] mjhenkes commented on #24073
It may be fairly hard to diagnose this issue without having a reproducible example that we can run. Based on what you're showing, it looks like you're in in the correct origin but are unable to find the accept button. What does the AUT look like when you run the test? Is it on the correct page?

For example you can use this to double check you're all the right url.

[code]

[2022-10-03 19:23] mjhenkes commented on #24085
I believe @AtofStryker is correct.

[2022-10-03 19:28] mjhenkes commented on #24084
Try enabling "experimentalModifyObstructiveThirdPartyCode", I'm not sure the page finishes loading correctly but the experimental flag removes the 'navigate back' behaviour you are seeing.

[2022-10-03 19:34] idanElitzur commented on #24085
@AtofStryker Thanks for your all answers and the nicely support.
I didn't try by another browser, I can try but in the bottom line all the tests should execute on chrome browser.
I'll wait until the upcoming next release and hope it will finally solve out this issue.

[2022-10-03 19:43] AtofStryker commented on #24085
@idanElitzur Glad I can help! Chrome should work for your needs once we are able to release https://github.com/cypress-io/cypress/pull/23885. The only reason I ask about trying Edge or another browser is it may work since this is strictly a Google Chrome issue. If it does, I can say for certain that https://github.com/cypress-io/cypress/pull/23885 resolves your issue. Or if you are comfortable wai

[2022-10-03 19:55] crates commented on #24096
Another note: Cypress is able to find the correct selector for the aliased list item. It translates the selector correctly into its longer form. It's just unable to click on it afterwards, when the test runner is focused in view or when running headlessly. It fails even when using `{force: true}` in the click method's options.

[2022-10-03 20:01] ajlongcoy21 commented on #24048
@astone123, thank you for the response! My apologies for my lack of understanding / knowledge. I will read those docs you referenced and work to update the code :).

[2022-10-03 20:05] AtofStryker commented on #20476
Almost wondering if there is a slight delay in the automation API setting cookies on `http:request` in the server socket? The cookie looks to be eventually set and sent with subsequent requests except for the one immediately proceeding it

[2022-10-03 20:06] sdaconceicao commented on #23391
Thanks @vaibhavganatra, I just installed the chrome 107 beta and can also confirm I'm no longer dealing with constant crashes.

[2022-10-03 20:14] lediur commented on #23824
I'm running into a similar issue on Cypress 10.9 in GitHub Actions (using standard-spec GitHub-hosted runners). In my case, the video seems to freeze at the beginning while tests are loading. After that, they update very sporadically (up to a few minutes between frames) throughout the playtime.

This seems to only occur in CI. Video seems to record and playback as expected when I run tests locally

[2022-10-03 20:36] astone123 commented on #24047
@rainerhahnekamp thanks for the detailed issue. This is a known issue with Angular CT, see the discussion on #23427. For the time being, you can work around this by doing something similar to what is mentioned in [this comment](https://github.com/cypress-io/cypress/issues/23427#issuecomment-1228680459).

[2022-10-03 20:36] #24047 closed, assigned to nobody

[2022-10-03 20:44] crates commented on #24096
Here's how we are temporarily working around this strange Cypress behavior.

Instead of trying to click the list item inside of Material UI's `<Select>` element, we are using their accessibility options to select the item using the keyboard. This is working fine regardless of whether the tests are running with the window focused, unfocused, or headlessly.

Here's the code that is working around th

[2022-10-03 20:46] AtofStryker commented on #17879
we can likely set the true document domain once we address #24094 and no longer have to set it during injection

[2022-10-03 20:52] EvHaus commented on #24073
So interestingly `cy.url()` check passes. It gets the right URL. However, if I change:

[code]

to

[code]

It shows the buttons from the previous URL. So then I added a timeout:

[code]

And now it works!

So looks like there's a race condition of some sort where the content inside `cy.origin()` runs before the page change has completed.

[2022-10-03 20:58] AtofStryker commented on #17166
Hi @ponienchen. This will be supported with the `cy.origin` experimental command with the completion of #23885 with being supported by #23872, but may not work if leveraging accounts.google.com as your testing domain (which is an unlikely use case). If that is the case, that should likely be completed with #24094

[2022-10-03 21:04] astone123 commented on #24062
Closed with #24064

[2022-10-03 21:04] #24062 closed, assigned to nobody

[2022-10-03 21:05] AtofStryker commented on #2367
Hey all! Have any of you tried the `experimentalModifyObstructiveThirdPartyCode` option to see if this fixes some of the click jacking / frame busting you are seeing with SalesForce?

[2022-10-03 21:09] mjhenkes commented on #24070
I can confirm this behaviour. To summerize

inline works ✅
[code]

inline with force true works ✅
[code]

with then works ✅
[code]

with then force true fails ❌
[code]

We will route this as a bug.

Is there anything preventing you from using the 'inline with force true' variation as a work around?

[2022-10-03 21:10] TiManGames commented on #24084
Unfortunately, setting that flag to true will just leave me with an infinite loading screen, so the initial page doesn't finish loading and the redirect will not occur.

[2022-10-03 21:20] AtofStryker commented on #1342
Hey all. I wanted to see how many have tried to log into `login.microsoftonline.com` with `cy.origin`? If you enable the `experimentalSessionAndOrigin` flag, as well as enabling the `experimentalModifyObstructiveThirdPartyCode` (which should fix the infinite redirects), you should be able to log into Azure AD with Cypress!

This example uses Cypress with the [boilerplate](https://github.com/Azure-

[2022-10-03 21:25] AtofStryker opened #24099 "Add Cypress Authentication Providers in CI for cypress-origin-providers"
### What would you like?

I would like cypress origin providers tests to run in CI

### Why is this needed?

 I would like to have Cypress Origin Providers tests run in CI to function as a canary in a coal mine when something goes wrong with our third party auth integrations that are supported with `cy.origin`

### Other

_No response_

[2022-10-03 21:28] AtofStryker opened #24100 "SAML Redirect for Okta does not inject"
### Current behavior

using cy.origin when redirecting to okta does not inject into html as `isAUTIframe` is false

### Desired behavior

I would expect isAUTIframe to be true in the case and that Cypress is injected into Okta to fill out the login form

### Test code to reproduce

N/A

### Cypress Version

10.9.0

### Node version

v16.15.0

### Operating System

macOS 12.6

### Debug Logs

_No r

[2022-10-03 21:28] chrisbreiding commented on #24051
Thanks for reporting this issue. I've fixed it in https://github.com/cypress-io/cypress/pull/24098 and will hopefully have a new version of `@cypress/webpack-preprocessor` out soon.

[2022-10-03 22:10] jordanpowell88 commented on #24074
Can you provide an example of your component and test? Or a link to the repo?

[2022-10-03 22:17] #23591 closed

[2022-10-03 22:28] dxking commented on #2903
`options { ansiColor('xterm') }` didn't work for me on Windows, but `options { ansiColor('css') }` did.

[2022-10-03 23:33] dwjohnston commented on #21135
Has anyone been able to create a minimal repro of this?

I've been attempting to here: https://github.com/dwjohnston/cypress-performance-issue but have been unsuccessful.

Strategies so far:

- Long running test (100x click a button that waits 3 seconds and shows some text, assert for existence of the text)
- Fill the dom with new items (300x fill out a textfield and submit form, which will add th

[2022-10-03 23:47] grosch commented on #24074
@jordanpowell88 In the description under "Test code to reproduce" I have the link to the repo.

[2022-10-04 00:49] #24051 closed, assigned to chrisbreiding

[2022-10-04 01:04] ryanthemanuel opened #24102 "Fix race condition when `before:spec` plugin event throws an exception"
### What would you like?

I would like to ensure that tests immediately stop execution when the `before:spec` plugin hook throws an exception.

### Why is this needed?

This will ensure that the stack trace in this scenario is as clean as possible. Currently, we will occasionally see this tacked on the end of the stack trace:

[code]

### Additional information

In 9.0 of Cypress we would [execute

[2022-10-04 01:41] chrisbreiding commented on #24051
[`@cypress/webpack-preprocessor v5.13.1`](https://www.npmjs.com/package/@cypress/webpack-preprocessor) has been released with the fix for this issue.

[2022-10-04 02:29] kkris010119 commented on #24086
@nagash77 Tried with cypress 8.4.1 and 9.5.1 but still have the issue. Looks like the cypress 10.9.0 requires changes in the way test cases are organized so could not run the existing test cases with this version.

[2022-10-04 06:42] maslo88 commented on #19354
@evantd @sainthkh @happyali it has been a while since this issue was updated, did you make any progress or find any solution please? thx

[2022-10-04 06:57] idanElitzur commented on #24085
Electron don't work with this implementation as well, it's not pass the cookies inside the origin and the google account login over there seems vanilla without the integration to my tested app.
I'm using mac os so i don't have edge on my machine, i can check with firefox as well.

### Electron debug logs - cookies (edited the sensitive values):

[code]
<img width="1289" alt="Screen Shot 2022-10-04

[2022-10-04 07:27] ghost commented on #23141
I ran into a similar issue yesterday and found a solution (although it may not be applicable to all cases). So, it's not documented anywhere, but looks like this error happens if your `tsconfig.json` file has compiler options that are not supported by your current Typescript version. In this case it just fails with this extension error and TS itself doesn't provide any hints to indicate that the c

[2022-10-04 07:31] CSchulz commented on #23141
I have checked the bundled ressources of cypress, but didn't find any integrated typescript version. Also the changelog doesn't mention any typescript version.
We are using typescript@4.6.4.

[2022-10-04 07:35] icedbuffing commented on #8089
Anyone has an idea? My test fails, but it's actually not failing.

[2022-10-04 08:12] anealbening commented on #24035
Hi - I can confirm the issue did occur for me but it would often need to be run a few times before noticing the issue (i.e it doesn't have the issue on the first execution of the code but does subsequently).

[2022-10-04 08:27] mblasco opened #24105 "New configuration to define actionability behaviour on elements with opacity: 0"
### What would you like?

As described in Cypress documentation, elements actionability doesn't take in account `opacity: 0` situations, since opacity does not prevent interaction with elements. Although a user can interact with the element, from a real user point of view, the user would not know where the element is and will consider the element is missing.

I would like to request to add a globa

[2022-10-04 09:21] thisismydesign commented on #22459
I could revert to `10.1.0` to make this work

[2022-10-04 09:41] thisismydesign commented on #21201
@mschile This is in fact an issue as described originally: when the 'frontend redirects' the page load of `https://mydomain.com/login` is a `200` and results in a cross-origin error. For auth flows that happen on the frontend the server won't respond with 3xx. For example, oauth flow via [Nuxtjs's auth module](https://github.com/nuxt-community/auth-module) works like this.

Can this be reopened?

[2022-10-04 09:41] YaelDillies commented on #6207
I get this error again on Chrome 105.

[2022-10-04 09:53] kzahozhy opened #24107 "Cypress open process hangs during execution"
### Current behavior

Steps:
1. Run npx cypress open in CLI
2. Select E2E testing
3. Select Chrome as target browser.

After that step process hangs permanently on opening E2@ testing in chrome.

![изображение](https://user-images.githubusercontent.com/13750682/193789631-f3f18df4-b02d-471b-8c84-7e78b94db629.png)

![изображение](https://user-images.githubusercontent.com/13750682/193789724-8fc68b93-

[2022-10-04 10:01] elkemper opened #24108 "Cy.Commands breaks Singleton pattern"
### Current behavior

When i'm comparing `(===)` or `expect().to.equal` instances of Singleton class, or just any static member of any class, that are returned from method invoked via Cy.Command (or Cy.Task . well, in this case this is expected, thou would be great if could be fixed too) with local link on that object\member  - getting result, that are not equal.

### Desired behavior

In this sit

[2022-10-04 10:22] jordanpowell88 commented on #24074
It is not working because in your example you are calling `.next()` on the `EventEmitter` property. `.next()` is deprecated in favor of `.emit()` (see https://github.com/angular/angular/blob/b5b6ece65a96f5b8f134ad4899b56bf84afe3ba0/modules/angular2/src/facade/async.dart#L49)

If you change it to `this.actionClick.emit()` it will work

[2022-10-04 10:22] #24074 closed, assigned to nobody

[2022-10-04 10:24] Ionaru opened #24109 "Cypress does not find any component testing specs when folder matching glob can not be accessed"
### Current behavior

Cypress scans directories to gather specs using a glob pattern, if one of those directories or a subdirectory gives a `EACCES` error, the scan is cancelled and no specs are found.

I started with this command:

[code]

Relevant debug output:
[code]

This results in this vague error:

[code]

`ll` command output:

[code]

The file exists and should be readable by Cypress.
I al

[2022-10-04 10:38] Ionaru commented on #24109
The message "We searched for specs matching this glob pattern:" is not entirely true because the debug output shows Cypress also searched `'**/*.cy.{js,jsx,ts,tsx}'`, which resulted in the error.

If Cypress would only search for the glob I entered in the CLI, it would not encounter the secret directory.

[2022-10-04 10:52] idanElitzur commented on #24085
With FireFox `cy.origin()` it works ok but google account connection return security error after typing the email and submit :/
@AtofStryker

<img width="710" alt="Screen Shot 2022-10-04 at 13 49 58" src="https://user-images.githubusercontent.com/104420464/193801237-ef08e00e-c6ab-4f1d-b1fd-efcf5f64d9cd.png">

[2022-10-04 10:55] mattvb91 commented on #408
This is still broken. Clearcookies() does not work

[2022-10-04 11:19] bass3l opened #24110 "Wrong 'AttemptResult' TS type"
### Current behavior

Hi and thank you for this great work.

Just want to report a **tiny issue** with the `CommandLine.AttemptResult` type. The [type definition](https://github.com/cypress-io/cypress/blob/develop/cli/types/cypress-npm-api.d.ts#L183) is:

[code]

But `duration` and `startedAt` don't exist in the actual object, instead the following should be defined `wallClockDuration` and `wallCl

[2022-10-04 12:12] Tathos20 commented on #23391
I can confirm that chrome 107 solved the issue to me. So we are waiting to be released.

[2022-10-04 12:15] Arman92 commented on #18922
I also have this issue with yarn workspaces, cypress still looks for the reporter in package's node_module, however yarn has hoisted the reporter package to the root node_module.

[2022-10-04 12:51] todd-miller commented on #22506
I had some luck doing this as well as turning off parallel running and manually splitting out my runs over different spec files. This helps when something does timeout the re-run failed works pretty well, where when running in parallel I don't have that ability it seems.

edit: I have also disabled the Command Log (did not solve the issue) and turned on Debug logging

[2022-10-04 12:51] evantd commented on #19354
Not really, though we did manage to make the problem smaller and work around what remained. With the setup from my last comment, we only had trouble where we used the copyright symbol, so we ended up swapping them out for a simple C before the snapshot and them swapping the normal content back after the snapshot.

[2022-10-04 13:39] cgraham-rs commented on #23897
@nagash77 Some movement on the Mozilla side with nightly build for FF 107 that works with Cypress 10.7.0  See here: https://bugzilla.mozilla.org/show_bug.cgi?id=1792088

[2022-10-04 13:46] AtofStryker commented on #24085
@idanElitzur are you running with the `experimentalModfyObstructiveThirdPartyCode` option enabled? can you try that with electron and see if you get any further?

[2022-10-04 13:47] isgj opened #24111 "Cypress fails to run when type is `module`"
### Current behavior

When using typescript and setting type to `module` in package.json cypress fails to run with

![image](https://user-images.githubusercontent.com/20517048/193834177-1b095461-2c52-464e-8d44-16be5ac647c0.png)

### Desired behavior

Cypress runs

### Test code to reproduce

The simplest config you could have like shown here https://github.com/cypress-io/cypress/issues/22795#issue

[2022-10-04 13:55] AtofStryker commented on #24085
We likely don't have a close base of support until `10.10.0` is out, but I am interested to see once it's released if you are still running into the secure app issue

[2022-10-04 14:38] astone123 commented on #24096
@crates thanks for filing this. Could you provide a project that I could use to reproduce this issue?

[2022-10-04 14:45] astone123 commented on #24093
@paulgrant could you provide an example project that uses this configuration with a test so that I can reproduce the issue? That would help us figure out what's going on. Thanks!

[2022-10-04 14:46] mjhenkes commented on #24035
@anealbening, unfortunately after trying a couple of times i haven't been able to recreate the behaviour. Perhaps your running on a slower machine and some sort of focus issue on the site is dropping characters? have you tried introducing a wait before you start typing to ensure the page is done loading?

[2022-10-04 14:46] #23797 closed

[2022-10-04 14:55] astone123 commented on #24061
@ashwinizanzad31 I tried to reproduce this by importing an external module (from the root of my project) into my commands file, and then calling it from a test. This works for me. Could you provide an example project that reproduces this issue? Thanks

[2022-10-04 15:03] mjhenkes commented on #24073
@EvHaus thats great news! A couple of things could be happening here. In 10.9.0 we improved the performance of cy.origin by removing logic that would delay cross origin requests. What I suspect is happening is that after click the cy.origin call runs prior to the page being marked as unloading which would naturally pause the command. So you'll have to account for that transition.

Try this as your

[2022-10-04 15:21] ZachJW34 opened #24112 "CT related npm packages failing to release"
### Current behavior

Since we moved away from deploying npm packages on master, several of the ct related npm packages have been [failing to publish](https://app.circleci.com/pipelines/github/cypress-io/cypress/44335/workflows/83cbd8fc-7f53-491f-882c-e7b2e555d36d/jobs/1857039). Strangely, the automated changelog process thinks it is succeeding, causing the changelogs to have duplicated entries.

[2022-10-04 15:29] matiasgarcia opened #24113 "Cypress tells server returns 404 when its not right"
### Current behavior

Cypress tells html is 404:

![Screenshot from 2022-10-04 12-25-49](https://user-images.githubusercontent.com/2261869/193860834-aa500fec-8c5a-48bb-b118-7f8c3c55e42d.png)

Yet if you click the link (https://onboarding.remitex-staging.online/token) it works.

What I am suspecting is that when you click that link, the page does a in browser history rewrite to https://onboarding.r

[2022-10-04 15:37] chrisl-peopleplus commented on #14672
I'm trying to do something similar where I am trying to fake a hook response from a 3rd party library (`auth0-react`). I'm not entirely sure how #19633 might provide this, could we get an example of how to `intercept` a 3rd party hook in the docs?

[2022-10-04 15:38] pedily commented on #17798
+1

[2022-10-04 15:50] nagash77 opened #24116 "Cy.origin fails gracefully for webkit until full support is ready"

[2022-10-04 15:57] #21525 closed

[2022-10-04 16:25] arimgibson commented on #23018
At least for me, there was a step missing from that solution which is to make sure your `cypress/tsconfig.json` is included in your ESLint config's `parserOptions.project`:

[code]

[2022-10-04 16:29] WillsB3 commented on #1260
I too would love to be able to utilise grouping of logs for custom commands as some of the built in commands (e.g. `cy.within`) do.

![Screenshot 2022-10-04 at 17 28 13](https://user-images.githubusercontent.com/868834/193874275-86a48016-5c1c-4bfc-993b-e125b08936a4.png)

[It now looks like](https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cy/commands/querying/within.ts#L106-L

[2022-10-04 17:03] nbouvrette commented on #23018
@arimgibson thanks for sharing. I didn't use that but instead added this in my parent `tsconfig.json`:

[code]

[2022-10-04 17:38] matiasgarcia opened #24119 "Unexpected error when configuring cypress component from the UI"
### Current behavior

![Screenshot from 2022-10-04 14-36-03](https://user-images.githubusercontent.com/2261869/193888008-60479981-3739-4c8a-be63-1b421b06df93.png)

### Desired behavior

Should not raise this error

### Test code to reproduce

cypress.config.ts

[code]

Project directory structure:
- cypress/ -> all cypress files
- src/ -> react code
- package.json

Relevant package.json
[code]

##

[2022-10-04 18:28] #24068 closed, assigned to warrensplayer

[2022-10-04 18:45] nagash77 commented on #24086
@kkris010119 Can you please include an example test file you running that causes this issue to happen please?

[2022-10-04 18:49] nagash77 commented on #24107
@kzahozhy Could you run Cypress in [debug mode](https://on.cypress.io/debugging#Debug-the-Command-Line) mode and print the entire set of logs here?

[2022-10-04 19:07] Sporradik opened #24120 "Sinon-Chai Thrown assertion not working as expected"
### Current behavior

I have worked a bunch with spies and calledOnce, etc. I tried to use `expect(spy).to.have.thrown` and it does not seem to be working as I would expect based on the documentation. Am I using this correctly? It essentially gives me the same message if I pass in undefined or a string.

<img width="876" alt="Screen Shot 2022-10-03 at 6 02 05 PM" src="https://user-images.githubuse

[2022-10-04 19:22] actuallymentor commented on #23683
Update: I'm seeing other cases of failed assertions triggering uncaught exceptions. This time in Github Actions:

[code]

[2022-10-04 19:50] cesarvarela commented on #19488
Same here:

https://dashboard.cypress.io/projects/1w1vze/runs/e7dd1be5-c8c1-456f-85be-ce362904aaad/test-results/800c8bab-2b70-4572-b625-f16a160ece81/video?utm_source=Dashboard&utm_medium=Share+URL&utm_campaign=Video

[2022-10-04 19:52] yanyan666666 commented on #24073
I have the same issue after using 10.9.0 in mac, the external page could not be uploaded, even I add wait() and should().
 cy.origin('stripe.com', () => {
    |            ^
  4 |             cy.wait(3000);
  5 |             cy.url().should('include', 'stripe');
  6 |             cy.get('#cardNumber').should('be.visible)

[2022-10-04 20:17] grosch commented on #24074
Thanks, @jordanpowell88.  That's confusing because what you point at is `ObservableWrapper`, whereas `EventEmitter` doesn't mark it so.  Regardless, I appreciate you taking the time to look at this and point out the mistake.  Thanks much.

[2022-10-04 20:45] #23995 closed, assigned to nobody

[2022-10-04 20:46] MatosCL opened #24123 "Seems that Server Libraries are not being loaded"
### Current behavior

Hi!

I'm running a simple test where I select a Quantity and click the Buy Now button. After this, a modal is displayed.

BUT, when I run the Aut Test Case, after the click it fails with an error in the browser console saying that methods _GetWindowTop_ and _ShowAddToCartSavedModal_ do not exist:

<img width="542" alt="image" src="https://user-images.githubusercontent.com/114

[2022-10-04 21:29] chainerprince commented on #18546
Getting the same error. Any solution yet?

[2022-10-04 21:40] AtofStryker commented on #24100
This looks to be a bug with chrome only, as this works in Electron 21 (chromium v106) and Edge v106 on macOS. Looks related to https://bugs.chromium.org/p/chromium/issues/detail?id=1306830. `Fetch.requestPaused` is not fired for all requests

Test case to reproduce

[code]

[2022-10-04 21:42] AtofStryker commented on #24100
I created https://bugs.chromium.org/p/chromium/issues/detail?id=1371249 to track the issue and see if we get any traction

[2022-10-04 21:44] AtofStryker commented on #21491
I set the default testIsolation to `strict` in https://github.com/cypress-io/cypress/compare/spike/test-isolation-strict?expand=1 and we have a [green build](https://app.circleci.com/pipelines/github/cypress-io/cypress?branch=spike%2Ftest-isolation-strict). Doesn't look like cutting over will be entirely difficult. @emilyrohrbough did I miss anything or is it really just this straight forward?

[2022-10-04 22:26] #23814 closed

[2022-10-04 22:26] #23999 closed, assigned to AtofStryker

[2022-10-04 22:26] #17166 closed

[2022-10-04 22:26] #22882 closed

[2022-10-04 22:26] #22987 closed

[2022-10-04 22:26] #24085 closed, assigned to mjhenkes

[2022-10-04 22:33] mschile commented on #23897
As a temporary workaround, you may be able to comment out `::1 localhost` from your `/etc/hosts` file to get Cypress to connect to firefox.

[2022-10-04 23:36] troygibb commented on #18970
I'm also seeing the mocha-junit-reporter fixed on the cypress side [here](https://github.com/cypress-io/cypress/pull/24056). Any idea when cypress will coordinate a new release with the fix?

[2022-10-05 01:03] marcoscannabrava commented on #21403
I believe it should also be updated here although I don't really see the reason not to be able to override it at the spec-level. That would be useful to my use-case.

![image](https://user-images.githubusercontent.com/54267712/193956992-0ec105fb-6b8d-4cfe-88f9-b5930cced8bd.png)

![image](https://user-images.githubusercontent.com/54267712/193957096-b91298a4-fa4a-40ba-bb9b-ecac613c9246.png)

[2022-10-05 03:37] ogomez92 commented on #22882
Great, thanks!

On 10/5/22, cypress-bot[bot] ***@***.***> wrote:

[2022-10-05 04:46] hcnode commented on #6991
I was working on webauthn related in cypress, I found actually cypress already provides Cypress.automation for Low level access to Chrome Debugger Protocol, so we don't need to use 3rd party library to do this. here are the code to enable, create and remove virtual authenticator:
[code]

[2022-10-05 06:17] jovand93 commented on #18947
In my case it was multiple screens.
Anyone using an extended screen run npx cypress open, wait for the cypress icon to be visible inside taskbar. When you hower cypress icon with mouse, right click the popup window and click maximize.
Hope this helps.

[2022-10-05 08:20] kzahozhy commented on #24107
The problem was in a local project config

[2022-10-05 08:20] #24107 closed, assigned to nobody

[2022-10-05 08:26] symn commented on #22948
@AtofStryker I am now running into the same problem. Before the update to `cypress@10.9.0` on `cypress@5.0.0`, we were able to copy necessary functions into the `window` object that Cypress has access to via a workaround, like so:
[code]
This fails now. There is no problem with copying or modifying the window object though. However, it seems like that Cypress internally now runs tests differently.

[2022-10-05 08:39] jablesyeah commented on #24452
@joshuajtward Now we have found what this issue is, do you think it's something that can be fixed?

[2022-10-05 09:02] joshuajtward commented on #24452
Hi @jablesyeah! I can investigate this, but from the surface level it's a bit of an odd one - the way this part of the plugin works is that the resolved Cypress config is passed to the plugin (via `require('cypress-grep/src/plugin')(config)`) so I wouldn't expect the location of the config file to make a difference

Asking out of ignorance - is there a specific reason to have the config file in a

[2022-10-05 09:10] manv6 commented on #1232
@stevenlafl just tried it
`prctl(PR_SET_NO_NEW_PRIVS) failed [34:1005/090621.623467:FATAL:zygote_communication_linux.cc(254)] Cannot communicate with zygote`
all the same as you suggest in your repo but cypress 10.8.0

it seems to me that the `ELECTRON_EXTRA_LAUNCH_ARGS` from handler never loaded

ignore above lines

just managed to load browser args but now I'm getting another error
`Timed out wa

[2022-10-05 09:38] jablesyeah commented on #24452
@joshuajtward Awesome. I appreciate you looking into this.

 I believe its something to do with our docker images etc but is an implementation made by the devs, so I'm not 100% sure.

[2022-10-05 09:46] s4ms00n9 commented on #24452
My case is that I have several config files for different environments and I store them in a separate folder (which makes the location not default).
And maybe as a hint - it is not mentioned in the official docs, but I think adding `grepIntegrationFolder: "../../"` (pointing to a root folder from where the config file is) into env may be a workaround for this issue.

[2022-10-05 10:00] io-sar commented on #23937
@mjhenkes  I have tried it. Unfortunately it is not fixed. However there is a success as now I recieve also the following message :

[code]

which confirms my comment "some times the failed step is showed that has no url"

[2022-10-05 10:12] joshuajtward commented on #24452
Yeah good point @s4ms00n9, `grepIntegrationFolder` is a bit of an artefact from when I was doing the upgrade to work with `10.0.0`, I initially wrote it to be backward compatible with `9.0.0`, but I was persuaded to make it a breaking change to gently push people to upgrade. I think that's why I forgot to add any info to the README about it 🤦‍♂️

For this issue going forward, I think `grepIntegrat

[2022-10-05 10:41] ottopaulsen commented on #22113
Did anyone find a solution to this problem?
I am seeing the same when running a loop testing hundreds of pages in an MPA.
The error comes after running many pages using cypress run.
If I run all 371 pages using cypress open, it does not fail.
It fails both using chrome and electron, but not the exact same pages.
The pages are similar (but with some differences).

I do not understand how you can cl

[2022-10-05 10:51] LegendShola opened #24126 "Unable to access the url on chrome, firefox and edge except electron"
### Current behavior

Currently, when I try to do a simple log in test on chrome, firefox and edge, it always throwing an error occured but this doesn't happen in electron, I've been managing it using electron for my tests but I need to use the "realClick" function which only works with chrome.
Below is the behavior on chrome
<img width="960" alt="image" src="https://user-images.githubusercontent.

[2022-10-05 11:50] ottopaulsen commented on #22113
I solved this by increasing the viewport size for cypress.

[2022-10-05 12:55] marktnoonan commented on #18970
@troygibb this should be included in next week's release. Thanks @halfninja for getting this into the reporter!

[2022-10-05 12:59] manv6 commented on #14286
@sridhar562345 did you make it work ?

[2022-10-05 13:32] Reaster0 opened #24130 "zombie process that take a whole cpu core"
### Current behavior

i'm running cypress as module api in my nestJS backend, it work without a flaw,
but when i run more than two tests at the same time, a process will spawn doing nothing beside taking 100% of one core of my cpu
beside the name of the zombie process is always the same, so right now i need to kill the process myself with a cron or an exec
![image](https://user-images.githubuserco

[2022-10-05 13:33] Reaster0 commented on #24130
maybe it has to do with this warning that i get everytime i run a cypress test (i run my nestJS in a docker)
ERROR:gpu_memory_buffer_support_x11.cc(44)] dri3 extension not supported.

[2022-10-05 13:44] emilyrohrbough commented on #21397
1. Remove clearing the page before the validate (on create)
    1. Users don’t understand that validate purges the cache
    2. Users will DRY up code
5. Always clear the page at the end of the command - Revert the most recent change that removed that final “clear page”
    1. This restores the original specification

[2022-10-05 14:01] mjhenkes commented on #23937
What is the stack trace provided when that error is thrown? Anything useful?

[2022-10-05 14:32] rovervannispen commented on #24451
This feature would be really useful! Currently all `it`s within a `describe` block are executed regardless of the given tags

[2022-10-05 15:58] brinehart commented on #7577
This workaround no longer works. It looks like `clock.bind` was removed in the most recent version of Cypress or is not available in the TS declaration. I tried casting clock as any as below and putting a cy.log to log the current Date (which should be `2022-04-10`:

[code]

The cy.log yields the below result:
[code]

[2022-10-05 16:07] danadajian opened #24131 "Unable to Write Consecutive Component Tests which Navigate to Other URLs"
### Current behavior

In the component test runner, when a test runs that clicks a link to another URL/path, the subsequent test fails due to the page's HTML being in a bad state.

Here is the default HTML response when an interaction with the component changes the URL path to `/endpoint`:
[code]

Even when using `cy.intercept()` to return a custom response, there is no way to return to the origin

[2022-10-05 16:34] mjhenkes commented on #24084
@TiManGames, something in the site you're testing is reacting negatively to being iframed in the test runner. `modifyObstructiveCode` and `experimentalModifyObstructiveThirdPartyCode` both attempt to modify the page as it's loaded to prevent frame busting. I definitely think your suspicion is correct that the page is manipulating history. I don't see any errors on the page to indicate why it's not

[2022-10-05 16:36] mjhenkes commented on #23974
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-05 16:36] #23974 closed, assigned to mjhenkes

[2022-10-05 16:37] ZachJW34 opened #24133 "Normalize DevServer Config Resolution"
### Current behavior

The config resolution for `@cypress/webpack-dev-server` and `@cypress/vite-dev-server` differ.

`@cypress/vite-dev-server` will always source a `<project-root>/vite.config.js` and merge the properties with the `devServer.viteConfig` value if supplied.

`@cypress/webpack-dev-server` will only source a `<project-root>/webpack.config.js` if and only if `devServer.webpackConfig`

[2022-10-05 16:54] stoyle commented on #24111
We had a very similar problem. Ended up with renaming `cypress.config.ts` to `cypress.config.cjs`, and it worked! I guess this is something which should be handled by cypress itself. And according to the following it should...

https://github.com/cypress-io/cypress/issues/23552

[2022-10-05 16:58] ryanthemanuel commented on #22992
Closed with https://github.com/cypress-io/cypress/pull/23987

[2022-10-05 16:58] #22992 closed

[2022-10-05 17:00] ryanthemanuel commented on #22994
Closed with https://github.com/cypress-io/cypress/pull/23988

[2022-10-05 17:00] #22994 closed

[2022-10-05 17:00] ryanthemanuel commented on #22986
Closed with https://github.com/cypress-io/cypress/pull/23956

[2022-10-05 17:00] #22986 closed

[2022-10-05 17:28] gtugwell commented on #24070
The main use case for using:
[code]
 was to have a different flow depending on what the $element was doing, the bug was initially discovered when I was doing some initial testing of ways to avoid using static wait(). Was able to get around this by doing something like this:
[code]
 Obviously that is super hacky and not the way to go, so went ahead and just rewrote the code to avoid this issue.

[2022-10-05 17:41] ZachJW34 opened #24135 "Normalize DevServer Compilation Error Reporting"
### Current behavior

When using `@cypress/webpack-dev-server` and there is a compilation error, the error is displayed in the reporter and a blank AUT is shown:
![create-react-app-typescript-error](https://user-images.githubusercontent.com/25158820/194122856-d0a1c317-fbd6-4c17-9bd3-c27666f43cd8.png)

When using `@cypress/vite-dev-server` and there is a compilation error, one error is displayed in

[2022-10-05 17:42] TiManGames commented on #24084
@mjhenkes Thank you for moving this forward, I appreciate it, even if it will take some time. Until then, I will update you in case I find any breakthrough with this.

[2022-10-05 18:01] mjhenkes commented on #21471
This should include updating CI to no longer have the separate jobs for experimental session and origin.

[2022-10-05 18:21] kashifali00 opened #24136 "custom commands are failing with Webkit"
### Current behavior

I have few customs command to get  Oauth token and I'm using them in beforeEach hook but the custom command doesn't work in beforeEach hook when running test through webkit. Whereas, same test is passing with electron browser

![Screenshot_232](https://user-images.githubusercontent.com/18286977/194132795-92ec9f51-09ad-4f02-93bd-0c34d2eddfc3.png)
![Screenshot_233](https://user

[2022-10-05 18:39] rockindahizzy opened #24137 "Add Export to commands.ts for projects with isolatedModules tsconfig flag"
### Current Behavior
When a project has the `isolatedModules` flag set to `true`, a typescript error is shown in `cypress/support/commands.ts`.

<img width="947" alt="image" src="https://user-images.githubusercontent.com/25568640/194138066-958b70c2-26fa-423d-bd2f-1d65d1467b27.png">

### Desired behavior
When scaffolding files for a typescript project, check the tsconfig for the `isolatedModules` f

[2022-10-05 18:41] #22959 closed

[2022-10-05 18:48] rockindahizzy opened #24138 "Hovering over mount in command log does not show the mounted component in AUT"
## Current Behavior
When hovering over `mount` in the command log of a component test, the AUT shows a blank white view instead of the mounted component.

<img width="1939" alt="image" src="https://user-images.githubusercontent.com/25568640/194139170-c481a64b-f07c-4a7b-a35e-85958cef63b7.png">

## Desired Behavior

The mount command shows the mounted component in the AUT

[2022-10-05 19:28] AtofStryker opened #24139 "certain accounts trigger "This browser or app may not be secure" when logging into accounts.google.com"
### Current behavior

On `develop`, when trying to log into google with accounts.google.com set to top, I get a "This browser or app may not be secure" for certain accounts.

![](https://user-images.githubusercontent.com/3980464/194145165-a8e401fa-7578-448f-b5d7-80e09b298b4c.png)

### Desired behavior

user is able to log into google with accounts.google.com as top

### Test code to reproduce

[co

[2022-10-05 19:40] JessicaSachs commented on #24137
Do you also expect to write your spec files with `export {}` at the bottom? I turned off this compilerOption for the `cypress` folder and for files matching my spec pattern.

[2022-10-05 20:29] mjhenkes commented on #23391
Update: I am able to (mostly) reliably reproduce this issue in run mode on my mac (i9, 16 gb ram) against chrome 105 with the following test:

[code]

If I modify the test to have 500 it blocks with one call each the test will pass.

[code]

additionally if we run the first test with the command log disabled (`CYPRESS_NO_COMMAND_LOG=1`) the test also succeeds. My theory is that there is at least o

[2022-10-05 20:31] mjhenkes commented on #24113
@matiasgarcia I'm sorry you're seeing this issue. Before you run your test could you open the inspector and watch the network tab as the test runs? This should let you know if you're really getting a 404 or not and may shed some light on why your network request is failing.

What status code does the request return with?

[2022-10-05 20:43] matiasgarcia commented on #24113
After reviewing this, indeed our app is returning 404. We serve our SPAs with S3, which returns 404 with the proper index.html and JS to handle routes.

[2022-10-05 20:43] #24113 closed, assigned to mjhenkes

[2022-10-05 20:44] matiasgarcia commented on #24113
Indeed the solution is using failOnStatusCode: false when visiting the site.

[2022-10-05 21:00] mjhenkes commented on #24081
@Rc85, does your route change at all after the first request so that the matcher no longer matches? Keep in mind that intercepts are bound to it blocks and if you want to intercept across it block you have to specify it in a before each.

I put together a simple example of intercept working after the first request here.
https://github.com/mjhenkes/intercept-test

[2022-10-05 21:33] ZachJW34 commented on #24137
Specs will normally have an `import` which appeases the `isolatedModules` flag. Can you clarify what you mean by `turned off this compilerOptions for files matching my spec pattern`? I don't think this is an option for projects like `create-react-app` as the only way to get custom compilerOptions per file is to use separate tsconfigs which cra isn't happy with.

Adding `export {}` might not be the

[2022-10-05 21:40] rockindahizzy opened #24140 "Component name not displaying properly when importing Nuxt page component"
### Current Behavior

When importing a page component in nuxt the component name displays as `<f ... />` in the command log

<img width="416" alt="image" src="https://user-images.githubusercontent.com/25568640/194169462-00e4db28-a8a8-4ac4-9673-b8f1527d66ef.png">

### Desired Behavior

The component name is displayed

[2022-10-05 21:48] rockindahizzy opened #24141 "Nuxt auto import component does not work in Component Testing"
### Current behavior
When testing a component with children components that are loaded via Nuxt's [auto import mechanism](https://nuxtjs.org/docs/configuration-glossary/configuration-components/#configuration), the children are not rendered in the AUT.

### Desired behavior

The children components are rendered without user intervention

[2022-10-05 21:58] ZachJW34 opened #24142 "Audit CT Mount API"
### What would you like?

An audit of the existing mount frameworks.

### Why is this needed?

To determine how consistent we are and to gleam a pattern for moving forward with a standard API that all mounts can share. Things to look for are:
* What is exported (just mount or are there other utilities)
* What does the API look like for each mount -> `cy.mount(component, options)`
* What does the l

[2022-10-05 23:04] astone123 commented on #24136
Closing as duplicate of #23832

[2022-10-05 23:04] #24136 closed, assigned to nobody

[2022-10-05 23:26] amccrodan commented on #23855
Hello, @astone123! It was happening in both Chrome and Electron. Further experimentation led me to the `cypress.config.js` setting `clientRoute: '/'`; I'm not personally aware why it was added in our codebase originally, especially since it doesn't seem present in the documentation! Removing that brings back the old familiar `/__/` in the Cypress internal routes and things seem to work again. See

[2022-10-05 23:57] astone123 commented on #23855
@amccrodan yep, I see it with that value set. I doubt that we would have set that value via the wizard on setup since our default value for it is `/__/` 🤔 I do wonder if we should document its function somewhere

[2022-10-06 00:15] astone123 commented on #24108
@elkemper thanks for creating an issue. For `cy.task`, this is expected behavior and won't change. For the commands, the reason why this happens is because the support file is in a separate bundle from the test code, so the singleton instances aren't the same.

This behavior is unlikely to change, but I'm going to route this to our team to update the documentation to point this out explicitly so t

[2022-10-06 00:36] astone123 commented on #24111
@isgj @stoyle I'm unable to reproduce this bug. Could either of you provide an example project that exhibits this issue so that I could move it forward? Thanks

[2022-10-06 00:40] astone123 commented on #24119
@matiasgarcia could you provide the full stack trace? It looks like it's cut off in the screenshot. Also, could you confirm where your Cypress configuration file is in your project structure? Thanks

[2022-10-06 05:19] afferenslucem opened #24143 "Have error Cannot add property index.html"
### Current behavior

When I start component tests I always receive error: Cannot add property index.html, object is not extensible

![image](https://user-images.githubusercontent.com/18226034/194220601-841f963e-57c2-4151-ac4e-8668b1ddabfd.png)

### Desired behavior

_No response_

### Test code to reproduce

there is nothing to paste

### Cypress Version

10.9.0

### Node version

14.17.5

### Op

[2022-10-06 06:09] ganeshac123 commented on #22670
Please let me know when the PR is merged or when the pre release version is available @mschile

[2022-10-06 07:05] RobertBleyl commented on #23636
We are having the exact same issue. This prevents us from using the latest version of Cypress in our CI environment.
Is this issue still planned to be fixed?

[2022-10-06 07:39] arjunUnniumbath commented on #4563
Does this work with cypress 10 and above as well @jijeesh  ?

[2022-10-06 08:27] lmiller1990 opened #24146 "experimentalSingleTabRunMode sometimes not working"
### Current behavior

I was talking to @muratkeremozcan about our `experimentalSingleTabRunMode` flag. He said it's mostly great, but in some rare that it doesn't work:

Works great in these two repos:

- https://github.com/muratkeremozcan/tour-of-heroes-react-cypress-ts
- https://github.com/muratkeremozcan/bookshelf

These 2 have issues.
- https://github.com/muratkeremozcan/react-hooks-in-action-

[2022-10-06 08:33] ursmeili commented on #23391
Chrome 107 beta seems to really solve the issue, in a sense it doesn't crash anymore. However, it still uses an awful lot of memory. Running a certain (admittedly really large) cypress e2e test sometimes lets chrome 107 beta use over 4 GB of memory (according to the Windows Task Manager). With Chrome 106, the "out of memory" error already came when chrome.exe used around 2.5 GB of memory. So it se

[2022-10-06 08:40] LegendShola commented on #24126
In addition, when I try it with edge, it shows this, "warningfailed to access session localStorage data on origin(s): https://ntp.msn.com"

[2022-10-06 08:50] PawelRuszlewicz commented on #23391
Yep, can confirm that 107:beta it didn't crashed at least ! :)

Bad news that it still consume ~80-90% of my 16GB memory, and whole Cypress starting working very slow in long E2E scenarios (for example typing text to the input is laggy etc.)

@mjhenkes  Good to hear that you find one of the problem!

[2022-10-06 09:41] mmonteiroc commented on #23830
Same issue here with Azure Devops pipelines and angular project
In our case we migrated from 10.7.0 to 10.9.0

And times passed from ~30 mins of agent running  to 1hour 30 mins

[2022-10-06 10:27] muratkeremozcan commented on #24146
Thanks @lmiller1990. I will make updates here if there is any additional info to report.

I've made the reproduction easier.

[code]
The failing spec is `cypress/component/hooks/usehooks.com/useHover.cy.tsx`

If you run it by itself or in a larger group, things still work.
[code]

But if you run all 225 specs, that particular test fails.

___________

I updated the other repo to 10.9.0, and there

[2022-10-06 11:07] sridhar562345 commented on #14286
@manv6 no, I couldn't make it work.

[2022-10-06 11:08] nljubicic commented on #18569
The Test Runner unexpectedly exited via a exit event with signal SIGILL

Please search Cypress documentation for possible solutions:

https://on.cypress.io

Check if there is a GitHub issue describing this crash:

https://github.com/cypress-io/cypress/issues

Consider opening a new issue. can someone help with this issue? We are trying to upgrade Cypress version from 8.7.0 to v.10.0.0

[2022-10-06 12:18] HumptyHans opened #24149 "Cookies problem with experimentalSessionAndOrigin"
### Current behavior

The view of some pages depends on the option chosen in the \<select\> element. Choosing an option changes the value of a specific cookie.

After enabling experimentalSessionAndOrigin selecting another view of the page is impossible, as the cookie is not updated.

The behavior of the page opened from cypress is shown in the video, although for some reason the select itself did

[2022-10-06 12:23] MateusNeres26 commented on #24111
https://github.com/JoanEsquivel/cypress-cucumber-boilerplate

[2022-10-06 12:24] HumptyHans commented on #24149
I am very sorry, but no idea why Markdown in my explanation does not work.

[2022-10-06 13:14] astone123 commented on #24111
@MateusNeres26 thanks, I was able to reproduce it with this project.

[2022-10-06 13:23] astone123 commented on #24120
@Sporradik I think the issue here is timing. What we can do is use `cy.wrap` to wrap the call to `obj.method()` so that we can assert after this call finishes, like this:

[code]

This should work for asserting that `method` throws an error when we call it.

[2022-10-06 14:05] astone123 commented on #23837
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-06 14:05] #23837 closed, assigned to astone123

[2022-10-06 14:06] astone123 commented on #24031
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-06 14:06] #24031 closed, assigned to astone123

[2022-10-06 14:07] astone123 commented on #23935
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-10-06 14:07] #23935 closed, assigned to nobody

[2022-10-06 14:09] mschile commented on #22670
@ganeshac123, clicking the link above for the PR will show you the status. It was merged 3 days ago. You can install any of the pre-releases since then. Here is the latest one https://github.com/cypress-io/cypress/commit/3e014743909b35f54b697d2a759e4a2c5b67b5b7#comments

linux (x64): `npm install https://cdn.cypress.io/beta/npm/10.10.0/linux-x64/develop-3e014743909b35f54b697d2a759e4a2c5b67b5b7/cyp

[2022-10-06 14:22] mjhenkes commented on #24073
@yanyan666666, could you put together an example repo? Your comment doesn't give me much to debug with.

[2022-10-06 14:24] mjhenkes commented on #23856
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-06 14:24] #23856 closed, assigned to nobody

[2022-10-06 14:24] mjhenkes commented on #23863
Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproducible example of the issue you're encountering. Here are som

[2022-10-06 14:24] #23863 closed, assigned to mjhenkes

[2022-10-06 14:50] #23919 closed, assigned to mike-plummer

[2022-10-06 15:08] yanyan666666 commented on #24073
Thank you for your answer.  The spec needs to buy a course, and after clicking "buy now" button, the spec will direct to the other origin for payment. The current issue is the payment webpage could not be shown.
[code]

[2022-10-06 15:27] Julia-Casciato opened #24152 "Can't Access my Dashboard"
### Current behavior

Unable to access Cypress dashboard.
<img width="1133" alt="Screen Shot 2022-10-06 at 5 23 42 PM" src="https://user-images.githubusercontent.com/8583192/194354140-4cd04a11-2e53-4376-a9bc-faa1b69d41d3.png">

An error occurred in the application and your page could not be served. If you are the application owner, [check your logs for details](https://devcenter.heroku.com/article

[2022-10-06 15:43] ZachJW34 opened #24153 "Better CT onboarding experience for projects with ESLint"
### What would you like?

Title

### Why is this needed?

When adding Cypress CT to a new project that has ESLint enabled, ESLint will most likely complain about missing global Cypress types. This warnings/errors are made worse when frameworks have eslint integrated into their build pipeline (looking at you `create-react-app` and `vue-cli`).

We have [documentation](https://docs.cypress.io/guides/

[2022-10-06 15:49] ZachJW34 commented on #24137
Found another common issue (eslint + typescript related)
![Screen Shot 2022-10-06 at 10 49 00 AM](https://user-images.githubusercontent.com/25158820/194359443-6f318ced-c356-40a0-a0b5-0016ab3512ef.png)

[2022-10-06 15:50] jijeesh commented on #4563
@arjunUnniumbath  yes.. i tested in Cypress 10.8.0

[2022-10-06 16:01] nohuddleoff commented on #9007
@avestura, I did what you suggested, copied 10.9.0 folder from the online machine and pasted it into the same directory in the offline machine.  Unfortunately, when I tried to install, it does try to fetch from registry.npmjs.org.  I got "FetchError: request to https://registry.npmjs.org/cypress failed, reason: connect ECONNREFUSED".  Of course, when I do 'ping registry.npmjs.org', I get 'request

[2022-10-06 16:37] ZachJW34 commented on #16031
Related: https://github.com/cypress-io/cypress/issues/24138

[2022-10-06 16:38] #14194 closed

[2022-10-06 16:40] #21756 closed

[2022-10-06 16:43] ZachJW34 commented on #16897
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Check out Cypress Angular CT testing, which is now officially supported in 10.4 of Cypress!

Please open a new issue with a reproducible e

[2022-10-06 16:43] #16897 closed

[2022-10-06 16:45] ZachJW34 commented on #23677
We allow the user to pass in custom project configuration options https://github.com/cypress-io/cypress/issues/23161. @davidNHK have you tried this?

[2022-10-06 16:51] metalocator commented on #6343
We also have binary files that fail to upload, but only when uploaded via Cypress.  Using the hex editor I was able to determine that the files were changed during (only) Cypress' upload.  We've tried updating attachFile options to no avail

[code]

File 13 was uploaded by Cypress, 14 was done in the browser, notice the size change.
[code]

Length for the Cypress-uploaded file

`Content-Length: 54

[2022-10-06 16:55] ZachJW34 commented on #21746
Closing in favor of https://github.com/cypress-io/cypress/issues/24153

[2022-10-06 16:55] #21746 closed

[2022-10-06 16:56] avestura commented on #9007
@nohuddleoff The method I suggested is for offline installing the cypress binary only. Of course, if you want to install other npm packages offline, including "eslint" (which you're trying to download here), you need to download and copy them offline separately. This can be done using different approaches. Either:
1. Use an offline self-hosted npm registry available on the offline machine's networ

[2022-10-06 17:05] ZachJW34 commented on #21384
CT tests do not accommodate route changes, that is an E2E concern. You should be able to stub the router, please check out our [docs](https://docs.cypress.io/guides/component-testing/custom-mount-react#React-Router) on the subject.

[2022-10-06 17:05] #21384 closed

[2022-10-06 17:08] ZachJW34 commented on #21448
Is this still an issue with Cypress > 10.0.0 @larsk2009?

[2022-10-06 17:21] ZachJW34 commented on #23062
@bryantobing12 to work around this, you could exclude all of the `cypress` files from your `tsconfig.json`, and then run separate `npx tsc -p cypress/tsconfig.json --noEmit` process to typecheck your Cypress files.

Unfortunately, there is nothing we can do to get rid of this error as cypress tests are not structured in such a way that makes the `isolatedModules` flag happy.

[2022-10-06 17:21] #23062 closed

[2022-10-06 17:23] ZachJW34 commented on #23061
Closing as completed in https://github.com/cypress-io/cypress/issues/22959. CT should no longer be watching files in run mode.

[2022-10-06 17:23] #23061 closed

[2022-10-06 17:38] #23765 closed

[2022-10-06 18:05] astone123 commented on #24152
@Julia-Casciato Sorry for the inconvenience, we've resolved the issue so your team should have access again. Going forward you can track the dashboard status at https://www.cypressstatus.com/.

If you're still having trouble accessing the dashboard, please contact support@cypress.io. Thanks!

[2022-10-06 18:05] #24152 closed, assigned to astone123

[2022-10-06 18:37] neviaumi commented on #23677
@ZachJW34 I haven't tried and I think ideally it should support angular library out of box.

[2022-10-06 18:41] nagash77 commented on #24143
@afferenslucem I'm sorry to hear you are having problems!  Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please provide a reproduc

[2022-10-06 19:19] apatel0708 opened #24156 "Cypress Compatibility with Openshift and RHEL 8 - FIPS Mode"
### What would you like?

Im looking for either a Cypress Binary that uses sha256 hashing instead of md5 or if there is a cypress binary already created that is FIPS compliant.

### Why is this needed?

We are attempting to run Cypress tests but are unable to due to FIPS Compliance

### Other

_No response_

[2022-10-06 19:34] ZachJW34 commented on #21947
Done in https://github.com/cypress-io/cypress/pull/22055

[2022-10-06 19:34] #21947 closed

[2022-10-06 19:37] ZachJW34 commented on #21940
Done in https://github.com/cypress-io/cypress/pull/23916

[2022-10-06 19:38] ZachJW34 commented on #21869
Create from React component was pulled from 10.0

[2022-10-06 19:38] #21869 closed

[2022-10-06 19:40] ZachJW34 commented on #21864
Fixed in https://github.com/cypress-io/cypress/pull/22769

[2022-10-06 19:40] #21864 closed

[2022-10-06 19:44] ZachJW34 commented on #21736
Create from Storybook component was removed in 10.0

[2022-10-06 19:44] #21736 closed

[2022-10-06 19:45] warrensplayer opened #24157 "fix: include cypress version in header to anon-collect endpoint"
### Current behavior

Calling the `anon-collect` endpoint in `EventCollectorActions.ts` does not include a 'x-cypress-version' header like other cloud endpoints include.

### Desired behavior

Include a 'x-cypress-version' header when calling the `anon-collect` endpoint in `EventCollectorActions.ts` like other cloud endpoints.

### Test code to reproduce

The original issue was released here: http

[2022-10-06 19:46] ZachJW34 commented on #21725
Create from Storybook component was removed in 10.0.0

[2022-10-06 19:46] #21725 closed

[2022-10-06 19:47] ZachJW34 commented on #21714
No action/requirements in this issue, going to close.

[2022-10-06 19:47] #21714 closed

[2022-10-06 19:50] ZachJW34 commented on #21712
Closing in favor of https://github.com/cypress-io/cypress/issues/24142

[2022-10-06 19:50] #21712 closed

[2022-10-06 19:52] ZachJW34 commented on #21762
Create from react component was axed in 10.0

[2022-10-06 19:55] ZachJW34 commented on #21754
Done in https://github.com/cypress-io/cypress/pull/21550

[2022-10-06 19:55] #21754 closed

[2022-10-06 19:56] ZachJW34 commented on #21752
This features was removed in 10.0

[2022-10-06 19:56] #21752 closed

[2022-10-06 19:56] ZachJW34 commented on #21749
We have support at tests for all of these.

[2022-10-06 19:56] #21749 closed

[2022-10-06 19:57] ZachJW34 commented on #21744
This feature was removed.

[2022-10-06 19:57] #21744 closed

[2022-10-06 19:58] ZachJW34 commented on #20528
This should no longer be an issue for Cypress CT testing > v10. If it is, feel free to reopen this issue.

[2022-10-06 19:58] #20528 closed

[2022-10-06 20:01] ZachJW34 commented on #20994
We will need a reproduction to look into this issue any further. Feel free to reopen if this issue is still relevant and you have more information to provide us.

[2022-10-06 21:17] rockindahizzy opened #24160 "Update react/mount to point to react18 mount"
### Current behavior

Currently react/mount points to the component mount that works for react <=17.

### Desired behavior

As part as our [evergreen strategy](https://github.com/cypress-io/prod-eng-docs/blob/main/team-component-testing/ecosytemsupport.md#how-we-will-handle-updates) with Cy 11 we want react/mount to point the the react18/mount. We should leave react18/mount so that there are no de

[2022-10-06 22:05] nikolas commented on #22086
Looks like this is an issue with Firefox 105 in our setup as well. Using Firefox 102.3.0esr instead, the cypress tests run fine. https://github.com/ccnmtl/mediathread/pull/4658

[2022-10-06 22:26] ShaunWangGo commented on #17819
Here's a workaround:
Use `Cypress.log` in the `cy.intercept`.
`Cypress.log` runs syncrounously, so the log appears directly below the request, which is good enough for identifying which graphql request is which.
https://docs.cypress.io/api/cypress-api/cypress-log#Syntax

[code]

[2022-10-07 04:50] arjunUnniumbath commented on #4563
@jijeesh
From my understanding, this needs to be updated in the cypress config file under e2e: {
    setupNodeEvents(on, config) {}, Would you be able to share that as a sample... ?

[2022-10-07 05:27] rihaskh commented on #21067
Scrolling is not even working if we change viewport to  cy.viewport(1440,850),

[2022-10-07 05:37] jpatil14 commented on #2367
@AtofStryker Yeah tried it but no success

[2022-10-07 06:32] whimboo commented on #19921
Note that there is a GitHub action available to pull the lastest Firefox release or beta. Maybe there is something similar available for CircleCi? Also in case you want to have something for Python there is [mozdownload](https://github.com/mozilla/mozdownload/). Thanks a lot for working on that @flotwig!

[2022-10-07 07:19] grgkro commented on #19970
Run this command in your project folder terminal:
`npm add @cypress/schematic --save-dev`
And then `ng e2e` should work.
Tbh, I don't really know what the schematic package does, but it seems to be needed.

[2022-10-07 07:51] rd-henning-ellerweg opened #24162 "Video is turned off after first spec using firefox < 93"
### Current behavior

I am running multiple test specs, using firefox 86. After the first test the video recording is turned off / does not happen. Using electron every spec is video recorded. Might be related to [issue 18415](https://github.com/cypress-io/cypress/issues/18415)

I am using https://download-installer.cdn.mozilla.net/pub/firefox/releases/86.0.1/linux-x86_64/de/firefox-86.0.1.tar.bz2

[2022-10-07 08:49] gofr opened #24164 "`should` chained indirectly to `wait` does retry"
### Current behavior

[The documentation for `wait`](https://docs.cypress.io/api/commands/wait#Assertions) states:

That's great, because intercepted requests (for example) don't change, so retrying wouldn't be useful. And that description is accurate if the `should` is chained _directly_ to the `wait`, like this:

    cy.wait('@err').should('have.property', 'error')

But the documentation also co

[2022-10-07 09:19] jaxfellow commented on #2876
Still exists in 10.9.0

[2022-10-07 09:56] jijeesh commented on #4563
I used this location. `e2e/cypress/support/e2e.ts`
https://docs.cypress.io/api/plugins/after-run-api#Syntax
find `after:run` and use that

[2022-10-07 10:18] santanakrishnan opened #24165 "Remove test isolation"
### What would you like?

I want to turn off test isolation as in the next test block I can continue the test step from the previous block. I want to test my application as a flow like one step after another step. In test isolation we want to visit the page in each test so that the flow of the steps to test are cleared. Can you please make an option to turn off test isolation.

I am seeing this on

[2022-10-07 11:33] chrisbreamewoodmac commented on #23391
I can see that a lot of people are suggesting that it's Chrome which is at fault here, but I'm not running any of my tests on Chrome at all, and I still see the issue. I also noticed that some people have suggested Firefox is not affected (or affects as much), but I can't verify this as Firefox doesn't launch for me for some reason.

Anyway, my setup:
* Cypress v10.9.0
* Electron v102 / Edge v106

[2022-10-07 11:49] nitinchalopadho opened #24166 "Cypress runner stuck on loading after updating to version 10"
### Current behavior

I just migrated to version 10.9.0 but when i tried to run the command cypress open it just stuck on loading

![image](https://user-images.githubusercontent.com/45036837/194545743-cad2a2e1-d7b0-4a5d-bb39-5985c8d99b58.png)

It is working fine with older versions but after updating it is not working.
Can anyone help? @nagash77 @astone123 @AtofStryker @mjhenkes @cypress-app-bot

[2022-10-07 12:28] arvind-nadimpally opened #24167 "Cypress App crash"
### Current behavior

When I open the cypress app and select the browser to run the test's it keeps crashing with below error in the console

read ECONNRESET
Error: read ECONNRESET
    at TCP.onStreamRead (node:internal/stream_base_commons:217:20)

### Desired behavior

_No response_

### Test code to reproduce

Did not writes any tests yet

### Cypress Version

v10.9.0

### Node version

v12.18.4

[2022-10-07 12:36] yjaaidi commented on #24047
I totally agree with Rainer!

I think that I mislead us with this issue https://github.com/jordanpowell88/angular-ct/issues/37

We actually need both: providers and componentProviders

This will be a breaking change so it might be better to do it while we're in the early stage.

What do you think?
cc. @astone123 @jordanpowell88

[2022-10-07 13:13] chrisbreamewoodmac commented on #23391
Oh, and of note:
* I tried this with Cypress 10.9.0 and the built-in version of Electron, and it ran out of RAM in UI/headed mode
* I tried this with Cypress 10.9.0 and Edge 106, and it ran out of RAM in UI/headed mode
* I tried this with Cypress 10.8.0 and the built-in version of Electron, and it ran out of RAM in UI/headed mode
* I tried this with Cypress 10.8.0 and Edge 106, and it ran out of R

[2022-10-07 13:36] mjhenkes commented on #24149
@HumptyHans, We've recently made several fixes around cookies not applying correctly with origin. Could you try your use case with our pre-release cypress version?

See this comment for more details on how to install the pre-release.
https://github.com/cypress-io/cypress/commit/eaa1de7ff76cf0ae6730e8df19594b60b762be01#commitcomment-86037659

[2022-10-07 13:44] nagash77 commented on #24166
@nitinchalopadho Right now there doesn't seem to be enough information to reproduce the problem on our end. Unless we receive a reliable reproduction, we'll eventually have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Could you run Cypress in [debug mode](https://on.cypress.io/debuggi

[2022-10-07 13:47] nagash77 commented on #24167
Right now there doesn't seem to be enough information to reproduce the problem on our end. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Could you run Cypress in [debug mode](https://on.cypress.io/debugging#Debug-the-Command-Line) mode and print the entire set of logs here?

[2022-10-07 14:04] mjhenkes opened #24168 "Run All Specs for E2E"
Adds back the ability to run all specs in cypress open mode for End to End testing.

Edit (@lmiller1990) this will be something we incrementally improve over time. The initial implementation will be similar to how it worked in Cypress 9, and focused on supporting End to End testing. Support for Component Testing, and more advanced workflows, will come as the experiment continues and we get feedbac

[2022-10-07 14:16] HumptyHans commented on #24149
@mjhenkes Yes, it worked!

Thank you very much for your answer! Will be waiting for version 10.10!

[2022-10-07 14:16] #24149 closed, assigned to mjhenkes

[2022-10-07 14:22] baus commented on #22777
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/22777?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-07 14:29] davidyiuCWI commented on #23391
I can also confirm that using Chrome 107 beta also fixes the Chrome crash in my testing. We will wait until chromium 107 is in production to run our full test.

[2022-10-07 14:53] linusfu commented on #21022
I have the same error in my CI/CD pipeline.

[2022-10-07 15:03] AtofStryker opened #24169 "cy.origin should throw an error when block is declared within same-origin context"
### What would you like?

if a user declares a `cy.origin` command with the same origin policy as that of the AUT/top, an error should be thrown to prompt the user that this is not needed and ask if the user did this intentionally

### Why is this needed?

Currently there is some confusion around `cy.origin` when using same origin spec bridges to that of top/AUT where no feedback is virtually give

[2022-10-07 15:07] AtofStryker commented on #24169
There is one test that I know of that uses same origin spec bridges within the `cy-in-cy` tests. This will likely need to be changed when these changes go into effect

[2022-10-07 15:35] whimboo commented on #23897
Note that https://bugzilla.mozilla.org/show_bug.cgi?id=1792088 is fixed now and will be part of the 107 release. That means that the upcoming Firefox 106 will still be affected, but 107 beta releases will work once released.

Probably it should be also enough to just move this line to after `127.0.0.1 localhost` so that IPv4 is resolved first.

[2022-10-07 15:37] whimboo commented on #23897
Maybe someone could update the summary of this issue to mention that this only happens when IPv6 is resolved first? Thanks.

[2022-10-07 16:24] #23025 closed

[2022-10-07 17:35] ryanthemanuel commented on #22984
Closed with https://github.com/cypress-io/cypress/pull/24121

[2022-10-07 17:35] #22984 closed

[2022-10-07 17:38] astone123 opened #24171 "Investigate undesirable auto-scrolling behavior"
Users are reporting that the command log stops auto-scrolling during test execution unexpectedly. We haven't been able to reproduce this issue reliably, so it has been difficult to investigate. The goal of this issue should be to come up with a way to reliably reproduce the issue and/or document how we might fix it.

Related issues:
https://github.com/cypress-io/cypress/issues/16098
https://github

[2022-10-07 17:41] astone123 commented on #24015
I'm closing this ticket in favor or a more broad ticket that calls for investigating this issue further. #24171 Thanks to everyone who let us know that this is an issue

[2022-10-07 17:41] #24015 closed, assigned to nobody

[2022-10-07 18:11] metalocator commented on #20385
Similar experience with testing "tel:" links in our application.  Removing target attribute does not help.

[2022-10-07 18:19] mschile commented on #23897
Thanks for the update @whimboo!

We also plan on resolving this in Cypress for next week's release.

Unfortunately, having IPv4 listed first doesn't seem to work (my host file has always listed IPv4 first).

[2022-10-07 18:26] nagash77 commented on #24165
@santanakrishnan Can you try using `testIsolation: "legacy"` in your cypress.config.js which should stop visiting blank between tests which should help you accomplish what you are looking to do.

[2022-10-07 19:13] nadvolod commented on #23839
that works, thanks os much

[2022-10-07 19:16] #24157 closed, assigned to warrensplayer

[2022-10-07 19:17] bvandrc commented on #18166
+1

[2022-10-07 19:18] chrisbreiding commented on #23839
Great! Thanks for following up. I'm going to close this as resolved, since using `experimentalModifyObstructiveThirdPartyCode` is our recommended way to avoid such frame-busting issues.

[2022-10-07 19:18] #23839 closed, assigned to nobody

[2022-10-07 19:30] Ilyeo commented on #18064
I had the same issue

Using `next/image` component I'm getting an load resource error `Cannot GET /_next/image`

A workaround that I found is passing `unoptimized` prop

[code]

That shows the image in the cypress component environment

This workaround does not like me and I do not recommend it, but it probably gives us a hint of the cause

[2022-10-07 19:31] Slashmsu commented on #9447
What you can also do, it's check with an interceptor did you received the stripe session `id` or no.

[code]
I know, that it will not solve your problem, but it is more than nothing.

Docs: https://docs.cypress.io/api/commands/intercept#Aliasing-individual-requests

[2022-10-07 19:47] JessicaSachs opened #24173 "Add support for `it.each` functionality"
### What would you like?

I'd like the functionality of [`mocha-each`](https://github.com/ryym/mocha-each) to be included in Cypress and its global types.

* In Jest, the [signature is more complex](https://jestjs.io/docs/api#1-testeachtablename-fn-timeout), but I don't think that's necessary.
* Vitest also has [the same functionality](https://vitest.dev/api/#test-each) with backwards-compatible A

[2022-10-07 19:59] cdierkens commented on #18064
Should have commented this a while ago, but here's how I solved the issue.

This approach replaces the `next/image` module with a mock.

[code]

[code]

[2022-10-07 20:23] hiebj opened #24174 "@cypress/react18@1.1.0 does not contain a fix that is in its changelog"
### Current behavior

`@cypress/react18@1.1.0` does not contain the fix implemented in #23360.

### Desired behavior

According to [the changelog](https://github.com/cypress-io/cypress/blob/develop/npm/react18/CHANGELOG.md#cypressreact18-v110-2022-10-06), it should.

### Test code to reproduce

`npm install @cypress/react18@1.1.0`

Look at the code in `node_modules/@cypress/react18/dist/cypress-re

[2022-10-07 20:27] hiebj commented on #24174
There appear to be 10 separate entries in the [changelog](https://github.com/cypress-io/cypress/blob/develop/npm/react18/CHANGELOG.md#cypressreact18-v110-2022-10-06) for `1.1.0`. Is that normal?

I also do not see #23360 in [this list of commits](https://github.com/cypress-io/cypress/compare/@cypress/react18-v1.0.1...@cypress/react18-v1.1.0)

[2022-10-07 21:12] matiasgarcia commented on #24119
Hi @astone123 its in the cypress/ folder.

[2022-10-07 21:27] JasonFairchild commented on #23301
So I happened across a type of workaround for this, in case anyone is interested. This cypress [doc](https://docs.cypress.io/api/plugins/browser-launch-api#Set-screen-size-when-running-headless) talks about using browser launch options to force screen size/pixel ratio. I had to remove the "browser.isHeadless" from the conditional to have VRT snapshots match between headless and headed browser runs

[2022-10-07 21:42] michallbanas opened #24175 "Opening baseUrl in Webkit results in blank page"
### Current behavior

When baseUrl is not localhost, but regular website eg. https://www.michalbanas.dev, I get only blank page when using webkit (open mode), and this error `An SSL error has occurred and a secure connection to the server cannot be made ` in  headless mode. I've been facing this issue since experiment support for Webkit was released. It works good for other browsers.

![CleanShot

[2022-10-08 03:08] binvb commented on #17048
same to me

[2022-10-08 06:25] nitinchalopadho commented on #24166
@nagash77 yes i've tried to run the cypress in debug mode as well and attaching the logs here please check the attachment.
cc @sonu-ap

[code]

[2022-10-08 06:40] 787681277 opened #24176 "For the same spec, Screenshots are generated in different folders when run all specs or run specific spec using command --spec"
### Current behavior

If do Angular component testing:
For the same spec, Screenshots are generated in different folders with below 2 commands
npx cypress run --component --browser chromium
npx cypress run --component --browser chromium --spec

This issue does not occur if do React component testing

### Desired behavior

If do Angular component testing:
For the same spec, Screenshots should be ge

[2022-10-08 08:46] 787681277 opened #24177 "Sometimes previous passed cases are failed again when launch cypress through "npx cypress open --component""
### Current behavior

1）launch cypress through "npx cypress open --component"
2） Add new test case in that spec

Precondition:source code are not changed and test case are not changed
Sometimes previous passed test cases(cy.get(activeTab2).click();) are failed again, which would Increase debugging difficulty in Cypress GUI mode.

In other word, sometime get "focus" UI screenshot when use .click()

[2022-10-08 16:13] freder commented on #14283
I have the same (screenshot) problem. also clicking elements inside an iframe does not seem to work.

[2022-10-09 05:32] vision2divinity commented on #22353
@lmiller1990 kindly assist me here. thanks
https://user-images.githubusercontent.com/46792014/194739643-9fb2dd85-f8be-4f2f-9413-8a7e51e8e7a7.mp4
So lately I have been facing this issue so persistently on cypress and the platform version
Platform: darwin-x64 (21.6.0)
Cypress Version: 10.9.0
it started out that, the execution time was taken like 10 to 14mins just to open google.com but now, after ru

[2022-10-09 07:39] Diazhao commented on #7604
restart may helped. but if you need to do something when error coming, this case will make wrong result, maybe

[2022-10-09 11:21] youseff199959 commented on #24166
I think this issue happens when cypress failed to connect to the baseURL you have added in your config file
I faced the same issue and after investigating in this problem, It seems that the baseURL doesn't responded
So, check the response of your baseURL from a normal browser

[2022-10-09 21:49] steinybot opened #24178 "TypeError: options.withinSubject.filter is not a function"
### Current behavior

This:
[code]

fails with:
[code]

### Desired behavior

There should be an assertion error rather than a type error.

### Test code to reproduce

https://github.com/steinybot/cypress-test-tiny/tree/bug/options-withinSubject-filter

### Cypress Version

10.8.0

### Node version

v18.10.0

### Operating System

macOS 12.6

### Debug Logs

_No response_

### Other

I occassional

[2022-10-09 22:00] steinybot opened #24179 "TypeError: subject[traversal].call is not a function"
### Current behavior

This:
[code]

Fails with:
[code]

### Desired behavior

It should not fail

### Test code to reproduce

https://github.com/steinybot/cypress-test-tiny/tree/bug/subject-traversal-call

### Cypress Version

10.8.0

### Node version

v18.10.0

### Operating System

macOS 12.6

### Debug Logs

_No response_

### Other

_No response_

[2022-10-10 05:51] whimboo commented on #23897
That's great! So I assume you fix it in a way that when `127.0.0.1` cannot be connected to that `::1` is tried?

[2022-10-10 08:25] liambutler commented on #23641
Hello folks! I'm also seeing one of the above errors on an Azure Pipeline (via GitHub Actions):

[code]

Not seeing the other issues though. Given that there are a lot of different issues being mentioned in the above thread, would I be better off opening a new issue, or can this one be reopened?

Additional info:

Cypress 10.8.0
Running in GitHub Actions (not self-hosted)
Viewport resolution: 1400

[2022-10-10 08:40] conventim commented on #23641
Hi @liambutler, i think you should open a new issue because my errors are generated from Cypress 9.7 and only on Azure DevOps Pipeline agent (ubuntu-20.04)

[2022-10-10 09:03] Aiosa opened #24181 "type() not fired from promise chain"
### Current behavior

Some state checking requires access to the `window` object. However, using `type()` to trigger keyboard events does not work in the window promise.

### Desired behavior

`type()` should fire keyboard events everywhere - I could not find anything in the docs that would indicate otherwise.

### Test code to reproduce

Having attached debug listeners to the index page
[code]
Th

[2022-10-10 09:55] alecmestroni opened #24182 "Can't fake webcam video"
### Current behavior

When the test is running I'm having this issue
![image](https://user-images.githubusercontent.com/62354989/194839373-9acf6e03-9af3-43a8-89f3-4d6db72312df.png)
but if I open a new tab in cypress with the same link it's working fine
![image](https://user-images.githubusercontent.com/62354989/194840910-082936f5-c2e8-49ea-9a5d-77a37c58fdb4.png)

I tried adding this code:

			on('

[2022-10-10 10:24] FrankL-git commented on #23215
@nagash77

Hi, there are (bad) news,

with firefox 105.0.3 (Cypress 10.9.0, Ubuntu 22.04) the problem does occur again and none of the workarounds described in https://github.com/cypress-io/cypress/issues/23215#issuecomment-1217693614  (download binaries resp. setting XDG_CONFIG_HOME) works anymore.
I needed to download the firefox 104.0.2 binaries and now the following works:

    cypress run -b

[2022-10-10 11:00] Aiosa commented on #24181
My bad. They were firing everywhere but `expect` does some weird logics that prevents the keys from being fired in case of failure - which happens because `expect` does not wait for the button press to take the effect.

[2022-10-10 11:00] #24181 closed, assigned to nobody

[2022-10-10 11:11] GCHQDeveloper638 commented on #22520
This feature would be useful to us - we're trying to do similar to @OliverJAsh and assert that the returned page had a specific status code before we check the contents of the page.

[2022-10-10 11:14] iomedico-beyer commented on #19229
But time traveling is considered cheating! There rest of us have to deal with Cypress 10.9.

[2022-10-10 12:52] marcospoliceno commented on #2599
cypress ainda tem esse problema

retorna o download CSV com o HTML <head> <script type='text/javascript'> document.domain = .....
e não com a integridade do arquivo CSV
impossibilitando a validação do arquivo

[2022-10-10 13:34] Dan5123 commented on #22086
Hello guys,
I have similar issue with Chrome, it has failed to launch the test runner.

![3](https://user-images.githubusercontent.com/106591615/194878433-9731ce1c-6729-44d1-923b-589b0a4852b3.png)
![1](https://user-images.githubusercontent.com/106591615/194878449-2b9a3864-6fc8-4b88-bc83-17be1c228eeb.png)
![2](https://user-images.githubusercontent.com/106591615/194878460-0bf45764-6004-404c-b298-b65

[2022-10-10 13:39] thomas-verhoeven commented on #23611
We are running into this issue as well. Our support and spec files are maintained in an npm package and installed in multiple projects. The option to disable the automatic exclusion of node_modules would be a much cleaner and safer approach than having to move files around in our build proces or as a post-install script.

[2022-10-10 13:53] zsolt-dev opened #24185 "Allow importing modules in test cases"
### What would you like?

[code]

### Why is this needed?

I need to use cheerio to test the SSR (without JS)

### Other

This is the error I get.

I even created a fresh cypress install with a single test spec (the default sample that is created by the guide), and when I `import * as cheerio from 'cheerio';` it fails

[2022-10-10 14:13] arvind-nadimpally commented on #24167
Hi Please find the complete logs for this error.

[code]

Thanks

[2022-10-10 15:58] RolandLoosz opened #24186 "Treat as text textfield option"
### What would you like?

I suggest an option when it will be possible to treat number typed textfields as it would be a textfield with type of text so that I can write characters and/or symbols.

### Why is this needed?

I would like to test a textfield with the type of number.
My main goal is to test if I can write symbols or characters to the field instead of numbers.
When I write
`cy.get('#num

[2022-10-10 16:16] jenniferabowd commented on #23782
Hi, I wanted to check in on this as I'm still having this error without a good workaround.

[2022-10-10 16:24] cameroncooks-branch commented on #7868
Any update on this?

[2022-10-10 17:13] narrotic opened #24191 "Cypress open giving illegal access error"
### Current behavior

Hi, I am using cypress on a React Application everything seemed to be working fine until I upgraded node from 14->16 today. I am using WSL2 and when I run the script cypress open it gives me the following error:

[code]

I tried to search but did not get a satisfactory answer for this problem.

### Desired behavior

_No response_

### Test code to reproduce

{
  "extends": ".

[2022-10-10 17:35] zsolt-dev commented on #24185
Adding this to `cypress.config.ts` fixed it:

[code]

But now the`_all.spec.ts` test file does not work. It says its empty, even though it contain imports of all the specs as shown in the [Glebs tutorial](https://glebbahmutov.com/blog/run-all-specs-cypress-v10/).

[2022-10-10 17:38] nickpm21 commented on #23391
This has been a consistent issue for my tests as well, 10.8.0 Cypress and Chrome v106. The thing is I have 32 GB of RAM and from the view in my Task Manager it doesn't look like it's even getting close to 100% usage but will still trip the Aw Snap! Out of Memory error. So I'm wondering what's the threshold that's making Cypress trigger this.

[2022-10-10 17:48] fsebalien opened #24192 "Cypress crashes if the request includes encoding false"
### Current behavior

Description:
Cypress gives ERR_UNKNOWN_ENCODING error and UI crashes if my request contains encoding:false row.

Platform: darwin-arm64 (21.4.0)

### Desired behavior

Expected result:
An error on Cypress console.

### Test code to reproduce

Steps:
1- Have a request with some form body parameters
2- Add encoding:false into your request
3- Try to run your test on Cypress UI

[2022-10-10 17:51] henricook commented on #23391
In the name of the many people subscribed to this thread can I ask you please to only comment if you're still experiencing this issue in Chrome 107 beta - otherwise I think it's safe to say this issue will be fixed once Chrome 107 is released.

[2022-10-10 18:28] io-sar commented on #23937
@mjhenkes not really... :(

[code]

[2022-10-10 18:37] elevatebart opened #24193 "Hidden Details show us as visible in Chrome 106"
### Current behavior

In Chrome 96, when page had the following structure, the hidden item would be detected as not visible by cypress.

[code]

In Chrome version 97 & up the hidden item is detected as visible.

[code]

### Desired behavior

It should detect collapsed details as invisible.

### Test code to reproduce

https://github.com/elevatebart/cypress-chrome-details-reproduction

### Cypress

[2022-10-10 22:39] zero41120 commented on #19687
When you open cypress in WSL, the server load the Linux environment version of this code:
https://github.com/cypress-io/cypress/blob/acc1050dd2659182fa87729be5ce9c3ca99de94b/packages/launcher/lib/linux/index.ts#L111-L123

However, when you link or use `--browser` with Window's `chrome.exe`, it just opens the browser.
In which, code for the Window environment:
https://github.com/cypress-io/cypress/

[2022-10-10 23:27] brentsharon commented on #22086
Yes this is an issue and is occurring for me using Cypress 10.9.0 FFv105 on a mac.  I was also getting this issue on 10.8.0 before the update to 10.9.0.   This is an issue with both the runner and headless.

[2022-10-10 23:50] brentsharon opened #24195 "Firefox v105 not working for runner/headless"
### Current behavior

Currently FFv105 will not open and times out when attempting to run specs in the runner and also running specs in headless.

### Desired behavior

FF browser should not timeout and user should be able to run specs in the FF browser

### Test code to reproduce

no test code needed just try to open FFv105 and run spec or use the cli to run a headless test

### Cypress Version

[2022-10-11 03:45] #23897 closed, assigned to mschile

[2022-10-11 04:08] mschile commented on #23897
Yep!

[2022-10-11 07:01] ewminty-private commented on #22683
Having followed all of the instructions and rebooted, triple-checked
everything, etc, it is *still *failing to start. I'm getting this error
message:

***@***.***:~$ npx cypress open

I have verified and double-checked all of the steps. I have an X server
running with access control disabled, the $DISPLAY is registering
correctly, and all of the other steps I've run through carefully three
times n

[2022-10-11 07:13] GrayVi02 commented on #22534
Hi Victoria and Emily,

We are running it from cypress itself but not any third party extension. I am not even seeing the extension shows atm.
***@***.***
***@***.***

Before Victoria guide me on the register key change  the erro was like tihis
***@***.***
***@***.***

Thanks & Regards,
Yueh

From: Gray, Victoria (RIS-ATL) ***@***.***>
Sent: 28 June 2022 14:00
To: cypress-io/cypress ***@***.***>;

[2022-10-11 07:27] Bariscanates404 commented on #23684
When I activate the experimental session all of my other tests are doesn't
work. in my tests, I needed to use scenarios, so the experimental session
tries to open a blank page after every test. my more than 100 tests doesn't
work. Know I having another problem with the headless test run. This is
lethal for me that's why I just left the origin problem.
https://stackoverflow.com/questions/73858772/c

[2022-10-11 07:39] #24191 closed, assigned to nobody

[2022-10-11 08:08] ogomez-at-wiris commented on #22164
This might provide more info?
  cypress:data-context:sources:VersionsDataSource NPM release dates
received { modified: '2022-06-14T07:12:40.628Z' } +0ms
Received fatal exception EXCEPTION_BREAKPOINT
Backtrace:
        IsSandboxedProcess [0x00007FF7A2977947+1943559]
        IsSandboxedProcess [0x00007FF7A297752D+1942509]
        IsSandboxedProcess [0x00007FF7A2972A56+1923350]
        std::__1::__ve

[2022-10-11 08:12] amar0120 commented on #23772
Hi 
Please find the log generated using `DEBUG=cypress:* in attachment.
Thank you very muchAmar Singh
    On Monday, 12 September, 2022 at 04:08:52 pm IST, Lachlan Miller ***@***.***> wrote:

Before I try to reproduce, are you able to do the same thing with `DEBUG=cypress:* and see if there's anything in the logs after it crashes (you should see lots of logs in the terminal when you run with that

[2022-10-11 08:15] ewminty-private commented on #22683
Please re-open this as it has not been resolved. I didn't get a reply to
the last comment I made on Jul.18 after following all of the instructions
in the link provided - I've reposted my response below. I can't find any
relevant information about the error message I'm receiving. Note that the
application does not appear to load at all.

Having followed all of the instructions and rebooted, triple-

[2022-10-11 08:40] Dan5123 commented on #22086
is there any one who can help please

![3](https://user-images.githubusercontent.com/106591615/195041836-72b27f73-d69b-4425-b54d-659bf8bd550a.png)

[2022-10-11 08:41] bahmutov commented on #15812
You split your test. One test uploads the file and redirects the validation if you want to the same tab. Another test can skip the file validation using cy.intercept.

Sent from my iPhone

[2022-10-11 08:55] GregoryVds commented on #21151
I am on v.10.8.0 and I can confirm this issue is still present as well :disappointed:

[2022-10-11 10:05] zecarrera opened #24197 "safari webkit fails to interact with iframes"
### Current behavior

Safari webkit is unable to interact with iframes

### Desired behavior

Spec should be able to interact with elements within iframes

### Test code to reproduce

I've created a public repo, using the iframe example from the example-recipes repo
https://github.com/zecarrera/cypress-10-example-recipes-iframe

### Cypress Version

10.9.0

### Node version

v16.10.0

### Operatin

[2022-10-11 11:27] #24185 closed, assigned to nobody

[2022-10-11 11:37] spiltcoffee commented on #22086
@Dan-appreciategroup you're probably better off making a new issue for your problem as this issue is specifically a Firefox issue - and closed, might I add! You're very unlikely to get any support in this issue.

[2022-10-11 12:08] darth-stewie commented on #7598
Same :(

[2022-10-11 12:24] Dan5123 commented on #22086
@spiltcoffee  thanks

[2022-10-11 12:54] rujorgensen opened #24198 "Angular Component Testing: ngOnChanges does not fire (post mounting)"
### Current behavior

`ngOnChanges` does not seem to be called when the inputs of a component is changed post mounting.

### Desired behavior

`ngOnChanges` should run whenever the inputs of a component changes.

### Test code to reproduce

**classic-component-with-input.component.ts**
[code]

**classic-component-with-input.component.cy.ts**
[code]

### Cypress Version

~10.9.0~  11.1.0

### Node

[2022-10-11 13:19] #24035 closed, assigned to mjhenkes

[2022-10-11 13:38] Dan5123 opened #24199 "unable to launch tests runner window"
### Current behavior

I am unable to launch cypress test runner, I have followed many different routes to open and install cypress but no luck, here I am raising issue to see if I can get some support.
I can not configure proxy or even go to settings since all these options are in test runner window which I am unable to get to.

![1](https://user-images.githubusercontent.com/106591615/195104202-97

[2022-10-11 13:42] nagash77 commented on #24086
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-11 13:42] #24086 closed, assigned to nagash77

[2022-10-11 13:42] nagash77 commented on #24049
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-11 13:42] nagash77 commented on #24077
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-11 13:42] #24077 closed, assigned to nagash77

[2022-10-11 13:44] nagash77 commented on #24166
@nitinchalopadho can you please try what @youseff199959 is suggesting?

[2022-10-11 13:52] nagash77 commented on #24167
@arvind-nadimpally I see that you are on an older version of node.  Can you try updating to `16.17.1` and see if the problem persists?

[2022-10-11 13:54] ludazhao opened #24200 "Screenshots not working for WebGL-based map in Firefox"
### Current behavior

Currently cy.screenshot() returns a blank screenshot for our page with a MapboxGL-based map in Firefox (version 91.7.0esr). Loading the page renders the map normally and the map shows up normally on the uploaded video recording as well, only when we take a screenshot does it show a blank map. The screenshot seems to work fine with the built-in Electron browser, only on Firefo

[2022-10-11 13:58] nagash77 commented on #22683
@ewminty-private I'm sorry to hear you are still having problems.  Are your latest problems still related to the initial problem listed in the ticket using WSL?  If not, I would suggest opening a new issue to track the current problem rather than append to an unrelated issue.

[2022-10-11 14:10] nagash77 commented on #24195
Hello @brentsharon , We have a fix for a problem that appeared after firefox made a change to how they resolve localhost.  https://github.com/cypress-io/cypress/issues/23897 will be releasing today in `Cypress 10.10.0`. Can you please try upgrading to that version of Cypress and seeing if that resolves the issue?

[2022-10-11 14:13] jordanpowell88 commented on #24198
This was fixed in this PR https://github.com/cypress-io/cypress/pull/23596 and should be available in the next release.

[2022-10-11 14:16] rdwentmp opened #24202 "cy.screenshot() has impact on test results, intercepted aliases, work as cy.wait(500)"
### Current behavior

During using cy.screenshot() in method updateScope between cy.intercept() and cy.wait() the returned alias request in assertUpdateScope alias for that update is correct. The issue occur after removing cy.screenshot from that method, then the returned aliases are wrong and the assertion fails on response body.
In our case cy screenshoot works as cy.wait(500) which mean screens

[2022-10-11 14:40] rujorgensen commented on #24198
Great 🙂!

It's just because the comments:
1. "Fix that calls ngOnChanges after mounting an angular component" [here](https://github.com/cypress-io/cypress/pull/23596#issue-1354754328), and
2. "ngOnChanges makes sense to fire immediately after mounting, coupled with a detectChanges call.", and the proposed fix [here](https://github.com/cypress-io/cypress/issues/23591#issuecomment-1230586394)
3. ...

[2022-10-11 14:46] AtofStryker commented on #22670
Closing as complete with https://github.com/cypress-io/cypress/pull/23872. @ganeshac123 this should be release `10.10.0` this afternoon EST. Can you confirm once the release is available that this issue is fixed?

[2022-10-11 14:52] Phonesis commented on #23897
Can this fix not get released any sooner? it is a rather major issue and blocking us

[2022-10-11 14:59] baus commented on #24133
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24133?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 14:59] baus commented on #24135
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24135?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:00] baus commented on #24138
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24138?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:00] baus commented on #24153
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24153?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:00] baus commented on #24137
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24137?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:00] baus commented on #24141
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24141?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:01] baus commented on #24140
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24140?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:01] baus commented on #24142
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Component-Testing-606e43bbf1b3b20013c142c1/issues/cypress-io/cypress/24142?planning-poker) with Zenhub @amehta265 @astone123 @lmiller1990 @marktnoonan @mike-plummer @rockindahizzy @warrensplayer @ZachJW34

[2022-10-11 15:05] BlueWinds commented on #7306
Apologies for the false alarm - work continues, but the code for this is not done! Just accidentally linked a PR into my feature branch to the main issue, rather than the sub-issue. ^^;;

[2022-10-11 15:06] mjhenkes commented on #24126
@LegendShola, I'm trying to decipher what is happening in your screenshots. are you saying the chrome browser doesn't load, edge fails the request and the firefox browser hangs? These all seem like they could be very different problems.

[2022-10-11 15:07] mschile commented on #23897
The fix should be released today. In the meantime you can try this workaround https://github.com/cypress-io/cypress/issues/23897#issuecomment-1267670723

[2022-10-11 15:13] ganeshac123 commented on #22670
Ok, tomorrow Morning My time will and let you know.

On Tue, Oct 11, 2022 at 8:16 PM Bill Glesias ***@***.***>
wrote:

[2022-10-11 15:21] ewminty-private commented on #22683
I think this ticket was meant to be closed. I abandoned WSL as
unsupportable and switched to a VM which worked.
My only further suggestion was to consider advising users that WSL is not
currently supported so we don't get lost in that hole.

Cheers
Erik

On Tue, Oct 11, 2022 at 6:58 AM Ben M ***@***.***> wrote:

[2022-10-11 15:39] nagash77 commented on #21491
Spike completed.  Now we need to do the work to fix what tests are still broken.

[2022-10-11 15:40] nagash77 commented on #21491
work needs to go into the 11.0 branch

[2022-10-11 15:49] nagash77 commented on #21491
marking as done and moving on to #21471 to complete the work.  Needs to go into the v11 branch

[2022-10-11 15:51] Phonesis commented on #23897
thanks @mschile sounds good. That fix doesn't seem to work for us not sure why. On latest Cypress and Firefox 105.

[2022-10-11 16:01] nagash77 opened #24205 "Remove handling `return false` from validate"
1. Remove clearing the page before the validate (on create)
    1. Users don’t understand that validate purges the cache
    2. Users will DRY up code

[2022-10-11 16:01] nagash77 opened #24206 "Change TestIsolation legacy to "on" / false "off" tie specifically to browser context"
Change `testIsolation` values from "legacy"/"strict" to "on" / false "off" tie specifically to browser context and update `cy.session()` to inherent the testIsolation configuration to toggle when session clears the the page when the command executes.

### Behavior After Changes
|testIsolation | beforeEach test                         | cy.session                                  |
|---------------

[2022-10-11 16:02] nagash77 opened #24207 "Surface "recreated" session visually"
Hard to know that because the first validate will fail, but sessions will recover and recreate the session and their test will pass  and the command is visually green.

Some of this problem could be obviated by making the “recreated” state more of a `warning` under the assumption that it should be fairly rare and we should draw the user to the problem more aggressively
            1. ideas: make t

[2022-10-11 16:03] nagash77 opened #24208 "Only Save Session after Successful Validation"
4. Storing the session should happen post validation

[2022-10-11 16:15] AtofStryker commented on #24099
added in cypress-origin-providers

[2022-10-11 16:15] #24099 closed, assigned to nobody

[2022-10-11 16:20] mschile commented on #23897
@Phonesis, you can also install a [pre-release](https://docs.cypress.io/guides/references/advanced-installation#Install-pre-release-version) version to resolve the issue. https://github.com/cypress-io/cypress/commit/0e62696a0ed771794d1ccb350e8b9e01aa0a2e14#comments

[2022-10-11 16:38] IlCallo commented on #22390
I'm back at it 😁
Seems like the support for async webpack config did the trick, so this issue can be closed
We're now dealing with another problem, but I'll open a dedicated issue about it

[2022-10-11 18:03] taylorjellsworth commented on #21619
@flotwig I was wondering if there's any estimate on when this will get looked at?  We are still running into this issue.

[2022-10-11 18:06] nagash77 commented on #24061
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2022-10-11 18:06] #24061 closed, assigned to astone123

[2022-10-11 18:07] yann-combarnous commented on #7306
@BlueWinds , it has been almost another month since last update, if you get a chance, would be great to have another status update here. Very excited about this piece of work 😉.

[2022-10-11 18:08] marktnoonan commented on #24153
It seems like this one isn't defined enough to estimate precisely, estimating based on the two solutions suggested & a guess about what the UI would look like, though this would need to go through design.

[2022-10-11 18:10] munkinugget opened #24209 "ERR_UNKNOWN_FILE_EXTENSION with Typescript config and Yarn 3 / Zero install"
### Current behavior

This project is a monorepo using Yarn 3, with PnP / zero install, with yarn workspaces. In this environment the minimum settings suggested by your documentation to configure and run cypress with Typescript fails with the following errors:

In the console:
[code]

Within the Cypress UI (Stack trace):
[code]

### Desired behavior

Cypress should launch without this error.

###

[2022-10-11 18:24] nagash77 commented on #24174
Hi @hiebj , thanks for creating an issue around this problem.  We currently have this issue that is already in the teams backlog - https://github.com/cypress-io/cypress/issues/24112.  I am going to close this issue as a dupe.  Feel free to comment if you feel that is in error and we can address your feedback

[2022-10-11 18:24] #24174 closed, assigned to nobody

[2022-10-11 18:52] baus opened #24210 "Define requirements for CT Framework release stage / GA"
https://docs.google.com/document/d/1-IFFk9IOe3yCR8AGufXhTFZsctfXmbEYGqJihadBJtY/edit

[2022-10-11 19:01] brentsharon commented on #24195
Thanks!

On Tue, Oct 11, 2022 at 7:11 AM Ben M ***@***.***> wrote: