[2022-06-02 15:49] jennifer-shehane commented on #22048
@bahmutov There's instructions for adding types for `cy.mount()` here: https://on.cypress.io/mount#Adding-TypeScript-Typings-for-cy-mount-Commands Is this helpful? Is there something else that would help the experience be better?

[2022-06-02 15:53] tgriesser commented on #22021
We should just be able to add a `null` filter on the plugins array:

[code]

[2022-06-02 16:05] jrockefeller commented on #22041
Can close this.
With 10 this brought up the order of imported modules and local commands now matters.
Reordered the imports and everything works again.

[2022-06-02 16:08] david-schopf commented on #22046
Cypress 10.0.1 is still crashing on M1:

[2022-06-02 16:36] jordanpowell88 opened #22049 "Add Support for Angular Component Testing"
### What would you like?

With the release of `10.0` we now have Beta support for both `Vue` and `React`. We need to also add support for `Angular`.

### Why is this needed?

This is needed to support our wonderful Angular users who want to do Cypress Component Testing in their Angular applications.

### Other

_No response_

[2022-06-02 16:57] TheColorRed commented on #15903
I just learned about component testing, and was wondering if it executed faster than regular e2e tests? Our tests take about 45min - 1hr to run without using component testing.

[2022-06-02 16:58] IrfanSyed-PSC opened #22050 "TS18002: The 'files' list in config file 'tsconfig.json' is empty with Cypress 10.0.0"
### Current behavior

We have an old cypress project running Cypress 9.5 version and uses support files that in typescript. The `tsconfig.js` looks like this
[code]

After upgrading to cypress 10.0.0, I am unable to run any of the tests and they fail with the following error.
[code]

Any reason why that would happen and what should be added as part of the files property ?

### Desired behavior

Up

[2022-06-02 17:10] IrfanSyed-PSC opened #22051 "Cypress 10.0.0 crashes couple of times on MacOS after upgrade"
### Current behavior

After upgrading to latest version of cypress, it crashed couple of times.
[code]
Also, the following file was missing before the crash
[code]

### Desired behavior

Should not crash after upgrade

### Test code to reproduce

Seems to be happening with this issue - https://github.com/cypress-io/cypress/issues/22050

### Cypress Version

10.0.0

### Other

_No response_

[2022-06-02 17:21] yCaetano7 opened #22052 "Circular symlink detected error"
### Current behavior

Greetings, i'm having a problem with Cypress since i updated it to version 10.0.0, where Cypress doesn't work properly.
Excuse my lack of knowledge, but i really need to use Cypress for work.

I've always used "./node_modules/.bin/cypress open" to open Cypress via Windows PowerShell for my tests, and as of right now, it still works, but the moment i click on "E2E Testing", an

[2022-06-02 17:30] flotwig opened #22053 "Add way to automatically collect a DevTools Performance profile"
### What would you like?

The DevTools Performance profiles can be really helpful for debugging performance issues. Unfortunately this means a user has to *make it* to DevTools Performance tab, start recording, and export the profile, which can be really difficult to do (even impossible) while the browser is locked up.

Would be good to add a way to collect perf profiles automatically, maybe via a

[2022-06-02 17:31] alavkx commented on #19908
It seems you've figured it out, but for others reading;

If you get this error it's because you've missed the removal of the `afterSign` config in `electron-builder.json`.

And just a heads up, my "successful" build ended up throwing an error in the smoke test

This is ok! Check `build/build/mac-arm64` and you (hopefully) should see that the build still worked and you can finish the remaining inst

[2022-06-02 17:33] jordanpowell88 commented on #22049
This is the implementation that I've been working on that works with unification https://github.com/jordanpowell88/angular-ct

[2022-06-02 17:39] mjhenkes commented on #21642
Closing as a duplicate of https://github.com/cypress-io/cypress/issues/20685

[2022-06-02 17:42] mjhenkes commented on #21643
Closing as duplicate of https://github.com/cypress-io/cypress/issues/18564

[2022-06-02 17:42] #21643 closed

[2022-06-02 17:46] mjhenkes commented on #21530
With 10.0 we will have added more watchers so this issue is related: https://github.com/cypress-io/cypress/issues/22013

[2022-06-02 18:11] mjhenkes commented on #22034
@tgriesser, @lmiller1990 should we close this as a dupe of #22038?

[2022-06-02 18:13] anlambert opened #22054 "Cypress 10 watch all files when executing cypress run"
### Current behavior

Today, I took some time to upgrade the project I am working on to Cypress 10 (see [details](https://forge.softwareheritage.org/D7947)).

The upgrade went fine (nice work on the migration tool, btw) and I could still run my e2e tests locally without an issue.

However when executing the tests on our Jenkins instance, the following error is raised when executing `cypress run` (

[2022-06-02 18:14] #22041 closed

[2022-06-02 18:24] flotwig commented on #19176
Closing since this is not actionable and stale.

[2022-06-02 18:24] #19176 closed

[2022-06-02 18:43] flotwig commented on #22051
Hi @IrfanSyed-PSC, thanks for reporting this. I think this looks like a duplicate of https://github.com/cypress-io/cypress/issues/21928 - if you agree, can you please comment on that issue with any information specific to your environment? OSX version, CPU  architecture, etc.

[2022-06-02 18:49] Ibrahim-Krasniqi opened #22056 "Changing the baseUrl value in cypress.config.js will not take effect until restarting cypress"
### Current behavior

when changing the value of `baseUrl` in `cypress.config.js` both the cypress window as well as the cypress controlled instance of the browser reload giving the impression that the changes to configuration are taking effect, this is not the case however

Note: I did not test all values that can be altered in `cypress.config.js` however at least with `viewportWidth` and `viewpo

[2022-06-02 19:05] tgriesser commented on #22054
There are 2 issues here:

1. We should not be watching spec files in run mode, we should have an early return `if (!this.ctx.isRunMode)` here:

https://github.com/cypress-io/cypress/blob/a0a64cc851c8232b94eb0e907f220e08260bda20/packages/data-context/src/sources/ProjectDataSource.ts#L290-L300

2. The behavior here changed as a result of removing `integrationFolder` and replacing it with a glob. We

[2022-06-02 19:22] flotwig commented on #22006
@eduardoeberle Could you please try the command indicated above and let us know if it resolves your issue?

[2022-06-02 19:22] karlhorky opened #22059 "New Cypress 10 global TypeScript type conflicts with Jest `expect`"
### Current behavior

The following new global TypeScript type for `expect` in `node_modules/cypress/types/cypress-expect.d.ts` causes conflicts with Jest `expect` types, if a project has both Jest and Cypress:

https://github.com/cypress-io/cypress/blob/a0a64cc851c8232b94eb0e907f220e08260bda20/cli/types/cypress-expect.d.ts#L2

Errors:

[code]

<img width="510" alt="Screen Shot 2022-06-02 at 21 19

[2022-06-02 19:24] #22038 closed, assigned to tgriesser

[2022-06-02 19:24] flotwig commented on #21991
Hi @jitenev, we have fixed issues with selectFile since it was released and 6.x is very old, can you please try upgrading to the latest Cypress and letting me know if you still have an issue in Cypress 10.0.1?

[2022-06-02 19:41] jennifer-shehane commented on #22056
@Ibrahim-Krasniqi Thanks for reporting, we'll investigate this. This is not the desired behavior.

[2022-06-02 19:55] tgriesser opened #22062 "Flaky server "integration" tests should be moved to e2e / system tests"
### Current behavior

There are tests that have a lot of flake: https://app.circleci.com/pipelines/github/cypress-io/cypress/38910/workflows/8e1b04ba-154b-4493-8f4a-2902dc8f2714/jobs/1583306

[code]

We have better conventions around e2e/system tests

### Desired behavior

When we see flaky tests in the legacy "integration" style, we should port them over to e2e/system tests

### Test code to repr

[2022-06-02 20:01] kshastri commented on #21728
I can take this up in case anyone else is not working on this.

[2022-06-02 20:12] ZofiaBajerska opened #22064 "Browser closes itself just after "npx cypress open" or running Cypress.exe"
### Current behavior

I've got node.js 16.15.1 LTS installed on Win 10 x64
In terminal i am executing:
1. npm init
2. npm install cypress --save-dev
3. npx cypress open
Cypress is opening but closes immidietly without any error message.

I got the same effect when i run cypress from directly downloaded package.

Described behaviour in the movie below.
https://user-images.githubusercontent.com/5828

[2022-06-02 20:26] mschile commented on #9443
Closing as I can no longer reproduce on the newest version of Cypress and browsers.

[2022-06-02 20:50] #22054 closed

[2022-06-02 20:56] ryanjwilke commented on #22035
@luxalpa Would you be able to share a little more insight into which parts are hard to read? Also since you mentioned Elementary OS, is this something unique to this OS? It might be helpful to get a better understanding of which parts of that command log panel are currently hard to read as there may be some small adjustments we could make to improve contrast overall.

Thanks for any additional inf

[2022-06-02 21:06] jennifer-shehane commented on #22064
Last few lines of debug, exit code 2147483651

[code]

[2022-06-02 21:06] mschile commented on #21988
@sebamomann, thanks for reporting this issue. Based on the login working correctly in Firefox I am inclined to believe that you are being impacted by our cookie handling. We are currently working on https://github.com/cypress-io/cypress/issues/20685 to improve our cookie handling.

I am going to close this issue as a duplicate of https://github.com/cypress-io/cypress/issues/20685. If you are still

[2022-06-02 21:06] #21988 closed

[2022-06-02 21:11] amartin1984 opened #22065 "Cypress 10.0.0 or 10.0.1 Migration tool doesn't load"
### Current behavior

When I try to update to Cypress 10+ I am not given the option to use the migration tool
![image](https://user-images.githubusercontent.com/19328404/171738701-d2875a9e-7497-4432-80e6-4d15a64bf17c.png)

The behavior is the same for both 10.0.0 and 10.0.1

We have thousands of files and I would prefer to not have to do the work manually for the upgrade.

### Debug logs

_No resp

[2022-06-02 21:23] #21997 closed

[2022-06-02 21:23] #22018 closed

[2022-06-02 21:23] #22034 closed

[2022-06-02 21:36] ryota-murakami opened #22066 "Cypress V10 doesn't use `cypress.config.ts` on GitHub Actions"
### Current behavior

<img width="1043" alt="GitHub Actions" src="https://user-images.githubusercontent.com/5501268/171742081-072aa025-f054-4dfe-824d-19e137d8e5ac.png">

In GitHub actions, Cypress trying to use old format config file.
I have `cypress.config.ts` and there is no `cypress.json` in a codebase.

### Desired behavior

Cypress uses `cypress.config.ts` as same as local.

### Test code to

[2022-06-02 21:43] mschile commented on #21938
@Atabic, I created a new CRA and added `cypress` and `eslint-plugin-cypress` but was unable to reproduce the issue. Both `eslint` and `IntelliSense` functioned as expected within VSCode. Do you have a reproducible example you could provide?

https://github.com/mschile/create-react-app-issue-21938

[2022-06-02 22:28] GastonZ-MayorKeyTech commented on #6010
I can't believe this is still an issue

[2022-06-02 22:33] teareed88 commented on #22064
I am getting the same error.  Here is the last few lines.

cypress:network:agent got family { family: 4, href: 'https://on.cypress.io/v10-video-embed/10.0.0' } +141ms
  cypress:network:agent Creating proxied socket for https://on.cypress.io/v10-video-embed/10.0.0 through XXXXXXXXX +1ms
  cypress:network:connect successfully connected { opts: { port: 3128, host: 'XXXXXXXXXX', useTls: false, getDela

[2022-06-02 22:59] rnunezil commented on #21877
Any update or is there anything we can try?  We are evaluating Cypress as a possible automation tool.   Right now, we can't upload scripts to the dashboard and we are dead in the water.  Thanks.

[2022-06-02 23:47] ZachJW34 commented on #22043
Verified that we are not in parity with 9.x on this.

@ryanjwilke what do we want for the selector-playground button? 9.x has a gray background and a tooltip. I can throw the indigo state on the icon when selected, but do we want the tooltip?

[2022-06-02 23:57] lmiller1990 commented on #15903
It will depend, but generally yes - most e2e tests will create a fully blown server, database etc, component tests tend to be (mostly) browser only and much more lightweight + faster. They aren't a replacement for e2e tests, but definitely can be used along side them, so you don't need to spin up a full app to test every state of every component.

[2022-06-03 00:20] josh803316 opened #22071 "Upgrade to cypress 10 for typescript project broken (from 9.6)"
### Current behavior

As outlined in this issue that was closed prematurely:
https://github.com/cypress-io/cypress/issues/21997

cc @lmiller1990

When I upgrade our existing typescript project it fails with various typescript errors (see the issue listed above).  I have created a sample repo that reproduces the issues.

### Desired behavior

Smooth upgrade and conversion of support scripts, plugin

[2022-06-03 00:28] jennifer-shehane commented on #22065
@amartin1984 Can you provide the full message displayed in the error? Can you provide your the contents of your plugins file and ideally a repo we can run to reproduce?

[2022-06-03 00:29] PepijnSenders opened #22072 "Dynamically setting baseUrl with `TestConfigOverrides`"
### Current behavior

In v9 we were able to set the `baseUrl` but it has disappeared from the `TestConfigOverrides` type.

### Desired behavior

Add the `e2e` key to the `TestConfigOverrides` type.

### Test code to reproduce

https://github.com/cypress-io/cypress/blob/e6b2466f7b219a86da46c1ac720432ef75193ca4/cli/types/cypress.d.ts#L3006

### Cypress Version

10.0.2

### Other

_No response_

[2022-06-03 01:24] lmiller1990 commented on #22071
Thanks, I am looking into this now.

[2022-06-03 01:42] spiffytech commented on #22071
It's happening for me with Node 18 on Linux.

[2022-06-03 02:28] sbarba commented on #22035
If you're testing a light page (very common) the contrast is just too much.

[2022-06-03 02:40] lmiller1990 commented on #22071
Going to list my notes as I work through this. What seems to be happening is we hit [this line](https://github.com/cypress-io/cypress/blob/9407d07cdbb227be763852c393d7771e953656e0/packages/server/lib/plugins/child/run_require_async_child.js#L129) -  `return await import(pathToFileURL(file).href)`. In this case we are trying to import a `ts` file using Node's native ESM loader, which obviously does

[2022-06-03 03:35] mschile commented on #22052
@yCaetano7, thanks for logging this issue. I was able to reproduce your issue by running `cypress open` from the root user directory (in your case `C:\Users\User`). We'll have to do more investigation as to what is exactly causing the failure but in the meantime, if you move your project to a subfolder (i.e. `C:\Users\User\<ProjectName>`) and install and run the `cypress open` command from there,

[2022-06-03 04:11] ryota-murakami commented on #22066
Self resolved.
Update `cypress-io/github-action` version 2 -> 4 and then fixed.

https://github.com/laststance/nsx/blob/main/.github/workflows/cypress-e2e-visitor-side.yml#L19

[2022-06-03 04:11] #22066 closed

[2022-06-03 04:11] lmiller1990 commented on #16711
Closing, not relevant

[2022-06-03 04:11] #16711 closed

[2022-06-03 05:02] lmiller1990 opened #22074 "Never uses esbuild to process cypress.config"
### Current behavior

Attempts to use esbuild but never actually does so successfully.

### Details

**EDIT**: I removed the `esbuild` code path for now, as part of this PR https://github.com/cypress-io/cypress/pull/22118 where we use `ts-node/esm` to handle ES modules. You can reference that if/when we decided to work on this issue and revisit how we use esbuild in Cypress.

On this part of the c

[2022-06-03 05:04] lmiller1990 commented on #22071
I found part of the problem: we are trying to use `esbuild` to process TS files, but it's not set up correctly, see #22074.

[2022-06-03 05:25] lmiller1990 commented on #22071
@josh803316 I found I could just do `rm cypress/index.js` and your project works just fine. Can you give this a try? I have no idea what `cypress/index.js` is supposed to be or why it causes problems, though, very weird.

[2022-06-03 06:02] lmiller1990 commented on #22071
@spiffytech can you share a minimal repo, or at least some basic info about your project? Although you hit the same problem, it might be due to a different reason.

[2022-06-03 06:20] Dibbli opened #22075 "Cypress Migration tool hangs on the loading screen"
### Current behavior

I'm converting a 9.7.0 project over to 10.0.2 and the migration helper tool that comes up just never loads
![migaration_helper](https://user-images.githubusercontent.com/35132242/171797781-5fa58ab8-150a-4130-b078-569113b0493f.png)
.
It is a rather large project (130ish tests) so i gave it 30 minutes, but even then it just keep hanging. Only one error in dev tools
![combineder

[2022-06-03 06:28] PeerWitthoeft opened #22076 "Use certificates from smartcards"
### What would you like?

Hello,

i would like to use certificates provided by an secure smartcard.

### Why is this needed?

Our Applications uses a secure smartcard with stored certifikate for authentifikation. For login, the user has to select his certificate in the browser.
In our test environment this is handled by softcertificates (pfx-files). Due to security this is not allowed in productio

[2022-06-03 06:38] wereHamster opened #22077 "Enable modern ES features in ts-loader"
### What would you like?

I upgraded to Cypress 10 and I have a few spec files written in TypeScript. I used the [numeric separator](https://v8.dev/features/numeric-separators), a semi-recent feature in ES. However Cypress 10 with its default ts-loader configuration didn't understand it and it failed to load the spec file.

This is the diff I had to apply to get my tests working again:

[code]

##

[2022-06-03 06:43] joelgrimberg opened #22078 "cypress 10 lost it's run - all - button"
### Current behavior

Fresh Cypress 10 install into a fresh npm project (only an npm init)  and opening Cypress with example files made me looking for the disappeared run-all button.
And I still haven't found what I am looking for.

### Desired behavior

Give me a run-all - button to run all files 'at once' .

### Test code to reproduce

npm init
npm install cypress --save-dev
npx cypress open
..

[2022-06-03 06:56] LucasMarco2409 commented on #22046
Hi there I removed the options so that I just execute `cypress open` but still the same error. I can not provide the repository.

The Test Runner unexpectedly exited via a exit event with signal SIGILL

Please search Cypress documentation for possible solutions:

https://on.cypress.io

Check if there is a GitHub issue describing this crash:

https://github.com/cypress-io/cypress/issues

Consider o

[2022-06-03 06:58] awallemo commented on #22044
@mschile how can I verify that Chrome is installed in the pipeline? Unfortunately I cannot reproduce the code as it is confidential..

[2022-06-03 06:59] lmiller1990 commented on #22075
Hi! Migration should run basically instantly - all it does is renames, which is pretty quick, even on huge projects.

As part of migration we **do** execute your `pluginsFile`, so it's possible something is happening there. Can you share your pluginsFile (usually `cypress/plugins/index.js`.

If possible, please include your `package.json` too - ideal would be a minimal repo we can clone and debug,

[2022-06-03 07:03] lmiller1990 commented on #22078
Hi! This was removed at part of Cypress 10. If it's really popular, we can definitely consider bringing this feature back.

You can still run all your specs, like this: `yarn cypress run --e2e`. You can show the UI with the `--headed` flag, and if you want it to stay open, you could use `--no-exit`. The full command I like to use it `yarn cypress run --browser chrome --e2e --headed --no-exit`.

Is

[2022-06-03 07:07] lmiller1990 commented on #22077
It looks like TS supports numeric separators just fine, so I was actually expecting this to work just fine. Let me try and reproduce.

[2022-06-03 07:15] lmiller1990 commented on #22077
It seems okay for me in a brand new project using the latest Cypress version and the latest TypeScript version. I created my tsconfig.json using `yarn tsc --init`.

<img width="1442" alt="Screen Shot 2022-06-03 at 5 14 14 pm" src="https://user-images.githubusercontent.com/19196536/171806172-7258b7fd-8489-44e0-9bb7-053a79dd6f5f.png">

Here's my `tsconfig.json`

[code]

What is your `target` set to?

[2022-06-03 07:19] MvRiele commented on #22040
Yes i can see `e2e.js` in the correct folder on our buildserver.
The command used in jenkins to run the tests: `cypress run --config baseUrl=http://test:4200/ --env userName=xxx,passWord=yyy`
The command to run local (which works correctly): `cypress run --config baseUrl=http://test:4200/`

Also when i try the jenkins command locally it works correctly.

cypress.config.js:

[code]

[2022-06-03 07:26] lmiller1990 commented on #22065
Assigning/commenting since I'm following the migration bugs closely, I can help work through this.

[2022-06-03 07:30] Kolombiken commented on #22078
Just migrated to 10.02 and tried the full command above and it only runs the first test and then it stops.
Do I need to organize my tests differently? Right now they are structured according to what the migrator recommended e.g. `cypress/e2e/name of-the-test.cy.js`.

[2022-06-03 07:54] kingofdisasterr opened #22081 "cypress >=10.0.0 crashes if behind company proxy when using the first time"
### Current behavior

after installing cypress 10.0.1 or 10.0.2 i run cypress with `npx cpress open` which starts cypress ui. cypress loads correctly but when i click on `E2E Testing` it crashes after a few seconds.
cypress tries to access the url `https://download.cypress.io/desktop.json` but fails with:

`invalid json response body at https://download.cypress.io/desktop.json reason: Unexpected t

[2022-06-03 07:54] lmiller1990 commented on #22078
@Kolombiken that's weird, I just tried it in a fresh project on 10.0.2 and it's working for me. I'll share the output below.

Can you share a repository reproducing the the behaviour (running only first spec)? If that's too much trouble, can you share:

- previous `cypress.json`
- `cypress.config.js` (or `ts`, whatever the migration created)
- contents of `cypress/e2e`
- anything else that might b

[2022-06-03 07:58] Oumayma-KH commented on #349
Thank you for your response ! It worked for me !

[2022-06-03 08:11] jitenev commented on #21991
Updated the version, but the problem remains

[2022-06-03 08:21] wereHamster commented on #6960
@Hunsu can you share your config?

[2022-06-03 08:27] ignatiusreza opened #22082 "Max out CPU (100%) after upgrade to v10.0.0"
### Current behavior

Cypress open max out CPU usage, from htop, we can identify that 2 commands are running multiple processes, each taking 0-3% of CPU.. Below are screenshot for the `bash -c IFS=$' '; for file in` command, the other one are `git log --max-count=1`..

![bash-c](https://user-images.githubusercontent.com/667726/171815862-a80aa9a7-c595-4b92-88a0-7d16bac0e981.png)

### Desired behavi

[2022-06-03 08:40] wereHamster commented on #22077
I don't have a tsconfig in the root (same folder as cypress.config.ts), I do have a tsconfig (with target:esnext) in the cypress/ folder though. Even if tsconfig to the root it's ignored. I'll investigate further.

[2022-06-03 08:41] Dragod opened #22083 "When opening cypress scrolling acts weird"
### Current behavior

The scrolling behavior of the tests is acting weird. Scrolling to the bottom it goes back to top, also clicking on the arrow ">" to expand/collapse folder does not work poperly.

### Desired behavior

Scrolling shouldn't take me back to top
Expand/collapse arrow on folder should work

### Test code to reproduce
[code]

### Cypress Version

10.0.2

### Other

_No response_

[2022-06-03 08:55] wereHamster commented on #22077
Ok, so using target:esnext does not work, but target:es2016 or even target:es2022 works, regardless where the tsconfig.json file is (root or cypress/ folder). WTF?

[2022-06-03 09:04] Kolombiken commented on #22078
@lmiller1990 Thanks for the feedback! Appreciated!
Felt a little too much to open an issue if it was just something simple like folder structure or similar.
Unfortunately I can not share a repository but I'll create an issue with more detailed info and output.

[2022-06-03 09:28] Kolombiken opened #22085 "Unable to run all the tests with --headed and --no-exit flag"
### Current behavior

Just migrated to Cypress 10.02 and followed the suggested migration recommendations.
When running all my tests with the command `cypress run --e2e --headed --no-exit` only the first test runs. When running headless with `cypress run --e2e` all the tests runs.

I have tried different combos with specifying a browser adding/removing `--no-exit` flag but it doesn't make any diff

[2022-06-03 09:31] laerteneto opened #22086 ""Still waiting to connect to Firefox" issue in Cypress 10.0.2 on Windows"
### Current behavior

The Firefox doesn't load Cypress in both open and headless mode
![image](https://user-images.githubusercontent.com/9399511/171828216-c7ad1cf1-db54-4572-a20f-091f406d3536.png)

### Desired behavior

Cypress must be loaded within the Firefox browser

### Test code to reproduce

In the open mode:
- cypress open
- choose Firefox

Headless:
 cypress run --browser firefox

### Cypr

[2022-06-03 10:31] JoostKersjes opened #22087 "Missing Typescript types for `vueWrapper` after 10.0 migration"
### Current behavior

My project was using component testing before v10.

This is the code I'm using to get the Vue wrapper _with_ type hinting.
[code]
After the migration, my `vue-tsc` command spat out these errors all over the place:
[code]

I removed the `@cypress/vue` dependency from my project as instructed by this part of the Migration Guide: https://docs.cypress.io/guides/references/migrati

[2022-06-03 10:37] alanvoigt opened #22088 "Error when the command npx cypress open is executed"
### Current behavior

I get this
[code]
    -------------

    I already created 3 projects and the error is always the same.

### Desired behavior

No errors!

### Test code to reproduce

I get this
[code]
    -------------

    I already created 3 projects and the error is always the same.

### Cypress Version

10.0.2

### Other

_No response_

[2022-06-03 10:40] luxalpa commented on #22035
@ryanjwilke I mentioned Elementary OS because that's where I tested; I currently cannot test it on other OS. It may also depend on monitor, room brightness, etc.

I made a screenshot here:

![image](https://user-images.githubusercontent.com/4991312/171837443-b28b3c77-8c07-4f7b-beed-c8b58c42ac35.png)

The upper bits with the arrows are the texts that are very hard to read. The arrow at the bottom i

[2022-06-03 10:41] lmiller1990 commented on #22082
These commands are how we get the "git status" which is shown on the app landing page, the relevant [code is here](https://github.com/cypress-io/cypress/blob/develop/packages/data-context/src/sources/GitDataSource.ts) for anyone looking into this.

If you could provide the following, it'd be really useful:

1. `cypress.config` file
2. number of specs perhaps? `ls cypress/e2e | wc -l` or something

[2022-06-03 10:45] lmiller1990 commented on #22083
Definitely sounds like a bug. I'm not seeing this in any of my testing (window/linux/macOS).

Can you share what OS/browser you are using? Also, have you tried another browser, just to isolate the issue?

[2022-06-03 11:04] lmiller1990 commented on #22087
Thanks for the detailed bug report. I've seen this in a fresh project just now, too, and came to the same conclusion. The problem is we are bundling Test Utils with `cypress/vue`, as part of the binary (the thing you get when you do `npm install cypress` which is just a big JS blob - we don't include the types.

I think what we will likely need to do is also generate the types as part of the build

[2022-06-03 11:07] jitenev commented on #22078
return run all. it helps in debugging more complex scenarios

[2022-06-03 11:29] lmiller1990 commented on #22086
Thanks for the bug report, and upgrading to Cypress 10 so quickly. I reproduced this - Firefox is timing out for me, too. We are investigating and will publish a patch when we find the cause and solution.

[2022-06-03 11:37] amartin1984 commented on #22065
Error: ENOENT: no such file or directory, open '/Users/amartin/Cypress/Mosaic/integration_test/cypress/plugins/config/ci.json'

index.js
`const fs = require('fs-extra')
const chalk = require('chalk')
const configHandler = require('./config_handler')
const preAuth = require('./pre_auth')
const getGrades = require('./grades')
const parseXlsx = require('./parse_xlsx')
const setDefaultDownloadDir = re

[2022-06-03 11:40] stacks13 commented on #22086
It's timing out on Cypress 8 and 9 as well.

[2022-06-03 11:43] lmiller1990 commented on #22077
Weird, seems numeric separator should be included in `esnext`: https://github.com/microsoft/TypeScript/search?q=numeric+separator

I am not sure this is actually as bug in Cypress, is it? Seems like something in TS-land - we just grab your `tsconfig.json` and `typescript` installation and hook it all up with `ts-node` - we do not do anything special to the `module`, `target` etc.

[2022-06-03 11:47] lmiller1990 commented on #22077
Okay, I am sure this is a TS thing, not Cypress. Try this:

https://www.typescriptlang.org/play?target=99#code/PTAEHUFMBsGMHsC2lQBd5oBYoCoE8AHSAZVgCcBLA1UABWgEM8BzM+AVwDsATAGiwoBnUENANQAd0gAjQRVSQAUCEmYKsTKGYUAbpGF4OY0BoadYKdJMoL+gzAzIoz3UNEiPOofEVKVqAHSKymAAmkYI7NCuqGqcANag8ABmIjQUXrFOKBJMggBcISGgoAC0oACCbvCwDKgU8JkY7p7ehCTkVDQS2E6gnPCxGcwmZqDSTgzxxWWVoASMFmgYkAAeRJTInN3ymj4d-jSCeNsMq-wuoPaOltigA

[2022-06-03 11:47] #22077 closed

[2022-06-03 11:49] yCaetano7 commented on #22052
Thanks for the response, but i need some explanation. What do you mean by <ProjectName> ? Is it the cypress file in my `.bin` folder or is it the `cypress` folder in this exact path: `C:\Users\User\cypress` ?
Thanks in advance.

[2022-06-03 11:53] lmiller1990 commented on #22078
@jitenev can you check the discussion here: https://github.com/cypress-io/cypress/issues/22085#issue-1259678037

You can still do `npx cypress run --e2e --headed` and run all the specs - this is basically what the "run all" button did. The only difference is now you don't have a button. Would this help with debugging the complex scenarios you mentioned?

[2022-06-03 11:59] robport commented on #22078
The "Run All" button was far superior to the the running this from the command line in the manner suggested.  I was able to open the the runner and just click run all over and over.  It opened a single chrome window and ran everything in there.  Hence, I could see all the resuls and errors.  Now it's just closing the window and opening another window.  That new window is just ignoring where I plac

[2022-06-03 12:02] lmiller1990 commented on #22065
Thanks for the info. Just to confirm my understand, and forgive the obvious question - does `/Users/amartin/Cypress/Mosaic/integration_test/cypress/plugins/config/ci.json` exist prior to and **after** your migration? I just tried migrating a project with a file in `cypress/plugins/config/ci.json` and it worked fine (eg, file was not unexpectedly removed), but it'd be good to clarify that it's not

[2022-06-03 12:10] amartin1984 commented on #22065
there is no plugins/config/ci.json prior.

Before we have 2 index files index.js and index-local.js and yes our configuration is dynamic over about 20ish enviroments.

There has been no migration.  The tool never pops up.

[2022-06-03 12:22] Kolombiken commented on #22085
Ok, cool!
Thank you for looking into this so quickly!

I have cloned the repo and I've been running `cypress run --e2e --headed`.
And to get the details clear. I don't use yarn and I don't have cypress installed globally so I added a script in the package.json to run the command (have a similar setup in my other project). E.g. `"scripts": { "all": "cypress run --e2e --headed" }`.

All the tests do

[2022-06-03 12:29] Simber1 opened #22090 "Unexpected Error when setting up component testing with nuxt"
### Current behavior

Cypress throws an "Unexpected Error"
![image](https://user-images.githubusercontent.com/16944153/171852818-ee8b4da4-d15e-4953-ae90-73ed0ad5a8ff.png)

Stack trace that is mostly hidden in that screenshot:
[code]

and error logged in terminal:

[code]

In our nuxt.config.js inside sentry, config there is `environment: process.env.NODE_ENV.toUpperCase(),`  which would be the cau

[2022-06-03 12:29] lmiller1990 commented on #22065
Interesting, I think the `require` is somehow getting fed the incorrect path. It's trying to require a `cypress/plugins/config/ci.json` which is supposed to be `cypress/config/ci.json`?

It's a little hard to debug more without more code but:

[code]

and

[code]

Seem like the best places to look. I am not too sure but somehow the module is no longer resolved correctly - I'll keep trying to repro

[2022-06-03 12:31] trainoasis commented on #7651
maybe

`cy.contains("loading", {timeout: 0}).should("not.exists") ` ?

[2022-06-03 12:36] lmiller1990 commented on #22077
Hmmm interesting, we do have a default webpack-proprocessor, it's possible that does not know how to deal with numeric separators - good point. That module is here https://github.com/cypress-io/cypress/tree/master/npm/webpack-preprocessor#readme. I guess if you have the right babel-presets, it would be fine - you should be able to add your own `@babel/preset-env`, and if it supports numerical sepa

[2022-06-03 12:40] edvitor13 commented on #22088
This also happened to me, the way I found to solve it, provisionally, was to move all this "invoke" method into the constructor and add it to the "RunPlugins" object: "this.invoke".
[code]
---->
[code]

[2022-06-03 12:41] lmiller1990 commented on #22085
Ok, great. Just to clarify:

1. My repo with `yarn cypress run --e2e --headed` works the same for both of us. This is good 👍
2. `--no-exit` does what it's supposed to do - not exit. It's different to Cypress 9.x, and not really what you'd expect, though. We should fix the DX around this.
3. Run all button was useful, so you can see which spec(s) fail then immediately start fixing them.

Thanks a l

[2022-06-03 12:46] lmiller1990 commented on #22078
Thanks for the feedback! We will take it on board and see what the best solution is. I'll also include feedback from another thread to keep it all in one place, [ref](https://github.com/cypress-io/cypress/issues/22085#issuecomment-1145908243)

As it is now it doesn't help much even if i get all the tests to run via the command `cypress run --e2e --headed. I would still need to go back and manually

[2022-06-03 12:49] #22078 closed

[2022-06-03 12:51] amartin1984 commented on #22065
[config_handler.txt](https://github.com/cypress-io/cypress/files/8832431/config_handler.txt)

[2022-06-03 12:53] Simber1 commented on #22090
Just to confirm, removing the `.toUpperCase()` lets me progress, to another error.

[2022-06-03 12:59] eduardoeberle commented on #22006
Solved.

[2022-06-03 12:59] #22006 closed

[2022-06-03 13:00] maksim-romanov commented on #22071
It's happening for me with Node 18 on MacOs.

i don't have a cypress/index.ts file

[2022-06-03 13:12] lmiller1990 commented on #22086
Oh, I am also seeing the same problem on 9.7.0 as pointed out by @stacks13. I guess this is not a Cypress 10 specific regression? Needs more investigation.

[2022-06-03 13:20] lmiller1990 commented on #22071
@maksim-romanov Hi, thanks for chiming in. Can you provide a minimal repository with the bug? Repo would be ideal - just delete anything that isn't directly related to Cypress. Or if you cannot, your `cypress.config.js`, `cypress/plugins/index.js`, `package.json` etc? That will help with debugging. 🙏

[2022-06-03 13:29] bahmutov opened #22091 "The record key is obstructed in v10"
### Current behavior

Setting up the Dashboard recording using v10.0.2 and cannot select just the key, need to select the entire command using the button and then trim it to use just the key

![Screen Shot 2022-06-03 at 09 26 44](https://user-images.githubusercontent.com/2212006/171863714-c7e37505-b655-44fc-9645-ca8732e6951f.png)

### Desired behavior

Be able to select just the record key

### Te

[2022-06-03 13:32] Kolombiken commented on #22085
**"Unable to run all the tests with --headed and --no-exit flag"** is a better description. 👍

I've managed to run all of my tests with the only the `--headed` flag now. It's very slow and sometimes it takes a minute before a new browser sessions starts. I suspect that might be the issue. Maybe I didn't give it enough time when i tried it last time and just assumed that it has stopped while trying

[2022-06-03 13:33] lmiller1990 commented on #22088
Can you clarify the Node.js version you are using?

[2022-06-03 13:40] spiffytech commented on #22071
Here you go: https://github.com/spiffytech/cypress-22071-repro

[2022-06-03 13:41] DJSdev commented on #17853
Out of curiosity, I saw the note on the v10.0.0 release notes that a memory leak was fixed for e2e tests run using `cypress run`. Can anyone confirm if updating to v10+ resolved this issue? Someone at cypress maybe? @brian-mann

Related pull request: https://github.com/cypress-io/cypress/pull/19915

Release notes: https://docs.cypress.io/guides/references/changelog#10-0-0

[2022-06-03 13:45] Simber1 commented on #22090
It's Nuxt v2.15.8 per the nuxt's package.json

[2022-06-03 13:49] Simber1 opened #22092 "Another "Unexpected Error" in Nuxt config import"
### Current behavior

Same environment and setup as #22090 but with the `.toUpper()` removed to fix that error.

I now run into another error which seems a lot less self-explanatory.

The Cypress error screen is the same as last time, just an error loading nuxt.

Console logged error:
[code]

### Desired behavior

Load and not run into an error

### Test code to reproduce

Same case as #22090, I w

[2022-06-03 14:26] jennifer-shehane commented on #22088
@lmiller1990 Our documentation states that we support Node 12+. https://on.cypress.io/installing-cypress#System-requirements which is what we should be supporting.

Providing any of the projects that we could run to recreate this error would also be helpful.

[2022-06-03 14:30] edvitor13 commented on #22088
My node version is: `v10.15.1`

[2022-06-03 14:31] jannegpriv commented on #22065
I have exactly the same problem, we also use the old `cypress/plugins/index.js` for configuring a separate config folder on the same level as cypress folder, that config folder contains different json-files with config for different test environments.
Folder structure:
[code]

I tried to use your w.o. but I got the same error.

Our old index.js contains:

[code]

and in the project/config folder w

[2022-06-03 14:34] joshwooding opened #22093 "After v10 process is being mocked in the vite-dev-server"
### Current behavior

After upgrading to v10 I started getting the error:

![image](https://user-images.githubusercontent.com/12938082/171873635-787d50e8-046b-41f7-9dd5-3cffb697e9b5.png)

This is because Cypress 10 now mocks process (at least in the vite-dev-server) https://github.com/cypress-io/cypress/blob/9407d07cdbb227be763852c393d7771e953656e0/npm/vite-dev-server/client/initCypressTests.js#L6

[2022-06-03 14:37] jennifer-shehane commented on #22085
I'm running 9.x and 10.0 side by side with `--no-exit` and I'm not understanding what the difference is. There should be no difference in how this flag works. When I run it, it runs the first specfile and runs all of the tests within that one spec file. @Kolombiken Is this not the behavior you're seeing?

We'll need a repo to reproduce this if you are saying only the first test of the first spec f

[2022-06-03 14:38] jimfm commented on #22071
Confirmed that removing the cypress/index.ts file resolved the issue for me.

[2022-06-03 14:41] ZachJW34 commented on #21992
The preprocessor API is only available for e2e tests. Specs related to component testing are processed and served by the configured devServer (webpack or vite). If you need to change the compilation of component specs, you can do so my modifying your webpack or vite config.

What is the your use case for using `file:preprocessor` for component testing?

[2022-06-03 14:44] mschile commented on #22044
@awallemo, thanks for the response. I was incorrect in my initial response as the message for when Chrome is missing is different.

What command are you running in the Azure DevOps pipeline? Does the same command work locally? Do other browsers work? Can you try Firefox and Electron?

Could you run Cypress in [debug mode](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs)

[2022-06-03 14:58] Dragod commented on #22083
https://x.pfcode.net/VujE3/reZuNELU91.gif

[2022-06-03 15:00] Dragod commented on #22083
Didn't try other browser I can try that.

[2022-06-03 15:03] amartin1984 commented on #22065
`const pathToConfigFile = path.resolve(path.join('../..', 'config', `${file}.json`))`

This did it for me!!   Thank you @jannegpriv

[2022-06-03 15:23] nitroplonker commented on #22081
I am having the exact same issue

[2022-06-03 15:26] brian-mann commented on #21909
yes you need to have both e2e + component configured. It should always throw when trying to run them when they are not configured.

...and yes this error message is just completely wrong… the problem isn't that the error needs to be improved, its that we need to ADD the error state for what happens when you try to run a mode that isn’t configured

[2022-06-03 15:26] #21870 closed

[2022-06-03 15:40] flotwig commented on #21991
@jitenev Can you please fork https://github.com/cypress-io/cypress-test-tiny and use it to create a reproducible example which I can  run to see this issue? I haven't been able to reproduce based on the code you shared since it is missing the `cy.visit`.

[2022-06-03 15:40] #22051 closed

[2022-06-03 15:42] flotwig commented on #20524
Hi @Wilson13, I believe this is a duplicate of #18938 (misleading error with no tsconfig.json), can you confirm if your project has a `tsconfig.json` in root?

[2022-06-03 16:08] brianjenkins94 opened #22096 "Initializing Cypress v10 on a "type": "module" project with TypeScript results in an `[ERR_UNKNOWN_FILE_EXTENSION]` error"
### Current behavior

Initializing Cypress v10 on a new Next.js + TypeScript project results in an `[ERR_UNKNOWN_FILE_EXTENSION]` error.

As far as I can tell, this issue doesn't appear to be:

- Specific to the OS
- Specific to the contents of the `package.json` dependencies
- Specific to the contents of the `tsconfig.json` file

I tried changing all 3 but it didn't appear to have an impact, I st

[2022-06-03 16:18] ZachJW34 commented on #22046
I was not able to reproduce this using the latest `cypress/included` docker image and a matching config file. @LucasMarco2409 if you can provide a minimal reproduction then we can dig in further.

@david-schopf if you are having issues on an M1, please create another issue and we can track it there.

[2022-06-03 16:24] flotwig commented on #21877
Hey @rnunezil, sorry about the delay, I had to forward this to the Dashboard team so they could take a look. After looking at your debug logs, it seems like there are a lot of files (like over 5000) in your `cypress/integration` directory that are getting identified as specs, mostly from a `node_modules` dir that seems to be there:

[code]

Sending thousands of spec files seems like it could cause

[2022-06-03 17:11] mschile commented on #22052
The `<ProjectName>` is just a placeholder. The name of the folder can be whatever you want. Typically, users have their test files checked into a repository stored somewhere such as GitHub or GitLab. In that case, you would just clone that repository into a folder and not at the top-level user directory. Otherwise, you can create a new folder and just put all the Cypress related files from your us

[2022-06-03 17:25] ryanjwilke commented on #22035
Great. Thanks for the feedback everyone. It's helpful to have that extra context.

We have discussed for how we could support both a light and dark mode for the "command log" area in the future. That'd probably be ideal as a next step for this space. We've defaulted the design to be making use of a darker palette so that adds some separation between Cypress elements and the application that's bein

[2022-06-03 17:36] kshastri commented on #21728
@jennifer-shehane - I picked this issue. However, could not locate the occurrence of the bug. Is it possible to get more details on the issue?

[2022-06-03 17:40] brianjenkins94 commented on #22071
https://github.com/cypress-io/cypress/issues/22096 also exhibits this error but isn't fixed by the `rm cypress/index.js` solution since that isn't a file that it creates.

[2022-06-03 17:42] amartin1984 commented on #22065
OK so now Cypress runs but it completely skipped the migration helper.   Does this mean I'm going to do everything manually? @lmiller1990

[2022-06-03 18:03] IrfanSyed-PSC commented on #22050
@flotwig  - It does not have tsconfig.json in the directory where cypress lives. Its only there in cypress/support where all the typescripts files are available

[2022-06-03 18:36] IrfanSyed-PSC commented on #22050
This is my configuration

<img width="206" alt="image" src="https://user-images.githubusercontent.com/4980960/171925794-dd39535e-a7e7-4be2-8a0e-ca518f6b3ad9.png">

[2022-06-03 18:45] #21873 closed

[2022-06-03 18:52] rnunezil commented on #21877
Thanks for your reply.  I just went ahead and uninstalled Cypress and did a fresh installation(it now installed to version 10) and now I can upload to dashboard.   All those spec files are the ones that came with Cypress.  I just had one test file I created.

[2022-06-03 18:57] elylucas commented on #22048
Hi @bahmutov, does this doc help with the issue? https://docs.cypress.io/guides/component-testing/component-test-troubleshooting#The-TypeScript-Types-for-cy-mount-is-Not-Working-in-Component-Tests

The generated mount command has the typings for it in the `cypress/support/component.ts` file, however those are not picked up by default for some frameworks when specs are in the `src` folder. The doc

[2022-06-03 19:12] skomorokh commented on #15843
Pointing cypress at the binary directly probably won't be invoking it through flatpak and thus not within the sandbox the user is expecting the browser to run under on their system.

Seems there's a similar problem with snap and that a shell script is refused and it insists on needing the bin:
https://github.com/cypress-io/cypress/issues/3183#issuecomment-546999050

flatpak (and presumably snap) f

[2022-06-03 19:32] mjhenkes commented on #22064
@ZofiaBajerska, are you running cypress from behind a proxy? We're wondering if this issue is a duplicate of #22099

[2022-06-03 19:37] teareed88 commented on #22064
I have tried running cypress 10.0.0 both behind a proxy and without a proxy.  It doesn't matter, Cypress 10.0.0 still opens and closes immediately.
Tom

From: Matt Henkes ***@***.***>
Sent: Friday, June 3, 2022 12:32 PM
To: cypress-io/cypress ***@***.***>
Cc: Reed, Tom E ***@***.***>; Comment ***@***.***>
Subject: Re: [cypress-io/cypress] Browser closes itself just after "npx cypress open" or runn

[2022-06-03 19:46] ZofiaBajerska commented on #22064
@mjhenkes  I am runing it without a proxy. So it's not a duplicate.

[2022-06-03 19:47] mjhenkes commented on #22085
Please leave feedback on the removal of the run all feature over here on the discussion: https://github.com/cypress-io/cypress/discussions/21628

[2022-06-03 19:47] #22085 closed

[2022-06-03 20:11] pedroNmelo commented on #22040
The same thing happens to me but in my local machine even though people from my team sharing the same code got it running
Moved from 9.7.0 to 10.0.2 Running on Windows 10
I already tried deleting local repository and reinstalling both NodeJS and Cypress
Tried setting the file's path in the config file and changing the directory altogether.

Here's our `cypress.config.js`:

[code]

And the `Stack t

[2022-06-03 20:53] ZachJW34 commented on #22096
@brianjenkins94 Thanks for opening the issue, seems like we have a few issues around esm and `"type": "module".

@lmiller1990 has been digging into this, see #22074. It explains the technical problems we are facing with ESM. I think we'll be able to knock out many of these similar issues at once.

[2022-06-03 20:55] ryanjwilke commented on #22043
@ZachJW34  Having a tooltip would probably make sense. Relying only on the icon isn't always intuitive for everyone.

[2022-06-03 21:04] ZachJW34 opened #22102 "Remove autocomplete from inputs in Cypress UI"
### Current behavior

There are a few inputs inside the Cypress App with some not-so-great looking autocompletes. They look like tootlips and aren't aligned properly.

![Screen Shot 2022-06-03 at 3 55 45 PM](https://user-images.githubusercontent.com/25158820/171952204-1795a2d9-8d60-4a72-b509-cd9e643eaab7.png)
![Screen Shot 2022-06-03 at 3 59 07 PM](https://user-images.githubusercontent.com/2515882

[2022-06-03 21:28] lmiller1990 commented on #22065
Not at all @amartin1984 - it should show the migration helper, if you’ve still got a cypress.json file in your repo.

You could try running with DEBUG=cypress* npx cypress open, the terminal should have more logs, which you copy paste here. You definitely do not need to migrate manually, once the pluginsFile runs, it should show the migration screen. What are you seeing?

[2022-06-03 21:30] lmiller1990 commented on #22088
@jennifer-shehane my mistake, thanks.
@edvitor13 can you try updating to Node 12? As @jennifer-shehane clarified, that’s the minimum version Cypress requires to run correctly.

[2022-06-03 21:34] #21877 closed

[2022-06-03 21:34] mrkjdy commented on #21376
I'm having trouble using the `cy.origin()` command and am facing the same error when trying to login to my companies SSO
[code]
The same visit does not hang when used outside of an origin block. Should I open a different issue for this?

[2022-06-03 21:49] ZachJW34 opened #22103 "UI: Cypress error overflows container"
### Current behavior

The base error frame can overflow it's container if the file path is long

https://user-images.githubusercontent.com/25158820/171958419-f0ddae9d-88d8-4db4-b75c-136dc5b1392d.mov

### Desired behavior

The file-path should wrap. Easy fix shown in the video.

### Test code to reproduce

Throw an error and edit the file path directly and observe that it overflows.

### Cypress Ve

[2022-06-03 21:51] #22032 closed

[2022-06-03 21:54] mschile commented on #22040
Thanks for the contents of the configuration file. I don't see anything abnormal in the config file. Can you provide the Cypress [debug logs](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs) as well.

[2022-06-03 21:55] SouroucheB opened #22104 "Running Cypress unit tests erase e2e code coverage reports"
### Current behavior

First, I generate Cypress e2e code coverage html by running `yarn cypress open` with the following configurations :

`cypress.config.ts` :
[code]

Until this point, everything works perfectly. I have the `.nyc_output/out.json` filled with data and a `coverage/lcov-report/index.html` perfectly filled as well.

BUT. When I use cypress to open the component testing window, regar

[2022-06-03 22:02] ZachJW34 commented on #22092
@Simber1 That error is pretty bare (not your fault). If you can ask permission to get a reproduction, or if you could create a minimal reproduction that has this error that would be great. I'm seeing `esm` in the error, do you happen to have `"type": "module" in your `package.json`?

[2022-06-03 22:34] mschile commented on #22072
The `baseUrl` option was removed with https://github.com/cypress-io/cypress/pull/20589. However, it is still listed as a [test configuration](https://docs.cypress.io/guides/references/configuration#Test-Configuration) option in the docs.

Setting the `baseUrl` at the root succeeds:

[code]

However, setting `baseUrl` within `e2e` fails:

[code]
<img width="1361" alt="Screen Shot 2022-06-03 at 4 32

[2022-06-03 23:20] AlexSdet commented on #630
This is ridiculous that I can't store text/value outside of chain.
Please make this possible:
`var text = cy.get('element').text() `
So I can use my text later on everywhere I want.

Also per Cypress documentation, here is one way that works:
[code]
BUT if using alias outside of **beforeEach** it return "undefined" again:
[code]
Why make it so complicated, whats the reason behind all this ?

[2022-06-03 23:24] chbdetta commented on #19139
could we have custom actionability check too?

[2022-06-03 23:37] 1ance3t commented on #22064
same issue

[2022-06-03 23:44] Simber1 commented on #22092
It's not in our main package.json and VS Code search doesn't return anything. I'll ask on Tuesday about what I can and can't post since there are a few secrets in our nuxt.config.js (I know). I'll probably have to redact some of it.

[2022-06-04 03:23] killthebuddh4 commented on #19908
For what it's worth this worked for me with 10.0.2 as well. Thanks @edikdeisling !!

[2022-06-04 04:35] yCaetano7 commented on #22052
Oh, i see. Me and a colleague of mine managed to fix this. Thanks for the replies!

[2022-06-04 09:51] mattvb91 commented on #349
Still no luck even with this.

Interesting tho is ive put a console log before `    if (browser.name === 'chrome') {` and it doesnt even reach that before crashing. So the process is already killed before it gets as far as even loading the config.

[2022-06-04 11:03] ceelian commented on #20478
Did anybody found a workaround so far?

[2022-06-04 12:40] ceelian commented on #20478
Okay I got it working again in the CI by pinning cypress to 9.6.1

The error I got on the Drone CI (it is an Angular/NX project):

[code]

And yes, the file cypress.json exists in that folder.

[2022-06-04 14:23] textbook commented on #22040
I'm seeing the same error:

[code]

In my case I've _explicitly_ set the support file to a different path (`e2e/support/index.js`, which definitely exists):

[code]
This happens on both macOS (my local machine) and Ubuntu 20.04 (GitHub Actions build environment, [example](https://github.com/textbook/starter-kit/runs/6738749433?check_suite_focus=true#step:5:101)) and in Node 14 and 16.

You can see

[2022-06-04 16:00] noelrappin opened #22107 "Cypress generates an invalid config file"
### Current behavior

Brand new download of Cypress 10.0.2 using esbuild, converting an existing Cypress configuration. This setup did work under Cypress 9.x

The old config

[code]

Cypress converts this to

[code]

Then cypress immediately gives me a "Your configFile is invalid: <DIRNAME>north_by_seven/cypress.config.ts"

With this stack trace:

[code]

I don't seem to have a `cypress.config.bun

[2022-06-04 16:41] nadvolod opened #22108 "> Unexpected token '<' error w/ cypress component testing"
### Current behavior

I'm trying to follow the [component testing docs](https://docs.cypress.io/guides/component-testing/testing-react#Selecting-the-Stepper-Component) to get started but facing the error below. This is [the code](https://github.com/nadvolod/js-code/tree/cypress_10/cy-10) .
[code]
[code]

### Desired behavior

I believe that the component should mount just fine without issues.

###

[2022-06-04 19:44] romankhomitskyi commented on #17627
Same cypress  9.5.0
Gitlab runners, docker executor
cypress/browsers:node14.17.0-chrome91-ff89
Video false
VideoUploadOnPasses false
9 cypress instances in one container

[2022-06-04 21:19] Songyu-Wang commented on #21669
@mschile yea, like I mentioned in the original post, this indeed can be solved with network request monitoring. That being said, comparing to the proposed code, which one do you think have better readability and maintainability?

[2022-06-04 22:26] marktnoonan commented on #19086
@oririner-wiz I see your point here, and I like your solution to bake-in the waiting for the 3rd-party stuff to complete. In the mean time, what you have you done to achieve this waiting? Do you have a command called `clickAndAwaitAnimationFrame` or similar, that you use in place of `click`?

I'm not involved in planning work around this, but just curious about the underlying desire (plus I agree,

[2022-06-04 22:29] mschile commented on #22093
@joshwooding, thanks for the detailed bug report. I was able to reproduce the issue using the steps described above. Here is a reproducible project:

Defaulting `window.process` to `{}` was introduced in `@cypress/vite-dev-server` `v2.2.3` with commit https://github.com/cypress-io/cypress/commit/5cdf2eed2f95422bd041281658c17c67e5b26f21. You are probably just seeing it in Cypress v10 because the de

[2022-06-05 03:19] mschile commented on #20897
@alyssa-glean, if possible, could you run Cypress with the debug logs turned on:

`DEBUG=cypress-verbose:proxy:http,cypress:* cypress run`

[2022-06-05 03:59] mschile commented on #22108
@nadvolod, thanks for logging this issue. I checked out your code and since `jsx` is used within the test file, it should be named `Stepper.cy.jsx` not `Stepper.cy.js`. After making this change, the tests should pass.

[2022-06-05 05:17] mschile commented on #22040
@textbook, I believe you are receiving the error because you are not exporting the configuration from `cypress.config.js`. Try changing:
[code]
to
[code]

[2022-06-05 05:34] amoshydra commented on #21434
Testing Cypress@10.0.2.

Facing the same issue: "Cannot read properties of undefined (reading 'REACT_APP_SC_ATTR')"

the variable process is defined. however it is assigned to an empty object `{}`. This behaviour breaks styled-component's logic below, as it tries to access property inside process.env

[code]
https://github.com/styled-components/styled-components/blob/7aa709ffbb826d0b1daa1b7e54b188

[2022-06-05 05:52] madrian13 commented on #22040
@mschile
I have same issue, just installed cypress 10.0.2, 1st install on this window 10 machine and it started with same error

this is my config, created by Cypress

const { defineConfig } = require("cypress");

module.exports = defineConfig({
  e2e: {
    setupNodeEvents(on, config) {
      // implement node event listeners here
    },
  },
});

[2022-06-05 07:35] lugosium commented on #21511
It's fixed for me with the v10 as my flaky tests now also fail with open like run ✅
I was able to fix them, thank you.

[2022-06-05 08:25] textbook commented on #22040
@mschile oops yes that was it exactly, thank you!

[2022-06-05 09:42] Swaana opened #22110 "Cypress >= 10 GUI crashes on Windows as non-admin user when registry editing is disabled"
### Current behavior

When opening the GUI for Cypress and then clicking on type of test (either e2e or component, doesn't matter which), it displays "Initializing Config... Please what while we load your project and find browsers installed on your system" and shortly after crashes with the console error below:

Error: Error while obtaining machine id: Error: Command failed: %windir%\System32\REG.

[2022-06-05 13:51] far11ven opened #22111 "Jenkins build giving error in Cypress postInstall"
### Current behavior

I'm trying to run my Cypress project on Jenkins, but It keeps failing in Cypress postInstall step:

[code]

### Debug logs
[code]

### Cypress Version

10.0.2

### Package Manager

npm

### Operating system

Windows

### Other

_No response_

[2022-06-05 15:26] david-schopf commented on #22046
@ZachJW34 it works with 10.0.2, so fine for me.

Thank you!

[2022-06-05 19:27] mlberkow opened #22113 "Cypress 10.0.2 is bypassing resize observer loop error handler"
### Current behavior

This error is showing up on tests that are set to ignore the error.

[code]

This was working correctly prior to the Cypress 10 upgrade.

### Desired behavior

Optimally the error would just be ignored

### Test code to reproduce

[code]

### Cypress Version

10.0.2

### Other

_No response_

[2022-06-05 19:38] Zwimber commented on #9358
The solution of @cie works nicely in the latest version `10.0.2`. Found [here](https://gist.github.com/simenbrekken/3d2248f9e50c1143bf9dbe02e67f5399)

It's also really easy to modify to your specific needs, simple example:

[code]

[2022-06-05 20:02] nadvolod commented on #22108
@mschile beautiful! Thank you

[2022-06-05 20:02] #22108 closed

[2022-06-05 22:12] charnism opened #22115 "Unable to login to the application, using Authorization services"
### Current behavior

Microsoft Azure portal. We are using Authorization services ( select the headers tab-> right click and copy the authorization header)to login into the application.
Having a huge issue login in using Cypress.

[code]

And I'm receiving a popup screen Sign in (don't appear if you log in manually), type email address, press next - > This page isn't working.
Contacted the Microso

[2022-06-05 22:46] mschile commented on #22040
@pedroNmelo, are you to compare your setup to your teams to figure out what is different? Do you have a project I could look at?

@madrian13, do you have a project I could look at? Can you provide the Cypress [debug logs](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs) as well.

[2022-06-06 01:08] mschile commented on #22111
@far11ven, what version of node are you using? Cypress supports Node v12 and above.

https://docs.cypress.io/guides/getting-started/installing-cypress#Node-js

[2022-06-06 01:12] lmiller1990 commented on #22071
If your pluginsFile is `index.js` it will resolve using CommonJS (`require`). If you rename it to `index.ts`, it will then use TypeScript and `ts-node`, which understands ESM (`import`). So I'd just recommend that. Since your project is using TypeScript, it seems good to have everything using TypeScript (even your config!).

As an aside, now that `cypress.config` is a module, you might not need a

[2022-06-06 01:12] #22071 closed

[2022-06-06 01:18] lmiller1990 commented on #22083
Thanks for the reproduction, this is really useful. It looks like the mouse click is double-firing - I wonder if the click *and* the accessibility features (navigate w/o mouse) are somehow both triggering. Hopefully this idea will help as we debug it.

As for the scrolling issue, I don't have any immediate suspicions. We will investigate!

[2022-06-06 01:27] lmiller1990 commented on #22107
Hi! I think this is related: https://github.com/cypress-io/cypress/issues/22074

I have no idea why it's complaining about `tty`.

Can you include your `package.json`? Is it using `"type": "module"` (assuming yes?)

[2022-06-06 01:34] lmiller1990 commented on #22110
Hi! Thanks for the bug report.

Just to clarify: did you only encounter this bug in Cypress 10.0.1, or are you also able to reproduce it in Cypress 9? Know when it was introduced will greatly help us track down and solve the issue.

[2022-06-06 01:37] lmiller1990 commented on #22111
Another thing that may be relevant once you solve the `...` issue - the Cypress Cucumber plugin is still in the process of upgrading to support Cypress 10. You can follow the progress here: https://github.com/badeball/cypress-cucumber-preprocessor/issues/722.

If this is a big part of your workflow, you might need to wait until it's updated to work with Cypress 10.

[2022-06-06 01:39] lmiller1990 commented on #22113
Hi! Thanks for the bug report. Can you provide your OS/Browser? Does it happen in all of them?

If you could provide a minimal repository, that would be really helpful in debugging.

If it helps, we also have a similar snippet for some of our component tests: https://github.com/cypress-io/cypress/blob/a8ed29ecbbf7ca29466dc48dd0d91903e1851e5e/packages/app/cypress/component/support/index.ts#L52

[2022-06-06 01:54] moontemplar212 commented on #3829
Cypress 9.4.1 line 189278 ( C:\Users\<USER>\AppData\Local\Cypress\Cache\9.4.1\Cypress\resources\app\packages\runner\dist\cypress_runner.js ) => isOpen: false where headerClass: "hook-header",

[2022-06-06 02:18] mschile commented on #22115
@charnism, thanks for logging this issue. Unfortunately, Microsoft login doesn't currently work due to frame busting. We have https://github.com/cypress-io/cypress/issues/21476 logged to investigate and address this issue.

I'm going to close this issue as a duplicate but please follow along on https://github.com/cypress-io/cypress/issues/21476 for any further updates.

[2022-06-06 02:18] #22115 closed

[2022-06-06 02:46] mlberkow commented on #22113
So far, I've only tested it with Electron.  I'll give it a shot with the other browsers tomorrow.

[2022-06-06 05:47] roshan04 commented on #22086
@lmiller1990 I am facing the same issue with firefox 101 on cypress 9.5.1. The browser is getting launched but still showing the error: **Waiting to connect to firefox**. Attaching the screenshots. Can you help here.
<img width="1234" alt="Screenshot 2022-06-03 at 4 06 40 PM" src="https://user-images.githubusercontent.com/47280057/172102173-8720bfdc-3869-41a9-8f95-1e666e520456.png">
<img width="12

[2022-06-06 06:18] saudkhanbpk commented on #3081
my ubuntu show me that error can anyone help please:
npm ERR! code 1
npm ERR! path /media/mustafa/C8180BD5180BC184/Books and tutorials/Projects/ImmoBelgium/node_modules/cypress
npm ERR! command failed
npm ERR! command sh -c node index.js --exec install
npm ERR! Cypress cannot write to the cache directory due to file permissions
npm ERR!
npm ERR! See discussion and possible solutions at
npm ERR! ht

[2022-06-06 06:32] lmiller1990 commented on #22074
I did a lot of digging to explore solutions that will make Cypress as "batteries included" and "no config" as possible. Here's the current state of things, and my recommendations.

## Problem

When we load the user's `cypress.config`, we do so in a child process. The child process is `require_async_child.js`, found [here](https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/plugi

[2022-06-06 06:33] lmiller1990 commented on #21939
This will come for the ride with https://github.com/cypress-io/cypress/issues/22074 most likely! The core problem is the same: need better es module support.

[2022-06-06 07:09] lmiller1990 commented on #21939
WIP PR: https://github.com/cypress-io/cypress/pull/22118.

[2022-06-06 07:10] lmiller1990 commented on #22096
I got your project to work locally with https://github.com/cypress-io/cypress/pull/22118/files and changing `next.config.js` to use ES syntax.

Once https://github.com/cypress-io/cypress/pull/22118/files lands, we should be good. I'm working on getting it green now.

[2022-06-06 07:50] oririner-wiz commented on #19086
Hey @marktnoonan thanks for looking into this 🙏

I indeed created a new command, it's called `pick` (because "luckily" it happens only on dropdown menus in my case).

I actually disagree about creating a custom command, cypress has many commands and adding to it more custom commands creates a very large api surface on the `cy` namespace. When one writes a test it becomes really hard to know what a

[2022-06-06 08:36] Swaana commented on #22110
We have been running Cypress 9 for months now on our machines, so it is definitely something introduced in Cypress 10.

I think I have found the issue. The error occurs in `packages/data-context/src/sources/VersionsDataSource.ts`:
[code]

The code seems to intend to account for a failure, but because it returns the entire Promise it will not catch the promise.reject but only failure in the functio

[2022-06-06 08:48] estefafdez commented on #21602
Yes please, we will love to have a solution or at least a workaround with this one. Maybe a plugin?

Thanks for your hard work on cypress and congrats on the new version!

[2022-06-06 08:49] diogosantana2011 commented on #22040
Hi Team,

Seems I am encountering same issue with Jenkins failing to recognize the support file, although locally the spec I am running passes without any failures.

My config file is as per below:

cypress.config.js located in cypress/support/e2e.js

[code]

When running my test locally via CLI with correct parameters, it passes however, when doing so on Jenkins VM which is running on Windows, be

[2022-06-06 09:42] willoliveira-air commented on #8418
I started to see the same issue after upgrading to version 10.2.
Even using the workaround from @jennifer-shehane [jennifer-shehane](https://github.com/jennifer-shehane)

[code]

Any ideas? Thanks

[2022-06-06 10:42] Swaana commented on #22110
I have added a PR with the proposed fix. In this PR one of the existing unit tests is modified to account for the promise.reject. With this change I was able to see the unit test fail before the change and succeed after the change.

[2022-06-06 11:01] lmiller1990 commented on #22086
Thanks for sharing - I reproduced and can clarify it's windows + Firefox only.

I am unsure why this is occurring, and if it's two different, unrelated regressions or the same. We will investigate.

[2022-06-06 11:16] #21798 closed

[2022-06-06 11:21] mncharlton opened #22121 "Spec filter in open mode looks for all letters in order, ignoring letters in between"
### Current behavior

When filtering specs in the test runner it appears to search for the letters in order and not for complete words.

For example if I have two specs:

`library/sortingAndFiltering.ts`
`signupAndLogin/login.ts`

searching for `login` will return both of them because the letters L O G I N appear in that order in both strings.

Real example:
![image](https://user-images.githubuser

[2022-06-06 11:31] KiriRea opened #22122 "Error occurs when referencing the upper hierarchy with specPattern"
### Current behavior

I execute test specs in the hierarchy above the folder specified by "--project".
By updating Cypress v10, integrationFolder option was removed and replaced with specPattern option.
When I replace integrationFolder option with specPattern option and execute test specs, below error is happened.

[code]
![error-message](https://user-images.githubusercontent.com/106964165/1721486

[2022-06-06 11:47] fanksin commented on #22086
Check if you get any error on 127.0.0.1

If you use any kind of local development environment software like xampp or mamp, etc, be sure they are properly closed. If not, start your local server and stop it after everything works properly.

Besides you can run the command **pnpx kill port 51827** which kills the port I came across that was being used by cypress to run Firefox on 127.0.0.1:51827

[2022-06-06 12:01] amartin1984 commented on #22065
I get this screen
![cypress](https://user-images.githubusercontent.com/19328404/172156124-261e73d6-f0ab-427f-b163-1dd6df07f438.jpg)
[Log.txt](https://github.com/cypress-io/cypress/files/8844238/Log.txt)
Debug Log attached

[2022-06-06 12:06] Ahmar8228 commented on #22064
I am also having same issue with Cypress 10.0.2

[2022-06-06 12:15] zwingliernst commented on #7651
Thank you for the hint. Yes, indeed. I fixed it in my post.

[2022-06-06 12:18] marktnoonan commented on #22010
Status update: after meeting to review this, I could see that, for this project on Jonathon's computer, the issue was present in 10.0.0 but resolved in 10.0.1. I've done some experimenting on Windows with 10.0.0 and not yet been able to reproduce the bug in any situation on our Windows VM with the same project.

[2022-06-06 12:20] marktnoonan commented on #22016
Just duplicating [this comment](https://github.com/cypress-io/cypress/issues/22010#issuecomment-1147386416) on a closely related issue for clarity:

[2022-06-06 12:56] Ahmar8228 opened #22123 "Cypress 10.0.2 closes itself after 2-3 seconds with errno 2147483651"
### Current behavior

On running command `npx cypress open`
Cypress runner opens up for 2-3 seconds and then closes itself with following console output

OS: Windows 10 X64
Node.js: 12.13.0
npm: 6.12.0

**console output:**
[code]
### Desired behavior

Runner should not close on its own.

### Test code to reproduce

install cypress 10.0.2
run cypress with command `npx cypress run`

### Cypress Vers

[2022-06-06 14:16] mkashiftcp commented on #22123
I'm facing the same issue on Node version 16.15.0

[2022-06-06 14:26] flotwig commented on #21641
@the-einstein we are beginning to implement a policy to close non-reproducible issues within 7 days of inactivity. Unfortunately, if we cannot reproduce an issue there isn't a whole lot that we can do, and in an effort to keep our issue backlog manageable we will be closing the issue.

[2022-06-06 14:26] #21641 closed

[2022-06-06 14:28] flotwig commented on #22050
@IrfanSyed-PSC this is indeed a duplicate of #18938 then, since you don't have a root tsconfig. Create a valid tsconfig.json at the root of your project and this should go away.

Closing as duplicate.

[2022-06-06 14:28] #22050 closed

[2022-06-06 14:34] jordanpowell88 opened #22125 "Create a Tech Brief for Angular CT Support"
### What would you like?

We need to create an official tech brief for adding Angular Component Testing support

### Why is this needed?

The Angular Community is asking for it.

### Other

_No response_

[2022-06-06 15:06] #22121 closed

[2022-06-06 15:17] mjhenkes opened #22126 "Remove `Cypress.server` and `cy.route` from the api"
Doc issues that need to be completed at the same time:
[#4495](https://github.com/cypress-io/cypress-documentation/issues/4495)
[#4494](https://github.com/cypress-io/cypress-documentation/issues/4494)

[2022-06-06 15:32] mschile commented on #22040
@diogosantana2011, thanks for the additional report. Since your Jenkins VM is on Windows, I would expect the path separator to be `\` as displayed in the message. I've also been able to successfully load the support file locally on Windows and Mac.

The support file is retrieved [here](https://github.com/cypress-io/cypress/blob/e6b2466f7b219a86da46c1ac720432ef75193ca4/packages/server/lib/config.ts

[2022-06-06 15:42] far11ven commented on #22111
@mschile You are right my node version was automatically picked in the Jenkins pipeline which was v6.x.x, Thanks for pointing out!!

[2022-06-06 15:42] #22111 closed

[2022-06-06 15:49] Lakitna opened #22127 "Allow plugin authors to extend the Cypress config types"
### What would you like?

The ability for extension authors to extend the types used in the `defineConfig` function when configuring Cypress via `cypress.config.ts` (or, to a lesser extent, `cypress.config.js`).

### Why is this needed?

I am the author of `cypress-commands` which adds a few new commands and extends some others.

One of the extended commands also adds a new property to the config

[2022-06-06 16:01] Jack-Soderstrom commented on #7306
Is there any update on when this feature is going to be worked on or implemented? Anywhere we can see progress? Or will they post progress in this chat? Thanks

[2022-06-06 16:16] #21921 closed

[2022-06-06 16:29] danfooks commented on #8418
I am having the same issue after upgrading to `10.0.2` as well @willoliveira-air @jennifer-shehane . Below is my configuration:
[code]

While the `cy.log` and `console.log` statements are working as expected, it seems that Cypress can no longer ignore exceptions.

[2022-06-06 16:35] #22110 closed

[2022-06-06 16:40] danfooks opened #22129 "`Cypress.on('uncaught:exception')` No Longer Preventing Tests From Failing after Upgrade to `10.0.2`"
### Current behavior

Cypress is not ignoring the following error:
![uncaughtexception](https://user-images.githubusercontent.com/46224768/172205437-2a8ae863-cae0-4689-ac2d-de39114679dd.png)

My `cypress/support/e2e.js` file is configured so that Cypress should return `false` on an `uncaught:exception` in order to prevent the test from failing. This is no longer working as expected after upgrading

[2022-06-06 16:42] danfooks commented on #8418
I also created a fresh bug ticket to shed some light on the issue, as this bug pertains to a newer version of Cypress:
https://github.com/cypress-io/cypress/issues/22129

[2022-06-06 16:50] sync-by-unito[bot] opened #22130 "If there is a bad import in a component test that's open in the Runner, no user facing error shows but there are JS runtime errors, until a page refresh takes place."
## **Current Behavior**
Noticed if I break an import in a component test while the spec is broken, we get to a bad state but with no user-facing error. Loom video: [https://www.loom.com/share/cd97d6049d474e78a42154dd81e0db54](https://www.loom.com/share/cd97d6049d474e78a42154dd81e0db54|smart-link)

Refreshing the page fixes it - or at least, the reporter shows the nature of the problem and there ar

[2022-06-06 16:50] sync-by-unito[bot] opened #22131 "Webpack Compile Error after = Component Setup (vue + webpack) & Running generated spec"
## **Desired Behavior**
CT setup should not error.

## **Reproducible Steps**
1. start cypress
1. selected packags/driver
1. run ct setup using default options (vue + webpack)
1. click create first spec
1. click run spec after it generates
1. see error

!Screen Shot 2022-05-17 at 11.50.36 AM.png|width=1677,height=1010!

┆Issue is synchronized with this [Jira Bug](https://cypress-io.atlassian.net/b

[2022-06-06 16:50] sync-by-unito[bot] opened #22132 "When exiting Cypress process from terminal, shows 'cypress quit unexpectedly' modal"
## **Current Behavior**
For some people, sometimes when quitting Cypress via the terminal, the modal displays saying that Cypress quit unexpectedly. It’s very annoying.

!Screen Shot 2022-05-13 at 11.29.34 AM.png|width=262,height=318!

## **Desired Behavior**
* Cypress should exit and not show this error.

## **Reproducible Steps**
1. Happens when running the binary and during development. It may

[2022-06-06 16:50] sync-by-unito[bot] opened #22133 "Types showing as incorrect with 'require'"
With a project with the default tsconfig.json from here: [https://docs.cypress.io/guides/tooling/typescript-support#Install-TypeScript](https://docs.cypress.io/guides/tooling/typescript-support#Install-TypeScript|smart-link) I get a typescript error in the generated `cypress.config.ts` file

`Cannot find name 'require'. Do you need to install type definitions for node? Try `npm i --save-dev @types

[2022-06-06 16:50] sync-by-unito[bot] opened #22134 "For TypeScript projects, add config paths during setup so no type errors"
## **Summary**
we need to make sure that for TS projects, we add any configuration paths during setup so the user doesn’t experience type errors out of the box

[https://www.loom.com/share/1386e438240942e692ce192a3565ee4b?sharedAppSource=personal_library](https://www.loom.com/share/1386e438240942e692ce192a3565ee4b?sharedAppSource=personal_library|smart-link)

## **Acceptance Criteria**
* Should…
*

[2022-06-06 16:50] sync-by-unito[bot] opened #22135 "TypeScript config improvements for CT"
## **Summary**
I want an audit that looks at what Vitest does for their types and what the Vite + Cypress starter hacks are to get it currently working

## **Acceptance Criteria**
* Should…
* Should also…

### **Resources**
Any Notion documents, Google documents, Figma Boards

[https://cypressio.slack.com/archives/C039JEKF9M0/p1650564162079889](https://cypressio.slack.com/archives/C039JEKF9M0/p165

[2022-06-06 16:51] sync-by-unito[bot] opened #22136 "Add padding bottom to config error page in Launchpad"
## **Summary**
Needs padding bottom so that there is room to breath with the scroll.

<img width="1347" alt="Screen Shot 2022-05-06 at 2 22 55 PM" src="https://user-images.githubusercontent.com/1271364/172224275-9180ec1f-2eb3-4d78-82dd-09ae1523fbe2.png">

┆Issue is synchronized with this [Jira Task](https://cypress-io.atlassian.net/browse/UNIFY-1731) by [Unito](https://www.unito.io)
┆Attachments:

[2022-06-06 16:51] sync-by-unito[bot] opened #22137 "While typing in inline search specs, focus is pulled from the running spec."
## **Current Behavior**
Noticed some focus pulling issues as well as spec file searching that seemed off. I noticed if trying to type into the `Search Spec` input it tries to pull focus from the AUT and element focus seems to bounce back and forth?

![Uploading search-spec-pulls-focus.gif…]()

## **Desired Behavior**
We’ve discussed strategies for fixing this before, one suggestion was to have a d

[2022-06-06 16:51] sync-by-unito[bot] opened #22138 "cypress/{vue,react} type definitions broken - depend on unbundled deps"
## **Summary**
`cypress/vue` is bundled with the CLI but the types are not correct, since they depend on `@vue/test-utils` (for vue) and `@cypress/mount-utils` (react and vue).

See line 3-4 line of `cypress/vue/dist/...`

[code]

I don’t know how we can force typescript and rollup to inline these types, but we need to, or otherwise the user won’t get the right types unless they think to install t

[2022-06-06 16:51] sync-by-unito[bot] opened #22139 "Surface CT dependency requirements to the user after project setup."
## **Summary**
Please also investigate using `optionalPeerDependency` as a way to communicate necessary Cypress dependencies to users.

When a user sets up a new project with CT, we surface the dependencies required for the user to install to get CT working properly. Once they are finished with setup, they never see these requirements again. If the user deletes some of the required packages, or in

[2022-06-06 16:51] sync-by-unito[bot] opened #22140 "Add "Other / Custom" option for Framework selector"
## **Summary**
When setting up component testing, we provide a large number of presets. However, we obviously don’t support all frontend frameworks, which means that the community or individual projects can step in to fill that gap.

Both vite-dev-server and webpack-dev-server already support ‘other/custom’ simply by omitting the `framework` property. We should have an option in the dropdown which

[2022-06-06 16:51] sync-by-unito[bot] opened #22141 "Notify alpha CT users that they can uninstall some deps that were previously required"
## **Current Behavior**
Now that we've reduced the number of dependencies we ask the user to install for CT, I think we should add a note for previous CT users telling them they can uninstall any previously required dependencies that don't show in this list.

For example, the `react-next12-ts` project now has `["@cypress/react", "@cypress/webpack-dev-server", "html-webpack-plugin", "webpack-dev-se

[2022-06-06 16:51] sync-by-unito[bot] opened #22142 "E2E tests: project list is sorted by most recently opened"
## **Summary**
The list of projects is sorted by most-recently opened.

The code for this test is commented out `global-mode.cy.ts` → `it('updates most-recently opened project list when returning from next step'`

## 【 highlighted #ff5630 】This ticket is blocked because the functionality is not completed【 end highlighted 】

┆Issue is synchronized with this [Jira Task](https://cypress-io.atlassian.

[2022-06-06 16:51] sync-by-unito[bot] opened #22143 "Prevent failures in new Vite versions by integrating into Vite Ecosystem CI pipeline"
## **Summary**
The Vite team has an ecosystem workflow where they'll run their pre-release versions against a project/workflow of our choosing. If there are any failures, they investigate, triage, and fix the regression if necessary. We've been asked to integrate into their framework before, but haven't had the time.

To pick this up, join the Vite Discord and go to the contributing channel and re

[2022-06-06 16:51] sync-by-unito[bot] opened #22144 "Improve Create from Component default filters"
## **Summary**
Create From Component currently shows all available js files, including those that don't particularly make sense, such as:

* Those in the `cypress/` directory, such as the support file.
* Those with the .cy.jsx extension, which represent existing tests
* Those that don't intuitively can never contain a component at all, such as *.config.js.

Some of those are easier than others to

[2022-06-06 16:51] sync-by-unito[bot] opened #22145 "Add "Custom" framework/bundler for skipping detection and dependency installation and proceeding with scaffolding"
## **Summary**
When a user navigates to the Project Setup screen, there is no ability to skip the Front-end Framework or Dev Server selection – some users may have custom setups and there is no way to avoid this screen, even though we **do** support custom dev servers and the mount package isn’t actually required.

!image-20220322-211310.png|width=1964,height=1248!

We need some sort of a “None of

[2022-06-06 16:58] Shw07 commented on #2667
I am also facing same issue. Cypress window is blinking for a sec then closed

[2022-06-06 17:04] marktnoonan commented on #21911
This project-name link in the Launchpad header currently only ever takes the user back to the "Testing Type" picker. The only valid place to from which to go back to that part of the launchpad is when you are at the "Choose a Browser" stage. The link should never be clickable if:

- the user is setting up a testing type -> these are one-way setups that require you to stay in the testing type you'v

[2022-06-06 17:09] #22046 closed

[2022-06-06 17:12] mjhenkes commented on #22093
Closing as a duplicate of #21434

[2022-06-06 17:58] AtofStryker commented on #21572
Once #20685 is resolved we should revisit this to see if the issue is resolved

[2022-06-06 18:18] jennifer-shehane commented on #22091
We should just make this an input so that the area is scrollable and you can copy any portion of the command you want.

[2022-06-06 18:25] #22010 closed, assigned to nobody

[2022-06-06 18:25] #22016 closed

[2022-06-06 18:27] mjhenkes commented on #21876
Closing as duplicate (https://github.com/cypress-io/cypress/issues/1925)

[2022-06-06 18:27] #21876 closed

[2022-06-06 18:33] conversaShawn commented on #21168
@cmaloney7 @coltdorsey Are you still experiencing this issue?

[2022-06-06 18:51] tgriesser commented on #22082
The root cause of this should be mostly mitigated by https://github.com/cypress-io/cypress/pull/22067, the excessive file watching was causing the command to run `loadBulkGitInfo` too frequently.

We should also add a guard here to ensure it's only being called once, if any files that are being watched are being changed frequently, we don't want it spawning excessive processes.

[2022-06-06 19:00] jenishgandhi7 opened #22146 "modifyObstructiveCode getting error in cypress v10 for cypress.config.ts"
### Current behavior

modifyObstructiveCode getting error in cypress v10 for cypress.config.ts

### Desired behavior

_No response_

### Test code to reproduce

![image](https://user-images.githubusercontent.com/8191015/172228652-8ce80a02-2870-46f8-bb74-268455fcb50f.png)

### Cypress Version

10.0.2

### Other

_No response_

[2022-06-06 19:27] 1ance3t commented on #22064
Works for me (Windows 11):

- you need to open a "terminal" with administrator privileges
- go to your project folder
- npx cypress open

[2022-06-06 19:39] rockhold commented on #21266
@fairbuj, with the release of v10.0.0, this file is now considered [legacy configuration](https://docs.cypress.io/guides/references/legacy-configuration) and we are unlikely to prioritize fixing this issue. If you're still seeing an issue with auto reloading on v10 or greater, however, please let us know by logging a new issue. Thanks!

[2022-06-06 19:39] #21266 closed

[2022-06-06 19:39] ZofiaBajerska commented on #22064
@1ance3t
it's not that, if that will be an issue I will not be able to install version 9.7.0
with the same  command
In terminal i am executing:

npm init
npm install cypress@9.7.0 --save-dev
npx cypress open

[2022-06-06 19:47] rockhold commented on #21271
I tested this out in v10.0.2 and realized we don't yet have support for this environment variable in v10+. Here is a related issue for implementing that support: #21721

We should ensure that the spacing issue called out here is taken care of as part of that work.

[2022-06-06 19:48] rockhold commented on #21721
When adding this support, we need to ensure the command log doesn't take up space in the UI as reported as a previous regression in #21271

[2022-06-06 19:54] rockhold commented on #21275
@Darksymphony75, with our recent release of v10.0.0 (and subsequent patches), we have several issues in our backlog which may no longer be relevant. To assist with the volume of issues we're combing through (new, as well as historic), could you try to reproduce this on v10+ to see if it's still an issue? Thanks!

[2022-06-06 20:12] mschile commented on #21669
@Songyu-Wang, I would always suggest using a 'signal' that is deterministic over one that is not. We do have a [Conditional Testing](https://docs.cypress.io/guides/core-concepts/conditional-testing#What-you-ll-learn) guide that touches on some of these topics.

After discussion with the team, adding this feature is not something we see as within our scope of feature work, so we will be closing thi

[2022-06-06 20:12] #21669 closed

[2022-06-06 20:13] AtofStryker commented on #22122
possibly related to #8599

[2022-06-06 20:20] br-kwon opened #22147 "nohoist config is ignored"
### Current behavior

when installing the cypress package via yarn, i get a warning saying the nohoist config is ignored

### Debug logs

warning nohoist config is ignored in "cypress" because it is not a private package. If you think nohoist should be allowed in public packages, please submit an issue for your use case.

### Cypress Version

10.0.3

### Package Manager

yarn

### Operating system

[2022-06-06 20:23] ZachJW34 commented on #22127
I tried to extend the return type of `defineConfig` ([ConfigOptions](https://github.com/cypress-io/cypress/blob/91ba9c70d57f38804888918a0d79ed6ebe5decc0/cli/types/cypress.d.ts#L3060)) and was unable to do so. We define it as `type ConfigOptions`, but if it was declared as an `interface` you should be able to export ` .d.ts` file that would merge the interfaces like so:
[code]

As a workaround, you

[2022-06-06 20:38] shahbazqa opened #22148 "Cypress 10 keeps logging me out of my company network VPN"
### Current behavior

Hi,

I just recently upgraded to Cypress Version 10, and am noticing every time I run 1 or 2 tests, my internet and VPN disconnects. There seems to be some new proxy that Cypress 10 is creating which is making my VPN disconnect and then i have to restart the whole computer then it works again. But in this my tests are unable to run and I am at a road block. Is Cypress 10 crea

[2022-06-06 20:41] teareed88 commented on #22064
I have just now installed Cypress 10.0.3 in a terminal window with Admin privileges and I am still unable to get Cypress to open and not immediately close.

[2022-06-06 20:49] ZofiaBajerska commented on #22064
@teareed88 try to install an older version, for me, 9.7.0 worked - I mean it opened and doesn't close immediately.
npm init
npm install cypress@9.7.0 --save-dev
npx cypress open

[2022-06-06 20:51] teareed88 commented on #22064
Yes, I can successfully open Cypress 9.7.0 and it does not close immediately.  Its just the new Cypress version 10 that is not working.

[2022-06-06 21:22] Jcsanga commented on #22075
I am running into the same issue. In my terminal it states

[code]

[2022-06-06 21:28] #21909 closed

[2022-06-06 21:31] teareed88 commented on #22123
I'm facing the same issue on Node version 16.15.1

[2022-06-06 21:51] neuronetio opened #22150 "Failed to open a new tab [10.0.2]"
### Current behavior

When I run headed chrome test `./node_modules/.bin/cypress run --config video=false --browser chrome --headed
` I got following error:
[code]

### Desired behavior

open each test file in separate window (not tab) because after each test browser window is closed and doesn't exists anymore

### Test code to reproduce

any code

### Cypress Version

10.0.2

### Other

_No respo

[2022-06-06 22:01] neuronetio opened #22151 "Failed to open a new tab [10.0.2]"
### Current behavior

When I run headed chrome test `./node_modules/.bin/cypress run --config video=false --browser chrome --headed
` I got following error:
[code]

### Desired behavior

open each test file in separate window (not tab) because after each test browser window is closed and doesn't exists anymore

### Test code to reproduce

any code

### Cypress Version

10.0.2

### Other

_No respo

[2022-06-06 22:04] mirobo opened #22152 "Cypress 10 UI less convenient than Cypress 9.x (many more clicks required to do the same thing)"
### What would you like?

First of all - thanks for providing Cypress :)

I just wanted to give my feedback on the new UI (besides it crashing on Win 10 without any errors shown.. need to create an issue for this).

In Cypress < 10 I could start Cypress in global mode and switch from one project to another very quickly and start a test very quickly:
- npx cypress open --global
- 1 click on project

[2022-06-06 22:05] #22151 closed

[2022-06-06 22:37] #22043 closed

[2022-06-06 22:43] alexkrolick opened #22153 "Test replay inspector remounts web components"
### Current behavior

When using the interactive test runner UI, if you hover over the chained cypress commands in the left panel, Cypress attempts to restore the DOM state at the given time.

With webcomponents/custom elements, restoring the DOM state causes a new instance of the component to be created each time, which retriggers side-effects such as initial network calls, leading to extremely h

[2022-06-06 22:56] IrfanSyed-PSC commented on #22050
After doing the change, I see the following error. I am guessing it is because of this issue https://github.com/cypress-io/cypress-docker-images/issues/673. Please let me know if its not

![image](https://user-images.githubusercontent.com/4980960/172262456-85cf4184-cc6b-4b82-98b0-37f9bea72f65.png)

[2022-06-06 23:12] ZachJW34 commented on #22129
@danfooks I'm not able to reproduce this issue on Cypress v10.0.2. Is this error specific to `ResizeObserver`? Have you checked out the issue @mjhenkes linked to see if it is an issue with how you are matching the resize observer error text?

If it is a more general issue and you `Cypress.on('uncaught:exception', (err) => {})` is not working for you, can you provide a minimal reproduction?

[2022-06-07 00:47] #21735 closed

[2022-06-07 00:55] ryanthemanuel opened #22155 "`cypress run`ing multiple specs in headed mode, in chrome, on linux will fail after the first spec"
### Current behavior

Running `cypress run` with multiple specs in headed mode, in chrome, on linux will fail after the first spec with the following error:

<img width="695" alt="image" src="https://user-images.githubusercontent.com/4873279/172273059-915e910e-1f7e-46c8-8561-b1ec8b2e6552.png">

### Desired behavior

All specs should be able to run with no error

### Test code to reproduce

1. Run

[2022-06-07 01:12] lmiller1990 commented on #22075
@Jcsanga what version of Node.js are you running? You'll need at least [v12](https://docs.cypress.io/guides/getting-started/installing-cypress#System-requirements).

[2022-06-07 01:22] lmiller1990 commented on #22152
Hey, thanks for the feedback - especially for sharing your before/after workflow, and how it regressed. I agree more clicks is a bad thing.

I agree we should probably default to the previous browser used, since you generally don't change browsers that often, and you can do so from the app UI now.

This seems like a pretty big problem. What OS are you on? Is this consistent? If so, can you reprodu

[2022-06-07 02:09] gzhhong opened #22156 "Error you have weird network configuration settings on your computer"
### Current behavior

Cypress package version: 9.7.0
Cypress binary version: 9.7.0
Electron version: 18.0.4
Bundled Node version: 16.13.2

Hello all, I try to use cypress to test my nextjs project. Here is the package.json
[code]
Here is the test function in sitemap.spec.js, it will iterate the loc in sitemap and access then report if all links are good.
[code]

and I try to run command: "npm run

[2022-06-07 02:12] gzhhong commented on #22156
I don't understand why in my configuration it is http://localhost:8080 but it try to test https://localhost:8080. If I use another URL of my staging server, which is https, the same problem printed.

[2022-06-07 02:17] #22156 closed

[2022-06-07 03:32] tyhopp commented on #21671
Hi @ZachJW34, I looked into this again and I was wrong, Partytown does not work in a regular iframe.

Here's the repro for that: https://github.com/tyhopp/partytown-iframe-reproduction

I'll update the original issue in the Partytown repo.

[2022-06-07 06:37] mirobo commented on #22152
I need to investigate this further. It was on my private computer (Win 10) which I didn't restart for a while. Cypress 10 also crashed after just using it for a while, not only when doing something with it.. I've got crash dumps but looking into them I didn't see anything obvious. I'll create a separate issue for this once I have more information.

[2022-06-07 06:45] awallemo commented on #22044
@mschile Sorry for the late response. This is the command I am running (With Debug):
![image](https://user-images.githubusercontent.com/54357341/172312853-82ebc423-5426-47a0-b72b-2abfeb1159f7.png). It works completely fine when I run it locally.

These are some of the outputs from running with debug.
![image](https://user-images.githubusercontent.com/54357341/172313419-86e25c8a-8b93-41c7-8c5e-a14d

[2022-06-07 07:05] lmiller1990 commented on #22150
Hi, thanks for the bug report. Assuming this is only happening as of Cypress 10?

Can you share some information about your environment - OS, Node.js version, etc? I'm not able to reproduce this behaviour in any OS (tried Ubuntu, Windows, macOS).

[2022-06-07 07:07] lmiller1990 commented on #22146
Thanks for the report. Now we've got strongly typed config via `cypress.config.ts`, we are starting to see some of our types are not perfect.

[2022-06-07 07:08] neuronetio commented on #22150
Hi,
yes this is only happening in cypress 10
OS: Kubuntu 21.10
Node: v17.9.0
npm: 8.10.0

I had cypress 9.* and after migration process cypress stops working

[2022-06-07 07:13] diogosantana2011 commented on #22040
Hi @mschile,

Good morning!

Thanks for the prompt response and suggestion.

I've retried with file name as `cypress\support\e2e.js` and `cypress\\support\\e2e.js` and job continues to fail.

Using `cypress\support\e2e.js` returns above error on support file as:

- `Your supportFile is missing or invalid: cypresssupporte2e.js` <-- not recognizing the `\`.

Using `cypress\\support\\e2e.js` returns

[2022-06-07 07:14] ignatiusreza commented on #22082
Thanks for addressing this.. CPU profile is much better on v10.0.3, so I think this issue can be closed.. but, there's still a `to do` label?

[2022-06-07 08:16] willoliveira-air commented on #22129
@ZachJW34 I'm seeing the same problem from @danfooks within the `ResizeObserver ` and the pattern seems to be fine because it is working for most part of the scenarios.

[code]

It is not reproduced all the time in Electron or Chrome (I didn't check in Mozilla yet). It is happening every few test runs (the same test but not all the runs).

[code]

Please let me know if you need more details.
Thank

[2022-06-07 08:56] MvRiele commented on #22040
Same error in log here:

[code]

[2022-06-07 09:29] raymond-tetteh commented on #20615
I does not work

[2022-06-07 09:54] majkelch commented on #22152
Hi, unfortunately what @mirobo wrote about workflow are my thoughts, too. I am also missing "run all tests" feature.

[2022-06-07 10:36] laerteneto commented on #22086
I was able to reproduce the same issue in Cypress 9.7.0/Windows10/Firefox 101.

[2022-06-07 11:06] lazka commented on #22155
I'm seeing the same issue after upgrading from 9.7.0 to 10.0.3.

[2022-06-07 11:31] odai-alali opened #22159 "Screenshot path does not corresponds to the spec path"
### Current behavior

![image](https://user-images.githubusercontent.com/5602515/172368070-ff2a18ba-3b4b-428d-a0fd-d1e668dcafd3.png)

I have two spec files, each contains a simple test case where I take a screenshot with `cy.screenshot()`. Both screenshots will be saved directly under `scressnshots` directory.

### Desired behavior

Screenshot from `cypress/e2e/deep/deep-example.cy.js` to be saved

[2022-06-07 11:54] willoliveira-air commented on #22147
Seeing the same issue when installing Cypress

[code]

[2022-06-07 12:01] jaypoptin opened #22160 "Test runner become heavier and slowing down my device after installing Cypress V10"
### Current behavior

Test runner become heavier and slowing down my device after installing Cypress V10

### Desired behavior

Should be light.

### Test code to reproduce

Open test runner using npx cypress open command. I am on a windows machine.

### Cypress Version

10

### Other

_No response_

[2022-06-07 12:26] danfooks commented on #22129
@ZachJW34 For myself, it is occurring consistently for every test run. I did check [the ResizeObserver bug ticket](https://github.com/cypress-io/cypress/issues/22113), which seems to be the root cause of my issue. Also, If I am correct I should not have to check for a regex expression to be present in the error as @willoliveira-air is doing, as I want to catch _all_ errors, rather than just this s

[2022-06-07 12:39] karlhorky commented on #22046
Interesting, this `dyld[58541]: Library not loaded` error came back for me in `10.0.3` 😱 @mjhenkes maybe it shouldn't be closed already?

[code]

[2022-06-07 12:41] karlhorky commented on #22046
## Workaround

Open the Cypress app folder with `open /Users/k/Library/Caches/Cypress` and then rename the `10.0.2` to `10.0.3` 😅

Gives you a warning about mismatching version numbers, but seems to work.

[2022-06-07 13:34] darkhillreturns opened #22161 "Cypress 10.3 does not support multiple support files"
### Current behavior

Before migration, I have multiple files under cypress/support. I am using page object pattern as my design pattern and I separate different page objects on different pages that I automate and save them under cypress/support. When I migrated to Cypress 10, it does not support multiple support files and throws an error

"Please remove or combine the support files into a single

[2022-06-07 13:46] willitsw commented on #16153
Still seeing this problem with Cypress 10.

[2022-06-07 13:54] eoin-roll-out opened #22162 "Shared context between it blocks and after/after each hooks"
### What would you like?

I'd like to be able to share context (aliases or something similar) between the test blocks and the after/after each hooks.

### Why is this needed?

An example of the need is that in my after hook I make a graphql mutation to delete some data from the database (clearout something I created with my test, essential to good testing right?!). I want to be able to use the id

[2022-06-07 14:09] ckmoga commented on #7199
For us it turned out that Github had issues: https://www.githubstatus.com/incidents/8xxms3q3qzgp

[2022-06-07 14:19] Tofel commented on #7199
But that was 6 days ago... I just executed these tests 40 minutes ago :-)

[2022-06-07 14:22] tfaron opened #22163 "Still waiting to connect to Chrome, retrying in 1 second"
### Current behavior

Cypress is failing with Still waiting to connect to Chrome, retrying in 1 second

I had it working when I first moved to Cypress 10.0.0 and now it no longer works, I have tried reinstalling Chrome, clearing
everything, and a fresh install of Cypress

When I run chrome with the args from the command line it opens fine

[DEBUG - open.txt](https://github.com/cypress-io/cypress/f

[2022-06-07 14:29] Komojo7 commented on #8206
Was experiencing this issue and switching to Firefox was the only thing that worked.

[2022-06-07 14:36] Tofel commented on #7199
Thanks! I think they did (due to Cypress major version upgrade), but I've forgotten to add that I am not using that official action... (I need to start reverse proxy server before running the tests), so my command looks like this:
[code]

[2022-06-07 14:37] glamanna-motional opened #22164 "Cypress crashes when attempting to open after Update to 10.0.0 Release"
### Current behavior

In attempting to open cypress for the first time after update, it crashes.  While I am currently on 10.0.3, this issue has been persistent across the past three point releases.  This behavior **was not** seen on 9.7.

`It looks like this is your first time using Cypress: 10.0.3

✔  Verified Cypress! /home/gabriel.lamanna/.cache/Cypress/10.0.3/Cypress

Opening Cypress...
[5565

[2022-06-07 14:49] #22162 closed

[2022-06-07 15:18] ckmoga commented on #7199
Nothing looks suspicious for me there;  since the containers were created with a pinned image, I will only suspect Cypress's validation of the parameters is failing. May be start a new issue so they can pick up?

[2022-06-07 15:26] flotwig opened #22167 "Apple M1/Silicon/arm64 Epic"
Full support for the `darwin-arm64` architecture, on parity with other architectures supported by Cypress.

Tasks:

1. ~~Set up M1 CircleCI Runners: INFRA-132~~
2. ~~Configure M1 CircleCI workflows: #19908~~
3. ~~Update CLI/download server to obtain arm64 builds: https://github.com/cypress-io/cypress-services/pull/4585~~
4. ~~Create linux-arm64 builds (for M1 Docker): #4478~~
5. Create multiarch d

[2022-06-07 15:30] tomrobst commented on #22086
Hi,

Just adding some additional info as I'm having the same issue on Cypress v10.0.3 and Firefox v101.

When starting e2e tests on Firefox, the browser opens but does not start cypress and the console outputs: "Still waiting to connect to Firefox, retrying in 1 second..." etc

I have run Cypress with debugging enabled and it seems there is an issue finding the browser target:

2022-06-07T14:48:40

[2022-06-07 15:37] #21655 closed

[2022-06-07 15:38] flotwig commented on #22123
Closing as duplicate of #22064

[2022-06-07 15:38] #22123 closed

[2022-06-07 15:53] khyamay commented on #19066
Having similar issue too!!

[code]
@raisedwizardry's workaround seems to resolve the issue I am having. Strangely enough, only e2e tests from one app seems to be affected, e2e tests from 2 other apps seems to be working fine.

[2022-06-07 15:54] Tofel commented on #7199
yeah... same image is being used, major version is the same... I think opening a new issue is a good idea, I don't know if they look into closed ones, but before I do that I'll try my luck with Cypress 10.0.02

[2022-06-07 16:19] Tofel commented on #7199
Okay, I think I know what I did wrong :-) I shouldn't be passing `--parallel` flag, because I do not want Cypress to orchestrate it for me. I just need multiple runs to be grouped together and the orchestration of parallelisation with be done by GH itself via the matrices.

[2022-06-07 16:24] Jones-S opened #22169 "Error loading nuxt witz component testing with nuxt"
### Current behavior

Cypress throws an "Unexpected Error"
<img width="1345" alt="Screenshot 2022-06-07 at 18 08 54" src="https://user-images.githubusercontent.com/7059580/172433278-da3ca67a-3662-4474-971f-b666907be370.png">

I tried to setup component testing with nuxt, but that never worked.

Stack trace:
[code]

And the terminal output:
[code]

when opening the file `/Users/USERNAME/Documents/p

[2022-06-07 16:30] Yberion commented on #22059
Hello,

We also have this problem with Karma/Jasmine on Angular.

Do you have any informations on if and when you will fix that issue ?

The workarounds aren't clear enough to be honest, and they are "workaround" anyway which isn't really good.
All Angular projects updating to Cypress 10 will have a clashing problem with `describe`, `it`, `expect`, ...

It's kinda "critical" I think 😄

Have a good

[2022-06-07 16:35] zqy1001 opened #22170 "Unable to use the Chrome Extension Properly"
### Current behavior

On Chrome Version 102.0.5005.63 (Official Build) (64-bit)

My organisation has added GUID caljajdfkjjjdehjdoimjkkakekklcck to allow Cypress Chrome extension.
In VS code terminal execute "cypress open" then popup the UI, select "Chrome 102" as the browser then run tests.
A chrome instance be fired but leave it blank not running any tests on it
![cypress blank page](https://use

[2022-06-07 16:45] michael1visser commented on #2854
A little late to the game but for anyone who might hit this thread later:

I was able to get the url string by chaining a promise off the alias and using the alias value as an argument.

[code]

[2022-06-07 16:49] ZachJW34 commented on #22059
@karlhorky thanks for posting, looks like you're not the only one having issues with Cypress + Jest type collisions.

I was able to reproduce this with the repos linked @karlhorky @mrdrogdrog @wKovacs64. When I checked out the dep update to v10, all of the Jest tests started complaining.

We didn't change our globals very much for v10. For all the cases I reproduced, it was fixed by adding `./cypr

[2022-06-07 16:52] mschile commented on #22040
Alright, I was able to reproduce the issue locally by moving my project to the `Program Files (x86)` folder. @diogosantana2011 and @MvRiele, I don't need anything additional right now since I can reproduce locally.

[2022-06-07 17:19] karlhorky commented on #22059
Hm, but this opts out of typechecking in `cypress.config.ts`, doesn't it? Would be nice to continue to have that file checked for type errors...

[2022-06-07 17:21] Yberion commented on #22059
Hello @ZachJW34,

Answering for my case.

We have all the cypress stuff inside a `cypress` folder.
Before `Cypress 10` we already had to do the following (and it doesn't fix the clash issue):

`./tsconfig.json`
[code]

`./cypress/tsconfig.json` (we import `cypress` type)
[code]

`./tsconfig.spec.json` (we import `jasmine` type)
[code]

[2022-06-07 17:27] karlhorky commented on #22059
This worked for me, thanks @ZachJW34 !

[2022-06-07 17:32] mjhenkes commented on #21654
@mm-dsibinski, Could you try using cypress 9.6.1 to see if the issue is still reproducible?

[2022-06-07 17:58] sharmilajesupaul commented on #20897
@alyssa-glean My apologies, I haven't had the time to pull the logs on this, but this stopped happening for us after updating our version of Chrome. We were running on a much older Chrome 89.0.4389.82 with Cypress v9 was causing this issue a particular test suite hanging in this way we bumped the version to 101.0.4951.54 (Which was the latest at the time, on may 4th 2022). And that seems to have r

[2022-06-07 18:22] yuriy1715 commented on #22059
`adding ./cypress.config.ts to the tsconfig.exclude property`
Thank you @ZachJW34  it helps for me too

[2022-06-07 19:07] samtsai commented on #22141
This was confusing for me doing the upgrade manually to 10.x.

I had `@cypress/react` still installed and mounting was failing due to the outdated released version of `@cypress/mount-utils` (see screenshot below). I was able to finally easily fix it by removing the dependency and changing my `mount` import from:
`import { mount } from "@cypress/react"`

to:

`import { mount } from "cypress/react"`

[2022-06-07 19:12] cameron commented on #3590
Extending @talaikis solution to parallelized test runs (without upgrading to the business plan), consider storing a status flag for a given test run in your (cloud) development db, set it in on failure `afterEach`, and then check it in `beforeEach`.

[2022-06-07 20:22] Janaka-Steph commented on #18435
Is there a reason why setting `publicPath: ''` in https://github.com/cypress-io/cypress/blob/master/npm/webpack-preprocessor/index.ts#L204 has never been done, or is it simply because nobody bothered to make a PR ?

[2022-06-07 20:25] JawadM-TaiSoftware commented on #22043
Released?

[2022-06-07 20:31] zuzusik opened #22172 "See all failures with errors in the final test report"
### What would you like?

Now final report looks like this:

![Screen Shot 2022-06-07 at 4 20 19 PM](https://user-images.githubusercontent.com/4233080/172475231-560657db-6123-4e54-952b-38cabcda8aea.png)

To find out what exactly failed and with which error one had to scroll up to where information about that particular file run is printed.

It would be nice if failures info from all files (includi

[2022-06-07 20:36] sandy-farnsworth opened #22173 "Blackout area is offset from where it should be when upgrading to 9.7.0 from 9.5.4"
### Current behavior

Blackout is not blacking out the specified area in 9.7.0. It seems to be trying, but the blacked out area is offset from where it should be.

This is my blackout area in Cypress 9.5.4:
![blackout_9 5 4](https://user-images.githubusercontent.com/107077102/172475703-80a7e7df-2f62-4b0a-89c9-f9747cec4847.png)

I am attempting to upgrade to 9.7.0, and the wrong area is being black

[2022-06-07 20:44] mschile opened #22174 "Investigate using window.open"
Investigate using `window.open` instead of loading the cross-origin page within the AUT. This would remove the need to use `modifyObstructiveCode` to fix providers that are using frame-busting techniques since the page wouldn't be loaded in an iframe.

[2022-06-07 20:48] AtofStryker commented on #22044
Hey @awallemo. It looks like the chrome process is running. This screenshot logs look mostly like the video screencasting and the process profiler, which unfortunately doesn't tell us too much. Would it be possible to run `cross-env DEBUG=cypress:*,-cypress:server:util:process_profiler cypress run --config-file <YOUR_CONFIG_FILE> --browser chrome --spec <YOUR_SPEC> --config video=false` and attach

[2022-06-07 21:19] kuantayevs commented on #22059
Thank you for sharing this, but this seems does not work for me, maybe you could help me. I still see errors which is listed at very first messge

structure:
cypress - cypress tests
               - `tsconfig.json` has `"exclude": ["../cypress.config.ts"]`
src          - unit test using jest
cypress.config.ts

[2022-06-07 21:27] arelra commented on #22059
@karlhorky @ZachJW34 Thanks for all your input here

We had the same issue blocking our upgrade to v10.

Adding `cypress.config.[js|ts]` to `tsconfig.json`'s `exclude` property worked for us too.

I would also like to echo that this issue be elevated to the v10 migration guide or made much clearer in the documentation please. It is very difficult to diagnose and remedy without any pointers.

Thank

[2022-06-07 21:56] AtofStryker commented on #22163
Hey @tfaron. Are you able to try this with Cypress `10.0.3`? Does the same effect happen when you do `npx cypress open` instead of `./node_modules/.bin/cypress open`? Is is possible to put together a quick reproduction repo?

[2022-06-07 22:14] AtofStryker commented on #22170
Hey @zqy1001. I am guessing your chrome instance is corporate controlled? Do you have this issue with other browsers? Our guess is that something is likely blocking the extension similar to #8750 and #6889. Is this a new issue or were you able to run chrome with Cypress in the past?

[2022-06-07 22:16] teareed88 commented on #22064
@AtofStryker  I have tried executing "npx cypress open" in a Command Prompt window, Power Shell, Git Bash and they a all do the same thing.  Cypress will open for about 3 seconds and then close.  Here is the last portion of the debug log for  "npx cypress open".

cypress:data-context:sources:VersionsDataSource retrieving latest version information with headers: { 'Content-Type': 'application/json'

[2022-06-07 22:18] yorch commented on #21366
@mjhenkes @jennifer-shehane actually, I could be wrong, but I don't think @RadwaSaleh said it worked, on the contrary, she said it didn't work after upgrading to latest version.

I'm actually experiencing something similar, we've been using version `8.2.0` for a long time and when I've tried to upgrade to both versions `9.6.*` and `10.0.*`, I no longer can read certain env variables that are defin

[2022-06-07 22:43] teareed88 commented on #22064
@AtofStryker The following are the steps I am taking on my Windows 10 machine.

- Created a new directory
- executed npm init to create the package.json
- executed yarn add -D cypress@9.7.0
- executed yarn
- executed yarn cypress open
- This creates the cypress structure for cypress 9.7.0
- executed yarn upgrade cypress@10.0.3
- executed yarn cypress open

Cypress 10.0.3 opens for a few seconds an

[2022-06-07 22:55] marktnoonan commented on #22059
I've created https://github.com/cypress-io/cypress-documentation/issues/4559 against the docs repo so that we can document the solution there. Thanks everybody for reporting and providing examples, and @ZachJW34 for pointing out the right step to take.

Good point @arelra about maybe mentioning this in the Migration Guide and as part of migration itself, we will consider both.

Going to keep this

[2022-06-07 23:07] marktnoonan commented on #22159
Hi, thanks for reporting this. I believe this is an unavoidable side effect of the change in Cypress 10 from setting an `integrationFolder` for specs to setting a `specPattern` . From [the changelog for 10.0.0](https://docs.cypress.io/guides/references/changelog#10-0-0):

[2022-06-07 23:10] marktnoonan commented on #22161
@darkhillreturns thank you for reporting this. It looks like in migration Cypress may have incorrectly renamed your `support/index.js` to `e2e.js`. Please try with `index.js` as the file name and let us know if that resolves this problem for you.

[2022-06-07 23:19] mmartin24 commented on #22152
I am also sorry to comment that I am very unhappy with this "upgrade". I was teaching Cypress to a newcomer and instead of getting the ready-to-use old version I get this tremendously complex thing full of clicks that misses completely the ease of use that Cypress initially offered. I have no idea why something that worked and was simple has ended up in this complex monster.

[2022-06-07 23:30] bahmutov commented on #17998
observed in Cypress v9.7.0 too

[2022-06-07 23:35] bahmutov commented on #17627
Same when using Electron and Cypress v9.7.0 which includes video and dashboard recording. Will try switching to Chrome browser for running the tests

[2022-06-08 00:19] rooby commented on #20478
@ceelian That error "Could not find a Cypress configuration file." doesn't seem like the same error this issue is about.

[2022-06-08 02:06] dante01yoon commented on #21874
@dante01yoon

[2022-06-08 04:07] ShuPink commented on #14600
I'm also having this issue with Firefox 100, Ubuntu 20.04, Cypress 10.0.2 on localhost.

Both Electron and Chrome work normally.
I can access subtle on Firefox from localhost outside of Cypress.

I tried to polyfill using @peculiar/webcrypto but wasn't able to get it working.

[2022-06-08 05:35] #21783 closed

[2022-06-08 06:03] lmiller1990 commented on #22152
Thanks for the feedback @mmartin24 and @majkelch (run all test feedback can go here https://github.com/cypress-io/cypress/discussions/21628).

Cypress does more now with support for Component Testing, E2E Testing, and a GUI for migrating/configuring a testing type. I think these feature are all improvements, but I agree that they do add more complexity and more importantly, more clicks - duly note

[2022-06-08 06:33] majkelch commented on #22152
@lmiller1990 thanks so much for the `package.json` tip, it works for me with Edge using:
[code]

[2022-06-08 06:41] lmiller1990 commented on #22082
Glad to hear it's better in 10.0.3. I think we can close this one @rockhold?

[2022-06-08 06:41] SchroederSteffen commented on #22059
Note: I also had to add `"files": ["../cypress.config.ts"],` to the `cypress/tsconfig.json` after adding `"exclude": ["cypress.config.ts"]` to the `tsconfig.json`.

[2022-06-08 06:56] darkhillreturns commented on #22161
Hi Mark, I tried renaming the e2e.js to index.js and I am getting the same error.
![image](https://user-images.githubusercontent.com/20445145/172551782-3ae4aaf3-5ea1-49a2-91c4-5b0d85112ec4.png)

[2022-06-08 07:03] Lakitna commented on #22127
That's a better workaround than the ones I had up to now, but is still limited in that only 1 plugin can change the config types. In any case, progress :)

Sounds like it would be a relatively easy fix on the Cypress side to make `Cypress.ConfigOptions` into an interface, right? Is anyone willing to share an approximate ETA?

[2022-06-08 07:26] mirobo commented on #22152
This could work temporarily. But we use Cypress with nrwl ( https://github.com/nrwl/nx/issues/10591 ). And we already have around 80 scripts in our package.json. Adding even more as workaround won't be acceptable for our developers.

And it also solves it only for opening a specific project. When you start Cypress in global mode there are still many more unnecessary clicks required.

Yes, just lau

[2022-06-08 07:35] JohnLukeBentley commented on #22086
I get this issue too, as described at https://github.com/cypress-io/cypress/discussions/22117.

[2022-06-08 07:35] karlhorky commented on #22059
@kuantayevs what worked for me in my monorepo structure was to add the `exclude` to the base `tsconfig.json` in the root of the project:

[code]

Adding it to a `tsconfig.json` deeper in one of the folders did NOT work.

[2022-06-08 07:36] karlhorky commented on #22059
@SchroederSteffen why did you need to do this? (eg. what were the details of what was happening without this change?)

I didn't need to do this, but maybe I and others would want to for some reason...

[2022-06-08 08:21] SchroederSteffen commented on #22059
Yes, sorry for not clarifying! 🤦‍♂️
It was needed, because otherwise the [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) plugin would raise the following error:
[code]
Note: Our ESLint config selects files as follows:
[code]

[2022-06-08 08:31] zqy1001 commented on #22170
Hi @AtofStryker , thanks for your quick response.
Yes my Chrome instance is corporate controlled. I was able to run the tests on Chrome till few months back then the company implemented new restriction to Chrome extension then it stop working,
I have asked the admin added GUID caljajdfkjjjdehjdoimjkkakekklcck to allow cypress extension but it doesn't work.

Meanwhile I have no issue on other brows

[2022-06-08 08:48] karlhorky commented on #22059
Oh fancy, didn't know that about the `overrides` config, I have been creating `.eslintrc.js` files in all of the sub-directories that I need to configure differently and then adding lines to `.eslintignore` for those which don't match my `parserOptions.project` settings

[2022-06-08 08:58] mrdrogdrog commented on #22059
Can confirm: Adding `cypress.config.ts` to the root `tsconfig.json` > `exclude` works :+1:

[2022-06-08 09:13] bvanderneut opened #22181 "baseUrl not used in cypress.env.json"
### Current behavior

If you have a baseUrl in the cypress.env.json it's not beeing used.

### Desired behavior

just like the previous version I would like to have a local file cypress.env.json where the baseUrl is beeing read and used in my test.

### Test code to reproduce

[code]

### Cypress Version

10.0.3

### Other

It should work according the documentation:
https://docs.cypress.io/guides

[2022-06-08 09:27] tuimai opened #22183 "Clicking on the download button leads to an infinitely long loading time ("Pdf is loading..)"
### Current behavior

Normally, when you click the button in the form, a PDF is downloaded without having to confirm this. When I want to test in Cypress whether the PDF is being downloaded, clicking the button leads to an infinitely long loading time (On the button is wriiten: "PDF is loading..."), but the PDF is never downloaded and the Cypress test also does not fail.

Why isn't the PDF downloa

[2022-06-08 09:56] Abcmsaj commented on #22096
Hello - how's this looking? I had this working fine on our project yesterday on 10.0.2 - then updated to 10.0.3 and it also briefly worked - now I'm seeing the issue though. I probably updated Node or something in that time...

[2022-06-08 10:05] matsch01 opened #22185 "Cypress 10.0.3 cannot find root element to mount when running component test."
### Current behavior

After upgrading to Cypress 10.0.3, Cypress can't find the root element to mount. The app runs fine using same webpack config to run the app if dev mode.

cypress.config.ts

[code]

resolved config
[code]

### Debug logs

at Context.<anonymous> (http://localhost:3000/__cypress/src/vendors-node_modules_babel_runtime_regenerator_index_js-node_modules_cypress_react_dist_cypre-c29

[2022-06-08 10:49] mrdrogdrog commented on #22059
Well. At least on my local dev machine. Can't merge that update yet because the github action "cypress-io/github-action" still generates a cypress.json and then cypress complains about that.

[2022-06-08 10:53] karlhorky commented on #22059
Which version are you on? Try upgrading to v4 - this made this problem disappear for us

[2022-06-08 11:15] mrdrogdrog commented on #22059
We were on v2. :sweat_smile:
Upgrading to v4 solved the issue. Thank you :)

[2022-06-08 11:27] mirobo commented on #22161
I wonder where the documentation for Cypress 9.7.0 can be accessed and why it worked before. Because on the current documentation https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Support-file the error makes somehow sense. It doesn't go into details how the pattern matching works.

But in this case I guess removing the supportFile param completely (will use e2e.js) and ren

[2022-06-08 11:36] pmcochrane commented on #21721
Can we please get this feature back in v10? Enabling it drastically reduces the overall time whilst running the tests headless so it could even be prioritized higher.

I can live without the detail in the test screenshots/video if the tests runs twice as fast.
I dont really want to revert to an earlier version as I have just gone through the pain of migrating the build process to v10

[2022-06-08 11:40] obajaddi opened #22186 "Unable to complete a test Paypal payment from a commercial website"
### Current behavior

Hello !

I'm using the new "cy.origin()" feature in order to make a payment with Paypal.
After beeing redirected, I type the credentials and after cliking for login... the runner "crash" or "disapear"
=> it's like the page is "reloading" or open a new page in the same windows, since Cypress don't manage multi windows, maybe it's a the root cause ?
Potentially this problem occ

[2022-06-08 11:52] rnegrin90 opened #22187 "Downloading v3.8.3 actually downloads 7.1.10"
### Current behavior

When getting version 3.8.3 from https://download.cypress.io/desktop/3.8.3?platform=linux&arch=x64 the version file reports v7.1.10 and the checksum does not match

### Desired behavior

_No response_

### Test code to reproduce

- Download 3.8.3
- check `version` file

### Cypress Version

3.8.3

### Other

_No response_

[2022-06-08 12:12] tfaron commented on #22163
@AtofStryker I did try on 10.0.3 as well.
I did many new installations of chrome and cypress and was still having issues.
I did end up turning off my local firewall on my mac, and all of a sudden it worked so maybe there is a relation there.
I end up getting it to run for days then hit something so I think unless something is not obvious we can close this issue and I can re-open if needed

[2022-06-08 13:03] zqy1001 commented on #22170
![CypressExtensionBlocked](https://user-images.githubusercontent.com/32744150/172623290-8d016150-a24d-40d8-b06e-7afcd434177e.JPG)

[2022-06-08 13:05] awallemo commented on #22044
@AtofStryker
I ran the command you specified, I have set the task to time out after 5 minutes so it doesnt run indefinetly when it hangs. This is the output:
![Screenshot 2022-06-08 144219](https://user-images.githubusercontent.com/54357341/172623097-7db8288c-787c-4075-a58d-f1d8e5d8b101.png)
![Screenshot 2022-06-08 145110](https://user-images.githubusercontent.com/54357341/172623104-c5339fb2-cff7-

[2022-06-08 13:06] oliworx opened #22188 "spec file last updated "52 years ago""
### Current behavior

Just upgraded to Cypress 10, now it says the spec files are 52 years old:

![image](https://user-images.githubusercontent.com/1712684/172622741-2682d6cf-914f-4523-b50f-828df195ea1e.png)

### Desired behavior

show the correct DateTime and not _x years/month or weeks ago_, this information is useless and my brain has to do the calculation to get the date

### Test code to repr

[2022-06-08 13:26] jennifer-shehane commented on #22072
We want to support setting `baseUrl` at the root level in the testConfigOverrides, as we always know at this point which testing type we're in.

[2022-06-08 13:34] conversaShawn commented on #21348
@Victor-Telemaque
Unfortunately, I can't say for sure. It does however seem to possibly coincide with an incident we were having. I recommend keeping an eye on both the [Cypress status page](https://www.cypressstatus.com/) and [GitHub Actions status page](https://www.githubstatus.com/).

[2022-06-08 13:34] mmaous commented on #22147
Facing the same issue, On a Linux (ubuntu 20.04) machine, I have tried using npm instead and there is no issue,

So the takeaway is the problem is with yarn not cypress ( I guess) :D

btw, i'm using yarn 1.22.18

[2022-06-08 13:35] #21348 closed

[2022-06-08 13:35] rnegrin90 commented on #22187
Hi @marktnoonan, thanks for looking into this. that version of cypress is a dependency for `vue/cli-plugin-e2e-cypress`. We are running a fairly old version and on the process of upgrading to vue3, but it will take some time!

[2022-06-08 13:50] brianjenkins94 commented on #22096
Thanks for your work on this @lmiller1990 ! :)

[2022-06-08 14:06] Abcmsaj commented on #22096
Yeah, fantastic! Thanks very much @lmiller1990

[2022-06-08 14:07] svelver opened #22190 "Intercept not working with axios interceptors"
### Current behavior

When trying to intercept an API call using `cy.intercept`, combined with axios which is using an interceptor, the test fails due to a network error.

I've created a [demo project](https://github.com/svelver/cypress-network-error) (using Vue) to showcase this issue. It only happens when opening Cypress in interactive mode, when running Cypress using `npx cypress run`, the erro

[2022-06-08 14:08] zqy1001 commented on #22170
This is how my company admin set the registry for allowing Cypress extension. Is this the right way to do so?
![RegistryKey-GUID](https://user-images.githubusercontent.com/32744150/172637850-316dc11c-5b19-487e-a4c0-fdfb7184143d.png)

[2022-06-08 14:18] tgriesser commented on #22082
Glad to hear that it's much better in 10.0.3. The todo is:

We can create a separate issue to track this work if we'd like to close out this issue though

[2022-06-08 14:29] rkhomi commented on #5016
Same on 9.5.0

[2022-06-08 14:43] teareed88 commented on #22064
@AtofStryker  Here is what my computer Event Viewer is showing:

![image](https://user-images.githubusercontent.com/106782343/172645663-2a9aa56a-e1d0-40a3-993b-0c6cd1ebf434.png)

[2022-06-08 14:53] srouil opened #22191 "Ability to disable SSL session cache used by cy.request()"
### What would you like?

I would like to be able to pass "[maxCachedSession](https://nodejs.org/api/https.html#new-agentoptions)" option used to create NodeJS https.Agent used by cy.request() command. Specifically, I want to set it to 0 to disable TLS session caching during my tests.

### Why is this needed?

I need to test (e2e) my application using different users. I login by sending a GET requ

[2022-06-08 14:53] mkashiftcp commented on #22064
I was having the same issue. But a simple trick resolved my issue. What I did is removed node, cypress and deleted cypress, and NPM cache from the system, and reinstalled everything. then opened the terminal as administrator and use this "npx cypress open" to open the test runner. You can also open VS CODE as administrator

[2022-06-08 14:58] aommm opened #22192 "--spec argument can only find files in cypress/e2e folder"
### Current behavior

Hi! Thx for providing Cypress, I'm a big fan of your product :)

I'm having trouble moving to Cypress 10.
The `--spec` argument doesn't seem to work properly if I don't keep my tests in the `cypress/e2e` folder.

In my [repro repo](https://github.com/aommm/cypress-spec-bug), these work:
[code]
These **don't** work, but I expect them to:
[code]

### Desired behavior

_No respo

[2022-06-08 15:03] rockhold commented on #22043
@JawadM-TaiSoftware, we're working toward a 10.0.4 patch release for today. If all goes according to plan, this should be available later this afternoon. You'll see an automated update on this issue once it is released :)

[2022-06-08 15:17] anselmbradford opened #22193 "Cypress@10.0.3 migration helper stalls"
### Current behavior

I run `yarn cypress open` on Cypress 10.0.3 for the first time and it hangs on this screen:

<img width="677" alt="Screen Shot 2022-06-08 at 11 14 57 AM" src="https://user-images.githubusercontent.com/704760/172653297-2c88bc7c-b331-498d-8744-dd0e9a6de9fe.png">

No error messages in the Terminal.

### Desired behavior

Migration assistant should not hang.

### Test code to rep

[2022-06-08 15:19] teareed88 commented on #22064
I tried your suggestion, unfortunately, it did not work for me.

[2022-06-08 15:26] marktnoonan commented on #22187
Looking a little further, in that download I can see that the package.json specifies the requested version correctly, and only the `version` file appears to be different. What's the impact of the mismatched version file? Does it mean you can't set up Cypress on a Vue 2 project at the moment?

[2022-06-08 15:34] marktnoonan commented on #22187
After double checking, the  `version` file is the version of electron used by that build, and not the version of Cypress being downloaded, `7.1.10` is the expected version of electron in Cypress 3.8.3.

[2022-06-08 15:35] mohamed-youssef-maaref opened #22194 "Timed out retrying after 4000ms: cy.trigger() failed because this element:"
Timed out retrying after 4000ms: cy.trigger() failed because this element:
is being covered by another element:

_Originally posted by @mohamed-youssef-maaref in https://github.com/cypress-io/cypress/discussions/22166_

[2022-06-08 15:35] vitalii-bulyzhyn opened #22195 "window.getSelection() API improvement"
### What would you like?

I've been testing a feature that's heavily relaying on **window.getSelection()** browser API and what I basically is is trying to do, is to trigger events that will be normally triggered by the user:

[code]

Another approach I tried was is triggering drag and drop events:

[code]

The problem here is that window.getSelection() returning me null in this case, but would be

[2022-06-08 15:40] #21807 closed

[2022-06-08 16:03] HeshamMoneer opened #22196 "A test passes in UI mode and fails when run headlessly"
### Current behavior

I have recently migrated my testing project from cypress 9 to cypress 10
I had a test that used to pass in both UI and headless modes. After the migration, it only passed in UI mode.

There is an error message that keeps showing in the console while tests are running headlessly

[1788:0608/155331.144737:ERROR:cert_verify_proc_builtin.cc(681)] CertVerifyProcBuiltin for url8437

[2022-06-08 17:22] marktnoonan commented on #21895
Let's wait on @ryanjwilke to confirm, this was migrated from the Jira backlog and doesn't look like there was a response there.

[2022-06-08 17:25] rachelruderman commented on #22160
Hi @jaypoptin! Thanks for reporting this issue. Can you provide us with your [DEBUG logs](https://docs.cypress.io/guides/references/troubleshooting#Print-DEBUG-logs)?

[2022-06-08 17:33] extracker-ppetrov commented on #21135
I can still reproduce this on Cypress 10.0.3. My "tests kept in memory" setting is set to 2.
It crashes if I run more than 2 tests in a single run.
If the test kept in memory is set to 0, it is all good.

[2022-06-08 17:36] yktoo opened #22198 "Cypress 10.0.3 tries to load project-named file at root dir"
### Current behavior

After a migration from 9.x to 10.0.3, `cypress open` reports a weird syntax error. After some investigation I concluded that it tries to parse and load a file that has the same name as the project - `once` - which happens to be a **compiled binary** (so no wonder it fails), hence the `ELF` line below.

If I delete that file, Cypress goes further, but that prevents me from run

[2022-06-08 17:56] #22163 closed

[2022-06-08 17:56] AtofStryker commented on #22163
@tfaron sounds good to us. Let us know if you run into any additional trouble!

[2022-06-08 18:00] edvitor13 opened #22199 "Auto Scrolling no longer works after some time"
### Current behavior

In run mode and with the browser hidden.

After upgrading to Cypress >= 10, in large tests, Auto Scrolling stops working at some point.

Before:

https://user-images.githubusercontent.com/11736724/172683673-a7ed4f52-701e-424e-a7ff-64c06851aec6.mp4

After:

https://user-images.githubusercontent.com/11736724/172682939-a244a67f-5d7a-4da2-84df-f946641f7438.mp4

### Desired behavi

[2022-06-08 18:00] kuantayevs commented on #22059
@marktnoona Correct, it's inside of the cypress folder

[2022-06-08 18:04] mhersim opened #22200 "After Update of "Apple M1 Pro" OS to version 12.4 cypress started not to run!!! and i see error in terminal => spawn Unknown system error -86"
### Current behavior

After Update of "Apple M1 Pro" OS to version 12.4 cypress started not to run!!!
bash-3.2$ npx cypress open --config-file cypress.env.json
It looks like this is your first time using Cypress: 9.7.0

Cypress failed to start.

This may be due to a missing library or dependency. https://on.cypress.io/required-dependencies

Please refer to the error below for more details.

------

[2022-06-08 18:31] mjhenkes opened #22201 "[session] Spike into the differences between cypress-data-session and `cy.session`"
Create a comparison between cacheing, validating and restoring cookies, local storage and session storage.

Brainstorm on what cypress-data-session offers beyond what `cy.session` can do (ie caching arbitrary values)

[2022-06-08 18:57] romankhomitskyi commented on #22198
https://link.medium.com/27VUqMYqHqb

[2022-06-08 19:03] AtofStryker commented on #22146
Hey @jenishgandhi7. It looks like the type is indeed missing from [cypress.d.ts](https://github.com/cypress-io/cypress/blob/develop/cli/types/cypress.d.ts#L2816) and is a bug. The type likely needs to be added to `ResolvedConfigOptions`, but omitted from `ComponentConfigOptions` and `UserConfigOptions`.

Once fixed, the `modifyObstructiveCode` option should only be available under `e2e` in the con

[2022-06-08 19:27] mellis481 commented on #18335
@pmk1c Thanks for sharing. I had not come across Vite before. In the microfrontend ecosystem, each microfrontend does not have an *.html file (there is only one *.html file in the entire ecosystem). From what I was able to quickly read in their documentation, Vite is entirely based on the entry point being one or more *.html files so Vite will not work for single-spa-based microfrontends.

[2022-06-08 19:53] AtofStryker commented on #22129
One thing I did notice that I found interesting is that it looks like the `ResizeObserver` failures in from @willoliveria-air 's case come from the test itself, which will not work with `uncaught:exception`, similar to #22113. What happens if you try the `fail` handler out of curiosity?

[2022-06-08 19:56] AtofStryker commented on #22129
@danfooks since your error comes from the application itself, the problem is likely a bit different. I noticed you are using `cy.origin`, in which case you likely need a separate `uncaught:exception` handler in `cy.origin` to [catch that error and not throw it](https://github.com/cypress-io/cypress/blob/develop/packages/driver/cypress/e2e/e2e/origin/uncaught_errors.cy.ts#L88) in your main test, so

[2022-06-08 19:59] AtofStryker commented on #22113
@mlberkow is the error always originating from the test code in your case? What happens if you try the `fail` handler in stead of the `uncaught:exception`, out of curiosity? Similar to https://github.com/cypress-io/cypress/issues/22129#issuecomment-1150340007?

[2022-06-08 20:07] ignatiusreza opened #22203 "Search query in the spec listing page should be automatically applied to the "Collapsed Specs List" in the spec runner page"
### What would you like?

The spec listing page provide an option to filter the spec via "Search Specs". The value input here, should automatically be applied to the respective "Search Specs" input in the "Collapsed Specs List" in the spec runner page.

Similarly, clicking on "Specs" icon on the left bar to go back to the spec listing page, should show me the same filtered spec list with the searc

[2022-06-08 20:17] ronycandeli opened #22204 "After Continue, the Migration Helper keep eternal loading"
### Current behavior

![image](https://user-images.githubusercontent.com/542746/172705573-2689d6ce-e277-453c-aa56-0a3276cfc8a7.png)
After Continue the Migration Helper keep eternal loading

### Desired behavior

I want use, but keep loading on Migration Helper

### Test code to reproduce

plugins/index.js
[code]

support/index.js
[code]

### Cypress Version

10.0.3

### Other

$ npx cypress versio

[2022-06-08 20:19] mjhenkes commented on #21987
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-08 20:19] #21987 closed

[2022-06-08 20:27] rachelruderman commented on #22076
Hi @PeerWitthoeft! Currently we support configuring the [certificate authority and client certificates](https://docs.cypress.io/guides/references/client-certificates). Does this address your issue?

[2022-06-08 20:42] Yurii397 commented on #16322
Have the same issue on GitLab CI,
installing cypress and chrome directly in the job (in .yml) file.  yarn add --dev chrome cypress@9.7.0

[2022-06-08 20:54] mjhenkes commented on #22194
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

This issue will be closed as per our [contributing guidelines](https://github.com/cypress-io/cypress/blob/d

[2022-06-08 20:54] #22194 closed

[2022-06-08 21:02] Keenan144 commented on #4220
So you can use Auth0's api to fetch your token and set the cookie. This is how I got around this issue with Auth0

[code]

The response will include the session and JWT you need.

[2022-06-08 22:37] bunge12 commented on #4220
@Keenan144 I have tried this approach, but instead of setting the cookie I needed to set `localStorage` since my Auth0 provider is set with `cacheLocation="localstorage"`. It didn't work in CI as well while working perfectly on my local machine.

[2022-06-08 22:54] 33Wil commented on #22088
I have the same issue with 10.0.3. In the [run_plugin.js](https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/plugins/child/run_plugins.js) file I changed invoke method to match the same function definition  style as the other functions in the class and it started up
[code]
To
[code]

[2022-06-08 22:58] AtofStryker commented on #22170
Hey @zqy1001. My guess is the extension allowlist isn't configured correctly and it might be difficult to nail that down. Is there a way your company would allow for you to use a version of chrome that is not corporate controlled?  Otherwise and unfortunately, without some type of reproducible code on my end, I think we would have to possibly close the issue to prevent going down a rabbit hole.

[2022-06-08 23:21] AtofStryker commented on #22064
@teareed88 I went through the reproduction steps you listed, but I was unable to reproduce the problem. I am wondering if this is a migration bug to 10 or if 10 is just straight up broken for you. The log in particular you mentioned only happens during migration (or should). Are you able to clone/install [this repo](https://github.com/AtofStryker/cypress-issue-22064-post-migrate) and start cypress

[2022-06-08 23:56] gvocale opened #22208 "Cypress 10 component test crash after 100~ tests"
### Current behavior

Both on CI and on localhost, after running a hundred component tests (i.e. 138 of 227) via `cypress run --component`, Cypress 10 would fail with the following error:

[code]

If I run the failing test via `cypress open` it passes correctly.

If I comment out the component test that provoked the error, another one will trip with the same error, usually around the same ~120 of

[2022-06-09 01:57] lmiller1990 commented on #22088
@33Wil same question - what version of Node.js are on? Cypress requires v12. The error described here is the one you get when your version does not support class instance members:

[code]

I don't think this is a bug in Cypress, it's the error you get when using a Node.js version outside the ones we support. If anyone is encountering this on Node v12, happy to look into it, but for now I'm going t

[2022-06-09 01:57] #22088 closed

[2022-06-09 04:48] lmiller1990 commented on #22150
Potentially related: https://github.com/cypress-io/cypress/pull/22168

[2022-06-09 04:49] lmiller1990 commented on #22152
Great feedback/ideas. I think we've taken two steps forward with many aspects in Cypress 10, but definitely one (temporary) step backwards in others. There are definitely some kinks to iron out but this kind of proactive feedback is really useful, thanks! I hope you can check out Cypress 10 in the near future, we are working on many improvements based on feedback now.

[2022-06-09 05:20] lmiller1990 commented on #22086
Thanks all - in this area there is another PR https://github.com/cypress-io/cypress/pull/22168. I don't think it's aiming to address this problem, but it might help. At the very least, referencing here so when someone picks this up, they have something to go off.

[2022-06-09 05:25] JohnLukeBentley commented on #22086
Given @stacks13's

... the obvious implication seems to be that the problem Cypress/Windows/Firefox interaction arises not from anything introduced in Cypress 10; but from something introduced in Firefox from v101 (or introduced in Firefox v101 on Windows) ... that Cypress was never coded to accommodate.

[2022-06-09 05:31] kishore8 commented on #6991
Hi @JamesCullum, I keep getting this error, when trying to write e2e tests for biometric registration on my device. any idea why? TIA!
I am trying to something like this in my code - window.navigator.credentials.create({ publicKey });

<img width="1487" alt="Screenshot 2022-05-19 at 7 16 43 PM" src="https://user-images.githubusercontent.com/11715637/172771060-6d8a1b76-62ce-4056-9bf7-128925e4157d.p

[2022-06-09 05:32] karlhorky commented on #22059
Ok thanks all, will continue following the documentation PR over at https://github.com/cypress-io/cypress-documentation/issues/4559

[2022-06-09 05:45] yktoo commented on #22198
Not sure how that is relevant to my problem...

[2022-06-09 06:50] LielBarouch opened #22210 "Jenkins run failing after updating Cypress version to 10"
### Current behavior

After i updated Cypress to version 10, my test stoped working in Jenkins.
Im getting this error from the pipeline logs:

[code]

### Desired behavior

_No response_

### Test code to reproduce

This is my pipeline script:
[code]
This is `run.sh` code:
[code]
### Cypress Version

10.0.2

### Other

This is my first time reporting a bug here, let me know if more details are nee

[2022-06-09 06:58] fityanos opened #22211 "Unexpected Error: Your configFile threw an error from: cypress.config.js"
### Current behavior

I was installing the latest cypress in my next.js app, however, and while following up with the setup wizard I saw this error after checking the files that you will generate for me
<img width="1788" alt="Screen Shot 2022-06-09 at 10 56 44 AM" src="https://user-images.githubusercontent.com/16471809/172784402-6243c6a1-066d-4378-8a83-c6739fe908df.png">

### Debug logs

Error: Fa

[2022-06-09 10:19] gundant commented on #2681
Similar issue with react canvas elements. Tried many ways to get around it and the workaround for this issue finally fixed it.

Screenshot of an element that was below current view would apparently not be scrolled into view by cypress (can see this doing GUI run; does not scroll unless workaround added), fullpage would in some resolutions give weird results like in this issue, scaled=false missed

[2022-06-09 10:33] lmiller1990 commented on #22210
Hi, is it possible you are on a very old docker image? `def DockerImageTag = "8.7.0"` looks like the 8.7.0 version of Cypress?

You could try a newer one, ideally the latest (10.0.3): https://hub.docker.com/r/cypress/included/tags

[2022-06-09 10:37] lmiller1990 commented on #22211
Hi! Can you share your `package.json`? I'm mainly interested in what version of Next.js you are on.

If you could make a minimal reproduction, we can pull it down and take a look - but if you post your `package.json`, that should be enough to get started with debugging.

[2022-06-09 10:43] tonysimpson-sonocent commented on #20897
@mschile hi, I work with Alyssa. I have cypress logs with `cypress-verbose:proxy:http,cypress:*` from a frozen build I can send them to you if there some secure way of doing that.

We know a bit more about the issue, it looks like we are triggering a bug in chrome's javascript engine, we can see using gdb that the --render process is just looping over the same few functions related to javascript E

[2022-06-09 10:48] fityanos commented on #22211
Hi, hope this helps
[code]

[2022-06-09 10:50] lmiller1990 commented on #22208
Hey, thanks for the feedback. Interesting... I wondered if this is CI-related memory issue, but you get the same thing both locally **and** on CI? Or, perhaps, a memory leak somewhere and the browser has a hard limit.

I'm guessing this is not an open source repo - are you able to share some info, maybe `package.json` and `cypress.config`? Are you using webpack or vite? Also, what browser are you

[2022-06-09 10:52] lmiller1990 commented on #22204
Can you share your `package.json`? I wonder if upgrading to the latest [code coverage](https://www.npmjs.com/package/@cypress/code-coverage) would help -- the latest was 12 days ago, which has some tweaks for Cypress 10.

[2022-06-09 10:56] MJohner opened #22217 "Cypress crashes on websocket upgrade request over https after update from 9.7.0 to 10.0.3"
### Current behavior

After I updated my Cypress Version from 9.7.0 to 10.0.3 Cypress crashes on all my tests, which are executed against our test environment. The same tests on localhost are still working.
On the test environment I use a client certificate for authentication.
I can start the test and while its running, Cypress crashes with the following error, when my application tries to open a

[2022-06-09 11:01] lmiller1990 commented on #22082
When you say "only called once", what exactly are you meaning? You mean once per *file change*? If someone is continually editing a file, we want to show that it's been changed N minutes ago, so we'd re-grab the git history every time they save.

Isn't this what we we are already doing? I looked through the code but I don't see anything that should be double triggering - sorry if I'm completely mi

[2022-06-09 11:07] LielBarouch commented on #22210
@lmiller1990
Yes, everything is working locally, the issue might be using old docker image.

[2022-06-09 11:14] mmartin24 commented on #22152
Thanks @lmiller1990. The tip about CLI flags in the `package. json` works and actually I currently use it daily. However, I was thinking more about the newcomers. Most of current tutorials I have seen about Cypress stress the idea of how after a couple of commands you are set to do your first test. After the new implementation that experience of easy-flow did not seem that easy for me at least. I

[2022-06-09 11:20] #21939 closed

[2022-06-09 11:20] #22074 closed

[2022-06-09 11:20] #22096 closed

[2022-06-09 11:35] willoliveira-air commented on #22129
@AtofStryker thanks for taking this one.

Well, thanks for adding this note about the debug approach. When I'm adding your suggestion `on error` instead of the `uncaught:exception`. Sometimes I'm able to see the error from my environment itself and sometimes I can't because it is running fine.

So, on the same way from the `resizeObserver` error, it is intermittent.
![Screenshot 2022-06-09 at 13 2

[2022-06-09 11:41] mutoe commented on #22147
Same issue here.

yarn: '1.22.18'
node: 14.9.3
macOS 12.3.1 (M1 Pro arm64)

[2022-06-09 11:57] Dragod commented on #22083
Another reproduction of scrolling going back to top: https://x.pfcode.net/VujE3/jUSOFEKe91.mp4

[2022-06-09 12:12] #22044 closed, assigned to AtofStryker

[2022-06-09 12:12] danfooks commented on #22129
@AtofStryker Thank you for this recommendation. This solution seems to work! This is actually my first time using `cy.origin`, so I was unaware that we had to catch exceptions separately rather than rely on the exception handler in `e2e.js`.

[2022-06-09 12:32] Kolombiken commented on #18527
I have a smilar issue. Using Cypress 10.0.2.
For some reason the page scrolls down when I want to perform a click. This hides the element is (which was visible before the scrolling took place). When interacting manually this never happens. If I only check for the existence of the element no scrolling is performed either.
I'm guessing the scrolling happens so the element should be in focus but ther

[2022-06-09 13:59] neuronetio opened #22219 "[get] changes the position inside an element"
### Current behavior

see the attached video

https://user-images.githubusercontent.com/25027696/172865116-d9430097-c125-4593-8e39-ccc773f144b0.mp4

### Desired behavior

Elements should not move during the test. Under normal conditions, nothing like this happens.

### Test code to reproduce

[code]

[code]

### Cypress Version

10.0.3

### Other

_No response_

[2022-06-09 14:30] AtofStryker commented on #22129
@danfooks I'm glad that solution is working for you! I was looking through the `cy.origin` docs myself and couldn't find a clear area where this kind of event behavior is described, so I am following up with our developer experience team to verify a location for this type of thing. Are you running into any additional issues or do you feel this issue might be ready to close?

[2022-06-09 14:45] JeroenVdb commented on #22192
I maybe have a related problem.

Some data:
- Cypress version 10.0.3
- I have the problem in my Docker only, base image: node:16.15.1-alpine3.16
- I don't have the problem when I run it on my Macbook

[code]

[2022-06-09 14:55] marktnoonan commented on #21837
This issue (#22203) reports a use case for maintaining the search term in memory, both when returning to the main specs list and when using the inline list. I think that the way to address this is to fully define the outcome of this issue, since we know that we want it for 9.x parity.

The required "clear" button (at least, on the main specs list search) is in progress as a good first issue, which

[2022-06-09 15:01] #22203 closed

[2022-06-09 15:08] teareed88 commented on #22064
@AtofStryker  I decided to try adding all of the cypress timeouts with large values:
module.exports = defineConfig({
  e2e: {
    defaultCommandTimeout: 1024000,
    execTimeout: 1024000,
    taskTimeout: 1024000,
    pageLoadTimeout: 1024000,
    requestTimeout: 1024000,
    responseTimeout: 1024000,
    // We've imported your old cypress plugins here.
    // You may want to clean this up later b

[2022-06-09 15:17] teareed88 commented on #22064
@AtofStryker I then decided to try executing "yarn cypress open --e2e --browser chrome".

Here is the Debug log:

yarn cypress open --e2e --browser chrome
yarn run v1.22.10
$ "E:\Source\External Repos\Cypress Issue 22064\cypress-issue-22064-post-migrate-main\node_modules\.bin\cypress" open --e2e --browser chrome
  cypress:cli:cli cli starts with arguments ["C:\\Program Files\\nodejs\\node.exe","E:

[2022-06-09 15:37] marktnoonan commented on #22198
Hi @yktoo, thanks for reporting this. Are you able to create an isolated reproduction? I tried reproducing by placing a file in the root directory of a project with the same name as the directory itself to mimic your `once/once` path but everything worked as expected for me. I also tried a totally empty/fresh Cypress project with a similar setup. Your issue looks like real Cypress issue, I think I

[2022-06-09 15:42] danfooks commented on #22129
I think we are good to close this one out! And to respond to your other message, yes, the `ResizeObserver` error was being thrown in the Cypress test runner itself, rather than in the browser, as far as I know.

[2022-06-09 15:58] JawadM-TaiSoftware commented on #22043
When will the update be pushed as of now?

[2022-06-09 16:22] marktnoonan commented on #22192
@aommm It looks like you are running into an issue with running a spec that is not found with the default `specPattern` ([docs here](https://docs.cypress.io/guides/references/configuration#e2e)). This can be set for `e2e` in `cypress.config.js` and the default value is `cypress/e2e/**/*.cy.{js,jsx,ts,tsx}`.

Thanks for providing the reproduction! The following config is an example of how make the

[2022-06-09 17:07] emildev666 commented on #22217
Before it worked good. But today I got same issue :/. Can't find the solution, so downgraded to 9.7.0 again. Hope you'll find solution soon. Good luck.

[2022-06-09 17:10] skjnldsv commented on #20787
I have the same issue :/
@mmaietta, were you able to find a solution?

[2022-06-09 17:11] #21435 closed

[2022-06-09 17:19] skjnldsv commented on #20787
Ah, found the issue, `ROOT_ID` expect a root element with the ID `__cy_root`
![image](https://user-images.githubusercontent.com/14975046/172906664-ada06340-b209-47c9-9bf2-2cd6d2caf87c.png)

Editing the `component-index.html` to this fixed it
[code]

[2022-06-09 17:37] rockhold commented on #22043
@JawadM-TaiSoftware, we've run into issues with failing Windows tests that are holding things up. The team is looking into whether they are just flaky or if something legitimately broken snuck through under the guise of flake in a previous merge. We run a team that spans several timezones and have intentionally remained mindful of the working hours we're requesting for those involved in these patc

[2022-06-09 17:39] todd-m-kemp commented on #18415
The lack of video recording for Firefox is a big challenge for my organization. Until recently we were using only Chrome for our test runs but we decided that we needed to diversify the browser we use for our tests. When we experience failing or flaky results in tests that run in Firefox, not having a video recording show up in the Cypress Dashboard makes it very difficult (and in some cases impos

[2022-06-09 17:41] BlueWinds commented on #22029
Discussed this with @estrada9166, and together came to the conclusion that everything needed here has already been done in https://github.com/cypress-io/cypress/pull/21278/files. That fixed the primary issue, and I've reviewed the code as best I can to verify that there aren't any other instances we've missed where this will be a problem.

Closing the ticket without a PR, nothing more to see here.

[2022-06-09 17:44] rachelruderman commented on #22181
Hi @bvanderneut, thank you for reporting! [I put together a spec to reproduce the behavior](https://github.com/rachelruderman/cypress-example-kitchensink/blob/rachel/cypress/e2e/3-github-issues/base_url.cy.js) but it all worked as expected.

Can you provide a reproducible example? Thanks!

[2022-06-09 17:56] rachelruderman commented on #22181
Hi @bvanderneut, thanks for reporting! Can you provide a reproducible example?

I tried to recreate on [my kitchensink branch](https://github.com/rachelruderman/cypress-example-kitchensink/blob/rachel) but baseUrl worked as expected for me:
- [base_url.cy.js](https://github.com/rachelruderman/cypress-example-kitchensink/blob/rachel/cypress/e2e/3-github-issues/base_url.cy.js)
- [cypress.config.js](

[2022-06-09 18:00] AtofStryker commented on #22064
@teareed88 interesting. There are two logs that stick out to me

* `cypress:server:plugins resolving typescript with projectRoot 'E:\Source\External Repos\Cypress Issue 22064\cypress-issue-22064-post-migrate-main`
* `cypress:server:plugins could not resolve typescript, error: Cannot find module 'typescript'`

This error, as well as `did not resolve immediately` should be wrapped and gracefully han

[2022-06-09 18:18] IswaryaSekar1510 commented on #16624
CypressError
cy.type() failed because it requires a DOM element.

The subject received was:

The previous command that ran was:

On testing stripe test card
  cy.getWithinIframe('[name="cardnumber"]').type('5454545454545454');

[2022-06-09 18:23] rachelruderman commented on #22190
Hi @svelver, thank you for reporting and especially thank you for providing a demo project! 😸

I'd just like to confirm some behavior with you. In the demo project README, you mention

However, I was experiencing failures with `npx cypress run`, and also in run/open mode when removing the Axios interceptor. Can you confirm?

[2022-06-09 18:37] rachelruderman commented on #22193
@anselmbradford thank you for reporting this issue! I can confirm it does hang. I let it hang for 5 minutes and observed these DEBUG logs:

<img width="1723" alt="Screen Shot 2022-06-09 at 2 37 27 PM" src="https://user-images.githubusercontent.com/26726429/172920193-117c3f4d-b95e-4318-b30c-2ba0582fd6c4.png">

[2022-06-09 18:49] mjhenkes opened #22230 "Test Isolation"
Updated to reflect latest design decisions:
There will be two modes of test isolation, `on` and `off`, with `on` being the new default mode.  When test isolation is `on`, before each test, Cypress will:

- clear the page by visiting `about:blank`
- clear cookies
- clear local storage
- clear browser storage

When test isolation is `off`, Cypress will not clear the browser context or the page.

[2022-06-09 18:51] mjhenkes commented on #22230
We need to break this issue up into smaller issues before we assign it out.

[2022-06-09 18:53] marktnoonan commented on #22183
Please provide some more information about this issue so that we can confirm if this is an issue in Cypress itself or something to do with your application.

Here are some tips for providing a [Short, Self Contained, Correct, Example](http://sscce.org/) and our own [Troubleshooting Cypress](https://on.cypress.io/troubleshooting) guide.

[2022-06-09 19:24] kaiyoma opened #22231 "Cypress can't connect to Firefox 100 inside a Docker container"
### Current behavior

[code]

### Desired behavior

Cypress should work.

### Test code to reproduce

Run any tests against headless Firefox 100 in a Docker Linux environment.

### Cypress Version

9.6.1

### Other

_No response_

[2022-06-09 19:50] KatieMFritz commented on #22147
Same. Yarn 1.22.17, Node 16.0.0

[2022-06-09 19:51] AtofStryker commented on #22153
Hey @alexkrolick. Thank you for filing an issue. I believe I was able to reproduce some of the behavior you are seeing with this [reproduction repository](https://github.com/AtofStryker/cypress-issue-22153). Can you confirm this is the behavior you are seeing?

[2022-06-09 19:55] AtofStryker commented on #22044
@YoupHulsebos is there an issue open for this bug you are seeing? If not, I would strongly encourage you to open one so we can triage it appropriately. I want to make sure it gets logged someplace 😄 .

[2022-06-09 20:20] mschile commented on #22174
I prototyped using `window.open` by injecting the cross-origin runner into the page being loaded. I was able to then open the page in a new window and communicate back to the primary page.

https://user-images.githubusercontent.com/2002044/172936738-85595e53-44a8-4847-a6f5-2ed7f17d6e38.mov

I was not able to get `cy.on('window:before:load')` to fire before the page loaded. I believe this was due t

[2022-06-09 20:20] #22174 closed

[2022-06-09 20:29] rachelruderman commented on #22196
Hi @HeshamMoneer, thank you for reporting! Can you provide a reproducible example in isolation? It looks like the current one requires internal implementation logic from your application with the ethereal mailbox call

[2022-06-09 20:32] parazitl2 commented on #22147
The same, yarn 1.22.19, node 16.14.2

[2022-06-09 20:36] tfaron commented on #22163
@AtofStryker Can we reopen this issue?
When I rebooted my mac today I am not back to where I was before with it not launching chrome

Here is the debug log with npx cypress open and 10.0.3

<details>
<summary>debug logs with npx cypress open</summary>
rom: 'default' }, resolvedNodeVersion: { value: null, from: 'default' }, responseTimeout: { value: 30000, from: 'default' }, retries: { value: [Obje

[2022-06-09 20:43] mjhenkes commented on #21938
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-09 20:43] #21938 closed

[2022-06-09 21:06] mschile commented on #21525
## Proposals:

### Create new RWA:
Pros:
* Separates concerns from existing repos that have other purposes
* Can create CI that won't impact Cypress's build/release
* Can be maintained by engineering (E2E-Auth)

Cons:
* New repository to maintain

### Use existing RWA:
Pros:
* Repository already exists
* Already connected to Auth providers through API calls (not all providers are supported)
* Can

[2022-06-09 21:13] fusionshoes commented on #22132
Hey all. Dropping a comment here in case it could be helpful for this issue moving ahead. I'm seeing this crash regularly when closing cypress (cntl+C or menu), after a test has run. Closing cy just after it opens, or after opening a browser window to show specs (but not running them) does not throw this exception/error.
If a spec is ran,and then cy gets closed, it does show this error.

![cy1003c

[2022-06-09 21:24] sundeem7 commented on #20897
@tonysimpson-sonocent Can you send me an email with the debugging logs to shawn.harris@cypress.io, please? Please list this GitHub issue as the subject line.

[2022-06-09 21:43] marktnoonan opened #22233 "Improve error message when a spec passed with `--spec` is not found in run mode"
### What would you like?

I'd like to receive an informative error when a spec is not found, that guides me to possible causes and solutions. In open mode when no specs are found, we encourage users to review their configured `specPattern`. In run mode, the error is a bit vague and does not help the user move forward or mention that a glob that may not have been set by the user is preventing Cypre

[2022-06-09 21:54] mschile commented on #21525
After discussion, we've decided to proceed with the first proposal (Create new project).

Plan:
* Create a new project (cypress-origin-providers???)
* Incorporate Auth0???
* Create a new test for each provider that verifies the user can perform the desired task (e.g. login for auth providers)
  * Create testing user for the provider
    * Does this need to be maintained by Cypress somehow?
  * If

[2022-06-09 22:16] garsuga opened #22235 "Incorrect behavior when using certain keywords"
### Current behavior

Write some code like
[code]

Output is
[code]

Using code like
[code]
yields this error on the first line
`ReferenceError: Jself is not defined`

This points towards the replacements done in [https://github.com/cypress-io/cypress/blob/56234e52d6d1cbd292acdfd5f5d547f0c4706b51/packages/proxy/lib/http/util/regex-rewriter.ts](https://github.com/cypress-io/cypress/blob/56234e52d6d

[2022-06-09 22:33] dasDaniel commented on #9376
I keep getting this issue lots

This happens because my IDE keeps sneaking in mocha import every time I add, for example, `beforeEach`

[code]

you might think I'd learn to recognize it, but yet again I was bewildered then 🤦‍♂️🤦‍♂️🤦‍♂️

[2022-06-09 22:40] nwalters512 commented on #910
I also ran into this. In my case, I had a test that was submitting a form, but due to a bug in the backend code under test, the server replied with a 403. Because I didn't actually assert anything about the response HTML, that test was passing when it shouldn't have. I can update the test to look for something specific in a correct response, but it'd be great to have the test automatically fail in

[2022-06-09 23:11] teareed88 commented on #22064
Perhaps we might be able to do a pairing session, so that you could look at my computer to see what is happening with Cypress 10.  Let me know what you think.

From: Bill Glesias ***@***.***>
Sent: Thursday, June 9, 2022 11:01 AM
To: cypress-io/cypress ***@***.***>
Cc: Reed, Tom E ***@***.***>; Mention ***@***.***>
Subject: Re: [cypress-io/cypress] Browser closes itself just after "npx cypress ope

[2022-06-10 01:47] odai-alali commented on #22159
Sorry for the late answer, but wouldn't such a behavior be bad if cypress was used for Visual Regression tests?

If my Visual Regression tests are distributed into folders, running the tests under one of these folders will have unexpected results

[2022-06-10 02:24] HeshamMoneer commented on #22196
Hi @rachelruderman I have been trying to reproduce it and it was only reproducible on the app being tested
Maybe a new feature was added at the time I migrated to Cypress 10 I still need to make further investigations

[2022-06-10 02:24] #22196 closed

[2022-06-10 03:02] mossnz opened #22236 "Dashboard - Github Integration - PR Comment - Would like to turn off Run Details Table"
### What would you like?

I'd like to be able to configure and turn off the "Run Details" table and section in Github PR Comments from the Cypress Dashboard, or customise how much information is provided there.

For reference, here's a random PR link from the Cypress repo with a PR Comment
https://github.com/cypress-io/cypress/pull/22212#issuecomment-1150825089

And the Run Details table takes up

[2022-06-10 04:21] marktnoonan commented on #22147
Thanks for for logging this. I've confirmed it locally as well, let's see what we can do to clean up this warning.

[2022-06-10 04:54] lmiller1990 commented on #22065
Thanks for the debug log. Will look into this one first thing next week - please wait a few days.

[2022-06-10 06:24] capc0 commented on #15903
Since cypress 10 is now released, it would be appreciated if angular component testing support receives some attention again.

It really should get a own section "Angular Component Testing" in the guides also https://docs.cypress.io/guides/component-testing/writing-your-first-component-test#Component-vs-End-to-End-in-a-Nutshell

[2022-06-10 06:26] lmiller1990 commented on #15903
Yep, agreed, we are working on it (@jordanpowell88 mainly). I'll find out more and let you know, there should be branch you can follow and try out.

[2022-06-10 06:31] #21823 closed

[2022-06-10 06:35] bvanderneut commented on #22181
It's about this line of documentation:

"_You can create your own cypress.env.json file that Cypress will automatically check. Values in here will overwrite conflicting environment variables in your [Cypress configuration](https://docs.cypress.io/guides/references/configuration)._"

[On that page](https://docs.cypress.io/guides/references/configuration#Testing-Type-Specific-Options) there is a way

[2022-06-10 06:45] abdullahsl2 commented on #2667
i have also face this issue have you solved it

[2022-06-10 06:53] danielo515 commented on #2650
Solution proposed by @DominicGaribaldi is working for us.
However, in our case the behaviour is a bit different. When calling `clear` in a number input clears is, but when the type command is called with any number value, instead of just typing it, it is incrementing the values in some weird ways, like takin as much steps up as the length of the string.

[2022-06-10 06:57] yktoo commented on #22198
Hi @marktnoonan, I managed to create a minimal project that reproduces the issue: [cypress-10.tar.gz](https://github.com/cypress-io/cypress/files/8876463/cypress-10.tar.gz).

What I figured out is that it's apparently down to `tsconfig.json` in the root:

[code]
If I remove this file (or `once`), Cypress goes on with the startup.

[2022-06-10 07:11] isklep opened #22239 "Open in IDE from Error block in open mode does not work."
### Current behavior

Click on "open in IDE" in error report on Open mode does not working after update to 10.
macOS 12.4
cypress 10.0.3
Browser Chrome 102
IDE VSCode

### Desired behavior

Open Ide https://share.merce.com/files/0Fg7SnEYLg.png

### Test code to reproduce

TypeError
cy.shouldSeeProductContactFormEmailValidationMessage is not a function
[../cypress/e2e/product_contact.js:23:16](http

[2022-06-10 07:15] svelver commented on #22190
I can partially confirm the behavior you are experiencing.

Here is a summary of the behavior I am experiencing:
* I just freshly cloned the demo project, installed all dependencies using `npm install`, then started the app with `npm run serve` and opened cypress using `npx cypress open`. Running the *demo.cy.ts* results in the screenshot shown above (the one from the original issue).
* When comme

[2022-06-10 07:31] lmiller1990 commented on #22210
Let me know how it goes with more recent docker image, if still no luck, we can investigate more. Thanks!

[2022-06-10 07:32] YoupHulsebos commented on #22044
No, I didn't create a issue for it just yet. The upgrade of the package was proposed by renovate automatically. As was the cypress update to v10.  But since that also included the angular upgrade to V14 I reverted some. As soon as we have some time to tackle all the upgrades and the issue is still present I will create a issue.

[2022-06-10 07:33] lmiller1990 commented on #22152
Default to last browser seems like an easy fix with high immediate value - I forwarded this info to our DX and product team, will do my best to keep you updated.

[2022-06-10 07:35] fabian-froehlich commented on #22231
We had similar issues running cypress 9.7, while chrome had no issues.
[code]

[2022-06-10 07:37] ToNewDay commented on #22185
same

[2022-06-10 07:59] lmiller1990 opened #22242 "Cannot develop Cypress 10 on windows with glob chars in path"
### Current behavior

I put Cypress in ` ~\code\f]oo(bar )\cypress10` and opened it (using Cypress monorepo, `cd packages/launchpad && yarn cypress:open`.

I think this is only a problem for development, not actual production users.

[code]

### Desired behavior

It should just open and work.

### Test code to reproduce

1. make directory named ` f]oo(bar )`
2. clone cypress monorepo in there
3. y

[2022-06-10 08:03] lmiller1990 commented on #22239
Hi! Are you able to reproduce while running with `DEBUG=cypress*` and see if there's anything logged when it fails to open? I was not able to reproduce on my mac.

[2022-06-10 08:23] johansatge opened #22243 "Being able to disable cypress verify step"
Hello!

### What would you like?

I'd like to be able to disable the verification process (`cypress verify`) that is triggered on `cypress run`.

### Why is this needed?

Our app that is running in Docker/Jenkins suffers of the timeout issue that was raised a few times (#4624 #6082)

We recently increased the timeout to 60s thanks to the new [`CYPRESS_VERIFY_TIMEOUT`](https://github.com/cypress-io

[2022-06-10 08:45] Nutcracker52 commented on #4623
Hi Jennifer,

I am experiencing something similar in Vue buefy Tabs.
Buefy tab items has style display:none; but this is invalid for active tab and cypress failing to identify that and fail the test.

Over here I am trying to click a button inside active tab which does not have active display:none; property. This value is not valid for active tab but cypress cannot identify it.

![image](https://u

[2022-06-10 09:00] Makoehle commented on #7937
Can be reproduced having a cypress.json with the following keys set up at once:

[code]

[2022-06-10 09:16] aommm commented on #22192
Thanks a lot for the prompt reply! It works for me now.

### Some random thoughts:

After reading between the lines in your documentation, it seems like two things are happening when users specify `--spec`:
1. Cypress loads specs based on `specPattern`
2. Cypress searches loaded specs based on `--spec`

It does not feel very relevant to have this two-step process when I've already told Cypress whi

[2022-06-10 09:19] mb73 commented on #8418
I noticed that after upgrading from Cypress 9 to 10, my IDE complained about the `includes` statement and suggested to increase `lib` from `es5` to `es6` in `cypress/tsconfig.json`, which I did. After also [restarting the TS server](https://stackoverflow.com/questions/64454845/where-is-vscodes-restart-ts-server), the error disappeared. Not sure if this is relevant here, though.

[2022-06-10 09:33] galczo5 commented on #21505
We resolved this problem locally. From our investigation, it looks like GC is not working correctly when you stay in the same domain in every test. Our solutions is quite simple, between tests we call `cy.visit` with address of local html file when it's loaded we force the GC.

It works for us, but It might be problematic when you have a lot of very small and fast tests.

[2022-06-10 09:36] aommm opened #22245 "Changed precedence of config loading in Cypress 10"
### Current behavior

Hi!

In Cypress 10, `CYPRESS_baseUrl=x` takes precedence over `--config baseUrl=x` when loading configuration.

[code]

### Desired behavior

This is the behaviour in Cypress 9:
[code]

### Test code to reproduce

https://github.com/aommm/cypress-bug-2
To prep the repo:
[code]
Working in Cypress 9 ✅ :
[code]
Failing in Cypress 10 ❌ :
[code]

### Cypress Version

10.0.3

### O

[2022-06-10 09:58] RalphBragg commented on #3081
I have the same problem on alpine linux node 16

[2022-06-10 10:33] justin-caldicott commented on #1496
@MartijnHols Did you ever manage to get something similar working for PayPal?

I worked around the Adyen framebusting by setting the sandbox property on the app iframe to `allow-forms`. I think I might prefer your approach though, as there's no need to reset this afterwards.

[2022-06-10 11:30] marktnoonan commented on #22192
Thanks for the comments! Closing this one now. I noticed your comment @JeroenVdb, please open a new issue if there is still a problem related to this for you with Docker.

[2022-06-10 11:30] #22192 closed

[2022-06-10 11:31] dawid-bobowski commented on #3310
Any progress on that? I have the same issue with Cypress 8.3.0 on Jenkins.

[2022-06-10 11:46] lauterry commented on #22181
Hi

There is an issue with baseUrl.

The one that is taken into account by cypress is the one on the root of the configuration and not the one into the e2e object

What is written into the documentation is not correct

<img width="745" alt="Capture d’écran 2022-06-10 à 13 46 11" src="https://user-images.githubusercontent.com/1374238/173058003-8625e24a-f75e-4241-9d46-a9de2c8e3323.png">

[2022-06-10 11:52] fityanos commented on #22211
@marktnoonan upgrading to `"next": "12.0.10",` from ` "next": "10.0.1",` solved the issue - seems it's specific `next` version

[2022-06-10 12:48] bvanderneut commented on #22181
That is not correct what you are telling. If I add it like this:

[code]

I get this error message:

<img width="387" alt="image" src="https://user-images.githubusercontent.com/44266055/173067332-a5857476-80cf-4236-86df-92cfbe560a5f.png">

[2022-06-10 12:56] lauterry commented on #22181
Mhhh it is weird. I do not have this message. I continue to investigate

[2022-06-10 13:05] khitrenovich commented on #22035
The light mode is definitely a must here. Unfortunately, with my far-from-perfect vision I cannot read white on black - the black blurred for me, so the black background is blended into the white font up to the point I cannot distinguish between the letters. I know it's a bit messy of an explanation, it's hard to explain unless you actually see things this way... The lack of the light mode is prac

[2022-06-10 13:22] lauterry opened #22247 "baseUrl not in right place in a dynamically generated configuration"
### Current behavior

I have a dynamically generated configuration where I put my `baseUrl` at the root instead of the `e2e` object.

<img width="539" alt="Capture d’écran 2022-06-10 à 14 58 03" src="https://user-images.githubusercontent.com/1374238/173072133-0a612160-0855-4c31-a63e-fc1b793c1269.png">

<img width="457" alt="Capture d’écran 2022-06-10 à 14 57 59" src="https://user-images.github

[2022-06-10 13:42] AtofStryker commented on #22064
@teareed88 I think the typescript failures are likely a false signal of this issue. Both those errors are logged and handled gracefully inside the CLI, so I doubt it is actually a problem. What I find interesting is that you mentioned other colleagues don't have the same problem but are running similar machine configurations such as yourself, the main difference is that you are working from home v

[2022-06-10 13:43] AtofStryker commented on #22129
@danfooks Perfect. I am going to close this out.

[2022-06-10 13:45] AtofStryker commented on #22129
@willoliveira-air I am going to continue our conversation on issue #22113 as I think you and @mlberkow are having the same, if not a very similar issue, i.e. a resize observer failure that is being generated from the test itself, not the application.

[2022-06-10 13:48] dmbartle commented on #22188
Just sharing for info:

52 years lines up with unix (epoch) time=0 (1 January 1970)

I'm not able to reproduce this issue on my machine which is running Windows

[2022-06-10 13:49] hansottowirtz commented on #22196
We're having the same error on CI.

[2022-06-10 13:53] lmiller1990 commented on #22245
Hi! If it's not in the change log, I'd say it's unintended. We did change some config options like `testFiles` -> `specPattern`, but the loading precedence should be the same. We should fix this, sounds like a bug.

[2022-06-10 14:13] tfaron commented on #22163
@AtofStryker I created a new project and still have the issue:

<details>
<summary>debug logs</summary>
Last login: Fri Jun 10 10:02:49 on ttys000
tfaron@tfaron's-MacBook-Pro ~ % cd Urgently
tfaron@tfaron's-MacBook-Pro Urgently % cd Tes
cd: no such file or directory: Tes
tfaron@tfaron's-MacBook-Pro Urgently % cd Test
tfaron@tfaron's-MacBook-Pro Test % ls
cypress			node_modules		package.json
cypres

[2022-06-10 14:37] AtofStryker commented on #22173
Hey @sandy-farnsworth. Thank you for creating an issue! Would you be able to provide a reproduction to demonstrate the issue you are running into? I created a reproduction repository [here](https://github.com/AtofStryker/cypress-issue-22173) that you are more than welcome to use. I was not able to reproduce it. It looks like you are using something similar to Google Drive, where I tried to create

[2022-06-10 14:41] teareed88 commented on #22064
@AtofStryker I have contacted my IT department and they said that there is no Group Policy or Software Restriction Policy that would prevent Cypress.exe from running.

[2022-06-10 15:02] rachelruderman commented on #22200
Hi @mhersim, thanks for reporting this issue! I consulted with the team and the response is

Here's a support article on [how to install Rosetta](https://support.apple.com/en-us/HT211861). Please let me know if this helps 🙂

[2022-06-10 15:11] #22056 closed, assigned to ryanthemanuel

[2022-06-10 15:35] AtofStryker commented on #22186
Related to #14986 and #16905

[2022-06-10 15:51] sandy-farnsworth commented on #22173
@AtofStryker I will do that. Did you try with multiple elements?

[2022-06-10 15:53] kaiyoma commented on #22231
Chrome has also been very reliable for us, but Firefox testing has been a huge PITA for the year or two I've been trying to make it work for us. We can barely get Cypress to connect to Firefox anymore, and in the rare event it does work, tests might fail for odd reasons, and video recording doesn't work. It's a pretty sorry state of affairs considering Cypress and Firefox are both mature products.

[2022-06-10 16:47] elamurugan-r commented on #19444
Is there anyway to define multiple env files like (cypress.test.env.json, cypress.prod.env.json) and if so how to configure and how to run based on env file from run command in Cypress10?

[2022-06-10 16:51] mschaefer-gresham commented on #22185
Thank you! That solved the issue.

[2022-06-10 17:14] bobmccracken commented on #22104
Oh my dear lord here it is, the documentation I have been looking for. What a relief. I hope my hair grows back.

This desperately needs documentation somewhere.

[2022-06-10 17:16] AtofStryker commented on #22199
Hey @edvitor13. Thank you for filing an issue! I was also able to reproduce the issue by running one of the `@package/driver` tests within the `develop` (SHA 72e6b882bd) branch, specifically [click.cy.js](https://github.com/cypress-io/cypress/blob/develop/packages/driver/cypress/e2e/commands/actions/click.cy.js). I am going to document the steps I took below for whoever ultimately works on this bu

[2022-06-10 17:29] lugosium opened #22251 "Cypress run freeze"
### Current behavior

Hello,

Launching cypress run provides sometimes freeze in middle of the tests:

I have no other choices than `ctrl+c` and relaunch tests hopping it will pass the next times.
No error is shown.

`cypress run --browser chrome --spec 'tests/cypress/e2e/lugosium-*/**/*'` on MacOS 12.4 and project running under docker.

![Capture d’écran 2022-06-10 à 19 24 31](https://user-imag

[2022-06-10 17:38] elamurugan-r commented on #1464
In `Cypress10`, Is there a way to have the `cypress.env.json` file in some other name like `cypress.test.env.json`? If so how it should be configured ?

[2022-06-10 17:49] AtofStryker commented on #22217
Hey @Mjohner. Thank you for opening an issue. I tried to reproduce with the example you provided but the test didn't seem to fail or produce any failure logs. You provided enough context where we might be able to add a unit test and potentially fix the issue, but a full reproduction would be very beneficial. Would you be able to provide that?

![Screen Shot 2022-06-10 at 1 47 23 PM](https://user-i

[2022-06-10 18:07] AtofStryker commented on #22219
Hey @neuronetio. Thank you for opening an issue. I put together a quick reproduction [repo](https://github.com/AtofStryker/cypress-issue-22219) with the code you provided. I had no issues reproducing it and definitely looks like a bug.

[2022-06-10 19:18] cameroncooks-branch commented on #7868
Still seeing this in cypress 9.6.0

[2022-06-10 19:30] cameroncooks-branch commented on #7868
![Screen Shot 2022-06-10 at 12 30 26 PM](https://user-images.githubusercontent.com/87397241/173136932-834aa562-2f8e-42bb-9489-6bfe3f9b4f75.png)

[2022-06-10 19:44] wball-pcty commented on #22086
I am running into this on windows 10, with cypress 9.7.0, and firefox 101. Cypress successfully launches firefox, but fails to connect. The interesting thing that I found though is, if you open a new firefox window from the instance of firefox that cypress launches, cypress connects.

[2022-06-10 20:24] fusionshoes commented on #19481
related
https://github.com/cypress-io/cypress/discussions/22254

[2022-06-10 20:29] wball-pcty commented on #22086
If I launch firefox with the "-browser" option, it will open two windows automatically and connect.

[2022-06-10 20:32] #22185 closed

[2022-06-10 20:32] #22210 closed

[2022-06-10 20:37] #22104 closed

[2022-06-10 20:42] tbiethman opened #22255 "Inconsistent expectations for `supportFile` values in v10"
### Current behavior

If a specified `supportFile` path contains glob syntax, including parentheses/brackets, it cannot be found by Cypress:

<img width="871" alt="Screen Shot 2022-06-10 at 3 07 11 PM" src="https://user-images.githubusercontent.com/1711637/173142800-95e99857-88e7-4f7c-814e-a04f81f202d9.png">

<img width="1135" alt="Screen Shot 2022-06-10 at 3 25 59 PM" src="https://user-images.git

[2022-06-10 20:45] mjhenkes commented on #21992
This seems to be working as we expect it to be. Please open a new issue if there is new information to provide concerning the original issue and we can re-investigate.

[2022-06-10 20:45] #21992 closed

[2022-06-10 20:45] #22048 closed

[2022-06-10 20:46] mjhenkes commented on #21991
Right now there doesn't seem to be enough information to reproduce the problem on our end. We'll have to close this issue until we can reproduce it. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please open a new issue with a reproducible example and link to this issue. Here are some tips for providing a [Short, Self Contained, Cor

[2022-06-10 20:46] #21991 closed

[2022-06-10 20:53] mjhenkes commented on #22186
Closing as a duplicate of #21602

[2022-06-10 20:53] #22186 closed

[2022-06-10 20:56] mjhenkes commented on #22150
@neuronetio, we have released cypress 10.1.0 with a fix for the possibly related issue #22168, could you try to re-create this issue again to see if we possibly fixed this issue?

[2022-06-10 21:10] mjhenkes commented on #22242
@lmiller1990, does this fix https://github.com/cypress-io/cypress/pull/22222 help or is this another glob we need to fix?

[2022-06-10 21:13] TheSRK commented on #7306
So, this issue was reported in 2020 and remains yet to be solved? Perhaps don't lure people with Talks, Blogs, and Gigs to use Cypress if you can't even give a solution to a pretty basic issue like DOM re-rendering and many more.

Of course, this is just another comment out of frustration, but I would love to see Cypress thrive.

[2022-06-10 21:17] marktnoonan commented on #22199
Possibly related: https://github.com/cypress-io/cypress/issues/16098

Hopefully helpful: I was thinking we might want to not do this scroll listener in run mode? I commented in the other issue but I don't recall if I actually tested that

[code]

[2022-06-10 21:32] jchamale commented on #7306
@TheSRK in my case I rechecked my render workflow and I saw that on load we were triggering some requests and they we're triggering some rerenders somewhere, I added `cy.intercept(...).as(...)` and then `cy.wait(...)` to make sure everything was loaded successfully. Also created a new command, not the perfect solution but this works just fine:

[code]

These changes allowed me to test like a charm

[2022-06-10 21:45] flotwig commented on #4478
I've started a PR to add 64-bit Linux Arm support (`arm64`, `aarch64`, `armv8`) that will close this issue: https://github.com/cypress-io/cypress/pull/22252

This will still not provide support for 32-bit Arm (`armv7`). So I can get an idea of the demand for this, who here specifically needs 32-bit Arm support in Cypress, not 64-bit Arm?

[2022-06-10 22:02] arnoldsmithson opened #22257 ""Cypress Quit Unexpectedly" when closing Cypress using X button in window corner"
### Current behavior

When quitting cypress via the X button in the corner of a window, instead of silently quitting, macOS reports that "Cypress Quit Unexpectedly."

### Desired behavior

Cypress should be able to close without triggering macOS's "Unexpected Quit" alert.

### Test code to reproduce

Simply run `npx cypress run` with the necessary stuff installed, then close the window.

### Cypre

[2022-06-10 22:08] neuronetio commented on #22150
In version `10.1.0` the problem has been resolved.

[2022-06-10 22:08] #22150 closed

[2022-06-10 23:03] sean-mystyle commented on #21274
I have the same issue with Chrome Version 102.0.5005.115 (Official Build) (64-bit)

A few months ago using a Base64 PDF generated inline in an iframe as src via javascript on page, the Chrome PDF Viewer used to load.  Now, it does not, just blank, with no errors in console or network tabs in developer tools.

Still works OK as expected in FireFox.  I'm guessing this is a Chrome issue...

[2022-06-10 23:40] MJohner commented on #22217
@AtofStryker have you tried it with the electron browser?

[2022-06-11 02:20] ryanthemanuel opened #22259 "Windows build issues - resource class needed to be bumped to large"
### Current behavior

In order to get the release out for v10.1.0, we had to bump the resource class on windows from `windows.medium` to `windows.large` (#22258 and #22234)

### Desired behavior

We should be able to reliably use the resource class of `windows.medium` if possible

### Test code to reproduce

Change circle.yml to revert #22234 and #22258 and see a variety of flaky failures

### Cyp

[2022-06-11 02:22] ryanthemanuel opened #22260 "Windows build issues - waits added to tests involving `postFragment`"
### Current behavior

In order to get the release out for v10.1.0, we had to add waits to some tests that relying on `postFragment` (#22234)

### Desired behavior

This is likely exposing a race condition and we should not need to use the wait commands

### Test code to reproduce

Remove the waits (while keeping the resource class as either `windows.large` or `windows.xlarge` and see the tests tha

[2022-06-11 02:32] rachelruderman commented on #22196
Hi @intellix! Since this issue is specific to the app code of the reporter, it's been closed by the author. For your certificate errors, we welcome you to open a new issue with a reproducible example 🙂

[2022-06-11 07:11] mschaefer-gresham opened #22261 "Cypress 10.0.3 does not find tests when passing specPattern to --config."
### Current behavior

When running tests without a --config option, Cypress picks up all the tests correctly based on the specPattern in my config file:

[code]

[code]

But if I pass the same pattern to --config, it says it can't find the tests.

[code]

Even though it was expanded correctly:

[code]

### Desired behavior

Using --config specPattern='my spec pattern' should find the tests.

### T

[2022-06-11 07:12] Predrag opened #22262 "Unexpected Error Your configFile threw an error from: cypress.config.js"
### Current behavior

Hello,

I have just installed clear installation of Cypress 10.1.0. When I try to run the test spec file (spec.cy.js) the error message appear

Your configFile threw an error from: cypress.config.js

We stopped running your tests because your config file crashed.

Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:67:19)

[2022-06-11 10:26] DobQA commented on #22152
My main problem is when I run tests non headless mode and then on the UI click the "Spec" button, my search is cleared and my project dropdowns also, it should remember my last setting. This is very annoying when I have huge list of tests that have multiple folders and files. Is this a known issue?

[2022-06-11 10:37] DobQA opened #22263 "Cypress 10.1.0 "Spec" UI not remembering settings"
### Current behavior

Firstly after upgrading to Cypress 10.0 (macOS) Im little surprised at how the UI feels very unpolished. The UI and navigation should have been tested little more. There is a seperate thread on number of clicks required, for myself the biggest annoyance which I feel is a bug;

When opening my "Specs" list, it has multiple folders and .js files.
I often use the "Search" or "Co

[2022-06-11 11:42] universeroc commented on #6047
Please tell me the `document.open` issue is solved or not ?

[2022-06-11 11:56] eramanli opened #22264 "Cypress-grep has been broken when migrate to Cypress 10"
### Current behavior

I was using grepOmitFiltered option on cypress-grep. Now, cypress-grep is working like grepOmitFiltered: false, it is reading my all spec files since I have upgraded the project to Cypress 10. When my project was cypress 9.X.X, it worked as expected.

![image](https://user-images.githubusercontent.com/40141895/173186376-88ae521c-1419-4d9a-8f29-a7e700732ee2.png)

### Desired b

[2022-06-11 12:55] karlhorky commented on #22096
@lmiller1990 hm, just upgraded to `10.1.0`, which [apparently has the ESM fix](https://docs.cypress.io/guides/references/changelog#10-1-0), but still getting the extension error when trying to import code which uses fully-specified imports in TS:

[code]

`cypress.config.ts` (excerpt)

[code]

`database/queries/users.ts` (excerpt)

[code]

I'm thinking `ts-node` is still not configured properly fo

[2022-06-11 13:04] karlhorky commented on #22096
Ok I tried changing my `cypress.config.ts` file by adding the fully-specified `.js` import path, as in the diff below:

[code]

This results in a new error, that it cannot find the file specified (although it should be able to resolve this file - [`.js` is the correct extension to use with fully-specified ESM paths in TypeScript](https://github.com/microsoft/TypeScript/issues/41887#issuecomment-74

[2022-06-11 13:04] karlhorky commented on #22096
Actually, I realize that I created an issue in the `cypress-io/cypress` repo a while back, with more information documenting this problem: https://github.com/cypress-io/cypress/issues/20580#issuecomment-1140469035

[2022-06-11 13:06] karlhorky commented on #20580
Nope, apparently not: https://github.com/cypress-io/cypress/issues/22096#issuecomment-1152924794

[2022-06-11 13:13] karlhorky commented on #22096
Oh, I don't have `"type": "module"` in the `package.json` for this particular package 😵 Let me try this too...

[2022-06-11 13:18] karlhorky commented on #20580
Everything is working now with [the recent "type": "module" fix](https://github.com/cypress-io/cypress/pull/22118) by @lmiller1990 (released in [`cypress@10.1.0`](https://docs.cypress.io/guides/references/changelog#10-1-0)).

To take advantage of this, make sure that you have:

1. `"type": "module"` in the package where your `cypress.config.ts` is
2. Fully-specified imports using the `.js` file ex

[2022-06-11 13:27] benpatterson commented on #18040
Hello folks - this has been fixed on the cloud/dashboard application (this past week). I will close this issue.

To answer @Griizz 's question -- that backlog is not publicly accessible; however, I am glad you asked that question. Heretofore it wasn't necessary, but this issue does highlight how useful that might be. We'll discuss internally the best way to share that kind of information. In the n

[2022-06-11 13:27] #18040 closed

[2022-06-11 13:31] #20580 closed

[2022-06-11 14:24] repeat commented on #4925
I got this issue too, with WSL2, Ubuntu 22.04 LTS, nodejs 16.15.1, npm 8.12.1, cypress 10.1.0.

[2022-06-11 15:39] sbarba commented on #22035
It may look cool, but it puts more strain on the eyes and from [this article](https://www.gizmodo.com.au/2014/10/the-surprising-reason-computer-screens-arent-green-on-black-anymore/):

"People with astigmatism (approximately 50% of the population) find it harder to read white text on black than black text on white. Part of this has to do with light levels: with a bright display (white background)