[2020-01-16 08:12] dotherightthing commented on #6174
@jennifer-shehane It only affects the Cypress Test Runner so it would make sense to put it in those *Global Settings* shown in #3930, perhaps as a kind of 'zen' (distraction free) *View* mode. A mid ground could be to tack it on to the command `npx cypress open`.

[2020-01-16 08:16] muellercornelius opened #6176 "Cypress assertion throws an error even when the requirements are correct"
Cypress Assertion throws error even when the requirements are correct

### Current behavior:

![image](https://user-images.githubusercontent.com/26606825/72505250-da03d200-383f-11ea-8490-196f1b459cad.png)

**AssertionError: expected '<input.dx-texteditor-input>' to have value '5.001,00 €', but the value was '5.001,00 €'**

I compare two values with each other. They look identical but Cypress is no

[2020-01-16 08:28] smart625 commented on #857
@bierik This plugin does not work.

[2020-01-16 08:39] smart625 commented on #5743
@jennifer-shehane Faced the same issue with the latest version 3.8.1. Can you take a look at it. It blocked me for a while.
[code]

[2020-01-16 09:04] juni0r commented on #4886
I agree this would be an immensely helpful feature.

[2020-01-16 09:13] badeball commented on #6165
Alright, I understand. There's without a doubt a discrepancy between browser-behavior and Cypress-behavior in my case. I will see if I can create a minimal example. For those curious, it's related to Google Maps and overlays.

[2020-01-16 09:50] sainthkh commented on #6060
@jennifer-shehane Everything solved. This can be closed now.

[2020-01-16 10:33] kamiloski opened #6177 "Behavior of reload() is not the same as on other browsers"
I want to do simple test. I have angular base page with dropdown where are some inputs - filters.
When I fill any of them with some text and I save it dropdown is closing and value is remembered in this imput. In cypress test after fill and save this input and use `cy.reload()`, value in input is cleared. But when I do it (refresh page by F5) in normal browser chrome/IE/FF input is still filed wit

[2020-01-16 10:36] OldrichDlouhy opened #6178 "cy.Request does not send binary data (blob)"
Sending blob as body of a request sends empty content:

[code]

Results in following request:

[code]

### Expected behavior:

Binary data from the blob should be sent as the request body and the `content-length` header should be set correctly

### Versions

Cypress: 3.8.2
OS: Windows 10 v1809, 64-bit
Browser: Chrome 76.0.3809.132
Node.js: 12.13.0

[2020-01-16 11:49] dizhar commented on #6060
That's great news! I am looking forward to it.

Also thank you for the quick response.

Best Regards'
Daniel Izhar

On Thu, Jan 9, 2020, 8:16 AM Kukhyeon Heo <notifications@github.com> wrote:

[2020-01-16 12:24] AnderssonChristian commented on #6167
Found the solution here: https://github.com/cypress-io/cypress/issues/6167

[2020-01-16 12:24] #6167 closed

[2020-01-16 13:01] codler commented on #1281
`npm install --unsafe-perm` solved it for me

[2020-01-16 13:08] GavinPalmer1984 commented on #5900
For those who may end up here looking for an answer - glob may not always work for your pattern and you will need to use a RegExp instead.

[code]

[2020-01-16 13:14] trejjam commented on #4998
The correct way how to write this is:

[code]

Otherwise, your test ends before `Cannot read property 'reallyBad' of undefined`

[2020-01-16 13:16] shanysegal commented on #2492
do we have to use  cy.visit('/', {...}) and not specific url inside my app? why?

[2020-01-16 14:28] tuzmusic commented on #2492
We don't: you can set the `baseUrl` in your `cypress.json` file to the address where your app is being hosted (`http://localhost:3000` for example) and then `cy.visit` uses paths relative to that.

So `cy.visit('/')` becomes equivalent to `cy.visit('http://localhost:3000/')` and `cy.visit('/some-other-page.html')` becomes equivalent to `cy.visit('http://localhost:3000/some-other-page.html')`.

Wit

[2020-01-16 14:54] google-mac commented on #5918
It still fails for me.

[code]

I did run it on WSL2 on my personal machine and it worked (even without this plugin code), but my work machine is still on WSL1 until the required Windows update is out of beta.

[2020-01-16 15:27] ryan-m-williams commented on #2113
I've run into something similar.. I simply prepend be.visible assertion and the timeout is applied.

i.e. cy.get('element').should('be.visible').and('some.assertion')

[2020-01-16 16:06] wolffc commented on #5440
for me ` yarn run cypress install --force` has worked well. to force the installation.

[2020-01-16 16:20] #4895 closed

[2020-01-16 16:41] jennifer-shehane commented on #6023
Fixed the links, thanks.

Most of the CDP connection issues have been resolved in our latest 3.8.2 release, are you using the latest release? This error will occur if you have 2 Cypress applications open https://github.com/cypress-io/cypress/issues/5613 or if you are directly connecting to the Chrome debugger protocol by some other means in your project.

[2020-01-16 17:09] flotwig commented on #363
@brian-mann this would be a breaking change if updated today, correct?

[2020-01-16 17:12] flotwig commented on #5446
@natkrish it should be in 3.8.3 which is scheduled for next Friday

[2020-01-16 17:15] #5446 closed

[2020-01-16 17:31] Songyu-Wang commented on #6173
`Leading dots in domain names (.company.fe) are ignored and shouldn't effect the behavior.`
@jennifer-shehane I assume you mean it is ignored by cypress. That is irrelevant to the use case here. I set the cookie so my application can use it and display accordingly. I do not expect cypress to do anything with it.
 `You didn't exactly describe what the problem is here. Is something functionally not

[2020-01-16 17:32] jennifer-shehane commented on #2055
We will be closing this issue due to inactivity since no one has commented in a year and half. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2020-01-16 17:33] Songyu-Wang commented on #6173
As a workaround, I have to input domain when set cookie by getting current url and get the substring between `//` and `:` so this cookie will be applied to given full url

[2020-01-16 17:34] Songyu-Wang commented on #6173
which seems like should be the default behavior

[2020-01-16 17:41] flotwig commented on #2055
I can try to see if I can reproduce this, afaik we do not have code explicitly preventing this but it could still be an issue in 2020.

[2020-01-16 17:49] brian-mann commented on #363
Not if its been a bug since day 1

[2020-01-16 17:57] jennifer-shehane commented on #6177
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example that we can run to see the issue and the version of Cypress you are using.

This issue will be closed as per our [contributing guidelines](https://git

[2020-01-16 17:57] #6177 closed

[2020-01-16 18:05] jennifer-shehane commented on #6176
There could be some variation in the spacing that is causing the strings to not match. Maybe the 'space' is not really a space character but another whitespace character?

I tried to reproduce what you're describing, but unfortunately I can't since I wasn't provided a fully reproducible example. There's no explanation on how the value is set for example.

The below examples work

[code]

[code]

<

[2020-01-16 18:05] #6176 closed

[2020-01-16 18:14] joaobarcia commented on #6161
We are having the same issue. I believe it might be related to https://github.com/cypress-io/cypress/issues/311

[2020-01-16 18:33] Dimbbass commented on #3918
Have the same problem. IT was failed, then after each failed and then all other tests skipped, because fail was in after each block (in fact in test, not in after each)

Will be cool, if anyone offer a workaround.

[2020-01-16 18:35] nc-williamss commented on #3918
Same here. my after block cleans up, but when it doesn't execute, it causes my next tests to fail because the browser wasn't cleaned up. PLZ halp :)

[2020-01-16 19:09] flotwig commented on #363
Which is why I think it's breaking, fixing it would change the behavior of `cy.setCookie` since day 1 :P

I need to verify that this change didn't accidentally get made when we switched to using CDP for cookies.

[2020-01-16 20:17] pshynin commented on #700
how many +1 we need to implement this ? Let all thumbs up ?

[2020-01-16 21:07] flotwig commented on #700
@pshynin There are available workarounds detailed above. If this is a feature you'd like to see in Cypress very soon, please feel free to open a pull request. See our [contributing docs](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) for more info.

[2020-01-16 21:35] drewbrend opened #6182 "Cypress verify command failing with no changes to docker image"
### Current behavior:

Cypress verify step has started claiming that a dependency is missing.

We have used the same dockerfile and image for over a year.  It is the same base docker image our application uses, but has steps to install the cypress dependencies and verify by following https://docs.cypress.io/guides/guides/continuous-integration.html#Dependencies

This has worked perfectly but just

[2020-01-16 23:18] drewbrend commented on #6182
This appears to have started working again for us so I'm closing this issue.

[2020-01-16 23:18] #6182 closed

[2020-01-16 23:58] abhidp commented on #944
After 2 months of struggling with this meaningless feature/issue(read blocker), we have finally decided to throw Cypress outta the window and adopt Puppeteer as our E2E test automation.
Writing tests with Puppeteer is not as good an experience compared to Cypress. But tests execution is surprisingly exponentially faster + you got the luxury to test in multiple browsers + runs faster in CI pipeline

[2020-01-17 05:52] akshayjai1 commented on #1183
Had a doubt, if someone could answer https://stackoverflow.com/questions/59781881/is-it-ok-to-call-cy-server-twice-in-same-test-in-cypress

[2020-01-17 06:33] jennifer-shehane commented on #6167
Hey @AnderssonChristian that link links back to this issue

[2020-01-17 06:38] jennifer-shehane commented on #6173
No, what I mean is that leading dots on domain names do not affect it's application to subdomains within browsers, per spec: https://tools.ietf.org/html/rfc6265#section-4.1.2.3

The leading dot is not necessary for the cookie to apply to all subdomains.

   be sent.  For example, if the value of the Domain attribute is
   "example.com", the user agent will include the cookie in the Cookie
   heade

[2020-01-17 07:57] nikhiletc commented on #5322
but how are you going to use outside `txt` ?

[2020-01-17 08:23] ayandebbarman commented on #5322
I actually ended up doing my validations in the same test but if you want you can save the text in an outside file using cy.writeFile and then read it in different block

[2020-01-17 08:47] sainthkh commented on #2027
I opened an issue at jquery/sizzle#465. It's not solved in jquery@3.4.1 yet.

[2020-01-17 09:41] joaobarcia commented on #6161
Just put one of the examples into a single HTML file in case it is more straightforward for you guys to test.

[code]

[2020-01-17 10:10] dschwank commented on #6182
We are facing the same issue, by now it did not resolve "magically" - it seems like one of these packages are causing the error:

[code]

[2020-01-17 11:01] mgol commented on #2027
This is not a bug. When used in a selector, IDs, classes etc. need to be escaped when they contain some special characters. There's a standard [`CSS.escape`](https://developer.mozilla.org/en-US/docs/Web/API/CSS/escape) API for that; if you need something that will work in IE & the legacy Edge as well, jQuery selector engine, Sizzle has an equivalent `Sizzle.escape` method. This is exposed in jQuer

[2020-01-17 11:17] badeball commented on #6165
I've added a minimal example [here](https://github.com/badeball/reproducible-issues/tree/master/cypress/google-maps-overlay-click). The example-application will zoom the map upon clicking the marker. In Cypress, this only works with `force: true`, which is what I believe to be erroneous.

Unforunately, this entails google maps, as mentioned above. Hence, 1) the example is somewhat cluttered from t

[2020-01-17 11:32] badeball opened #6183 "Inline, zero-dimension element: erroneous visibility determination"
# Current behavior:
[This](https://github.com/badeball/cypress-reproducible-issues/tree/master/zero-dimension-hover) example illustrates an element with `offsetWidth` and `offsetHeight` of zero, but is still interactable in actuality.

For reference, Firefox does not report these values to be zero, which might be of interest in regards to expanding browser support (ie. maybe not good to rely on it

[2020-01-17 11:33] LionelGuerin opened #6184 "Cypress verify command failing"
### Current behavior:
After an apt update of ubuntu 18.04 (yesterday 16/01/2020), the following cypress command return an error.
`npx cypress verify`

`/root/.cache/Cypress/3.8.2/Cypress/Cypress --no-sandbox --smoke-test --ping=24`

### Desired behavior:
cypress verify should pass

### Test code to reproduce

### Versions
Ubuntu Linux - 18.04
Cypress Version: 3.8.2

#### Packages Versions :
`apt-g

[2020-01-17 11:47] vinod236 opened #6185 "RangeError: Maximum call stack size exceeded"
When we open the mocha test case from test runner we get this error message .
![Cypress_3 8 2](https://user-images.githubusercontent.com/7825972/72610336-15d88d80-394d-11ea-9a8a-ddce6312a663.GIF)

Expected result:
   test cases should run
Actual result:
   At of the start test case execution itself , we get error "RangeError: Maximum call stack size exceeded"

Versions :
Cypress 3.8.2
Os : win 10

[2020-01-17 11:58] GertVil commented on #6184
We are experiencing the same error. We had a docker container working yesterday, rebuild the docker today, so newer versions installed through apt and now it's broken with the same error described above.

[2020-01-17 12:16] cdbkr commented on #944
we reached the same decision and combined Puppeteer with Jest.

[2020-01-17 12:30] GertVil commented on #6184
I've got an docker image before it was broken. If I run the following command
[code]

you can see cypress starts and correctly waits for something that's not running.
If I do an `apt update` and `apt upgrade` with the following output:
[code]
and the I run the previous command again I get this output
[code]

A workaround found by @khofmans is running your command with `xvfb-run --server-args=\"-sc

[2020-01-17 16:08] vinod236 opened #6186 "Incorrect Node version is being shown in Setting tab"
Incorrect Node version is being shown in Setting tab

Actual :
    Node  version 12.8.1 is being shown in setting tab

Expcted :
   Node Version 12.14.1 should be shown in setting tab.

Version Details:
  Cypress 3.8.2
  OS : Win 10 Enterprise (64 bit)
  Chrome : 79.0.3945.117 (64
![NodeIssue](https://user-images.githubusercontent.com/7825972/72626988-b50f7c00-3971-11ea-8a33-a3630fb93676.GIF)
bit)

[2020-01-17 16:49] flotwig opened #6187 "Firefox crashes from running out of memory unless Cypress forces GC"
### Problem

Firefox has a [known bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1608501) where it does not run its internal GC fast enough, which can lead to consuming all available system memory and crashing.

Cypress prevents Firefox from crashing by forcing Firefox to run its Garbage Collection cleanup routines between tests.

### Experience

Running GC is an expensive and **blocking** rout

[2020-01-17 17:19] AnderssonChristian commented on #6167
@jennifer-shehane oops. Updated the link

[2020-01-17 17:32] corwinstephen commented on #6173
Related to https://github.com/cypress-io/cypress/issues/5688 ?

[2020-01-17 17:43] corwinstephen commented on #5688
@borecz were you guys able to connect on this?

[2020-01-17 17:43] drewbrend commented on #6182
Yes, we've started seeing this consistently again.  We had something work that tricked me into thinking this was resolved but it was only fixed on one repo.  We're seeing this as well still.

Since I closed this https://github.com/cypress-io/cypress/issues/6184 was logged which is the exact same issue, I won't re-open this since they duplicate each other.

[2020-01-17 17:43] graemeRharvey commented on #6184
We are seeing this as well, but our detailed error description isn't the same as the one listed above.

Ours is:
[code]
Due to this, the workaround listed above doesn't appear to work. I wouldn't normally assume they're the same issue, but they seem to have appeared along the same timeline.

[2020-01-17 17:44] drewbrend commented on #6184
I logged this as well but thought it was resolved yesterday so I closed my issue.  We're still seeing this and this issue has output with debug logging turned on:  https://github.com/cypress-io/cypress/issues/6182

[2020-01-17 17:44] borecz commented on #5688
Yes, we did. Zac has access to the working example.

[2020-01-17 17:46] AnderssonChristian commented on #5789
@zvictor any idea of how to do this if you have unfetch installed as a dev dependency?

[2020-01-17 18:27] dschwank commented on #6184
We are facing the same issue - we assume that the error is caused by one of these packages:

[code]

All of them are also in the list of @GertVil. As quickfix we switched back to an older base image.

[2020-01-17 18:29] trydionel opened #6188 "Update browser icons to use branded iconography"
### Current behavior:

The Test Runner uses the Chrome font-awesome icon for many browser logos, and the Firefox logo is out-of-date with Mozilla's current branding. With cross browser support nearly complete, we should take the opportunity to use official, branded iconography for all of the browsers we support.

<img width="169" alt="Screen Shot 2020-01-17 at 1 01 15 PM" src="https://user-images.

[2020-01-17 18:43] meisemo commented on #6184
We got this issue since yesterday after our container has been rebuilt. I couldn't figure out which package causes this problem.

We are using the same packages which are implemented in the cypress/base:10 dockerfile.

[code]

[2020-01-17 18:52] bhushan-udawant opened #6190 "Cypress Automation: Domain based Javascript execution issue"
### Current behavior:
- The JS file is not getting loaded while testing using Cypress.
- There is a check added to load the JS file when one of the window property is set.
- Cypress opens the requested URL into iframes which has its own window object. So, the actual window object of the site is different and the Cypress window object is different.
- Due to this JS file is not loading in Cypress br

[2020-01-17 19:02] Songyu-Wang commented on #6173
@jennifer-shehane Then I have no idea.... Based on the doc you provided, I agree the leading dot does not matter, but the behavior I observed is different

[2020-01-17 19:07] Songyu-Wang commented on #6173
@corwinstephen Thank you! I think https://github.com/cypress-io/cypress/issues/5688#issuecomment-566751048 is related, but I only see one cookie set instead of two.

[2020-01-17 19:59] pshynin commented on #3602
we have circle-ci and also jenkins-kuberneties.. crushing in both.
kuberneties kills cypress pods due to spikes in CPU usage, but circle-ci crushes with exact same error message...
spent few days figuring out, gave up for now and downgraded back to 3.4.1

[2020-01-17 20:25] corwinstephen commented on #5688
@borecz awesome. Thanks for biting the bullet on that one

[2020-01-17 20:30] cayleyh commented on #3207
Echoing what others have said: would love to use Cyprus for work, but cannot justify it until there is support for Safari. 60%+ of our traffic for our websites and apps comes from mobile, and 60-70% of that is Mobile Safari. Safari & Mobile Safari are different enough from chrome (ie. our test suites contains enough breaking behavioural differences) that we cannot move to something that doesn't su

[2020-01-17 20:33] sakib-peloton commented on #349
I'm seeing this issue after upgrading cypress. Especially when i run it with percy and take many snapshots.

[2020-01-17 21:27] markhicken commented on #95
After implementing the above suggestions I still had an undefined fetch error. This worked for me...
https://gist.github.com/yagudaev/2ad1ef4a21a2d1cfe0e7d96afc7170bc

[2020-01-17 21:38] bahmutov opened #6191 "blank page during visit"
Cypress v3.8.2 on MAc

Spec

[code]

Page is blank

Notice the iframed document only has `<head>...</head>` element, no `<body>` at all.

See the following in the terminal (I have added a few line breaks to break the single string)

[code]

Relevant error from the above text

[code]

[2020-01-17 22:00] bahmutov commented on #6191
After playing some more, see this error in the DevTools console

<img width="1199" alt="Screen Shot 2020-01-17 at 4 55 54 PM" src="https://user-images.githubusercontent.com/2212006/72649141-d4df7980-394a-11ea-89e1-67d688cec5e2.png">

[2020-01-17 22:09] bahmutov commented on #6191
<img width="868" alt="Screen Shot 2020-01-17 at 5 06 31 PM" src="https://user-images.githubusercontent.com/2212006/72649577-10c70e80-394c-11ea-912a-8eb2064e013f.png">

[2020-01-17 22:17] flotwig commented on #6191
do they embed an iframe with the `sandbox` attribute? if so this sounds like another thing that #5273 could help with

[2020-01-17 22:26] atuttle commented on #6191
This ticket originated with my request for help on twitter/in gitter... @flotwig can you clarify your question? I don't follow. The page that we're attempting to load doesn't include any iframes (some parts of our application do, but we haven't gotten to writing tests for any of those screens yet.)

[2020-01-18 01:50] calinepatriota opened #6192 "Cypress error while open htpps site"
Im testing a HTTPS site, and after the script put the credencials to log in, its not login with success. I've opened the security sheet's page and notice that a error about certificate was showed.

[2020-01-18 02:55] bahmutov commented on #6191
no, @flotwig I could not any iframes there - I think this message comes from aut iframe

[2020-01-18 06:13] Manuel-Suarez-Abascal commented on #6168
@jennifer-shehane @must-git-good I would like to fix this issue. Which solution would you think it'll be the most optimal? Increasing the container's `width` with CSS or adding or adding two decimals at all times on the timer?

[2020-01-18 08:07] kenchandev opened #6193 "`cy.visit()` Error - DOM Element `id` Attribute Set to `jquery`"
### Current behavior:

Given a static webpage with zero JavaScript present (no jQuery library), if there exists a DOM element with an `id` attribute set to `jquery` (for example, `<p id="jquery">jQuery</p>`), then the `cy.visit()` method throws a TypeError: `TypeError: item.first is not a function.`

![](https://www.dl.dropboxusercontent.com/s/9wkqletdgr30zsb/Screenshot%202020-01-18%2002.31.52.png

[2020-01-18 08:08] harshitjuneja commented on #5029
@jennifer-shehane @Svish Can this be please assigned to me. Interested to fix this.

[2020-01-18 11:24] Gurubg1 opened #6194 "Route Regex matching"
Hi,
My App uses following url to download a json file:
/Modules/Common/config.json?1579344447406
the last number is dynamically generated. I want to stub this and load a json in my fixtures folder. I have not been able to come up with a regex for this. Any ideas?

[2020-01-18 15:37] AB1519 commented on #2492
@tuzmusic  I am trying to use the same code snippet, in my code, but I always get  this error `Server not defined`.

[2020-01-18 17:07] archfz commented on #2674
I am also facing this issue with React Admin. I have a test spec with three it`s that first creates an entity then edits it and finally deletes it. It is failing at the last step, at delete test. In the console the error from the issue description appears. The only workaround seems to be a good amount of wait which is actually quite bothering.

[2020-01-18 18:16] Baastieng commented on #1096
Thank you so much for your hard work. That's been a while I'm waiting for this Firefox compatibility :) Can't wait to use it 💪

[2020-01-18 21:24] jimpriest commented on #170
I've tried solutions above and using the cypress-file-upload plugin...

I am getting an error when I submit form:

[code]

Form:
[code]

Spec:
[code]

This works! The file is uploaded... *But* my test fails with this message in Test Runner:

[code]

[2020-01-19 04:41] davidashman commented on #6054
I'm experiencing the same issue.  What version of ckeditor do you have in your application?

[2020-01-19 08:13] sivasgit opened #6195 "SyntaxError: F:\CYPRESS\cypress.json: Unexpected end of JSON input"
### Current behavior:

### Desired behavior:

### Test code to reproduce

### Versions

[2020-01-19 08:18] #6195 closed

[2020-01-19 13:14] vramana commented on #6165
Possibly related to #5805

[2020-01-19 13:56] raldenhoven commented on #144
I have been testing for the past couple of weeks and I think I will be able to implement this feature.

I think we will have a hard time getting css selectors to work, since the css should not have full access to the shadowRoot of a web component. Even though the extra command might be prone to implementation, I feel it is the best alternative at the moment.

 My proof of concept can be viewed ove

[2020-01-19 20:34] domachine commented on #3602
Same here. In my case I use cypress to test a ReST API. I do not even load a website. Just sending requests using `cy.request()`. It's really strange. Each time a core dump is created. It happens only when being run on the CI server. Locally everything works like a charm.

[2020-01-20 04:41] enkil2003 commented on #656
I'm seeing this same behavior in version 3.8.2

[2020-01-20 06:47] LienLotus opened #6196 "Still got "uncaught exception" after turning it off in support file"
### Current behavior:

Visit a website then click on "Play" button to play video, but got many uncaught exception:

![Screenshot from 2020-01-20 13-22-24](https://user-images.githubusercontent.com/51039899/72703440-27f24000-3b88-11ea-9939-55b04b301f31.png)

### Desired behavior:
Video can be rendered

### Test code to reproduce

1. Visit https://demo.keyos.com/customers/anevia/9972/index.dash.anev

[2020-01-20 08:29] expectral commented on #6054
Hi @davidashman ,

We use CkEditor 5.
if you find a solution, we take it ;D
(and vice versa, of course)

[2020-01-20 11:03] backfromreality opened #6197 "Brotli encoding request fails (ERR_CONTENT_DECODING_FAILED)"
Requests with encoding content by Brotli compression algorithm always fails.

### Current behavior:

Request header:
Accept-Encoding: gzip, deflate, br

Response header:
content-encoding: br

Result:
Request has status 200 OK, but failed with an error ERR_CONTENT_DECODING_FAILED.

### Desired behavior:

Request header:
Accept-Encoding: gzip, deflate, br

Response header:
content-encoding: br

Resu

[2020-01-20 13:34] ddayguerrero commented on #6126
👋 Hey! While there might be work in progress, I'd be interested in helping and ultimately achieving a first time contribution for Cypress.

Following the instructions within the `cypress-test-tiny` fork, I've been able to reproduce the error with the following environment:

[code]

As previously mentioned and from my understanding, there are currently a couple of ways of solving this:

1. Playing

[2020-01-20 13:36] tomachinz commented on #2721
One workaround is to use:

  .click({ force: true })

Works for navigation but it does not open the menu visually.

[2020-01-20 14:56] chisma commented on #871
I have this issue even on 3.8.2, infact with cy.get() and even cy.contains()!, I am testing a reactJs app and I have verified(By using cy.pause()) the auto-scrolling actually happens on cy.get()/contains(). Very annoying.

[2020-01-20 15:51] TomPradat commented on #910
Any news about this, I'd love to see this happen. Is there a lot of work ? I can work on if not

[2020-01-20 15:52] TomCaserta commented on #144
@raldenhoven Feel free to take a look at:

 https://github.com/cypress-io/cypress/compare/develop...TomCaserta:issue-144

It covers a few more parts where Cypress fails to handle ShadowDOM (quick and dirty code as well as a POC). Theres a few things I'm not completely certain how to handle such as visibility assertions on slotted content (eg. clicking a button in a slot child will cause Cypress to

[2020-01-20 16:35] paulmwhite commented on #5943
+1 - Also seeing Cypress Helper using > 800% CPU

[2020-01-20 16:52] danlourenco commented on #4383
Same here.  This is very much still an issue on Cypress 3.8.2

[2020-01-20 17:42] HolyNoodle commented on #1296
Any updates on the subject ?

[2020-01-20 18:26] JasonFairchild commented on #1763
Is there a difference between chrome headless mode and Cypress CI mode? Sounds like others in Oct or before were running this extension in Cypress CI mode which I thought was referred to as headless. Or could this have to do with the difference before Cypress adopted the native chrome headless mode? Wasn't cypress using a kind of pseudo headless mode for chrome before then?

[2020-01-20 18:31] felquis commented on #170
@brian-mann

Considering the minimal use case:
[code]

I understand the **cypress community recommendation** is to use [cypress-file-upload](https://github.com/abramenal/cypress-file-upload), it would work for most of the cases, and it also have good troubleshooting examples in it's readme.

There is also https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/file-upload-react

[2020-01-20 18:33] valdasgra commented on #5645
@jennifer-shehane Upgraded the cypress version to 3.8.2 and it fixed the issue!
Thanks!

[2020-01-20 18:33] #5645 closed

[2020-01-20 18:35] #4951 closed

[2020-01-20 18:35] jimpriest commented on #170
To follow up on this - I did find a work around using this old solution from @bahmutov :  https://github.com/bahmutov/cypress-form-data-with-file-upload

That uploads file w/no weird error.

It works but I'd still be curious why the recommended cypress-file-upload throws that weird error (while correctly uploading the file)

[2020-01-20 20:02] archfz commented on #4722
I am also experiencing this. v3.8.1; browser electron 78. Isn't there any way for the ui to wait for the recording ?

[2020-01-20 22:01] isnotgood commented on #6184
Got the source of the problem, Xvfb is run without `-screen` so electron dies with:

[code]

[2020-01-20 22:33] clarmso opened #6198 "Cannot fire hover event by CSS"
### Current behavior:

The current documentation points out that `show("trigger", "mouseover")` or `trigger("mouseover")` are used for hovering over certain DOM elements:

https://docs.cypress.io/api/commands/hover.html
https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/testing-dom__hover-hidden-elements

When the hover event in the CSS, Cypress does not fire the event.  Pl

[2020-01-21 00:35] pratik-chakravorty commented on #2938
Experiencing the same issue but the strange thing is that the tests are all running fine locally but on CI it fails every single time.
I am using a docker container where I run the tests on my CI build in Jenkins.  I am using `cypress run --browser chrome`. I have xvfb installed in my container along with all the necessary dependencies. I am stuck here completely trying every possible thing to res

[2020-01-21 04:35] jennifer-shehane commented on #6198
Using `.trigger()` will only trigger the actual events in JavaScript and has zero effect on the CSS effects. This is a duplicate of https://github.com/cypress-io/cypress/issues/10 which outlines the challenges and work necessary to support simulating hover effects in CSS.

Although I don't think this is made very clear in the .hover doc, so I've opened an issue to add clarification directly there

[2020-01-21 04:35] #6198 closed

[2020-01-21 04:39] jennifer-shehane commented on #6194
Try playing with https://regex101.com/ and testing glob patterns again Cypress.mimimatch https://docs.cypress.io/api/utilities/minimatch.html#Syntax

Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community cha

[2020-01-21 04:39] #6194 closed

[2020-01-21 07:11] disappearedgod opened #6200 "Add {Shift} and {leftarrow} supported."
### Current behavior:

I get a input and type a string(like 'ava') and want to select the last char with `Shift + leftarraow` from the cursor.

But I sees `leftarraow` would work without Shift. The cursor moves after 'v', like 'av |  a'

### Desired behavior:

I want to select the last char with  typing `Shift + leftarraow`
### Test code to reproduce

[code]
### Versions

cypress :5.0.2
macOS :10.

[2020-01-21 07:12] disappearedgod commented on #6200
<img width="424" alt="Screen Shot 2020-01-21 at 2 54 47 PM" src="https://user-images.githubusercontent.com/4340627/72783068-76730d80-3c60-11ea-8906-fcad6b7e9c93.png">

[2020-01-21 08:04] jennifer-shehane commented on #6200
Cypress' API does not fully support text selection at the moment. Closing as duplicate of https://github.com/cypress-io/cypress/issues/2839 which does detail a workaround for simulating test selection here: https://github.com/cypress-io/cypress/issues/2839#issuecomment-447012818

[2020-01-21 08:04] #6200 closed

[2020-01-21 08:05] jennifer-shehane commented on #5645
This issue will be closed to further comment as the exact issue here was resolved and tested.

If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2020-01-21 08:09] jennifer-shehane commented on #1763
Cypress runs on the specified browser given and each browser can be run headless or headed. Headless simply means that the browser is not visibly present when running the tests. I don't know what 'Cypress CI mode' is referring to, but by default `cypress run` runs in Electron headless.

The headless mode with the Chrome browser was not available and working until 3.8.1.

You can always see the bro

[2020-01-21 08:15] jennifer-shehane commented on #6197
@backfromreality Can you provide a repo with Brotli encoded files used in a request through Cypress tests? Providing a way for us to get this running quickly will be the fastest way to get your issue addressed.

[2020-01-21 08:20] yalaIrfan opened #6201 "Unable to scroll the grid table and inspect the element (Assertion) in a cell simultaneously"
### Current behavior:

I have some 92 records in a grid table with scroll option but at single time on 15 rows are visible. Suppose if I want to inspect one cell with some string assertion (lets say that row is number is 50 and not visible). my assertion is failing because that row is not visible at all. `cy.get('.ui-grid-viewport')` has length of only 13 elements.

### Desired behavior:
Will it p

[2020-01-21 08:21] aartisoni1 opened #6202 "Error: Cypress could not exit from Promise"
I am running below test but it seems like it stuck at the resolving first promise and never been able to get out of it. The interesting thing is that if the same test has been run through the Chrome in UI mode (not in headless mode) then the test runs fine otherwise it fails. It always fails with Electron78 and also fails if test is kicked off with command line in Chrome as well.
I'm using Cypress

[2020-01-21 08:29] jennifer-shehane commented on #6196
Please provide all test code next time in text format so that it can be easily copy/pasted to run.

The error is being thrown from within your application code.

I am however able to ignore this error and continue with the tests by adding the `uncaught:exception` handler - this does not remove the fact that this uncaught exception occurs, it simply ignores it from failing the tests.

Click on the

[2020-01-21 08:46] jennifer-shehane commented on #6202
Please do try to simplify the examples provided so we can have the bare minimum required to run.

I boiled down the above code to doing the following:

[code]

Of course, this is not what your example is doing and I believe the problem stems from the last couple of assertions and how they are written.

[code]

This essentially boils down to

[code]

I'm not exactly sure why this is failing except

[2020-01-21 08:51] jennifer-shehane commented on #6201
As shown in the live example, the rows of the table do not exist in the DOM until scrolling has taken place, so it is impossible for Cypress to evaluate more rows than actually exist in the DOM.

<img width="954" alt="Screen Shot 2020-01-21 at 3 18 32 PM" src="https://user-images.githubusercontent.com/1271364/72789084-67d92600-3c61-11ea-933f-25206b77cd50.png">

Please utilize the [`.scrollTo()`](h

[2020-01-21 08:51] #6201 closed

[2020-01-21 10:23] zbigniewkalinowski opened #6204 "Failed tests have succesfull status in log"
### Current behavior:

### Desired behavior:

### Versions

[2020-01-21 10:24] #6204 closed

[2020-01-21 10:27] zbigniewkalinowski opened #6205 "Failed tests are Succesful in Jenkins log"
### Current behavior:
We have 6/69 failed tests, but status in Jenkins is SUCCESS
Please see screenshot.

![obraz](https://user-images.githubusercontent.com/34089686/72797140-dfe32400-3c40-11ea-80b8-7d79404dce89.png)

### Desired behavior:

We sholuld get status FAILED

### Versions

Checked on 3.8.1 and 3.8.2

[2020-01-21 10:38] clarisights-sharanya commented on #2938
@pratik-chakravorty try setting --ipc=host if you're Docker, that will resolve the issue. If Kubernetes create a pod with spec  hostIPC: true. If not both, can you be specific what's your CI comprises of?

[2020-01-21 10:40] clarisights-sharanya commented on #2938
@pratik-chakravorty try setting --ipc=host if you're Docker, that will resolve the issue. If Kubernetes create a pod with spec hostIPC: true. If not both, can you be specific what's your CI comprises of?
Pls refer this for more info: #350

[2020-01-21 11:45] melibe23 commented on #1611
I would really appreciate this feature for SEO purposes too.

[2020-01-21 12:36] yuki-93 commented on #4383
It looks like I have the same issue as @nicholassiu
I have that loops an it to test some functionally several times, but after first run, I get the blank page. Even the Cypress-Sidebar is gone.

[2020-01-21 12:39] Dan503 opened #6206 "cy.visit() Typescript promise chain error - Type 'Chainable<HTMLInputElement>' is missing the following properties"
### Current behavior:

The following Typescript code produces an error:

[code]
The error message I get:
[code]

### Desired behavior:

The `loadInput()` function should return a promise that later returns the HTML input DOM element.

### Versions

- Cypress: 3.8.0
- Node: 12.13.0
- Browser: Chrome 79.0.3945.130
- OS: Windows 10

### Work around

I worked around the issue by doing this:

[code]

B

[2020-01-21 13:36] raffienficiaud commented on #6184
I worked around this by pre-pending the commands with `xvfb-run ...`. The path that led me to this:

1. `DEBUG=cypress:cli,xvfb  cypress verify` says

        cypress:cli error message: Command failed: /root/.cache/Cypress/3.8.2/Cypress/Cypress --no-sandbox --smoke-test --ping=780

        0ms
        cypress:cli Stopping Xvfb +238ms
        xvfb restoring process.env.DISPLAY variable +222ms

[2020-01-21 14:24] AlexGrek opened #6207 ""autofocus" not working with Chrome since Chrome 79"
### Current behavior:

"autofocus" attribute works with Electron and with older Chrome versions, but it does not work in Chrome 79.
When testing a page with "autofocus" attribute, `cy.focused()` returns no elements, and nothing is in focus.

Chrome console log:

[code]

### Desired behavior:

Autofocus attribute is working in tests as expected in any supported browser, including Chrome 79.
No warn

[2020-01-21 14:28] Codediggar commented on #789
For intelliJ
https://www.jetbrains.com/help/idea/settings-tools-terminal.html
choose your terminal as cmd for windows .

For VS Code :
Check the settings -
Terminal › External: Windows Exec
Customizes which terminal to run on Windows.
C:\windows\System32\cmd.exe

Hope this helps

[2020-01-21 14:30] UmranDogan opened #6208 "Installing Cypress failed at the cypress@3.8.2 postinstall script"
Im new in automated testing and want to use cypress.
I installed node js and npm. Now i want to install cypress and followed the instruction on [www.cypress.io ](www.cypress.io).

when i run `npm install cypress --save-dev` on my powershell i'm getting the following error message:

[code]

I want cypress to run so I can test our project. But thats not possible now.

i tried out `npm -v` and `node

[2020-01-21 14:57] must-git-good commented on #6168
Certainly there are a few approaches, so use your best judgement, but my personal preference would just be to show a consistent set of trailing decimals (probably 2?).  But resizing the box itself might be complementary to this effort as well.

Anything that keeps the visuals clean and professional!

[2020-01-21 15:34] codecog commented on #6208
I would put this down to your powershell version not having access to node rather than it being an issue with the postinstall script.

I've tried installing cypress on a fresh project (on a pretty fresh install of the OS as well) and didn't run into the same problem.

[2020-01-21 15:39] UmranDogan commented on #6208
i can run `node-v ` and get the version back. how can i check this else ?

[2020-01-21 15:41] dRoskar opened #6209 "Fixtures stored as aliases do not persist throughout the test spec"
### Current behavior:
When saving a fixture as an alias (as demonstrated in the documentation) the fixture can no longer be retrieved in subsequent tests. More specifically:
 - If a fixture is saved in a 'before' clause, it can be retrieved in the first test after that but is gone in subsequent tests.

 - If a fixture is saved as an alias in an 'it' clause it's never accessible in subsequent tests

[2020-01-21 15:44] codecog commented on #6208
Try running a javascript file with node from the same powershell window.

[2020-01-21 16:00] UmranDogan commented on #6208
i get this error back.

[code]

[2020-01-21 16:06] codecog commented on #6208
that doesn't provide too much information. What is context and where is it trying to be called from?

[2020-01-21 16:08] UmranDogan commented on #6208
`C:\Users\Username\source\repos\......\examples\actions.spec.js:3
context('Actions', () => {
^

ReferenceError: context is not defined
    at Object.<anonymous> (C:\Users\Username\source\repos\.....\examples\actions.spec.js:3:1)
[90m    at Module._compile (internal/modules/cjs/loader.js:955:30)[39m
[90m    at Object.Module._extensions..js (internal/modules/cjs/loader.js:991:10)[39m
[90m    at

[2020-01-21 16:10] UmranDogan commented on #6208
im really thankfull for your support. hope im not ennoying you

[2020-01-21 16:14] LienLotus commented on #6196
Hi  jennifer-shehane,
Did you see the video after running all test code ?
For me, after doing `cy.get('.btn.btn-primary.js-reinit-player').click()` the video still unavailable, and will get this error:
![72703518-612ab000-3b88-11ea-91dd-29cbc0cd3f0b](https://user-images.githubusercontent.com/51039899/72821673-6a5c6f80-3ca3-11ea-9034-6c30b1415adc.png)

This issue only happened if we run this script

[2020-01-21 16:14] codecog commented on #6208
context does not exist in your `actions.spec.js` file. I think this is not a cypress issue and it down to an issue in your source code.

[2020-01-21 16:30] jennifer-shehane commented on #6207
Welp, that is very weird. Confirmed this happens in Chrome 79. Did not narrow down to what specific release.

<img width="750" alt="Screen Shot 2020-01-21 at 10 59 08 PM" src="https://user-images.githubusercontent.com/1271364/72823214-b9a1a080-3ca1-11ea-81d3-aa522725feef.png">

[2020-01-21 16:48] zztessema opened #6210 "Cypress screenshot and video size are restricted to 800 x 600 in Chrome Headless"
### Current behavior:
When running cy.screenshot(), the screenshot differs when running in Chrome Headless vs Chrome Headed vs Electron Headless:

Electron Headless:
![test1](https://user-images.githubusercontent.com/57146040/72824347-19b52a00-3c43-11ea-8e77-94df59cff06d.png)

Chrome Headed:
![test1](https://user-images.githubusercontent.com/57146040/72824402-2e91bd80-3c43-11ea-92ef-43a4580f98a0.p

[2020-01-21 17:09] chrisbreiding commented on #3762
More ideas for improvements from discussion with Brian on 1/17:

- Add learn more link to docs in modal too (like in desktop-gui)
- Output code frame in run mode stdout
- Don't link cypress:// error files in stack trace
- Send more data to dashboard (server/lib/reporter.coffee)
    - full error data with code frame, source mapped stack, etc
    - source mapped body
    - ask Jeff

[2020-01-21 17:24] jonasrdm commented on #944
@jennifer-shehane I've wanted to ask... What is the position of the cypress team about this issue?
Is there any possibility to make it flexible, or as a design choice it will continue as it is?

It seems like a true block to a lot of people. Its very frustrating to have to abandon cypress when you realize that you don't have any options or simple workarounds to such scenarios. And these scenarios

[2020-01-21 17:28] Jeezy8 opened #6211 "Cypress reroutes main window to localhost url with port removed when on corporate proxy."
### Current behavior:

Setup:
I have a create-react-app running locally on `http://localhost:3000`

When running `cypress open`:
As soon as I write a test that runs `cy.visit('http://localhost:3000')` im loosing the Cypress GUI Panel to the left.
It seems like a redirect. I will have a regular chrome with the website opened but with no cypress GUI.

If I provide a `baseUrl` like http://localhost:3

[2020-01-21 17:45] wingsuitist commented on #944
We ended up using puppeteer in a cypress task, which is kind of not the point of it, but for now this dirty workaround helps us to continue to use cypress.io.

[2020-01-21 18:12] jeececab commented on #6065
Closing (issue resolved): see https://github.com/aws-amplify/amplify-console/issues/347

[2020-01-21 18:12] #6065 closed

[2020-01-21 18:12] MickaelTH commented on #944
I was tired to wait because when looking at the code you will understand that it will never change.

If you want another solution, I recommend CodeceptJS.

[2020-01-21 18:39] archfz commented on #2674
I had managed to resolve the problem by awaiting the call with cy.route for which the onbeforunload was registered.

[2020-01-21 18:51] sania-dsouza commented on #4288
Hey team,
I see this on 3.8.1 again. Do we have any information on this plz?
`[79368:0121/133918.162939:ERROR:gles2_cmd_decoder.cc(18470)] [.DisplayCompositor]GL ERROR :GL_INVALID_OPERATION : glCreateAndConsumeTextureCHROMIUM: invalid mailbox name
[79368:0121/133918.163150:ERROR:gles2_cmd_decoder.cc(10752)] [.DisplayCompositor]RENDER WARNING: texture bound to texture unit 0 is not renderable. It m

[2020-01-21 19:31] coleman17 commented on #5480
I too am seeing this issue after upgrading from v3.4.1 -> v3.8.2. Using it as such:

`cy.get(this.numberField).type(searchCriteria, {delay: 15}).type('{enter}');`

The `searchCriteria` we pass in could be 123456 and typically it will type `{enter}` after 12345, but missing the 6. Putting in a wait helps, but is unfortunate.

[2020-01-21 19:51] archfz commented on #3199
Based on previous comments and other npm packages that did not satisfy my needs I have combined togheter this package https://github.com/archfz/cypress-terminal-report . It logs cypress commands and console.warn+console.error to terminal in a pretty format.

[2020-01-21 20:19] tgrander opened #6212 "Cannot run Cypress on Ubuntu 18.04"
### Current behavior:

![Screen Shot 2020-01-21 at 3 13 59 PM](https://user-images.githubusercontent.com/15262143/72839763-dec1ef00-3c60-11ea-93f2-c0f337329ca7.png)

I run npm install in my git repo, install all Cypress dependencies with `apt-get`, and run `npx cypress run`. The error above is shown.

### Desired behavior:

Cypress can be opened and ran

### Test code to reproduce

Install Cypress

[2020-01-21 20:38] JeffWScott opened #6213 "Was working, Now not: "Uncaught SyntaxError: Unexpected token '<'""
### Current behavior:
My test were working fine.
I have added a new dependancy https://www.npmjs.com/package/monaco-editor
And now I get this error at the beginning of ALL my tests.
This error isn't telling me anything useful.

![image](https://user-images.githubusercontent.com/4855017/72841044-8cce9880-3c63-11ea-8049-edb0e3d847c7.png)

### Desired behavior:
This error has shut down ALL 7 of my sp

[2020-01-21 20:57] stevemckenzie commented on #5559
Any updates or suggestions @flotwig ?

[2020-01-21 21:12] flotwig commented on #5559
@stevemckenzie at this point, it would be most helpful if you could provide a reproducible example of the bug that I can run locally. Unfortunately, my attempts to build one based off of the info in this issue have not been successful.

Feel free to contact me via the email on my profile if your source code is private but you'd like to share it to help reproduce this.

[2020-01-21 21:21] aartisoni1 commented on #6202
Thank you Jennifer Shehane but I have tried that and it didn't work for me. I have simplified the test so it would be easier to dig into it. Thanks again!

[2020-01-21 21:23] Songyu-Wang commented on #6173
This is not likely to get anywhere. Close it as it is

[2020-01-21 21:23] #6173 closed

[2020-01-21 22:35] bahmutov commented on #6213
it seems to me, the svelte loader is going wrong - can you run it with `cypress open`?

[2020-01-21 22:36] binpol6 commented on #3077
I am experiencing the same issue. When I click on the below link, I am getting this error.
<b><a target="_top" href="/oscar/group/view.html?groupID=xxxxxx">yyyyy</a></b>

[2020-01-22 00:46] kavitha24 commented on #2386
Anu update on this issue?

[2020-01-22 01:26] chromakode commented on #6184
I'm seeing the same issue with a bionic docker image. We pinpointed it to the following packages:

[code]

Wrapping our invocation of cypress with `xvfb-run -s '-screen 0 1024x768x24'` worked around this issue.

[2020-01-22 04:59] hieuTranEnouvo opened #6214 "Cypress could not install Xvfb and run cypress again"
Hello,

I run google cloud and use cypress v3.8.2 Then I got a bug about installing Xvfb
==> I can't install xvfb of cypress' lib
That is my log:
[code]

[2020-01-22 05:51] jennifer-shehane commented on #6214
@hieuTranEnouvo There are instructions on how to install all necessary dependencies in our docs here: https://on.cypress.io/continuous-integration#Dependencies

[2020-01-22 05:51] #6214 closed

[2020-01-22 05:53] jennifer-shehane commented on #6212
There are updated instructions on the required dependencies in our docs here: https://on.cypress.io/guides/guides/continuous-integration#Dependencies

Can you verify you have installed all listed dependencies then run `cypress verify` in [debug mode](https://on.cypress.io/debugging#Debug-the-Command-Line) mode and print the entire set of logs here?

[2020-01-22 05:54] jennifer-shehane commented on #6202
@aartisoni1 I don't have access to the `cy.sqlServer` command so cannot run the code provided.

Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will reopen the issue.

[2020-01-22 05:54] #6202 closed

[2020-01-22 06:05] jennifer-shehane commented on #6213
There's a lot of variables involved in your example - the entire repo of code to consider. Can you narrow down the reproducible example to the smallest necessary parts? There's too much to consider here to narrow down where the error is originating from. Thanks.

[2020-01-22 06:13] jennifer-shehane commented on #6211
This is likely very much due to your corporate proxy as I am unable to reproduce this behavior on my machine.

Did you follow the instructions for Proxy configuration from our docs here? https://on.cypress.io/proxy-configuration

Can you share any information regarding your proxy settings?

<img width="1225" alt="Screen Shot 2020-01-22 at 12 40 45 PM" src="https://user-images.githubusercontent.com

[2020-01-22 06:17] jennifer-shehane commented on #6210
I do see this sizing discrepancy noted in the original PR fixing the chrome headless here: https://github.com/cypress-io/cypress/pull/5953#issue-352916802, but this is not documented anywhere in our documentation and I would definitely find this confusing as a user.

@flotwig can you comment on why there is this limitation, if there is a workaround? I'd like this documented if so.

[2020-01-22 06:27] jennifer-shehane commented on #6209
Aliases are not reusable when defined in a `before`. Closing as duplicate of https://github.com/cypress-io/cypress/issues/665

[2020-01-22 06:27] #6209 closed

[2020-01-22 06:34] jennifer-shehane commented on #4288
This issue will be closed to further comment as the exact issue here was resolved and tested.

@sania-dsouza If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. There may be a specific edge case with the issue that we need more detail to fix.

[2020-01-22 06:39] jennifer-shehane commented on #6205
@zbigniewkalinowski How are you running Cypress tests? Are you running using the Module API? Can you provide the code there? https://on.cypress.io/module-api.html

It appears there are a lot of running processes after the test run and I don't see Cypress issuing it's exit code, so would need more information on your setup to determine why this is happening.

It also looks like you're using a separ

[2020-01-22 06:42] jennifer-shehane commented on #144
@raldenhoven @TomCaserta Opening a WIP PR to our repo would be the best way to get feedback from the team on any proposed changes.

I will say, just from the initial proof of concept that there will need a be a LOT more testing as well as complete documentation written for any new commands, so there will be extra work there required to deliver.

[2020-01-22 06:43] jennifer-shehane commented on #6192
When opening a pull request, please fill out the [pull request template](https://github.com/cypress-io/cypress/blob/develop/PULL_REQUEST_TEMPLATE.md) provided - it requires necessary information we need to move forward with reviewing pull requests.

This PR will be closed as per our [contributing guidelines](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md#pull-requests). Please

[2020-01-22 06:43] #6192 closed

[2020-01-22 06:45] jennifer-shehane commented on #6190
@bhushan-udawant Can you provide a reproducible example of this behavior that we can run? I can't run the provided code as there is not a url provided or the `cy.login()` command.

Ideally, provide an `index.html` file that when visited will show the problem or a repo that we can clone with the failing Cypress tests.

[2020-01-22 06:48] jennifer-shehane commented on #6186
Please click on the 'Node Version' section in Settings to see a full explanation of where this NodeVersion comes from and how you can override it with your system node version.

<img width="802" alt="Screen Shot 2020-01-22 at 1 18 02 PM" src="https://user-images.githubusercontent.com/1271364/72871564-b0541a80-3d19-11ea-850a-c7f78ab36dd8.png">

[2020-01-22 06:48] #6186 closed

[2020-01-22 06:49] jennifer-shehane commented on #6185
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will reopen the issue. 🙏

[2020-01-22 06:49] #6185 closed

[2020-01-22 06:49] parvanehsdn opened #6215 "this element is detached from the DOM"
I wrote a code in Cypress and still I get an error.

[code]

I got error:

[code]

[2020-01-22 07:01] jennifer-shehane commented on #6183
I have confirmed this is a bug in 3.8.2. The `<span>` is considered not interactable, but when hovering as a real user, the span is able to respond to `mouseover` events.

`index.html`

[code]

`spec.js`

[code]

![](http://g.recordit.co/wM7K5ew7Hr.gif)

[2020-01-22 07:23] jennifer-shehane commented on #6193
This is very weird. Reproducible example below.

`index.html`

[code]

`spec.js`

[code]

<img width="634" alt="Screen Shot 2020-01-22 at 1 37 52 PM" src="https://user-images.githubusercontent.com/1271364/72872901-d333fe00-3d1c-11ea-8470-174ac0c629c9.png">

## Code

This is being thrown from this line of code:

https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cypress/utils.co

[2020-01-22 07:25] jennifer-shehane commented on #5029
@harshitjuneja Feel free to open a PR - even one that is a work in progress is fine. Check out our [contributing doc](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) and ask us if you get stuck.

[2020-01-22 07:26] jennifer-shehane commented on #656
This issue will be closed to further comment as the exact issue here was resolved and tested in  [`0.20.1`](https://on.cypress.io/changelog#0-20-1)

@RobbinHabermehl If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. There may be a specific edge case with the issue t

[2020-01-22 07:27] jin60641 commented on #6212
Thanks for reply! But the link you gave is not valid. I think that was https://on.cypress.io/guides/guides/continuous-integration.html#Dependencies

[2020-01-22 07:29] jennifer-shehane commented on #6215
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

We cannot run the code provided above as the HTML to run the test code against was not provided. There erro

[2020-01-22 07:29] #6215 closed

[2020-01-22 07:45] torn2537 opened #6216 "An Its() function cannot access index of zero."
### Current behavior:

From the tutorial on the official website (https://docs.cypress.io/api/commands/its.html) when I have used with an array following the example I have found an issue of the function. The function could access indices from indices `one` to last indices of the array. However, when I have used the indices `zero` with the function the compiler have an error.

### Desired behavior

[2020-01-22 07:53] jennifer-shehane commented on #6159
Your webpack config doesn't have any configuration to handle `scss` files. You need to configure some type of scss loader just like you did to handle ts files.

[2020-01-22 08:15] UyQTran opened #6218 "Refocus the main Cypress window after running all tests"
### Current behavior:
After running the set of tests in the Cypress window in Chrome, it does not focus the window again. Therefore we have to click on the Cypress window again to be able to use hotkeys like R (rerun tests). It seems like Cypress focuses on the test page rather than the Cypress window after tests are ran.

### Desired behavior:
After running all the tests, Cypress should focus on

[2020-01-22 08:24] bhushan-udawant commented on #6190
Hi @jennifer-shehane , I have mailed you the required URL.

Please have a look into it.

[2020-01-22 08:40] zbigniewkalinowski commented on #6205
I got mochavesome html reports configured as it's described here:
https://docs.cypress.io/guides/tooling/reporters.html#Examples

I also using this configuration in Jenkins:
![obraz](https://user-images.githubusercontent.com/34089686/72878241-e504a980-3cfa-11ea-93d3-97792d0bc23f.png)

And this is my cypress_runner.js code:

`const cypress = require('cypress')
const yargs = require('yargs')
const {

[2020-01-22 08:42] dRoskar commented on #6209
So okay, in the duplicate issue @brian-mann writes "between the tests Cypress removes all of the aliases". But this is clearly not true for the greeting alias, as demonstrated. And how could it be true? Isn't the whole point of aliases to be able to share data between tests?

[2020-01-22 08:47] Hecsall commented on #2972
I encountered a similar issue working on a project where i wanted to add a custom screenshot name at the end of the original cypress-generated filename, so i wrote this little function based on @Doogiemuc solution:

[code]
This function iterates over every parent element saving all their titles in an array, then it reverses it, join it with " -- " and returns the final string.
This way i can use i

[2020-01-22 08:56] qmphan opened #6219 "Crash of cypress-io/github-action@v1 after cache restore"
### Current behavior:

Cypress runner crashed with SIGSEGV when running in Github workflow (cypress-io/github-action@v1 )

[code]

### Versions

Cypress 3.8.0

[2020-01-22 10:10] coder-shanks commented on #3692
@jennifer-shehane Are you guys even working on this issue? This is really pain point for us as we wanted to use Cypress for our workflows. We are just waiting with NO response from your side

[2020-01-22 10:17] dwelle commented on #3692
Note that this may be related to the nature of Windows (semi micro-kernel architecture, NTFS filesystem etc.), and ultimately unsolvable (although, it can be possibly improved to a degree --- but no idea how).

[2020-01-22 10:25] jiangpingshendd01 commented on #2160
hi @jennifer-shehane  @guilhermebruzzi  I meet the same issue today ,and no matter how to edit the config, cypress always throw the same error? would u mind tell me how to deal with it ?
<img width="647" alt="屏幕快照 2020-01-22 下午6 24 35" src="https://user-images.githubusercontent.com/53250925/72886284-7ba98880-3d44-11ea-8b51-30f55c839d3d.png">

[2020-01-22 10:57] msmart commented on #6219
I've got the same behavior with Cypress Version: 3.8.2

[2020-01-22 11:02] sieestaa opened #6220 "test passing cypress:run and duration=0sec and fail on cypress:open (it`s true)"
My test just skipped in run mode and works fine in open mode...Why?
Cypress:    3.8.2
Browser:    Electron 78

![image](https://user-images.githubusercontent.com/47738087/72888976-bea53500-3d1f-11ea-9fd2-536529e1056a.png)
![image](https://user-images.githubusercontent.com/47738087/72888964-b816bd80-3d1f-11ea-9ba8-d40341e33c19.png)

[2020-01-22 11:14] #6220 closed

[2020-01-22 11:14] sieestaa commented on #6220
problem in async ...

[2020-01-22 11:46] Sebastian-Haehnlein commented on #6219
same here

[2020-01-22 12:05] abhidp commented on #944
Wrong thread Mr. Mikael. This is a  non-selenium community. CodeceptJs is just another wrapper over Selenium.

[2020-01-22 12:12] jennifer-shehane commented on #6209
@dRoskar This is simply how it works today. Many people dislike it and that is why there is an open issue, please comment there: https://github.com/cypress-io/cypress/issues/665

[2020-01-22 12:13] UyQTran commented on #6218
Here is one of the examples provided when setting up Cypress
`
context('Actions', () => {
  beforeEach(() => {
    cy.visit('https://example.cypress.io/commands/actions')
  })

  // https://on.cypress.io/interacting-with-elements

  it('.type() - type into a DOM element', () => {
    // https://on.cypress.io/type
    cy.get('.action-email')
      .type('fake@email.com').should('have.value', 'fake@

[2020-01-22 12:16] qmphan commented on #6219
I have changed the cache-key parameter as follows
[code]

And Cypress still couldn't start. You will find the log bellow. Everything worked smoothly until this morning. Was the Github action updated today?

[code]
25l[09:34:10]  Verifying Cypress can run /home/runner/.cache/Cypress/3.8.0/Cypress [started]
[09:34:11]  Verifying Cypress can run /home/runner/.cache/Cypress/3.8.0/Cypress [failed]
25hC

[2020-01-22 12:19] jennifer-shehane commented on #6205
@zbigniewkalinowski Can you run the following in Jenkins so that we can see extra DEBUG information on whether cypress is issuing the correct exit code. If Cypress is issuing the correct exit code, it is up to the CI provider to correctly handle the exit code.

[code]

This should print something like below at the end of the run if Cypress is doing the correct thing - with the code corresponding t

[2020-01-22 12:27] jennifer-shehane commented on #6218
In this case, this is due to the focus being directed to the input that was just being typed into in the test.

It's a bit more difficult to tell in this case because the focus is on a disabled element, but if you run the test below, you can see that the focus is maintained in the currently typed input or DOM element being interacted with.

[code]

![](http://g.recordit.co/hoKnByejEY.gif)

This is

[2020-01-22 12:31] jennifer-shehane commented on #2386
This issue is still in the 'ready for work' stage, which means no work has been done on this issue as of today, so we do not have an estimate on when this will be delivered.

[2020-01-22 12:36] jennifer-shehane commented on #6168
@Manuel-Suarez-Abascal We would love an open PR - even one that is a work in progress is fine. I would probably also prefer the 2 decimals always displaying, but if a css solution ends up being better we wouldn't be opposed to that. Check out our [contributing doc](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) and ask us if you get stuck.

[2020-01-22 12:45] UyQTran commented on #6218
Ah I see, and I can understand the priority. I just find that if you have to click and refocus on the main window every time you want to use a hotkey, then it is faster to just click on the buttons instead of the hotkeys. Rendering the hotkeys almost useless in most cases. Almost since I guess for people that have motor issues with aiming the computer cursor, will still have use for it.

[2020-01-22 13:01] jennifer-shehane commented on #6157
In this case, we would recommend overwriting the `.type()` command to handle empty strings gracefully.

I've added an example below, although you will like want the overwritten command definition in your `support/index.js` or `support/commands.js` file.

[code]

<img width="538" alt="Screen Shot 2020-01-22 at 7 30 49 PM" src="https://user-images.githubusercontent.com/1271364/72896265-b9f77580-3d4d

[2020-01-22 13:01] #6157 closed

[2020-01-22 13:32] zbigniewkalinowski commented on #6205
`  (Run Finished)

       Spec                                              Tests  Passing  Failing  Pending  Skipped
  ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
  │ ✖  01-02HomePagetests.js                    01:10       23       22        1        -        - │
  └─────────────────────────────────────────────────────────────────────────────

[2020-01-22 13:35] kesiyaabraham commented on #1744
Hi ,

Do we have any other option available in cypress to attach screenshots and videos to azure test results other than directly using DevOps API?

[2020-01-22 13:39] atuttle commented on #6191
Is there anything I can do to assist in debugging?

[2020-01-22 13:55] tgrander commented on #6212
I have installed all listed dependencies. My first screenshot [here](https://github.com/cypress-io/cypress/issues/6212#issue-553106524) captures that.

Running `DEBUG=cypress:* npx cypress verify` prints the following:

![Screen Shot 2020-01-22 at 8 52 11 AM](https://user-images.githubusercontent.com/15262143/72899692-83414100-3cf4-11ea-947c-069f5b4f2b41.png)

The error message from Cypress is not

[2020-01-22 14:11] MickaelTH commented on #944
Not really, it is also for Puppeteer and it works fine with Browserless.

[2020-01-22 14:26] JeffWScott commented on #6213
@jennifer-shehane yes you're correct, I should have been more clear.

I created a branch where the cypress tests work.
https://github.com/Lamden/wallet/tree/cypress-works
You can "npm run test-firstrun-create" to  run a test.

This is the master branch where the tests do not work.
https://github.com/Lamden/wallet

The difference is this right here. Which is disabling the component that imports Mon

[2020-01-22 14:27] UmranDogan commented on #6208
hi i run a js file on my powershell. thats okay. but now im getting this error message again when installing cypress. on my mac i have no problems installing cypress but on my windows (where i actually need cypress) i m getting this error messages.

` node index.js --exec install

The command "node" is misspelled or can not be found.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! cypress@3.8.

[2020-01-22 14:28] codecog commented on #6208
It is more or less saying, it cannot find the command `node` which would come back to your node install on the windows machine.

[2020-01-22 14:38] UmranDogan commented on #6208
hmm how can i fix this?

[2020-01-22 14:39] codecog commented on #6208
you would need to look at how you installed node on your machine. I don't think the issue is cypress related.

[2020-01-22 14:50] chrisbreiding commented on #6188
My concern with this is that we would have to ship Cypress with all the logo images included, which could increase its size a decent bit. Maybe we should decide on a subset of browsers to include, so the size increase is limited? Thoughts, @cypress-io/test-runner?

@jennifer-shehane, @brian-mann, where did we land on what to do for the Electron logo? Actual Electron logo, chromium logo, globe icon

[2020-01-22 14:58] mganjoo opened #6221 "cypress verify fails on GitHub Actions CI"
### Current behavior:

My GitHub Actions CI pipeline has started failing at the `cypress verify` step. With `DEBUG=cypress.*` turned on, I get the following output and the `cypress verify` command exits with non-zero code:

[code]

### Desired behavior:

The `cypress verify` command should run successfully.

### Test code to reproduce

Running

[code]

within the GitHub Actions CI environment trig

[2020-01-22 15:27] trydionel commented on #6188
Yea, that's a fair concern. Even just grabbing the SVGs of the 6 browsers outlined above would suffice for the most common cases. That should add well under 100kb to the overall package size.

[2020-01-22 15:53] EtienneBruines commented on #2915
*Might* be closed by #311

[2020-01-22 15:54] JeffWScott commented on #6213
@jennifer-shehane

Hey, I went a step further and refactored the Monaco Editor import out to it's own module.

I can now load or not load the  Monaco Editor:
https://github.com/Lamden/wallet/blob/master/src/svelte/components/Monaco.svelte

With it turned off I can run all test cases fine.
With Monaco Editor loaded I throw this error every time and in every test case.
[code]
Obviously the code buil

[2020-01-22 16:05] JeffWScott commented on #6213
@bahmutov Hey, sorry I didn't see your response there.

cypress open does open the browser and show my test cases.  Clicking on one of them opens a new window.  I get a notification in the bottom of the window that Cypress has crashed.

I installed cypress-log-to-output but the only output I get in the console is
[code]
it doesn't get any farther after the crash.

[2020-01-22 16:07] x-yuri commented on #170
@jimpriest I'm curious too. If you create a test repository that I can `git clone ... && npm i && npx cypress open` and see the issue, I'll take a look.

Also, do note that [`cypress-form-data-with-file-upload`][1] [discards][2] event handlers that `cypress` attaches. At least, after invoking `attachFiles()` `cypress` will stop adding FORM SUB and PAGE LOAD log entries. Until you close the runner

[2020-01-22 16:13] glambert commented on #6221
FYI @bahmutov just posted the following, which fixes the issue: https://github.com/cypress-io/github-action#important

[2020-01-22 16:14] glambert commented on #6219
Does this fix the issue? https://github.com/cypress-io/cypress/issues/6221#issuecomment-577262510

[2020-01-22 16:32] mganjoo commented on #6221
@glambert That seems to have fixed the issue. Thank you!

[2020-01-22 16:49] jimpriest commented on #170
@x-yuri   I will try to get something together as an example! Thx!

[2020-01-22 16:55] jonathannaim opened #6222 "Docker image ships with npm 6.10.0 which has a bug"
### Current behavior:

The provided docker images ship with npm 6.10.0 which has a bug and ignores npmrc configuration. It forces us to install the latest npm version from the docker image.

### Desired behavior:

Docker image ship with the latest npm version

### Test code to reproduce

Related to that issue : https://github.com/nodejs/node/issues/28987

### Versions

Cypress:    3.8.2 Docker ima

[2020-01-22 17:06] zztessema opened #6223 "Cypress run output prints "undefined" in various locations"
### Current behavior:
When using "cypress run", the output to the command window will print "undefined" in various locations. I was wondering where I could get more information as to what error is occurring to cause this. Is there a way to suppress this?

![image](https://user-images.githubusercontent.com/57146040/72909649-5ba6a480-3d05-11ea-8402-57cf20b5d1c1.png)

This issue was first seen using

[2020-01-22 17:11] manabshy opened #6224 "CypressError: Timed out retrying: Expected to find element: 'ls-table-body > :nth-child(1) > :nth-child(2)', but never found it."
I get the Error  executing cypress tests in the gitlab pipeline. Locally, they all pass. What is the reason ?

[code]

I am doing AS below
[code]

- What I already tried
1.
[code]

2. use `cy.wait`

Thank you

[2020-01-22 17:24] germyjen commented on #1313
it's been roughly a year since the original feature request, any update on what's going on with this? Desperate for officially supported retries.

[2020-01-22 17:27] dwelle commented on #1313
@germyjen don't think this is a top priority when there's a perfectly working workaround https://github.com/Bkucera/cypress-plugin-retries

[2020-01-22 17:35] #6184 closed

[2020-01-22 17:46] JasonTheAdams commented on #4220
Same issue here while using the same superdomain. The tests work locally, but when running on CircleCI we're running from `http://localhost:8000`. The page redirects to `http://app.localhost:8000` after login is successful. This is when the error happens.

[2020-01-22 17:51] bahmutov commented on #6184
Added testing https://github.com/cypress-io/cypress-test-ci-environments/pull/27

[2020-01-22 17:55] zifahm commented on #5540
@adventmedia  How did you solve this? Did the plugin work?

[2020-01-22 17:58] bahmutov commented on #6184
## Temporary workaround

Start Xvfb yourself before running Cypress

[code]

[2020-01-22 18:11] bahmutov commented on #6222
What image are you referring to - `cypress/included:3.8.2`? It is built on top of `cypress/base:12.6.0` which does have `npm 6.10.0`, but we will not replace existing an image people are already using in production. I think the next image we are going to build will have Cypress v3.8.3 and will be built on top of a newer `cypress/base` image with latest NPM and Yarn https://github.com/cypress-io/cy

[2020-01-22 18:11] #6222 closed

[2020-01-22 18:15] tgrander commented on #6212
Update: if I do `brew cask install xquartz` on my machine then I am able to successfully do `cypress run` on the Ubuntu machine I am ssh'd into. However this will not work in the CI environment. This seems like a problem with Cypress. Is there a way to run Cypress without the GUI?

[2020-01-22 18:18] jonathannaim commented on #6222
That works for me.

Sorry I didn't mean to update an existing image I meant to ship the next version with a version of npm that has the bug fix i.e. `>6.11.1`

[2020-01-22 18:48] bahmutov commented on #6222
Yeah when 3.8.3 comes out I will use a newer base image

Sent from my iPhone

[2020-01-22 18:59] tgrander commented on #6212
UPDATE: it works fine on Ubuntu 16, which leads me to believe that Cypress is incompatible with Ubuntu 18

[2020-01-22 19:52] flotwig commented on #6212
Hey @tgrander, I am running & developing Cypress on Ubuntu 19.10, I'd be surprised if it was incompatible with 18.04. It seems like something is wrong with your X setup, do you use Wayland or X normally?

[2020-01-22 19:54] flotwig commented on #6212
Normally, in CI, Cypress uses `xvfb` to set up a virtual framebuffer, so you don't need to do the X situation you're describing. It only does this if the `DISPLAY` environment variable is blank, so does running `DISPLAY= npx cypress run` work for you @tgrander ?

[2020-01-22 19:57] tgrander commented on #6212
@flotwig I'm not using X at all on either the Ubuntu 16.04 or the 18.04 machine and yet it does work on 16.04

I tried running `DISPLAY= npx cypress run` on 18.04 and that does not work either

[2020-01-22 20:02] jordandlaman commented on #5673
Obviously things can change but I have been monitoring the cross browser state of cypress for a while and it was mentioned by at least one cypress dev in the past that safari is difficult for multiple reasons and that it would be probably come last on cross browser road map.  Just FYI.

[2020-01-22 20:05] flotwig commented on #6212
Yeah bizarre, I was able to reproduce this locally by running Ubuntu 18.04 in Docker.

Wrapping it in `xvfb` should work as a workaround, try this: `xvfb-run npx cypress run`

[2020-01-22 20:07] bahmutov commented on #6212
This is a duplicate of https://github.com/cypress-io/cypress/issues/6184 see temp workaround https://github.com/cypress-io/cypress/issues/6184#issuecomment-577308973

A fix has been merged in https://github.com/cypress-io/cypress/pull/6199 and will be released in 3.8.3

[2020-01-22 20:07] #6212 closed

[2020-01-22 20:09] flotwig commented on #6184
Alternatively, you can use xvfb-run to wrap the commands:

[code]

[2020-01-22 20:20] bahmutov commented on #6184
Interesting, Ubuntu19 image works just fine https://github.com/cypress-io/cypress-docker-images/pull/213

[2020-01-22 20:31] guilhermebruzzi commented on #2160
@jiangpingshendd01 I think the problem is where you put the baseUrl in your case.

See my steps to reproduce above:
[code]

the baseUrl param is inside a "config" key, so in your case you should probably do: `myjson.config.baseUrl = "https://dev-my.hktester.com"`

[2020-01-22 20:45] qmphan commented on #6219
Yes it does! Thank you @glambert!

[2020-01-22 21:09] aartisoni1 commented on #6202
Please try running below :

   it('reset password', async() => {

      cy.get('#Email').clear().type("example@test.com");
      cy.get('#ResetPasswordButton').click();
      //check if there's proper message in toast message and toast title
      const toastTitle=await getText(cy.get('.toast-title'));
      assert.equal("sent email",toastTitle);
      const toastMessage = await getText(cy.get('.t

[2020-01-22 21:16] bahmutov commented on #4383
@nicholassiu the url is not loading `https://dev-us.insightbot.io/smoke-test-landing-184926`

[2020-01-22 21:19] bahmutov commented on #6221
Closing as duplicate of https://github.com/cypress-io/cypress/issues/6184 - see work arounds there as well

[2020-01-22 21:19] #6221 closed

[2020-01-22 22:13] bahmutov commented on #6219
duplicate of https://github.com/cypress-io/cypress/issues/6184 see workarounds there

[2020-01-22 22:13] #6219 closed

[2020-01-22 22:31] alex-ut commented on #871
@bakjos 's solution doesn't work for me.  I would like to be able to see the focused element (say, text field) when hovering around in the Cypress log.  Sadly, every hover on a `GET` or `TYPE` causes the element in question to get forcibly scrolled to the top of the screen -- right underneath a header, totally obscured from view, just like many others have complained about in this github issue.

+

[2020-01-23 03:36] brettz9 commented on #3207
Just in case this may have any bearing: https://github.com/microsoft/playwright

[2020-01-23 05:00] Manuel-Suarez-Abascal commented on #6168
Hi @jennifer-shehane, I'm trying to `push` my code changes & open a PR.
However, whenever I try to push the changes I get this error message:

![cant-push-code](https://user-images.githubusercontent.com/32891808/72957861-19b44780-3d73-11ea-9057-1caf79b87588.PNG)

I might need some help on how to `push` my code & open a PR for review! Thanks in advance! 🙂

[2020-01-23 07:55] jjnyn opened #6225 "Cypress fails to run Chrome browser headlessly"
### Current behavior:

I am trying to run my tests on Chrome `headlessly`, but passing `npx cypress run --browser chrome --headless` and to run Chrome tests `headlessly` seems not working.

### Desired behavior:

It's expected to run chrome tests `headlessly`

### Test code to reproduce

Just clone the `https://github.com/cypress-io/cypress-test-tiny` repo and run `npx cypress run --browser chrome

[2020-01-23 09:35] #6116 closed

[2020-01-23 09:38] jennifer-shehane commented on #6214
This may likely be a duplicate of https://github.com/cypress-io/cypress/issues/6184, see the workarounds there to see if it resolves your issue.

[2020-01-23 09:39] jennifer-shehane commented on #6182
Duplicate of #6184

[2020-01-23 09:46] jennifer-shehane commented on #6205
So, Cypress in this case is issuing the proper exit code. This appears to be an issue with Jenkins not responding to the exit code for some reason - not sure if it's Jenkins or something with your configuration, so this is not an issue with Cypress.

I'm going to close this issue since this is not something we can control.

[2020-01-23 09:46] #6205 closed

[2020-01-23 10:37] w0wka91 commented on #3560
This gets actually quite annoying for someone who is developing on Windows. You're able to skip the hook with `--no-verify` but then you're not able to benefit from all of the lint features!

I already looked into the stop-only source code but I wasn't able to fix it properly. Maybe another option would be to use https://github.com/levibuzolic/eslint-plugin-no-only-tests instead of stop-only?!

[2020-01-23 10:41] randing89 commented on #3491
Solved by adding `xvfb-run -s '-screen 0 1280x800x24'` before `cypress run`

[2020-01-23 10:42] jennifer-shehane commented on #6225
There is a bug in Cypress 3.8.0 that did not truly run Chrome headlessly when passing the `--headless` flag. To run Cypress in Chrome headless requires version 3.8.1.

Can you verify you are using 3.8.1 or higher? It's a little bit confusing from your comments, I think you may have mistyped a version somewhere.

You also mentioned to `clone the repo` but no link to a repo was provided. Can you ple

[2020-01-23 10:46] jennifer-shehane commented on #3207
We are still actively working on releasing Firefox support. Currently the release is blocked by a garbage collection issue that causes Firefox to crash during some tests during `cypress run`. We're working with the Firefox team and also trying several creative workarounds to prevent the crashing. https://github.com/cypress-io/cypress/pull/1359

We are also working on releasing support for Microsof

[2020-01-23 10:48] jennifer-shehane commented on #310
We are actively working on releasing Firefox support. Currently the release is blocked by a garbage collection issue that causes Firefox to crash during some tests during `cypress run`. We're working with the Firefox team and also trying several creative workarounds to prevent the crashing. https://github.com/cypress-io/cypress/pull/1359

We are also working on releasing support for Microsoft Edge

[2020-01-23 10:51] jennifer-shehane commented on #6224
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

There is no provided application to run the test code against, so there's no way to assess why this error is throwing or if this is a bug in Cypress.

Please comment in this issue with

[2020-01-23 10:51] #6224 closed

[2020-01-23 10:52] jennifer-shehane commented on #6223
Duplicate of #5995

[2020-01-23 10:52] #6223 closed

[2020-01-23 10:53] jennifer-shehane commented on #6208
Closing as this does not appear to be a Cypress issue.

[2020-01-23 10:53] #6208 closed

[2020-01-23 10:55] jjnyn commented on #6225
@jennifer-shehane
I have updated `Test code to reproduce` section. The `repo` I meant to address is `https://github.com/cypress-io/cypress-test-tiny`.
And when I run on Cypress@3.8.2, the `--headless` test would not be executed. Error code: `The browser never connected. Something is wrong. The tests cannot run. Aborting...`

[2020-01-23 10:56] jennifer-shehane commented on #6202
@aartisoni1 Please provide a completely running example in a single comment. There is no url specified in the test above, so this test code is not runnable. I cannot piece together several comments to get a reproducible example because I am not familiar with your application.

Please provide something that I can directly copy paste into a single test and run that shows the error or a repo that can

[2020-01-23 10:57] jennifer-shehane commented on #6225
@jjnyn Is there a specific branch or fork I'm meant to run in the https://github.com/cypress-io/cypress-test-tiny repo?

[2020-01-23 11:01] jjnyn commented on #6225
@jennifer-shehane I ran the command in the `master` branch. I didn't change anything from it when I ran it.

[2020-01-23 11:53] lunaboona opened #6226 "Screenshots taken in CI show the Test Runner"
### Current behavior:

Screenshots taken in my CI environmment show the Test Runner, whereas screenshots taken locally don't.

### Desired behavior:

Screenshots shouldn't show the Test Runner.

### Test code to reproduce
cypress.json configuration used locally:
[code]

cypress.json configuration used in CI:
[code]

plugins/index.js
[code]

Commands used to run Cypress:
[code]

Docker image used:

[2020-01-23 12:13] elgalu commented on #5673
Indeed, there are open [PRs for Firefox and MS Edge latest](https://github.com/cypress-io/cypress/issues/310#issuecomment-577627854) so I guess they will start working on Safari after that.

[2020-01-23 12:38] lunaboona commented on #6226
For comparison, this is a screenshot taken locally:

[2020-01-23 12:39] lunaboona commented on #6226
This is a screenshot taken locally:

[2020-01-23 13:04] kamiloski opened #6227 "Cannot click on button by ID (#) but by css button is clickable"
### Current behavior:

Problem with clicking on buttons. When I use
`cy.get("#myButton").click()`
i get error (timeout):
`CypressError: Timed out retrying: cy.click() failed because this element:
<button _ngcontent-fan="" id="myButton">...</button>
is being covered by another element:
<div _ngcontent-fan="" class="hist_par">...</div>
Fix this problem, or use {force: true} to disable error checking

[2020-01-23 13:14] #6227 closed

[2020-01-23 13:55] bkmgit commented on #3382
@BonfaceKilz There seems to be a bounty for electron support in FreeBSD, see [here](https://www.bountysource.com/issues/29075473-add-freebsd-support-to-electron) and the electron issue [here](https://github.com/electron/electron/issues/3797)

[2020-01-23 15:09] nieve opened #6228 "Creating a stubbed DELETE route goes to the real server"
### Current behavior:

I created a test with a stubbed route that responds with a 204 like so:

[code]
However, when I run the request seems to actually hit the real server:

![image](https://user-images.githubusercontent.com/202493/72996010-2def5780-3dfa-11ea-9f54-329f773a6e19.png)

### Desired behavior:

request should go through the stubbed route (and return 204).

### Test code to reproduce

[

[2020-01-23 15:28] AlexisNo commented on #5752
Hi, I had a similar problem with a GitLab runner and the application to test inside an intranet.

I managed to get it working specifying the full domain: `abc.example.internal` instead of `example.internal`. The latest works correctly for tools like wget, but I had to add the first one to the list to make it work with Cypress: `abc.example.internal,example.internal`. (I still needed `example.inter

[2020-01-23 16:38] GMchris commented on #566
I'm not saying this is _ideal_, however I've managed to finally get this working with React 16.8 with a `textarea`.

[code]
Since `cy.type` actually manages to trigger React's events properly, writing on extra character then deleting it winds up triggered the change and the application responds to it. I'd prefer to write an empty string (Cypress blocks this) or at least spaces (doesn't appear to w

[2020-01-23 16:57] obedparla commented on #5895
Having the same issue, my mock servers work but Cypress gets an empty response in Cypress

[2020-01-23 17:21] flotwig commented on #5895
Are you also requesting a subdomain of localhost like http://foo.localhost?

[2020-01-23 17:43] protyay commented on #6193
Hello, @jennifer-shehane , can i work on this issue ?

[2020-01-23 18:21] jennifer-shehane commented on #6226
Can you include the test code where you are taking the screenshot please?

[2020-01-23 18:29] jennifer-shehane commented on #6228
@nieve For a request to be stubbed, you need to provide a `response` option. Anything without a `response` option will go directly through to the given url. From our docs:

Please make sure to thoroughly read the https://on.cypress.io/route doc.

[2020-01-23 18:29] #6228 closed

[2020-01-23 18:34] tnrich commented on #4233
I'm definitely still seeing issues with cypress scrolling elements under a sticky header.

[2020-01-23 18:36] lunaboona commented on #6226
@jennifer-shehane Sure. I'm using the cypress-image-snapshot plugin:
[code]

[2020-01-23 18:58] jennifer-shehane commented on #5056
Hey @gracesianturi has your issue been resolved? Because we'll close the issue if so.

[2020-01-23 19:04] lunaboona commented on #6226
I realize now that this issue should've been opened in the cypress-image-snapshot repo. The problem doesn't happen when simply using cy.screenshot(). My bad.

[2020-01-23 19:04] #6226 closed

[2020-01-23 19:19] Regnander opened #6229 "Ctrl+F to set focus on the search bar"
### Current behavior:

Pressing Ctrl+F does nothing at the moment as this keybinding seems not be bound to anything.

### Desired behavior:

I want said keybinding to set focus on the search bar in the GUI (and select all existing text), since I'm using the search bar quite often to find files.

### Test code to reproduce

N/A

### Versions

3.8.2 and older

[2020-01-23 19:33] TomaszG opened #6231 "Missing CI information from GitLab"
It seems that the project URL and default branch are not utilized correctly by the runner. Due to this, some 3rd party tools may not work properly when they expect `remoteOrigin` and `defaultBranch`  in `commitParams` for runs recorded by Cypress running as GitLab job.

[2020-01-23 20:15] heloisam commented on #5778
Hey!
I had the same problem today in v.3.8.2.
The solution was to downgrade to v.3.4.1.

Any news for the fix? @ShaminKarim

[2020-01-23 20:23] moshie commented on #1570
This might help anyone coming here looking for answers but this helped us:

[code]

[2020-01-23 20:32] tuzmusic commented on #1417
Can you share this custom command?

[2020-01-23 21:02] nieve commented on #6228
Thanks for the prompt reply and sorry about the confusion. I thought the status specified in the route stood for a response to be stubbed and returned when called.

[2020-01-23 21:31] swathisham commented on #5103
Thank you so much . It worked !!!

[2020-01-24 02:54] datner commented on #6216
I am currently doing this one, the project is a bit overwhelming for me so I might get this wrong so please be patient with me :) (also writing coffeescript on the fly so thats cool).

I'm actually done but the pre-commit hook is breaking on me, so, I'm dealing with that

[2020-01-24 03:35] xdumaine commented on #6053
I'm to the point that I cannot run cypress on my mac, because I get this error so constantly. Any idea when this will be released? downgrading cypress didn't fix it.

[2020-01-24 03:47] gracesianturi commented on #5056
hello @jennifer-shehane  . the issue has been resolved. thank you

[2020-01-24 03:47] #5056 closed

[2020-01-24 04:49] m4s9 opened #6235 "Cypress / xvfb related segmentation fault"
### Current behavior:

When running cypress tests, it fails to start.

Here is some commands and logs:

[code]

### Desired behavior:

`cypress run` should run without a crash

### Test code to reproduce

I was running headless cypress tests on a AWS Ubuntu 18.04 server. See the steps above. This failure seems to require a server version (+xvfb), because tests run smoothly on my desktop ubuntu.

#

[2020-01-24 07:29] Mouvedia commented on #1564
#5224 would close this

[2020-01-24 09:07] AlexisNo commented on #5752
`NO_PROXY=*.example.internal` works correctly too.

[2020-01-24 09:44] dwelle commented on #1417
@tuzmusic bit different, but you can use this one: https://stackoverflow.com/a/58300534/927631.

Making a command to be able to use `Promise.all` is dangerous and will often result in incorrect resolution values due to how Cypress implements the `.then` method.

[2020-01-24 09:47] obedparla commented on #5895
No, in my case I'm trying to hit `localhost:10008` directly.  This is the exact command in my package.json:

[code]

[2020-01-24 09:49] jennifer-shehane opened #6237 "Node version 'learn more' link in Desktop-GUI is broken"
### Current behavior:

The 'Learn more' link inside 'Node version' routes to `http://on.cypress.io/configuration#Node-Version` which goes to no where since the heading in the docs was renamed to `Node version` (lowercase).

<img width="800" alt="Screen Shot 2020-01-24 at 4 15 41 PM" src="https://user-images.githubusercontent.com/1271364/73059801-dec22900-3ec4-11ea-84ba-ad380101c34a.png">

### Desi

[2020-01-24 09:57] corey-aloia commented on #1725
@jennifer-shehane thanks for sharing! In the case of dynamically loaded scripts (like tracking solutions) this is a bit more difficult. This is what I came up with. Although Im not proud of it, it works:
`cy.visit('https://example.cypress.io', {
onBeforeLoad: contentWindow => {
          const oldAppendChild = contentWindow.document.head.appendChild;
          contentWindow.document.head.appendChi

[2020-01-24 10:12] jennifer-shehane commented on #5918
Sorry, I did not document this correctly. This error is coming when launching through Electron, so the instructions for sending this app switch to Electron are here: https://on.cypress.io/browser-launch-api#Modify-Electron-app-switches

Can you set the following environment variable on your system, run `cypress run` again and comment on the result?

### Windows

[code]

### Linux/OSX

[code]

[2020-01-24 10:19] jennifer-shehane commented on #6112
Yeah, you don’t really need to coordinate async commands within Cypress, they are run serially no matter what. So, an couple of examples of what I think you're trying to do:

[code]

or

[code]

[2020-01-24 10:40] jennifer-shehane commented on #6235
Duplicate of #6184

[2020-01-24 10:40] #6235 closed

[2020-01-24 10:43] jennifer-shehane commented on #6229
Hey @Regnander Can you be more specific about where you're like to use `ctrl+f`? There are several parts to our application and I'm not sure where you're trying to use it.

Here?

<img width="831" alt="Screen Shot 2020-01-24 at 5 12 33 PM" src="https://user-images.githubusercontent.com/1271364/73063240-c2c28580-3ecc-11ea-8624-87f71d19848e.png">

Here?

<img width="1228" alt="Screen Shot 2020-01-24

[2020-01-24 10:46] jennifer-shehane commented on #6231
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

Please include a screenshot of the area you're mentioning with the 'Default branch' and the 'project URL' t

[2020-01-24 10:50] jennifer-shehane commented on #6053
@xdumaine We release every 2 weeks - so this should be released today (1/24/20) barring no complications with the release.

[2020-01-24 10:50] Regnander commented on #6229
I meant this window. Sorry about that!

[2020-01-24 12:54] BonfaceKilz commented on #3382
@bkmgit a solution I've used for that is to run Node in docker(which FYI is kinda un-intuitive because of jails). I wrote about that here: https://www.bonfacemunyoki.com/post/2020-01-20-how-to-setup-docker-in-freebsd/

[2020-01-24 13:22] Jeezy8 commented on #6211
I have configred the Proxy as described in the docs.
The proper URL appears on the Cypress settings.

Regarding the proxy itsself, it looks like this:
http://wwwproxy.name.domain.de:8080

I also added
`NO_PROXY=localhost`
and tried
`NO_PROXY="localhost, localhost:3000"`

As far as the proxy is concerned, Im lacking knowledge of what else could cause the issue,
or which information could help you d

[2020-01-24 13:34] UmranDogan commented on #4663
heyy how did you solves this issue

[2020-01-24 14:07] gmbarroso commented on #4220
@jennifer-shehane is there any updates where it will be possible to access more domains at the same test? Cause it seems a lot of people trey this.

Me, for example, I can't open some modal in a table just because this modal verifies the user token to open it.

I'm keeping having this issue and it is really annoying.

Thanks

[2020-01-24 14:11] backfromreality commented on #6197
@jennifer-shehane I tried to start own app on localhost with brotli encoded files and visit localhost by cypress but got an error like this [#5446 ](https://github.com/cypress-io/cypress/issues/5446)
so I'll wait for fix

also found one more unclear thing for me
if we are visiting [google.co.in](https://www.google.co.in) the html file and some JS files have `content-encoding: br`
![Chrome](https:/

[2020-01-24 14:17] flotwig commented on #6197
@backfromreality Cypress only currently supports injecting into non-compressed or gzip-compressed content. But Brotli could probably be added easily too since IIRC it's part of Node's standard lib.

[2020-01-24 14:28] gnapse commented on #486
I created this custom command, in case is helpful for others, or to know if there are any caveats here, if I'm shooting myself in the foot or anything like it (just devised it and seems to work well, but who knows, especially the hack to be able to use it inside `.within`):

[code]

Use it like this:

[code]

[2020-01-24 14:31] maurocolella opened #6240 "cypress about to exit with code 39"
Not a question.

### Current behavior:

On a Manjaro host, kernel `5.4.13-3-MANJARO`
With `Docker version 19.03.5-ce, build 633a0ea838`
On multiple container types: Either from `cypress/base`, `cypress/browsers`, or from any node base > 12 with cypress dependencies added, after the test run and the test reports, I get the following output when running cypress with `DEBUG=cypress:*`

Based on the e

[2020-01-24 14:53] rockthis13 commented on #4383
Yes, I have the same problem, after few times, I get just blank page
![image](https://user-images.githubusercontent.com/59865468/73077999-f3ed8680-3ec9-11ea-84f7-6de59f6d1b29.png)

[2020-01-24 15:39] andrey-semin commented on #467
+1

[2020-01-24 15:58] limonte commented on #6053
Friday releases. Classic :laughing:

![image](https://user-images.githubusercontent.com/6059356/73082980-0cae6a00-3ed3-11ea-9659-877bea8d99a6.png)

[2020-01-24 16:09] GrzegorzKazana opened #6241 "Misleading cy.task error message when returning Promise<undefined>"
### Current behavior:

When running a task returning promise that fulfils with undefined, we get an error with following message: `The task 'exampleAsyncTask' returned undefined. You must return a promise, a value, or null to indicate that the task was handled.`

### Desired behavior:

Cypress should either handle promises fulfilling to undefined, or give clear error message that it's not allowed

[2020-01-24 18:20] felquis commented on #4142
Sorry to bring this issue back to live @jennifer-shehane, in my case I doesn't load different domains, I click a menu link that is going to reload the page to a new one, might use the same domain/path but different query parameters.

<img width="420" alt="Screen Shot 2020-01-24 at 15 15 58" src="https://user-images.githubusercontent.com/736728/73093020-72dbc280-3ebc-11ea-837b-928b02bcb11d.png">
<i

[2020-01-24 18:29] flotwig opened #6243 "Update browser types, adding channel and making names consistent"
### Current behavior:

Browsers are defined like this:

[code]

...which isn't well-suited to filtering out browsers based on behavior.

### Desired behavior:

Browsers are defined like this:

[code]

So this:

https://github.com/cypress-io/cypress/blob/c15e8e1473b2787e0402e40811baa6a68c640650/packages/launcher/lib/browsers.ts#L8-L60

Would become this:

[code]

Microsoft Edge #5433 would look lik

[2020-01-24 19:32] flotwig commented on #5802
@brian-mann and I discussed this a little bit, with the goal of getting an argument that is capable of selecting the plugin, the CLI, the Electron app, or all processes for debugging.

Here's kinda what we came up with:

* `cypress open --inspect-brk` - inspect the plugins process
* `cypress open --inspect-brk=1234` - inspect the plugins process on port 1234
* `cypress open --inspect-processes=cli

[2020-01-24 19:51] tnrich opened #6244 "cy.server() not playing nicely with cy.request()"
I'm curious as to why `cy.server()` isn't adding headers to subsequent `cy.request()` calls, but DOES add them to subsequent `cy.route()` calls. This seems out of step with the docs which say:

![image](https://user-images.githubusercontent.com/2730609/73098803-fc7c9780-3e9e-11ea-9f43-dc331ac4d9b9.png)

Here is my pseudocode:

[code]

Is this by design? I would have expected the token to have been

[2020-01-24 20:00] boyanio commented on #5802
I personally like the proposition (y)

[2020-01-24 20:25] brian-mann commented on #5802
`--inspect-process` is a little less verbose than `--inspect-processes`, and since the default will only be `plugins` it kind of acts as a power feature to pass a comma separated list of the others

[2020-01-24 20:50] atuttle commented on #6191
I'll be offline for a week, starting tonight. If you need any more information or if you think making some changes could help, please contact my colleagues at helpdesk@alumniq.com

[2020-01-24 21:38] tnrich commented on #6244
And just to add, I've also tried
[code]
to no avail.

[2020-01-24 21:56] Stewartarmbrecht commented on #6100
Any chance someone might be able to explain if this is possible or a target feature?

[2020-01-24 22:00] aurium commented on #1418
Hi, i have the same problem to test my Vue application. So i wrote a commands module to do this.
https://www.npmjs.com/package/cy-mobile-commands

I did it today and i have implemented only the `swipe` command. This is my first command to cypress, so i will be glad to receive some review feedback about my implementation.
https://gitlab.com/nTopus/cy-mobile-commands/issues

[2020-01-24 23:22] flotwig commented on #6100
Hi Stewart, I don't know too much about VS Online, but if it runs on Linux and allows you to expose ports, you may be able to set up X forwarding which would allow you to use Cypress.

[2020-01-25 06:16] NicholasBoll commented on #1417
@tuzmusic The plugin is at github.com/NicholasBoll/cypress-promise

It has unexplained limitations due to the nature of Cypress Command enqueuing. It works by adding a function on the Cypress $Chainer prototype to return a real promise instead of a Cypress Chain. There are circumstances where Cypress doesn't like.

[2020-01-25 11:31] anca1108 commented on #1099
I had same issue on Windows 10; when i tried to run `./node_modules/.bin/cypress open` in command line I was getting error

. I googled and it appears that this happens because of the environment variable PATH. when i installed nodeJS its path was added to PATH env var but there was no semicolon at the end. I added semicolon and Cypress opened successfully without showing any error. Hope this will

[2020-01-25 13:45] dleitee commented on #136
I'm working in an App that uses [React Stripe Elements](https://github.com/stripe/react-stripe-elements) where each input is an iframe, I tried all examples that was posted here and no one works.

So what I did was insert a `cy.wait(1000)` before call the iframe.

[code]

I know, it's not the pretty approach at all, but it is the only approach that worked on my project.

[2020-01-25 16:06] bahmutov commented on #4142
@felquis can you please open a separate issue describing your problem AND having a public small reproduction that shows the problem. Like remove everything extra and just have a single test with the part of the source code that shows us the problem. Otherwise, we have nothing to go by really to fix the problem.

[2020-01-26 03:43] Songyu-Wang commented on #3640
Closing this issue since it is probably not gonna happen

[2020-01-26 13:41] datner commented on #5980
should the entire run wait for the timeout before advancing the test? Won't that potentially make the test take too long?

[2020-01-26 14:14] markjaquith commented on #909
This has been annoying me for years.

This is probably a bit of a hack, but this works, for now. This is probably unsupported and a code time bomb, so caveat emptor:

`cypress/support/index.js`:
[code]

`cypress/support/baseUrl.js':
[code]

`cypress.env.json`:
[code]

**NOTE: You cannot set `baseUrl` in `cypress.json` if you do this (or rather, if you do, it will have to exist on the user's system

[2020-01-26 18:59] sreeramofficial commented on #2107
Still facing the issue. But clearing the cache manually fixes the issue, but only until the next run.

[2020-01-26 19:51] janakdr commented on #5980
Not sure I understand the question. Is it different from how you expect
cy.get to behave with respect to the timeout?

On Sun, Jan 26, 2020, 8:41 AM Datner <notifications@github.com> wrote:

[2020-01-27 03:24] pranaydua1987 opened #6245 "Cypress not able to load a different domain used in the second test"
I have 2 tests. In one test the user goes to www.nordstromrack.com and login and in the second test case it goes to www.hautelook.com and tries to the same. Ideally the test should be able to navigate between 2 domains within the same test case but since that's not possible in cypress so I had to add the second test case.

### Current behavior:

In the first test case its able to successfully logi

[2020-01-27 04:45] steveharrison opened #6246 "Screenshots taken in 1000px viewport are 800px wide in Docker + Chrome + Headless"
### Current behavior:
When I set the viewport to 1000x600px and then take a screenshot, the resulting screenshot is 800x600px wide. This only happens when running inside Docker.

### Desired behavior:
I expect the screenshot to be 1000px wide.

I've read @brian-mann's [post about issues with taking screenshots larger than 1280x720px](https://github.com/cypress-io/cypress/issues/2102#issuecomment-4

[2020-01-27 06:50] id-dan commented on #6245
@pranaydua1987 Pls read this documention:
https://docs.cypress.io/guides/guides/web-security.html#Same-superdomain-per-test

[2020-01-27 06:58] pranaydua1987 commented on #6245
I have gone through this documentation that's why my 2 different domains are part of 2 separate tests. According to docs you cant have 2 different superdomains as a part of a single test.

[2020-01-27 08:23] ranaec21 opened #6248 "cypress connectivity with google maps"
### Current behavior:

my application using google maps in one of the screens and when we invoke application this page gets loaded However to cover BDD when We invoke that page using Cypress script then page itself is not loaded and we get error like "unable to load google maps API".
We initially thought it could be proxy issue and tried enabling proxy also However still issue persists. Any help o

[2020-01-27 08:42] sznowicki commented on #6245
There is another issue about the same thing: https://github.com/cypress-io/cypress/issues/944

Long story short, cypress loads tested page within an iframe with introduces some limitations (more in the thread).

[2020-01-27 08:49] pranaydua1987 commented on #6245
@sznowicki I have gone through this issue but in my case, I am using 2 different tests and it should work . Actually If I remove the login step and simply clicks come button in test 1 and then move to test 2 then it actually does open the page .

[2020-01-27 09:27] rehne commented on #6202
@jennifer-shehane I am running into the exact same problem. In the Cypress UI Tool (node_modules/.bin/cypress open) the test runs perfectly fine. But it fails in the command line headed and headless because it stucks after or in the first Promise.

[code]

Cypress 3.8.3
Chrome 79.0

[2020-01-27 09:58] sainthkh commented on #2027
The code should be written in this way:

[code]

[code]

@bahmutov

This issue is solved thanks to @mgol. But we have a few things to decide/do.

1. We should add this to FAQ of the doc. Right?
2. Should I leave the code above as '2027_spec.js' under `packages/driver` tests? `CSS.escape` is currently in Working Draft stage. So, things can change.
3. We need update the type of `cy.$$` in `index.d.t

[2020-01-27 10:28] sainthkh commented on #2069
@jennifer-shehane

It is now solved in Cypress 3.8.3. I guess it might have been solved from 3.8.0 (Electron 7.x update).

Test:

[code]

[2020-01-27 10:38] Saharshdeep commented on #5827
I was also getting the same issue and tried all the above possible workarounds. The solution that worked for me was using click with force: true option, before every type operation.
![image](https://user-images.githubusercontent.com/60344478/73168103-2d6aff80-411f-11ea-8be9-bb7a9f0557d1.png)

[2020-01-27 10:48] add1ct3dd commented on #5602
@flotwig  how do we use this node_option?

[2020-01-27 11:15] bnss commented on #5480
FWIW, this solves the issue for me in `v.3.8.2`:
[code]

[2020-01-27 11:29] Prashant-Kan commented on #4672
@jennifer-shehane : Any news on this issue ?

[2020-01-27 11:51] jonauz commented on #4883
This issue seems to be repeating again, or was never resolved. Should not be closed, as it's a massive blocker.

[2020-01-27 12:19] mgol commented on #2027
@sainthkh

Things cannot change just because a spec is a Working Draft. This particular API has been implemented by all still developed browser engines for a long time (Edge was an exception but the old engine is dead now) so changing it right now in a meaningful way is very likely not Web-compatible.

[2020-01-27 12:36] sanehab opened #6250 "Error: Cannot find module 'worker_threads' from 'write-file-atomic'"
### Current behavior:
Cypress opens successfully but whenever i try to run the tests i receive the following Error:
Error: Cannot find module 'worker_threads' from 'write-file-atomic'

This is related to worker_threads in nodejs, I'm on Cypress 3.8.1 - i also tried 3.8.4 - which comes bundled with node 12, which should have these worker threads supported by default and not behind an experimental f

[2020-01-27 13:05] andrei22b commented on #857
any update on this....?
![image](https://user-images.githubusercontent.com/20188368/73176928-55099a00-4116-11ea-918e-294965d9c1b0.png)

tried manny hours to work with a solution but can`t do anything it just doesn`t fire the move event ..

[2020-01-27 13:48] gmbarroso commented on #3459
No even the link worked for me :(

[2020-01-27 14:32] guyisra opened #6251 "Multiple tabs support"
Before dismissing the issue, hear me out please

Reading the docs -

I beg to differ.

This is a classic case of integration test in specific kind of applications - payment applications, where a large number of payment providers (i.e Adyen) require a flow for 3DS1 to open a new window via POST, enter fields, and return to the rest of the flow.

As I see it, cypress helps in checking integration te

[2020-01-27 14:35] flotwig commented on #6237
Generally, I think we should avoid breaking hash links in the docs since there's no telling where they're linked to from. We can add anchor tags whenever the hash has to change:

[code]

[2020-01-27 15:20] senseforce-james commented on #6159
Thanks for your help! Unfortunately I'm now unable to reproduce the issue but I'll try your solution the next time it happens.

[2020-01-27 15:20] #6159 closed

[2020-01-27 15:48] AlexSwtlsk commented on #5965
Hi, i'm still having this issue.
I've change my docker image version from `cypress/browsers:node12.8.1-chrome78-ff70` to `cypress/browsers:node12.14.0-chrome79-ff71` and cypress from `3.8.1` to `3.8.2`.

@TheRusskiy how did you manage to drop the error ?

The output error
[code]

[2020-01-27 16:05] mbolotov opened #6252 "wrap(JQuery) does not retry for assertions"
### Current behavior:

`cy.wrap` of a JQuery element does not retry for chained assertions, e.g. for 'have.length'

![image](https://user-images.githubusercontent.com/19785715/73190199-a9bd0d00-4136-11ea-9fcd-1ade991390c7.png)

### Desired behavior:

`cy.wrap` of a JQuery element retries for chained assertions as stated in the docs

### Test code to reproduce
[code]
### Versions

Operating System:

[2020-01-27 16:25] TheRusskiy commented on #5965
@AlexSwtlsk I ended up using headless chrome instead of Electron.

[2020-01-27 16:40] #6188 closed

[2020-01-27 16:58] jennifer-shehane commented on #1691
JSON schemas changes to be tested against: https://github.com/cypress-io/json-schemas/pull/507

[2020-01-27 17:40] #6250 closed

[2020-01-27 17:43] sanehab commented on #6250
This is unrelated to cypress ... happening because of conflicts between some dependencies of my project.

[2020-01-27 18:27] dacioromero commented on #136
I found that an arbitrary wait makes the tests work much more consistently as well.

Hopefully there will be official support for iframes in the near future.

[2020-01-27 18:58] malixsys commented on #1296
If your script sets a global variable after loading, let's say `google`, you can use this command:
[code]
and then ...
[code]

[2020-01-27 20:01] #6237 closed

[2020-01-27 20:05] #6216 closed

[2020-01-27 20:06] bahmutov commented on #1296
We have a recipe https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/testing-dom__wait-for-resource showing how to wait for delayed style, JavaScript resource or even an image to load.

[2020-01-27 20:10] webartdev commented on #4220
Same issue here while testing Auth and other stuff that requires domain changing.

[2020-01-27 20:25] bahmutov opened #6255 "Allow passing XVFB parameters via env variable"
Similar to #804 (same pull request should close both this and #804)

In the line below we explicitly initialize Xvfb screen. We should allow overwriting these values with user values from an environment variable, for example

[code]

https://github.com/cypress-io/cypress/blob/c29f38305aeb2ba41b34fdf40c39ec75e68a4f2c/cli/lib/exec/xvfb.js#L14

The `XVFB_ARGS` would be parsed from a single string int

[2020-01-27 20:33] jmargolisvt commented on #2554
My issue is that I've added a new `script` tag that points to a different subdomain.  I have a `link` tag that also points to a different subdomain, but Cypress is fine with that.  Seems the problem is with Cypress.  I can't think of a reason that Cypress should fail when it finds a COR.  If it's ok for one tag, it should be ok for the other.  Adding `"chromeWebSecuirty": false` to my cypress.json

[2020-01-27 20:50] JasonTheAdams commented on #4220
I want to loop back and report that our issue was our own problem. I've updated my comment above.

[2020-01-27 21:00] ichirkin commented on #248
Can you add shortcut for selector playground? I think it will be very useful.

[2020-01-27 21:33] bahmutov opened #6257 "Allow running new features behind an experiments flag or variable"
We want to work on new features that are right now ill-defined, like the [component testing](https://github.com/cypress-io/cypress/issues/5922). The best way to figure out the user experience and solve technical problems and unknowns is, in my opinion, to release this feature behind an "early beta experiment" flag, use it, collect feedback and iterate. Then we can release a fully developed feature

[2020-01-28 00:17] colin-studiobravo commented on #3692
I found this may have been an issue with a package used by `cypress-cucumber-preprocessor` -- after updating to version `2.0+` tests begin running in about 12 seconds.

[2020-01-28 00:20] colin-studiobravo commented on #3692
@StephRagazzi I notice you're also using Cucumber -- have you tried updating the preprocessor to version `2.0.1`?

[2020-01-28 03:22] DominicGaribaldi commented on #2650
We came across this same issue but the above solution didn't work for us... for those having the same problem we managed to resolve it using the following:

[code]

[2020-01-28 04:55] JoA-MoS commented on #5869
Any, movement on this?

[2020-01-28 06:07] pranaydua1987 commented on #6245
@brian-mann and @jennifer-shehane  : can you guys please help ? I have to give a demo to my manager soon but i cant move ahead with it unless i resolve this issue . thanks for understanding.

[2020-01-28 06:58] deane187 commented on #4383
My Test did not have this issue when running in circleCi  until I updated from cypress 3.8.2 -> 3.8.3. When I rerun the test all is well. Unfortunately I am not able to reproduce this issue as it happens sporadically.

App being tested is built in vue.

[2020-01-28 07:09] jennifer-shehane commented on #6257
Notes from our meeting:

**Proposal:** for features that aren’t fully developed? Feature flags.
- In Desktop-GUI, opt into beta features (like Dashboard)
- Pass through CLI `feature=betaThing2`
- Read from environment variable `CYPRESS_EXPERIMENTS=betaThing2` ✅

**What features would we actually use this for?**
- Why not use this for everything?
- Unsure of final delivery API/design
- Smaller deli

[2020-01-28 07:16] andrei22b commented on #845
Any updates on this?

[2020-01-28 07:55] jennifer-shehane commented on #6252
The error message states `Timed out retrying`, so the `cy.wrap()` is indeed retrying, but not reaching the conditions of the assertion within the retry time, which by default is the `defaultCommandTimeout` of 4000. Try increasing the `timeout` option to a higher number to retry for a longer length of time.

You also never need to use a `.then()` as you have after the `visit` or the `cy.get()`. The

[2020-01-28 07:55] #6252 closed

[2020-01-28 08:22] sainthkh opened #6260 "Tests fail on 4.0 branch with 'Error: Resolution method is overspecified' message"
### Current behavior:

When you use `cy.on` on 4.0 branch, tests fail with 'Error: Resolution method is overspecified'

### Desired behavior:

Tests should pass.

### Test code to reproduce

1. Check out `v4.0-release` branch
2. Run tests.
3. Tests fail when `cy.on` is used.

If you want to see the failures, [check here](https://circleci.com/gh/cypress-io/cypress/234902?utm_campaign=vcs-integratio

[2020-01-28 08:39] Algram commented on #1313
Hello there,
I just wanted to chime in and try to give you an understanding that this is currently a Number 1 issue and is actually costing you money:

We just had to switch from our 5000$ a year cypress plan to our own parallel implementation. This is due to the issues described above: You can't retry a cypress test reliably in a pipeline when using the `parallel` feature.

For us this even meant

[2020-01-28 08:45] jennifer-shehane commented on #248
This is very low priority for us, so our team will likely not pick this up. You're welcome to open a PR - even one that is a work in progress is fine. Check out our [contributing doc](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md) and ask us if you get stuck.

[2020-01-28 08:52] jennifer-shehane commented on #6225
I'm not able to recreate the issue as described running the the cypress-test-tiny master branch with chrome headless. Please try updating to 3.8.3 though as there were some fixes to connecting to the Chrome browsers in that version.

<img width="837" alt="Screen Shot 2020-01-28 at 3 21 06 PM" src="https://user-images.githubusercontent.com/1271364/73248730-e560e100-41e1-11ea-93cc-6363a6f86a78.png">

[2020-01-28 08:52] #6225 closed

[2020-01-28 08:52] jennifer-shehane commented on #6246
Duplicate of https://github.com/cypress-io/cypress/issues/6210

[2020-01-28 08:52] #6246 closed

[2020-01-28 08:54] jennifer-shehane commented on #6248
Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reproducible example and we will reopen the issue.

[2020-01-28 08:54] #6248 closed

[2020-01-28 08:59] jennifer-shehane commented on #5980
Please read the docs for the `defaultCommandTimeout` definition. https://on.cypress.io/configuration#Timeouts It is not per test, but per command.

[2020-01-28 09:14] jennifer-shehane commented on #6244
Per the docs, the `headers` only affect subsequent `cy.route()`, not `cy.request()`. Not all options affect both, there are 2 headings: `The following options are merged in as default options to cy.route()` and `The following options control the behavior of the server affecting all requests`, you can only change the options under the second heading for `cy.request()`.

https://on.cypress.io/server

[2020-01-28 09:14] #6244 closed

[2020-01-28 09:17] jennifer-shehane commented on #6240
This error is being thrown from the `start-server-and-test` node module as can be seen from the stacktrace.

[code]

Also check the `/root/.npm/_logs/2020-01-24T02_08_17_760Z-debug.log` file for more info as explained in the error. This is not an issue with Cypress.

[2020-01-28 09:17] #6240 closed

[2020-01-28 09:31] jennifer-shehane commented on #6241
We can update the error message to be more descriptive that the Promise cannot resolve to undefined.

[code]

[2020-01-28 09:42] jennifer-shehane commented on #4883
@jonauz If you're experiencing a bug similar to this in Cypress, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run since none was provided here.

[2020-01-28 09:49] uptownhr commented on #1096
Does the release of playwright mean any possibilities here for faster browser support?

[2020-01-28 09:54] jennifer-shehane commented on #2107
You are likely facing this issue https://github.com/cypress-io/cypress/issues/2132#issuecomment-404561427

To clear out the app data that has this saved state:

- Open Cypress via `cypress open`
- Goto `File` -> `View App Data`
- Delete everything in here
- Close cypress and open it up again

[2020-01-28 09:55] Jeezy8 commented on #6211
i also noticed when i choose Electron, the behaviour seems to be the same at first, but then it restores the cypress panel and works as expected

[2020-01-28 09:56] jennifer-shehane commented on #909
This issue will be closed to further comment as the exact issue here was resolved and tested in version 1.2.0.

If you're experiencing a bug similar to this in Cypress or want to request a change in behavior in how Cypress works today, please [open a new issue](https://github.com/cypress-io/cypress/issues/new) with a fully reproducible example that we can run. Closed issues are not the best place

[2020-01-28 10:36] mfrachet opened #6261 "Feature request: quickly isolating the failing tests"
### Current behaviour:

When running multiple (and long E2E tests), it's hard to quickly find which ones are failing in the list.

![Actual behaviour](https://user-images.githubusercontent.com/3874873/73068806-6cdde580-3eac-11ea-8d7f-602848f3db6e.gif)

### Desired behavior:

Having a quick way to jump on the failing tests without losing time scrolling. Filtering by test suite state could be an opt

[2020-01-28 10:51] Ciniok commented on #518
Is there any workaround for cypress 3.8 ?
I don't have much time for coming up with my own and it's super imporant to be able to fail fast when in the CI

[2020-01-28 11:19] vicrac commented on #6241
To be honest, I wonder why is there such a constraint? Is `undefined` (or `Promise<undefined>`) returned from task used to indicate that it failed?

@jennifer-shehane

[2020-01-28 13:21] filiphric commented on #702
@brian-mann how would you solve the situation with service workers when you are navigating from one site to another. in a scenario like this:

1. go to homepage (e.g. www.example.com) - no SW
2. click on redirect link
3. navigate to app (e.g. app.example.com) - has SW

deleting SW with workarounds you are mentioning does not seem to delete SW from app. I tried to tie the code to `window:before:loa

[2020-01-28 14:16] PiotrAdamus opened #6263 "Bypassing Content Security Policy directive: "frame-ancestors 'none'""
I want to test my checkout process where we are using mollie gateway process. After redirects to their site i got that kind of error `Refused to display [private link here] in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'none'"`

In cypress.json i added `chormeWebSecurity: false` and on plugins file i added something like this

[code]

Is

[2020-01-28 14:28] mastrolinux opened #6264 "GitHub actions v2 are not supported - Cypress crashes."
### Current behavior:

GitHub actions v2 makes cypress crash.

[code]
Full report here: https://github.com/encrypted-dev/userbase/pull/92/checks?check_run_id=413005466

### Desired behavior:

Not to crash

### Test code to reproduce

Here the source code, https://github.com/encrypted-dev/userbase/tree/actions-v2/cypress does not depend on the tests, if I rever back to actions v1 it works, the chan

[2020-01-28 15:02] innamalyar opened #6266 "Empty parameter sent to API"
### Current behavior:
I have a page with some fields, input text field which is not mandatory and submit button that triggers the API POST request. The problem is that when i am typing the string in the input field, it appears as expected, but when i am clicking at the submit button, the value of the text field is not a part of the request, and instead of something like that:
![image](https://user

[2020-01-28 15:08] jwkiker commented on #3975
This is still occurring in 3.8.3 with both electron and chrome.

[2020-01-28 15:19] Izhaki opened #6267 "It looks like a ladybird, it behaves a bit like a ladybird, but it's NOT a ladybird! Why call it a ladybird?"
This:
[code]

And this:
[code]
Are not the same.

- in the former `doSomething()` will be called once the element is found on the DOM.
- in the latter it will be called WAY before that.

I know and completely understand why this is.

But I think it is worth pointing out that this is MASSIVELY confusing.

If something doesn't implement a promise API, then it should, ideally, not use names from that

[2020-01-28 15:33] PMK commented on #4334
I have the same issue inside a Docker container (running on a Mac as the host) and via Kubernetes on Ubuntu. On my mac as the host I do not have `xhost` command.

Anyone who can help me?

[code]

[code]

[2020-01-28 15:39] miroslavvojtus commented on #235
Absence of this feature actually forces us to use selenium with direct access to driver api so we can test our core functionality in offline mode as our use case is offline-first.

I hope you will find time soon for this.

[2020-01-28 15:43] flotwig commented on #4334
@PMK try Cypress 3.8.3, there was a fix related to this

[2020-01-28 15:53] jennifer-shehane commented on #6213
I was able to narrow this issue down to this specific line:

https://github.com/Lamden/wallet/blob/master/src/svelte/components/Monaco.svelte#L4:L4

When you comment out this line, the tests work.

[2020-01-28 16:08] JeffWScott commented on #6213
@jennifer-shehane yes, as I stated above that is the issue. I refactored the code to be able to do that.

I have no idea why cypress does not like this import. Especially considering the app builds completely fine with that import.

[2020-01-28 16:15] jennifer-shehane commented on #6211
Can you visit chrome://policy/ within your Chrome browser? Is there any kind of group policy set in there?

[2020-01-28 16:22] ThomasGHenry commented on #5899
Hey, folks. What's the lowest overhead alternative to this in the meantime? Would anyone recommend a workaround? Thanks

[2020-01-28 16:25] HumbertoF commented on #4220
same issue here, it is very annoying! :(

[2020-01-28 16:50] mbolotov commented on #6252
It does not make sense. Test selects the both element in less than a second, so the default timeout must be enough.

That is not true. I would suggest you to look at the screenshot one more time:
![image](https://user-images.githubusercontent.com/19785715/73282313-6fb93d00-4202-11ea-9eb3-7bec595802fb.png)

This is actually in place:
![image](https://user-images.githubusercontent.com/19785715/73282

[2020-01-28 16:54] flotwig commented on #6210
I think there was a gap in the tests for screenshots taken via Chrome headless, because I have not noticed this before.

I wonder if #5899 would fix this.

[2020-01-28 16:58] flotwig commented on #5899
@ThomasGHenry Does [`cy.screenshot()`](https://docs.cypress.io/api/commands/screenshot.html) not work for you? This issue is about changing the internal implementation of screenshots, so there's not really a workaround for it.

[2020-01-28 17:10] felquis commented on #4142
I started working on a reproducible repo, but it didn't reproduce the issue.
Whenever I can simulate it I'll open an issue.

Thank you.

[2020-01-28 17:17] jlem opened #6268 "ERR_CONNECTION_ABORTED when running tests"
### Current behavior:

When trying out the simple introduction example and running tests, I get an `ERR_CONNECTION_ABORTED` response from the browser. Have tried Chrome 79 headed and headless, and electron. Same issue. Appears to be a network problem.

### Desired behavior:

The tests should run in the browser without an issue.

### Test code to reproduce

No special test setup required. Just foll

[2020-01-28 18:26] flotwig commented on #6243
As part of this, the logic for selecting browsers to be launched will be updated.

* `--browser browserName` launches browserName with channel = `stable`
* `--browser browserName:channel` launches browserName with channel = `channel`
* `--browser canary` has been aliased to `chrome:canary` for backwards compatibility

[2020-01-28 19:27] richworx commented on #5918
I am having the same problem on WSL1 with cypress 3.8.2. I tried to use the environment variable workaround but it did not help.

I noticed that this issue is also documented at [https://github.com/cypress-io/cypress/issues/5526](https://github.com/cypress-io/cypress/issues/5526) where they suggested potentially implementing a slightly different environment variable, so I tried several variants (l

[2020-01-28 20:25] ThomasGHenry commented on #5899
Thanks, @flotwig.

It does not. I'm experiencing this https://github.com/cypress-io/cypress/issues/5876

I'm wondering if anyone recommends a 3rd party option that plays nicely with cypress in the meantime. Cloud-based solutions like Percy and Applitools aren't ideal. Anything else I've found so far uses `cy.screenshot()` under the covers. Thanks!

[2020-01-28 20:41] bahmutov commented on #6264
https://github.com/cypress-io/github-action#important

[2020-01-28 20:41] #6264 closed

[2020-01-28 21:15] ilkkanisula commented on #4297
I ran into problems with postcss trying to parse test_spec.js directory as a file. As a workaround I needed to rename this directory not to have .js suffix.

[2020-01-28 21:38] aartisoni1 commented on #6202
Hi Jennifer, Please try running following test and you will be able to replicate the issue. It will pass using Chrome79 but will always fail in CI and Electron 78.

`it('example test', async() => {
    cy.visit("http://www.qaclickacademy.com/");
    const content=await getText(cy.get('#content').find('h2'));
    assert.equal("Featured Courses",content);
    const reviews = await getText(cy.get('#a

[2020-01-29 04:24] ppunjjs commented on #4742
Any update on this issue? My test assertion is failed but test status is still green.

[2020-01-29 06:25] #6168 closed

[2020-01-29 08:34] jennifer-shehane commented on #4533
Electron has been upgraded to 7.1.10 as of Cypress 3.8.3 and should be resolved without the workaround.

[2020-01-29 08:35] jennifer-shehane commented on #4590
Electron has been upgraded to 7.1.10 as of Cypress 3.8.3 and should be resolved.

[2020-01-29 09:04] jennifer-shehane commented on #2831
My previous example for this bug no longer exhibits the error properly since the website under test has changed.

I tested this against the upcoming Cypress 4.0 release and verified that this is **not** fixed in that release.

## To reproduce

`spec.js`

[code]

<img width="775" alt="Screen Shot 2020-01-29 at 3 33 03 PM" src="https://user-images.githubusercontent.com/1271364/73342300-aa77af80-42ac

[2020-01-29 09:12] jennifer-shehane commented on #3895
This is no longer `undefined` after the Mocha upgrade, but there is a circular reference error thrown when used in this way.

[code]

`spec.js`

[code]

## 3.8.3

<img width="438" alt="Screen Shot 2020-01-29 at 3 41 01 PM" src="https://user-images.githubusercontent.com/1271364/73342837-c7f94900-42ad-11ea-9c29-8c04d435611c.png">

## 4.0.0

<img width="460" alt="Screen Shot 2020-01-29 at 3 39 51 PM"

[2020-01-29 09:14] jennifer-shehane commented on #5345
I've confirmed that this will be fixed in upcoming 4.0 release.

<img width="461" alt="Screen Shot 2020-01-29 at 3 44 22 PM" src="https://user-images.githubusercontent.com/1271364/73343064-49e97200-42ae-11ea-8714-fbda96413b57.png">

[2020-01-29 09:18] jennifer-shehane commented on #3080
I've confirmed that this works in upcoming 4.0 release. The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

<img width="453" alt="Screen Shot 2020-01-29 at 3 47 50 PM" src="https://user-images.githubusercontent.com/1271364/73343302-c11f0600-42ae-11ea-9160-73ecf6c80fae.png">

[2020-01-29 09:19] fredbuluku commented on #3895
No problem you can go a head and skip it if it does not add any value in testing.

[2020-01-29 09:20] jennifer-shehane commented on #4017
I've confirmed this is working in upcoming 4.0 release. The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

## 3.8.3

<img width="434" alt="Screen Shot 2020-01-29 at 3 49 42 PM" src="https://user-images.githubusercontent.com/1271364/73343449-10fdcd00-42af-11ea-9310-9d1facbad7f5.png">

[2020-01-29 09:22] jennifer-shehane commented on #5004
I've confirmed that this works in upcoming 4.0 release. The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

<img width="453" alt="Screen Shot 2020-01-29 at 3 47 50 PM" src="https://user-images.githubusercontent.com/1271364/73343302-c11f0600-42ae-11ea-9160-73ecf6c80fae.png">

[2020-01-29 09:23] fredbuluku commented on #6052
If it does not add any change in the system we can do without it or we can automate the issue.

[2020-01-29 09:29] elisa-dc opened #6269 "cy.visit - onBeforeLoad function does not look to be called every time"
### Current behavior:
Running multiple time the same test results in an inconsistent behavior. cy.visit is always executed but the onBeforeLoad function sometimes is skipped

### Desired behavior:
onBeforeLoad should be executed every time that the cy.visit containing it is called

### Test code to reproduce
Mocha hooks.ts:

[code]
### Versions
cypress: 3.8.2
cypress-cucumber-preprocessor: 1.18.0

[2020-01-29 09:49] jennifer-shehane commented on #4805
Actually, revisiting this issue - this is just how Mocha works. This argument will always be treated as a 'done' callback, regardless of the name you give it. This behavior does not change in 4.0.

[2020-01-29 09:50] dulle88 commented on #6052
@fredbuluku what do you mean by automating the issue?

[2020-01-29 09:53] jennifer-shehane commented on #5669
The code for this is done in the upcoming 4.0 release, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[code]

## 3.8.3

<img width="437" alt="Screen Shot 2020-01-29 at 4 22 51 PM" src="https://user-images.githubusercontent.com/1271364/73346099-af8c2d00-42b3-11ea-85b8-7a28a6a98941.png">

## 4.0.0

<img wid

[2020-01-29 10:00] jennifer-shehane commented on #2828
The code for this is done in 4.0, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2020-01-29 10:02] fredbuluku commented on #2828
Thanks,I will appreciate.

Regards,

Fred.

On Wed, 29 Jan 2020 at 13:00, Jennifer Shehane <notifications@github.com>
wrote:

--
FredBuluku

[2020-01-29 10:05] Regnander opened #6270 "Option to keep the Command Log sections closed by default"
### Current behavior:

Long story short; I use Cypress at work and performance is scarce (probably since we are using VDIs), but the tests will run around four times faster when I collapse all subsections in the Command Log.

During headless runs it's not even possible to interact with the Command Log, so a test suite with ten files that usually takes around 30 minutes will instead take a few hour

[2020-01-29 12:44] Threnos commented on #6210
Faced this issue as well.
Debugging failing headless tests became harder - such small wiewport prevents from reading error messages.

[2020-01-29 14:57] elisa-dc commented on #6269
Issue looks linked to the fact that when visiting  cy.visit('/') the onload event is not fired

[2020-01-29 14:57] #6269 closed

[2020-01-29 15:05] benowenssonos commented on #107
Any update on this?

[2020-01-29 16:35] Minho-Lee commented on #5480
I had a similar issue with this where
[code]
only resulted in typing out the first character `s`.

I was able to get around this issue by adding `{ force: true }` option to `type()`.

My current cypress version is `3.8.2`.

[2020-01-29 17:34] flotwig commented on #5899
@ThomasGHenry Might have to wait to use `--headless` until #5876 is fixed, I'm not sure if there are any 3rd-party screenshot tools for Cypress.

---

With regard to this issue - @jennifer-shehane I think we actually are already taking screenshots using CDP in Chrome and Electron since 3.5.0:

https://github.com/cypress-io/cypress/blob/719fd98b15bf1382d795c86cb45030fa417053c9/packages/server/lib/b

[2020-01-29 17:34] #5899 closed

[2020-01-29 17:51] MehranShafqat opened #6271 "Cypress not able to set the cookie after cy.request"
### Current behavior:

Im trying to achieve something like like this I have login api and send `cy.request` and get the access token and set in cookie. But in response not able to set the cookies and  `cy.setCookie` never worked. If Im using `cy.setCookie` outside the response and it is working. Not sure its is a bug or how we can set the cookie after getting the response.

### Test code to reprod

[2020-01-29 19:41] aartisoni1 commented on #6202
Can you please re open the issue now that I have provided code to replicate?

[2020-01-29 19:57] AlainPilon commented on #3971
I am having the same issue.

[2020-01-29 21:22] chrisbreiding commented on #6260
This was the result of a bad merge. Fixed now in `v4.0-release`.

[2020-01-29 21:22] #6260 closed

[2020-01-29 22:29] samlucax opened #6272 "Merge reports when running tests in parallel in CircleCI"
### Current behavior:

When we run tests in parallel in the CircleCI, the reports are generated for each node.

Still using cypress orb.

### Desired behavior:

Should be able to generate a single report merging all test results from each node.

### Test code to reproduce

[code]

#### The output is

![Screen Shot 2020-01-29 at 19 28 35](https://user-images.githubusercontent.com/11819736/73403154-

[2020-01-29 23:54] StephRagazzi commented on #3692
Yes! same for me, after upgrading to the latest version of the Cypress Cucumber package, it runs after 15 sec!!

[2020-01-30 00:46] daihuaye commented on #1244
Wonder why this bug is labeled as "stage: needs information"? There are couple reproduce steps in the discussion. Does anyone in Cypress team is looking at this?

This is been an issue that blocks us to run integration tests in our build pipeline for months. It also failed to run local test files intermittently.

[2020-01-30 00:58] steveharrison commented on #6210
I fixed this issue by overriding the Chrome window size with the largest viewport used in my tests (in my case, the Cypress default viewport of 1000x660px) in the `before:browser:launch` hook.

`plugins/index.js`
[code]

I can also just run Chrome without `--headless` inside Docker, because [then the Chrome window size will be 1050x1004px](https://github.com/cypress-io/cypress/pull/5953#issue-3529

[2020-01-30 05:45] jennifer-shehane commented on #2674
Duplicate of https://github.com/cypress-io/cypress/issues/2118

[2020-01-30 05:45] #2674 closed

[2020-01-30 05:55] jennifer-shehane commented on #2118
I am reopening this issue. While this was partially addressed in https://github.com/cypress-io/cypress/pull/5603 in 3.6.1 release by fixing the *hanging* while running in Electron (aka - the process would **never** exit), this did not actually fix the *error* portion of the issue.

## Problem

Any application that has a defined `onbeforeunload` handler that triggers an alert causes Cypress page lo

[2020-01-30 06:16] jennifer-shehane commented on #2938
@RashmiKalpeshChauhan I'm not able to reproduce this issue in 3.8.3, please try upgrading.

We will be closing this issue.

There is one known issue provided in this long thread which is related to https://github.com/cypress-io/cypress/issues/2118 - **If you have an `onbeforeunload` with an `alert` (or confirm, etc) then a timeout on page load will occur in Electron** Please see the workarounds de

[2020-01-30 06:16] #2938 closed

[2020-01-30 06:24] johannmayer commented on #5688
Any news on this?

[2020-01-30 09:20] sainthkh commented on #6267
Hello,

Thanks for opening the issue. Unfortunately, it is a duplicate of #1417.

Discussion about using `await`/`async` is going on in that thread and you can also find why Cypress is designed in this way.

[2020-01-30 09:20] #6267 closed

[2020-01-30 09:26] jennifer-shehane commented on #6272
Duplicate of https://github.com/cypress-io/cypress/issues/1946

[2020-01-30 09:26] #6272 closed

[2020-01-30 09:27] jennifer-shehane commented on #6271
You've misspelled `Origin` as `Origion`. Could that be related?

[2020-01-30 10:18] tikolakin commented on #1096
Additionally, release of firefox support in puppeter, does it help with getting cypress firefox support released?
https://twitter.com/mathias/status/1222183802870607872

[2020-01-30 10:37] mastrolinux commented on #6264
It worked, thanks a lot!

[2020-01-30 12:33] mjlawrence83 commented on #2024
I could really do with this when `run`'ing headless with `electron`. At the moment a test is failing during a Jenkins build and it would have been helpful to force the devTools to open so I could see the console.

I've tried @dwelle suggestion, but it doesn't work on 3.8.1. `devTools = true` is definitely being sent though as I can see it in the DEBUG output.

[2020-01-30 13:51] s0oft commented on #5763
Any news on this?

[2020-01-30 14:08] Svish opened #6273 "Feature request: Support `delay: false` in `cy.type`"
Trying to test that a textarea indeed has an enforced max length of 500. To test it, I'm first filling it with 500 characters, and then trying to type some more.

### Current behavior:

Even with `{ delay: 0 }` it takes quite a while to fill up the textarea.

[code]

### Desired behavior:

Would be super handy if I could pass `{ delay: false }`, which would then just dump the whole string at once

[2020-01-30 14:11] Svish commented on #6273
I've already tested various combinations of `.invoke('val', text').trigger('change')`, `.then($input => $input.val(text)).trigger('change')`, etc., but for some reason these just aren't picked up by React. Typing does work fine though, so would be nice if it was just possible to type _really_ fast or just paste a value.

[2020-01-30 14:32] geebru commented on #5275
@webnexusmobile's solution is similar to what I've had to implement in some of the slower areas of our application. We'll do things like:

`cy.get('element we know loads "late"').should('not.be.empty');` or
cy.get('element that will get focus when loading is done').should('have.focus')`

In the rare case where that's still not _quite_ enough time (for transitions to finish firing or something like

[2020-01-30 14:44] downeyfe commented on #6245
Have you tried splitting the two tests into totally separate files?
For example, `nordstrom.js` containing the Nordstrom test, and `hautelook.js` containing the Hautelook test. I tried this structure locally and the separation seemed to be enough to resolve the superdomain restrictions mentioned above.

[2020-01-30 15:56] visjag commented on #2097
Hi,
I am getting following issue, while installing cypress 3.8.3

Installing Cypress (version: 3.8.3)

 ×  Downloading Cypress
   → Cypress Version: 3.8.3
    Unzipping Cypress
    Finishing Installation
The Cypress App could not be downloaded.

Does your workplace require a proxy to be used to access the Internet? If so, you must configure the HTTP_PROXY environment variable before downloading Cy

[2020-01-30 15:56] Svish opened #6275 "The tests list hierarchy is confusing in the Desktop-GUI"
I find the tree view in the test-runner to be rather confusing because it looks like folders are on a separate level than files.

### Current behavior:

As seen in the screenshot below, it looks like `feature` is on the same level as `1`, `2`, etc., but it's actually their parent. And it looks like `3` is on a level below `2`, but it's actually its sibling. It becomes even more messy with several

[2020-01-30 15:58] mariotsi opened #6276 "Cypress in DEBUG mode failing with write /dev/stdout: resource temporarily unavailable"
### Current behavior:

I've enabled the DEBUG mode in order to debug an issue with Cypress hanging randomly.
However now the tests are always failing with `

[code]

### Desired behavior:

I can have the full DEBUG log

### Test code to reproduce

It has to be with Cypress trying to write big logs on our CI env, cannot be reproduced

### Versions
Cypress 3.8.2, Linux, Chrome 78

[2020-01-30 16:04] miromarchi commented on #845
Just a note here.
There are also use cases when you don't have a target element to drop to. For example if you have a canvas with a shape, and u want to move the shape. So a proper drag command should also have the option to drop on specific coordinates imo.
thanks

[2020-01-30 16:07] bahmutov opened #6277 "List of integration specs gives no indication it can be or is collapsed"
Cypress 3.8.3

You can click on "Integration tests" heading

<img width="1246" alt="Screen Shot 2020-01-30 at 11 02 28 AM" src="https://user-images.githubusercontent.com/2212006/73466912-8a013100-4350-11ea-8e13-9932f126de6c.png">

which closes the file tree - and you have no idea that it was collapsed and can be opened. Surprised me once when I did not see any specs and was like ... where are they

[2020-01-30 16:40] pranaydua1987 commented on #6245
@downeyfe how can i make cypress run 2 different .js files run 1 after another?

[2020-01-30 16:40] jemishgopani opened #6278 "I'm facing this error without use any cy.screenshot() command in our project"
[code]

[2020-01-30 16:41] Threnos commented on #6210
@steveharrison  I'd say, that there's no need for such complex actions like scanning and guessing which resolution is larger etc. The most simple and sturdy solution would be to provide configurations for browser window size, e.g. browserWidth/Height.

[2020-01-30 16:57] maurocolella commented on #6240
`start-server-and-test` does `npm start` and `cypress run` asynchronously in this case.

The promise that fails from the stack trace is the promise that actually spawns `cypress`.

However: in my case, this might be an error with permissions between the container environment (docker/ci) and the host. I'll verify that.

[2020-01-30 17:09] bahrmichael opened #6279 "Gitlab build fails with docker image cypress/included:3.8.3"
I'm trying to run a gitlab cicd job with `cypress/included:3.8.3` as the base image.

[code]

### Current behavior:

The build stalls with the following message. Tests don't seem to run at all.

[code]

### Desired behavior:

I would like the tests to start and complete.

### Test code to reproduce

Code for reproduction: https://gitlab.com/mptickets/gitlab-reproducer
Build that shows the failure:

[2020-01-30 17:20] tnrich commented on #6244
@jennifer-shehane ok, point taken that `cy.request` isn't affected by calling `cy.server({headers:"asdf"})`. However, like you said, I would expect it to be affected by calling:

[code]

I've set up a test case showing how this functionality is not occurring -- https://github.com/tnrich/cypress-test-tiny

Here's the test case I set up:

[code]

and here's a screenshot of the request being logged:

[2020-01-30 17:48] thomasboyt commented on #4021
I find this to be a total dark pattern - it seems like the only reason this is done is to convince people to convert to paid customers to unbreak their build. A warning is fine, even a loud and pronounced one, but to completely exit tests if you run out of recordings is absurd. I should not have to [commit changes to my CI config](https://github.com/thomasboyt/jam-buds/commit/68115ec0d8a3b0d7281b5

[2020-01-30 17:52] jennifer-shehane commented on #6244
Ok, this is definitely my fault and a fault on our documentation. And I am making a PR to fix this very fundamental miswriting of the `cy.server()` doc here: https://github.com/cypress-io/cypress-documentation/pull/2450.

And I also definitely misspoke earlier as I was relying on that documentation.

`cy.server()` cannot be used to interact with `cy.request()` in any way. When the docs say 'contro

[2020-01-30 17:59] tnrich commented on #6244
@jennifer-shehane thanks for the clarification! Maybe you could also add a note specifically saying that cy.request is NOT affected by cy.server()? I think that would be very helpful.

Thanks!

[2020-01-30 18:08] bahmutov commented on #6279
I can recreate this problem in https://gitlab.com/cypress-io/cypress-example-included. When looking at debug logs with `DEBUG=cypress:cli` I see weird config parsed

[code]

Hmm, how is this running there

[2020-01-30 18:15] jennifer-shehane commented on #6244
I opened an issue in the docs for this here: https://github.com/cypress-io/cypress-documentation/issues/2452

[2020-01-30 18:17] bahmutov commented on #6279
Second problem: after the crash, the process does NOT exit, so we are not handling the error correctly.

<img width="1200" alt="Screen Shot 2020-01-30 at 1 16 53 PM" src="https://user-images.githubusercontent.com/2212006/73477719-cb024100-4362-11ea-840e-a4f775d4bd7f.png">

[2020-01-30 18:23] bahmutov commented on #6279
Running with `DEBUG=cypress:cli:cli` shows there are arguments coming from GitLab CI script?

<img width="850" alt="Screen Shot 2020-01-30 at 1 19 09 PM" src="https://user-images.githubusercontent.com/2212006/73478103-74493700-4363-11ea-9aec-6057882cde9b.png">

These are not part of our Docker image

[code]

[2020-01-30 18:25] BoneveDeNeco commented on #136
I tried the workaround in [#136 (comment)](https://github.com/cypress-io/cypress/issues/136#issuecomment-525994895), but it didn't work for me. The problem seems to be in the first check:

[code]

This check passed, but it seems the document's body was not ready yet. Adding a log statement printing contentWindow.document just before resolving returned this for me:

[code]

I tried to make it work,

[2020-01-30 18:25] alexeymolchan commented on #1891
still exist in 3.8.1, already more then 90 minutes.

Steps to reproduce:

1) cypress run --record --key #key

2) kill process (specs started but not finished)

[2020-01-30 18:44] bahmutov commented on #6279
For reference, here is Cypress CLI entry script
[code]

[2020-01-30 18:51] bahmutov commented on #136
I am working on blog post and recipe explaining how to deal with iframes, see the recipe code here https://github.com/cypress-io/cypress-example-recipes/pull/412

[2020-01-30 19:01] bahmutov commented on #6279
@bahrmichael I have solved the immediate issue, see https://gitlab.com/cypress-io/cypress-example-included Turns out GitLab wraps entrypoint in its own script, breaking it. So you need to clear the entrypoint like this

[code]

I will keep this issue open for myself - we still need to catch the config parsing exception and exit with status code and not keep the test runner hanging.

[2020-01-30 19:32] flotwig commented on #6277
This bothers me too! Are there other sections that are possible besides "Integration Tests", currently? If not, we should just remove the ability to collapse the section altogether.

[2020-01-30 19:35] cooleiwhistles commented on #6210
This worked as a work-around for me using headless chrome.

[2020-01-30 19:35] bahmutov commented on #6279
Trying this locally, the hanging might be GitLab thing, local `npm run dev` with invalid config does exit fine (but without explaining what is going on)

[2020-01-30 19:39] bahmutov commented on #6279
Simplest case that crashes:
[code]

[2020-01-30 19:41] bahmutov commented on #6277
I think we need to allow collapsible behavior because soon we will have component tests tab (and maybe front-end unit tests, and API tests)

[2020-01-30 19:43] flotwig commented on #6277
Okay, can we disable collapsibility if the user only has 1 type of tests?

[2020-01-30 19:59] bahmutov commented on #6277
now we talking

On Thu, Jan 30, 2020 at 2:43 PM Zach Bloomquist <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter.com/@bahmutov>
https://glebbahmutov.com/ https://glebbahmutov.com/blog
https://github.com/bahmutov

[2020-01-30 20:31] maurocolella commented on #6240
Here is the verbose log.

I am not sure which change caused a change in error code, but currently, the error code reported is `41`. Behavior is the same. This has been consistent for the past couple of days.

The issue traces back to cypress `maybeClose`

[code]

[2020-01-30 21:36] bahrmichael commented on #6279
That fixed it for me. Thank you very much for the quick response!

[2020-01-30 21:59] aartisoni1 opened #6281 "Cypress could not exit from Promise"
I am running below test but it seems like it stuck at the resolving first promise and never been able to get out of it. The interesting thing is that if the same test has been run through the Chrome in UI mode (not in headless mode) then the test runs fine otherwise it fails. It always fails with Electron78 and also fails if test is kicked off with command line in Chrome as well.
I'm using Cypress

[2020-01-31 00:50] Mat-Longinow opened #6282 "Create a toggle to close/open all folders in Tests list"
**Current Behavior:**
Currently there seems to be no way to have all your folders defaulted to close when you open up Cypress.

The results is a messy UI that isn't as clean when you try and organize your many Cypress tests into folders.

**Desired Behavior:**
Have a setting option to default your folders to close on Cypress open that way you can navigate a cleaner interface when you organize your

[2020-01-31 01:08] roblevintennis commented on #5743
Not sure if it's helpful at all, but I found the error docs for [this error](https://docs.cypress.io/guides/references/error-messages.html#cy-failed-because-the-element-you-are-chaining-off-of-has-become-detached-or-removed-from-the-dom) quite enlightening and helpful. I literally fixed it by heeding the recommendations.

I'm sure your selectors will be different, but here's the diff that fixed my

[2020-01-31 01:39] clearyandzap opened #6283 "Latest updated to 3.8.0 is adding cypress@3.8.3, cypress@^3.5.0 in yarn.lock"
### Current behavior:

Adding cypress@3.8.x adds and additional entry of cypress@3.5.0 in the yarn.lock file, this is generating an issue in circle because of a corrupted cypress app install.

<img width="1390" alt="Screen Shot 2020-01-30 at 8 31 10 PM" src="https://user-images.githubusercontent.com/48265054/73505179-ca3bd000-439f-11ea-9cc1-981a877b4aab.png">

The above issue can be fixed by manua

[2020-01-31 01:47] #6283 closed

[2020-01-31 01:49] clearyandzap commented on #6283
I upgraded @testing-library/cypress to latest version and this seemed to fix the issue.

[2020-01-31 04:36] johnnysprinkles commented on #1210
I'm running into this issue as well... seems like we need a general way to group multiple commands into a single "retry group."

[2020-01-31 04:53] jennifer-shehane commented on #6211
@Jeezy8 Any update?

[2020-01-31 05:16] Manuel-Suarez-Abascal commented on #6277
Wouldn't be better to add an `right arrow icon` when it's collapsed & a `bottom arrow icon` when it's expanded on the left side? I think it's better to keep the ability to collapse/expand even if there's one type of tests?

[2020-01-31 05:50] JyotiDhavalagi opened #6285 "Unable to execute script on chrome browser"
### Current behavior: Not able to run script  using cypress

### Desired behavior:

### Test code to reproduce

### Versions

[2020-01-31 07:29] jennifer-shehane commented on #5016
- Can you run Cypress in [debug mode](https://on.cypress.io/debugging#Debug-the-Command-Line) mode and print the entire set of logs here?
- Can you provide the machine and machine version they are running into this issue with, that would be appreciated.
- Provide the browser you are running within (Electron, Chrome + version).

I don't think this is related directly to https://github.com/cypress-i

[2020-01-31 07:42] anveshpuli commented on #6263
I'm facing the same issue as well . Looking forward  for it

[2020-01-31 07:59] jennifer-shehane commented on #6263
Cypress runs the application under test within an iframe. If a particular website that is run within Cypress has `"frame-ancestors 'none'`, then it has restricted itself from running within an iframe and cannot run within Cypress. Turning off `chromeWebSecurity` has no effect over this.

If you have control over the application that is throwing this Content Security Policy, we suggest you remove i

[2020-01-31 07:59] #6263 closed

[2020-01-31 08:02] jennifer-shehane commented on #6278
A screenshot is automatically taken when a test fails, so you may see this error if it could not complete at that time. This behavior can be turned off by setting screenshotOnRunFailure to false in the [`Cypress.Screenshot.defaults()`](https://on.cypress.io/screenshot-api).

When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE

[2020-01-31 08:02] #6278 closed

[2020-01-31 08:05] jennifer-shehane commented on #6276
Yes, likely this does have to do with the large amount of information being printed to STDOUT when printing DEBUG logs in your CI provider.

Unfortunately we have to close this issue as there is not enough information to reproduce the problem. This does not mean that your issue is not happening - it just means that we do not have a path to move forward.

Please comment in this issue with a reprodu

[2020-01-31 08:05] #6276 closed

[2020-01-31 08:10] jennifer-shehane commented on #6275
The change in indentation is welcome. However there needs to be some indication that the folders when clicked will expand to show more content and I think that removing the arrow altogether makes this less obvious. We're open to other design ideas as long as they still convey this concept.

This is very low priority for us, but we would accept an outside PR - even one that is a work in progress is

[2020-01-31 08:43] jennifer-shehane commented on #6273
Yeah, this is a bit difficult because it wouldn't really be typing or mimicking any real life user behavior if you just plop the entire text in, so what would this actually be testing?

Each key that is typed triggers several events and triggering 500 key events at once wouldn't be implementing the behavior of any real user either, so then we've just made this psuedo behavior that is the equivalen

[2020-01-31 08:48] backfromreality commented on #6197
UPD:
(ERR_CONTENT_DECODING_FAILED) an error occurred due to incorrect server-side environment settings

You can close this issue, or rename and bind it to this comment https://github.com/cypress-io/cypress/issues/6197#issuecomment-578145654

[2020-01-31 08:48] jennifer-shehane commented on #6285
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

This issue will be closed as per our [contributing guidelines](https://github.com/cypress-io/cypress/blob/d

[2020-01-31 08:48] #6285 closed

[2020-01-31 09:14] gabdulmaksut opened #6286 "Assertion failed, but test passed"
### Current behavior:

I have two similar failed `to.eq` assertions,  but one test passed, another failed (there aren't any exception catchers) :

![image](https://user-images.githubusercontent.com/28428013/73517734-7de7a300-4426-11ea-81c4-ff27e5054649.png)

![image](https://user-images.githubusercontent.com/28428013/73517776-a374ac80-4426-11ea-8d1d-703b195b3a63.png)

**In console:**

![image](htt

[2020-01-31 09:32] Siri255 commented on #144
Hi i am trying to check best way for checking if element is visible, hidden enabled or disabled for shadowDOM.   what would be the best way that is similar to this for shadowdom?
```cy.get('#id').should('be.visible')```
i am trying to find a way without using jquery.

[code]

can someone help with this?

[2020-01-31 09:33] travikk opened #6287 "Returning arraybuffer from route does not work"
### Current behavior:

When trying to stub a route which returns an `ArrayBuffer`, Cypress will `JSON.stringify` the response.

### Desired behavior:

If it's detected that the response is an `ArrayBuffer`, raw bytes should be passed to the consumer.

### Test code to reproduce

[code]

I believe it is due to the following: https://github.com/cypress-io/cypress/blob/master/packages/server/lib/cont

[2020-01-31 09:48] oleksandrsubota commented on #5999
Hi @daironmichel

I'm facing exactly the same behavior. Did you have the luck to find a solution?

I've tried
[code]
[code]

but all of them had failed

[2020-01-31 09:48] Yohandah opened #6288 "Ionic app isn't fully supported"
### Current behavior:
When looking at dom snapshots on a ionic app the app isn't in full screen and in a weird state.
It also cause weird behavior like Cypress is clicking on a menu item after it scrolled but it doesn't navigate.

![dom bugged 2](https://user-images.githubusercontent.com/15921402/73524410-5d5f1f00-440d-11ea-9c1c-074709b8ba96.png)
![dom bugged](https://user-images.githubusercontent

[2020-01-31 10:03] downeyfe commented on #6245
@pranaydua1987 I take it you already have Cypress up and running based on your first comment. You should be able to make another file in the same directory as the original problematic test and split the two tests across the both of them.
The Cypress documentation has a [section on organising tests](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Folder-Structure) whi

[2020-01-31 11:55] daironmichel commented on #5999
@oleksandrsubota nope. I'm working on other stuff while I wait for the cypress team to fix this bug.

[2020-01-31 12:05] rgehan commented on #686
It has been a proposal for ~2 years now, and has been labelled `priority: high` for a year, you surely have some idea of when/if it will be done.

What is your process with such proposals? Are you actively discussing this, are there particular road blocks you need to solve before working on this? Is the proposal simply dead?

Cypress is an awesome tool, I love what you've built, but you can't leav

[2020-01-31 15:26] luliandro commented on #2777
I have the same issue even when baseUrl is set to http://localhost:3000

[2020-01-31 15:27] bahmutov commented on #686
@rgehan I understand your frustration and believe me, better lifecycle control would, in my opinion, solve a LOT of phantom issues with flaky tests people see in CI.

We do look at issues every week as a team, and our challenge is always to balance the impact a feature can have versus how much effort it requires to implement. As you can see we are up to 6k issues in this repository, with 1k issues

[2020-01-31 15:33] Skhoshhal opened #6289 "Searching for a solution to replace DOM elements"
### Current behavior:

As we know cypress doesn't support  browser tab changes and for link we can change the target to `_self`, my Problem is with button, because button has no `target` attribute.

### Desired behavior:

 I am searching for a method to change button to link. I write the code below as command and I am using it but it say ```Cannot read property 'replaceChild' of undefined ```

###

[2020-01-31 15:45] kud commented on #944
`  "chromeWebSecurity": false,` doesn't work on the newest chrome versions.

I switch between different subdomains (HTTPS and HTTP) but with the same domain, and I still got this:

[code]

[2020-01-31 16:14] HolyNoodle commented on #3427
I have encountered this issue.

I have 35+ tests. Every test are built on the same pattern of waiting requests. One of all the tests does not work.

Samples of the routes defined before everything.
![image](https://user-images.githubusercontent.com/6311768/73554822-bc905400-444c-11ea-8f54-94343ac6bc47.png)

The test
![image](https://user-images.githubusercontent.com/6311768/73553966-260f6300-444b-

[2020-01-31 16:14] et1421 commented on #299
We are building our own library of components and like to test accessibility.
What about also testing that a user can navigate with the arrow keys in a list of radio buttons and that they can actually select a value using the space key.

I tried using `.type('{downarrow}')` from the radio button and `cy.get('body').trigger('keydown', { key: 'ArrowDown', code: 'ArrowDown', which: 40 });` without an

[2020-01-31 16:15] xeger commented on #1865
FWIW, here is a toy implementation of tag-based selective test execution; as you can see, it's fairly easy to do with no help from Cypress itself:
https://codesandbox.io/s/immutable-monad-gz839

[2020-01-31 16:26] HolyNoodle opened #6290 "Waiting for query OFTEN throw a "No response ever occured" in one specific test"
### Current behavior:
I have encountered this issue.

I have 35+ tests. Every test are built on the same pattern of waiting requests. One of all the tests does not work.

The routes defined before everything.
![image](https://user-images.githubusercontent.com/6311768/73555633-468cec80-444e-11ea-9054-c03b454bf693.png)

The test
![image](https://user-images.githubusercontent.com/6311768/73553966-260

[2020-01-31 17:29] #6169 closed

[2020-01-31 17:31] Bkucera commented on #1313
not trying to minimize the importance of getting this in Cypress core. We hear you, it's up next to be worked on.

But since Github has started hiding comments didn't want the workaround above to get buried:

We're still working on this, but in the meantime I've made a plugin you can try out [`cypress-plugin-retries`](https://github.com/Bkucera/cypress-plugin-retries):
[![image](https://user-image

[2020-01-31 18:15] ianjamieson commented on #2715
"fixturesFolder": "cypress/fixtures"

Didn't work for me on Cypress `3.8.3

[2020-01-31 18:50] #5236 closed

[2020-01-31 19:13] johnnysprinkles opened #6291 "When filtering get() with additional commands, the retry should happen on the get() call"
### Current behavior:

Chained query selectors only retry the last one before the assertion, as discussed in https://github.com/cypress-io/cypress/issues/1210 this is desired behavior. But this makes `.eq()` useless.

### Desired behavior:

We'd have a way to group together chained commands, where the commands all deal with DOM querying, into an atomic retry chain.

This code fails:

[code]

While

[2020-01-31 19:27] Willie010 opened #6292 "Can't start Server!!!"
### Current behavior:

Using cypress open or cypress run in Chrome browser and running specfile (with any tests) results in error: Can't start server

Running in Electron 78 on either cypress open or cypress run works fine.

cypress open error message with Chrome
![image](https://user-images.githubusercontent.com/53355146/73568012-2862c480-442d-11ea-8b1e-6dabe9708d6c.png)

### Desired behavior:
cy

[2020-01-31 19:31] Willie010 commented on #6292
Pls i need help with this. All i did was updated cypress.

[2020-01-31 19:33] Willie010 commented on #6292
@jennifer-shehane

[2020-01-31 20:26] flotwig commented on #6243
Weird, GitHub didn't pick up on the "closes" from the PR...

[2020-01-31 20:26] #6243 closed

[2020-01-31 20:39] kylemh commented on #5943
I'm on Mojave and seeing this.

[2020-01-31 20:51] kentcdodds commented on #456
@Svish's package worked for me 👍 Thanks!

[2020-01-31 21:06] rbaxter08 commented on #5581
Getting a similar errror, unable to run all tests, but running a test individually works.

Sometimes after running a single test it will let me run all and will complete without error.  It's really intermittent so I'm having a hard time offering anything else that will be useful for debugging.

[code]

Ver: 3.8.1
Chrome: 79
Node: 12.8.1
Os: MacOS Catalina

[2020-02-01 01:25] Sumedh-k commented on #6292
Try reinstalling Cypress, clear your cache first.

https://docs.cypress.io/guides/guides/debugging.html#Clear-Cypress-cache

[2020-02-01 01:56] Sumedh-k commented on #6268
Did you have chat with your IT department on why they are blocking connections?

Do you use a proxy to connect the internet?

Follow this doc for more info on how to debug

https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs

[2020-02-01 02:35] kgroat commented on #136
I actually just published a package for adding iframe commands to cypress:
https://www.npmjs.com/package/cypress-iframe

The biggest caveats are still that cypress doesn't track the dom state inside of iframes, but otherwise it works pretty well.

[2020-02-01 03:34] #6279 closed

[2020-02-01 03:36] bahmutov commented on #136
@kgroat I love it, could you add it to the list of plugins, probably under custom commands here https://on.cypress.io/plugins ?

[2020-02-01 10:10] Algram commented on #1313
@Bkucera this is not really a workaround, because one can still manually retry a test in e.g. GitLab und force it to pass, even if there are real errors that where introduced with this test.

Furthermore it only retries them automatically. Chances are high that the test failure was introduced by a third party system not being available. The plugin would not do anything for that kind of failure.

[2020-02-01 18:00] lslee714 commented on #1313
The plugin works well for us. @Algram if your tests are dependent on third party systems, you might re-think them... it's generally best practice to mock out external dependencies that you have no control over.

[2020-02-01 21:52] Svish commented on #6273
"so what would this actually be testing", well, nothing of course, but it would be part of setting things up for a test.

Anyways, being able to paste a chunk of text from a Cypress test would also solve it for me, and would be the way a user like myself would do it. For example if I had written a chunk of text in a text editor, and then pasted it into a text area on a website.

[2020-02-01 22:47] Manuel-Suarez-Abascal commented on #6229
@jennifer-shehane @Regnander  I would like to give it a go to this issue. Can you give me some feedback on where to find the file related to this issue? Which implementation do you have in mind?

[2020-02-01 22:56] paxcodes opened #9717 "element is not autofocusing when mounted the second(++) time"
- version
"cypress": "^3.8.3",
"cypress-vue-unit-test": "^1.11.5",

- platform
Mac OS X

- steps to reproduce:
[Repo](https://github.com/paxcodes/cypress-vut-253)

Given: A test/spec that is *not* the first test
When: I try to mount an element that is autofocused
Expected: the element should be focused
Actual: the element is not focused...thus, the test fails.

❌ *When the test is not the first te

[2020-02-01 23:30] Manuel-Suarez-Abascal commented on #6229
@jennifer-shehane @Regnander I would like to give it a go. Can you please guide me on where to find the related file to implement the enhancement? I would like to know which implementation do you have in mind?

[2020-02-02 02:00] ameem91 commented on #3602
I'm also seeing this same issue. I stub all requests using mock data, so my tests don't even take that long to run. I'm on 3.8.2.

[2020-02-02 03:20] paxcodes commented on #2564
Thanks to @LinusBorg comment. I just have to disable code splitting for now in my webpack config.

[2020-02-02 06:52] MrBokeh commented on #4304
Mocha 5.2.0 won't have this issue, only the latest Mocha 6.x and 7.x are still having this same issue...

[2020-02-02 06:53] MrBokeh commented on #3537
Mocha 5.2.0 won't have this issue, only the latest Mocha 6.x and 7.x are still having this same issue...

[2020-02-02 06:57] eran-shlomo commented on #686
Evaluating cypress and it took me 3 hours to encounter this issue and 2 more to root cause it to this bug.

[2020-02-02 07:38] DassyShtigel opened #6296 "How can I use BDD in Cypress TestRunner?"

[2020-02-02 17:40] ibasoni opened #6297 "Test always yields a time-out"
### Current behavior:
Simple test times-out after the assertion happens.
![Screen Shot 2020-02-02 at 19 33 34](https://user-images.githubusercontent.com/8491540/73612294-3104f780-45f3-11ea-8c04-8f5c66375ada.png)

### Desired behavior:
Test completed successfully.

### Test code to reproduce
cy.visit("http://localhost:3333/#/search");
cy.get("[data-testid=add-filter]").should("be.visible");

### Ve

[2020-02-02 18:43] mali313 commented on #2664
@FlorianBurgevin  have you solved this issue i am also trying to send postmessage to but they are not coming

[2020-02-02 19:33] archfz commented on #700
There is also this package for outputing verbose information in a good looking way to the terminal when tests fail. https://github.com/archfz/cypress-terminal-report It also shows data for request captured with cy.route. @flotwig could this package be added to the plugins list https://docs.cypress.io/plugins/ ?

[2020-02-02 20:17] suchipi commented on #2319
I'd like to contribute a fix for this bug. Where would I start?

[2020-02-02 20:24] tamj0rd2 commented on #3848
I'm also having similar issues with the intersection API in cypress. The rootMargins don't seem to have any effect unless I double them. I've tested the functionality in a several browsers using Browserstack and can't reproduce it. It only seems to be an issue when viewing the page in cypress

[2020-02-02 22:51] Psycholisk commented on #349
I am facing the same issue as well, I tried optimizing my tests and following the best practices guide:  https://docs.cypress.io/guides/references/best-practices.html. I can see improvements but still crashes the CI most of the time.

[2020-02-03 01:43] mfaizan1 commented on #6277
can i give it a shot ?

[2020-02-03 03:29] jdcl32 commented on #5943
Also seeing this, Cypress was working without problem in MacOs Catalina until I installed Endpoint Bitdefender. After changing `nodeVersion: "system"` as suggested by @Truffula is working correctly.

[2020-02-03 05:15] NitinKanawalli commented on #871
I still face the issue, the solution doesn't work for me. I am using Cypress@3.8.3 Any update of hacks for this issue???

[2020-02-03 06:31] jennifer-shehane commented on #6048
There's a pull request to update the messaging of this error. The behavior is not in error nor a bug. This is expected behavior, but the messaging needs updating. https://github.com/cypress-io/cypress/pull/6118

[2020-02-03 07:54] jennifer-shehane opened #6299 "Make browser dropdown look more 'clickable'"
### Current behavior:

Currently we see a lot of users who don't seem to realize that the browser dropdown is clickable.

<img width="799" alt="Screen Shot 2020-02-03 at 2 16 25 PM copy" src="https://user-images.githubusercontent.com/1271364/73634978-d7530a80-4690-11ea-8e5e-b56d5518b311.png">

### Desired behavior:

Make it more obvious that the browser dropdown is clickable, especially since we'l

[2020-02-03 10:09] visuallization commented on #4220
We are having the same issue on `cypress 3.5.0` and `"chromeWebSecurity": false` set.

[2020-02-03 11:44] gabdulmaksut commented on #6286
I solved this issue by getting rid of the promise. You may close the issue if it's not considered as a bug

[2020-02-03 11:52] TomaszG opened #6300 "cy.fixture() uses encoding from the first use when used multiple times with different encodings"
### Current behavior:

If `cy.fixture()` is used multiple times with different encodings within a single run then encoding from the first usage is preserved in the following usages.

### Desired behavior:

`cy.fixture()` should use provided encoding.

### Test code to reproduce

1. Prepare Excel .xlsx file and save it fixtures directory as `some.xlsx` (may work with text files too, not sure).
2. R

[2020-02-03 13:22] nishants opened #6301 "scrollIntoView resets the scroll position before running next command/assertion"
### Current behavior:

`scrollIntoView` resets the scroll position before running next command/assertion.

### Desired behavior:

After invoking `scrollIntoView`, the scroll position should be retained so that element is visible for next command.

### Test code to reproduce

To reproduce this, create a webpage larger than viewport size, make sure the .some-element is at the bottom of the page and

[2020-02-03 13:28] nishants commented on #6296
If you mean to run cypress with cucumber (gherkin specs), you need check this out : https://github.com/TheBrainFamily/cypress-cucumber-preprocessor.

Sample code with this : https://github.com/nishants/hey-cypress/tree/cucumber/cypress/integration

[2020-02-03 13:53] satyavh commented on #4937
Got the same error, only happens when running in CI

[2020-02-03 14:01] #6297 closed

[2020-02-03 14:17] swnathan opened #6302 "getting "chrome-error://chromewebdata/""
In my Current Test when i click on Login Button i am redirecting to New Page

1)But when running from Cypress i am getting "chrome-error://chromewebdata/" in the next Page
2) How to validate the Certficate for the Domain ,CypressProxyCA is sending Certificate Issue to the Domain i am currently Testing

Any Suggestions are welcome

[2020-02-03 14:28] bahmutov opened #6303 "Handle better cache list if there are no binaries installed"
Cypress v3.8.3 on CI

If we skill installing Cypress binary with `CYPRESS_INSTALL_BINARY: 0` env variable, then `cypress cache path` returns a folder name, but the folder does not exist. Then `cypress cache list` throws an error, yet exits with 0

![](https://user-images.githubusercontent.com/2212006/73661136-8ed32700-4667-11ea-8f26-33fc4014ea09.png)

https://github.com/bahmutov/cypress-gh-action-

[2020-02-03 14:47] BusseBu commented on #5930
Cannot update cypress version in my project because of that.

[2020-02-03 15:16] 0xIslamTaha commented on #6210
I have this as a configuration in the plugin/index.js
[code]
But I can see that all tests gonna fail if I run it with --headless mode and here is the terminal record
https://asciinema.org/a/E6Sc4ay7XfkK9sHUAewwZpmhF

and here is the error messages in headless mode
[code]

[2020-02-03 15:19] lee-thurston opened #6304 "Make it possible to support no_proxy environment variable for download"
### Current behavior:

When downloading Cypress, the no_proxy environment variable is not taken into account.

![image](https://user-images.githubusercontent.com/9371059/73665135-86471480-4698-11ea-94cc-011e58c21275.png)

### Desired behavior:

When downloading, I want Cypress to be able to use the no_proxy environment so that it doesn't go through the company proxy. Using CYPRESS_INSTALL_BINARY a

[2020-02-03 15:28] flotwig commented on #6304
@lee-thurston There is currently no `NO_PROXY` support in the CLI, as you've noted.

You can try unsetting your proxy environment variables, so Cypress doesn't use them. Here are the variables that are considered:

https://github.com/cypress-io/cypress/blob/3fdc965655abd3a185f6d190568b407d970ff744/cli/lib/tasks/download.js#L19-L27

So, on macOS/Linux, this should work:

[code]

[2020-02-03 15:34] lee-thurston commented on #6304
Ahh yeah, I tried doing that but only supplied the lower case version. Using that has made it work, thanks.

[2020-02-03 15:47] AndresJCremades opened #6305 "Test Files aren't ignored after adding new code to index.js"
### Current behavior:

I modified the first time my `plugins/index.js` to ignore the` example` folder which is created the first time Cypress is opened and it worked:

[code]

![image](https://user-images.githubusercontent.com/3080768/73666802-a3cdab80-46a3-11ea-8a25-cc366d7b4914.png)

Then I added these lines from the Plugin Documentation for switching between multiple configuration files

[code]

[2020-02-03 15:55] #4200 closed

[2020-02-03 16:05] Regnander commented on #6229
I don't quite follow. Do you want me to elaborate my suggestion?

[2020-02-03 16:08] 0xIslamTaha commented on #3324
Here is a workaround for this bug, I have been doing visual testing and after a while I made it work by

- adding this config to the `plugin/index.js`
[code]

- Instead of taking the base screenshots from my machine, I managed to take the base screenshots from the cypress docker container based on the `cypress/browsers:node12.13.0-chrome78-ff70` image by executing `npx cypress run -b chrome --head

[2020-02-03 16:15] #5433 closed

[2020-02-03 16:17] Manuel-Suarez-Abascal commented on #6229
@Regnander no, it's good. I understand the problem. It's more about implementation, if you guys are thinking a particular approach on how to implement the feature. If not, I would go ahead & start implementing the functionality.

[2020-02-03 16:41] yaakov123 commented on #5480
@Codex0607 This solved my issue perfectly, although the timing was a bit off. It seems to me that this issue happens when there is an eventListener attached to the input on key events. In my case, I was doing something quite intensive on each keypress so it seemed to miss some keystrokes. It could be, and I haven't tested this, that if a login form is validating input on key events it could potent

[2020-02-03 16:46] jennifer-shehane commented on #205
An example on why this current implementation is a problem.

## Example #1

If you have an element that did exist and then sets the elements visibility to `hidden`. Both of these assertions pass, so you essentially cannot test this behavior with the current implementation of Cypress.

[code]

[2020-02-03 16:53] Rose-Lutz commented on #4383
I have the same problem, for many days now... What is weird is that this behaviour is not systematic (even though really frequent).

@jennifer-shehane : as you're on the subject (I saw you answers in this ticket and in all those related to blank pages ), I noticed some points that could maybe clarify or give some clues to understand :

1- it seems that only my tests where I log in through the API

[2020-02-03 16:56] Codex0607 commented on #5480
our company has a validation on input fields to, you can try to add after your type() an assertion like: type('test1'). should('have.value','test1').
or select your input field and do a callback on it within a then block and do the typing and the assertions in the then block.

[2020-02-03 16:59] jennifer-shehane opened #6306 "Expand `before:browser:launch` to pass `options` argument instead of `args`"
### Current behavior:

The current implementation of working off of the `args` Array during `before:browser:launch` is restrictive and doesn't allow for future adaptations needed.

### Desired behavior:

Deprecate `before:browser:launch` argument `args: string[]` in favor of more configurable `launchOptions: object`, which allows user to control extensions, user preferences, and launch arguments p

[2020-02-03 17:16] kgroat commented on #136
Will do!

[2020-02-03 17:42] flotwig commented on #6129
Found the original Sinon issue that was fixed in 4.1.3: sinonjs/sinon#1265

[2020-02-03 18:02] flotwig commented on #6129
So... the `spy`ing works, but when Cypress goes to serialize the spy for printing, Sinon has a bug that causes it to throw an error. :smile:

I opened a bug report here: https://github.com/sinonjs/sinon/issues/2215 Might open a PR, since it looks like a simple fix.

[2020-02-03 19:24] fr0 commented on #5987
I used the Chrome dev tools Performance tab to profile one of my tests running under 3.7.0 vs 3.8.3. There is a definite difference in the code path.

# 3.7.0:

<img width="297" alt="Screen Shot 2020-02-03 at 2 14 44 PM" src="https://user-images.githubusercontent.com/435418/73683173-cb1a7d80-468f-11ea-9114-20641defc525.png">
<img width="848" alt="Screen Shot 2020-02-03 at 2 15 49 PM" src="https://

[2020-02-03 19:43] zkilleb opened #6307 "Allow Tests to Be Run at the Folder Level From the Dashboard"
### Current behavior:

When Cypress open is run, the user can select to run all specs or individual spec files.

### Desired behavior:

Allow the user to select a specific folder to run all of the specs inside the selected folder.

[2020-02-03 19:55] Kishorekumar2789 opened #6308 "How to verify/validate the value against api Response Array"
Hi @jennifer-shehane, How can I verify an email id in api response which(email-id) is created from UI.

Response return as an array but how to compare the created email id with response data?

Sample Code:
[code]
Sample Response:
[code]

![image](https://user-images.githubusercontent.com/42167657/73685893-43e8fc00-46c7-11ea-9303-26e6487116b7.png)

[2020-02-03 20:06] wesmangum opened #6309 "`have.css` width and height calculating getBoundingClientRect not getComputedValue"
### Current behavior:

CSS width and height numbers are incorrectly calculated when transforms are applied.
<img width="1676" alt="Image 2020-02-03 at 1 59 44 PM" src="https://user-images.githubusercontent.com/5713417/73686442-9ad1df80-468d-11ea-96c7-f699959225df.png">
<img width="1671" alt="Image 2020-02-03 at 2 00 26 PM" src="https://user-images.githubusercontent.com/5713417/73686458-a2918400-46

[2020-02-03 20:40] jackyl commented on #6207
Hi,

I think it's broken when there's hashtag in the url, in my case there were 4, and the console message was:

`Autofocus processing was blocked because a document's URL has a fragment '####'.`

If you open the simple html page in chrome without any testing integrated, autofocus works fine.

[2020-02-03 21:32] flotwig commented on #6129
Opened a PR over there to address the issue: sinonjs/sinon#2215

Once that gets merged and we update `sinon`, spying on constructors using `cy.spy` will be gravy. For now, it will only work via `Cypress.sinon.spy`, since that prevents the `toString` call.

[2020-02-03 22:41] corwinstephen commented on #5688
@flotwig is there still activity on this?

[2020-02-03 22:45] flotwig commented on #5688
@corwinstephen I have been unable to devote a lot of time to this lately, working on getting other things out the door. But this is my priority as soon as 4.0 is out.

[2020-02-04 02:39] GregLahaye commented on #6308
You just want to find if an email id is in the response data? You could do something like this:

`cy.wrap(response.responseBody.filter((user) => user.emailId === myEmailId)).should("have.length", 1);`

This will filter out all of the users that don't have the emailId you are looking, returning an array of matching users. It then wraps the resulting array and asserts that it's length is one.

[2020-02-04 03:55] Manuel-Suarez-Abascal commented on #6229
@jennifer-shehane is this the file related to the `input` search?
`cypress\packages\desktop-gui\src\specs\specs-list.jsx`

[2020-02-04 04:15] jennifer-shehane commented on #6229
@Manuel-Suarez-Abascal Yes, that's the right file with the corresponding tests in Cypress found here: https://github.com/cypress-io/cypress/blob/develop/packages/desktop-gui/cypress/integration/specs_list_spec.js#L1:L1

There is a Contributing guide that covers how to contribute and get Cypress running locally in generally here: https://github.com/cypress-io/cypress/blob/develop/.github/CONTRIBUTI

[2020-02-04 04:17] jennifer-shehane commented on #6309
@wesmangum Can you provide the HTML code and test code to reproduce this? We'll need that to move forward with the issue. Thanks!

[2020-02-04 04:18] jennifer-shehane commented on #6307
Duplicate of #3607

[2020-02-04 04:18] #6307 closed

[2020-02-04 04:36] jennifer-shehane commented on #6302
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

Cypress should handle certificates and there is no extra configuration required. If you need to set up Prox

[2020-02-04 04:36] #6302 closed

[2020-02-04 04:44] jennifer-shehane commented on #6301
I'm unable to recreate without the HTML and test code provided to test against.

My attempt to repro.

`index.html`

[code]

`spec.js`

[code]

Screenshot taken includes the element at bottom of page.

![screenshot after scroll (1)](https://user-images.githubusercontent.com/1271364/73714530-73d3e600-473f-11ea-8dfc-e01a9abcf6c9.png)

Unfortunately we have to close this issue as there is not enough

[2020-02-04 04:44] #6301 closed

[2020-02-04 04:45] jennifer-shehane commented on #6286
Closing as resolved

[2020-02-04 04:45] #6286 closed

[2020-02-04 05:00] jennifer-shehane commented on #6300
I confirmed this is a bug. Duplicate of #4716

You can get around this by using `cy.readFile()` instead of `cy.fixture()`.

### Test with one fixture definition

[code]

<img width="428" alt="Screen Shot 2020-02-04 at 11 17 56 AM" src="https://user-images.githubusercontent.com/1271364/73714706-1c824580-4740-11ea-9771-5c944cd44fae.png">

### Test with two fixture definitions with different encoding

[2020-02-04 05:00] #6300 closed

[2020-02-04 05:05] jennifer-shehane commented on #6305
The last line of your code is just returning the contents of the cypress config file, so it wouldn't have any of the mutation you already made to the `config` object previously.

You never actually use the `config` object again that you set `ignoreTestFiles` on. You have to return the `config` object with the `ignoreTestFiles` property set how you want or it will not take effect. Try debugging by

[2020-02-04 05:05] #6305 closed

[2020-02-04 05:05] jennifer-shehane commented on #6296
When opening an issue, please fill out the [issue template](https://github.com/cypress-io/cypress/blob/develop/.github/ISSUE_TEMPLATE.md) provided - it requires necessary information we need to help you, like desired behavior, a reproducible example and the version of Cypress you are using.

This issue will be closed as per our [contributing guidelines](https://github.com/cypress-io/cypress/blob/d

[2020-02-04 05:05] #6296 closed

[2020-02-04 05:10] jennifer-shehane commented on #4220
Unfortunately no one has provided enough information to reproduce the problem. This means that we do not have a path to move forward, so no, no progress has been made on this issue as we cannot see this error on our machines with no reproducible example.

Please comment in this issue with a reproducible example so we can begin addressing the issue.

[2020-02-04 05:13] jennifer-shehane commented on #6308
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2020-02-04 05:13] #6308 closed

[2020-02-04 05:47] jennifer-shehane commented on #6292
@Willie010 Are you still experiencing this issue? Did you try clearing the cache?

[2020-02-04 05:48] #6299 closed

[2020-02-04 05:48] jennifer-shehane commented on #6299
The code for this is done in https://github.com/cypress-io/cypress/pull/6298, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2020-02-04 05:53] jennifer-shehane commented on #6291
Duplicate of #3561

[2020-02-04 05:53] #6291 closed

[2020-02-04 05:59] jennifer-shehane commented on #6290
This looks like a Duplicate of #5999 although #3427 is a similar issue (yet maybe not as specific as your case of waiting for multiple route calls).

[2020-02-04 05:59] #6290 closed

[2020-02-04 06:00] jennifer-shehane commented on #6289
Issues in our GitHub repo are reserved for potential bugs or feature requests. This issue will be closed since it appears to be neither a bug nor a feature request.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypress-io/cypress/issues), reading throug

[2020-02-04 06:00] #6289 closed

[2020-02-04 06:05] alexcampbell86 opened #6312 "Cypress test runner freezes during long running spec ('NOT_LOGGED_IN' error)"
### Current behavior:

During the running of long running (approx 5 mins) e2e spec, Cypress will freeze at the same step. I cannot interact with the test runner except to forcibly close the window.

When running Cypress in Debug mode, the following logs are printed at the time the test runner hangs:

[code]

### Desired behavior:

Expect test runner to proceed without hanging.

### Test code to re

[2020-02-04 06:08] jennifer-shehane commented on #6288
I believe this is due to [Ionic using Shadow DOM](https://ionicframework.com/blog/shadow-dom-in-ionic-and-why-its-awesome/), which is not fully supported in Cypress. Which would be a duplicate of https://github.com/cypress-io/cypress/issues/144

But I can't get the repo to run. I get this error running `yarn`:

[code]

[2020-02-04 06:20] jennifer-shehane commented on #6287
Yeah I don't think this is handled automatically, but seems that it may work if you set up a fixture and pass the `encoding` option.

[2020-02-04 06:24] jennifer-shehane commented on #6282
I would suggest adding something in the interface to click to collapse all folders to satisfy your needs.

Saving this as project state or global state would be trickier. Although we are working on interfaces for more configurable 'global' settings from within the UI, this would be a very low priority for us.

[2020-02-04 06:28] jennifer-shehane commented on #6281
Closing. Do not open new issues for existing issues. We will reopen if necessary.

[2020-02-04 06:28] #6281 closed

[2020-02-04 06:44] jennifer-shehane commented on #6202
I don't understand why these `await` and `Promise` definitions are necessary. Cypress commands are promises and everything is automatically awaited. Again, I would refer you to read the entirety of the [introduction to cypress](https://on.cypress.io/introduction-to-cypress).

Why not write the code you have like below? Are the Promise definitions inherently necessary for your tests?

[code]

If yo

[2020-02-04 06:49] travikk commented on #6287
@jennifer-shehane could you give me an example of what do you mean with encoding for fixture? How would that make things different compared to just hardcoding an arraybuffer as a response (like in the example above)?

[2020-02-04 06:50] jennifer-shehane commented on #6202
@rehne Same advice as above. Work within Cypress' recommended use. It will make working with your tests a lot easier.

Rewrite of your code using https://on.cypress.io/custom-commands and general advice from https://on.cypress.io/introduction-to-cypress

[code]

Please check out our [community chat](https://on.cypress.io/chat) for further question, it can be helpful for debugging or answering ques

[2020-02-04 06:52] jennifer-shehane commented on #6273
Then I will close this as a duplicate of the issues for copy/paste in Cypress. Related issues:

- Enable access to clipboard in test https://github.com/cypress-io/cypress/issues/2752
- Using document.execCommand("copy") https://github.com/cypress-io/cypress/issues/2851
- copy + paste using modifier keys: https://github.com/cypress-io/cypress/issues/2386

[2020-02-04 06:52] #6273 closed

[2020-02-04 06:53] jennifer-shehane commented on #6271
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2020-02-04 06:53] #6271 closed

[2020-02-04 07:01] jennifer-shehane commented on #6270
The behavior today is that the Command is collapsed by default and then expands if the the test meets one of the following criteria in our code:

https://github.com/cypress-io/cypress/blob/develop/packages/reporter/src/test/test.tsx#L135:L135

And yes, the contents of the test do not render unless opened as noted here in our code: https://github.com/cypress-io/cypress/blob/develop/packages/reporte

[2020-02-04 07:07] jennifer-shehane commented on #5334
Unfortunately we have to close this issue due to inactivity. Please comment if there is new information to provide concerning the original issue and we can reopen.

[2020-02-04 07:07] #5334 closed

[2020-02-04 07:11] nishants commented on #6301
I tried to reproduce this in  an isolated setup without success:
An html page with non scrollable body
html
[code]
Scroll to element and trigger click :
javascript

[code]
Code here : https://github.com/nishants/cypres-scoll-bug
This works just as expected. This is not a cypress bug.

Thanks !

[2020-02-04 07:12] jennifer-shehane commented on #6312
@alexcampbell86 We don't recommend having spec files that are this long running. There is a lot of rendering going on with the Cypress UI and a lot in the application as well, so either one of these could be a problem when performing that many quick actions over 5 minutes. For example, the application under test could have a memory leak that would cause the browser to freeze, we wouldn't be able t

[2020-02-04 07:12] #6312 closed