[2019-02-24 16:49] hawaiiansurfer commented on #144
Also, on boat for cypress supporting shadow-dom for us stenciljs users. Any updates?

[2019-02-24 16:49] ArmandoAA commented on #3574
Got it.
Even though it would be interesting to be able to do this directly from the cypress interface.

[2019-02-24 17:38] swatisharma03 opened #3577 "Not able to get the updated value"
Hello,

In the following example, $result.text is getting me the updated value, whereas the actual value gets updated on click of the button. Its is very similar to the example on the cypress website under variables and aliases.
Not sure what I am doing wrong.
Could you please help

cy.get('[data-tag*="row-id 1"] div:nth-child(3) >p').then(($result) => {

        const totalProcessed = parseFloat(

[2019-02-24 17:59] Saibamen commented on #3574
Maybe someday will be a settings view for all config variables ;)

[2019-02-24 18:36] bahmutov commented on #3574
I believe you can see all config variables as resolved from the GUI

Sent from my iPhone

[2019-02-24 19:43] yeya commented on #1872
Same issue with cypress 3.1.5 and chrome 72.
I'm running `npx cypress open` on new project with no files at all. Just the auto generated specs.

Same issue with localhost site.

![image](https://user-images.githubusercontent.com/6382246/53304344-c09b1580-387c-11e9-8e3f-67cfbc3c8667.png)

I tried to add the temp code to plugins but I see that the argument already there:
`  '--disable-default-apps',

[2019-02-24 20:06] Saibamen commented on #3576
This same on Windows

[2019-02-24 20:14] justinpincar commented on #2558
Running into the same issue here. Too pressed for time to provide a self-contained example, but in my case it happens with a simple mobile slide-over menu.

When my menu has `transform: translateX(-100%);` and is completely offscreen, my `should('not.be.visible')` assertion fails.

[2019-02-25 04:55] nelsonomuto commented on #2927
we are experiencing this error as well, anxious to get to 3.1.6 @jennifer-shehane

[2019-02-25 08:14] achelonmm commented on #3310
Hello,

I have tried using DEBUG=cypress:*, however, didn't get any additional information, as the logs do not include the debugging information in the console, and if I execute everything manually, it works perfectly.

Any other idea or workaround? Is there a way to log in a file everything printed by DEBUG=cypress:*?

[2019-02-25 10:05] amrayoub commented on #136
@christopherfrance can you please provide the html or web template for that test .
i'm trying to get cypress Iframe works in an angular app

[2019-02-25 10:46] maksimkarpov opened #3578 "Left panel with command log not showing running 3.1.5"
### Current behavior:
It the same problem as in https://github.com/cypress-io/cypress/issues/2107 which is I'm not showing left panel with command log when running tests. Opening new issue as the solution for initial one was to upgrade to 3.1.5 and I'm already running this version

### Desired behavior:

command log to show when I run tests in test runner
![aaaa](https://user-images.githubusercont

[2019-02-25 10:53] nikolaJosifovic commented on #3347
It does rerun in loop always when i have ```import * as``` in any function in my code.
I can give you access to code base if you want to check it.

[2019-02-25 11:33] Elshaikh commented on #3387
hello all ,
@jennifer-shehane need your help plz , post request failed when load body from fixture json file while sent fine when paste body to the request
[code]

[2019-02-25 12:27] Ivan-Katovich opened #3579 "Cy.wait() doesn't wait any routed request"
Hi, Looks like cy.wait doesn't wait routed request after clicking on the button.
My simple test is:

[code]
I expect that wait should intercept request after clicking on appropriate button but looks like page loads and then wait starts and fails after timeout.

I use default config.
I have such report:
![image](https://user-images.githubusercontent.com/7858279/53337123-87f94b80-3911-11e9-9bf8-a0cc

[2019-02-25 12:36] thomassjogren commented on #3579
@Ivan-Katovich I'm pretty sure that the URL for the router must match the real URL exactly. In your case you specify a route as `/dashboard` but the real route includes a trailing `/` so should be `/dashboard/'

[2019-02-25 12:43] Ivan-Katovich commented on #3579
![image](https://user-images.githubusercontent.com/7858279/53338140-02c36600-3914-11e9-8308-30f0b05364af.png)

looks like it doesn't help

[2019-02-25 12:46] thomassjogren commented on #3579
@Ivan-Katovich Sorry, I just realised that I missed an important detail. The request you are trying to do is a full page reload. The current implementation of `cy.wait()` doesn't support this as noted in the documentation (https://docs.cypress.io/api/commands/wait.html#Yields).

So that might be the reason why it fails.

[2019-02-25 13:29] #3577 closed

[2019-02-25 14:20] Ivan-Katovich commented on #3579
Thanks a lot. Looks like it is the real problem of my test. I tried it with appropriate request and it works correctly.

[2019-02-25 14:20] #3579 closed

[2019-02-25 14:52] andreasmihm commented on #2940
@sergioafonso How do you have your dataSets coded? as fixtures?

[2019-02-25 14:53] Vandivier opened #3580 "Use Chromium not Chrome"
### Current behavior:

Cypress doesn't work OOTB on AWS CodeBuild, because CodeBuild doesn't have a browser. If I `apt-get -y install chromium-browser` it still doesn't work, complaining about `No binary for Chrome browser on your platform.  Please, set "CHROME_BIN" env variable.` If I `apt-get -y install chromium-browser` we are gtg. This indicates a dependency on Chrome, not just Chromium.

###

[2019-02-25 15:07] jennifer-shehane commented on #1594
Duplicate of https://github.com/cypress-io/cypress/issues/1594

[2019-02-25 15:07] #1594 closed

[2019-02-25 15:36] jennifer-shehane commented on #3580
I think these docs on [debugging launching browser](https://on.cypress.io/debugging#Launching-browsers) should be helpful - there's likely something about the download that we're not exactly looking for.

Let us know if this does or does not help solve you issue.

[2019-02-25 15:45] flotwig commented on #3580
That underlying error comes from your operating system, not from Cypress: https://unix.stackexchange.com/questions/176980/please-set-env-variable-chrome-bin We do offer support for Chromium, Chrome Canary, and other Chrome-family browsers.

If you're using the `cypress run --browser chromium` command, it ought to just work, as we expect to find Chromium at `/usr/bin/chromium-browser`. Also, as the

[2019-02-25 15:47] chrisbreiding opened #3581 "Upgrade jsdom to latest version"
Used primarily for the `runner` and `reporter` unit tests. Currently using version `9.x`, while the latest is `13.2.0` because `10.0.0` brought breaking changes that make it somewhat difficult to upgrade.

[2019-02-25 15:59] joelmoser opened #3582 "Support Google Cloud Build details in Cypress Dashboard"
### Current behavior:

When using the Cypress Dashboard with Google Cloud Build, all of the Git information is coming back undefined/null.  From looking in the code, and asking on Gitter, it seems that is not currently supported.

### Desired behavior:

I would like the Cypress Dashboard to pull that information from Google Cloud Build and display it.  https://cloud.google.com/cloud-build/docs/con

[2019-02-25 16:00] flotwig opened #3583 "Proposal: Authenticate through user's installed browser"
### Current behavior:

Logging in with GitHub opens the Oauth authorize page in Cypress's packaged Electron, which causes issues:

- #1251 - Electron goes out of date and GitHub blocks logging in with it
- #1162 - Electron doesn't support hard tokens
- users can't see the URL of the page, could potentially be a security problem
- users can't use password vaults
- #4337 - networking bugs can cause

[2019-02-25 16:05] Elshaikh commented on #3468
@Vinod-Gulia @lorennorman
Appreciate your feedback for above request plz

[2019-02-25 16:14] Vandivier commented on #3580
Thanks for the clarification to both of you. After debugging further, Cypress wasn't throwing the Chromium err it was Karma :)

[2019-02-25 16:14] #3580 closed

[2019-02-25 16:23] jennifer-shehane commented on #3582
@joelmoser Thanks for linking to these variables - this is helpful.

We collect relevant env variable information in our code here, so it should entail adding Google Cloud to this process and also writing tests to ensure it's working: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/util/ci_provider.js

cc @bahmutov

[2019-02-25 16:32] jennifer-shehane commented on #3577
Hey @swatisharma03, did you find a solution? We'd love for you to share the fix for anyone finding this issue in the future.

[2019-02-25 16:32] acyuta108 commented on #3530
NixOS needs to patch (patchelf) dynamic libraries' rpath to the binary in order to run it. For electron apps most people use the Atom libPath to do so, being the canonical Electron app in linux, which was successfully "ported" to NixOS. [This article](https://qiita.com/kimagure/items/6e0fd0aad389c1f274c6) is a great guide to creating a package in NixOS which requires binary patching.
I have manage

[2019-02-25 16:39] jennifer-shehane commented on #3578
Hey @maksimkarpov, first, I would suggest making sure the lefthand side has not been manually shrunk - by dragging the width to zero as mentioned in this issue https://github.com/cypress-io/cypress/issues/2132

You may also try [clearing your app data](https://on.cypress.io/debugging#Clear-App-Data).

If this is not your issue, we'll need a reproducible example to help track it down.

[2019-02-25 16:46] #3581 closed

[2019-02-25 16:54] jennifer-shehane commented on #3576
Yeah, this is reproducible from the code given above.

[2019-02-25 17:09] maksimkarpov commented on #3578
yeaaah, that worked. Thanks a ton!

[2019-02-25 17:17] bcnichols3 opened #3585 "CircleCI timeout on cy.wait for aliased routes: No request ever occurred."
### Current behavior:

Local run on MacOS of Cypress tests passes as expected (both in headless and in Electron), but our CircleCI environment fails three of our tests, all of which use more than one `cy.wait()` command.

[code]

### Desired behavior:

We expect local and Circle results to fail or pass together.

### Steps to reproduce: (app code and test code)

Here's sanitized code of one of the

[2019-02-25 17:32] lukeapage commented on #2034
We are suddenly getting this issue now - though it wasn’t happening last week??!

[2019-02-25 17:40] joelmoser commented on #3582
@jennifer-shehane Thanks!  I might take a stab at it and see if I can figure it out.

[2019-02-25 18:11] lukeapage commented on #2034
This could well be fixed when master is released since jimp is upgraded and last time I looked at the code, a lot of differences exist in the upgrade.
https://github.com/cypress-io/cypress/pull/3415

[2019-02-25 18:17] jennifer-shehane commented on #3585
Most often in cases of flaky tests, we see that there is not enough assertions surrounding the actions or XHR requests/responses necessary before moving on to the next assertion. So if there is any variation in the speed of the XHR requests response in interactive mode versus run mode, then there will start to be failures in one over the other - or flaky tests.

One of our engineers, Gleb, wrote a

[2019-02-25 18:22] DennisLoska commented on #781
too bad this issue still exist, just stumbled upon it today. The workaround to visit a page, set a cookie and then reload again works though.

[2019-02-25 18:22] #3578 closed

[2019-02-25 18:26] jennifer-shehane commented on #3387
Hey @Elshaikh, passing `'fx:data'` to `cy.request()` is not currently supported.

This issue is open as a request for Cypress to support this in the future and has not had any work done on it yet.

[2019-02-25 18:31] jennifer-shehane commented on #3572
Hey @mandriao84, I can't be sure where this is coming from just from the information you gave.

Can you provide a reproducible example,  Test code + app code, that we can run to reproduce this? Providing the test code + screenshots or videos may be helpful in themselves if not. Thanks!

[2019-02-25 18:34] jennifer-shehane commented on #1243
@Songyu-Wang Thanks for clarifying!

[2019-02-25 18:43] joelmoser commented on #3582
@jennifer-shehane @bahmutov

So after looking through the documentation for awhile, it seems like to support this, we would have to pass through the Google Cloud Build default variables I linked above.  By that, I mean they would need to be specified in the Cypress Dockerfile for each type of image.  Or the user would have to pass them through themselves every time.  Neither of these seem like cle

[2019-02-25 19:10] jennifer-shehane commented on #1685
Closing. Please comment here if you are still experiencing this or open a new issue.

[2019-02-25 19:10] #1685 closed

[2019-02-25 19:11] jennifer-shehane commented on #2543
No work has been done on this issue

[2019-02-25 19:26] jennifer-shehane commented on #3582
Yeah, I'm sure @bahmutov has some input to share. He's on holiday for a couple days, so please be patient for a response. 😄

[2019-02-25 19:29] jennifer-shehane commented on #3347
@nikolaJosifovic Yeah, that would be helpful if you could. You can also email support@cypress.io to send information to our support team.

[2019-02-25 19:29] joelmoser commented on #3582
No problem!  I just wanted to share what I found in case it proved helpful.  Thank you

[2019-02-25 19:31] bcnichols3 commented on #3585
Thanks for replying @jennifer-shehane!

Are you suggesting here I pad my XHR with additional assertions? Is this any different from applying a manual `cy.wait`?

If I'm understanding these blog posts right — the issue is likely that the `put` request has already executed before Cypress is aware that it should be expecting it? I did try kicking up the timeout in my `cypress.json`. That didn't help,

[2019-02-25 19:31] jennifer-shehane commented on #3310
I think you're going to have to try to narrow down the test code base to find the core issue. So, cut out half of test code, does it still fail. Try half of that code, etc until you get it to the smallest amount of code to run to reproduce.

@bahmutov - you have any leads or suggestions? I know you worked with VSTS some.

[2019-02-25 19:44] jennifer-shehane commented on #3468
@Elshaikh, I think you should be able to update the `this.bodyjson` to just be `bodyjson` to match the arguments being received to the `.then()` callback function. Does this work?

[2019-02-25 19:44] fr0 opened #3586 "Passing chai expects should be logged to cypress log"
### Current behavior:

[code]

If this fails, it (rightfully) prints something to the cypress log pane:

![screen shot 2019-02-25 at 2 41 41 pm](https://user-images.githubusercontent.com/435418/53363844-87f64d00-390b-11e9-8ce0-4fc8f4220cc0.png)

If this passes, it seems to print nothing, other than the original `GET`.

![screen shot 2019-02-25 at 2 42 51 pm](https://user-images.githubusercontent.c

[2019-02-25 20:45] DarthOpto opened #3587 ".type() will not accept an empty string"
### Current behavior:

CypressError: `cy.type()` cannot accept an empty String. You need to actually type something.

### Desired behavior:

An empty string is a valid an often necessary test on an input field. The type method should support this.

### Steps to reproduce: (app code and test code)

[code]
### Versions

Cypress: 3.1.5
MacOs Mojave 10.14.3
Chrome 72

[2019-02-25 21:45] #2871 closed

[2019-02-25 21:49] jennifer-shehane commented on #3587
Hey @DarthOpto, what behavior are you expecting within an input when passing an empty string into `cy.type()`? What behavior are you trying to test in the input with this? Wouldn't this essentially be Cypress typing nothing?

[2019-02-25 21:53] jennifer-shehane commented on #3586
Hey @fr0, I was unable to produce this from the exact code provided.

**My test code**

[code]

<img width="473" alt="screen shot 2019-02-25 at 4 51 54 pm" src="https://user-images.githubusercontent.com/1271364/53371269-c4cb3f80-391d-11e9-824d-156b5d93de44.png">

Is there some extra test code you didn't include?

[2019-02-25 21:54] flotwig commented on #3312
Fixed!

[2019-02-25 21:54] #3312 closed

[2019-02-25 21:56] jennifer-shehane commented on #3565
There is a very large thread discussing workarounds here: https://github.com/cypress-io/cypress-documentation/issues/122

But yes, we actually did not have a specific issue requesting support for GraphQL specifically. It's definitely on our Roadmap!

[2019-02-25 21:59] DarthOpto commented on #3587
@jennifer-shehane I am basically trying to test that the sign in button is disabled when I leave the email field blank. I think I have a way around this. I am going to close this.

[2019-02-25 21:59] #3587 closed

[2019-02-25 22:00] jennifer-shehane commented on #3566
Hey @philjones88, we haven't seen this error before. Could you provide the test code you are running? What changed in between the tests passing and failing. Did you update any packages?

[2019-02-25 22:01] fr0 commented on #3586
Oh, interesting. I'm glad to hear that it is expected to work this way.
I wonder if it's because I'm using

[code]

...and in my `package.json`:

[code]

[2019-02-25 22:26] fr0 commented on #3586
I can confirm that this is the case. Removing my version of `chai` from `package.json` and removing my import of it fixed the problem.
It would be nice if I could keep up with the latest versions of `chai`, `mocha`, `sinon`, and `sinon-chai` without having to wait for `cypress` to include them, but that's entirely a separate issue.
Thanks for the help!

[2019-02-25 22:26] #3586 closed

[2019-02-25 22:55] rachelsevier commented on #1865
This would be so useful!

[2019-02-25 23:26] acyuta108 commented on #3530
https://github.com/NixOS/nixpkgs/pull/56387 in Nixpkgs repo.

[2019-02-26 00:06] SDESkowronski opened #3589 "Test Runner UI Needs Multi-Select Option"
### Current behavior:
In the test Runner UI I only find the ability to select a single test spec file to run.

### Desired behavior:
I would like to be able to select multiple test specs to run.

I would also like to be able to select individual tests from a spec file to run as opposed to running the entire spec file. Yes, I know there is a .only() and .skip() function to tack onto the code, but t

[2019-02-26 00:28] SDESkowronski opened #3590 "Big test run in stages, yet reports as individual tests"
### Current behavior:
Currently when you run a spec file with multiple test cases, they will all run and report their results of either PASS or FAIL.

After one test finished, the state of that test is left behind. It is quite possible for the next test to continue where the prior test left off. This is all good when the prior test passes, but it is not good when it failed since we don't need to w

[2019-02-26 01:28] teamfphl commented on #819
In case it helps anyone: we had this issue with the cypress base image. But, we had environment variable `NODE_OPTIONS="--max_old_space_size=2000"` set for node set in our CI. Removing this environment variable while cypress was running solved the problem.

[2019-02-26 06:20] jbpallingayan commented on #3567
[related to this](https://github.com/cypress-io/cypress/issues/2265)

it happens also from us. there's no answer came from them sad.

[2019-02-26 06:47] neekey commented on #2535
@jennifer-shehane it happens to me as well, the stub does not work when running in Electron regardless headless or not (chrome version 59), it works perfectly with `cypress open` or use `cypress run --broswer chrome` to run on my local chrome (version 71)

It seems like a chrome version issue ?

[2019-02-26 08:11] Elshaikh commented on #3468
thanks @jennifer-shehane , working fine now after follow your update

[2019-02-26 08:51] philjones88 commented on #3566
@jennifer-shehane unfortunatly it's internal product tests so can't provide the code but this test has passed many times, the error happened inside the beforeEach login code which is run for each spec. No packages were changed. Nothing has changed since and it's not been seen again.

[2019-02-26 10:35] Lakitna commented on #3574
You might be referring to what's described in #1586

[2019-02-26 10:48] ziyailkemerogul commented on #3312
Thanks for the quick fix @flotwig

[2019-02-26 11:25] farzadso commented on #2927
Does the team have a definite release date for 3.1.6?

[2019-02-26 12:17] paxcodes opened #9723 "Include VueLoaderPlugin() in documentation"
## Is this a bug report or a feature request? **Bug report**

**- version**
"cypress-vue-unit-test": "^1.11.0",
"cypress": "^3.1.5",
"@cypress/webpack-preprocessor": "^4.0.3",
"vue-loader": "^15.6.4",

**- steps to reproduce**

1. Create a fresh project (in my case, I installed a fresh laravel project through composer
2. `npm install --save-dev cypress cypress-vue-unit-test`
3. `npm install` (for

[2019-02-26 12:30] TheSench opened #3592 "setTimeout only passing single parameter to target function"
### Current behavior:

When passing multiple parameters to `setTimeout`/`setInterval` to be forwarded to the callback function, only the first parameter is actually passed on.

### Desired behavior:

All parameters after the delay should be passed in to the callback function given to `setTimeout`/`setInterval`.

https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout

[2019-02-26 12:37] j-mew-s commented on #3438
Might previous cookies may be hanging around on the buffers object on server.coffee? This doesn't seem to get cleared between tests, nor when cookies are cleared.

Would it make sense for this buffers object to be reset when cy.clearCookies() is called?

[2019-02-26 12:49] amrayoub opened #3594 "cy.visit keep redirecting to the same page"
### Current behavior:
basically when I try to Microsoft login page
[code]

For some reason, my login page is redirecting me to the login page, which is in turn redirected to the login page and so on ....

<img width="645" alt="screen shot 2019-02-26 at 13 45 23" src="https://user-images.githubusercontent.com/16503306/53413761-2dbdc080-39cd-11e9-8a66-39384d2e8cdc.png">

<img width="1194" alt="scree

[2019-02-26 13:31] flotwig commented on #3312
Thank @trydionel, I'm just cleaning up issues 😀

[2019-02-26 13:58] Darknico commented on #1534
Any news?

[2019-02-26 14:43] Saibamen commented on #3574
So this issue can be closed

[2019-02-26 15:24] san-ouadghiri opened #3595 "Selector Playground: Being able to declare your * (data-*, with * not being cy, test or testid)"
### Current behavior:
https://docs.cypress.io/guides/core-concepts/test-runner.html#Selector-Playground
The selector playground catches data-cy, data-test, data-testid (and then other patterns)

### Desired behavior:
In my company we use data-qa. Thus the selector playground offers me worse selectors, as it can't identify my custom attribute.

One could argue that you can't cover every data-<word>

[2019-02-26 16:16] jennifer-shehane commented on #3595
Hey @san-ouadghiri, you can customize the selector preference using the Selector Playground API. I think this should meet your needs. Let me know! https://on.cypress.io/selector-playground-api#Examples

[2019-02-26 16:16] #3595 closed

[2019-02-26 16:25] j-mew-s commented on #3438
Looked into this further and confirmed that clearing down buffers as part of cy.clearCookies() fixed the issue. I guess ideally we'd do something similar for cy.clearCookie().
I did this in a pretty horrible way though - added a couple of methods to options in server.coffee startWebSockets() and called straight into it from socket.coffee.

Any thoughts on better approach? I see a few TODOs lurking

[2019-02-26 16:26] jennifer-shehane commented on #3594
Hey @amrayoub, I'm seeing a couple of other issues referencing issues with testing `https://login.microsoftonline.com/`

- https://github.com/cypress-io/cypress/issues/1342
- https://github.com/cypress-io/cypress/issues/908#issuecomment-380889611

I'll try to take a look across all these.

[2019-02-26 17:28] JesterXL commented on #1232
I tried to manually do this, but your Linux Cypress package is around 499 megs and the AWS Lambda S3 limit is 250 megs. I'd prefer to use Cypress vs. Puppeteer for Lambda, is there a way to get a smaller Linux binary?

[2019-02-26 17:58] christopherfrance commented on #136
@amrayoub I updated my comment to indicate which implementation I'm using (`react-stripe-elements`). Hope that's helpful.

It's likely you'll need to update which selectors you use to target your form and inputs.

[2019-02-26 18:20] JesterXL commented on #1232
I put the Linux version on S3, then copied and unzipped in the Lambda. It ran out of RAM. So I pumped the Lambda's RAM up to 3008 megs. It used 1908, but then ran out of hard drive space on the EC2 (Raspberry PI?) used for the Lambda. I TRIED lol

[2019-02-26 18:53] jennifer-shehane commented on #3590
Hey @SDESkowronski, could you provide some of your test code or psuedo code of an example of how you would like Cypress to run? It would be helpful to understand your use case a bit better.

[2019-02-26 18:53] #3592 closed

[2019-02-26 18:55] #3574 closed

[2019-02-26 19:25] Rup1 opened #3597 "Cypress skips first assertion without failing."
### Current behavior:
First test expects an alert prompt to appear and checks the alert text. This works fine on its own but if there is a second test it skips the assertion in the first test without failing, and moves on to the second test, adding `cy.wait(100)` fixes this but this shouldn't be necessary.

![screen shot 2019-02-26 at 2 10 17 pm](https://user-images.githubusercontent.com/15389183/

[2019-02-26 19:55] rafawalter commented on #1239
Browser not launching through Cypress. Seems to be related to corporate policy not allowing unpacked plugins, only whitelisted.

Could it be caused by the corporate policy? Is there a workaround, maybe adding the Cypress Extension ID to the corporate whitelist?

[2019-02-26 20:17] andreasmihm commented on #781
same issue here with cypress 3.1.5.
This is an essential feature of a frontend test automation, don't understand, why the bug is still there

[2019-02-26 21:02] SDESkowronski commented on #3590
The pseudo code is below. The important point to note is that after each `it()` block of code, the next `it()` block of code does no setup, it continues where the previous `it()` block left off. If you run this the output in the browser is nice, you can see each stage of the test listed out, and if one of them had failed, then you can quickly see which stages were successful and the first point of

[2019-02-26 22:46] bpkennedy commented on #3570
Any thoughts on this?

[2019-02-26 22:48] tjerkw opened #3599 "Multithreading based parallization"
Cypress parallelization only works on OS level (add more machines to add parallization). But there is no reason cypress couldn't run multiple tests in parallel on one machine, just like Selenium supports with the -w flag.

Ideally `cypress --parallelization=n` should just work.
It could start one headless browser for each threads (or process) and run thread in parallel.

Cypress tests are inherent

[2019-02-26 23:50] darasandeep91 commented on #1805
I am also seeing the same issue as @jindrake mentioned

In my application SessionID is set in local storage after user clicks on login

I have Code Like This:

`Given I login in to App
 And I check navigate to addresses`

in the step definition of " I check navigate to addresses"  i am checking if session is not null or not using this code

` expect(localStorage.read('CD-SessionID')).not.to.be.nul

[2019-02-27 09:09] Lakitna commented on #3597
It could have to do with the order of operations, try the following:

[code]

[2019-02-27 10:41] tomardern opened #3602 "If "We detected that the Chromium Renderer process just crashed." still output report"
### Current behavior:
If cypress crashes due to "We detected that the Chromium Renderer process just crashed.", it does not produce a mocha report:

[code]
^^ (Note no mocha report is generted)

### Desired behavior:
The mocha report is also outputted/saved, this is so that (for us) the mocha-awesome report can be generated and uploaded via our CI.

### Steps to reproduce: (app code and test code)

[2019-02-27 11:18] SachanYogesh opened #3603 "while double click on Cypess.exe getting 'A javaScript error occurred' error for window 7 64 bit"
step:
1- download from https://download.cypress.io/desktop
2- right click on cypress.zip and select Extract all.
3- double click on Cypress.exe

![crpress](https://user-images.githubusercontent.com/48051895/53486651-87ae9c80-3a46-11e9-9fc7-53ee8c61b25b.PNG)

[2019-02-27 12:51] akhiltabjula opened #3604 "How can we bypass cross origin policy while automating using Cypress?"
I am trying to automate a web application using Cypress. But, unable to load the site as it requires authentication from another source (Iframe). Is there any way to overcome this?

**Sample code:**
[code]
![screenshot 6](https://user-images.githubusercontent.com/38072232/53491467-80c27100-3abc-11e9-9ab4-49f714b40cd6.png)

[2019-02-27 13:48] srinu-kodi opened #3605 "Unable to read environment variables from CLI when I run tests with Cypress"
**Subject: Unable to read the environment variables that I am passing from command line.**

For eg `ENV=prod npm run smoke;` I am reading as below in my tests.
`env = process.env.ENV;`

While Non-Cypress repo(`jest` or `jasmine` framework etc..) is working fine when I run as `ENV=prod npm run smoke`.

Is it somewhat Cypress not supported with ? although `process.env.ENV` is a Node feature. My Cypr

[2019-02-27 14:19] pareshkrc commented on #136
+1
Very important feature any ui automation framework should have!

[2019-02-27 14:50] flotwig commented on #1239
We could generate a keypair and set the `key` in the extension's manifest.json to our public key. That would guarantee that the extension ID would be static so users can change it.

Workaround 1: Using Electron instead of Chrome to run your tests can bypass this group policy.

Workaround 2: If you have Local Administrator access to your computer, you may be able to delete the registry keys that ar

[2019-02-27 16:24] #1123 closed

[2019-02-27 16:38] jennifer-shehane commented on #3076
Hey @bencao, were you able to try this in version 3.1.5?

[2019-02-27 16:57] stubar commented on #10
The :hover problem is interesting.  How about iterating through
document.styleSheets finding ```:hover``` in  ```.cssText```.  If found make and attach a copy of it but switching :hover for some arbitrary fake hover class e.g. .cypress-fake-hover.  Then add that class in js when testing.

[2019-02-27 16:57] cosmith commented on #2112
I can confirm that adding `modifyObstructiveCode` in `cypress.json` fixes the issue with `draft-js`

[2019-02-27 17:19] #908 closed

[2019-02-27 17:19] #1500 closed

[2019-02-27 17:19] #1904 closed

[2019-02-27 17:21] j-mew-s commented on #3438
More info: we use a service worker with workbox, configured with workbox.routing.registerNavigationRoute. This intercepts navigation requests and serves them from index.html for our SPA, and this file is cached enabling the app to work offline.

In the absence of the service worker and with DEBUG=cypress:*, Cypress logs "setting buffer for url:", (an entry being put into buffers) followed by "foun

[2019-02-27 18:09] Rup1 commented on #3597
@lakitna I wanted to try that but it's a new day and the same exact code that was failing intermittently yesterday now passes with flying colors. I wrapped my test suite in a for loop and it runs 50 times without fail. I haven't changed a single thing in the code. While this is good news this understandably makes me less confident in my tests.

[2019-02-27 18:09] #3597 closed

[2019-02-27 18:13] jennifer-shehane commented on #3605
Could you provide the test code where you are trying to use the `process.env.ENV`? And where this test code is run? Is it in a `support` file or within a test spec file? How are you determining it is unable to read it?

[2019-02-27 18:16] mattmazzola opened #3607 "Run selected subset of files from Cypress interface"
### Current behavior:

As far as I know cypress only allows you to run in 3 types of ways.
- UI
  - Run all specs located in the tests/integration folder
  - Run an individual test by clicking it
- CI / Command line
  - Run all specs
  - Run a folder of test using `--spec` option and specifying folder

### Desired behavior:

It would be nice if we could run tests in more flexible combinations.  Be

[2019-02-27 18:20] jennifer-shehane commented on #3604
I am seeing this specific error in the console while running the code above:

[code]

This looks like it is the same issue as https://github.com/cypress-io/cypress/issues/3459 except with `deny` instead of `SAMEORIGIN`. So, I will close this issue in favor of that one.

[2019-02-27 18:20] #3604 closed

[2019-02-27 18:21] jennifer-shehane commented on #3459
Can be reproduced from https://github.com/cypress-io/cypress/issues/3604 code

[code]

[2019-02-27 18:56] jennifer-shehane commented on #3607
You should be able to do this via the command log using the [`--spec` option](https://on.cypress.io/command-line#cypress-run-spec-lt-spec-gt). Like: `cypress run --spec 'cypress/integration/login/**/*'

Also, make sure to be aware the issues with the 'Run all tests' implementation here https://github.com/cypress-io/cypress/issues/1586

The code to update the specs list, to add checkboxes, etc can

[2019-02-27 19:07] mccataldo commented on #2227
@butch-livly I'm having similar issues. Here's what I implemented today. So far it's working. In my case, `count` is dynamic.

[code]

Give it a try and let us know if it makes a difference.

[2019-02-27 19:20] jennifer-shehane commented on #2265
@jbpallingayan 	You can pass a [`--browser` flag](https://on.cypress.io/command-line#cypress-run-browser-lt-browser-name-gt) to `cypress run` to run the tests within Chrome. You will [no longer get recording of videos](https://github.com/cypress-io/cypress/issues/1767) however.

[2019-02-27 19:21] jennifer-shehane commented on #3567
Hey @nanoflat, this may be related to the other issue as mentioned. We will need a reproducible example to look into this, since the logs are not revealing anything helpful.

Can you provide an example of test code + app code we can run to see this bug?

[2019-02-27 19:40] danieltisdale commented on #3207
@Bkucera Hi Ben! Very eager to start using Cypress in the future once there is more cross browser support. Any plans to include Safari as well?

[2019-02-27 20:33] mattmazzola commented on #3607
Oh, my understanding of the spec option is that this line would only `login` folder, but what if we want to run tests outside that folder as well?

On that issue: #1586 it's mentioned:

This would help a lot and be inline which checking the box for the folder and clicking run selected.  Also this also seems very similar to using the `--spec` option and specifying the folder path.

My understanding

[2019-02-27 20:37] jennifer-shehane commented on #3570
This may be due to the code in the pluginsFile being run in Electron’s node but the gRPC expects a different environment.

You may find more benefit trying to implement this using [`cy.request()`](https://on.cypress.io/request) or [`cy.exec()`](https://on.cypress.io/exec) to call into the code running in your own environment.

[2019-02-27 20:46] jennifer-shehane commented on #3607
You should be able to comma separate globs as well so you can run multiple separate directories or files, like:

[code]

Yeah, what you guessed is on the right train of though. Cypress currently will look for an exact match to 1 file (like when `http://localhost:58054/__/#/tests/integration\CreateModels\WaitVsNoWaitActions.js` it will look for a single file matching `CreateModels\WaitVsNoWaitActio

[2019-02-27 20:52] lilaconlee opened #3608 "Add support for backticks in reporter error messages"
### Current behavior:
No markdown support currently, linkify support added in #3457

### Desired behavior:

Include support for backticks and escaping so we can use them in error messages.

[2019-02-27 21:06] jennifer-shehane opened #3610 "Link to docs from Command Log in Test Runner"
### Current behavior:

The Command Log, when listing each command does not link to the documentation for the command.

**No link to `cy.get()` doc anywhere in Command Log**
<img width="436" alt="screen shot 2019-02-27 at 4 01 43 pm" src="https://user-images.githubusercontent.com/1271364/53522868-55825680-3aa9-11e9-97af-ea63ba770cac.png">

**No link to `cy.get()` doc even in the console.log when cl

[2019-02-27 21:14] lilaconlee commented on #3608
Before merging I need to figure how how to handle escaped values in the console props:
<img width="588" alt="screen shot 2019-02-27 at 2 25 28 pm" src="https://user-images.githubusercontent.com/7514489/53523418-624f7c00-3aa2-11e9-8745-3336b3865f2a.png">
<img width="621" alt="screen shot 2019-02-27 at 4 05 29 pm" src="https://user-images.githubusercontent.com/7514489/53523419-624f7c00-3aa2-11e9-9c5

[2019-02-27 22:36] tnrich commented on #311
Are we able to use this already with the latest cypress @brian-mann ?

Any word on when we can trigger copy/paste?  https://github.com/cypress-io/cypress/issues/2386 ?

Thanks for the hard work!! I'm excited for this to come to fruition!

[2019-02-28 00:19] grrowl commented on #2525
We'd be happy to run a local Dashboard or parellisation service within our cluster if possible, or commit the "last known good" parallelisation strategy to our codebase. Depending on a central service which is not reliable is hampering our reliability and CD efforts.

Of note is that often the Dashboard will return `504` _during_ a run, so rest runs will fail halfway through (at the start of a spe

[2019-02-28 00:27] mounikauday commented on #116
currently I am facing this problem to test my project

[2019-02-28 03:34] tt502199126 opened #3612 "cy.trigger() failed because this element is not visible"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-02-28 05:02] morficus commented on #3092
+1 for this being confusing.

To the untrained eye, the term "pending" implies that the test is still running or has not been ran yet (as in it is queued to run in the future). Meanwhile the term "skipped" would imply that it was not ran and will not be ran.  This is especially confusing because the mocha syntax is `it.skip`.

My initial thoughts would be to:

**option 1**
 rename "skipped" to "ex

[2019-02-28 05:45] srinu-kodi commented on #3605
Hi,
Thank you for responding.
Below is the **spec.js** which is in my "cypress/integration" directory. I am not able to read in spec.js file.

**spec.js:**
describe('test env feature', function () {
    it('test env test', function () {
        expect(process.env.ENV).to.equal("smoke");
    })
});

**Run Command:**
ENV="smoke" npm run smoke

**package.json:**
"smoke": "./node_modules/.bin/cypress

[2019-02-28 06:19] srinu-kodi commented on #3605
Hi,

Here is how I have fixed it.

package.json:
"smoke:PROD": "./node_modules/.bin/cypress run --spec 'cypress/integration/spec.js' --env env=PROD",

run command:
npm run smoke:PROD

[2019-02-28 06:23] srinu-kodi commented on #3605
Mistakenly I have closed it.

Hi,
Here is how I have fixed it. However I would like to know your views on this issue. As I am mentioning the ""smoke:PROD" or "smoke:LOCAL" or "smoke:INT" the test script commands will keep on increasing in my package.json as I do not have any other option in order to solve the issue.

However It looks like fine.

package.json:
"smoke:PROD": "./node_modules/.bin/cyp

[2019-02-28 10:35] Saibamen commented on #3557
Answer from GitHub:

[2019-02-28 10:36] Saibamen commented on #3557
Closing issue - this is GitHub bug

[2019-02-28 10:36] #3557 closed

[2019-02-28 11:02] Vinod-Gulia commented on #3468
Nothing works for me. If I use cy.request(), I'm unable to send formdata with it which contains a text and an image. So I've to go via XHR route. So, in my command.js I've used the following code to create a command: -
[code]
Now, when I'm calling it I will first construct a BLOB and then use it in my formdata to later send the XHR request. Like this: -
[code]

Please note that cy.AppLogin() sets

[2019-02-28 11:02] lsenta opened #3613 "File going through event triggers are losing their properties"
Hi there, thanks for maintaining and supporting Cypress.

### Current behavior:

When I load a file from my tests and pass it through a `trigger()` function, `file instanceof File` goes to false. Which breaks the rest of my code (firebase storage upload).

[code]

[code]

### Desired behavior:

The file passed through the event should preserve all its characteristics.

### Steps to reproduce: (app

[2019-02-28 12:24] dwelle opened #3614 "emitting `rerun` on multiple files results in runtime typeError"
### Current behavior:

Emitting `rerun` on more than one file makes the runner throw:

[code]

This might not be a bug per se, but I couldn't [figure out](https://docs.cypress.io/api/plugins/preprocessors-api.html#File-events) how we should properly write a watch plugin. E.g. the [cypress-app-watcher-preprocessor](https://github.com/TheBrainFamily/cypress-app-watcher-preprocessor/blob/master/cypre

[2019-02-28 12:25] Naadaa commented on #871
We also have issues with auto scrolling because our elements are hidden because of the navigation with position:fixed. It would be nice to add some option on click() so we can turn off just the scroll and not the other checks for example.

[2019-02-28 14:07] #3527 closed

[2019-02-28 15:05] nikhilesh009 opened #3615 "electron won't run test in headless/test runner"
I am trying to run a simple test in cypress
[code]
when i execute in chrome it works fine but when i run in electron it doesn't work at all

getting error message

<img width="585" alt="screenshot 2019-02-28 at 16 01 12" src="https://user-images.githubusercontent.com/40767850/53575644-43201f80-3b72-11e9-8356-0249bd6aadaa.png">

there is no issue with the token, it same test work using chrome
it ha

[2019-02-28 15:36] bpkennedy commented on #3570
Ok, I'm just thinking through how I might implement this.  So, I don't think I can use `cy.request()` as the public interface of the Firebase SDK doesn't allow me to directly make http requests.

But in using `cy.exec()` - since this is a system command, I suppose I could make my `clearDatabase` module into a kind of node IIFE (and make sure it exits) and then inside my plugins file I would do som

[2019-02-28 16:05] Bkucera commented on #3068
For anyone wanting to get an `angular` `componentInstance` from a dom element, try this (from [this StackOverflow post](https://stackoverflow.com/questions/54926510/add-angular-to-window-type-definition/54926725#54926725)):
Create an `index.d.ts` in `cypress/support` with the following (to add a property called `ng` for example):

[code]
Then you should be able to use:

[code]

[2019-02-28 16:18] nantoniazzi commented on #518
Are you still working on this feature ?
The more we add tests with Cypress, the more it becomes unusable in our CI

[2019-02-28 16:25] jennifer-shehane commented on #3615
Hey @nikhilesh009, I would suggest running this test locally and choosing Electron from the dropdown to run the test within.

<img width="224" alt="screen shot 2019-02-28 at 11 23 09 am" src="https://user-images.githubusercontent.com/1271364/53581271-43f18b00-3b4b-11e9-8d18-42168c6933ac.png">

From within here, open the devtools and see where this error is originating from. It may be due to it run

[2019-02-28 16:28] jennifer-shehane commented on #3613
Duplicate of https://github.com/cypress-io/cypress/issues/3420

[2019-02-28 16:28] #3613 closed

[2019-02-28 16:31] chrisbreiding commented on #3614
Can you describe what your goal is with this preprocessor?

[2019-02-28 16:33] bahmutov commented on #3068
very interesting @Bkucera

[2019-02-28 16:33] jennifer-shehane commented on #1034
Closing as duplicate of https://github.com/cypress-io/cypress/issues/789

[2019-02-28 16:33] #1034 closed

[2019-02-28 16:34] #2910 closed

[2019-02-28 16:44] nikhilesh009 commented on #3615
I have tried locally too, it doesn't work. but work for chrome
https://on.cypress.io/uncaught-exception-from-application , i have tried that too but it doesn't show any error.but  even don't run the test

![image](https://user-images.githubusercontent.com/40767850/53582794-7cf82280-3b80-11e9-9ef2-cdc0e9553858.png)

[2019-02-28 16:47] jennifer-shehane commented on #627
Closing as duplicate of https://github.com/cypress-io/cypress/issues/3230

[2019-02-28 16:47] #627 closed

[2019-02-28 16:50] dwelle commented on #3614
Simply re-run whatever is currently open (based on an IPC message, but that's irrelevant). Same as [cypress-app-watcher-preprocessor](https://github.com/TheBrainFamily/cypress-app-watcher-preprocessor/blob/master/cypressPreprocessor.js) is doing.

Not sure what pattern to use, but even the [docs](https://docs.cypress.io/api/plugins/preprocessors-api.html#Sending-%E2%80%98rerun%E2%80%99-event) don'

[2019-02-28 16:53] jennifer-shehane commented on #3561
We've discussed this internally, but no, I don't think an official issue exists.

I'll convert this issue to this feature request. 👍

[2019-02-28 16:58] jennifer-shehane commented on #3456
I wonder if this issue about adding doc links to command log should be part of the work here: https://github.com/cypress-io/cypress/issues/3610

[2019-02-28 17:04] jennifer-shehane commented on #3515
Errors documented here:

[code]

[code]

[code]

[2019-02-28 17:10] jennifer-shehane commented on #3515
We may also want to look into implementing better error handling instead of crashing for yauzl as described here: https://github.com/thejoshwolfe/yauzl#how-to-avoid-crashing

[2019-02-28 17:15] jennifer-shehane commented on #3181
Duplicate of https://github.com/cypress-io/cypress/issues/3515

[2019-02-28 17:15] #3181 closed

[2019-02-28 17:16] jennifer-shehane commented on #2402
Really relevant post for what @Bkucera is explaining here: https://www.cypress.io/blog/2019/01/22/when-can-the-test-click/

[2019-02-28 17:42] ozsoft opened #3617 "Cannot login to GitHub using Cypress test runner, says browser not supported. the login window is opened in IE"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-02-28 17:47] ndunkel opened #3618 "Running Cypress with Chrome 72 results in Cypress crashing and the `Aw, Snap!` error"
### Current behavior:

Running Cypress with Chrome results in Cypress crashing and the `Aw, Snap!` error is displayed.

url:  `localhost:5555/__/#/tests/integration\unrestricted-credits\unrestricted-credits.spec.js`

#### Cypress Window
![image](https://user-images.githubusercontent.com/18492813/53585858-88c9f180-3b4c-11e9-9888-f28d680db759.png)

#### Terminal Output
![image](https://user-images.g

[2019-02-28 17:59] jcreamer898 commented on #3371
It would be great to get this merged. We're seeing very similar issues in our mono-repo where we use Jest already. Simply installing cypress causes all kinds of mayhem...

![](https://d.pr/i/GYErYs+)

Would be glad to help test new releases after this is merged!

[2019-02-28 18:18] luisrudge commented on #3055
I'm having the same issues with circleci.

[2019-02-28 18:30] chrisbreiding commented on #3614
I see. We need to debounce the handler for `rerun` events to handle this case and prevent this error.

For the time-being, your workaround of only emitting on a single file should work.

[2019-02-28 18:31] vittalas commented on #3055
we dont see this issue with other packages except for this one, and we consistently see this issue !

[2019-02-28 18:46] ganqqwerty commented on #3207
The fact that cypress is Chrome-only is the only limiting factor that we have to start using it.

[2019-02-28 18:49] Bkucera commented on #3207
@danieltisdale no progress specifically on safari, but the work we're doing for the other browsers should help lay the groundwork for supporting it in the future.

[2019-02-28 19:12] RoraxHan commented on #1969
Can I do 'OR' operation for contain?

`cy.wrap('foobar').should('contain', 'foo')`

This will check whether foobar contains 'foo'
but I want to check whether footbar contains 'foo' or 'bar'
How can I make it?

[2019-02-28 19:13] cmcnicholas commented on #518
We have the same situation, paying for cypress dashboard on private repos but our tests (now ~400 or so) are taking more and more time to complete. Much needed to stop early so our pipeline is freed up for the next PR to execute.

[2019-02-28 19:20] bahmutov commented on #1969
at this point, use should(cb) form of the assertion

http://on.cypress.io/should#Function

On Thu, Feb 28, 2019 at 2:12 PM Shine(kyl) <notifications@github.com> wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter.com/@bahmutov>
https://glebbahmutov.com/ https://glebbahmutov.com/bl

[2019-02-28 19:22] jennifer-shehane commented on #3618
Unfortunately we'll have to close this issue if no reproducible example is provided. Can you provide a way for us to reproduce this - test code + app code we can run?

[2019-02-28 19:24] RoraxHan commented on #1969
@bahmutov Sorry I've checked cypress today.
Can you write simple example for this?

[2019-02-28 19:26] jennifer-shehane commented on #591
Duplicate of https://github.com/cypress-io/cypress/issues/1162

[2019-02-28 19:26] #591 closed

[2019-02-28 19:27] bpkennedy commented on #3570
Actually, I don't think that's the answer.  The clearDatabase.js is actually working just fine.  The issue is the app code that uses firebase where it makes actual CRUD calls to firebase (nothing I would access from Cypress test/plugin/support code).

When I drive a test to click a button, and that button initiates a GET request call to firebase in my app code, that is where the errors with gRPC h

[2019-02-28 19:28] #2085 closed

[2019-02-28 19:29] jennifer-shehane commented on #2501
cc @cypress-io/services

[2019-02-28 19:30] jennifer-shehane commented on #3617
Duplicate of https://github.com/cypress-io/cypress/issues/1251

[2019-02-28 19:30] #3617 closed

[2019-02-28 19:32] jennifer-shehane commented on #3371
@jcreamer898 Thanks! Feel free to pull down this branch and try it out also https://github.com/cypress-io/cypress/pull/3425

[2019-02-28 19:41] Bkucera commented on #3109
You can make an arbitrary function retry **and** pass along its return value using a small hack that combines `should` and `invoke`

Here's an example of a custom command that makes sure all `h2''s are in alphabetical order, **and it retries**:

[code]

[2019-02-28 19:43] flotwig commented on #2048
There used to be a command-line flag for this (`--disable-session-crashed-bubble`) but it got removed in Chrome 58. We can load the Preferences and use this method to fix it before we launch: https://superuser.com/a/886258/458816

[2019-02-28 20:05] ndunkel commented on #3618
@jennifer-shehane, I can't share the code it's testing, so I'm not sure how to provide you reproducible example.

[2019-02-28 20:08] bahmutov commented on #1969
Ok, here is example - either explicit or using regular expression
[code]

[2019-02-28 20:11] RoraxHan commented on #1969
@bahmutov Thanks alot. I've done this by regex.
but your code is helpful

[2019-02-28 20:17] SethDavenport commented on #1417
not-really-promises/weird asynchrony are my biggest peeve unfortunately, generally the thing that makes be abandon a tool faster than anything else.  ES6 promises are now part of the spec. Adding more leaky abstractions over asynchrony just confuses everyone even more IMO.

[2019-02-28 22:27] NoahPlanGrid commented on #1671
Just saw this error.  Solved by rebooting.

[2019-03-01 00:00] markgoho commented on #1251
I've got 2fa enabled on my account and the browser window opens, but doesn't accept my yubikey. It works literally everywhere else except this popup.

[2019-03-01 01:49] Songyu-Wang commented on #2100
It would be nice if this can be mentioned in the online docs, it took me a while before figuring out what was wrong

[2019-03-01 04:17] mcmillion commented on #2542
Yep, I just ran into a similar issue where my `beforeEach` (which cleans the database) was running twice because of the page refresh and causing issues with my login setup.

[2019-03-01 04:48] krishvv opened #3621 "cy.visit() fails to load the page"
Hi ,

I am using cypress 3.1.5 and am trying to open "kitchen Sik"

[code]

Simple code as given in your doc. Upon execution , the page fails to load with the following error

=============
[code]
==============

Note: When i try to visit the same url using regular chrome browser it opens without any issues .

Only through Cypress this happens . In fact i just checked and i am not able to open any

[2019-03-01 05:19] akhiltabjula commented on #3604
I tried to update my cypress.json file with "modifyObstructiveCode": false.
There is a slight improvement, able to launch web application splash screen.
But stays in same splash screen page.

![screenshot 7](https://user-images.githubusercontent.com/38072232/53617608-de1a0780-3c0d-11e9-81d9-665b4ad6385b.png)

[2019-03-01 05:33] krishvv commented on #3621
Chrome version is 72.0.3626.119

[2019-03-01 05:57] on3al commented on #566
Seriously need this  feature. Those ci build minutes are expensive.

[2019-03-01 10:45] Christilut opened #3622 "Allow docking Command Log in different location - like below AUT window instead of on left"
### Current behavior:
The test web interface has the test list on the left and the web app on the right.

### Desired behavior:
It would be nice if there is an option to display the web app on top and the test list below it. This would work really well with a monitor that's turned 90 degrees. That way you have the web app, test list below it and dev tools on the bottom all on 1 monitor and you can

[2019-03-01 11:37] plehnen opened #3623 "define default offset for scrollIntoView"
### Current behavior:

I have the following code:
[code]

When I want to see in the DOM Snapshot which element is selected, the elements are always scrolled to the very top.

But my layout has a fixed navigation there, so those elements are always invisible.

### Desired behavior:

It would be great if I could define a default `offset`, so all element which are `scrolledIntoView` automatically wil

[2019-03-01 11:43] plehnen opened #3624 "Text only visible for screenreader is considered "visible""
### Current behavior:

For a11y reasons some elements have the following css class:

[code]

Those are not visible in the browser.
Still cypress result `true` if I check for `should('be.visible')`.

### Desired behavior:

I want to be able to use cypress to check if a text is really visible.

### Steps to reproduce: (app code and test code)

Add the mentioned css class to any element and check for

[2019-03-01 12:27] nikclayton commented on #2799
Just had his problem on Windows 10 and Webstorm 2018.3.4.

- Cypress package version: 3.1.5
- Cypress binary version: 3.1.5

With safe writes on Cypress is very inconsistent about picking up the updates. With safe writes disabled in Webstorm it works 100% of the time.

[2019-03-01 12:38] MarkHancock74 commented on #3377
Hi, Stupid question... how do i get the value of a cookie and pass it to a variable... I have tried the following

const myvalue = cy.getcokie('cookiename').value;
but when i post my form and check the value it is undefined

Thanks

[2019-03-01 12:42] Lakitna commented on #3109
It's a nice idea to add a command that is basically `then` + retry. I've run into situation where it would be usefull. Though I don't think `try` is the best name. It implies error handling and that you need a `catch` to go with it.

Couple of ideas:

**Name it retry**
[code]

**Name it thenTry**
[code]

**Overwrite then**
When you overwrite `then` you can add an option to enable retrying and make

[2019-03-01 12:44] mihai-dinculescu commented on #1577
@Saibamen Saibamen the issue was reported for Windows 8.1 specifically. I'm not sure how testing it in Windows 10 helps.

[2019-03-01 12:46] bahmutov commented on #3377
@MarkHancock74 yours is unrelated to question to the original issue, you better ask questions like these in our chat http://on.cypress.io/chat

but to answer it: we need to add an example of this to http://on.cypress.io/getcookie but Cypress commands are all async, so you would get the value like

[code]

[2019-03-01 12:57] rafael-anachoreta commented on #3525
I would like to re-open this issue as I am unable to catch the exception using `uncaught:exception` and Cypress just straight up crashes when the set cookie error occurs. This halts all execution, which I think is pretty bad.

**support/index.js**
[code]

**Run**
[code]

I was able to confirm that this started happening on 3.1.1, so for now I'm going with 3.1.0 as @sweoggy suggested.

Unfortunatel

[2019-03-01 13:01] MarkHancock74 commented on #3377
Thanks Gleb

Did not know of the chat feature

From: Gleb Bahmutov <notifications@github.com>
Sent: Friday, 1 March, 2019 1:46 PM
To: cypress-io/cypress <cypress@noreply.github.com>
Cc: Mark Hancock <markh@webantics.com>; Mention <mention@noreply.github.com>
Subject: Re: [cypress-io/cypress] window.location.hostname not updated on url change (new domain) and can't set cookie (#3377)

@MarkHancock7

[2019-03-01 13:21] mdlavin commented on #3618
I'm seeing the same behavior after updating my browsers. This morning I was testing without problems, then I upgraded Chrome, and now I get only 'Aw, Snap' error when starting a test. I'm happy to debug any way I can.

[2019-03-01 13:27] mdlavin commented on #3618
I'm new to Cypress, and my issue was user error. For what it's worth, I tried to run the following:

[code]

My thought was that the catch block would be triggered, but I believe that this not the right approach for testing with Cypress. I'm looking into how to improve my test now.

[2019-03-01 14:37] markgoho commented on #3519
We're paying customers of the Dashboard service but because of this bug: #1251 we're dead in the water. I guess I'm confused as to why I'm paying for a service that doesn't allow me to use it.

[2019-03-01 14:40] bahmutov commented on #1417
Just to add another couple of reasons why Cypress does what it does via a command queue:

- every test is a declarative list of things Cypress _should_ do just like a user would read instructions and then execute a script. Kent C Dodds had a great idea to explain Cypress syntax like this

[code]

I really like this mental modal. A human user would _naturally_ wait for the page to load before click

[2019-03-01 14:43] maxime1992 commented on #1087
Why is this issue closed? Doesn't feel like it's solved, at all.

[2019-03-01 15:17] bahmutov commented on #1087
We are trying to move all `@types` definitions into our bundle, so this work is done in https://github.com/cypress-io/cypress/pull/3425

[2019-03-01 15:39] atikenny opened #3625 "performance.getEntriesByType is returning undefined"
### Current behavior:

Overwrite `window.performance.getEntriesByType` with NOOP that returns `undefined`.

### Desired behavior:

Don't overwrite `window.performance.getEntriesByType`.

### Steps to reproduce: (app code and test code)

* Use `cy.clock` to take over the timing functions
* open a page
* try to use methods on `window.performance` like `getEntriesByType` (you can include the Facebook

[2019-03-01 16:58] dwelle commented on #1417
But `.then()` callbacks aren't retried either, so these two are functionally identical:

[code]

For retryability, you'd have to do:

[code]

Unless I'm missing something (I probably am), cypress doesn't backtrack and retry command chains (meaning top-level cy commands) which have already been settled --- if that's true then cypress can just resolve a command only after all its chained assertions

[2019-03-01 17:12] SethDavenport commented on #1417
However whether it's a stream under the hood or not, people are still mostly writing tests like

* Command: load a page
* Response: verify a thing
* Command: go somewhere else
* Response: verify a thing.

Conceptually these are command/response pairs, not streams, in the mind of the person writing the tests.

If we truly want to shift the test writer's mental modal away from request/response pairs

[2019-03-01 18:19] jennifer-shehane commented on #1251
This PR is in progress and should fix this issue. It will be released as part of 3.1.6. https://github.com/cypress-io/cypress/issues/3583

[2019-03-01 18:57] Saibamen commented on #1577
Just please test it with latest Cypress (3.1.5)

[2019-03-01 18:58] lilaconlee commented on #136
@mrchovo This worked for me on the latest major versions of Braintree Drop-in and Hosted Fields:
[code]

[2019-03-01 18:59] mihai-dinculescu commented on #1577
I'd gladly do it but I no longer have access to a Windows 8.1 machine.

[2019-03-01 19:09] NikoEscobar opened #3626 "Add chapters keys in the video sequence for each test start/end."
### Current behavior:
In the current video record output there is a plain sequence of the running tests in which we have to manually find for each test start/result.

### Desired behavior:
I would like to find for each test start in the video timeline sequence, through chapters keys.

### Versions
Latest Cypress on Windows 10.

[2019-03-01 19:19] jennifer-shehane commented on #3625
@atikenny I've created a repo reproducing this bug here: https://github.com/jennifer-shehane/performance-entries

## tests
[code]

## app code
[code]

# results

<img width="601" alt="screen shot 2019-03-01 at 2 17 01 pm" src="https://user-images.githubusercontent.com/1271364/53660807-c30ac000-3c2c-11e9-8680-24052ec5c6d3.png">

[2019-03-01 19:24] jennifer-shehane commented on #3624
I believe this is a duplicate of https://github.com/cypress-io/cypress/issues/1178

[2019-03-01 19:24] #3624 closed

[2019-03-01 19:27] jennifer-shehane commented on #3623
Duplicate of https://github.com/cypress-io/cypress/issues/871

[2019-03-01 19:27] #3623 closed

[2019-03-01 19:31] jennifer-shehane commented on #3621
Are you behind a corporate proxy? You may want to look into these workarounds: https://github.com/cypress-io/cypress/issues/1469

[2019-03-01 19:40] jennifer-shehane commented on #3626
Some info on adding metadata using ffmpeg including chapters: https://ffmpeg.org/ffmpeg-formats.html#Metadata-1

The video capture code is here: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/video_capture.coffee

[2019-03-01 19:55] Songyu-Wang commented on #1043
Any update on this?

[2019-03-01 20:05] jennifer-shehane commented on #1043
@Songyu-Wang No work has been done on this issue

[2019-03-01 20:14] jennifer-shehane commented on #3615
@nikhilesh009 I'm a little unclear. Are you saying that the error does throw when running locally on Electron? Did you open the dev tools when this error is thrown? Can I see a screenshot of that?

Besides that, this will be quite difficult to debug without a reproducible way to run this on our side.

[2019-03-01 20:19] nikhilesh009 commented on #3615
it throws error locally and headless too,
I fixed my problem, i am using chrome headless and locally, but spent a whole day to figure it out why the electron is not working, couldn't find any solution
![image](https://user-images.githubusercontent.com/40767850/53663979-7e504a80-3c67-11e9-83c5-d66152bbf204.png)

[2019-03-01 20:25] DarthOpto opened #3627 "Redirect Test is Failing"
### Current behavior:

I am trying to port over my protractor tests to Cypress. One of the suites is a test where I navigate directly to certain areas of our application directly from the URL.

For example, I would put `cy.visit('auth/login?next=page_I_Want')` it goes to the login page, logs in, then I get this newUrl message with the following `https://qa.app.com/__/page_I_want`, and then it imme

[2019-03-01 20:27] jennifer-shehane commented on #426
cc @cypress-io/services

[2019-03-01 20:27] jennifer-shehane commented on #458
cc @cypress-io/services

[2019-03-01 20:33] jennifer-shehane commented on #1282
The message in the Dashboard was fixed https://github.com/cypress-io/cypress-dashboard/issues/494

Closing the CI not running as not an issue with Cypress

[2019-03-01 20:33] #1282 closed

[2019-03-01 20:55] jennifer-shehane commented on #3615
Yeah, I would try clicking through the stack trace. We won't be able to help any more without a reproducible example.

[2019-03-01 21:03] nikhilesh009 commented on #3615
I understand that, i will try to find reproducible example and get back to you,but good thing is that I can run chrome I. Jenkins :smile: I'm happy with that

[2019-03-01 21:44] jennifer-shehane commented on #1510
Related to test retries https://github.com/cypress-io/cypress/issues/1313

[2019-03-01 21:47] jennifer-shehane commented on #1906
@azollai I've been unable to reproduce this using your suggestion. My example ran for 569 seconds.

**We will need the issue narrowed down more - to specifically what to run to reproduce it.**

My test code:

[code]

![retries-ideas-updated](https://user-images.githubusercontent.com/1271364/53668326-91502400-3c41-11e9-807b-778de4b977ce.png)

[2019-03-01 21:57] #1449 closed

[2019-03-01 22:12] #2270 closed

[2019-03-01 22:16] jennifer-shehane commented on #1554
Closing. Please comment if you are still experiencing this issue.

[2019-03-01 22:17] #863 closed

[2019-03-01 22:21] jennifer-shehane commented on #3525
Yeah, the browser should certainly not crash in this case. We should handle this error better.

[2019-03-01 22:34] jennifer-shehane commented on #1805
Hey @darasandeep91, could you provide the full Cypress test code that is being run? The first and second step?

[2019-03-01 22:36] jennifer-shehane commented on #3427
We'll need a reproducible example in order to look into this further.

[2019-03-01 22:39] flotwig commented on #2298
The Windows shell will automatically remove double-quotes from path arguments, which is why this is happening:

![image](https://user-images.githubusercontent.com/1151760/53670438-be540500-3c48-11e9-956a-10c913e51eff.png)

As you can see, both `.config` and `".config"` are recognized as valid files, while `'.config'` is not.

We can probably trim single-quotes from the `--spec` argument as part of

[2019-03-01 22:46] jennifer-shehane commented on #3199
Awesome @marcellino-ornelas, you may want to consider making this into a [Cypress plugin](https://on.cypress.io/plugins/) for others to more easily use.

[2019-03-01 22:47] jennifer-shehane commented on #144
No work has been done on this issue.

[2019-03-01 22:48] #2940 closed

[2019-03-01 22:50] Bkucera commented on #3199
also @marcellino-ornelas if you're experiencing flaky tests in CI, you might want to try out [`cypress-plugin-retries`](https://github.com/Bkucera/cypress-plugin-retries)

[2019-03-01 23:02] jennifer-shehane commented on #3438
Hey @j-mew-s, feel free to open a work in progress [WIP] pull request to get some feedback on any fixes you've made to Cypress - that's probably better than trying to explain the changes.

[2019-03-02 04:25] krishvv commented on #3621
Thanks @Jennifer.  Yes i am behind a corporate proxy. Will look into the mentioned workarounds

[2019-03-02 07:10] Saibamen commented on #2298
In my answer please see `--` before `run`

https://stackoverflow.com/questions/43046885/what-does-do-when-running-an-npm-command

[2019-03-02 07:14] Saibamen commented on #1906
@jennifer-shehane: This is Cypress 3.1.5 or unreleased Cypress 4? What is `Attempt 1` and `Attempt 2` buttons (labels?)?

[2019-03-02 08:38] #3615 closed

[2019-03-02 09:06] timelights commented on #1554
After the .zip file had been downloaded from the above site, I clicked on "Cypress.exe" and encountered the same issue.

I am running on Windows 7
32-bit Operating system.

And whenever I try another workaround for npm, it just say:
[code]

[2019-03-02 14:38] akhiltabjula commented on #3459
I tried to update my cypress.json file with "modifyObstructiveCode": false.
There is a slight improvement, able to launch web application splash screen.
But stays in same splash screen page.
![image](https://user-images.githubusercontent.com/38072232/53683450-eca81200-3d26-11e9-837b-83ce2116f059.png)

![image](https://user-images.githubusercontent.com/38072232/53683455-f29df300-3d26-11e9-872c-dcd1

[2019-03-02 15:03] jcreamer898 commented on #3371
Oh sweet, will do.

[2019-03-02 15:14] RandallKent commented on #3535
Can you confirm the server supporting that example is running as documented in [Readme](https://github.com/cypress-io/cypress-example-recipes)?

From within the directory you cloned [`cypress-example-recipes`](https://github.com/cypress-io/cypress-example-recipes) to run these commands:
[code]

[2019-03-02 18:05] marcellino-ornelas commented on #3199
@jennifer-shehane I tried initially to make this into a plugin but I couldn't get it to work. I also couldn't debug. I couldn't see any console logs or anything. also, I need to modify the actual window object and since plugins run in a node environment. I don't think this would work?
[code]

[2019-03-02 19:55] NicholasBoll commented on #1087
@Vheissu You did a lot of things that should work. Be sure to restart your TS language service after each change as it is sometimes not picked up. In VS Code it is "Restart TS" something in the command palette.

This is a hard problem and I'm glad the Cypress team is working to fix the issue and reduce the developer setup burden.

[2019-03-02 22:30] mitar commented on #448
OK, while we wait for this perfect solution described in OP to arrive, I would really like to vote for a very simple solution of redirecting all browser console to the terminal during CI run. It is really hard to debug anything currently when it fails in CI. I would love to simple see in terminal all logging calls I might have inside tests themselves and also from my app. I mean, we already have t

[2019-03-02 23:18] janusqa opened #3630 "cy.visit re-visited, and how should I properly wait for page load?"
### Current behavior:
Commands after `cy.visit` are executed before page is fully loaded (before page loaded event is fired)

### Desired behavior:
`cy.visit` should wait on page `load` event or `timeout` set before proceeding to any commands after it has been invoked.

### Steps to reproduce: (app code and test code)
https://github.com/janusqa/cypress-test-tiny
Run test and view console (`spec.js

[2019-03-03 01:20] timelights commented on #1304
@kvillega how to run or install cypress in admin mode?

This is my first time using cypress and encountering the same issue.
```cypress run --spec "cypress/integration/sample_spec.js"```

The content is to go to google.com and just search any keyword then click on images.
The code includes ```cy.screenshot("Step n")```

**When running via cypress desktop** the snapshots/screenshots are good! (but

[2019-03-03 01:32] WesleySSmith commented on #2029
As a workaround, I found that I could use a custom plugin to perform the download.  In my case, I was trying to download an xlsx file, but I think a similar approach could be used to test PDF files or just save the files after downloading them.

Added via npm:
- node-xlsx   (specific to xlsx parsing)
- request     (to make https request)

plugins/index.js:
[code]

support/commands.js:
[code]

In m

[2019-03-03 09:58] roma-glushko commented on #2029
@WesleySSmith thank you very much, this idea helped me to create a workaround. Maybe I put it here, just in case someone needs it:

plugins/index.js:
[code]

support/commands.js:
[code]

In my test file:
[code]

My plugin/index.js contains a bit more code, because I need to parse response headers in order to get correct PDF filename.

Also, I reported this issue in a separated task: https://github

[2019-03-03 16:36] DamianRogers opened #3631 "Problem to import a class with POM"
### Current behavior:
I'm new with the cypress and I'm using page object model to build my tests but no matter how I import the class, cypress always returns me this message:
**Error: Cannot find module './support/page/NewProductPage.js' from 'C:\Users\xxx\xxx\TestCypressPOM\cypress\support\task'**

I have used these pages as a reference:

- https://github.com/cypress-io/cypress-example-recipes/bl

[2019-03-03 16:40] NicholasBoll commented on #1417
I think you nailed the heart of the issue. I think if the Cypress API was created after `async/await`, Cypress wouldn't have a spec incompatible `then` method. I think that's what trips up more veteran developers.

`then` is even more nuanced when you don't return a value. The docs say it just returns the original subject, but that's not true - it returns the last wrapped subject. We have a rule t

[2019-03-03 17:32] FredyC commented on #1417
@NicholasBoll What about going other way around and introduce an alias to `.then` and possibly deprecating that one. I think that it would be more clear that there are no promises underneath and nobody would be considering to use async/await there. Some possible aliases could be `later` or `after`.

[2019-03-03 21:36] kubalekj opened #3632 "proxy"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-03 22:01] mitar opened #3633 "Add additional flags when running Chrome"
### Current behavior:

Currently, Cypress is regularly failing inside Docker. This is a known problem, even described in documentation.

In documentation the workaround is to add `--ipc=host` and there is a link to this issue: #350

Another solution mentioned is increasing `/dev/shm` size for the container.

But none of this is a solution one can use on public CI systems where you do not control h

[2019-03-03 22:02] mitar commented on #350
I think that since this issue has been made there is now a better fix for the problem by asking Chrome not to use `/dev/shm`. I opened #3633 for more details about this.

[2019-03-03 22:03] mitar commented on #349
I think that since this issue has been made there is now a better fix for the problem by asking Chrome not to use `/dev/shm`. I opened #3633 for more details about this.

[2019-03-03 22:09] mitar commented on #3568
Do you think you could explore also flags I mention #3633 as you are upgrading to new Electron/Chrome? Since Chrome 65 there is an option `--disable-dev-shm-usage` which would fix issues when running Cypress inside Docker. I think with upgrade to new Electron this option becomes available.

[2019-03-03 22:53] miadabrin opened #3634 "Cypress will not run on restricted users on GUI-enabled environments"
### Current behavior:

When you run `cypress run`  in a GUI- enabled environment (e.g. Ubuntu Desktop) with an unprivileged user that can not open windows (e.g. a system user) the cypress cannot start up . It will give this error:
[code]

### Desired behavior:
Cypress should run nonetheless with system users on GUI-based environments in headless mode just like it does in none-GUI enabled environme

[2019-03-03 23:26] #3631 closed

[2019-03-04 01:10] bpkennedy commented on #3570
Just to update, I can successfully call `cy.exec('node ./cypress/clearDatabase')`in my before/after.  That is doing my database wiping and reseeding using firestore-admin.  All is well.  Thank you!

[2019-03-04 02:36] bahmutov commented on #3630
Are you judging the order of operations by the console log calls from this test?
[code]

What do you see? What do you expect to see? Here is what the test prints I believe

[code]

Please read how commands are queued in Cypress in https://docs.cypress.io/guides/core-concepts/introduction-to-cypress.html#Commands-Are-Asynchronous

when you do

[code]
`cy.visit` just adds a command to visit the page

[2019-03-04 05:29] tanvipadhye opened #3635 "My https request keeps loading even after a wait time of 1 min"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-04 06:01] brian-mann commented on #3633
We'll take a look at these. You can control which additional command line args get passed to chrome as per documented here:

https://docs.cypress.io/api/plugins/browser-launch-api.html#Usage

[2019-03-04 06:16] mitar commented on #3633
Interesting. I didn't know that you can already set them. Will have to use installed Chrome browser instead of Electron to be able to use new flags though.

[2019-03-04 09:46] krishvv commented on #3621
Awesome . It was indeed the proxy . I followed the workarounds and am able to progress with my tests
Thanks

[2019-03-04 10:12] PetMou commented on #1305
For us, as a workaround, the 'retries' plugin is helping. Tests do continue with this plugin

[2019-03-04 10:45] j-mew-s commented on #3438
Unfortunately my fix is very much a sticking plaster, it doesn't tackle the root cause at all, just the symptom. I need to get my head around the flow of data that results in different request URLs being used to set/take buffers by server/lib/controllers/proxy.coffee and server/lib/server.coffee to have a chance at a PR that's heading in the right direction.

If I can find time, I'll try to put to

[2019-03-04 12:10] andrei9669 commented on #3535
couldn't find where specifically it is written in Readme, but the server is responding to Cypress' requests
[code]

not sure what you mean by that second part, but I cloned whole ` cypress-io/cypress-example-recipes ` directory and then ran ` npm start & ` in ` examples/logging-in__single-sign-on ` and then ` npx cypress open ` in separate cmd

I hope I did it correctly

[2019-03-04 12:18] RandallKent commented on #3535
Are your running Cypress from within `examples/logging-in__single-sign-on`?

It will load the `cypress.json` ensuring `auth.corp.com` points to localhost.

[2019-03-04 13:26] matti opened #3636 "run commands from commandqueue"
I can add commands to the command queue with `cy.get("button")` - but could I trigger the last command from the queue without enabling debugger as suggested in #989

[2019-03-04 13:56] #3632 closed

[2019-03-04 14:09] andrei9669 commented on #3535
yes, I'm running it within ` examples/logging-in__single-sign-on `
[code]

[2019-03-04 14:21] miwaniak opened #3637 "Stub request headers response control work only for lowercase headers names"
### Current behavior:
Currently I'm not able to control response headers of  requests subbed by Cypress when headers name have any uppercase letter.

[code]

work ok but:

[code]

dont work

### Desired behavior:
I would like to be able to control response headers of requests subbed by Cypress when headers name contains uppercase and lowercase letters:

[code]
should work ok

### Steps to reproduc

[2019-03-04 14:53] ziyailkemerogul commented on #1865
I've been searching for this nice feature in Cypress and found out this post, thanks to @hannah06 .

Here are my thoughts on this feature:

I have lots of test cases with different priorities and I want to tag them according to their priorities. Actually, it's not for just a priority like; "_@Critical_", "_@High_", "_@Medium_", "_@Low_", I can use tags like "_@Functional_", "_@Non-Functional_", "_

[2019-03-04 15:07] jdtzmn commented on #1087
None of the solutions which @Vheissu described were working for me, including their last one. The thing that finally got my project working was adding the include tag:

[code]

Not sure why none of the other solutions didn't work for my project, but just thought I would put this here in case somebody else is having this issue as well.

[2019-03-04 16:28] Joelasaur commented on #3633
@brian-mann Those are for arguments to the browser. --ipc=host has to be passed to docker itself, not the browser.

[2019-03-04 16:33] Joelasaur commented on #3633
Yeah I'm only seeing this issue in Electron. I'd like to get this working in our pipeline reliably because the videos produced are invaluable to troubleshooting issues with our application.

[2019-03-04 16:40] Kadrian commented on #1752
Thanks for posting your solution @anatoliyarkhipov .
I can't get this to work though, because react-dnd `7.0.2` says: "Cannot call hover while not dragging.".
Any ideas how I might fix that?

[2019-03-04 16:42] Joelasaur commented on #3633
It looks like Chromium found the root cause back in 2016 and has labeled it as "Won't fix"

https://github.com/electron/electron/issues/4491

So that isn't fun...

[2019-03-04 16:50] odemeniuk commented on #136
Solution to input text into richtext editor nested under ifame using cy.window

Cypress.Commands.add("iframe", (anytext) => {
        cy.window()
        .then(win => {
        var iframe = win.document.getElementById('iframe locator');
        iframe.contentWindow.document.getElementsByTagName('body')[0].innerHTML = "anytext";
    })
})

[2019-03-04 17:05] rsudarson commented on #1519
@jennifer-shehane I've passed  the args as below, it didn't as expected in electron
[code]

In resources/app/packages/server/lib/environment.js, I've added the auth-server-whitelist flag, then my application is accessible.

[code]
Can you please let me know what I'm missing?

[2019-03-04 17:05] fr0 opened #3638 "Feature request: let me use aliased values directly as parameters to 'should'"
### Desired behavior:

I'd like to reference aliases in `should` parameters.

For example, testing a progress bar, I'd love it if I could write:

[code]

Instead, I have to implement it like this:

[code]

IMO, the first one is cleaner and doesn't rely on an unnecessary nested `then` function (or on the `this.` syntax which I don't like here).

If course, this would technically be a breaking chang

[2019-03-04 17:51] RandallKent commented on #3535
Can you share a screenshot/video showing the configuration under the settings tab of the Cypress Test Runner as well as the tests failing?

[2019-03-04 18:41] virtualstyle commented on #1700
Not trying to revive the thread, but adding my workaround for others who find this from Google: using the blacklistHosts config, you can blacklist your API server to simulate an unresponsive server.

[2019-03-04 20:29] soupman99 commented on #908
Are there any work around solutions for this in the mean time?  I have a request rate limiter on the backend and would like to override the limiter by using a customer header during my tests.

[2019-03-04 20:59] MarekJavurek commented on #3497
@jennifer-shehane FYI I have similar issue:
![image](https://user-images.githubusercontent.com/405034/53762495-8b1fa900-3ec8-11e9-87c3-1740872ff352.png)
Seems like #2413 looks pretty similar... Thanks for reply.

[2019-03-04 21:08] fr0 opened #3639 "app code that programmatically calls focus() doesn't work if the browser isn't the active window"
### Current behavior:

Try the following test:

[code]

During the `cy.wait`, try either giving the browser focus, or giving another application focus. The test will pass/fail depending on this.

### Desired behavior:

I think that focus behavior should not be this flaky. I frequently use `cypress open` and am typing in my editor while tests are running.

### Steps to reproduce: (app code and test

[2019-03-04 21:12] fr0 commented on #3639
Oddly enough, if you activate the browser window *after* the focus() method has been called, but before the test timeout occurs, it will pass. Looks like something's being queued up for when the browser is activated in that case.

[2019-03-04 22:02] Songyu-Wang opened #3640 "Feature Request: User should be able to change config in cypress GUI interface"
### Current behavior:

Configuration can only be passed either by code or cli

### Desired behavior:

Configuration can be modified through GUI interface

A use case would be:

We have a test suite that checks if all the strings on our web app are translated.

The test code is the same for any given languages, all we change is the config parameter to select what languages we want to run with.

Cur

[2019-03-04 22:15] Saibamen commented on #3640
You don't need to restart GUI to apply new changes in cypress.json - just save the file and watch Configuration tab with new changes you made

[2019-03-04 22:23] flotwig commented on #3192
The issue seems to be related to the `https-proxy`. I ran the `cypress-proxy-speed` test suite against the `cypress-slow-fetch` website, hosted on HTTP at http://cypress-slow-fetch-http.chary.us/, and the loading time seems to be pretty normal once the assets are coming over HTTP:

![peek 2019-03-04 17-22](https://user-images.githubusercontent.com/1151760/53766855-0b7ee380-3ea2-11e9-9df9-508aa2640

[2019-03-04 22:56] Songyu-Wang commented on #3640
The config is not stored in cypress.json.
I am using this:
https://docs.cypress.io/api/plugins/configuration-api.html#Promises

[2019-03-04 22:58] mv7789 opened #3641 "I keep getting Timed out retrying: Expected to find element but could not found it"
I am using cypress for the first time and started with basic login test and keep getting this error message: CypressError: Timed out retrying: Expected to find element: name=username , but could not found it.
describe('My first cypress test', () => {

    it('Navigate to Testwebsite', ()=> {
        cy.visit('website/login')

    })
    it('Login to application', () => {

        cy.get('input[nam

[2019-03-04 23:04] flotwig commented on #1700
Adding support for simulating unstable network connections is something we're looking at adding as part of #687.

[2019-03-04 23:09] Songyu-Wang commented on #3641
shouldn't it be `input[name="username"]`?

[2019-03-04 23:31] mv7789 commented on #3641
I tried all combinations it doe snot work at all... keep getting the same error

[2019-03-04 23:39] janusqa commented on #3630
@bahmutov

Aha! I was thinking all commands enqueued!  Thanks.
I will try increasing the timeout on the "should" i use for the slow loading element and then try some technique you mentioned above.

[2019-03-05 04:56] dinesh-domain opened #3642 "Cypress return 'Whoops, there is no test to run' after 302 Redirect"
### Current behavior:

We are using cypress for our user management web app

On click of a button to remove linked app, a post request is sent and `302` is returned

Cypress instead of following the `302` redirect navigating to **`https://{base_url}/__/`** and **`Whoops, there is no test to run.`** error message is displayed

We are not behind any corporate proxy.

Strange thing is instead of redi

[2019-03-05 07:05] andrei9669 commented on #3535
![image](https://user-images.githubusercontent.com/31692094/53786657-09119d80-3f25-11e9-97e6-088e6d07ee63.png)
tests that are failing are `can authenticate with cy.request` and `can parse out id_token and set on local storage`
error messages are both same as in OP

[2019-03-05 07:24] Vinod-Gulia commented on #3468
Thanks Jennifer. It works for me following the instructions mentioned at github.com/javieraviles/cypress-upload-file-post-form

[code]

[2019-03-05 07:24] #3468 closed

[2019-03-05 08:17] Vinod-Gulia opened #3643 "unable to store response.body data into a JSON file"
I've created a POST XMLHttpRequest with FormData successfully. I now need to capture it's response body and get it stored in a JSON file.

[code]

Kindly note that `expect(response.status).to.eq(201);` assertion works well.

Following code logs the body properly in the console
[code]

Response Body is: -

`{"client":{"id":452,"name":"Test Attr 1 Value is Hi!!!","client_logo":{"id":543,"path":"http

[2019-03-05 09:59] mparpaillon opened #3644 "Mouse leave event not triggered"
### Current behavior:

While `.trigger('mouseover');` triggers onMouseEnter event but `.trigger('mouseleave');` doesn't trigger onMouseLeave event (React app)

### Desired behavior:

`.trigger('mouseleave');` should trigger onMouseLeave event

### Steps to reproduce: (app code and test code)

Checkout this stackblitz: https://stackblitz.com/edit/react-dmfnux?file=index.js
"Enter" and "leave" event

[2019-03-05 11:01] ZutroyBE opened #3645 "Browser - Cypress fails to recognize Chrome"
Cypress sees the Chrome executable but fails to recognize it.

### Current behavior:

"Can't run because you've entered an invalid browser.
Browser: 'chrome' was not found on your system."

` D:\BuildAgent\work\e22e2e83d35eda58>npx cypress run --browser chrome`

### Desired behavior:

The Chrome browser is found and recognized.

### Steps to reproduce: (app code and test code)

Clear the App Data

[2019-03-05 11:17] dirtyhenry opened #3646 "Flaky tests due to Cypress latencies in sending XHR requests"
### Current behavior:

Occasionally, a test will fail because an XHR request triggered by the app under test is actually sent on the network later than requested by the user action (ie past the 4s timeout — or my customized 20s for that matter, cf. screenshot below — of the next `get` query, which would have worked fine the rest of the time).

After investigating, here's what I can see:

1. Accord

[2019-03-05 11:36] smartHasmukh opened #3647 "AssertionError [ERR_ASSERTION]: path must be a string"
This issue faced while create a report

![screenshot from 2019 03 05 17 03 40](https://user-images.githubusercontent.com/8941195/53802861-ed2feb00-3f68-11e9-8c41-224745ee5115.png)

[2019-03-05 12:16] lamartire opened #3648 "TypeError: Cannot redefine property: replace"
### Current behavior:

[code]

Or:

[code]

Now throws an error `TypeError: Cannot redefine property: replace`

### Desired behavior:

`location` methods can be replaced with stubs or be spyed.

### Steps to reproduce: (app code and test code)

Just try this at any website.

### Versions

**OS**: osx 10.14.3
**Cypress**: 3.1.5
**Browser**: Chrome  72.0.3626.119

[2019-03-05 13:17] TheOptimist commented on #3454
Ok, between various other bits and pieces, I am now calling `request` and `visit` with the full URL without changing the `baseUrl` configuration midway through a test. Same results unfortunately. I've also managed to get a local linux environment built to the same (as far as possible) spec as our Jenkins machines. Cannot reproduce on local environment either :)

My next steps are two-fold - we run

[2019-03-05 14:28] seromenho commented on #3221
@rewop It doesn't seems to be only on localhost. Locally we are using custom domains and it doesn't work also. Domain on my sample was just for demo.
Your workaround of manually set the cookies works very well. We are doing that also for the time being.
Ty

[2019-03-05 15:17] vvanmol commented on #1910
Hello,

Thanks to @LVCarnevalli 's post I'm now able to add extra information to the Mocha Context through Cypress Events as in his example, but I'm still not able to update the Mocha Context directly from a Test.

[code]

Did anyone manage to make it work ?

[2019-03-05 16:25] dirtyhenry commented on #3646
💁‍♂️ I updated the issue for the following reason: at first I was assuming the request was sent right away but the delay was created while processing the response. It turned out this first analysis was wrong and the behavior was the other way around: requests were sent too late. Hence, I updated the issue accordingly.

[2019-03-05 16:30] #2048 closed

[2019-03-05 16:48] rblmdst opened #3649 "Electron/Bcrypt error (NODE_MODULE_VERSION X. This version of Node.js requires NODE_MODULE_VERSION X. Please try re-compiling or re-installing)"
Hello Everyone

I am using Cypress for e2e test of one of the my project.
- cypress : 3.1.5
- Node : v10.15.0

I am currently trying to load/unload some fixtures in the Database before starting the test, for that purpose I used the `cy.task` command of cypress (described in this post https://glebbahmutov.com/blog/powerful-cy-task/ by @bahmutov ) in order to run the script that loads the fixture.

[2019-03-05 17:49] #3371 closed

[2019-03-05 18:02] codepleb commented on #830
@egucciar Can you tell me how to use your work? Or sources on how to make that a reality? I don't really get it from your tl;dr discussion.

Thanks for the community work btw.

[2019-03-05 18:16] Bkucera commented on #299
We're still working on tab support (and other keys) as part of Native Events #311 , but in the meantime I've made a plugin that adds a `.tab()` command. [`cypress-plugin-tab`](https://github.com/Bkucera/cypress-plugin-tab):
[![](https://github.com/Bkucera/cypress-plugin-tab/raw/master/docs/readme-logo.png)](https://github.com/Bkucera/cypress-plugin-tab)

**However**, the actual tab implementation

[2019-03-05 19:10] ccorcos commented on #2773
Not being able to do this makes it a nightmare to move to Cypress from another testing suite...

[2019-03-05 19:10] ccorcos commented on #2773
Any workaround in the meantime?

[2019-03-05 19:56] egucciar commented on #830
@codepleb I have the Gist up which you can use as a reference on how to design your own custom shadowDom commands.

[2019-03-05 19:59] Bkucera commented on #3644
Your app is listening for `mouseout` as shown here:

![image](https://user-images.githubusercontent.com/14625260/53833689-20697e80-3f57-11e9-8319-8f14cfc51735.png)

React does this under the hood, when you set `onMouseEnter`/`onMouseLeave`, it listens on `mouseover`/`mouseout`.

[2019-03-05 19:59] #3644 closed

[2019-03-05 20:09] Bkucera commented on #3646
@dirtyhenry not to say this isn't a bug, but it might help you to try out [`cypress-plugin-retries`](https://github.com/Bkucera/cypress-plugin-retries) if you're having flaky tests. Official retry support is coming soon as well.

we're working on the proxy layer as part of #687, so this may be fixed alongside that. However I do not have a timeline

[2019-03-05 20:14] Bkucera commented on #3641
@mv7789 sorry, without a reproducible example I'll have to close this issue. Feel free to update it and leave a comment if you feel this should be re-opened.

[2019-03-05 20:14] #3641 closed

[2019-03-05 21:38] funatronics opened #3650 "Chrome Cypress browser adds "charset=utf-8" to the content-type in the response header"
### Current behavior:

Some of my website's HTTP requests are failing only in the Cypress browser (e.g. signing up for a new account). After debugging, it was discovered this was due to the response header returning a different `content-type` in the Cypress browser.

Chrome browser:
[code]

Cypress browser (not running headlessly):
[code]

Cypress is adding `"charset=utf-8"` to the `content-type`.

[2019-03-05 21:43] funatronics commented on #3406
Closing this issue because I wrote another that explains the problem better:
https://github.com/cypress-io/cypress/issues/3650

[2019-03-05 21:43] #3406 closed

[2019-03-05 21:45] lilaconlee commented on #2115
Took a stab at a more specific error message instead of fixing to keep the same behavior as mocha:
<img width="506" alt="screen shot 2019-03-05 at 3 39 46 pm" src="https://user-images.githubusercontent.com/7514489/53839545-6f1a1700-3f5d-11e9-989d-7f84874517de.png">

Down to set the suite to pending if that's preferred.

[2019-03-05 22:41] cmcnicholas opened #3652 "Indentation of tests in the cypress electron app is poor"
### Current behavior:

Indentation in the electron runner for test cases is poorly organised.

### Desired behavior:

To have a better layout for readability. Simply being nested correctly would help.

### Steps to reproduce: (app code and test code)

Simply create a deeply nested hierarchy of tests.

![image](https://user-images.githubusercontent.com/41394833/53842656-056b2e80-3f98-11e9-97af-acc8

[2019-03-05 23:59] aciccarello commented on #2738
@lilaconlee Look like this was released in 3.1.5 however I don't see that noted in the changelog.

[2019-03-06 00:37] janusqa opened #3653 "Error: Cannot find module 'node-zlib-backport' from '.../node_modules/pngjs/lib'"
### Current behavior:

Running test with a `blink-diff` import causes error
[code]

### Desired behavior:

### Steps to reproduce: (app code and test code)

https://github.com/janusqa/cypress-test-tiny-plugin2-esm

Run test to see error.

### Versions

chrome: Version 72.0.3626.121 (Official Build) (64-bit)
linux: Ubuntu 18.04.2 LTS
Cypress package version: 3.1.5
Cypress binary version: 3.1.5

[2019-03-06 02:34] gtycherry commented on #1631
Hi @jennifer-shehane
I met below error when using contains.
![screen shot 2019-03-06 at 10 33 14 am](https://user-images.githubusercontent.com/8056464/53851970-4c3e4000-3ffb-11e9-8d8b-adfe361ac018.png)

could you please help to suggest what api i can use to assert there is one specific element visible on page? Thanks.

[2019-03-06 03:03] bahmutov commented on #1631
Split the long chain. After wait do a new “cy.contains ...”

Sent from my iPhone

[2019-03-06 05:01] jennifer-shehane commented on #2738
Thanks @aciccarello, this was released in [3.1.5](https://on.cypress.io/changelog#3-1-5). The changelog has been updated to reflect this.

[2019-03-06 05:03] jennifer-shehane commented on #3652
Hey @cmcnicholas, could you provide a screenshot / list of the file directory structure you have in your project? It's hard to tell from the image how it is *supposed* to look. Thanks!

[2019-03-06 05:10] paqman commented on #3116
We are running against a similar issue where cypress does not run when an environment variable is set. In our case it is `NODE_OPTIONS`.

[code]

Running the same command with `NODE_OPTIONS` will break.
[code]

[2019-03-06 05:15] jennifer-shehane commented on #3647
@smartHasmukh Could you provide the configuration you have to set up your report?

[2019-03-06 05:18] jennifer-shehane commented on #3645
@ZutroyBE Check out our [debugging guide for launching browsers](https://on.cypress.io/debugging#Launching-browsers). Let us know if you're still having issues after that.

[2019-03-06 05:44] jennifer-shehane commented on #3643
The following code works for me:

[code]

Is there something different from your example that was not mentioned?

[2019-03-06 06:23] jennifer-shehane commented on #3633
Chrome flags can be updated here: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/browsers/chrome.coffee#L21

Adding Electron flags [may or may not be necessary/supported](https://electronjs.org/docs/api/chrome-command-line-switches), but would be added here: https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/environment.coffee#L26

[2019-03-06 06:39] immohsin commented on #2831
Any workaround for this one?
 After i run spec file, i want to cleanup few thing in case if anything fails.

[2019-03-06 07:58] #3630 closed

[2019-03-06 08:05] jennifer-shehane commented on #1519
I think it has to do with the order in which these flags are read in. The flags in the "before:browser:launch" may be added too late -- after the `appendSwitch` has already run. I remember @brian-mann mentioning that not all flags could be read in and work this way - yah?

[2019-03-06 08:06] jennifer-shehane commented on #3637
May be related https://github.com/cypress-io/cypress/issues/2879

[2019-03-06 08:08] jennifer-shehane commented on #3639
cc @Bkucera - We've worked a lot on this focus behavior already and agree it should not be flaky.

[2019-03-06 08:10] jennifer-shehane commented on #1087
This PR will likely fix these issues without needing the workaround https://github.com/cypress-io/cypress/pull/3425

[2019-03-06 08:16] jennifer-shehane commented on #3636
You may be wanting to use the undocumented `cy.now()` command - which basically behaves as a Promise and does not enqueue.

Method signature is:

[code]

So, for `cy.get('button')` it would be:

[code]

[2019-03-06 08:17] jennifer-shehane commented on #3635
Hey @tanvipadhye, could you provide a reproducible example?

[2019-03-06 08:17] #3570 closed

[2019-03-06 08:18] #3621 closed

[2019-03-06 08:26] Saibamen commented on #1554
What is your `npm --version` and `node --version`?

[2019-03-06 08:35] AndreVirtimo commented on #2102
I had the same problem. Our CI server didn't made the screenshots in the right resolution.

I fixed it by changed the https://github.com/cypress-io/cypress/blob/develop/cli/lib/exec/xvfb.js and added xvfb_args. Here is the result: https://gist.github.com/AndreVirtimo/7bd2892478af2ea06ea7445319fbfef1#file-xvfb-js-L12-L16

I'm using hard coded FullHD resolution, but there should be used the viewPort

[2019-03-06 08:42] mparpaillon commented on #3644
Thanks @Bkucera !

[2019-03-06 09:29] vvanmol opened #3654 "Still unable to add extra information to Mocha Test object"
### Current behavior:

This is a follow-up of issue #1910.

We're using [mochawesome](https://www.npmjs.com/package/mochawesome) in combination with Cypress in order to generate a HTML Report.
Mochawesome provides a feature to add information to the test context and have that information in the generated HTML Report.  This is done through the `addContext()` function.

Thanks to @LVCarnevalli and h

[2019-03-06 10:43] Vinod-Gulia commented on #3643
Hi Jennifer,

cy.writeFile seems to not work in the code provided by me above. I've verified this by passing a JSON e.g. {"A":"B"} and that too didn't make it to the JSON. It's an XHR code written in the command.js and it's response is being read in a test case using a call back function. Is it a know issue in cypress?

[2019-03-06 11:00] cmcnicholas commented on #3652
Full output of our `tests` directory, this is in the root of the project, assume `cypress.json` is a sibling of the `tests` directory. We have a lot of data files so house our .json fixtures next to the test files themselves rather than replicate the structure in `fixtures`, hope that makes sense

[code]

[2019-03-06 11:11] krishvv opened #3655 "Unable to open "Runs" tab in the Desktop GUI"
Hi,

I am trying to open the "Runs" for viewing the Dashboard from the TestRunner . I am unable to do the same .

[code]

[2019-03-06 11:48] h01d3r commented on #1304
I have the same issue. Test running on TeamCity build agent. Only -b chrome solve this issue

[2019-03-06 12:37] jackblackCH commented on #144
What's the status quo here? Is it somehow possible to test WebComponents and/or ShadowDom?

[2019-03-06 12:40] smartHasmukh commented on #3647
Basically I am using four angular application in single project, I need to write cypress code every application so I have created folder strucure like that.

[code]

in `cypress.json` file 1st application

[code]

**Project open command**
[code]

cypress open command work successfully and also tested my application but when i am trying to make a report then it will through error

**Project run com

[2019-03-06 12:59] codepleb commented on #830
@egucciar Thx for the response, but I don't get it.

```import { registerShadowCommands } from '@updater/cypress-helpers';```

What is this line? Where do I get this dependency from? It doesn't seem to exist on npm.
Or do I need to put the bare files you provided into my support folder and import it from there?

[2019-03-06 13:13] egucciar commented on #830
You are free to choose how you want to use the commands. The implementation for registerShadowCommands is provided so if you want to use that you would just move the implementation into your support folder or whatever you choose to do and import. Or you could refactor the code to fit your style. It's really up to you.

[2019-03-06 13:20] minams2 opened #3656 "Hi..I want to know if there is way to run spec files which are different folder using pattern"
Hi..I want to know if there is way to run spec files which are different folder using pattern something like `./node_modules/.bin/cypress run --browser chrome --spec '/Users/msomasundaram/git/atlas/cypress/integration/templates/smoke-edit/create.spec.js'`

this is error i got
[code]

We searched for any files matching this glob pattern:
![screen shot 2019-03-05 at 10 16 19 pm](https://user-images.

[2019-03-06 13:42] isdzulqor commented on #3537
got this error too with this following details
`{
  "name": "coba-bos-cypress",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "cy:run": "node_modules/cypress/bin/cypress run",
    "cleanup": "rm -fr mochawesome-report",
    "merge_reports": "mochawesome-merge --reportDir mochawesome-report > mochawesom

[2019-03-06 15:15] #1402 closed

[2019-03-06 15:39] markgoho opened #3657 "Native support for Azure Devops parallelization"
### Current behavior:

Supports "out of the box" parallelization for most popular CI environments.

### Desired behavior:

Support Azure Devops

Cf. https://docs.cypress.io/guides/guides/parallelization.html#Linking-CI-machines-for-parallelization-or-grouping

https://github.com/cypress-io/cypress/blob/master/packages/server/lib/util/ci_provider.js

We need Azure Devops to be supported here.

Note

[2019-03-06 15:44] #3635 closed

[2019-03-06 15:52] jennifer-shehane commented on #3657
Discussion on this also here: https://github.com/cypress-io/cypress-documentation/issues/922

cc @bahmutov

[2019-03-06 15:58] jennifer-shehane commented on #3656
Hey @minams2, you'll want to pass a `--spec` argument of the path relative to the root project directory.

In the future, issues in our GitHub repo are reserved for potential bugs or feature requests.

We recommend questions relating to how to use Cypress be asked in our [community chat](https://gitter.im/cypress-io/cypress). Also try searching our [existing GitHub issues](https://gitter.im/cypres

[2019-03-06 15:58] #3656 closed

[2019-03-06 16:00] jennifer-shehane commented on #3655
Hey @krishvv, this can happen due to general connectivity issues.

If you are behind a corporate proxy, you may also want to try the workarounds [suggested here](https://github.com/cypress-io/cypress/issues/1469)

[2019-03-06 16:53] jennifer-shehane commented on #3652
Thanks!

The css for this is really naive and simply not handling nesting beyond 5 levels deep. Can be found here: https://github.com/cypress-io/cypress/blob/develop/packages/desktop-gui/src/specs/specs.scss#L238

Also, the fact that we list everything alphabetical, instead of showing folders first then spec files also causes confusion.

<img width="912" alt="screen shot 2019-03-06 at 11 23 19 pm"

[2019-03-06 17:02] jennifer-shehane commented on #3647
To reference the `user.json` alias, you need to use `this.userObj`, not just `userObj`. https://docs.cypress.io/guides/core-concepts/variables-and-aliases.html#Sharing-Context

Also, accessing aliases as properties with `this.*` will not work if you use arrow functions for your tests or hooks.

You'll need to use the regular `function () {}` syntax as opposed to the lambda “fat arrow” syntax `() =

[2019-03-06 17:05] jennifer-shehane commented on #3643
@Vinod-Gulia No, there isn't a known issue for this.

Can you provide the smallest reproducible example of the problem? There are a lot of pieces you've provided, so the fewer variables we can narrow down as the problem, the better. Thanks!

[2019-03-06 17:06] bahmutov opened #3658 "Throws error on Cypress.log without previous command"
Cypress 3.1.5 on Mac

[code]

Throws error
<img width="697" alt="screen shot 2019-03-06 at 12 05 52 pm" src="https://user-images.githubusercontent.com/2212006/53899451-35eab100-4008-11e9-8b14-6167f24f1af5.png">

Code that throws

[code]

https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cypress/log.coffee#L117

[2019-03-06 17:10] jennifer-shehane commented on #2095
Hey @ShreeshailG, where are you running the `cypress open` command from? Is it in a plain terminal (cmd) window or from a terminal within your IDE program? I've read that running from the IDE terminal may cause this issue.

[2019-03-06 17:23] bahmutov commented on #3657
@markgoho can I ask what is NOT working for you? We are extracting the variables from team foundation variables, so the dashboard should be able to show the commit information.

- is the parallelization not using a variable to tie different machines running in parallel together? Which variable would you use to link runs? You can try doing it yourself with `--ci-build-id`

The reason we looked at A

[2019-03-06 17:33] pxlprfct commented on #1530
I'm running into this exact issue aswell, the first page we load in is a log in form, so I can't even get around it :(
[code]

Thanks everyone looking at it, you're all heroes <3

[2019-03-06 17:40] jennifer-shehane commented on #830
We're going to close this issue in favor of https://github.com/cypress-io/cypress/issues/144 - which is Shadow Dom support. So please follow that issue.

No longer need to keep up with 2 large issues for the same feature.

[2019-03-06 17:40] #830 closed

[2019-03-06 17:43] jennifer-shehane commented on #2095
Closing this issue as duplicate of https://github.com/cypress-io/cypress/issues/1554

[2019-03-06 17:43] #2095 closed

[2019-03-06 17:44] jennifer-shehane commented on #1554
Where are you running the `cypress open`/`cypress run` command from? Is it in a plain terminal (cmd) window or from a terminal within your IDE program? I've read that running from the IDE terminal may cause this issue.

[2019-03-06 17:45] jennifer-shehane commented on #1554
Closing as duplicate of https://github.com/cypress-io/cypress/issues/787

[2019-03-06 17:45] #1554 closed

[2019-03-06 17:46] jennifer-shehane commented on #787
Where are you running the `cypress open`/`cypress run` command from? Is it in a plain terminal (cmd) window or from a terminal within your IDE program? I've read that running from the IDE terminal may cause this issue.

[2019-03-06 17:48] markgoho commented on #3657
hey @bahmutov thanks for the quick response!

The dashboard is reading the e2e tests just fine. I'm primarily interested in seeing parallelization supported natively like the 10 or so other CI environments.

Dependency re-installs are a little painful (2.5 min or so on their hosted ubuntu agent) but does that have an impact on running the spec files in parallel on your system?

[2019-03-06 18:00] jennifer-shehane commented on #1304
Can you try to add this code to the `pluginsFile` at `cypress/plugins/index.js`? Let us know if it changes anything.

Try `--disable-d3d11` and `--disable-gpu` flags independently also. Some combination of this may help things.

[code]

[2019-03-06 18:12] bahmutov commented on #3657
ok, for Azure Devops, the builds are not linked by an environment right away? which variable would you pass with `--ci-build-id` to link them like shown here https://on.cypress.io/parallelization?

The dependencies install / lack of Docker support is painful but does not affect the test run itself. But especially for parallel mode, if you spend 3 minutes to install NPM dependencies to spend 30 sec

[2019-03-06 18:15] devsh4 commented on #3310
@jennifer-shehane I face the same issue (intermittently). With cypress version 3.1.5. For earlier versions it use to work just fine.

Running my test suite locally using npx cypress run (Electron 59) sometimes works and sometimes it doesn't.

![image](https://user-images.githubusercontent.com/23476848/53903515-ea3d0500-4011-11e9-9a79-5600d560404a.png)

[2019-03-06 18:33] #3127 closed

[2019-03-06 18:34] Saibamen commented on #787
1. Does installing latest npm and node helps you?
2. Your npm and node is in global variables? (type `npm --version` and `node --version` to test it)
3. Please try install Cypress with admin - right click on cmd.exe and click "Run as Administrator"
4. Can you download Cypress directly from your browser: http://download.cypress.io/desktop or https://download.cypress.io/desktop/3.0.3?platform=win32&

[2019-03-06 18:38] Saibamen commented on #787
@AlxndrMlk Please try open it by adding
[code]
into your `package.json` file and run it by executing `npm run cypress open`

[2019-03-06 19:05] harunhasdal commented on #433
Chrome preferences to avoid the download popup are;

[code]

However I'm not sure if cypress cli allows setting these.

[2019-03-06 19:44] joelmoser commented on #3582
Any input @bahmutov ?  Saw you in Gitter, so thought I would bump this ticket.  No rush

[2019-03-06 20:51] Bkucera commented on #3405
@fr0 Yes, this is a bug. we have hard-coded no input events when pressing `enter`, but we should fire them if there was a newline inserted. Thanks

here's the LOC causing that logic: https://github.com/cypress-io/cypress/blob/develop/packages/driver/src/cypress/keyboard.coffee#L151

[2019-03-06 20:59] Bkucera opened #3661 "Cannot type into a, link, or select element"
Cypress should be able to type into any focusable element, in case users want to test event listeners attached to the element

[2019-03-06 22:14] markgoho commented on #3657
We'd probably pass the build number, which is like `20190306.5`

I'm not 100% how the parallelization is determined, but let's say I had 10 spec files and 5 machines available. Your service spins up those other machines, installs dependencies and runs, say, 2 spec files per machine.

So the question is: do the parallelized tests (with 4 additional dependency installations) take less time to run th

[2019-03-06 23:58] funatronics opened #3662 "Many Cypress tests are hanging at the first Visit command during full runs (Electron only)"
### Current behavior:

In Electron, about one third of my tests are failing during a full run because it's hanging at the first Visit command (both headless and headed). Usually it's the same tests, but not always. When running alone, I do not experience this issue

Works correctly in Chrome 72.

### Steps to reproduce: (app code and test code)

Running all tests. When it hangs, I get this error:

[2019-03-07 00:35] mv7789 opened #3663 "Uncaught TypeError: e.map is not a function"
In my test script I am clicking on the button like:
[code]
I get below error:
[code]

[2019-03-07 01:52] bitstrider commented on #2384
hey I'm also having the same issue, any updates?

for me things worked as expected with `cy.visit` a remote url, like: https://mydomain.com

but when i tried it on a locally hosted page, like http://localhost:8080, i get the same problem as @vitoo

Win10
Cypress 3.1.3

[2019-03-07 04:26] smartHasmukh commented on #3647
To reference the `user.json` alias, you need to use `this.userObj`, not just userObj.
You'll need to use the regular `function () {}` syntax as opposed to the lambda “fat arrow” `syntax () => {}`.

 `syntax () => {}` - I was ussed arrow syntax that's issue.

Thank for helping me.

----------------------------------------------------------------------------------------------------------------------

[2019-03-07 07:57] jkoop commented on #1866
[This solution](https://github.com/cypress-io/cypress/issues/2657) fixed the issue for me.

[2019-03-07 08:33] h01d3r commented on #1304
No, nothing has changed:( Video and screenshots is empty
And one more. when I run cypress with `-b chrome` option on build agent from TeamCity UI it's say that "A video will not be recorded when using this browser." , but when I run it from build agent from cmd video record is fine

[2019-03-07 10:15] MarekJavurek opened #3664 "Assertion inside test fails, but test doesn't fail"
### Current behavior:

test success

### Desired behavior:

test will fail

### Steps to reproduce: (app code and test code)

[code]

![image](https://user-images.githubusercontent.com/405034/53949347-23d14700-40ca-11e9-8552-93b1f76c1509.png)

### Versions

Cypress: "cypress": "^3.1.5" (latest npm, latest nodejs)
operating system:
OS Name:                   Microsoft Windows 10 Pro
OS Version:

[2019-03-07 10:51] jennifer-shehane commented on #3664
I've been chasing this one for a while: https://github.com/cypress-io/cypress/issues/2720 https://github.com/cypress-io/cypress/issues/3497

Unfortunately, running the code provided (on Mac) does not produce this situation for me.

<img width="1563" alt="screen shot 2019-03-07 at 5 17 36 pm" src="https://user-images.githubusercontent.com/1271364/53951611-3dd84d00-40fd-11e9-88d9-58f75e8a5ba9.png">

[2019-03-07 10:51] #3664 closed

[2019-03-07 10:52] jennifer-shehane commented on #3663
This error is coming from your application code. You'll want to track down what may be trying to call `e.map` in your app code or third party code on click.

[2019-03-07 10:52] #3663 closed

[2019-03-07 10:56] jennifer-shehane commented on #3662
Could you provide the test code you are running? Also, are you sure that your application is indeed firing it's load event within this time?

So, can you see if this is console.logging from your code?
[code]

[2019-03-07 10:58] maxime1992 commented on #2773
Not quite there yet apparently but if you've got typing issues, a huge PR just got merged and hopefully it should help :smile:  https://github.com/cypress-io/cypress/pull/3425

[2019-03-07 11:09] krishvv commented on #3655
Hello @jennifer-shehane .
I have tried the workarounds but still not able to open the "Runs" tab :(

[2019-03-07 11:52] MarekJavurek commented on #3497
@jennifer-shehane (sorry for formating - github markdown cant hadle it...)

**more information:**

**support files (commands.js)**

` /* eslint-disable no-undef */

// https://github.com/scottschafer/cypressautomocker
import registerAutoMockCommands from "cypressautomocker-contenttype-fix/include-in-tests";
registerAutoMockCommands();

Cypress.Commands.add("getTestElement", selector => {
  return

[2019-03-07 13:54] delucca opened #3665 "cypress run watchForFileChanges not working"
### Current behavior:

The command `cypress run` is not watching for file changes. Even if I set it on the cypress.json. If I run only successful tests, I got the following output on terminal:

[code]

Then, it exits

If any of the tests fails, I got the following:

[code]

### Desired behavior:

It should be waiting for file changes and re run all tests if there is any change

### Steps to reprod

[2019-03-07 13:58] tanvipadhye commented on #3635
describe('Test',function(){
it('Launches application',function(){
cy.visit('https://<server>/<loginURL>/')
}
})

since it is an organisation level URL cannot share the details. However I am able to log in but post  that the server just keeps waiting, I tried increasing the timeout but no effect.

[2019-03-07 14:59] ZutroyBE commented on #3645
I did, it didn't help:
- I checked the logs
- Chrome is installed at the default location and Cypress sees chrome.exe .
- I cleared the App Data

[2019-03-07 15:33] michaelw85 commented on #1389
@Baasie I'm interested in using Serenity with Cypress and stumbled upon this post. I've looked at your POC  and than started implementing my own following the serenity docs and I'm not running into any issues with the promises. The conversion you are doing in your poc does not seem to be required, maybe I'm overlooking something but my interactions are returning `PromiseLike<void>` and I'm using `

[2019-03-07 16:01] webdevbe opened #3667 "Default installation of Cypress won't run tests under Chrome 72"
### Current behavior:

I discovered this for the first time in my own source code. While creating a minimal example, I found that even the default installation of Cypress gives me these results. When running `cypress open` and running the tests under Chrome 72. I'm getting this message
![image](https://user-images.githubusercontent.com/1104252/53969864-d5d43780-40f9-11e9-8487-ea6e9cc8f6e6.png)

I'

[2019-03-07 17:23] EduMotaControliD commented on #1906
@jennifer-shehane: I have the same problem, I'm running only a inserts of users on a form, it work fine whether I set only litle numbers of users but if I increase that number like 30 or more the browser break. The browser also break when I try to run a bunch of tests, like 6 or more tests, which make others things. I'm running cypress in windows with git bash.

**My cypress.json**
`
{
"animationD

[2019-03-07 20:03] echurilov commented on #1669
I'm getting a similar error in 3.1.5 when trying to `cy.setCookie` in a before: `TypeError: Cannot read property 'replace' of undefined"` at `Object.appendErrMsg`

Inserting that on-fail debugger as you showed yields `err = Error` and `runnable.trace.message = "Error: done() called multiple times"` at Hook.Runnable

[2019-03-07 20:24] Bkucera commented on #3639
this is a duplicate of https://github.com/cypress-io/cypress/issues/1176 and is fixed in #2982

[2019-03-07 20:24] #3639 closed

[2019-03-07 20:26] MarinoPoletine commented on #1777
This issue happens to me also. The only way to get around is restarting my machine. I am using a MacBook

[2019-03-07 20:28] Bkucera commented on #3665
The error `npm ERR!` indicates you ran this via an `npm` script

if you're passing args to an `npm` script command, you need to use `--` like this:
[code]

feel free to leave a comment if you think this isn't the case. Thanks!

[2019-03-07 20:34] Bkucera commented on #3665
`cypress run` does not watch for file changes. It's meant to run the tests once, then exit.

If you want to watch for file changes, you should use `cypress open`
 https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Watching-tests

[2019-03-07 20:45] fr0 commented on #3639
Glad to know it's going to be fixed. Can I ask the obligatory "when can I have the fix?" :D

[2019-03-07 21:04] flotwig commented on #3583
This depends on some changes to the Cypress dashboard API being made. Specifically, we need a way to redirect to the `http://localhost:...` URL during the OAuth flow, instead of redirecting back to the dashboard.

[2019-03-07 21:55] flotwig commented on #3645
@ZutroyBE can you paste the output of running this command in Command Prompt?

`wmic datafile where name="C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe" get Version /value`

Cypress runs this same command internally to validate your browser. It should output something like `Version=72.0.3626.11`.

[2019-03-07 22:00] flotwig commented on #3648
[`window.location` is read-only](https://developer.mozilla.org/en-US/docs/Web/API/Window/location), so that's why you're getting this error. The browser won't allow you to modify this object.

Are you trying to assert on a `location` change? Have you tried using the `cy.url()` or `cy.location()` APIs for your needs?

Example of using `cy.url()` to assert on location change (from the docs):
[code]

[2019-03-07 22:03] flotwig commented on #3649
@rblmdst Are you using the correct version of Electron for [`electron-rebuild`](https://github.com/electron/electron-rebuild)? You ought to be able to rebuild bcrypt against our version of Electron by using this from your application's root directory. Try this:

`npx electron-rebuild -v 1.8.2 -w bcrypt`

[2019-03-07 22:04] Bkucera commented on #3639
@fr0 pending code review, most likely 3.2.

[2019-03-07 22:08] Bkucera commented on #1669
@James-E-Adams in regards to the original issue, I believe it's possible for the global `window` reference to get lost. Instead, try this:
[code]

[2019-03-07 22:11] flotwig commented on #3642
@dinesh-domain Can you share the code of how you are performing the actual redirect? It's possible that you're redirecting from `window.top` instead of `window` which would cause this behavior.

[2019-03-07 22:16] flotwig commented on #3667
@webdevbe Can you share your spec code? This looks like an error from GitHub Pages, not from Cypress, so it's hard to tell what's going on.

Do you see the [reporter](https://cloud.githubusercontent.com/assets/1157043/17947006/bffba412-6a18-11e6-86ee-af7e9c9d614e.png) window when you run your Cypress tests?

[2019-03-07 22:23] jchen-eb commented on #3116
Thank you @paqman , saved me a lot of time there. How were you able to pin point it to  NODE_OPTIONS, is it because of the `cypress:cli NODE_OPTIONS=--max_old_space_size=4096 +0ms` line?

[2019-03-07 22:36] avahe-kellenberger commented on #3371
According to the proposal, was cypress not intended to install types packages in `node_modules/@types`?
I saw [this](https://github.com/cypress-io/cypress/blob/develop/cli/scripts/utils.js) which seemed to suggest otherwise, and having `@types/chai-jquery` installed from cypress is causing conflicts with other types in my project

[2019-03-07 22:40] Bkucera commented on #1866
@filipenevola you should try settings `NODE_OPTIONS=`, as @jkoop mentioned, since your logs indicate you have it set

[2019-03-07 23:32] funatronics commented on #3662
@jennifer-shehane : Test looks like this:

[code]

I edited the post above, but it's worth noting that this hanging does **not** occur in when running in Chrome 72.

[2019-03-07 23:51] brandynprasad commented on #702
@abigailcauchi This snippet helped me, thank you.

The application I'm working heavily relies on service workers. I noticed my cypress spec files would pass when run independently, but when I chose to run all specs the browser launched by cypress would fail to load some pages (resulting in failed assertions!).

After unregistering service workers in my before hooks, my specs are running much faste

[2019-03-08 00:14] louise-hayes commented on #3658
I'd like to try resolve this?

[2019-03-08 03:06] bahmutov commented on #3658
sure, try @louise-hayes and if I may suggest
- write a test that is initially failing
- add a guard around the failing line to fix the failing test

[2019-03-08 03:07] bahmutov commented on #3371
@avahe-kellenberger I am not sure what you are referring to. The CLI package still installs these packages _as dev dependencies_ in this repository, but when it builds NPM package _for Cypress users_ then it will NOT install them. Thus they will no longer conflict with your types. This has been merged into `develop` branch but has not been released yet.

[2019-03-08 03:41] avahe-kellenberger commented on #3371
Oh, I missed that it hasn't been released - Thanks for the info.

[2019-03-08 03:52] jbpallingayan commented on #2265
we cannot move to our project because of random hang of cypress we cannot find any issues on both it will just hang randomly, even on headless chrome and electron.

we cannot share our app code or i can share my screen to you if you have time. @jennifer-shehane

[2019-03-08 03:56] jbpallingayan commented on #3662
same experience for me. https://github.com/cypress-io/cypress/issues/2265
we experience this even chrome and electron.

[2019-03-08 04:26] jennifer-shehane commented on #3116
Please try unsetting the `NODE_OPTIONS` environment variable if you have this set - as this causes Cypress to crash. This is due to an Electron bug prior to version 2.0.3, where having `NODE_OPTIONS` set causes either a failure or arguments to be ignored. https://github.com/electron/electron/issues/12695#issuecomment-385826834

### To see all environment variables currently set

#### MacOS / Linux

[2019-03-08 04:27] jennifer-shehane commented on #1556
Please try unsetting the `NODE_OPTIONS` environment variable if you have this set - as this causes Cypress to crash. This is due to an Electron bug prior to version 2.0.3, where having `NODE_OPTIONS` set causes either a failure or arguments to be ignored. https://github.com/electron/electron/issues/12695#issuecomment-385826834

### To see all environment variables currently set

#### MacOS / Linux

[2019-03-08 04:28] jennifer-shehane commented on #1434
Please try unsetting the `NODE_OPTIONS` environment variable if you have this set - as this causes Cypress to crash. This is due to an Electron bug prior to version 2.0.3, where having `NODE_OPTIONS` set causes either a failure or arguments to be ignored. https://github.com/electron/electron/issues/12695#issuecomment-385826834

### To see all environment variables currently set

#### MacOS / Linux

[2019-03-08 04:29] jennifer-shehane commented on #1434
@marceloemanoel were you able to resolve your issue?

[2019-03-08 04:32] #2459 closed

[2019-03-08 04:37] jennifer-shehane commented on #1607
Please try unsetting the `NODE_OPTIONS` environment variable if you have this set - as this causes Cypress to crash. This is due to an Electron bug prior to version 2.0.3, where having `NODE_OPTIONS` set causes either a failure or arguments to be ignored. https://github.com/electron/electron/issues/12695#issuecomment-385826834

### To see all environment variables currently set

#### MacOS / Linux

[2019-03-08 04:37] #1607 closed

[2019-03-08 04:38] #1365 closed

[2019-03-08 04:39] jennifer-shehane commented on #1420
Hi @ScottMaclure, do you have an update on this? Will have to close otherwise.

[2019-03-08 04:40] jennifer-shehane commented on #1022
related: https://github.com/cypress-io/cypress/issues/1660

[2019-03-08 04:44] jennifer-shehane commented on #2272
Closing in favor of https://github.com/cypress-io/cypress/issues/136

[2019-03-08 04:44] #2272 closed

[2019-03-08 04:45] ScottMaclure commented on #1420
Apologies, no longer active, closing.

[2019-03-08 04:45] #1420 closed

[2019-03-08 04:57] jennifer-shehane commented on #1524
@benpolinsky This error actually looks a bit different and is related to this issue: https://github.com/cypress-io/cypress/issues/3459

[2019-03-08 05:48] RealLau opened #3669 "Dear Cypress Developer Team, may I create a site as a mirror of cypress.io but have a local language, like Chinese?"
Cypress is an amazing web automation testing tool for many people and me, I want more and more people to try to enjoy the wonderful framework! So, Can I create a site, which has language Chinese supported, free to access, or u have any other idea to help me to achieve this?   @jennifer-shehane

[2019-03-08 07:04] syagawa commented on #1759
I also faced the same problem,
My problem was solved by adding `"chromeWebSecurity": false` to cypress.json.

[2019-03-08 07:15] webdevbe commented on #3667
Hi @flotwig ,

Sorry, I didn't notice I pasted a partial screenshot. I see the reporter window for just a moment and then I see that page with the 404. Here is already a screenshot:
![image](https://user-images.githubusercontent.com/1104252/54013600-08be1000-417a-11e9-94c2-05b0cf3b8180.png)

I'll create a small repo in a moment and attach it to the ticket.

Regards

[2019-03-08 07:20] webdevbe commented on #3667
An example repository can be found at https://github.com/webdevbe/cypress-404-error

[2019-03-08 07:48] jbpallingayan commented on #2265
`[1]   cypress:server:timers queuing timer id 596 after 30000 ms +2ms
[1]   cypress:server:timers child received timer id 596 +10ms
[1]   cypress:server:proxy received response for { url: 'http://localhost:3004/sockjs/info?cb=pbc54yvqa9', headers: { 'access-control-allow-origin': '*', vary: 'Origin', 'cache-control': 'no-store, no-cache, no-transform, must-revalidate, max-age=0', 'content-type': '

[2019-03-08 08:08] jennifer-shehane commented on #3667
@webdevbe The repo you've linked to just looks to be running the example tests we seed to the project - visiting `https://example.cypress.io` - is this correct?

This looks like the 404 page for GitHub pages. Our `https://example.cypress.io` *is* hosted on GitHub pages, but looks to be loading for me within Chrome.

- Can you visit `https://example.cypress.io` from within your Chrome 72 (outside o

[2019-03-08 08:11] webdevbe commented on #3667
Hi @jennifer-shehane , yes that's correct. Even with the basic installation it looks like it's failing.
The link is working in my regular Chrome browser. Please do note, that running the linked repo in Electron, does work.

[2019-03-08 08:13] webdevbe commented on #3667
Would a screencast help to identify the problem more? I can see the reporter window just for a split second, before it shows me that Github 404 page.

[2019-03-08 08:16] jennifer-shehane commented on #3667
Yeah, super strange. A recorded video *may* reveal something. I'm not sure.

- Do you have a ProxyMode policy set within Chrome? https://github.com/cypress-io/cypress/issues/1253
- Any other custom settings with Chrome? Extensions?

[2019-03-08 08:46] jennifer-shehane commented on #3635
Yeah, this test code looks fine. This will be nearly impossible to debug without more information. Screenshots, video, reproducible example.

Check out some of our [debugging tips](https://on.cypress.io/debugging) to track this down.

You may want to try asking for advice on debugging also in our [community chat](https://gitter.im/cypress-io/cypress).

Alternatively, signing up for any of you [pai

[2019-03-08 08:50] jennifer-shehane commented on #2265
@jbpallingayan Is this during `cypress run` or `cypress open` that this is happening?

[2019-03-08 08:57] #1914 closed

[2019-03-08 08:58] jennifer-shehane commented on #3662
This looks to be a duplicate of https://github.com/cypress-io/cypress/issues/2938

I'm curious is blacklisting some hosts as laid out in this comment may help the `load` event fire. https://github.com/cypress-io/cypress/issues/1608#issuecomment-384351857

[2019-03-08 08:58] #3662 closed

[2019-03-08 08:59] jennifer-shehane commented on #2938
I'm curious if blacklisting some hosts as laid out in this comment may help the `load` event fire for some. https://github.com/cypress-io/cypress/issues/1608#issuecomment-384351857

[2019-03-08 09:03] jennifer-shehane commented on #3647
@smartHasmukh Are you still experiencing this issue? I was a bit confused by the last comment.

Please close issue if resolved.

[2019-03-08 09:12] jennifer-shehane commented on #3655
@krishvv Are you behind a corporate proxy?

[2019-03-08 09:14] jennifer-shehane commented on #3497
@Atticus29 Are you listening to the `Cypress.on("fail"...` event anywhere? In your support / plugin files even?

[2019-03-08 09:16] jennifer-shehane commented on #2384
@bitstrider Have you tried a later version of Cypress? Does this still happen on 3.1.5?

[2019-03-08 09:43] jennifer-shehane commented on #433
@harunhasdal This API comes from Selenium. I don't think there's a way to do this through Cypress currently. I may be wrong, but I think we need to extend Cypress to create an API for these prefs to be passed in - then we pass them onto the Chromium profile.

Chromium code using prefs: https://chromium.googlesource.com/chromium/src/+/master/chrome/common/pref_names.cc#1427

[2019-03-08 09:48] mpagamici opened #3670 "Related to #109. Click() worked in the page, but DOM detached exception is raised"
### Current behavior:
[code]

### Desired behavior:
`cy.click()` actually didn't fail !
The `click()` was successfully allowing the re-rendering of my page (during replay), I don't understand why the 'DOM detached' exception is raised. --> Is it possible to suppress the fault ? Can I add an exception handler (catch) to allow my script to continue execution ?

### Versions
Chrome 72, Cypress 3.1.5,

[2019-03-08 09:48] jbpallingayan commented on #2265
sigh.. @jennifer-shehane we fix it and its only our fault. thank you for helping me on this. :)

[2019-03-08 09:48] jennifer-shehane commented on #1906
@Saibamen Whoops, this is the wrong screenshot. 😅 This is some work we are doing getting ready for test retries. https://github.com/cypress-io/cypress/issues/1313

[2019-03-08 09:50] jennifer-shehane commented on #1906
@EduMotaControliD Is there any way to provide some tests that break that we can run locally?

[2019-03-08 09:56] jennifer-shehane commented on #3670
Hey @mpagamici, your DOM element was detached from the DOM sometimes in between your getting the DOM element and it being called within `cy.wrap()`. Try regetting the element closer to the command you want to perform with another `cy.get()`.

Issues in our GitHub repo are reserved for potential bugs or feature requests, so I will be closing this.

We recommend questions relating to how to use Cypr

[2019-03-08 09:56] #3670 closed

[2019-03-08 09:57] jennifer-shehane commented on #2265
@jbpallingayan Great! Any updates on how you fixed the issue would be helpful to add here - as I'm sure someone else will run into the same issue.

[2019-03-08 09:58] harunhasdal commented on #433
@jennifer-shehane thanks for the link, the correct chromium preferences seem to be instead of the selenium ones mentioned above.

[code]
I believe, it would be a very useful to be able to configure chromium with a Cypress API. Not only limited to this issue.

[2019-03-08 10:24] vladarefiev commented on #518
It's will be cool feature

[2019-03-08 10:50] hrk15 commented on #1244
@jennifer-shehane Hi I am facing the same issue. In my case I added a configuration file to my project in which I am changing the supportFile path and url, which I am able to do but when I run the tests this error comes.

Steps:
1. created a new configuration file
2. set the configuration file using --env
3. run the test script

[2019-03-08 11:05] jennifer-shehane commented on #1244
Hey @hrk15, could you elaborate more on this step?

Could you provide what you have in your `cypress.json` file?

[2019-03-08 11:07] jennifer-shehane commented on #433
@harunhasdal Can you [open a new issue](https://github.com/cypress-io/cypress/issues/new?template=feature_request.md) to ask for specifying Chromium preferences in Cypress? There isn't an issue open for this yet.

[2019-03-08 11:12] webdevbe commented on #3667
I found a ProxyMode key indeed, but not in the path that #1253 described, but rather in HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Google\Update whose value is set to fixed_servers. Also there is a ProxyServer key specified. But even with local admin rights, I'm unable to delete these :( (error appears)

Is this the reason the bug is happening?

I can check with our IT team to see if these keys (or the

[2019-03-08 11:16] jennifer-shehane commented on #448
@bahmutov created a plugin that will print Cypress commands to the terminal - not exactly the browser console logs wanted, but maybe will help someone. https://github.com/bahmutov/cypress-failed-log

We've also been expanding on our Debugging doc - adding some weird tricks in there that could help some people. https://on.cypress.io/debugging

[2019-03-08 11:28] Saibamen commented on #1866
https://github.com/cypress-io/cypress/issues/1607#issuecomment-470802128

[2019-03-08 11:35] smartHasmukh commented on #3647
@jennifer-shehane Report command not working

### Report is not working
cypress run --reporter="cypress/reporters/custom.js" --project="cypress/applicationApp1" This is not workig. I am getting error.

[2019-03-08 11:51] harunhasdal opened #3671 "API to set chromium preferences"
### Current behavior:

We can't specify chromium preferences when running Cypress tests.
This becomes an issue when tests require certain browser configuration which is different to the defaults.

An example is to disable the popup dialog for file downloads (requires `download.prompt_for_download = true`).

See more preferences in the link in this comment: https://github.com/cypress-io/cypress/iss

[2019-03-08 11:57] hrk15 commented on #1244
@jennifer-shehane
my cypress.json file

{
    "chromeWebSecurity":  false,
    "env": {
        "name" : "prod"
    },
    "pageLoadTimeout" : 120000,
    "defaultCommandTimeout" : 10000,
    "baseUrl" : "product-url",
    "reporter": "mocha-allure-reporter",
    "reporterOptions": {
        "targetDir": "allure-results"
    }
}

my custom config.json content

{
    "chromeWebSecurity":  false,

[2019-03-08 12:39] marceloemanoel commented on #1434
Hi @jennifer-shehane yes this solves the problem. Sorry I didn't comment about it before. You can close the issue.

[2019-03-08 13:08] benpolinsky commented on #1524
@jennifer-shehane Makes sense since Cypress is definitely stripping out the CSP headers, as you mentioned.

[2019-03-08 13:18] rodoabad commented on #95
Any update on this guys?

[2019-03-08 13:51] 76creates commented on #2834
You could debug Cypress with https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs and see which binary its trying to run its one of the last lines, in my case it was 'google-chrome`, I've created a symbolic link `/usr/bin/google-chrome -> /opt/google/chrome/chrome` and it worked quite fine.
That or add `/opt/google/chrome` to $PATH.
Cheers.

[2019-03-08 14:08] andreasmihm commented on #2912
same issue here, my test suite runs (both on local machine):
- headless -config video=false :  02:21
-headed (with Electron)  :   01:35

[2019-03-08 14:35] ZutroyBE commented on #3645
We've got a winner 🥇

[2019-03-08 14:35] bahmutov commented on #3582
sure, I can add these variables to https://github.com/cypress-io/cypress/blob/develop/packages/server/lib/util/ci_provider.js and they will be reflected in the dashboard, but if Google cloud requires YOU to expose them as environment variables, then there is not much we can do. You can always expose the variables yourself by the way: we are using https://github.com/cypress-io/commit-info#fallback-

[2019-03-08 15:03] devdelpiero commented on #2912
Cypress run is much slower than cypress open. Is anyone looking into this? Testcafe doesn't have this problem.

[2019-03-08 15:09] joelmoser commented on #3582
Thanks @bahmutov .  Yeah I'm concerned that Google Cloud requires the user to expose them (particularly since it is still in Beta).  I must have missed the fallback variables.  I will look into those for sure.  Thanks again for your help.

[2019-03-08 15:45] flotwig commented on #3667
Yeah, that's probably the issue. Cypress can't currently circumvent the `ProxyMode` setting, so you're best off asking your admins to disable it for you, or using a VM like you're doing. You can also run your tests in the built-in Electron browser, which won't experience this problem.

[2019-03-08 15:59] flotwig commented on #3645
I found a thread about a similar issue with WMIC: [wmic aliases not available](https://social.technet.microsoft.com/Forums/en-US/f5755283-2881-44fa-8b9f-a67ab591c45f/wmic-aliases-not-available?forum=ITCG)

I'm not sure why this is happening. The WMIC `datafile` alias exists on Windows 7... is this an old install of Windows? Some of the comments in that thread mention that the local WMIC database c

[2019-03-08 16:33] ZutroyBE commented on #3645
It is quite old and - I assume - was used to test many products 💪

I got it working after rebuilding the WMI repository:
[code]

Having a corrupt repository doesn't seem that uncommon. Cypress should probably log if the wmic step fails for now. I'm not familiar with those kind of tools, but anything not deprecated doesn't sound so bad 😃

[2019-03-08 16:55] flotwig commented on #3645
Glad to hear that you were able to get it working! Yes, the browser launcher does swallow some useful error information at times. I'll make a new issue for potentially updating the way we do Windows version checks. Closing this.

[2019-03-08 16:55] #3645 closed

[2019-03-08 16:59] flotwig opened #3672 "Change the way that Windows browser version checks are done"
Currently, the launcher checks Windows browser versions by running a command like this in the shell:

[code]

However, WMIC was [deprecated in Windows Server 2012](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh831568(v=ws.11)#wmi-providers):

The WMIC database can also get corrupted, which causes issues for users since this will prevent them fr

[2019-03-08 19:15] Phillipe-Bojorquez commented on #1906
This happens to me if I am running tests through the GUI and select run all specs.  I have 10 specs each one taking 1-3 minutes to run a piece.  I get 3/4ths done and get oh snap errors.  For me, it doesn't matter how long an individual test is running but a group of specs running over a certain time limit crashes my app.  I am uncertain how to share my tests since they concern private things my c

[2019-03-08 19:52] rafawalter commented on #1239
Thank you for the great product.

The static extension ID would be awesome! Seems like a simple/quick solution too. Does it help if I open an issue, or an branch+merge request?

Workaround 1: Great! Tests are running in Electron, Page loading times are ok, but cy.visit is very slow to complete. Total time to run all 103 example tests is 385.65secs...

Workaround 2: Corporate policy doesn´t allow m

[2019-03-08 20:24] rblmdst commented on #3649
Hello @flotwig I have try the  `npx electron-rebuild -v 1.8.2 -w bcrypt`  and it is working now.
Thank you. :+1:

[2019-03-08 20:24] #3649 closed

[2019-03-08 21:16] flotwig opened #3673 "Give Cypress's extension a static extension ID"
Currently, the Chrome extension receives a new, dynamically-assigned extension ID whenever it's launched.

If we give it a static extension ID, then users with restrictions on what extensions they can install in Chrome can request for it to be whitelisted by their admins (see #1239)

SO question that shows how to do this: https://stackoverflow.com/questions/23873623/obtaining-chrome-extension-id-f

[2019-03-08 21:18] jennifer-shehane commented on #3673
Relevant issue: https://github.com/cypress-io/cypress/issues/2494

[2019-03-08 21:25] #1434 closed

[2019-03-08 21:28] jennifer-shehane commented on #3671
Chromium code using prefs: chromium.googlesource.com/chromium/src/+/master/chrome/common/pref_names.cc#1427

[2019-03-08 23:03] Toxicable commented on #1281
Could we get some movement here? It's a pretty easy code change from the looks of it.

[2019-03-08 23:08] Toxicable opened #3675 "Running cypress with no `project: false` actually runs cypress open"
### Current behavior:
Running `cypress.run({project: false})` opens cypress with `cypress open` instead.

### Desired behavior:
To run cypress with no config file, instead using the config I specified when calling it.

### Steps to reproduce: (app code and test code)
[code]

### Versions
ubuntu 16.04
chrome 72
cypress 3.1.5

[2019-03-08 23:26] gvdp commented on #3517
Updating to 3.1.5 also worked for me. I don't think I was using any specific 'framebusting' code. Just a simple vue js app with Vuex.

[2019-03-09 00:38] tbell511 opened #3676 "Parallelization on Mac"
It is possible to utilize parallel tests outside a CI? I just want to run them on my computer for simplicity.

Thanks!

[2019-03-09 03:33] funatronics commented on #2938
@jennifer-shehane That actually fixed my problem: I blacklisted Google ad and tracking services, and the issue no longer occurred.

[2019-03-09 03:34] funatronics commented on #3662
FYI: I was able to fix this problem by blacklisting Google ad and tracking services hosts.

[2019-03-09 08:40] janusqa opened #3678 "esm causes an error in cypress runner in windows 7/10 but works ok in linux"
### Current behavior:

Using esm in windows 7/10 causes cypress test runner to throw an error about the plugin file
When using command
[code]

error:
[code]

```node_modules/.bin/cypress run``` however works successfully across linux/windows7/windows10

```node_modules/.bin/cypress open``` works successfully in linux

### Desired behavior:

[code]
should also work successfully on windows 7/10

###

[2019-03-09 09:06] rblmdst commented on #2777
Hello everyone,
Any update ? In my case I am using `cy.task()` to load/unload data in database using the before/after hooks, so it is causing unexpected behavior.

[2019-03-09 10:43] attilavago commented on #2671
I'd like to see this fixed too. With the rise of PWAs location detection, notifications, etc, is becoming a common feature, and we should be able to emulate user behaviour with these dialogues.

[2019-03-09 10:48] timelights commented on #1554
@Saibamen

Node version: v11.10.1
npm version: 6.7.0

[2019-03-09 10:51] Manishku99251 commented on #2578
Hi I am learning Cypress and new to it just wanted to know how can I achieve the Following
: want to check the font-family value of the button but match is expexcting a Regexp

it('finds the Submit Button and Submits it', function(){

      cy.get('input[type="submit"]').should('have.css','font-family').and('match','inherit')

     cy.get('input[type="submit"]').click().then((submitobj)=>{

[2019-03-09 11:04] Akxe commented on #2578
Either use `.and('match', /inherit/)`, or I think there is contain keyword.

[2019-03-09 13:19] lukeapage commented on #2938
@jennifer-shehane  We don't use any external resources. Also you said that you've seen this error on cypress' own tests?

[2019-03-09 19:39] attilavago commented on #136
I can also see the benefit of having this feature. Please prioritise. 👍

[2019-03-09 22:41] hdavidzhu commented on #2938
Not sure if this helps, but I've seen this much more frequently in Electron than in Chrome. I can even get it to frequently not `visit` when running locally. I don't have this issue when running the same test in Chrome.

[2019-03-10 03:52] jennifer-shehane commented on #3678
The default plugins import must export the config like below in order to be properly read by Cypress:

[code]

Since the `pluginsFile` is set to `cypress\plugins\index.js` and the config for Cypress is not imported there, it is throwing this error.

If you want to update the default imported file, you can add `pluginsFile` to your `cypress.json` specifying the `cypress\plugins\main.index.js` file

[2019-03-10 04:04] jennifer-shehane commented on #3676
Hey @tbell511, Yes - you can run `cypress run` multiple times within separate terminal windows. In order to associate each terminal window to the same 'run', you will want to pass in the [same `--ci-build-id` flag](https://on.cypress.ioparallelization#Linking-CI-machines-for-parallelization-or-grouping) for each instance. This can be any ID you make up. Normally this would be automatically generat

[2019-03-10 04:04] #3676 closed

[2019-03-10 04:07] tbell511 commented on #3676
@jennifer-shehane Thanks for the response! Yes, I waited long as possible before posting here :) I exhausted all other options, including the chat, but never could get a response.  I know you and the team are very busy so thanks for taking the time to answer!

[2019-03-10 04:19] jennifer-shehane commented on #3675
`project` is always expecting a path value, so `false` is not valid. Honestly, I'm having a hard time even tracking in the code, by just looking, to figure out what it's doing to make it behave like `cypress open` instead.

**Proposal:** We should update `cypress run` to throw error when specifically passed an invalid `project` key like `false`, `null`, something that is not a valid `path`.

To mo

[2019-03-10 04:40] Toxicable commented on #3675
Sounds good to me!

However, that dosen't solve my issue.
To clarify; I'd like to run cypress without a `configFile` at all.
Currently not specifying a `project` results in cypress throwing an error

For example:
[code]
Throws this error:
[code]
Yet I specified what spec files to run in the above config

You may ask why not just make a `cypress.json`?
This is apart of a bigger integration into the

[2019-03-10 11:25] jennifer-shehane commented on #3675
Yeah, that is an open issue that has a PR in review: https://github.com/cypress-io/cypress/issues/1369

This is a great use case for allowing `configFile: false`. I would suggest following the issue above and closing this issue.

[2019-03-10 11:40] stephenlavery commented on #944
Is there any plans to fix this issue soon, as the way our login process works in our UI it's impossible to test e2e properly using Cypress without this fix. It seems a real shame as otherwise all our devs and testers really like it.

[2019-03-10 12:08] janusqa commented on #3678
@jennifer-shehane
It does not work.
I am actually trying to do this, but with esm module
https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/server-communication__seeding-database-in-node
[code]
adding ```"pluginsFile": "cypress/plugins/main.index.js"``` to cypress.json takes me back to original issue of import/export not supported across linux/windows. It gives error about

[2019-03-10 13:28] krishvv commented on #3655
@jennifer. Yes . I have followed the workarounds and they dont seem to work.
Is there anything else that i need to look at?
Thanks

[2019-03-10 15:57] Elshaikh commented on #1570
@jennifer-shehane @annezhou920
Need your help and advice heer plz  , how to interact with slider with 2 handles ,
HTML
[code]
cypress step

[code]

[2019-03-10 19:15] Toxicable commented on #1369
Would be great to see this feature in master.
It would help a lot with the Bazel intergration im working on here: https://github.com/bazelbuild/rules_nodejs/issues/607

[2019-03-10 20:40] svensson-david commented on #444
@TDHTTTT just wondering, did you mean you got it working headless or opening a browser window?

[2019-03-11 00:29] papb commented on #346
I am using TypeScript, I tried to adapt the code by @paulfalgout to make it work with TypeScript but got stuck. Thankfully someone kindly helped me in [my question on stackoverflow](https://stackoverflow.com/q/54937425/4135063), so if anyone is trying to make Cypress + TypeScript + IstanbulJS work together, it can be done as well, just check the accepted answer :grimacing:

[2019-03-11 03:25] MatteoGioioso commented on #95
Hello, any update?
Unfortunately none of the solutions proposed worked.
The actual request goes through successfully but cypress keep catching a wrong request.

I think `fetch` should be supported, also in the context of Service worker.

[2019-03-11 03:30] jennifer-shehane commented on #1554
@timelights Please comment and follow this issue https://github.com/cypress-io/cypress/issues/787

[2019-03-11 04:29] bitstrider commented on #2384
@jennifer-shehane thanks for the tip, its working fine with 3.1.5 🙌

[2019-03-11 05:17] sergioblancoo commented on #3200
I start having this issue when updated to Cypress 3.1.4 and I solved it by adding to cy.visit the following:

[code]
cc. @jennifer-shehane Hope this helps you.

[2019-03-11 05:25] linture commented on #3427
meeting this error, too...
Is there any solution?

[2019-03-11 07:57] bluehenry commented on #1239
Workaround 2 works for me. Thanks!

[2019-03-11 09:12] arendjantetteroo commented on #3537
We use the mocha-junit-reporter with mocha-multi-reporters but not the mochawesome one, so this seems a problem in a BC break in mocha 6 itself. Will downgrade to 5.2 for the moment.

[2019-03-11 10:18] jbpallingayan commented on #2265
its on our app, error message is hidden when the user spam login on our app. im very sorry for this. its not a bug on cypress. @jennifer-shehane

[2019-03-11 10:28] nir0s commented on #981
PagerDuty please :)

[2019-03-11 12:43] danielberecz opened #3683 "Should will not wait when used on custom command"
### Current behavior:
The `should()` method will not wait in case of custom command:

### Desired behavior:

The `should()` method waits also in case of custom command

### Steps to reproduce: (app code and test code)

Custom command:
[code]
Test:
[code]

This assertion will fail if the condition is not met immediately.

### Versions
cypress: 3.1.5
macOS 10.14.2
Chrome 72.0.3626.121

[2019-03-11 13:02] filipenevola commented on #1866
Wow. Thank you @Bkucera, now it worked. It seems like that was the issue since always. Now I can finally run cypress and really start to use it. Thank you again!

As I'm always using NODE_OPTIONS for other projects I'll have to always disable it for Cypress but better than nothing ;) at least now I can use Cypress.

[2019-03-11 13:14] arshdeeptinna commented on #941
Any plan of updating cypress to work with heroku-18 as cedar-14 will go away in april

[2019-03-11 13:16] arshdeeptinna commented on #832
Any update on this? We heavily use cypress and heroku but cypress needs cedar-14 which will go away in april 2019.

[2019-03-11 13:40] bahmutov commented on #941
@arshdeeptinna please open a new issue, since this seems unrelated to the original issue

[2019-03-11 13:41] chrisbreiding commented on #3678
We'll have investigate this to figure out what's wrong. We'd like to support `esm` as a way to make `import/export` work.

Looks like this error is being thrown when the `pluginsFile` gets loaded:

[code]

A [very quick investigation](https://stackoverflow.com/questions/35820422/unknown-stdin-file-type-error-in-windows) shows that it's probably related to the combination of Electron + Windows + es

[2019-03-11 14:03] maapteh commented on #2295
Same issue like mentioner of this bug report. We are behind proxy PAC and Cypress is not respecting the node request http(s)_proxy settings at all (see the above pointer from @timpur). It is an issue for some years now (#672) and you could have many more adopters when fixed.

[2019-03-11 14:04] bahmutov commented on #941
@arshdeeptinna I have looked around in https://github.com/cypress-io/cypress-example-kitchensink/issues/213 and could not find any modern Heroku buildpack with `heroku-18` XVFB install. I don't want to write one, and suggest using "real" CI instead - something that can use our `cypress-docker-images` Docker image to have all OS dependencies.

[2019-03-11 14:08] leepowellcouk commented on #2295
@maapteh - Sadly we've had to look elsewhere now because of the slowness to fix these proxy issues.

[2019-03-11 14:27] bahmutov commented on #832
## Cypress team update

We have investigated headless Chrome support. To support executing commands and capture the video of the test run, we must go through the Debugger protocol. Thus we will support headless Chrome after landing native events #311 which is in progress.

[2019-03-11 15:24] bahmutov opened #3684 "Add examples to cy.location and should "contain" JSDocs"
Cypress 3.1.5

In our `index.d.ts` for types we should add better examples to `cy.location` and `should('contain')` to show how to check location url. Something like this for both places

[code]

[2019-03-11 16:31] Lakitna commented on #3683
Waiting on an upcoming assertion has to be defined for every command, this is no different for custom commands. This is currently not documented. I have solved it a while ago, see https://github.com/cypress-io/cypress/issues/3109#issuecomment-458950740

[2019-03-11 17:09] Haegin opened #3685 "SecurityError due to accessing a cross-origin frame without navigating outside of the site"
### Current behavior:

I've got a very simple test that just loads a website (https://femalefunders.com) and checks the title and some links are present. The first time I ran it some of the tests passed or failed correctly but the last test threw an error and since then every test on every test run has thrown the same error.

### Desired behavior:

The tests shouldn't error and should pass (or fai

[2019-03-11 17:42] fr0 opened #3686 "cy.trigger('mousedown', ...) doesn't fill in event.view property"
### Current behavior:

[code]

When the browser creates the `MouseEvent` object, it has a `view` property which points to the `Window` object.

Cypress does not add it during a `trigger`.

Apparently the `d3-zoom` library depends on this property being there. My app breaks when run via cypress but not when the user clicks.

Here is the property:
https://github.com/Microsoft/TypeScript/blob/master/

[2019-03-11 18:00] christophehurpeau commented on #2983
Same issue. There is an option in `@babel/preset-env` you could use: `ignoreBrowserslistConfig`

[2019-03-11 19:33] darasandeep91 commented on #1805
HI @jennifer-shehane

[code]

**Here is code for Cy.login()**

[code]

[2019-03-11 20:59] Knaledge commented on #3113
@clwilliams (and @jennifer-shehane ) - Something we came across while exploring a similar thought re: Elasticsearch:

https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/browser-builds.html

Not sure how this might influence things for either of you - especially @clwilliams - though I'd love to hear your thoughts.

[2019-03-11 21:39] lilaconlee opened #3688 "Update driver error structure so templates can be used"
New error structures are required for the templates that'll be used to render different types of errors in the GUI. These changes will be made in the driver as part of this PR and leveraged by the reporter in a different PR.

The plan is to tackle one of each error type separately, then move onto the next.

Templates:
- [ ] CypressError (single code frame)
- [ ] CypressError (multiple code frames)

[2019-03-11 22:26] mitar commented on #2592
In fact, I am not sure why this was closed as a duplicate of #205?

The important thing here is that I want to do end-to-end testing with using Cypress just to click on my UI, without any mocking or anything, but Cypress interferes with this and changes the behavior of my app. Which prevents from really knowing that my app will work correctly in production.

So I agree that every test case in the

[2019-03-11 23:21] alexeagle commented on #1281
FYI this may become a blocker for using Cypress under Angular CLI at some point, when we use a buildtool that creates a readonlyFS for hermeticity during testing

[2019-03-12 00:10] kristian-puccio commented on #3685
I'm finding the same thing.

To get around I refresh the tests in Cypress and sometimes I can get through without this error

[2019-03-12 02:05] vcamposs opened #3689 "Can i make a mysql connection in cypress ?"
Hello.
I need make a mysql connection in cypress, but i have some problems.

**I used this simple code (after install npm mysql):**

ar mysql = require('mysql');

var con = mysql.createConnection({
  host: "localhost",
  user: "yourusername",
  password: "yourpassword"
});

con.connect(function(err) {
  if (err) throw err;
  console.log("Connected!");
});

**And this erro was returned :**
-- TypeE

[2019-03-12 02:57] minams2 opened #3691 "I'm trying to run multiple scripts headless in electron ,if the script fails it is not proceeding to next suite and is hanging in electron browser, ./node_modules/.bin/cypress run --spec '/Users/username/git/atlas/cypress/integration/templates//smoke*.js'"
I'm trying to run multiple scripts headless in electron browser, if the script fails it is not proceeding to next suite and is hanging `./node_modules/.bin/cypress run --spec '/Users/username/git/atlas/cypress/integration/templates//smoke*.js'`

[2019-03-12 03:30] bohendo commented on #2739
This might be related, I'm getting stuck after clicking a button that's supposed to copy to the clipboard. I know issue #311 is tracking copy/paste support and I'm fine if the copy function is a no-op for now but I'd still like to be able to click this button w/out needing any human interaction to move on to the next part of the test afterwards.
<img width="860" alt="Screen Shot 2019-03-12 at 8 57

[2019-03-12 04:11] ro-savage commented on #1227
@bahmutov - i've run into the same issue as here and #1319.

We have a working project with typescript using jest.

Only change i made was `yarn add cypress` and now typescript fails with a bunch of errors relating to jest types. One example is:

[code]

I believe this is because Cypress is overwriting our jest types with a different version. (Although I may be wrong)

[2019-03-12 04:25] ro-savage commented on #1319
Potential fix: https://github.com/cypress-io/cypress/pull/3425

[2019-03-12 04:25] ro-savage commented on #1227
Potential fix: https://github.com/cypress-io/cypress/pull/3425

[2019-03-12 06:58] Vinod-Gulia commented on #3643
Thanks everyone for all you kind help. I've made it work by calling cy.writeFile inside onLoad event before triggering XHR request. Here's the code sample with some other updates that I've made for my other works: -

[code]

[2019-03-12 06:58] #3643 closed

[2019-03-12 08:20] maapteh commented on #2295
Thats a workaround but it will not work if your assets are needed for your app to bootstrap (Angular, React, Vue, Etc) :) And @leepowellcouk it seems from a quick glance PR #3531 is fixing it, but i don't understand why you would OS a JavaScript project written in Cofee script, less people will add fixes.

[2019-03-12 12:12] indrajitbnikam opened #3692 "Takes too long before starting the test execution"
### Current behavior:

Cypress is taking **too much time to initialize the cypress** before starting the test actual execution.
Actual execution of test takes only **~8-10 seconds**, but when I start test using CLI i.e. using
[code]
it will take around **30 seconds** before it even starts the chrome.

Currently I'm working on windows 10, I have seen many tutorials and they seemed fast on mac OS. I

[2019-03-12 13:23] bahmutov commented on #3692
I wonder if this startup time is due to transpiling and watching a lot of files for some reason

[2019-03-12 13:24] bahmutov commented on #3689
Since this is backend connection, it cannot be done from the spec.js file which executes in the browser. Use `cy.task` to execute your code, see https://on.cypress.io/task

[2019-03-12 13:24] #3689 closed

[2019-03-12 13:26] vcamposs commented on #3689
@bahmutov do you have a sample ?

[2019-03-12 13:52] bahmutov commented on #3689
Read the cy.task link documentation, there are plenty of examples

Sent from my iPhone

[2019-03-12 14:05] vcamposs commented on #3689
Oh @bahmutov  mybad =/

To register a sample with mysql:

** Include in plugin.js **
`		on('task', {
			'Connect': () => {
				var con = mysql.createConnection({
					host: "34.224.200.193",
					port: "3301",
					user: "exchange",
					password: "exchange123"
				});
				con.connect(function (err) {
					if (err) throw err;
					console.log("Connected!");
				});
				return null;
			}
		})`

[2019-03-12 14:08] skimi opened #3693 "Cypress.config not scoped to spec when running all tests in the test runner"
### Current behavior:

`Cypress.config` is not scoped when running all tests in the test runner.
<img width="434" alt="Screenshot 2019-03-12 at 14 55 10" src="https://user-images.githubusercontent.com/10855180/54205705-228f8800-44d7-11e9-9119-b957aa7b59a0.png">

But it works in cli:
<img width="712" alt="Screenshot 2019-03-12 at 14 53 43" src="https://user-images.githubusercontent.com/10855180/542

[2019-03-12 14:09] vcamposs commented on #3689
Really @bahmutov ! I got that! Tks

[2019-03-12 15:52] shakyShane opened #3696 "Does not support script type="module""
### Current behavior:

Nothing, just a blank screen

### Desired behavior:

`<script type="module" src="script.js></script>` should work as expected

### Steps to reproduce: (app code and test code)

Just have any site attempting to use `<script type="module" src="script.js></script>` as mentioned here https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

### Versions

Mac

[2019-03-12 16:26] dimitriylol commented on #488
I've faced similar issue and found the solution for Docker container [here](https://github.com/cypress-io/cypress-docker-images). If you launch `cypress run --browser chrome` in a container based on some image from the link (for example cypress/browsers:chrome69) it works like a charm, no additional configs are required. Hope it helps.

[2019-03-12 18:49] rotexhawk commented on #3419
I followed your guide and copied the scripts to my project but I am still getting the terminal message which eventually times out the build.

[2019-03-12 19:17] zts3y opened #3697 "cy.visit() on SPA redirected"
### Current behavior:

Using simply a `cy.visit()` to browse to a URL that happens to be a single page application, the page will render in the runner before quickly being redirected to a base url of `__` and the runner losing connection and reporting "Whoops, there is no test to run." In normal Chrome browser, a redirect is not observed.

### Desired behavior:

URL should not change, or if a redi

[2019-03-12 20:00] karthikamirapu opened #3698 "Cannot make the mochawesome to work"
I am having hard time to make the mochawesome work with cypress. I followed the instructions in the website and installed everything that I should but I always get this error while running the specs

TypeError: Cannot read property 'passes' of undefined
    at Spec.Base.epilogue (/Users/qa-engg/Documents/testing_tools/node_modules/mocha/lib/reporters/base.js:318:25)
    at Object.onceWrapper (even

[2019-03-12 20:47] bahmutov commented on #3698
Try using Mocha v5

Sent from my iPhone

[2019-03-12 20:52] euZebe commented on #2595
@spoldman did the issue #853 solved your problem ?
It looks like I have the same problem, having created an Angular mono-repo project with Nx ; I get
[code]
## Version
Cypress: 3.1.5

[2019-03-12 21:02] karthikamirapu commented on #3698
It works, thanks so much.

[2019-03-12 21:02] #3698 closed

[2019-03-13 02:15] carloscheddar commented on #3370
In my case adding cy commands inside those callbacks causes requests to hang.
### Code
    cy.route({
      url: `/v2/initiatives/${initiativeId}/exports`,
      method: 'GET',
      response: exportsData,
      onRequest: () => {
        cy.get('#active-view ul li')
          .should('have.length', 4)
          .contains('button', 'Pending');
      },
      onResponse: () => {
        cy.get('#ac

[2019-03-13 03:03] yosbell commented on #2730
I can see the response, but responseBody is a Blob. My question is how get the responseBody as a JSON

[2019-03-13 05:09] streamnsight opened #3699 "Fails with Chrome 73"
### Current behavior:

before update to Chrome 73, everything was running fine. Since update Cypress fails, timeout, does not connect to Chrome it seems

### Steps to reproduce: (app code and test code)

just update Chrome and relaunch.

### Versions

Cypress 3.1.5
Chrome 73
Linux, Mac OS X

[2019-03-13 06:20] jennifer-shehane commented on #3699
Hey @streamnsight, could you provide an example of the test code you are running when you experience this?

[2019-03-13 06:48] #3319 closed

[2019-03-13 06:56] jennifer-shehane commented on #2859
This was released in [3.1.5](https://on.cypress.io/changelog#3-1-5).

[2019-03-13 06:58] jennifer-shehane commented on #2684
This was released in [3.1.5](https://on.cypress.io/changelog#3-1-5)

[2019-03-13 07:46] indrajitbnikam commented on #3692
@bahmutov is it because I configured it, so that I can use typescript? and which files are you talking about? I merely added any extra files apart from the name.spec.ts in integration folder

[2019-03-13 07:47] webdevbe commented on #3667
Hi @flotwig and @jennifer-shehane ,

The registry keys were now deleted but the issue is still persisting. For now I'll use the Electron browser indeed. I saw some integrations from Cypress coming up regarding throwing a warning when working behind a corporate proxy. Maybe that shows some more valuable information.

Thanks for the support, I'll close the ticket for now.

[2019-03-13 07:47] #3667 closed

[2019-03-13 09:54] Kjir commented on #751
I reproduced it easily in my project by just having a google map on the page: it will create an `iframe` and the previously existing `cy.scrollTo(0, 1);` suddenly breaks.
We worked around it by not displaying the map on the e2e tests, not ideal, but does the job...

[2019-03-13 10:08] Kjir commented on #751
Here is a simple reproduction script:

[code]

[2019-03-13 10:10] jennifer-shehane commented on #1227
The code from https://github.com/cypress-io/cypress/pull/3425 is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-03-13 10:10] #1227 closed

[2019-03-13 11:05] carrieyummy opened #3701 "Test case hangs on on CIs"
### Current behavior:
I must use `cypress run --browser chrome` and chrome to run cases, but test case will hang up every time in TeamCity or Jenkins.

I've tried it in cypress examples and my own test cases.
they stop as the pictures below shows:

cypress examples:

![image](https://user-images.githubusercontent.com/39080899/54272554-e6cfed80-45be-11e9-9d15-8dc7c1ed2531.png)

my test cases, and i

[2019-03-13 14:38] MosheAtOwal commented on #2492
Related: https://github.com/sinonjs/sinon/issues/174

[2019-03-13 14:53] flotwig commented on #716
Also, in 3.1.5, there are copies of ffmpeg for every target architecture in the Windows download adding about 150mb:

![image](https://user-images.githubusercontent.com/1151760/54288306-a439f100-457d-11e9-97c8-2c1bb22ffc90.png)

[2019-03-13 15:12] carloscheddar commented on #1906
I found that having the dev tools open allows chrome to catch the `out-of-memory` error which causes the browser to pause(debugger state) instead of showing `aw snap`. If you wait a bit for memory to be available then you can click on the play button and the tests will continue. It's not ideal but at least I can finish testing the file.

[2019-03-13 15:18] Pidz-b commented on #3427
What can be the issue is the `api/todos`.
I had a similar issue where I waited for `/oauth/v2/token/`, apparently the call was to `/oauth/v2/token`.
The slashes before and after seem to matter.
Check if your call is to `api/todos`.

I guess not, as the path always starts with a slash right?

[2019-03-13 15:38] xviuda-rhm commented on #2549
So i found out what triggered this issue on our side. When the app moves from page to page its load external javascript components. Because its our test env the developers created a XXX parameter infront of our hotjar.js. So the app is looking for xxxtestxxxhotjar.js. This gives a cannot find 404 in the console, but this also hinders cypress with the unload event.

So for me i fixed it by searchin

[2019-03-13 16:25] jennifer-shehane commented on #3691
Hey @minams2, can you provide the code for the "scripts" and explain what they're doing. Feel free to remove sensitive code or provide psuedo code. We won't be able to figure out why it's hanging without being able to reproduce the hanging also. Thanks!

[2019-03-13 16:38] nils235 commented on #2374
Is there an appropriate solution to this issue?

[2019-03-13 16:59] zsualk opened #3702 "login"
### Is this a Feature or Bug?

### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-13 16:59] #3702 closed

[2019-03-13 17:24] Rup1 opened #9722 "Include CSS styles test example in documentation"
Thank you for taking time to open a new issue. Please answer a few questions to help us fix it faster. You can delete text that is irrelevant to the issue.

## Is this a bug report or a feature request? Feature Request

Reading through the documentation I found no info on how to include component's CSS in the unit test so as to test various states of the component (clicking `done` crosses out the

[2019-03-13 18:36] streamnsight commented on #3699
Last time we had an issue, it was Cypress not connecting to Chrome at all.

This time, it seems linked to our upload command.

The code goes like this to simulate a browser event:

[code]

it then waits for the POST api call to happen (registered as an alias) and now it just waits, but the POST never happens, so this code doesn't work anymore.

[2019-03-13 18:43] streamnsight commented on #3699
cy.get(selector).then(subject =>
		cy
			.fixture(fileName, 'base64')
			.then(Cypress.Blob.base64StringToBlob)
			.then(blob => {
				const el = subject[0];
				const testFile = new File([blob], fileName, {
					type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
				});
				const dataTransfer = new DataTransfer();
				dataTransfer.items.add(testFile);
				el.files = dataTr

[2019-03-13 18:43] #3699 closed

[2019-03-13 19:17] RadhikaVytla commented on #390
How to run login spec before create user spec?

[2019-03-13 19:32] viraxslot opened #3703 "Runner unexpectedly change viewport when running on Windows server"
### Current behavior:

Hi, I've run my tests on server with Win10 and use default viewport.

The problem is the runner unexpectedly change viewport, our app change orientation to the mobile version and my tests fail, because of different components and locators between web/mobile versions.

I don't understand why, because locally/on Ubuntu server everything is fine.

I'll use Ubuntu then, but I'm

[2019-03-13 20:37] abramenal commented on #170
@cb109 have you tried it with https://www.npmjs.com/package/cypress-file-upload ?

[2019-03-13 22:20] MarkPieszak commented on #2595
This is still happening on Windows within an Nx environment with cypress e2e setup as well.

`"supportFile": "../../dist/out-tsc/apps/web-example-e2e/src/support",` will work on Mac, but not windows.

[2019-03-13 22:38] silbinarywolf opened #3704 "Cypress takes 60+ seconds to build each unit test and execute"
### Current behavior:
When using `cypress run` on CI, it builds each test in isolation. Since we're using Cypress for [unit testing](https://github.com/silbinarywolf/cypress-aurelia-unit-test), this means it takes about 60 seconds to build each test and execute. Each test we add increases the time it takes for Cypress to run on our CI machines, which is less than ideal.

### Desired behavior:
Buil

[2019-03-14 03:33] maple-leaf commented on #495
we recently try doing visual regression with cypress + cypress-image-snapshot, But there are one main issue seems hard to resolve: the screenshot persist is not guaranteed caused by browser size not in control.
1.  if you run test with `cy:open`, then the window size may be resized by you, resized by opening devtool, or run test on different screen you are using.
2. let's say you try your best to

[2019-03-14 03:46] bluehenry commented on #2034
setResolution() works for me. Windows 10 + Chrome.
        cy.setResolution([2560, 1440]);

[2019-03-14 03:51] Vindexus commented on #1297
I am having the same issue as well.

[2019-03-14 04:04] anatoliyarkhipov commented on #495
@maple-leaf Why the size is different? Did you try to define it explicitly via [`cy.viewport()`](https://docs.cypress.io/api/commands/viewport.html)? 🤔

[2019-03-14 04:35] jennifer-shehane commented on #3655
Look at this issue. It is a duplicate of this, we are currently working on Proxy fixes, but until then, this may not work for now. https://github.com/cypress-io/cypress/issues/1470

[2019-03-14 04:35] #3655 closed

[2019-03-14 05:05] lukeapage commented on #2034
@bluehenry is that a custom command?

[2019-03-14 05:27] jennifer-shehane commented on #3701
Hey @carrieyummy, can you run the test cases with the [DEBUG logs](https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs) and share the logs around where the runner freezes?

[2019-03-14 05:38] jennifer-shehane commented on #3704
Hey @silbinarywolf, I'm not able to reproduce this 60+ sec build/execution time.

I ran the tests in the library linked using `cypress run` in my local terminal and they all ran within 1 second.

<img width="821" alt="Screen Shot 2019-03-14 at 12 07 36 PM" src="https://user-images.githubusercontent.com/1271364/54333682-cf8e1000-4651-11e9-9844-7b4d743c900f.png">

Are you able to recreate this behav

[2019-03-14 05:39] ashvaibhav commented on #2700
@jennifer-shehane - why did we close this issue?
It does seem like a memory issue to me - though I am on Cypress v2.1.0.

[2019-03-14 05:41] jennifer-shehane commented on #3703
Can you provide the test code where the viewport changes? Does it always happen during a `cy.screenshot()`?

[2019-03-14 06:06] maple-leaf commented on #495
@anatoliyarkhipov Not the viewport problem, the viewport is being set at `cypress.json` and nerver changed.
when you take snapshot, the real window size matter.

First we should stick to one concept, when take screenshot, we only take the real part we care, which is red area in image below.
![image](https://user-images.githubusercontent.com/3980995/54334223-3d413880-4660-11e9-8650-1a7493e42da5.png

[2019-03-14 06:07] carrieyummy commented on #3701
Hi @jennifer-shehane ,
I've tried this:
![image](https://user-images.githubusercontent.com/39080899/54334761-eccada80-4661-11e9-8c92-130b7fd84467.png)
part of Jenkinsfile:
`steps{
        echo "====Test Begin===="
        powershell 'set DEBUG=cypress:*'
        powershell 'npx cypress run --browser chrome'
      }`
but there are no debug logs in command line......
![image](https://user-images.git

[2019-03-14 06:12] PiyushTalwalkar opened #3706 "Getting error after using this command on windows 7 32 bit : "npm run cypress:open""
### Current behavior:

### Desired behavior:

### Steps to reproduce: (app code and test code)

### Versions

[2019-03-14 06:16] jennifer-shehane commented on #3697
I am able to recreate this. I notice that a location popup comes up directly before it go to the 'Whoops' page - I don't think that is related, but there is an issue open to disable the dialog here: https://github.com/cypress-io/cypress/issues/2671

<img width="474" alt="Screen Shot 2019-03-14 at 12 31 44 PM" src="https://user-images.githubusercontent.com/1271364/54334714-36f98f00-4655-11e9-8e91-8

[2019-03-14 06:16] PiyushTalwalkar commented on #3706
Cypress V: 3.1.5
If you navigate to to root folder, try to execute Cypress.exe it gives error as check the version may not be compatible with windows 7 32 bit

[2019-03-14 06:16] jennifer-shehane commented on #3697
Related:
- https://github.com/cypress-io/cypress/issues/3642
- https://github.com/cypress-io/cypress/issues/3077

[2019-03-14 06:40] maple-leaf commented on #495
Find solution, you can control chrome or electron window size from `plugin/index.js`

[code]

[2019-03-14 07:04] bluehenry commented on #2034
the code looks like:
context('demo', () => {
    beforeEach(() => {
        cy.setResolution([2560, 1440]);
        cy.visit('https://google.com');
        cy.wait(8000);
    })

    it('demo', function() {
     cy.matchImageSnapshot('dashboard');
    })
});

[2019-03-14 08:09] lukeapage commented on #2102
On windows I've had some success running this in headless mode before cypress:

https://gallery.technet.microsoft.com/scriptcenter/2a631d72-206d-4036-a3f2-2e150f297515

[2019-03-14 08:12] jennifer-shehane commented on #3706
@PiyushTalwalkar Can you provide a screenshot of the error or the exact text of the error please? Thanks!

[2019-03-14 08:13] kwoxer commented on #2894
Got the same error. But got it running with the following commands.
1. removing cypress again via "sudo rm -r *"
2. npm install cypress --save-dev
3. ./node_modules/cypress/bin/cypress run

[2019-03-14 08:27] atikenny commented on #3625
Forgot to post the workaround if anyone is running into the same thing:
[code]
This needs to be executed after you took over the clock and the window of the page under test is loaded.

[2019-03-14 08:28] PiyushTalwalkar commented on #3706
Microsoft Windows [Version 6.1.7600]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

D:\Cypress_Automation>.\node_modules\.bin\cypress open
It looks like this is your first time using Cypress: 3.1.5

 ×  Verifying Cypress can run C:\Users\PT\AppData\Local\Cypress\Cache\3.1.5\Cypress
   → Cypress Version: 3.1.5
Cypress failed to start.

This is usually caused by a missing library o

[2019-03-14 08:30] PiyushTalwalkar commented on #3706
also check this screenshot
![image](https://user-images.githubusercontent.com/48544309/54342041-7928cd80-4661-11e9-8416-17ba17a12375.png)

[2019-03-14 08:37] dwelle commented on #3692
On my win7 machine (everything running from SSD), from `npx cypress run` to first display of `(Run starting)` it takes:

- ~9s for `cypress-test-tiny` (1 empty spec)
- ~13s for a project of 18 specs of moderate sizes each

[2019-03-14 08:40] viraxslot commented on #3703
@jennifer-shehane
I've changed names, but my code looks like:
[code]
params - just get parameters generated.
There is no cy.screenshot() statement in my code, I meant the default screenshots were made in lower resolution after the test run.

[2019-03-14 09:23] jennifer-shehane commented on #3706
This issue is a duplicate of https://github.com/cypress-io/cypress/issues/787

[2019-03-14 09:23] #3706 closed

[2019-03-14 09:25] jennifer-shehane commented on #3693
Yes, the scope of this work falls under this larger issue about handling running 'All Specs' https://github.com/cypress-io/cypress/issues/1586

[2019-03-14 09:25] #3693 closed

[2019-03-14 09:30] #2416 closed

[2019-03-14 09:32] abramenal commented on #669
https://www.npmjs.com/package/cypress-file-upload

[2019-03-14 09:38] jennifer-shehane commented on #874
Closing as stale. No new comments in over a year.

[2019-03-14 09:38] #874 closed

[2019-03-14 09:40] jennifer-shehane commented on #457
Is this still an issue? Please close if resolved.

[2019-03-14 09:40] #608 closed

[2019-03-14 09:44] jennifer-shehane commented on #751
Thanks @Kjir, I can recreate this again.

<img width="497" alt="Screen Shot 2019-03-14 at 4 12 54 PM" src="https://user-images.githubusercontent.com/1271364/54346792-1856c080-4674-11e9-8517-81e0d59f0b95.png">
It may be trying to scroll all windows within the page, so errors when iframes. This is a complete guess though.

[2019-03-14 09:48] jennifer-shehane commented on #1058
Closing as stale. No response in over a year. Please comment if you are still experiencing this issue.

[2019-03-14 09:48] #1058 closed

[2019-03-14 09:49] #1179 closed

[2019-03-14 09:58] jennifer-shehane commented on #1202
Closing as stale. Please comment if you are still having this issue and we will consider reopening.

[2019-03-14 09:58] #1202 closed

[2019-03-14 10:10] PiyushTalwalkar commented on #787
Can I get some help on above issue

[2019-03-14 10:39] fr-ser commented on #787
Just a quick heads up. I don't even use Windows anymore and cannot give any input here. Maybe the other posters have the same issue and can help....

[2019-03-14 10:49] Elshaikh commented on #2681
Hii @jennifer-shehane
Need your help and advice here plz , how to interact with slider with 2 handle ,
HTML
[code]
cypress step
[code]

[2019-03-14 13:15] zts3y commented on #3697
Thanks @jennifer-shehane. I don't think the geolocation request is related as I've seen the same behavior on other applications without that feature. I'm working to get more information regarding the redirect now.

[2019-03-14 14:00] timelights commented on #787
https://github.com/cypress-io/cypress/issues/1554#issuecomment-471166439

[2019-03-14 14:19] flotwig opened #3708 "Add HTTP/2 Support in Proxy Layer"
The proxy layer currently doesn't really support HTTP/2. The only case in which a user can take advantage of HTTP/2 is if they are making a non-intercepted request through the `https-proxy`, and when #687 lands, all requests will be intercepted. When a request is intercepted, it can't be upgraded to HTTP/2.

Take this page, which loads 1000 images: https://flotwig.github.io/cypress-fetch-page/inde

[2019-03-14 14:39] flotwig commented on #3192
#3531, when released, will add a couple of enhancements that speed up the proxy layer:

1. Enabled [`forever-agent`](https://github.com/request/forever-agent) in the `request` library, which improves pooling of all requests that go through the Cypress proxy.

2. Disabled [Nagle's algorithm](https://en.wikipedia.org/wiki/Nagle%27s_algorithm) on the socket between Cypress and Chrome when going throu

[2019-03-14 14:43] bahmutov commented on #3192
👏 Zach

On Thu, Mar 14, 2019 at 10:39 AM Zach Bloomquist <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter.com/@bahmutov>
https://glebbahmutov.com/ https://glebbahmutov.com/blog
https://github.com/bahmutov

[2019-03-14 15:04] benpolinsky commented on #3525
Ah, I'll try to help out here if I can. Running into a similar issue (may be the same) intermittently. I'll try to set up a minimal reproduction, but downgrading to 3.1.0 does indeed work.

Both 3.1.1 and 3.1.5 were displaying the same error.

[2019-03-14 15:05] chrisbreiding commented on #3276
Cypress tries to make efforts to prevent race conditions, but it can only really know about and control its own DOM (the reporter and app iframe). The app-under-test changing during a screenshot is nearly impossible to account for. Therefore, it's best to leave it up to the test code itself to get the app-under-test into a known, predictable state before a screenshot.

In the example above, there'

[2019-03-14 15:22] flotwig commented on #3192
Gotta credit @brian-mann for this one, he eagle-eyed the `setNoDelay` option in the Node.js docs that we were previously unaware of

[2019-03-14 15:24] bahmutov commented on #3192
👍 Brian

Sent from my iPhone

[2019-03-14 15:29] ErikSeyferth commented on #95
Please provide us with an update regarding fetch.

[2019-03-14 15:41] renelux commented on #3276
I agree that the above example is actually incorrect and a poor attempt of making this reproducible. After we attempted the fix we actually realized that the result and our investigation was incorrect.

When we are running our test suite (which heavily relies on image-diffing) on the CI, we can actually see that the runner sometimes is still visible, even though it should be made hidden by Cypress

[2019-03-14 17:23] hinfaits commented on #3256
Hi @jennifer-shehane, would you be able to provide any timeline around this issue? We would greatly appreciate it. Thanks.

[2019-03-14 17:28] jamesarosen opened #8724 "Feature-Request: support babel.config.js"
### Current behavior:

@cypress/webpack-preprocessor supports Babel out of the box with a [default configuration](https://github.com/cypress-io/cypress-webpack-preprocessor/blob/c240d71f2b89d18a05aa8b6f0e67cb91d2722d05/index.js#L19-L21):

[code]

### Desired behavior:

babel@^7.0.0 uses the `babel.config.js` file to configure its presets and plugins. Other libraries like [babel-jest](https://www.n

[2019-03-14 17:47] Bender55 commented on #2555
We just upgraded to from 3.0.1 to 3.1.5 and tests that could clear and type into a "time" input box no longer do so.   What information do you need to help you?  screen movie? code?

[2019-03-14 19:08] indrajitbnikam commented on #3692
Okay

[2019-03-14 19:11] dramosv90 opened #3709 "Set the console color set"
I would like to be able to configure the colors with which the data of the tests are shown in the console, to at least modify the ones that represent the duration of each spec. Since the color **red** gives the wrong idea and many times alarms jump unintentionally

### Versions
Cypress: 3.1.4
OS: WIndows 10 Home 64bits, Ubuntu 18.04.1 LTS
NodeJS: 10.15.1
npm: 6.4.1

[2019-03-14 20:08] dylanburati commented on #300
@darenyong I had the same issue, where my test did not work as expected but the video from `cypress run` did not give enough information to fix it. I ended up running the CI job locally using [circleci-cli](https://github.com/CircleCI-Public/circleci-cli), and adding steps so that I could create an SSH session with X forwarding. Then, I manually ran `cypress open` and used the browser's developmen

[2019-03-14 21:54] chirag-autodesk opened #3710 "Uncaught AssertionError: Env not set, aborting run"
Everytime i try to run my cypress test i am getting this error:

[code]

[2019-03-14 23:18] mikhaildzarasovvineti commented on #2113
I do have the the problem, its not waiting even a second and failing. Waiting for api response wont help if you have a long list of data to render. Api got 200 response but react takes time to render huge amount of data from response. Any suggestions how to wait until element is presented?

[2019-03-14 23:30] leogoesger commented on #1556
The problem is with how I placed the images for docker. The cypress image needs to be first

[2019-03-15 03:35] mehdikazi commented on #2897
Hey @jennifer-shehane do you have any other ideas to try? I am having a similar issue where my tests pass locally but not in my CI environment (drone). I'm testing my sites editor which allows special formatting through hotkeys. For example pressing meta+alt+3 should make a header-three. But in the CI environment a "3" is typed into the editor instead of the key combination being pressed.

I tried

[2019-03-15 03:46] silbinarywolf commented on #3704
Sorry if I wasn't clear. I was linking to the library we're using for unit testing our code not linking to a reproducible repo.

This is issue is occurring in our private codebase which is quite bulky and monolithic, so simply importing 1 class/component to test will import a large chunk of the project.

Am I incorrect in my assumption that Cypress will rebuild each test file separately via Webpac

[2019-03-15 04:00] krishvv commented on #1470
Where is server/lib/gui/events located . I am also facing the same issue . Not able to locate server/lib/gui/events

[2019-03-15 04:03] krishvv commented on #3655
Hi Jennifer . Thanks . I am trying to locate server/lib/events file and unable to find it.
I have installed cypress using the command npm install cypress --save-dev

[2019-03-15 04:32] #2033 closed

[2019-03-15 04:37] #1531 closed

[2019-03-15 04:37] #3241 closed

[2019-03-15 04:42] #2298 closed

[2019-03-15 04:42] #3318 closed

[2019-03-15 04:47] #1302 closed

[2019-03-15 04:50] #3673 closed

[2019-03-15 04:50] #1239 closed

[2019-03-15 04:57] jennifer-shehane commented on #2033
The code for this is done, but this has yet to be released. We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-03-15 05:01] brian-mann opened #3712 "Restrict listening to only the loopback adapter"
Cypress runs locally and it being responsible for launching the browser means it's not necessary mount it's internal servers to anything other than loopback.

[2019-03-15 05:01] #3712 closed

[2019-03-15 05:04] #1251 closed

[2019-03-15 05:25] jennifer-shehane commented on #2494
The code for this is done in [cypress-io/cypress#3674](https://github.com/cypress-io/cypress/pull/3674), but has yet to be released.
We'll update this issue and reference the [changelog](https://on.cypress.io/changelog) when it's released.

[2019-03-15 07:39] bjowes commented on #3207
Please reconsider supporting Edge!

IE11 is clearly the official browser within most large corporations, but as they are migrating to Windows 10 many are trying to replace IE11 with Edge as the official browser. Any E2E tools that have ambitions to be widely used in this market segment will have to support the major official browsers. With the current rate of progress, I am concerned that by the t

[2019-03-15 08:54] bierik commented on #1773
@jennifer-shehane Here

you mentioned how to wait for a specific XHR request. Is this only working for network stubs using `cy.route` as documented here: https://docs.cypress.io/api/commands/wait.html#Alias or is there a way to wait for actual network requests.
Because my problem is that I have to wait for a specific XHR request to finish before reloading the page.

[2019-03-15 09:08] marinav commented on #3077
Hi,

I had the same problem and it took me a long time to understand why. This is indeed framebusting, and it's not easy to find what's wrong. Regarding my app, I commented on bits of code and I finally found it came from the react-gtm-module package I used...good luck !

[2019-03-15 09:16] testquantilope opened #3713 "Running test cases in parallel sometimes runs files multiple times"
### Current behavior:

We are running multiple test cases on Gitlab CI. We have 15 machines for our test cases.

Sometimes cypress seems to start different files multiple files. Usually I have 17 specs in the first group:

![image](https://user-images.githubusercontent.com/35334883/54420283-df692b00-4709-11e9-968f-26487feb89ff.png)

When running the exact same pipeline, suddenly much more specs ar

[2019-03-15 09:31] sajjadh commented on #1280
I am still experiencing the same issue!
Logs:-

5316 verbose stack Error: cypress@3.1.5 postinstall: `node index.js --exec install`
5316 verbose stack Exit status 1
5316 verbose stack     at EventEmitter.<anonymous> (C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\index.js:301:16)
5316 verbose stack     at emitTwo (events.js:126:13)
5316 verbose stack     at EventEmitter.emit (

[2019-03-15 09:39] Henrik-Buchholz commented on #2366
We regularly encountered out-of-memory issues with Cypress too - and found a solution in our case: The deeper problem should be fixed in Cypress itself, but we also found a user workaround.

**Problem:**
When running Cypress test in headed mode, we regularly got crashes with out of memory.
numTestsKeptInMemory doesn't help, because a single test alone is enough to crash it.

**When did it happen:*

[2019-03-15 09:50] saudixit opened #3714 "OAuth2.0 authorization code workflow not working because of multi super domain changes"
### Current behavior:
-OAuth2.0 authorization code workflow not working because of multi super domain changes

### Desired behavior:
-Login workflow should work.

### Versions
Cypress  :3.1.5

[2019-03-15 09:51] jennifer-shehane opened #3715 "If video failed uploading, do not send video.url"
@jennifer-shehane commented on [Thu Jun 14 2018](https://github.com/cypress-io/cypress-api/issues/624)

Within run:

[code]

Yet, the video `url` is sent with an aws link still.

https://dashboard.cypress.io/#/projects/m7bnkc/runs/4/specs

---

@brian-mann commented on [Thu Jun 14 2018](https://github.com/cypress-io/cypress-api/issues/624#issuecomment-397324414)

The API doesn't actually know whet

[2019-03-15 09:52] juangm commented on #170
It seems it is not possible to use blob for uploading files in chrome 73 ([changelog](https://chromereleases.googleblog.com/2019/03/stable-channel-update-for-desktop_12.html) At least using the solution provided in the comments.

[2019-03-15 09:54] MatteoGioioso commented on #771
My domain is `https://env.name.com`. Cypress will start normally but then it will just redirect to the page simply stop.
Anybody is having the same experience? None of the workaround above is working for me.

[2019-03-15 10:33] lukeapage commented on #2938
@jennifer-shehane How is this awaiting information when you have shown reproductions in cypress' own repos? https://github.com/cypress-io/cypress/issues/2938#issuecomment-448135595
As a paying subscriber is it possible to get any extra help in fixing this issue?
I'm making a feature to investigate and fix this in cypress, but its pretty difficult.. It would probably already had a resolution if som

[2019-03-15 10:33] #2927 closed

[2019-03-15 11:19] fredrikolovsson commented on #3120
Thanks @tnrich, I think this is clean enough. We do the same thing with putting the redux `store` on `window` for Cypress, so we can dispatch actions and inspect the state (in the few cases where we need it).

[2019-03-15 11:22] Manishku99251 commented on #2578
@Akxe I am still unable to make it work could you please give an example or something. my requirement is like to match something with the url? eg. cy.url().should('match','/adfs/ls/')

[2019-03-15 12:02] mxrguspxrt commented on #944
Please fix. This makes life really hard.

[2019-03-15 12:48] mxrguspxrt opened #3716 "uncaught:exception Is not working, if domain differs from baseUrl"
I have defined

[code]

that works fine, if test runs on same domain as cypress.json baseUrl, but it does not work, when test runs on other domain.

[code]

[2019-03-15 13:21] mxrguspxrt commented on #3716
Problem does not appear after updating Cypress to 3.2.0

[2019-03-15 13:21] #3716 closed

[2019-03-15 13:21] cmsax commented on #794
There's no need to build adapter, because `Cypress` is a test runner for `Javascript` based projects with `Chrome` or `Electron` as backend browser environment. `Cypress` itself just makes it easy to launch a browser and encapsulate browsers' API for you to automatically test projects. `Chrome` | `Edge` | `Firefox` driver is enough.

[2019-03-15 14:07] fr0 commented on #3661
You should also be able to type into any element that has a `tabindex` attribute.